<template>
  <v-card flat>
    <isttoolbar title="Parameter Configuration" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer />
      <v-btn min-width="100" @click="save" class="mr-2" outlined>Save </v-btn>
      <v-btn min-width="100" @click="back" outlined>Cancel </v-btn>
    </isttoolbar>
    <isttoolbar title="New Parameter Configuration" class="mb-2" dark color="primary"></isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Group Param
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            hide-details="auto"
            label="Group Param"
            ref="groupParam"
            name="groupParam"
            v-model="param.groupParam"
            class="ma-0"
            solo
            :rules="[rules.required]"
            @keydown="codeKeydown($event)"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Parameter
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            hide-details="auto"
            label="Parameter"
            ref="parameter"
            name="parameter"
            v-model="param.parameter"
            class="ma-0"
            solo
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Value
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-textarea
            flat
            outlined
            dense
            hide-details="auto"
            label="Value"
            ref="value"
            name="value"
            v-model="param.value"
            class="ma-0"
            solo
            :error=false
            :rules="[rules.required]"
          ></v-textarea>
        </v-col>
      </v-row>
      <!-- <v-row align="center" class="ml-2">
        <v-col cols="2">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8">
          <v-switch
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>-->
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break:inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break:inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="toList"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    param: {
      recordStatus: false,
      groupParam: "",
      parameter: "",
      value: "",
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
  }),
  computed: {
    form() {
      return {
        // recordStatus: this.param.recordStatus,
        groupParam: this.param.groupParam,
        parameter: this.param.parameter,
        value: this.param.value,
      };
    },
  },
  watch: {
    "param.groupParam": function (val) {
     this.param.groupParam = val.toUpperCase().replace(/\d/g, '');
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      this.$router.replace({ name: "parameter-configuration" });
    },
    toList() {
      this.$router.replace({ name: "parameter-configuration" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f] && f != "recordStatus") {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
      this.dialog.success = false;
      this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        parameter: {
          value: this.param.value,
          code: this.param.parameter,
          module: this.param.groupParam,
          isActive: 1,
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/config/api/master-parameter/add", param);
      if (resp.data.code == 0) {
        // this.dialog.success = true;
        this.dialog = { show: false, success: false, error: false, errorMessage: "" };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.toList();
      } else {
        this.dialog.error = true;
        this.dialog.errorMessage =
          resp.data.errorMessage.length > 0
            ? resp.data.errorMessage.toUpperCase()
            : resp.data.errordescription.toUpperCase();
      }
    },
    codeKeydown(e) {
      if (/^\d/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>