<template>
  <v-card flat>
    <isttoolbar
      title="Adjuster"
      dark
      color="secondary"
      icon="mdi-folder-account-outline"
    >
      <v-spacer />
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            min-height="40"
            @click="disableForm = false"
            text
            v-show="checkAuthorities('adjuster-edit')"
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn v-else @click="save" outlined class="mx-1" min-width="100px">
        Save
      </v-btn>
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="toList" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn v-else @click="goSuccess" outlined class="mx-1" min-width="100px">
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View Adjuster' : 'Edit Adjuster'"
      class="mb-2"
      dark
      color="primary"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Code
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Code"
            ref="code"
            v-model="param.code"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
            :disabled="codeDisable"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Name
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Name"
            ref="name"
            v-model="param.name"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Address </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-textarea
            hide-details="auto"
            v-model="param.address"
            solo
            flat
            outlined
            dense
            ref="address"
            name="input-7-4"
            label="Address"
            :rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Village </span>
        </v-col>
        <v-col cols="3" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.village"
            label="Village"
            ref="village"
            :search-input.sync="search.village.input"
            @keyup="addressSearch(search.village)"
            :items="search.village.items"
            item-value="id"
            item-text="name"
            :loading="search.village.loading"
            v-on:change="addressChange(search.village)"
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  District {{ item.district.name }} -
                  {{ item.district.regency.name }} Regency -
                  {{ item.district.regency.province.name }}
                </p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
        <v-col cols="1" class="pa-1" style="text-align: center;">
          <span class="title"> Zip Code </span>
        </v-col>
        <v-col cols="1" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Zip"
            ref="zip"
            v-model="param.zip"
            solo
            flat
            outlined
            dense
            class="ma-0"
            v-on:keyup="postalCodeChange()"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> District </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.district"
            label="District"
            ref="district"
            :search-input.sync="search.district.input"
            @keyup="addressSearch(search.district)"
            :items="search.district.items"
            item-value="id"
            item-text="name"
            :loading="search.district.loading"
            v-on:change="addressChange(search.district)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  {{ item.regency.name }} Regency -
                  {{ item.regency.province.name }}
                </p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> City/Regency </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.city"
            label="City"
            ref="city"
            :search-input.sync="search.city.input"
            @keyup="addressSearch(search.city)"
            :items="search.city.items"
            item-value="id"
            item-text="name"
            :loading="search.city.loading"
            v-on:change="addressChange(search.city)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">{{ item.province.name }}</p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Province </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.province"
            label="Province"
            ref="province"
            :search-input.sync="search.province.input"
            @keyup="addressSearch(search.province)"
            :items="search.province.items"
            item-value="id"
            item-text="name"
            :loading="search.province.loading"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          ></v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Phone No 1 </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-textarea
            hide-details="auto"
            v-model="param.telephoneNo"
            solo
            flat
            outlined
            dense
            ref="telephoneNo"
            name="input-7-4"
            label="Phone No 1"
            :rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Phone No 2 </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-textarea
            hide-details="auto"
            v-model="param.telephoneSecondNo"
            solo
            flat
            outlined
            dense
            ref="telephoneSecondNo"
            name="input-7-4"
            label="Phone No 2"
            :rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-switch
            ref="status"
            name="status"
            color="success"
            v-model="param.status"
            inset
            dense
            hide-details="auto"
            class="mt-0"
            :label="`${param.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-2" v-show="disableForm">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? goSuccess() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    param: {
      code: "",
      name: "",
      address: "",
      province: "",
      city: "",
      district: "",
      village: "",
      zip: "",
      status: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
      telephoneExt: "",
      telephoneNo: "",
      telephoneSecondExt: "",
      telephoneSecondNo: "",
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    codeDisable: false,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url: "/config/api/master-location/village?isActive.equals=1&name.equals=",
        loading: false,
        request: null,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url: "/config/api/master-location/district?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url: "/config/api/master-location/regency?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url: "/config/api/master-location/provinces?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
    },
    disableForm: false,
    overlay: false,
  }),
  computed: {
    form() {
      return {
        code: this.param.code,
        name: this.param.name,
        // address: this.param.address,
        // province: this.param.province,
        // city: this.param.city,
        // district: this.param.district,
        // village: this.param.village,
        // zip: this.param.zip,
        // status: this.param.status
      };
    },
  },
  async created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    this.getById()
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    addressChange(search) {
      if (typeof this.param[search.name] == "object" && this.param[search.name]) {
        search.loading = false;
        if (search.name == "village") {
          this.param.zip = this.param.village.postalCode;
          this.param.district = this.param.village.district.name;
          this.param.city = this.param.village.district.regency.name;
          this.param.province =
            this.param.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.param.city = this.param.district.regency.name;
          this.param.province = this.param.district.regency.province.name;
        } else if (search.name == "city") {
          this.param.province = this.param.city.province.name;
        }
      }
    },

    postalCodeChange() {
      if (this.timerSearchPostalCode) {
        clearTimeout(this.timerSearchPostalCode)
        this.timerSearchPostalCode = null
      }
      if (this.param.zip != "" && this.param.zip.length >= 5) {
        this.timerSearchPostalCode = setTimeout(() => {
          // this.search.village.items = []
          this.search.village.loading = true
          API.get("/config/api/master-location/village?postalCode.equals=" + this.param.zip, null)
            .then((resp) => {
              this.search.village.loading = false;
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.search.village.items = resp.data.data;
              } else {
                this.search.village.items = [];
              }
              this.$refs.village.focus()
              this.$refs.village.activateMenu()
              this.search.village.loading = false;
            }).catch((e) => {
              console.log("error", e);
              this.search.village.loading = false;
            });
        }, 800);
      }
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.disableForm = true;
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "adjuster-list", query: {back: true}, });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f] && f != "status") this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doEdit();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doEdit() {
      let paramJSON = {
        accountAdjuster: {
          id: parseInt(this.param.id),
          code: this.param.code,
          name: this.param.name,
          address: this.param.address,
          zipcode: this.param.zip,
          telephoneExt: this.param.telephoneNo,
          telephoneNo: this.param.telephoneNo,
          telephoneSecondExt: this.param.telephoneSecondNo,
          telephoneSecondNo: this.param.telephoneSecondNo,
          village:
            typeof this.param.village == "object" && this.param.village
              ? this.param.village.name
              : this.param.village,
          district:
            typeof this.param.district == "object" && this.param.district
              ? this.param.district.name
              : this.param.district,
          city:
            typeof this.param.city == "object" && this.param.city
              ? this.param.city.name
              : this.param.city,
          province:
            typeof this.param.province == "object" && this.param.province
              ? this.param.province.name
              : this.param.province,
          isActive: this.param.status ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/clients/api/account/adjuster/update", param);
      if (resp.data.code == 0) {
        // this.dialog.success = true;
        this.dialog = { show: false, success: false, error: false, errorMessage: "" };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.goSuccess();
      } else {
        this.dialog.error = true;
        this.dialog.errorMessage =
          resp.data.errorMessage.length > 0
            ? resp.data.errorMessage.toUpperCase()
            : resp.data.errordescription.toUpperCase();
      }
    },
    addressSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      }).catch((e) => {
        console.log("error", e);
        search.loading = false;
      });
    },
    async getById() {
      this.overlay = true;
      if (this.$route.query.id) {
        this.param.id = this.$route.query.id;

        await API.get("/clients/api/account/adjuster/" + this.param.id).then(
          (resp) => {
            let dataResp = resp.data.data;
            this.param.code = dataResp.code;
            this.param.name = dataResp.name;
            this.param.address = dataResp.address;
            this.param.zip = dataResp.zipcode;
            this.param.province = dataResp.province;
            this.param.city = dataResp.city;
            this.param.district = dataResp.district;
            this.param.village = dataResp.village;
            this.param.status = dataResp.isActive == 1 ? true : false;
            this.param.entryName = dataResp.createdBy;
            this.param.entryDate = this.formatDate(dataResp.createdDate);
            this.param.modifName = dataResp.modifiedBy;
            this.param.modifDate = this.formatDate(dataResp.modifiedDate);
            this.param.telephoneNo = dataResp.telephoneNo;
            this.param.telephoneExt = dataResp.telephoneExt;
            this.param.telephoneSecondExt = dataResp.telephoneSecondExt;
            this.param.telephoneSecondNo = dataResp.telephoneSecondNo;

            this.codeDisable = dataResp.code.length > 0;
          }
        );
        this.overlay = false;
      } else {
        this.overlay = false;
      }
    },
    goSuccess() {
      this.dialog = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
      window.scrollTo(0, 0);
      this.disableForm = true;
      this.$route.query.mode == "d";
      this.getById();
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
  },
};
</script>
