<template>
  <v-card flat>
    <isttoolbar  dark color="secondary" icon="mdi-cog-outline">
      <h5 style="font-size:1.5em" class="font-weight-regular">Regency</h5>
      <v-spacer></v-spacer>
      <v-btn outlined color="white" @click="goToAdd" v-show="checkAuthorities('area-regency-add')">
        <v-icon left>mdi-plus</v-icon>Add Regency
      </v-btn>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-header
      :footer-props="{
    'items-per-page-options': [5, 10, 15, 25]
  }"      
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text" >
              <v-text-field
                v-if="header.filterType=='input'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:keyup="onkeyupSearch"
              >
                <v-btn slot="append-outer" icon @click="sortClick(header.value)">
                  <v-icon
                    v-if="header.value==options.sortBy[0] && !options.sortDesc[0]"
                    dense
                    color="primary"
                  >mdi-sort-ascending</v-icon>
                  <v-icon
                    v-else-if="header.value==options.sortBy[0] && options.sortDesc[0]"
                    dense
                    color="primary"
                  >mdi-sort-descending</v-icon>
                  <v-icon v-else-if="header.value!=options.sortBy[0]" dense>mdi-sort</v-icon>
                </v-btn>
              </v-text-field>
              <v-autocomplete
                v-if="header.filterType=='select'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :search-input.sync="header.searchInput"
                @keyup="autocompSearch(header)"
                :items="autocompItems(header.value)"
                item-value="id"
                item-text="name"
                clearable
              >
                <v-btn slot="append-outer" icon @click="sortClick(header.value)">
                  <v-icon
                    v-if="header.value==options.sortBy[0] && !options.sortDesc[0]"
                    dense
                    color="primary"
                  >mdi-sort-ascending</v-icon>
                  <v-icon
                    v-else-if="header.value==options.sortBy[0] && options.sortDesc[0]"
                    dense
                    color="primary"
                  >mdi-sort-descending</v-icon>
                  <v-icon v-else-if="header.value!=options.sortBy[0]" dense>mdi-sort</v-icon>
                </v-btn>
              </v-autocomplete>
              <v-autocomplete
                v-if="header.filterType=='selectStatus'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :items="statusItems"
                item-value="value"
                item-text="text"
                clearable
              >
                <v-btn slot="append-outer" icon @click="sortClick(header.value)">
                  <v-icon
                    v-if="header.value==options.sortBy[0] && !options.sortDesc[0]"
                    dense
                    color="primary"
                  >mdi-sort-ascending</v-icon>
                  <v-icon
                    v-else-if="header.value==options.sortBy[0] && options.sortDesc[0]"
                    dense
                    color="primary"
                  >mdi-sort-descending</v-icon>
                  <v-icon v-else-if="header.value!=options.sortBy[0]" dense>mdi-sort</v-icon>
                </v-btn>
              </v-autocomplete>
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:item.isActive="{ item }">
        <span v-if="item.isActive == 1" class="success--text">Active</span>
        <span v-else class="red--text">Inactive</span>
      </template>
      <template v-slot:top>
        <isttoolbar  dark color="primary" class="mb-0"><h5 style="font-size:1.3em" class="font-weight-regular pl-9">List of Regency</h5></isttoolbar>
        <!-- <v-alert v-model="alert" type="success" dismissible>Success to delete item</v-alert>
        <v-alert v-model="errAlert" type="success" dismissible>Failed to delete item</v-alert> -->
      </template>

      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon class="center" v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editItem(item)"  v-show="checkAuthorities('area-regency-edit')">
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
          <v-btn color="red darken-1" text @click="deleteItem(toDelete); dialog = false">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogRate" max-width="290">
      <v-card>
        <v-card-title class="headline">Are you sure you want to delete this itemss?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary darken-1" text @click="dialogRate = false">Cancel</v-btn>
          <v-btn color="red darken-1" text @click="deleteItemRate(toDelete); dialogRate = false">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    dialogRate: false,
    headers: [
      {
         text: "Regency Code",
        value: "regencyCode",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",

        // text: "Regency Code",
        // align: "start",
        // sortable: false,
        // searchable: true,
        // value: "id",
        // searchValue: ""
      },
      {
        text: "Regency Name",
        value: "name",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Province",
        value: "province.name",
        searchValue: "",
        searchable: true,
        filterType: "select",
        searchInput: "",
        filterParam: "provinceId",
      },
      {
        text: "Record Status",
        value: "isActive",
        searchable: true,
        searchValue: "",
        filterType: "selectStatus",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    provinceItems: [],
    statusItems: [
      { value: "1", text: "Active" },
      { value: "0", text: "Inactive" },
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    autocompItems: function () {
      return function (value) {
        if (value == "province.name") {
          return this.provinceItems;
        }
      };
    },
    autocompSearch: function () {
      return function (header) {
        if (header.value == "province.name") {
          API.get(
            "/config/api/master-location/provinces?name.contains=" +
              header.searchInput.toUpperCase()
          ).then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              this.provinceItems = resp.data.data;
            } else {
              this.provinceItems = [];
            }
          });
          console.log(this.provinceItems);
        }
      };
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },

  mounted() {
    this.refresh();
  },

  created() {
    this.getList();
    if(this.$route.query.back == true) this.backFromAction();
  },

  methods: {
    goToAdd() {
      this.$router.replace({ name: "area-regency-add" });
    },
    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
         console.log(data);
        console.log(this.items);
        console.log("ksksksk");
         console.log(this.totalItems);
         console.log("ksksksk");
         
      });
    },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => value.searchValue && value.searchValue.length !== 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              var paramInfo = ".contains";
              if (value.filterParam == "provinceId.equals") {
                paramInfo = "";
              } else if (value.filterType == "select") {
                paramInfo = ".equals";
              } else if (value.filterType == "selectStatus") {
                paramInfo = ".equals";
              }
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + paramInfo]: value.searchValue,
              };
            })
          );
        }
        API.get("config/api/master-location/regency/view-list", param).then((resp) => {
          if (resp.data.code == 0) {
            console.log(resp);
            // let items = resp.data.data;
            // this.items = items;
            this.loading = false;
            resolve({
              total: parseInt(resp.headers["x-total-count"]), 
              items: resp.data.data,
            });
          }
        });
      });
    },

    editItem(item) {
      this.$router.push({
        name: "area-regency-edit",
        params: { item: item },
        query: { id: item.id, mode: "e" },
    
      });

      this.storeTable();
    },
     viewItem(item) {
      this.$router.push({
        name: "area-regency-edit",
        params: { item: item },
        query: { id: item.id, mode: "d" },
      });

      this.storeTable();
    },
    deleteItem(item) {
      if (item.id != null) {
        API.post("config/api/master-location/regency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.regencyDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        regencyDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>