<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <img
            src="@/assets/images/vector-login.png"
            style="right: 0; bottom: 0; position: absolute"
          />
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-0">
              <v-img
                src="@/assets/images/logo.png"
                aspect-ratio="3"
                contain
              ></v-img>
              <v-spacer></v-spacer>
              <v-toolbar color="white" dark flat>
                <v-toolbar-title style="width: 100%" class="text-center">
                  <span class="primary--text text-xl-h4"
                    >Please enter your Login-ID and Password</span
                  >
                </v-toolbar-title>
              </v-toolbar>
              <v-card-text class="pa-0">
                <v-form v-on:submit.prevent="login()">
                  <v-text-field
                    label="Login ID"
                    placeholder="Input your Login ID"
                    name="login"
                    type="text"
                    ref="username"
                    v-model="username"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    ref="password"
                    autocomplete
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required]"
                    :type="show1 ? 'text' : 'password'"
                    name="input-10-1"
                    label="Password"
                    placeholder="Input your Password"
                    hint="At least 8 characters"
                    counter
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="pa-0">
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  :rounded="true"
                  min-width="16em"
                  min-height="3em"
                  small
                  :text="true"
                  @click="forgotDialog = true"
                >
                  Forgot Password ?
                </v-btn>
              </v-card-actions>
              <v-card-actions>
                <v-btn
                  color="primary"
                  :rounded="true"
                  min-width="16em"
                  min-height="3em"
                  :block="true"
                  @click="login"
                  :loading="isLoading"
                  >Login</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-dialog
          v-model="forgotDialog"
          max-width="400"
          :persistent="isForgotLoading"
        >
          <v-card>
            <v-card-text class="px-16 pt-10">
              <v-row class="justify-center">
                <v-icon color="primary" x-large>mdi-lock-question </v-icon>
              </v-row>
              <span
                class="
                  primary--text
                  text-h6
                  d-flex
                  justify-center
                  text-center
                  py-3
                "
                style="word-break: inherit"
              >
                Enter your Username/E-Mail and we will send you a link to get
                back into your account.
              </span>
              <v-form v-on:submit.prevent="forgotReq()">
                <v-text-field
                  label="Username/E-Mail"
                  placeholder="Input your Username/E-Mail"
                  name="usernameForgot"
                  type="text"
                  ref="usernameForgot"
                  v-model="usernameForgot"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions class="justify-center pb-5">
              <v-btn
                color="primary"
                :rounded="true"
                width="150"
                @click="forgotReq"
                :loading="isForgotLoading"
              >
                Reset Password
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-container>

      <submitdialog
        :show="submitDialog.show"
        :mode="submitDialog.mode"
        :title="submitDialog.title"
        :message="submitDialog.message"
        v-on:success="submitDialog.onSuccess"
        v-on:error="submitDialog.onError"
      >
      </submitdialog>

      <v-snackbar
        v-model="snackbar.show"
        :color="snackbar.success ? 'primary' : 'error'"
      >
        <span v-if="snackbar.success">Success</span>
        <span v-else>{{ snackbar.errorText }}</span>
        <!-- jika ingin menampilkan skip login button -->
        <!-- <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="skip"> Skip Login </v-btn>
        </template> -->
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import API from "@/core/api/api.js";
// import axios from 'axios';
import submitdialog from "@/components/dialog/submitDialog";

export default {
  props: {
    source: String,
  },
  components: {
    submitdialog,
  },
  data() {
    return {
      show1: false,
      show2: true,
      show3: false,
      show4: false,
      password: "",
      username: "",
      usernameForgot: "",
      formHasErrors: false,
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
      },
      isLoading: false,
      isForgotLoading: false,
      snackbar: { show: false, success: true, errorText: "" },
      itemsToCached: [
        "/config/api/master-parameter/?size=1000",
        "/config/api/master-risk/?&?size=-1",
        "/config/api/master-parameter/module/BUSINESS_CATEGORY",
        "/config/api/master-parameter/module/BUSINESS_SEGMENT",
        "/config/api/master-parameter/module/BUSINESS_SUBSEGMENT",
        "/config/api/master-parameter/module/BANK_RECEIVE_LIST",
        "config/api/master-parameter/module/SYSTEM_FEE_PERCENTAGE",
      ],
      forgotDialog: false,
      submitDialog: {
        show: false,
        mode: "",
        title: "",
        message: "",
        onSuccess: function () {},
        onError: function () {},
      },
    };
  },
  computed: {
    form() {
      return {
        username: this.username,
        password: this.password,
      };
    },
  },
  created() {
    this.generateBasicAuth();
  },
  methods: {
    generateBasicAuth() {
      let token = { access_token: "d2ViOnBhc3N3b3Jk", token_type: "Basic" };
      localStorage.setItem("token", JSON.stringify(token));

      let toRemove = [
        "skipLogin",
        "checkToken",
        "masterData",
        "listEF",
        "itemInfo",
        "initListDataRemittance",
        "initListDataPremium",
        "from",
        "dataPaidDirect",
        "dataInsurancePaymentHistory",
        "termList",
      ];
      for (let key of toRemove) {
        localStorage.removeItem(key);
      }
    },
    login() {
      let vm = this;
      vm.formHasErrors = false;
      Object.keys(vm.form).forEach((f) => {
        if (!vm.form[f]) vm.formHasErrors = true;
        vm.$refs[f].validate(true);
      });
      // if (!vm.formHasErrors) vm.$router.replace({ name: "home" });
      if (!vm.formHasErrors) vm.doLogin();
    },

    async doLogin() {
      let vm = this;
      vm.isLoading = true;
      let body = {
        grant_type: "password",
        username: vm.username,
        password: vm.password,
      };
      let sendData = JSON.stringify(body);
      let dataPost = {
        url:
          "authservice/oauth/token?grant_type=" +
          body.grant_type +
          "&password=" +
          body.password +
          "&username=" +
          body.username,
        // http://mf8.myinfosys.net:9191/oauth/token?grant_type=password&password=password&username=arya
        // http://mf8.myinfosys.net:9191/oauth/token?grant_type=password&password=password&username=arya" -H "accept: */*" -H "authorization: Basic d2ViOnBhc3N3b3Jk"
        post: sendData,
      };
      await API.post(dataPost.url, dataPost.post)
        .then((resp) => {
          // console.log("RESPONSE = ");
          // var data = resp.data.data;
          // console.log(resp);
          // var username = data.userType;
          // localStorage.setItem("usertype", username);
          // console.log("user role =" + localStorage.getItem("usertype"));
          // if (data != null) {
          //   if (data.code == 0) {
          //     localStorage.setItem("IS_LOGGED_IN", true);
          //     vm.$router.replace({ name: "home" });
          //   } else {
          //     alert(response.data.message);
          //   }
          // } else {
          //   alert(response.data.message);
          // }
          API.get(
            "authservice/oauth/check_token?token=" + resp.data.access_token
          )
            .then((checkTokenResp) => {
              console.log("RESPONSE = ");
              console.log(checkTokenResp);
              vm.snackbar.success = true;
              vm.snackbar.show = true;
              vm.isLoading = false;
              localStorage.setItem("token", JSON.stringify(resp.data));
              localStorage.setItem(
                "checkToken",
                JSON.stringify(checkTokenResp.data)
              );
              localStorage.removeItem("skipLogin");
              if (checkTokenResp.data.forceChangePassword == "true") {
                vm.$router.replace({ name: "reset-password" });
              } else {
                vm.$router.replace({ name: "home" });
                this.getDataToCache();
              }
            })
            .catch((error) => {
              console.log("error", error);
              vm.snackbar.errorText =
                "Login Failed" + (error ? ". " + error.message : "");
              vm.snackbar.success = false;
              vm.snackbar.show = true;
              vm.isLoading = false;
            });
        })
        .catch((error) => {
          console.log("error", error);
          let message = error.message;
          if (error.message == "Bad credentials") {
            message =
              "User ID or Password doesn't match. Please enter User ID or Password correctly";
          } else if (error.message == "User account is locked") {
            message = "This User ID has been blocked";
          }
          vm.snackbar.errorText =
            "Login Failed" + (error ? ". " + message : "");
          vm.snackbar.success = false;
          vm.snackbar.show = true;
          vm.isLoading = false;
        });
    },
    skip() {
      localStorage.setItem("skipLogin", true);
      this.$router.replace({ name: "home" });
      this.getDataToCache();
    },
    async getDataToCache() {
      for (let i of this.itemsToCached) {
        await API.get(i).then((resp) => {
          console.log("get", i, resp);
        });
      }
    },
    forgotReq() {
      let vm = this;
      this.$refs.usernameForgot.validate(true);
      if (this.usernameForgot != "") {
        this.isForgotLoading = true;
        let paramJSON = {
          username: this.usernameForgot,
        };
        let param = JSON.stringify(paramJSON);
        API.post("/user/api/forgot-password", param)
          .then((resp) => {
            console.log(resp);
            if (resp.data.code == 0) {
              this.submitDialog.title =
                "We sent link to your Email to change your password. Please check your Email now.";
              this.submitDialog.mode = "success";
              this.submitDialog.onSuccess = function () {
                vm.resetDialog();
              };
              this.submitDialog.show = true;
              this.forgotDialog = false;
              this.usernameForgot = "";
            } else {
              this.submitDialog.title = "Request Failed";
              this.submitDialog.message =
                resp.data.errorMessage.length > 0
                  ? resp.data.errorMessage.toUpperCase()
                  : resp.data.errordescription.toUpperCase();
              this.submitDialog.mode = "error";
              this.submitDialog.onError = function () {
                vm.resetDialog();
              };
              this.submitDialog.show = true;
            }
            this.isForgotLoading = false;
          })
          .catch((error) => {
            console.log(error);

            this.submitDialog.title = "Request Failed";
            this.submitDialog.message = error ? ". " + error.message : "";
            this.submitDialog.mode = "error";
            this.submitDialog.onError = function () {
              vm.resetDialog();
            };
            this.submitDialog.show = true;

            this.isForgotLoading = false;
          });
      }
    },
    resetDialog() {
      this.submitDialog.show = false;
      this.submitDialog.mode = "";
      this.submitDialog.title = null;
      this.submitDialog.message = "";
      this.submitDialog.onSuccess = function () {};
      this.submitDialog.onError = function () {};
    },
  },
};
</script>