<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <img
            src="@/assets/images/vector-login.png"
            style="right: 0; bottom: 0; position: absolute"
          />
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-0">
              <v-row class="justify-center">
                <v-icon color="primary" x-large>mdi-lock-open-alert </v-icon>
              </v-row>
              <v-spacer></v-spacer>
              <v-toolbar color="white" dark flat>
                <v-toolbar-title style="width: 100%" class="text-center">
                  <span class="primary--text text-h4">
                    Create New Password
                  </span>
                </v-toolbar-title>
              </v-toolbar>
              <v-card-text class="pa-0">
                <v-form v-on:submit.prevent="submit()">
                  <v-text-field
                    label="Old Password"
                    placeholder="Input your old password"
                    name="oldPassword"
                    type="password"
                    ref="oldPassword"
                    v-model="oldPassword"
                    :rules="[rules.required]"
                    v-show="$route.query.p == null"
                  ></v-text-field>
                  <v-text-field
                    v-model="newPassword"
                    ref="newPassword"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required]"
                    :type="show1 ? 'text' : 'password'"
                    name="newPassword"
                    label="New Password"
                    placeholder="Input your new password"
                    hint="At least 8 characters"
                    counter
                    @click:append="show1 = !show1"
                  ></v-text-field>
                  <v-text-field
                    v-model="confirmNewPassword"
                    ref="confirmNewPassword"
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required]"
                    :type="show2 ? 'text' : 'password'"
                    name="confirmNewPassword"
                    label="Confirm New Password"
                    placeholder="Confirm your new password"
                    hint="At least 8 characters"
                    counter
                    @click:append="show2 = !show2"
                  ></v-text-field>
                </v-form>
                <v-checkbox
                  v-model="lengthCheckbox"
                  dense
                  readonly
                  hide-details
                  class="mt-0 pt-0"
                >
                  <template v-slot:label>
                    <span
                      :class="
                        lengthCheckbox
                          ? 'text-body-1 primary--text'
                          : 'text-body-1'
                      "
                      >8 - 32 Characters</span
                    >
                  </template>
                </v-checkbox>
                <v-checkbox
                  v-model="alphaCheckbox"
                  dense
                  readonly
                  hide-details
                  class="mt-0 pt-0"
                >
                  <template v-slot:label>
                    <span
                      :class="
                        alphaCheckbox
                          ? 'text-body-1 primary--text'
                          : 'text-body-1'
                      "
                      >Alphanumeric & special character</span
                    >
                  </template>
                </v-checkbox>
                <v-checkbox
                  v-model="caseCheckbox"
                  dense
                  readonly
                  hide-details
                  class="mt-0 pt-0"
                >
                  <template v-slot:label>
                    <span
                      :class="
                        caseCheckbox
                          ? 'text-body-1 primary--text'
                          : 'text-body-1'
                      "
                      >Uppercase and lowercase letter combination</span
                    >
                  </template>
                </v-checkbox>
                <v-checkbox
                  v-model="matchCheckbox"
                  dense
                  readonly
                  hide-details
                  class="mt-0 pt-0"
                >
                  <template v-slot:label>
                    <span
                      :class="
                        matchCheckbox
                          ? 'text-body-1 primary--text'
                          : 'text-body-1'
                      "
                      >Password matched</span
                    >
                  </template>
                </v-checkbox>
              </v-card-text>
              <v-card-actions class="justify-center">
                <v-btn
                  color="primary"
                  :rounded="true"
                  min-width="250px"
                  @click="submit"
                  :loading="isLoading"
                  :disabled="
                    !lengthCheckbox ||
                    !alphaCheckbox ||
                    !caseCheckbox ||
                    !matchCheckbox
                  "
                >
                  Reset Password
                </v-btn>
              </v-card-actions>
              <v-card-actions class="pa-0 justify-center">
                <v-btn
                  color="primary"
                  :rounded="true"
                  min-width="16em"
                  min-height="3em"
                  small
                  :text="true"
                  @click="toLogin"
                >
                  Back to login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-snackbar
        v-model="snackbar.show"
        :color="snackbar.success ? 'primary' : 'error'"
      >
        <span v-if="snackbar.success">Success</span>
        <span v-else>{{ snackbar.errorText }}</span>
        <!-- jika ingin menampilkan skip login button -->
        <!-- <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="skip"> Skip Login </v-btn>
        </template> -->
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import API from "@/core/api/api.js";
// import axios from 'axios';
export default {
  props: {
    source: String,
  },
  data() {
    return {
      show1: false,
      show2: false,
      oldPassword: "",
      newPassword: "",
      confirmNewPassword: "",
      formHasErrors: false,
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
      },
      isLoading: false,
      lengthCheckbox: false,
      alphaCheckbox: false,
      caseCheckbox: false,
      matchCheckbox: false,
      snackbar: { show: false, success: true, errorText: "" },
    };
  },
  computed: {
    changeForm() {
      return {
        oldPassword: this.oldPassword,
        newPassword: this.newPassword,
        confirmNewPassword: this.confirmNewPassword,
      };
    },
    resetForm() {
      return {
        newPassword: this.newPassword,
        confirmNewPassword: this.confirmNewPassword,
      };
    },
  },
  created() {},

  watch: {
    newPassword: {
      handler: function (after) {
        this.lengthCheckbox = after.length >= 8;
        this.alphaCheckbox = this.charTypeCheck(after);
        this.caseCheckbox =
          after != after.toUpperCase() && after != after.toLowerCase();
        this.matchCheckbox = after != "" && after == this.confirmNewPassword;
      },
      deep: true,
    },
    confirmNewPassword: {
      handler: function (after) {
        this.matchCheckbox = after != "" && after == this.newPassword;
      },
      deep: true,
    },
  },

  methods: {
    submit() {
      let vm = this;
      let form = "changeForm";
      if (this.$route.query.p) {
        form = "resetForm";
      }
      vm.formHasErrors = false;
      Object.keys(vm[form]).forEach((f) => {
        if (!vm[form][f]) vm.formHasErrors = true;
        vm.$refs[f].validate(true);
      });
      if (!vm.formHasErrors) vm.doReset();
    },

    async doReset() {
      let vm = this;
      vm.isLoading = true;
      let body = {
        newPassword: vm.newPassword,
        confirmNewPassword: vm.confirmNewPassword,
      };
      let url = "";
      if (this.$route.query.p) {
        body["token"] = this.$route.query.p;
        url = "/user/api/reset-password";
      } else {
        body["oldPassword"] = this.oldPassword;
        url = "/user/api/change-password";
      }
      let sendData = JSON.stringify(body);
      await API.post(url, sendData)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.snackbar.success = true;
            this.snackbar.show = true;
            setTimeout(function () {
              vm.$router.replace({ name: "login" });
            }, 1000);
          } else {
            this.snackbar.errorText =
              "Reset Failed. " +
              (resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase());
            this.snackbar.success = false;
            this.snackbar.show = true;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          console.log("error", error);
          let message = error.message;
          vm.snackbar.errorText =
            "Reset Failed" + (error ? ". " + message : "");
          vm.snackbar.success = false;
          vm.snackbar.show = true;
          vm.isLoading = false;
        });
    },
    toLogin() {
      this.$router.replace({ name: "login" });
    },
    charTypeCheck(string) {
      if (!/[a-zA-Z]/g.test(string)) {
        console.log("tidak ada huruf");
        return false;
      }
      if (!/[0-9]/g.test(string)) {
        console.log("tidak ada angka");
        return false;
      }
      if (!/[~`!@#$%^&*()_+=\-[\]\\';,./{}|":<>?]/g.test(string)) {
        console.log("tidak ada special char");
        return false;
      }
      return true;
    },
  },
};
</script>