<template>
  <v-card flat>
    <isttoolbar
      title="Claim Report"
      dark
      color="secondary"
      icon="mdi-file-document"
    >
      <v-spacer></v-spacer>
    </isttoolbar>
    <isttoolbar
      title="Claim Report Listing"
      dark
      color="primary"
      class="mb-0 pl-9"
    ></isttoolbar>

    <master-data-table
      :headers="headers"
      :opts="{defaultSortBy:['rptName'], defaultSortDesc:[false]}"
      viewListUrl="report/api/list-claim"
      v-on:clickItem="clickItem"
    >
    </master-data-table>

    <v-dialog v-model="reportDialog.show" max-width="1000" scrollable>
      <v-card>
        <v-card-title class="headline primary">
          <v-btn icon class="hidden-xs-only btn-disabled" dark>
            <v-icon>mdi-file-document</v-icon>
          </v-btn>
          <span class="white--text">{{ reportDialog.name }}</span>
          <v-spacer> </v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                text
                @click="reportDialog = { show: false }"
                dark
              >
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-card-text>
          <viewclaimstatus
            v-if="reportDialog.code == 'CLAIMSTATUS'"
            :reportCode="reportDialog.code"
          />
          <viewclaimtrans
            v-else-if="reportDialog.code == 'CLAIMTRANSACTION'"
            :reportCode="reportDialog.code"
          />
          <view-claim-aging
            v-else-if="reportDialog.code == 'CLAIMAGING'"
            :reportCode="reportDialog.code"
          />
          <view-claim-status-progress
            v-else-if="reportDialog.code == 'CLAIMCLIENTPROGRESS'"
            :reportCode="reportDialog.code"
          />
          <view-claim-full
            v-else-if="reportDialog.code == 'CLAIMFULLREPORT'"
            :reportCode="reportDialog.code"
          />
          <view-claim-collection
            v-else-if="reportDialog.code == 'CLAIMCOLLECTION'"
            :reportCode="reportDialog.code"
          />
          <view-fee-collection
            v-else-if="reportDialog.code == 'CLAIMFEECOLLECTION'"
            :reportCode="reportDialog.code"
          />
          <!-- <viewunderwriterliablity
            v-else-if="reportDialog.code == 'RPT15'"
            :reportCode="reportDialog.code"
          />
          <viewdebtoroutstanding
            v-else-if="reportDialog.code == 'RPT14' || reportDialog.code == 'RPT08'"
            :reportCode="reportDialog.code"
          />
          <viewremittance
            v-else-if="reportDialog.code == 'RPT17'"
            :reportCode="reportDialog.code"
          />
          <viewfundinglist
            v-else-if="reportDialog.code == 'RPT18'"
            :reportCode="reportDialog.code"
          />
          <viewfundingsummary
            v-else-if="reportDialog.code == 'RPT19'"
            :reportCode="reportDialog.code"
          />
          <viewdebtoraging
            v-else-if="reportDialog.code == 'RPT04'"
            :reportCode="reportDialog.code"
          />
          <viewcreditoraging
            v-else-if="reportDialog.code == 'RPT05'"
            :reportCode="reportDialog.code"
          /> -->
          <viewdefaultreport v-else :reportCode="reportDialog.code" />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import viewclaimstatus from "./view-claim-status";
import viewclaimtrans from "./view-claim-trans";
// import viewunderwriterliablity from "./view-underwriter-liablity";
// import viewdebtoroutstanding from "./view-debtor-outstanding";
import viewdefaultreport from "./view-default-report";
import ViewClaimCollection from './view-claim-collection.vue';
import ViewClaimFull from './view-claim-full.vue';
import ViewClaimStatusProgress from './view-claim-status-progress.vue';
import ViewFeeCollection from './view-fee-collection.vue';
import ViewClaimAging from './view-claim-aging.vue';
import MasterDataTable from '../../../components/table/masterDataTable.vue';
// import viewremittance from "./view-remittance.vue";
// import viewfundinglist from "./view-funding-list.vue";
// import viewfundingsummary from "./view-funding-summary.vue";
// import viewdebtoraging from "./view-aging-debtor";
// import viewcreditoraging from "./view-aging-creditor";

export default {
  components: {
    isttoolbar,
    viewclaimstatus,
    viewclaimtrans,
    ViewClaimCollection,
    ViewClaimFull,
    ViewClaimStatusProgress,
    ViewFeeCollection,
    ViewClaimAging,
    MasterDataTable,
    // viewunderwriterliablity,
    // viewdebtoroutstanding,
    viewdefaultreport,
    // viewremittance,
    // viewfundinglist,
    // viewfundingsummary,
    // viewdebtoraging,
    // viewcreditoraging,
  },

  data: () => ({
    viewReportDialog: false,
    toDelete: {},
    dialog: false,
    alert: false,
    errAlert: false,
    headers: [
      {
        text: "Report Name",
        align: "start",
        sortable: true,
        searchable: true,
        value: "name",
        searchValue: "",
        filterType: "input",
        searchInput: "",
        filterParam: "name.contains",
        sortParam: "rptName",
        link: true,
      },
      {
        text: "Description",
        value: "description",
        sortable: false,
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "description.contains",
        sortParam: "rptDescription",
      },
      // {
      //   text: "Actions",
      //   value: "actions",
      //   sortable: false,
      //   searchable: false,
      //   filterType: "input",
      // },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    reportDialog: { show: false },
  }),

  computed: {},

  watch: {},

  methods: {
    clickItem(item) {
      // this.$router.push({
      //   name: "finance-report-view",
      //   query: { id: item.code },
      // });

      this.reportDialog = { ...item, show: true };
    },
  },
};
</script>
