<template>
  <v-card flat>
    <v-card class="px-0 py-0" elevation="0">
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Loss Date From</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.lossFrom.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Loss Date From"
                    v-model="param.lossFrom"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.lossFrom.menu = !filter.lossFrom.menu"
                      text
                      icon
                      style="height: auto; width: auto;"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.lossFrom"
                  no-title
                  @input="filter.lossFrom.menu = false"
                  :max="param.lossTo"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Loss Date To</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.lossTo.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Loss Date To"
                    v-model="param.lossTo"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.lossTo.menu = !filter.lossTo.menu"
                      text
                      icon
                      style="height: auto; width: auto;"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.lossTo"
                  no-title
                  @input="filter.lossTo.menu = false"
                  :min="param.lossFrom"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <!--  -->

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Client/Agent<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                :label="customerLabel"
                hide-details="auto"
                v-model="param.customer"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Claim No<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Insert Claim Number"
                type="text"
                v-model="param.claimNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="claimNo"
                name="claimNo"
                class="ma-0"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Underwriter</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.underwriter"
                label="Search Underwriter"
                hide-details="auto"
                ref="underwriter"
                name="underwriter"
                :items="filter.underwriter.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.underwriter.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                @keyup="autocompSearch(filter.underwriter)"
                :search-input.sync="
                  filter.underwriter.urlParam['codeOrName.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Claim Trans No</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Insert Claim Trans Number"
                type="text"
                v-model="param.claimTransNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="claimTransNo"
                name="claimTransNo"
                class="ma-0"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Currency"
                hide-details="auto"
                v-model="param.currency"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                :item-text="currencyTextItem"
                clearable
                class="ma-0"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Class of Risk</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.riskClass"
                label="Select Class of Risk"
                hide-details="auto"
                ref="risk"
                name="risk"
                :items="filter.riskClass.items"
                item-value="riskCode"
                item-text="codeAndName"
                :loading="filter.riskClass.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.segment"
                label="Select Segment"
                hide-details="auto"
                ref="segment"
                name="segment"
                :items="filter.segment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.segment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col> -->
          </v-row>
        </v-col>
      </v-row>
      <!-- 5 -->

      <v-divider></v-divider>
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-checkbox
            v-model="param.printOutstandingOnly"
            label="Print Outstanding Claim Only"
            dense
            hide-details="auto"
            class="ma-0"
            @change="checkboxChoose1"
          ></v-checkbox>
          <v-checkbox
            v-model="param.printOutstandingPayment"
            label="Print Outstanding Payment to Client"
            dense
            hide-details="auto"
            class="ma-0"
            @change="checkboxChoose2"
          ></v-checkbox>
          <v-checkbox
            v-model="param.showCoIns"
            label="Show Co Ins / Adjuster Detail"
            dense
            hide-details="auto"
            class="ma-0"
          ></v-checkbox>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  props: ["reportCode"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      id: "",
      lossFrom: "",
      lossTo: "",
      customer: "",
      customerType: "",
      claimNo: "",
      currency: "",
      riskClass: "",
      underwriter: "",
      printOutstandingOnly: true,
      printOutstandingPayment: false,
      showCoIns: true,
      output: "",
    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      lossFrom: {
        dataValue: "",
        menu: false,
      },
      lossTo: {
        dataValue: "",
        menu: false,
      },
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      riskClass: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      // segment: {
      //   items: [],
      //   url: "/config/api/master-parameter/",
      //   urlParam: {
      //     size: -1,
      //     "isActive.equals": 1,
      //     "module.equals": "BUSINESS_SEGMENT",
      //   },
      //   loading: true,
      // },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "XLSX", text: "Generate XLSX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
      customerType: {
        items: ["Client", "Agent", "All"],
      },
      // claimOfficer: {
      //   items: [],
      //   loading: false,
      // },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      // claimStatus: {
      //   items: [],
      //   loading: false,
      // },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
  }),
  created() {
    this.param.id = this.$route.query.id;
    this.initList([
      "customer",
      "underwriter",
      "currency",
      "riskClass",
      // "segment",
      // "businessCategory",
      // "acctExec",
    ]);
  },
  computed: {
    form() {
      return {
        // customer: this.param.customer
      };
    },
    customerLabel: function () {
      let label = "Search Client/Agent";
      if (this.param.customerType == "Client") {
        label = "Search Client";
      } else if (this.param.customerType == "Agent") {
        label = "Search Agent";
      }
      return label;
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";

      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          lossDateStart: this.param.lossFrom,
          lossDateEnd: this.param.lossTo,
          clientCode: this.param.customer,
          currency: this.param.currency,
          underwriter: this.param.underwriter,
          claimNo: this.param.claimNo,
          claimTranNo: this.param.claimTransNo,
          risk: this.param.riskClass,
          isShowCoAdjuster: this.param.showCoIns.toString(),
        },
        group: "CLAIM",
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");

      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Claim " + this.reportCode + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    checkboxChoose1() {
      if (this.param.printOutstandingOnly) {
        this.param.printOutstandingPayment = false;
      }
    },
    checkboxChoose2() {
      if (this.param.printOutstandingPayment) {
        this.param.printOutstandingOnly = false;
      } 
    },

    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    acctExecTextItem: (item) =>
      item.loginData.username + " - " + item.personalData.fullname,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
