<template>
  <v-card flat>
    <v-card class="px-0 py-0" elevation="0">
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Loss Date From</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.lossFrom.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Loss Date From"
                    v-model="param.lossFrom"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.lossFrom.menu = !filter.lossFrom.menu"
                      text
                      icon
                      style="height: auto; width: auto"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.lossFrom"
                  no-title
                  @input="filter.lossFrom.menu = false"
                  :max="param.lossTo"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Loss Date To</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.lossTo.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Loss Date To"
                    v-model="param.lossTo"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.lossTo.menu = !filter.lossTo.menu"
                      text
                      icon
                      style="height: auto; width: auto"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.lossTo"
                  no-title
                  @input="filter.lossTo.menu = false"
                  :min="param.lossFrom"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <!--  -->

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Client/Agent<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                :label="customerLabel"
                hide-details="auto"
                v-model="param.customer"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Claim No<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Insert Claim Number"
                type="text"
                v-model="param.claimNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="claimNo"
                name="claimNo"
                class="ma-0"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Underwriter</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.underwriter"
                label="Search Underwriter"
                hide-details="auto"
                ref="underwriter"
                name="underwriter"
                :items="filter.underwriter.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.underwriter.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                @keyup="autocompSearch(filter.underwriter)"
                :search-input.sync="
                  filter.underwriter.urlParam['codeOrName.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Claim Officer</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.claimOfficer"
                label="Select Claim Officer"
                hide-details="auto"
                ref="claimOfficer"
                name="claimOfficer"
                :items="filter.claimOfficer.items"
                item-value="loginData.userId"
                item-text="personalData.fullname"
                :loading="filter.claimOfficer.loading"
                @keyup="autocompSearch(filter.claimOfficer)"
                :search-input.sync="
                  filter.claimOfficer.urlParam['fullname.contains']
                "
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Currency"
                hide-details="auto"
                v-model="param.currency"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                :item-text="currencyTextItem"
                clearable
                class="ma-0"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Claim Status</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.claimStatus"
                label="Select Claim Status"
                hide-details="auto"
                ref="claimStatus"
                name="claimStatus"
                :items="filter.claimStatus.items"
                item-value="val"
                item-text="text"
                :loading="filter.claimStatus.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Class of Risk</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.riskClass"
                label="Select Class of Risk"
                hide-details="auto"
                ref="risk"
                name="risk"
                :items="filter.riskClass.items"
                item-value="riskCode"
                item-text="codeAndName"
                :loading="filter.riskClass.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.segment"
                label="Select Segment"
                hide-details="auto"
                ref="segment"
                name="segment"
                :items="filter.segment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.segment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 5 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Show Columns</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <dynamic-column-report-dropdown
                ref="columnReport"
                :multiple="true"
                :list="listColumn"
                :key="param.column"
                v-model="param.column"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 6 -->

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import XLSX from "sheetjs-style";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import dynamicColumnReportDropdown from "@/components/dynamicColumnReportDropdown/dynamicColumnReportDropdown";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  props: ["reportCode"],

  components: {
    submitdialog,
    documentPreview,
    dynamicColumnReportDropdown,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      id: "",
      lossFrom: "",
      lossTo: "",
      customer: "",
      customerType: "",
      claimNo: "",
      claimOfficer: "",
      currency: "",
      claimStatus: "",
      riskClass: "",
      underwriter: "",
      segment: "",
      output: "XLSX",
      column: [],
    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      lossFrom: {
        dataValue: "",
        menu: false,
      },
      lossTo: {
        dataValue: "",
        menu: false,
      },
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      riskClass: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      output: {
        items: [
          // { value: "", text: "Preview" },
          // { value: "DOCX", text: "Generate DOCX" },
          { value: "XLSX", text: "Generate XLSX" },
          // { value: "PDF", text: "Generate PDF" },
        ],
      },
      customerType: {
        items: ["Client", "Agent", "All"],
      },
      claimOfficer: {
        value: "claimOfficer",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/?",
        urlParam: { size: -1, "isActive.equals": 1, "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      claimStatus: {
        items: [
          { val: 0, text: "Entry" },
          { val: 1, text: "Notify" },
          { val: 2, text: "Closed" },
        ],
        loading: false,
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    listColumn: [
      {
        code: "code",
        name: "Code",
        field: "client_code",
      },
      {
        code: "clientName",
        name: "Client Name",
        field: "client_name",
      },
      {
        code: "dateOfLoss",
        name: "Date of Loss",
        field: "date_lost",
      },
      {
        code: "risk",
        name: "Risk",
        field: "risk",
      },
      {
        code: "policyNumber",
        name: "Policy Number",
        field: "policy_no",
      },
      {
        code: "refNo",
        name: "Ref. No",
        field: "claim_ref_no",
      },
      {
        code: "officer",
        name: "Officer",
        field: "officer",
      },
      {
        code: "uwriter",
        name: "Uwriter",
        field: "underwriter_code",
      },
      {
        code: "share",
        name: "Share",
        field: "",
      },
      {
        code: "idrAmount",
        name: "IDR Amount",
        field: "idr_amt_claim",
      },
      {
        code: "idrDeductible",
        name: "IDR Deductible",
        field: "idr_amt_deductible",
      },
      {
        code: "usdAmount",
        name: "USD Amount",
        field: "usd_amt_claim",
      },
      {
        code: "usdDeductible",
        name: "USD Deductible",
        field: "usd_amt_deductible",
      },
      // ---------- looping
      // {
      //   code: "idrClientPaid",
      //   name: "IDR Client Paid",
      //   group: null,
      //   order: 13,
      //   field: "",
      // },
      // {
      //   code: "idrClientCdnNo",
      //   name: "IDR Client CDN No",
      //   group: null,
      //   order: 14,
      //   field: "",
      // },
      // {
      //   code: "idrClientReceivedDated",
      //   name: "IDR Client Received Dated",
      //   group: null,
      //   order: 15,
      //   field: "",
      // },
      // {
      //   code: "idrClientPaidDated",
      //   name: "IDR Client Paid Dated",
      //   group: null,
      //   order: 16,
      //   field: "",
      // },
      // {
      //   code: "usdClientPaid",
      //   name: "USD Client Paid",
      //   group: null,
      //   order: 17,
      //   field: "usd_paid_amt",
      // },
      // {
      //   code: "usdClientCdnNo",
      //   name: "USD Client CDN No",
      //   group: null,
      //   order: 18,
      //   field: "",
      // },
      // {
      //   code: "usdClientReceivedDated",
      //   name: "USD Client Received Dated",
      //   group: null,
      //   order: 19,
      //   field: "",
      // },
      // {
      //   code: "usdClientPaidDated",
      //   name: "USD Client Paid Dated",
      //   group: null,
      //   order: 20,
      //   field: "",
      // },
      // ----------
      {
        code: "adjuster",
        name: "Adjuster",
        field: "adjuster_code",
      },
      {
        code: "adjusterRef",
        name: "Adjuster Ref",
        field: "adjuster_code",
      },
      // ---------- looping
      // {
      //   code: "adjusterFee",
      //   name: "Adjuster Fee",
      //   group: null,
      //   order: 23,
      //   field: "",
      // },
      // {
      //   code: "adjusterCdnNo",
      //   name: "Adjuster CDN No",
      //   group: null,
      //   order: 24,
      //   field: "",
      // },
      // {
      //   code: "adjusterReceivedDated",
      //   name: "Adjuster Received Dated",
      //   group: null,
      //   order: 25,
      //   field: "",
      // },
      // {
      //   code: "adjusterPaidDated",
      //   name: "Adjuster Paid Dated",
      //   group: null,
      //   order: 26,
      //   field: "",
      // },
      // ----------
      {
        code: "adviceDate",
        name: "Advice Date",
        field: "date_advice",
      },
      {
        code: "status",
        name: "Status",
        field: "status",
      },
      {
        code: "finalizedDate",
        name: "Finalized Date",
        field: "",
      },
      {
        code: "entryDate",
        name: "Entry Date",
        field: "date_entry",
      },
      {
        code: "reviewDate",
        name: "Review Date",
        field: "",
      },
      {
        code: "causeOfLoss",
        name: "Cause Of Loss",
        field: "cause_lost",
      },
      {
        code: "remark",
        name: "Remark",
        field: "remark",
      },
      {
        code: "currentPostion",
        name: "Current Postion",
        field: "",
      },
      {
        code: "detail",
        name: "Detail",
        field: "details",
      },
      {
        code: "segment",
        name: "Segment",
        field: "segment_code",
      },
      {
        code: "periodFrom",
        name: "Period From",
        field: "period_from",
      },
      {
        code: "periodTo",
        name: "Period To",
        field: "period_to",
      },
      {
        code: "clientGroup",
        name: "Client Group",
        field: "client_group",
      },
      {
        code: "clientGroupName",
        name: "Client Group Name",
        field: "client_group_name",
      },
      {
        code: "webActionProgress",
        name: "Web Action Progress",
        child: [
          {
            code: "dateWebActionProgress",
            name: "Date",
            field: "web_progress_date",
          },
          {
            code: "webActionProgress",
            name: "Action Progress",
            field: "web_action_progress",
          },
          {
            code: "statusWebActionProgress",
            name: "Status",
            field: "web_progress_status",
          },
          {
            code: "entryByWebActionProgress",
            name: "Entry By",
            field: "web_created_by",
          },
          {
            code: "entryDateWebActionProgress",
            name: "Entry Date",
            field: "web_created_date",
          },
        ],
      },
      {
        code: "internalActionProgress",
        name: "Internal Action Progress",
        child: [
          {
            code: "dateInternalActionProgress",
            name: "Date",
            field: "int_progress_date",
          },
          {
            code: "internalActionProgress",
            name: "Action Progress",
            field: "int_action_progress",
          },
          {
            code: "statusInternalActionProgress",
            name: "Status",
            field: "int_progress_status",
          },
          {
            code: "entryByInternalActionProgress",
            name: "Entry By",
            field: "int_created_by",
          },
          {
            code: "entryDateInternalActionProgress",
            name: "Entry Date",
            field: "int_created_date",
          },
        ],
      },
      // {
      //   code: "dateWebActionProgress",
      //   name: "Date",
      //   group: { code: "webActionProgress", name: "Web Action Progress" },
      //   order: 41,
      //   field: "web_progress_date",
      // },
      // {
      //   code: "actionProgress",
      //   name: "Action Progress",
      //   group: { code: "webActionProgress", name: "Web Action Progress" },
      //   order: 42,
      //   field: "web_action_progress",
      // },
      // {
      //   code: "statusWebActionProgress",
      //   name: "Status",
      //   group: { code: "webActionProgress", name: "Web Action Progress" },
      //   order: 43,
      //   field: "web_progress_status",
      // },
      // {
      //   code: "entryByWebActionProgress",
      //   name: "Entry By",
      //   group: { code: "webActionProgress", name: "Web Action Progress" },
      //   order: 44,
      //   field: "web_created_by",
      // },
      // {
      //   code: "entryDate",
      //   name: "Entry Date",
      //   group: { code: "webActionProgress", name: "Web Action Progress" },
      //   order: 45,
      //   field: "web_created_date",
      // },
      // {
      //   code: "dateInternalActionProgress",
      //   name: "Date",
      //   group: {
      //     code: "internalActionProgress",
      //     name: "Internal Action Progress",
      //   },
      //   order: 46,
      //   field: "int_progress_date",
      // },
      // {
      //   code: "internalActionProgress",
      //   name: "Internal Action Progress",
      //   group: {
      //     code: "internalActionProgress",
      //     name: "Internal Action Progress",
      //   },
      //   order: 47,
      //   field: "int_action_progress",
      // },
      // {
      //   code: "statusInternalActionProgress",
      //   name: "Status",
      //   group: {
      //     code: "internalActionProgress",
      //     name: "Internal Action Progress",
      //   },
      //   order: 48,
      //   field: "int_progress_status",
      // },
      // {
      //   code: "entryByInternalActionProgress",
      //   name: "Entry by",
      //   group: {
      //     code: "internalActionProgress",
      //     name: "Internal Action Progress",
      //   },
      //   order: 49,
      //   field: "int_created_by",
      // },
      // {
      //   code: "entryDateInternalActionProgress",
      //   name: "Entry Date",
      //   group: {
      //     code: "internalActionProgress",
      //     name: "Internal Action Progress",
      //   },
      //   order: 50,
      //   field: "int_created_date",
      // },
    ],
  }),
  created() {
    this.param.id = this.$route.query.id;
    this.listColumn = this.listColumn.map((o, i) => {
      if (o.child) {
        o.child = o.child.map((p, k) => {
          return {
            ...p,
            order: k + 1,
          };
        });
      }
      return {
        ...o,
        order: i + 1,
      };
    });
    console.log(this.listColumn);
    this.initList([
      "customer",
      "underwriter",
      "claimOfficer",
      "currency",
      "riskClass",
      "segment",
      // "acctExec",
    ]);
  },
  computed: {
    form() {
      return {
        // customer: this.param.customer
      };
    },
    customerLabel: function () {
      let label = "Search Client/Agent";
      if (this.param.customerType == "Client") {
        label = "Search Client";
      } else if (this.param.customerType == "Agent") {
        label = "Search Agent";
      }
      return label;
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    convertToNumberingScheme(number) {
      var baseChar = "A".charCodeAt(0),
        letters = "";

      do {
        number -= 1;
        letters = String.fromCharCode(baseChar + (number % 26)) + letters;
        number = (number / 26) >> 0; // quick `floor`
      } while (number > 0);

      return letters;
    },
    createExcel(headers, rows, groups) {
      console.log(headers, rows, groups);
      var i = 0, j = 0;
      var objectMaxLength = [];
      if (headers.length > 0) {
        const nameOfHeaders = headers.map((h) => h.name);
        for (i = 0; i < nameOfHeaders.length; i++) {
          if (typeof nameOfHeaders[i] == "number") {
            objectMaxLength[i] = 10;
          } else {
            objectMaxLength[i] =
              objectMaxLength[i] != undefined &&
              nameOfHeaders[i] != undefined &&
              objectMaxLength[i] >= nameOfHeaders[i].length
                ? objectMaxLength[i]
                : nameOfHeaders[i] != undefined
                ? nameOfHeaders[i].length
                : 20;
          }
        }
      }
      for (i = 0; i < rows.length; i++) {
        const row = rows[i];
        const keys = Object.keys(row);
        for (j = 0; j < keys.length; j++) {
          const key = keys[j];
          if (
            objectMaxLength[j] != undefined &&
            row[key] != undefined &&
            row[key] != null
          ) {
            objectMaxLength[j] =
              objectMaxLength[j] >= row[key].toString().length + 10
                ? objectMaxLength[j]
                : row[key].toString().length + 10;
          } else {
            if (objectMaxLength[j] == undefined) {
              objectMaxLength[j] = 20;
            }
          }
        }
      }

      const wsCols = objectMaxLength.map((v) => {
        return {
          width: v,
        };
      });
      // // Buat Workbook
      const fileName = "AOA_XLS";
      const firstColumn = this.convertToNumberingScheme(1);
      const firstRow = 5;
      let wb = XLSX.utils.book_new();
      wb.Props = {
        Title: fileName,
        Author: "",
        CreatedDate: new Date(),
      };
      // Buat Sheet
      wb.SheetNames.push("Sheet 1");
      // Buat Sheet dengan Data
      let ws = XLSX.utils.json_to_sheet(rows, {
        skipHeader: true,
        origin: firstColumn.concat((firstRow + 1).toString()),
        cellStyles: true,
      });
      ws["A1"] = {
        t: "s",
        v: "PT IBS Insurance Broking Service",
        s: {
          alignment: {
            vertical: "center",
            horizontal: "center",
          },
          font: {
            bold: true,
            sz: 20,
          },
        },
      };
      var headerStyle = {
        fill: {
          patternType: "solid",
          fgColor: {
            rgb: "C0C0C0",
          },
        },
        alignment: {
          vertical: "center",
          horizontal: "center",
        },
        font: {
          bold: true,
        },
        border: {
          top: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
          bottom: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
          left: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
          right: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
        },
      };
      var headerGroupStyle = {
        fill: {
          patternType: "solid",
          fgColor: {
            rgb: "C0C0C0",
          },
        },
        alignment: {
          vertical: "center",
          horizontal: "center",
        },
        font: {
          bold: true,
        },
      };
      var cellDefaultStyle = {
        border: {
          top: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
          bottom: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
          left: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
          right: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
        },
      };
      for (i = 0; i < headers.length; i++) {
        const h = headers[i];
        const pos = this.convertToNumberingScheme(i + 1).concat(
          firstRow.toString()
        );
        if (ws[pos] != undefined) ws[pos] = {};
        ws[pos] = {
          t: "s",
          v: h.name,
          s: headerStyle,
        };
        for (j = 0; j < rows.length; j++) {
          const pos = this.convertToNumberingScheme(i + 1).concat(
            (firstRow + 1 + j).toString()
          );
          if (ws[pos].v == null) {
            ws[pos].t = "s";
            ws[pos].v = "-";
          }
          ws[pos].s = cellDefaultStyle;
        }
      }
      ws["!cols"] = wsCols;
      ws["!rows"] = [
        {},
        {},
        {},
        {},
        {
          hpx: 30,
        },
      ];
      if (!ws["!merges"]) ws["!merges"] = [];
      ws["!merges"].push(
        XLSX.utils.decode_range(
          "A1:" + this.convertToNumberingScheme(headers.length) + "2"
        )
      );
      for (let iGroup = 0; iGroup < groups.length; iGroup++) {
        const g = groups[iGroup];
        const pos = this.convertToNumberingScheme(g.start).concat(
          (firstRow - 1).toString()
        );
        ws[pos] = {
          t: "s",
          v: g.v,
          s: headerGroupStyle
        };
        const cellMerge = 
          XLSX.utils.decode_range(
            this.convertToNumberingScheme(g.start) + (firstRow - 1).toString() + ":" + this.convertToNumberingScheme(g.end) + (firstRow - 1).toString(),
          );
        ws["!merges"].push(cellMerge);
      }
      wb.Sheets["Sheet 1"] = ws;

      try {
        var w = XLSX.write(wb, {
          type: "base64",
          bookType: "xlsx",
        });
        this.saveFile(w, "xlsx");
        // Simpan filenya
        // XLSX.writeFile(wb, `${downloadFolder}${path.sep}${fileName}.xls`);
      } catch (e) {
        console.log(e.message);
      }
    },
    async viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/dynamic-report";

      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "XLSX" : this.param.output,
        filter: {
          lossDateFrom: this.param.lossFrom,
          lossDateTo: this.param.lossTo,
          clientCode: this.param.customer,
          claimNo: this.param.claimNo,
          underwriter: this.param.underwriter,
          office: this.param.claimOfficer.toString(),
          currency: this.param.currency,
          status: this.param.claimStatus.toString(),
          riskClass: this.param.riskClass,
          segment: this.param.segment,
          reportType: this.param.reportType,
        },
        column: [],
        isAllColumn: true,
        group: "DYNAMIC",
      };
      // paramJSON.isAllColumn = (this.listColumn.filter(v => v.field != "").length == paramJSON.column.length);
      // if (paramJSON.isAllColumn) paramJSON.column = []
      // else if (paramJSON.column.length == 0) paramJSON.column = this.listColumn.filter(v => v.field != "").sort( (a,b) => a.order - b.order).map(v => v.field);
      let param = JSON.stringify(paramJSON);
      try {
        var resp = await API.post(docUrl, param);
        if (resp.data.code === 0) {
          var d = [];
          var c = this.$refs["columnReport"].getValue();
          var lc = this.listColumn;
          if (c.length == 0) c = lc;
          var columns = c
            // .filter((v) => v.field != "")
            .sort((a, b) => a.order - b.order);
          var headers = columns
            .filter((v) => v.field != undefined)
            .map((co) => {
              return {
                code: co.code,
                name: co.name,
              };
            });
          headers.splice(0, 0, {
            code: "no",
            name: "No.",
          });
          var columnsHasGroup = c
            .filter((v) => v.child != undefined)
            .sort((a, b) => a.order - b.order);
          columnsHasGroup.forEach((cg, i) => {
            var totalAfterAdd = 0;
            if (i > 0) {
              for (var l = 0; l < i; l++) {
                totalAfterAdd += columnsHasGroup[l].order + columnsHasGroup[l].child.length;
              }
              totalAfterAdd -= cg.order;
            }
            cg.child.forEach((cgv, j) => {
              headers.splice(cg.order + totalAfterAdd + j, 0, {
                code: cgv.code,
                name: cgv.name,
              });
            });
          });
          columnsHasGroup = columnsHasGroup.map((o, i, a) => {
            if (i > 0) {
              const prevO = a[i-1];
              const start = (c.indexOf(prevO) + 1) + prevO.child.length + ((c.indexOf(o) + 1) - (c.indexOf(prevO) + 1));
              const end = start + o.child.length - 1;
              return {
                start: start,
                end: end,
                v: o.name,
              };
            } else {
              return {
                start: (c.indexOf(o) + 1) + 1,
                end: (c.indexOf(o) + 1) + o.child.length,
                v: o.name,
              };
            }
          });
          for (var iRow = 0; iRow < resp.data.data.length; iRow++) {
            var item = {};
            var row = resp.data.data[iRow];
            item["no"] = iRow + 1;
            if (columns.length > 0) {
              for (var iColumn = 0; iColumn < columns.length; iColumn++) {
                var column = columns[iColumn];
                if (column.child != undefined) {
                  var columnsChild = column.child
                    // .filter((v) => v.field != undefined && v.field != "")
                    .sort((a, b) => a.order - b.order);
                  for (
                    var iColumnChild = 0;
                    iColumnChild < columnsChild.length;
                    iColumnChild++
                  ) {
                    var columnChild = columnsChild[iColumnChild];
                    item[columnChild.code] = (columnChild.field == undefined) ? "-" : row[columnChild.field];
                  }
                } else {
                  item[column.code] = (column.field == undefined) ? "-" : row[column.field];
                }
              }
            } else {
              item = {
                ...item,
                ...row,
              };
            }
            d.push(item);
          }
          if (d.length > 0) this.createExcel(headers, d, columnsHasGroup);
          this.submitDialog.show = false;
        } else {
          this.submitDialog.mode = "error";
          this.submitDialog.message =
            resp.data.errorMessage.length > 0
              ? resp.data.errorMessage.toUpperCase()
              : resp.data.errordescription.toUpperCase();
        }
      } catch (error) {
        console.log(error);
        this.submitDialog.mode = "error";
      }

      // console.log(paramJSON);
      // API.post(docUrl, param)
      //   .then((resp) => {
      //     if (resp.data.code === 0) {
      //       var d = [];
      //       resp.data.data.forEach(function (row) {
      //         var item = {};
      //         $this.param.column.filter(v => v.field != "").sort( (a,b) => a.order - b.order).forEach(function (field) {
      //           item[field] = row[field];
      //         });
      //         d.push(item);
      //       });
      //       console.log(d);
      //       if (this.param.output != "") {
      //         this.saveFile(resp.data.data, paramJSON.fileType);
      //       } else {
      //         this.previewFile(resp.data.data);
      //       }
      //       this.submitDialog.show = false;
      //     } else {
      //       this.submitDialog.mode = "error";
      //       this.submitDialog.message =
      //         resp.data.errorMessage.length > 0
      //           ? resp.data.errorMessage.toUpperCase()
      //           : resp.data.errordescription.toUpperCase();
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //     this.submitDialog.mode = "error";
      //   });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");

      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Claim " + this.reportCode + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
      this.$refs["columnReport"].setValue([]);
    },

    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    acctExecTextItem: (item) =>
      item.loginData.username + " - " + item.personalData.fullname,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

