<template>
  <v-card flat>
    <v-card class="px-0 py-0" elevation="0">
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Loss Date From</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.lossFrom.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Loss Date From"
                    v-model="param.lossFrom"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.lossFrom.menu = !filter.lossFrom.menu"
                      text
                      icon
                      style="height: auto; width: auto"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.lossFrom"
                  no-title
                  @input="filter.lossFrom.menu = false"
                  :max="param.lossTo"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Loss Date To</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.lossTo.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Loss Date To"
                    v-model="param.lossTo"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.lossTo.menu = !filter.lossTo.menu"
                      text
                      icon
                      style="height: auto; width: auto"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.lossTo"
                  no-title
                  @input="filter.lossTo.menu = false"
                  :min="param.lossFrom"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <!--  -->

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Client<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client"
                hide-details="auto"
                v-model="param.customer"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Claim No<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Insert Claim Number"
                type="text"
                v-model="param.claimNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="claimNo"
                name="claimNo"
                class="ma-0"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Adjuster<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Adjuster"
                hide-details="auto"
                v-model="param.adjuster"
                ref="adjuster"
                name="adjuster"
                @keyup="autocompSearch(filter.adjuster)"
                :search-input.sync="
                  filter.adjuster.urlParam['codeOrName.contains']
                "
                :items="filter.adjuster.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.adjuster.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Adjuster Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Underwriter</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.underwriter"
                label="Search Underwriter"
                hide-details="auto"
                ref="underwriter"
                name="underwriter"
                :items="filter.underwriter.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.underwriter.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                @keyup="autocompSearch(filter.underwriter)"
                :search-input.sync="
                  filter.underwriter.urlParam['codeOrName.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Claim Officer</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.claimOfficer"
                label="Select Claim Officer"
                hide-details="auto"
                ref="claimOfficer"
                name="claimOfficer"
                :items="filter.claimOfficer.items"
                item-value="loginData.userId"
                item-text="personalData.fullname"
                :loading="filter.claimOfficer.loading"
                @keyup="autocompSearch(filter.claimOfficer)"
                :search-input.sync="
                  filter.claimOfficer.urlParam['fullname.contains']
                "
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Currency"
                hide-details="auto"
                v-model="param.currency"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                :item-text="currencyTextItem"
                clearable
                class="ma-0"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Claim Status</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.claimStatus"
                label="Select Claim Status"
                hide-details="auto"
                ref="claimStatus"
                name="claimStatus"
                :items="filter.claimStatus.items"
                item-value="val"
                item-text="text"
                :loading="filter.claimStatus.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Class of Risk</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.riskClass"
                label="Select Class of Risk"
                hide-details="auto"
                ref="risk"
                name="risk"
                :items="filter.riskClass.items"
                item-value="riskCode"
                item-text="codeAndName"
                :loading="filter.riskClass.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.segment"
                label="Select Segment"
                hide-details="auto"
                ref="segment"
                name="segment"
                :items="filter.segment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.segment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 5 -->

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import XLSX from "sheetjs-style";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  props: ["reportCode"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      id: "",
      lossFrom: "",
      lossTo: "",
      customer: "",
      customerType: "",
      claimNo: "",
      claimOfficer: "",
      currency: "",
      claimStatus: "",
      riskClass: "",
      underwriter: "",
      segment: "",
      adjuster: "",
      output: "XLSX",
      column: [],
    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      lossFrom: {
        dataValue: "",
        menu: false,
      },
      lossTo: {
        dataValue: "",
        menu: false,
      },
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: false,
        request: null,
        lookupUrl: 2,
      },
      adjuster: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/adjuster?",
        urlParam: { "codeOrName.contains": "" },
        loading: false,
        request: null,
        lookupUrl: 2,
      },
      riskClass: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: false,
        request: null,
        lookupUrl: 1,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: false,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: false,
      },
      output: {
        items: [
          // { value: "", text: "Preview" },
          // { value: "DOCX", text: "Generate DOCX" },
          { value: "XLSX", text: "Generate XLSX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
      customerType: {
        items: ["Client", "Adjuster", "All"],
      },
      claimOfficer: {
        value: "claimOfficer",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/?",
        urlParam: { size: -1, "isActive.equals": 1, "fullname.contains": "" },
        loading: false,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: false,
      },
      claimStatus: {
        items: [
          { val: 0, text: "Entry" },
          { val: 1, text: "Notify" },
          { val: 2, text: "Closed" },
        ],
        loading: false,
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    listColumn: [
      {
        code: "no",
        name: "No.",
        field: "no",
      },
      {
        code: "code",
        name: "Code",
        field: "client_code",
      },
      {
        code: "clientName",
        name: "Client Name",
        field: "client_name",
      },
      {
        code: "refNo",
        name: "Ref. No",
        field: "claim_ref_no",
      },
      {
        code: "officer",
        name: "Officer",
        field: "officer",
      },
      {
        code: "risk",
        name: "Risk",
        field: "risk",
      },
      {
        code: "policyNumber",
        name: "Policy Number",
        field: "policy_no",
      },
      {
        code: "segment",
        name: "Segment",
        field: "code_segment",
      },
      {
        code: "remark",
        name: "Remark",
        field: "remark",
      },
      {
        code: "details",
        name: "Details",
        field: "details",
      },
      {
        code: "periodFrom",
        name: "Period From",
        field: "period_from_date",
      },
      {
        code: "periodTo",
        name: "Period To",
        field: "period_to_date",
      },
      {
        code: "sumInsured",
        name: "Sum Insured",
        field: "sum_insured",
        currency: true,
      },
      {
        code: "clientGroup",
        name: "Client Group",
        field: "group_code",
      },
      {
        code: "clientGroupName",
        name: "Client Group Name",
        field: "group_name",
      },
      {
        code: "uwriter",
        name: "Uwriter",
        field: "uwriter",
      },
      {
        code: "share",
        name: "Share",
        field: "sharing_percentage",
      },
      {
        code: "idrAmount",
        name: "IDR Amount",
        field: "idr_amount",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "idrDeductible",
        name: "IDR Deductible",
        field: "idr_deductible",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "idrRecovery",
        name: "IDR Salvage/Recovery",
        field: "idr_recovery",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "usdAmount",
        name: "USD Amount",
        field: "usd_amount",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "usdDeductible",
        name: "USD Deductible",
        field: "usd_deductible",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "usdRecovery",
        name: "USD Salvage/Recovery",
        field: "usd_recovery",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "idrClientNet",
        name: "IDR Client Net",
        field: "idr_claim_paid",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "usdClientNet",
        name: "USD Client Net",
        field: "usd_claim_paid",
        formulaTotal: true,
        currency: true,
      },
      {
        code: "idrClientReceived",
        name: "IDR UW Received",
        field: "idr_uw_received",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "usdClientReceived",
        name: "USD UW Received",
        field: "usd_uw_received",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "idrClientPaid",
        name: "IDR Client Paid",
        field: "idr_client_paid",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "usdClientPaid",
        name: "USD Client Paid",
        field: "usd_client_paid",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "clientCdnNet",
        name: "Client CDN No",
        field: "cdn_no",
      },
      // {
      //   code: "idrClientPaid",
      //   name: "IDR Client Paid",
      //   field: "idr_claim_paid",
      // },
      // {
      //   code: "usdClientPaid",
      //   name: "USD Client Paid",
      //   field: "usd_claim_paid",
      // },
      {
        code: "cdnAmount",
        name: "Amount",
        field: "cdn_amount",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "cdnCurrency",
        name: "Currency",
        field: "cdn_currency",
      },
      {
        code: "cdnDate",
        name: "CDN Date",
        field: "cdn_date",
      },
      {
        code: "clientReceived",
        name: "UW Received",
        field: "uw_received",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "clientReceivedDate",
        name: "UW Received Date",
        field: "uw_received_date",
      },
      {
        code: "clientPaid",
        name: "Client Paid",
        field: "client_paid",
        // formulaTotal: true,
        currency: true,
      },
      {
        code: "clientPaidDate",
        name: "Client Paid Date",
        field: "client_paid_date",
      },
      {
        code: "adjuster",
        name: "Adjuster",
        field: "adjuster_code",
      },
      {
        code: "adjusterRef",
        name: "Adjuster Ref",
        field: "adjuster_ref",
      },
      {
        code: "adjusterCdnNo",
        name: "Adjuster CDN/CCN No",
        field: "adjuster_cdn_no",
      },
      {
        code: "adjusterFee",
        name: "Adjuster Fee",
        field: "adjuster_fee",
        currency: true,
      },
      {
        code: "adjusterCurrency",
        name: "Adjuster Currency",
        field: "adjuster_currency",
      },
      {
        code: "adjusterCdnDate",
        name: "Adjuster CDN Date",
        field: "adjuster_cdn_date",
      },
      {
        code: "adjusterReceivedDate",
        name: "Adjuster Received Date",
        field: "adjuster_received_date",
      },
      {
        code: "adjusterPaidDate",
        name: "Adjuster Paid Date",
        field: "adjuster_paid_date",
      },
      {
        code: "status",
        name: "Status",
        field: "status",
      },
      {
        code: "dateOfLoss",
        name: "Date of Loss",
        field: "date_loss",
      },
      {
        code: "adviceDate",
        name: "Advice Date",
        field: "date_advice",
      },
      {
        code: "entryDate",
        name: "Entry Date",
        field: "date_entry",
      },
      {
        code: "finalizedDate",
        name: "Finalized Date",
        field: "date_closed",
      },
      {
        code: "progressStatus",
        name: "Progress Status",
        field: "progress_status",
      },
      {
        code: "progressDescription",
        name: "Progress Description",
        field: "description",
      },
      {
        code: "progressDate",
        name: "Progress Date",
        field: "review_date",
      },
      {
        code: "notification",
        name: "Notification",
        field: "notification_date",
      },
      {
        code: "survey",
        name: "Survey",
        field: "survey_date",
      },
      {
        code: "document",
        name: "Document",
        field: "document_date",
      },
      {
        code: "offer",
        name: "Offer",
        field: "offer_date",
      },
      {
        code: "claimCollection",
        name: "Claim Collection",
        field: "collection_date",
      },
      {
        code: "paymentDate",
        name: "Payment Date",
        field: "payment_date",
      },
    ],
  }),
  created() {
    this.param.id = this.$route.query.id;
    this.listColumn = this.listColumn.map((o, i) => {
      if (o.child) {
        o.child = o.child.map((p, k) => {
          return {
            ...p,
            order: k + 1,
          };
        });
      }
      return {
        ...o,
        order: i + 1,
      };
    });
    this.initList([
      // "customer",
      // "adjuster",
      // "underwriter",
      // "claimOfficer",
      "currency",
      "riskClass",
      "segment",
      // "acctExec",
    ]);
  },
  computed: {
    form() {
      return {
        // customer: this.param.customer
      };
    },
    customerLabel: function () {
      let label = "Search Client / Adjuster";
      if (this.param.customerType == "Client") {
        label = "Search Client";
      } else if (this.param.customerType == "Agent") {
        label = "Search Agent";
      } else if (this.param.customerType == "Adjuster") {
        label = "Search Adjuster";
      }
      return label;
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    initList(list) {
      let masterData = JSON.parse(localStorage.getItem("masterData"))
      for (let l of list) {
        if (l == "segment") {
          this.filter[l].items = masterData.BUSINESS_SEGMENT;
          this.filter[l].loading = false;
          continue;
        } else if (l == "riskClass") {
          this.filter[l].items = masterData["master-risk"];
          this.filter[l].loading = false;
          continue;
        }
        API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
            this.filter[l].loading = false;
          }
        );
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    isDate(date) {
      try {
        return /^(\d{4})-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d)\.(\d\d\d)\+(\d\d):(\d\d)$/.test(date)
      }catch(e) {
        return false;
      }
    },
    createExcel(headers, rows, groups, summaryHeader) {
      console.log(headers, rows, groups);
      var i = 0, j = 0;
      var objectMaxLength = [];
      if (headers.length > 0) {
        const nameOfHeaders = headers.map((h) => h.name);
        for (i = 0; i < nameOfHeaders.length; i++) {
          if (typeof nameOfHeaders[i] == "number") {
            objectMaxLength[i] = 10;
          } else {
            objectMaxLength[i] =
              objectMaxLength[i] != undefined &&
              nameOfHeaders[i] != undefined &&
              objectMaxLength[i] >= nameOfHeaders[i].length
                ? objectMaxLength[i]
                : nameOfHeaders[i] != undefined
                ? nameOfHeaders[i].length
                : 20;
          }
        }
      }
      for (i = 0; i < rows.length; i++) {
        const row = rows[i];
        const keys = Object.keys(row);
        for (j = 0; j < keys.length; j++) {
          const key = keys[j];
          if (
            objectMaxLength[j] != undefined &&
            row[key] != undefined &&
            row[key] != null
          ) {
            if (!isNaN(row[key])) {
              objectMaxLength[j] =
                objectMaxLength[j] >= row[key].toString().length + 10
                  ? objectMaxLength[j]
                  : row[key].toString().length + 10;
            } else if (this.isDate(row[key])) {
              objectMaxLength[j] =
                objectMaxLength[j] >= 15
                  ? objectMaxLength[j]
                  : 15;
            } else {
              objectMaxLength[j] =
                objectMaxLength[j] >= row[key].toString().length + 5
                  ? objectMaxLength[j]
                  : row[key].toString().length + 5;
            }
          } else {
            if (objectMaxLength[j] == undefined) {
              objectMaxLength[j] = 20;
            }
          }
        }
      }

      const wsCols = objectMaxLength.map((v) => {
        return {
          width: v,
        };
      });
      // // Buat Workbook
      const fileName = "AOA_XLS";
      const firstColumn = 0;
      const firstRow = 5;
      let wb = XLSX.utils.book_new();
      wb.Props = {
        Title: fileName,
        Author: "",
        CreatedDate: new Date(),
      };
      // Buat Sheet
      wb.SheetNames.push("Sheet 1");
      // Buat Sheet dengan Data
      let ws = XLSX.utils.json_to_sheet(rows, {
        skipHeader: true,
        origin: XLSX.utils.encode_cell({r:firstRow, c: firstColumn}),
        cellStyles: true,
      });
      const mergeCompanyTitle = 5;
      const mergeTitleDocument = 11;
      // const mergePrintedDate = headers.length - (mergeTitleDocument + mergeCompanyTitle);
      const posTitleDocument = XLSX.utils.encode_cell({r:0, c:mergeCompanyTitle + 1});
      const posPrintedDate = XLSX.utils.encode_cell({r:0, c:(mergeCompanyTitle + mergeTitleDocument + 2)});
      const posPrintedBy = XLSX.utils.encode_cell({r:1, c:(mergeCompanyTitle + mergeTitleDocument + 2)});
      const dateNow = new Date();
      const dateNowString = [dateNow.getDate(), dateNow.getMonth() + 1, dateNow.getFullYear()].join("/");
      let username = "";
      if (localStorage.getItem("skipLogin")) {
        console.log("skipLogin");
      } else {
        let token = JSON.parse(localStorage.getItem("token"));
        username = token.fullname;
      }
      ws["A1"] = {
        t: "s",
        v: "PT IBS Insurance Broking Service",
        s: {
          alignment: {
            vertical: "center",
            horizontal: "left",
          },
          font: {
            bold: true,
            sz: 12,
          },
        },
      };
      ws[posTitleDocument] = {
        t: "s",
        v: "Claim Full Report",
        s: {
          alignment: {
            vertical: "center",
            horizontal: "center",
          },
          font: {
            bold: true,
            sz: 12,
          },
        },
      };
      ws[posPrintedDate] = {
        t: "s",
        v: "Printed Date : " + dateNowString,
        s: {
          alignment: {
            vertical: "center",
            horizontal: "right",
          },
          font: {
            bold: true,
            sz: 12,
          },
        },
      };
      ws[posPrintedBy] = {
        t: "s",
        v: "Printed By : " + username,
        s: {
          alignment: {
            vertical: "center",
            horizontal: "right",
          },
          font: {
            bold: true,
            sz: 12,
          },
        },
      };
      var headerStyle = {
        fill: {
          patternType: "solid",
          fgColor: {
            rgb: "C0C0C0",
          },
        },
        alignment: {
          vertical: "center",
          horizontal: "center",
          // wrapText: true,
        },
        font: {
          bold: true,
        },
        border: {
          top: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
          bottom: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
          left: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
          right: {
            style: "medium",
            color: {
              rgb: "000000",
            },
          },
        },
      };
      var headerGroupStyle = {
        fill: {
          patternType: "solid",
          fgColor: {
            rgb: "C0C0C0",
          },
        },
        alignment: {
          vertical: "center",
          horizontal: "center",
          // wrapText: true,
        },
        font: {
          bold: true,
        },
      };
      var cellDefaultStyle = {
        // alignment: {
        //   wrapText: true,
        // },
        border: {
          top: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
          bottom: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
          left: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
          right: {
            style: "thin",
            color: {
              rgb: "000000",
            },
          },
        },
      };
      for (i = 0; i < headers.length; i++) {
        const h = headers[i];
        const pos = XLSX.utils.encode_cell({
          r: firstRow - 1,
          c: i,
        });
        if (ws[pos] == undefined) {
          XLSX.utils.sheet_add_aoa(ws, [[""]], {
            origin : pos
          })
        }
        ws[pos] = {
          t: "s",
          v: h.name,
          s: headerStyle,
        };
        if (h.formulaTotal) {
          const lastRow = firstRow + rows.length;
          const posLast = XLSX.utils.encode_cell({r:lastRow, c:i});
          XLSX.utils.sheet_add_aoa(ws, [
            [""]
          ], {origin: posLast});
          ws[posLast] = {
            t: "n",
            z: "#,##0.00",
            f: "SUM(" + XLSX.utils.encode_range({r:firstRow, c: i}, {r:firstRow + rows.length - 1, c: i}) + ")",
            s: {
              numFmt: "#,##0.00",
              font: {
                bold: true,
              },
              ...cellDefaultStyle,
            },
          };
        }
        for (j = 0; j < rows.length; j++) {
          const pos2 = XLSX.utils.encode_cell({
            r: firstRow + j,
            c: i,
          });
          if (ws[pos2] == undefined) {
            XLSX.utils.sheet_add_aoa(ws, [[""]], {
              origin : pos2
            });
          }
          ws[pos2].s = {...cellDefaultStyle,};
          if (ws[pos2].v == null) {
            ws[pos2].t = "s";
            ws[pos2].v = "";
          }
           else {
            if (!isNaN(ws[pos2].v)) {
              ws[pos2].t = "n";
              if (ws[pos2].v.toString().lastIndexOf(".") > -1 || h.currency != undefined && h.currency) {
                ws[pos2].z = "#,##0.00";
                ws[pos2].s["numFmt"] = "#,##0.00";
              }else{
                ws[pos2].z = "0";
                ws[pos2].s["numFmt"] = "0";
              }
            } else if (this.isDate(ws[pos2].v)) {
              // console.log("INI DATE ", ws[pos2].v);
              ws[pos2].t = "d";
              ws[pos2].z = "dd/mm/yyyy";
              ws[pos2].s["numFmt"] = "dd/mm/yyyy";
            }
          }
          if (h.code == "share" && ws[pos2].v != null && ws[pos2].v != "") {
            ws[pos2].v = (ws[pos2].v / 100);
            ws[pos2].z = "0.00%";
            ws[pos2].s.numFmt = "0.00%";
          }
        }
      }
      ws["!cols"] = wsCols;
      ws["!rows"] = [
        {},
        {},
        {},
        {},
        {
          hpx: 30,
        },
      ];
      if (!ws["!merges"]) ws["!merges"] = [];
      ws["!merges"].push(
        XLSX.utils.decode_range(
          XLSX.utils.encode_range({r:0, c:0}, {r:0,c:mergeCompanyTitle})
        ),
        XLSX.utils.decode_range(
          XLSX.utils.encode_range({r:0, c:mergeCompanyTitle + 1}, {r:0,c:(mergeCompanyTitle + 1) + mergeTitleDocument})
        ),
        XLSX.utils.decode_range(
          XLSX.utils.encode_range({r:0, c:mergeCompanyTitle + mergeTitleDocument + 2}, {r:0,c:headers.length - 1})
        ),
        XLSX.utils.decode_range(
          XLSX.utils.encode_range({r:1, c:mergeCompanyTitle + mergeTitleDocument + 2}, {r:1,c:headers.length - 1})
        ),
      );
      for (let iGroup = 0; iGroup < groups.length; iGroup++) {
        const g = groups[iGroup];
        const pos = XLSX.utils.encode_cell({r:firstRow-2, c:g.start-1});
        if (ws[pos] == undefined) {
          XLSX.utils.sheet_add_aoa(ws, [[""]], {
            origin : pos
          })
        }
        ws[pos] = {
          t: "s",
          v: g.v,
          s: headerGroupStyle
        };
        const cellMerge = 
          XLSX.utils.decode_range(
            XLSX.utils.encode_range({r:firstRow - 2, c:g.start-1}, {r:firstRow - 1, c:g.end-1})
          );
        ws["!merges"].push(cellMerge);
      }
      var lastCellObj = XLSX.utils.decode_range(ws["!ref"]).e;
      var colStartSummary = this.findIndexHeader(headers, "idrAmount");
      var rowNewSummary = lastCellObj.r+2;
      var totalColumnSummary = 4;
      var fieldGroupSummary = ["Gross Loss Reserve", "Deductible", "Salvage", "Interim Claim Payment", "Final Claim Payment", /*"Paid",*/ "Outstanding Claim", "Finalized Claim with Payment", "Closed Without Payment", "Total Record", "Reopen", "Adjuster/Surveyor Fee"];
      var groupSummaryArr = [
        [
          "",
          "No.",
          "IDR",
          "USD",
        ],
        ...fieldGroupSummary.map(j => [j, "", "", ""])
      ];
      XLSX.utils.sheet_add_aoa(ws, groupSummaryArr, {
        origin: XLSX.utils.encode_cell({
          c: colStartSummary,
          r: rowNewSummary,
        }),
      });
      for (i = 0; i <= fieldGroupSummary.length; i++) {
        // const groupSummary = fieldGroupSummary[i];
        for (j = 0; j < totalColumnSummary; j++) {
          const pos = XLSX.utils.encode_cell({
            c: colStartSummary + j,
            r: rowNewSummary + i
          });
          ws[pos].s = {
            ...cellDefaultStyle,
            alignment: {
              vertical: "center",
              horizontal: "center",
              // wrapText: true,
            },
          };
        }
      }

      summaryHeader.splice(fieldGroupSummary.indexOf("Outstanding Claim"), 0, 
        [
          "(COUNTIFS(" +
            XLSX.utils.encode_range({r:firstRow, c: this.findIndexHeader(headers, "status")}, {r:firstRow + rows.length - 1, c: this.findIndexHeader(headers, "status")})
          + ", \"Notify\") + COUNTIFS(" +
            XLSX.utils.encode_range({r:firstRow, c: this.findIndexHeader(headers, "status")}, {r:firstRow + rows.length - 1, c: this.findIndexHeader(headers, "status")})
          + ", \"Entry\"))",
          // XLSX.utils.encode_cell({r:rowNewSummary+1, c:colStartSummary+1}) + "-" 
          // + XLSX.utils.encode_cell({r:rowNewSummary+5, c:colStartSummary+1}),
          XLSX.utils.encode_cell({r:rowNewSummary+1, c:colStartSummary+2}) + "-"
          + XLSX.utils.encode_cell({r:rowNewSummary+2, c:colStartSummary+2}) + "-"
          + XLSX.utils.encode_cell({r:rowNewSummary+3, c:colStartSummary+2}) + "+"
          + XLSX.utils.encode_cell({r:rowNewSummary+4, c:colStartSummary+2}) + "+"
          + XLSX.utils.encode_cell({r:rowNewSummary+5, c:colStartSummary+2}),
          XLSX.utils.encode_cell({r:rowNewSummary+1, c:colStartSummary+3}) + "-"
          + XLSX.utils.encode_cell({r:rowNewSummary+2, c:colStartSummary+3}) + "-"
          + XLSX.utils.encode_cell({r:rowNewSummary+3, c:colStartSummary+3}) + "+"
          + XLSX.utils.encode_cell({r:rowNewSummary+4, c:colStartSummary+3}) + "+"
          + XLSX.utils.encode_cell({r:rowNewSummary+5, c:colStartSummary+3}),
        ]
      );

      var valueArray = summaryHeader;

      for (i = 0; i < valueArray.length; i++) {
        for (j = 0; j < valueArray[i].length; j++) {
          if (typeof valueArray[i][j] == "number") {
            ws[XLSX.utils.encode_cell({
              c: colStartSummary + 1 + j,
              r: rowNewSummary + 1 + i
            })] = {
              t: "n",
              z: (j == 0 ? "0" : "#,##0.00"),
              v: valueArray[i][j],
              s: {
                numFmt: (j == 0 ? "0" : "#,##0.00"),
                ...cellDefaultStyle,
                alignment: {
                  vertical: "center",
                  horizontal: (j == 0 ? "center" : "right"),
                  // wrapText: true,
                },
              },
            }
          } else if (typeof valueArray[i][j] == "string") {
            if (valueArray[i][j] != "") {
              ws[XLSX.utils.encode_cell({
                c: colStartSummary + 1 + j,
                r: rowNewSummary + 1 + i
              })] = {
                t: "n",
                z: (j == 0 ? "0" : "#,##0.00"),
                f: valueArray[i][j],
                s: {
                  numFmt: (j == 0 ? "0" : "#,##0.00"),
                  ...cellDefaultStyle,
                  alignment: {
                    vertical: "center",
                    horizontal: (j == 0 ? "center" : "right"),
                    // wrapText: true,
                  },
                },
              }
            } else {
              ws[XLSX.utils.encode_cell({
                c: colStartSummary + 1 + j,
                r: rowNewSummary + 1 + i
              })] = {
                t: "s",
                v: "",
                s: {
                  ...cellDefaultStyle, 
                  alignment: {
                    vertical: "center",
                    horizontal: "center",
                    // wrapText: true,
                  },
                },
              }
            }
          }
        }
      }
      // ws['!cols'] = [];
      // ws['!cols'][1] = { hidden: true };
      console.log(ws);
      wb.Sheets["Sheet 1"] = ws;

      try {
        var w = XLSX.write(wb, {
          type: "base64",
          bookType: "xlsx",
        });
        this.saveFile(w, "xlsx");
        // Simpan filenya
        // XLSX.writeFile(wb, `${downloadFolder}${path.sep}${fileName}.xls`);
      } catch (e) {
        console.log(e.message);
      }
    },
    findIndexHeader(headers, code) {
      return [...headers].findIndex(v => v.code == code);
    },
    async viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/dynamic-report";

      let paramJSON = {
        code: "CLAIMFULLHEADERREPORT",
        fileType: this.param.output == "" ? "XLSX" : this.param.output,
        filter: {
          lossDateFrom: this.param.lossFrom,
          lossDateTo: this.param.lossTo,
          client: this.param.customer,
          adjuster: this.param.adjuster,
          claimNo: this.param.claimNo,
          underwriter: this.param.underwriter,
          claimOfficer: this.param.claimOfficer.toString(),
          currency: this.param.currency,
          claimStatus: this.param.claimStatus.toString(),
          classOfRisk: this.param.riskClass,
          segment: this.param.segment,
        },
        column: [],
        isAllColumn: true,
        group: "CLAIM2",
      };

      let paramJSON2 = {
        code: "CLAIMFULLDETAILREPORT",
        fileType: this.param.output == "" ? "XLSX" : this.param.output,
        filter: {
          "underwriter" : this.param.underwriter,
          "currency" : this.param.currency,
          client: this.param.customer,
        },
        column: [],
        isAllColumn: true,
        group: "CLAIM2",
      };

      let paramJSON3 = {
        code: "CLAIMFULLDETAILADJUSTERREPORT",
        fileType: this.param.output == "" ? "XLSX" : this.param.output,
        filter: {
          "underwriter" : this.param.underwriter,
          "currency" : this.param.currency,
          adjuster: this.param.adjuster,
        },
        column: [],
        isAllColumn: true,
        group: "CLAIM2",
      };
      // paramJSON.isAllColumn = (this.listColumn.filter(v => v.field != "").length == paramJSON.column.length);
      // if (paramJSON.isAllColumn) paramJSON.column = []
      // else if (paramJSON.column.length == 0) paramJSON.column = this.listColumn.filter(v => v.field != "").sort( (a,b) => a.order - b.order).map(v => v.field);
      let param = JSON.stringify(paramJSON);
      
      try {
        var resp = await API.post(docUrl, param);
        if (resp.data.code === 0) {
          if (paramJSON.fileType == "PDF") {
            this.saveFile(resp.data.dataBase64, paramJSON.fileType);
          } else {
          // let detail = resp.data.data.map(function (e) {
          //   paramJSON2.filter["claimRefNo"] = e.claim_ref_no.toString();
          //   let param2 = JSON.stringify(paramJSON2);
          //   return API.post(docUrl, param2);
          // });
          let claimRefNo = resp.data.data.map(function (e) {
            return e.claim_ref_no.toString();
          });
          // let detail2 = resp.data.data.map(function (e) {
          //   paramJSON3.filter["claimRefNo"] = e.claim_ref_no.toString();
          //   let param3 = JSON.stringify(paramJSON3);
          //   return API.post(docUrl, param3);
          // });
          paramJSON2.filter["claimRefNo"] = claimRefNo;
          var apiDetail = await API.post(docUrl, JSON.stringify(paramJSON2));
          paramJSON3.filter["claimRefNo"] = claimRefNo;
          var apiDetail2 = await API.post(docUrl, JSON.stringify(paramJSON3));
          var dataApiDetail = apiDetail.data.data || [];
          var dataApiDetail2 = apiDetail2.data.data || [];

          const reducerSum = (previousValue, currentValue) => previousValue + currentValue;

          var summaryHeader = [
            [
              "",
              [...resp.data.data].filter(o => o.idr_amount != undefined && o.idr_amount != null).map(o => o.idr_amount).reduce(reducerSum, 0),
              [...resp.data.data].filter(o => o.usd_amount != undefined && o.usd_amount != null).map(o => o.usd_amount).reduce(reducerSum, 0),
            ],
            [
              "",
              [...resp.data.data].filter(o => o.idr_deductible != undefined && o.idr_deductible != null).map(o => o.idr_deductible).reduce(reducerSum, 0),
              [...resp.data.data].filter(o => o.usd_deductible != undefined && o.usd_deductible != null).map(o => o.usd_deductible).reduce(reducerSum, 0),
            ],
            [
              "",
              [...resp.data.data].filter(o => o.idr_recovery != undefined && o.idr_recovery != null).map(o => o.idr_recovery).reduce(reducerSum, 0),
              [...resp.data.data].filter(o => o.usd_recovery != undefined && o.usd_recovery != null).map(o => o.usd_recovery).reduce(reducerSum, 0),
            ],
            [
              [...resp.data.data].filter(o => o.count_interim != undefined && o.count_interim != null).filter(o => o.count_interim == 1).length,
              [...resp.data.data].filter(o => o.claim_paid_interim_idr != undefined && o.claim_paid_interim_idr != null).map(o => o.claim_paid_interim_idr).reduce(reducerSum, 0),
              [...resp.data.data].filter(o => o.claim_paid_interim_usd != undefined && o.claim_paid_interim_usd != null).map(o => o.claim_paid_interim_usd).reduce(reducerSum, 0),
            ],
            [
              [...resp.data.data].filter(o => o.count_final != undefined && o.count_final != null).filter(o => o.count_final == 1).length,
              [...resp.data.data].filter(o => o.claim_paid_final_idr != undefined && o.claim_paid_final_idr != null).map(o => o.claim_paid_final_idr).reduce(reducerSum, 0),
              [...resp.data.data].filter(o => o.claim_paid_final_usd != undefined && o.claim_paid_final_usd != null).map(o => o.claim_paid_final_usd).reduce(reducerSum, 0),
            ],
            [
              [...resp.data.data].map(o => o.final_with_payment).reduce(reducerSum, 0),
              "",
              "",
            ],
            [
              [...resp.data.data].map(o => o.closed_without_payment).reduce(reducerSum, 0),
              "",
              "",
            ],
            [
              [...resp.data.data].length,
              "",
              "",
            ],
            [
              [...resp.data.data].filter(o => o.count_reopen != undefined && o.count_reopen != null).filter(o => o.count_reopen == 1).length,
              "",
              "",
            ],
            [
              [...dataApiDetail2].filter(o => (o.adjuster_fee != undefined && o.adjuster_fee != null)).map(o => o.claim_ref_no).filter((v,i,s) => s.indexOf(v) === i).length,
              [...dataApiDetail2].filter(o => (o.adjuster_fee != undefined && o.adjuster_fee != null) && (o.adjuster_currency != undefined && o.adjuster_currency != null && o.adjuster_currency == "IDR")).map(o => o.adjuster_fee).reduce(reducerSum, 0),
              [...dataApiDetail2].filter(o => (o.adjuster_fee != undefined && o.adjuster_fee != null) && (o.adjuster_currency != undefined && o.adjuster_currency != null && o.adjuster_currency == "USD")).map(o => o.adjuster_fee).reduce(reducerSum, 0),
            ],
          ];
          console.log(summaryHeader);
          
          var respDataData = [];
          for(var i = 0; i < resp.data.data.length; i++) {
            // respDataData.push({...resp.data.data[i], no: i+1});
            var itemData = resp.data.data[i];
            respDataData.push({...resp.data.data[i], no: i+1},
            ...dataApiDetail.filter(v=>v.claim_ref_no == itemData.claim_ref_no).map(v => {
              delete v["claim_ref_no"];
              return {
                ...v,
                uwriter : v.uwcode,
              };
            }),
            ...dataApiDetail2.filter(v=>v.claim_ref_no == itemData.claim_ref_no).map(v => {
              delete v["claim_ref_no"];
              return {
                ...v,
                uwriter : v.uwcode,
              };
            }));
          }
          resp.data.data = respDataData;
          
          var d = [];
          var c = this.listColumn;
          var lc = this.listColumn;
          if (c.length == 0) c = lc;
          var columns = c
            // .filter((v) => v.field != "")
            .sort((a, b) => a.order - b.order);
          var headers = columns;
          var columnsHasGroup = c
            .filter((v) => v.child != undefined)
            .sort((a, b) => a.order - b.order);
          columnsHasGroup.forEach((cg, i) => {
            var totalAfterAdd = 0;
            if (i > 0) {
              for (var l = 0; l < i; l++) {
                totalAfterAdd += columnsHasGroup[l].order + columnsHasGroup[l].child.length;
              }
              totalAfterAdd -= cg.order;
            }
            cg.child.forEach((cgv, j) => {
              headers.splice(cg.order + totalAfterAdd + j, 0, {
                code: cgv.code,
                name: cgv.name,
              });
            });
          });
          columnsHasGroup = columnsHasGroup.map((o, i, a) => {
            if (i > 0) {
              const prevO = a[i-1];
              const start = (c.indexOf(prevO) + 1) + prevO.child.length + ((c.indexOf(o) + 1) - (c.indexOf(prevO) + 1));
              const end = start + o.child.length - 1;
              return {
                start: start,
                end: end,
                v: o.name,
              };
            } else {
              return {
                start: (c.indexOf(o) + 1) + 1,
                end: (c.indexOf(o) + 1) + o.child.length,
                v: o.name,
              };
            }
          });
          for (var iRow = 0; iRow < resp.data.data.length; iRow++) {
            var item = {};
            var row = resp.data.data[iRow];
            // item["no"] = iRow + 1;
            if (columns.length > 0) {
              for (var iColumn = 0; iColumn < columns.length; iColumn++) {
                var column = columns[iColumn];
                if (column.child != undefined) {
                  var columnsChild = column.child
                    // .filter((v) => v.field != undefined && v.field != "")
                    .sort((a, b) => a.order - b.order);
                  for (
                    var iColumnChild = 0;
                    iColumnChild < columnsChild.length;
                    iColumnChild++
                  ) {
                    var columnChild = columnsChild[iColumnChild];
                    item[columnChild.code] = (columnChild.field == undefined) ? "" : row[columnChild.field];
                  }
                } else {
                  item[column.code] = (column.field == undefined) ? "" : row[column.field];
                }
              }
            } else {
              item = {
                ...item,
                ...row,
              };
            }
            d.push(item);
          }
          this.createExcel(headers, d, columnsHasGroup, summaryHeader);
          }
          this.submitDialog.show = false;
        } else {
          this.submitDialog.mode = "error";
          this.submitDialog.message =
            resp.data.errorMessage.length > 0
              ? resp.data.errorMessage.toUpperCase()
              : resp.data.errordescription.toUpperCase();
        }
      } catch (error) {
        console.log(error);
        this.submitDialog.mode = "error";
      }

      // console.log(paramJSON);
      // API.post(docUrl, param)
      //   .then((resp) => {
      //     if (resp.data.code === 0) {
      //       var d = [];
      //       resp.data.data.forEach(function (row) {
      //         var item = {};
      //         $this.param.column.filter(v => v.field != "").sort( (a,b) => a.order - b.order).forEach(function (field) {
      //           item[field] = row[field];
      //         });
      //         d.push(item);
      //       });
      //       console.log(d);
      //       if (this.param.output != "") {
      //         this.saveFile(resp.data.data, paramJSON.fileType);
      //       } else {
      //         this.previewFile(resp.data.data);
      //       }
      //       this.submitDialog.show = false;
      //     } else {
      //       this.submitDialog.mode = "error";
      //       this.submitDialog.message =
      //         resp.data.errorMessage.length > 0
      //           ? resp.data.errorMessage.toUpperCase()
      //           : resp.data.errordescription.toUpperCase();
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //     this.submitDialog.mode = "error";
      //   });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");

      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Claim Full." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
      this.$refs["columnReport"].setValue([]);
    },

    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    acctExecTextItem: (item) =>
      item.loginData.username + " - " + item.personalData.fullname,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

