<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar
        title="Invoice Management"
        dark
        color="secondary"
        icon="mdi-receipt"
      >
      </isttoolbar>
      <isttoolbar
        :title="`View ${invoiceType}`"
        class="mb-6"
        dark
        color="primary"
        v-if="this.$route.query.statusPage === 'view' && this.$route.query.endorse === 'view'"
      ></isttoolbar>
      <isttoolbar
        :title="`Edit ${invoiceType}`"
        class="mb-6"
        dark
        color="primary"
        v-if="invoice.statusPage === 'edit' && this.$route.query.endorse === 'view'"
      ></isttoolbar>
    </div>
    <div class="buttonFixed mr-4">
      <v-row>
        <v-btn
          v-if="invoice.statusPage === 'edit'"
          height="40"
          width="100"
          class="mr-2"
          outlined
          color="white"
          @click="submit()"
          >Save</v-btn
        >
        <v-btn
          v-if="invoice.statusPage === 'edit'"
          height="40"
          width="100"
          outlined
          color="white"
          @click="cancel()"
          >
          <!-- @click="fromEdit ? back() : cancel()" -->
          Cancel</v-btn
        >
        <template>
          <v-menu
            bottom
            offset-y
            :nudge-width="200"
            :close-on-content-click="false"
            v-if="authorities.indexOf('create-invoice-preview') !== -1 || authorities.indexOf('create-invoice-generate') !== -1"
          >
            <!-- :close-on-click="false" -->
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-show="invoice.statusPage === 'view'"
                min-height="40"
                v-bind="attrs"
                v-on="on"
                min-width="40"
                color="white"
                text
              >
                <v-icon>mdi-printer mdi-36px</v-icon>
              </v-btn>
            </template>
              <v-card width="480px">
                <v-row>
                  <v-col cols="12" class="colorLine pa-0" >
                    <v-row align="center" class="ml-2 mr-4 mt-2">
                      <v-col cols="5" class="pa-0">
                        <span class="title ml-5">Invoice To Client</span>
                      </v-col>
                      <v-col cols="2" class="pa-0" v-if="authorities.indexOf('create-invoice-preview') !== -1">
                        <v-btn
                          height="37"
                          width="90"
                          outlined
                          color="primary"
                          @click="previewClient"
                          >Preview</v-btn
                        >
                      </v-col>
                      <v-col cols="5" class="pa-0" v-if="authorities.indexOf('create-invoice-generate') !== -1">
                        <v-select
                          :items="dataGenerate"
                          solo
                          flat
                          dense
                          outlined
                          class="mr-3 ml-5 mt-1"
                          color="primary"
                          full-width
                          hide-details="auto"
                          v-model="generateClient"
                          @input="clickGenerateClient"
                          return-object
                          item-text="name"
                          name="closingInstruction"
                          ref="closingInstruction"
                          label=""
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row align="center" class="ml-2 mr-4 mt-2" v-show="invoice.invoiceType == 1">
                      <v-col cols="5" class="pa-0">
                        <span class="title ml-5">Closing Instruction</span>
                        <v-select
                          :items="dataClosingInsurance"
                          solo
                          flat
                          dense
                          class="ml-5"
                          full-width
                          hide-details="auto"
                          v-model="closingInsurance"
                          return-object
                          item-text="insuranceName"
                          name="closingInstruction"
                          ref="closingInstruction"
                          label=""
                        ></v-select>
                      </v-col>
                      <v-col cols="2" class="pa-0" v-if="authorities.indexOf('create-invoice-preview') !== -1">
                        <v-btn
                          height="37"
                          width="90"
                          outlined
                          color="primary"
                          @click="previewClosing"
                          >Preview</v-btn
                        >
                      </v-col>
                      <v-col cols="5" class="pa-0" v-if="authorities.indexOf('create-invoice-generate') !== -1">
                        <v-select
                          :items="dataGenerate"
                          solo
                          flat
                          dense
                          outlined
                          class="mr-3 ml-5 mt-1"
                          color="primary"
                          full-width
                          hide-details="auto"
                          v-model="generateClosing"
                          @input="clickGenerateClosing"
                          return-object
                          item-text="name"
                          name="closingInstruction"
                          ref="closingInstruction"
                          label=""
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row align="center" class="ml-2 mr-4 mt-2" v-show="statusAgent === true">
                      <v-col cols="5" class="pa-0">
                        <span class="title ml-5">Commission Out to Agent</span>
                        <v-select
                          :items="dataListAgent"
                          solo
                          flat
                          dense
                          class="ml-5"
                          full-width
                          hide-details="auto"
                          v-model="dataAgent"
                          return-object
                          item-text="agentName"
                          name="agentName"
                          ref="agentName"
                          label=""
                        ></v-select>
                      </v-col>
                      <v-col cols="2" class="pa-0" v-if="authorities.indexOf('create-invoice-preview') !== -1">
                        <v-btn
                          height="37"
                          width="90"
                          outlined
                          color="primary"
                          @click="previewCredit"
                          >Preview</v-btn
                        >
                      </v-col>
                      <v-col cols="5" class="pa-0" v-if="authorities.indexOf('create-invoice-generate') !== -1">
                        <v-select
                          :items="dataGenerate"
                          solo
                          flat
                          dense
                          outlined
                          class="mr-3 ml-5 mt-1"
                          color="primary"
                          full-width
                          hide-details="auto"
                          v-model="generateCredit"
                          @input="clickGenerateCredit"
                          return-object
                          item-text="name"
                          name="closingInstruction"
                          ref="closingInstruction"
                          label=""
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row align="center" class="ml-2 mr-4 mt-2 mb-2">
                      <v-col cols="5" class="pa-0">
                        <span class="title ml-5">Invoice Copy</span>
                      </v-col>
                      <v-col cols="2" class="pa-0" v-if="authorities.indexOf('create-invoice-preview') !== -1">
                        <v-btn
                          height="37"
                          width="90"
                          outlined
                          color="primary"
                          @click="previewCopy"
                          >Preview</v-btn
                        >
                      </v-col>
                      <v-col cols="5" class="pa-0" v-if="authorities.indexOf('create-invoice-generate') !== -1">
                        <v-select
                          :items="dataGenerate"
                          solo
                          flat
                          dense
                          outlined
                          class="mr-3 ml-5 mt-1"
                          color="primary"
                          full-width
                          hide-details="auto"
                          v-model="generateCopy"
                          @input="clickGenerateCopy"
                          return-object
                          item-text="name"
                          name="closingInstruction"
                          ref="closingInstruction"
                          label=""
                        ></v-select>
                      </v-col>
                    </v-row >
                    <v-row align="center" class="ml-2 mr-4 mt-2 mb-2" v-show="invoice.filename !== ''">
                      <v-col cols="5" class="pa-0">
                        <span class="title ml-5">List Multi Insured</span>
                      </v-col>
                      <v-col cols="2" class="pa-0" v-if="authorities.indexOf('create-invoice-preview') !== -1">
                        <v-btn
                          height="37"
                          width="90"
                          outlined
                          color="primary"
                          @click="previewMultiInsured"
                          >Preview</v-btn
                        >
                      </v-col>
                      <v-col cols="5" class="pa-0" v-if="authorities.indexOf('create-invoice-generate') !== -1">
                        <v-select
                          :items="dataGenerate"
                          solo
                          flat
                          dense
                          outlined
                          class="mr-3 ml-5 mt-1"
                          color="primary"
                          full-width
                          hide-details="auto"
                          v-model="generateMultiInsured"
                          @input="clickGenerateMultiInsured"
                          return-object
                          item-text="name"
                          name="closingInstruction"
                          ref="closingInstruction"
                          label=""
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row align="center" class="ml-2 mr-4 mt-2 mb-2" v-show="canMultiInsured">
                      <v-col cols="5" class="pa-0">
                        <span class="title ml-5">Object List</span>
                      </v-col>
                      <v-col cols="2" class="pa-0" v-if="authorities.indexOf('create-invoice-preview') !== -1">
                        <!-- <v-btn
                          height="37"
                          width="90"
                          outlined
                          color="primary"
                          @click="previewMultiInsured"
                          >Preview</v-btn
                        > -->
                      </v-col>
                      <v-col cols="5" class="pa-0" v-if="authorities.indexOf('create-invoice-generate') !== -1">
                        <div class="ma-0 pa-0" @click="clickObjectList">
                          <v-select
                            :items="dataGenerateOL"
                            solo
                            flat
                            dense
                            outlined
                            class="mr-3 ml-5 mt-1"
                            color="primary"
                            full-width
                            hide-details="auto"
                            v-model="generateObjectList"
                            return-object
                            item-text="name"
                            name="closingInstruction"
                            ref="closingInstruction"
                            label=""
                            append-icon=""
                            readonly
                          ></v-select>
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
          </v-menu>
        </template>
        <v-tooltip bottom v-if="invoice.statusPage === 'view' && authorities.indexOf('invoice-management-edit') !== -1">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              color="white"
              @click="change"
              text
            >
              <v-icon>mdi-pencil mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom v-if="invoice.statusPage === 'view'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              color="white"
              @click="back"
              text
            >
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>
      </v-row>
    </div>
    <!-- <div class="buttonFixed mr-4">
        <v-btn
          v-show="this.$route.query.statusPage === 'edit'"
          height="40"
          width="100"
          class="mr-2"
          outlined
          color="white"
          @click="submit()"
          >Save</v-btn
        >
        <v-btn
          v-if="invoice.statusPage === 'edit'"
          height="40"
          width="100"
          outlined
          color="white"
          @click="fromEdit ? back() : cancel()"
          >Cancel</v-btn
        >

        <v-tooltip bottom v-if="invoice.statusPage === 'view' && this.statusApprove && authorities.indexOf('create-invoice-add') !== -1">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              color="white"
              @click="dialogDelete = true"
              text
            >
              <v-icon>mdi-delete mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>

        <v-tooltip bottom v-if="invoice.statusPage === 'view' && this.statusApprove && authorities.indexOf('create-invoice-edit') !== -1">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              color="white"
              @click="change"
              text
            >
              <v-icon>mdi-pencil mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom v-if="invoice.statusPage === 'view'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              color="white"
              @click="back"
              text
            >
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>
    </div>
    <div class="buttonFixed2">
      <v-btn
        v-show="this.$route.query.statusPage === 'view' && this.$route.query.status == 'ENTRY' && authorities.indexOf('create-invoice-approve') !== -1"
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogApprove = true"
        >Approve Invoice</v-btn
      >
      <v-btn
        v-show="this.$route.query.statusPage === 'view' && this.$route.query.status == 'APPROVE' && authorities.indexOf('create-invoice-approve') !== -1"
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogUnapprove = true"
        >Unapprove Invoice</v-btn
      >
      <v-btn
        v-show="this.$route.query.statusPage === 'view' && this.$route.query.status == 'APPROVE' && authorities.indexOf('create-invoice-final') !== -1"
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogFinal = true"
        >Finalize Invoice</v-btn
      >
    </div> -->

    <v-form class="mb-6 contentFix" :readonly="invoice.statusPage === 'view'">
      <v-row>
        <v-col cols="8">
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Invoice Type</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-select
                v-if="$route.query.endorse === 'create'"
                :items="type"
                solo
                flat
                dense
                outlined
                class="ma-0"
                hide-details="auto"
                v-model="defaultTypeInit"
                @input="setDataInvoiceType"
                return-object
                item-text="invoiceType"
                name="invoiceType"
                ref="invoiceType"
                label="Select Invoice Type ..."
              ></v-select>
              <v-text-field
                v-else
                hide-details="auto"
                label=""
                ref="amount"
                v-model="invoiceType"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Original Invoice No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1" v-if="$route.query.endorse !== 'create'">
              <v-row align="center" class="marginLeftRow">
                <v-col cols="5" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    v-model="parentRef"
                    label=""
                    ref="amount"
                    solo
                    flat
                    dense
                    outlined
                    disabled
                    class="ma-0 input-right"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="2" class="pa-1">
                  <span class="title">End No.</span>
                </v-col>
                <v-col cols="5" class="pa-1 marginLeftField">
                  <v-text-field
                    hide-details="auto"
                    v-model="seqNo"
                    label=""
                    ref="amount"
                    solo
                    flat
                    dense
                    outlined
                    disabled
                    class="ma-0 input-right"
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1" v-else>
              <v-text-field
                hide-details="auto"
                label="Select Invoice No.."
                ref="amount"
                v-model="invoiceNo"
                solo
                flat
                dense
                outlined
                readonly
                @focus="statusInvoiceNo= true"
                @blur="statusInvoiceNo= false"
                class="ma-0 input-right"
              >
                <v-btn
                  slot="append"
                  @click="openInvoice"
                  text
                  icon
                >
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Transaction No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="reffNo"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row> -->
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Customer</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="status"
                solo
                flat
                dense
                disabled
                outlined
                v-model="customerName"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Endorsement</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="status"
                solo
                flat
                dense
                disabled
                outlined
                v-model="endorsement"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row> -->
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Class of Risk</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="riskCode"
                solo
                flat
                dense
                disabled
                outlined
                v-model="riskCode"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="3">
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Invoice Number</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <span class="title fontBold">{{invoiceNumber}}</span>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Status</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <span class="title">{{status}}</span>
            </v-col>
          </v-row>

        </v-col>
      </v-row>
    </v-form>
    <!-- <v-card> -->
    <menuBroking v-if="invoice.invoiceType == 1"/>
    <menuFee v-else-if="invoice.invoiceType == 2"/>
    <menuOpen v-else-if="invoice.invoiceType == 3"/>
    <menuBroking v-else/>
    <!-- </v-card> -->
    <v-dialog v-model="dialogLoading" persistent max-width="290">
      <v-card>
        <v-card-title>
          <v-progress-linear
            indeterminate
            color="primary"
          ></v-progress-linear>
        </v-card-title>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent width="unset" min-width="290px">
        <v-card v-show="!dialog.success && !dialog.error" min-width="290px">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error" min-width="290px">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >{{dialog.text}}</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >{{dialog.text}}</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="clickSukses"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogApprove" persistent width="unset" min-width="290px">
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Approve Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                approved();
                dialogApprove = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogApprove = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogFinal" persistent width="unset" min-width="290px">
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Finalize Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                final();
                dialogFinal = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogFinal = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogUnapprove" persistent width="unset" min-width="290px">
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Unapprove Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                unapprove();
                dialogUnapprove = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogUnapprove = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogDelete" persistent width="unset" min-width="290px">
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Delete Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                deleteInvoice();
                dialogDelete = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogDelete = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog v-model="dialogValidate.show" width="unset" min-width="290px"  @click:outside="dialogValidate.show = false, dialogValidate.text = '', dialogValidate.subText = ''">
      <v-card min-width="290px">
        <v-card-title
          class="justify-center"
          style="word-break:inherit;display: inline-block;text-align: center;"
          >
          {{dialogValidate.text}}
          <div v-show="invoice.statusRefresh">
          {{ dialogValidate.subText}}
          </div>
          </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
          color="primary" min-width="100px" outlined @click="dialogValidate.show = false, dialogValidate.text = ''"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogLeader" persistent width="unset" min-width="290px" @click:outside="dialogLeader = true">
      <v-card min-width="290px">
          <v-card-title
            class="justify-center"
            style="word-break: inherit;"
            >Status Leader sharing percentage in tab Insurance is not the biggest, Do you want change?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="setLeader"
              >Yes</v-btn
            >
            <v-btn color="primary" min-width="100px" outlined @click="nextProcess"
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialogInvoiceNo" persistent max-width="1000px" @click:outside="dialogInvoiceNo = true">
      <v-card max-width="1000px">
        <v-card-title class="headline blue--text text--darken-4">
          Choose Invoice No.
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            id="closeInvoice"
            @click="closeInvoice"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="listItem"
            fixed-header
            :height="listItem.length > 0 ? '400' : ''"
            item-key="invoiceNo"
            class="elevation-1"
            hide-default-header
            :options.sync="options"
            :loading="loading"
            :server-items-length="totalItems"
            :footer-props="{'items-per-page-options': [5,10,15,25]}"
          >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th v-for="header in headers" :key="header.text">
                  <v-text-field
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    :readonly="!header.filterType"
                    v-on:keyup="onkeyupSearch"
                    placeholder=" "
                    style="margin-top: 10px"
                    :class="!header.filterType ? 'no-border' : ''"
                  >
                    <v-btn slot="append-outer" icon @click="sortClick(header.value)" v-show="header.sortable">
                      <v-icon
                        v-if="header.value==options.sortBy[0] && !options.sortDesc[0]"
                        dense
                        color="primary"
                      >mdi-sort-ascending</v-icon>
                      <v-icon
                        v-else-if="header.value==options.sortBy[0] && options.sortDesc[0]"
                        dense
                        color="primary"
                      >mdi-sort-descending</v-icon>
                      <v-icon v-else-if="header.value!=options.sortBy[0]" dense>mdi-sort</v-icon>
                    </v-btn>
                  </v-text-field>
                </th>
              </tr>
            </thead>
          </template>
          <template v-slot:[`item.amount`]="{ item }">
            {{formatMoney(Number(item.amount))}}
          </template>
          <template v-slot:[`item.select`]="{ item }">
            <v-checkbox
              v-model="item.select"
              @click="() => selectOneItem(item)"
            ></v-checkbox>
          </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            class="mr-5"
            :disabled="selected.length === 0"
            @click="setInvoice"
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <documentPreview :dialogPDF="dialogPDF" :filePDF="filePDF" :totalPage="totalPage" :handleCloseDialog="handleCloseDialog" />
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from '@/store/modules/invoice/type';
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapState, mapActions } from 'vuex'
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import documentPreview from "@/components/documentPreview/documentPreview";
import menuFee from "./menu_fee";
import menuBroking from "./menu_broking";
import menuOpen from "./menu_open";
import axios from "axios";

export default {
  components: {
    isttoolbar,
    menuFee,
    menuBroking,
    menuOpen,
    documentPreview
  },
  created() {
    if (this.$route.query.id) {
      this.getInvoiceById(this.$route.query.id);
    }
    if (localStorage.getItem('from') == 'edit') this.fromEdit = true
    if (this.$route.query.status == 'ENTRY') this.statusApprove = true
    this.status = this.$route.query.status
    this.authorities = JSON.parse(localStorage.getItem('checkToken')).authorities
  },
  data: () => ({
    dialogPDF: false,
    filePDF: undefined,
    totalPage: 0,
    closingInsurance: {
      insuranceName: "All Underwriter"
    },
    generateClient: {
      id: 0,
      name: "Generate PDF"
    },
    generateClosing: {
      id: 0,
      name: "Generate PDF"
    },
    generateCredit: {
      id: 0,
      name: "Generate PDF"
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF"
    },
    generateMultiInsured: {
      id: 0,
      name: "Generate PDF"
    },
    generateObjectList: {
      id: 0,
      name: "Generate XLSX"
    },
    dataClosingInsurance: [
      // {
      //   id: 0,
      //   name: "All Underwriter"
      // },
      // {
      //   id: 1,
      //   name: "PT. Allianz"
      // },
      // {
      //   id: 2,
      //   name: "PT. Asuransi"
      // }
    ],
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF"
      },
      {
        id: 1,
        name: "Generate DOC"
      },
    ],
    dataGenerateOL: [
      {
        id: 0,
        name: "Generate XLSX"
      },
    ],
    statusAgent: false,
    dataListAgent: [],
    dataAgent: {agentName: "All Agent"},
    type: [
      {invoiceType: 'Fee', id: 2},
      {invoiceType: 'Broking', id: 1},
      {invoiceType: 'Open Cover (Binder)', id: 3},
      {invoiceType: 'Endorsement', id: 4}
    ],
    awaitSelect: false,
    awaitingSearch: false,
    loading: false,
    options: {},
    singleSelect: false,
    selected: [],
    listItem: [],
    totalItems: 0,
    dialogInvoiceNo: false,
    headers: [
        {
        text: '',
        align: 'start',
        sortable: false,
        value: 'select',
        searchValue: "",
        searchable: false,
        filterType: false,
        width: "100px"
      },
      {
        text: 'Invoice No',
        align: 'start',
        sortable: true,
        value: 'invoiceNo',
        searchValue: "",
        searchable: true,
        filterType: true,
        width: "100px"
      },
      { text: 'Client',
        sortable: true,
        value: 'customerName',
        searchValue: "",
        searchable: true,
        filterType: true,
        width: "100px"
      },
      {
        text: 'Endorsement',
        sortable: false,
        value: 'endorsment',
        searchable: false,
        filterType: false,
        searchValue: ""
      },
      {
        text: 'Class of Risk',
        sortable: false,
        value: 'riskName',
        searchable: false,
        filterType: false,
        searchValue: ""
      },
      {
        text: 'Attachment Date',
        sortable: false,
        value: 'insurancePeriodFrom',
        searchable: false,
        filterType: false,
        searchValue: ""
      },
      {
        text: 'A/Exec',
        sortable: false,
        value: 'iron',
        searchable: false,
        filterType: false,
        searchValue: ""
      },
      {
        text: 'Amount',
        sortable: false,
        value: 'amount',
        searchable: false,
        filterType: false,
        searchValue: ""
      }
    ],
    authorities: [],
    invoiceNumber: '-',
    status: '',
    statusApprove: false,
    statusPage: "",
    fromEdit: false,
    invoiceType: 'Endorsement',
    defaultTypeInit: {
      id: 4,
      invoiceType: 'Endorsement'
    },
    defaultType: "Broking",
    dialogLoading: false,
    errorDescription: "",
    dialogValidate: { show: false, text: "", subText: ""},
    dialogApprove: false,
    dialogFinal: false,
    dialogDelete: false,
    dialogUnapprove: false,
    dialog: { show: false, success: false, error: false, text: '' },
    dialogLeader: false,
    customerName: "",
    reffNo: "",
    invoiceNo: "",
    parentRef: "",
    idEndorsment: "",
    seqNo: "",
    endorsementNo: "",
    statusInvoiceNo: false,
    endorsement: "",
    riskCode: "",
    search: {
      customer: {
        name: "customer",
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false
      },
      reffNo: {
        name: "reffNo",
        input: "",
        items: [],
        url: "broking/api/broking/invoice/list-reff-no?transactionId.contains=",
        loading: false
      }
    },
    dataParam: {},
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
    riskMultiInsuredList: [],
    MultiInsuredList: [],
    canMultiInsured: false,
  }),
  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true
    },
    statusInvoiceNo: {
      handler: function (after) {
        if (after) {
          this.dialogInvoiceNo = true
          setTimeout(() => {
            document.getElementById("closeInvoice").blur();
          }, 500);
        }
      },
      deep: true,
    },
  },
  mounted() {
    // this.getCustomer();
    this.statusPage = this.$route.query.statusPage;
    this.setStatusPage(this.$route.query.statusPage)
    this.getFee();
    this.getRiskMultiInsured()
    this.getingRiskMultiInsured()
    // this.getListInvoice()
  },
  computed: {
    form() {
      return {
        customerName: this.customerName,
        reffNo: this.reffNo,
        defaultType: this.defaultType
      };
    },
    ...mapState(['invoice', 'snackbars']),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        let searchURL = ''
        if (search.name == 'reffNo') {
          searchURL = search.url + search.input.toUpperCase() + "&accountId.equals=" + this.invoice.customerId
        } else {
          searchURL = search.url + search.input.toUpperCase()
        }
        setTimeout(() => {
          API.get(
            searchURL,
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  methods: {
    handleCloseDialog() {
      this.filePDF= undefined
      this.totalPage= 0
      this.dialogPDF = false
    },
    selectOneItem(item) {
      if (!this.awaitSelect) {
        this.selected = []
        setTimeout(() => {
          let array = []
          this.listItem.forEach(element => {
            if (element.invoiceNo === item.invoiceNo) {
              if (item.select) {
                  element.select = false
              } else {
                element.select = true
                this.selected.push(element)
              }
            } else {
              element.select = false
            }
            array.push(element)
          });
          this.listItem = array
          this.awaitSelect = false;
        }, 200); // 0,2 sec delay
      }
      this.awaitSelect = true
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },
    onkeyupSearch() {
      if (!this.awaitingSearch) {
        setTimeout(() => {
          this.refresh()
          this.awaitingSearch = false;
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearch = true;
    },
    refresh() {
      this.getList().then(data => {
        this.listItem = data.items;
        this.totalItems = data.total
      });
    },
    getList() {
      this.loading = true;
      return new Promise(resolve => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
          "invoiceType.equals": 1,
          "recStatus.equals" : 2
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase"
          ].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          value => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map(value => {
              return {
                [value.value + ".contains"]: value.searchValue
              };
            })
          );
        }
        API.get("broking/api/broking/invoice/", param).then(resp => {
          if (resp.data.code == 0) {
            this.loading = false;
            this.request = null;
            let data = resp.data.data.map(function (currentValue) {
            currentValue.select = false;
            return currentValue;
          });
            resolve({
              total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
              items: data
            });
          }
        });
      });
    },
    openInvoice() {
      this.dialogInvoiceNo = true
      setTimeout(() => {
        document.getElementById("closeInvoice").blur();
      }, 500);
    },
    closeInvoice() {
      this.dialogInvoiceNo = false
      this.headers[0].searchValue = ""
      this.headers[2].searchValue = ""
    },
    setInvoice() {
      this.dialogInvoiceNo = false
      this.invoiceNo = this.selected[0].invoiceNo
      this.endorsement = this.selected[0].endorsment
      this.parentRef = this.selected[0].parentRef
      this.endorsementNo = this.selected[0].endorsementNo
      this.seqNo = this.selected[0].seqNo
      this.idEndorsment = this.selected[0].idEndorsment
      this.setInvoiceNo(this.selected[0].invoiceNo)
      this.getInvoiceById(this.selected[0].id)
    },
    async getInvoiceById(id, status) {
      this.dialogLoading = true
      let resp = await API.get("/broking/api/broking/invoice/" + id);
      if (resp.data.code === 0) {
        this.dialogLoading = false
        const data = resp.data.invoice;
        console.debug(data, 'data')
        if (status == 'view') {
          this.setStatusPage("view")
          this.dialog= { show: false, success: false, error: false, text: '' }
          this.statusPage = "view";
          if (this.$route.query.status == 'ENTRY') this.statusApprove = true
          this.$router.replace({
            name: "invoice-management-endor",
            query: { ...this.$route.query, statusPage: "view", id: data.idInvoice, endorse: "view",  endorsement: 0}
          });
        }
        if (this.$route.query.status == 'FINAL') {
          this.invoiceNumber = data.invoiceNo
        }
        if (data.invoiceType === 6) {
          this.invoiceType = "Cancellation"
        }
        this.parentRef = data.parentRef
        this.endorsementNo = data.endorsementNo
        this.seqNo = data.seqNo
        this.idEndorsment = data.idEndorsment
        this.customerName = `${data.customerCode} - ${data.customerName}`;
        this.reffNo = data.refNo.toString();
        this.riskCode = data.invoiceClass.riskCode + ' - ' + data.invoiceClass.riskName

        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == data.invoiceClass.riskCode
        );
        console.debug(filteredMultiInsured, data.invoiceClass.riskCode, this.riskMultiInsuredList)
        if (filteredMultiInsured.length > 0 && (data.invoiceType == 4 || data.invoiceType == 1)) {
          this.setEngineeringFee(true)
        } else {
          this.setEngineeringFee(false)
        }

        let MultiInsured = this.MultiInsuredList.filter(
          (i) => i.riskCode == data.invoiceClass.riskCode && (['vehicle', 'property'].indexOf(i.insuredObject) != -1)
        );
        if (MultiInsured.length > 0) {
          this.canMultiInsured = true;
        } else {
          this.canMultiInsured = false;
        }

        let insurance = data.invoiceInsurance.insuranceSharingList
        if (insurance !== null) {
          let dataListInsurance = [{insuranceName: "All Underwriter"}]
          insurance.forEach(element => {
            dataListInsurance.push(element)
          });
          this.dataClosingInsurance = dataListInsurance
        }

        if (data.invoiceAgentList.length !== 0) {
          this.statusAgent = true
          let listAgent = [{agentName: "All Agent"}]
          data.invoiceAgentList.forEach(element => {
            listAgent.push(element)
          });
          this.dataListAgent = listAgent
        }

        if (this.$route.query.id && this.$route.query.endorse === "create") {
          this.addStateEndorsement(data)
          let premiumClientInstallment = Number(this.invoice.toClientPremium) + (Number(this.invoice.toClientAdm))
          this.setPremiumClientInstallment(premiumClientInstallment)
          this.setBusinessCategory('IB');
          this.setBusinessName('Incremental Business');
          this.setActiveDate(new Date().toISOString().substring(0, 10))
          this.setInvoiceType(1)
          if (data.invoiceAgentList.length > 0) {
            let dataAgent = []
            data.invoiceAgentList.forEach(element => {
                element.amount = 0
                dataAgent.push({...element})
            });
            this.setAgentList(dataAgent)
            this.setAgentTotalAmount(0)
          }
          this.invoiceNo = data.invoiceNo
          this.endorsement = this.$route.query.endorsement
        } else if (this.$route.query.endorse !== "create") {
          this.addStateEndorsementView(data)
          let premiumClientInstallment = Number(this.invoice.toClientPremium) + (Number(this.invoice.toClientAdm))
          this.setPremiumClientInstallment(premiumClientInstallment)
          this.setInvoiceType(1)
          this.invoiceNo = data.invoiceNo
          this.endorsement = this.$route.query.endorsement
        } else {
          this.addStateEndorsement(data)
          this.setBusinessCategory('IB');
          this.setBusinessName('Incremental Business');
          this.setActiveDate(new Date().toISOString().substring(0, 10))
          if (data.invoiceAgentList.length > 0) {
            let dataAgent = []
            data.invoiceAgentList.forEach(element => {
                element.amount = 0
                dataAgent.push({...element})
            });
            this.setAgentList(dataAgent)
            this.setAgentTotalAmount(0)
          }
        }

        if (this.invoice.idEmployee !== 0) {
          API.get("/user/api/user-management/user/employee/" + this.invoice.idEmployee.toString()).then((resp) => {
            if (resp.data.code === 0) {
              let data = resp.data.data
              let personal = data.personalData
              let obj = {
                id: personal.id,
                idDepartmentCode: personal.idDepartmentCode,
                idCompany: personal.idCompany,
                fullname: personal.fullname,
                nickname: personal.nickname ? personal.nickname : ""
              }
              this.setDataEmployee(obj)
            }
          });
        }
        if(this.invoice.segmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"))
          if (masterData.BUSINESS_SEGMENT) {
            const data = masterData.BUSINESS_SEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.segmentCode
            );
            this.setDataSegment(filter[0])
          } else {
            API.get("/config/api/master-parameter/module/BUSINESS_SEGMENT").then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data
                let filter = data.filter(
                  (value) => value.code == this.invoice.segmentCode
                );
                this.setDataSegment(filter[0])
              }
            });
          }
        }
        if(this.invoice.subSegmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"))
          if (this.invoice.segmentCode === this.invoice.subSegmentCode) {
            let obj = {
              codeAndName: this.invoice.subSegmentCode,
              code: this.invoice.subSegmentCode
            }
            this.setDataSubSegment(obj)
          } else if (masterData.BUSINESS_SUBSEGMENT) {
            const data = masterData.BUSINESS_SUBSEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.subSegmentCode
            );
            this.setDataSubSegment(filter[0])
          } else {
            API.get("/config/api/master-parameter/module/BUSINESS_SUBSEGMENT").then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data
                let filter = data.filter(
                  (value) => value.code == this.invoice.subSegmentCode
                );
                this.setDataSubSegment(filter[0])
              }
            });
          }
        }
      }
    },
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,

      resetState: types.ACTION_RESET_STATE,
      setCustomerId: types.ACTION_CUSTOMER_ID,
      setCustomerName: types.ACTION_CUSTOMER_NAME,
      setInvoiceType: types.ACTION_INVOICE_TYPE,
      setReffNo: types.ACTION_REFF_NO,
      setIdCoverNote: types.ACTION_ID_COVER_NOTE,
      setErrorCustomer: types.ACTION_REQUIRED_CUSTOMER,
      setErrorClassOfRisk: types.ACTION_REQUIRED_CLASS_OF_RISK,
      setErrorPeriodEnd: types.ACTION_REQUIRED_INSURENCE_PERIODE_END,
      setErrorPeriodFrom: types.ACTION_REQUIRED_INSURENCE_PERIODE_FROM,
      setErrorActiveDate: types.ACTION_REQUIRED_ACTIVE_DATE,
      setErrorBusinessCategory: types.ACTION_REQUIRED_BUSINESS_CATEGORY,
      addStateEndorsement: types.ACTION_ADD_STATE_ENDORSEMENT,
      addStateEndorsementView: types.ACTION_ADD_STATE,
      addState: types.ACTION_ADD_STATE,
      // addStateEndorsementEdit: types.ACTION_ADD_STATE_ENDORSEMENT_EDIT,
      setStatusPage: types.ACTION_STATUS_PAGE,
      setIdInvoice: types.ACTION_ID_INVOICE,
      setErrorAccountExecutive: types.ACTION_REQUIRED_ACCOUNT_EXECUTIVE,
      setErrorSegment: types.ACTION_REQUIRED_SEGMENT,
      setDataEmployee: types.ACTION_DATA_EMPLOYEE,
      setDataSegment: types.ACTION_DATA_SEGMENT,
      setDataSubSegment: types.ACTION_DATA_SUB_SEGMENT,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setInsuranceSharingListUnder: types.ACTION_INSURANCE_SHARING_LIST_UNDER,
      setEngineeringFee: types.ACTION_STATUS_ENGINEERING_FEE,
      setEngineeringPercentage: types.ACTION_ENGINEERING_PERCENTAGE,
      setClientVAT: types.ACTION_CLIENT_VAT_PERCENTAGE,
      setUnderwriterVAT: types.ACTION_INSURER_VAT_PERCENTAGE,
      setUnderwriterPPH23: types.ACTION_INSURER_PPH_PERCENTAGE,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setStatusData: types.ACTION_STATUS_DATA,
      setInvoiceNo: types.ACTION_INVOICE_NO,
      setDataListInsuredEndor: types.ACTION_MULTI_INSURED_ENDOR,
      setAgentList: types.ACTION_AGENT_LIST,
      setAgentTotalAmount: types.ACTION_AGENT_TOTAL_AMOUNT,
      setMultiInsuredFlag: types.ACTION_MULTI_INSURED_FLAG,
      setBusinessCategory: types.ACTION_BUSINESS_CATEGORY,
      setBusinessName: types.ACTION_BUSINESS_NAME,
      setActiveDate: types.ACTION_ACTIVE_DATE,
      setStatusSubmit: types.ACTION_STATUS_SUBMIT,
    }),
    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_EF&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

        // cek apakah yang terpilih adalah bisa multiinsured
        // let filteredMultiInsured = this.riskMultiInsuredList.filter(
        //   (i) => i.riskCode == this.invoice.riskCode
        // );
        // if (filteredMultiInsured.length > 0) {
        //   this.statusEngineeringFee = true;
        //   this.setEngineeringFee(true)
        // } else {
        //   this.setEngineeringFee(false)
        // }
      }
    },
    async getingRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_MULTI_INSURED&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.MultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

      }
    },
    setDataCustomer(item) {
      if (item) {
        this.setErrorCustomer(false)
        this.setCustomerId(item.id);
        this.setCustomerName(item.name);
        this.getReffNo(item.id)
      }
    },
    setDataReffNo(item) {
      if (item) {
        this.setReffNo(item.transactionIdKey)
        this.setIdCoverNote(item.id)
      }
    },
    async setDataInvoiceType(item) {
      if (item.id !== 4) {
        await this.resetState()
        this.$router.replace({ name: "create-invoice-add", query: { endorsement: true, type: item.id } });
      }
    },
    async getCustomer() {
        this.search.customer.loading = true;
        let resp = await API.get("/clients/api/account/client?page=0&size=-1");
        if (resp.data.code === 0) {
          this.search.customer.loading = false;
          const data = resp.data.data;
          this.search.customer.items = data
        }
    },
    async getReffNo(accountId) {
        this.search.reffNo.loading = true;
        let resp = await API.get("broking/api/broking/invoice/list-reff-no?accountId.equals=" + accountId);
        // let resp = await API.get("/broking/api/broking/placement/?accountId.equals=" + accountId);
        if (resp.data.code === 0) {
          this.search.reffNo.loading = false;
          const data = resp.data.data;
          this.search.reffNo.items = data
        }
    },
    async getListInvoice() {
      this.loading = true
      let resp = await API.get("broking/api/broking/invoice/?page=0&size=10&recStatus.equals=2&invoiceType.equals=1");
      if (resp.data.code === 0) {
        this.loading = false;
        const data = resp.data.data;
        this.totalItems = parseInt(resp.headers["x-total-count"])
        this.listItem = data
      }
    },
    async getFee() {
        let masterData = JSON.parse(localStorage.getItem("masterData"))
        if (masterData.SYSTEM_FEE_PERCENTAGE) {
            const data = masterData.SYSTEM_FEE_PERCENTAGE;
            data.forEach(element => {
              if (element.code === 'VAT')  {
                this.setClientVAT(Number(element.value))
                this.setUnderwriterVAT(Number(element.value))
              }
              if (element.code === 'PPH23')  {
                this.setUnderwriterPPH23(Number(element.value))
              }
              if (element.code === 'EF')  {
                this.setEngineeringPercentage(Number(element.value))
              }
            });
        } else {
          let resp = await API.get("config/api/master-parameter/module/SYSTEM_FEE_PERCENTAGE");
          if (resp.data.code === 0) {
            const data = resp.data.data;
            data.forEach(element => {
              if (element.code === 'VAT')  {
                this.setClientVAT(Number(element.value))
                this.setUnderwriterVAT(Number(element.value))
              }
              if (element.code === 'PPH23')  {
                this.setUnderwriterPPH23(Number(element.value))
              }
              if (element.code === 'EF')  {
                this.setEngineeringPercentage(Number(element.value))
              }
            });
          }
        }
    },
    async submit() {
      this.setStatusSubmit(true)
      if (this.invoice.customerId == "" && this.invoice.customerName == "") {
        this.formHasErrors = true
        this.setErrorCustomer(true)
      }
      if (this.invoice.riskCode == "" && this.invoice.riskName == "") {
        this.formHasErrors = true
        this.setErrorClassOfRisk(true)
      }
      if (this.invoice.insurancePeriodEnd == "") {
        this.formHasErrors = true
        this.setErrorPeriodEnd(true)
      }
      if (this.invoice.insurancePeriodFrom == "") {
        this.formHasErrors = true
        this.setErrorPeriodFrom(true)
      }
      if (this.invoice.attachActiveDate == "") {
        this.formHasErrors = true
        this.setErrorActiveDate(true)
      }
      if (this.invoice.businessCategory == "") {
        this.formHasErrors = true
        this.setErrorBusinessCategory(true)
      }
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doProcess();
      } else {
        this.setStatusSubmit(false)
        this.formHasErrors = false;
      }
    },
    async doProcess() {
      let paramJSON = {
          invoiceManagement: {
            idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
            invoiceClass: {
              attachActiveDate: this.invoice.attachActiveDate == "" ? null : this.invoice.attachActiveDate,
              businessCategory: this.invoice.businessCategory == "" ? null : this.invoice.businessCategory,
              businessName: this.invoice.businessName == "" ? null : this.invoice.businessName,
              description: this.invoice.description == "" ? null : this.invoice.description,
              memo: this.invoice.memo == "" ? null : this.invoice.memo,
              destAccount: this.invoice.destAccount == "" ? null : this.invoice.destAccount,
              destAccountCode: this.invoice.destAccountCode == "" ? null : this.invoice.destAccountCode,
              insurancePeriodEnd: this.invoice.insurancePeriodEnd == "" ? null : this.invoice.insurancePeriodEnd,
              insurancePeriodFrom: this.invoice.insurancePeriodFrom == "" ? null : this.invoice.insurancePeriodFrom,
              insured: this.invoice.insured == "" ? null : this.invoice.insured,
              location: this.invoice.location == "" ? null : this.invoice.location,
              masterPolicy: this.invoice.masterPolicy == "" ? null : this.invoice.masterPolicy,
              particulars: this.invoice.particulars == "" ? null : this.invoice.particulars,
              policyNo: this.invoice.policyNo == "" ? null : this.invoice.policyNo,
              riskCode: this.invoice.riskCode == "" ? null : this.invoice.riskCode,
              riskName: this.invoice.riskName == "" ? null : this.invoice.riskName
            },
            invoiceInstallment: {
              docType: this.invoice.docType == "" ? null : this.invoice.docType,
              filename: this.invoice.filename == "" ? null : this.invoice.filename,
              toClientInstallmentList: this.invoice.toClientInstallmentList,
              toClientTotalAdminCost: this.invoice.toClientTotalAdminCost == 0 ? null : this.invoice.toClientTotalAdminCost,
              toClientTotalAmount: this.invoice.toClientTotalAmount == 0 ? null : this.invoice.toClientTotalAmount,
              toClientTotalGrossAmount: this.invoice.toClientTotalGrossAmount == 0 ? null : this.invoice.toClientTotalGrossAmount,
              toClientTotalPercentage: this.invoice.toClientTotalPercentage == 0 ? null : this.invoice.toClientTotalPercentage,
              toClientTotalStampdutyAmount: this.invoice.toClientTotalStampdutyAmount == 0 ? null : this.invoice.toClientTotalStampdutyAmount,
              toClientTotalTotalAmount: this.invoice.toClientTotalTotalAmount == 0 ? null : this.invoice.toClientTotalTotalAmount,
              toClientTotalVatAmount: this.invoice.toClientTotalVatAmount == 0 ? null : this.invoice.toClientTotalVatAmount,
              toUnderwriterInstallmentList: this.invoice.toUnderwriterInstallmentList,
              toUnderwriterTotalAdminCost: this.invoice.toUnderwriterTotalAdminCost == 0 ? null : this.invoice.toUnderwriterTotalAdminCost,
              toUnderwriterTotalAmount: this.invoice.toUnderwriterTotalAmount == 0 ? null : this.invoice.toUnderwriterTotalAmount,
              toUnderwriterTotalBrokerageAmount: this.invoice.toUnderwriterTotalBrokerageAmount == 0 ? null : this.invoice.toUnderwriterTotalBrokerageAmount,
              toUnderwriterTotalGrossAmount: this.invoice.toUnderwriterTotalGrossAmount == 0 ? null : this.invoice.toUnderwriterTotalGrossAmount,
              toUnderwriterTotalPercentage: this.invoice.toUnderwriterTotalPercentage == 0 ? null : this.invoice.toUnderwriterTotalPercentage,
              toUnderwriterTotalPph23Amount: this.invoice.toUnderwriterTotalPph23Amount == 0 ? null : this.invoice.toUnderwriterTotalPph23Amount,
              toUnderwriterTotalStampdutyAmount: this.invoice.toUnderwriterTotalAmount == 0 ? null : this.invoice.toUnderwriterTotalAmount,
              toUnderwriterTotalTotalAmount: this.invoice.toUnderwriterTotalTotalAmount == 0 ? null : this.invoice.toUnderwriterTotalTotalAmount,
              toUnderwriterTotalVatAmount: this.invoice.toUnderwriterTotalVatAmount == 0 ? null : this.invoice.toUnderwriterTotalVatAmount,
            }
          }
        };
        this.dataParam = paramJSON
        let param = JSON.stringify(paramJSON);
        console.debug(paramJSON, param)
        API.post("/broking/api/invoice-management/update", param).then((resp) => {
          if (resp.data.code == 0) {
            this.setStatusSubmit(false)
            this.dialog.success = true;
            // this.dialog.text = 'Your Data has been Saved'
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.clickSukses();
          } else {
            this.setStatusSubmit(false)
            this.dialog.text = 'Your Data Failed to Save'
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        });
    },
    async setLeader() {
      this.dialogLeader = false
      let newData = this.invoice.insuranceSharingList
      const max = newData.reduce(function(prev, current) {
          return (prev.sharingPercentage > current.sharingPercentage) ? prev : current
      })
      this.invoice.insuranceSharingList.forEach(element => {
        if (element.index === max.index)  {
          element.isLeader = true
        } else {
          element.isLeader = false
        }
      });
      this.dialog.show = true;
      await this.doProcess();
    },
    async nextProcess() {
      this.dialogLeader = false
      this.dialog.show = true;
      await this.doProcess();
    },
    back() {
      this.dialog= { show: false, success: false, error: false, text: '' }
      this.$router.replace({ name: "invoice-management-list", query: {back: true}, });
      this.resetState()
      localStorage.removeItem("from")
    },
    change() {
      this.statusPage = "edit";
      this.setStatusPage("edit")
      this.$router.replace({
        name: "invoice-management-endor",
        query: { ...this.$route.query, statusPage: "edit" },
      });
    },
    copy() {
      this.statusPage = "edit";
      this.setStatusPage("edit")
      this.$router.replace({
        name: "create-invoice-copy",
        query: { ...this.$route.query, statusPage: "edit" },
      });
      this.setStatusData(true)
    },
    cancel() {
      this.dialog= { show: false, success: false, error: false, text: '' }
      this.statusPage = "view";
      this.setStatusPage("view")
      this.$router.replace({
        name: "invoice-management-endor",
        query: { ...this.$route.query, statusPage: "view" },
      });
      this.getInvoiceById(this.$route.query.id, "view")
    },
    clickSukses() {
      if (this.dialog.success) {
          this.dialog= { show: false, success: false, error: false, text: '' }
          this.cancel()
      } else {
        this.dialog= { show: false, success: false, error: false, text: '' }
      }
    },
    approved() {
      this.dialog.show = true;
      let paramJSON = {
        invoice: {
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/approve/endorsement", param).then((resp) => {
        if (resp.data.code == 0) {
          this.$router.replace({
            name: "create-invoice-endorsement",
            query: { ...this.$route.query, status: "APPROVE" }
          });
          this.status = "APPROVE"
          this.statusApprove = false
          this.dialog.success = true;
          this.dialog.text = 'Your Data has been Approved'
        } else {
          const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
          this.dialog.text = 'Your Data Failed to Approved'
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    final() {
      this.dialog.show = true;
      let paramJSON = {
        invoiceManagement: {
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/final/endorsement", param).then((resp) => {
        if (resp.data.code == 0) {
          this.$router.replace({
            name: "create-invoice-endorsement",
            query: { ...this.$route.query, status: "FINAL" }
          });
          this.status = "FINAL"
          this.statusApprove = false
          this.invoiceNumber = resp.data.invoice.invoiceNo
          this.dialog.success = true;
          this.dialog.text = 'Your Data has been Finalized'
        } else {
          const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
          this.dialog.text = 'Your Data Failed to Finalized'
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    unapprove() {
      this.dialog.show = true;
      let paramJSON = {
        invoice: {
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/unapproved/endorsement", param).then((resp) => {
        if (resp.data.code == 0) {
          this.$router.replace({
            name: "create-invoice-endorsement",
            query: { ...this.$route.query, status: "ENTRY" }
          });
          this.status = "ENTRY"
          this.statusApprove = true
          this.dialog.success = true;
          this.dialog.text = 'Your Data has been Unapproved'
        } else {
          const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
          this.dialog.text = 'Your Data Failed to Unapproved'
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    deleteInvoice() {
      this.dialog.show = true;
      let idInvoice = this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice;
      // let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/delete/" + idInvoice).then((resp) => {
        if (resp.data.code == 0) {
          this.back()
        } else {
          const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
          this.dialog.text = 'Your Data Failed to Delete'
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });

    },
    convertForUnder (data) {
      let array = [{ insuranceName: "ALL", index: 0, }]
      data.forEach((element, index) => {
        array.push({
          index: index + 1,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: element.amount,
          brokerage: element.brokerage,
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          totalAmount: element.totalAmount
        })
      });
      return array
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, '')
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, '')
        .replace('x', '.');
      return parseFloat(amount)
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    generateClientFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {
          fileType: typeFile,
          flagInvoice: "CLIENT",
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, 'CLIENT');
        } else {
            if (typeFile === 'pdf') {
              this.dialog.text = 'Generate PDF Failed'
            } else {
              this.dialog.text = 'Generate Doc Failed'
            }
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    generateClosingFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {}
      if (this.closingInsurance.insuranceName !== "All Underwriter") {
        paramJSON = {
          fileType: typeFile,
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idUnderwriter: this.closingInsurance.insuranceId,
          uploadAll: "false"
        }
      } else {
        paramJSON = {
          fileType: typeFile,
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          uploadAll: "true"
        }
      }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-closing-instruction", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, 'CLOSING');
        } else {
            if (typeFile === 'pdf') {
              this.dialog.text = 'Generate PDF Failed'
            } else {
              this.dialog.text = 'Generate Doc Failed'
            }
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    generateCreditFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {}
      if (this.dataAgent.agentName !== "All Agent") {
        paramJSON = {
          fileType: typeFile,
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idAgent: this.dataAgent.agentId,
          uploadAll: "false"
        }
      } else {
        paramJSON = {
          fileType: typeFile,
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          uploadAll: "true"
        }
      }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-credit-fee", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, 'CREDIT');
        } else {
            if (typeFile === 'pdf') {
              this.dialog.text = 'Generate PDF Failed'
            } else {
              this.dialog.text = 'Generate Doc Failed'
            }
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    generateCopyFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {
          fileType: typeFile,
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-copy", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, 'COPY');
        } else {
            if (typeFile === 'pdf') {
              this.dialog.text = 'Generate PDF Failed'
            } else {
              this.dialog.text = 'Generate Doc Failed'
            }
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    generateMultiInsuredFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {
          fileType: typeFile,
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-list-insured", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, 'MULTI');
        } else {
            if (typeFile === 'pdf') {
              this.dialog.text = 'Generate PDF Failed'
            } else {
              this.dialog.text = 'Generate Doc Failed'
            }
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    generateObjectListt(typeFile) {
      this.dialog.show = true;
      console.log(typeFile)
      API.post("/broking/api/broking/invoice/generate-multi-insured?" +
        "refNo=" + (this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice) + 
        "&riskCode=" + this.invoice.riskCode
      ).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, 'OBJECT');
        } else {
            this.dialog.text = 'Generate XLSX Failed'
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    generateFile(base64, typeFile, status) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        var ascii = binaryString.charCodeAt(i);
        bytes[i] = ascii;
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      if (status == 'CLIENT') link.setAttribute("download", "INVOICE TO CLIENT " + this.invoice.invoiceNo + " - " + this.invoice.customerName + typeFile ); //any other extension
      if (status == 'CLOSING') link.setAttribute("download", "CLOSING INSTRUCTION " + this.invoice.invoiceNo + " - " + this.invoice.customerName  + typeFile ); //any other extension
      if (status == 'CREDIT') link.setAttribute("download", "CREDIT NOTE TO AGENT " + this.invoice.invoiceNo + " - " + this.invoice.customerName  + typeFile ); //any other extension
      if (status == 'COPY') link.setAttribute("download", "INVOICE COPY " + this.invoice.invoiceNo + " - " + this.invoice.customerName  + typeFile ); //any other extension
      if (status == 'MULTI') link.setAttribute("download", "MULTI INSURED " + this.invoice.invoiceNo + " - " + this.invoice.customerName  + typeFile ); //any other extension
      if (status == 'OBJECT') link.setAttribute("download", "OBJECT INSURED " + this.invoice.invoiceNo + " - " + this.invoice.customerName  + "." + typeFile ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    previewClient () {
      this.dialog.show = true;
      let paramJSON = {
          fileType: "pdf",
          flagInvoice: "CLIENT",
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          let pdf = "data:application/pdf;base64,"
          let base64 = resp.data.data
          var byteCharacters = atob(base64);
          var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length
          this.totalPage = pageCount
          this.filePDF = pdf + base64
          this.dialogPDF = true
        } else {
            this.dialog.text = 'Preview File Failed'
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    previewClosing () {
      let paramJSON = {}
      if (this.closingInsurance.insuranceName !== "All Underwriter") {
        paramJSON = {
          fileType: "pdf",
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idUnderwriter: this.closingInsurance.insuranceId,
          uploadAll: "false"
        }
        this.dialog.show = true;
        let param = JSON.stringify(paramJSON);
        API.post("/broking/api/broking/invoice/generate-closing-instruction", param).then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            let pdf = "data:application/pdf;base64,"
            let base64 = resp.data.data
            var byteCharacters = atob(base64);
            var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length
            this.totalPage = pageCount
            this.filePDF = pdf + base64
            this.dialogPDF = true
          } else {
              this.dialog.text = 'Preview File Failed'
              const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
              this.errorDescription = err;
              this.dialog.error = true;
            }
        });
      } else {
        this.generateClosingFile('pdf')
      }
    },
    previewCredit () {
      let paramJSON = {}
      if (this.dataAgent.agentName !== "All Agent") {
        paramJSON = {
          fileType: "pdf",
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idAgent: this.dataAgent.agentId,
          uploadAll: "false"
        }
        this.dialog.show = true;
        let param = JSON.stringify(paramJSON);
        API.post("/broking/api/broking/invoice/generate-credit-fee", param).then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            let pdf = "data:application/pdf;base64,"
            let base64 = resp.data.data
            var byteCharacters = atob(base64);
            var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length
            this.totalPage = pageCount
            this.filePDF = pdf + base64
            this.dialogPDF = true
          } else {
              this.dialog.text = 'Preview File Failed'
              const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
              this.errorDescription = err;
              this.dialog.error = true;
            }
        });
      } else {
        this.generateCreditFile('pdf')
      }
    },
    previewCopy () {
      this.dialog.show = true;
      let paramJSON = {
          fileType: "pdf",
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-copy", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          let pdf = "data:application/pdf;base64,"
          let base64 = resp.data.data
          var byteCharacters = atob(base64);
          var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length
          this.totalPage = pageCount
          this.filePDF = pdf + base64
          this.dialogPDF = true
        } else {
            this.dialog.text = 'Preview File Failed'
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    previewMultiInsured () {
      this.dialog.show = true;
      let paramJSON = {
          fileType: "pdf",
          idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-list-insured", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          let pdf = "data:application/pdf;base64,"
          let base64 = resp.data.data
          var byteCharacters = atob(base64);
          var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length
          this.totalPage = pageCount
          this.filePDF = pdf + base64
          this.dialogPDF = true
        } else {
            this.dialog.text = 'Preview File Failed'
            const err = resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
      });
    },
    clickGenerateClient(item) {
      if (item.name == "Generate PDF") {
        this.generateClientFile('pdf')
      } else {
        this.generateClientFile('docx')
      }
    },
    clickGenerateClosing(item) {
      if (item.name == "Generate PDF") {
        this.generateClosingFile('pdf')
      } else {
        this.generateClosingFile('docx')
      }
    },
    clickGenerateCredit(item) {
      if (item.name == "Generate PDF") {
        this.generateCreditFile('pdf')
      } else {
        this.generateCreditFile('docx')
      }
    },
    clickGenerateCopy(item) {
      if (item.name == "Generate PDF") {
        this.generateCopyFile('pdf')
      } else {
        this.generateCopyFile('docx')
      }
    },
    clickGenerateMultiInsured(item) {
      if (item.name == "Generate PDF") {
        this.generateMultiInsuredFile('pdf')
      } else {
        this.generateMultiInsuredFile('docx')
      }
    },
    clickObjectList() {
      this.generateObjectListt('xlsx')
    },
  }
};
</script>

<style scoped>
  .colorLine .v-text-field--outlined >>> fieldset {
    border-color: #00529B
  }
  .colorLine >>> .v-select .v-select__selection--comma {
    color: #00529B
  }
  .marginLeftRow {
    margin-left: -4px !important
  }
  .marginLeftField {
    margin-left: -6px !important
  }
  .contentFix {
    padding-top: 100px
  }
  .headerFix {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .headerFix2 {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 123px;
  }
  .buttonFixed {
    color: white;
    position: fixed;
    z-index: 3;
    margin-top: 3px;
    right: 10px;
  }
  .buttonFixed2 {
    color: white;
    position: fixed;
    z-index: 3;
    right: 10px;
    top: 126px;
  }
  .fontBold {
    font-weight: 800;
    font-size: 1.5rem !important
  }
</style>