<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row class="mb-5">
        <v-col cols="12">
          <v-card>
            <isttoolbar title="To Client" class="mb-2" dark color="primary">
              <v-spacer />
              <p class="title mr-15 mt-4">
                Premium :
                {{ formatMoney(Number(invoice.premiumClientInstallment)) }}
              </p>
            </isttoolbar>
            <v-data-table
              :headers="headers"
              :items="dataClient"
              class="elevation-1"
              fixed-header
              :options.sync="transOptions"
              hide-default-footer
              hide-default-header
              height="400"
            >
              <template v-slot:header="{ props: { headers } }">
                <thead>
                      <tr>
                        <th 
                          v-for="header in headers"
                          :key="header.text"
                          class="text-center ma-0 pa-0"
                        >
                          <div v-if="header.value == 'vatAmount'" :style="`width: ${header.width}`">
                            <span>{{ `VAT (${invoice.clientVatPercentage}%)` }}</span>
                          </div>
                          <div v-else :style="`width: ${header.width}`">
                            <span>{{ header.text }}</span>
                          </div>
                          
                        </th>
                      </tr>
                </thead>
              </template>
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item, idx) in items" :key="idx">
                    <td
                      v-for="(header, key) in headers"
                      :key="key"
                      :item="item"
                    >
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'no'"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate'"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        {{ item[header.value] }} %
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'amount'"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'vatAmount'"
                      >
                        {{ formatMoney(Number(item[header.value])) }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'totalAmount'"
                      >
                        {{ formatMoney(Number(item[header.value])) }}
                      </div>
                      <!-- <div align="center" justify="center" v-if="header.value == 'dueDate' && item.edit">
                        <v-menu
                          v-model="item.date"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="editClient.dueDate"
                              ref="entryDateToClientEdit"
                              name="entryDateToClientEdit"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="item.date = !item.date"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="new Date().toISOString()"
                            v-model="editClient.dueDate"
                            no-title
                            @input="item.date = false"
                          ></v-date-picker>
                        </v-menu>
                      </div> -->
                      <!-- <div align="center" justify="center" v-if="header.value == 'percentage' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          ref="percentageToClientEdit"
                          name="percentageToClientEdit"
                          v-model="editClient.percentage"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusClientEdit= true"
                          @blur="statusClientEdit= false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div> -->
                      <!-- <div align="center" justify="center" v-if="header.value == 'amount' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          ref="amountToClientEdit"
                          name="amountToClientEdit"
                          v-model="editClient.amount"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div> -->
                      <div
                        align="center"
                        justify="center"
                        v-if="
                          header.value == 'action' &&
                          invoice.statusPage !== 'view'
                        "
                      >
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          class="mr-2"
                          @click="clickPencil(item)"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          @click="clickMinus(item)"
                        >
                          <v-icon>mdi-minus</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCheckEdit(item)"
                          outlined
                          icon
                          :disabled="statusCheckEdit"
                          class="mr-2"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCloseEdit(item)"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </div>
                    </td>
                  </tr>
                  <tr v-show="false">
                    <td v-for="header in headers" :key="header.text">
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'action'"
                      >
                        <v-btn
                          width="30"
                          height="30"
                          v-show="!statusCreateClient"
                          @click="clickPlus"
                          outlined
                          icon
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateClient"
                          @click="clickCheck"
                          outlined
                          icon
                          class="mr-2"
                          :disabled="statusCheck"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateClient"
                          @click="clickClose"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && statusCreateClient"
                      >
                        <v-menu
                          v-model="statusDateClient"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="header.add"
                              ref="entryDateToClient"
                              name="entryDateToClient"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="statusDateClient = !statusDateClient"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="minDateClient"
                            v-model="header.add"
                            no-title
                            @input="statusDateClient = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        <v-text-field
                          v-show="statusCreateClient"
                          hide-details="auto"
                          ref="percentageToClient"
                          name="percentageToClient"
                          v-model="header.add"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusClient = true"
                          @blur="statusClient = false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'amount'"
                      >
                        <v-text-field
                          v-show="statusCreateClient"
                          hide-details="auto"
                          ref="amountToClient"
                          name="amountToClient"
                          v-model="header.add"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                    </td>
                  </tr>
                  <tr>
                    <td v-for="header in headers" :key="header.text">
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate'"
                      >
                        <p class="title mt-3">Total</p>
                      </v-row>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        <p class="title mt-3">{{ totalPercentage }} %</p>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'amount'"
                      >
                        <p class="title mt-3">
                          {{ formatMoney(Number(totalAmount)) }}
                        </p>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'vatAmount'"
                      >
                        <p class="title mt-3">
                          {{ formatMoney(Number(totalVAT)) }}
                        </p>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'totalAmount'"
                      >
                        <p class="title mt-3">
                          {{ formatMoney(Number(totalTotalAmount)) }}
                        </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialogValidate.show"
      width="unset"
      min-width="100px"
      @click:outside="(dialogValidate.show = false), (dialogValidate.text = '')"
    >
      <v-card>
        <v-card-title class="justify-center" style="word-break: inherit">{{
          dialogValidate.text
        }}</v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="(dialogValidate.show = false), (dialogValidate.text = '')"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  created() {
    this.collectData();
  },
  directives: { money: VMoney },
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    amount: 0,
    statusFocus: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    headers: [
      {
        text: "Installment",
        align: "center",
        sortable: false,
        add: "",
        value: "no",
        width: "100px",
      },
      {
        text: "Due Date",
        align: "center",
        sortable: false,
        add: "",
        value: "dueDate",
        width: "180px",
      },
      {
        text: "Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "percentage",
        width: "130px",
      },
      {
        text: "Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "amount",
        width: "180px",
      },
      {
        text: "VAT",
        align: "center",
        sortable: false,
        add: 0,
        value: "vatAmount",
        width: "130px",
      },
      {
        text: "Gross Total",
        align: "center",
        sortable: false,
        add: 0,
        value: "totalAmount",
        width: "130px",
      },
      // {
      //   text: "Action",
      //   align: "center",
      //   sortable: false,
      //   add: "",
      //   value: "action",
      //   width: '100px'
      // },
    ],
    dataClient: [
      // {
      //   admincostAmount: 0,
      //   amount: 0,
      //   dueDate: "string",
      //   grossAmount: 0,
      //   no: 1,
      //   percentage: 0,
      //   stampdutyAmount: 0,
      //   totalAmount: 0,
      //   vatAmount: 0,
      //   edit: false,
      //   date: false
      // }
    ],
    editClient: {},
    minDateClient: new Date().toISOString(),
    statusClient: false,
    statusClientEdit: false,
    statusDateClient: false,
    statusCreateClient: false,
    totalPercentage: 0,
    totalAmount: 0,
    request: null,
    formHasErrors: false,
    dialogValidate: { show: false, text: "" },
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  mounted() {},
  computed: {
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    watchInsuranceList: function () {
      return this.invoice.insuranceSharingList;
    },
    watchStatusClient: function () {
      return this.statusClient;
    },
    watchStatusClientEdit: function () {
      return this.statusClientEdit;
    },
    displayPercentageClient: function () {
      return this.headers[2].add;
    },
    displayPercentageClientEdit: function () {
      return this.editClient.percentage;
    },
    statusCheck: function () {
      return this.headers[1].add.length > 0 &&
        this.headers[2].add > 0 &&
        this.headers[3].add !== "0.00"
        ? false
        : true;
    },
    statusCheckEdit: function () {
      // return this.editClient.dueDate.length > 0 && this.editClient.percentage > 0  && this.editAgent.amount !== "0.00" ? false : true
      return false;
    },
  },
  watch: {
    "invoice.statusSubmit": {
      handler: function (newValue) {
        if (newValue) {
          let client = this.invoice.toClientInstallmentList;
          client.forEach((element) => {
            (element.edit = false), (element.date = false);
          });
          this.dataClient = client;
        }
      },
      deep: true,
    },
    watchInsuranceList: function (newValue) {
      if (newValue.length === 0) {
        this.listInsurance = [{ insuranceName: "ALL" }];
      } else {
        if (newValue[0].insuranceName !== "ALL") {
          let array = newValue;
          array.splice(0, 0, { insuranceName: "ALL" });
          this.listInsurance = array;
        }
      }
    },
    watchStatusClient: function (newValue) {
      if (newValue) {
        if (this.headers[2].add === 0) {
          this.headers[2].add = "";
        }
      } else if (this.headers[2].add === "") {
        this.headers[2].add = 0;
      }
    },
    watchStatusClientEdit: function (newValue) {
      if (newValue) {
        if (this.editClient.percentage === 0) {
          this.editClient.percentage = "";
        }
      } else if (this.editClient.percentage === "") {
        this.editClient.percentage = 0;
      }
    },
    displayPercentageClient: function (newValue) {
      let value = this.calculateAmount(
        newValue,
        this.invoice.premiumClientInstallment
      );
      this.$refs.amountToClient[0].$el.getElementsByTagName("input")[0].value =
        this.formatMoney(value);
    },
    displayPercentageClientEdit: function (newValue) {
      let value = this.calculateAmount(
        newValue,
        this.invoice.premiumClientInstallment
      );
      this.$refs.amountToClientEdit[0].$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(value);
    },
    "invoice.invoiceNo": {
      handler: function (after, before) {
        // alert("after" + after + "before" + before);
        if (
          after != "" &&
          after != null &&
          after != 0 &&
          after != "0" &&
          after != before
        ) {
          this.collectData();
        }
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      setToClientInstallmentList: types.ACTION_TO_CLIENT_INSTALLMENT_LIST,
      setToClientTotalPercentage: types.ACTION_TO_CLIENT_TOTAL_PERCENTAGE,
      setToClientTotalAmount: types.ACTION_TO_CLIENT_TOTAL_AMOUNT,
    }),
    collectData() {
      let client = this.invoice.toClientInstallmentList;
      let arrayClient = [];
      client.forEach((element) => {
        arrayClient.push({
          date: false,
          edit: false,
          admincostAmount: element.admincostAmount,
          amount: this.formatMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          totalAmount: element.totalAmount,
          vatAmount: element.vatAmount,
        });
      });
      this.dataClient = arrayClient;
      this.totalPercentage = this.invoice.toClientTotalPercentage;
      this.totalAmount = this.invoice.toClientTotalAmount;
      this.totalVAT = this.invoice.toClientTotalVatAmount;
    this.totalTotalAmount = this.invoice.toClientTotalTotalAmount;
    },
    clickSelectInsurance(item) {
      if (item.insuranceName !== "ALL") {
        let param = {
          idInsurance: item.insuranceId,
          installmentUnderwriterList: this.convertUnder(this.dataUnder),
          insuranceList: [item],
        };
        console.debug(item, "if", param);
        this.getUnderwriter(param);
      } else {
        console.debug(item, "else");
      }
    },
    calculateAmount(value, premium) {
      let data = (Number(premium) / 100) * Number(value);
      return data;
    },
    clickPlus() {
      if (this.invoice.premiumClientInstallment == 0) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "You must add To Client Premium";
      } else if (this.totalPercentage == 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else {
        this.statusCreateClient = true;
        for (var i = 0; i < this.dataClient.length; i++) {
          this.dataClient[i].edit = false;
        }
      }
    },
    clickCheck() {
      let obj = {};
      let percentage = 0;
      let amount = 0;
      for (var header of this.headers) {
        if (header.value != "action") {
          if (header.value == "no") {
            obj["no"] = this.dataClient.length + 1;
          } else if (header.value == "dueDate") {
            obj["dueDate"] = header.add;
          } else if (header.value == "percentage") {
            obj["percentage"] = Number(header.add);
            percentage = this.totalPercentage + Number(header.add);
          } else if (header.value == "amount") {
            obj["amount"] = header.add;
            amount = this.totalAmount + this.convertMoney(header.add);
          }
        }
      }

      if (obj.percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Percentage more than 100%";
      } else if (percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else if (obj.amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Amount greater than Premium";
      } else if (amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Amount greater than Premium";
      } else {
        this.totalPercentage = Number(percentage.toFixed(2));
        this.totalAmount = Number(amount.toFixed(2));
        let newObj = Object.assign(obj, { edit: false, date: false });
        this.dataClient.push(newObj);
        this.minDateClient = newObj.dueDate;
        this.setToClientInstallmentList(this.convertClient(this.dataClient));
        this.setToClientTotalPercentage(this.totalPercentage);
        this.setToClientTotalAmount(this.totalAmount);

        // Reset Data
        this.headers[1].add = "";
        this.headers[2].add = 0;
        this.headers[3].add = "0.00";
        this.$refs.amountToClient[0].$el.getElementsByTagName(
          "input"
        )[0].value = "0.00";
        this.statusCreateClient = false;
      }
    },
    clickMinus(item) {
      var index = "";
      let percentage = this.totalPercentage - Number(item.percentage);
      let amount = this.totalAmount - this.convertMoney(item.amount);
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataClient.length; j++) {
        this.dataClient[j].edit = false;
      }
      if (String(index).length > 0) {
        this.dataClient.splice(index, 1);
      }
      if (this.dataClient.length === 0) {
        this.minDateClient = new Date().toISOString();
      } else {
        this.minDateClient =
          this.dataClient[this.dataClient.length - 1].dueDate;
      }
      this.totalPercentage = Number(percentage.toFixed(2));
      this.totalAmount = Number(amount.toFixed(2));
      this.setToClientInstallmentList(this.convertClient(this.dataClient));
      this.setToClientTotalPercentage(this.totalPercentage);
      this.setToClientTotalAmount(this.totalAmount);

      this.statusCreateClient = false;
    },
    clickClose() {
      this.statusCreateClient = false;
      this.headers[1].add = "";
      this.headers[2].add = 0;
      this.headers[3].add = "0.00";
      this.$refs.amountToClient[0].$el.getElementsByTagName("input")[0].value =
        "0.00";
    },
    clickPencil(item) {
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          this.dataClient[i].edit = true;
          this.statusCreateClient = false;
        } else {
          this.dataClient[i].edit = false;
        }
      }
      localStorage.setItem("objInstallmentClient", JSON.stringify(item));
      this.editClient = item;
    },
    clickCloseEdit(item) {
      let obj = JSON.parse(localStorage.getItem("objInstallmentClient"));
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          this.dataClient[i].edit = false;
          this.dataClient[i].date = false;
          this.dataClient[i].no = obj.no;
          this.dataClient[i].dueDate = obj.dueDate;
          this.dataClient[i].percentage = Number(obj.percentage);
          this.dataClient[i].amount = obj.amount;
          this.statusCreateClient = false;
        }
      }
      localStorage.removeItem("objInstallmentClient");
      this.editClient = {};
    },
    clickCheckEdit(item) {
      let percentage = 0;
      let amount = 0;
      this.dataClient.forEach((element) => {
        percentage = percentage + Number(element.percentage);
        amount = amount + this.convertMoney(element.amount);
      });

      if (item.percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Percentage more than 100%";
      } else if (percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else if (item.amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Amount greater than Premium";
      } else if (amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Amount greater than Premium";
      } else {
        for (var i = 0; i < this.dataClient.length; i++) {
          if (this.dataClient[i] == item) {
            this.dataClient[i].edit = false;
            this.dataClient[i].date = false;
            this.dataClient[i].no = item.no;
            this.dataClient[i].dueDate = item.dueDate;
            this.dataClient[i].percentage = Number(item.percentage);
            this.dataClient[i].amount = item.amount;
          }
        }

        this.totalPercentage = Number(percentage.toFixed(2));
        this.totalAmount = Number(amount.toFixed(2));
        this.setToClientInstallmentList(this.convertClient(this.dataClient));
        this.setToClientTotalPercentage(this.totalPercentage);
        this.setToClientTotalAmount(this.totalAmount);

        localStorage.removeItem("objInstallmentClient");
      }
    },
    async getAgent() {
      this.search.agentName.loading = true;
      let resp = await API.get(
        "/clients/api/account/agent/?page=0&size=-1"
      );
      if (resp.data.code === 0) {
        this.search.agentName.loading = false;
        const data = resp.data.data;
        this.search.agentName.items = data;
      }
    },
    async getUnderwriter(paramJSON) {
      let param = JSON.stringify(paramJSON);

      API.post(
        "/broking/api/broking/invoice/installment-underwriter",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          const data = resp.data.data;
          console.debug(data, "getUnderwriter");
        }
      });
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    convertClient(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          no: element.no,
          dueDate: element.dueDate,
          percentage: Number(element.percentage),
          amount: this.convertMoney(element.amount),
        });
      });
      return array;
    },
  },
};
</script>

<style scoped>
::v-deep .input-right input {
  text-align: right;
}
::v-deep .input-red input {
  color: red;
}
.colorRed {
  color: red;
}
</style>