<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar
        title="Template Configuration"
        dark
        color="secondary"
        icon="mdi-cog-outline"
      >
        ></isttoolbar
      >
      <isttoolbar
        v-if="mode === 'd'"
        title="View Template Item"
        dark
        class="mb-4 pl-9"
        color="primary"
      ></isttoolbar>
      <isttoolbar
        v-if="mode === 'e'"
        title="Edit Template Item"
        dark
        class="mb-4 pl-9"
        color="primary"
      ></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-spacer></v-spacer>
      <v-tooltip bottom v-if="mode === 'd' && checkAuthorities('template-config-item-edit')">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="white"
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="mode = 'e'"
            text
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="save"
        >Save</v-btn
      >

      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="white"
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="back"
        >cancel</v-btn
      >
    </div>

    <v-form class="contentFix">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Template Code</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Template Code"
            ref="code"
            v-model="param.code"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
            filled
            readonly
            
          >
            <!-- @keydown="codeKeydown($event)" -->
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Template Name</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            v-if="mode === 'd'"
            hide-details="auto"
            label="Template Name"
            ref="name"
            v-model="param.name"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
            filled
            readonly
          ></v-text-field>
          <v-text-field
            v-if="mode === 'e'"
            hide-details="auto"
            label="Template Name"
            ref="name"
            v-model="param.name"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Template Description</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            v-if="mode === 'd'"
            filled
            readonly
            hide-details="auto"
            label="Template Description"
            ref="description"
            v-model="param.description"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
          <v-text-field
            v-if="mode === 'e'"
            hide-details="auto"
            label="Template Description"
            ref="description"
            v-model="param.description"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="start" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Content </span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-card flat outlined min-height="300" v-if="mode === 'd'">
            <froala-view v-model="param.content"></froala-view>
          </v-card>

          <froala v-model="param.content" :config="config" v-if="mode === 'e'">
          </froala>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-switch
            v-if="mode === 'd'"
            filled
            readonly
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
          <v-switch
            v-if="mode === 'e'"
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-2" v-show="mode === 'd'">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <!-- <v-card-actions class="ml-2">
      <v-btn
        height="40"
        width="100"
        color="primary"
        dark
        rounded
        @click="save"
        class="pa-4"
        >Save</v-btn
      >
      <v-btn
        height="40"
        width="100"
        color="red"
        dark
        rounded
        @click="back"
        class="pa-4"
        >Cancel</v-btn
      >
    </v-card-actions> -->
    <v-snackbar v-model="snackbar" :timeout="2000" :light="true">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="success" text v-bind="attrs" @click="snackbar = false"
          >Close</v-btn
        >
      </template>
    </v-snackbar>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import Vue from "vue";
import VueFroala from "vue-froala-wysiwyg";
Vue.use(VueFroala);
import "froala-editor/js/plugins/align.min";
import "froala-editor/js/plugins/font_size.min";
import "froala-editor/js/plugins/colors.min";
import "froala-editor/css/plugins/colors.min.css";
import "froala-editor/js/plugins/table.min";
import "froala-editor/css/plugins/table.min.css";
import "froala-editor/js/plugins/paragraph_format.min";
import "froala-editor/js/plugins/paragraph_style.min";
import "froala-editor/js/plugins/code_view.min";
import "froala-editor/js/plugins/code_beautifier.min";
import "froala-editor/css/plugins/code_view.min.css";
import "froala-editor/js/plugins/word_paste.min";
import "froala-editor/js/plugins/quote.min";
import "froala-editor/js/plugins/link.min";
import "froala-editor/js/plugins/image.min";
import "froala-editor/js/plugins/font_family.min";
import "froala-editor/js/plugins/line_height.min";
import "froala-editor/js/plugins/lists.min";
import "froala-editor/css/themes/gray.min.css";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    config: {
      attribution: false,
      tableCellStyles: {
        noborder: "No Border",
      },
      tableStyles: {
        noborder: "No Border",
      },
      lineHeights: {
        Default: "",
        Single: "1",
        1.15: "1.15",
        1.5: "1.5",
        Double: "2",
      },
      listAdvancedTypes: true,
      toolbarButtons: [
        [
          "alignLeft",
          "alignCenter",
          "alignRight",
          "alignJustify",
          "lineHeight",
          "bold",
          "italic",
          "underline",
          "fontSize",
          "fontFamily",
          "quote",
          "indent",
          "outdent",
          "formatOL",
          "formatUL",
          "paragraphFormat",
          "paragraphStyle",
          "textColor",
          "insertTable",
          "insertLink",
          "insertImage",
          "html",
          "undo",
          "redo",
          "codeView",
          "beautifier",
          "wordPaste",
        ],
      ],
      theme: "gray",
      heightMin: 600,
      heightMax: 400,
      paragraphFormatSelection: true,
      toolbarSticky: true, //static header
      pastePlain: true,
      events: {
        "image.beforeUpload": function (files) {
          let editor = this;
          if (files.length) {
            let reader = new FileReader();
            // Set the reader to insert images when they are loaded.
            reader.onload = function (e) {
              let result = e.target.result;
              editor.image.insert(result, null, null, editor.image.get());
            };
            // Read image as base64.
            reader.readAsDataURL(files[0]);
          }
          editor.popups.hideAll();
          // Stop default upload chain.
          return false;
        },
      },
    },

    errorDescription: "",
    overlay: false,
    templateRemoveFroala: [],
    dialog: { show: false, success: false, error: false },
    mode: "",
    param: {
      code: "",
      name: "",
      content: "",
      description: "",
      recordStatus: "",
      id: 0,
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  computed: {
    form() {
      return {
        code: this.param.code,
        name: this.param.name,
        // content: this.param.content,
        description: this.param.description,
        recordStatus: this.param.recordStatus,
      };
    },
  },
  watch: {
    "param.code": function (val) {
     this.param.code = val.toUpperCase()//.replace(/\d/g, '');
    },
  },
  mounted() {
    this.mode = this.$route.query.mode;

    if (this.$route.query) {
      this.param.id = this.$route.query.id;
      this.getItemData();
    }
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      this.$router.replace({
        name: "template-configuration-list",
        params: { tabs: "1" },
        query: {back: true},
      });
    },
    async filterFroala() {
      this.templateRemoveFroala = this.param.content
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");
    },
    save() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) {
          if (this.param.recordStatus === false) return;
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        this.filterFroala();

        this.doEdit();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async getItemData() {
      const id = this.param.id;
      let resp = await API.get("config/api/master-template-item/" + id, null);
      if (resp.data.code === 0) {
        // this.param = resp.data.data;
        this.param.code = resp.data.data.code;
        this.param.name = resp.data.data.name;
        this.param.description = resp.data.data.description;
        this.param.content = resp.data.data.content;
        this.param.recordStatus = resp.data.data.isActive === 1;
        this.param.entryName = resp.data.data.createdBy;
        this.param.entryDate = this.formatDate(resp.data.data.createdDate);
        this.param.modifName = resp.data.data.modifiedBy;
        this.param.modifDate = this.formatDate(resp.data.data.modifiedDate);
      }
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    async doEdit() {
      let paramJSON = {
        templateItem: {
          id: this.param.id,
          code: this.param.code,
          name: this.param.name,
          // content: this.param.content,
          content: this.templateRemoveFroala,
          description: this.param.description,
          isActive: this.param.recordStatus ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post(
        "config/api/master-template-item/update",
        param
      );
      if (resp.data.code === 0) {
        // this.dialog.success = true;
        this.dialog = { show: false, success: false, error: false };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.back();
      } else {
        const err = resp.data.errorDescription;
        this.errorDescription = err;
        this.dialog.error = true;
      }
    },
    codeKeydown(e) {
      if (/^\d/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>
<style scoped>
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  color: white;
  position: fixed;
  z-index: 2;
  margin-top: 3px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}

.contentDisable {
  background-color: red;
}
</style>
