<template>
  <v-card flat>
    <isttoolbar
      title="Claims"
      dark
      color="secondary"
      icon="mdi-email-newsletter"
    >
    </isttoolbar>
    <isttoolbar dark color="primary" class="pa-0">
      <!-- title="List of Customer Opportunity" -->
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-divider class="mx-5" dark vertical></v-divider> -->
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              ref="customer"
              name="customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              v-model="filter.customer.searchValue"
              :items="filter.customer.items"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              light
              @change="refresh"
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
            ></v-autocomplete>
            <!-- @keyup="autocompSearch(filter.customer)" -->
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Client</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.customer.searchValue"
                          ref="customer"
                          name="customer"
                          :search-input.sync="filter.customer.searchInput"
                          :items="filter.customer.items"
                          item-value="id"
                          item-text="codeAndName"
                          :loading="filter.customer.loading"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                          @keyup="autocompSearch(filter.customer)"
                        ></v-autocomplete>
                        <!-- @keyup="autocompSearch(filter.customer)" -->
                      </v-col>
                    </v-row>
                  </v-col>
                  <!-- <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Class of Risk</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.business.searchValue"
                          ref="business"
                          name="business"
                          :items="filter.business.items"
                          item-value="riskCode"
                          item-text="riskName"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Risk Class Name."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col> -->
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Claims Officer</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.officerClaims.searchValue"
                          label=""
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="officerClaims"
                          name="officerClaims"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Claim No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.claimNo.searchValue"
                          label=""
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="claimNo"
                          name="claimNo"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Class of Risk</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.business.searchValue"
                          ref="business"
                          name="business"
                          :items="filter.business.items"
                          item-value="riskCode"
                          item-text="codeAndName"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Risk Class Name."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                  <!-- <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Progress</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.progress.searchValue"
                          ref="progress"
                          name="progress"
                          :items="filter.progress.items"
                          item-value="code"
                          item-text="value"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col> -->
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Claim Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdFrom.menu =
                                    !filter.createdFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdFrom.dataValue"
                            no-title
                            @input="filter.createdFrom.menu = false"
                            :max="filter.createdTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdTo.menu = !filter.createdTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdTo.dataValue"
                            no-title
                            @input="filter.createdTo.menu = false"
                            :min="filter.createdFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Date Of Loss</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.insuranceFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.insuranceFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.insuranceFrom.menu =
                                    !filter.insuranceFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.insuranceFrom.dataValue"
                            no-title
                            @input="filter.insuranceFrom.menu = false"
                            :max="filter.insuranceTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.insuranceTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.insuranceTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.insuranceTo.menu =
                                    !filter.insuranceTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.insuranceTo.dataValue"
                            no-title
                            @input="filter.insuranceTo.menu = false"
                            :min="filter.insuranceFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                  <!-- <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Created By</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.createdBy.searchValue"
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="createdBy"
                          name="createdBy"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col> -->
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Insured</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.insuredObject.searchValue"
                          label=""
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="insuredObject"
                          name="insuredObject"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Policy No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.policyNo.searchValue"
                          label=""
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="policyNo"
                          name="policyNo"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="mr-5"
                    @click="listSearch"
                    outlined
                    dark
                    color="primary"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:[`item.statusEdited`]="{ item }">
        <div>
          {{
            item.recStatus == 0
              ? "Entry"
              : item.recStatus == 1
              ? "Notify"
              : item.recStatus == 2
              ? "Closed"
              : item.recStatus == 90
              ? "Cancelled"
              : item.recStatus
          }}
        </div>
      </template>
      <!-- <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <span v-if="header.sortable == false" class="text-subtitle-2">{{
                header.text
              }}</span>
              <v-row v-else style="display: block ruby;">
                <span class="text-subtitle-2">{{ header.text }}</span>
                <v-btn icon @click="sortClick(header.value)">
                  <v-icon :color="getSortIconProp(header).color" dense>{{
                    getSortIconProp(header).icon
                  }}</v-icon>
                </v-btn>
              </v-row>
            </th>
          </tr>
        </thead>
      </template> -->
      <template v-slot:item.isActive="{ item }">
        <div>{{ item.isActive == 1 ? "Active" : "Inactve" }}</div>
      </template>
      <template v-slot:item.idAccount="{ item }">{{ item.name }}</template>
      <template v-slot:item.amountEstimate="{ item }">{{
        item.amountEstimate != null
          ? formatCommaCurrency(item.amountEstimate, item.currencyCode)
          : ""
      }}</template>
      <template v-slot:item.riskCode="{ item }">{{
        getText(item.riskCode, "business", "riskCode", "riskName")
      }}</template>
      <template v-slot:item.idAgent="{ item }">{{ item.agentName }}</template>
      <template v-slot:item.codeSegment="{ item }">{{
        getText(item.codeSegment, "department", "code", "value")
      }}</template>
      <template v-slot:item.status="{ item }">{{
        getText(item.status, "status", "code", "value")
      }}</template>
      <template v-slot:item.progress="{ item }">{{
        getText(item.progress, "progress", "code", "value")
      }}</template>
      <template v-slot:item.createdDate="{ item }">
        <span v-if="item.createdDate">{{
          new Date(item.createdDate).toISOString().substr(0, 10)
        }}</span>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="item.recStatus === 0 || item.recStatus === 1"
              @click="
                () => {
                  edit(item);
                }
              "
              v-show="checkAuthorities('claim-maintenance-edit')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
    <v-row justify="center">
      <v-dialog v-model="dialogload.show" persistent max-width="290">
        <v-card v-show="!dialogload.success && !dialogload.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialogload.success || dialogload.error">
          <v-card-title
            v-if="dialogload.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialogload.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialogload.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialogload.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialogload.success ? editItem() : (dialogload.show = false)
              "
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  data: () => ({
    dialogload: { show: false, success: false, error: false, errorMessage: "" },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Client",
        align: "start",
        value: "idAccount",
        sortable: false,
      },
      {
        text: "Claim No",
        value: "id",
        sortable: false,
      },
      {
        text: "Claim Date",
        value: "createdDate",
        sortable: false,
      },
      {
        text: "Date of Loss",
        value: "dateLoss",
        sortable: false,
      },
      {
        text: "Claim Officer",
        value: "officerClaim",
        sortable: false,
      },
      {
        text: "Insured",
        value: "insuredObject",
        sortable: false,
      },
      {
        text: "Underwriter",
        value: "underwriter",
        sortable: false,
      },
      {
        text: "Class",
        value: "riskCode",
        sortable: false,
      },
      {
        text: "Status",
        value: "statusEdited",
        sortable: false,
      },
      // {
      //   text: "Notes",
      //   value: "notes",
      //   sortable: false,
      // },
      // {
      //   text: "Created By",
      //   value: "createdBy",
      //   sortable: false,
      // },
      // {
      //   text: "Created Date",
      //   value: "createdDate",
      //   sortable: false,
      // },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
      customer: {
        value: "idAccount",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
      },
      status: {
        value: "status",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url: "/config/api/master-parameter/?module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      insuranceFrom: {
        value: "dateLoss",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      insuranceTo: {
        value: "dateLoss",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "lessThanOrEqual",
        menu: false,
      },
      progress: {
        value: "progress",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url: "/config/api/master-parameter/?module.equals=SALES_PROGRESS_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      currency: {
        value: "currencyCode",
        searchValue: "IDR",
        searchParam: "equals",
      },
      officerClaims: {
        value: "officerClaim",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      claimNo: {
        value: "claimNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      insuredObject: {
        value: "insuredObject",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      policyNo: {
        value: "policyNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      income: {
        value: "amountEstimate",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      createdBy: {
        value: "createdBy",
        searchValue: "",
        searchParam: "equals",
      },
      business: {
        value: "riskCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/??size=-1",
        loading: true,
      },
      department: {
        value: "codeSegment",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-parameter/?module.equals=BUSINESS_SEGMENT&sort=code,asc,ignoreCase&size=-1",
        loading: true,
      },
      createdFrom: {
        value: "createdDate",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      createdTo: {
        value: "createdDate",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "lessThanOrEqual",
        menu: false,
      },
    },
    listParam: [],
    exportLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        var pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "filter.insuranceFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate());
          this.filter.insuranceFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.insuranceFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.insuranceTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate());
          this.filter.insuranceTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.insuranceTo.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.income.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          this.filter.income.searchValue = this.currencyToFloat(after);
        } else {
          this.amountChanged = false;
          this.filter.income.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.createdFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          // date.setDate(date.getDate() - 1);
          this.filter.createdFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.createdTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate());
          this.filter.createdTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdTo.searchValue = "";
        }
      },
      deep: true,
    },
  },

  mounted() {
    // this.refresh();
  },

  created() {
    this.$route.query.back == true ? this.backFromAction() : this.optionsHandler = true;
    this.initList(["status", "progress", "customer", "business", "department"]);
    this.filter.insuranceFrom.dataValue = "";
    this.filter.insuranceTo.dataValue = "";
    this.filter.createdFrom.dataValue = "";
    this.filter.createdTo.dataValue = "";
  },

  methods: {
    // view() {
    //   this.$router.replace({ name: "create" });
    // },
    goToAdd() {
      this.$router.replace({ name: "customer-opportunity-add" });
    },

    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (key == "currency") {
            if (String(this.filter.income.searchValue).length > 0) {
              findHeaderValueNotEmpty.push(this.filter[key]);
            }
          } else if (String(this.filter[key].searchValue).length > 0) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("claims/api/claims/claims_maintenance/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log("INI Error");
            // this.dialogload.show = true;
            // this.dialogload.error = true;
            // this.dialogload.errorMessage = "Failed to load";
            console.log(error);
            this.loading = false;
          });
      });
    },

    back() {
      this.$router.replace({ name: "claim-maintenance-list" });
    },

    // saveDoc(base64) {
    //   var binaryString = window.atob(base64);
    //   var binaryLen = binaryString.length;
    //   var bytes = new Uint8Array(binaryLen);
    //   for (var i = 0; i < binaryLen; i++) {
    //     var ascii = binaryString.charCodeAt(i);
    //     bytes[i] = ascii;
    //   }
    //   const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
    //   const link = document.createElement("a");
    //   link.href = downloadUrl;
    //   link.setAttribute("download", "List of Customer Opportunity.xlsx"); //any other extension
    //   document.body.appendChild(link);
    //   link.click();
    //   link.remove();
    // },

    // editItem(item, mode) {
    //   this.$router.push({
    //     name: "customer-opportunity-edit",
    //     query: { id: item.id, mode: mode },
    //   });
    // },
    edit(item) {
      this.$router.push({
        name: "claim-maintenance-edit",
        query: { id: item.id, status: item.recStatus, mode: "e" },
      });
      this.storeTable();
    },

    viewItem(item) {
      this.$router.push({
        name: "claim-maintenance-edit",
        query: { id: item.id, status: item.recStatus, mode: "d" },
      });
      this.storeTable();
    },

    storeTable() {
      let viewListData = {
        dataList : {
          // items: this.items,
          "options": this.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.dataList;
        // this.items = dataCsh.items;
        this.options = dataList.options;
        // this.totalItems = dataCsh.totalItems;
        this.loading = false;
        // let vm = this;
        setTimeout(() => {
          // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
          localStorage.removeItem('viewListData');
          // vm.optionsHandler = true;
        }, 100)
      } //else {
        // this.optionsHandler = true;
      // }  
    },

    // deleteItem(item) {
    //   if (item.id != null) {
    //     API.post("/api/master-location/regency/delete/" + item.id).then(
    //       (resp) => {
    //         if (resp.data.code == 0) {
    //           this.alert = true;
    //           setTimeout(() => {
    //             this.alert = false;
    //           }, 2000);
    //         } else {
    //           this.errAlert = true;
    //           setTimeout(() => {
    //             this.errAlert = false;
    //           }, 2000);
    //         }
    //       }
    //     );
    //   }
    // },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      API.get(
        filter.url +
          filter[
            !this.expanded ? "toolbarSearchInput" : "searchInput"
          ].toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          // console.log(resp.data.data);
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
    },

    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    deptTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>