<template>
  <v-card flat>
    <isttoolbar
      title="Finance"
      dark
      color="secondary"
      icon="mdi-chart-box-plus-outline"
    >
      <v-spacer />
      <div v-if="disableForm">
        <v-btn
          outlined
          class="mx-1"
          min-width="100px"
          @click="toPost"
          v-show="
            param.transType != 'REV' &&
            param.status.toString() != '' &&
            ['POSTED', 'VOID'].indexOf(param.status) == -1 &&
            currencyToFloat(param.balance) != 0 //&&
            //checkAuthorities('cash-receipt-manual-post')
          "
        >
          Posting
        </v-btn>

        <v-dialog v-model="voidDialog" persistent max-width="400">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              outlined
              class="mx-1"
              min-width="100px"
              v-show="
                param.transType != 'REV' &&
                param.status.toString() != '' &&
                ['POSTED', 'VOID'].indexOf(param.status) == -1 &&
                currencyToFloat(param.balance) != 0 //&&
                //checkAuthorities('cash-receipt-manual-void')
              "
              v-bind="attrs"
              v-on="on"
            >
              Void
            </v-btn>
          </template>
          <v-card>
            <v-card-title class="headline justify-center">
              Are you sure want to void this Cash Receipt?
            </v-card-title>
            <v-card-text> </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                outlined
                color="primary"
                class="mx-1"
                min-width="100px"
                @click="
                  toVoid();
                  voidDialog = false;
                "
              >
                Yes
              </v-btn>
              <v-btn
                outlined
                color="primary"
                class="mx-1"
                min-width="100px"
                @click="voidDialog = false"
              >
                No
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!-- <v-menu
          bottom
          offset-y
          :nudge-width="200"
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-show="param.status != 'VOID'"
              min-height="40"
              v-bind="attrs"
              v-on="on"
              text
            >
              <v-icon>mdi-printer mdi-36px</v-icon>
            </v-btn>
          </template>
          <v-card width="480px">
            <v-row>
              <v-col cols="12" class="colorLine pa-0">
                <v-row align="center" class="ml-2 mr-4 mt-2">
                  <v-col cols="5" class="pa-0">
                    <span class="title ml-5">Original Receipt</span>
                  </v-col>
                  <v-col cols="2" class="pa-0">
                    <v-btn outlined color="primary" @click="viewFile(null)"
                      >Preview</v-btn
                    >
                  </v-col>
                  <v-col cols="5" class="pa-0">
                    <v-select
                      :items="dataGenerate"
                      solo
                      flat
                      dense
                      outlined
                      class="mr-3 ml-5"
                      color="primary"
                      full-width
                      hide-details="auto"
                      v-model="generateData"
                      return-object
                      item-text="name"
                      name="originalReceipt"
                      ref="originalReceipt"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="colorLine pa-0">
                <v-row align="center" class="ml-2 mr-4 my-2">
                  <v-col cols="5" class="pa-0">
                    <span class="title ml-5">Original Receipt Copy</span>
                  </v-col>
                  <v-col cols="2" class="pa-0">
                    <v-btn outlined color="primary" @click="viewFile('copy')"
                      >Preview</v-btn
                    >
                  </v-col>
                  <v-col cols="5" class="pa-0">
                    <v-select
                      :items="dataGenerate"
                      solo
                      flat
                      dense
                      outlined
                      class="mr-3 ml-5"
                      color="primary"
                      full-width
                      hide-details="auto"
                      v-model="generateCopy"
                      return-object
                      item-text="name"
                      name="receiptCopy"
                      ref="receiptCopy"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-menu> -->

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <printaction
              v-show="param.status != 'VOID'"
              v-bind="attrs"
              v-on="on"
              :items="printItems"
              :id="param.receiptNo"
              status=""
              :customer="param.customerName"
              idParam="id"
              base64Key="base64"
              
            >
              <!-- cekAuth="cash-receipt-manual-generate" -->
              <!-- title="Cash Receipt Manual" -->
            </printaction>
          </template>
          <span>Print</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-show="
                param.status.toString() != '' &&
                ['VOID'].indexOf(param.status) == -1 &&
                checkAuthorities('cash-receipt-manual-edit')
              "
              v-bind="attrs"
              v-on="on"
              min-height="40"
              @click="disableForm = false"
              text
            >
              <v-icon>mdi-pen mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              min-height="40"
              @click="toList"
              text
            >
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div v-else>
        <v-btn @click="save" outlined class="mx-1" min-width="100px">
          Save
        </v-btn>
        <v-btn @click="back" outlined class="mx-1" min-width="100px">
          Cancel
        </v-btn>
      </div>
    </isttoolbar>
    <isttoolbar
      :title="
        disableForm ? 'View Cash Receipt Manual' : 'Edit Cash Receipt Manual'
      "
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transDate"
            ref="transDate"
            name="transDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Original Receipt No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="{Auto Generated}"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            v-model="param.receiptNo"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
          >
            <v-radio
              label="Client"
              value="CLIENT"
              :disabled="param.custType == 'AGENT'"
            ></v-radio>
            <v-radio
              label="Agent"
              value="AGENT"
              :disabled="param.custType == 'CLIENT'"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <!-- <v-row v-show="param.custType == 'client'" align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            
            v-model="param.client"
            ref="client"
            name="client"
            @keyup="autocompSearch(search.client)"
            :search-input.sync="search.client.input"
            :items="search.client.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.client.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row v-show="param.custType == 'agent'" align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            
            v-model="param.agent"
            ref="agent"
            name="agent"
            @keyup="autocompSearch(search.agent)"
            :search-input.sync="search.agent.input"
            :items="search.agent.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.agent.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row> -->
      <!-- <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            :item-text="currencyTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row> -->
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Transaction Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.transType"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :loading="search.transType.loading"
            item-value="code"
            :item-text="transTypeTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            append-icon=""
            readonly
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2" v-show="param.transType == 'REV'">
        <v-col cols="2" class="pa-1">
          <span class="title">
            CSH Ref No <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.cshRefNo"
            ref="cshRefNo"
            name="cshRefNo"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Received Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.receivedType"
            ref="receivedType"
            name="receivedType"
            :items="search.receivedType.items"
            :loading="search.receivedType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            flat
            outlined
            dense
            solo
            append-icon=""
            readonly
          ></v-autocomplete>
            <!-- :append-icon="
              disableForm || param.status != 'APPROVED' ? '' : 'mdi-menu-down'
            "
            :readonly="param.status != 'APPROVED'" -->
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank Source </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-text-field
            v-model="param.bankSource"
            ref="bankSource"
            name="bankSource"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field> -->
          <v-autocomplete
            hide-details="auto"
            v-model="param.bankSource"
            ref="bankSource"
            name="bankSource"
            :items="search.bankSource.items"
            :loading="search.bankSource.loading"
            item-value="bankCode"
            :item-text="bankSourceTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            append-icon=""
            readonly
          ></v-autocomplete>
            <!-- :append-icon="
              disableForm || param.status != 'APPROVED' ? '' : 'mdi-menu-down'
            "
            :readonly="param.status != 'APPROVED'" -->
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
          <!-- :readonly="param.status != 'APPROVED'" -->
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-text-field
            v-model="param.refDate.date"
            ref="refDate"
            name="refDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field> -->
          <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            disabled
          >
          <!-- :disabled="disableForm || param.status != 'APPROVED'" -->
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                  v-show="false"
                >
                <!-- v-show="!disableForm && param.status == 'APPROVED'" -->
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Description <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            ref="desc"
            name="desc"
            class="ma-0"
            v-model="param.desc"
            :rules="[rules.required]"
            :rows="4"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Amount <span class="error--text">*</span></span>
        </v-col>
        <v-col cols="1" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            item-text="code"
            class="ma-0"
            flat
            outlined
            dense
            solo
            append-icon=""
            readonly
          ></v-autocomplete>
        </v-col>
        <v-col cols="3" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="amount"
            name="amount"
            class="ma-0"
            v-model="param.amount"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Exchange Rate <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank Received </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-text-field
            v-model="param.bankReceived"
            ref="bankReceived"
            name="bankReceived"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field> -->
          <v-autocomplete
            hide-details="auto"
            v-model="param.bankReceived"
            ref="bankReceived"
            name="bankReceived"
            :items="search.bankReceived.items"
            :loading="search.bankReceived.loading"
            item-value="coaCode"
            :item-text="coaTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            no-data-text="Type the Bank Name."
            append-icon=""
            readonly
          ></v-autocomplete>
            <!-- :append-icon="
              disableForm || param.status != 'APPROVED' ? '' : 'mdi-menu-down'
            "
            :readonly="param.status != 'APPROVED'" -->
          <!-- :search-input.sync="search.bankReceived.params['coaName.contains']" -->
          <!-- @keyup="autocompSearch(search.bankReceived)" -->
        </v-col>
      </v-row>

      <br />
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modify By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Posting By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.postName"
            ref="postName"
            name="postName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.postDate"
            ref="postDate"
            name="postDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Void By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.voidName"
            ref="voidName"
            name="voidName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.voidDate"
            ref="voidDate"
            name="voidDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="statusConfirm" persistent max-width="290">
        <v-card>
          <v-card-title class="text-center" style="word-break: inherit"
            >Are you sure you want to change the status to
            {{ param.statusDesc }}?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="statusConfirm = false"
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="statusConfirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? reloadData() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import printaction from "@/components/toolbars/printAction";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    printaction,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      transDate: new Date().toISOString().substr(0, 10),
      status: "",
      statusDesc: "",
      receiptNo: "",
      custType: "CLIENT",
      customer: "",
      customerName: "",
      client: "",
      agent: "",
      currency: "",
      transType: "",
      cshRefNo: "",
      receivedType: "",
      bankReceivedName: "",
      bankSource: "",
      reference: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      desc: "",
      bankReceived: "",
      amount: "",
      balance: "",
      excRate: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
      postName: "",
      postDate: "",
      voidName: "",
      voidDate: "",
    },
    search: {
      client: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/client",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/agent",
        loading: true,
        request: null,
      },
      status: {
        items: [
          { value: 0, text: "ENTRY" },
          { value: 1, text: "APPROVED" },
          { value: 2, text: "POSTED" },
          { value: 3, text: "VOID" },
        ],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "RECEIVED_TYPE",
          sort: "code,asc,ignoreCase",
        },
        url: "/config/api/master-parameter/",
        loading: true,
      },
      bankSource: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-mbank/",
        loading: true,
        itemSearch: {
          p: true,
        },
        uniqueKey: "bankCode",
      },
      bankReceived: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          // "coaName.contains": "",
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        request: null,
        itemSearch: {
          p: true,
        },
        uniqueKey: "coaCode",
      },
      coa: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    statusConfirm: false,
    overlay: true,
    voidDialog: false,
    printItems: [
      {
        // code: "client",
        text: "Original Receipt",
        name: "Cash Receipt Manual Original Receipt",
        url: "/finance/api/finance/cash-receipt-manual/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "copy",
        text: "Original Receipt Copy",
        name: "Cash Receipt Manual Original Receipt Copy",
        url: "/finance/api/finance/cash-receipt-manual/generate-copy",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        receivedType: this.param.receivedType,
        refDate: this.param.refDate.date,
        desc: this.param.desc,
      };
    },
  },

  watch: {
    // "param.status": {
    //   handler: function (after, before) {
    //     console.log("before", before);
    //     let status = this.search.status.items.filter(
    //       (value) => value.code == after
    //     );
    //     if (status.length > 0) {
    //       this.param.statusDesc = status[0].value;
    //     }
    //   },
    //   deep: true,
    // },
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },

  created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      this.getItemData(id);
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async getItemData(id) {
      // let checkToken = JSON.parse(localStorage.getItem("checkToken"));
      // this.param.entryName = checkToken.fullname;
      this.param.id = id;

      let paramJSON = {
        id: id,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/finance/cash-receipt-manual/view",
        param
      ).then((resp) => {
        console.log("resp", resp);
        let dataResp = resp.data;
        this.param.receiptNo = dataResp.originalReceiptNo;
        this.param.transDate = this.formatDateToDMY(dataResp.transactionDate);
        this.param.status = this.getText(
          dataResp.status,
          "status",
          "value",
          "text"
        );
        this.param.custType = dataResp.customerType;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerName = dataResp.customerName;
        this.param.currency = dataResp.currency;
        this.search.bankReceived.params["currency.equals"] =
          this.param.currency;
        this.param.transType = dataResp.transactionType;
        this.param.cshRefNo = dataResp.reversalNo;
        this.param.receivedType = dataResp.receivedType;
        this.param.bankSource = dataResp.bankSource;
        this.param.reference = dataResp.reference;
        this.param.refDate.date = dataResp.referenceDate;
        this.param.desc = dataResp.description;
        this.param.bankReceived = dataResp.bankReceived;
        this.param.bankReceivedName = dataResp.bankReceivedName;
        this.param.amount = //this.currencyFormat(dataResp.amount);
          dataResp.transactionType == "CSH" && dataResp.amount > 0 
            ? this.currencyFormat(dataResp.amount * -1)
            : this.currencyFormat(dataResp.amount);
        this.param.balance = this.currencyFormat(dataResp.balance);
        this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
        this.param.entryName = dataResp.createdBy;
        this.param.entryDate = dataResp.createdDate;
        this.param.modifName = dataResp.modifiedBy;
        this.param.modifDate = dataResp.modifiedDate;
        this.param.voidName = dataResp.voidBy;
        this.param.voidDate = dataResp.voidDate;
        this.param.postName = dataResp.postedBy;
        this.param.postDate = dataResp.postedDate;
      });
      await this.initList([
        // "status",
        // "client",
        // "agent",
        "currency",
        // "transType",
        "receivedType",
        "bankSource",
        "bankReceived",
      ]);
      this.overlay = false;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.reloadData();
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ 
        name: "cash-receipt-manual-list",
        query: {back: true},

      });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doEdit();
      } else {
        this.formHasErrors = false;
      }
    },
    async doEdit() {
      let bankSource = this.search.bankSource.items.filter(
        (value) => value.bankCode == this.param.bankSource
      );
      let bankReceived = this.search.bankReceived.items.filter(
        (value) => value.coaCode == this.param.bankReceived
      );
      let paramJSON = {
        originalReciptNo: this.param.receiptNo,
        description: this.param.desc,
        receivedType: this.param.receivedType,
        reversalNo: parseFloat(this.param.cshRefNo),
        bankSource: this.param.bankSource,
        bankSourceName: this.param.bankSource ? bankSource[0].bankName : null,
        reference: this.param.reference,
        referenceDate: this.param.refDate.date,
        bankReceived: this.param.bankReceived,
        bankReceivedName:
          bankReceived.length > 0
            ? bankReceived[0].coaName
            : this.param.bankReceived,
      };

      let param = JSON.stringify(paramJSON);
      API.post("/finance/api/finance/cash-receipt-manual/edit", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.reloadData();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    reloadData() {
      // this.$route.query.mode = "d";
      this.disableForm = true;
      this.$router.replace({ query: { id: this.param.receiptNo, mode: "d" } }).catch(()=>{});
      this.overlay = true;
      this.dialog.show = false;
      this.dialog.success = false;
      this.dialog.error = false;
      this.getItemData(this.param.receiptNo);
    },
    // to void
    async toVoid() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      let paramJSON = {
        id: this.param.receiptNo,
      };
      let param = JSON.stringify(paramJSON);
      API.post("/finance/api/finance/cash-receipt-manual/void", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.reloadData();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    async toPost() {
      // this.dialog.show = true;
      // let paramJSON = {
      //   cashReceiptData: {
      //     idCashReceiptManual: this.param.receiptNo,
      //   },
      // };
      // let param = JSON.stringify(paramJSON);
      // API.post("/finance/api/finance/cashreceipt/post", param)
      //   .then((resp) => {
      //     console.log(resp);
      //     if (resp.data.code == 0) {
      //       this.dialog.success = true;
      //     } else {
      //       this.dialog.error = true;
      //       this.dialog.errorMessage =
      //         resp.data.errorMessage.length > 0
      //           ? resp.data.errorMessage.toUpperCase()
      //           : resp.data.errordescription.toUpperCase();
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //     this.dialog.error = true;
      //   });
      this.$router.replace({
        name: "cash-receipt-add",
        query: { id: this.param.receiptNo, mode: "p" },
      }).catch(()=>{});
    },
    initList(list, paramAdd = null) {
      for (let l of list) {
        this.search[l].loading = true;
        let mergedParam = { ...this.search[l].params, ...paramAdd };
        API.get(this.search[l].url, mergedParam)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(search.url, search.params, null, null, axiosSource.token).then(
        (resp) => {
          search.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            search.items = resp.data.data;
          } else {
            search.items = [];
          }
        }
      );
      search.request = null;
    },
    statusOnChange() {
      this.param.progress = "";
      if (this.param.status == "2") {
        this.param.progress = "6";
      } else if (this.param.status == "3") {
        this.param.progress = "5";
      }
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    isDataExist(value, items) {
      let isExist = false;
      for (let i of items) {
        if (i.id == parseFloat(value)) {
          isExist = true;
        }
      }
      console.log("isExist", isExist);
      return isExist;
    },
    viewFile(type = null, format = null) {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;

      let docUrl = "finance/api/finance/cash-receipt-manual/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/cash-receipt-manual/generate-copy";
      }
      let paramJSON = {
        id: this.param.receiptNo,
        fileType: format,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.base64, format);
          } else {
            this.previewFile(resp.data.base64);
          }
          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Cash Receipt Manual " +
          this.param.receiptNo +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          " - " +
          this.param.customerName +
          // " " +
          // this.currentTime +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    getText: function (code, items, codeParam, textParam) {
      let pItem = this.search[items].items.filter(
        (value) => value[codeParam] == code
      );
      return pItem.length > 0 ? pItem[0][textParam] : code;
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    formatDateToDMY(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>>
