<template>
  <v-card flat>
    <v-row>
      <v-col cols="2" class="pr-0 py-0">
        <isttoolbar
          style="border-top-left-radius: 5px"
          title="Finance Claim"
          dark
          color="secondary"
          icon="mdi-finance"
        >
        </isttoolbar>
      </v-col>
      <v-col cols="10" class="pl-0 py-0">
        <isttoolbar
          title="Journal Single/Multi Currency"
          dark
          color="primary"
          class="pa-0"
          style="border-top-right-radius: 5px"
        >
          <v-spacer></v-spacer>
          <v-btn outlined @click="goToAdd" v-show="checkAuthorities('claims-creditor-journal-currency-add')">
            <v-icon left>mdi-plus</v-icon>Create New
          </v-btn>
        </isttoolbar>
      </v-col>
    </v-row>
    <isttoolbar dark color="primary" class="pa-0">
      <!-- title="List of Cash Receipt" -->
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-divider class="mx-5" dark vertical></v-divider> -->
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Trans No"
              v-model="filter.customer.searchValue"
              ref="customer"
              name="customer"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              :items="filter.customer.items"
              item-value="idJournalCurrency"
              item-text="idJournalCurrency"
              :loading="filter.customer.loading && !expanded"
              clearable
              solo
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
            ></v-autocomplete>
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Trans No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          label="Insert Trans No"
                          hide-details="auto"
                          v-model="filter.customer.searchValue"
                          ref="customer"
                          name="customer"
                          @keyup="autocompSearch(filter.customer)"
                          :search-input.sync="filter.customer.searchInput"

                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.receiptFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              label="Select Date"
                              v-model="filter.receiptFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.receiptFrom.menu = !filter.receiptFrom
                                    .menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.receiptFrom.dataValue"
                            no-title
                            @input="filter.receiptFrom.menu = false"
                            :max="filter.receiptTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.receiptTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              label="Select Date"
                              v-model="filter.receiptTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.receiptTo.menu = !filter.receiptTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.receiptTo.dataValue"
                            no-title
                            @input="filter.receiptTo.menu = false"
                            :min="filter.receiptFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="mr-5"
                    @click="listSearch"
                    outlined
                    dark
                    color="primary"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
    <template v-slot:[`item.amount`]="{ item }">
      <div align="right">
        {{ formatMoney(Number(item.amount)) }}
      </div>
    </template>
      <!-- <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <span v-if="header.sortable == false" class="text-subtitle-2">{{
                header.text
              }}</span>
              <v-row v-else style="display: block ruby;">
                <span class="text-subtitle-2">{{ header.text }}</span>
                <v-btn icon @click="sortClick(header.value)">
                  <v-icon :color="getSortIconProp(header).color" dense>{{
                    getSortIconProp(header).icon
                  }}</v-icon>
                </v-btn>
              </v-row>
            </th>
          </tr>
        </thead>
      </template> -->
      <!-- <template v-slot:item.idAccount="{ item }">{{
        item.accountName
      }}</template> -->
      <!-- <template v-slot:item.status="{ item }">{{
        getText(item.status, "status", "code", "value")
      }}</template> -->
      <template v-slot:[`item.currency`]="{ item }">
        <span>
          {{ item.listTransaction[0].currency }}
        </span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item
              v-show="['2', '3'].indexOf(item.status) == -1"
              @click="editItem(item, 'e')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item> -->
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Trans No",
        align: "center",
        value: "idJournalCurrency",
        sortable: false,
        width: "100px"
      },
      {
        text: "Date",
        align: "center",
        value: "tranDate",
        sortable: false,
        width: "150px"
      },
      {
        text: "Currency",
        align: "center",
        value: "currency",
        sortable: false,
        width: "150px"
      },
      {
        text: "Total Amount",
        align: "center",
        value: "amount",
        sortable: false,
        width: "150px"
      },
      {
        text: "Details",
        align: "center",
        value: "description",
        sortable: false,
      },

      {
        text: "Actions",
        align: "center",
        value: "actions",
        sortable: false,
        width: "100px"
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
      customer: {
        value: "id",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/finance/api/financeclaim/creditor/journalcurrency/?id.equals=",
        loading: true,
        request: null,
      },
      status: {
        value: "status",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      receiptFrom: {
        value: "createdDate",
        dataValue: "",
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      receiptTo: {
        value: "createdDate",
        dataValue: "",
        searchValue: "",
        searchParam: "lessThan",
        menu: false,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      receiptNo: {
        value: "cashReceiptNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      refNo: {
        value: "refNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
    },
    listParam: [],
    exportLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        let pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "filter.receiptFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() - 0);
          this.filter.receiptFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.receiptFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.receiptTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.filter.receiptTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.receiptTo.searchValue = "";
        }
      },
      deep: true,
    },
  },

  mounted() {
    // this.refresh();
  },

  created() {
    this.$route.query.back == true ? this.backFromAction() : this.optionsHandler = true;
    this.initList(["customer", "currency"]);
    this.filter.receiptFrom.dataValue = "";
    this.filter.receiptTo.dataValue = "";
  },

  methods: {
    goToAdd() {
      this.$router.replace({ name: "claims-creditor-journal-currency-add" });
    },

    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
 getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("finance/api/financeclaim/creditor/journalcurrency/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },


    editItem(item, mode) {
      this.$router.push({
        name: "claims-creditor-journal-currency-edit",
        query: { id: item.idJournalCurrency, mode: mode },
      });
      this.storeTable();
    },

    storeTable() {
      let viewListData = {
        dataList : {
          // items: this.items,
          "options": this.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.dataList;
        // this.items = dataCsh.items;
        this.options = dataList.options;
        // this.totalItems = dataCsh.totalItems;
        this.loading = false;
        // let vm = this;
        setTimeout(() => {
          // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
          localStorage.removeItem('viewListData');
          // vm.optionsHandler = true;
        }, 100)
      } //else {
        // this.optionsHandler = true;
      // }  
    },

    viewItem(item) {
      // this.$router.push({
      //   name: "area-regency-detail",
      //   params: { item: item },
      //   query: { id: item.id }
      // });
      console.log(item);
      alert("belum");
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("/api/master-location/regency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      API.get(
        filter.url +
          filter[
            !this.expanded ? "toolbarSearchInput" : "searchInput"
          ].toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          // console.log(resp.data.data);
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
    },

    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>