<template>
  <v-card flat>
    <isttoolbar title="Finance Claim" dark color="secondary" icon="mdi-finance">
      <v-spacer />

      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="Create New Journal Single/Multi Currency Claim Creditor"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Trans No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            label="{Auto Generate}"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-menu
            v-model="tanggal"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{}">
              <v-text-field
                readonly
                v-model="param.date"
                ref="entryDate"
                name="entryDate"
                label="Select Date"
                persistent-hint
                hide-details="auto"
                flat
                outlined
                dense
                solo
                :loading="transDateLoading"
              >
                <v-btn slot="append" @click="tanggal = !tanggal" text icon>
                  <!-- <v-icon>mdi-calendar</v-icon> -->
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              :min="new Date().toISOString()"
              v-model="param.date"
              no-title
              @input="tanggal = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Details
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-textarea
            flat
            outlined
            dense
            solo
            hide-details="auto"
            v-model="param.details"
            ref="address"
            label="Details"
            :rows="4"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2 my-10 mr-2">
        <v-col>
          <v-data-table
            :headers="headers"
            :items="journalItems"
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:item.type="{ item }">
              <v-autocomplete
                v-model="item.type"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                item-text="name"
                item-value="value"
                :items="itemsType"
              ></v-autocomplete>
            </template>
            <template v-slot:item.debitAmount="{ item }">
              <v-text-field
                v-if="item.type == 'D'"
                v-model="item.debitAmount"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                v-money="item.amountInput == true ? '' : money"
                @input="item.amountInput = false"
                @keyup="paidAmountChange(item)"
                @keydown="codeKeydown($event)"
                @paste="onPastePaidAmount(item)"
              ></v-text-field>
            </template>
            <template v-slot:item.creditAmount="{ item }">
              <v-text-field
                v-if="item.type == 'C'"
                v-model="item.creditAmount"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                v-money="item.amountInput == true ? '' : money"
                @input="item.amountInput == false"
                @keyup="paidAmountChangeCredit(item)"
                @keydown="codeKeydown($event)"
                @paste="onPastePaidCreditAmount(item)"
              ></v-text-field>
              <!-- <v-row align="center" justify="center" v-if="header.value == 'amount'">
                      <v-col cols="2">
                      </v-col>
                      <v-col cols="8">
                        <v-text-field
                          v-show="statusCreate"
                          hide-details="auto"
                          ref="agentAmount"
                          name="agentAmount"
                          v-model="header.add"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          label="Insert Amount"
                          :class="header.add[0] == '-' ? 'ma-0 input-right input-red' : 'ma-0 input-right'"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2">
                      </v-col>
                    </v-row> -->
            </template>
            <template v-slot:item.exchgRate="{ item }">
              <v-progress-circular
                v-if="item.rateLoading"
                indeterminate
                color="primary"
              ></v-progress-circular>

              <span v-else-if="item.currency == param.currency">
                {{ currencyFormat(item.exchgRate) }}
              </span>
              <v-chip
                v-else-if="item.currency != param.currency"
                link
                @click="openEditRateDialog(item)"
              >
                {{ currencyFormat(item.exchgRate, 2, "max") }}
              </v-chip>
              <v-chip v-else link>
                {{ currencyFormat(item.exchgRate) }}
              </v-chip>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              {{ formatMoney(Number(item.balance)) }}
            </template>
            <!-- <template v-slot:[`item.exchgRate`]="{ item }">
              {{ formatMoney(Number(item.exchgRate)) }}
            </template> -->
            <template v-slot:[`item.amountEq`]="{ item }">
              {{ formatMoney(Number(item.amountEq)) }}
            </template>
            <template v-slot:[`item.cstCode`]="{ item }">
              {{ item.cstCode }} - {{ item.cstName }}
            </template>
            <!-- <template v-slot:[`item.creditEqvAmt`]="{ item }">
              {{ formatMoney(Number(item.creditEqvAmt)) }}
            </template> -->

            <template v-slot:item.action="{ item }">
              <v-btn
                width="30"
                height="30"
                outlined
                icon
                dark
                color="primary"
                @click="removeProgess(item)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>

            <template v-slot:body.append>
              <tr>
                <td v-for="header in headers" :key="header.text">
                  <!-- <v-row align="center" v-if="header.value == 'exchgRate'">
                    <v-col>
                      <h5 style="font-size: 1.3em" class="font-weight-bold">
                        Total
                      </h5>
                    </v-col>
                  </v-row>
                  <v-row align="center" v-if="header.value == 'debitEqyAmt'">
                    <v-col>
                      <h5 style="font-size: 1.3em" class="font-weight-bold">
                        {{ totalCurrent() }}
                      </h5>
                    </v-col>
                  </v-row> -->

                  <v-row justify="center" v-if="header.value == 'action'">
                    <v-dialog
                      class="white"
                      v-model="dialogFileTab"
                      persistent
                      max-width="1000px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          width="30"
                          height="30"
                          color="primary"
                          v-bind="attrs"
                          v-on="on"
                          outlined
                          icon
                          dark
                          @click="openTransDialog()"
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </template>
                      <v-card style="height: 800px;">
                        <v-card-title class="pb-0">
                          <span class="headline primary--text"
                            >Choose Transaction</span
                          >
                          <v-spacer></v-spacer>
                          <!-- <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }"> -->
                          <v-btn
                            min-height="40"
                            @click="closeTab()"
                            text
                            color="primary"
                          >
                            <v-icon>mdi-window-close mdi-36px</v-icon>
                          </v-btn>
                        </v-card-title>
                        <v-card-text class="pb-0">
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="pa-1">
                              <span class="title">
                                Client
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <!-- <v-autocomplete
                                @keyup="autocompSearch(search.client)"
                                :search-input.sync="search.client.input"
                                clearable
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Select Client"
                                ref="code"
                                v-model="paramDialog.client"
                                class="ma-0"
                                :items="search.client.items"
                                item-value="id"
                                item-text="codeAndName"
                                return-object
                              ></v-autocomplete> -->
                              <v-autocomplete
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Search Client"
                                v-model="paramDialog.client"
                                ref="customer"
                                name="customer"
                                @keyup="autocompSearch(filter.customer)"
                                :search-input.sync="
                                  filter.customer.toolbarSearchInput
                                "
                                :items="filter.customer.items"
                                item-value="id"
                                item-text="codeAndName"
                                :loading="filter.customer.loading && !expanded"
                                clearable
                                color="primary"
                                class="ma-0 pa-0"
                                :disabled="expanded"
                                no-data-text="Type the Customer Name."
                                return-object
                              ></v-autocomplete>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="pa-1">
                              <span class="title">
                                Trans Type
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-autocomplete
                                clearable
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Select trans type"
                                ref="transType"
                                v-model="paramDialog.transType"
                                class="ma-0"
                                :items="itemsTransType"
                                item-value="value"
                                item-text="name"
                              >
                              </v-autocomplete>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-text-field
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Key in number"
                                ref="code"
                                v-model="paramDialog.keyInNumber"
                                class="ma-0"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="pa-1">
                              <span class="title">
                                Currency
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-autocomplete
                                label="Currency"
                                hide-details="auto"
                                ref="currency"
                                name="currency"
                                clearable
                                class="ma-0"
                                solo
                                flat
                                outlined
                                dense
                                no-data-text="Type the Customer Name."
                                :items="itemsCurency"
                                item-value="code"
                                item-text="codeAndName"
                                v-model="paramDialog.currency"
                              >
                              </v-autocomplete>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-row class="pr-5 pt-0 mt-0"
                          ><v-spacer></v-spacer>
                          <v-btn
                            class="mr-5"
                            @click="searchTransaction"
                            outlined
                            dark
                            color="primary"
                          >
                            <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                          </v-btn>
                        </v-row>

                        <v-row class="pl-6 pr-5">
                          <v-col cols="12">
                            <v-data-table
                              :headers="headersDialog"
                              :items="headerDialogItems"
                              hide-default-footer
                              class="elevation-1"
                              :options.sync="options"
                              :server-items-length="totalItems"
                              height="300"
                              :loading="dialogLoading"
                              fixed-header
                              dense
                            >
                              <template v-slot:[`item.amount`]="{ item }">
                                {{ formatMoney(Number(item.amount)) }}
                              </template>
                              <template v-slot:[`item.balance`]="{ item }">
                                {{ formatMoney(Number(item.balance)) }}
                              </template>
                              <template v-slot:item.actions="{ item }">
                                <v-btn
                                  v-if="
                                    ['CCSH', 'CCN'].indexOf(
                                      item.accountType
                                    ) != -1
                                  "
                                  depressed
                                  small
                                  @click="viewItem(item)"
                                  outlined
                                  color="primary"
                                  :disabled="
                                    disabledTransItem(item) || item.status == 1
                                  "
                                  style="
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                  "
                                >
                                  Choose
                                </v-btn>
                                <v-btn
                                  v-else
                                  depressed
                                  small
                                  text
                                  outlined
                                  @click="addInvItem(item)"
                                  color="primary"
                                  :disabled="
                                    disabledInvTransItem(item) ||
                                    disabledTransItem(item) ||
                                    item.status == 1
                                  "
                                  style="
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                  "
                                >
                                  <v-icon>mdi-plus</v-icon>
                                </v-btn>
                                <span
                                  v-show="item.status == 1"
                                  class="error--text"
                                  style="display: block; text-align: center;"
                                  >In use
                                </span>
                                <!-- <span class="subtitle" v-if="this.status = 1">
                                  in use
                                  <span class="error--text"></span>
                                </span> -->
                              </template>
                              <template v-slot:body.append>
                                <tr>
                                  <v-card
                                    v-intersect="infiniteScrolling"
                                  ></v-card>
                                </tr>
                              </template>
                            </v-data-table>
                          </v-col>
                        </v-row>

                        <v-row class="pl-6 pr-5">
                            <v-col cols="12">
                              <span class="title blue--text text--darken-4">
                                Added Transaction
                              </span>
                              <v-data-table
                                :headers="headersDialog"
                                :items="toAddInvoiceItems"
                                hide-default-footer
                                class="elevation-1"
                                height="150"
                                :options.sync="optionsAdd"
                                fixed-header
                                dense
                              >
                                <template v-slot:item="{ item }">
                                  <tr>
                                    <td
                                      v-for="header in headersDialog"
                                      :key="header.text"
                                    >
                                      <div
                                        v-if="
                                          ['amount', 'balance'].indexOf(
                                            header.value
                                          ) != -1
                                        "
                                        :class="
                                          item[header.value] < 0
                                            ? 'error--text'
                                            : ''
                                        "
                                        align="right"
                                      >
                                        {{ currencyFormat(item[header.value]) }}
                                      </div>
                                      <span
                                        v-else-if="header.value == 'tranDate'"
                                      >
                                        {{ formatDateSlash(item.tranDate) }}
                                      </span>
                                      <div
                                        v-else-if="header.value == 'actions'"
                                      >
                                        <v-btn
                                          depressed
                                          small
                                          text
                                          outlined
                                          @click="removeInvoice(item)"
                                          color="error"
                                          style="
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                          "
                                        >
                                          <v-icon>mdi-minus</v-icon>
                                        </v-btn>
                                      </div>
                                      <span v-else>{{
                                        item[header.value]
                                      }}</span>
                                    </td>
                                  </tr>
                                </template>
                              </v-data-table>
                            </v-col>
                        </v-row>

                        <v-row class=""
                          ><v-spacer></v-spacer>
                          <v-btn
                            :disabled="toAddInvoiceItems.length < 1"
                            class="mr-8"
                            min-width="100"
                            outlined
                            color="success"
                            @click="chooseInvItems()"
                          >
                            Choose
                          </v-btn>
                        </v-row>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </td>
              </tr>
              <tr>
                <td v-for="header in headers" :key="header.text">
                  <span v-if="header.value == 'exchgRate'" class="title"
                    >Total
                  </span>

                  <span v-if="header.value == 'amountEq'" class="title"
                    >{{ formatMoney(Number(total())) }}
                  </span>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="editRateDialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Edit Exchange Rate
        </v-card-title>
        <v-card-text>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Pay Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateAmount"
                ref="editRateAmount"
                name="editRateAmount"
                label="Input Pay Amount"
                persistent-hint
                hide-details="auto"
                @input="editRateAmountChanged = true"
                v-money="editRateAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                readonly
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8">
              <v-text-field
                v-model="editRate"
                ref="editRate"
                name="editRate"
                label="Key in Exchange Rate"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateChanged = true;
                  editRateInput();
                "
                v-money="editRateChanged ? money : ''"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Equiv. Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateEqAmount"
                ref="editRateEqAmount"
                name="editRateEqAmount"
                label="Input Equivalent Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateEqAmountChanged = true;
                  editRateEqAmountInput();
                "
                v-money="editRateEqAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                :readonly="editRateAmount == '0.00' || editRateAmount == ''"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="mx-2"
            color="primary"
            min-width="100px"
            outlined
            @click="submitRate()"
          >
            <v-icon left> mdi-magnify </v-icon>
            Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? editItem() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";
import formatDateHelper from "@/helper/formatDateHelper";

export default {
  components: {
    isttoolbar,
    submitdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    number: "",
    itemsType: [
      { name: "Db", value: "D" },
      { name: "Cr", value: "C" },
    ],
    itemsTransType: [
      { name: "CCSH", value: "CCSH" },
      { name: "CCN", value: "CCN" },
      { name: "CREV", value: "CREV" },
      { name: "CDN", value: "CDN" },
    ],
    dialogFileTab: false,
    tanggal: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      // creditAmount: "-0.00",
      number: [],
      date: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      details: "",
      amount: 0,
      debitAmount: 0,
      creditAmount: 0,
      currency: "",
    },
    paramDialog: {
      client: "",
      term: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },
    dataCLient: [],
    dataTransType: [],
    itemsCurency: [],
    headers: [
      {
        text: "Client",
        align: "start",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        // component: "select",
      },
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        // component: "select",
      },
      {
        text: "Trans Type",
        sortable: false,
        value: "accountType",
        add: "-0.00",
        rules: [],
        component: "select",
      },
      {
        text: "Billing Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
        width: "180px",
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        width: "100px",
      },
      {
        text: "Debit Amount",
        sortable: false,
        value: "debitAmount",
        add: "",
        rules: [],
        component: "select",
        width: "200px",
      },
      {
        text: "Credit Amount",
        sortable: false,
        value: "creditAmount",
        add: "-0.00",
        rules: [],
        component: "select",
        width: "200px",
      },
      {
        text: "Exhange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        rules: [],
        component: "select",
        width: "100px",
      },
      {
        text: "Equiv. Amount",
        sortable: false,
        value: "amountEq",
        add: "",
        rules: [],
        width: "180px",
      },
      // {
      //   text: "Debit Equiv. Amount",
      //   sortable: false,
      //   value: "debitEqyAmt",
      //   add: "",
      //   rules: [],
      // },
      // {
      //   text: "Credit Equiv. Amount",
      //   sortable: false,
      //   value: "creditEqvAmt",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },

      {
        text: "Action",
        sortable: false,
        value: "action",
        add: "",
        align: "center",
        width: "100px",
      },
    ],
    headersDialog: [
      {
        text: "Number",
        align: "number",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Client",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        value: "tranDate",
        sortable: false,
      },
      {
        text: "Age",
        value: "age",
        sortable: false,
      },
      {
        text: "Acc Executive",
        value: "cstExc",
        sortable: false,
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "",
        value: "actions",
        sortable: false,
      },
    ],
    headerDialogItems: [],
    itemss: [],
    options: {
      itemsPerPage: 5,
      page: 1,
    },
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,
    amountChanged: false,
    status: [],
    editRateChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    editRateDialog: false,
    editRateItem: {},
    editRate: "",
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        url1: "/clients/api/account/agent?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 2,
      },
    },
    idJournalCurrency: 0,
    loading: false,
    loadItems: 10,
    isFullRecord: false,
    manualAddCount: 0,
    totalItems: 0,
    editRateAmount: 0,
    editRateAmountChanged: false,
    editRateEqAmount: "0.00",
    editRateEqAmountChanged: false,
    submitDialog: { show: false, mode: "", title: "", message: "" },
    expanded: false,
    dialogLoading: false,
    optionsAdd: {
      itemsPerPage: -1,
      page: 1,
    },
    toAddInvoiceItems: [],
    transDateLoading: false,
    // amountrule : param.debitAmount >= param.amount,
  }),

  computed: {
    form() {
      return {
        // amount: this.currencyToFloat(this.param.amount),
        total: this.currencyToFloat(this.total()),
        totali: this.currencyToFloat(this.totali()),
      };
    },
    //  total: function () {
    //   return this.journalItems.reduce(function (a, c) {
    //     return a + Number(c.debitEqyAmt || 0);
    //   }, 0);
    // },
    // totali: function() {
    //   return this.journalItems.reduce(function(a, c){return a + Number((c.creditEqvAmt) || 0)}, 0)
    // }
    // totalCurrent() {
    //   console.log("get current total");
    //   return this.headers.reduce(
    //     (acc, cur) => acc + Number(cur.debitEqyAmt),
    //     0
    //   );
    // },
    disabledTransItem: function () {
      return function (item) {
        let disable = false;
        if (
          this.journalItems.length < 1 &&
          ["CCSH", "CCN"].indexOf(item.accountType) == -1
        ) {
          disable = true;
        } else if (
          this.journalItems.length == 1 &&
          ["CCSH", "CCN"].indexOf(item.accountType) != -1
        ) {
          disable = true;
        } else if (this.journalItems.length > 2) {
          if (
            ["CCSH", "CCN"].indexOf(
              this.journalItems[this.journalItems.length - 1].accountType
            ) != -1 &&
            ["CCSH", "CCN"].indexOf(item.accountType) != -1
          ) {
            disable = true;
          }
        }
        // else if (this.headerDialogItems.map(function (row) {
        // row.status = 1;

        //   })){ disable = true;}
        return disable;
      };
    },
  },
  async created() {
    this.getBussDate();
    // this.change();
    // this.getListClient();
    this.initList(["customer"]);
    this.getListCurency();
    // await this.initList(["client"]);
    // this.change(); // remarks bcause display eror on console log
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    editItem() {
      this.$router.push({
        name: "claims-creditor-journal-currency-edit",
        query: { id: this.idJournalCurrency, mode: "d" },
      });
    },
    change(item) {
      item.creditAmount == "-0.00";
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)] +
            filter[
              !this.expanded ? "toolbarSearchInput" : "searchInput"
            ].toUpperCase(),
          null,
          null,
          axiosSource.token
        ).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            // console.log(resp.data.data);
            filter.items = filter.items.concat(resp.data.data);
          }
        });
      }
      filter.loading = false;
    },
    clearClient() {
      this.paramDialog.client = "";
    },
    closeTab() {
      this.dialogFileTab = false;
      this.paramDialog.client = "";
      this.paramDialog.currency = "";
      this.paramDialog.transType = "";
      this.headerDialogItems = [];
      this.isFullRecord = true;
      this.dialogLoading = false;
      this.toAddInvoiceItems = [];
      this.options.page = 1;
      this.totalItems = 0;
    },
    openEditRateDialog(item) {
      let isAmountBlank = false;
      if (
        item.type == "D" &&
        (item.debitAmount == "0.00" ||
          item.debitAmount == "" ||
          item.debitAmount == null ||
          item.debitAmount == undefined)
      ) {
        isAmountBlank = true;
        this.submitDialog.title = "Please input debit amount";
      } else if (
        item.type == "C" &&
        (item.creditAmount == "0.00" ||
          item.creditAmount == "" ||
          item.creditAmount == null ||
          item.creditAmount == undefined)
      ) {
        isAmountBlank = true;
        this.submitDialog.title = "Please input credit amount";
      } else if (!item.type) {
        isAmountBlank = true;
        this.submitDialog.title = "Please input debit / credit amount";
      }

      if (isAmountBlank) {
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      } else {
        console.log("item", item);
        this.editRateItem = item;
        this.editRateType = item.type;
        this.editRateChanged = false;
        this.editRateAmountChanged = false;
        this.editRateEqAmountChanged = false;
        this.editRate = this.currencyFormat(item.exchgRate, 2);
        if (this.editRateItem.type == "D") {
          this.editRateAmount = this.currencyFormat(item.debitAmount);
        } else {
          this.editRateAmount = this.currencyFormat(item.creditAmount);
        }
        this.editRateEqAmount = this.currencyFormat(item.amountEq);
        this.editRateDialog = true;
        console.log("this.editRateEqAmount", this.editRateEqAmount);
      }
    },
    submitRate() {
      this.editRateDialog = false;
      this.amountChanged = false;
      this.editRateItem.exchgRate = this.currencyToFloat(this.editRate);
      if (this.editRateItem.type == "D") {
        this.editRateItem.debitAmount = this.editRateAmount;
        // this.paidAmountChange(this.editRateItem);
      } else {
        this.editRateItem.creditAmount = this.editRateAmount;
        // this.paidAmountChangeCredit(this.editRateItem);
      }
      this.editRateItem.amountEq = this.currencyToFloat(this.editRateEqAmount);
      setTimeout(() => {
        this.editRateItem.amountEq = this.currencyToFloat(
          this.editRateEqAmount
        );
      }, 1000);
      console.log("this.editRateEqAmount", this.editRateEqAmount);
      console.log("this.editRateItem.amountEq", this.editRateItem.amountEq);
    },
    // currencyFormat(data) {
    //   let amount = String(data).replace(/\*|,/gi, "");
    //   let float = parseFloat(amount);
    //   let toFixed = float.toFixed(2);
    //   let splitted = toFixed.split(".");
    //   let number = Number(splitted[0]);
    //   let toLocaleString = number.toLocaleString();
    //   splitted[0] = toLocaleString;
    //   return toLocaleString == "NaN" ? "" : splitted.join(".");
    // },
    currencyFormat(data, decimal = null, mode = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let countOriDecimal =
        amount.split(".")[1] != undefined ? amount.split(".")[1].length : 0;
      let toFixed = float.toFixed(decimal == null ? 2 : decimal);
      if (mode == "max") {
        if (countOriDecimal >= decimal) {
          toFixed = float.toFixed(decimal);
        } else if (countOriDecimal >= 3) {
          toFixed = float.toFixed(countOriDecimal);
        } else {
          toFixed = float.toFixed(2);
        }
      }
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      // console.log("splitted[0]", splitted[0])
      // console.log("splitted[0]  == '-0'", splitted[0] == "-0")
      if (splitted[0] == "-0" && splitted[1] == "00") {
        splitted[0] = "0";
      }
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    // getTotal(data) {
    //   let total = 0;
    //   for (let key of this.journalItems) {
    //     total = total + this.currencyToFloat(key[debitEqyAmt]);
    //     console.log("WKAKAKAKA");
    //     console.log(total);
    //     console.log("WKAKAKAKA");
    //     console.log(key[debitEqyAmt]);
    //   }
    //   return this.currencyFormat(total);
    // },

    // changeParamCredit(){
    //   this.param.creditAmount = '-0.00'
    // },
    total() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.amountEq || 0);
      }, 0);
    },
    totali() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.creditEqvAmt || 0);
      }, 0);
    },
    onPastePaidAmount(item) {
      setTimeout(() => {
        this.paidAmountChange(item);
      }, 100);
    },
    onPastePaidCreditAmount(item) {
      setTimeout(() => {
        this.paidAmountChangeCredit(item);
      }, 100);
    },
    paidAmountChange(item) {
      // console.log("ada berubah di paidAmountChange");
      if(item.debitAmount[0] == "-") {
        item.amountInput = true;
        item.debitAmount = item.debitAmount.substring(1)
      }

      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.debitAmount);
      let rate = this.currencyToFloat(item.exchgRate);
      this.param.debitAmount = this.currencyToFloat(item.debitAmount);

      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.amountEq = paidAmount * rate;
      } else {
        item.amountEq = paidAmount / rate;
      }
      this.total();
      // console.log("item.amountEq", item.amountEq);
      for (let i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          this.journalItems.splice(i, 1, item);
        }
      }
    },
    paidAmountChangeCredit(item) {
      // console.log("ada berubah di paidAmountChangeCredit");
      // item.creditAmount = this.param.creditAmount;
      if(item.creditAmount[0] == "-") {
        item.amountInput = true;
        item.creditAmount = item.creditAmount.substring(1)
      }

      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.creditAmount);
      let rate = this.currencyToFloat(item.exchgRate);
      this.param.creditAmount = this.currencyToFloat(item.creditAmount);

      // this.param.creditAmount
      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.amountEq = paidAmount * rate * -1;
      } else {
        item.amountEq = (paidAmount / rate) * -1;
      }
      this.total();
      console.log("item.amountEq", item.amountEq);
      for (let i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          this.journalItems.splice(i, 1, item);
        }
      }
      // console.log(item.debitEqyAmt);
    },
    removeProgess(item) {
      var index = "";

      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
      // if (this.journalItems.length === 0) {
      //   this.minDateForAddProgess = new Date().toISOString();
      // } else {
      //   this.minDateForAddProgess = this.progessStatusDoc[
      //     this.progessStatusDoc.length - 1
      //   ].date;
      // }
    },
    async getJournal() {
      this.dialog.show = true;
      let param = {
        "clientCode.equals": this.paramDialog.client.code,
        "currency.equals": this.paramDialog.currency,
        "transType.equals": this.paramDialog.transType,
        "accountNo.equals": this.paramDialog.keyInNumber,
      };
      Object.keys(param).forEach((key) => {
        if (param[key] == undefined || param[key] == "") {
          delete param[key];
        }
      });

      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/financeclaim/querycreditor/",
        param
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    transRefresh() {
      let vm = this;
      this.getList(this.headersDialog, this.options).then((data) => {
        let items = data.items;
        items.forEach((item) => {
          let existItem = vm.headerDialogItems.filter(
            (val) => val.id == item.id
          );
          if (existItem.length < 1) {
            vm.headerDialogItems.push(item);
          }
        });

        this.totalItems = data.total;
        if (items.length < this.loadItems) {
          this.manualAddCount = this.manualAddCount + items.length;
          if (this.manualAddCount < this.loadItems) {
            this.infiniteScrolling();
            return;
          } else {
            this.manualAddCount = 0;
          }
        } else {
          this.manualAddCount = 0;
        }
      });
    },
    getList(headers, options) {
      // this.dialog.show = true;
      this.dialogLoading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page } = options;
        let param = {
          page: page - 1,
          size: this.loadItems,
          // size: itemsPerPage,
          "clientCode.equals": this.paramDialog.client
            ? this.paramDialog.client.code
            : "",
          "currency.equals": this.paramDialog.currency,
          "transType.equals": this.paramDialog.transType,
          "accountNo.equals": this.paramDialog.keyInNumber,
        };

        Object.keys(param).forEach((key) => {
          if ((param[key] == undefined || param[key] == "") && key != "page") {
            delete param[key];
          }
        });

        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        ) {
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        }

        API.get("/finance/api/financeclaim/querycreditor/", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              this.isFullRecord =
                resp.data.listTransaction.length == this.loadItems;
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.listTransaction,
              });
            } else {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: [],
              });
            }
            // this.dialog.show = false;
            this.dialogLoading = false;
          })
          .catch((error) => {
            console.log(error);
            // this.dialog.show = false;
            this.dialogLoading = false;
          });
      });
    },
    infiniteScrolling(entries, observer, isIntersecting) {
      console.log("entries", entries);
      console.log("observer", observer);
      console.log("isIntersecting", isIntersecting);
      if (!this.loading && this.isFullRecord && entries[0].isIntersecting) {
        this.options.page = this.options.page + 1;
        this.transRefresh();
      }
    },
    searchTransaction() {
      this.options.page = 1;
      this.headerDialogItems = [];
      this.transRefresh();
    },
    async getJournalCurrency() {
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?currency.equals=" +
          this.paramDialog.currency,

        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    async getJournalCLient() {
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?clientCode.equals=" +
          this.paramDialog.client.code,

        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    async getJournalTransType() {
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?transType.equals=" +
          this.paramDialog.transType,

        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    // async viewItem(item) {
    //   let existItem = this.journalItems.filter(
    //     (value) =>
    //       value.accountNo == item.accountNo &&
    //       value.term == item.term &&
    //       value.amount == item.amount
    //   );
    //   if (existItem < 1) {
    //     this.journalItems.push(JSON.parse(JSON.stringify(item)));
    //     this.dialogFileTab = false;
    //     this.param.amount = item.amount;
    //     this.paramDialog.client = "";
    //     this.paramDialog.currency = "";
    //     this.paramDialog.transType = "";
    //     this.headerDialogItems = [];
    //     console.log("INI AMOUNT");
    //     console.log(item.amount);
    //     console.log(this.param.amount);
    //   }

    //   // return;
    // },
    async viewItem(item) {
      if (this.journalItems.length < 1) {
        this.param.currency = item.currency;
      } else {
        let existItem = this.journalItems.filter(
          (val) => ["CCSH", "CCN"].indexOf(val.accountType) != -1
        );
        if (
          ["CSH", "CCN"].indexOf(item.accountType) != -1 &&
          existItem.length > 0
        ) {
          this.submitDialog.title = "There are still CCSH CCN transactions";
          this.submitDialog.message = "";
          this.submitDialog.mode = "error";
          this.submitDialog.show = true;
          return;
        }
      }

      let existItem = this.journalItems.filter(
        (value) =>
          value.accountNo == item.accountNo &&
          value.term == item.term &&
          value.amount == item.amount
      );

      if (this.param.currency == item.currency) {
        item.exchgRate = 1;
      } else {
        item.exchgRate = await this.getExchangeRate(item.currency);
      }

      if (existItem.length < 1) {
        if (item.amountPayable != null && item.amountPayable != 0) {
          item.amountInput = true;
          item.debitAmount = this.currencyFormat(item.amountPayable);
          item.creditAmount = this.currencyFormat(item.amountPayable);
          this.paidAmountChange(item);
          this.paidAmountChangeCredit(item);
        }

        if (
          this.journalItems.length > 0 &&
          ["CCSH", "CCN"].indexOf(item.accountType) != -1
        ) {
          let currencyBefore = this.param.currency;
          this.param.currency = item.currency;
          this.journalItems.unshift(JSON.parse(JSON.stringify(item)));

          if (this.param.currency != currencyBefore) {
            for (let transItem of this.journalItems) {
              if (this.param.currency == transItem.currency) {
                transItem.exchgRate = 1;
              } else {
                transItem.exchgRate = await this.getExchangeRate(
                  transItem.currency
                );
              }
              if (transItem.type == "D") {
                this.paidAmountChange(transItem);
              } else if (transItem.type == "C") {
                this.paidAmountChangeCredit(transItem);
              }
            }
          }
        } else {
          this.journalItems.push(JSON.parse(JSON.stringify(item)));
        }
        this.dialogFileTab = false;
        this.param.amount = item.amount;
        this.paramDialog.currency = "";
        this.paramDialog.transType = "";
        this.headerDialogItems = [];
        this.options.page = 1;
      }
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from == "IDR" ? this.param.currency : from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    getListCurency() {
      API.get("/config/api/master-currency/?isActive.equals=1", null).then(
        (resp) => {
          if (resp.data.code == 0) {
            let text = [];
            let i;
            console.log("INI RESPONSE = ");
            let itemCurency = resp.data.data;
            for (i = 0; i < itemCurency.length; i++) {
              text.push(itemCurency[i]);
            }
            this.itemsCurency = text;
          }
        }
      );
    },
    // getListClient() {
    //   API.get("/clients/api/account/client?codeOrName.contains=", null).then(
    //     (resp) => {
    //       if (resp.data.code == 0) {
    //         let text = [];
    //         let i;
    //         console.log("INI RESPONSE = ");
    //         let itemCurency = resp.data.data;
    //         for (i = 0; i < itemCurency.length; i++) {
    //           text.push(itemCurency[i]);
    //         }
    //         this.dataCLient = text;
    //       }
    //     }
    //   );
    // },
    back() {
      this.$router.replace({ name: "claims-creditor-journal-currency-list" });
    },
    async save() {
      this.dialog.error = false;

      //  Object.keys(this.form).forEach((f) => {

      //   });

      // if (
      //   this.currencyToFloat(this.total()) == "0.00"

      //   // this.currencyToFloat(this.totali())
      // ) {
      //   console.log(this.currencyToFloat(this.total()));
      //   console.log(this.currencyToFloat(this.totali()));
      //   this.formHasErrors = false;
      //   // await this.doAdd();
      //   // this.haserroramount = true;
      // } else {
      //   this.formHasErrors = true;
      //   this.dialog.show = true;
      //   this.dialog.error = true;
      //   this.dialog.errorMessage =
      //     "Debit equiv balance not match with credit equiv balance";
      // }

      // if (
      //   this.param.debitAmount <= Math.abs(this.param.amount) &&
      //   this.param.creditAmount  <=  Math.abs(this.param.amount)
      // ) {
      //   this.formHasErrors = false;
      // } else {
      //   this.formHasErrors = true;
      //   this.dialog.show = true;
      //   this.dialog.error = true;
      //   this.dialog.errorMessage =
      //     "Amount can't be greater than original amount";
      //   console.log(this.param.debitAmount);
      //   console.log("walallala");
      //   // console.log(this.currencyToFloat(this.totali()));
      // }

      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let vm = this;
      let paramJSON = {
        journalCurrencyData: {
          description: this.param.details,
          tranDate: this.param.date,
          listTransaction: this.journalItems.map(function (row) {
            return {
              accountNo: row.accountNo,
              accountType: row.accountType,
              amount:
                row.type == "D"
                  ? vm.currencyToFloat(row.debitAmount)
                  : vm.currencyToFloat(row.creditAmount),
              // debitAmount
              // vm.currencyToFloat(row.amount),
              amountEq:
                // row.type == "D"
                vm.currencyToFloat(row.amountEq),
              // : vm.currencyToFloat(row.creditEqvAmt),
              balance: vm.currencyToFloat(row.balance),
              billingDate: vm.formatDateSlice(row.tranDate),
              currency: row.currency,
              customerCode: row.cstCode,
              customerName: row.cstName,
              customerType: row.cstType,
              dbcr: row.type,
              exchangeRate: vm.currencyToFloat(row.exchgRate),
              term: row.term,
            };
          }),
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(
        "finance/api/financeclaim/creditor/journalcurrency/add",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          this.idJournalCurrency =
            resp.data.journalCurrencyData.idJournalCurrency;
          // this.dialog.success = true;
          this.dialog.show = false;
          this.setSnackbar({
            top: true,
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle",
          });
          this.editItem();
        } else {
          this.dialog.error = true;
          this.dialog.errorMessage =
            resp.data.errorMessage.length > 0
              ? resp.data.errorMessage.toUpperCase()
              : resp.data.errordescription.toUpperCase();
        }
      });
    },
    convertData(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          creditEqvAmt: this.convertMoney(element.creditEqvAmt),
          debitEqyAmt: this.convertMoney(element.debitEqyAmt),
          // amount: this.convertMoney(element.amount)
        });
      });
      return array;
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount).toFixed(2);
    },
    editRateInput() {
      let after = this.editRate;
      let paidAmount = this.currencyToFloat(this.editRateAmount);
      let rate = this.currencyToFloat(after);
      this.editRateEqAmountChanged = false;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        if (this.editRateType == "D") {
          this.editRateEqAmount = this.currencyFormat(paidAmount * rate);
        } else {
          this.editRateEqAmount = this.currencyFormat(paidAmount * rate * -1);
        }
      } else {
        if (this.editRateType == "D") {
          this.editRateEqAmount = this.currencyFormat(paidAmount / rate);
        } else {
          this.editRateEqAmount = this.currencyFormat((paidAmount / rate) * -1);
        }
      }
    },
    editRateEqAmountInput() {
      if (this.editRateAmount != "0.00" || this.editRateAmount != "") {
        let after = this.editRateEqAmount;
        let paidAmount = this.currencyToFloat(this.editRateAmount);
        let equivAmount = this.currencyToFloat(after);
        this.editRateChanged = false;
        if (this.param.currency == "IDR" || this.param.currency == "") {
          if (this.editRateType == "D") {
            this.editRate = this.currencyFormat(equivAmount / paidAmount, 2);
          } else {
            this.editRate = this.currencyFormat(
              (equivAmount / paidAmount) * -1,
              2
            );
          }
        } else {
          if (this.editRateType == "D") {
            this.editRate = this.currencyFormat(paidAmount / equivAmount, 2);
          } else {
            this.editRate = this.currencyFormat(
              (paidAmount / equivAmount) * -1,
              2
            );
          }
        }
      }
    },
    disabledInvTransItem(item) {
      if (
        item.isAlreadyPaidByRemittance == true &&
        item.balance == 0 &&
        item.amountPayable == 0
      ) {
        return true;
      } else {
        return false;
      }
    },
    addInvItem(item) {
      let existItem = this.toAddInvoiceItems.filter(
        (value) => value.id == item.id
      );
      if (existItem < 1) {
        this.toAddInvoiceItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeInvoice(item) {
      for (let i = 0; i < this.toAddInvoiceItems.length; i++) {
        if (this.toAddInvoiceItems[i].id == item.id) {
          this.toAddInvoiceItems.splice(i, 1);
        }
      }
    },
    chooseInvItems() {
      for (let item of this.toAddInvoiceItems) {
        this.viewItem(item);
      }
    },
    formatDateSlash(date) {
      let res = date.split("-");
      return [res[2], res[1], res[0]].join("/");
    },
    openTransDialog() {
      this.isFullRecord = true;
      this.dialogLoading = false;
      this.toAddInvoiceItems = [];
      this.options.page = 1;
      this.totalItems = 0;
    },
    getBussDate() {
      this.transDateLoading = true;
      return new Promise((resolve) => {
        API.get("report/api/business-date")
        .then((resp) => {
          this.param.date = formatDateHelper.formatDateFromDMYoDMY(resp.data, "-", "/");
          resolve(true)
          this.transDateLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error Get Business Date" });
          this.transDateLoading = false;
        });
      })
    },
    codeKeydown(e) {
      if (/-/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>
>
