<template>
  <v-card flat>
    <v-tabs v-model="tab" light>
        <v-tab>Success</v-tab>
        <v-tab>Failed</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
        <v-tab-item>
          <successTab />
        </v-tab-item>
        <v-tab-item>
          <failedTab />
        </v-tab-item>
    </v-tabs-items>

  </v-card>
</template>

<script>
import successTab from "./successBulkTabView/bulk_invoice_success_tabview_comp";
import failedTab from "./failedBulkTabView/bulk_invoice_failed_tabview_comp";
import { mapState } from 'vuex'

export default {
  components: {
  successTab,
  failedTab
  },
  props: ['dataBroking'],
  data: () => ({
    tab: 0,
    footer: {
      entry: "",
      entryDate: {
        date: "",
        menu: false
      },
      approved: "",
      approvedDate: {
        date: "",
        menu: false
      },
      close: "",
      closeDate: {
        date: "",
        menu: false
      },
      modified: "",
      modifiedDate: {
        date: "",
        menu: false
      }
    }
  }),
  mounted() {
    if (this.$route.params.tabs) {
      this.tab = parseInt(this.$route.params.tabs);
    }
  },
  computed: {
    ...mapState(['invoice']),
  }

}
</script>

<style>

</style>