<template>
<v-card flat>
  <isttoolbar
    title="Bulk Invoice"
    dark
    color="secondary"
    icon="mdi-equalizer"
  >
    <v-spacer></v-spacer>
    <v-btn text small @click="goToInvoiceList">
      <v-icon right>mdi-close</v-icon>
    </v-btn>
  </isttoolbar>

    <v-dialog v-model="dialogLoading.show" persistent max-width="290">
    <v-card v-show="!dialogLoading.success && !dialogLoading.error">
      <v-card-title>
        <v-progress-linear
          indeterminate
          color="primary"
        ></v-progress-linear>
      </v-card-title>
    </v-card>
    <v-card v-show="dialogLoading.success || dialogLoading.error">
        <v-card-title
          v-if="dialogLoading.success"
          class="justify-center"
          style="word-break: inherit;"
          >{{dialogLoading.text}}</v-card-title
        >
        <v-card-title
          v-else-if="dialogLoading.error"
          class="justify-center"
          style="word-break: inherit;"
          >{{dialogLoading.text}}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="closeUpload"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
  </v-dialog>

  <isttoolbar dark color="primary" class="pa-0" title="List Bulk Invoice">
    <!-- title="List of Customer Opportunity" -->
    <v-row align="center" class="ma-0 pa-0">
      <v-col cols="12" class="ma-0 pa-0">
        <v-row align="center" class="ma-0 pa-0">
          <!-- sampai sini -->
        </v-row>
      </v-col>
    </v-row>
  </isttoolbar>
<bulkTabviewAdapter>
  </bulkTabviewAdapter>

  <v-dialog v-model="dialog" max-width="290">
    <v-card>
      <v-card-title class="headline"
        >Are you sure you want to delete this item?</v-card-title
      >
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="dialog = false"
          >Cancel</v-btn
        >
        <v-btn
          color="red darken-1"
          text
          @click="
            deleteItem(toDelete);
            dialog = false;
          "
          >Yes</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-card-actions></v-card-actions>
</v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from 'vuex';
import * as types from '@/store/modules/invoice/type';
import bulkTabviewAdapter from './bulkinvoice_tabview_adapter';

export default {
components: {
  isttoolbar,
  bulkTabviewAdapter
},
data: () => ({
  toDelete: {},
  alert: false,
  errAlert: false,    
  dialog: false,
  id: "",
  dialogLoading: { show: false, success: false, error: false, text: '' },
  headers: [
    {
      text: "File Name",
      align: "start",
      value: "fileName",
      sortable: false,
    },
    {
      text: "Upload Date",
      value: "uploadDate",
      sortable: false,
    },
    {
      text: "Success",
      value: "success",
      sortable: false,
    },
    {
      text: "Failed",
      value: "failed",
      sortable: false,
    },
    {
      text: "Total Row",
      value: "totalRow",
      sortable: false,
    },
    {
      text: "Status",
      value: "status",
      sortable: false,
    },
    {
      text: "Actions",
      value: "actions",
      sortable: false,
    },
  ],
  items: [],
  totalItems: 0,
  options: {},
  loading: true,
  expanded: false,
  filter: {
    customer: {
      value: "customerId",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      toolbarSearchInput: "",
      items: [],
      url: "/clients/api/account/client?codeOrName.contains=",
      loading: true,
    },
    business: {
      value: "riskCode",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      items: [],
      url: "/config/api/master-risk/?riskName.contains=",
    },
    invoice: {
      value: "invoiceNo",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      items: [],
    },
    reference: {
      value: "refNo",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      items: [],
    },
    createdFrom: {
      value: "createdDate",
      // searchValue: new Date().toISOString().substr(0, 10),
      searchValue:"",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    createdTo: {
      value: "createdDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
  },
  listParam: [],
  exportLoading: false,
  showPreview: false,
  loadingUpload: false,
}),

computed: {
  formTitle() {
    return this.editedIndex === -1 ? "New Item" : "Edit Item";
  },
  hasEnd() {
    return (
      this.type in
      {
        "custom-weekly": 1,
        "custom-daily": 1,
      }
    );
  },
  getText: function () {
    return function (code) {
      var pItem = this.filter.progress.items.filter(
        (value) => value.code == code
      );
      return pItem.length > 0 ? pItem[0].value : code;
    };
  },
  getSortIconProp: function () {
    return function (header) {
      let prop = { color: "", icon: "mdi-sort" };
      if (
        header.value == this.options.sortBy[0] &&
        !this.options.sortDesc[0]
      ) {
        prop.color = "primary";
        prop.icon = "mdi-sort-ascending";
      } else if (
        header.value == this.options.sortBy[0] &&
        this.options.sortDesc[0]
      ) {
        prop.color = "primary";
        prop.icon = "mdi-sort-descending";
      }
      return prop;
    };
  },
},

watch: {
  options: {
    handler() {
      this.refresh();
    },
    deep: true,
  },
},

mounted() {
  // this.refresh();
  // this.$store.dispatch(types.ACTION_RESET_STATE)
},

created() {
  console.log("CROT MASUK")
  this.id = this.$route.query.idBulkHeader;
  console.log("OKE: " + this.id)
  this.initList(["invoice", "reference", "customer", "business"]);
  this.filter.insuranceFrom.searchValue = "";
  this.filter.insuranceTo.searchValue = "";
  this.filter.createdFrom.searchValue = "";
  this.filter.createdTo.searchValue = "";
},

methods: {
  ...mapActions({
    setDocType: types.ACTION_DOC_TYPE,
    setFileName: types.ACTION_FILE_NAME,
  }),

  goToAdd() {
    this.$router.replace({ name: "create-invoice-add" });
  },

  closeUpload(){
    this.dialogLoading = { show: false, success: false, error: false, text: '' }
    this.refresh()
  },

  goToUpload() {
    document.getElementById("bulkList").click()
  },

  async uploadFile(e) {
      var fr = new FileReader();
      fr.readAsDataURL(e);
      fr.addEventListener("load", () => {
        let typeFile = e.name.split('.')
        let base64 = fr.result.split(',')[1]
        this.fileData = base64
        this.setDocType(typeFile[1])
        this.setFileName(e.name)
        this.loadingUpload = true;
        this.dialogLoading.show = true;

        let param = {
          base64: base64,
          docType: typeFile[1],
          filename: e.name,
          description: "desc"
        }
        API.post("broking/api/broking/invoice-bulk/upload", param).then((resp) => {
          if (resp.data.code === 0) {
            this.showPreview = true
            this.loadingMultiInsured = false;
            this.dialogLoading.success = true;
            this.dialogLoading.text = 'Upload Successful'
          } else {
            this.dialogLoading.error = true;
            this.dialogLoading.text = resp.data.errorMessage
            this.loadingMultiInsured = false;
          }
        });
      });
  },

  refresh() {
    this.getList().then((data) => {
      this.items = data.items;
      this.totalItems = data.total;
    });
  },

  getList() {
    this.loading = true;
    return new Promise((resolve) => {
      const { sortBy, sortDesc, page, itemsPerPage } = this.options;
      let param = {
        page: page - 1,
        size: itemsPerPage,
      };
      if (
        sortBy != undefined &&
        sortDesc != undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      )
        param["sort"] = [
          sortBy[0],
          sortDesc[0] ? "desc" : "asc",
          "ignoreCase",
        ].join(",");
      var findHeaderValueNotEmpty = [];
      Object.keys(this.filter).forEach((key) => {
        if (String(this.filter[key].searchValue).length > 0) {
          findHeaderValueNotEmpty.push(this.filter[key]);
        }
      });
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.value + "." + value.searchParam]: value.searchValue,
            };
          })
        );
      }
      this.listParam = param;
      API.get("broking/api/broking/invoice-bulk/list-bulk-records", param)
        .then((resp) => {
          if (resp.data.code == 0) {
            console.log(resp);
            // let items = resp.data.data;
            // this.items = items;
            resolve({
              total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
              items: resp.data.data,
            });
          }
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
        });
    });
  },

  view(item) {
    this.$router.replace({
      name: "create-invoice-edit",
      params: { item: item },
      query: { id: item.invoiceNo, status: item.status, statusPage: 'view'  }
    });
    localStorage.setItem("from", "view")
  },

  edit(item) {
    this.$router.replace({
      name: "create-invoice-edit",
      params: { item: item },
      query: { id: item.invoiceNo, status: item.status, statusPage: 'edit' }
    });
    localStorage.setItem("from", "edit")
  },

  viewItem(item) {
    // this.$router.push({
    //   name: "area-regency-detail",
    //   params: { item: item },
    //   query: { id: item.id }
    // });
    console.log(item);
    alert("belum");
  },

  deleteItem(item) {
    if (item.id != null) {
      API.post("/api/master-location/regency/delete/" + item.id).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.alert = true;
            setTimeout(() => {
              this.alert = false;
            }, 2000);
          } else {
            this.errAlert = true;
            setTimeout(() => {
              this.errAlert = false;
            }, 2000);
          }
        }
      );
    }
  },

  listSearch() {
    this.expanded = false;
    this.refresh();
  },

  goToInvoiceList(){
      this.$router.replace({ name: "invoice-bulk", query: {back: true},  });
    },

  initList(list) {
    for (let l of list) {
      API.get(this.filter[l].url).then((resp) => {
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          this.filter[l].items = resp.data.data;
        } else {
          this.filter[l].items = [];
        }
      });
    }
  },

  sortClick(value) {
    if (this.options.sortBy[0] == value) {
      if (this.options.sortDesc[0] == false) {
        this.options.sortDesc[0] = true;
      } else if (this.options.sortDesc[0] == true) {
        this.options.sortBy = [];
        this.options.sortDesc = [];
      }
    } else {
      this.options.sortBy[0] = value;
      this.options.sortDesc[0] = false;
    }
    this.refresh();
  },

  autocompSearch(filter) {
    filter.loading = true;
    API.get(
      filter.url +
        filter[
          !this.expanded ? "toolbarSearchInput" : "searchInput"
        ].toUpperCase()
    ).then((resp) => {
      filter.loading = false;
      if (resp.data.code == 0 && resp.data.data.length > 0) {
        // console.log(resp.data.data);
        filter.items = resp.data.data;
      } else {
        filter.items = [];
      }
    });
  },
},
};
</script>