<template>
  <v-card flat>
    <isttoolbar
      title="Finance Claim"
      dark
      color="secondary"
      icon="mdi-chart-box-plus-outline"
    >
      <v-spacer />

      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px">
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      title="Create New Payment Claim Debtor"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form class="mt-5">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            label="Status"
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Payment No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="{Auto Generated}"
            ref="paymentNo"
            name="paymentNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Underwriter <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Underwriter"
            v-model="param.underwriter"
            ref="underwriter"
            name="underwriter"
            @keyup="autocompSearch(search.underwriter)"
            :search-input.sync="
              search.underwriter.params['codeOrName.contains']
            "
            :items="search.underwriter.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.underwriter.loading"
            class="ma-0"
            return-object
            v-on:change="changeUnderwriter"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Payment Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paymentDate"
            ref="paymentDate"
            name="paymentDate"
            label="Insert Payment Date"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
            :loading="transDateLoading"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Payment Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Payment Type"
            v-model="param.paymentType"
            ref="paymentType"
            name="paymentType"
            :items="search.paymentType.items"
            :rules="[rules.required]"
            :loading="search.paymentType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency<span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Currency"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            v-on:change="changeCurrency"
            item-value="code"
            :item-text="currencyTextItem"
            :rules="[rules.required]"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Exchange Rate"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
            :loading="excRateLoading"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank <span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Bank"
            v-model="param.bank"
            ref="bank"
            name="bank"
            :items="search.bank.items"
            @keyup="autocompSearch(search.bank)"
            :rules="[rules.required]"
            :loading="search.bank.loading"
            item-value="coaCode"
            :item-text="coaTextItem"
            :search-input.sync="search.bank.params['coaName.contains']"
            class="ma-0"
            flat
            outlined
            dense
            solo
            @click="bankReceivedOnClick"
            :readonly="this.param.currency == ''"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                :rules="[rules.required]"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            label="Insert Reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:[`item.paymentAmount`]="{ item }">
        <v-text-field
          v-model="item.paymentAmount"
          hide-details="auto"
          class="ma-0"
          ref="inputPaymentAmount"
          flat
          outlined
          dense
          solo
          v-money="amountChanged ? money : ''"
          @input="paymentAmountChange(item)"
          :rules="[amountLimit(item)]"
        ></v-text-field>
      </template>
      <template v-slot:[`item.balance`]="{ item }">
        <span>{{ currencyFormat(item.balance) }}</span>
      </template>
      <template v-slot:[`item.exchgRate`]="{ item }">
        <v-progress-circular
          v-if="item.rateLoading"
          indeterminate
          color="primary"
        ></v-progress-circular>
        <span v-else-if="item.currency == param.currency">
          {{ currencyFormat(item.exchgRate) }}
        </span>
        <!-- <v-chip v-else link @click="openEditRateDialog(item)">
          {{ currencyFormat(item.exchgRate) }}
        </v-chip> -->
        <editratedialog
          v-else
          :item="item"
          v-on:submit-rate="submitRate"
        ></editratedialog>
      </template>
      <template v-slot:[`item.equivAmount`]="{ item }">
        <span>{{ currencyFormat(item.equivAmount) }}</span>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-btn
          outlined
          icon
          color="primary"
          @click="removeTrans(item, 'items')"
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </template>
      <template v-slot:[`body.append`]>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <v-btn
              v-if="header.value == 'action'"
              outlined
              icon
              color="primary"
              @click="openTransDialog"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title"
              >Total Payment</span
            >
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <br />
    <form>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Approved By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="approveName"
            name="approveName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="approveDate"
            name="approveDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Closed By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="closeName"
            name="closeName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="closeDate"
            name="closeDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </form>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-title v-show="infoCnDialog.mode == 'loading'">
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
        <v-card-actions v-show="infoCnDialog.mode != 'loading'">
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text
          v-show="infoCnDialog.mode != 'loading'"
          class="text-h6 justify-center text-center"
        >
          <span v-if="infoCnDialog.item.isPaid" class="black--text">
            {{
              "Credit Note No. " +
              infoCnDialog.item.accountNo +
              " has received payment"
            }}
          </span>
          <span v-else class="black--text">
            {{
              "Credit Note No. " +
              infoCnDialog.item.accountNo +
              " has not received payment"
            }}
          </span>
        </v-card-text>
        <v-card-actions
          v-show="infoCnDialog.mode != 'loading'"
          class="justify-center"
        >
          <creditordialog
            v-if="infoCnDialog.item.isPaid"
            url="finance/api/finance/invaccount/gettransactioncreditor/outstanding"
            :number="infoCnDialog.item.accountNo"
            :underwriter="infoCnDialog.item.uwName"
            :currency="infoCnDialog.item.currency"
            :type="infoCnDialog.item.accountType"
          >
          </creditordialog>
          <v-btn
            v-else
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="transDialog" persistent max-width="900" scrollable>
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Choose Transaction <v-spacer></v-spacer>
          <v-btn text depressed color="primary" @click="transDialog = false">
            <v-icon large>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="transHeaders"
            :items="transItems"
            hide-default-footer
            :loading="transLoading"
            class="elevation-1"
            :options.sync="transOptions"
            hide-default-header
            height="300"
            fixed-header
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th
                    v-for="header in headers"
                    :key="header.text"
                    class="xsmall-label"
                  >
                    <v-text-field
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :name="header.value"
                      :disabled="header.value != 'accountNo'"
                      v-on:keyup="onkeyupTransSearch"
                    >
                    </v-text-field>
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:[`item.amount`]="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:[`item.amoutPaid`]="{ item }">
              <div>{{ currencyFormat(item.amoutPaid) }}</div>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                @click="addTrans(item)"
                :disabled="item.status == 1"
                style="display: block; margin-left: auto; margin-right: auto;"
              >
                <!-- ['CN', 'INV'].indexOf(item.accountType) != -1 && -->
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <span
                v-show="item.status == 1"
                class="error--text"
                style="display: block; text-align: center;"
                >In use
                <!-- ['CN', 'INV'].indexOf(item.accountType) != -1 && -->
              </span>
            </template>
            <template v-slot:[`body.append`]>
              <tr>
                <v-card v-intersect="infiniteScrolling"></v-card>
              </tr>
            </template>
          </v-data-table>

          <br />
          <span class="title blue--text text--darken-4">
            Transaction Added
          </span>
          <v-data-table
            :headers="transHeaders"
            :items="toAddTransItems"
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:[`item.amount`]="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:[`item.amoutPaid`]="{ item }">
              <div>{{ currencyFormat(item.amoutPaid) }}</div>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                @click="removeTrans(item, 'toAddTransItems')"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            @click="submitTrans"
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card v-show="!dialog.success && !dialog.error">
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card v-show="dialog.success">
        <v-card-title class="justify-center" style="word-break: inherit;"
          >Your Data has been Saved</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="editItem"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
      <v-card v-show="dialog.error">
        <v-card-title class="justify-center" style="word-break: inherit;"
          >Your Data Failed to Save</v-card-title
        >
        <v-card-text
          class="d-flex justify-center error--text"
          style="word-break: inherit;"
        >
          {{ dialog.errorMessage }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialog.show = dialog.error = false"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import editratedialog from "@/components/dialog/editRateDialog";
import creditordialog from "@/components/dialog/creditorDialog";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";
import formatDateHelper from "@/helper/formatDateHelper";

export default {
  components: {
    isttoolbar,
    editratedialog,
    creditordialog,
    submitdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    statusAmount: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      status: "ENTRY",
      paymentNo: "",
      underwriter: "",
      client: "",
      agent: "",
      customerCode: "",
      customer: "",
      paymentDate: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      paymentType: "",
      currency: "",
      excRate: "",
      bank: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      reference: "",
    },
    search: {
      underwriter: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/insurance",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/agent",
        loading: true,
        request: null,
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      paymentType: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "RECEIVED_TYPE",
          sort: "code,asc,ignoreCase",
        },
        url: "/config/api/master-parameter/",
        loading: true,
      },
      bank: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "coaName.contains": "",
          "currency.equals": 1,
        },
        url: "/config/api/master-akuncoa/",
        loading: false,
        request: null,
        itemSearch: {
          p: true,
        },
        uniqueKey: "coaCode",
      },
    },
    headers: [
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
        width: 100,
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Bill Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Payment Amount",
        sortable: false,
        value: "paymentAmount",
        add: "",
        width: 200,
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        width: 100,
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "equivAmount",
        add: "",
        width: 100,
      },
      { text: "", sortable: false, value: "action", add: "", width: 100 },
    ],
    items: [],
    loading: false,

    transHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "accountNo",
        add: "",
        rules: [],
        filterParam: "accountNo",
        searchParam: ".contains",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
        items: ["CSH", "CN"],
        filterType: "select",
        filterParam: "transType",
        searchParam: ".equals",
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    transItems: [],
    transLoading: false,
    toAddTransItems: [],
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    cashDialog: false,
    transDialog: false,
    amountChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    overlay: false,
    excRateLoading: false,
    typeItems: ["CCN"],
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
    submitDialog: { show: false, mode: "", title: "", message: "" },
    isFullRecord: true,
    loadItems: 10,
    manualAddCount: 0,
    transDateLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        underwriter: this.param.underwriter,
        paymentType: this.param.paymentType,
        currency: this.param.currency,
        bank: this.param.bank,
        refDate: this.param.refDate.date,
      };
    },
  },

  watch: {
    transOptions: {
      handler() {
        // this.transRefresh();
      },
      deep: true,
    },
  },

  async created() {
    this.getBussDate();
    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.fullname;

    await this.initList(["underwriter", "currency", "paymentType", "bank"]);
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    amountLimit(item) {
      return () =>
        Math.abs(this.currencyToFloat(item.paymentAmount)) <=
          Math.abs(this.currencyToFloat(item.amountPayable)) ||
        "Cannot be greater than Payable";
    },
    back() {
      this.$router.replace({ name: "claims-debtor-payment-list" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      // validasi tabel trans
      this.dialog.errorMessage = "";
      if (!this.formHasErrors) {
        if (this.items.length < 1) {
          this.formHasErrors = true;
          this.dialog.errorMessage = "Please select at least one Transaction";
        }
      }

      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        let statusPayable = false;
        this.items.forEach((element) => {
          if (
            Math.abs(this.currencyToFloat(element.paymentAmount)) >
            Math.abs(this.currencyToFloat(element.amountPayable))
          ) {
            statusPayable = true;
          }
        });

        if (statusPayable) {
          this.dialog.error = true;
          this.dialog.errorMessage = "Payment Amount cannot be greater than Payable"
        } else {
          await this.doAdd(); ///
        }
        // this.back();
      } else {
        this.formHasErrors = false;
        if (this.dialog.errorMessage != "") {
          this.dialog.success = false;
          this.dialog.error = true;
          this.dialog.show = true;
        }
      }
    },
    async doAdd() {
      let vm = this;
      let submitUrl = "/finance/api/financeclaim/debtor/payment/add";
      let bankItem = this.search.bank.items.filter(
        (value) => value.coaCode == this.param.bank
      );
      let paramJSON = {
        amount: this.currencyToFloat(this.getTotal("equivAmount")),
        amountEq: this.currencyToFloat(this.getTotal("equivAmount")),
        bankCode: this.param.bank,
        bankName: bankItem[0].coaName,
        currency: this.param.currency,
        customerCode:
          this.param.customerCode != null ? this.param.customerCode : "",
        customerName:
          this.param.customerName != null ? this.param.customerName : "",
        customerType: "INSURANCE",
        exchangeRate: this.currencyToFloat(this.param.excRate),
        paymentMethod: this.param.paymentType,
        reference: this.param.reference,
        referenceDate: this.formatDateSlice(this.param.refDate.date),
        tranDate: this.param.paymentDate,
        listAccountTranData: this.items.map(function (row) {
          return {
            amount: vm.currencyToFloat(row.paymentAmount),
            balanceAmount: row.balance,
            billDate: vm.formatDateSlice(row.tranDate),
            currency: row.currency,
            equivAmount: row.equivAmount.toFixed(2),
            exchangeRate: row.exchgRate,
            invoiceNo: row.accountNo,
            oriAmount: row.amoutPaid,
            type: row.accountType,
            term: row.term,
            id: row.id,
          };
        }),
      };

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.param.paymentNo = resp.data.data.idTran;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.editItem();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },

    initList(list, paramAdd = null) {
      for (let l of list) {
        this.search[l].loading = true;
        let mergedParam = { ...this.search[l].params, ...paramAdd };
        API.get(this.search[l].url, mergedParam)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(search.url, search.params, null, null, axiosSource.token).then(
        (resp) => {
          search.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            search.items = resp.data.data;
          } else {
            search.items = [];
          }
        }
      );
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "claims-debtor-payment-edit",
        query: { id: this.param.paymentNo, mode: "d" },
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },

    refNoOnClick() {
      if (!this.isFromCashReceipt) {
        this.cashDialog = true;
      }
    },

    addTrans(item) {
      let existItem = this.toAddTransItems.filter(
        (value) => value.accountNo == item.accountNo && value.term == item.term
      );
      if (existItem < 1) {
        this.toAddTransItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeTrans(item, name) {
      this.amountChanged = false;
      for (let i = 0; i < this[name].length; i++) {
        if (
          this[name][i].accountNo == item.accountNo &&
          this[name][i].term == item.term
        ) {
          this[name].splice(i, 1);
        }
      }
    },
    async submitTrans() {
      let vm = this;
      this.transDialog = false;
      this.amountChanged = false;
      let toAddItems = this.toAddTransItems.map(function (row) {
        row["paymentAmount"] =
          row.paymentAmount == null
            ? vm.currencyFormat(
                row.amountPayable < 0
                  ? row.amountPayable * -1
                  : row.amountPayable
              )
            : row.paymentAmount;
        row.equivAmount = 0;
        row.rateLoading = false;
        return row;
      });
      this.items = JSON.parse(JSON.stringify(toAddItems));

      this.getItemsRate();
    },
    openTransDialog() {
      this.toAddTransItems = JSON.parse(JSON.stringify(this.items));
      this.transDialog = true;
      this.amountChanged = false;

      for (let key of this.transHeaders) {
        key.searchValue = "";
      }
      this.transOptions.page = 1;
      this.transItems = [];
      this.isFullRecord = true;
      this.manualAddCount = 0;
      this.transRefresh();
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      this.getItemsRate();
      this.initList(["bank"], { "currency.equals": e, "coaName.contains": "" });
      let rate = await this.getExchangeRate(e);
      this.param.excRate = this.currencyFormat(rate);
      this.excRateLoading = false;
      // update param autocomplete bank received
      this.search.bank.params["currency.equals"] = e;
    },
    async getItemsRate() {
      for (let item of this.items) {
        item.rateLoading = true;
        if (item.currency == this.param.currency) {
          item.exchgRate = 1;
        } else {
          item.exchgRate = await this.getExchangeRate(
            item.currency != "IDR" ? item.currency : this.param.currency
          );
        }
        item.rateLoading = false;
        this.paymentAmountChange(item);
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    transRefresh() {
      let vm = this;
      if (this.param.underwriter != "") {
        this.getList(
          this.transHeaders,
          this.transOptions,
          "transLoading",
          "in",
          "CCN"
        ).then((data) => {
          let items = data.items.filter((value) => value.balance != 0);
          // this.transItems = items;
          items.forEach((item) => {
            let existItem = vm.transItems.filter((val) => val.id == item.id);
            if (existItem.length < 1) {
              vm.transItems.push(item);
            }
          });
          if (items.length < this.loadItems) {
            this.manualAddCount = this.manualAddCount + items.length;
            if (this.manualAddCount < this.loadItems) {
              this.infiniteScrolling();
            } else {
              this.manualAddCount = 0;
            }
          } else {
            this.manualAddCount = 0;
          }
        });
      }
    },
    getList(headers, options, loading, notation, type) {
      this[loading] = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page } = options;
        let param = {
          page: page - 1,
          size: this.loadItems,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        ) {
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        }

        const findHeaderValueNotEmpty = headers.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        // addition param
        let custCode = this.param.underwriter.code;

        param["uwCode.equals"] = custCode;
        if (param["transType.equals"] == undefined) {
          param["transType." + notation] = type;
        }

        API.get("finance/api/financeclaim/querydebtor/", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              this.isFullRecord =
                resp.data.listTransaction.length == this.loadItems;
              resolve({
                // total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.listTransaction,
              });
            } else {
              resolve({
                // total: parseInt(resp.headers["x-total-count"]),
                items: [],
              });
            }
            this[loading] = false;
          })
          .catch((error) => {
            console.log(error);
            this[loading] = false;
          });
      });
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    onkeyupTransSearch() {
      this.transOptions.page = 1;
      this.transItems = [];
      this.isFullRecord = true;
      this.manualAddCount = 0;
      this.transRefresh();
    },
    paymentAmountChange(item) {
      this.amountChanged = true;
      let amount = this.currencyToFloat(item.paymentAmount);
      let rate = item.exchgRate;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.equivAmount = amount * rate;
      } else {
        item.equivAmount = amount / rate;
      }
    },
    changeUnderwriter(data) {
      this.param.customerCode = data.code;
      this.param.customerName = data.name;
      this.items = [];
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    submitRate(param) {
      this.paymentAmountChange(param);
    },
    capitalizeFirstLetter(string) {
      return string[0].toUpperCase() + string.slice(1).toLowerCase();
    },
    bankReceivedOnClick() {
      if (this.param.currency == "") {
        this.submitDialog.title = "Please select Currency first";
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      }
    },
    infiniteScrolling() {
      if (!this.transLoading && this.isFullRecord) {
        this.transOptions.page = this.transOptions.page + 1;
        this.transRefresh();
      }
    },
    getBussDate() {
      this.transDateLoading = true;
      return new Promise((resolve) => {
        API.get("report/api/business-date")
        .then((resp) => {
          this.param.paymentDate = formatDateHelper.formatDateFromDMYoDMY(resp.data, "-", "/");
          resolve(true)
          this.transDateLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error Get Business Date" });
          this.transDateLoading = false;
        });
      })
    },

    bankTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
