<template>
  <v-card flat>
    <isttoolbar
      title="Finance Claim"
      dark
      color="secondary"
      icon="mdi-finance"
    >
      <v-spacer />

      <div v-if="disableForm">
        <editablejournaldialog
          v-if="param.status == 'ENTRY' || param.status == 'CLOSED'"
          :refNo="param.paymentNo"
          :editable="true"
          api="finance/api/financeclaim/debtor/payment/viewjournal/"
          submitApi="finance/api/financeclaim/debtor/payment/modifyjournal/"
          transType="REF"
          getListParamName="data"
          paramIdSubmitName="idTran"
          :bankReceivedCode="param.bank"
          :hideFirstSeqMinus="true"
          :firstGlBankBehaviour="{ same: true, currency: param.currency }"
          editAuth="claims-debtor-payment-modify-journal"
        >
          <!-- :disableCoaFirstSeq="true" -->
          <!-- viewAuth="claims-debtor-payment-view-journal" -->
        </editablejournaldialog>
        <journaldialog
          v-else
          api="finance/api/financeclaim/debtor/payment/viewjournal/"
          :refNo="param.paymentNo"
          
        >
          <!-- viewAuth="claims-debtor-payment-view-journal" -->
        </journaldialog>

        <v-dialog
          v-for="item in statusItems"
          v-model="item.model"
          persistent
          :key="item.text"
          max-width="300"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              outlined
              class="mx-1"
              min-width="100px"
              v-bind="attrs"
              v-on="on"
              v-show="param.status == item.showOnStatus"
            >
              {{ item.text }}
            </v-btn>
          </template>
          <v-card>
            <v-card-title
              class="justify-center"
              style="word-break: inherit; text-align: center;"
            >
              Are you sure to sure want to {{ item.text }} this record ?
            </v-card-title>
            <v-card-actions class="justify-center">
              <v-btn
                color="primary"
                outlined
                class="mx-1"
                min-width="100px"
                @click="changeStatus(item)"
              >
                Yes
              </v-btn>
              <v-btn
                outlined
                color="red"
                class="mx-1"
                min-width="100px"
                @click="item.model = false"
              >
                No
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <printaction
              v-bind="attrs"
              v-on="on"
              :items="printItems"
              :id="param.paymentNo"
              status=""
              :customer="param.customerName"
              idParam="id"
              base64Key="data.base64"
            >
            </printaction>
          </template>
          <span>Print</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              @click="disableForm = false"
              text
              v-bind="attrs"
              v-on="on"
              v-show="param.status == 'ENTRY' && checkAuthorities('claims-debtor-payment-edit')"
            >
              <v-icon>mdi-pen mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              min-height="40"
              @click="toList"
              text
            >
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div v-else>
        <v-btn @click="save" outlined class="mx-1" min-width="100px">
          Save
        </v-btn>
        <v-btn @click="back" outlined class="mx-1" min-width="100px">
          Cancel
        </v-btn>
      </div>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View Payment Claim Debtor' : 'Edit Refund Claim Debtor'"
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form :readonly="disableForm" class="mt-5">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Payment No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paymentNo"
            hide-details="auto"
            ref="paymentNo"
            name="paymentNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Underwriter <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.underwriter"
            ref="underwriter"
            name="underwriter"
            @keyup="autocompSearch(search.underwriter)"
            :search-input.sync="
              search.underwriter.params['codeOrName.contains']
            "
            :items="search.underwriter.items"
            item-value="code"
            item-text="codeAndName"
            :loading="search.underwriter.loading"
            class="ma-0"
            v-on:change="changeUnderwriter"
            :rules="[rules.required]"
            :readonly="disableForm"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Payment Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paymentDate"
            ref="paymentDate"
            name="paymentDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Payment Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.paymentType"
            ref="paymentType"
            name="paymentType"
            :items="search.paymentType.items"
            :rules="[rules.required]"
            :loading="search.paymentType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency<span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            v-on:change="changeCurrency"
            item-value="code"
            :item-text="currencyTextItem"
            :rules="[rules.required]"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
            :loading="excRateLoading"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank <span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.bank"
            ref="bank"
            name="bank"
            :items="search.bank.items"
            @keyup="autocompSearch(search.bank)"
            :rules="[rules.required]"
            :loading="search.bank.loading"
            item-value="coaCode"
            :item-text="coaTextItem"
            :search-input.sync="search.bank.params['coaName.contains']"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
            @click="bankReceivedOnClick"
            :readonly="this.param.currency == ''"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="disableForm"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                :rules="[rules.required]"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                  v-show="!disableForm"
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:[`item.balance`]="{ item }">
        <span>{{ formatMoney(item.balance) }}</span>
      </template>
      <template v-slot:[`item.paymentAmount`]="{ item }">
        <span v-if="disableForm">{{ item.paymentAmount }}</span>
        <v-text-field
          v-else
          v-model="item.paymentAmount"
          hide-details="auto"
          class="ma-0"
          ref="inputRefundAmount"
          flat
          outlined
          dense
          solo
          v-money="amountChanged ? money : ''"
          @input="paymentAmountChange(item)"
          :rules="[amountLimit(item)]"
        ></v-text-field>
      </template>
      <template v-slot:[`item.exchgRate`]="{ item }">
        <span v-if="item.currency == param.currency || disableForm">
          {{ formatMoney(item.exchgRate) }}
        </span>
        <v-progress-circular
          v-else-if="item.rateLoading"
          indeterminate
          color="primary"
        ></v-progress-circular>
        <editratedialog
          v-else
          :item="item"
          v-on:submit-rate="submitRate"
        ></editratedialog>
      </template>
      <template v-slot:[`item.equivAmount`]="{ item }">
        <span>{{ formatMoney(item.equivAmount) }}</span>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-btn
          outlined
          icon
          color="primary"
          @click="removeTrans(item)"
          v-show="!disableForm"
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </template>

      <template v-slot:[`body.append`]>
        <tr v-show="!disableForm">
          <td v-for="header in headers" :key="header.text">
            <adddebtordialog
              v-if="header.value == 'action'"
              :headers="transHeaders"
              url="finance/api/financeclaim/querydebtor/"
              :customer="param.underwriter"
              type="CCN"
              title="Transaction"
              :existItems="items"
              v-on:submit="submitTrans"
            >
            </adddebtordialog>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title"
              >Total Refund</span
            >
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <br />
    <form>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Approved By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.approveName"
            ref="approveName"
            name="approveName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.approveDate"
            ref="approveDate"
            name="approveDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Closed By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.closeName"
            ref="closeName"
            name="closeName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.closeDate"
            ref="closeDate"
            name="closeDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </form>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-title v-show="infoCnDialog.mode == 'loading'">
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
        <v-card-actions v-show="infoCnDialog.mode != 'loading'">
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text
          v-show="infoCnDialog.mode != 'loading'"
          class="text-h6 justify-center text-center"
        >
          <span v-if="infoCnDialog.item.isPaid" class="black--text">
            {{
              "Credit Note No. " +
              infoCnDialog.item.accountNo +
              " has received payment"
            }}
          </span>
          <span v-else class="black--text">
            {{
              "Credit Note No. " +
              infoCnDialog.item.accountNo +
              " has not received payment"
            }}
          </span>
        </v-card-text>
        <v-card-actions
          v-show="infoCnDialog.mode != 'loading'"
          class="justify-center"
        >
          <creditordialog
            v-if="infoCnDialog.item.isPaid"
            url="finance/api/finance/invaccount/gettransactioncreditor/outstanding"
            :number="infoCnDialog.item.accountNo"
            :underwriter="infoCnDialog.item.uwName"
            :currency="infoCnDialog.item.currency"
            :type="infoCnDialog.item.accountType"
          >
          </creditordialog>
          <v-btn
            v-else
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="reloadData"
      v-on:error="
        submitDialog.show = false;
        submitDialog.title = null;
      "
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import journaldialog from "@/components/dialog/journalDialog";
import submitdialog from "@/components/dialog/submitDialog";
import adddebtordialog from "@/components/dialog/addDebtorDialog";
import editratedialog from "@/components/dialog/editRateDialog";
import printaction from "@/components/toolbars/printAction";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";
import creditordialog from "@/components/dialog/creditorDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    journaldialog,
    submitdialog,
    adddebtordialog,
    editratedialog,
    printaction,
    editablejournaldialog,
    creditordialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      status: "ENTRY",
      paymentNo: "",
      custType: "CLIENT",
      client: "",
      agent: "",
      customerCode: "",
      customerName: "",
      customer: "",
      paymentDate: "",
      paymentType: "",
      currency: "",
      excRate: "",
      bank: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      reference: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
      approveName: "",
      approveDate: "",
      closeName: "",
      closeDate: "",
    },
    search: {
      underwriter: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "code.equals": "",
        },
        url: "/clients/api/account/insurance",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "code",
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      paymentType: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "RECEIVED_TYPE",
          sort: "code,asc,ignoreCase",
        },
        url: "/config/api/master-parameter/",
        loading: true,
      },
      bank: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          "coaName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          "coaCode.equals": "",
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "coaCode",
      },
    },
    headers: [
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
        width: 100,
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Bill Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Payment Amount",
        sortable: false,
        value: "paymentAmount",
        add: "",
        width: 200,
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        width: 100,
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "equivAmount",
        add: "",
        width: 100,
      },
      { text: "", sortable: false, value: "action", add: "", width: 100 },
    ],
    items: [],
    transHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "accountNo",
        add: "",
        rules: [],
        filterParam: "accountNo",
        searchParam: ".contains",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
        items: ["CSH", "CN"],
        filterType: "select",
        filterParam: "transType",
        searchParam: ".equals",
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    submitDialog: { show: false, mode: "", message: "" },
    disableForm: false,
    statusConfirm: false,
    overlay: true,
    journalDialog: false,
    excRateLoading: false,
    amountChanged: false,
    printItems: [
      {
        // code: "client",
        text: "Official",
        name: "Finance Claim Payment Debtor Official",
        url: "/finance/api/financeclaim/debtor/payment/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "signed",
        text: "Client Copy",
        name: "Finance Claim Payment Debtor Copy",
        url: "/finance/api/financeclaim/debtor/payment/generate-copy",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    statusItems: [
      {
        text: "Approve",
        url: "/finance/api/financeclaim/debtor/payment/approve/",
        model: false,
        showOnStatus: "ENTRY",
      },
      {
        text: "Unapprove",
        url: "/finance/api/financeclaim/debtor/payment/unapprove/",
        model: false,
        showOnStatus: "APPROVED",
      },
      {
        text: "Finalize",
        url: "/finance/api/financeclaim/debtor/payment/finalize/",
        model: false,
        showOnStatus: "APPROVED",
      },
    ],
    // approve: {
    //   text: "Approve",
    //   url: "/finance/api/financeclaim/debtor/payment/approve/",
    //   model: false,
    //   showOnStatus: "ENTRY",
    // },
    // unapprove: {
    //   text: "Unapprove",
    //   url: "/finance/api/financeclaim/debtor/payment/unapprove/",
    //   model: false,
    //   showOnStatus: "APPROVED",
    // },
    // finalize: {
    //   text: "Finalize",
    //   url: "/finance/api/financeclaim/debtor/payment/finalize/",
    //   model: false,
    //   showOnStatus: "APPROVED",
    // },
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        paymentType: this.param.paymentType,
        currency: this.param.currency,
        bank: this.param.bank,
        refDate: this.param.refDate.date,
      };
    },
  },

  watch: {
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },

  async created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      await this.getItemData(id);
    }
    this.initList(["underwriter", "paymentType", "currency", "bank"]);

    // if(this.checkAuthorities('claims-debtor-payment-approve')) this.statusItems.push(this.approve);
    // if(this.checkAuthorities('claims-debtor-payment-unapprove')) this.statusItems.push(this.unapprove);
    // if(this.checkAuthorities('claims-debtor-payment-finalize')) this.statusItems.push(this.finalize);
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    amountLimit(item) {
      return () =>
        Math.abs(this.currencyToFloat(item.paymentAmount)) <=
          Math.abs(this.currencyToFloat(item.amountPayable)) ||
        "Cannot be greater than Payable";
    },
    async getItemData(id) {
      let vm = this;
      this.param.id = id;
      await API.get(
        "/finance/api/financeclaim/debtor/payment/" + this.param.id
      ).then((resp) => {
        let dataResp = resp.data.data;
        this.param.status = dataResp.status;
        this.param.paymentNo = dataResp.idTran;
        this.param.custType = dataResp.customerType;
        this.param.underwriter = dataResp.customerCode;
        this.search.underwriter.setItemParams["code.equals"] =
          dataResp.customerCode;
        this.param.customerCode = dataResp.customerCode;
        this.param.customerName = dataResp.customerName;
        this.param.paymentDate = dataResp.tranDate;
        this.param.paymentType = dataResp.paymentMethod;
        this.param.currency = dataResp.currency;
        this.search.bank.params["currency.equals"] = this.param.currency;
        this.param.excRate = this.formatMoney(dataResp.exchangeRate);
        this.param.bank = dataResp.bankCode;
        this.search.bank.setItemParams["coaCode.equals"] = dataResp.bankCode;
        this.param.refDate.date = this.formatDateDash(dataResp.referenceDate);
        this.param.reference = dataResp.reference;
        this.param.entryName = dataResp.entryBy;
        this.param.entryDate = dataResp.entryDate;
        this.param.modifName = dataResp.modifiedBy;
        this.param.modifDate = dataResp.modifiedDate;
        this.param.approveName = dataResp.approvedBy;
        this.param.approveDate = dataResp.approvedDate;
        this.param.closeName = dataResp.closedBy;
        this.param.closeDate = dataResp.closedDate;
        this.items = dataResp.listAccountTranData.map(function (row) {
          row["accountNo"] = row.invoiceNo;
          row["accountType"] = row.type;
          row["tranDate"] = vm.formatDateDash(row.billDate);
          row["balance"] = row.balanceAmount;
          row["paymentAmount"] = vm.formatMoney(row.amount);
          row["amountPayable"] = row.amount;
          row["exchgRate"] = row.exchangeRate;
          return row;
        });
      });
      this.overlay = false;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.reloadData();
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "claims-debtor-payment-list", query: {back: true}, });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      // validasi tabel trans
      this.submitDialog.message = "";
      if (!this.formHasErrors) {
        if (this.items.length < 1) {
          this.formHasErrors = true;
          this.submitDialog.message = "Please select at least one Transaction";
        }
      }

      if (!this.formHasErrors) {
        this.submitDialog.mode = "loading";
        this.submitDialog.show = true;
        let statusPayable = false;
        this.items.forEach((element) => {
          if (
            Math.abs(this.currencyToFloat(element.paymentAmount)) >
            Math.abs(this.currencyToFloat(element.amountPayable))
          ) {
            statusPayable = true;
          }
        });

        if (statusPayable) {
          this.submitDialog.mode = "error";
          this.submitDialog.message =
            "Payment Amount cannot be greater than Payable";
        } else {
          await this.doEdit(); ///
        }
        // await this.doEdit();
      } else {
        if (this.submitDialog.message != "") {
          this.submitDialog.mode = "error";
          this.submitDialog.show = true;
        }
        this.formHasErrors = false;
      }
    },
    async doEdit() {
      let vm = this;
      let submitUrl = "/finance/api/financeclaim/debtor/payment/edit";
      let bankItem = this.search.bank.items.filter(
        (value) => value.coaCode == this.param.bank
      );
      let paramJSON = {
        idTran: this.param.paymentNo,
        amount: this.convertMoney(this.getTotal("equivAmount")),
        amountEq: this.convertMoney(this.getTotal("equivAmount")),
        bankCode: this.param.bank,
        bankName: bankItem.length > 0 ? bankItem[0].coaName : this.param.bank,
        currency: this.param.currency,
        customerCode:
          this.param.customerCode != null ? this.param.customerCode : "",
        customerName:
          this.param.customerName != null ? this.param.customerName : "",
        customerType: this.param.custType,
        exchangeRate: this.convertMoney(this.param.excRate),
        paymentMethod: this.param.paymentType,
        reference: this.param.reference,
        referenceDate: this.formatDateSlash(this.param.refDate.date),
        tranDate: this.param.paymentDate,
        listAccountTranData: this.items.map(function (row) {
          return {
            amount: vm.convertMoney(row.paymentAmount),
            balanceAmount: row.balance,
            billDate: vm.formatDateSlash(row.tranDate),
            currency: row.currency,
            equivAmount: row.equivAmount.toFixed(2),
            exchangeRate: row.exchgRate,
            invoiceNo: row.accountNo,
            oriAmount: row.amoutPaid,
            type: row.accountType,
            term: row.term,
            id: row.id,
          };
        }),
      };
      console.debug(paramJSON);

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            // this.submitDialog.mode = "success";
            this.param.paymentNo = resp.data.data.idTran;
            this.submitDialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.reloadData();
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    reloadData() {
      this.overlay = true;
      this.disableForm = true;
      this.$router.replace({ query: { id: this.param.paymentNo, mode: "d" } });
      this.getItemData(this.param.paymentNo);
      this.submitDialog.show = false;
    },

    initList(list, paramAdd = null) {
      for (let l of list) {
        this.search[l].loading = true;
        let mergedParam = { ...this.search[l].params, ...paramAdd };
        API.get(this.search[l].url, mergedParam)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
              this.setObjectItem(l);
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    setObjectItem(l) {
      if (this.search[l].itemSearch) {
        let item = this.search[l].items.filter(
          (value) => value[this.search[l].uniqueKey] == this.param[l]
        );
        if (item.length < 1) {
          API.get(this.search[l].url, this.search[l].setItemParams)
            .then((resp) => {
              if (
                resp.data.code == 0 &&
                resp.data.data.length > 0 &&
                resp.data.data.length < 2
              ) {
                this.search[l].items = this.search[l].items.concat(
                  resp.data.data
                );
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }
    },
    autocompSearch(search) {
      if (!this.disableForm) {
        if (search.request) search.request.cancel();
        const axiosSource = axios.CancelToken.source();
        search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => this.sends(search, axiosSource), 500);
      }
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(search.url, search.params, null, null, axiosSource.token).then(
        (resp) => {
          search.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            search.items = resp.data.data;
          } else {
            search.items = [];
          }
        }
      );
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    viewFile(type = null, format = null) {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let docUrl = "finance/api/finance/cashreceipt/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/cashreceipt/generate-copy";
      }
      let paramJSON = {
        id: this.param.receiptNo,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.data, format);
          } else {
            this.previewFile(resp.data.data);
          }
          this.overlay = false;
          this.submitDialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.submitDialog.mode = "error";
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute("download", "Payment Debtor " + "." + format); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      journal["accountType"] = this.param.customerType;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "";
        header.rules = [];
      }
      // }
    },
    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.convertMoney(key[data]);
      }
      return this.formatMoney(total);
    },
    async changeStatus(item) {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      item.model = false;

      let param = JSON.stringify({});
      API.post(item.url + this.param.paymentNo, param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            this.submitDialog.mode = "success";
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    changeUnderwriter(data) {
      this.param.customerCode = data.code;
      this.param.customerName = data.name;
      (this.param.paymentDate = new Date().toISOString().substr(0, 10)),
        (this.param.paymentType = "");
      this.param.currency = "";
      this.param.excRate = "";
      this.param.bank = "";
      (this.param.refDate.date = new Date().toISOString().substr(0, 10)),
        (this.param.reference = "");
      this.items = [];
    },
    formatDateSlash(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    formatDateDash(date) {
      let splitted = date.split("/");
      let reversed = splitted.reverse();
      return reversed.join("-");
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      this.getItemsRate();
      this.initList(["bank"], { "currency.equals": e, "coaName.contains": "" });
      let rate = await this.getExchangeRate(e);
      this.param.excRate = this.formatMoney(rate);
      this.excRateLoading = false;
      // update param autocomplete bank received
      this.search.bank.params["currency.equals"] = e;
    },
    async getItemsRate() {
      for (let item of this.items) {
        item.rateLoading = true;
        if (item.currency == this.param.currency) {
          item.exchgRate = 1;
        } else {
          item.exchgRate = await this.getExchangeRate(
            item.currency != "IDR" ? item.currency : this.param.currency
          );
        }
        item.rateLoading = false;
        this.paymentAmountChange(item);
      }
    },
    removeTrans(item) {
      this.amountChanged = false;
      for (let i = 0; i < this.items.length; i++) {
        if (
          this.items[i].accountNo == item.accountNo &&
          this.items[i].term == item.term
        ) {
          this.items.splice(i, 1);
        }
      }
    },
    async submitTrans(items) {
      // let vm = this;
      let toAddItems = items.map(function (row) {
        row["paymentAmount"] =
          row.amountPayable < 0 ? row.amountPayable * -1 : row.amountPayable;
        row.equivAmount = row.equivAmount == null ? 0 : row.equivAmount;
        row.rateLoading = false;
        return row;
      });
      this.items = JSON.parse(JSON.stringify(toAddItems));

      this.getItemsRate();
    },
    paymentAmountChange(item) {
      this.amountChanged = true;
      let amount = this.convertMoney(item.paymentAmount);
      let rate = item.exchgRate;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.equivAmount = amount * rate;
      } else {
        item.equivAmount = amount / rate;
      }
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    submitRate(param) {
      this.paymentAmountChange(param);
    },
    capitalizeFirstLetter(string) {
      return string[0].toUpperCase() + string.slice(1).toLowerCase();
    },
    bankReceivedOnClick() {
      if (this.param.currency == "") {
        this.submitDialog.title = "Please select Currency first";
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      }
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
