<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row>
        <v-col cols="8">
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">EF Gross Premium</span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="EF Gross Premium"
                id="efGrossPremium"
                ref="efGrossPremium"
                solo
                flat
                dense
                outlined
                class="ma-0 input-right"
                v-model="efPremium"
                v-money="money"
                @input="updateEFPremium(efPremium)"
                :readonly="invoice.statusPage === 'view'"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="invoice.insuranceSharingList"
            hide-default-footer
            class="elevation-1 mb-2"
          >
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="(item,idx) in items" :key="idx">
                  <td v-for="(header,key) in headers" :key="key" :item="item">
                    <div align="center" v-if="header.value == 'insuranceName'">
                      {{item[header.value]}}
                    </div>
                    <div align="center" v-if="header.value == 'sharingPercentage'">
                      {{item[header.value]}} %
                    </div>
                    <div align="center" v-if="header.value == 'efSharingAmount'">
                      {{formatMoney(Number(item[header.value]))}}
                    </div>
                    <div align="center" v-if="header.value == 'efPercentage'">
                      {{item[header.value]}} %
                    </div>
                    <!-- <v-row align="center" justify="center" v-if="header.value == 'efPercentage' && invoice.statusPage !== 'view'">
                      <v-col cols="2">
                      </v-col>
                      <v-col cols="8">
                        <v-text-field
                          hide-details="auto"
                          ref="efPercentage"
                          name="efPercentage"
                          v-model="item[header.value]"
                          @input="updateEF(item)"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          label=""
                          @focus="statusPercentage= true"
                          @blur="statusPercentage= false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2">
                      </v-col>
                    </v-row> -->
                    <div align="center" v-if="header.value == 'efAmount'">
                      {{formatMoney(Number(item[header.value]))}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td v-for="header in headers" :key="header.text">
                    <div align="center" v-if="header.value == 'insuranceName'">
                      <p class="title">Total</p>
                    </div>
                    <div align="center" v-if="header.value == 'sharingPercentage'">
                      <p class="title">{{invoice.totalPercentage}} %</p>
                    </div>
                    <div align="center" v-if="header.value == 'efSharingAmount'">
                      <p class="title">{{formatMoney(Number(invoice.totalEfSharingAmount))}}</p>
                    </div>
                    <div align="center" v-if="header.value == 'efPercentage'">
                      <p class="title">{{invoice.totalEfPercentage}} %</p>
                    </div>
                    <div align="center" v-if="header.value == 'efAmount'">
                      <p class="title">{{formatMoney(Number(invoice.totalEfAmount))}}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="dialogValidate.show" width="400" @click:outside="dialogValidate.show = false, dialogValidate.text = ''">
      <v-card>
        <v-card-title
          class="justify-center"
          style="word-break:inherit;"
          >{{dialogValidate.text}}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="resetData"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import * as types from '@/store/modules/invoice/type';
import { mapState, mapActions } from 'vuex'
import {VMoney} from 'v-money'

export default {
  directives: {money: VMoney},
  created() {
    this.totalEFAmount = this.invoice.totalEfAmount
    this.efPremium = this.formatMoney(this.invoice.efPremium)
  },
  data: () => ({
    money: {
      decimal: '.',
      thousands: ',',
      prefix: '',
      suffix: '',
      precision: 2,
      masked: false
    },
    headers: [
      {
        text: "Insurance",
        align: "center",
        sortable: false,
        add: "",
        value: "insuranceName"
      },
      {
        text: "Sharing Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "sharingPercentage"
      },
      {
        text: "Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "efSharingAmount"
      },
      {
        text: "EF %",
        align: "center",
        sortable: false,
        add: 0,
        value: "efPercentage",
        width: '30%'
      },
      {
        text: "EF Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "efAmount"
      },
    ],
    dataEngineering: [],
    statusPercentage: false,
    dialogValidate: { show: false, text: ""},
    dataEF : {}
  }),
  mounted() {
  },
  computed: {
    ...mapState(['invoice']),
    watchStatusPercentage: function () {
      return this.statusPercentage
    },
    efPremium:
    {
        get()
        {
            return this.invoice.efPremium
        },
        set(value)
        {
            this.setEFPremium(value)
        }
    }
  },
  watch: {
    watchStatusPercentage: function (newValue) {
      console.debug(newValue)
      if (newValue) {
        localStorage.setItem("listEF", JSON.stringify(this.invoice.insuranceSharingList))
      }
    },
  },
  methods: {
    ...mapActions({
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setTotalEFAMount: types.ACTION_TOTAL_EF_AMOUNT,
      setTotalEFPercentage: types.ACTION_TOTAL_EF_PERCENTAGE,
      setTotalEFSharingAmount: types.ACTION_TOTAL_EF_SHARING_AMOUNT,
      setEFPremium: types.ACTION_EF_PREMIUM,
    }),
    updateEF(item) {
      let array = this.invoice.insuranceSharingList
      array.forEach(element => {
        if (element.index == item.index) {
          let efAmount = (item.efSharingAmount * Number(item.efPercentage)) / 100
          element.efPercentage = Number(item.efPercentage)
          element.efAmount = efAmount
        }
      });
      let amount = 0
      let efAmount = 0
      let efPercentage = 0
      let efSharingAmount = 0
      array.forEach(element => {
        efAmount = efAmount + element.efAmount
        // efPercentage = efPercentage + element.efPercentage
        amount = amount + element.amount
        efSharingAmount = efSharingAmount + element.efSharingAmount;
      });
      let NewEfPercentage = Number(efAmount.toFixed(2)) / Number(efSharingAmount.toFixed(2)) * 100
      efPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
      if (item.efPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "EF Percentage more than 100%"
        this.dataEF = item
      } else if (efPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total EF Percentage more than 100%"
        this.dataEF = item
      } else {
        let totalEfAmount = Number(efAmount.toFixed(2))
        let totalEfPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
        this.setTotalEFAMount(totalEfAmount)
        this.setTotalEFPercentage(totalEfPercentage)
        this.setInsuranceSharingList(array)
      }
    },
    updateEFPremium(item) {
      let array = this.invoice.insuranceSharingList
      array.forEach(element => {
          let premium = this.convertMoney(item)
          let efSharingAmount = (element.sharingPercentage * premium) / 100
          let efAmount = (efSharingAmount * Number(element.efPercentage)) / 100
          element.efSharingAmount = Number(efSharingAmount)
          element.efPercentage = Number(element.efPercentage)
          element.efAmount = Number(efAmount)

      });
      let amount = 0
      let efAmount = 0
      let efPercentage = 0
      let efSharingAmount = 0
      array.forEach(element => {
        efAmount = efAmount + element.efAmount
        efPercentage = efPercentage + element.efPercentage
        efSharingAmount = efSharingAmount + element.efSharingAmount
        amount = amount + element.amount
      });
      let totalEfAmount = Number(efAmount.toFixed(2))
      // let totalEfPercentage = Number(efPercentage.toFixed(2))
      let NewEfPercentage = Number(efAmount.toFixed(2)) / Number(efSharingAmount.toFixed(2)) * 100
      let totalEfPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
      let totalEfSharingAmount = Number(efSharingAmount.toFixed(2))
      this.setTotalEFAMount(totalEfAmount)
      this.setTotalEFPercentage(totalEfPercentage)
      this.setTotalEFSharingAmount(totalEfSharingAmount)
      this.setInsuranceSharingList(array)
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, '')
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, '')
        .replace('x', '.');
      return parseFloat(amount)
    },
    resetData () {
      this.dialogValidate = { show: false, text: ""}
      let obj = JSON.parse(localStorage.getItem('listEF'))
      this.setInsuranceSharingList(obj)
      localStorage.removeItem("listEF")
    }
  }
}
</script>

<style scoped>
  ::v-deep .input-right input {
    text-align: right;
  }
  ::v-deep .input-red input {
    color: red
  }
  .colorRed {
    color: red
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td > div {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
</style>