<template>
  <v-card flat>
    <isttoolbar
      title="Profile"
      dark
      color="secondary"
      icon="mdi-account-circle"
    >
    </isttoolbar>
    <isttoolbar title="View Profile" class="mb-4" dark color="primary">
    </isttoolbar>
    <v-form readonly>
      <v-row align="center" class="ma-2">
        <span class="text-h3 primary--text">{{ param.fullName }}</span>
      </v-row>
      <v-divider></v-divider>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Role </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Role"
            ref="role"
            name="role"
            flat
            outlined
            dense
            solo
            v-model="param.role"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row class="mx-3 mt-3">
        <span class="title primary--text"> Contact </span>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> E-mail Address </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="E-mail Address"
            ref="email"
            name="email"
            flat
            outlined
            dense
            solo
            v-model="param.email"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Mobile Phone </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Mobile Phone"
            ref="phone"
            name="phone"
            flat
            outlined
            dense
            solo
            v-model="param.phone"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  created() {
    this.getItemData();
  },
  data: () => ({
    param: {
      fullName: "",
      role: "",
      email: "",
      phone: "",
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    overlay: true,
  }),
  computed: {
    form() {
      return {};
    },
  },

  methods: {
    async getItemData() {
      await API.get("/user/api/profile/view")
        .then((resp) => {
          let dataResp = resp.data;
          if (dataResp.code == 0) {
            this.param.fullName = dataResp.fullname;
            this.param.role = dataResp.role;
            this.param.email = dataResp.email;
            this.param.phone = dataResp.mobilePhone;
          }
        })
        .catch((error) => {
          console.log("error", error);
        });
      this.overlay = false;
    },
  },
};
</script>