<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5" disabled>
      <v-row>
        <v-col cols="7">
          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">
                Period of Cover
                <span class="error--text">*</span>
              </span>
            </v-col>
            <v-col cols="3.5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="insurancePeriodFrom"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-col cols="1">
              <div class="title text-center">To</div>
            </v-col>
            <v-col cols="3.5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="insurancePeriodEnd"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">
                Attachment (Active Date)
                <span class="error--text">*</span>
              </span>
            </v-col>
            <v-col cols="3.5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="attachActiveDate"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-col cols="1" />
            <v-col cols="3.5" class="pa-1" />
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Master Policy</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="masterPolicy"
                v-model="invoice.masterPolicy"
                @input="setMasterPolicy"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Policy No.</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="policyNo"
                v-model="invoice.policyNo"
                @input="setPolicyNo"
                solo
                flat
                dense
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Risk Location</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                ref="location"
                v-model="invoice.location"
                solo
                flat
                dense
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">
                Particulars
              </span>
            </v-col>
            <v-col cols="3.5" class="pa-1">
              <v-text-field
                readonly
                ref="particulars"
                name="particulars"
                label="See Detail..."
                persistent-hint
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="dialogParticulars = true"
                  text
                  icon
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </v-text-field>
            </v-col>
            <v-col cols="1" />
            <v-col cols="3.5" class="pa-1" />
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Brief Description</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-textarea
                hide-details="auto"
                ref="description"
                v-model="invoice.description"
                solo
                flat
                dense
                outlined
                :rows="3"
                class="ma-0"
              ></v-textarea>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Internal Memo</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-textarea
                hide-details="auto"
                label=""
                ref="memo"
                v-model="invoice.memo"
                solo
                flat
                dense
                outlined
                :rows="3"
                class="ma-0"
              ></v-textarea>
            </v-col>
          </v-row>

        </v-col>

        <v-col cols="5">
          <v-row align="center" class="mr-2">
            <v-col cols="5" class="pa-1">
              <span class="title">
                Business Category
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="7" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="businessCategory"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mr-2">
            <v-col cols="5" class="pa-1">
              <span class="title">
                Account Executive
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="7" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="accountExecutive.fullname"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mr-2">
            <v-col cols="5" class="pa-1">
              <span class="title">
                Segment
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="7" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="segment.code"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mr-2">
            <v-col cols="5" class="pa-1">
              <span class="title"> Sub Segment </span>
            </v-col>
            <v-col cols="7" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="subSegment.code"
                solo
                flat
                dense
                outlined
                disabled
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mr-2">
            <v-col cols="5" class="pa-1">
              <span class="title"> Bank Receive </span>
            </v-col>
            <v-col cols="7" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="currency"
                v-model="invoice.destAccountCode"
                solo
                flat
                dense
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-dialog v-model="dialogParticulars" persistent width="unset" min-width="800px">
          <v-card min-width="800px">
            <v-card-title>
              Particulars Detail
            </v-card-title>
            <v-card-text>
              <froala-view
                v-model="invoice.particulars"
                ></froala-view>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="dialogParticulars = false">
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-form>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
import axios from "axios";
import Vue from "vue";
import VueFroala from "vue-froala-wysiwyg";
import "froala-editor/js/plugins/align.min";
import "froala-editor/js/plugins/font_size.min";
import "froala-editor/js/plugins/colors.min";
import "froala-editor/css/plugins/colors.min.css";
import "froala-editor/js/plugins/table.min";
import "froala-editor/css/plugins/table.min.css";
import "froala-editor/js/plugins/paragraph_format.min";
import "froala-editor/js/plugins/paragraph_style.min";
import "froala-editor/js/plugins/code_view.min";
import "froala-editor/js/plugins/code_beautifier.min";
import "froala-editor/css/plugins/code_view.min.css";
import "froala-editor/js/plugins/word_paste.min";
import "froala-editor/js/plugins/quote.min";
import "froala-editor/js/plugins/link.min";
import "froala-editor/js/plugins/image.min";
import "froala-editor/js/plugins/font_family.min";
import "froala-editor/js/plugins/line_height.min";
import "froala-editor/js/plugins/lists.min";
import "froala-editor/css/themes/gray.min.css";
Vue.use(VueFroala);

export default {
  created() {
    this.businessCategory = this.invoice.businessName;
    this.riskCode = this.invoice.riskName;
    this.accountExecutive = this.invoice.dataEmployee;
    this.segment = this.invoice.dataSegment;
    this.subSegment = this.invoice.dataSubSegment;
    this.insurancePeriodFrom = this.formatDate(this.invoice.insurancePeriodFrom)
    this.insurancePeriodEnd = this.formatDate(this.invoice.insurancePeriodEnd)
    this.attachActiveDate = this.formatDate(this.invoice.attachActiveDate)
  },
  data: () => ({
    particulars: "",
    dialogParticulars: false,
    statusInsurancePeriodFrom: false,
    statusInsurancePeriodEnd: false,
    statusActiveDate: false,
    statusSegment: false,
    riskCode: "",
    businessCategory: "",
    accountExecutive: "",
    segment: "",
    subSegment: "",
    nextDay: "",
    insurancePeriodFrom: "",
    insurancePeriodEnd: "",
    attachActiveDate: "",
    search: {
      riskCode: {
        name: "riskCode",
        input: "",
        items: [],
        url: "/config/api/master-risk/?riskName.contains=",
        loading: false,
      },
      businessCategory: {
        name: "businessCategory",
        input: "",
        items: [],
        url: "/config/api/master-parameter/?module.equals=BUSINESS_CATEGORY&value.contains=",
        loading: false,
      },
      accountExecutive: {
        name: "accountExecutive",
        input: "",
        items: [],
        url: "user/api/user-management/user/?fullname.contains=",
        loading: false,
      },
      segment: {
        name: "segment",
        input: "",
        items: [],
        url: "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SEGMENT&code.contains=",
        loading: false,
      },
      subSegment: {
        name: "subSegment",
        input: "",
        items: [],
        url: "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SUBSEGMENT&code.contains=",
        loading: false,
      },
    },
    request: null,
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  mounted() {
    // this.getSubSegment();
    // this.getNewSegment();
    // this.getClassOfRisk();
    // this.getBusinessCategory();
    // this.getNewAccountExecutive();
  },
  computed: {
    form() {
      return {
        riskCode: this.riskCode,
        businessCategory: this.businessCategory,
        accountExecutive: this.accountExecutive,
        segment: this.segment,
        subSegment: this.subSegment,
      };
    },
    newAccountExecutive: function () {
      return this.invoice.dataEmployee;
    },
    newSegment: function () {
      return this.invoice.dataSegment;
    },
    newSubSegment: function () {
      return this.invoice.dataSubSegment;
    },
    newRiskName: function () {
      return this.invoice.riskCode + " - " + this.invoice.riskName;
    },
    newBusinessName: function () {
      return this.invoice.businessName;
    },
    // newNextDay: function () {
    //   return this.invoice.insurancePeriodFrom
    // },
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              if (search.name === "accountExecutive") {
                let array = [];
                const data = resp.data.data;
                data.forEach((element) => {
                  let personal = element.personalData;
                  let obj = {
                    id: personal.id,
                    idDepartmentCode: personal.idDepartmentCode,
                    idCompany: personal.idCompany,
                    fullname: personal.fullname,
                    nickname: personal.nickname ? personal.nickname : "",
                  };
                  array.push(obj);
                });
                search.items = array;
              } else {
                search.items = resp.data.data;
              }
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  watch: {
    newAccountExecutive: function (newValue) {
      this.accountExecutive = newValue;
    },
    newSegment: function (newValue) {
      this.segment = newValue;
    },
    newSubSegment: function (newValue) {
      this.subSegment = newValue;
    },
    newRiskName: function (newValue) {
      this.riskCode = newValue;
    },
    newBusinessName: function (newValue) {
      this.businessCategory = newValue;
    },
    newNextDay: function (newValue) {
      // this.nextDay = newValue
      const minDate = new Date(newValue);
      const nextMinDate = minDate.setDate(minDate.getDate() + 1);
      const dataNext = new Date(nextMinDate).toISOString();
      this.nextDay = dataNext;
    },
    "invoice.invoiceNo": {
      handler: function (after, before) {
        // alert("after" + after + "before" + before);
        if (
          after != "" &&
          after != null &&
          after != 0 &&
          after != "0" &&
          after != before
        ) {
          this.businessCategory = this.invoice.businessName;
          this.riskCode = this.invoice.riskName;
          this.accountExecutive = this.invoice.dataEmployee;
          this.segment = this.invoice.dataSegment;
          this.subSegment = this.invoice.dataSubSegment;
          this.insurancePeriodFrom = this.formatDate(this.invoice.insurancePeriodFrom)
          this.insurancePeriodEnd = this.formatDate(this.invoice.insurancePeriodEnd)
          this.attachActiveDate = this.formatDate(this.invoice.attachActiveDate)
        }
      },
      deep: true,
    },
  },
  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    ...mapActions({
      setActiveDate: types.ACTION_ACTIVE_DATE,
      setBusinessCategory: types.ACTION_BUSINESS_CATEGORY,
      setBusinessName: types.ACTION_BUSINESS_NAME,
      setDescription: types.ACTION_DESCRIPTION,
      setInsurancePeriodeEnd: types.ACTION_INSURENCE_PERIODE_END,
      setInsurancePeriodeFrom: types.ACTION_INSURENCE_PERIODE_FROM,
      setInsured: types.ACTION_INSURED,
      setLocation: types.ACTION_LOCATION,
      setMasterPolicy: types.ACTION_MASTER_POLICY,
      setPolicyNo: types.ACTION_POLICY_NO,
      setRiskCode: types.ACTION_RISK_CODE,
      setRiskName: types.ACTION_RISK_NAME,
      setErrorClassOfRisk: types.ACTION_REQUIRED_CLASS_OF_RISK,
      setErrorPeriodEnd: types.ACTION_REQUIRED_INSURENCE_PERIODE_END,
      setErrorPeriodFrom: types.ACTION_REQUIRED_INSURENCE_PERIODE_FROM,
      setErrorActiveDate: types.ACTION_REQUIRED_ACTIVE_DATE,
      setErrorBusinessCategory: types.ACTION_REQUIRED_BUSINESS_CATEGORY,
      setErrorAccountExecutive: types.ACTION_REQUIRED_ACCOUNT_EXECUTIVE,
      setErrorSegment: types.ACTION_REQUIRED_SEGMENT,
      setDataAccountExecutive: types.ACTION_ID_ACCOUNT_EXECUTIVE,
      setDataSegmentCode: types.ACTION_SEGMENT_CODE,
      setDataSubSegmentCode: types.ACTION_SUB_SEGMENT_CODE,
    }),
    setDataClassOfRisk(item) {
      if (item) {
        this.setErrorClassOfRisk(false);
        this.setRiskCode(item.riskCode);
        this.setRiskName(item.riskName);
      }
    },
    setDataBusiness(item) {
      this.setBusinessCategory(item.code);
      this.setBusinessName(item.value);
      this.setErrorBusinessCategory(false);
    },
    setDataAccount(item) {
      if (item) {
        this.setDataAccountExecutive(item.id);
        this.setErrorAccountExecutive(false);
        this.statusSegment = true;
        this.search.segment.loading = true;
        let apiURL =
          "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SEGMENT&code.contains=" +
          item.idDepartmentCode;
        API.get(apiURL).then((resp) => {
          if (resp.data.code === 0) {
            this.search.segment.loading = false;
            const data = resp.data.data;
            if (data.length === 0) {
              this.segment = "";
              this.setErrorSegment(true);
              this.setDataSegmentCode("");
            } else {
              this.segment = data[0];
              this.setErrorSegment(false);
              this.setDataSegmentCode(data[0].code);
            }
          }
        });
      }
    },
    setDataSegment(item) {
      this.setDataSegmentCode(item.code);
      this.setErrorSegment(false);
    },
    setDataSubSegment(item) {
      this.setDataSubSegmentCode(item.code);
    },
    setDataPeriodEnd(item) {
      this.statusInsurancePeriodEnd = false;
      this.setErrorPeriodEnd(false);
      this.setInsurancePeriodeEnd(item);
    },
    setDataActiveDate(item) {
      this.statusActiveDate = false;
      this.setErrorActiveDate(false);
      this.setActiveDate(item);
    },
    convertNextDay(e) {
      this.statusInsurancePeriodFrom = false;
      var now = new Date(e);
      var next = now.setDate(now.getDate() + 366);
      var newDate = new Date(next);
      var month = "" + (newDate.getMonth() + 1);
      var day = "" + newDate.getDate();
      var year = newDate.getFullYear();
      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;
      const nextYear = [year, month, day].join("-");

      this.setErrorPeriodFrom(false);
      this.setErrorPeriodEnd(false);
      this.setErrorActiveDate(false);
      this.setInsurancePeriodeFrom(e);
      this.setInsurancePeriodeEnd(nextYear);
      this.setActiveDate(e);
    },
    async getClassOfRisk() {
      this.search.riskCode.loading = true;
      let resp = await API.get("/config/api/master-risk/?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.riskCode.loading = false;
        const data = resp.data.data;
        this.search.riskCode.items = data;
      }
    },
    async getBusinessCategory() {
      this.search.businessCategory.loading = true;
      let resp = await API.get(
        "/config/api/master-parameter/?page=0&size=-1&module.equals=BUSINESS_CATEGORY"
      );
      if (resp.data.code === 0) {
        this.search.businessCategory.loading = false;
        const data = resp.data.data;
        this.search.businessCategory.items = data;
      }
    },
    async getAccountExecutive() {
      let checkToken = localStorage.getItem("checkToken");
      let objToken = JSON.parse(checkToken);
      this.search.accountExecutive.loading = true;
      let resp = await API.get("user/api/user-management/user/?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.accountExecutive.loading = false;
        let array = [];
        const data = resp.data.data;
        data.forEach((element) => {
          let personal = element.personalData;
          let obj = {
            id: personal.id,
            idDepartmentCode: personal.idDepartmentCode,
            idCompany: personal.idCompany,
            fullname: personal.fullname,
            nickname: personal.nickname ? personal.nickname : "",
          };
          array.push(obj);

          if (objToken) {
            if (element.loginData.username === objToken.user_name) {
              this.accountExecutive = obj;
              this.setDataAccountExecutive(obj.id);
              this.search.segment.loading = true;
              let apiURL =
                "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SEGMENT&code.contains=" +
                obj.idDepartmentCode;
              API.get(apiURL).then((resp) => {
                if (resp.data.code === 0) {
                  this.search.segment.loading = false;
                  const data = resp.data.data;
                  this.statusSegment = true;
                  if (data[0]) {
                    this.segment = "";
                    this.setDataSegmentCode("");
                  } else {
                    this.segment = data[0];
                    this.setDataSegmentCode(data[0].code);
                  }
                }
              });
            }
          }
        });
        this.search.accountExecutive.items = array;
      }
    },
    async getSegment() {
      this.search.segment.loading = true;
      let resp = await API.get(
        "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SEGMENT"
      );
      if (resp.data.code === 0) {
        this.search.segment.loading = false;
        const data = resp.data.data;
        this.search.segment.items = data;
      }
    },
    async getNewAccountExecutive() {
      this.search.accountExecutive.loading = true;
      let resp = await API.get("user/api/user-management/user/?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.accountExecutive.loading = false;
        let array = [];
        const data = resp.data.data;
        data.forEach((element) => {
          let personal = element.personalData;
          let obj = {
            id: personal.id,
            idDepartmentCode: personal.idDepartmentCode,
            idCompany: personal.idCompany,
            fullname: personal.fullname,
            nickname: personal.nickname ? personal.nickname : "",
          };
          array.push(obj);
        });
        this.search.accountExecutive.items = array;
      }
    },
    async getNewSegment() {
      this.search.segment.loading = true;
      let resp = await API.get(
        "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SEGMENT"
      );
      if (resp.data.code === 0) {
        this.search.segment.loading = false;
        const data = resp.data.data;
        this.search.segment.items = data;
      }
    },
    async getSubSegment() {
      this.search.subSegment.loading = true;
      let resp = await API.get(
        "/config/api/master-parameter/?page=0&size=10&module.contains=BUSINESS_SUBSEGMENT"
      );
      if (resp.data.code === 0) {
        this.search.subSegment.loading = false;
        const data = resp.data.data;
        this.search.subSegment.items = data;
      }
    },
    onlyNumber(e) {
      const isPrevent =
        (e.keyCode >= 48 && e.keyCode <= 57) ||
        e.keyCode == 8 ||
        e.keyCode == 46 ||
        e.keyCode == 190 ||
        e.keyCode == 173;
      if (e.shiftKey || e.altKey || e.ctrlKey) {
        e.preventDefault();
      } else if (!isPrevent) {
        e.preventDefault();
      }
    },
  },
};
</script>

<style>
</style>