<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar
        title="Template Configuration"
        dark
        color="secondary"
        icon="mdi-cog-outline"
      >
      </isttoolbar>

      <isttoolbar
        title="New Template Config"
        class="mb-2 pl-9"
        dark
        color="primary"
      ></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-spacer />
      <v-btn
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="save"
        >save</v-btn
      >
      <v-btn height="40" width="100" outlined color="white" @click="back"
        >cancel</v-btn
      >
    </div>
    <v-form class="contentFix">
      <v-row align="center" class="ml-2">
        <v-col cols="3" class="pa-1">
          <span class="title">Template Config Code</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Template Config Code"
            ref="code"
            v-model="param.code"
            solo
            flat
            dense
            outlined
            class="ma-0"
            :rules="[rules.required]"
            
          >
            <!-- @keydown="codeKeydown($event)" -->
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="3" class="pa-1">
          <span class="title">Template Config Name</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Template Config Name"
            ref="name"
            v-model="param.name"
            solo
            flat
            dense
            outlined
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="3" class="pa-1">
          <span class="title">Class Of Risk</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-autocomplete
            clearable
            hide-details="auto"
            ref="riskCode"
            placeholder="Select Class of Risk ..."
            v-model="param.riskCode"
            solo
            flat
            dense
            outlined
            class="ma-0"
            name="riskCode"
            :items="listClassOfRisk"
            item-text="codeAndName"
            item-value="riskCode"
            :rules="[rules.required]"
          >
            <!-- <template slot="selection" slot-scope="{ item }">
              <span>{{ item.riskCode }} - {{ item.riskName }}</span>
            </template>
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p>{{ item.riskCode }} - {{ item.riskName }}</p>
              </v-list-item-content>
            </template> -->
          </v-autocomplete>
        </v-col>
      </v-row>
      <!-- <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-switch
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>-->

      <v-card class="ma-4">
        <isttoolbar
          :title="'Template Item (' + templateItems.length + ')'"
          dark
          color="secondary"
        ></isttoolbar>
        <v-card-text>
          <v-btn color="primary" @click="addTemplatesDialog = true">
            <v-icon>mdi-plus</v-icon>Add Template Item
          </v-btn>
          <div v-if="templateItems.length > 0" class="mt-5"></div>
          <draggable v-model="templateItems" class="v-card">
            <template v-for="(item, i) in templateItems">
              <v-card class="mb-2" outlined :key="item.code" min-height="90x">
                <v-row class="ml-2 d-flex align-center">
                  <v-col cols="3"
                    ><h2>{{ item.name }}</h2>
                  </v-col>
                  <v-col cols="6"
                    ><froala-view v-model="item.content"></froala-view></v-col
                  ><v-spacer />
                  <v-col>
                    <v-card-actions>
                      <v-btn
                        text
                        color="blue"
                        @click="openFormDataEditDialog(i)"
                      >
                        <v-icon>mdi-pen</v-icon>
                      </v-btn>
                      <v-btn text color="red" @click="openDeleteDialog(i)">
                        <v-icon>mdi-trash-can</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-col>
                </v-row>
              </v-card>
            </template>
          </draggable>
        </v-card-text>
      </v-card>

      <v-dialog v-model="addTemplatesDialog" max-width="90%">
        <v-card class="pa-2">
          <template_item_list
            v-on:addItemParent="additemFromList"
            :action="false"
          />
          <v-card-title class="mt-4"
            >Template Item Added ({{ templateItems.length }})</v-card-title
          >
          <v-card-text>
            <div class="mt-2"></div>
            <draggable v-model="templateItems" class="v-card">
              <template v-for="(item, i) in templateItems">
                <v-card
                  class="mb-2"
                  outlined
                  :key="item.code"
                  min-height="90px"
                >
                  <v-row class="ml-2 d-flex align-center">
                    <v-col cols="3"
                      ><h2>{{ item.name }}</h2>
                    </v-col>
                    <v-col cols="6"> <span v-html="item.content"></span></v-col
                    ><v-spacer />
                    <v-col>
                      <v-card-actions>
                        <v-btn
                          text
                          color="blue"
                          @click="openFormDataEditDialog(i)"
                        >
                          <v-icon>mdi-pen</v-icon>
                        </v-btn>
                        <v-btn text color="red" @click="openDeleteDialog(i)">
                          <v-icon>mdi-trash-can</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-card>
              </template>
            </draggable>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="addTemplatesDialog = false"
              >Done</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-form>
    <v-dialog v-model="editFormDataDialog" persistent max-width="600px">
      <v-card>
        <v-card-title
          >Edit Template Item - {{ formDataSelectEdit.code }}</v-card-title
        >
        <v-card-title>{{ formDataSelectEdit.name }}</v-card-title>
        <v-card-text>
          <!--          <v-container>-->
          <!--            <v-textarea-->
          <!--              name="input-3-1"-->
          <!--              label="Title"-->
          <!--              v-model="formDataSelectEdit.name"-->
          <!--            ></v-textarea>-->
          <!--          </v-container>-->
          <v-container>
            <froala
              v-model="formDataSelectEdit.content"
              :config="config"
            ></froala>
          </v-container>
          <!--          <v-container>-->
          <!--            <v-textarea-->
          <!--              name="input-3-1"-->
          <!--              label="Content"-->
          <!--              v-model="formDataSelectEdit.description"-->
          <!--            ></v-textarea>-->
          <!--          </v-container>-->
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editFormData(false)"
            >Cancel</v-btn
          >
          <v-btn color="red" text @click="editFormData(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="deleteTemplatesDialog" persistent max-width="500">
      <v-card>
        <v-card-title>Delete This Template Item ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="deleteTemplateItem(false)"
            >Cancel</v-btn
          >
          <v-btn color="red" text @click="deleteTemplateItem(true)"
            >Delete</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- <v-card-actions class="ml-2 mb-2">
        <v-btn height="40" width="100" color="primary" dark rounded @click="save" class="pa-4">Save</v-btn>
        <v-btn height="40" width="100" color="red" dark rounded @click="back" class="pa-4">Cancel</v-btn>
    </v-card-actions>-->

    <v-snackbar v-model="snackbar" top :timeout="2000" :light="true">
      <span class="title">{{ snackbarText }}</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="error" text v-bind="attrs" @click="snackbar = false"
          >Close</v-btn
        >
      </template>
    </v-snackbar>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import template_item_list from "@/features/configuration/templateconfiguration/templateitem/template_item_list";
import draggable from "vuedraggable";
import Vue from "vue";
import VueFroala from "vue-froala-wysiwyg";
Vue.use(VueFroala);
import "froala-editor/js/plugins/align.min";
import "froala-editor/js/plugins/font_size.min";
import "froala-editor/js/plugins/colors.min";
import "froala-editor/css/plugins/colors.min.css";
import "froala-editor/js/plugins/table.min";
import "froala-editor/css/plugins/table.min.css";
import "froala-editor/js/plugins/paragraph_format.min";
import "froala-editor/js/plugins/paragraph_style.min";
import "froala-editor/js/plugins/code_view.min";
import "froala-editor/js/plugins/code_beautifier.min";
import "froala-editor/css/plugins/code_view.min.css";
import "froala-editor/js/plugins/word_paste.min";
import "froala-editor/js/plugins/quote.min";
import "froala-editor/js/plugins/link.min";
import "froala-editor/js/plugins/image.min";
import "froala-editor/js/plugins/font_family.min";
import "froala-editor/js/plugins/line_height.min";
import "froala-editor/js/plugins/lists.min";
import "froala-editor/css/themes/gray.min.css";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
export default {
  components: {
    isttoolbar,
    template_item_list,
    draggable,
  },
  props: {
    source: String,
  },

  data: () => ({
    config: {
      attribution: false,
      tableCellStyles: {
        noborder: "No Border",
      },
      tableStyles: {
        noborder: "No Border",
      },
      lineHeights: {
        Default: "",
        Single: "1",
        1.15: "1.15",
        1.5: "1.5",
        Double: "2",
      },
      listAdvancedTypes: true,
      toolbarButtons: [
        [
          "alignLeft",
          "alignCenter",
          "alignRight",
          "alignJustify",
          "lineHeight",
          "bold",
          "italic",
          "underline",
          "fontSize",
          "fontFamily",
          "quote",
          "indent",
          "outdent",
          "formatOL",
          "formatUL",
          "paragraphFormat",
          "paragraphStyle",
          "textColor",
          "insertTable",
          "insertLink",
          "insertImage",
          "html",
          "undo",
          "redo",
          "codeView",
          "beautifier",
          "wordPaste",
        ],
      ],
      theme: "gray",
      heightMin: 600,
      heightMax: 400,
      paragraphFormatSelection: true,
      toolbarSticky: true, //static header
      pastePlain: true,
      events: {
        "image.beforeUpload": function (files) {
          let editor = this;
          if (files.length) {
            let reader = new FileReader();
            // Set the reader to insert images when they are loaded.
            reader.onload = function (e) {
              let result = e.target.result;
              editor.image.insert(result, null, null, editor.image.get());
            };
            // Read image as base64.
            reader.readAsDataURL(files[0]);
          }
          editor.popups.hideAll();
          // Stop default upload chain.
          return false;
        },
      },
    },
    duplicate: "",
    errorDescription: "",
    overlay: false,
    dialog: { show: false, success: false, error: false },
    deleteTemplatesDialog: false,
    editFormDataDialog: false,
    addTemplatesDialog: false,
    param: {
      code: "",
      name: "",
      riskCode: "",
      // recordStatus: false,
    },
    listClassOfRisk: [],
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    templateItems: [],
    formDataSelectEdit: {},
    templateDeleteSelect: {},
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  computed: {
    form() {
      return {
        code: this.param.code,
        name: this.param.name,
        riskCode: this.param.riskCode,
      };
    },
  },
  watch: {
    "param.code": function (val) {
     this.param.code = val.toUpperCase();//.replace(/\d/g, '');
    },
  },
  created() {
    if (this.$route.query.duplicate === "yes") {
      this.param.id = this.$route.query.id;
      this.duplicate = this.$route.query.duplicate;
      this.getDataFromDuplicate();
    }
    this.getAllRisk();
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async getDataFromDuplicate() {
      this.overlay = true;
      this.dialog.show = true;
      const id = this.param.id;

      let resp = await API.get("config/api/master-template-config/" + id, null);
      if (resp.data.code === 0) {
        this.overlay = false;
        this.dialog.show = false;
        let data = resp.data.data;
        this.param = {
          code: "",
          name: "",
          riskCode: data.riskCode,
          riskName: data.riskName,
        };

        try {
          let content = JSON.parse(data.content);
          if (typeof content === "object") this.templateItems = content;
        } catch (e) {
          this.templateItems = [];
        }
      }
    },

    openDeleteDialog(i) {
      this.deleteTemplatesDialog = true;
      this.templateDeleteSelect = i;
    },
    deleteTemplateItem(isdelete) {
      if (isdelete) this.templateItems.splice(this.templateDeleteSelect, 1);
      this.templateDeleteSelect = null;
      this.deleteTemplatesDialog = false;
    },
    openFormDataEditDialog(i) {
      this.editFormDataDialog = true;
      let formData = this.templateItems[i];
      this.formDataSelectEdit = {
        code: formData.code,
        name: formData.name,
        content: formData.content,
      };
      this.formDataArraySelected = i;
    },
    editFormData(isEdit) {
      if (isEdit)
        this.templateItems[this.formDataArraySelected] =
          this.formDataSelectEdit;
      this.formDataSelectEdit = {};
      this.formDataArraySelected = null;
      this.editFormDataDialog = false;
    },
    additemFromList(value) {
      if (!this.templateItems.includes(value)) {
        this.templateItems.push(value);
      } else {
        this.snackbar = true;
        this.snackbarText = "Cannot Add duplicate Entry";
      }
    },
    back() {
      this.$router.replace({
        name: "template-configuration-list",
        params: { tabs: "0" },
      });
    },
    async getAllRisk() {
      let resp = await API.get("config/api/master-risk/", null);
      if (resp.data.code === 0) {
        this.listClassOfRisk = resp.data.data;
        console.log("-------------");
        console.log(this.listClassOfRisk);
        console.log("-------------");
      }
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;

        // if (!this.form[f]) {
        //   if (this.param.recordStatus === false) return;
        //   this.formHasErrors = true;
        // }

        // this.$refs[f].validate(true);
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;

        await this.doAdd();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Oops! You missed something....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        templateConfig: this.param,
        // templateConfig: {
        //   // isActive: this.param.recordStatus ? 1 : 0,
        //   ...this.param,
        // },
      };
      this.param["content"] = JSON.stringify(this.templateItems);

      let param = JSON.stringify(paramJSON);
      console.log(param);
      let resp = await API.post(
        "/config/api/master-template-config/add",
        param
      );
      if (resp.data.code === 0) {
        // this.dialog.success = true;
        this.dialog = { show: false, success: false, error: false };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.back();
      } else {
        this.errorDescription = resp.data.errorDescription;
        this.dialog.error = true;
      }
    },
    codeKeydown(e) {
      if (/^\d/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>

<style scoped>
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  color: white;
  position: fixed;
  z-index: 2;
  margin-top: 3px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
.class1 tbody tr:nth-child(2n) {
  background: #f9f9f9;
}

.class2 thead tr th,
.class2 tbody tr td {
  border-style: dashed;
}
</style>
