<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-header
      :footer-props="{
        'items-per-page-options': [5, 10, 15, 25],
      }"
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <v-text-field
                v-if="header.filterType === 'x'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:keyup="onkeyupSearch"
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="tableSortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value === options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value === options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value !== options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-text-field>
              <v-autocomplete
                v-if="header.filterType === 'y'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :items="statusItems"
                item-value="value"
                item-text="text"
                clearable
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="tableSortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value === options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value === options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value !== options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn></v-autocomplete
              >
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:item.isActive="{ item }">
        <div>{{ item.isActive === 1 ? "Active" : "Inactive" }}</div>
      </template>
      <!-- <template v-slot:top>
        <v-toolbar flat color>
          <v-toolbar-title>List Of Template Config</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn outlined color="primary" @click="goToAdd">
            <v-icon left>mdi-plus</v-icon>Add Template Config
          </v-btn>
        </v-toolbar>
      </template>-->
      <template v-slot:item.isActive="{ item }">
        <span v-if="item.isActive === 1" class="success--text">Active</span>
        <span v-else class="red--text">Inactive</span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-icon class="mr-2" v-bind="attrs" v-on="on"
              >mdi-dots-vertical</v-icon
            >
          </template>
          <v-list>
            <v-list-item
              @click="
                () => {
                  detailItem(item);
                }
              "
            >
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="
                () => {
                  editItem(item);
                }
              "
              v-show="checkAuthorities('template-config-config-edit')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="
                () => {
                  duplicateItem(item);
                }
              "
              v-show="checkAuthorities('template-config-config-add')"
            >
              <v-list-item-title>Duplicate</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="
                () => {
                  deleteItem(item);
                }
              "
              v-show="checkAuthorities('template-config-config-delete')"
            >
              <v-list-item-title>Delete</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="deleteDialog" persistent max-width="290">
      <v-card>
        <v-card-title class="text-center" style="word-break: inherit;"
          >Are you sure want to delete "{{ toBeDeleteItem.name }}"
          ?</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn
            outlined
            color="primary"
            min-width="100px"
            @click="doDeleteItem()"
            >Yes</v-btn
          >
          <v-btn
            outlined
            color="red"
            min-width="100px"
            @click="deleteDialog = false"
            >No</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import API from "@/core/api/api";

export default {
  name: "template_config_list",
  data: () => ({
    statusItems: [
      { value: "1", text: "Active" },
      { value: "0", text: "Inactive" },
    ],
    dialog: false,
    deleteDialog: false,
    headers: [
      {
        text: "Template Config Code",
        align: "start",
        sortable: false,
        searchable: true,
        value: "code",
        searchValue: "",
        filterType: "x",
      },
      {
        text: "Template Config Name",
        value: "name",
        searchValue: "",
        searchable: true,
        filterType: "x",
      },
      {
        text: "Record Status",
        value: "isActive",
        searchValue: "",
        searchable: true,
        filterType: "y",
      },
      {
        text: "Action",
        value: "actions",

        title: true,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    toBeDeleteItem: {},
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },
  created() {
    if(this.$route.query.back == true) this.backFromAction();
  },
  // mounted() {
  //   this.refresh();
  // },
  methods: {
    emitToParent(item) {
      this.$emit("addItemParent", item);
    },
    goToAdd() {
      this.$router.push({ name: "template-config-config-add" });
    },
    refresh() {
      this.getList();
    },
    async getList() {
      this.loading = true;
      // this.items = [];
      const { sortBy, sortDesc, page, itemsPerPage } = this.options;
      let param = {
        page: page == null ? 0 : page - 1,
        size: itemsPerPage,
      };
      if (
        sortBy !== undefined &&
        sortDesc !== undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      )
        param["sort"] = [sortBy[0], sortDesc[0] ? "desc" : "asc"].join(",");
      const findHeaderValueNotEmpty = this.headers.filter(
        (value) => value.searchValue && value.searchValue.length !== 0
      );
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            let paramInfo = ".contains";
            if (value.filterType === "y") {
              paramInfo = ".equals";
            }
            return {
              [(value.filterParam && value.filterParam.length > 0
                ? value.filterParam
                : value.value) + paramInfo]: value.searchValue,
            };
          })
        );
      }
      let resp = await API.get(
        "config/api/master-template-config/view-list",
        param
      );
      if (resp.data.code === 0) {
        this.totalItems = parseInt(resp.headers["x-total-count"]);
        this.items = resp.data.data;
      }
      this.loading = false;
    },

    duplicateItem(item) {
      this.$router.push({
        name: "template-config-config-add",
        query: { id: item.id, duplicate: "yes" },
      });
    },

    editItem(item) {
      this.$router.push({
        name: "template-config-config-edit",
        query: { id: item.id, mode: "e" },
      });

      this.storeTable();
    },
    detailItem(item) {
      this.$router.push({
        name: "template-config-config-edit",
        query: { id: item.id, mode: "d" },
      });

      this.storeTable();
    },
    deleteItem(item) {
      this.deleteDialog = true;
      this.toBeDeleteItem = item;
    },
    async doDeleteItem() {
      await API.post(
        "config/api/master-template-config/delete/" + this.toBeDeleteItem.id,
        null
      );
      this.toBeDeleteItem = {};
      this.deleteDialog = false;
      this.refresh();
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    tableSortClick(value) {
      if (this.options.sortBy[0] === value) {
        if (this.options.sortDesc[0] === false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] === true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList.tmpConfigDataList) {
        let dataList = dataViewList.tmpConfigDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        tmpConfigDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>
