<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar title="Invoice" dark color="secondary" icon="mdi-receipt">
      </isttoolbar>

      <isttoolbar
        title="View Invoice"
        class="mb-6"
        dark
        color="primary"
        v-if="invoice.statusPage === 'view'"
      ></isttoolbar>
      <isttoolbar
        title="Copy Invoice"
        class="mb-6"
        dark
        color="primary"
        v-else
      ></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-btn
        v-show="this.$route.query.statusPage === 'edit'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="submit()"
        >Save</v-btn
      >
      <v-btn
        v-if="invoice.statusPage === 'edit'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="goToView"
        >Cancel</v-btn
      >
      <!-- @click="fromEdit ? back() : cancel()" -->
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'ENTRY'
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogApprove = true"
        >Approve Invoice</v-btn
      >
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'APPROVE'
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogUnapprove = true"
        >Unapprove Invoice</v-btn
      >
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'APPROVE'
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogFinal = true"
        >Finalize Invoice</v-btn
      >
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'ENTRY'
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogDelete = true"
        >Delete Invoice</v-btn
      >
      <v-tooltip
        bottom
        v-if="invoice.statusPage === 'view' && this.statusApprove"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="change"
            text
          >
            <v-icon>mdi-pencil mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom v-if="invoice.statusPage === 'view'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </div>

    <v-form class="mb-6 contentFix" :readonly="invoice.statusPage === 'view'">
      <v-row>
        <v-col cols="8">
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Invoice Type</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="defaultType"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Transaction No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <!-- <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="reffNo"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0 input-right"
              ></v-text-field> -->
              <v-combobox
                hide-details="auto"
                label="Select Transaction No ..."
                ref="reffNo"
                name="reffNo"
                v-model="reffNo"
                @input="setDataReffNo"
                :search-input.sync="search.reffNo.input"
                @keyup="autocompSearch(search.reffNo)"
                :items="search.reffNo.items"
                return-object
                item-text="transactionIdKey"
                :loading="search.reffNo.loading"
                :rules="[rules.required]"
                :error="invoice.errorCostumer"
                class="ma-0"
                flat
                outlined
                dense
                solo
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="text-caption mb-0">
                      {{ item.transactionIdKey }} - {{ item.accountName }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Customer</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="status"
                solo
                flat
                dense
                disabled
                outlined
                v-model="customerName"
                class="ma-0"
              ></v-text-field>
            </v-col>
            <!-- <v-col
              cols="3"
              class="pa-1"
              v-if="statusSwitch == true && invoice.invoiceType == 1"
            >
              <v-btn
                class="mr-2"
                outlined
                color="primary"
                :disabled="invoice.flagShadow == 1"
                @click="setDataShadowAccount"
                >Switch Account
              </v-btn>
            </v-col> -->
          </v-row>
          <v-row align="center" class="ml-8" v-if="invoice.invoiceType == 1 && invoice.flagShadow == 1">
            <v-col cols="3" class="pa-1">
              <span class="title">Original Invoice No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Select Invoice No.."
                ref="invoiceNo"
                name="invoiceNo"
                v-model="invoiceNo"
                solo
                flat
                dense
                outlined
                readonly
                class="ma-0 input-right"
                id="invoiceNo"
                disabled
              >
              </v-text-field>
            </v-col>
            <v-col cols="1" align-self="center" class="pa-0 ma-0">
              <v-btn
                v-show="invoiceNo != '' && invoiceNo != null"
                icon
                color="primary"
                x-small
                class="mx-2"
                @click="openInvoiceDetail(invoiceNo)"
              >
                <v-icon>mdi-information-outline</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Class of Risk</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="riskCode"
                solo
                flat
                dense
                disabled
                outlined
                v-model="riskCode"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="3" v-show="invoice.invoiceType !== 3">
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Invoice Number</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <span class="title fontBold">-</span>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Status</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <span class="title">ENTRY</span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>
    <!-- <v-card> -->
    <menuSwitch v-if="invoice.invoiceType == 1 && invoice.flagShadow == 1" />
    <menuBroking v-else-if="invoice.invoiceType == 1 && invoice.flagShadow == 0" />
    <menuFee v-else-if="invoice.invoiceType == 2" />
    <menuOpen v-else-if="invoice.invoiceType == 3" />
    <menuOpen v-else />
    <!-- </v-card> -->
    <v-dialog v-model="dialogLoading" persistent max-width="290">
      <v-card>
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog
        v-model="dialog.show"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card v-show="!dialog.success && !dialog.error" min-width="290px">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error" min-width="290px">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialog.text }}</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialog.text }}</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialog.success
                  ? cancel()
                  : (dialog = {
                      show: false,
                      success: false,
                      error: false,
                      text: '',
                    })
              "
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogApprove"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Approve Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                approved();
                dialogApprove = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogApprove = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogFinal"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Finalize Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                final();
                dialogFinal = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogFinal = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogUnapprove"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Unapprove Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                unapprove();
                dialogUnapprove = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogUnapprove = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogDelete"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Delete Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                deleteInvoice();
                dialogDelete = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogDelete = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialogValidate.show"
      width="unset"
      min-width="290px"
      @click:outside="
        (dialogValidate.show = false),
          (dialogValidate.text = ''),
          (dialogValidate.subText = '')
      "
    >
      <v-card min-width="290px">
        <v-card-title
          class="justify-center"
          style="
            word-break: inherit;
            display: inline-block;
            text-align: center;
          "
        >
          {{ dialogValidate.text }}
          <div v-show="invoice.statusRefresh">
            {{ dialogValidate.subText }}
          </div>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="(dialogValidate.show = false), (dialogValidate.text = '')"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogLeader"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogLeader = true"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;"
          >Status Leader sharing percentage in tab Insurance is not the biggest,
          Do you want change?</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="setLeader"
            >Yes</v-btn
          >
          <v-btn color="primary" min-width="100px" outlined @click="nextProcess"
            >No</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogMulti"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogMulti = true"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;"
          >Effective Date in Multiinsured Files is less then Attachment (Active
          Date) in the Class tab</v-card-title
        >
        <v-card-title class="justify-center">Do you want to fix?</v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogMulti = false"
            >Yes</v-btn
          >
          <v-btn color="primary" min-width="100px" outlined @click="nextMulti">
            No</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogSumInsured"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Sum Insured Value is 0.00 Do you want to continue?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="nextSumInsured"
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogSumInsured = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Detail Dialog -->
    <v-dialog v-model="detailDialog.show" scrollable max-width="1100">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          <v-row>
            <v-col cols="8">
              <span v-if="detailDialog.type == 'INV'">
                Invoice Detail Info
              </span>
            </v-col>
            <v-col cols="4">
              <v-row>
                <v-spacer></v-spacer>
          
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-if="detailDialog.type == 'INV'"
                      text
                      depressed
                      color="primary"
                      @click="closeInvoiceDetailDialog"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon large>mdi-close</v-icon>
                    </v-btn>
                  </template>
                  <span>Close</span>
                </v-tooltip>
              </v-row>
            </v-col>
          </v-row>
          <v-progress-linear
            indeterminate
            v-show="detailDialog.loading"
          ></v-progress-linear>
        </v-card-title>
        <v-card-text>
          <invoice
            v-show="detailDialog.type == 'INV'"
            :detailDialog="detailDialog"
            v-on:populated="invOnPopulated"
          ></invoice>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapState, mapActions } from "vuex";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import menuFee from "./menu_fee";
import menuBroking from "./menu_broking";
import menuOpen from "./menu_open";
import menuSwitch from "./menu_switch";
import axios from "axios";
import invoice from "@/components/invoiceDialog/invoice_dialog_view";

export default {
  components: {
    isttoolbar,
    menuFee,
    menuBroking,
    menuOpen,
    menuSwitch,
    invoice,
  },
  created() {
    if (this.$route.query.id) {
      this.getInvoiceById(this.$route.query.id);
    }
    if (localStorage.getItem("from") == "edit") this.fromEdit = true;
    if (this.$route.query.status == "ENTRY") this.statusApprove = true;
    this.status = this.$route.query.status;
  },
  data: () => ({
    statusSwitch: false,
    dataTransaction: {},
    dialogSumInsured: false,
    statusSumInsured: true,
    dialogMulti: false,
    invoiceNumber: "-",
    status: "",
    statusApprove: false,
    statusPage: "",
    fromEdit: false,
    defaultType: "Broking",
    dialogLoading: false,
    errorDescription: "",
    dialogValidate: { show: false, text: "", subText: "" },
    dialogApprove: false,
    dialogFinal: false,
    dialogDelete: false,
    dialogUnapprove: false,
    dialog: { show: false, success: false, error: false, text: "" },
    dialogLeader: false,
    type: [
      { invoiceType: "Fee", id: 2 },
      { invoiceType: "Broking", id: 1 },
      { invoiceType: "Open Cover (Binder)", id: 3 },
    ],
    customerName: "",
    reffNo: "",
    riskCode: "",
    search: {
      customer: {
        name: "customer",
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
      },
      reffNo: {
        name: "reffNo",
        input: "",
        items: [],
        url: "broking/api/broking/invoice/list-reff-no?codeOrName.contains=",
        loading: false,
      },
    },
    dataParam: {},
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
    riskMultiInsuredList: [],
    multiInsuredList: [],
    multiInsuredStatus: false,
    invoiceNo: 0,
    detailDialog: {
      show: false,
      loading: false,
      standardTransLoading: false,
      sharingPercentLoading: false,
      type: "",
      id: null,
      data: {},
    },
  }),
  mounted() {
    // this.getCustomer();
    this.getReffNo();
    this.statusPage = this.$route.query.statusPage;
    this.setStatusPage(this.$route.query.statusPage);
    this.getRiskMultiInsured();
    this.getingRiskMultiInsured();
    this.getFee();
  },
  computed: {
    form() {
      return {
        customerName: this.customerName,
        reffNo: this.reffNo,
        defaultType: this.defaultType,
      };
    },
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        let searchURL = "";
        if (search.name == "reffNo") {
          searchURL = search.url + search.input.toUpperCase();
        } else {
          searchURL = search.url + search.input.toUpperCase();
        }
        setTimeout(() => {
          API.get(searchURL, null, null, axiosSource.token).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  watch: {
    "invoice.sumInsured": {
      handler: function (after) {
        if (after !== 0) {
          this.statusSumInsured = false;
        } else {
          this.statusSumInsured = true;
        }
      },
      deep: true,
    },
  },
  methods: {
    async getInvoiceById(id, status) {
      this.dialogLoading = true;
      let resp = await API.get("/broking/api/broking/invoice/" + id);
      if (resp.data.code === 0) {
        this.dialogLoading = false;
        if (status == "view") {
          this.setStatusPage("view");
          this.dialog = { show: false, success: false, error: false, text: "" };
          this.statusPage = "view";
          this.$router.replace({
            name: "create-invoice-view",
            query: {
              ...this.$route.query,
              statusPage: "view",
              id: this.idInvoice,
              status: "ENTRY",
            },
          });
        }
        const data = resp.data.invoice;
        // let statusSwitchAccount = data.customerCode.includes("-ADD");
        // if (data.flagShadow == 1 && statusSwitchAccount) {
        //   this.statusSwitch = true;
        // }
        if (this.$route.query.status == "FINAL") {
          this.invoiceNumber = data.invoiceNo;
        }
        this.customerName = `${data.customerCode} - ${data.customerName}`;
        this.reffNo = data.refNo.toString();
        this.invoiceNo = data.parentRef;
        this.riskCode =
          data.invoiceClass.riskCode + " - " + data.invoiceClass.riskName;

        let EngineringFee = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == data.invoiceClass.riskCode
        );
        if (EngineringFee.length > 0 && data.invoiceType == 1) {
          this.setEngineeringFee(true);
        } else {
          this.setEngineeringFee(false);
        }

        let filteredMultiInsured = this.multiInsuredList.filter(
          (i) => i.riskCode == data.invoiceClass.riskCode
        );
        if (filteredMultiInsured.length > 0 && this.invoice.invoiceType == 1) {
          this.multiInsuredStatus = true;
        } else {
          this.multiInsuredStatus = false;
        }

        if (data.invoiceType === 1) {
          this.defaultType = "Broking";
        } else if (data.invoiceType === 2) {
          this.defaultType = "Fee";
        } else if (data.invoiceType === 3) {
          this.defaultType = "Open Cover (Binder)";
        } else {
          this.defaultType = "Open Cover (Binder)";
        }
        // this.defaultType = data.invoiceType === 1 ? 'Broking' : 'Fee'
        this.addStateCopy(data);
        let premiumClientInstallment =
          Number(this.invoice.toClientPremium) +
          Number(this.invoice.toClientAdm);
        this.setPremiumClientInstallment(premiumClientInstallment);
        let insurance = data.invoiceInsurance.insuranceSharingList;
        if (insurance !== null) {
          let arrayInsurance = [];
          insurance.forEach((element, index) => {
            arrayInsurance.push({
              index: index,
              isLeader: element.isLeader,
              insuranceId: element.insuranceId,
              insuranceName: element.insuranceName,
              insuranceCode: element.insuranceCode,
              sharingPercentage: element.sharingPercentage,
              amount: element.amount,
              brokerage: element.brokerage,
              brokerageAmount: element.brokerageAmount,
              admincostAmount: element.admincostAmount,
              stampdutyAmount: element.stampdutyAmount,
              // vatAmount: element.vatAmount,
              vatAmount: (element.brokerageAmount * this.invoice.insurerVatPercentage / 100) * -1,
              pph23Amount: element.pph23Amount,
              grossAmount: element.grossAmount,
              efAmount: element.efAmount,
              efPercentage: element.efPercentage,
              // totalAmount: element.totalAmount,
              totalAmount: element.grossAmount + ((element.brokerageAmount * this.invoice.insurerVatPercentage / 100) * -1) + element.pph23Amount,
              edit: false,
              editLeader: element.isLeader ? true : false,
            });
          });
          this.setInsuranceSharingList(arrayInsurance);
          this.setInsuranceSharingListUnder(this.convertForUnder(insurance)); // For List Under Installment
          
          // set VAT
          let vatAmount = 0;
          let netAmount = 0;
          for (var array of arrayInsurance) {
            vatAmount = vatAmount + Number(array.vatAmount);
            netAmount = netAmount + Number(array.totalAmount);
          }
          this.setTotalVatInsurance(vatAmount);
          this.setTotalTotalAmount(netAmount);
          this.setToUnderwiterVat(vatAmount);

          // set Net Underwriter
          let netUnder = this.invoice.toUnderwriterGross + vatAmount + this.invoice.toUnderwriterPph23;
          this.setTotalUnderwriterNet(netUnder);

          
          // let admincostAmount = 0
          // let stampdutyAmount = 0
          // let efAmount = 0
          // let grossAmount = 0
          // insurance.forEach(element => {
          //   admincostAmount = admincostAmount + element.admincostAmount
          //   stampdutyAmount = stampdutyAmount + element.stampdutyAmount
          //   efAmount = efAmount + element.efAmount
          //   grossAmount = grossAmount + element.grossAmount
          // });
          // this.setTotalAdminCost(admincostAmount)
          // this.setTotalStampDuty(stampdutyAmount)
          // this.setTotalEFAMount(efAmount)
          // this.setTotalGross(grossAmount)
        }

        if(data.invoiceType === 2) {
          let grossFeeValue = this.invoice.toClientGross;
          let vatPercentage = this.invoice.clientVatPercentage;

          let toClientVatValue = grossFeeValue * vatPercentage / 100;
          let grossTotalValue = grossFeeValue + toClientVatValue;

          this.setClientVatValue(toClientVatValue);
          this.setTotalGrossValue(grossTotalValue);
        }

        if (this.invoice.idEmployee !== 0) {
          API.get(
            "/user/api/user-management/user/employee/" +
              this.invoice.idEmployee.toString()
          ).then((resp) => {
            if (resp.data.code === 0) {
              let data = resp.data.data;
              let personal = data.personalData;
              let obj = {
                id: personal.id,
                idDepartmentCode: personal.idDepartmentCode,
                idCompany: personal.idCompany,
                fullname: personal.fullname,
                nickname: personal.nickname ? personal.nickname : "",
              };
              this.setDataEmployee(obj);
            }
          });
        }
        if (this.invoice.segmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"));
          if (masterData.BUSINESS_SEGMENT) {
            const data = masterData.BUSINESS_SEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.segmentCode
            );
            this.setDataSegment(filter[0]);
          } else {
            API.get(
              "/config/api/master-parameter/module/BUSINESS_SEGMENT"
            ).then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data;
                let filter = data.filter(
                  (value) => value.code == this.invoice.segmentCode
                );
                this.setDataSegment(filter[0]);
              }
            });
          }
        }
        if (this.invoice.subSegmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"));
          if (this.invoice.segmentCode === this.invoice.subSegmentCode) {
            let obj = {
              codeAndName: this.invoice.subSegmentCode,
              code: this.invoice.subSegmentCode,
            };
            this.setDataSubSegment(obj);
          } else if (masterData.BUSINESS_SUBSEGMENT) {
            const data = masterData.BUSINESS_SUBSEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.subSegmentCode
            );
            if (filter[0] === undefined) {
              let obj = {
                codeAndName: this.invoice.subSegmentCode,
                code: this.invoice.subSegmentCode,
              };
              this.setDataSubSegment(obj);
            } else {
              this.setDataSubSegment(filter[0]);
            }
          } else {
            API.get(
              "/config/api/master-parameter/module/BUSINESS_SUBSEGMENT"
            ).then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data;
                let filter = data.filter(
                  (value) => value.code == this.invoice.subSegmentCode
                );
                this.setDataSubSegment(filter[0]);
              }
            });
          }
        }
      }
    },
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,

      resetState: types.ACTION_RESET_STATE,
      setCustomerId: types.ACTION_CUSTOMER_ID,
      setCustomerName: types.ACTION_CUSTOMER_NAME,
      setCustomerCode: types.ACTION_CUSTOMER_CODE,
      setInvoiceType: types.ACTION_INVOICE_TYPE,
      setReffNo: types.ACTION_REFF_NO,
      setIdCoverNote: types.ACTION_ID_COVER_NOTE,
      setErrorCustomer: types.ACTION_REQUIRED_CUSTOMER,
      setErrorClassOfRisk: types.ACTION_REQUIRED_CLASS_OF_RISK,
      setErrorPeriodEnd: types.ACTION_REQUIRED_INSURENCE_PERIODE_END,
      setErrorPeriodFrom: types.ACTION_REQUIRED_INSURENCE_PERIODE_FROM,
      setErrorActiveDate: types.ACTION_REQUIRED_ACTIVE_DATE,
      setErrorBusinessCategory: types.ACTION_REQUIRED_BUSINESS_CATEGORY,
      addStateCopy: types.ACTION_ADD_STATE_COPY,
      setStatusPage: types.ACTION_STATUS_PAGE,
      setIdInvoice: types.ACTION_ID_INVOICE,
      setErrorAccountExecutive: types.ACTION_REQUIRED_ACCOUNT_EXECUTIVE,
      setErrorSegment: types.ACTION_REQUIRED_SEGMENT,
      setErrorSubSegment: types.ACTION_REQUIRED_SUB_SEGMENT,
      setDataEmployee: types.ACTION_DATA_EMPLOYEE,
      setDataSegment: types.ACTION_DATA_SEGMENT,
      setDataSubSegment: types.ACTION_DATA_SUB_SEGMENT,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setInsuranceSharingListUnder: types.ACTION_INSURANCE_SHARING_LIST_UNDER,
      setEngineeringFee: types.ACTION_STATUS_ENGINEERING_FEE,
      setEngineeringPercentage: types.ACTION_ENGINEERING_PERCENTAGE,
      setClientVAT: types.ACTION_CLIENT_VAT_PERCENTAGE,
      setUnderwriterVAT: types.ACTION_INSURER_VAT_PERCENTAGE,
      setUnderwriterPPH23: types.ACTION_INSURER_PPH_PERCENTAGE,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setStatusData: types.ACTION_STATUS_DATA,
      setFlagShadow: types.ACTION_FLAG_SHADOW,
      setTotalVatInsurance: types.ACTION_TOTAL_VAT,
      setToUnderwiterVat: types.ACTION_TO_UNDERWRITER_VAT,
      setTotalUnderwriterNet: types.ACTION_TO_UNDERWRITER_NET,
      setTotalTotalAmount: types.ACTION_TOTAL_TOTAL_AMOUNT,
      setClientVatValue: types.ACTION_TO_CLIENT_VAT,
      setTotalGrossValue: types.ACTION_TO_CLIENT_GROSS_TOTAL,
      setErrorFileObjectInsured: types.ACTION_REQUIRED_FILE_OBJECT_INSURED,
    }),
    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_EF&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

        // cek apakah yang terpilih adalah bisa multiinsured
        // let filteredMultiInsured = this.riskMultiInsuredList.filter(
        //   (i) => i.riskCode == this.invoice.riskCode
        // );
        // if (filteredMultiInsured.length > 0) {
        //   this.statusEngineeringFee = true;
        //   this.setEngineeringFee(true)
        // } else {
        //   this.setEngineeringFee(false)
        // }
      }
    },
    async getingRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_MULTI_INSURED&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.multiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];
      }
    },

    setDataCustomer(item) {
      if (item) {
        this.setErrorCustomer(false);
        this.setCustomerId(item.id);
        this.setCustomerName(item.name);
        this.getReffNo(item.id);
      }
    },
    setDataShadowAccount() {
      let item = this.dataTransaction;
      if (item) {
        this.setCustomerId(item.shadowAccountId);
        this.setCustomerName(item.accountName);
        this.setCustomerCode(item.shadowAccountCode);
        this.customerName = `${item.shadowAccountCode} - ${item.accountName}`;
        this.setFlagShadow(item.flagShadow);
        this.statusSwitch = true;
      }
    },
    setDataReffNo(item) {
      if (item) {
        if (typeof item === "string") {
          let data = this.search.reffNo.items;
          let dataFind = data.find((i) => i.transactionIdKey === item);
          if (dataFind === undefined) {
            this.setErrorCustomer(false);
            this.setReffNo("");
            this.setIdCoverNote("");
            this.setCustomerId("");
            this.setCustomerName("");
            this.setCustomerCode("")
            this.customerName = "";
            this.setFlagShadow(0);
            this.statusSwitch = false;
            this.dataTransaction = {};
          } else {
            this.setErrorCustomer(false);
            this.setReffNo(dataFind.transactionIdKey);
            this.setIdCoverNote(dataFind.id);
            this.setCustomerId(dataFind.accountId);
            this.setCustomerName(dataFind.accountName);
            this.setCustomerCode(dataFind.accountCode)
            this.customerName = `${dataFind.accountCode} - ${dataFind.accountName}`;
            this.setFlagShadow(0);
            if (item.flagShadow == 1) {
              this.statusSwitch = true;
            } else {
              this.statusSwitch = false;
            }
            this.dataTransaction = item;
          }
        } else {
          this.setErrorCustomer(false);
          this.setReffNo(item.transactionIdKey);
          this.setIdCoverNote(item.id);
          this.setCustomerId(item.accountId);
          this.setCustomerName(item.accountName);
          this.setCustomerCode(item.accountCode)
          this.customerName = `${item.accountCode} - ${item.accountName}`;
          this.setFlagShadow(0);
          if (item.flagShadow == 1) {
              this.statusSwitch = true;
            } else {
              this.statusSwitch = false;
            }
          this.dataTransaction = item;
        }
      }
    },
    async setDataInvoiceType(item) {
      await this.resetState();
      await this.setInvoiceType(item.id);
    },
    async getCustomer() {
      this.search.customer.loading = true;
      let resp = await API.get("/clients/api/account/client?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.customer.loading = false;
        const data = resp.data.data;
        this.search.customer.items = data;
      }
    },
    async getReffNo() {
      this.search.reffNo.loading = true;
      let resp = await API.get(
        "broking/api/broking/invoice/list-reff-no?page=0&size=-1"
      );
      // let resp = await API.get("/broking/api/broking/placement/?accountId.equals=" + accountId);
      if (resp.data.code === 0) {
        this.search.reffNo.loading = false;
        const data = resp.data.data;
        this.search.reffNo.items = data;
      }
    },
    async getFee() {
      let masterData = JSON.parse(localStorage.getItem("masterData"));
      if (masterData.SYSTEM_FEE_PERCENTAGE) {
        const data = masterData.SYSTEM_FEE_PERCENTAGE;
        data.forEach((element) => {
          // if (element.code === "VAT") {
          //   this.setClientVAT(Number(element.value));
          //   this.setUnderwriterVAT(Number(element.value));
          // }
          if (element.code === "PPH23") {
            this.setUnderwriterPPH23(Number(element.value));
          }
          if (element.code === "EF") {
            this.setEngineeringPercentage(Number(element.value));
          }
        });
      } else {
        let resp = await API.get(
          "config/api/master-parameter/module/SYSTEM_FEE_PERCENTAGE"
        );
        if (resp.data.code === 0) {
          const data = resp.data.data;
          data.forEach((element) => {
            // if (element.code === "VAT") {
            //   this.setClientVAT(Number(element.value));
            //   this.setUnderwriterVAT(Number(element.value));
            // }
            if (element.code === "PPH23") {
              this.setUnderwriterPPH23(Number(element.value));
            }
            if (element.code === "EF") {
              this.setEngineeringPercentage(Number(element.value));
            }
          });
        }
      }

      let respVat = await API.get("config/api/master-parameter/module/INVOICE_CONFIG");
      
      if (respVat.data.code === 0) {
        const dataVat = respVat.data.data;
        dataVat.forEach((element) => {
          if (element.code === "VAT") {
            this.setClientVAT(Number(element.value));
          }
          if (element.code === "VAT_UW_BROKERAGE") {
            this.setUnderwriterVAT(Number(element.value));
          }
        });
      }
    },
    nextSumInsured() {
      this.dialogSumInsured = false;
      this.statusSumInsured = false;
      this.submit();
    },
    async submit() {
      if (this.invoice.customerId == "" && this.invoice.customerName == "") {
        this.formHasErrors = true;
        this.setErrorCustomer(true);
      } else if (this.invoice.riskCode == "" && this.invoice.riskName == "") {
        this.formHasErrors = true;
        this.setErrorClassOfRisk(true);
      } else if (this.invoice.insurancePeriodFrom == "") {
        this.formHasErrors = true;
        this.setErrorPeriodFrom(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.insurancePeriodEnd == "") {
        this.formHasErrors = true;
        this.setErrorPeriodEnd(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.attachActiveDate == "") {
        this.formHasErrors = true;
        this.setErrorActiveDate(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (
        this.invoice.businessCategory == "" ||
        this.invoice.businessCategory == undefined
      ) {
        this.formHasErrors = true;
        this.setErrorBusinessCategory(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (
        this.invoice.idEmployee == 0 ||
        this.invoice.idEmployee == undefined
      ) {
        this.formHasErrors = true;
        this.setErrorAccountExecutive(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (
        this.invoice.segmentCode == "" ||
        this.invoice.segmentCode == undefined
      ) {
        this.formHasErrors = true;
        this.setErrorSegment(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (
        this.invoice.subSegmentCode == "" ||
        this.invoice.subSegmentCode == undefined
      ) {
        this.formHasErrors = true;
        this.setErrorSubSegment(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if ( this.multiInsuredStatus && (
          !this.invoice.dataMultiInsured.length ||
          !this.invoice.filename
        ) && this.defaultType === "Broking"
        && this.invoice.flagShadow != 1
      ) {
        this.formHasErrors = true;
        this.setErrorFileObjectInsured(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Object Insured must be filled";
      } else if (!this.formHasErrors) {
        // if (this.invoice.agentName == "" && this.invoice.amount !== 0 ) {
        //   this.dialogValidate.show = true
        //   this.dialogValidate.text = "You must add Agent Name in tab Agent"
        // } else
        let statusLeader = false;
        this.invoice.insuranceSharingList.forEach((element) => {
          if (element.isLeader === true) {
            statusLeader = true;
          }
        });
        let statusSwitchAccount = this.invoice.customerCode.includes("-ADD");
        if (statusSwitchAccount) {
          this.dialog.show = true;
          await this.doProcess();
        } else {
          if (
            this.invoice.sumInsured === 0 &&
            this.statusSumInsured &&
            this.defaultType === "Broking"
          ) {
            this.dialogSumInsured = true;
          } else if (
            !statusLeader &&
            this.invoice.insuranceSharingList.length !== 0
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "You must Select Leader Insurance in tab Insurance";
          } else if (
            this.invoice.toClientPremium === 0 &&
            this.defaultType !== "Open Cover (Binder)"
          ) {
            if (this.defaultType === "Broking") {
              this.dialogValidate.show = true;
              this.dialogValidate.text =
                "You must add To Client Premium in tab Value";
            } else if (this.defaultType === "Fee") {
              this.dialogValidate.show = true;
              this.dialogValidate.text = "You must add Amount in tab Value";
            }
          } else if (
            this.invoice.toUnderwriterPremium === 0 &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "You must add To Underwriter Premium in tab Value";
          } else if (
            this.invoice.toUnderwriterPremium > 0 &&
            this.invoice.toClientPremium > 0 &&
            Math.abs(this.invoice.incomeTotal) < 0 &&
            this.defaultType === "Broking"
          ) {
            // tambah kondisi cover credit premium harus +
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Discount cannot make Total Income gone below zero in tab Value";
          /* Request Remove Validate - 20221019 */
          // } else if (
          //   this.invoice.toUnderwriterPremium > 0 &&
          //   this.invoice.toClientPremium > 0 &&
          //   this.invoice.incomeBrokerage < this.invoice.toClientAdm &&
          //   this.defaultType === "Broking"
          // ) {
          //   // tambah kondisi cover credit premium harus +
          //   this.dialogValidate.show = true;
          //   this.dialogValidate.text =
          //     "Income Brokerage must be greater than To Client Adm/Others in tab Value";
          } else if (
            this.invoice.toClientPremium < this.invoice.toUnderwriterPremium &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "To Client Premium must be greater than To Underwriter Premium in tab Value";
          } else if (
            this.invoice.totalPercentage !== 100 &&
            this.invoice.premium > 0 &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Sharing Percentage must be 100% in tab Insurance";
          } else if (
            this.invoice.totalAdmincostAmount !==
              this.invoice.toUnderwriterPolEndCost &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Admin Cost doesn't match with Admin Cost to Underwriter in tab Value";
          } else if (
            this.invoice.totalStampdutyAmount !==
              this.invoice.toUnderwriterStampDuty &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Stamp Duty doesn't match with Stamp Duty to Underwriter in tab Value";
          } else if (
            this.invoice.totalPercentage !== 100 &&
            this.defaultType === "Open Cover (Binder)"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Sharing Percentage must be 100% in tab Insurance";
          } else if (
            this.invoice.totalAmount !== this.invoice.toUnderwriterPremium &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Amount doesn't match with Premium to Underwriter in tab Value";
            this.dialogValidate.subText =
              "Please Click Tab Insurance to Refresh The Amount";
          } else if (
            this.invoice.totalGrossAmount !== this.invoice.toUnderwriterGross &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Gross doesn't match with Net to Underwriter in tab Value";
          } else if (
            this.invoice.toClientInstallmentList.length > 0 &&
            this.invoice.toClientTotalPercentage !== 100
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Percentage Client must be 100% in tab Installment";
          } else if (
            this.invoice.toClientInstallmentList.length > 0 &&
            this.invoice.toClientTotalPercentage === 100 &&
            this.invoice.toUnderwriterInstallmentList.length === 0 &&
            // this.defaultType === "Broking"
            ["Broking", "Open Cover (Binder)"].indexOf(this.defaultType) !== -1
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "To Underwriter must be filled in tab Installment";
          } else if (
            this.invoice.toClientInstallmentList.length > 0 &&
            this.invoice.toClientTotalAmount !==
              this.invoice.premiumClientInstallment &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Amount Client doesn't match with Premium in tab Installment";
            this.dialogValidate.subText =
              "Please Click Tab Installment to Refresh The Amount";
          } else if (
            this.invoice.toClientInstallmentList.length > 0 &&
            this.invoice.toClientTotalAdminCost !==
              this.invoice.toClientPolEndCost &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Admin Cost doesn't match with Admin Cost to Client in tab Value";
          } else if (
            this.invoice.toClientInstallmentList.length > 0 &&
            this.invoice.toClientTotalStampdutyAmount !==
              this.invoice.toClientStampDuty &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Stamp Duty doesn't match with Stamp Duty to Client in tab Value";
          } else if (
            this.invoice.toClientInstallmentList.length > 0 &&
            this.invoice.toClientTotalTotalAmount !==
              this.invoice.toClientGrossTotal &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total doesn't match with Gross Total to Client in tab Value";
          } else if (
            this.invoice.toUnderwriterInstallmentList.length > 0 &&
            this.invoice.toUnderwriterTotalPercentage !== 100 &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Percentage Underwriter must be 100% in tab Installment";
          } else if (
            this.invoice.toUnderwriterInstallmentList.length > 0 &&
            this.invoice.toUnderwriterTotalPercentage === 100 &&
            this.invoice.toClientInstallmentList.length === 0 &&
            // this.defaultType === "Broking"
            ["Broking", "Open Cover (Binder)"].indexOf(this.defaultType) !== -1
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "To Client must be filled in tab Installment";
          } else if (
            this.invoice.toUnderwriterInstallmentList.length > 0 &&
            this.invoice.toUnderwriterTotalAmount !==
              this.invoice.toUnderwriterPremium &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Amount Underwriter doesn't match with Premium in tab Installment";
            this.dialogValidate.subText =
              "Please Click Tab Installment to Refresh The Amount";
          } else if (
            this.invoice.toUnderwriterInstallmentList.length > 0 &&
            this.invoice.toUnderwriterTotalAdminCost !==
              this.invoice.toUnderwriterPolEndCost &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Admin Cost doesn't match with Admin Cost to Underwriter in tab Value";
          } else if (
            this.invoice.toUnderwriterInstallmentList.length > 0 &&
            this.invoice.toUnderwriterTotalStampdutyAmount !==
              this.invoice.toUnderwriterStampDuty &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Stamp Duty doesn't match with Stamp Duty to Underwriter in tab Value";
          } else if (
            this.invoice.toUnderwriterPremium > 0 &&
            this.invoice.toClientPremium > 0 &&
            this.invoice.variousCommissionOut > this.invoice.incomeBrokerage &&
            this.defaultType === "Broking"
          ) {
            // tambah kondisi cover credit premium harus +
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Commission Out should not be greater than Brokerage in tab Value";
          } else if (
            this.invoice.toUnderwriterPremium > 0 &&
            this.invoice.toClientPremium > 0 &&
            Math.abs(this.invoice.variousCommissionOut) > (Math.abs(this.invoice.variousAddBrokerage) + Math.abs(this.invoice.incomeBrokerage)) &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Commission should not be greater than Total Income in tab Value";
          } else {
            console.debug("masukkk 33");
            if (
              this.invoice.dataMultiInsured.length > 0 &&
              this.invoice.filename !== ""
            ) {
              console.debug("masukkk if");
              this.chechEffectiveDate(this.invoice.dataMultiInsured);
            } else {
              console.debug("masukkk else");
              this.dialog.show = true;
              await this.doProcess();
            }
            // if (this.defaultType === 'Broking') {
            //   let status = false
            //   let obj = {}
            //   this.invoice.insuranceSharingList.forEach(element => {
            //     if (element.isLeader === true)  {
            //       status = true
            //       obj = element
            //     }
            //   })
            //   let newData = this.invoice.insuranceSharingList
            //   const max = newData.reduce(function(prev, current) {
            //       return (prev.sharingPercentage > current.sharingPercentage) ? prev : current
            //   })

            //   if (!status) {
            //     this.invoice.insuranceSharingList.forEach(element => {
            //       if (element.index === max.index)  {
            //         return element.isLeader = true
            //       }
            //     });
            //     this.dialog.show = true;
            //       await this.doProcess();
            //   } else {
            //     if (obj.sharingPercentage < max.sharingPercentage) {
            //       this.dialogLeader = true
            //     } else {
            //       this.dialog.show = true;
            //       await this.doProcess();
            //     }
            //   }
            // } else {
            //   this.dialog.show = true;
            //     await this.doProcess();
            // }
          }
        }
      } else {
        console.debug("masukkk 44");
        this.formHasErrors = false;
      }
    },
    async nextMulti() {
      this.dialogMulti = false;
      this.dialog.show = true;
      await this.doProcess();
    },
    async chechEffectiveDate(data) {
      let status = false;
      data.forEach((element) => {
        let activeDate = new Date(this.invoice.attachActiveDate);
        let convertDate = "";
        let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
        let equipment = ["ENCPM", "PCPM"];
        let property = [
          "PPAR",
          "PFIRE",
          "PEQV",
          "PMB",
          "PTS",
          "PPARAC",
          "PPARAS",
        ];

        let riskCode = this.invoice.riskCode;

        if (vehicle.indexOf(riskCode) !== -1) {
          const [month, day, year] = element.metas.effectiveDateFrom.split("/");
          convertDate = `${year}-${month}-${day}`;
        } else if (property.indexOf(riskCode) !== -1) {
          const [month, day, year] = element.metas.effectiveDate.split("/");
          convertDate = `${year}-${month}-${day}`;
        } else if (equipment.indexOf(riskCode) !== -1) {
          const [month, day, year] = element.metas.effectiveDateFrom.split("/");
          convertDate = `${year}-${month}-${day}`;
        }
        let activeDateMulti = new Date(convertDate);
        if (activeDateMulti.getTime() < activeDate.getTime()) {
          status = true;
        }
      });

      if (status) {
        this.dialogMulti = true;
      } else {
        this.dialog.show = true;
        await this.doProcess();
      }
    },
    async setLeader() {
      this.dialogLeader = false;
      let newData = this.invoice.insuranceSharingList;
      const max = newData.reduce(function (prev, current) {
        return prev.sharingPercentage > current.sharingPercentage
          ? prev
          : current;
      });
      this.invoice.insuranceSharingList.forEach((element) => {
        if (element.index === max.index) {
          element.isLeader = true;
        } else {
          element.isLeader = false;
        }
      });
      this.dialog.show = true;
      await this.doProcess();
    },
    async nextProcess() {
      this.dialogLeader = false;
      this.dialog.show = true;
      await this.doProcess();
    },
    async doProcess() {
      let index = "";
      let insuranceSharingList = this.invoice.insuranceSharingList;
      for (var i = 0; i < insuranceSharingList.length; i++) {
        if (insuranceSharingList[i].insuranceName == "ALL") {
          index = i;
        }
      }
      if (String(index).length > 0) {
        insuranceSharingList.splice(index, 1);
      }
      let efPremium;
      if (typeof this.invoice.efPremium === "number") {
        efPremium = this.invoice.efPremium;
      } else if (typeof this.invoice.efPremium === "string") {
        efPremium = this.convertMoney(this.invoice.efPremium);
      }
      let paramJSON = {
        invoice: {
          customerId:
            this.invoice.customerId == "" ? null : this.invoice.customerId,
          customerName:
            this.invoice.customerName == "" ? null : this.invoice.customerName,
          flagShadow:
            this.invoice.flagShadow == 0 ? 0 : this.invoice.flagShadow,
          idCoverNote:
            this.invoice.idCoverNote == 0 ? null : this.invoice.idCoverNote,
          idEmployee:
            this.invoice.idEmployee == 0 ? null : this.invoice.idEmployee,
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          invoiceNo:
            this.invoice.invoiceNo == 0 ? null : this.invoice.invoiceNo,
          invoiceType:
            this.invoice.invoiceType == 0 ? null : this.invoice.invoiceType,
          refNo: this.invoice.refNo == "" ? null : this.invoice.refNo,
          segmentCode:
            this.invoice.segmentCode == "" ? null : this.invoice.segmentCode,
          subSegmentCode:
            this.invoice.subSegmentCode == ""
              ? null
              : this.invoice.subSegmentCode,
          multiInsuredFlag: this.invoice.filename !== "" ? 1 : 0,
          // invoiceAgent: {
          //   agentId: this.invoice.agentId == 0 ? null : this.invoice.agentId,
          //   agentName: this.invoice.agentName == "" ? null : this.invoice.agentName,
          //   amount: this.invoice.amount == 0 ? null : this.invoice.amount
          // },
          invoiceAgentList: this.invoice.invoiceAgentList,
          totalAmountAgent:
            this.invoice.totalAmountAgent == 0
              ? null
              : this.invoice.totalAmountAgent,
          invoiceClass: {
            attachActiveDate:
              this.invoice.attachActiveDate == ""
                ? null
                : this.invoice.attachActiveDate,
            businessCategory:
              this.invoice.businessCategory == ""
                ? null
                : this.invoice.businessCategory,
            businessName:
              this.invoice.businessName == ""
                ? null
                : this.invoice.businessName,
            description:
              this.invoice.description == "" ? null : this.invoice.description,
            memo: this.invoice.memo == "" ? null : this.invoice.memo,
            destAccount:
              this.invoice.destAccount == "" ? null : this.invoice.destAccount,
            destAccountCode:
              this.invoice.destAccountCode == ""
                ? null
                : this.invoice.destAccountCode,
            insurancePeriodEnd:
              this.invoice.insurancePeriodEnd == ""
                ? null
                : this.invoice.insurancePeriodEnd,
            insurancePeriodFrom:
              this.invoice.insurancePeriodFrom == ""
                ? null
                : this.invoice.insurancePeriodFrom,
            insured: this.invoice.insured == "" ? null : this.invoice.insured,
            insuredAddress:
              this.invoice.insuredAddress == ""
                ? null
                : this.invoice.insuredAddress,
            location:
              this.invoice.location == "" ? null : this.invoice.location,
            masterPolicy:
              this.invoice.masterPolicy == ""
                ? null
                : this.invoice.masterPolicy,
            particulars:
              this.invoice.particulars == "" ? null : this.invoice.particulars,
            policyNo:
              this.invoice.policyNo == "" ? null : this.invoice.policyNo,
            riskCode:
              this.invoice.riskCode == "" ? null : this.invoice.riskCode,
            riskName:
              this.invoice.riskName == "" ? null : this.invoice.riskName,
          },
          invoiceInstallment: {
            docType: this.invoice.docType == "" ? null : this.invoice.docType,
            filename:
              this.invoice.filename == "" ? null : this.invoice.filename,
            toClientInstallmentList: this.invoice.toClientInstallmentList,
            toClientTotalAdminCost:
              this.invoice.toClientTotalAdminCost == 0
                ? null
                : this.invoice.toClientTotalAdminCost,
            toClientTotalAmount:
              this.invoice.toClientTotalAmount == 0
                ? null
                : this.invoice.toClientTotalAmount,
            toClientTotalGrossAmount:
              this.invoice.toClientTotalGrossAmount == 0
                ? null
                : this.invoice.toClientTotalGrossAmount,
            toClientTotalPercentage:
              this.invoice.toClientTotalPercentage == 0
                ? null
                : this.invoice.toClientTotalPercentage,
            toClientTotalStampdutyAmount:
              this.invoice.toClientTotalStampdutyAmount == 0
                ? null
                : this.invoice.toClientTotalStampdutyAmount,
            toClientTotalTotalAmount:
              this.invoice.toClientTotalTotalAmount == 0
                ? null
                : this.invoice.toClientTotalTotalAmount,
            toClientTotalVatAmount:
              this.invoice.toClientTotalVatAmount == 0
                ? null
                : this.invoice.toClientTotalVatAmount,
            toUnderwriterInstallmentList: this.invoice
              .toUnderwriterInstallmentList,
            toUnderwriterTotalAdminCost:
              this.invoice.toUnderwriterTotalAdminCost == 0
                ? null
                : this.invoice.toUnderwriterTotalAdminCost,
            toUnderwriterTotalAmount:
              this.invoice.toUnderwriterTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalAmount,
            toUnderwriterTotalBrokerageAmount:
              this.invoice.toUnderwriterTotalBrokerageAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalBrokerageAmount,
            toUnderwriterTotalGrossAmount:
              this.invoice.toUnderwriterTotalGrossAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalGrossAmount,
            toUnderwriterTotalPercentage:
              this.invoice.toUnderwriterTotalPercentage == 0
                ? null
                : this.invoice.toUnderwriterTotalPercentage,
            toUnderwriterTotalPph23Amount:
              this.invoice.toUnderwriterTotalPph23Amount == 0
                ? null
                : this.invoice.toUnderwriterTotalPph23Amount,
            toUnderwriterTotalStampdutyAmount:
              this.invoice.toUnderwriterTotalStampdutyAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalStampdutyAmount,
            toUnderwriterTotalTotalAmount:
              this.invoice.toUnderwriterTotalTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalTotalAmount,
            toUnderwriterTotalVatAmount:
              this.invoice.toUnderwriterTotalVatAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalVatAmount,
          },
          invoiceInsurance: {
            insuranceSharingList: insuranceSharingList,
            premium: this.invoice.premium == 0 ? null : this.invoice.premium,
            efPremium: efPremium == 0 ? null : efPremium,
            totalAdmincostAmount:
              this.invoice.totalAdmincostAmount == 0
                ? null
                : this.invoice.totalAdmincostAmount,
            totalAmount:
              this.invoice.totalAmount == 0 ? null : this.invoice.totalAmount,
            totalBrokerage:
              this.invoice.totalBrokerage == 0
                ? null
                : this.invoice.totalBrokerage,
            totalBrokerageAmount:
              this.invoice.totalBrokerageAmount == 0
                ? null
                : this.invoice.totalBrokerageAmount,
            totalEfAmount:
              this.invoice.totalEfAmount == 0
                ? null
                : this.invoice.totalEfAmount,
            totalEfPercentage:
              this.invoice.totalEfPercentage == 0
                ? null
                : this.invoice.totalEfPercentage,
            totalEfSharingAmount:
              this.invoice.totalEfSharingAmount == 0
                ? null
                : this.invoice.totalEfSharingAmount,
            totalGrossAmount:
              this.invoice.totalGrossAmount == 0
                ? null
                : this.invoice.totalGrossAmount,
            totalPPH23:
              this.invoice.totalPPH23 == 0 ? null : this.invoice.totalPPH23,
            totalPercentage:
              this.invoice.totalPercentage == 0
                ? null
                : this.invoice.totalPercentage,
            totalStampdutyAmount:
              this.invoice.totalStampdutyAmount == 0
                ? null
                : this.invoice.totalStampdutyAmount,
            totalVat: this.invoice.totalVat == 0 ? null : this.invoice.totalVat,
            totalTotalAmount:
              this.invoice.totalTotalAmount == 0
                ? null
                : this.invoice.totalTotalAmount,
          },
          invoiceValue: {
            currency:
              this.invoice.currency == "" ? null : this.invoice.currency,
            clientVatPercentage:
              this.invoice.clientVatPercentage == 0
                ? 0
                : this.invoice.clientVatPercentage,
            insurerPph23Percentage:
              this.invoice.insurerPph23Percentage == 0
                ? null
                : this.invoice.insurerPph23Percentage,
            insurerVatPercentage:
              this.invoice.insurerVatPercentage == 0
                ? 0
                : this.invoice.insurerVatPercentage,
            exchangeRate:
              this.invoice.exchangeRate == 0 ? null : this.invoice.exchangeRate,
            incomeBrokerage:
              this.invoice.incomeBrokerage == 0
                ? null
                : this.invoice.incomeBrokerage,
            incomeNet:
              this.invoice.incomeNet == 0 ? null : this.invoice.incomeNet,
            incomeTotal:
              this.invoice.incomeTotal == 0 ? null : this.invoice.incomeTotal,
            incomeVarious:
              this.invoice.incomeVarious == 0
                ? null
                : this.invoice.incomeVarious,
            incomeVat:
              this.invoice.incomeVat == 0 ? null : this.invoice.incomeVat,
            premiumRate:
              this.invoice.premiumRate == 0 ? null : this.invoice.premiumRate,
            sumInsured:
              this.invoice.sumInsured == 0 ? null : this.invoice.sumInsured,
            toClientAdm:
              this.invoice.toClientAdm == 0 ? null : this.invoice.toClientAdm,
            toClientGross:
              this.invoice.toClientGross == 0
                ? null
                : this.invoice.toClientGross,
            toClientGrossTotal:
              this.invoice.toClientGrossTotal == 0
                ? null
                : this.invoice.toClientGrossTotal,
            toClientPolEndCost:
              this.invoice.toClientPolEndCost == 0
                ? null
                : this.invoice.toClientPolEndCost,
            toClientPremium:
              this.invoice.toClientPremium == 0
                ? null
                : this.invoice.toClientPremium,
            toClientStampDuty:
              this.invoice.toClientStampDuty == 0
                ? null
                : this.invoice.toClientStampDuty,
            toClientVat:
              this.invoice.toClientVat == 0 ? null : this.invoice.toClientVat,
            toUnderwriterGross:
              this.invoice.toUnderwriterGross == 0
                ? null
                : this.invoice.toUnderwriterGross,
            toUnderwriterNet:
              this.invoice.toUnderwriterNet == 0
                ? null
                : this.invoice.toUnderwriterNet,
            toUnderwriterPolEndCost:
              this.invoice.toUnderwriterPolEndCost == 0
                ? null
                : this.invoice.toUnderwriterPolEndCost,
            toUnderwriterPph23:
              this.invoice.toUnderwriterPph23 == 0
                ? null
                : this.invoice.toUnderwriterPph23,
            toUnderwriterPremium:
              this.invoice.toUnderwriterPremium == 0
                ? null
                : this.invoice.toUnderwriterPremium,
            toUnderwriterStampDuty:
              this.invoice.toUnderwriterStampDuty == 0
                ? null
                : this.invoice.toUnderwriterStampDuty,
            toUnderwriterVat:
              this.invoice.toUnderwriterVat == 0
                ? null
                : this.invoice.toUnderwriterVat,
            variousAddBrokerage:
              this.invoice.variousAddBrokerage == 0
                ? null
                : this.invoice.variousAddBrokerage,
            variousCommissionOut:
              this.invoice.variousCommissionOut == 0
                ? null
                : this.invoice.variousCommissionOut,
            variousOthers:
              this.invoice.variousOthers == 0
                ? null
                : this.invoice.variousOthers,
            variousTotal:
              this.invoice.variousTotal == 0 ? null : this.invoice.variousTotal,
          },
        },
      };
      this.dataParam = paramJSON;
      // console.debug(paramJSON)
      // this.dialog = true;
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/add", param).then((resp) => {
        if (resp.data.code == 0) {
          this.idInvoice = resp.data.invoice.idInvoice;
          this.dialog.success = true;
          // this.dialog.text = "Your Data has been Saved";
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.cancel();
        } else {
          this.dialog.text = "Your Data Failed to Save";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    back() {
      this.dialog = { show: false, success: false, error: false, text: "" };
      this.$router.replace({ name: "create-invoice-list", query: {back: true}, });
      this.resetState();
      localStorage.removeItem("from");
    },
    goToView() {
      this.$router.replace({
        name: "create-invoice-view",
        query: {
          id: this.$route.query.id,
          status: this.$route.query.status,
          statusPage: "view",
          isActive: this.$route.query.isActive,
          alreadyEndorse: this.$route.query.alreadyEndorse,
          alreadyCancel: this.$route.query.alreadyCancel,
        },
      });
      localStorage.setItem("from", "view");
      localStorage.removeItem("dataInstallmentUnder");
      this.resetState();
      this.setStatusData(false);
    },
    change() {
      this.statusPage = "edit";
      this.setStatusPage("edit");
      this.$router.replace({
        name: "create-invoice-edit",
        query: { ...this.$route.query, statusPage: "edit" },
      });
      this.resetState();
      this.setStatusData(false);
    },
    cancel() {
      this.getInvoiceById(this.$route.query.id, "view");
      // this.setStatusPage("view")
    },
    approved() {
      this.dialog.show = true;
      let paramJSON = {
        invoice: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/approve", param).then((resp) => {
        if (resp.data.code == 0) {
          this.$router.replace({
            name: "create-invoice-view",
            query: { ...this.$route.query, status: "APPROVE" },
          });
          this.status = "APPROVE";
          this.statusApprove = false;
          this.dialog.success = true;
          this.dialog.text = "Your Data has been Approved";
        } else {
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.dialog.text = "Your Data Failed to Approved";
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    final() {
      this.dialog.show = true;
      let paramJSON = {
        invoiceManagement: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/final", param).then((resp) => {
        if (resp.data.code == 0) {
          this.$router.replace({
            name: "create-invoice-view",
            query: { ...this.$route.query, status: "FINAL" },
          });
          this.status = "FINAL";
          this.statusApprove = false;
          this.invoiceNumber = resp.data.invoice.invoiceNo;
          this.dialog.success = true;
          this.dialog.text = "Your Data has been Finalized";
        } else {
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.dialog.text = "Your Data Failed to Finalized";
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    unapprove() {
      console.debug("Unapprove");
      this.dialog.show = true;
      let paramJSON = {
        invoice: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/unapproved", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.$router.replace({
              name: "create-invoice-view",
              query: { ...this.$route.query, status: "ENTRY" },
            });
            this.status = "ENTRY";
            this.statusApprove = true;
            this.dialog.success = true;
            this.dialog.text = "Your Data has been Unapproved";
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.text = "Your Data Failed to Unapproved";
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    deleteInvoice() {
      console.debug("Delete");
      this.dialog.show = true;
      let idInvoice =
        this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice;
      console.debug(idInvoice);
      // let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/delete/" + idInvoice).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.back();
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.text = "Your Data Failed to Delete";
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    convertForUnder(data) {
      let array = [{ insuranceName: "ALL", index: 0 }];
      data.forEach((element, index) => {
        array.push({
          index: index + 1,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: element.amount,
          brokerage: element.brokerage,
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    openInvoiceDetail(invNo) {
      this.resetState();
      console.log(invNo);
      this.detailDialog = {
        show: true,
        loading: true,
        type: "INV",
        id: invNo,
      };
    },
    invOnPopulated(data) {
      this.detailDialog.loading = false;
      this.dataClosingInsurance = data.dataClosingInsurance;
    },
    async closeInvoiceDetailDialog() {
      this.detailDialog.show = false;
      this.statusSwitch = true;
      await this.resetState();
      await this.getInvoiceById(this.$route.query.id);
      this.invoice.statusPage = "edit"
    },
  },
};
</script>

<style scoped>
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.buttonFixed {
  color: white;
  position: fixed;
  z-index: 3;
  margin-top: 3px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>
