<template>
  <v-card flat outlined tile class="pt-0 pb-2">
    <v-data-table
      :headers="fileTable"
      :items="file"
      class="elevation-1 black--text"
      :options.sync="options"
      :loading="loading"
      hide-default-footer
    >
    </v-data-table>
    <v-row justify="center">
      <v-dialog v-model="dialogFileTab" persistent max-width="800px">
        <template v-slot:activator="{ on, attrs }">
          <v-toolbar elevation="0" class="mb-2 ma-5" height="30px">
            <v-row>
              <v-spacer></v-spacer>
              <v-btn
                width="1200px"
                class="center"
                outlined
                dark
                color="primary"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon class="ml-0" center>mdi-plus</v-icon>Add File
              </v-btn>
              <v-spacer></v-spacer>
            </v-row>
          </v-toolbar>
        </template>
        <v-card>
          <v-card-title class="primary" dark>
            <span class="title white--text ml-2">
              Add File
            </span>
          </v-card-title>
          <v-card-text>
            <v-row align="center" class="ml-2">
              <v-col cols="2" class="pa-1">
                <span class="title font-weight-bold black--text">
                  File Name
                </span>
              </v-col>
              <v-col cols="6" align-self="start" class="pa-1">
                <v-file-input
                  accept=".jpg,.png,.pdf"
                  class="ma-0"
                  :prepend-icon="prepen"
                  flat
                  outlined
                  dense
                  solo
                  multiple
                  label="JPG, PNG, PDF"
                  hide-details="auto"
                  @change="fotoUpload"
                >
                  <template v-slot:selection="{ text }">
                    <v-chip small label color="primary">{{ text }}</v-chip>
                  </template>
                </v-file-input>
              </v-col>
              <v-col cols="3" class="pa-1">
                <span class="title font-weight-bold black--text">
                  (Max Size 2MB)
                </span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-2">
              <v-col cols="2" class="pa-1">
                <span class="title font-weight-bold black--text">
                  Description
                </span>
              </v-col>
              <v-col cols="6" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  label="Description"
                  solo
                  flat
                  outlined
                  dense
                  class="ma-0"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialogFileTab = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>
<script>
export default {
  components: {},
  data: () => ({
    rules: [
      (value) =>
        !value ||
        value.size < 4000000 ||
        "Avatar size should be less than 2 MB!",
    ],
    prepen: false,
    dialogFileTab: false,
    fileTable: [
      {
        text: "File Name",
        align: "start",
        sortable: false,
        value: "name",
      },
      {
        text: "Description",
        sortable: false,
        value: "desc",
      },
      { text: "", sortable: false, value: "action" },
    ],
    file: [],
  }),
  methods: {
    addContact() {
      var file = {};
      for (var header of this.headers) {
        if (header.value != "action") {
          file[header.value] = header.add;
        }
      }
      this.file.push(file);
      for (header of this.headers) {
        header.add = "";
      }
      this.dialog = false;
    },
  },
};
</script>
