<template>
  <v-card flat outlined tile class="pt-0 pb-2">
   <v-data-table
     
      :headers="lostRecordTable"
      :items="lostRecord"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-footer
    >
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon class="mr-2" v-bind="attrs" v-on="on"
                >mdi-dots-vertical</v-icon
              >
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View Detail</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
     <v-btn class="ma-2" dark @click="dialogLostRecord = true">
          view detail
        </v-btn>
    <div>
      <v-banner
        v-model="dialogLostRecord"
        fullscreen
        hide-overlay
        transition="dialog-top-transition"
        scrollable
      >
        <v-card  flat>
          <v-toolbar flat dark color="primary" >
            <v-toolbar-title>Detail Claim</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="dialogLostRecord = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-row align="center" class="">
            <v-col>
              <v-data-table
                :headers="detailtoInsuranceTable"
                :items="detailtoInsurance"
                hide-default-footer
                class="elevation-1"
              >
              </v-data-table>
            </v-col>
          </v-row>

          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </v-banner>
    </div>
  </v-card>
  
</template>
<script>


export default {
  components: {  },
  data: () => ({
   dialogLostRecord: false,
    lostRecordTable: [
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Claim Trans",
        sortable: false,
        value: "claimTrans",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
      },
      { text: "TransDate", sortable: false, value: "transDate", add: "" },
      { text: "Balance", sortable: false, value: "balance", add: "" },
      { text: "Payable", sortable: false, value: "payable", add: "" },
       { text: "Action", sortable: false, value: "action", add: "" },
    ],
    lostRecord:[],
    
  }),
};
</script>
