<template>
  <v-card flat outlined tile class="pt-0 pb-2">
   <v-data-table
     
      :headers="objectTable"
      :items="object"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-footer
    >
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon class="mr-2" v-bind="attrs" v-on="on"
                >mdi-dots-vertical</v-icon
              >
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View Detail</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>

// import API from "@/core/api/api.js";
export default {
  components: {  },
  data: () => ({
   
    objectTable: [
      {
        text: "Merk Type",
        align: "start",
        sortable: false,
        value: "orderNo",
        add: "",
        rules: [],
      },
      {
        text: "Chasis No",
        sortable: false,
        value: "orderNo",
        add: "",
        rules: [],
      },
      {
        text: "Enggine No",
        sortable: false,
        value: "orderNo",
        add: "",
        rules: [],
      },
      { text: "Premi", sortable: false, value: "orderNo", add: "" },
     
    ],
    object:[],
    
  }),

  mounted() {
    
    // this.getobjectInsured();
  
  },
  methods :{
    setData(data){
this.object = data;
console.log("totod");
console.log(this.object);
console.log("totod");
    },
   

  },
};
</script>
