<template>
  <v-dialog v-model="show" scrollable persistent max-width="1000">
    <v-card flat>
      <v-card-title class="pt-0 px-0">
        <isttoolbar
          style="width: 100%"
          title="Claim"
          dark
          color="secondary"
          icon="mdi-email-newsletter"
        >
          <v-spacer />
          <div v-if="selfMode == 'view'">
            <v-btn
              v-show="param.recStatus == 0// && checkAuthorities('collection-approve')
              "
              @click="
                statusConfirm = true;
                param.changeStatusDesc = 'Approve';
              "
              width="150"
              class="mr-2"
              outlined
              color="white"
              >Approve Transaction</v-btn
            >
            <v-btn
              v-show="param.recStatus == 1// && checkAuthorities('collection-approve')
              "
              @click="
                statusConfirm = true;
                param.changeStatusDesc = 'Unapprove';
              "
              width="150"
              class="mr-2"
              outlined
              color="white"
              >Unapprove Transaction</v-btn
            >
            <v-btn
              v-show="param.recStatus == 1// && checkAuthorities('collection-close')
              "
              @click="
                statusConfirm = true;
                param.changeStatusDesc = 'Finalize';
              "
              width="150"
              class="mr-2"
              outlined
              color="white"
              >Finalize Transaction</v-btn
            >
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <printaction
                  v-bind="attrs"
                  v-on="on"
                  :items="printData"
                  :id="param.id"
                  :status="param.status"
                  idParam="idStandardTrx"
                  :customer="param.customerName"
                >
                </printaction>
              </template>
              <span>Print</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-show="param.recStatus == 0 && checkAuthorities('collection-edit')"
                  v-bind="attrs"
                  v-on="on"
                  min-width="40"
                  @click="selfMode = 'edit'"
                  text
                  dark
                >
                  <v-icon>mdi-pencil mdi-36px</v-icon>
                </v-btn>
              </template>
              <span>Edit</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  min-width="40"
                  @click="back"
                  text
                  dark
                >
                  <v-icon>mdi-window-close mdi-36px</v-icon>
                </v-btn>
              </template>
              <span>Back</span>
            </v-tooltip>
          </div>
          <div v-else-if="selfMode == 'edit'">
            <v-btn width="100" outlined class="mr-2" @click="save">
              Save
            </v-btn>
            <v-btn width="100" outlined class="mr-2" @click="back">
              Cancel
            </v-btn>
          </div>
        </isttoolbar>
        <isttoolbar style="width: 100%" title="" dark color="primary">
          <v-tabs v-model="collectionDetailTab">
            <v-tab key="standardTrans">View Paid Direct</v-tab>
            <v-tab key="sharingPercent">Sharing Percentage</v-tab>
          </v-tabs>
        </isttoolbar>
        <!-- </v-row> -->
      </v-card-title>
      <v-card-text class="">
        <v-tabs-items v-model="collectionDetailTab">
          <v-tab-item>
            <v-progress-linear
              v-show="standardTransLoading"
              indeterminate
              color="primary"
            ></v-progress-linear>
            <v-form :readonly="selfMode == 'view'">
              <v-card flat>
                <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Status</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-1">
                      <v-text-field
                        label="Type Status"
                        flat
                        outlined
                        dense
                        solo
                        readonly
                        hide-details="auto"
                        name="status"
                        v-model="param.status"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Trans No</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-1">
                      <v-text-field
                        readonly
                        flat
                        outlined
                        dense
                        solo
                        hide-details="auto"
                        v-model="param.transNo"
                        name="transNo"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Trans Date</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-1">
                      <!-- <v-text-field
                    v-model="param.transDate"
                    ref="transDate"
                    name="transDate"
                    label="Insert Transaction Date"
                    persistent-hint
                    readonly
                    hide-details="auto"
                    flat
                    outlined
                    dense
                    solo
                  >
                  </v-text-field> -->
                      <istdatepicker
                        :model="param.transDate"
                        istRef="transDate"
                        :readonly="true"
                      >
                      </istdatepicker>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Customer Type</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-3">
                      <!-- <v-text-field
                        readonly
                        flat
                        outlined
                        dense
                        solo
                        hide-details="auto"
                        v-model="param.custType"
                        name="custType"
                      ></v-text-field> -->
                      <v-radio-group
                        hide-details="auto"
                        class="mt-0"
                        dense
                        v-model="param.custType"
                      >
                        <v-row>
                          <v-radio
                            value="Client"
                            label="Client"
                            :disabled="param.custType != 'Client'"
                          ></v-radio>
                          <v-radio
                            class="mt-n2 ml-3"
                            value="Adjuster"
                            label="Adjuster"
                            :disabled="param.custType != 'Adjuster'"
                          ></v-radio>
                        </v-row>
                      </v-radio-group>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3">
                      <!-- <p class="title">Trans No</p> -->
                    </v-col>
                    <v-col cols="9" class="ma-0 pa-0 pl-1">
                      <v-text-field
                        readonly
                        flat
                        outlined
                        dense
                        solo
                        hide-details="auto"
                        v-model="param.customer"
                        name="customerToSHow"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>

              <v-card flat class="mt-2">
                <isttoolbar light color="secondToolbar" class="">
                  <span class="title">Details</span>
                </isttoolbar>
                <v-card flat outlined tile class="pt-2 pb-2">
                  <v-row class="mx-1">
                    <v-col cols="6" class="pa-0 pl-6" align-self="center">
                      <v-row justify="center">
                        <v-col class="ma-0 pa-0">
                          <p class="title">
                            Payment Type<span class="error--text">*</span>
                          </p>
                        </v-col>
                        <v-col cols="9" class="ma-0 pa-0 pr-16">
                          <v-autocomplete
                            label="Select Payment Type"
                            hide-details="auto"
                            v-model="param.receivedType"
                            ref="receivedType"
                            name="receivedType"
                            :items="filter.receivedType.items"
                            :loading="filter.receivedType.loading"
                            item-value="code"
                            item-text="value"
                            class="ma-0"
                            :rules="selfMode == 'view' ? [] : [rules.required]"
                            flat
                            outlined
                            dense
                            solo
                            :append-icon="
                              selfMode == 'view' ? '' : 'mdi-menu-down'
                            "
                          ></v-autocomplete>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="6" class="pa-0 pl-6" align-self="center">
                      <v-row justify="center">
                        <v-col class="ma-0 pa-0">
                          <p class="title">
                            Payment Category<span class="error--text">*</span>
                          </p>
                        </v-col>
                        <v-col cols="9" class="ma-0 pa-0 pr-16">
                          <v-autocomplete
                            label="Select Payment Category"
                            hide-details="auto"
                            v-model="param.paymentCategory"
                            ref="paymentCategory"
                            name="paymentCategory"
                            :items="filter.paymentCategory.items"
                            :loading="filter.paymentCategory.loading"
                            item-value="code"
                            item-text="value"
                            class="ma-0"
                            flat
                            outlined
                            dense
                            solo
                            :append-icon="
                              selfMode == 'view' ? '' : 'mdi-menu-down'
                            "
                            :rules="[rules.required]"
                          ></v-autocomplete>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row class="mx-1">
                    <v-col cols="6" class="pa-0 pl-6" align-self="center">
                      <v-row justify="center">
                        <v-col class="ma-0 pa-0"
                          ><p class="title">
                            Currency<span class="error--text">*</span>
                          </p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 pr-16">
                          <!-- <v-autocomplete
                            v-if="selfMode == 'edit'"
                            label="Select Currency"
                            hide-details="auto"
                            v-model="param.claimInfo.currency"
                            ref="currency"
                            name="currency"
                            :items="filter.currency.itemsToShow"
                            :loading="filter.currency.loading"
                            v-on:change="changeCurrency"
                            item-value="code"
                            :item-text="currencyTextItem"
                            class="ma-0"
                            :rules="selfMode == 'view' ? [] : [rules.required]"
                            flat
                            outlined
                            dense
                            solo
                            :append-icon="
                              selfMode == 'view' ? '' : 'mdi-menu-down'
                            "
                          ></v-autocomplete> -->
                          <v-text-field
                            label="Select Currency"
                            hide-details="auto"
                            v-model="param.claimInfo.currency"
                            class="ma-0"
                            flat
                            outlined
                            dense
                            solo
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row class="mx-1">
                    <v-col cols="6" class="pa-0 pl-6" align-self="center">
                      <v-row justify="center">
                        <v-col class="ma-0 pa-0">
                          <p class="title">Exchange Rate</p>
                        </v-col>
                        <v-col cols="9" class="ma-0 pa-0 pr-16">
                          <v-text-field
                            hide-details="auto"
                            label="Exchange Rate"
                            ref="excRate"
                            name="excRate"
                            class="ma-0 input-right"
                            v-model="param.excRate"
                            readonly
                            flat
                            outlined
                            dense
                            solo
                            :loading="param.excRateLoading"
                          >
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row class="mx-1">
                    <v-col cols="6" class="pa-0 pl-6" align-self="center">
                      <v-row justify="center">
                        <v-col class="ma-0 pa-0"
                          ><p class="title">Detail</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 pr-16">
                          <v-textarea
                            flat
                            outlined
                            dense
                            solo
                            v-model="param.detail"
                            hide-details="auto"
                            name="detail"
                          ></v-textarea>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row class="mx-1">
                    <v-col cols="6" class="pa-0 pl-6" align-self="center">
                      <v-row justify="center">
                        <v-col class="ma-0 pa-0">
                          <p class="title">Net Amount</p>
                        </v-col>
                        <v-col cols="9" class="ma-0 pa-0 pr-16">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            hide-details="auto"
                            v-money="netAmountChange ? money : ''"
                            @input="netAmountChange = true"
                            v-model="param.netAmount"
                            name="netAmount"
                            :class="
                              param.netAmount[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                          ></v-text-field>
                          <div
                            class="ma-0 pa-0"
                            v-show="param.custType == 'Client'"
                          >
                            <span class="primary--text"
                              >Positive (+) Amount input for CDN to Client</span
                            ><br />
                            <span class="primary--text"
                              >Negative (-) Amount input for CCN to Client</span
                            >
                          </div>
                          <div
                            class="ma-0 pa-0"
                            v-show="param.custType == 'Adjuster'"
                          >
                            <span class="primary--text"
                              >Positive (+) Amount input for CCN to
                              Adjuster</span
                            ><br />
                            <span class="primary--text"
                              >Negative (-) Amount input for CDN to
                              Adjuster</span
                            >
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <!-- <AmountView /> -->
                </v-card>
              </v-card>
            </v-form>
          </v-tab-item>
          <v-tab-item>
            <v-data-table
              :headers="sharingPercentHeaders"
              :items="sharingPercentItems"
              :loading="sharingPercentLoading"
              dense
              fixed-header
              hide-default-footer
              height="250"
              :options.sync="options"
            >
              <template v-slot:item.sharePercentage="{ item }">
                <div>{{ currencyFormat(item.sharePercentage) }}</div>
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu bottom left :offset-x="true">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon class="mr-2" v-bind="attrs" v-on="on"
                      >mdi-dots-vertical</v-icon
                    >
                  </template>
                  <v-list dense>
                    <v-list-item @click="editItem(item, 'd')">
                      <v-list-item-title>View</v-list-item-title>
                    </v-list-item>
                    <v-list-item
                      v-show="param.recStatus != 0"
                      @click="editItem(item, 'e')"
                    >
                      <v-list-item-title>Add Payment</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
              <template v-slot:body.append>
                <tr>
                  <td
                    v-for="header in sharingPercentHeaders"
                    :key="header.text"
                  >
                    <span v-if="header.value == 'insurerName'" class="title">
                      Total
                    </span>
                    <span
                      v-if="header.value == 'sharePercentage'"
                      class="title"
                    >
                      {{ getTotalSharingPercent("sharePercentage") }}
                    </span>
                    <span v-if="header.value == 'totalAmount'" class="title">
                      {{ getTotalSharingPercent("totalAmount") }}
                    </span>
                    <span v-if="header.value == 'paidAmount'" class="title">
                      {{ getTotalSharingPercent("paidAmount") }}
                    </span>
                    <span v-if="header.value == 'balance'" class="title">
                      {{ getTotalSharingPercent("balance") }}
                    </span>
                  </td>
                </tr>
              </template>
            </v-data-table>

            <v-card v-show="detailDialog.show">
              <v-card-title class="primary py-0" style="word-break: inherit">
                <span class="white--text"
                  >Sharing Percentage Detail Info
                  {{ detailDialog.insurerCode }}</span
                >
                <v-spacer />
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      text
                      @click="detailDialog.show = false"
                      dark
                      small
                    >
                      <v-icon>mdi-window-close</v-icon>
                    </v-btn>
                  </template>
                  <span>Close</span>
                </v-tooltip>
              </v-card-title>
              <v-card-text>
                <v-data-table
                  :headers="detailDialog.headers"
                  :items="detailDialog.items"
                  :loading="detailDialog.load"
                  dense
                  fixed-header
                  hide-default-footer
                  height="200"
                  :options.sync="options"
                >
                  <template v-slot:item.paidAmount="{ item }">
                    <v-text-field
                      v-if="item.edit"
                      flat
                      outlined
                      dense
                      solo
                      hide-details="auto"
                      name="editPaidAmount"
                      v-money="editDetail.item.paidAmountChange ? money : ''"
                      @input="editDetail.item.paidAmountChange = true"
                      v-model="editDetail.item.paidAmount"
                      class="input-right"
                    ></v-text-field>
                    <div v-else align="right">
                      {{ currencyFormat(item.paidAmount) }}
                    </div>
                  </template>
                  <template v-slot:item.paidDate="{ item }">
                    <istdatepicker
                      v-if="item.edit"
                      :model="editDetail.item.paidDate"
                      istRef="editPaidDate"
                      v-on:change="(val) => (editDetail.item.paidDate = val)"
                      :min="param.transDate"
                    >
                    </istdatepicker>
                    <div v-else>
                      {{ flipDateFormat(item.paidDate) }}
                    </div>
                  </template>
                  <template v-slot:item.fileName="{ item }">
                    <v-file-input
                      v-if="item.edit"
                      :rules="[rules.maxSize10Mb]"
                      accept=".jpg,.jpeg,.png,.pdf,.zip,.msg,.doc,.docx,.xls,.xlsx"
                      prepend-icon=""
                      flat
                      outlined
                      dense
                      solo
                      hide-details="auto"
                      name="editFileName"
                      id="editFileName"
                      v-model="editDetail.item.fileName"
                    >
                      <template v-slot:append-outer>
                        <v-btn
                          class=""
                          icon
                          small
                          color="primary"
                          @click="onEditUploadClick()"
                        >
                          <v-icon> mdi-upload </v-icon>
                        </v-btn>
                      </template>
                    </v-file-input>
                    <v-chip
                      v-else-if="item.fileName"
                      link
                      small
                      @click="paymentFileOnClick(item)"
                    >
                      {{ item.fileName }}
                    </v-chip>
                  </template>
                  <template v-slot:item.action="{ item }">
                    <v-row
                      v-if="detailDialog.mode == 'e' && item.edit == true"
                      justify="center"
                    >
                      <!-- <v-col cols="6" class="py-0 px-1"> -->
                      <v-btn
                        color="primary"
                        icon
                        outlined
                        small
                        @click="doEditDetail()"
                      >
                        <v-icon dark> mdi-check </v-icon>
                      </v-btn>
                      <!-- </v-col> -->
                      <!-- <v-col cols="6" class="py-0 px-1"> -->
                      <v-btn
                        color="primary"
                        icon
                        outlined
                        small
                        @click="cancelEditDetail()"
                      >
                        <v-icon dark> mdi-close </v-icon>
                      </v-btn>
                      <!-- </v-col> -->
                    </v-row>
                    <v-row
                      v-else-if="detailDialog.mode == 'e'"
                      justify="center"
                    >
                      <!-- <v-col cols="6" class="py-0 px-1"> -->
                      <v-btn
                        color="primary"
                        icon
                        outlined
                        small
                        @click="paymentEditOnClick(item)"
                      >
                        <v-icon dark> mdi-pen </v-icon>
                      </v-btn>
                      <!-- </v-col> -->
                      <!-- <v-col cols="6" class="py-0 px-1"> -->
                      <v-btn
                        color="primary"
                        icon
                        outlined
                        small
                        @click="paymentDeleteOnClick(item)"
                      >
                        <v-icon dark> mdi-minus </v-icon>
                      </v-btn>
                      <!-- </v-col> -->
                    </v-row>
                  </template>
                  <template v-slot:body.append>
                    <tr v-show="addDetail.show">
                      <td
                        v-for="header in detailDialog.headers"
                        :key="header.text"
                      >
                        <div v-if="header.value == 'paidAmount'">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            hide-details="auto"
                            name="paidAmount"
                            v-money="
                              addDetail.item.paidAmountChange ? money : ''
                            "
                            @input="addDetail.item.paidAmountChange = true"
                            v-model="addDetail.item.paidAmount"
                            class="input-right"
                          ></v-text-field>
                        </div>
                        <div v-else-if="header.value == 'paidDate'">
                          <istdatepicker
                            :model="addDetail.item.paidDate"
                            istRef="paidDate"
                            v-on:change="
                              (val) => (addDetail.item.paidDate = val)
                            "
                            :min="param.transDate"
                          >
                          </istdatepicker>
                        </div>
                        <div v-else-if="header.value == 'fileName'">
                          <v-file-input
                            :rules="[rules.maxSize10Mb]"
                            accept=".jpg,.jpeg,.png,.pdf,.zip,.msg,.doc,.docx,.xls,.xlsx"
                            prepend-icon=""
                            flat
                            outlined
                            dense
                            solo
                            hide-details="auto"
                            name="fileName"
                            id="fileName"
                            v-model="addDetail.item.fileName"
                          >
                            <template v-slot:append-outer>
                              <v-btn
                                class=""
                                icon
                                small
                                color="primary"
                                @click="onUploadClick()"
                              >
                                <v-icon> mdi-upload </v-icon>
                              </v-btn>
                            </template>
                          </v-file-input>
                        </div>
                        <div v-else-if="header.value == 'action'">
                          <v-row
                            v-if="detailDialog.mode == 'e'"
                            justify="center"
                          >
                            <!-- <v-col cols="6" class="py-0 px-1"> -->
                            <v-btn
                              color="primary"
                              icon
                              outlined
                              small
                              @click="doAddDetail()"
                            >
                              <v-icon dark> mdi-check </v-icon>
                            </v-btn>
                            <!-- </v-col> -->
                            <!-- <v-col cols="6" class="py-0 px-1"> -->
                            <v-btn
                              color="primary"
                              icon
                              outlined
                              small
                              @click="addDetail.show = false"
                            >
                              <v-icon dark> mdi-close </v-icon>
                            </v-btn>
                            <!-- </v-col> -->
                          </v-row>
                        </div>
                        <span v-else>{{ addDetail.item[header.value] }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td
                        v-for="header in detailDialog.headers"
                        :key="header.text"
                      >
                        <v-row
                          justify="center"
                          v-if="
                            detailDialog.mode == 'e' && header.value == 'action'
                          "
                          class="text-xs-center align-center"
                        >
                          <v-btn
                            color="primary"
                            icon
                            outlined
                            small
                            @click="showAddDetail()"
                          >
                            <v-icon dark> mdi-plus </v-icon>
                          </v-btn>
                        </v-row>
                      </td>
                    </tr>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>

        <v-card outlined rounded="25" elevation="2" class="">
          <v-col>
            <v-row class="ml-2 pa-0">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Entry By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="param.entryBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="param.entryDate"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Approved By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>

                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="param.approvedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="param.approvedDate"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col>
            <v-row class="ml-2 pa-0">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Modified By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="param.modifiedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      v-model="param.modifiedDate"
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Closed By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>

                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="param.closedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="param.closedDate"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
      </v-card-text>
    </v-card>

    <!-- <v-dialog v-model="detailDialog.show" max-width="800">
      <v-card>
        <v-card-title class="primary pa-3" style="word-break: inherit">
          <span class="white--text">Sharing Percentage Detail Info</span>
          <v-spacer />
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                text
                @click="detailDialog.show = false"
                dark
                small
              >
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="detailDialog.headers"
            :items="detailDialog.items"
            :loading="detailDialog.load"
            dense
            fixed-header
            hide-default-footer
            height="200"
            :options.sync="options"
          >
            <template v-slot:item.paidAmount="{ item }">
              <v-text-field
                v-if="item.edit"
                flat
                outlined
                dense
                solo
                hide-details="auto"
                name="editPaidAmount"
                v-money="editDetail.item.paidAmountChange ? money : ''"
                @input="editDetail.item.paidAmountChange = true"
                v-model="editDetail.item.paidAmount"
                class="input-right"
              ></v-text-field>
              <div v-else align="right">
                {{ currencyFormat(item.paidAmount) }}
              </div>
            </template>
            <template v-slot:item.paidDate="{ item }">
              <istdatepicker
                v-if="item.edit"
                :model="editDetail.item.paidDate"
                istRef="editPaidDate"
                v-on:change="(val) => (editDetail.item.paidDate = val)"
              >
              </istdatepicker>
              <div v-else>
                {{ flipDateFormat(item.paidDate) }}
              </div>
            </template>
            <template v-slot:item.fileName="{ item }">
              <v-file-input
                v-if="item.edit"
                :rules="[rules.maxSize10Mb]"
                accept="image/png, image/jpeg"
                prepend-icon=""
                flat
                outlined
                dense
                solo
                hide-details="auto"
                name="editFileName"
                id="editFileName"
                v-model="editDetail.item.fileName"
              >
                <template v-slot:append-outer>
                  <v-btn
                    class=""
                    icon
                    small
                    color="primary"
                    @click="onEditUploadClick()"
                  >
                    <v-icon> mdi-upload </v-icon>
                  </v-btn>
                </template>
              </v-file-input>
              <v-chip
                v-else-if="item.fileName"
                link
                small
                @click="paymentFileOnClick(item)"
              >
                {{ item.fileName }}
              </v-chip>
            </template>
            <template v-slot:item.action="{ item }">
              <v-row v-if="detailDialog.mode == 'e' && item.edit == true">
                <v-col cols="6" class="py-0 px-1">
                  <v-btn
                    color="primary"
                    icon
                    outlined
                    small
                    @click="doEditDetail()"
                  >
                    <v-icon dark> mdi-check </v-icon>
                  </v-btn>
                </v-col>
                <v-col cols="6" class="py-0 px-1">
                  <v-btn
                    color="primary"
                    icon
                    outlined
                    small
                    @click="cancelEditDetail()"
                  >
                    <v-icon dark> mdi-close </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
              <v-row v-else-if="detailDialog.mode == 'e'">
                <v-col cols="6" class="py-0 px-1">
                  <v-btn
                    color="primary"
                    icon
                    outlined
                    small
                    @click="paymentEditOnClick(item)"
                  >
                    <v-icon dark> mdi-pen </v-icon>
                  </v-btn>
                </v-col>
                <v-col cols="6" class="py-0 px-1">
                  <v-btn
                    color="primary"
                    icon
                    outlined
                    small
                    @click="paymentDeleteOnClick(item)"
                  >
                    <v-icon dark> mdi-minus </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </template>
            <template v-slot:body.append>
              <tr v-show="addDetail.show">
                <td v-for="header in detailDialog.headers" :key="header.text">
                  <div v-if="header.value == 'paidAmount'">
                    <v-text-field
                      flat
                      outlined
                      dense
                      solo
                      hide-details="auto"
                      name="paidAmount"
                      v-money="addDetail.item.paidAmountChange ? money : ''"
                      @input="addDetail.item.paidAmountChange = true"
                      v-model="addDetail.item.paidAmount"
                      class="input-right"
                    ></v-text-field>
                  </div>
                  <div v-else-if="header.value == 'paidDate'">
                    <istdatepicker
                      :model="addDetail.item.paidDate"
                      istRef="paidDate"
                      v-on:change="(val) => (addDetail.item.paidDate = val)"
                    >
                    </istdatepicker>
                  </div>
                  <div v-else-if="header.value == 'fileName'">
                    <v-file-input
                      :rules="[rules.maxSize10Mb]"
                      accept="image/png, image/jpeg"
                      prepend-icon=""
                      flat
                      outlined
                      dense
                      solo
                      hide-details="auto"
                      name="fileName"
                      id="fileName"
                      v-model="addDetail.item.fileName"
                    >
                      <template v-slot:append-outer>
                        <v-btn
                          class=""
                          icon
                          small
                          color="primary"
                          @click="onUploadClick()"
                        >
                          <v-icon> mdi-upload </v-icon>
                        </v-btn>
                      </template>
                    </v-file-input>
                  </div>
                  <div v-else-if="header.value == 'action'">
                    <v-row v-if="detailDialog.mode == 'e'">
                      <v-col cols="6" class="py-0 px-1">
                        <v-btn
                          color="primary"
                          icon
                          outlined
                          small
                          @click="doAddDetail()"
                        >
                          <v-icon dark> mdi-check </v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="6" class="py-0 px-1">
                        <v-btn
                          color="primary"
                          icon
                          outlined
                          small
                          @click="addDetail.show = false"
                        >
                          <v-icon dark> mdi-close </v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </div>
                  <span v-else>{{ addDetail.item[header.value] }}</span>
                </td>
              </tr>
              <tr>
                <td v-for="header in detailDialog.headers" :key="header.text">
                  <v-row
                    justify="center"
                    v-if="detailDialog.mode == 'e' && header.value == 'action'"
                    class="text-xs-center align-center"
                  >
                    <v-btn
                      color="primary"
                      icon
                      outlined
                      small
                      @click="showAddDetail()"
                    >
                      <v-icon dark> mdi-plus </v-icon>
                    </v-btn>
                  </v-row>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog> -->

    <v-dialog v-model="statusConfirm" persistent max-width="290">
      <v-card>
        <v-card-title class="text-center" style="word-break: inherit">
          Are you sure you want to {{ param.changeStatusDesc }} this data?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            @click="
              statusConfirm = false;
              doEdit('status');
            "
            outlined
            >Yes</v-btn
          >
          <v-btn
            color="red"
            min-width="100px"
            @click="statusConfirm = false"
            outlined
            >No</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.onError"
    >
    </submitdialog>

    <confirmdialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      v-on:yes="confirmDialog.onYes"
      v-on:no="confirmDialog.onNo"
    >
    </confirmdialog>

    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card v-show="!dialog.success && !dialog.error && !dialog.field">
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card v-show="dialog.success || dialog.error || dialog.field">
        <v-card-title
          v-if="dialog.success"
          class="justify-center"
          style="word-break: inherit"
          >Your Data has been Saved</v-card-title
        >
        <v-card-title
          v-else-if="dialog.error"
          class="justify-center"
          style="word-break: inherit"
          >Please input value to client or value from underwriter
          first</v-card-title
        >
        <v-card-title
          v-else-if="dialog.errorFailed"
          class="justify-center"
          style="word-break: inherit"
          >Your Data Failed To Saved</v-card-title
        >
        <v-card-title
          v-else-if="dialog.field"
          class="justify-center"
          style="word-break: inherit"
          >Please select Client / Adjuster</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialog.success ? edit() : (dialog.show = false)"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-dialog>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
// import AmountView from "@/features/claims/standardTransaction/tab/amount";
import API from "@/core/api/api.js";
import { VMoney } from "v-money";
import axios from "axios";
import confirmdialog from "@/components/dialog/confirmDialog";
import submitdialog from "@/components/dialog/submitDialog";
import istdatepicker from "@/components/inputs/istDatePicker";
import printaction from "@/components/toolbars/printAction";

export default {
  props: ["show", "claimData", "mode", "collectionData", "availLossRes"],
  components: {
    isttoolbar,
    confirmdialog,
    submitdialog,
    istdatepicker,
    printaction,
  },
  directives: { money: VMoney },
  data: () => ({
    netAmountChange: false,
    selfMode: "view",
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    snackbar: false,
    invoiceLoading: false,
    snackbarText: "",
    formHasErrors: false,
    dialog: {
      show: false,
      success: false,
      error: false,
      field: false,
      errorFailed: false,
    },
    tab: 0,
    amountClient: 0,
    deductibleClient: 0,
    othersClient: 0,
    amountUnderwriter: 0,
    deductibleUnderwriter: 0,
    adjusterFeeUnderwriter: 0,
    totalDataClient: 0,
    reportDialog: { show: false },
    param: {
      id: "",
      recStatus: "",
      status: "Entry",
      netAmount: 0,
      transNo: "",
      transDate: "",
      customer: "",
      adjuster: "",
      customerType: "Client",
      claimCustomer: "",
      paymentCategory: "",
      claimInfo: {
        idAccount: "",
        claimNo: "",
        claimItems: [],
        currency: "",
        reOpen: "",
        insured: "",
        lossDate: "",
        causeOfLoss: "",
      },
      policyInfo: {
        class: "",
        policyNumber: "",
        underwriter: "",
      },
      excRate: "0.00",
      excRateLoading: false,
      receivedType: "",
      detail: "",
      valueToClient: {
        total: 0,
      },
      valueToUnderwriter: {
        total: 0,
      },
      entryBy: "",
      entryDate: "",
      modifiedBy: "",
      modifiedDate: "",
      approvedBy: "",
      approvedDate: "",
      closedBy: "",
      closedDate: "",
    },
    sharingPercentHeaders: [
      {
        text: "Underwriter",
        value: "insurerCode",
        sortable: false,
        align: "start",
      },
      {
        text: "Name",
        value: "insurerName",
        sortable: false,
      },
      {
        text: "% Share",
        value: "sharePercentage",
        sortable: false,
      },
      {
        text: "Total Amount",
        value: "totalAmount",
        sortable: false,
      },
      {
        text: "Paid Date",
        value: "paidDate",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "paidAmount",
        sortable: false,
      },
      {
        text: "Balance",
        value: "balance",
        sortable: false,
      },
      {
        text: "Action",
        value: "action",
        sortable: false,
      },
    ],
    valueClaim: [],
    claimLoading: false,
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      currency: {
        items: [],
        param: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
        lookupUrl: 1,
      },
      paymentCategory: {
        items: [],
        url: "/config/api/master-parameter/?size=-1&isActive.equals=1&module.equals=PAYMENT_CATEGORY",
        loading: true,
        lookupUrl: 1,
        request: null,
      },
      adjuster: {
        name: "adjuster",
        input: "",
        items: [],
        url: "/clients/api/account/adjuster/?codeOrName.contains=",
        loading: true,
        request: null,
      },
    },
    confirmDialog: {
      show: false,
      message: "",
      onYes: function () {},
      onNo: function () {},
    },
    overlay: false,
    lossReserve: [],
    submitDialog: {
      show: false,
      mode: "",
      title: "",
      message: "",
      onSuccess: function () {},
      onError: function () {},
    },
    sharingPercentItems: [],
    sharingPercentLoading: false,
    toInit: [
      "customer",
      "adjuster",
      "receivedType",
      "currency",
      "paymentCategory",
    ],
    collectionDetailTab: "",
    initData: true,
    standardTransLoading: false,
    printItems: [
      {
        text: "Claim Credit Note",
        name: "Claim Credit Note",
        url: "claims/api/claims/standard-transaction/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [0, 1, 2],
      },
      {
        text: "Claim Debit Note",
        name: "Claim Debit Note",
        url: "claims/api/claims/standard-transaction/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [0, 1, 2],
      },
    ],
    statusConfirm: false,
    options: {
      itemsPerPage: -1,
      page: 1,
    },
    detailDialog: {
      show: false,
      load: true,
      headers: [
        {
          text: "Seq No",
          value: "seqNo",
          sortable: false,
          align: "start",
        },
        {
          text: "Pay Amount",
          value: "paidAmount",
          sortable: false,
          width: "180px",
        },
        {
          text: "Paid Date",
          value: "paidDate",
          sortable: false,
          width: "200px",
        },
        {
          text: "Document",
          value: "fileName",
          sortable: false,
          width: "220px",
        },
        {
          text: "Action",
          value: "action",
          sortable: false,
        },
      ],
      items: [],
      item: {},
      insurerCode: "",
    },
    addDetail: {
      show: false,
      item: {
        claimNo: "",
        fileName: "",
        paidAmount: "0.00",
        paidAmountChange: false,
        paidDate: "",
        seqNo: "",
      },
    },
    editDetail: {
      item: {
        id: 0,
        claimNo: "",
        fileName: "",
        paidAmount: "0.00",
        paidAmountChange: false,
        paidDate: "",
        seqNo: "",
      },
    },
    rules: {
      required: (value) => !!value || "Required.",
      maxSize10Mb: (value) =>
        !value ||
        value.size < 10000000 ||
        "File size should be less than 10 MB!",
    },
    printData: [],
    printItemsUnderwriter: [
      {
        text: "Claim Debit Note to Underwriter",
        name: "Claim Debit Note to Underwriter",
        url: "claims/api/claims/standard-transaction/generate-underwriter",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: true,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
      {
        text: "Claim Credit Note to Client",
        name: "Claim Credit Note to Client",
        url: "claims/api/claims/standard-transaction/generate-client",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: false,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
    ],
    printItemsClient: [
      {
        text: "Claim Debit Note to Client",
        name: "Claim Debit Note to Client",
        url: "claims/api/claims/standard-transaction/generate-client",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: false,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
      {
        text: "Claim Credit Note to Underwriter",
        name: "Claim Credit Note to Underwriter",
        url: "claims/api/claims/standard-transaction/generate-underwriter",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: true,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
    ],
    totalClient: 0,
    totalUnderwriter: 0,
    oriTotalClient: 0,
  }),
  mounted() {
    // alert("mounted")
  },
  created() {},
  computed: {
    // watchAmountClient() {
    //   return this.amountClient;
    // },
    // watchDeductibleClient() {
    //   return this.deductibleClient;
    // },
    // watchOthersClient() {
    //   return this.othersClient;
    // },
    // totalClient() {
    //   return (
    //     Number(this.currencyToFloat(this.amountClient)) +
    //     Number(this.currencyToFloat(this.deductibleClient)) +
    //     Number(this.currencyToFloat(this.othersClient))
    //   );
    // },
    // totalUnderwriter() {
    //   return (
    //     Number(this.currencyToFloat(this.amountUnderwriter)) +
    //     Number(this.currencyToFloat(this.deductibleUnderwriter)) +
    //     Number(this.currencyToFloat(this.adjusterFeeUnderwriter))
    //   );
    // },
    form() {
      return {
        receivedType: this.param.receivedType,
        // currency: this.param.claimInfo.currency,
        paymentCategory: this.param.paymentCategory,
      };
    },
  },
  watch: {
    // mode: {
    //   handler: function () {
    //     this.selfMode = this.mode;
    //   },
    //   deep: true,
    // },
    show: {
      handler: function () {
        if (this.show == true) {
          this.selfMode = this.mode;
          this.getItemData();
          this.chooseClaim(this.claimData);
          let empty = false;
          for (let l of this.toInit) {
            if (this.filter[l].items.length < 1) {
              empty = true;
            }
          }
          if (empty) {
            this.initList(this.toInit);
          } else {
            this.filterCurrency();
          }
          this.clearForm();
        }
      },
      deep: true,
    },
    watchAmountClient(val) {
      this.amountClient = val;
      if (this.amountClient === "0.00") {
        this.amountUnderwriter = val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val;
      } else if (this.amountClient[0] == "-") {
        this.amountUnderwriter = val.substring(1);
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val.substring(1);
      } else {
        this.amountUnderwriter = "-" + val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = "-" + val;
      }
    },
    watchDeductibleClient(val) {
      this.deductibleClient = val;
      if (this.deductibleClient === "0.00") {
        this.deductibleUnderwriter = val;
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val;
      } else if (this.deductibleClient[0] == "-") {
        this.deductibleUnderwriter = val.substring(1);
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val.substring(1);
      } else {
        this.deductibleUnderwriter = "-" + val;
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = "-" + val;
      }
    },
    watchOthersClient(val) {
      this.othersClient = val;
      if (this.othersClient === "0.00") {
        this.adjusterFeeUnderwriter = val;
        this.$refs.adjusterFee.$el.getElementsByTagName("input")[0].value = val;
      } else if (this.othersClient[0] == "-") {
        this.adjusterFeeUnderwriter = val.substring(1);
        this.$refs.adjusterFee.$el.getElementsByTagName("input")[0].value =
          val.substring(1);
      } else {
        this.adjusterFeeUnderwriter = "-" + val;
        this.$refs.adjusterFee.$el.getElementsByTagName("input")[0].value =
          "-" + val;
      }
    },
  },
  methods: {
    getItemData() {
      this.initData = true;
      this.standardTransLoading = true;
      this.sharingPercentLoading = true;
      if (this.detailDialog.show == false) {
        this.collectionDetailTab = "standardTrans";
      }
      if (this.collectionData.claimacctno) {
        this.param.transNo = this.collectionData.claimacctno;
      } else {
        this.param.transNo = this.collectionData.transNo;
      }
      let url = "/claims/api/claims/claims_maintenance/detail-collection/";
      API.get(url + this.collectionData.id)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data;

            this.param.id = dataResp.id;
            this.param.recStatus = dataResp.recStatus;
            this.param.status = dataResp.recStatusDesc;
            this.param.transDate = dataResp.createdDate.substr(0, 10);
            this.param.receivedType = dataResp.paytypeCode;
            this.param.paymentCategory = dataResp.paycategoryCode;
            this.param.claimInfo.currency = dataResp.currency;
            this.param.excRate = this.formatMoney(dataResp.exchangeRate);
            this.param.detail = dataResp.details;
            this.param.custType = dataResp.accountType;
            this.param.customer =
              dataResp.codeAccount + " - " + dataResp.nameAccount;
            this.param.customerName = dataResp.nameAccount;

            // this.param.netAmount = this.formatMoney(dataResp.clientAmt * -1);
            this.param.netAmount = this.formatMoney(dataResp.clientAmt);
            // this.deductibleClient = this.formatMoney(dataResp.clientDeductible);
            // this.othersClient = this.formatMoney(dataResp.clientOthers);
            this.totalClient = dataResp.clientTotal;
            this.oriTotalClient = dataResp.clientTotal;
            // this.amountUnderwriter = this.formatMoney(dataResp.insurerAmt);
            // this.deductibleUnderwriter = this.formatMoney(
            //   dataResp.insurerDeductible
            // );
            // this.adjusterFeeUnderwriter = this.formatMoney(
            //   dataResp.insurerOthers
            // );
            this.totalUnderwriter = dataResp.insurerTotal;

            this.param.entryBy = dataResp.createdBy;
            this.param.entryDate = dataResp.createdDate;
            this.param.modifiedBy = dataResp.modifiedBy;
            this.param.modifiedDate = dataResp.modifiedDate;
            this.param.approvedBy = dataResp.approvedBy;
            this.param.approvedDate = dataResp.approvedDate;
            this.param.closedBy = dataResp.closedBy;
            this.param.closedDate = dataResp.closedDate;

            this.printCondition();

            // this.initData = false;
            this.standardTransLoading = false;

            // share
            this.sharingPercentItems = dataResp.sharingPercentageList.map(
              function (row) {
                row.paidAmount =
                  row.paidAmount == "-0.00" ? "0.00" : row.paidAmount;
                return row;
              }
            );
            // set uw list di action print doc
            this.setUwListPrintAction(dataResp.sharingPercentageList);

            this.sharingPercentLoading = false;
          } else {
            // this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          // this.$emit("populated");
        });

      // API.get(
      //   "/claims/api/claims/standard-transaction/list-underwriter/" +
      //     this.collectionData.id
      // )
      //   .then((resp) => {
      //     if (resp.data.code == 0) {
      //       this.sharingPercentItems = resp.data.listUnderwriters.map(function (
      //         row
      //       ) {
      //         row.paidAmount =
      //           row.paidAmount == "-0.00" ? "0.00" : row.paidAmount;
      //         return row;
      //       });
      //       this.sharingPercentLoading = false;
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //     // this.$emit("populated");
      //   });
    },
    async getListClaim() {
      this.claimLoading = true;
      let resp = await API.get(
        "claims/api/claims/claims_maintenance/?recStatus.equals=1&codeAccount.equals=" +
          this.param.customer
      );
      this.claimLoading = false;
      if (resp.data.code === 0) {
        this.valueClaim = resp.data.data;
      }
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        if (l == "currency") {
          this.filterCurrency();
        }
        this.filter[l].loading = false;
      }
    },
    filterCurrency() {
      // let vm = this;
      if (this.param.custType == "Client" && this.param.recStatus != 2) {
        // let grouped = this.claimData.lossReserve.reduce(function (rv, x) {
        //   (rv[x.currency] = rv[x.currency] || []).push(x);
        //   return rv;
        // }, {});
        // let currList = [];
        // for (let gItem in grouped) {
        //   grouped[gItem].sort(this.compare);
        //   if (
        //     grouped[gItem].length > 0 &&
        //     ["1", "2", "3"].indexOf(grouped[gItem][0].categoryCode) != -1
        //   ) {
        //     currList.push(gItem);
        //   }
        // }
        // this.filter.currency.itemsToShow = this.filter.currency.items.filter(
        //   (d) => currList.indexOf(d.code) != -1
        // );
        // this.filter.currency.itemsToShow = this.filter.currency.items.filter(
        //   (d) => vm.availLossRes[d.code.toLowerCase()].value == true
        // );
        this.filter.currency.itemsToShow = this.filter.currency.items;
      } else {
        this.filter.currency.itemsToShow = this.filter.currency.items;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    clickDialog() {
      if (this.param.customer === "" || this.param.customer == null) {
        this.dialog.field = true;
        this.dialog.show = true;
      } else {
        this.reportDialog = { show: true };
        this.getListClaim();
      }
    },
    back() {
      this.$emit("close");
    },

    async changeCurrency(e) {
      this.param.excRateLoading = true;
      this.initList(["currency"]);
      let rate = await this.getExchangeRate(e);
      this.param.excRate = this.currencyFormat(rate);
      this.param.excRateLoading = false;
    },

    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },

    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    async chooseClaim(claim) {
      let dataClaim = claim;
      this.param.claimInfo.idAccount = dataClaim.accountId;
      this.param.claimInfo.claimNo = dataClaim.claimNo;
      this.param.claimInfo.claimItems.push(dataClaim.claimNo);
      this.param.claimInfo.reOpen = dataClaim.reopen;
      this.param.claimInfo.insured = dataClaim.policyInfo.insured;
      this.param.claimInfo.lossDate = dataClaim.detail.lossDate;
      this.param.claimInfo.causeOfLoss = dataClaim.detail.causeOfLoss;
      this.param.policyInfo.class = dataClaim.policyInfo.riskCode;
      this.param.policyInfo.policyNumber = dataClaim.policyInfo.policyNo;
      this.param.policyInfo.underwriter = dataClaim.policyInfo.underwriterName;
      this.param.lossReserve = dataClaim.lossReserve;

      // filter currency yang tampil menyesuaikan loss reserve
      let availCurr = [];
      let lossIdrCount = dataClaim.lossReserve.filter(
        (d) => d.currency == "IDR"
      ).length;
      let lossUsdCount = dataClaim.lossReserve.filter(
        (d) => d.currency == "USD"
      ).length;
      if (lossIdrCount > 0) {
        availCurr.push("IDR");
      }
      if (lossUsdCount > 0) {
        availCurr.push("USD");
      }
      // this.filter.currency["itemsToShow"] = this.filter.currency.items.filter(
      //   (d) => availCurr.indexOf(d.code) != -1
      // );
    },

    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },

    convertValue(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return amount.toString();
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
    save() {
      let vm = this;

      // cek mandatory
      Object.keys(this.form).forEach((f) => {
        console.log(f, this.form[f]);
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      let filteredLossReserve = this.param.lossReserve
        ? this.param.lossReserve.filter(
            (value) => value.currency == vm.param.claimInfo.currency
          )
        : [];
      filteredLossReserve.sort(this.compare);
      let lossResItem = filteredLossReserve[0];
      let lowerCurr = this.param.claimInfo.currency.toLowerCase();
      if (this.formHasErrors) {
        this.formHasErrors = false;
      } else if (this.currencyToFloat(this.param.netAmount) == 0) {
        this.submitDialog.title = "Input Net Amount";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.custType == "Client" &&
        (lossResItem == null || lossResItem == undefined)
      ) {
        this.submitDialog.title = "You don't have data in tab Loss Reserve";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.custType == "Client" &&
        lossResItem != null &&
        lossResItem != undefined &&
        lossResItem.categoryDescription.includes("Estimated")
      ) {
        this.submitDialog.title =
          "Your Status Data in tab Loss Reserve still Estimated";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.custType == "Client" &&
        this.currencyToFloat(this.param.netAmount) < 0 &&
        this.availLossRes[lowerCurr].netRes == 0
      ) {
        this.submitDialog.title =
          "Error: Could not create CCN to Client because Net Reserve is equal to 0";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.custType == "Client" &&
        // lossResItem != null &&
        // lossResItem != undefined &&
        // Math.abs(this.currencyToFloat(this.param.netAmount)) >
        //   Math.abs(this.currencyToFloat(lossResItem.amount))
        // Math.abs(this.currencyToFloat(this.param.netAmount)) >
        //   Math.abs(this.getNetReserve(filteredLossReserve))
        // Math.abs(this.currencyToFloat(this.param.netAmount)) >
        //   Math.abs(this.availLossRes[lowerCurr].netRes)
        // this.currencyToFloat(this.param.netAmount) +
        //   this.availLossRes[lowerCurr].netRes <
        //   0
        Math.abs(this.currencyToFloat(this.param.netAmount)) > Math.abs(this.availLossRes[lowerCurr].netRes)
      ) {
        this.submitDialog.title =
          "Net Amount cannot be greater than Net Reserve";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.custType == "Client" &&
        this.currencyToFloat(this.param.netAmount) -
          this.oriTotalClient +
          this.availLossRes[lowerCurr].amount <
          0
      ) {
        this.submitDialog.title =
          "Net Amount cannot be greater than available total collection";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.custType == "Client" &&
        // Math.abs(this.currencyToFloat(this.param.netAmount)) ==
        //   Math.abs(this.getNetReserve(filteredLossReserve)) &&
        // Math.abs(this.currencyToFloat(this.param.netAmount)) ==
        //   Math.abs(this.availLossRes[lowerCurr].netRes) &&
        this.currencyToFloat(this.param.netAmount) +
          this.availLossRes[lowerCurr].netRes ==
          0 &&
        this.param.paymentCategory == "3"
      ) {
        this.submitDialog.title =
          "Select the payment category: Final Claim Payment";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        (this.param.claimInfo.currency == "IDR" &&
          Math.abs(this.currencyToFloat(this.param.netAmount)) > 1400000000) ||
        (this.param.claimInfo.currency == "USD" &&
          Math.abs(this.currencyToFloat(this.param.netAmount)) > 100000)
      ) {
        this.confirmDialog.message =
          "Are you sure you want to continue with the amount of " +
          this.param.claimInfo.currency +
          " " +
          this.param.netAmount +
          "?";
        this.confirmDialog.onYes = function () {
          vm.doEdit();
          vm.confirmDialog.show = false;
        };
        this.confirmDialog.onNo = function () {
          vm.confirmDialog.show = false;
        };
        this.confirmDialog.show = true;
      } else {
        this.doEdit();
      }
    },
    doEdit(mode) {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let vm = this;
      let url = "claims/api/claims/paid-direct/update";
      if (mode == "status") {
        if (this.param.changeStatusDesc == "Approve") {
          url = "claims/api/claims/paid-direct/approve";
        } else if (this.param.changeStatusDesc == "Unapprove") {
          url = "claims/api/claims/paid-direct/unapprove";
        } else if (this.param.changeStatusDesc == "Finalize") {
          url = "claims/api/claims/paid-direct/close";
        }
      }
      let receivedTypeItem = this.filter.receivedType.items.filter(
        (value) => value.code == vm.param.receivedType
      );
      let paymentCategoryItem = this.filter.paymentCategory.items.filter(
        (value) => value.code == vm.param.paymentCategory
      );
      const paramJSON = {
        accountType: this.param.custType,
        currency: this.param.claimInfo.currency,
        details: this.param.detail,
        exchangeRate: this.currencyToFloat(this.param.excRate),
        id: this.param.id,
        idAccount: this.param.claimInfo.idAccount,
        idClaim: this.param.claimInfo.claimNo,
        // netAmt: this.currencyToFloat(this.param.netAmount) * -1,
        netAmt: this.currencyToFloat(this.param.netAmount),
        paycategoryCode: this.param.paymentCategory,
        paycategoryDesc:
          paymentCategoryItem.length > 0
            ? paymentCategoryItem[0].value
            : this.param.paymentCategory,
        paytypeCode: this.param.receivedType,
        paytypeDesc:
          receivedTypeItem.length > 0
            ? receivedTypeItem[0].value
            : this.param.receivedType,
      };
      const param = JSON.stringify(paramJSON);
      API.post(url, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (mode == "status") {
              this.submitDialog.title =
                "Success to " + this.param.changeStatusDesc + " data";
            } else {
              this.submitDialog.title = "";
            }
            this.submitDialog.mode = "success";
            this.submitDialog.onSuccess = function () {
              vm.submitDialog.show = false;
              // if (vm.param.changeStatusDesc == "Finalize") {
              //   vm.getItemData();
              //   vm.$emit("saveSuccess");
              // } else {
              //   vm.selfMode = "view";
              //   vm.getItemData();
              // }
              vm.selfMode = "view";
              vm.getItemData();
              vm.$emit("saveSuccess");
            };
          } else {
            this.submitDialog.title = "";
            this.submitDialog.mode = "error";
            this.submitDialog.message = resp.data.errorMessage.toUpperCase();
            this.submitDialog.onError = function () {
              vm.submitDialog.show = false;
              vm.submitDialog.message = "";
            };
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.title = "";
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },

    edit() {
      this.$emit("saveSuccess");
    },

    onkeyupInvoiceSearch(header) {
      this.searchClientCreditor(header.searchValue);
    },

    async searchClientCreditor(inv) {
      this.invoiceLoading = true;
      let appendix = "";
      if (inv !== null) {
        appendix = "claimNo.equals=" + inv;
      }
      let url =
        "claims/api/claims/claims_maintenance/?" +
        appendix +
        "&codeAccount.equals=" +
        this.param.customer +
        "&recStatus.equals=1";
      API.get(url)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.valueClaim = resp.data.data;
          } else {
            this.dialog.error = true;
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.errorMessage = err.toUpperCase();
          }
          this.invoiceLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getTotalSharingPercent(data) {
      let total = 0;
      for (let key of this.sharingPercentItems) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    async editItem(item, mode) {
      this.detailDialog.load = true;
      this.detailDialog.show = true;
      this.detailDialog.item = item;
      this.detailDialog.mode = mode;
      this.detailDialog.insurerCode = item.insurerCode;

      let paramJSON = {
        claimNo: this.param.transNo.toString(),
        uwCode: item.insurerCode,
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post(
        "claims/api/claims/paid-direct/payment/list",
        param
      );
      this.detailDialog.load = false;
      if (resp.data.code === 0) {
        let paidMultiplier = 1;
        if (
          this.param.custType == "Client" &&
          this.currencyToFloat(this.getTotalSharingPercent("totalAmount")) > 0
        ) {
          paidMultiplier = -1;
        }
        // let paidMultiplier = 1;

        this.detailDialog.items = resp.data.data.map(function (row) {
          row.paidAmount = row.paidAmount * paidMultiplier;
          return row;
        });
      }
    },
    showAddDetail() {
      this.addDetail.item.paidAmountChange = false;

      this.addDetail.show = true;
      this.addDetail.item.claimNo = "";
      this.addDetail.item.fileName = "";
      // this.addDetail.item.paidAmount = "0.00";
      let data = this.sharingPercentItems.filter((v) => v.insurerCode == this.detailDialog.insurerCode)
      let balance = this.currencyToFloat(data[0].balance);
      this.addDetail.item.paidAmount = this.currencyFormat(balance < 0 ? (balance * -1) : balance);
      this.addDetail.item.paidDate = "";
      this.addDetail.item.seqNo = "";

      if (this.detailDialog.items.length > 0) {
        let lastSeqNo =
          this.detailDialog.items[this.detailDialog.items.length - 1].seqNo;
        this.addDetail.item.seqNo = lastSeqNo + 1;
      } else {
        this.addDetail.item.seqNo = 1;
      }
    },
    onUploadClick() {
      document.getElementById("fileName").click();
    },
    onEditUploadClick() {
      document.getElementById("editFileName").click();
    },
    async doAddDetail() {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let base64Doc = await this.getBase64(this.addDetail.item.fileName);
      let paidMultiplier = 1;
      if (
        this.param.custType == "Client" &&
        this.currencyToFloat(this.getTotalSharingPercent("totalAmount")) > 0
      ) {
        paidMultiplier = -1;
      }
      // let paidMultiplier = 1;

      let paramJSON = {
        fileBase64: base64Doc.split(",")[1],
        fileName: this.addDetail.item.fileName.name,
        id: 0,
        idCollection: this.collectionData.id,
        paidAmount:
          this.currencyToFloat(this.addDetail.item.paidAmount) * paidMultiplier,
        paidDate: this.addDetail.item.paidDate,
        uwCode: this.detailDialog.item.insurerCode,
        uwName: this.detailDialog.item.insurerName,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "claims/api/claims/paid-direct/payment/add",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          this.submitDialog.title = "";
          this.submitDialog.mode = "success";
          this.submitDialog.onSuccess = function () {
            vm.submitDialog.show = false;
            vm.editItem(vm.detailDialog.item, "e");
            vm.addDetail.show = false;
            vm.getItemData();
            vm.$emit("saveSuccess");
          };
        } else {
          this.submitDialog.title = "";
          if (resp.data.errorMessage) {
            this.submitDialog.message = resp.data.errorMessage.toUpperCase();
          } else if (resp.data.errordescription) {
            this.submitDialog.message = resp.data.errordescription.toUpperCase();
          } else {
            this.submitDialog.message = "";
          }
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        }
      }).catch((error) => {
        console.log(error);
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
      });
        
    },
    getBase64(file) {
      if (file == "" || file == undefined) {
        return "";
      }
      return new Promise((resolve, reject) => {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },
    paymentFileOnClick(item) {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "/claims/api/claims/paid-direct/payment/download/";

      API.get(docUrl + item.id)
        .then((resp) => {
          if (resp.data.code === 0) {
            this.saveFile(resp.data.fileBase64, resp.data.fileName);
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.onError = function () {
              vm.submitDialog.show = false;
            };
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },
    saveFile(base64, name) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute("download", name);
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    paymentDeleteOnClick(item) {
      let vm = this;
      this.confirmDialog.message =
        "Are you sure you want to delete this payment?";
      this.confirmDialog.onYes = function () {
        vm.doPaymentDelete(item);
        vm.confirmDialog.show = false;
      };
      this.confirmDialog.onNo = function () {
        vm.confirmDialog.show = false;
      };
      this.confirmDialog.show = true;
    },
    doPaymentDelete(item) {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "/claims/api/claims/paid-direct/payment/delete/";

      API.post(docUrl + item.id)
        .then((resp) => {
          if (resp.data.code === 0) {
            this.editItem(this.detailDialog.item, "e");
            this.submitDialog.show = false;
            this.getItemData();
            this.$emit("saveSuccess");
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.onError = function () {
              vm.submitDialog.show = false;
            };
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },
    paymentEditOnClick(item) {
      this.editDetail.item.paidAmountChange = false;
      this.editDetail.item.claimNo = item.claimNo;
      this.editDetail.item.fileName = "";
      this.editDetail.item.paidAmount = this.currencyFormat(item.paidAmount);
      this.editDetail.item.paidDate = item.paidDate;
      this.editDetail.item.seqNo = item.seqNo;
      this.editDetail.item.id = item.id;

      for (let i = 0; i < this.detailDialog.items.length; i++) {
        if (this.detailDialog.items[i].seqNo == item.seqNo) {
          this.detailDialog.items[i].edit = true;
        } else {
          this.detailDialog.items[i].edit = false;
        }
        this.detailDialog.items.splice(i, 1, this.detailDialog.items[i]);
      }
    },
    async doEditDetail() {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let base64Doc = await this.getBase64(this.editDetail.item.fileName);
      let paidMultiplier = 1;
      if (
        this.param.custType == "Client" &&
        this.currencyToFloat(this.getTotalSharingPercent("totalAmount")) > 0
      ) {
        paidMultiplier = -1;
      }
      // let paidMultiplier = 1;

      let paramJSON = {
        fileBase64: base64Doc.split(",")[1],
        fileName: this.editDetail.item.fileName.name,
        id: this.editDetail.item.id,
        idCollection: this.collectionData.id,
        paidAmount:
          this.currencyToFloat(this.editDetail.item.paidAmount) *
          paidMultiplier,
        paidDate: this.editDetail.item.paidDate,
        uwCode: this.detailDialog.item.insurerCode,
        uwName: this.detailDialog.item.insurerName,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "claims/api/claims/paid-direct/payment/edit",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          this.submitDialog.title = "";
          this.submitDialog.mode = "success";
          this.submitDialog.onSuccess = function () {
            vm.submitDialog.show = false;
            vm.editItem(vm.detailDialog.item, "e");
            vm.getItemData();
            vm.$emit("saveSuccess");
          };
        } else {
          this.submitDialog.title = "";
          if (resp.data.errorMessage) {
            this.submitDialog.message = resp.data.errorMessage.toUpperCase();
          } else if (resp.data.errordescription) {
            this.submitDialog.message = resp.data.errordescription.toUpperCase();
          } else {
            this.submitDialog.message = "";
          }
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        }
      }).catch((error) => {
        console.log(error);
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
      });
    },
    cancelEditDetail() {
      for (let i = 0; i < this.detailDialog.items.length; i++) {
        this.detailDialog.items[i].edit = false;
        this.detailDialog.items.splice(i, 1, this.detailDialog.items[i]);
      }
    },
    flipDateFormat(date) {
      let splitted = date.split("-");
      let res = [splitted[2], splitted[1], splitted[0]].join("-");
      return res;
    },
    compare(a, b) {
      if (a.transDate > b.transDate) {
        return -1;
      }
      if (a.transDate < b.transDate) {
        return 1;
      }
      return 0;
    },
    clearForm() {
      this.collectionDetailTab = "standardTrans";
      this.addDetail.show = false;
      this.detailDialog.items = [];
      this.detailDialog.show = false;
    },
    printCondition() {
      console.log("printCondition", this.totalUnderwriter, this.totalClient);
      if (this.totalClient < 0) {
        console.log("kondisi 1");
        this.printData = this.printItemsUnderwriter.slice();
      } else if (this.totalClient > 0) {
        console.log("kondisi 2");
        this.printData = this.printItemsClient.slice();
      }
      console.log("this.printData", this.printData);
    },
    async setUwListPrintAction(list) {
      let uwCodeList = list.map(function (row) {
        let uwCode = row.insurerCode;
        return uwCode;
      });
      let joinedUwCode = uwCodeList.join(",");
      let param = { "code.in": joinedUwCode };
      let resp = await API.get("clients/api/account/insurance", param);
      this.printItemsClient[1].uwList = [{ id: "", name: "All Underwriter" }];
      this.printItemsUnderwriter[0].uwList = [
        { id: "", name: "All Underwriter" },
      ];
      // baru
      this.printItemsClient[0].uwList = [{ id: "", name: "All Underwriter" }];
      this.printItemsClient[0].text =
        "Claim Debit Note to " + this.param.custType;
      this.printItemsClient[0].name =
        "Claim Debit Note to " + this.param.custType;
      this.printItemsUnderwriter[1].uwList = [
        { id: "", name: "All Underwriter" },
      ];
      this.printItemsUnderwriter[1].text =
        "Claim Credit Note to " + this.param.custType;
      this.printItemsUnderwriter[1].name =
        "Claim Credit Note to " + this.param.custType;

      if (resp.data.code === 0) {
        this.printItemsClient[1].uwList =
          this.printItemsClient[1].uwList.concat(resp.data.data);
        this.printItemsUnderwriter[0].uwList =
          this.printItemsUnderwriter[0].uwList.concat(resp.data.data);
        // baru
        this.printItemsClient[0].uwList =
          this.printItemsClient[0].uwList.concat(resp.data.data);
        this.printItemsUnderwriter[1].uwList =
          this.printItemsUnderwriter[1].uwList.concat(resp.data.data);
      }
    },
  },
};
</script>

<style scoped>
.spanColor {
  color: red;
}
::v-deep .input-right input {
  text-align: right;
}
::v-deep .my-text-style input {
  color: red;
}
</style>
