<template>
  <v-card flat>
    <v-form :readonly="disableForm">
      <v-row class="mx-2">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Status
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title" v-if="status == null || ''"> - </span>
              <span class="title font-weight-regular" v-else>
                {{ params.recStatus }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="mx-2">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Trans No
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title font-weight-regular">
                {{ params.transNo }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="mx-2">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Trans Date
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title font-weight-regular" v-text="formatDate">
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="mx-2">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Category
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title font-weight-regular">
                {{ params.customerType }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="mx-2">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Client
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title font-weight-regular">
                {{ params.customerCode }} - {{ params.customer }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="">
        <v-col cols="6">
          <v-card class="">
            <isttoolbar title="Claim Info" dark color="primary"></isttoolbar>
            <v-col cols="12" class="ma-0 pa-0 pl-3 pt-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Claim No</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p class="title font-weight-regular">
                    {{ claimInfo.claimNo }}
                    <v-btn
                      icon
                      color="primary"
                      x-small
                      class="mx-2"
                      @click="viewClaim()"
                    >
                      <v-icon>mdi-information-outline</v-icon>
                    </v-btn>
                  </p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Re Open</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.reOpen"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <!-- <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Currency</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.currency"
                  ></p>
                </v-col>
              </v-row>
            </v-col> -->
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Insured</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.insured"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Loss Date</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.lossDate"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2 pb-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Cause of Loss</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.causeOfLoss"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card>
            <isttoolbar title="Policy Info" dark color="primary"></isttoolbar>
            <v-col cols="12" class="ma-0 pa-0 pl-3 pt-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Class</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="policyInfo.class"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <!-- <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Folio</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p class="title font-weight-regular" v-text="policyInfo.folio">  </p>
                </v-col>
              </v-row>
            </v-col> -->
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Policy Number</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="policyInfo.policyNumber"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Underwriter</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="policyInfo.underwriter"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
      <isttoolbar title="Details" light color="secondToolbar"> </isttoolbar>
      <!-- <p> // ----Tab DEtail ----</p> -->
      <v-card flat outlined tile class="pt-2 pb-2">
        <v-col cols="6" class="pa-0 pl-6" align-self="center">
          <v-row justify="center">
            <v-col class="ma-0 pa-0">
              <p class="title">Payment Category</p>
            </v-col>
            <v-col cols="9" class="ma-0 pa-0 pr-16">
              <v-text-field
                hide-details="auto"
                v-model="params.receivedType"
                ref="receivedType"
                name="receivedType"
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="pa-0 pl-6" align-self="center">
          <v-row justify="center">
            <v-col class="ma-0 pa-0"><p class="title">Currency</p></v-col>
            <v-col cols="9" class="ma-0 pa-0 pr-16">
              <v-text-field
                label="Select Currency"
                hide-details="auto"
                v-model="claimInfo.currency"
                ref="currency"
                name="currency"
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="pa-0 pl-6" align-self="center">
          <v-row justify="center">
            <v-col class="ma-0 pa-0"><p class="title">Exchange Rate</p></v-col>
            <v-col cols="9" class="ma-0 pa-0 pr-16">
              <v-text-field
                hide-details="auto"
                label="Exchange Rate"
                ref="excRate"
                name="excRate"
                class="ma-0 input-right"
                v-model="params.excRate"
                readonly
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="pa-0 pt-3 pl-6" align-self="center">
          <v-row justify="center">
            <v-col class="ma-0 pa-0"><p class="title">Detail</p></v-col>
            <v-col cols="9" class="ma-0 pa-0 pr-16">
              <v-textarea
                flat
                outlined
                dense
                solo
                v-model="params.detail"
                hide-details="auto"
                name="detail"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <v-row class="ma-0 pa-0">
            <v-col>
              <v-card class="pb-3">
                <isttoolbar
                  title="Value to Client"
                  dark
                  color="primary"
                ></isttoolbar>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Amount</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="formatMoney(params.valueToClient.amount)"
                        name="amountClient"
                        :class="
                          amountClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Deductible</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="formatMoney(params.valueToClient.deductible)"
                        name="deductibleClient"
                        :class="
                          deductibleClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Others</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        :value="formatMoney(params.valueToClient.other)"
                        hide-details="auto"
                        name="othersClient"
                        :class="
                          othersClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Total</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        readonly
                        :value="formatMoney(params.valueToClient.total)"
                        hide-details="auto"
                        name="total"
                        style="font-weight: bold"
                        class="ma-0 input-right"
                        :class="
                          formatMoney(params.valueToClient.total)[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>
            </v-col>
            <v-col>
              <v-card class="pb-3">
                <isttoolbar
                  title="Value to Underwriter"
                  dark
                  color="primary"
                ></isttoolbar>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Amount</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        :value="formatMoney(params.valueToUnderwriter.amount)"
                        hide-details="auto"
                        name="amountUnderwriter"
                        :class="
                          amountUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Deductible</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="
                          formatMoney(params.valueToUnderwriter.deductible)
                        "
                        name="deductibleUnderwriter"
                        :class="
                          deductibleUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Adjuster Fee</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="
                          formatMoney(params.valueToUnderwriter.adjusterFee)
                        "
                        name="adjusterFee"
                        :class="
                          adjusterFeeUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Total</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        hide-details="auto"
                        name="totalUnderwriter"
                        :value="formatMoney(params.valueToUnderwriter.total)"
                        style="font-weight: bold"
                        class="ma-0 input-right"
                        :class="
                          formatMoney(params.valueToUnderwriter.total)[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-card outlined rounded="25" elevation="2" class="mr-2 ml-2">
          <v-col>
            <v-row class="mx-2">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Entry By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.entryBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="params.entryDate.date"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Approved By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>

                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.approvedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="params.approvedDate.date"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col>
            <v-row class="mx-2">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Modified By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.modifiedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      v-model="params.modifiedDate.date"
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Finalized By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>

                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.closedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="params.closedDate.date"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
      </v-card>
    </v-form>

    <v-dialog v-model="claimDetailDialog.show" scrollable max-width="1100">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          View Claims
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="claimDetailDialog.show = false"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
          <v-progress-linear
            v-show="claimDetailDialog.loading"
            indeterminate
            color="primary"
          ></v-progress-linear>
        </v-card-title>
        <v-card-text>
          <br />
          <claims
            :show="claimDetailDialog.show"
            :id="claimInfo.claimNo"
            v-on:populated="claimDetailDialog.loading = false"
          ></claims>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import claims from "@/components/claims/claim_view";
import { VMoney } from "v-money";

export default {
  components: { isttoolbar, claims },
  directives: { money: VMoney },
  props: ["detailDialog"],

  data: () => ({
    editFieldAmount: false,
    dialogApproved: false,
    dialogClosed: false,
    dialogUnApproved: false,
    formHasErrors: false,
    dialogValidate: { show: false, text: "", error: "" },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    amountClient: "",
    deductibleClient: "",
    othersClient: "",
    amountUnderwriter: "",
    deductibleUnderwriter: "",
    adjusterFeeUnderwriter: "",
    reportDialog: { show: false },
    claimInfo: {
      idAccount: "",
      claimNo: "",
      reOpen: "",
      insured: "",
      lossDate: "",
      causeOfLoss: "",
    },
    policyInfo: {
      class: "",
      folio: "",
      policyNumber: "",
      underwriter: "",
    },
    dialogApprove: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    dialogclose: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    dialogUnApprove: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    loadingdoc: false,
    status: "",
    statusApprove: false,
    statusPage: "",
    mode: "",
    tab: 0,
    itemsTabs: [{ tab: "Detail" }],
    param: {
      id: 0,
    },
    params: {
      recStatus: "",
      status: "",
      transNo: "",
      transDate: {
        date: "",
        menu: false,
      },
      customer: "",
      customerCode: "",
      adjuster: "",
      customerType: "",
      receivedType: "",
      detail: "",
      valueToClient: {
        amount: 0,
        deductible: 0,
        other: 0,
        total: 0,
      },
      valueToUnderwriter: {
        amount: 0,
        deductible: 0,
        adjusterFee: 0,
        total: 0,
      },
      entryBy: "",
      entryDate: {
        date: "",
        menu: false,
      },
      modifiedBy: "",
      modifiedDate: {
        date: "",
        menu: false,
      },
      approvedBy: "",
      approvedDate: {
        date: "",
        menu: false,
      },
      closedBy: "",
      closedDate: {
        date: "",
        menu: false,
      },
    },
    headers: [
      {
        text: "Claim No",
        value: "",
        sortable: false,
      },
      {
        text: "Claim Date",
        value: "",
        sortable: false,
      },
      {
        text: "Currency",
        value: "",
        sortable: false,
      },
      {
        text: "Cause Of Loss",
        value: "",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
        lookupUrl: 1,
      },
      adjuster: {
        name: "adjuster",
        input: "",
        items: [],
        url: "/clients/api/account/adjuster?codeOrName.contains=",
        loading: true,
        request: null,
      },
    },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    disableForm: false,
    claimDetailDialog: {
      show: false,
      loading: true,
    },
  }),

  computed: {
    formatDate() {
      var date = new Date(this.params.transDate.date);
      var getDate = date.getDate();
      var getMonth = date.getMonth();
      var getYears = date.getFullYear();

      return getDate + "/" + getMonth + "/" + getYears;
    },
    totalClient() {
      return (
        this.currencyToFloat(this.amountClient) +
        this.currencyToFloat(this.deductibleClient) +
        this.currencyToFloat(this.othersClient)
      );
    },
    totalUnderwriter() {
      return (
        this.currencyToFloat(this.amountUnderwriter) +
        this.currencyToFloat(this.deductibleUnderwriter) +
        this.currencyToFloat(this.adjusterFeeUnderwriter)
      );
    },
  },

  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (
          after &&
          ["CCN", "CDN", "COLLECTION", "CDNF"].indexOf(
            this.detailDialog.type
          ) != -1
        ) {
          this.disableForm = true;
          this.getItemData();
          this.initList(["receivedType"]);
        }
      },
      deep: true,
    },
    amountClient(val) {
      this.amountClient = val;
    },
    deductibleClient(val) {
      this.deductibleClient = val;
    },
    othersClient(val) {
      this.othersClient = val;
    },
    amountUnderwriter(val) {
      this.amountUnderwriter = val;
    },
    deductibleUnderwriter(val) {
      this.deductibleUnderwriter = val;
    },
    adjusterFeeUnderwriter(val) {
      this.adjusterFeeUnderwriter = val;
    },
  },

  mounted() {},
  async created() {
    if (
      ["CCN", "CDN", "COLLECTION", "CDNF"].indexOf(this.detailDialog.type) != -1
    ) {
      this.disableForm = true;
      await this.getItemData();
      this.initList(["receivedType"]);
    }
  },

  methods: {
    async getItemData() {
      this.param.id = this.detailDialog.id;
      let url = "/claims/api/claims/standard-transaction/claim-no/";
      await API.get(url + this.param.id)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data;

            this.params.status = dataResp.recStatus;
            this.params.recStatus = dataResp.recStatusDesc;
            this.params.transNo = dataResp.claimNo;
            this.params.transDate.date = dataResp.createdDate;
            this.params.customerType = dataResp.accountType;
            this.params.customerCode = dataResp.codeAccount;
            this.params.customer = dataResp.nameAccount;
            this.claimInfo.claimNo = dataResp.idClaim;
            this.claimInfo.idAccount = dataResp.idAccount;
            this.claimInfo.reOpen = dataResp.claimInfo.reOpen;
            this.claimInfo.currency = dataResp.currency;
            this.claimInfo.insured = dataResp.claimInfo.insured;
            this.claimInfo.lossDate = dataResp.claimInfo.lossDate;
            this.claimInfo.causeOfLoss = dataResp.claimInfo.causeLoss;
            this.policyInfo.class = dataResp.policyInfo.riskClass;
            this.policyInfo.policyNumber = dataResp.policyInfo.policyNo;
            this.policyInfo.underwriter = dataResp.policyInfo.underwriter;
            this.params.receivedType = dataResp.paycategoryDesc;
            this.params.detail = dataResp.details;
            this.params.excRate = this.formatMoney(dataResp.exchangeRate);
            this.params.valueToClient.amount = dataResp.clientAmt;
            this.params.valueToClient.deductible = dataResp.clientDeductible;
            this.params.valueToClient.other = dataResp.clientOthers;
            this.params.valueToClient.total = dataResp.clientTotal;
            this.params.valueToUnderwriter.amount = dataResp.insurerAmt;
            this.params.valueToUnderwriter.deductible =
              dataResp.insurerDeductible;
            this.params.valueToUnderwriter.adjusterFee = dataResp.insurerOthers;
            this.params.valueToUnderwriter.total = dataResp.insurerTotal;
            this.amountClient = this.formatMoney(dataResp.clientAmt);
            this.deductibleClient = this.formatMoney(dataResp.clientDeductible);
            this.othersClient = this.formatMoney(dataResp.clientOthers);
            this.amountUnderwriter = this.formatMoney(dataResp.insurerAmt);
            this.deductibleUnderwriter = this.formatMoney(
              dataResp.insurerDeductible
            );
            this.adjusterFeeUnderwriter = this.formatMoney(
              dataResp.insurerOthers
            );
            this.params.entryBy = dataResp.createdBy;
            this.params.entryDate.date = dataResp.createdDate;
            this.params.modifiedBy = dataResp.modifiedBy;
            this.params.modifiedDate.date = dataResp.modifiedDate;
            this.params.approvedBy = dataResp.approvedBy;
            this.params.approvedDate.date = dataResp.approvedDate;
            this.params.closedBy = dataResp.closedBy;
            this.params.closedDate.date = dataResp.closedDate;

            this.$emit("populated");
          } else {
            this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("populated");
        });
    },

    initList(list) {
      for (let l of list) {
        API.get(this.filter[l].url)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
            this.filter[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.filter[l].loading = false;
          });
      }
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    viewClaim() {
      this.claimDetailDialog.loading = true;
      this.claimDetailDialog.show = true;
    },

    transTypeTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style scoped>
.spanColor {
  color: red;
}
::v-deep .input-right input {
  text-align: right;
}
::v-deep .my-text-style input {
  color: red;
}

.total-center {
  text-align: center;
}
.total-right {
  text-align: center;
  /* padding-right: 20px; */
}
::v-deep .input-right input {
  text-align: right;
}
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  position: fixed;
  z-index: 2;
  margin-top: 5px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>