<template>
  <v-dialog v-model="show" scrollable persistent max-width="1000">
    <v-card flat>
      <v-card-title class="pt-0 px-0">
        <!-- <v-row style="width:100%;"> -->
        <isttoolbar
          style="width: 100%"
          title="Claim"
          dark
          color="secondary"
          icon="mdi-email-newsletter"
        >
          <v-spacer />
          <v-btn
            width="100"
            outlined
            class="mr-2"
            :disabled="disableSave"
            :key="saveKey"
            @click="generate"
          >
            Save
          </v-btn>
          <v-btn width="100" outlined class="mr-2" @click="back">
            Cancel
          </v-btn>
        </isttoolbar>
        <!-- </v-row> -->
        <!-- <v-row style="width:100%;"> -->
        <isttoolbar
          style="width: 100%"
          title="Create Standard Claim Transaction"
          dark
          color="primary"
          class="pl-9"
        >
        </isttoolbar>
        <!-- </v-row> -->
      </v-card-title>
      <v-card-text class="">
        <v-form>
          <v-card flat>
            <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Status</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 pl-1">
                  <v-text-field
                    label="Type Status"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                    hide-details="auto"
                    name="status"
                    v-model="param.status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Trans No</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 pl-1">
                  <v-text-field
                    disabled
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    v-model="param.transNo"
                    name="transNo"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Trans Date</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 pl-1">
                  <!-- <v-text-field
                    v-model="param.transDate"
                    ref="transDate"
                    name="transDate"
                    label="Insert Transaction Date"
                    persistent-hint
                    readonly
                    hide-details="auto"
                    flat
                    outlined
                    dense
                    solo
                  >
                  </v-text-field> -->
                  <istdatepicker
                    :model="param.transDate"
                    istRef="transDate"
                    :readonly="true"
                    :loading="transDateLoading"
                  >
                  </istdatepicker>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><span class="title">Customer Type</span>
                  <span class="title red--text"> *</span></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 pl-1">
                  <v-radio-group
                    hide-details="auto"
                    class="ma-2"
                    dense
                    v-model="param.customerType"
                    @change="customerTypeChange()"
                  >
                    <v-row>
                      <v-radio
                        value="Client"
                        :disabled="clientRadioDisabled"
                        label="Client"
                      ></v-radio>
                      <v-radio
                        class="mt-n2 ml-3"
                        value="Adjuster"
                        label="Adjuster"
                      ></v-radio>
                    </v-row>
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="7" class="ma-0 pa-0 pt-2 pl-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3">
                  <span v-show="$route.query.mode == 'p'" class="title">
                    Customer
                  </span>
                </v-col>
                <v-col cols="9" class="ma-0 pa-0 pl-1">
                  <v-autocomplete
                    v-if="param.customerType === 'Client'"
                    label="Search Client"
                    hide-details="auto"
                    :rules="[(v) => !!v || 'Client required']"
                    v-model="param.customer"
                    ref="customer"
                    name="customer"
                    @keyup="
                      param.customer ? '' : autocompSearch(filter.customer)
                    "
                    :search-input.sync="
                      filter.customer.urlParam['codeOrName.contains']
                    "
                    :items="filter.customer.items"
                    item-value="id"
                    item-text="codeAndName"
                    :loading="filter.customer.loading"
                    class="ma-0 compact-field"
                    :readonly="param.customer != ''"
                    :append-icon="param.customer ? '' : 'mdi-menu-down'"
                    solo
                    flat
                    outlined
                    dense
                    no-data-text="Type the Customer Name."
                  ></v-autocomplete>
                  <v-autocomplete
                    v-show="param.customerType === 'Adjuster'"
                    hide-details="auto"
                    label="Search Adjuster"
                    v-model="param.adjuster"
                    ref="adjuster"
                    name="adjuster"
                    :search-input.sync="filter.adjuster.input"
                    @keyup="autocompSearch(filter.adjuster)"
                    :items="filter.adjuster.items"
                    :loading="filter.adjuster.loading"
                    item-value="id"
                    item-text="codeAndName"
                    class="ma-0 compact-field"
                    flat
                    outlined
                    dense
                    solo
                    no-data-text="Type the Adjuster."
                    :rules="[rules.required]"
                  >
                  </v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
          </v-card>

          <v-card flat class="mt-2">
            <isttoolbar light color="secondToolbar" class="">
              <span class="title">Details</span>
            </isttoolbar>
            <v-card flat outlined tile class="pt-2 pb-2">
              <v-row class="mx-1">
                <v-col cols="6" class="pa-0 pl-6" align-self="center">
                  <v-row justify="center">
                    <v-col class="ma-0 pa-0">
                      <p class="title">
                        Payment Type<span class="error--text">*</span>
                      </p>
                    </v-col>
                    <v-col cols="9" class="ma-0 pa-0 pr-16">
                      <v-autocomplete
                        label="Select Payment Type"
                        hide-details="auto"
                        v-model="param.receivedType"
                        ref="receivedType"
                        name="receivedType"
                        :items="filter.receivedType.items"
                        :loading="filter.receivedType.loading"
                        item-value="code"
                        item-text="value"
                        class="ma-0"
                        :rules="[rules.required]"
                        flat
                        outlined
                        dense
                        solo
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6" class="pa-0 pl-6" align-self="center">
                  <v-row justify="center">
                    <v-col class="ma-0 pa-0">
                      <p class="title">
                        Payment Category<span class="error--text">*</span>
                      </p>
                    </v-col>
                    <v-col cols="9" class="ma-0 pa-0 pr-16">
                      <v-autocomplete
                        label="Select Payment Category"
                        hide-details="auto"
                        v-model="param.paymentCategory"
                        ref="paymentCategory"
                        name="paymentCategory"
                        :items="filter.paymentCategory.items"
                        :loading="filter.paymentCategory.loading"
                        item-value="code"
                        item-text="value"
                        class="ma-0"
                        flat
                        outlined
                        dense
                        solo
                        :rules="[rules.required]"
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-row class="mx-1">
                <v-col cols="6" class="pa-0 pl-6" align-self="center">
                  <v-row justify="center">
                    <v-col class="ma-0 pa-0"
                      ><p class="title">
                        Currency<span class="error--text">*</span>
                      </p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pr-16">
                      <v-autocomplete
                        label="Select Currency"
                        hide-details="auto"
                        v-model="param.claimInfo.currency"
                        ref="currency"
                        name="currency"
                        :items="filter.currency.itemsToShow"
                        :loading="filter.currency.loading"
                        v-on:change="changeCurrency"
                        item-value="code"
                        :item-text="currencyTextItem"
                        class="ma-0"
                        :rules="[rules.required]"
                        flat
                        outlined
                        dense
                        solo
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-row class="mx-1">
                <v-col cols="6" class="pa-0 pl-6" align-self="center">
                  <v-row justify="center">
                    <v-col class="ma-0 pa-0">
                      <p class="title">Exchange Rate</p>
                    </v-col>
                    <v-col cols="9" class="ma-0 pa-0 pr-16">
                      <v-text-field
                        hide-details="auto"
                        label="Exchange Rate"
                        ref="excRate"
                        name="excRate"
                        class="ma-0 input-right"
                        v-model="param.excRate"
                        readonly
                        flat
                        outlined
                        dense
                        solo
                        :loading="param.excRateLoading"
                      >
                      </v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-row class="mx-1">
                <v-col cols="6" class="pa-0 pl-6" align-self="center">
                  <v-row justify="center">
                    <v-col class="ma-0 pa-0"><p class="title">Detail</p></v-col>
                    <v-col cols="9" class="ma-0 pa-0 pr-16">
                      <v-textarea
                        flat
                        outlined
                        dense
                        solo
                        v-model="param.detail"
                        hide-details="auto"
                        name="detail"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-row class="ma-0 pa-0">
                <v-col>
                  <v-card class="mr-5 pb-3">
                    <isttoolbar
                      title="Client"
                      dark
                      color="primary"
                    ></isttoolbar>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Amount</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 pl-6">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            hide-details="auto"
                            v-money="amountChange.amountClient ? money : ''"
                            v-model="amountClient"
                            name="amountClient"
                            :class="
                              amountClient[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                            :readonly="param.customerType == 'Adjuster'"
                            @input="amountChange.amountClient = true"
                          >
                          </v-text-field>
                          <div
                            class="ma-0 pa-0"
                            v-show="param.customerType == 'Client'"
                          >
                            <span class="primary--text"
                              >Negative (-) Amount input for CCN to Client</span
                            ><br />
                            <span class="primary--text"
                              >Positive (+) Amount input for CDN to Client</span
                            >
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Deductible</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 pl-6">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            v-money="amountChange.deductibleClient ? money : ''"
                            hide-details="auto"
                            v-model="deductibleClient"
                            name="deductibleClient"
                            :class="
                              deductibleClient[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                            :readonly="param.customerType == 'Adjuster'"
                            @input="amountChange.deductibleClient = true"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Others</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 pl-6">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            v-money="amountChange.othersClient ? money : ''"
                            v-model="othersClient"
                            hide-details="auto"
                            name="othersClient"
                            :class="
                              othersClient[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                            readonly
                            @input="amountChange.othersClient = true"
                            
                          >
                            <!-- @keyup="reduceUnderwriterAmount()" -->
                            <!-- :readonly="param.customerType == 'Adjuster'" -->
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Total</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 pl-6">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            readonly
                            :value="formatMoney(totalClient)"
                            hide-details="auto"
                            name="totalClient"
                            ref="totalClient"
                            style="font-weight: bold"
                            :class="
                              totalClient[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-card>
                </v-col>
                <v-col>
                  <v-card class="pb-3">
                    <isttoolbar
                      title="Underwriter"
                      dark
                      color="primary"
                    ></isttoolbar>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Amount</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            v-money="
                              amountChange.amountUnderwriter ? money : ''
                            "
                            v-model="amountUnderwriter"
                            hide-details="auto"
                            name="amountUnderwriter"
                            ref="amountUnderwriter"
                            :class="
                              amountUnderwriter[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                            :readonly="param.customerType == 'Adjuster'"
                            @input="amountChange.amountUnderwriter = true"
                          ></v-text-field>
                          <span style="color: transparent">I</span>
                          <br />
                          <span style="color: transparent">I</span>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Deductible</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            v-money="
                              amountChange.deductibleUnderwriter ? money : ''
                            "
                            hide-details="auto"
                            v-model="deductibleUnderwriter"
                            name="deductibleUnderwriter"
                            ref="deductibleUnderwriter"
                            :class="
                              deductibleUnderwriter[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                            :readonly="param.customerType == 'Adjuster'"
                            @input="amountChange.deductibleUnderwriter = true"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Adjuster Fee</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            v-money="
                              amountChange.adjusterFeeUnderwriter ? money : ''
                            "
                            hide-details="auto"
                            v-model="adjusterFeeUnderwriter"
                            ref="adjusterFee"
                            name="adjusterFee"
                            :class="
                              adjusterFeeUnderwriter[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                            :readonly="param.customerType == 'Client'"
                            @input="amountChange.adjusterFeeUnderwriter = true"
                          ></v-text-field>
                          <div
                            class="ma-0 pa-0"
                            v-show="param.customerType == 'Adjuster'"
                          >
                            <span class="primary--text"
                              >Negative (-) Adjuster Fee input for CDN to
                              Adjuster</span
                            ><br />
                            <span class="primary--text"
                              >Positive (+) Adjuster Fee input for CCN to
                              Adjuster</span
                            >
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                      <v-row class="pa-0">
                        <v-col class="ma-0 pa-0 ml-3"
                          ><p class="title">Total</p></v-col
                        >
                        <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                          <v-text-field
                            flat
                            outlined
                            dense
                            solo
                            hide-details="auto"
                            name="totalUnderwriter"
                            :value="formatMoney(totalUnderwriter)"
                            style="font-weight: bold"
                            :class="
                              formatMoney(totalUnderwriter)[0] == '-'
                                ? 'ma-0 input-right my-text-style'
                                : 'ma-0 input-right'
                            "
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-card>
                </v-col>
              </v-row>

              <!-- <AmountView /> -->
            </v-card>
          </v-card>

          <!-- <v-card class="my-2">
            <v-card-title class="primary white--text">
              Sharing Percentage
            </v-card-title>
            <v-card-text>
              <v-data-table
                :headers="sharingPercentHeaders"
                :items="sharingPercentItems"
                :loading="sharingPercentLoading"
                dense
                fixed-header
                hide-default-footer
              >
                <template v-slot:item.sharePercentage="{ item }">
                  <div>{{ currencyFormat(item.sharePercentage) }}</div>
                </template>
                <template v-slot:body.append>
                  <tr>
                    <td
                      v-for="header in sharingPercentHeaders"
                      :key="header.text"
                    >
                      <span v-if="header.value == 'insurerName'" class="title">
                        Total
                      </span>
                      <span
                        v-if="header.value == 'sharePercentage'"
                        class="title"
                      >
                        {{ getTotalSharingPercent("sharePercentage") }}
                      </span>
                      <span v-if="header.value == 'totalAmount'" class="title">
                        {{ getTotalSharingPercent("totalAmount") }}
                      </span>
                      <span v-if="header.value == 'paidAmount'" class="title">
                        {{ getTotalSharingPercent("paidAmount") }}
                      </span>
                      <span v-if="header.value == 'balance'" class="title">
                        {{ getTotalSharingPercent("balance") }}
                      </span>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card> -->

          <v-card outlined rounded="25" elevation="2" class="">
            <v-col>
              <v-row class="ml-2 pa-0">
                <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                  <v-row align="center" class="ma-0 pa-0">
                    <v-col cols="3" class="pa-1">
                      <span class="title">
                        Entry By
                        <!-- <span class="error--text">*</span> -->
                      </span>
                    </v-col>
                    <v-col cols="4" align-self="start" class="ma-0 pa-0">
                      <v-text-field
                        v-model="param.entryBy"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                      <v-text-field
                        v-model="param.entryDate"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                  <v-row align="center" class="ma-0 pa-0">
                    <v-col cols="3" class="pa-1">
                      <span class="title">
                        Approved By
                        <!-- <span class="error--text">*</span> -->
                      </span>
                    </v-col>

                    <v-col cols="4" align-self="start" class="ma-0 pa-0">
                      <v-text-field
                        v-model="param.approvedBy"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                      <v-text-field
                        v-model="param.approvedDate"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
            <v-col>
              <v-row class="ml-2 pa-0">
                <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                  <v-row align="center" class="ma-0 pa-0">
                    <v-col cols="3" class="pa-1">
                      <span class="title">
                        Modified By
                        <!-- <span class="error--text">*</span> -->
                      </span>
                    </v-col>
                    <v-col cols="4" align-self="start" class="ma-0 pa-0">
                      <v-text-field
                        v-model="param.modifiedBy"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                      <v-text-field
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        v-model="param.modifiedDate"
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                  <v-row align="center" class="ma-0 pa-0">
                    <v-col cols="3" class="pa-1">
                      <span class="title">
                        Closed By
                        <!-- <span class="error--text">*</span> -->
                      </span>
                    </v-col>

                    <v-col cols="4" align-self="start" class="ma-0 pa-0">
                      <v-text-field
                        v-model="param.closedBy"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                      <v-text-field
                        v-model="param.closedDate"
                        hide-details="auto"
                        ref="customer"
                        name="customer"
                        readonly
                        class="ma-0"
                        solo
                        flat
                        outlined
                        dense
                        no-data-text="Type the Customer Name."
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-form>
      </v-card-text>
    </v-card>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.onError"
    >
    </submitdialog>

    <confirmdialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      v-on:yes="confirmDialog.onYes"
      v-on:no="confirmDialog.onNo"
    >
    </confirmdialog>

    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card v-show="!dialog.success && !dialog.error && !dialog.field && !dialog.errorFailed">
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card v-show="dialog.success || dialog.error || dialog.field || dialog.errorFailed">
        <v-card-title
          v-if="dialog.success"
          class="justify-center"
          style="word-break: inherit"
          >Your Data has been Saved</v-card-title
        >
        <v-card-title
          v-else-if="dialog.error"
          class="justify-center"
          style="word-break: inherit"
        >
          Please input value to client or value from underwriter first
        </v-card-title>
        <v-card-title
          v-else-if="dialog.errorFailed"
          class="justify-center"
          style="word-break: inherit"
          >Your Data Failed To Saved</v-card-title
        >
        <v-card-title
          v-else-if="dialog.field"
          class="justify-center"
          style="word-break: inherit"
          >Please select Client / Adjuster</v-card-title
        >
        <v-card-text
          v-if="dialog.message != ''"
          class="d-flex justify-center error--text"
          style="word-break: inherit"
        >
          {{ dialog.message }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              dialog.success
                ? edit()
                : ((dialog.show = false), (dialog.message = ''))
            "
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-dialog>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
// import AmountView from "@/features/claims/standardTransaction/tab/amount";
import API from "@/core/api/api.js";
import { VMoney } from "v-money";
import axios from "axios";
import confirmdialog from "@/components/dialog/confirmDialog";
import submitdialog from "@/components/dialog/submitDialog";
import istdatepicker from "@/components/inputs/istDatePicker";
import formatDateHelper from "@/helper/formatDateHelper";

export default {
  props: ["show", "claimData", "availLossRes"],
  components: { isttoolbar, confirmdialog, submitdialog, istdatepicker },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    snackbar: false,
    invoiceLoading: false,
    snackbarText: "",
    formHasErrors: false,
    dialog: {
      show: false,
      success: false,
      error: false,
      field: false,
      errorFailed: false,
      message: "",
    },
    tab: 0,
    amountClient: 0,
    deductibleClient: 0,
    othersClient: 0,
    amountUnderwriter: 0,
    deductibleUnderwriter: 0,
    adjusterFeeUnderwriter: 0,
    totalDataClient: 0,
    reportDialog: { show: false },
    param: {
      id: "",
      status: "Entry",
      transNo: "{auto generated}",
      transDate: new Date().toISOString().substr(0, 10),
      customer: "",
      adjuster: "",
      adjusterCode: "",
      customerType: "Client",
      claimCustomer: "",
      paymentCategory: "",
      claimInfo: {
        idAccount: "",
        claimNo: "",
        claimItems: [],
        currency: "",
        reOpen: "",
        insured: "",
        lossDate: "",
        causeOfLoss: "",
      },
      policyInfo: {
        class: "",
        policyNumber: "",
        underwriter: "",
      },
      excRate: "0.00",
      excRateLoading: false,
      receivedType: "",
      detail: "",
      valueToClient: {
        total: 0,
      },
      valueToUnderwriter: {
        total: 0,
      },
      entryBy: "",
      entryDate: "",
      modifiedBy: "",
      modifiedDate: "",
      approvedBy: "",
      approvedDate: "",
      closedBy: "",
      closedDate: "",
    },
    sharingPercentHeaders: [
      {
        text: "Underwriter",
        value: "insurerCode",
        sortable: false,
        align: "start",
      },
      {
        text: "Name",
        value: "insurerName",
        sortable: false,
      },
      {
        text: "% Share",
        value: "sharePercentage",
        sortable: false,
      },
      {
        text: "Total Amount",
        value: "totalAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "paidAmount",
        sortable: false,
      },
      {
        text: "Paid Date",
        value: "paidDate",
        sortable: false,
      },
      {
        text: "Balance",
        value: "balance",
        sortable: false,
      },
    ],
    valueClaim: [],
    claimLoading: false,
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        // url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: false,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
        lookupUrl: 1,
      },
      paymentCategory: {
        items: [],
        url: "/config/api/master-parameter/?size=-1&isActive.equals=1&module.equals=PAYMENT_CATEGORY",
        loading: true,
        lookupUrl: 1,
        request: null,
      },
      adjuster: {
        name: "adjuster",
        input: "",
        items: [],
        url: "/clients/api/account/adjuster/?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 1,
      },
    },
    confirmDialog: {
      show: false,
      message: "",
      onYes: function () {},
      onNo: function () {},
    },
    overlay: false,
    lossReserve: [],
    submitDialog: {
      show: false,
      mode: "",
      title: "",
      message: "",
      onSuccess: function () {},
      onError: function () {},
    },
    sharingPercentItems: [],
    sharingPercentLoading: false,
    toInit: [
      // "customer",
      "adjuster",
      "receivedType",
      "currency",
      "paymentCategory",
    ],
    successData: {},
    amountChange: {
      amountClient: true,
      deductibleClient: true,
      othersClient: true,
      amountUnderwriter: true,
      deductibleUnderwriter: true,
      adjusterFeeUnderwriter: true,
    },
    rules: {
      required: (value) => !!value || "Required.",
    },
    clientRadioDisabled: false,
    disableSave: false,
    saveKey: 1,
    transDateLoading: false,
  }),
  mounted() {
    // alert("mounted")
  },
  created() {
    // this.initList(this.toInit);
    // alert("created")
  },
  computed: {
    watchAmountClient() {
      console.log("watchAmountClient");
      return this.amountClient;
    },
    watchDeductibleClient() {
      return this.deductibleClient;
    },
    watchOthersClient() {
      return this.othersClient;
    },
    totalClient() {
      return (
        Number(this.currencyToFloat(this.amountClient)) +
        Number(this.currencyToFloat(this.deductibleClient)) +
        Number(this.currencyToFloat(this.othersClient))
      );
    },
    totalUnderwriter() {
      return (
        Number(this.currencyToFloat(this.amountUnderwriter)) +
        Number(this.currencyToFloat(this.deductibleUnderwriter)) +
        Number(this.currencyToFloat(this.adjusterFeeUnderwriter))
      );
    },
    form() {
      return {
        receivedType: this.param.receivedType,
        currency: this.param.claimInfo.currency,
        adjuster: this.param.adjuster,
        paymentCategory: this.param.paymentCategory,
      };
    },
    formWithoutAdjuster() {
      return {
        receivedType: this.param.receivedType,
        currency: this.param.claimInfo.currency,
        paymentCategory: this.param.paymentCategory,
      };
    },
  },
  watch: {
    show: {
      handler: function () {
        if (this.show == true) {
          this.getBussDate();
          this.chooseClaim(this.claimData);
          let empty = false;
          for (let l of this.toInit) {
            if (this.filter[l].items.length < 1) {
              empty = true;
            }
          }
          if (empty) {
            this.initList(this.toInit);
            // } else {
            //   this.filterCurrency();
          }
          this.clearForm();
        }
      },
      deep: true,
    },
    watchAmountClient(val) {
      this.amountClient = val;
      if (this.amountClient === "0.00") {
        let newVal = this.currencyFormat((this.currencyToFloat(val) * -1) - this.currencyToFloat(this.othersClient))
        this.amountUnderwriter = newVal //val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = newVal //val;
      } else if (this.amountClient[0] == "-") {
        let newVal = this.currencyFormat((this.currencyToFloat(val) * -1) - this.currencyToFloat(this.othersClient))
        this.amountUnderwriter = newVal //val.substring(1);
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = newVal //val.substring(1);
      } else {
        let newVal = this.currencyFormat((this.currencyToFloat(val) * -1) - this.currencyToFloat(this.othersClient))
        this.amountUnderwriter = newVal //"-" + val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = newVal //"-" + val;
      }
    },
    watchDeductibleClient(val) {
      this.deductibleClient = val;
      if (this.deductibleClient === "0.00") {
        this.deductibleUnderwriter = val;
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val;
      } else if (this.deductibleClient[0] == "-") {
        this.deductibleUnderwriter = val.substring(1);
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val.substring(1);
      } else {
        this.deductibleUnderwriter = "-" + val;
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = "-" + val;
      }
    },
    watchOthersClient(val) {
      this.othersClient = val;
      if (this.othersClient[0] == "-") {
        let newVal = this.currencyFormat((this.currencyToFloat(this.amountClient) * -1) - this.currencyToFloat(val))
        this.amountUnderwriter = newVal //val.substring(1);
        this.$refs.amountUnderwriter.$el.getElementsByTagName("input")[0].value =
          newVal //val.substring(1);
      } else {
        let newVal = this.currencyFormat((this.currencyToFloat(this.amountClient) * -1) - this.currencyToFloat(val))
        this.amountUnderwriter = newVal //"-" + val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName("input")[0].value =
          newVal //"-" + val;
      }
    },
  },
  methods: {
    // async getClaimById(id) {
    //   this.overlay = true;
    //   let resp = await API.get(
    //     "claims/api/claims/claims_maintenance/" + id,
    //   );
    //   if (resp.data.code === 0) {
    //     this.overlay = false;
    //   }
    // },
    async getListClaim() {
      this.claimLoading = true;
      let resp = await API.get(
        "claims/api/claims/claims_maintenance/?recStatus.equals=1&codeAccount.equals=" +
          this.param.customer,
        {}
      );
      console.log(resp);
      this.claimLoading = false;
      if (resp.data.code === 0) {
        this.valueClaim = resp.data.data;
      }
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        if (l == "currency") {
          this.filterCurrency();
        }
        this.filter[l].loading = false;
      }
    },
    filterCurrency() {
      // comment - Req at 2021-12-23
      // let vm = this;
      if (this.param.customerType == "Client") {
        // let grouped = this.claimData.lossReserve.reduce(function (rv, x) {
        //   (rv[x.currency] = rv[x.currency] || []).push(x);
        //   return rv;
        // }, {});
        // let currList = [];
        // for (let gItem in grouped) {
        //   grouped[gItem].sort(this.compare);
        //   if (
        //     grouped[gItem].length > 0 &&
        //     ["1", "2", "3"].indexOf(grouped[gItem][0].categoryCode) != -1
        //   ) {
        //     currList.push(gItem);
        //   }
        // }
        // this.filter.currency.itemsToShow = this.filter.currency.items.filter(
        //   (d) => currList.indexOf(d.code) != -1
        // );
        // this.filter.currency.itemsToShow = this.filter.currency.items.filter(
        //   (d) => vm.availLossRes[d.code.toLowerCase()].value == true
        // );
        let claimStateLossRes = this.claimData.lossReserve.filter(
          (value) => value.categoryCode == "1"
        );
        let grouped = claimStateLossRes.reduce(function (rv, x) {
          (rv[x.currency] = rv[x.currency] || []).push(x);
          return rv;
        }, {});
        this.filter.currency.itemsToShow = this.filter.currency.items.filter(
          (d) => grouped[d.code] && grouped[d.code].length > 0
        );
      } else {
        this.filter.currency.itemsToShow = this.filter.currency.items;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    clickDialog() {
      if (this.param.customer === "" || this.param.customer == null) {
        this.dialog.field = true;
        this.dialog.show = true;
      } else {
        this.reportDialog = { show: true };
        this.getListClaim();
      }
    },
    back() {
      console.log("harusnya close");
      this.$emit("close");
    },

    async changeCurrency(e) {
      this.param.excRateLoading = true;
      this.initList(["currency"]);
      let rate = await this.getExchangeRate(e);
      this.param.excRate = this.currencyFormat(rate);
      this.param.excRateLoading = false;
    },

    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },

    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    async chooseClaim(claim) {
      console.log("claim data", claim);
      let dataClaim = claim;
      // this.param.claimInfo.idAccount = dataClaim.accountId;
      this.param.customer = dataClaim.accountId;
      this.param.adjusterCode = dataClaim.detail.adjuster;
      this.getAdjusterid();
      this.filter.customer.items = [
        { id: dataClaim.accountId, codeAndName: dataClaim.accountName },
      ];
      this.param.claimInfo.claimNo = dataClaim.claimNo;
      this.param.claimInfo.claimItems.push(dataClaim.claimNo);
      this.param.claimInfo.reOpen = dataClaim.reopen;
      this.param.claimInfo.insured = dataClaim.policyInfo.insured;
      this.param.claimInfo.lossDate = dataClaim.detail.lossDate;
      this.param.claimInfo.causeOfLoss = dataClaim.detail.causeOfLoss;
      this.param.policyInfo.class = dataClaim.policyInfo.riskCode;
      this.param.policyInfo.policyNumber = dataClaim.policyInfo.policyNo;
      this.param.policyInfo.underwriter = dataClaim.policyInfo.underwriterName;
      this.param.lossReserve = dataClaim.lossReserve;
      this.param.detail = dataClaim.detail.details;

      // filter currency yang tampil menyesuaikan loss reserve
      let availCurr = [];
      let lossIdrCount = dataClaim.lossReserve.filter(
        (d) => d.currency == "IDR"
      ).length;
      let lossUsdCount = dataClaim.lossReserve.filter(
        (d) => d.currency == "USD"
      ).length;
      if (lossIdrCount > 0) {
        availCurr.push("IDR");
      }
      if (lossUsdCount > 0) {
        availCurr.push("USD");
      }
      // this.filter.currency["itemsToShow"] = this.filter.currency.items.filter(
      //   (d) => availCurr.indexOf(d.code) != -1
      // );
    },

    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },

    convertValue(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return amount.toString();
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
    generate() {
      let vm = this;

      // cek mandatory
      if (this.param.customerType == "Client") {
        Object.keys(this.formWithoutAdjuster).forEach((f) => {
          console.log(f, this.formWithoutAdjuster[f]);
          if (!this.formWithoutAdjuster[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        });
      } else {
        Object.keys(this.form).forEach((f) => {
          console.log(f, this.form[f]);
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        });
      }

      let filteredLossReserve = this.param.lossReserve
        ? this.param.lossReserve.filter(
            (value) => value.currency == vm.param.claimInfo.currency
          )
        : [];
      filteredLossReserve.sort(this.compare);
      let lossResItem = filteredLossReserve[0];
      let lowerCurr = this.param.claimInfo.currency.toLowerCase();
      console.log("formHasErrors", this.formHasErrors);
      if (this.formHasErrors) {
        this.formHasErrors = false;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        (this.totalClient === 0 || this.totalUnderwriter === 0)
      ) {
        this.submitDialog.title =
          "Please input value to client or value from underwriter first";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Adjuster" &&
        this.currencyToFloat(this.adjusterFeeUnderwriter) === 0
      ) {
        this.submitDialog.title = "Please input adjuster fee first";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        this.totalClient + this.totalUnderwriter != 0
      ) {
        this.submitDialog.title =
          "The total value to client and the total value to underwriter must be the same";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Adjuster" &&
        this.totalClient != 0 &&
        this.totalClient + this.totalUnderwriter != 0
      ) {
        this.submitDialog.title =
          "The total value to client and the total value to underwriter must be the same";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        (lossResItem == null || lossResItem == undefined)
      ) {
        this.submitDialog.title = "You don't have data in tab Loss Reserve";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        lossResItem != null &&
        lossResItem != undefined &&
        lossResItem.categoryDescription.includes("Estimated")
      ) {
        this.submitDialog.title =
          "Your Status Data in tab Loss Reserve still Estimated";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
        // } else if (
        //   this.param.customerType == "Client" &&
        //   // gen 1
        //   // lossResItem != null &&
        //   // lossResItem != undefined &&
        //   // Math.abs(this.currencyToFloat(this.amountClient)) >
        //   //   Math.abs(this.currencyToFloat(lossResItem.amount))
        //   // gen 2
        //   // Math.abs(this.currencyToFloat(this.amountClient)) >
        //   //   Math.abs(this.getNetReserve(filteredLossReserve))
        //   // gen 3
        //   // Math.abs(this.currencyToFloat(this.amountClient)) >
        //   //   Math.abs(this.availLossRes[lowerCurr].netRes)
        //   // gen 4
        //   this.currencyToFloat(this.amountClient) +
        //     this.availLossRes[lowerCurr].netRes <
        //     0
        // ) {
        //   this.submitDialog.title =
        //     // "Amount Client cannot be greater than Net Reserve";
        //     "Error: Could not create CCN to Client because Net Reserve is equal to 0. *Based on Amount Client";
        //   this.submitDialog.mode = "error";
        //   this.submitDialog.onError = function () {
        //     vm.submitDialog.show = false;
        //   };
        //   this.submitDialog.show = true;
        //   this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        this.totalClient < 0 &&
        this.availLossRes[lowerCurr].netRes == 0
      ) {
        this.submitDialog.title =
          "Error: Could not create CCN to Client because Net Reserve is equal to 0";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        // gen 1
        // Math.abs(this.totalClient) >
        //   Math.abs(this.getNetReserve(filteredLossReserve))
        // gen 2
        // Math.abs(this.totalClient) >
        //   Math.abs(this.availLossRes[lowerCurr].netRes)
        // gen 3
        this.totalClient + this.availLossRes[lowerCurr].netRes < 0
      ) {
        this.submitDialog.title =
          "Total Client/Underwriter cannot be greater than Net Reserve";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        this.totalClient + this.availLossRes[lowerCurr].amount < 0
      ) {
        this.submitDialog.title =
          "Total Client/Underwriter cannot be greater than available total collection";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        this.saveKey++;
      } else if (
        this.param.customerType == "Client" &&
        // gen 1
        // Math.abs(this.currencyToFloat(this.amountClient)) ==
        //   Math.abs(this.getNetReserve(filteredLossReserve)) &&
        // gen 2
        // Math.abs(this.currencyToFloat(this.amountClient)) ==
        //   Math.abs(this.availLossRes[lowerCurr].amount) &&
        // gen 3
        this.currencyToFloat(this.totalClient) +
          this.availLossRes[lowerCurr].amount ==
          0 &&
        this.param.paymentCategory == "3"
      ) {
        this.submitDialog.title =
          "Select the payment category: Final Claim Payment";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        (this.param.claimInfo.currency == "IDR" &&
          Math.abs(this.currencyToFloat(this.amountClient)) > 1400000000) ||
        (this.param.claimInfo.currency == "USD" &&
          Math.abs(this.currencyToFloat(this.amountClient)) > 100000)
      ) {
        this.confirmDialog.message =
          "Are you sure you want to continue with the amount of " +
          this.param.claimInfo.currency +
          " " +
          this.amountClient +
          "?";
        this.confirmDialog.onYes = function () {
          vm.doAdd();
          vm.confirmDialog.show = false;
        };
        this.confirmDialog.onNo = function () {
          vm.confirmDialog.show = false;
          this.saveKey++;
        };
        this.confirmDialog.show = true;
      } else {
        this.doAdd();
      }
    },
    doAdd() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.field = false;
      this.dialog.errorFailed = false;
      this.dialog.show = true;
      this.disableSave = true;
      let vm = this;
      const docUrl = "claims/api/claims/standard-transaction/add";
      let receivedTypeItem = this.filter.receivedType.items.filter(
        (value) => value.code == vm.param.receivedType
      );
      let paymentCategoryItem = this.filter.paymentCategory.items.filter(
        (value) => value.code == vm.param.paymentCategory
      );
      let accountItem = [];
      if (this.param.customerType == "Adjuster") {
        accountItem = this.filter.adjuster.items.filter(
          (value) => value.id == vm.param.adjuster
        );
      } else {
        accountItem = this.filter.customer.items.filter(
          (value) => value.id == vm.param.customer
        );
      }
      const paramsJSON = {
        accountType: this.param.customerType,
        clientAmt: this.currencyToFloat(this.amountClient),
        clientDeductible: this.currencyToFloat(this.deductibleClient),
        clientOthers: this.currencyToFloat(this.othersClient),
        clientTotal: this.totalClient,
        createdDate: this.param.transDate,//new Date().toISOString().substr(0, 10),
        currency: this.param.claimInfo.currency,
        details: this.param.detail,
        exchangeRate: this.currencyToFloat(this.param.excRate),
        id: null,
        // idAccount: this.param.claimInfo.idAccount,
        idAccount:
          accountItem.length > 0
            ? accountItem[0].id
            : this.param.claimInfo.idAccount,
        idClaim: this.param.claimInfo.claimNo,
        insurerAmt: this.currencyToFloat(this.amountUnderwriter),
        insurerDeductible: this.currencyToFloat(this.deductibleUnderwriter),
        insurerOthers: this.currencyToFloat(this.adjusterFeeUnderwriter),
        insurerTotal: this.totalUnderwriter,
        isDeleted: 0,
        paycategoryCode: this.param.paymentCategory,
        paycategoryDesc:
          paymentCategoryItem.length > 0
            ? paymentCategoryItem[0].value
            : this.param.paymentCategory,
        paytypeCode: this.param.receivedType,
        paytypeDesc:
          receivedTypeItem.length > 0
            ? receivedTypeItem[0].value
            : this.param.receivedType,
        recStatus: 0,
        trantType: "",
      };
      const param = JSON.stringify(paramsJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            this.param.id = resp.data.tclaimCollection.id;
            this.successData = resp.data.tclaimCollection;
            this.dialog.success = true;
            this.dialog.show = true;
            this.disableSave = false;
            this.saveKey++;
          } else {
            this.dialog.errorFailed = true;
            this.dialog.show = true;
            this.disableSave = false;
            this.dialog.message = resp.data.errorMessage.toUpperCase();
            this.saveKey++;
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.errorFailed = true;
          this.dialog.show = true;
          this.disableSave = false;
          this.saveKey++;
        });
    },

    edit() {
      this.$emit("saveSuccess", this.successData);
    },

    onkeyupInvoiceSearch(header) {
      this.searchClientCreditor(header.searchValue);
    },

    async searchClientCreditor(inv) {
      this.invoiceLoading = true;
      let appendix = "";
      if (inv !== null) {
        appendix = "claimNo.equals=" + inv;
      }
      let url =
        "claims/api/claims/claims_maintenance/?" +
        appendix +
        "&codeAccount.equals=" +
        this.param.customer +
        "&recStatus.equals=1";
      API.get(url)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.valueClaim = resp.data.data;
          } else {
            this.dialog.error = true;
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.errorMessage = err.toUpperCase();
          }
          this.invoiceLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getTotalSharingPercent(data) {
      let total = 0;
      for (let key of this.sharingPercentItems) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    compare(a, b) {
      if (a.transDate > b.transDate) {
        return -1;
      }
      if (a.transDate < b.transDate) {
        return 1;
      }
      return 0;
    },
    customerTypeChange() {
      if (this.param.customerType == "Client") {
        this.param.customer = this.claimData.accountId;
        this.filter.customer.items = [
          {
            id: this.claimData.accountId,
            codeAndName: this.claimData.accountName,
          },
        ];
      } else if (this.param.customerType == "Adjuster") {
        this.param.customer = "";
      }
      this.filterCurrency();

      this.amountChange.amountClient = false;
      this.amountChange.deductibleClient = false;
      this.amountChange.othersClient = false;
      this.amountChange.amountUnderwriter = false;
      this.amountChange.deductibleUnderwriter = false;
      this.amountChange.adjusterFeeUnderwriter = false;

      this.amountClient = "0.00";
      this.deductibleClient = "0.00";
      this.othersClient = "0.00";
      this.amountUnderwriter = "0.00";
      this.deductibleUnderwriter = "0.00";
      this.adjusterFeeUnderwriter = "0.00";
    },
    clearForm() {
      this.param.customerType = "Client";
      this.param.receivedType = "";
      this.param.paymentCategory = "";
      this.param.claimInfo.currency = "";
      this.param.excRate = "0.00";
      // this.param.detail = "";
      this.param.adjuster.length > 0
        ? this.getAdjusterid()
        : (this.param.adjuster = "");

      Object.keys(this.form).forEach((f) => {
        if (this.$refs[f] != undefined) {
          this.$refs[f].resetValidation();
        }
      });

      // let idrLossRes = this.claimData.lossReserve.filter(
      //   (d) => d.currency == "IDR"
      // );
      // let usdLossRes = this.claimData.lossReserve.filter(
      //   (d) => d.currency == "USD"
      // );
      // idrLossRes.sort(this.compare);
      // usdLossRes.sort(this.compare);
      if (
        // (idrLossRes.length > 0 &&
        //   ["1", "2", "3"].indexOf(idrLossRes[0].categoryCode) != -1) ||
        // (usdLossRes.length > 0 &&
        //   ["1", "2", "3"].indexOf(usdLossRes[0].categoryCode) != -1)
        this.availLossRes.idr.value ||
        this.availLossRes.usd.value
      ) {
        console.log("masuk client");
        // this.param.customerType = "Client";
        // this.clientRadioDisabled = false;
      } else {
        console.log("masuk adjuster");
        // this.param.customerType = "Adjuster";
        // this.clientRadioDisabled = true;
      }

      this.customerTypeChange();
    },
    getAdjusterid() {
      if (this.param.adjusterCode) {
        API.get("/clients/api/account/adjuster/?codeOrName.contains=").then(
          (resp) => {
            var listAdjusters = resp.data.data;
            var result = listAdjusters.filter(
              (listAdjuster) => listAdjuster.code == this.param.adjusterCode
            );
            this.param.adjuster = result[0].id;
          }
        );
      }
    },
    getBussDate() {
      this.transDateLoading = true;
      return new Promise((resolve) => {
        API.get("report/api/business-date")
        .then((resp) => {
          this.param.transDate = formatDateHelper.formatDateFromDMYToYMD(resp.data, "-", "-");
          resolve(true)
          this.transDateLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.transDateLoading = false;
        });
      })
    },
    // reduceUnderwriterAmount() {
    //   let amountClient = this.currencyToFloat(this.amountClient);
    //   let othersClient = this.currencyToFloat(this.othersClient);
    //   let result = this.currencyFormat((amountClient * -1) - othersClient);
    //   this.amountChange.amountUnderwriter = false;
    //   this.amountUnderwriter = result;
    // },
  },
};
</script>

<style scoped>
.spanColor {
  color: red;
}
::v-deep .input-right input {
  text-align: right;
}
::v-deep .my-text-style input {
  color: red;
}
</style>
