.btn-disabled{
    pointer-events: none;
}
.fr-popup{
    z-index: 9999 !important;
    left: 636.5px;
    top: 196px;
}
.noborder{
    border: none !important;
}
a,#fr-logo > span{
    display: none;
}