<template>
  <v-card flat>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Adjustment No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Adjustment Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            v-model="param.date"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            readonly
            v-model="param.customerType"
            row
            hide-details="auto"
            class="ma-0"
            dense
            :mandatory="false"
            :value="param.customerType"
          >
            <v-radio label="Client" value="CLIENT"></v-radio>
            <v-radio label="Agent" value="AGENT"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row
        v-show="param.customerType == 'CLIENT'"
        align="center"
        class="ml-2"
      >
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            v-model="param.client"
            ref="client"
            name="client"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row v-show="param.customerType == 'AGENT'" align="center" class="ml-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            v-model="param.client"
            ref="agent"
            name="agent"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-text-field>
        </v-col>
      </v-row>

      <v-form>
        <v-row>
          <v-col cols="5">
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Type </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.type }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> No </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.no }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Term </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{ this.param.term }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Currency </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.currency }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Bill Date </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{ this.param.billDate }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Detail </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.detail }}</span>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5">
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Original Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">
                  {{ formatMoney(Number(this.param.originalAmount)) }}</span
                >
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Exchange Rate </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{
                  formatMoney(Number(this.param.exchangeRate))
                }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Balance </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{
                  formatMoney(Number(this.param.balance))
                }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Adjustment Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <v-text-field
                  readonly
                  v-model="param.adjustmentAmount"
                  @input="amountChanged = true"
                  class="ma-0 input-right"
                  ref="amount"
                  single-line
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field
              ></v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>

      <v-col>
        <v-row class="ml-0 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Entry By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  readonly
                  v-model="param.entryBy"
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  readonly
                  v-model="param.entryDate"
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-form>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";

export default {
  components: {},
  directives: {},
  props: ["detailDialog"],

  data: () => ({
    amountChanged: false,
    radios: "",

    afterchooseTransaction: false,
    tanggal: false,

    param: {
      entryBy: "",
      entryDate: "",
      id: 0,
      date: new Date().toISOString().substr(0, 10),
      customerType: "CLIENT",
      client: "",
      agent: "",
      type: "",
      no: "",
      term: 0,
      currency: "",
      billDate: "",
      detail: "",
      originalAmount: "0.00",
      exchangeRate: "0.00",
      balance: "0.00",
      adjustmentAmount: "0.00",
      accType: "",
      code: "",
    },
    paramDialog: {
      client: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },

    model: false,
    items: [],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,

    rateChanged: false,
    overlay: false,
  }),
  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (after && this.detailDialog.type == "ADJ") {
          this.disableForm = true;
          this.getItemData();
        }
      },
      deep: true,
    },
  },

  computed: {},
  mounted() {},
  async created() {
    if (this.detailDialog.type == "ADJ") {
      this.disableForm = true;
      await this.getItemData();
    }
  },

  methods: {
    async getItemData() {
      this.dialogLoading = true;
      let resp = await API.get(
        "/finance/api/finance/adjustment/" + this.detailDialog.id,
        {}
      );
      if (resp.data.code === 0) {
        this.dialogLoading = false;

        const data = resp.data.data;
        this.param.date = data.createdDate;
        this.param.type = data.acctType;
        this.param.no = data.acctNo;
        this.param.term = data.term;
        this.param.currency = data.currency;
        this.param.billDate = data.tranDate;
        this.param.detail = data.description;
        this.param.balance = data.balance;
        this.param.entryBy = data.createdBy;
        this.param.entryDate = data.createdDate;
        this.param.originalAmount = data.amountOri;
        this.param.exchangeRate = data.exchangeRate;
        this.param.adjustmentAmount =
          this.formatCommaCurrency(String(data.amountAdjust), "IDR").replace(
            "IDR ",
            ""
          ) + ".00";
        this.param.client = data.custCode + " - " + data.custName;
        this.param.code = data.adjustmentNo;
        this.param.customerType = data.custType;
        this.$emit("populated");
      } else {
        this.$emit("populated");
      }
    },
  },
};
</script>>
