<template>
  <v-card flat>
    <v-form :readonly="disableForm">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Credit Application No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.creditAppNo"
            hide-details="auto"
            ref="creditAppNo"
            name="creditAppNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
          >
            <v-radio
              label="Client"
              value="CLIENT"
              :disabled="param.custType == 'AGENT'"
            ></v-radio>
            <v-radio
              label="Agent"
              value="AGENT"
              :disabled="param.custType == 'CLIENT'"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>

      <br />
      <v-toolbar color="grey lighten-2" dense flat>
        <v-toolbar-title class="font-weight-medium"
          >Cash/Credit Note Transaction</v-toolbar-title
        ></v-toolbar
      >
      <br />

      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Ref. No.<span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.refNo"
            ref="refNo"
            name="refNo"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Original Amount </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="amount"
            name="amount"
            class="ma-0"
            v-model="param.amount"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Currency </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            :item-text="currencyTextItem"
            class="ma-0"
            append-icon=""
            readonly
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Ori Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Type </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.transType"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :loading="search.transType.loading"
            item-value="code"
            :item-text="transTypeTextItem"
            class="ma-0"
            append-icon=""
            readonly
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Bill Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="billDate"
            name="billDate"
            class="ma-0"
            v-model="param.billDate"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Current Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="currentExcRate"
            name="currentExcRate"
            class="ma-0"
            v-model="param.currentExcRate"
            :loading="currentRateLoading"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Detail </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            ref="detail"
            name="detail"
            class="ma-0"
            v-model="param.detail"
            :rows="2"
            flat
            outlined
            dense
            solo
            readonly
          ></v-textarea>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance (L C) </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="balanceLc"
            name="balanceLc"
            class="ma-0"
            v-model="param.balanceLc"
            :loading="currentRateLoading"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1"
      :options.sync="invOptions"
      height="300"
      fixed-header
    >
      <template v-slot:item.balanceAmount="{ item }">
        <div>{{ currencyFormat(item.balanceAmount) }}</div>
      </template>
      <template v-slot:item.paidAmount="{ item }">
        <div>{{ currencyFormat(item.paidAmount) }}</div>
      </template>
      <template v-slot:item.exchgRate="{ item }">
        <div>{{ currencyFormat(item.exchgRate) }}</div>
      </template>
      <template v-slot:item.equivAmount="{ item }">
        <div>{{ currencyFormat(item.equivAmount) }}</div>
      </template>
      <template v-slot:item.type="{}">
        <div>INV</div>
      </template>
      <template v-slot:body.append>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title">Total </span>
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title">
              Credit Balance
            </span>
            <span v-else-if="header.value == 'equivAmount'" class="title">
              <!-- {{ param.creditBalance }} -->
              {{ currencyFormat(getCreditBalance()) }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <form>
      <v-row class="mx-2">
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Entry By </span>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                hide-details="auto"
                ref="entryName"
                name="entryName"
                class="ma-0"
                v-model="param.entryName"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                hide-details="auto"
                ref="entryDate"
                name="entryDate"
                class="ma-0"
                v-model="param.entryDate"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </form>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";

export default {
  components: {},
  directives: {},
  props: ["detailDialog"],

  data: () => ({
    param: {
      cashReceiptNo: "",
      creditAppNo: "",
      custType: "CLIENT",
      client: "",
      agent: "",
      customerCode: "",
      customer: "",
      refNo: "",
      amount: "",
      currency: "",
      excRate: "",
      transType: "",
      balance: "",
      billDate: "",
      currentExcRate: "",
      detail: "",
      balanceLc: "",
    },
    search: {
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
    },
    headers: [
      {
        text: "Invoice No",
        align: "start",
        sortable: false,
        value: "invoiceNo",
        add: "",
        rules: [],
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        searchValue: "",
      },
      {
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Balance",
        sortable: false,
        value: "balanceAmount",
        add: "",
        rules: [],
      },
      {
        text: "Pay Amount",
        sortable: false,
        value: "paidAmount",
        add: "",
        rules: [],
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
      },
      { text: "Equiv Amount", sortable: false, value: "equivAmount", add: "" },
      // { text: "", sortable: false, value: "action", add: "" },
    ],
    items: [],
    loading: false,
    disableForm: false,
    statusConfirm: false,
    overlay: true,
    journalDialog: false,
    currentRateLoading: false,
    invOptions: {
      itemsPerPage: -1,
      page: 1,
    },
  }),

  computed: {},

  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (after && this.detailDialog.type == "CA") {
          this.disableForm = true;
          this.getItemData();
          this.initList(["currency", "receivedType"]);
        }
      },
      deep: true,
    },
  },

  async created() {
    if (this.detailDialog.type == "CA") {
      this.disableForm = true;
      await this.getItemData();
      this.initList(["currency", "receivedType"]);
    }
  },

  methods: {
    async getItemData() {
      this.param.creditAppNo = this.detailDialog.id;
      await API.get(
        "/finance/api/finance/creditapplication/" + this.param.creditAppNo
      )
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data.creditApplicationDataDto;
            this.param.creditAppNo = dataResp.idCreditApplication;
            this.param.custType = dataResp.customerType;
            this.param.customerCode = dataResp.customerCode;
            this.param.customer =
              dataResp.customerCode + " - " + dataResp.customerName;
            this.param.refNo = dataResp.idCashReceipt;
            this.param.amount = this.currencyFormat(dataResp.oriAmount);
            this.param.currency = dataResp.currency;
            this.param.excRate = this.currencyFormat(dataResp.oriExchangeRate);
            this.param.transType = dataResp.type;
            this.param.balance = this.currencyFormat(dataResp.balance);
            this.param.billDate = dataResp.billDate;
            this.param.currentExcRate = "";
            this.param.detail = dataResp.detail;
            this.param.balanceLc = "";
            this.items = dataResp.listInvoice.map(function (row) {
              row.exchgRate = row.exchangeRate;
              if (dataResp.currency == "IDR") {
                row.equivAmount = row.paidAmount * row.exchangeRate;
              } else {
                row.equivAmount = row.paidAmount / row.exchangeRate;
              }
              return row;
            });
            this.param.entryName = dataResp.entryBy;
            this.param.entryDate = dataResp.entryDate;
            this.$emit("populated");
          } else {
            this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("populated");
        });

      // get cash detail
      let paramJSON = {
        "accountNo.equals": this.param.refNo,
      };
      let cashResp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount",
        paramJSON
      );
      if (cashResp.data.code == 0) {
        if (cashResp.data.listTransaction.length > 0) {
          let dataResp = cashResp.data.listTransaction[0];
          this.param.detail = dataResp.tranDesc;
          this.param.amount = this.currencyFormat(dataResp.amount);
          this.param.excRate = this.currencyFormat(dataResp.exchgRate);
          // this.param.balance = this.currencyFormat(dataResp.balance);
        }
      }
      this.getCurrentRate();
      this.overlay = false;
    },
    async getCurrentRate() {
      // get current rate
      this.currentRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      let balance = this.currencyToFloat(this.param.balance);
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },

    initList(list) {
      for (let l of list) {
        API.get(this.search[l].url)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },

    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },

    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    getCreditBalance() {
      let balance = this.currencyToFloat(this.param.balance);
      let totalEqAmount = this.currencyToFloat(this.getTotal("equivAmount"));
      return balance + totalEqAmount;
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>>
