<template>
  <v-card flat>
    <v-form :readonly="disableForm">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transDate"
            ref="transDate"
            name="transDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Funding No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            v-model="param.receiptNo"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2" v-show="param.custType != 'INSURANCE'">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
          >
            <v-radio
              label="Client"
              value="CLIENT"
              :disabled="param.custType == 'AGENT'"
            ></v-radio>
            <v-radio
              label="Agent"
              value="AGENT"
              :disabled="param.custType == 'CLIENT'"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title" v-if="param.custType == 'INSURANCE'">
            Underwriter <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Transaction Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            v-model="param.transType"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Received Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.receivedType"
            ref="receivedType"
            name="receivedType"
            :items="search.receivedType.items"
            :loading="search.receivedType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <!-- <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank Source </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.bankSource"
            ref="bankSource"
            name="bankSource"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row> -->
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.refDate.date"
            ref="refDate"
            name="refDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Description <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            ref="desc"
            name="desc"
            class="ma-0"
            v-model="param.desc"
            :rows="4"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
      <!-- <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Received <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.bankReceived"
            ref="bankReceived"
            name="bankReceived"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row> -->
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Amount <span class="error--text">*</span></span>
        </v-col>
        <v-col cols="1" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            item-text="code"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
        <v-col cols="3" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="amount"
            name="amount"
            class="ma-0"
            v-model="param.amount"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-10">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Exchange Rate <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>

      <br />
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Void By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.voidName"
            ref="voidName"
            name="voidName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.voidDate"
            ref="voidDate"
            name="voidDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Posting By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.postName"
            ref="postName"
            name="postName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.postDate"
            ref="postDate"
            name="postDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";

export default {
  components: {},
  directives: {},
  props: ["detailDialog", "url"],

  data: () => ({
    param: {
      transDate: new Date().toISOString().substr(0, 10),
      status: "",
      statusDesc: "",
      receiptNo: "",
      custType: "CLIENT",
      customer: "",
      customerName: "",
      client: "",
      agent: "",
      currency: "",
      transType: "",
      receivedType: "",
      bankSource: "",
      reference: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      desc: "",
      bankReceived: "",
      bankReceivedCode: "",
      amount: "",
      balance: "",
      excRate: "",
      entryName: "",
      entryDate: "",
      voidName: "",
      voidDate: "",
      postName: "",
      postDate: "",
      journals: "",
    },
    search: {
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
          { code: "CCSH", value: "Cash Receipt" },
          { code: "CREV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&sort=code,asc,ignoreCase",
        loading: true,
      },
    },
    disableForm: false,
  }),

  computed: {},

  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (
          after &&
          ["CFUN", "CFRV"].indexOf(this.detailDialog.type) != -1
        ) {
          this.disableForm = true;
          this.getItemData();
          this.initList(["currency", "receivedType"]);
        }
      },
      deep: true,
    },
  },

  mounted() {},
  async created() {
    if (["CFUN", "CFRV"].indexOf(this.detailDialog.type) != -1) {
      this.disableForm = true;
      await this.getItemData();
      this.initList(["currency", "receivedType"]);
    }
  },

  methods: {
    async getItemData() {
      this.param.id = this.detailDialog.id;
      let url = "/finance/api/financeclaims/debtor/funding/";
      if (this.url) {
        url = this.url;
      } else if (["CFUN", 'CFRV'].indexOf(this.detailDialog.type) != -1) {
        url = "/finance/api/financeclaims/debtor/funding/";
      }
      await API.get(url + this.param.id)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data.cashReceiptData;
            if (["CFUN", "CFRV"].indexOf(this.detailDialog.type) != -1) {
              dataResp = resp.data.data;
            }

            let bankSrc = dataResp.bankSrc == null ? "" : dataResp.bankSrc;
            bankSrc = bankSrc.concat(
              dataResp.bankSrc == null || dataResp.bankSrcName == null
                ? ""
                : " - "
            );
            bankSrc = bankSrc.concat(
              dataResp.bankSrcName == null ? "" : dataResp.bankSrcName
            );

            this.param.receiptNo = dataResp.fundingNo;
            this.param.transDate = dataResp.tranDate;
            this.param.status = dataResp.status;
            this.param.custType = dataResp.customerType;
            this.param.customer =
              dataResp.customerCode + " - " + dataResp.customerName;
            this.param.customerName = dataResp.customerName;
            this.param.currency = dataResp.currency;
            this.param.transType = dataResp.transationType;
            this.param.receivedType = dataResp.receivedType;
            this.param.bankSource = bankSrc;
            this.param.reference = dataResp.reference;
            this.param.refDate.date = dataResp.referenceDate;
            this.param.desc = dataResp.description;
            this.param.bankReceived =
              dataResp.bankReceived + " - " + dataResp.bankDestName;
            this.param.bankReceivedCode = dataResp.bankReceived;
            this.param.amount = this.currencyFormat(dataResp.amount);
            this.param.balance = this.currencyFormat(dataResp.balance);
            this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
            this.param.entryName = dataResp.entryBy;
            this.param.entryDate = dataResp.entryDate;
            this.param.postName = dataResp.approvedBy;
            this.param.postDate = dataResp.approvedDate;
            this.param.voidName = dataResp.voidBy;
            this.param.voidDate = dataResp.voidDate;
            this.isAlocated = dataResp.amount != dataResp.balance;
            this.$emit("populated");
          } else {
            this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("populated");
        });
    },
    initList(list) {
      for (let l of list) {
        API.get(this.search[l].url)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    transTypeTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
