<template>
  <v-card flat>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Status</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="statusPaidDriect"
            ref="statusPaidDriect"
            name="statusPaidDriect"
            label="Status"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">{{detailDialog.type == "PD" ? "Paid Direct No" : "Trans No" }}</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paidDirectNo"
            hide-details="auto"
            label="{Auto Generated}"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transactionDate"
            ref="transDate"
            name="transDate"
            label="Insert Transaction Date"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Client</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="selectedClient.codeAndName"
            ref="codeAndName"
            name="codeAndName"
            label="Search Client"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Description</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            readonly
            ref="desc"
            name="desc"
            class="ma-0"
            v-model="param.description"
            :rows="4"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
    </v-form>
    <v-row>
      <v-col> </v-col>
    </v-row>
    <isttoolbar title="Paid Direct Info" dark color="grey" class="mb-2" v-if="detailDialog.type == 'PD'">
    </isttoolbar>
    <isttoolbar title="Co-Ins Premium Allocation Info" dark color="grey" class="mb-2" v-else>
    </isttoolbar>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Invoice No.</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.invoiceNo"
          ref="reference"
          name="reference"
          label=""
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <br />
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Class</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <span class="subtitle">{{ param.riskClass }}</span>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Currency</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <span class="subtitle">{{ param.currency }}</span>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Description</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <span class="subtitle">{{ invoiceDesc }}</span>
      </v-col>
    </v-row>
    <br />
    <v-card flat>
      <v-data-table
        :headers="creditorHeaders"
        :items="termListFinal"
        hide-default-footer
        class="elevation-1"
      >
        <template v-slot:item.originalAmount="{ item }">
          <div>{{ formatMoney(item.originalAmount) }}</div>
        </template>
        <template v-slot:item.netAmount="{ item }">
          <div>{{ formatMoney(item.netAmount) }}</div>
        </template>
        <template v-slot:item.paidAmount="{ item }">
          <div>{{ formatMoney(item.paidAmount) }}</div>
        </template>
        <template v-slot:item.payAmount="{ item }">
          <div>{{ formatMoney(item.payAmount) }}</div>
        </template>
        <template v-slot:item.balanceAmount="{ item }">
          <div>{{ formatMoney(item.balanceAmount) }}</div>
        </template>
        <template v-slot:item.shareAmount="{ item }">
          <div>{{ formatMoney(item.shareAmount) }}</div>
        </template>
        <template v-slot:item.action="{}">
          <v-menu bottom left :offset-x="true">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="viewCreditor">
                <v-list-item-title>View</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
    <br />

    <v-row>
      <v-col cols="6">
        <v-row align="center" class="ml-2 mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Entry By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="entry"
              v-model="param.createdBy"
              class="ma-0"
              flat
              outlined
              dense
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="entryDate"
              v-model="param.createdDate"
              class="ma-0"
              flat
              outlined
              dense
              solo
              readonly
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" class="ml-2 mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Modified By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="approved"
              v-model="param.modifiedBy"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="approvedDate"
              v-model="param.modifiedDate"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="6">
        <v-row align="center" class="mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Approved By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="close"
              v-model="param.approvedBy"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="closeDate"
              v-model="param.approvedDate"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" class="mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Close By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="modified"
              v-model="param.closedBy"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="modifiedDate"
              v-model="param.closedDate"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-dialog v-model="termDialog" persistent max-width="1000">
      <v-card flat class="pt-2">
        <!-- <v-row align="center" class="ml-2 mt-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Method</span>
          </v-col>
          <v-col cols="8" class="pa-1">
            <v-row align="center" class="ml-1">
              <v-radio-group v-model="methodNormal" row readonly>
                <v-radio label="Normal" value="1"></v-radio>
                <v-radio label="Without Brokerage" value="2"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row> -->
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Term</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model.lazy="selectedTerm.term"
              ref="reference"
              name="reference"
              label="Select Term"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Pay Amount</span>
          </v-col>
          <v-col cols="4" class="pa-1">
            <v-text-field
              v-model.lazy="paidAmountHeader"
              ref="reference"
              name="reference"
              label="Pay Amount"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
          <br />
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title primary--text">Debtor: </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Balance Amount</span>
          </v-col>
          <v-col cols="4" class="pa-1">
            <v-text-field
              v-model="debtorBalance"
              label="Balance Amount Debtor"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
        </v-row>
        <br />
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title primary--text">Creditor: </span>
          </v-col>
        </v-row>
        <br />
        <v-data-table
          :headers="headers"
          :items="termList"
          hide-default-footer
          :loading="invoiceLoading"
          :sort-by.sync="sortBySharePercentage"
          :sort-desc.sync="isDescending"
          class="elevation-1"
        >
          <template v-slot:item.sharingPercentage="{ item }">
            <div>{{ item.sharingPercentage + "%" }}</div>
          </template>
          <template v-slot:item.balanceAmount="{ item }">
            <div>{{ formatMoney(item.balanceAmount) }}</div>
          </template>
          <template v-slot:item.originalAmount="{ item }">
            <div>{{ formatMoney(item.originalAmount) }}</div>
          </template>
          <template v-slot:item.netAmount="{ item }">
            <div>{{ formatMoney(item.netAmount) }}</div>
          </template>
          <template v-slot:item.payAmount="{ item }">
            <div>{{ formatMoney(item.payAmount) }}</div>
          </template>
          <template v-slot:item.paidAmount="{ item }">
            <div>{{ formatMoney(item.paidAmount) }}</div>
          </template>
          <template v-slot:item.shareAmount="{ item }">
            <div>{{ formatMoney(item.shareAmount) }}</div>
          </template>
          <template v-slot:body.append>
            <tr>
              <td v-for="header in headers" :key="header.text">
                <span v-if="header.value == 'insuranceCode'" class="title"
                  >Total
                </span>
                <span v-if="header.value == 'sharingPercentage'" class="title"
                  >{{ getTotalEqAmount("sharingPercentage") }}
                </span>
                <span v-if="header.value == 'originalAmount'" class="title"
                  >{{ formatMoney(totalOriginalAmount) }}
                </span>
                <span v-if="header.value == 'netAmount'" class="title"
                  >{{ formatMoney(totalNetAmount) }}
                </span>
                <span v-if="header.value == 'paidAmount'" class="title"
                  >{{ formatMoney(totalPaidAmount) }}
                </span>
                <span v-if="header.value == 'payAmount'" class="title"
                  >{{ formatMoney(totalPayAmount) }}
                </span>
                <span v-if="header.value == 'balanceAmount'" class="title"
                  >{{ formatMoney(totalBalanceAmount) }}
                </span>
                <span v-if="header.value == 'shareAmount'" class="title"
                  >{{ formatMoney(totalShareAmount) }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            rounded
            min-width="100"
            depressed
            @click="termDialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
// import axios from "axios";
import { VMoney } from "v-money";
// import editablejournaldialog from "@/components/dialog/editableJournalDialog";
// import printaction from "@/components/toolbars/printAction";

export default {
  components: {
    isttoolbar,
    // editablejournaldialog,
    // printaction,
  },
  directives: { money: VMoney },
  props: ["detailDialog"],

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    methodNormal: "1",
    dialogConfirm: false,
    statusClick: "ENTRY",
    statusPaidDriect: "",
    titleStatus: "Approved",
    dialogNotif: { show: false, success: false, error: false, text: "" },
    printItems: [
      {
        // code: "client",
        text: "All Underwriter",
        name: "Paid Direct Journal Report All Underwriter",
        url: "finance/api/finance/paid-direct/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    sortBySharePercentage: "sharingPercentage",
    isDescending: true,
    debtorBalance: 0,
    totalBalanceAmount: 0,
    totalOriginalAmount: 0,
    totalPaidAmount: 0,
    totalPayAmount: 0,
    totalShareAmount: 0,
    clientCode: "",
    invoiceDesc: "",
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    invoiceLoading: false,
    termList: [],
    termListFinal: [],
    headers: [
      {
        text: "Insurance",
        value: "insuranceCode",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "paidAmount",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balanceAmount",
        sortable: false,
      },
    ],
    creditorHeaders: [
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Net Amount",
        value: "netAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "paidAmount",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "Balance",
        value: "balanceAmount",
        sortable: false,
      },
      {
        text: "Action",
        value: "action",
        sortable: false,
      },
    ],
    invoiceCreditorItems: [],
    invoiceCreditorItemsAdded: [],
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    selectedClient: {
      id: null,
      codeAndName: null,
    },
    selectedTerm: {
      term: null,
    },
    termArray: [],
    param: {
      clientCode: "",
      clientName: "",
      clientType: "",
      currency: "",
      description: "",
      exchangeRate: "",
      invoiceNo: "",
      acctType: "",
      listDetail: [
        {
          listDetailPerInsurer: [],
          term: "",
          totalNetAmount: "",
          totalOriginalAmount: "",
          totalBalanceAmount: "",
          totalPaidAmount: "",
          totalPayAmount: "",
          totalShareAmount: "",
        },
      ],
      paidDirectNo: 0,
      riskClass: "",
      transactionDate: new Date().toISOString().substr(0, 10),
      createdBy: "",
      createdDate: "",
      approvedBy: "",
      approvedDate: "",
      modifiedBy: "",
      modifiedDate: "",
      closedBy: "",
      closedDate: "",
      status: "",
    },
    paidAmountHeader: null,
    totalTerm: 0,
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url: "/config/api/master-akuncoa/?coaType.equals=1%20-%20Bank&isActive.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
    },
    paidDirectHeaders: [
      {
        text: "Insurance",
        align: "start",
        value: "insurance",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balanceAmount",
        sortable: false,
      },
    ],
    termHeader: [
      {
        text: "Insurance",
        align: "start",
        value: "insurance",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "amoutPaid",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balance",
        sortable: false,
      },
    ],
    invoiceHeaders: [
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Invoice No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
      },
      {
        text: " Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "A/Exec",
        sortable: false,
        value: "cstExc",
        add: "",
        rules: [],
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceDialog: false,
    termDialog: false,
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,
    amountChanged: false,
    rateChanged: false,
    overlay: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        currency: this.param.currency,
        transType: this.param.transType,
        receivedType: this.param.receivedType,
        bankSource: this.param.bankSource,
        reference: this.param.reference,
        refDate: this.param.refDate.date,
        bankReceived: this.param.bankReceived,
        amount: this.param.amount,
        excRate: this.param.excRate,
      };
    },
  },

  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (after && ["PD", "CPA"].indexOf(this.detailDialog.type) != -1) {
          this.disableForm = true;
          this.getItemData();
        }
      },
      deep: true,
    },
  },

  async created() {
    // this.getViewPaidDirect(this.$route.query.id);
    if (["PD", "CPA"].indexOf(this.detailDialog.type) != -1) {
      this.disableForm = true;
      await this.getItemData();
    }
  },

  methods: {
    viewCreditor() {
      // this.invoiceLoading = true;
      // let uwCodeParam = "?accountNo.equals=" + this.param.invoiceNo;
      // // let termParam = "&term.equals=" + this.selectedTerm.term;
      // let termParam = "&term.equals=" + this.totalTerm;

      // //debtor
      // let urlDebtor = "/finance/api/finance/invaccount/getdebtoraccount";
      // API.get(urlDebtor + uwCodeParam + termParam)
      //   .then((resp) => {
      //     this.invoiceLoading = false;
      //     if (resp.data.code == 0) {
      //       let dataListDebtor = resp.data.listTransaction[0];
      //       this.debtorBalance = this.currencyFormat(dataListDebtor.balance);
      //     } else {
      //       this.dialog.error = true;
      //       this.dialog.errorMessage =
      //         resp.data.errorMessage.length > 0
      //           ? resp.data.errorMessage.toUpperCase()
      //           : resp.data.errordescription.toUpperCase();
      //     }
      //   })
      //   .catch((error) => {
      //     alert(error);
      //   });

      this.termDialog = true;
    },
    getInvoiceDesc() {
      let appendix = "&accountNo.equals=" + this.param.invoiceNo;
      let url =
        "/finance/api/finance/invaccount/getsumdebtoraccount?clientCode.equals=" +
        this.clientCode +
        "&transType.equals=INV" +
        appendix;
      API.get(url)
        .then((resp) => {
          if (resp.data.code == 0) {
            console.log(
              "getinvdesc: " + JSON.stringify(resp.data.listTransaction)
            );
            this.invoiceDesc = resp.data.listTransaction[0].description;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
          this.invoiceLoading = false;
        })
        .catch((error) => {
          alert(error);
        });
    },
    changeHeaderFinal(method) {
      if (method === "1") {
        this.creditorHeaders = [
          {
            text: "Term",
            value: "term",
            sortable: false,
          },
          // {
          //   text: "Method",
          //   value: "method",
          //   sortable: false,
          // },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
          {
            text: "Action",
            value: "action",
            sortable: false,
          },
        ];
      } else {
        this.creditorHeaders = [
          {
            text: "Term",
            value: "term",
            sortable: false,
          },
          // {
          //   text: "Method",
          //   value: "method",
          //   sortable: false,
          // },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
          {
            text: "Next Payable",
            value: "shareAmount",
            sortable: false,
          },
          {
            text: "Action",
            value: "action",
            sortable: false,
          },
        ];
      }
    },
    changeHeader(method) {
      if (method === "1") {
        this.headers = [
          {
            text: "Insurance",
            value: "insuranceCode",
            sortable: false,
          },
          {
            text: "Sharing Percentage",
            value: "sharingPercentage",
            sortable: false,
          },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
        ];
      } else {
        this.headers = [
          {
            text: "Insurance",
            value: "insuranceCode",
            sortable: false,
          },
          {
            text: "Sharing Percentage",
            value: "sharingPercentage",
            sortable: false,
          },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
          {
            text: "Next Payable",
            value: "shareAmount",
            sortable: false,
          },
        ];
      }
    },
    getItemData() {
      let id = this.detailDialog.id;
      this.dialog.show = true;
      // var paramJSON = {
      //   id: id,
      // };
      var url = "/finance/api/finance/paid-direct/view/" + id;
      API.get(url)
        .then((resp) => {
          let dataResp = resp.data.data;
          this.dialog.show = false;
          if (resp.data.code == 0) {
            this.changeHeaderFinal(dataResp.method);
            this.changeHeader(dataResp.method);
            this.methodNormal = dataResp.method;
            this.param.paidDirectNo = dataResp.paidDirectNo;
            this.param.transactionDate = dataResp.transactionDate;
            this.selectedClient.codeAndName =
              dataResp.clientCode + " - " + dataResp.clientName;
            this.param.invoiceNo = dataResp.acctNo;
            this.param.riskClass = dataResp.riskClass;
            this.param.description = dataResp.description;
            this.param.currency = dataResp.currency;
            this.param.entryBy = dataResp.createdBy;
            this.param.entryDate = dataResp.createdDate;
            this.param.createdBy = dataResp.createdBy;
            this.param.createdDate = dataResp.createdDate;
            this.param.approvedBy = dataResp.approvedBy;
            this.param.approvedDate = dataResp.approvedDate;
            this.param.modifiedBy = dataResp.modifiedBy;
            this.param.modifiedDate = dataResp.modifiedDate;
            this.param.closedBy = dataResp.closedBy;
            this.param.closedDate = dataResp.closedDate;
            this.param.status = dataResp.status;
            this.statusPaidDriect = dataResp.status;
            this.clientCode = dataResp.clientCode;
            this.termList = dataResp.listDetail[0].listDetailPerInsurer;
            this.totalBalanceAmount = dataResp.listDetail[0].totalBalanceAmount;
            this.totalOriginalAmount =
              dataResp.listDetail[0].totalOriginalAmount;
            this.totalNetAmount = dataResp.listDetail[0].totalNetAmount;
            this.totalPaidAmount = dataResp.listDetail[0].totalPaidAmount;
            this.totalPayAmount = dataResp.listDetail[0].totalPayAmount;
            this.totalShareAmount = dataResp.listDetail[0].totalShareAmount;
            this.debtorBalance = this.currencyFormat(
              dataResp.listDetail[0].balanceDebtor
            );
            this.totalTerm = dataResp.listDetail[0].term;
            this.paidAmountHeader = this.currencyFormat(this.totalPayAmount);

            //get inv desc
            this.getInvoiceDesc();
            this.termGenerator();
            //mapping termlistfinal
            var list = dataResp.listDetail;
            this.termListFinal = list.map(function (row) {
              console.log("row: " + JSON.stringify(row));
              return {
                term: row.term,
                method:
                  dataResp.method === "1" ? "Normal" : "Without Brokerage",
                balanceAmount: row.totalBalanceAmount,
                originalAmount: row.totalOriginalAmount,
                netAmount: row.totalNetAmount ? row.totalNetAmount : 0,
                paidAmount: row.totalPaidAmount,
                payAmount: row.totalPayAmount,
                shareAmount: row.totalShareAmount,
              };
            });
            console.debug(this.termListFinal, "termListFinal");
          }
          this.$emit("populated");
        })
        .catch((error) => {
          console.log(error);
          this.$emit("populated");
        });
    },

    paidAmountHeaderLimit() {
      return () =>
        Math.abs(this.currencyToFloat(this.paidAmountHeader)) <=
          Math.abs(
            this.currencyToFloat(this.param.listDetail.totalBalanceAmount)
          ) || "Cannot be greater than total Balance Amount";
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },

    dividePaidAmount() {
      this.paidAmountHeader = this.currencyFormat(this.paidAmountHeader);
      var list = this.termList;
      var input = this.currencyToFloat(this.paidAmountHeader);
      for (var i = 0; i < list.length; i++) {
        list[i].amountPayable = (input * list[i].sharePercentage) / 100;
        this.termList = list;
        // this.getTotalEqAmount("amountPayable");
      }
    },
    getTotalEqAmount(data) {
      let total = 0;
      let returnedValue;
      let list = this.termList;
      for (let i = 0; i < list.length; i++) {
        total =
          parseFloat(total.toString().replace(/,/g, "")) +
          parseFloat(list[i][data].toString().replace(/,/g, ""));
      }
      returnedValue = total.toString() + "%";
      return returnedValue;
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    termGenerator() {
      while (this.termArray.length > 0) {
        this.termArray.pop();
      }
      this.termArray.push({ term: this.totalTerm });
      this.selectedTerm.term = this.totalTerm;
    },

    async selectTermClient() {
      this.termDialog = false;
      this.termListFinal = this.termList;
      this.param.exchangeRate = await this.getExchangeRate(
        this.termList[0].currency
      );
    },

    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.bankAccount,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>