<template>
  <v-card flat>
    <v-form :readonly="disableForm" class="mt-5">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Payment No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paymentNo"
            hide-details="auto"
            ref="paymentNo"
            name="paymentNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Underwriter </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.underwriter"
            hide-details="auto"
            ref="underwriter"
            name="underwriter"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Payment Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paymentDate"
            ref="paymentDate"
            name="paymentDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Payment Type</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.paymentType"
            ref="paymentType"
            name="paymentType"
            :items="search.paymentType.items"
            :rules="[rules.required]"
            :loading="search.paymentType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            v-on:change="changeCurrency"
            item-value="code"
            :item-text="currencyTextItem"
            :rules="[rules.required]"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
            :loading="excRateLoading"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Bank</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.bank"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Reference Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="disableForm"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                :rules="[rules.required]"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                  v-show="!disableForm"
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />

    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:[`item.balance`]="{ item }">
        <span>{{ formatMoney(item.balance) }}</span>
      </template>
      <template v-slot:[`item.paymentAmount`]="{ item }">
        <span v-if="disableForm">{{ item.paymentAmount }}</span>
        <v-text-field
          v-else
          v-model="item.paymentAmount"
          hide-details="auto"
          class="ma-0"
          ref="inputRefundAmount"
          flat
          outlined
          dense
          solo
          v-money="amountChanged ? money : ''"
          @input="paymentAmountChange(item)"
        ></v-text-field>
      </template>
      <template v-slot:[`item.exchgRate`]="{ item }">
        <span v-if="item.currency == param.currency || disableForm">
          {{ formatMoney(item.exchgRate) }}
        </span>
        <v-progress-circular
          v-else-if="item.rateLoading"
          indeterminate
          color="primary"
        ></v-progress-circular>
        <editratedialog
          v-else
          :item="item"
          v-on:submit-rate="submitRate"
        ></editratedialog>
      </template>
      <template v-slot:[`item.equivAmount`]="{ item }">
        <span>{{ formatMoney(item.equivAmount) }}</span>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-btn
          outlined
          icon
          color="primary"
          @click="removeTrans(item)"
          v-show="!disableForm"
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </template>

      <template v-slot:[`body.append`]>
        <tr v-show="!disableForm">
          <td v-for="header in headers" :key="header.text">
            <adddebtordialog
              v-if="header.value == 'action'"
              :headers="transHeaders"
              url="finance/api/financeclaim/querydebtor/"
              :customer="param[param.custType.toLowerCase()]"
              type="CCN"
              title="Transaction"
              :existItems="items"
              v-on:submit="submitTrans"
            >
            </adddebtordialog>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title"
              >Total Refund</span
            >
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <br />

    <form>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Approved By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.approveName"
            ref="approveName"
            name="approveName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.approveDate"
            ref="approveDate"
            name="approveDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Closed By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.closeName"
            ref="closeName"
            name="closeName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.closeDate"
            ref="closeDate"
            name="closeDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </form>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import adddebtordialog from "@/components/dialog/addDebtorDialog";

export default {
  components: {
    adddebtordialog,
  },
  directives: {},
  props: ["detailDialog", "url"],

  data: () => ({
    param: {
      status: "ENTRY",
      paymentNo: "",
      underwriter: "",
      custType: "CLIENT",
      client: "",
      agent: "",
      customerCode: "",
      customerName: "",
      customer: "",
      paymentDate: "",
      paymentType: "",
      currency: "",
      excRate: "",
      bank: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      reference: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
      approveName: "",
      approveDate: "",
      closeName: "",
      closeDate: "",
    },
    search: {
      underwriter: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "code.equals": "",
        },
        url: "/clients/api/account/insurance",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "code",
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      paymentType: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "RECEIVED_TYPE",
          sort: "code,asc,ignoreCase",
        },
        url: "/config/api/master-parameter/",
        loading: true,
      },
      bank: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          "coaName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          "coaCode.equals": "",
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "coaCode",
      },
    },
    headers: [
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
        width: 100,
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Bill Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Payment Amount",
        sortable: false,
        value: "paymentAmount",
        add: "",
        width: 200,
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        width: 100,
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "equivAmount",
        add: "",
        width: 100,
      },
      { text: "", sortable: false, value: "action", add: "", width: 100 },
    ],
    items: [],
    transHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "accountNo",
        add: "",
        rules: [],
        filterParam: "accountNo",
        searchParam: ".contains",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
        items: ["CSH", "CN"],
        filterType: "select",
        filterParam: "transType",
        searchParam: ".equals",
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    journalItems: [],
    formHasErrors: false,
    disableForm: false,
    statusConfirm: false,
    overlay: true,
    journalDialog: false,
    excRateLoading: false,
    amountChanged: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
  }),

  computed: {
    form() {
      return {
        paymentType: this.param.paymentType,
        currency: this.param.currency,
        bank: this.param.bank,
        refDate: this.param.refDate.date,
      };
    },
  },

  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (after && ["CPAY"].indexOf(this.detailDialog.type) != -1) {
          this.disableForm = true;
          this.getItemData();
          this.initList(["underwriter", "paymentType", "currency", "bank"]);
        }
      },
      deep: true,
    },
  },

  mounted() {},

  async created() {
    if (["CPAY"].indexOf(this.detailDialog.type) != -1) {
      this.disableForm = true;
      await this.getItemData();
      this.initList(["underwriter", "paymentType", "currency", "bank"]);
    }
  },

  methods: {
    async getItemData() {
      let vm = this;
      this.param.id = this.detailDialog.id;
      let url = "/finance/api/financeclaims/debtor/payment/";
      if (this.url) {
        url = this.url;
      } else if (["CPAY"].indexOf(this.detailDialog.type) != -1) {
        url = "/finance/api/financeclaims/debtor/payment/";
      }
      await API.get(url + this.param.id)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data.cashReceiptData;
            if (["CPAY"].indexOf(this.detailDialog.type) != -1) {
              dataResp = resp.data.data;
              this.param.status = dataResp.status;
              this.param.paymentNo = dataResp.idTran;
              this.param.custType = dataResp.customerType;
              this.param.underwriter = dataResp.customerCode + " - " + dataResp.customerName;
              this.search.underwriter.setItemParams["code.equals"] =
                dataResp.customerCode;
              this.param.customerCode = dataResp.customerCode;
              this.param.customerName = dataResp.customerName;
              this.param.paymentDate = this.formatDateDash(dataResp.tranDate);
              this.param.paymentType = dataResp.paymentMethod;
              this.param.currency = dataResp.currency;
              this.search.bank.params["currency.equals"] = this.param.currency;
              this.param.excRate = this.formatMoney(dataResp.exchangeRate);
              this.param.bank = dataResp.bankCode + " - " + dataResp.bankName;
              this.search.bank.setItemParams["coaCode.equals"] =
                dataResp.bankCode;
              this.param.refDate.date = this.formatDateDash(
                dataResp.referenceDate
              );
              this.param.reference = dataResp.reference;
              this.param.entryName = dataResp.entryBy;
              this.param.entryDate = dataResp.entryDate;
              this.param.modifName = dataResp.modifiedBy;
              this.param.modifDate = dataResp.modifiedDate;
              this.param.approveName = dataResp.approvedBy;
              this.param.approveDate = dataResp.approvedDate;
              this.param.closeName = dataResp.closedBy;
              this.param.closeDate = dataResp.closedDate;
              this.items = dataResp.listAccountTranData.map(function (row) {
                row["accountNo"] = row.invoiceNo;
                row["accountType"] = row.type;
                row["tranDate"] = vm.formatDateDash(row.billDate);
                row["balance"] = row.balanceAmount;
                row["paymentAmount"] = vm.formatMoney(row.amount);
                row["exchgRate"] = row.exchangeRate;
                return row;
              });
            }

            this.$emit("populated");
          } else {
            this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("populated");
        });
    },
    initList(list, paramAdd = null) {
      for (let l of list) {
        this.search[l].loading = true;
        let mergedParam = { ...this.search[l].params, ...paramAdd };
        API.get(this.search[l].url, mergedParam)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
              this.setObjectItem(l);
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    formatDateDash(date) {
      let splitted = date.split("/");
      let reversed = splitted.reverse();
      return reversed.join("-");
    },
    async submitTrans(items) {
      let vm = this;
      let toAddItems = items.map(function (row) {
        row["paymentAmount"] =
          row.paymentAmount == null
            ? vm.formatMoney(row.balance < 0 ? row.balance * -1 : row.balance)
            : row.paymentAmount;
        row.equivAmount = row.equivAmount == null ? 0 : row.equivAmount;
        row.rateLoading = false;
        return row;
      });
      this.items = JSON.parse(JSON.stringify(toAddItems));

      this.getItemsRate();
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.convertMoney(key[data]);
      }
      return this.formatMoney(total);
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      this.getItemsRate();
      this.initList(["bank"], { "currency.equals": e, "coaName.contains": "" });
      let rate = await this.getExchangeRate(e);
      this.param.excRate = this.formatMoney(rate);
      this.excRateLoading = false;
      // update param autocomplete bank received
      this.search.bank.params["currency.equals"] = e;
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style></style>
