<template>
  <v-card flat>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.status"
            ref="status"
            name="status"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            {{ detailDialog.type == "PAY" ? "Payment No" : "Remittance No" }}
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.paymentNo"
            ref="Payment No"
            name="custType"
            item-value="value"
            item-text="text"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.tranDate"
            ref="tranDate"
            name="tranDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            {{ detailDialog.type == "PAY" ? "Client" : "Underwriter" }}
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="customer"
            name="customer"
            v-model="param.customer"
            return-object
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Transaction Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.paymentMethod"
            ref="transType"
            name="transType"
            :rules="[rules.required]"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Exchange Rate <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="exchangeRate"
            name="exchangeRate"
            class="ma-0"
            v-model="param.exchangeRate"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Source <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.bankReceived.coaName"
            ref="coaName"
            name="coaName"
            class="ma-0"
            return-object
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-tabs v-model="tab" light>
      <v-tab v-show="param.listInvoice.length > 0">
        {{ detailDialog.type == "PAY" ? "Payment" : "Remittance" }}
      </v-tab>
      <v-tab v-show="param.listPremiumFunding.length > 0">
        Premium Funding
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-data-table
          :headers="headers"
          :items="param.listInvoice"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:item.payAmount="{ item }">{{
            currencyFormat(item.payAmount)
          }}</template>
          <template v-slot:item.payable="{ item }">{{
            currencyFormat(item.payable)
          }}</template>
          <template v-slot:item.maxPayable="{ item }">{{
            currencyFormat(item.maxPayable)
          }}</template>
          <template v-slot:item.amountVat="{ item }">{{
            currencyFormatVat(item.amountVat)
          }}</template>
          <template v-slot:item.exchangeRate="{ item }">{{
            currencyFormat(item.exchangeRate)
          }}</template>
          <template v-slot:item.pphAmount="{ item }">
            <div>{{ currencyFormat(item.pphAmount) }}</div>
          </template>
          <template v-slot:item.amountEq="{ item }">
            <div>{{ currencyFormat(item.amountEq) }}</div>
          </template>
          <template v-slot:item.equivAmount="{ item }">
            <div>{{ currencyFormat(item.equivAmount) }}</div>
          </template>
          <template v-slot:body.append> </template>
          <template v-slot:body.append>
            <tr>
              <td v-for="header in headers" :key="header.text">
                <span v-if="header.value == 'currency'" class="title"
                  >Total
                </span>
                <span v-if="header.value == 'amountEq'" class="title"
                  >{{ getTotalPayAmount("amountEq") }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item>
        <v-data-table
          :headers="premiumFundingHeaders"
          :items="param.listPremiumFunding"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:item.payAmount="{ item }">{{
            currencyFormat(item.payAmount)
          }}</template>
          <template v-slot:item.payable="{ item }">{{
            currencyFormat(item.payable)
          }}</template>
          <template v-slot:item.maxPayable="{ item }">{{
            currencyFormat(item.maxPayable)
          }}</template>
          <template v-slot:item.amountVat="{ item }">{{
            currencyFormatVat(item.amountVat)
          }}</template>
          <template v-slot:item.exchangeRate="{ item }">{{
            currencyFormat(item.exchangeRate)
          }}</template>
          <template v-slot:item.pphAmount="{ item }">
            <div>{{ currencyFormat(item.pphAmount) }}</div>
          </template>
          <template v-slot:item.amountEq="{ item }">
            <div>{{ currencyFormat(item.amountEq) }}</div>
          </template>
          <template v-slot:item.equivAmount="{ item }">
            <div>{{ currencyFormat(item.equivAmount) }}</div>
          </template>
          <template v-slot:body.append> </template>
          <template v-slot:body.append>
            <tr>
              <td v-for="header in premiumFundingHeaders" :key="header.text">
                <span v-if="header.value == 'currency'" class="title"
                  >Total
                </span>
                <span v-if="header.value == 'amountEq'" class="title"
                  >{{ getTotalPayAmountPremi("amountEq") }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-tab-item>
    </v-tabs-items>

    <br />
    <v-row align="center" class="ml-2">
      <v-col cols="1" class="pa-1">
        <span class="title">Entry By</span>
      </v-col>
      <v-col cols="2" class="text-left">
        <v-text-field
          v-model="param.entryBy"
          ref="entryBy"
          name="entryBy"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.entryDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="2" class="text-right">
        <span class="title">Approve By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.approvedBy"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.approvedDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="1" class="pa-1">
        <span class="title">Modified By</span>
      </v-col>
      <v-col cols="2" class="text-left">
        <v-text-field
          v-model="param.modifiedBy"
          ref="modifiedBy"
          name="modifiedBy"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.modifiedDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="2" class="text-right">
        <span class="title">Closed By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.closedBy"
          ref="closedBy"
          name="closedBy"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.closedDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import { mapState } from "vuex";

export default {
  components: {},
  directives: {},
  props: ["detailDialog"],

  data: () => ({
    tab: 0,
    idRemittance: 0,
    isRemittanceApproved: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    isRemittanceEntry: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    remittanceStatus: "",

    param: {
      modifiedBy: "",
      modifiedDate: "",
      approvedBy: "",
      approvedDate: "",
      closedBy: "",
      closedDate: "",
      customerCode: "",
      customerName: "",
      customerType: "",
      idRemittance: "",
      bankCode: "",
      bankName: "",
      status: "",
      receiptNo: "",
      amount: "",
      amountEq: "",
      amountEqPremiumFunding: "",
      amountPremiumFunding: "",
      bankReceived: {
        coaCode: null,
        coaName: null,
      },
      currency: "",
      customer: "",
      exchangeRate: "",
      listInvoice: [],
      listPremiumFunding: [],
      paymentMethod: "",
      reference: "",
      tranDate: "",
      entryDate: "",
      entryBy: "",
    },
    headers: [
      {
        text: "Currency",
        align: "start",
        value: "currency",
        sortable: false,
      },
      {
        text: "No",
        value: "invoiceNo",
        sortable: false,
      },
      {
        text: "Type",
        value: "type",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Payable",
        value: "payable",
        sortable: false,
      },
      {
        text: "Max Payable",
        value: "maxPayable",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "PPH23 Paid",
        value: "pphAmount",
        sortable: false,
      },
      {
        text: "VAT Received",
        value: "amountVat",
        sortable: false,
      },
      {
        text: "Exchange Rate",
        value: "exchangeRate",
        sortable: false,
      },
      {
        text: "Equivalent Amount",
        value: "amountEq",
        sortable: false,
      },
    ],
    premiumFundingHeaders: [
      {
        text: "Currency",
        align: "start",
        value: "currency",
        sortable: false,
      },
      {
        text: "Invoice No",
        value: "invoiceNo",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Type",
        value: "type",
        sortable: false,
      },
      {
        text: "Payable",
        value: "payable",
        sortable: false,
      },
      {
        text: "Premium Fund",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "PPH23 Fund",
        value: "pphAmount",
        sortable: false,
      },
      {
        text: "VAT Received",
        value: "amountVat",
        sortable: false,
      },
      {
        text: "Exchange Rate",
        value: "exchangeRate",
        sortable: false,
      },
      {
        text: "Equivalent Amount",
        value: "amountEq",
        sortable: false,
      },
    ],
    items: [],
    premiumFundingItems: [],
    loading: false,
    cashItems: [],
    cashLoading: false,
    invoiceItems: [],
    toShowInvoiceItems: [],
    invoiceLoading: false,
    toAddInvoiceItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
      confirm: false,
      approve: false,
      finalize: false,
      unapprove: false,
    },
    cashDialog: false,
    invoiceDialog: false,
    amountChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    excRateLoading: false,
    journalItems: [],
    journalDialog: false,
  }),
  //   mounted() {
  //   this.getListUnderwriter();
  // },

  computed: {
    ...mapState(["remittance"]),
  },

  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (
          after &&
          ["PAYR", "PFUN", "PAY"].indexOf(this.detailDialog.type) != -1
        ) {
          this.disableForm = true;
          this.getItemData();
          if (this.detailDialog.type == "PFUN") {
            this.tab = 1;
          } else {
            this.tab = 0;
          }
        }
      },
      deep: true,
    },
  },

  created() {
    if (["PAYR", "PFUN", "PAY"].indexOf(this.detailDialog.type) != -1) {
      this.disableForm = true;
      this.getItemData();
      if (this.detailDialog.type == "PFUN") {
        this.tab = 1;
      } else {
        this.tab = 0;
      }
    }
  },

  methods: {
    getTotalPayAmount(data) {
      let total = 0;
      if (data == "amountEq") {
        total = this.param.amountEq;
      } else if (data == "payAmount") {
        total = this.param.amount;
      }

      return this.currencyFormat(total);
    },
    getTotalPayAmountPremi(data) {
      let total = 0;
      if (data == "amountEq") {
        total = this.param.amountEqPremiumFunding;
      } else if (data == "payAmount") {
        total = this.param.amountPremiumFunding;
      }

      return this.currencyFormat(total);
    },

    getItemData() {
      this.dialog.show = true;
      this.param.cashReceiptNo = this.detailDialog.id;
      let url = "/finance/api/finance/remittance/";
      if (this.detailDialog.type == "PAY") {
        url = "/finance/api/financeclaim/creditor/payment/";
      }
      console.log("this.detailDialog.id", this.detailDialog.id);
      console.log("this.param.cashReceiptNo", this.param.cashReceiptNo);
      API.get(url + this.param.cashReceiptNo)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data.data;
            this.param.amount = dataResp.amount;
            this.param.amountEq = dataResp.amountEq;
            this.param.amountPremiumFunding = dataResp.amountPremiumFunding;
            this.param.amountEqPremiumFunding = dataResp.amountEqPremiumFunding;
            this.param.customer =
              dataResp.customerCode + " - " + dataResp.customerName;
            this.param.customerCode = dataResp.customerCode;
            this.param.idRemittance = dataResp.idRemittance;
            this.param.customerName = dataResp.customerName;
            this.param.customerType = dataResp.customerType;
            this.param.currency = dataResp.currency;
            this.param.exchangeRate = this.currencyFormat(
              dataResp.exchangeRate
            );
            this.param.bankReceived.coaName =
              dataResp.bankCode + " - " + dataResp.bankName;
            this.param.bankName = dataResp.bankName;
            this.param.bankCode = dataResp.bankCode;
            this.param.reference = dataResp.reference;
            this.param.listInvoice = dataResp.listInvoice;
            this.param.listPremiumFunding = dataResp.listPremiumFunding;
            this.remittance.listInvoice = dataResp.listInvoice;
            if (dataResp.paymentMethod == 1) {
              this.param.paymentMethod = "1 - Cash";
            } else if (dataResp.paymentMethod == 2) {
              this.param.paymentMethod = "2 - Cheque";
            } else if (dataResp.paymentMethod == 3) {
              this.param.paymentMethod = "3 - Bilyet Giro";
            } else if (dataResp.paymentMethod == 4) {
              this.param.paymentMethod = "4 - Transfer";
            } else if (dataResp.paymentMethod == 5) {
              this.param.paymentMethod = "5 - Bank Draft";
            } else if (dataResp.paymentMethod == 6) {
              this.param.paymentMethod = "6 - Atm";
            } else if (dataResp.paymentMethod == 7) {
              this.param.paymentMethod = "7 - E-Banking";
            } else {
              this.param.paymentMethod = dataResp.paymentMethod;
            }

            this.param.paymentNo = dataResp.idRemittance;
            this.param.status = dataResp.status;
            if (dataResp.status == "ENTRY") {
              this.isRemittanceEntry.show = true;
              this.isRemittanceApproved.show = false;
              console.log(this.param.isRemittanceEntry);
            } else if (dataResp.status == "APPROVED") {
              this.isRemittanceApproved.show = true;
              this.isRemittanceEntry.show = false;
              console.log(this.param.isRemittanceApproved);
            } else {
              this.isRemittanceApproved.show = false;
              this.isRemittanceEntry.show = false;
            }
            this.param.tranDate = dataResp.tranDate;
            this.param.approvedDate = dataResp.approvedDate;
            this.param.approvedBy = dataResp.approvedBy;
            this.param.closedDate = dataResp.closedDate;
            this.param.closedBy = dataResp.closedBy;
            this.param.entryDate = dataResp.entryDate;
            this.param.entryBy = dataResp.entryBy;
            this.param.modifiedBy = dataResp.modifiedBy;
            this.param.modifiedDate = dataResp.modifiedDate;
            this.dialog.show = false;

            if (
              dataResp.listInvoice.length === 0 &&
              dataResp.listPremiumFunding.length > 0
            ) {
              this.tab = 1;
            } else {
              this.tab = 0;
            }

            this.getCurrentRate();
            this.$emit("populated");
          } else {
            this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          this.$emit("populated");
        });
    },

    async getCurrentRate() {
      // get current rate
      this.currentRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      let balance = this.currencyToFloat(this.param.balance);
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },

    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },

    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    currencyFormatVat(data) {
      let amount = String(-1 * data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
  },
};
</script>

<style>
th.xsmall-label .v-label {
  font-size: x-small;
}
</style>