<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row>

        <!-- <v-col cols="8">
          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="2" class="pa-1">
              <span class="title">Multi Insured</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-file-input
                prepend-icon=""
                id="multiInsured"
                hide-details="auto"
                ref="multiInsured"
                accept=".xls, .xlsx"
                type="file"
                label="Upload your documents"
                solo
                flat
                dense
                outlined
                class="ma-0"
                v-model="nameFile"
                :loading="loadingMultiInsured"
                @change="updloadFile"
                @click:clear="resetFile"
              >
                <template v-slot:selection="{ text }">
                  <v-chip small label color="primary">
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
            </v-col>
            <v-col cols="2" class="pa-1">
              <v-btn
                height="40"
                width="100"
                class="mr-2"
                rounded
                @click="onBroswseClick"
                color="primary"
                >Browse</v-btn
              >
            </v-col>
            <v-col cols="2" class="pa-1" v-if="showPreview">
              <v-btn
                height="40"
                width="100"
                class="mr-2"
                color="success"
                rounded
                @click="previewMultiInsured"
                >Preview</v-btn
              >
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">Premium</span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Premium"
                id="premiumInsurance"
                ref="premium"
                solo
                flat
                dense
                outlined
                class="ma-0 input-right"
                readonly
                :value="formatMoney(Number(invoice.premium))"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="4">
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Premium</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Premium"
                id="premiumInsurance"
                ref="premium"
                solo
                flat
                dense
                outlined
                class="ma-0 input-right"
                readonly
                :value="formatMoney(Number(invoice.premium))"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col> -->

        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="dataInsurance"
            class="elevation-1 mb-2"
            fixed-header
            :options.sync="transOptions"
            hide-default-footer
            height="400"
          >
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="(item,idx) in items" :key="idx">
                  <td v-for="(header,key) in headers" :key="key" :item="item">
                    <div align="center" justify="center" v-if="header.value == 'isLeader'">
                      <v-simple-checkbox
                        v-ripple
                        v-model="item[header.value]"
                        @click="selectLeader(item.index)"
                        :disabled="invoice.statusPage === 'view'"
                      ></v-simple-checkbox>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'insuranceName' && !item.edit">
                      {{item[header.value]}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'insuranceName' && item.edit">
                      <v-combobox
                        hide-details="auto"
                        label="Select Insurance ..."
                        v-model="editInsurance.insuranceName"
                        ref="insuranceNameEdit"
                        name="insuranceNameEdit"
                        :search-input.sync="search.insuranceName.input"
                        @keyup="autocompSearch(search.insuranceName)"
                        :items="search.insuranceName.items"
                        @input="validateInsurance"
                        item-value="item"
                        item-text="name"
                        return-object
                        :loading="search.insuranceName.loading"
                        class="ma-0"
                        flat
                        outlined
                        dense
                        solo
                      ></v-combobox>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'sharingPercentage' && !item.edit">
                      {{item[header.value]}} %
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'sharingPercentage' && item.edit">
                      <v-text-field
                        hide-details="auto"
                        ref="sharingPercentageInsuranceEdit"
                        name="sharingPercentageInsuranceEdit"
                        v-model="editInsurance.sharingPercentage"
                        suffix="%"
                        solo
                        flat
                        dense
                        outlined
                        @focus="statusSharingEdit= true"
                        @blur="statusSharingEdit= false"
                        class="ma-0 input-right"
                      ></v-text-field>
                    </div>
                    <!-- <div align="center" justify="center" v-if="header.value == 'amount' && !item.edit">
                      {{invoice.currency}} {{item[header.value]}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'amount' && item.edit">
                      <v-text-field
                        hide-details="auto"
                        ref="amountInsuranceEdit"
                        name="amountInsuranceEdit"
                        v-model="editInsurance.amount"
                        v-money="money"
                        :prefix="invoice.currency"
                        solo
                        flat
                        dense
                        outlined
                        class="ma-0 input-right"
                      ></v-text-field>
                    </div> -->
                    <div align="center" justify="center" v-if="header.value == 'brokerage' && !item.edit">
                      {{item[header.value]}} %
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'brokerage' && item.edit">
                      <v-text-field
                        hide-details="auto"
                        ref="brokerageInsuranceEdit"
                        name="brokerageInsuranceEdit"
                        v-model="editInsurance.brokerage"
                        suffix="%"
                        solo
                        flat
                        dense
                        outlined
                        @focus="statusBrokerageEdit = true"
                        @blur="statusBrokerageEdit = false"
                        class="ma-0 input-right"
                      ></v-text-field>
                    </div>
                    <!-- <div align="center" justify="center" v-if="header.value == 'brokerageAmount'">
                      {{formatMoney(Number(item[header.value]), invoice.currency)}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                      {{formatMoney(Number(item[header.value]), invoice.currency)}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                      {{formatMoney(Number(item[header.value]), invoice.currency)}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                      <p :class="Number(item[header.value]) < 0 ? 'mt-4 red--text' : 'mt-4'">
                        {{formatMoney(Number(item[header.value]), invoice.currency)}}
                      </p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'pph23Amount'">
                      {{formatMoney(Number(item[header.value]), invoice.currency)}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                      {{formatMoney(Number(item[header.value]), invoice.currency)}}
                    </div> -->
                    <div align="center" justify="center" v-if="header.value == 'action' && invoice.statusPage !== 'view'">
                      <v-btn
                        v-show="!item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        class="mr-2"
                        @click="clickPencil(item)"
                      >
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="!item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        @click="clickMinus(item)"
                      >
                          <v-icon>mdi-minus</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="item.edit"
                        width="30"
                        height="30"
                        @click="clickCheckEdit(item)"
                        outlined
                        icon
                        class="mr-2"
                        :disabled="statusCheckEdit"
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="item.edit"
                        width="30"
                        height="30"
                        @click="clickCloseEdit(item)"
                        outlined
                        icon
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr v-show="invoice.statusPage !== 'view'">
                  <td v-for="header in headers" :key="header.text">
                    <v-row align="center" justify="center" v-if="header.value == 'action'">
                      <v-btn
                        width="30"
                        height="30"
                        v-show="!statusCreate"
                        @click="clickPlus"
                        outlined
                        icon
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                      <v-btn
                        width="30"
                        height="30"
                        v-show="statusCreate"
                        @click="clickCheck"
                        outlined
                        icon
                        class="mr-2"
                        :disabled="statusCheck"
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                      <v-btn
                        width="30"
                        height="30"
                        v-show="statusCreate"
                        @click="clickClose"
                        outlined
                        icon
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </v-row>
                    <v-row align="center" justify="center" v-if="header.value == 'insuranceName'">
                      <v-combobox
                        v-show="statusCreate"
                        hide-details="auto"
                        label="Select Insurance ..."
                        v-model="header.add"
                        ref="insuranceName"
                        name="insuranceName"
                        :search-input.sync="search.insuranceName.input"
                        @keyup="autocompSearch(search.insuranceName)"
                        :items="search.insuranceName.items"
                        @input="validateInsurance"
                        item-value="item"
                        item-text="name"
                        return-object
                        :loading="search.insuranceName.loading"
                        class="ma-0"
                        flat
                        outlined
                        dense
                        solo
                      ></v-combobox>
                    </v-row>
                    <v-row align="center" justify="center" v-if="header.value == 'sharingPercentage'">
                      <v-text-field
                        v-show="statusCreate"
                        hide-details="auto"
                        ref="sharingPercentageInsurance"
                        name="sharingPercentageInsurance"
                        v-model="header.add"
                        suffix="%"
                        solo
                        flat
                        dense
                        outlined
                        @focus="statusSharing= true"
                        @blur="statusSharing= false"
                        class="ma-0 input-right"
                      ></v-text-field>
                    </v-row>
                    <!-- <v-row align="center" justify="center" v-if="header.value == 'amount'">
                      <v-text-field
                        v-show="statusCreate"
                        hide-details="auto"
                        ref="amountInsurance"
                        name="amountInsurance"
                        v-model="header.add"
                        v-money="money"
                        :prefix="invoice.currency"
                        solo
                        flat
                        dense
                        outlined
                        class="ma-0 input-right"
                      ></v-text-field>
                    </v-row> -->
                    <v-row align="center" justify="center" v-if="header.value == 'brokerage'">
                      <v-text-field
                        v-show="statusCreate"
                        hide-details="auto"
                        ref="brokerageInsurance"
                        name="brokerageInsurance"
                        v-model="header.add"
                        suffix="%"
                        solo
                        flat
                        dense
                        outlined
                        @focus="statusBrokerage= true"
                        @blur="statusBrokerage= false"
                        class="ma-0 input-right"
                      ></v-text-field>
                    </v-row>
                    <!-- <div align="center" justify="center" v-if="header.value == 'brokerageAmount'">
                      <p class="title mt-3" v-show="statusCreate">{{formatMoney(Number(brokerageAmount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                      <p class="title mt-3" v-show="statusCreate">{{formatMoney(Number(admincostAmount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                      <p class="title mt-3" v-show="statusCreate">{{formatMoney(Number(stampdutyAmount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                      <p :class="vatAmount < 0 ? 'title mt-3 red--text' : 'title mt-3'" v-show="statusCreate" >{{formatMoney(Number(vatAmount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'pph23Amount'">
                      <p class="title mt-3" v-show="statusCreate">{{formatMoney(Number(pph23Amount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                      <p class="title mt-3" v-show="statusCreate">{{formatMoney(Number(grossAmount))}}</p>
                    </div> -->
                  </td>
                </tr>
                <!-- <tr>
                  <td v-for="header in headers" :key="header.text">
                    <v-row align="center" justify="center" v-if="header.value == 'insuranceName'">
                        <p class="title mt-3" >Total</p>
                    </v-row>
                    <div align="center" justify="center" v-if="header.value == 'sharingPercentage'">
                      <p class="title mt-3" >{{totalSharingPercentage}} %</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'amount'">
                      <p class="title mt-3" >{{formatMoney(Number(totalAmount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'brokerage'">
                      <p class="title mt-3" >{{totalBrokerage}} %</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'brokerageAmount'">
                      <p class="title mt-3" >{{formatMoney(Number(totalAmountBrokerage))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                      <p class="title mt-3" >{{formatMoney(Number(totalAdminCost))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                      <p class="title mt-3" >{{formatMoney(Number(totalStampDuty))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                      <p :class="totalVAT < 0 ? 'title mt-3 red--text' : 'title mt-3'" >{{formatMoney(Number(totalVAT))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'pph23Amount'">
                      <p class="title mt-3" >{{formatMoney(Number(totalPPh))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                      <p class="title mt-3" >{{formatMoney(Number(totalGross))}}</p>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialog"
      max-width="1200"
    >
      <v-card>
      <div class="buttonClose">
          <v-btn
              min-height="40"
              min-width="40"
              color="black"
              style="padding: 0"
              @click="dialog = false"
              text
            >
              <v-icon>mdi-close mdi-36px</v-icon>
            </v-btn>
        </div>
        <v-data-table
          :headers="headerMultiInsured"
          :items="dataMultiInsured"
          :items-per-page="5"
          :height="heightTable"
          fixed-header
          :options.sync="options"
          class="elevation-1"
          style="padding-top: 35px"
          :footer-props="{'items-per-page-options': [5,10,15,25]}"
        >
        <template v-slot:[`item.premiTotal`]="{ item }">
            {{formatMoney(Number(item.premiTotal))}}
        </template>
        <template v-slot:[`item.sumInsured`]="{ item }">
            {{formatMoney(Number(item.sumInsured))}}
        </template>
        <template v-slot:[`item.premiAmount`]="{ item }">
            {{formatMoney(Number(item.premiAmount))}}
        </template>
        </v-data-table>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogLoading.show" persistent width="unset" min-width="290px" @click:outside="dialogLoading.show = true">
      <v-card v-show="!dialogLoading.success && !dialogLoading.error" min-width="290px">
        <v-card-title>
          <v-progress-linear
            indeterminate
            color="primary"
          ></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card v-show="dialogLoading.success || dialogLoading.error" min-width="290px">
          <v-card-title
            v-if="dialogLoading.success"
            class="justify-center"
            style="word-break: inherit;"
            >{{dialogLoading.text}}</v-card-title
          >
          <v-card-title
            v-else-if="dialogLoading.error"
            class="justify-center"
            style="word-break: inherit;"
            >{{dialogLoading.text}}</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn v-if="dialogLoading.error" color="primary" min-width="100px" outlined @click="closeUpload"
              >OK</v-btn
            >
            <v-btn v-else-if="dialogLoading.success" color="primary" min-width="100px" outlined @click="previewMultiInsured"
              >Preview</v-btn
            >
          </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="dialogValidate.show" width="400" @click:outside="dialogValidate.show = false, dialogValidate.text = ''">
        <v-card>
          <v-card-title
            class="justify-center"
            style="word-break:inherit;"
            >{{dialogValidate.text}}</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="dialogValidate.show = false, dialogValidate.text = ''"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from '@/store/modules/invoice/type';
import { mapState, mapActions } from 'vuex'
import {VMoney} from 'v-money'
import axios from "axios";

export default {
  directives: {money: VMoney},
  created() {
    let insurance = this.invoice.insuranceSharingList
    let arrayInsurance = []
    // let admincostAmount = 0
    // let stampdutyAmount = 0
    // let grossAmount = 0
    insurance.forEach((element, index) => {
      arrayInsurance.push({
        index: index,
        isLeader: element.isLeader,
        insuranceId: element.insuranceId,
        insuranceName: element.insuranceName,
        insuranceCode: element.insuranceCode,
        sharingPercentage: element.sharingPercentage,
        amount: element.amount,
        brokerage: element.brokerage,
        brokerageAmount: element.brokerageAmount,
        admincostAmount: element.admincostAmount,
        stampdutyAmount: element.stampdutyAmount,
        vatAmount: element.vatAmount,
        pph23Amount: element.pph23Amount,
        grossAmount: element.grossAmount,
        efAmount: element.efAmount,
        efPercentage: element.efPercentage,
        edit: false,
        editLeader: element.isLeader ? true : false
      })
      // admincostAmount = admincostAmount + element.admincostAmount
      // stampdutyAmount = stampdutyAmount + element.stampdutyAmount
      // grossAmount = grossAmount + element.grossAmount
    });
    this.dataInsurance = arrayInsurance
    this.totalSharingPercentage = this.invoice.totalPercentage
    this.totalBrokerage = this.invoice.totalBrokerage
    // this.totalAmount = this.invoice.totalAmount
    // this.totalAmountBrokerage = this.invoice.totalBrokerageAmount
    // this.totalAdminCost = admincostAmount
    // this.totalStampDuty = stampdutyAmount
    // this.totalVAT = this.invoice.totalVat
    // this.totalPPh = this.invoice.totalPPH23
    // this.totalGross = grossAmount
  },
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    money: {
      decimal: '.',
      thousands: ',',
      prefix: '',
      suffix: '',
      precision: 2,
      masked: false
    },
    heightTable: "100px",
    options: {},
    nameFile: null,
    fileData: "",
    loadingMultiInsured: false,
    selectedInsurance: "",
    showPreview: false,
    headerMultiInsured: [],
    dialog: false,
    dialogLoading: { show: false, success: false, error: false, text: '' },
    dialogValidate: { show: false, text: ""},
    dataMultiInsured: [],
    totalItemsMulti: 0,
    search: {
      insuranceName: {
        name: "insuranceName",
        input: "",
        items: [],
        url: "/clients/api/account/insurance?name.contains=",
        loading: false
      }
    },
    request: null,
    headers: [
      {
        text: "",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: '20px'
      },
      {
        text: "Leader",
        align: "center",
        sortable: false,
        add: false,
        value: "isLeader",
        width: '50px'
      },
      {
        text: "Insurance",
        align: "center",
        sortable: false,
        add: "",
        value: "insuranceName",
        width: '180px'
      },
      {
        text: "Sharing Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "sharingPercentage",
        width: '130px'
      },
      // {
      //   text: "Amount",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "amount",
      //   width: '180px'
      // },
      {
        text: "Brokerage",
        align: "center",
        sortable: false,
        add: 0,
        value: "brokerage",
        width: '130px'
      },
      // {
      //   text: "Amount Brokerage",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "brokerageAmount",
      //   width: '130px'
      // },
      // {
      //   text: "Admin Cost",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "admincostAmount",
      //   width: '130px'
      // },
      // {
      //   text: "Stamp Duty",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "stampdutyAmount",
      //   width: '130px'
      // },
      // {
      //   text: "VAT (10%)",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "vatAmount",
      //   width: '130px'
      // },
      // {
      //   text: "PPh 23 (2%)",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "pph23Amount",
      //   width: '130px'
      // },
      // {
      //   text: "Gross",
      //   align: "center",
      //   sortable: false,
      //   add: 0,
      //   value: "grossAmount",
      //   width: '130px'
      // },
    ],
    dataInsurance: [
        // {
        //   admincostAmount: 0,
        //   amount: 0,
        //   brokerage: 0,
        //   brokerageAmount: 0,
        //   efAmount: 0,
        //   efPercentage: 0,
        //   grossAmount: 0,
        //   insuranceCode: "string",
        //   insuranceId: 0,
        //   insuranceName: "string",
        //   isLeader: false,
        //   leader: false,
        //   pph23Amount: 0,
        //   sharingPercentage: 0,
        //   stampdutyAmount: 0,
        //   totalAmount: 0,
        //   vatAmount: 0,
        //   edit: false
        // }
    ],
    statusCreate: false,
    statusSharing: false,
    statusBrokerage: false,
    brokerageAmount: 0,
    admincostAmount: 0,
    stampdutyAmount: 0,
    vatAmount: 0,
    pph23Amount: 0,
    grossAmount: 0,
    totalSharingPercentage: 0,
    totalAmount: 0,
    totalBrokerage: 0,
    totalAmountBrokerage: 0,
    totalAdminCost: 0,
    totalStampDuty: 0,
    totalVAT: 0,
    totalPPh: 0,
    totalGross: 0,
    editInsurance: {}
  }),
  mounted() {
    this.getInsurance();
  },
  computed: {
    ...mapState(['invoice']),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    statusCheck: function () {
      return typeof this.headers[2].add == 'object' && this.headers[3].add !== 0 ? false : true
    },
    statusCheckEdit: function () {
      return (typeof this.editInsurance.insuranceName == 'object' || this.editInsurance.insuranceName !== '') && this.editInsurance.sharingPercentage !== 0 ? false : true
    },
    watchDataTable: function () {
      return this.options
    },
    watchStatusSharing: function () {
      return this.statusSharing
    },
    watchStatusBrokerage: function () {
      return this.statusBrokerage
    },
    // displaySharing: function () {
    //   return this.headers[2].add
    // },
    // displayAmount: function () {
    //   return this.headers[3].add
    // },
    // displayBrokerage: function () {
    //   return this.headers[4].add
    // },
    // displaySharingEdit: function () {
    //   return this.editInsurance.sharingPercentage
    // },
    // displayAmountEdit: function () {
    //   return this.editInsurance.amount
    // },
    // displayBrokerageEdit: function () {
    //   return this.editInsurance.brokerage
    // }
    watchPage: function () {
      return this.invoice.statusPage
    }
  },
  watch: {
    watchPage: function (newValue, oldValue) {
      if (newValue == 'view' && oldValue == 'edit') {
        this.generateNewInsurance()
      }
    },
    watchDataTable: function (newValue) {
      const { itemsPerPage } = newValue;
      if ( itemsPerPage === 5 && this.dataMultiInsured.length !== 0) {
        this.heightTable = '290px'
      } else if ( itemsPerPage !== 5 && this.dataMultiInsured.length !== 0) {
        this.heightTable = '530px'
      }
    },
    watchStatusSharing: function (newValue) {
      if (newValue) {
        if (this.headers[3].add === 0) {
          this.headers[3].add = ''
        }
      } else if (this.headers[3].add === '') {
        this.headers[3].add = 0
      }
    },
    watchStatusBrokerage: function (newValue) {
      if (newValue) {
        if (this.headers[4].add === 0) {
          this.headers[4].add = ''
        }
      } else if (this.headers[4].add === '') {
        this.headers[4].add = 0
      }
    },
    // displaySharing: function (newValue) {
    //   let value = this.calculateAmount(newValue)
    //   this.$refs.amountInsurance[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    // },
    // displayAmount: function (newValue) {
    //   // Brokerage
    //   let brokerageAmount = (this.convertMoney(newValue) * Number(this.headers[4].add)) / 100
    //   let vatAmount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerVatPercentage) * -1;
    //   let pph23Amount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerPph23Percentage);
    //   let grossAmount = (this.convertMoney(newValue) + this.admincostAmount + this.stampdutyAmount + vatAmount + pph23Amount ) - brokerageAmount
    //   this.brokerageAmount = Number(brokerageAmount.toFixed(2))
    //   this.vatAmount = Number(vatAmount.toFixed(2))
    //   this.pph23Amount = Number(pph23Amount.toFixed(2))
    //   this.grossAmount = Number(grossAmount.toFixed(2))
    // },
    // displayBrokerage: function (newValue) {
    //   let brokerageAmount = (this.convertMoney(this.headers[3].add) * Number(newValue)) / 100
    //   let vatAmount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerVatPercentage) * -1;
    //   let pph23Amount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerPph23Percentage);
    //   let grossAmount = (this.convertMoney(this.headers[3].add) + this.admincostAmount + this.stampdutyAmount + vatAmount + pph23Amount ) - brokerageAmount
    //   this.brokerageAmount = Number(brokerageAmount.toFixed(2))
    //   this.vatAmount = Number(vatAmount.toFixed(2))
    //   this.pph23Amount = Number(pph23Amount.toFixed(2))
    //   this.grossAmount = Number(grossAmount.toFixed(2))
    // },
    // displaySharingEdit: function (newValue) {
    //   let value = this.calculateAmount(newValue)
    //   this.$refs.amountInsuranceEdit[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    // },
    // displayAmountEdit: function (newValue) {
    //   // Brokerage
    //   let brokerageAmount = (this.convertMoney(newValue) * Number(this.editInsurance.brokerage)) / 100
    //   let vatAmount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerVatPercentage) * -1;
    //   let pph23Amount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerPph23Percentage);
    //   let grossAmount = (this.convertMoney(newValue) + this.editInsurance.admincostAmount + this.editInsurance.stampdutyAmount + vatAmount + pph23Amount ) - brokerageAmount
    //   this.editInsurance.brokerageAmount = Number(brokerageAmount.toFixed(2))
    //   this.editInsurance.vatAmount = Number(vatAmount.toFixed(2))
    //   this.editInsurance.pph23Amount = Number(pph23Amount.toFixed(2))
    //   this.editInsurance.grossAmount = Number(grossAmount.toFixed(2))
    // },
    // displayBrokerageEdit: function (newValue) {
    //   let brokerageAmount = (this.convertMoney(this.editInsurance.amount) * Number(newValue)) / 100
    //   let vatAmount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerVatPercentage) * -1;
    //   let pph23Amount = (Number(brokerageAmount) / 100) * Number(this.invoice.insurerPph23Percentage);
    //   let grossAmount = (this.convertMoney(this.editInsurance.amount) + this.editInsurance.admincostAmount + this.editInsurance.stampdutyAmount + vatAmount + pph23Amount ) - brokerageAmount
    //   this.editInsurance.brokerageAmount = Number(brokerageAmount.toFixed(2))
    //   this.editInsurance.vatAmount = Number(vatAmount.toFixed(2))
    //   this.editInsurance.pph23Amount = Number(pph23Amount.toFixed(2))
    //   this.editInsurance.grossAmount = Number(grossAmount.toFixed(2))
    // }
  },
  methods: {
    ...mapActions({
      setDocType: types.ACTION_DOC_TYPE,
      setFileName: types.ACTION_FILE_NAME,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setPremium: types.ACTION_PREMIUM,
      setTotalPercentage: types.ACTION_TOTAL_PERCENTAGE,
      setTotalAmount: types.ACTION_TOTAL_AMOUNT,
      setMultiInsured: types.ACTION_MULTI_INSURED,
      setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      setTotalBrokerage: types.ACTION_TOTAL_BROKERAGE,
      setTotalBrokerageAmount: types.ACTION_TOTAL_BROKERAGE_PERCENTAGE,
      setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      setTotalVat: types.ACTION_TOTAL_VAT,
      setTotalPPh23: types.ACTION_TOTAL_PPH23,
      setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      setTotalGross: types.ACTION_TOTAL_GROSS,
    }),
    async getInsurance() {
        this.search.insuranceName.loading = true;
        let resp = await API.get("/clients/api/account/insurance?page=0&size=-1");
        if (resp.data.code === 0) {
          this.search.insuranceName.loading = false;
          const data = resp.data.data;
          this.search.insuranceName.items = data
        }
    },
    onBroswseClick() {
      document.getElementById("multiInsured").click()
    },
    async previewMultiInsured() {
      this.closeUpload()
      this.dialogLoading.show = true;
      let param = {
        refNo: this.invoice.refNo,
        riskCode: this.invoice.riskCode
      }
      await API.get("broking/api/broking/invoice/list-multi-insured", param)
        .then((resp) => {
          if (resp.data.code === 0) {
              let data = resp.data
              let header = []
              for (var item of data.headerProperty) {
                let newItem =  {
                  text: item.value,
                  align: "center",
                  sortable: false,
                  add: "",
                  value: item.key
                }
                header.push(newItem)
              }
              this.setPremium(Number(data.totalPremi.toFixed(2)))
              this.setToUnderwiterPremium(Number(data.totalPremi.toFixed(2)))
              if (document.getElementById("toUnderwriterPremium")) {
                document.getElementById("toUnderwriterPremium").value = this.formatMoney(Number(data.totalPremi))
              }
              this.headerMultiInsured = header
              this.dataMultiInsured = data.data
              this.totalItemsMulti = data.data.length
              this.dialogLoading.show = false;
              this.dialog = true
            } else {
              this.dialogLoading.error = true;
              this.dialogLoading.text = resp.data.errorMessage === null ? resp.data.errorDescription : resp.data.errorMessage
              this.loadingMultiInsured = false;
            }
        })
    },

    async updloadFile(e) {
        var fr = new FileReader();
        fr.readAsDataURL(e);
        fr.addEventListener("load", () => {
          let typeFile = e.name.split('.')
          let base64 = fr.result.split(',')[1]
          this.fileData = base64
          this.setMultiInsured(fr.result)
          this.setDocType(typeFile[1])
          this.setFileName(e.name)
          this.loadingMultiInsured = true;
          this.dialogLoading.show = true;

          let param = {
            base64: base64,
            docType: typeFile[1],
            filename: e.name,
            refNo: this.invoice.refNo,
            riskCode: this.invoice.riskCode
          }
          API.post("broking/api/broking/invoice/upload-multi-insured", param).then((resp) => {
            if (resp.data.code === 0) {
              this.showPreview = true
              this.loadingMultiInsured = false;
              this.dialogLoading.success = true;
              this.dialogLoading.text = 'Upload Successful'
            } else {
              this.nameFile = null
              this.dialogLoading.error = true;
              this.dialogLoading.text = resp.data.errorMessage === null ? resp.data.errorDescription : resp.data.errorMessage
              this.loadingMultiInsured = false;
            }
          });
        });
    },
    closeUpload() {
      this.dialogLoading = { show: false, success: false, error: false, text: '' }
    },
    resetFile() {
      this.fileData = "";
      this.setMultiInsured("")
      this.setToUnderwiterPremium(0)
      this.setPremium(0)
      if (document.getElementById("toUnderwriterPremium")) {
        document.getElementById("toUnderwriterPremium").value = this.formatMoney(0)
      }
      this.showPreview = false
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, '')
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, '')
        .replace('x', '.');
      return parseFloat(amount)
    },
    selectLeader(index) {
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i].index != index) {
          this.dataInsurance[i].isLeader = false
        }
      }
      this.setInsuranceSharingList(this.convertData(this.dataInsurance))
    },
    calculateAmount(value) {
      let data = (Number(this.invoice.premium) / 100) * Number(value);
      return data
    },
    validateInsurance(value) {
      if (value && value.id) {
        for (var item of this.dataInsurance) {
          if (item.insuranceId === value.id) {
            this.dialogValidate.show = true
            this.dialogValidate.text = "Insurance already exists"
            this.headers[2].add = ""
          }
        }
      }
    },
    clickPlus() {
      // if (this.invoice.premium == 0) {
      //   this.dialogValidate.show = true
      //   this.dialogValidate.text = "You must add To Underwriter Premium in tab Value"
      // }
      if (this.totalSharingPercentage == 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Sharing Percentage more than 100%"
      } else {
        this.statusCreate = true
        for (var i = 0; i < this.dataInsurance.length; i++) {
          this.dataInsurance[i].edit = false
        }
      }
    },
    clickClose() {
      this.statusCreate = false
      this.headers[2].add = ""
      this.headers[3].add = 0
      this.headers[4].add = 0
      // this.headers[3].add = "0.00"
      // this.brokerageAmount = 0
      // this.vatAmount = 0
      // this.pph23Amount = 0
      // this.grossAmount = 0
      // this.$refs.amountInsurance[0].$el.getElementsByTagName('input')[0].value = "0.00"
    },
    clickCheck() {
      let obj = {}
      let sharingPercentage = 0
      let brokerage = 0
      // let amount = 0
      // let brokerageAmount = 0
      // let admincostAmount = 0
      // let stampdutyAmount = 0
      // let vatAmount = 0
      // let pph23Amount = 0
      // let grossAmount = 0
      for (var header of this.headers) {
        if (header.value != "action") {
          if (header.value == "isLeader") {
              obj["index"] = this.dataInsurance.length;
              obj[header.value] = false
          } else if (header.value == "insuranceName") {
            obj["insuranceId"] = header.add.id;
            obj["insuranceName"] = header.add.name;
            obj["insuranceCode"] = header.add.code;
          } else if (header.value == "sharingPercentage") {
            obj["sharingPercentage"] = Number(header.add);
            sharingPercentage = this.totalSharingPercentage + Number(header.add);
          } else if (header.value == "brokerage") {
            obj["brokerage"] = Number(header.add);
            brokerage = this.totalBrokerage + Number(header.add);
          }
          // else if (header.value == "amount") {
          //   obj["amount"] = header.add;
          //   amount = this.totalAmount +this.convertMoney(header.add);
          // } else if (header.value == "brokerage") {
          //   obj["brokerage"] = Number(header.add);
          //   obj["brokerageAmount"] = Number(this.brokerageAmount);
          //   obj["admincostAmount"] = Number(this.admincostAmount);
          //   obj["stampdutyAmount"] = Number(this.stampdutyAmount);
          //   obj["vatAmount"] = Number(this.vatAmount);
          //   obj["pph23Amount"] = Number(this.pph23Amount);
          //   obj["grossAmount"] = Number(this.grossAmount);
          //   brokerage = this.totalBrokerage + Number(header.add);
          //   brokerageAmount = this.totalAmountBrokerage + Number(this.brokerageAmount);
          //   admincostAmount = this.totalAdminCost + Number(this.admincostAmount);
          //   stampdutyAmount = this.totalStampDuty + Number(this.stampdutyAmount);
          //   vatAmount = this.totalVAT + Number(this.vatAmount);
          //   pph23Amount = this.totalPPh + Number(this.pph23Amount);
          //   grossAmount = this.totalGross + Number(this.grossAmount);
          // }
        }
      }

      if (obj.sharingPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Sharing Percentage more than 100%"
      } else if (sharingPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Sharing Percentage more than 100%"
      } else if (obj.brokerage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Brokerage more than 100%"
      } else if (brokerage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Brokerage more than 100%"
      } else {
        this.totalSharingPercentage = Number(sharingPercentage.toFixed(2))
        this.totalBrokerage = Number(brokerage.toFixed(2))
        // this.totalAmount = Number(amount.toFixed(2))
        // this.totalAmountBrokerage = Number(brokerageAmount.toFixed(2))
        // this.totalAdminCost = Number(admincostAmount.toFixed(2))
        // this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
        // this.totalVAT = Number(vatAmount.toFixed(2))
        // this.totalPPh = Number(pph23Amount.toFixed(2))
        // this.totalGross = Number(grossAmount.toFixed(2))
        let newObj =  Object.assign(obj, {edit: false, editLeader: false});
        this.dataInsurance.push(newObj);
        this.setInsuranceSharingList(this.convertData(this.dataInsurance))
        this.setTotalPercentage(this.totalSharingPercentage);
        this.setTotalBrokerage(this.totalBrokerage)
        // this.setTotalAmount(this.totalAmount);
        // this.setTotalBrokerageAmount(this.totalAmountBrokerage)
        // this.setTotalVat(this.totalVAT)
        // this.setTotalPPh23(this.totalPPh)
        // this.setTotalAdminCost(this.totalAdminCost)
        // this.setTotalStampDuty(this.totalStampDuty)
        // this.setTotalGross(this.totalGross)
        // For Tab Value
        // this.setIncomeBrokerage(this.totalAmountBrokerage)

      // Reset Data
        this.statusCreate = false
        this.headers[2].add = ""
        this.headers[3].add = 0
        this.headers[4].add = 0
        // this.headers[3].add = "0.00"
        // this.brokerageAmount = 0
        // this.vatAmount = 0
        // this.pph23Amount = 0
        // this.grossAmount = 0
        // this.$refs.amountInsurance[0].$el.getElementsByTagName('input')[0].value = "0.00"
      }
    },
    clickPencil(item) {
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i] == item) {
          this.dataInsurance[i].edit = true
          this.statusCreate = false
        } else {
          this.dataInsurance[i].edit = false
        }
      }
      localStorage.setItem("objInsurance", JSON.stringify(item))
      this.editInsurance = item
    },
    clickMinus(item) {
      let index = "";
      let sharingPercentage = this.totalSharingPercentage - Number(item.sharingPercentage)
      let brokerage = this.totalBrokerage - Number(item.brokerage);
      // let amount = this.totalAmount - this.convertMoney(item.amount);
      // let brokerageAmount = this.totalAmountBrokerage - Number(item.brokerageAmount);
      // let admincostAmount = this.totalAdminCost - Number(item.admincostAmount);
      // let stampdutyAmount = this.totalStampDuty - Number(item.stampdutyAmount);
      // let vatAmount = this.totalVAT - Number(item.vatAmount);
      // let pph23Amount = this.totalPPh - Number(item.pph23Amount);
      // let grossAmount = this.totalGross - Number(item.grossAmount);
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataInsurance.length; j++) {
        this.dataInsurance[j].edit = false
      }
      if (String(index).length > 0) {
        this.dataInsurance.splice(index, 1);
      }
      this.totalSharingPercentage = Number(sharingPercentage.toFixed(2))
      this.totalBrokerage = Number(brokerage.toFixed(2))
      // this.totalAmount = Number(amount.toFixed(2))
      // this.totalAmountBrokerage = Number(brokerageAmount.toFixed(2))
      // this.totalAdminCost = Number(admincostAmount.toFixed(2))
      // this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
      // this.totalVAT = Number(vatAmount.toFixed(2))
      // this.totalPPh = Number(pph23Amount.toFixed(2))
      // this.totalGross = Number(grossAmount.toFixed(2))

      this.setInsuranceSharingList(this.convertData(this.dataInsurance))
      this.setTotalPercentage(this.totalSharingPercentage);
      this.setTotalBrokerage(this.totalBrokerage)
      // this.setTotalAmount(this.totalAmount);
      // this.setTotalBrokerageAmount(this.totalAmountBrokerage)
      // this.setTotalVat(this.totalVAT)
      // this.setTotalPPh23(this.totalPPh)
      // this.setTotalAdminCost(this.totalAdminCost)
      // this.setTotalStampDuty(this.totalStampDuty)
      // this.setTotalGross(this.totalGross)
      // For Tab Value
      // this.setIncomeBrokerage(this.totalAmountBrokerage)
      this.statusCreate = false
    },
    clickCheckEdit(item) {
      let newObj = {}
      if (typeof item.insuranceName === 'object' ) {
        newObj["insuranceId"] = item.insuranceName.id
        newObj["insuranceName"] = item.insuranceName.name
        newObj["insuranceCode"] = item.insuranceName.code;
      } else {
        newObj["insuranceId"] = item.insuranceId
        newObj["insuranceName"] = item.insuranceName
        newObj["insuranceCode"] = item.insuranceCode
      }
      let sharingPercentage = 0
      let brokerage = 0
      // let amount = 0
      // let brokerageAmount = 0
      // let admincostAmount = 0
      // let stampdutyAmount = 0
      // let vatAmount = 0
      // let pph23Amount = 0
      // let grossAmount = 0
      this.dataInsurance.forEach(element => {
        sharingPercentage = sharingPercentage + Number(element.sharingPercentage)
        brokerage = brokerage + Number(element.brokerage)
        // amount = amount + this.convertMoney(element.amount)
        // brokerageAmount = brokerageAmount + Number(element.brokerageAmount)
        // admincostAmount = admincostAmount + Number(element.admincostAmount)
        // stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount)
        // vatAmount = vatAmount + Number(element.vatAmount)
        // pph23Amount = pph23Amount + Number(element.pph23Amount)
        // grossAmount = grossAmount + Number(element.grossAmount)
      });

      if (item.sharingPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Sharing Percentage more than 100%"
      } else if (sharingPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Sharing Percentage more than 100%"
      } else if (item.brokerage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Brokerage more than 100%"
      } else if (brokerage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Brokerage more than 100%"
      } else {
        for (var i = 0; i < this.dataInsurance.length; i++) {
          if (this.dataInsurance[i] == item) {
            this.dataInsurance[i].edit = false
            this.dataInsurance[i].insuranceId = newObj.insuranceId
            this.dataInsurance[i].insuranceName = newObj.insuranceName
            this.dataInsurance[i].insuranceCode = newObj.insuranceCode
            this.dataInsurance[i].sharingPercentage = item.sharingPercentage
            this.dataInsurance[i].brokerage = item.brokerage
            // this.dataInsurance[i].amount = item.amount
            // this.dataInsurance[i].brokerageAmount = item.brokerageAmount
            // this.dataInsurance[i].admincostAmount = item.admincostAmount
            // this.dataInsurance[i].stampdutyAmount = item.stampdutyAmount
            // this.dataInsurance[i].vatAmount = item.vatAmount
            // this.dataInsurance[i].pph23Amount = item.pph23Amount
            // this.dataInsurance[i].grossAmount = item.grossAmount
          }
        }
        this.totalSharingPercentage = Number(sharingPercentage.toFixed(2))
        this.totalBrokerage = Number(brokerage.toFixed(2))
        // this.totalAmount = Number(amount.toFixed(2))
        // this.totalAmountBrokerage = Number(brokerageAmount.toFixed(2))
        // this.totalAdminCost = Number(admincostAmount.toFixed(2))
        // this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
        // this.totalVAT = Number(vatAmount.toFixed(2))
        // this.totalPPh = Number(pph23Amount.toFixed(2))
        // this.totalGross = Number(grossAmount.toFixed(2))

        this.setInsuranceSharingList(this.convertData(this.dataInsurance))
        this.setTotalPercentage(this.totalSharingPercentage);
        this.setTotalBrokerage(this.totalBrokerage)
        // this.setTotalAmount(this.totalAmount);
        // this.setTotalBrokerageAmount(this.totalAmountBrokerage)
        // this.setTotalVat(this.totalVAT)
        // this.setTotalPPh23(this.totalPPh)
        // this.setTotalAdminCost(this.totalAdminCost)
        // this.setTotalStampDuty(this.totalStampDuty)
        // this.setTotalGross(this.totalGross)
        // For Tab Value
        // this.setIncomeBrokerage(this.totalAmountBrokerage)
        localStorage.removeItem("objInsurance")

        // Reset Data
        this.search.insuranceName.input = ""
      }
    },
    clickCloseEdit(item) {
      let obj = JSON.parse(localStorage.getItem('objInsurance'))
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i] == item) {
          this.dataInsurance[i].edit = false
          this.dataInsurance[i].insuranceId = obj.insuranceId
          this.dataInsurance[i].insuranceName = obj.insuranceName
          this.dataInsurance[i].insuranceCode = obj.insuranceCode
          this.dataInsurance[i].sharingPercentage = obj.sharingPercentage
          this.dataInsurance[i].brokerage = obj.brokerage
          // this.dataInsurance[i].amount = obj.amount
          // this.dataInsurance[i].brokerageAmount = obj.brokerageAmount
          // this.dataInsurance[i].admincostAmount = obj.admincostAmount
          // this.dataInsurance[i].stampdutyAmount = obj.stampdutyAmount
          // this.dataInsurance[i].vatAmount = obj.vatAmount
          // this.dataInsurance[i].pph23Amount = obj.pph23Amount
          // this.dataInsurance[i].grossAmount = obj.grossAmount
          this.statusCreate = false
        }
      }
      localStorage.removeItem("objInsurance")
    },
    convertData (data) {
      let array = []
      data.forEach(element => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          brokerage: Number(element.brokerage),
          // amount: this.convertMoney(element.amount),
          // brokerageAmount: element.brokerageAmount,
          // admincostAmount: element.admincostAmount,
          // stampdutyAmount: element.stampdutyAmount,
          // vatAmount: element.vatAmount,
          // pph23Amount: element.pph23Amount,
          // grossAmount: element.grossAmount,
          // efAmount: element.efAmount,
          // efPercentage: element.efPercentage,
        })
      });
      return array
    },
    generateNewInsurance () {
      let insurance = this.invoice.insuranceSharingList
      let arrayInsurance = []
      insurance.forEach((element, index) => {
        arrayInsurance.push({
          index: index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: element.amount,
          brokerage: element.brokerage,
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          edit: false,
          editLeader: element.isLeader ? true : false
        })
      });

      let sharingPercentage = 0
      let brokerage = 0
      arrayInsurance.forEach(element => {
        sharingPercentage = sharingPercentage + Number(element.sharingPercentage)
        brokerage = brokerage + Number(element.brokerage)
      });
      this.dataInsurance = arrayInsurance
      this.totalPercentage = Number(sharingPercentage.toFixed(2))
      this.totalBrokerage = Number(brokerage.toFixed(2))

      this.setInsuranceSharingList(this.convertData(this.dataInsurance))
      this.setTotalPercentage(this.totalPercentage);
      this.setTotalBrokerage(this.totalBrokerage)

    }
  }

}
</script>

<style scoped>
  .buttonClose {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
  }
  .total-center {
    text-align: center;
  }
  .total-right {
    text-align: center;
    /* padding-right: 20px; */
  }
  ::v-deep .input-right input {
    text-align: right;
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td > div {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
</style>