<template>
  <v-card flat>
    <isttoolbar title="Finance" dark color="secondary" icon="mdi-finance">
      <v-spacer></v-spacer>
      <!-- <v-btn outlined @click="goToAdd">
        <v-icon left>mdi-plus</v-icon>Create Refund
      </v-btn> -->
    </isttoolbar>
    <isttoolbar
      title="Query Debtor Transaction"
      dark
      color="primary"
      class="pa-0"
    >
      <v-spacer></v-spacer>
      <v-menu
        offset-y
        bottom
        nudge-bottom="8px"
        min-width="83.35%"
        :close-on-content-click="false"
        v-model="expanded"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn text color="white" min-width="20px" v-on="on" v-bind="attrs">
            Search
            <v-icon v-if="expanded">mdi-menu-up</v-icon>
            <v-icon v-else>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-card class="pa-3">
          <v-row class="ma-1 pa-0">
            <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
              <v-row align="center" class="ma-0 pa-0">
                <v-col cols="3" class="ma-0 pa-0">
                  <span class="title">Client/Agent</span>
                </v-col>
                <v-col cols="9" align-self="start" class="ma-0 pa-0">
                  <v-autocomplete
                    label="Search Client/Agent"
                    hide-details="auto"
                    v-model="filter.customer.searchValue"
                    ref="customer"
                    name="customer"
                    @keyup="autocompSearch(filter.customer)"
                    :search-input.sync="filter.customer.searchInput"
                    :items="filter.customer.items"
                    item-value="code"
                    item-text="codeAndName"
                    :loading="filter.customer.loading"
                    clearable
                    class="ma-0"
                    solo
                    flat
                    outlined
                    dense
                    no-data-text="Type the Customer Name."
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
              <v-row align="center" class="ma-0 pa-0">
                <v-col cols="3" class="ma-0 pa-0">
                  <span class="title">Type</span>
                </v-col>
                <v-col cols="9" align-self="start" class="ma-0 pa-0">
                  <v-autocomplete
                    label="Select Type"
                    hide-details="auto"
                    v-model="filter.type.searchValue"
                    ref="type"
                    name="type"
                    :items="filter.type.items"
                    clearable
                    class="ma-0"
                    solo
                    flat
                    outlined
                    dense
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row class="ma-1 pa-0">
            <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
              <v-row align="center" class="ma-0 pa-0">
                <v-col cols="3" class="ma-0 pa-0">
                  <span class="title">Currency</span>
                </v-col>
                <v-col cols="9" align-self="start" class="ma-0 pa-0">
                  <v-autocomplete
                    label="Select Currency"
                    hide-details="auto"
                    v-model="filter.currency.searchValue"
                    ref="currency"
                    name="currency"
                    :items="filter.currency.items"
                    item-value="code"
                    :item-text="currencyTextItem"
                    clearable
                    class="ma-0"
                    solo
                    flat
                    outlined
                    dense
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
              <v-row align="center" class="ma-0 pa-0">
                <v-col cols="3" class="ma-0 pa-0">
                  <span class="title">Number</span>
                </v-col>
                <v-col cols="9" align-self="start" class="ma-0 pa-0">
                  <v-text-field
                    label="Insert Number"
                    type="number"
                    v-model="filter.number.searchValue"
                    flat
                    outlined
                    dense
                    hide-details="auto"
                    ref="number"
                    name="number"
                    class="ma-0"
                    solo
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-card-actions>
            <v-spacer> </v-spacer>
            <v-chip-group
              class="mx-2"
              v-model="selection"
              active-class="primary"
              mandatory
            >
              <v-chip>Outstanding</v-chip>
              <v-chip>Full Transaction</v-chip>
            </v-chip-group>
            <v-btn
              min-width="100px"
              class="mx-2"
              @click="listSearch"
              outlined
              dark
              color="primary"
            >
              <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </isttoolbar>

    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10] }"
      dense
      @click:row="itemClick"
    >
      <template v-slot:item.amount="{ item }">
        <span :class="item.amount < 0 ? 'error--text' : ''">
          {{ currencyFormat(item.amount) }}
        </span>
      </template>
      <template v-slot:item.balance="{ item }">
        <span :class="item.balance < 0 ? 'error--text' : ''">
          {{ currencyFormat(item.balance) }}
        </span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item
              v-show="item.status == 'ENTRY'"
              @click="editItem(item, 'e')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item> -->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>

    <br />
    <v-bottom-sheet v-model="detailForm" hide-overlay inset>
      <v-card v-show="detailForm">
        <v-toolbar dense dark color="primary" flat>
          <v-toolbar-title>Detail Info</v-toolbar-title>
          <v-spacer> </v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" text @click="detailForm = false">
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-progress-linear
          indeterminate
          v-show="loadDetail"
        ></v-progress-linear>

        <v-row class="px-2">
          <v-col cols="5">
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Details</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <textarea
                    v-model="detail.details"
                    readonly
                    rows="2"
                    style="width: inherit; border: 1px solid gray"
                  ></textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Attach</span>
                </v-col>
                <v-col cols="4" class="py-1 pr-1">
                  <input
                    v-model="detail.attach"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="5" class="py-1 pl-1">
                  <input
                    v-model="detail.attachDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Due</span>
                </v-col>
                <v-col cols="4" class="py-1 pr-1">
                  <input
                    v-model="detail.due"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="5" class="py-1 pl-1">
                  <input
                    v-model="detail.dueDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Business Category</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.category"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Underwriter</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.category"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Segment</span>
                </v-col>
                <v-col cols="2" class="py-1 pr-1">
                  <input
                    v-model="detail.segment"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="2" class="pa-1">
                  <input
                    v-model="detail.subSegment"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="5" class="py-1 pl-1">
                  <input
                    v-model="detail.segmentDesc"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>
          </v-col>
          <v-col cols="7">
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Class of Risk</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.risk"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <span>Insured</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.insured"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Insured</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.insured2"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <span>Exchange Rate</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.exchangeRate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Entry By</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.entryName"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.entryDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>

            <br />
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Master Policy</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.masterPolicy"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Policy No</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.policyNo"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <!-- <span class="title">Bordeaux By</span> -->
                </v-col>
                <v-col cols="5" class="py-1">
                  <input
                    v-model="detail.bordeauxBy"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="4" class="py-1">
                  <input
                    v-model="detail.bordeauxDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>
          </v-col>
        </v-row>
      </v-card>
    </v-bottom-sheet>

    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Currency",
        value: "currency",
        sortable: false,
        align: "start",
      },
      {
        text: "Number",
        value: "accountNo",
        sortable: false,
      },
      {
        text: "Type",
        value: "accountType",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Date",
        value: "tranDate",
        sortable: false,
      },
      {
        text: "Age",
        value: "age",
        sortable: false,
      },
      {
        text: "Acc Executive",
        value: "cstExc",
        sortable: false,
      },
      {
        text: "Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Balance",
        value: "balance",
        sortable: false,
      },

      // {
      //   text: "Actions",
      //   value: "actions",
      //   sortable: false,
      // },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        url1: "/clients/api/account/agent?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      number: {
        value: "accountNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      type: {
        value: "transType",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: ["INV", "CN", "CSH"],
      },
    },
    listParam: [],
    exportLoading: false,
    selection: 0,
    detailForm: false,
    detail: {
      details: "",
      attach: "",
      attachDate: "",
      due: "",
      dueDate: "",
      category: "",
      underwriter: "",
      segment: "",
      subsegment: "",
      segmentDesc: "",
      risk: "",
      insured: "",
      insured2: "",
      exchangeRate: "",
      entryName: "",
      entryDate: "",
      masterPolicy: "",
      policyNo: "",
      bordeauxNo: "",
      bordeauxBy: "",
      bordeauxDate: "",
    },
    loadDetail: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        let pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },

  mounted() {
    // this.refresh();
  },

  created() {
    this.initList(["customer", "currency"]);
  },

  methods: {
    goToAdd() {
      this.$router.replace({ name: "refund-add" });
    },

    refresh() {
      this.detailForm = false;
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        param["sort"] = "acctType,asc,ignoreCase";
        this.listParam = param;
        API.get("finance/api/finance/invaccount/getdebtoraccount", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.listTransaction,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },

    editItem(item, mode) {
      console.log(mode, item);
      alert("belum");
      // this.$router.push({
      //   name: "refund-edit",
      //   query: { id: item.idTran, mode: mode },
      // });
    },

    viewItem(item) {
      // this.$router.push({
      //   name: "area-regency-detail",
      //   params: { item: item },
      //   query: { id: item.id }
      // });
      console.log(item);
      alert("belum");
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("/api/master-location/regency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)] +
            filter[
              !this.expanded ? "toolbarSearchInput" : "searchInput"
            ].toUpperCase(),
          null,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async itemClick(item) {
      this.loadDetail = true;
      this.detailForm = true;
      Object.keys(this.detail).forEach((f) => {
        this.detail[f] = "";
      });

      if (item.accountType == "CSH") {
        await this.getCashReceiptItem(item.accountNo);
      } else if (item.accountType == "INV") {
        await this.getInvoiceItem(item.accountNo);
      } else {
        this.detail.details = item.tranDesc;
        this.detail.segment = item.prdseg;
        this.detail.subsegment = item.prdSubSeg;
        this.detail.risk = item.prdrisk;
        this.detail.exchangeRate = this.currencyFormat(item.exchgRate);
        this.detail.entryName = item.entryUsr;
        this.detail.entryDate = item.entryDate;
      }
      this.loadDetail = false;
    },
    async getCashReceiptItem(no) {
      await API.get("/finance/api/finance/cashreceipt/" + no).then((resp) => {
        let dataResp = resp.data.cashReceiptData;
        this.detail.details = dataResp.description;
        this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.entryBy;
        this.detail.entryDate = dataResp.entryDate;
      });
    },
    async getInvoiceItem(no) {
      await API.get("/broking/api/broking/invoice/by-invoice-no/" + no).then(
        (resp) => {
          let dataResp = resp.data.invoice;
          this.detail.details = dataResp.invoiceClass.description;
          this.detail.attachDate = dataResp.invoiceClass.attachActiveDate;
          this.detail.category = dataResp.invoiceClass.businessCategory;
          this.detail.segment = dataResp.segmentCode;
          this.detail.subsegment = dataResp.subSegmentCode;
          this.detail.risk = dataResp.invoiceClass.riskCode;
          this.detail.insured = dataResp.invoiceClass.insured;
          this.detail.insured2 = dataResp.invoiceClass.insured;
          this.detail.exchangeRate = this.currencyFormat(
            dataResp.invoiceValue.exchangeRate
          );
          this.detail.entryName = dataResp.createdBy;
          this.detail.entryDate = dataResp.createdDate;
          this.detail.masterPolicy = dataResp.invoiceClass.masterPolicy;
          this.detail.policyNo = dataResp.invoiceClass.policyNo;
        }
      );
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>