<template>
  <v-card flat>
    <v-row>
      <v-col cols="2" class="pr-0 py-0">
        <isttoolbar
          style="border-top-left-radius: 5px"
          title="Finance"
          dark
          color="secondary"
          icon="mdi-chart-box-plus-outline"
        >
        </isttoolbar>
      </v-col>
      <v-col cols="10" class="pl-0 py-0">
        <isttoolbar
          title="Query Debtor Transaction"
          dark
          color="primary"
          class="pa-0"
          style="border-top-right-radius: 5px"
        >
        </isttoolbar>
      </v-col>
    </v-row>

    <v-card class="px-3 py-0">
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Client/Agent</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client/Agent"
                hide-details="auto"
                v-model="filter.customer.searchValue"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Type</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Type"
                hide-details="auto"
                v-model="filter.type.searchValue"
                ref="type"
                name="type"
                :items="filter.type.items"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Currency"
                hide-details="auto"
                v-model="filter.currency.searchValue"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                :item-text="currencyTextItem"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Number</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Number From..."
                v-model="filter.numberFrom.searchValue"
                flat
                outlined
                dense
                hide-details="auto"
                ref="numberFrom"
                name="numberFrom"
                class="ma-0 compact-field"
                solo
              ></v-text-field>
            </v-col>
            <v-col cols="1" align-self="center" align="center" class="ma-0 pa-0">
              <span class="title">To</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Number To..."
                v-model="filter.numberTo.searchValue"
                flat
                outlined
                dense
                hide-details="auto"
                ref="numberTo"
                name="numberTo"
                class="ma-0 compact-field"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-card-actions class="py-0">
        <v-spacer> </v-spacer>
        <v-chip-group
          class="mx-2"
          v-model="selection"
          active-class="primary"
          mandatory
        >
          <v-chip small>Outstanding</v-chip>
          <v-chip small>Full Paid</v-chip>
        </v-chip-group>
        <v-btn
          min-width="100px"
          class="mx-2"
          @click="listSearch"
          outlined
          dark
          color="primary"
          small
        >
          <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1 compact-row"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      dense
      :footer-props="{ 'items-per-page-options': [5, 10] }"
      fixed-header
      hide-default-footer
      height="230"
    >
      <template v-slot:item="{ item, index }">
        <tr
          :class="selectedRows.indexOf(item) > -1 ? 'blue accent-1' : ''"
          @click="rowClicked(item)"
        >
          <td v-for="header in headers" :key="header.text">
            <div
              v-if="['amount', 'balance'].indexOf(header.value) != -1"
              :class="item[header.value] < 0 ? 'error--text' : ''"
              align="right"
            >
              {{ currencyFormat(item[header.value]) }}
            </div>
            <span v-else-if="header.value == 'tranDate'">
              {{ formatDateSlash(item.tranDate) }}
            </span>
            <v-menu
              v-else-if="header.value == 'actions'"
              bottom
              left
              :offset-x="true"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon x-small v-bind="attrs" v-on="on">
                  <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list dense>
                <v-list-item @click="viewItem(item, item.accountType)">
                  <v-list-item-title>View Detail</v-list-item-title>
                </v-list-item>
                <v-list-item @click="viewJournal(item, item.accountType)">
                  <v-list-item-title>View Journal</v-list-item-title>
                </v-list-item>
                <v-list-item @click="viewNotesItem(item)">
                  <v-list-item-title>Notes</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <span v-else>{{ item[header.value] }}</span>
          </td>
        </tr>
        <template>
          <tr
            v-for="(child, i) in item.listAcctTranData"
            :key="index + child.accountNo + i"
            :class="selectedRows.indexOf(child) > -1 ? 'blue accent-1' : ''"
            @click="rowClicked(child, item)"
          >
            <td v-for="header in headers" :key="header.text">
              <div
                v-if="['amount'].indexOf(header.value) != -1"
                :class="child[header.value] < 0 ? 'error--text' : ''"
                align="right"
              >
                {{ currencyFormat(child[header.value]) }}
              </div>
              <span v-else-if="header.value == 'accountType'">
                {{
                  ["JC", "JNS", "JNM"].indexOf(getDetailType(item, child)) != -1
                    ? getDetailType(item, child) +
                      " (" +
                      child.refAccountType +
                      ")"
                    : getDetailType(item, child)
                }}
                <!-- {{ child.accountType }} -->
              </span>
              <span v-else-if="header.value == 'tranDate'">
                {{ child.tranDate }}
              </span>
              <v-menu
                v-else-if="header.value == 'actions'"
                bottom
                left
                :offset-x="true"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon x-small v-bind="attrs" v-on="on">
                    <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item
                    @click="viewItem(child, getDetailType(item, child))"
                  >
                    <v-list-item-title>View Detail</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    @click="viewJournal(child, getDetailType(item, child))"
                  >
                    <v-list-item-title>View Journal</v-list-item-title>
                  </v-list-item>
                  <!-- <v-list-item @click="viewNotesItem(child, item)">
                    <v-list-item-title>Notes</v-list-item-title>
                  </v-list-item> -->
                </v-list>
              </v-menu>
              <span v-else></span>
            </td>
          </tr>
        </template>
      </template>
      <template v-slot:body.append>
        <tr>
          <v-card v-intersect="infiniteScrolling"></v-card>
        </tr>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>

    <v-expand-transition>
      <v-card v-show="detailForm">
        <v-toolbar
          dense
          style="height: auto"
          dark
          color="primary"
          flat
          class="compact-toolbar"
        >
          <v-toolbar-title>Detail Info</v-toolbar-title>
          <v-spacer> </v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                text
                @click="detailForm = false"
                style="height: auto"
              >
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-progress-linear
          indeterminate
          v-show="loadDetail"
        ></v-progress-linear>

        <v-row class="px-2">
          <v-col cols="5" class="py-1">
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Ref No</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.refNo"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Client/Agent</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.customer"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Details</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <textarea
                    v-model="detail.details"
                    readonly
                    rows="2"
                    style="width: inherit; border: 1px solid gray"
                  ></textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Attach</span>
                </v-col>
                <v-col cols="4" class="py-1 pr-1">
                  <input
                    v-model="detail.attach"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="5" class="py-1 pl-1">
                  <input
                    v-model="detail.attachDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Due</span>
                </v-col>
                <v-col cols="4" class="py-1 pr-1">
                  <input
                    v-model="detail.due"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="5" class="py-1 pl-1">
                  <input
                    v-model="detail.dueDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Business Category</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.category"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Underwriter</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.underwriter"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Segment</span>
                </v-col>
                <v-col cols="2" class="py-1 pr-1">
                  <input
                    v-model="detail.segment"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="2" class="pa-1">
                  <input
                    v-model="detail.subSegment"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="5" class="py-1 pl-1">
                  <input
                    v-model="detail.segmentDesc"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>
          </v-col>
          <v-col cols="7" class="py-1">
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Class of Risk</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.risk"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <span>Exchange Rate</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.exchangeRate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Acc/Exec</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.accExec"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <span>Client Paid</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.clientPaid"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Insured</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.insured"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <span>Paid Date</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.paidDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Entry By</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.entryName"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.entryDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>

            <br />
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Master Policy</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.masterPolicy"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Policy No</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.policyNo"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <!-- <span class="title">Bordeaux By</span> -->
                </v-col>
                <v-col cols="5" class="py-1">
                  <input
                    v-model="detail.bordeauxBy"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="4" class="py-1">
                  <input
                    v-model="detail.bordeauxDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>
          </v-col>
        </v-row>
      </v-card>
    </v-expand-transition>

    <v-dialog v-model="detailDialog.show" scrollable max-width="1100">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          {{ "Transaction Detail " + detailDialog.type }}
          <v-spacer></v-spacer>
          <v-btn
            outlined
            class="mx-1"
            min-width="100px"
            color="primary"
            @click="viewJournal(null, detailDialog.type, detailDialog.id)"
            v-show="!detailDialog.loading"
          >
            View Journal
          </v-btn>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="detailDialog.show = false"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-progress-linear
          v-show="detailDialog.loading"
          indeterminate
          color="primary"
        ></v-progress-linear>
        <v-card-text>
          <invoice
            v-show="
              ['INV', 'CN', 'FINV', 'INVF', 'CNF'].indexOf(detailDialog.type) !=
                -1 && detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></invoice>
          <cashreceipt
            v-show="
              ['CSH', 'REV'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></cashreceipt>
          <creditapp
            v-show="
              ['CA'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></creditapp>
          <refund
            v-show="
              ['REF'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></refund>
          <remittance
            v-show="
              ['PAYR', 'PFUN'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></remittance>
          <paiddirect
            v-show="
              ['PD', 'CPA'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></paiddirect>
          <journalcurrency
            v-show="
              ['JC', 'JNS', 'JNM'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></journalcurrency>
          <adjustment
            v-show="
              ['ADJ'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></adjustment>
        </v-card-text>
      </v-card>
    </v-dialog>

    <editablejournaldialog
      :refNo="journalDialog.refNo"
      :editable="false"
      :api="journalDialog.api"
      :getListParamName="journalDialog.getListParamName"
      :hideButton="true"
      :show="journalDialog.show"
      v-on:close="journalDialog.show = false"
    >
    </editablejournaldialog>

    <v-dialog
      v-model="notesDialog.show"
      scrollable
      :persistent="editNotes"
      max-width="800"
    >
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          Notes
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-show="!editNotes"
                text
                depressed
                color="primary"
                @click="editNotes = true"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-pen</v-icon>
              </v-btn>
            </template>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="
                  notesDialog.show = false;
                  editNotes = false;
                "
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-progress-linear
          v-show="notesDialog.loading"
          indeterminate
          color="primary"
        ></v-progress-linear>
        <v-card-text>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Client</span>
            </v-col>
            <v-col cols="6" class="py-1">
              <v-text-field
                v-model="notesDialog.data.client"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesClient"
                name="notesClient"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.currency"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesCurrency"
                name="notesCurrency"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">Trans No</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.transNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesTransNo"
                name="notesTransNo"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">A/Exec</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.acctExec"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesAcctExec"
                name="notesAcctExec"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Term</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.term"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesTerm"
                name="notesTerm"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">Type</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.type"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesType"
                name="notesType"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">Due Date</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.dueDate"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesDueDate"
                name="notesDueDate"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Remarks</span>
            </v-col>
            <v-col cols="10" class="py-1">
              <v-textarea
                v-model="notesDialog.data.remarks"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesRemarks"
                name="notesRemarks"
                solo
                :rows="4"
                :readonly="!editNotes"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <!-- <v-btn
            rounded
            color="primary"
            min-width="100px"
            @click="editNotes = false"
            v-show="editNotes"
          >
            Cancel
          </v-btn> -->
          <v-btn
            rounded
            color="primary"
            min-width="100px"
            v-show="editNotes"
            @click="doEditNotes"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      maxWidth="350"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import { mapState, mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
import submitdialog from "@/components/dialog/submitDialog";
import invoice from "@/components/invoiceDialog/invoice_dialog_view";
import cashreceipt from "@/components/finance/cash_receipt";
import creditapp from "@/components/finance/credit_application";
import refund from "@/components/finance/refund";
import remittance from "@/components/finance/remittance";
import paiddirect from "@/components/finance/paid_direct";
import journalcurrency from "@/components/finance/journal_currency";
import adjustment from "@/components/finance/adjustment";
import * as invTypes from "@/store/modules/invoice/type";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";

export default {
  components: {
    isttoolbar,
    submitdialog,
    invoice,
    cashreceipt,
    creditapp,
    refund,
    remittance,
    paiddirect,
    journalcurrency,
    adjustment,
    editablejournaldialog,
  },
  directives: { money: VMoney },
  data: () => ({
    ...mapState(["invoice"]),
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    submitDialog: { show: false, mode: "", title: "", message: "" },
    headers: [
      {
        text: "Currency",
        value: "currency",
        sortable: false,
        align: "start",
      },
      {
        text: "Number",
        value: "accountNo",
        sortable: false,
      },
      {
        text: "Type",
        value: "accountType",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Date",
        value: "tranDate",
        sortable: false,
      },
      {
        text: "Age",
        value: "age",
        sortable: false,
      },
      {
        text: "Acc Executive",
        value: "cstExc",
        sortable: false,
      },
      {
        text: "Amount",
        value: "amount",
        sortable: false,
        align: "right",
      },
      {
        text: "Balance",
        value: "balance",
        sortable: false,
        align: "right",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: { itemsPerPage: 10 },
    isFullRecord: true,
    loading: false,
    expanded: false,
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      numberFrom: {
        value: "accountNoFrom",
        dataValue: "",
        searchValue: "",
        searchParam: "",
      },
      numberTo: {
        value: "accountNoTo",
        dataValue: "",
        searchValue: "",
        searchParam: "",
      },
      type: {
        value: "transType",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: ["INV", "FINV", "INVF", "CN", "CNF", "CSH", "REV"],
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
      },
    },
    listParam: [],
    exportLoading: false,
    selection: 0,
    detailForm: false,
    detail: {
      refNo: "",
      customer: "",
      details: "",
      attach: "",
      attachDate: "",
      due: "",
      dueDate: "",
      category: "",
      underwriter: "",
      segment: "",
      subsegment: "",
      segmentDesc: "",
      risk: "",
      insured: "",
      insured2: "",
      exchangeRate: "",
      accExec: "",
      clientPaid: "",
      paidDate: "",
      entryName: "",
      entryDate: "",
      masterPolicy: "",
      policyNo: "",
      bordeauxNo: "",
      bordeauxBy: "",
      bordeauxDate: "",
    },
    loadDetail: false,
    selectedRows: [],
    rules: {
      required: (value) => !!value || "Required.",
    },
    detailDialog: { show: false, loading: false, type: "", id: null, data: {} },
    notesDialog: { show: false, loading: false, data: {} },
    editNotes: false,
    journalDialog: { show: false, refNo: "", api: "", getListParamName: "" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        let pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        // this.refresh();
      },
      deep: true,
    },
  },

  mounted() {},

  created() {
    this.listSearch("init");
    this.initList(["customer", "currency", "segment"]);
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
      // di bawah adalah inv
      addInvState: invTypes.ACTION_ADD_STATE,
      resetInvState: invTypes.ACTION_RESET_STATE,
    }),

    goToAdd() {
      this.$router.replace({ name: "refund-add" });
    },

    refresh() {
      let vm = this;
      this.getList().then((data) => {
        if (this.options.page > 1) {
          if (data.items.length > 0) {
            data.items.forEach((item) => {
              let existItem = vm.items.filter(
                (val) =>
                  // val.accountType == item.accountType &&
                  // val.accountNo == item.accountNo &&
                  // val.term == item.term
                  val == item
              );
              if (existItem.length < 1) {
                vm.items.push(item);
              }
            });
          }
        } else {
          this.items = data.items;
        }
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        // if (
        //   sortBy != undefined &&
        //   sortDesc != undefined &&
        //   sortBy.length > 0 &&
        //   sortDesc.length > 0
        // )
        //   param["sort"] = [
        //     sortBy[0],
        //     sortDesc[0] ? "desc" : "asc",
        //     "ignoreCase",
        //   ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.searchParam ? value.value + "." + value.searchParam : value.value]: value.searchValue,
              };
            })
          );
        }
        // param["sort"] = "acctType,asc,ignoreCase";
        this.listParam = param;
        let url =
          "finance/api/finance/invaccount/gettransactiondebtor/outstanding";
        if (this.selection == 1) {
          url =
            "finance/api/finance/invaccount/gettransactiondebtor/fulltransaction";
        }
        API.get(url, param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              this.isFullRecord =
                resp.data.listTransaction.length == this.options.itemsPerPage;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.listTransaction,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },

    listSearch(mode = null) {
      console.log("mode", mode);
      // if (
      //   this.filter.customer.searchValue ||
      //   this.filter.number.searchValue ||
      //   mode == "init"
      // ) {
      this.options.page = 1;
      this.detailForm = false;
      this.isFullRecord = true;
      this.refresh();
      // } else {
      //   this.submitDialog = {
      //     show: true,
      //     mode: "error",
      //     title: "Please search by Client/Agent or Number",
      //   };
      // }
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async itemClick(item, headItem) {
      this.loadDetail = true;
      this.detailForm = true;
      Object.keys(this.detail).forEach((f) => {
        this.detail[f] = "";
      });

      let type = item.accountType;
      let id = item.accountNo;
      let term = item.term;
      let customer = item.cstCode + " - " + item.cstName;
      let detail = "";
      if (headItem != null) {
        type = this.getDetailType(headItem, item);
        if (type == item.accountType) {
          id = item.accountNo;
          term = item.term;
          detail = item.description;
        } else if (type == item.refAccountType) {
          id = item.refAccountNo;
          term = item.refTerm;
          detail = item.description;
        } else if (type == item.tranCode) {
          id = item.tranRefId;
          detail = item.tranDesc;
        }
      }
      this.detail.customer = customer;
      // ada apa saja? CSH INV CN CA REF PAYR JC PD ADJ
      if (["CN", "INV", "FINV", "CNF", "INVF"].indexOf(type) != -1) {
        await this.getInvoiceItem(id, term);
        // this.detail.underwriter = item.uwName;
      } else if (type == "CSH" || type == "REV") {
        await this.getCashReceiptItem(id);
      } else if (type == "CA") {
        this.detail.details = detail;
        await this.getCreditAppItem(id);
      } else if (type == "REF") {
        this.detail.details = detail;
        await this.getRefundItem(id);
      } else if (["PAYR", "PFUN"].indexOf(type) != -1) {
        this.detail.details = detail;
        await this.getRemittanceItem(id);
      } else if (type == "JC" || type == "JNS" || type == "JNM") {
        this.detail.customer = "";
        this.detail.details = detail;
        this.detail.exchangeRate = this.currencyFormat(item.exchgRate);
        await this.getJournalCurrencyItem(id);
      } else if (type == "PD" || type == "CPA") {
        this.detail.details = detail;
        await this.getPaidDirectItem(id);
      } else if (type == "ADJ") {
        this.detail.details = detail;
        await this.getAdjusmentItem(id);
      } else {
        this.detail.refNo = headItem != null ? id : item.accountNo;
        this.detail.details =
          item.tranDesc + ". " + (item.description ? item.description : "");
        this.detail.segment = item.prdseg;
        this.detail.subsegment = item.prdSubSeg;
        this.detail.risk = item.prdrisk;
        this.detail.exchangeRate = this.currencyFormat(item.exchgRate);
        this.detail.entryName = item.entryUsr;
        this.detail.entryDate = item.entryDate;
      }
      this.loadDetail = false;
    },
    async getCashReceiptItem(no) {
      await API.get("/finance/api/finance/cashreceipt/" + no).then((resp) => {
        let dataResp = resp.data.cashReceiptData;
        this.detail.refNo = no;
        if (this.detail.customer.includes(" - null")) {
          let customerSplit = this.detail.customer.split(" ");
          this.detail.customer = [
            customerSplit[0],
            customerSplit[1],
            dataResp.customerName,
          ].join(" ");
        }
        this.detail.details = dataResp.description;
        this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.entryBy;
        this.detail.entryDate = dataResp.entryDate;
      });
    },
    async getCreditAppItem(no) {
      await API.get("/finance/api/finance/creditapplication/" + no).then(
        (resp) => {
          let dataResp = resp.data.creditApplicationDataDto;
          this.detail.refNo = no;
          this.detail.details += ". " + dataResp.detail;
          this.detail.exchangeRate = this.currencyFormat(
            dataResp.cshOriExchangeRate
          );
          this.detail.entryName = dataResp.entryBy;
          this.detail.entryDate = dataResp.entryDate;
        }
      );
    },
    async getRefundItem(no) {
      await API.get("/finance/api/finance/refund/" + no).then((resp) => {
        let dataResp = resp.data.data;
        this.detail.refNo = no;
        this.detail.details +=
          ". " + dataResp.description + ". " + dataResp.reference;
        this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.entryBy;
        this.detail.entryDate = dataResp.entryDate;
      });
    },
    async getRemittanceItem(no) {
      await API.get("/finance/api/finance/remittance/" + no).then((resp) => {
        let dataResp = resp.data.data;
        this.detail.refNo = no;
        if (this.detail.customer.includes(" - null")) {
          let customerSplit = this.detail.customer.split(" ");
          let list = dataResp.listInvoice.concat(dataResp.listPremiumFunding);
          list = list.filter((value) => value.cstCode == customerSplit[0]);
          this.detail.customer = [
            customerSplit[0],
            customerSplit[1],
            list[0].cstName,
          ].join(" ");
        }
        this.detail.underwriter =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.detail.details += ". " + dataResp.reference;
        this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.entryBy;
        this.detail.entryDate = dataResp.entryDate;
      });
    },
    async getJournalCurrencyItem(no) {
      await API.get("/finance/api/finance/journalcurrency/" + no).then(
        (resp) => {
          let dataResp = resp.data.journalCurrencyData;
          this.detail.refNo = no;
          if (dataResp.listTransaction && dataResp.listTransaction.length > 0) {
            this.detail.customer =
              dataResp.listTransaction[0].customerCode +
              " - " +
              dataResp.listTransaction[0].customerName;
          }
          this.detail.details += ". " + dataResp.description;
          // this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
          this.detail.entryName = dataResp.entryBy;
          this.detail.entryDate = dataResp.entryDate;
        }
      );
    },
    async getPaidDirectItem(no) {
      // let paramJSON = { id: no };
      await API.get("/finance/api/finance/paid-direct/view/" + no).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.detail.refNo = no;
          this.detail.details += ". " + dataResp.description;
          this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
          this.detail.entryName = dataResp.createdBy;
          this.detail.entryDate = dataResp.createdDate;
        }
      );
    },
    async getAdjusmentItem(no) {
      await API.get("/finance/api/finance/adjustment/" + no).then((resp) => {
        let dataResp = resp.data.data;
        this.detail.refNo = no;
        this.detail.details += ". " + dataResp.description;
        this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.createdBy;
        this.detail.entryDate = dataResp.createdDate;
      });
    },
    async getInvoiceItem(no, term) {
      await API.get("/broking/api/broking/invoice/by-invoice-no/" + no).then(
        (resp) => {
          let dataResp = resp.data.invoice;
          let dueDate = this.getDueDate(
            dataResp.invoiceInstallment.toClientInstallmentList,
            term
          );
          this.detail.refNo = no;
          if (this.detail.customer.includes(" - null")) {
            let customerSplit = this.detail.customer.split(" ");
            this.detail.customer = [
              customerSplit[0],
              customerSplit[1],
              dataResp.customerName,
            ].join(" ");
          }
          this.detail.details = dataResp.invoiceClass.description;
          this.detail.attach =
            this.diffDays(dataResp.invoiceClass.attachActiveDate) + " Days";
          this.detail.attachDate = dataResp.invoiceClass.attachActiveDate;
          // this.detail.due =
          //   this.diffDays(dataResp.invoiceClass.insurancePeriodEnd) + " Days";
          // this.detail.dueDate = dataResp.invoiceClass.insurancePeriodEnd;
          this.detail.due =
            dueDate == "" ? "" : this.diffDays(dueDate) + " Days";
          this.detail.dueDate = dueDate;
          this.detail.category =
            dataResp.invoiceClass.businessCategory +
            " - " +
            dataResp.invoiceClass.businessName;
            if(dataResp.invoiceInsurance.insuranceSharingList) this.detail.underwriter = this.getUwLeader(dataResp.invoiceInsurance.insuranceSharingList);
          
          this.detail.segment = dataResp.segmentCode;
          this.detail.subsegment = dataResp.subSegmentCode;
          this.detail.segmentDesc = this.getSegmentDesc(dataResp.segmentCode);
          this.detail.risk = dataResp.invoiceClass.riskCode;
          this.detail.insured = dataResp.invoiceClass.insured;
          this.detail.insured2 = dataResp.invoiceClass.insured;
          this.detail.exchangeRate = this.currencyFormat(
            dataResp.invoiceValue.exchangeRate
          );
          this.detail.entryName = dataResp.createdBy;
          this.detail.entryDate = dataResp.createdDate.split(" ")[0];
          this.detail.masterPolicy = dataResp.invoiceClass.masterPolicy;
          this.detail.policyNo = dataResp.invoiceClass.policyNo;
        }
      );

      let param = { "accountNo.equals": no, "term.equals": term };
      await API.get(
        "finance/api/finance/invaccount/getpaymentinfo/debtor",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          // this.detail.accExec = resp.data.totalPercentage;
          this.detail.clientPaid = this.currencyFormat(
            resp.data.totalAmountPaid
          );
          this.detail.paidDate = resp.data.lastPaymentDate
            ? resp.data.lastPaymentDate.split("T")[0]
            : "";
        }
      });
    },
    rowClicked(row, headItem = null) {
      this.selectedRows = [];
      this.selectedRows.push(row);
      this.itemClick(row, headItem);
    },
    infiniteScrolling() {
      console.log();
      // if (this.filter.customer.searchValue || this.filter.number.searchValue) {
      if (!this.loading && this.isFullRecord) {
        this.options.page = this.options.page + 1;
        this.refresh();
      }
      // }
    },
    diffDays(date) {
      let date1 = new Date(date);
      let date2 = new Date();
      let diffTime = Math.abs(date2 - date1);
      let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      return diffDays;
    },
    getUwLeader(list) {
      let activeItem = list.filter((value) => value.isLeader);
      let uwLeader = "";
      if (activeItem.length > 0) {
        uwLeader =
          activeItem[0].insuranceCode + " - " + activeItem[0].insuranceName;
      }
      return uwLeader;
    },
    getDueDate(list, term) {
      let installmentItem = list.filter((value) => value.no == term);
      if (installmentItem.length < 1) {
        if (term == 0) {
          installmentItem = list.filter((value) => value.no == term + 1);
        } else {
          installmentItem = list.filter((value) => value.no == term - 1);
        }
      }

      let dueDate = "";
      if (installmentItem.length > 0) {
        dueDate = installmentItem[0].dueDate;
      }
      return dueDate;
    },
    getSegmentDesc(code) {
      let item = this.filter.segment.items.filter(
        (value) => value.code == code
      );
      let name = "";
      if (item.length > 0) {
        name = item[0].value;
      }
      return name;
    },
    formatDateSlash(date) {
      if (!date) return null;
      
      let res = date.split("-");
      return [res[2], res[1], res[0]].join("/");
    },
    getDetailType(headItem, detailItem) {
      let type = detailItem.tranCode;
      if (detailItem.tranCode == "CA") {
        type =
          detailItem.refAccountType == null
            ? detailItem.tranCode
            : detailItem.refAccountType;
      }
      return type;
    },
    async viewItem(item, type) {
      console.debug(item, type, 'viewItem')
      let id = item.accountNo;
      if (type == item.accountType) {
        id = item.accountNo;
      } else if (type == item.refAccountType) {
        id = item.refAccountNo;
      } else if (type == item.tranCode) {
        id = item.tranRefId;
      }
      // ada apa saja? CSH INV CN CA REF PAYR JC PD ADJ
      if (["CN", "INV", "FINV", "CNF", "INVF"].indexOf(type) != -1) {
        // this.detailDialog = { show: true, loading: true, type: "", id: null };
        this.resetInvState();
        this.detailDialog = { show: true, loading: true, type: type, id: id };
        // let resp = await API.get(
        //   "/broking/api/broking/invoice/by-invoice-no/" + id
        // );
        // if (resp && resp.data && resp.data.code == 0) {
        //   let data = resp.data.invoice;
        //   this.addInvState(data);
        //   this.detailDialog = { show: true, loading: false, type: type, id: id };
        // } else {
        //   this.detailDialog = { show: true, loading: false, type: "" };
        // }
      } else if (
        [
          "CSH",
          "REV",
          "CA",
          "REF",
          "PAYR",
          "PFUN",
          "PD",
          "CPA",
          "JC",
          "JNS",
          "JNM",
          "ADJ",
        ].indexOf(type) != -1
      ) {
        this.detailDialog = { show: true, loading: true, type: type, id: id };
      } else {
        this.detailDialog = { show: false, loading: false, type: "", id: null };
      }
    },
    async viewJournal(item = null, type, refNo = null) {
      let id = "";
      if (refNo != null) {
        id = refNo;
      } else {
        id = item.accountNo;
        if (type == item.accountType) {
          id = item.accountNo;
        } else if (type == item.refAccountType) {
          id = item.refAccountNo;
        } else if (type == item.tranCode) {
          id = item.tranRefId;
        }
      }

      if (["CN", "INV", "FINV", "CNF", "INVF"].indexOf(type) != -1) {
        this.journalDialog.api = "/finance/api/finance/invaccount/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "CSH" || type == "REV") {
        this.journalDialog.api =
          "/finance/api/finance/cashreceipt/viewjournal/";
        this.journalDialog.getListParamName = "listJournalEntry";
      } else if (type == "CA") {
        this.journalDialog.api =
          "/finance/api/finance/creditapplication/viewjournal/";
        this.journalDialog.getListParamName = "listJournalEntry";
      } else if (type == "REF") {
        this.journalDialog.api = "/finance/api/finance/refund/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "PAYR" || type == "PFUN") {
        this.journalDialog.api =
          "/finance/api/finance/remittance/viewjournalRemittance/";
        this.journalDialog.getListParamName = "listJournalEntry";
      } else if (type == "PD" || type == "CPA") {
        this.journalDialog.api =
          "/finance/api/finance/paid-direct/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "JC" || type == "JNS" || type == "JNM") {
        this.journalDialog.api =
          "/finance/api/finance/journalcurrency/viewjournal/";
        this.journalDialog.getListParamName = "listJournalEntry";
      } else if (type == "ADJ") {
        this.journalDialog.api = "/finance/api/finance/adjustment/viewjournal/";
        this.journalDialog.getListParamName = "listJournalEntry";
      }
      this.journalDialog.refNo = id;
      this.journalDialog.show = true;
    },
    async viewNotesItem(item, headItem = null) {
      this.notesDialog.show = true;
      this.notesDialog.loading = true;
      let data = JSON.parse(JSON.stringify(item));
      if (typeof this.notesDialog.data == "object") {
        Object.keys(this.notesDialog.data).forEach((f) => {
          this.notesDialog.data[f] = "";
        });
      }

      let type = data.accountType;
      let no = data.accountNo;
      let term = data.term;
      if (headItem != null) {
        type = this.getDetailType(headItem, item);
        if (type == data.accountType) {
          no = data.accountNo;
          term = data.term;
        } else if (type == data.refAccountType) {
          no = data.refAccountNo;
          term = data.refTerm;
        } else if (type == data.tranCode) {
          no = data.tranRefId;
        }
      }
      data["client"] = data.cstCode + " - " + data.cstName;
      data["transNo"] = no;
      data["term"] = term;
      data["type"] = type;
      data["acctExec"] = "";
      data["dueDate"] = "";
      data["remarks"] = "";

      // get notes
      let paramJSON = { id: data.id };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/finance/invaccount/getNotes/debtor",
        param
      ).then((resp) => {
        let dataResp = resp.data;
        if (dataResp.code == 0) {
          data["remarks"] = dataResp.notes;
        }
      });

      // get invoice
      if (["CN", "INV", "FINV", "CNF", "INVF"].indexOf(type) != -1) {
        let employeeId = null;
        let resp = await API.get(
          "/broking/api/broking/invoice/by-invoice-no/" + no
        );
        console.log("get inv ", resp, resp.data, resp.data.code == 0);
        if (resp && resp.data && resp.data.code == 0) {
          let dataResp = resp.data.invoice;
          data["dueDate"] = this.getDueDate(
            dataResp.invoiceInstallment.toClientInstallmentList,
            term
          );
          employeeId = dataResp.idEmployee;
        }
        // get Account Executive
        if (employeeId != null) {
          await API.get(
            "/user/api/user-management/user/employee/" + employeeId
          ).then((resp) => {
            if (resp.data.code == 0) {
              let personal = resp.data.data.personalData;
              data["acctExec"] = personal.nickname;
            }
          });
        }
      }

      this.notesDialog.loading = false;
      this.notesDialog.data = data;
    },
    async doEditNotes() {
      this.submitDialog.mode = "loading";
      this.submitDialog.title = null;
      this.submitDialog.show = true;

      let submitUrl = "/finance/api/finance/invaccount/updateNotes/debtor";
      let paramJSON = {
        id: this.notesDialog.data.id,
        notes: this.notesDialog.data.remarks,
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.submitDialog.mode = "success";
            this.notesDialog.show = false;
            this.editNotes = false;
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style scoped>
::v-deep
  .v-data-table.compact-row
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td {
  height: 20px;
}
::v-deep .compact-field {
  /* transform: scale(0.8);
  transform-origin: left center 0px; */
}
::v-deep .compact-toolbar {
  height: auto;
}
::v-deep .compact-toolbar .v-toolbar__content {
  height: auto !important;
}
::v-deep .v-chip-group .v-slide-group__content {
  padding: inherit;
}
</style>