<template>
  <v-card flat>
    <v-tabs v-model="tab" fixed-tabs light>
      <v-tab @click="clickTab('class')">Class</v-tab>
      <v-tab @click="clickTab('object')">Object Insured</v-tab>
      <v-tab @click="clickTab('value')">Value</v-tab>
      <v-tab @click="clickTab('insurance')">Insurance</v-tab>
      <v-tab @click="clickTab('installment')">Installment</v-tab>
      <v-tab v-show="invoice.statusEngineeringFee" @click="clickTab('engineering')">Engineering Fee</v-tab>
      <v-tab @click="clickTab('agent')">Agent</v-tab>
      <v-tab @click="clickTab('paymentHisory')">Payment History</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
        <v-tab-item>
          <classTab />
        </v-tab-item>
        <v-tab-item>
          <objectInsuredTab />
        </v-tab-item>
        <v-tab-item>
          <valueTab />
        </v-tab-item>
        <v-tab-item>
          <insuranceTab />
        </v-tab-item>
        <v-tab-item>
          <installmentTab />
        </v-tab-item>
        <v-tab-item>
          <engineeringFeeTab />
        </v-tab-item>
        <v-tab-item>
          <agentTab />
        </v-tab-item>
        <v-tab-item>
          <paymentHistoryTab />
        </v-tab-item>
    </v-tabs-items>
    <v-card>
        <v-form class="mx-5">
          <v-row>
            <v-col cols="6">

              <v-row align="center" class="ml-2 mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Entry By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="entry"
                    v-model="invoice.createdBy"
                    class="ma-0"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="entryDate"
                    v-model="invoice.createdDate"
                    class="ma-0"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row align="center" class="ml-2 mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Approved By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="approved"
                    v-model="invoice.approvedBy"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="approvedDate"
                    v-model="invoice.approvedDate"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

            </v-col>

            <v-col cols="6">

              <v-row align="center" class="mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Close By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="close"
                    v-model="invoice.closedBy"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="closeDate"
                    v-model="invoice.closedDate"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row align="center" class="mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Modified By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="modified"
                    v-model="invoice.modifiedBy"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="modifiedDate"
                    v-model="invoice.modifiedDate"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

            </v-col>
          </v-row>
        </v-form>
    </v-card>
  </v-card>
</template>

<script>
// import API from "@/core/api/api.js";
import * as types from '@/store/modules/invoice/type';
import classTab from "./classTab/class_view";
import objectInsuredTab from "./objectInsuredTab/objectInsured_view.vue";
import installmentTab from "./installmentTab/installment_view";
import insuranceTab from "./insuranceTab/insurance_view";
import agentTab from "./agentTab/agent_view";
import valueTab from "./valueTab_broking/value_view";
import engineeringFeeTab from "./engineeringFeeTab/engineeringFee_view";
import paymentHistoryTab from "./paymentHistoryTab/paymentHistory_view.vue";
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    classTab,
    objectInsuredTab,
    installmentTab,
    insuranceTab,
    agentTab,
    valueTab,
    engineeringFeeTab,
    paymentHistoryTab
  },
  props: ['dataBroking'],
  data: () => ({
    tab: 0,
    footer: {
      entry: "",
      entryDate: {
        date: "",
        menu: false
      },
      approved: "",
      approvedDate: {
        date: "",
        menu: false
      },
      close: "",
      closeDate: {
        date: "",
        menu: false
      },
      modified: "",
      modifiedDate: {
        date: "",
        menu: false
      }
    },
    riskMultiInsuredList: [],
    statusEngineeringFee: false,
  }),
  mounted() {
    if (this.$route.params.tabs) {
      this.tab = parseInt(this.$route.params.tabs);
    }
    // this.getRiskMultiInsured()
  },
  computed: {
    ...mapState(['invoice']),
  },
  watch: {
    "invoice.statusPage": {
      handler: function (after, before) {
        if (after === "view" && before === "edit") {
          this.tab = 0
        }
      },
      deep: true,
    },
    // "invoice.riskCode": {
    //   handler: function (after) {
    //     let filteredMultiInsured = this.riskMultiInsuredList.filter(
    //       (i) => i.riskCode == after
    //     );
    //     if (filteredMultiInsured.length > 0) {
    //       this.statusEngineeringFee = true;
    //     } else {
    //       this.statusEngineeringFee = false;
    //     }
    //   },
    //   deep: true,
    // },
  },
  methods: {
    ...mapActions({
      setTabInvoice: types.ACTION_TAB_INVOICE,
    }),
    clickTab(value) {
      // console.debug(value, '=======', 'tab' )
      this.setTabInvoice(value)
    }
    // async getRiskMultiInsured() {
    //   let resp = await API.get(
    //     "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_EF&isActive.equals=1&sort=code,asc,ignoreCase"
    //   );
    //   if (resp.data.code === 0) {
    //     this.riskMultiInsuredList =
    //       resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

    //     // cek apakah yang terpilih adalah bisa multiinsured
    //     let filteredMultiInsured = this.riskMultiInsuredList.filter(
    //       (i) => i.riskCode == this.invoice.riskCode
    //     );
    //     if (filteredMultiInsured.length > 0) {
    //       this.statusEngineeringFee = true;
    //     } else {
    //       this.statusEngineeringFee = false;
    //     }
    //   }
    // }
  }
}
</script>

<style>

</style>