<template>
  <v-card flat>
    <isttoolbar dark color="secondary" icon="mdi-cog-outline">
      <h5 style="font-size: 1.5em" class="font-weight-regular">Bank Master</h5>
      <v-spacer></v-spacer>
      <v-btn
        outlined
        color="white"
        @click="save"
        class="mx-3"
        width="100px"
        dark
      >
        Save
      </v-btn>
      <v-btn
        outlined
        color="white"
        @click="back"
        class="mx-0"
        width="100px"
        dark
      >
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar dark color="primary" class="mb-2"
      ><h5 style="font-size: 1.3em" class="font-weight-regular pl-9">
        New Bank Master
      </h5></isttoolbar
    >
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Code
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            solo
            hide-details="auto"
            label="Bank Code"
            ref="bankcode"
            v-model="param.bankcode"
            :rules="[rules.required]"
            @keydown="codeKeydown($event)"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Name
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            solo
            hide-details="auto"
            label="Bank Name"
            ref="bankname"
            v-model="param.bankname"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Address
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="7" align-self="start" class="pa-1">
          <v-textarea
            flat
            outlined
            dense
            solo
            hide-details="auto"
            v-model="param.address"
            ref="address"
            label="Address"
            :rows="4"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Place / Village
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-combobox
            v-model="input.village"
            label="Village"
            ref="village"
            :search-input.sync="search.village.input"
            @keyup="addressSearch(search.village)"
            :items="search.village.items"
            item-value="id"
            item-text="name"
            :loading="search.village.loading"
            v-on:change="addressChange(search.village)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  {{ item.district.name }} - {{ item.district.regency.name }} -
                  {{ item.district.regency.province.name }}
                </p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
        <v-col cols="1" class="ma-0 pa-1 pl-11 center">
          <v-row>
            <p class="title">Zip Code</p>
            <span class="error--text"></span>
          </v-row>
        </v-col>
        <v-col cols="2" align-self="start" class="ma-0 pa-1 pl-2">
          <v-text-field
            flat
            outlined
            dense
            solo
            hide-details="auto"
            label="Zip Code"
            ref="zip"
            v-model="input.zip"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            District
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-combobox
            v-model="input.district"
            label="District"
            ref="district"
            :search-input.sync="search.district.input"
            @keyup="addressSearch(search.district)"
            :items="search.district.items"
            item-value="id"
            item-text="name"
            :loading="search.district.loading"
            v-on:change="addressChange(search.district)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  {{ item.regency.name }} -
                  {{ item.regency.province.name }}
                </p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            City / Regency
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-combobox
            v-model="input.city"
            label="City"
            ref="city"
            :search-input.sync="search.city.input"
            @keyup="addressSearch(search.city)"
            :items="search.city.items"
            item-value="id"
            item-text="name"
            :loading="search.city.loading"
            v-on:change="addressChange(search.city)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">{{ item.province.name }}</p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Province
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-combobox
            v-model="input.province"
            label="Province"
            ref="province"
            :search-input.sync="search.province.input"
            @keyup="addressSearch(search.province)"
            :items="search.province.items"
            item-value="id"
            item-text="name"
            :loading="search.province.loading"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
          ></v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Contact Person
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            solo
            hide-details="auto"
            label="Contact Person"
            ref="contactData"
            v-model="param.contactData"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <!-- <v-snackbar v-model="snackbar" :timeout="2000" :light="true">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="success" text v-bind="attrs" @click="snackbar = false"
          >Close</v-btn
        >
      </template>
    </v-snackbar> -->
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
   
    param: {
      bankcode: "",
      bankname: "",
      address: "",
      contactData: "",
    },
    input: {
      zip: "",
      village: "",
      district: "",
      city: "",
      province: "",
    },
    errors: [],
    errorDescription: "",
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },

    villageItems: [],
    districtItems: [],
    regencyItems: [],
    provinceItems: [],
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url: "/config/api/master-location/village?name.equals=",
        loading: false,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url: "/config/api/master-location/district?name.contains=",
        loading: false,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url: "/config/api/master-location/regency?name.contains=",
        loading: false,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url: "/config/api/master-location/provinces?name.contains=",
        loading: false,
      },
      companycode: {
        name: "code",
        input: "",
        items: [],
        url:
          "/clients/api/account/client?flagParentGroup.equals=1& name.contains= ",
        loading: false,
      },
    },
    overlay: false,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
  }),
  computed: {
    form() {
      return {
        bankcode: this.param.bankcode,
        bankname: this.param.bankname,
      };
    },
    addressSearch: function () {
      return function (search) {
        search.loading = true;
        API.get(search.url + search.input.toUpperCase()).then((resp) => {
          search.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            search.items = resp.data.data;
          } else {
            search.items = [];
          }
          console.log(this.search[search.name].items);
        });
      };
    },
  },
  watch: {
    "param.bankcode": function (val) {
     this.param.bankcode = val.toUpperCase().replace(/\W/g, '');
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    addressChange(search) {
      if (typeof this.input[search.name] == "object") {
        if (search.name == "village") {
          this.input.zip = this.input.village.postalCode;
          this.input.district = this.input.village.district.name;
          this.input.city = this.input.village.district.regency.name;
          this.input.province = this.input.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.input.city = this.input.district.regency.name;
          this.input.province = this.input.district.regency.province.name;
        } else if (search.name == "city") {
          this.input.province = this.input.city.province.name;
        }
      }
    },
    back() {
      this.$router.replace({ name: "mbank-list" });
    },
    async save() {
      this.dialog.error = false;
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        mbank: {
          bankName: this.param.bankname,
          zipcode: this.input.zip,
          bankCode: this.param.bankcode,
          address: this.param.address,
          contactData: this.param.contactData,
          district:
            typeof this.input.district == "object"
              ? this.input.district.name
              : this.input.district,
          isActive: 1,
          province:
            typeof this.input.province == "object"
              ? this.input.province.id
              : this.input.province,
          village:
            typeof this.input.village == "object"
              ? this.input.village.name
              : this.input.village,
          city:
            typeof this.input.city == "object"
              ? this.input.city.name
              : this.input.city,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("config/api/master-mbank/add", param).then((resp) => {
        if (resp.data.code == 0) {
          //  this.dialog.errorMessage = null;
          // this.dialog.success = true;
          this.dialog = { show: false, success: false, error: false, errorMessage: "" };
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.back();
        } else {
          this.dialog.error = true;
          this.dialog.errorMessage =
            resp.data.errorMessage.length > 0
              ? resp.data.errorMessage.toUpperCase()
              : resp.data.errordescription.toUpperCase();
        }
      });
    },
    codeKeydown(e) {
      if (/^\W|_$/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>
