<template>
  <v-card flat>
    <isttoolbar dark color="secondary" icon="mdi-cog-outline">
      <h5 style="font-size: 1.5em" class="font-weight-regular">Province</h5>
      <v-spacer></v-spacer>
      <v-tooltip bottom v-if="mode === 'd' && checkAuthorities('area-province-edit')">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="mode = 'e'"
            text
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="edit"
        >Save</v-btn
      >

      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <!-- <v-btn
        v-if="mode === 'd'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="back"
        >back</v-btn
      > -->
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="back"
        >cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar v-if="mode === 'd'" dark class="mb-4" color="primary"
      ><h5 style="font-size: 1.3em" class="font-weight-regular pl-9">
        View Province
      </h5></isttoolbar
    >
    <isttoolbar v-if="mode === 'e'" dark class="mb-4" color="primary"
      ><h5 style="font-size: 1.3em" class="font-weight-regular pl-9">
        Edit Province
      </h5></isttoolbar
    >

    <v-form>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Province Code</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-text-field
              flat
              outlined
              dense
              filled
              readonly
              hide-details="auto"
              ref="provinceCode"
              v-model="param.provinceCode"
              name="provinceCode"
              class="ma-0"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Province Name</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-text-field
              v-if="mode === 'd'"
              filled
              readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="name"
              name="name"
              v-model="param.name"
              :rules="[rules.required]"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              hide-details="auto"
              label="Province Name"
              ref="name"
              name="name"
              v-model="param.name"
              solo
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
      <v-row align="center" class="ma-0 pa-0 pl-3">
        <v-col cols="2">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="6">
          <v-switch
            v-if="mode === 'd'"
            readonly
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
          <v-switch
            v-if="mode === 'e'"
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-5" v-show="mode === 'd'">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <!-- <v-card-actions class="ml-2">
      <v-btn
        color="primary"
        dark
        rounded
        @click="edit"
        class="pa-4"
        width="100px"
        height="40px"
      >Save</v-btn>
      <v-btn color="red" dark rounded @click="back" class="pa-4" width="100px" height="40px">Cancel</v-btn>
    </v-card-actions>-->
    <v-snackbar v-model="snackbar" :timeout="2000" :light="true">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="success" text v-bind="attrs" @click="snackbar = false"
          >Close</v-btn
        >
      </template>
    </v-snackbar>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  created() {
    if (this.$route.query.id) {
      this.param.id = this.$route.query.id;
      this.getById();
    }
    /*if (this.$route.params.item) {
      let routeParams = this.$route.params.item;
      this.param.code = routeParams.provinceCode;
      this.param.name = routeParams.name;
      this.param.id = routeParams.id;
    }*/
  },
  // load:(){
  //   return{
  //     loading: false,
  //   }
  // },

  data: () => ({
    errorDescription: "",
    mode: "",
    param: {
      provinceCode: "",
      name: "",
      id: 0,
      recordStatus: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },

    overlay: false,
    dialog: { show: false, success: false, error: false },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  computed: {
    form() {
      return {
        provinceCode: this.param.provinceCode,
        name: this.param.name,
        recordStatus: this.param.recordStatus,
      };
    },
  },

  mounted() {
    this.getById();
    this.mode = this.$route.query.mode;
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      this.$router.replace({ name: "area-province-list", query: {back: true}, });
    },
    getById() {
      const id = this.param.id;
      API.get("config/api/master-location/provinces/" + id, {}).then((resp) => {
        let data = resp.data.data;
        this.param.provinceCode = data.provinceCode;
        this.param.name = data.name;
        this.param.recordStatus = data.isActive === 1 ? true : false;
        this.param.entryName = data.createdBy;
        this.param.entryDate = this.formatDate(data.createdDate);
        this.param.modifName = data.modifiedBy;
        this.param.modifDate = this.formatDate(data.modifiedDate);
      });
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    async edit() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) {
          if (this.param.recordStatus === false) return;
          this.formHasErrors = true;
        }

        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        province: {
          id: this.param.id,
          isActive: this.param.recordStatus ? 1 : 0,
          name: this.param.name,
          provinceCode: this.param.provinceCode,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("config/api/master-location/provinces/update", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog = { show: false, success: false, error: false };
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            const err = resp.data.errorDescription;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
  },
};
</script>
