<template>
  <v-card flat>
    <isttoolbar
      title="Template Configuration"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer></v-spacer>
      <v-btn
        v-show="tab === 0 && checkAuthorities('template-config-config-add')"
        outlined
        color="white"
        @click="goToAddtemplateConfig"
      >
        <v-icon left>mdi-plus</v-icon>Add Template Config
      </v-btn>
      <v-btn v-show="tab === 1  && checkAuthorities('template-config-item-add')" outlined color="white" @click="goToAddTemplateItems">
        <v-icon left>mdi-plus</v-icon>Add Template Item
      </v-btn>
    </isttoolbar>

    <v-tabs v-model="tab" dark background-color="primary">
      <v-tab>Template Config</v-tab>
      <v-tab>Template Item</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <templateconfig />
      </v-tab-item>
      <v-tab-item>
        <templateitem :add="true" :action="true" />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import templateconfig from "./templateconfig/template_config_list";
import templateitem from "./templateitem/template_item_list";

export default {
  components: {
    isttoolbar,
    templateconfig,
    templateitem,
  },
  mounted() {
    if (this.$route.params.tabs) {
      this.tab = parseInt(this.$route.params.tabs);
    }
  },
  data: () => ({
    tab: 0,
  }),

  methods: {
    goToAddtemplateConfig() {
      this.$router.push({ name: "template-config-config-add" });
    },

    goToAddTemplateItems() {
      this.$router.push({ name: "template-config-item-add" });
    },
  },
};
</script>
