<template>
  <v-card flat>
    <isttoolbar title="Invoice" dark color="secondary" icon="mdi-equalizer">
      <v-spacer></v-spacer>
      <!-- <v-btn outlined width="200" max-width="220">
        <v-menu>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" >
              <v-icon left>mdi-plus</v-icon>Create Invoice
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="goToAdd">
              <v-list-item-title>Create Invoice</v-list-item-title>
            </v-list-item>
            <v-list-item @click="goToBulk">
              <v-list-item-title>Bulk Invoice</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-btn> -->
      <template v-if="authorities.indexOf('create-invoice-add') !== -1">
        <v-btn @click="goToAdd" outlined>
          <v-icon left>mdi-plus</v-icon>Create Invoice
        </v-btn>
        <!-- <v-menu offset-y outlined width="200" max-width="220">
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" outlined>
              <v-icon left>mdi-plus</v-icon>Create Invoice
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="goToAdd">
              <v-list-item-title>Create Invoice</v-list-item-title>
            </v-list-item>
            <v-list-item @click="goToBulk">
              <v-list-item-title>Bulk Invoice</v-list-item-title>
            </v-list-item>
            <v-list-item @click="goToEndorsement">
                <v-list-item-title>Endorsement</v-list-item-title>
              </v-list-item>
          </v-list>
        </v-menu> -->
      </template>
    </isttoolbar>
    <isttoolbar dark color="primary" class="pa-0">
      <!-- title="List of Customer Opportunity" -->
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-divider class="mx-5" dark vertical></v-divider> -->
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              ref="customer"
              name="customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              v-model="filter.customer.searchValue"
              :items="filter.customer.items"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
            ></v-autocomplete>
            <!-- @keyup="autocompSearch(filter.customer)" -->
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Customer</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.customer.searchValue"
                          ref="customer"
                          name="customer"
                          :search-input.sync="filter.customer.searchInput"
                          :items="filter.customer.items"
                          item-value="id"
                          @keyup="autocompSearch(filter.customer)"
                          item-text="codeAndName"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                        ></v-autocomplete>
                        <!-- @keyup="autocompSearch(filter.customer)" -->
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Invoice Type</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-select
                          hide-details="auto"
                          v-model="filter.invoiceType.searchValue"
                          ref="business"
                          name="business"
                          :items="filter.invoiceType.items"
                          item-value="id"
                          item-text="invoiceType"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Invoice Type."
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Invoice No.</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          hide-details="auto"
                          v-model="filter.invoice.searchValue"
                          ref="invoice"
                          name="invoice"
                          :items="filter.invoice.items"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Invoice Number."
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Class of Risk</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.business.searchValue"
                          ref="business"
                          name="business"
                          :items="filter.business.items"
                          :search-input.sync="filter.business.searchInput"
                          item-value="riskCode"
                          item-text="codeAndName"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Risk Class Name."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Transaction No.</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          hide-details="auto"
                          v-model="filter.reference.searchValue"
                          ref="reference"
                          name="reference"
                          :items="filter.reference.items"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Transaction Number."
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Period of Cover</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdFrom.searchValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdFrom.menu = !filter.createdFrom
                                    .menu
                                "
                                text
                                icon
                                style="height: auto; width: auto;"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdFrom.searchValue"
                            no-title
                            @input="filter.createdFrom.menu = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdTo.searchValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdTo.menu = !filter.createdTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto;"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdTo.searchValue"
                            no-title
                            @input="filter.createdTo.menu = false"
                            :min="filter.createdFrom.searchValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Status</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-select
                          hide-details="auto"
                          v-model="filter.status.searchValue"
                          ref="business"
                          name="business"
                          :items="filter.status.items"
                          item-value="id"
                          item-text="text"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Status."
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="py-5 px-15"
                    @click="listSearch"
                    rounded
                    dark
                    color="primary"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <!-- <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <span v-if="header.sortable == false" class="text-subtitle-2">{{
                header.text
              }}</span>
              <v-row v-else style="display: block ruby;">
                <span class="text-subtitle-2">{{ header.text }}</span>
                <v-btn icon @click="sortClick(header.value)">
                  <v-icon :color="getSortIconProp(header).color" dense>{{
                    getSortIconProp(header).icon
                  }}</v-icon>
                </v-btn>
              </v-row>
            </th>
          </tr>
        </thead>
      </template> -->
      <template v-slot:[`item.isActive`]="{ item }">
        <div>{{ item.isActive == 1 ? "Active" : "Inactve" }}</div>
      </template>
      <template v-slot:[`item.idAccount`]="{ item }">{{
        item.accountName
      }}</template>
      <template v-slot:[`item.amountEstimate`]="{ item }"
        >Rp.{{ item.amountEstimate }}</template
      >
      <!-- <template v-slot:[`item.statusEdited`]="{ item }">
        <div>{{ item.status == 0 ? "Entry" : (item.status == 1 ? "Approved" : "Closed") }}</div>
      </template> -->
      <template v-slot:[`item.statusEdited`]="{ item }">{{
        item.statusDesc
      }}</template>
      <template v-slot:[`item.transactionId`]="{ item }">{{
        item.transactionId
      }}</template>
      <template v-slot:[`item.currency`]="{ item }">{{
        item.currency
      }}</template>
      <template v-slot:[`item.amount`]="{ item }">{{
        formatMoney(Number(item.amount), item.currency)
      }}</template>
      <template v-slot:[`item.invoiceNumber`]="{ item }">{{
        item.invoiceNo
      }}</template>
      <template v-slot:[`item.riskCode`]="{ item }">{{
        item.riskName
      }}</template>
      <template v-slot:[`item.customerName`]="{ item }">{{
        item.customerName
      }}</template>
      <template v-slot:[`item.invoiceType`]="{ item }">{{
        item.invoiceTypeName
      }}</template>
      <template v-slot:[`item.insurancePeriodFrom`]="{ item }">{{
        dateFormat(item.insurancePeriodFrom)
      }}</template>
      <template v-slot:[`item.progress`]="{ item }">{{
        getText(item.progress)
      }}</template>
      <template v-slot:[`item.createdDate`]="{ item }">
        <span v-if="item.createdDate">{{
          new Date(item.createdDate).toISOString().substr(0, 10)
        }}</span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-if="authorities.indexOf('create-invoice-list') !== -1"
              @click="view(item)"
            >
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="
                item.status === 0 &&
                authorities.indexOf('create-invoice-edit') !== -1
              "
              @click="
                () => {
                  edit(item);
                }
              "
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="
                authorities.indexOf('create-invoice-add') !== -1 &&
                item.invoiceType < 4
              "
              @click="
                () => {
                  copy(item);
                }
              "
            >
              <v-list-item-title>Copy Invoice</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="
                item.status === 2 &&
                item.invoiceType === 1 &&
                item.isActive === 1 &&
                item.alreadyCancel !== 1
              "
              @click="
                () => {
                  endorseCreate(item);
                }
              "
            >
              <v-list-item-title>Endorsement</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="
                item.status === 2 &&
                item.invoiceType === 1 &&
                item.isActive === 1 &&
                item.alreadyEndorse !== 1
              "
              @click="
                () => {
                  cancelCreate(item);
                }
              "
            >
              <v-list-item-title>Cancellation</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    authorities: [],
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Invoice No.",
        align: "start",
        value: "invoiceNumber",
        sortable: false,
      },
      {
        text: "Transaction No.",
        value: "transactionId",
        sortable: false,
      },
      {
        text: "Endorsement",
        value: "endorsment",
        sortable: false,
      },
      {
        text: "Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Class Of Risk",
        value: "riskCode",
        sortable: false,
      },
      {
        text: "Customer",
        value: "customerName",
        sortable: false,
      },
      {
        text: "Brief Desc",
        value: "briefDesc",
        sortable: false,
      },
      {
        text: "Insurance Period From",
        value: "insurancePeriodFrom",
        sortable: false,
      },
      {
        text: "Invoice Type",
        value: "invoiceType",
        sortable: false,
      },
      {
        text: "Status",
        value: "statusEdited",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
      customer: {
        value: "customerId",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
      },
      invoiceType: {
        value: "invoiceType",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [
          { invoiceType: "Fee", id: 2 },
          { invoiceType: "Broking", id: 1 },
          { invoiceType: "Open Cover (Binder)", id: 3 },
          { invoiceType: "Endorsement", id: 4 },
          { invoiceType: "Cancellation", id: 6 },
          { invoiceType: "Commission", id: 7 },
        ],
      },
      business: {
        value: "riskCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/?riskName.contains=",
      },
      invoice: {
        value: "invoiceNo",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
      },
      reference: {
        value: "refNo",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
      },
      createdFrom: {
        value: "insurancePeriodFrom",
        // searchValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      createdTo: {
        value: "insurancePeriodTo",
        // searchValue: "new Date().toISOString().substr(0, 10)",
        searchValue: "",
        searchParam: "lessThanOrEqual",
        menu: false,
      },
      status: {
        value: "recStatus",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [
          {id: 0, text: "ENTRY"},
          {id: 1, text: "APPROVE"},
          {id: 2, text: "FINAL"},
        ],
      },
    },
    listParam: [],
    exportLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code) {
        var pItem = this.filter.progress.items.filter(
          (value) => value.code == code
        );
        return pItem.length > 0 ? pItem[0].value : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
        localStorage.removeItem("from");
      },
      deep: true,
    },
  },

  mounted() {
    this.resetState();
    // this.$store.dispatch(types.ACTION_RESET_STATE)
  },

  created() {
    this.authorities = JSON.parse(
      localStorage.getItem("checkToken")
    ).authorities;
    this.initList(["customer", "business"]);
    if(this.$route.query.back == true) this.backFromAction();
    // this.filter.insuranceFrom.searchValue = "";
    // this.filter.insuranceTo.searchValue = "";
    this.filter.createdFrom.searchValue = "";
    this.filter.createdTo.searchValue = "";
  },

  methods: {
    formatStatus(status) {
      let newStatus = "";
      if (status == 1) {
        newStatus = "Approved";
      } else if (status == 2) {
        newStatus = "Final";
      } else if (status == 3) {
        newStatus = "Closed";
      } else {
        newStatus = "Entry";
      }

      return newStatus;
    },
    ...mapActions({
      resetState: types.ACTION_RESET_STATE,
    }),
    goToAdd(status) {
      this.resetState();
      if (status === "endorsement") {
        this.$router.replace({
          name: "create-invoice-add",
          query: { endorsement: true },
        });
      } else {
        this.$router.replace({ name: "create-invoice-add" });
      }
      localStorage.removeItem("dataInstallmentUnder");
    },

    goToBulk() {
      this.$router.replace({ name: "create-invoice-bulk" });
    },
    goToEndorsement() {
      this.resetState();
      this.$router.replace({
        name: "create-invoice-endorsement",
        query: { status: "Entry", statusPage: "edit", endorse: "create" },
      });
      localStorage.setItem("from", "edit");
      localStorage.removeItem("dataInstallmentUnder");
    },

    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (String(this.filter[key].searchValue).length > 0) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("broking/api/broking/invoice/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              // console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },

    view(item) {
      if (item.invoiceType === 4) {
        this.endorse(item);
      } else if (item.invoiceType === 6) {
        this.cancelView(item);
      } else if (item.invoiceType === 7) {
        this.commission(item);
      } else {
        this.$router.replace({
          name: "create-invoice-view",
          params: { item: item },
          query: {
            id: item.id,
            status: item.statusDesc,
            statusPage: "view",
            isActive: item.isActive,
            alreadyEndorse: item.alreadyEndorse,
            alreadyCancel: item.alreadyCancel,
          },
        });
        localStorage.setItem("from", "view");
        localStorage.removeItem("dataInstallmentUnder");
        this.storeTable();
      }
    },

    edit(item) {
      if (item.invoiceType === 4) {
        this.endorseEdit(item);
      } else if (item.invoiceType === 6) {
        this.cancelEdit(item);
      } else if (item.invoiceType === 7) {
        this.commissionEdit(item);  
      } else {
        this.$router.replace({
          name: "create-invoice-edit",
          params: { item: item },
          query: {
            id: item.id,
            status: item.statusDesc,
            statusPage: "edit",
            isActive: item.isActive,
            alreadyEndorse: item.alreadyEndorse,
            alreadyCancel: item.alreadyCancel,
          },
        });
        localStorage.setItem("from", "edit");
        localStorage.removeItem("dataInstallmentUnder");
        this.storeTable();
      }
    },
    copy(item) {
      this.$router.replace({
        name: "create-invoice-copy",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "edit",
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      localStorage.setItem("from", "edit");
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    endorse(item) {
      this.$router.replace({
        name: "create-invoice-endorsement",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "view",
          endorse: "view",
          endorsement: item.endorsment,
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      // localStorage.setItem("from", "edit")
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    endorseEdit(item) {
      this.$router.replace({
        name: "create-invoice-endorsement",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "edit",
          endorse: "view",
          endorsement: item.endorsment,
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      // localStorage.setItem("from", "edit")
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    endorseCreate(item) {
      this.$router.replace({
        name: "create-invoice-endorsement",
        params: { item: item },
        query: {
          id: item.id,
          status: "ENTRY",
          statusPage: "edit",
          endorse: "create",
          endorsement: item.endorsment,
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      localStorage.setItem("from", "edit");
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    cancelCreate(item) {
      this.$router.replace({
        name: "create-invoice-cancellation",
        params: { item: item },
        query: {
          id: item.id,
          status: "ENTRY",
          statusPage: "edit",
          endorse: "create",
          endorsement: item.endorsment,
          cancellation: "create",
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      localStorage.setItem("from", "edit");
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    cancelView(item) {
      this.$router.replace({
        name: "create-invoice-cancellation",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "view",
          endorse: "view",
          endorsement: item.endorsment,
          cancellation: "view",
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      // localStorage.setItem("from", "edit")
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    cancelEdit(item) {
      this.$router.replace({
        name: "create-invoice-cancellation",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "edit",
          endorse: "view",
          endorsement: item.endorsment,
          cancellation: "edit",
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      // localStorage.setItem("from", "edit")
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    commission(item) {
      this.$router.replace({
        name: "create-invoice-commission",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "view",
          endorse: "view",
          endorsement: item.endorsment,
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      // localStorage.setItem("from", "edit")
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    commissionEdit(item) {
      this.$router.replace({
        name: "create-invoice-commission",
        params: { item: item },
        query: {
          id: item.id,
          status: item.statusDesc,
          statusPage: "edit",
          endorse: "view",
          endorsement: item.endorsment,
          isActive: item.isActive,
          alreadyEndorse: item.alreadyEndorse,
          alreadyCancel: item.alreadyCancel,
        },
      });
      // localStorage.setItem("from", "edit")
      localStorage.removeItem("dataInstallmentUnder");
      this.storeTable();
    },
    viewItem(item) {
      // this.$router.push({
      //   name: "area-regency-detail",
      //   params: { item: item },
      //   query: { id: item.id }
      // });
      console.log(item);
      alert("belum");
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("/api/master-location/regency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    initList(list) {
      for (let l of list) {
        API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      filter.loading = true;
      API.get(
        filter.url +
          filter[
            !this.expanded ? "toolbarSearchInput" : "searchInput"
          ].toUpperCase()
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          // console.log(resp.data.data);
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
    },
    
    dateFormat(data) {
      if(data) {
        //dd-MM-yyyy
        let tanggal =
          data.substring(8, 10) +
          "-" +
          data.substring(5, 7) +
          "-" +
          data.substring(0, 4);

        return tanggal;
      }
    },

    storeTable() {
      let viewListData = {
        dataList : {
          // items: this.items,
          "options": this.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.dataList;
        // this.items = dataCsh.items;
        this.options = dataList.options;
        // this.totalItems = dataCsh.totalItems;
        this.loading = false;
        // let vm = this;
        setTimeout(() => {
          // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
          localStorage.removeItem('viewListData');
          // vm.optionsHandler = true;
        }, 100)
      } //else {
        // this.optionsHandler = true;
      // }  
    },
  },
};
</script>
