<template>
  <v-card flat>
    <isttoolbar
      title="Closing Control"
      dark
      color="secondary"
      icon="mdi-ballot-recount-outline"
    >
    </isttoolbar>
    <v-card class="pt-5 pb-5 pl-5 mb-5 mt-5">
      <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0">
          <p class="text-lg-right title mb-0">
            Current Business Date :
          </p>
          <p class="font-italic text-right mb-2">system date :</p>
          <p class="text-lg-right title mb-4 mt-4">
            Broking Status :
          </p>
          <p class="text-lg-right title mb-4 mt-4">
            Finance Status :
          </p>
          <p class="text-lg-right title mb-4 mt-4">
            Claim Statement :
          </p>
          <p class="text-lg-right title mb-2">
            Status :
          </p>
        </v-col>
        <v-col cols="8" class="ma-0 pa-0">
          <v-row class="ma-0 pa-0">
            <v-col cols="2" class="ma-0 pa-0 mt-1">
              <p class="text-left headline font-weight-bold mb-0 ml-2">
                {{ dashboard.businessDate }}
              </p>
              <p class="font-italic mb-2 ml-2">({{ dashboard.sysDate }})</p>
            </v-col>
            <v-col cols="3" class="ma-0 pa-0 mt-1">
              <v-menu
                v-model="menuBussLock"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-show="!dashboard.businessDateLock"
                    class="ma-0"
                    outlined
                    color="primary"
                    width="120"
                    v-bind="attrs"
                    v-on="on"
                  >
                    Lock Buss.Date
                  </v-btn>
                </template>
                <v-date-picker
                  v-model="date"
                  @input="
                    dialogLock = true;
                    menuBussLock = false;
                  "
                ></v-date-picker>
              </v-menu>
              <v-btn
                v-show="dashboard.businessDateLock"
                class="ma-0"
                outlined
                color="primary"
                width="120"
                @click="dialogUnlock = true"
              >
                Unlock Buss.Date
              </v-btn>
            </v-col>
            <v-col cols="2" class="ma-0 pa-0">
              <v-chip
                v-show="dashboard.businessDateLock"
                class="ma-2"
                color="red"
                text-color="white"
              >
                Locked
              </v-chip>
            </v-col>
          </v-row>
          <v-row class="ma-0 pa-0">
            <v-col cols="2" class="ma-0 pa-0">
              <p class="text-left title font-weight-bold mb-0 ml-2 mt-2">
                {{ dashboard.brokingStatus ? "ACTIVE" : "INACTIVE" }}
              </p>
            </v-col>
            <v-col cols="2" class="ma-0 pa-0">
              <v-btn
                class="ma-0 mb-1"
                outlined
                color="primary"
                @click="statusBroking(dashboard.brokingStatus)"
              >
                {{ dashboard.brokingStatus ? "Inactive Now" : "Active Now" }}
              </v-btn>
            </v-col>
            <v-col cols="8" class="ma-0 pa-0"> </v-col>
          </v-row>
          <v-row class="ma-0 pa-0">
            <v-col cols="2" class="ma-0 pa-0">
              <p class="text-left title font-weight-bold mb-0 ml-2 mt-2">
                {{ dashboard.financeStatus ? "ACTIVE" : "INACTIVE" }}
              </p>
            </v-col>
            <v-col cols="2" class="ma-0 pa-0">
              <v-btn
                class="ma-0 mb-1"
                outlined
                color="primary"
                @click="statusFinance(dashboard.financeStatus)"
              >
                {{ dashboard.financeStatus ? "Inactive Now" : "Active Now" }}
              </v-btn>
            </v-col>
            <v-col cols="8" class="ma-0 pa-0"> </v-col>
          </v-row>
          <v-row class="ma-0 pa-0">
            <v-col cols="2" class="ma-0 pa-0">
              <p class="text-left title font-weight-bold mb-0 ml-2 mt-2">
                {{ dashboard.claimStatus ? "ACTIVE" : "INACTIVE" }}
              </p>
            </v-col>
            <v-col cols="2" class="ma-0 pa-0">
              <v-btn
                class="ma-0 mb-1"
                outlined
                color="primary"
                @click="statusClaim(dashboard.claimStatus)"
              >
                {{ dashboard.claimStatus ? "Inactive Now" : "Active Now" }}
              </v-btn>
            </v-col>
            <v-col cols="8" class="ma-0 pa-0"> </v-col>
          </v-row>
          <p class="text-left headline font-weight-bold mb-2 ml-2 mt-1">
            {{ dashboard.statusDesc }}
          </p>
          <v-btn
            class="ma-0 ml-2"
            outlined
            color="primary"
            @click="handleOpenDialog(dashboard.statusDesc)"
          >
            {{ textButton }}
          </v-btn>
        </v-col>
        <v-col cols="1" class="ma-0 pa-0">
          <v-btn text color="primary" @click="handleRefresh">
            <v-icon>mdi-cached</v-icon>
            <p class="text-decoration-underline mt-4 ml-2">
              Refresh Now
            </p>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:[`item.stepsResult`]="{ item }">
        <div
          align="center"
          justify="center"
          v-for="(obj, idx) in item.stepsResult"
          :key="idx"
        >
          <v-btn
            v-show="obj.output"
            text
            color="primary"
            class="ma-0"
            @click="downloadFile(obj.output, 'download')"
            small
          >
            <p class="text-decoration-underline mt-4 ml-2">
              {{ obj.output }}
            </p>
          </v-btn>
        </div>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="handleView(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>

    <!-- DIALOG -->
    <v-dialog
      v-model="dialogStatus"
      min-width="290px"
      scrollable
      max-width="1100px"
      persistent
      hide-overlay
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon class="hidden-xs-only btn-disabled">
            <v-icon>mdi-ballot-recount-outline</v-icon>
          </v-btn>
          <v-toolbar-title class="pl-0">Closing Control</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="() => handleClose()">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-card class="mt-5 mb-5 pa-5">
            <v-row class="ma-1 pa-0">
              <v-col
                cols="2"
                class="ma-0 pa-0"
                v-if="dashboardDialog.status === 'Closing Complete'"
              >
                <p class="text-lg-right title">
                  Process Id :
                </p>
                <p class="text-lg-right title">
                  Status :
                </p>
              </v-col>
              <v-col cols="2" class="ma-0 pa-0" v-else>
                <p class="text-lg-right title mb-3 mt-2">
                  Process Id :
                </p>
                <p class="text-lg-right title mb-0">
                  Current Business Date :
                </p>
                <p class="font-italic text-right mb-2">system date :</p>
                <p class="text-lg-right title mb-4 mt-4">
                  Broking Status :
                </p>
                <p class="text-lg-right title mb-4 mt-4">
                  Finance Status :
                </p>
                <p class="text-lg-right title mb-4 mt-4">
                  Claim Statement :
                </p>
                <p class="text-lg-right title mb-2">
                  Status :
                </p>
              </v-col>
              <v-col
                cols="8"
                class="ma-0 pa-0"
                v-if="dashboardDialog.status === 'Closing Complete'"
              >
                <p class="text-left headline font-weight-bold ml-2">
                  {{ dashboardDialog.processId }}
                </p>
                <p class="text-left headline font-weight-bold ml-2">
                  {{ dashboardDialog.status }}
                </p>
              </v-col>
              <v-col cols="8" class="ma-0 pa-0" v-else>
                <p class="text-left headline font-weight-bold mb-2 ml-2 mt-2">
                  {{ dashboardDialog.processId }}
                  <!-- <v-btn block @click="test()">
                    Block Button
                  </v-btn> -->
                </p>
                <v-row class="ma-0 pa-0">
                  <v-col cols="2" class="ma-0 pa-0 mt-1">
                    <p class="text-left headline font-weight-bold mb-0 ml-2">
                      {{ dashboard.businessDate }}
                    </p>
                    <p class="font-italic mb-2 ml-2">
                      ({{ dashboard.sysDate }})
                    </p>
                  </v-col>
                  <v-col cols="3" class="ma-0 pa-0 mt-1">
                    <v-menu
                      v-model="menuBussLock2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          v-show="!dashboard.businessDateLock"
                          class="ma-0"
                          outlined
                          color="primary"
                          width="120"
                          v-bind="attrs"
                          v-on="on"
                        >
                          Lock Buss.Date
                        </v-btn>
                      </template>
                      <v-date-picker
                        v-model="date2"
                        @input="
                          dialogLock2 = true;
                          menuBussLock2 = false;
                        "
                      ></v-date-picker>
                    </v-menu>
                    <v-btn
                      v-show="dashboard.businessDateLock"
                      class="ma-0"
                      outlined
                      color="primary"
                      width="120"
                      @click="dialogUnlock2 = true"
                    >
                      Unlock Buss.Date
                    </v-btn>
                  </v-col>
                  <v-col cols="2" class="ma-0 pa-0">
                    <v-chip
                      v-show="dashboard.businessDateLock"
                      class="ma-2"
                      color="red"
                      text-color="white"
                    >
                      Locked
                    </v-chip>
                  </v-col>
                </v-row>
                <v-row class="ma-0 pa-0">
                  <v-col cols="2" class="ma-0 pa-0">
                    <p class="text-left title font-weight-bold mb-0 ml-2 mt-2">
                      {{ dashboard.brokingStatus ? "ACTIVE" : "INACTIVE" }}
                    </p>
                  </v-col>
                  <v-col cols="2" class="ma-0 pa-0">
                    <v-btn
                      class="ma-0 mb-1"
                      outlined
                      color="primary"
                      width="120"
                      @click="statusBroking(dashboard.brokingStatus)"
                    >
                      {{
                        dashboard.brokingStatus ? "Inactive Now" : "Active Now"
                      }}
                    </v-btn>
                  </v-col>
                  <v-col cols="8" class="ma-0 pa-0"> </v-col>
                </v-row>
                <v-row class="ma-0 pa-0">
                  <v-col cols="2" class="ma-0 pa-0">
                    <p class="text-left title font-weight-bold mb-0 ml-2 mt-2">
                      {{ dashboard.financeStatus ? "ACTIVE" : "INACTIVE" }}
                    </p>
                  </v-col>
                  <v-col cols="2" class="ma-0 pa-0">
                    <v-btn
                      class="ma-0 mb-1"
                      outlined
                      color="primary"
                      width="120"
                      @click="statusFinance(dashboard.financeStatus)"
                    >
                      {{
                        dashboard.financeStatus ? "Inactive Now" : "Active Now"
                      }}
                    </v-btn>
                  </v-col>
                  <v-col cols="8" class="ma-0 pa-0"> </v-col>
                </v-row>
                <v-row class="ma-0 pa-0">
                  <v-col cols="2" class="ma-0 pa-0">
                    <p class="text-left title font-weight-bold mb-0 ml-2 mt-2">
                      {{ dashboard.claimStatus ? "ACTIVE" : "INACTIVE" }}
                    </p>
                  </v-col>
                  <v-col cols="2" class="ma-0 pa-0">
                    <v-btn
                      class="ma-0 mb-1"
                      outlined
                      color="primary"
                      width="120"
                      @click="statusClaim(dashboard.claimStatus)"
                    >
                      {{
                        dashboard.claimStatus ? "Inactive Now" : "Active Now"
                      }}
                    </v-btn>
                  </v-col>
                  <v-col cols="8" class="ma-0 pa-0"> </v-col>
                </v-row>
                <p class="text-left headline font-weight-bold mb-2 ml-2 mt-1">
                  {{ dashboardDialog.status }}
                </p>
              </v-col>
              <v-col
                cols="1"
                class="ma-0 pa-0"
                v-show="dashboardDialog.status !== 'Closing Complete'"
              >
                <v-btn text color="primary" @click="handleRefreshDialog">
                  <v-icon>mdi-cached</v-icon>
                  <p class="text-decoration-underline mt-4 ml-2">
                    Refresh Now
                  </p>
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
          <v-card class="pa-5">
            <v-row class="ma-1 pa-0">
              <v-col cols="2" class="ma-0 pa-0">
                <p class="text-lg-right title mb-0">
                  Closing Steps :
                </p>
              </v-col>
              <v-col cols="8" class="ma-0 pa-0"> </v-col>
              <v-col cols="1" class="ma-0 pa-0"> </v-col>
            </v-row>
            <v-row class="ma-1 pa-0">
              <v-col cols="1" class="ma-0 pa-0"> </v-col>
              <v-col cols="11" class="ma-0 pa-0">
                <v-stepper v-model="step" vertical class="elevation-0" flat>
                  <!-- begin -->
                  <v-stepper-step
                    step="1"
                    :complete="dashboardDialog.stepsResult[0].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              Begin Closing
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[0].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[0].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 1"
                            @click="startClosing"
                          >
                            Start Closing
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="1" class="contentStep">
                  </v-stepper-content>
                  <!-- compare -->
                  <!-- <v-stepper-step
                    step="2"
                    :complete="dashboardDialog.stepsResult[1].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="6"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              Compare Production Report vs Brokerage Account
                              (Audit)
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[1].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[1].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 2"
                            @click="compareClosing"
                          >
                            Done
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="2" class="contentStep">
                  </v-stepper-content> -->
                  <!-- calculate -->
                  <v-stepper-step
                    step="2"
                    :complete="dashboardDialog.stepsResult[1].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="5"
                          class="ma-0 pa-0 mr-0"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              Process End of Month (Calculate Closing Balance)
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[1].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[1].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col cols="2" class="ma-0 pa-0" align-self="center">
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0 mr-2"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 2"
                            @click="calculateClosing"
                          >
                            Process
                          </v-btn>
                          <!-- <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0"
                            outlined
                            color="primary"
                            small
                            :disabled="step < 3"
                            @click="checkClosing"
                          >
                            View
                          </v-btn> -->
                        </v-col>
                        <v-col
                          cols="4"
                          class="ma-0 pa-0"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0 mr-2 mt-1">
                              {{
                                dashboardDialog.stepsResult[1].output &&
                                `Output File : `
                              }}
                            </p>
                          </v-row>
                          <v-row class="ma-0 pa-0">
                            <v-btn
                              text
                              color="primary"
                              class="ma-0 pa-0"
                              small
                              @click="
                                downloadFile(
                                  dashboardDialog.stepsResult[1].output, 'download'
                                )
                              "
                              v-show="dashboardDialog.stepsResult[1].output"
                            >
                              <p class="text-decoration-underline mt-4">
                                {{ dashboardDialog.stepsResult[1].output }}
                              </p>
                            </v-btn>
                          </v-row>
                          
                        </v-col>
                        <v-col
                          cols="1"
                          class="ma-0 pa-0"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <v-btn
                              class="ma-0 ml-2"
                              outlined
                              color="primary"
                              small
                              v-show="dashboardDialog.stepsResult[1].output"
                              @click="
                                downloadFile(
                                  dashboardDialog.stepsResult[1].output, 'view'
                                )
                              "
                            >
                              View
                            </v-btn>
                          </v-row>
                        </v-col>

                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="3" class="contentStep">
                  </v-stepper-content>
                  <!-- lock -->
                  <!-- <v-stepper-step
                    step="4"
                    :complete="dashboardDialog.stepsResult[3].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="4"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              Set/Lock Business Date (Back Date)
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[3].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[3].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col cols="3" class="ma-0 pa-0" align-self="center">
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 4"
                            @click="lockDateClosing"
                          >
                            Lock Date
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="4" class="contentStep">
                  </v-stepper-content> -->
                  <!-- notification -->
                  <v-stepper-step
                    step="3"
                    :complete="dashboardDialog.stepsResult[2].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="5"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              Notify to Finance & Accounting, Closing Done
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[2].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[2].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 3"
                            @click="notifClosing"
                          >
                            Done
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="5" class="contentStep">
                  </v-stepper-content>
                  <!-- unlock -->
                  <!-- <v-stepper-step
                    step="6"
                    :complete="dashboardDialog.stepsResult[5].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="3"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              Unlock Business Date
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[5].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[5].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 6"
                            @click="unlockDateClosing"
                          >
                            Unlock Date
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="6" class="contentStep">
                  </v-stepper-content> -->
                  <!-- end -->
                  <v-stepper-step
                    step="4"
                    :complete="dashboardDialog.stepsResult[3].isChecked"
                  >
                    <v-container fluid class="ma-0 pa-0">
                      <v-row class="ma-0 pa-0">
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-row class="ma-0 pa-0">
                            <p class="text-left title ma-0 pa-0">
                              End Closing
                            </p>
                            <small>{{
                              dashboardDialog.stepsResult[3].executedDate &&
                              `executed at ${dashboardDialog.stepsResult[3].executedDate}`
                            }}</small>
                          </v-row>
                        </v-col>
                        <v-col
                          cols="2"
                          class="ma-0 pa-0 mr-2"
                          align-self="center"
                        >
                          <v-btn
                            v-show="dashboardDialog.status !== 'Closing Complete'"
                            class="ma-0 mr-2"
                            outlined
                            color="primary"
                            width="100"
                            :disabled="step !== 4"
                            @click="endClosing"
                          >
                            End Closing
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-stepper-step>
                  <v-stepper-content step="7" class="contentStep">
                  </v-stepper-content>
                </v-stepper>
              </v-col>
            </v-row>
          </v-card>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogDashboard.show"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card
        v-show="!dialogDashboard.success && !dialogDashboard.error"
        min-width="290px"
      >
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card
        v-show="dialogDashboard.success || dialogDashboard.error"
        min-width="290px"
      >
        <v-card-title
          v-if="dialogDashboard.success"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogDashboard.text }}</v-card-title
        >
        <v-card-title
          v-else-if="dialogDashboard.error"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogDashboard.text }}</v-card-title
        >
        <v-card-text
          v-if="dialogDashboard.error"
          class="d-flex justify-center error--text"
          style="word-break: inherit;"
        >
          {{ errorDescription }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              dialogDashboard = {
                show: false,
                success: false,
                error: false,
                text: '',
              }
            "
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <!-- Confirm Dialog Unlock Closing -->
    <v-dialog
      v-model="dialogUnlock"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Are you sure to unlock business date?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              unlockDateClosingDash();
              dialogUnlock = false;
            "
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogUnlock = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Confirm Dialog Unlock Closing 2 -->
    <v-dialog
      v-model="dialogUnlock2"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Are you sure to unlock business date?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              unlockDateClosing();
              dialogUnlock2 = false;
            "
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogUnlock2 = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Confirm Dialog Lock Closing -->
    <v-dialog
      v-model="dialogLock"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Are you sure to lock business date {{formatDate(date)}}?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              lockDateClosingDash(date);
              dialogLock = false;
            "
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogLock = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Confirm Dialog Lock Closing 2-->
    <v-dialog
      v-model="dialogLock2"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Are you sure to lock business date {{formatDate(date2)}}?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              lockDateClosing(date2);
              dialogLock2 = false;
            "
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogLock2 = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import documentPreview from "@/components/documentPreview/documentPreview";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar,
    documentPreview,
  },
  created() {},
  data: () => ({
    dialogPDF: false,
    filePDF: undefined,
    totalPage: 0,
    errorDescription: {},
    dialogDashboard: { show: false, success: false, error: false, text: "" },
    step: 1,
    dialogStatus: false,
    textButton: "Process Closing",
    dashboard: {
      status: "-",
      statusDesc: "-",
      processId: "-",
      businessDate: "-",
      businessDateLock: false,
      brokingStatus: false,
      financeStatus: false,
      sysDate: "",
    },
    dashboardDialog: {
      beginDate: "",
      endDate: "",
      busDate: "",
      processId: "-",
      stepsResult: [
        {
          step: "begin",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
        {
          step: "compare",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
        {
          step: "calculate",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
        {
          step: "lock",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
        {
          step: "notification",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
        {
          step: "unlock",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
        {
          step: "end",
          isChecked: false,
          output: "",
          executedDate: "",
          statusCode: "",
          statusDesc: "",
        },
      ],
      metadata: null,
      createdDate: "",
      createdBy: "",
      status: "",
    },
    listParam: [],
    items: [],
    totalItems: 0,
    loading: true,
    options: {},
    headers: [
      {
        text: "Process Id",
        align: "center",
        value: "processId",
        sortable: false,
      },
      {
        text: "Process Date Begin",
        align: "center",
        value: "beginDate",
        sortable: false,
      },
      {
        text: "Process Date End",
        align: "center",
        value: "endDate",
        sortable: false,
      },
      {
        text: "Closing Date",
        align: "center",
        value: "busDate",
        sortable: false,
      },
      {
        text: "Result",
        align: "center",
        value: "stepsResult",
        sortable: false,
      },
      {
        text: "Officer",
        align: "center",
        value: "createdBy",
        sortable: false,
      },
      {
        text: "Status",
        align: "center",
        value: "status",
        sortable: false,
      },
      {
        text: "Actions",
        align: "center",
        value: "actions",
        sortable: false,
      },
    ],
    menuBussLock: false,
    menuBussLock2: false,
    date: "",
    date2: "",
    dialogUnlock: false,
    dialogUnlock2: false,
    dialogLock: false,
    dialogLock2: false,
  }),
  computed: {},
  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "dashboardDialog.stepsResult": {
      handler: function (after) {
        console.debug(after, "===");
        after.forEach((element, index) => {
          if (element.isChecked) {
            this.step = index + 1 + 1;
            this.isFirst = false;
          }
        });
      },
      deep: true,
    },
  },
  mounted() {
    this.getDashboard();
    this.refresh();
  },
  methods: {
    refresh() {
      this.getViewList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
    test() {
      console.log("stepRes", this.dashboardDialog.stepsResult);
      let index = "";
      let data = this.dashboardDialog.stepsResult; 
      for (let i = 0; i < data.length; i++) {
        if (data[i].step == "begin") {
          index = i + 1;
        }
      }

      console.log("stepNow", index);
    },
    stepIndex(step) {
      let index = "";
      let data = this.dashboardDialog.stepsResult; 
      for (let i = 0; i < data.length; i++) {
        if (data[i].step == step) {
          index = i;
        }
      }
      return index;
    },
    getDashboard() {
      this.dialogDashboard.show = true;
      API.get("/report/api/closing/dashboard/").then((resp) => {
        let data = resp.data.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          this.dashboard = data;
          this.dashboard.businessDate =
            data.businessDate === "null" ? "-" : data.businessDate;
          this.textButton = data.status > 0 ? "View Closing" : "Process Closing";
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Closing Control Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    getViewList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        API.get("/report/api/closing/view-list/", param)
          .then((resp) => {
            let data = resp.data.data;
            if (resp.data.code == 0) {
              data.forEach((element) => {
                element.stepsResult = JSON.parse(element.stepsResult);
              });
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: data,
              });
            }
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      });
    },
    statusBroking(status) {
      this.dialogDashboard.show = true;
      let url = "";
      if (status) {
        url = "/report/api/closing/inactive/broking";
      } else {
        url = "/report/api/closing/active/broking";
      }

      API.get(url).then(() => {
        this.getDashboard();
      });
    },
    statusFinance(status) {
      this.dialogDashboard.show = true;
      let url = "";
      if (status) {
        url = "/report/api/closing/inactive/finance";
      } else {
        url = "/report/api/closing/active/finance";
      }

      API.get(url).then(() => {
        this.getDashboard();
      });
    },
    statusClaim(status) {
      this.dialogDashboard.show = true;
      let url = "";
      if (status) {
        url = "/report/api/closing/inactive/claim";
      } else {
        url = "/report/api/closing/active/claim";
      }

      API.get(url).then(() => {
        this.getDashboard();
      });
    },
    getById(id) {
      if(id) {
        this.dialogDashboard = {
          show: true,
          success: false,
          error: false,
          text: "",
        };
        this.errorDescription = "";
        API.get("/report/api/closing/" + id).then((resp) => {
          let data = resp.data.data;
          if (resp.data.code == 0) {
            this.dialogDashboard.show = false;
            this.dashboardDialog = data;
            this.dashboardDialog.stepsResult = JSON.parse(data.stepsResult);
            this.dialogStatus = true;
          } else {
            this.dialogDashboard.error = true;
            this.dialogDashboard.text = "Closing Control Failed";
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
          }
        });
      }
    },
    processClosing() {
      this.dialogDashboard.show = true;
      API.get("/report/api/closing/processClosing").then((resp) => {
        let data = resp.data;
        this.dialogDashboard.show = false;
        this.dashboardDialog = {
          beginDate: "",
          endDate: "",
          busDate: this.dashboard.businessDate,
          processId: this.dashboard.processId ? this.dashboard.processId : "-",
          stepsResult: data,
          metadata: null,
          createdDate: this.dashboard.sysDate,
          createdBy: "",
          status: this.dashboard.statusDesc,
        };
        this.dialogStatus = true;
      });
    },
    startClosing() {
      this.dialogDashboard.show = true;
      API.get("/report/api/closing/startClosing").then((resp) => {
        let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          this.step = 2;
          this.dashboardDialog.processId = data.processId;
          this.dashboardDialog.stepsResult[0] = {
            step: data.data.step,
            isChecked: data.data.checked,
            output: data.data.output,
            executedDate: data.data.executedDate,
            statusCode: data.data.statusCode,
            statusDesc: data.data.statusDesc,
          };
          if (this.dashboardDialog.processId !== "-") {
            let id = this.dashboardDialog.processId;
            this.getById(id);
          }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Start Closing Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    compareClosing() {
      this.dialogDashboard.show = true;
      let id = this.dashboardDialog.processId;
      API.get("/report/api/closing/updateStep/" + id + "/2").then((resp) => {
        let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          this.step = 3;
          this.dashboardDialog.processId = data.processId;
          this.dashboardDialog.stepsResult[1] = {
            step: data.data.step,
            isChecked: data.data.checked,
            output: data.data.output,
            executedDate: data.data.executedDate,
            statusCode: data.data.statusCode,
            statusDesc: data.data.statusDesc,
          };
          if (this.dashboardDialog.processId !== "-") {
            let id = this.dashboardDialog.processId;
            this.getById(id);
          }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Compare Closing Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    calculateClosing() {
      this.dialogDashboard.show = true;
      let id = this.dashboardDialog.processId;
      API.get("/report/api/closing/calculateClosingBalance/" + id).then(
        (resp) => {
          let data = resp.data;
          if (resp.data.code == 0) {
            this.dialogDashboard.show = false;
            this.step = 4;
            this.dashboardDialog.processId = data.processId;
            this.dashboardDialog.stepsResult[2] = {
              step: data.data.step,
              isChecked: data.data.checked,
              output: data.data.output,
              executedDate: data.data.executedDate,
              statusCode: data.data.statusCode,
              statusDesc: data.data.statusDesc,
            };
            if (this.dashboardDialog.processId !== "-") {
              let id = this.dashboardDialog.processId;
              this.getById(id);
            }
          } else {
            this.dialogDashboard.error = true;
            this.dialogDashboard.text = "Calculate Closing Balance Failed";
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
          }
        }
      );
    },
    checkClosing() {
      this.dialogDashboard.show = true;
      let id = this.dashboardDialog.processId;
      API.get("/report/api/closing/viewReport/" + id).then((resp) => {
        let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          let pdf = "data:application/pdf;base64,";
          let base64 = data.base64;
          var byteCharacters = atob(base64);
          var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
          this.totalPage = pageCount;
          this.filePDF = pdf + base64;
          this.dialogPDF = true;
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "View Calculate Closing Balance Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    lockDateClosingDash(date) {
      this.dialogDashboard = {
        show: true,
        success: false,
        error: false,
        text: "",
      };
      this.errorDescription = "";
      let dateFormat = this.formatDate(date);
      // let id = this.dashboardDialog.processId == "-" ? null : this.dashboardDialog.processId;
      API.get("/report/api/closing/lockBusinessDate" + "?date=" + dateFormat).then((resp) => {
        // let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          this.getDashboard();
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Lock Business Date Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    lockDateClosing(date) {
      this.dialogDashboard = {
        show: true,
        success: false,
        error: false,
        text: "",
      };
      this.errorDescription = "";
      let dateFormat = this.formatDate(date);
      let id = this.dashboardDialog.processId == "-" ? null : this.dashboardDialog.processId;
      API.get("/report/api/closing/lockBusinessDate" + "?date=" + dateFormat).then((resp) => {
        // let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          // this.step = 5;
          // this.dashboardDialog.processId = data.processId;
          // this.dashboardDialog.stepsResult[3] = {
          //   step: data.data.step,
          //   isChecked: data.data.checked,
          //   output: data.data.output,
          //   executedDate: data.data.executedDate,
          //   statusCode: data.data.statusCode,
          //   statusDesc: data.data.statusDesc,
          // };
          // if (this.dashboardDialog.processId !== "-") {
          //   let id = this.dashboardDialog.processId;
            this.getDashboard();
            this.getById(id);
          // }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Lock Business Date Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    notifClosing() {
      this.dialogDashboard.show = true;
      let id = this.dashboardDialog.processId;
      API.get("/report/api/closing/updateStep/" + id + "/3").then((resp) => {
        let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          this.step = 6;
          this.dashboardDialog.processId = data.processId;
          this.dashboardDialog.stepsResult[2] = {
            step: data.data.step,
            isChecked: data.data.checked,
            output: data.data.output,
            executedDate: data.data.executedDate,
            statusCode: data.data.statusCode,
            statusDesc: data.data.statusDesc,
          };
          if (this.dashboardDialog.processId !== "-") {
            let id = this.dashboardDialog.processId;
            this.getById(id);
          }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Notification Closing Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    unlockDateClosingDash() {
      this.dialogDashboard = {
        show: true,
        success: false,
        error: false,
        text: "",
      };
      this.errorDescription = "";
      // let id = this.dashboardDialog.processId == "-" ? null : this.dashboardDialog.processId;
      API.get("/report/api/closing/unlockBusinessDate").then((resp) => {
        // let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          this.getDashboard();
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Lock Business Date Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    unlockDateClosing() {
      this.dialogDashboard = {
        show: true,
        success: false,
        error: false,
        text: "",
      };
      this.errorDescription = "";
      let id = this.dashboardDialog.processId == "-" ? null : this.dashboardDialog.processId;
      API.get("/report/api/closing/unlockBusinessDate").then((resp) => {
        // let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          // this.step = 7;
          // this.dashboardDialog.processId = data.processId;
          // this.dashboardDialog.stepsResult[5] = {
          //   step: data.data.step,
          //   isChecked: data.data.checked,
          //   output: data.data.output,
          //   executedDate: data.data.executedDate,
          //   statusCode: data.data.statusCode,
          //   statusDesc: data.data.statusDesc,
          // };
          // if (this.dashboardDialog.processId !== "-") {
            // let id = this.dashboardDialog.processId;
            this.getDashboard();
            this.getById(id);
          // }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Lock Business Date Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    endClosing() {
      this.dialogDashboard.show = true;
      let id = this.dashboardDialog.processId;
      API.get("/report/api/closing/endClosing/" + id).then((resp) => {
        let data = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          // this.step = 8;
          this.dashboardDialog.processId = data.processId;
          this.dashboardDialog.stepsResult[6] = {
            step: data.data.step,
            isChecked: data.data.checked,
            output: data.data.output,
            executedDate: data.data.executedDate,
            statusCode: data.data.statusCode,
            statusDesc: data.data.statusDesc,
          };
          if (this.dashboardDialog.processId !== "-") {
            let id = this.dashboardDialog.processId;
            this.getById(id);
          }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "End Closing Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    resetClosing() {
      this.dialogDashboard.show = true;
      let id = this.dashboardDialog.processId;
      API.get("/report/api/closing/resetClosing/" + id).then((resp) => {
        let data = resp.data;
        this.dialogDashboard.show = false;
        this.step = 1;
        this.dashboardDialog = {
          beginDate: "",
          endDate: "",
          busDate: this.dashboard.businessDate,
          processId: this.dashboard.processId ? this.dashboard.processId : "-",
          stepsResult: data,
          metadata: null,
          createdDate: this.dashboard.sysDate,
          createdBy: "",
          status: this.dashboard.statusDesc,
        };
      });
      if (this.dashboardDialog.processId !== "-") {
        let id = this.dashboardDialog.processId;
        this.getById(id);
      }
    },
    handleCloseDialog() {
      this.filePDF = undefined;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    handleRefresh() {
      this.getDashboard();
      this.refresh();
    },
    async handleRefreshDialog() {
      if (this.dashboardDialog.processId === "-") {
        await this.getDashboard();
        await this.processClosing();
      } else {
        let id = this.dashboardDialog.processId;
        await this.getDashboard();
        await this.getById(id);
      }
    },
    handleView(item) {
      let id = item.processId;
      this.getById(id);
    },
    handleOpenDialog(status) {
      if (status === "Ready") {
        this.processClosing();
      } else {
        let id = this.dashboard.processId;
        this.getById(id);
      }
    },
    handleClose() {
      this.dialogStatus = false;
      this.step = 1;
      this.getDashboard();
      this.refresh();
    },
    formatDate(date) {
      if (!date) return null;

      const [day, month, year] = date.split("-");
      return `${year}-${month}-${day}`;
    },
    downloadFile(output, status) {
      this.dialogDashboard = {
        show: true,
        success: false,
        error: false,
        text: "",
      };
      this.errorDescription = "";
      let param = {
        fileType: "",
        path: output,
        rawData: "",
      };
      API.post("/report/api/closing/download/", param).then((resp) => {
        let result = resp.data;
        if (resp.data.code == 0) {
          this.dialogDashboard.show = false;
          if (status !== "download") {
            let pdf = "data:application/pdf;base64,";
            let base64 = result.data.rawData;
            var byteCharacters = atob(base64);
            var pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
            this.totalPage = pageCount;
            this.filePDF = pdf + base64;
            this.dialogPDF = true;
          } else {
            var binaryString = window.atob(result.data.rawData);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
              var ascii = binaryString.charCodeAt(i);
              bytes[i] = ascii;
            }
            const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
            const link = document.createElement("a");
            link.href = downloadUrl;
            let fileSplit = result.data.path.split("/");
            let fileName = fileSplit[fileSplit.length - 1];
            console.debug(fileSplit, fileSplit.length);
            link.setAttribute("download", fileName); //any other extension
            document.body.appendChild(link);
            link.click();
            link.remove();
          }
        } else {
          this.dialogDashboard.error = true;
          this.dialogDashboard.text = "Download Output Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
  },
};
</script>

<style scoped>
::v-deep .v-stepper__label {
  width: 100%;
  margin-bottom: 0 !important;
}
.contentStep {
  margin-top: -20px !important;
  margin-right: -36px !important;
  margin-bottom: -25px !important;
  margin-left: 36px !important;
}
</style>
