<template>
  <v-menu
    ref="menu1"
    v-model="menu1"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="dateFormatted"
        label="Select Date"
        persistent-hint
        @blur="date = parseDate(dateFormatted)"
        hide-details="auto"
        flat
        outlined
        dense
        solo
        :ref="istRef"
        :rules="rules"
        :readonly="readonly"
        :loading="loading"
      >
        <v-btn
          v-show="!readonly"
          slot="append"
          text
          icon
          v-on="on"
          v-bind="attrs"
        >
          <v-icon>mdi-calendar</v-icon>
        </v-btn>
      </v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      no-title
      @input="menu1 = false"
      :max="max"
      :min="min"
    ></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  // input model dan output komponen ini tetep dengan format YYYY-MM-DD
  props: ["model", "istRef", "rules", "max", "min", "readonly", "loading"],
  data: () => ({
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    dateFormatted: "",
    menu1: false,
  }),

  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
  },

  watch: {
    date(val) {
      console.log("watch date", val);
      this.dateFormatted = this.formatDate(this.date);
      if (this.date != null) {
        this.dateChange();
      }
    },
    dateFormatted: {
      handler() {
        // this.$emit("change", this.formatDate(this.dateFormatted));
      },
      deep: true,
    },
    model: {
      handler() {
        this.dateFormatted = this.formatDate(this.model);
      },
      deep: true,
    },
  },

  created() {
    this.dateFormatted = this.formatDate(this.model);
    this.date = this.parseDate(this.dateFormatted);
  },

  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [day, month, year] = date.split("-");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    dateChange() {
      this.$emit("change", this.formatDate(this.dateFormatted));
    },
  },
};
</script>