<template>
  <v-card flat>
    <br />
    <v-data-table
      :headers="headers"
      :items="remittance.listInvoice"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:[`item.payAmount`]="{ item }">{{
        currencyFormat(item.payAmount)
      }}</template>
      <template v-slot:[`item.payable`]="{ item }">{{
        currencyFormat(item.payable)
      }}</template>
      <template v-slot:[`item.maxPayable`]="{ item }">{{
        currencyFormat(item.maxPayable)
      }}</template>
      <template v-slot:[`item.amountVat`]="{ item }">{{
        currencyFormatVat(item.amountVat)
      }}</template>
      <template v-slot:[`item.exchangeRate`]="{ item }">{{
        currencyFormat(item.exchangeRate)
      }}</template>
      <template v-slot:[`item.pphAmount`]="{ item }">
        <div>{{ currencyFormat(item.pphAmount) }}</div>
      </template>
      <template v-slot:[`item.amountEq`]="{ item }">
        <div>{{ currencyFormat(item.amountEq) }}</div>
      </template>
      <template v-slot:[`item.equivAmount`]="{ item }">
        <div>{{ currencyFormat(item.equivAmount) }}</div>
      </template>
      <template v-slot:[`body.append`]>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'currency'" class="title"
              >Total
            </span>
            <span v-if="header.value == 'amountEq'" class="title"
              >{{ getTotalPayAmount("amountEq") }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import {mapState} from "vuex"
import { VMoney } from "v-money";

export default {
  components: {
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    item: {
      invoice: []
    },
    editRateChanged: false,
    isCurrencyDifferent: false,
    editRate:"",
    editRateItem: {},
    billingDateCreatedFrom: {
      value: "billingDate",
      // searchValue: new Date().toISOString().substr(0, 10),
      searchValue:"",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    billingDateCreatedTo: {
      value: "billingDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
    attachmentDateCreatedFrom: {
      value: "attachmentDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    attachmentDateCreatedTo: {
      value: "attachmentDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
    dueDateCreatedFrom: {
      value: "dueDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    dueDateCreatedTo: {
      value: "dueDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      searchCurrency:"",
      searchClientName:"",
      searchInvoiceNo: "",
      receiptNo: "",
      amount: "",
      amountEq: "",
      bankReceived:{
        coaCode: null,
        coaName: null
      },
      currency: "",
      customer:{
        customerCode: null,
        customerName: null,
        customerType: null
      },
      exchangeRate: "",
      listInvoice: [],
      paymentMethod: "",
      reference: "",
      tranDate: new Date().toISOString().substr(0, 10).replaceAll("-","/"),
    },
    search: {
      custType: {
        items: [
          { value: "CLIENT", text: "Client" },
          { value: "AGENT", text: "Agent" },
        ],
        loading: false,
      },
      client: {
        value: "customerId",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: false,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url: "/config/api/master-akuncoa/?coaType.equals=1&isActive.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
      cashReceipt: {
        items: [],
        url: "/finance/api/finance/cashreceipt/?clientName.equals=",
        loading: false,
        input: "",
      },
    },
    headers: [
    {
      text: "Currency",
      align: "start",
      value: "currency",
      sortable: false,
    },
    {
      text: "No",
      value: "accountNo",
      sortable: false,
    },
    {
      text: "Type",
      value: "accountType",
      sortable: false,
    },
    {
      text: "Term",
      value: "refTerm",
      sortable: false,
    },
    {
      text: "Payable",
      value: "amountPayable",
      sortable: false,
    },
    {
      text: "Max Payable",
      value: "amountMaxPayable",
      sortable: false,
    },
    {
      text: "Pay Amount",
      value: "amoutPaid",
      sortable: false,
    },
    // {
    //   text: "PPH23 Payable",
    //   value: "amountPph23Payable",
    //   sortable: false,
    // },
    {
      text: "PPH23 Paid",
      value: "amountPph23",
      sortable: false,
    },
    {
      text: "VAT Received",
      value: "amountVat",
      sortable: false,
    },
    {
      text: "Exchange Rate",
      value: "exchgRate",
      sortable: false,
    },
    {
      text: "Equivalent Amount",
      value: "equivAmount",
      sortable: false,
    },
  ],
    items: [],
    loading: false,
    searchSingle: {
      underwriter: {
        value: 'underwriter',
        searchValue: "",
        searchParam: "equals",
        name: "underwriter",
        input: "",
        items: [],
        url: "/clients/api/account/insurance/?codeOrName.contains=",
        loading: false
      }
    },
    cashHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "acctNo",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "acctType",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        sortable: false,
        value: "billDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "oriAmount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      // {
      //   text: "",
      //   sortable: false,
      //   value: "action",
      //   add: "",
      //   rules: [],
      // },
    ],
    cashItems: [],
    cashLoading: false,
    invoiceHeaders: [
      {
        text: "Invoice No",
        align: "start",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Client",
        sortable: false,
        value: "cstName",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Term",
        sortable: false,
        value: "refTerm",
        add: "",
        rules: [],
      },
      {
        text: " Class",
        sortable: false,
        value: "prdrisk",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Original Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Paid Amount",
        sortable: false,
        value: "amoutPaid",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "Payable",
        sortable: false,
        value: "amountPayable",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceItems: [],
    toShowInvoiceItems: [],
    invoiceLoading: false,
    toAddInvoiceItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      requiredAmount: (v) => parseFloat(v) > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "", underwriter: false, exchangeRate: false },
    cashDialog: false,
    invoiceDialog: false,
    amountChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    excRateLoading: false,
  }),
    mounted() {
    this.getListUnderwriter();
  },

  computed: {
    ...mapState(["remittance"]),
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        amount: this.param.amount,
        amounEq: this.param.amount,
        bankCode: this.param.bankReceived.coaCode,
        bankName: this.param.bankReceived.coaName,
        currency: this.param.currency,
        customerCode: this.param.customer.code,
        customerType: this.param.customer.accountType,
        customerName: this.param.customer.name,
        exchangeRate: this.param.exchangeRate

      };
    },
  },

  watch: {
    options: {
      handler() {
        this.getItemData();
      },
      deep: true,
    }
  },

  async created() {
    // console.log("INVOICEITEM: " + JSON.stringify(this.param.listInvoice))
    // console.log("LISTINVOICE: " + JSON.stringify(this.remittance.listInvoice))
    // this.param.listInvoice = await this.remittance.listInvoice
    // console.log("INVOICEITEM: " + JSON.stringify(this.param.listInvoice))
    // this.getItemData(this.remittance.idRemittance)
  },

  methods: {
    getTableCleared(){
      while (this.items.length) {
        this.items.pop()
      }
    },
    invAmountLimit(item) {
         return () =>
        Math.abs(this.currencyToFloat(item.amoutPaid)) <= Math.abs(this.currencyToFloat(item.amountPayable)) - Math.abs(this.currencyToFloat(item.amountPph23)) ||
        "Cannot be greater than Payable Amount";
    },
      pphAmountLimit(item) {
      return () =>
        this.currencyToFloat(Math.abs(item.amountPph23)) <= this.currencyToFloat(Math.abs(item.amountPph23Payable))||
        "Cannot be greater than Payable pph23";
    },
    openEditRateDialog(item) {
      this.editRateItem = item;
      this.editRateChanged = false;
      this.editRate = this.currencyFormat(item.exchgRate);
      this.dialog.exchangeRate = true;
    },
    submitRate() {
      this.editRateChanged = true
      this.dialog.exchangeRate= false;
      this.editRateItem.exchgRate = this.currencyToFloat(this.editRate);
      this.paidAmountChange(this.editRateItem);
    },
    goToList(){
      this.$router.push({
        name: "remittance-edit",
        query: { id: this.param.receiptNo, mode: "d" },
      });
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: e,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );

      if (resp.data.code == 0) {
        this.param.excRate =
          this.formatCommaCurrency(
            String(resp.data.data.rateDefault),
            "IDR"
          ).replace("IDR ", "") + ".00";

          this.param.exchangeRate = resp.data.data.rateDefault
      } else {
        this.param.excRate = "1.00";
        this.param.exchangeRate = "1"
      }
      this.excRateLoading = false;
    },
    async getListUnderwriter() {
        this.searchSingle.underwriter.loading = true;
        let resp = await API.get("clients/api/account/insurance/?page=0&size=10");
        if (resp.data.code === 0) {
          this.searchSingle.underwriter.loading = false;
          const data = resp.data.data;
          this.searchSingle.underwriter.items = data
        }
    },
    async getItemData() {
      await API.get(
        "/finance/api/finance/remittance/" + this.remittance.idRemittance
      ).then((resp) => {
        console.log("COK: " + JSON.stringify(resp))
          let dataResp = resp.data.data;
          this.param.listInvoice = dataResp.listInvoice
          console.log("OKE: " + JSON.stringify(this.param.listInvoice))
      });
    },
    async setDataCash(item) {
      this.param.refNo = item.acctNo;
      this.param.currency = item.currency;
      this.param.transType = item.accountType;
      this.param.billDate = item.billDate;
      this.param.detail = item.description;
      this.param.amount = this.currencyFormat(item.oriAmount);
      this.param.excRate = this.currencyFormat(item.oriExchangeRate);
      this.param.balance = this.currencyFormat(item.balance);
      this.param.currentExcRate = "";
      this.param.balanceLc = "";
      this.cashDialog = false;

      this.getCurrentRate();
    },
    async getCurrentRate(){
// get current rate
      this.currentRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      let balance = this.currencyToFloat(this.param.balance);
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },

    back() {
      this.$router.replace({ name: "remittance-list" });
    },
    async search() {
      this.getInvoiceList()
    },
    async save() {
      // Object.keys(this.form).forEach((f) => {
      //   console.log(f, this.form[f]);
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
      }
        // this.dialog.show = true;
        // this.doAdd();
    },
    async doAdd() {
      let submitUrl = "/finance/api/finance/remittance/add";
      console.log("param: " + JSON.stringify(this.param))
      let paramJSON = {
        remittanceDataDto: {
          amount  : this.param.amount,
          amountEq: this.param.amount,
          bankCode: this.param.bankReceived.coaCode,
          bankName: this.param.bankReceived.coaName,
          currency: this.param.currency,
          customerCode: this.param.customer.code,
          customerType: this.param.customer.accountType,
          customerName: this.param.customer.name,
          exchangeRate: this.param.exchangeRate,
          listInvoice: this.items.map(function (row) {
          console.log("row: " + JSON.stringify(row))
            return {
              amountEq: row.equivAmount,
              currency: row.currency,
              invoiceNo: parseInt(row.accountNo),
              payAmount: row.amoutPaid,
              pphAmount: row.amountPph23,
              term: row.refTerm,
            };
          }),
          paymentMethod: this.param.paymentMethod,
          reference: this.param.reference,
          tranDate: this.param.tranDate,
        },
      };
      console.log(JSON.stringify(paramJSON))
      // if (
      //   this.$route.query.id &&
      //   this.$route.query.mode &&
      //   this.$route.query.mode == "p"
      // ) {
      //   paramJSON.creditApplicationDataDto.customerCode = this.param.customerCode;
      //   paramJSON.creditApplicationDataDto.customerName = this.param.customerName;
      //   paramJSON.creditApplicationDataDto.billDate = this.formatDateSlice(this.param.billDate);
      // }

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.error = false;
            this.dialog.success = true;
            this.param.receiptNo = resp.data.data.idRemittance;
          } else {
            this.dialog.success = false;
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.success = false;
          this.dialog.error = true;
        });
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      let lastItem = this.journalItems[this.journalItems.length - 1];
      journal.no = (lastItem == null ? 0 : lastItem.no) + 1;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "0.00";
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },

    setJournalItem() {
      console.log("this.param.journals.length", this.param.journals.length);
      if (this.param.journals.length > 0) {
        return;
      }
      this.journalItems = [];
      let journalItem = {
        no: 1,
        coa: this.param.bankReceived.coaCode,
        currency: this.param.bankReceived.currency,
        type: "",
        amount: this.param.amount,
      };
      this.journalItems.push(journalItem);
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(filter) {
      filter.loading = true;
      API.get(
        filter.url +
          filter[
            !this.expanded ? "toolbarSearchInput" : "searchInput"
          ].toUpperCase()
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          // console.log(resp.data.data);
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "credit-application-edit",
        query: { id: this.param.creditAppNo, mode: "d" }, //600016
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },
    saveJournal() {
      this.param.journals = this.journalItems;
      console.log("this.param.journals", this.param.journals);
    },
    refNoOnClick() {
      if (!this.isFromCashReceipt) {
        this.cashDialog = true;
      }
    },
    async changeCustomer() {
      this.cashLoading = true;
      this.cashItems = [];

      this.invoiceLoading = true;
      this.invoiceItems = [];
      this.toShowInvoiceItems = [];

      // reset field
      this.param.refNo = "";
      this.param.currency = "";
      this.param.transType = "";
      this.param.billDate = "";
      this.param.detail = "";
      this.param.amount = "";
      this.param.excRate = "";
      this.param.balance = "";
      this.param.currentExcRate = "";
      this.param.balanceLc = "";

      let custCode = this.param[this.param.custType.toLowerCase()].code;
      // List Cash Receipt
      let resp = await API.get(
        "/finance/api/finance/creditapplication/getCSHByCustCode/" + custCode
      );
      if (resp.data.code == 0) {
        this.cashItems = resp.data.listInvAcct;
      }
      this.cashLoading = false;
      this.getInvoiceList();
    },
    async getInvoiceList() {
      this.invoiceLoading = true;
      this.invoiceItems = [];
      this.toShowInvoiceItems = [];
      let url = "/finance/api/finance/invaccount/getcreditoraccount?uwCode.contains=" + this.remittance.customer.code
      let searchParam = ""
      let invoiceNoParam = ""
      let clientNameParam= ""
      let currencyParam =""
      let billingDateCreatedFromParam = ""
      let billingDateCreatedToParam = ""
      let attachmentDateCreatedFromParam = ""
      let attachmentDateCreatedToParam = ""
      let dueDateCreatedFromParam = ""
      let dueDateCreatedToParam = ""
      if(this.param.searchInvoiceNo ==="" || this.param.searchInvoiceNo === undefined) {
        invoiceNoParam =""
      }
      else {
       invoiceNoParam ="&accountNo.contains=" + this.param.searchInvoiceNo
      }

      if (this.param.searchClientName === "" || this.param.searchClientName === undefined) {
        clientNameParam = ""
      }
      else {
        clientNameParam = "&clientCode.contains=" +this.param.searchClientName
      }

      if (this.param.searchCurrency === "" || this.param.searchCurrency === undefined) {
        currencyParam = ""
      }
      else {
        currencyParam = "&currency.contains=" + this.param.searchCurrency
      }

      if (this.billingDateCreatedFrom.searchValue === "" || this.billingDateCreatedFrom.searchValue === undefined) {
         billingDateCreatedFromParam = ""
         }
      else {
        billingDateCreatedFromParam = "&" + this.billingDateCreatedFrom.searchParam + "=" + this.billingDateCreatedFrom.searchValue
      }

      if (this.billingDateCreatedTo.searchValue === "" || this.billingDateCreatedTo.searchValue === undefined) {
      billingDateCreatedToParam = ""
      }
      else{
      billingDateCreatedToParam = "&" + this.billingDateCreatedTo.searchParam + "=" + this.billingDateCreatedTo.searchValue
      }

      if (this.attachmentDateCreatedFrom.searchValue === "" || this.attachmentDateCreatedFrom.searchValue === undefined) {
        attachmentDateCreatedFromParam = ""
      }
      else {
      attachmentDateCreatedFromParam = "&" + this.attachmentDateCreatedFrom.searchParam + "=" + this.attachmentDateCreatedFrom.searchValue
      }

      if (this.attachmentDateCreatedTo.searchValue === "" || this.attachmentDateCreatedTo.searchValue === undefined)  {
        attachmentDateCreatedToParam = ""
      }
      else {
      attachmentDateCreatedToParam = "&" + this.attachmentDateCreatedTo.searchParam + "=" + this.attachmentDateCreatedTo.searchValue
      }

      if (this.dueDateCreatedFrom.searchValue === "" || this.dueDateCreatedFrom.searchValue === undefined) {
      dueDateCreatedFromParam = ""
      }
      else {
      dueDateCreatedFromParam = "&" + this.dueDateCreatedFrom.searchParam + "=" + this.dueDateCreatedFrom.searchValue
      }

       if (this.dueDateCreatedTo.searchValue === "" || this.dueDateCreatedTo.searchValue === undefined ) {
        dueDateCreatedToParam = ""
      }
      else {
        dueDateCreatedToParam = "&" + this.dueDateCreatedTo.searchParam + "=" + this.dueDateCreatedTo.searchValue
      }

      searchParam = invoiceNoParam + clientNameParam + currencyParam + billingDateCreatedFromParam
      + billingDateCreatedToParam + attachmentDateCreatedFromParam + attachmentDateCreatedToParam
      + dueDateCreatedFromParam + dueDateCreatedToParam

      let invResp = await API.get(url + searchParam)
      if (invResp.data.code == 0) {
        this.invoiceItems = invResp.data.listTransaction.map(function (row, i) {
          row.no = i + 1;
          return row;
        });
        this.toShowInvoiceItems = this.invoiceItems;
      }
      this.invoiceLoading = false;
    },
    addInvoice(item) {
      if (item.amountPayable !== 0) {
      let existItem = this.toAddInvoiceItems.filter(
        (value) => value.no == item.no
      );
      if (existItem < 1) {
        this.toAddInvoiceItems.push(JSON.parse(JSON.stringify(item)));
      }
      }
    },
    removeInvoice(item, name) {
      this.amountChanged = false;
      for (let i = 0; i < this[name].length; i++) {
        if (this[name][i].no == item.no) {
          this[name].splice(i, 1);
        }
      }
    },
    async submitInvoice() {
      //var declare
      let vm = this;
      this.invoiceDialog = false;
      this.amountChanged = false;
      let rate = vm.remittance.excRate
      let bankCurrency = vm.remittance.currency


      this.items = await this.toAddInvoiceItems.map(function (row) {
        //row setter
        console.log(JSON.stringify(row))
        row.amoutPaid = vm.currencyFormat(-1* (vm.currencyToFloat(row.amountPayable) - (vm.currencyToFloat(row.amountPph23) - vm.currencyToFloat(row.amountPph23Paid))))
        row["amountPph23Payable"] = row["amountPph23"]
        row.amountPph23Payable = vm.currencyFormat(row.amountPph23)
        row.amountPph23 = vm.currencyToFloat(0)
        row.amountVat = vm.currencyFormat(-1 * (vm.currencyToFloat(row.amountVat)))

        //calculate equiv amount
        if (bankCurrency == "IDR" && row.currency == "USD") {
          row.exchgRate = vm.currencyFormat(row.exchgRate)
          row.equivAmount = vm.currencyToFloat(row.amoutPaid) * vm.currencyToFloat(row.exchgRate) * -1;
          }
        else if(bankCurrency == "USD" && row.currency == "IDR") {
          row.exchgRate = vm.currencyFormat(rate)
          row.equivAmount = vm.currencyToFloat(row.amoutPaid) * 1/vm.currencyToFloat(rate) * -1;
        } else {
          row.exchgRate = vm.currencyFormat(1)
          row.equivAmount = vm.currencyToFloat(row.amoutPaid) * -1;
        }
        return row;
      });
      this.remittance.listInvoiceRow = this.items

      // if (this.remittnce.currency != "IDR" && this.remittance.currency != "") {
      //   for (let item of this.items) {
      //     let rate = await this.getExchangeRate(item.currency);
      //     item.exchgRate = rate;
      //     item.rateLoading = false;
      //     item.equivAmount = this.currencyToFloat(item.amoutPaid) / rate;
      //   }
      // }
    },
    openInvoiceDialog() {
      let customerStatus = false
      let currencyStatus = false
      if(this.remittance.customer) {
        if(this.remittance.customer.code !== "" || this.remittance.customer.code !== null) {
          customerStatus = true
        }
      }
      if(this.remittance.currency) {
        if(this.remittance.currency !== "" || this.remittance.currency !== null) {
          currencyStatus = true
        }
      }
      if(customerStatus && currencyStatus) {
      this.getInvoiceList()
      this.toAddInvoiceItems = JSON.parse(JSON.stringify(this.items));
      this.invoiceDialog = true;
      this.amountChanged = false;
      }
      else {
        this.dialog.underwriter = true
      }
    },
    getTotalPayAmount(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      this.remittance.remittanceDataDto.amount = total
      return this.currencyFormat(total);
    },
    getTotalEqAmount(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      this.remittance.remittanceDataDto.amountEq = total
      return this.currencyFormat(total);
    },
    onkeyupInvoiceSearch(header) {
      this.toShowInvoiceItems = this.invoiceItems.filter(
        // (value) => value[header.value] == header.searchValue
        (value) => value[header.value].indexOf(header.searchValue) > -1
      );
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    async getExchangeRate(to = "IDR") {
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
          currencyTo: to,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },

    paidAmountChange(item) {
      this.amountChanged = true;

      let vm = this;
      let paidAmount = vm.currencyToFloat(item.amoutPaid);
      let rate = 0;
      let pph23 = vm.currencyToFloat(item.amountPph23)
      let total = paidAmount + pph23
      let bankCurrency = vm.remittance.currency

        if (bankCurrency == "IDR" && item.currency == "USD") {
        rate = item.exchgRate
        item.equivAmount = vm.currencyToFloat(total) * vm.currencyToFloat(rate) * -1;
        } else if (bankCurrency == "USD" && item.currency == "IDR"){
            if (this.editRateChanged) {
            rate = item.exchgRate
            } else {
            rate = vm.remittance.excRate
            }
          item.equivAmount = vm.currencyToFloat(total) * -1 / vm.currencyToFloat(rate) ;
        } else {
          item.equivAmount = vm.currencyToFloat(total) * -1
      }
    },
    exchangeRateChange(item) {
      this.amountChanged = true;

      let vm = this;
      let paidAmount = vm.currencyToFloat(item.amoutPaid);
      let rate = 0;
      let pph23 = vm.currencyToFloat(item.amountPph23)
      let total = paidAmount + pph23
      let bankCurrency = vm.remittance.currency

      if (bankCurrency == "IDR" && item.currency == "USD") {
        rate = item.exchgRate
        item.equivAmount = vm.currencyToFloat(total) * vm.currencyToFloat(rate) * -1;
      } else if (bankCurrency == "USD" && item.currency == "IDR"){
        rate = item.exchgRate
        item.equivAmount = vm.currencyToFloat(total) * -1 / vm.currencyToFloat(rate) ;
      } else {
        item.equivAmount = vm.currencyToFloat(total) * -1
      }
    },
    formatDateSlice(date){
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style>
th.xsmall-label .v-label {
  font-size: x-small;
}
</style>