<template>
  <v-card flat>
    <v-tabs v-model="tab" light>
        <v-tab>Remittance</v-tab>
        <v-tab>Premium Funding</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
        <v-tab-item>
          <remittanceTab />
        </v-tab-item>
        <v-tab-item>
          <premiumTab />
        </v-tab-item>
    </v-tabs-items>

  </v-card>
</template>

<script>
import remittanceTab from "./remittance_tab/remittance_tabedit";
import premiumTab from "./premium_tab/premium_tabedit";
import { mapState } from 'vuex'

export default {
  components: {
  remittanceTab,
  premiumTab
  },
  data: () => ({
    tab: 0,
  }),
    computed: {
    ...mapState(['remittance']),
  }

}
</script>

<style>

</style>