<template>
  <v-card flat>
    <v-tabs v-model="tab" light>
        <v-tab>Remittance</v-tab>
        <v-tab>Premium Funding</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
        <v-tab-item>
          <remittanceTab />
        </v-tab-item>
        <v-tab-item>
          <premiumTab />
        </v-tab-item>
    </v-tabs-items>

  </v-card>
</template>

<script>
import remittanceTab from "./remittance_tab/remittance_tabview";
import premiumTab from "./premium_tab/premium_tabview";
import { mapState } from 'vuex'

export default {
  components: {
  remittanceTab,
  premiumTab
  },
  props: ['dataBroking'],
  data: () => ({
    tab: 0,
    footer: {
      entry: "",
      entryDate: {
        date: "",
        menu: false
      },
      approved: "",
      approvedDate: {
        date: "",
        menu: false
      },
      close: "",
      closeDate: {
        date: "",
        menu: false
      },
      modified: "",
      modifiedDate: {
        date: "",
        menu: false
      }
    }
  }),
  mounted() {
    if (this.$route.params.tabs) {
      this.tab = parseInt(this.$route.params.tabs);
    }
  },
  computed: {
    ...mapState(['invoice']),
  }

}
</script>

<style>

</style>