<template>
  <v-dialog
    v-model="dialogPDF"
    min-width="290px"
    scrollable
    max-width="90%"
    persistent
    class="ma-0 pa-0"
    :fullscreen="fileType == 'pdfObject' && fullscreen"
  >
    <v-card style="background: #989898;" class="ma-0 pa-0">
      <v-card tile>
        <v-toolbar dark color="primary" class="ma-0 pa-0">
          <v-toolbar-title>Document Preview</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items v-show="fileType == 'pdfObject'">
            <v-btn icon dark @click="() => (fullscreen = !fullscreen)">
              <v-icon>{{
                fullscreen ? "mdi-window-restore" : "mdi-window-maximize"
              }}</v-icon>
            </v-btn>
          </v-toolbar-items>
          <v-toolbar-items>
            <v-btn icon dark @click="() => handleCloseDialog()">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-card>
      <v-card-text class="ma-0 pa-0">
        <v-img
          v-if="fileType == 'img'"
          :lazy-src="filePDF"
          :src="filePDF"
          style="padding: 10px; background-color: transparent;"
        ></v-img>
        <object
          v-else-if="fileType == 'pdfObject'"
          type="application/pdf"
          :data="filePDF"
          width="100%"
          :height="fileType == 'pdfObject' && fullscreen ? '100%' : '700px'"
          class="center ma-0 pa-0"
          :key="filePDF"
        />
        <pdf
          v-else
          v-for="i in totalPage"
          :key="i"
          :src="filePDF"
          :page="i"
          style="padding: 10px; background-color: transparent;"
          ref="pdf"
        ></pdf>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import pdf from "vue-pdf";
export default {
  components: {
    pdf: pdf,
  },
  props: ["dialogPDF", "totalPage", "filePDF", "handleCloseDialog", "fileType"],
  name: "documentPreview",
  data: () => ({
    fullscreen: false,
  }),
  watch: {
    dialogPDF: {
      handler() {
        this.fullscreen = false;
      },
      deep: true,
    },
  },
};
</script>

<style scoped></style>
