<template>
  <v-card flat>
    <v-row>
      <v-col cols="2" class="pr-0 py-0">
        <isttoolbar
          style="border-top-left-radius: 5px"
          title="Finance"
          dark
          color="secondary"
          icon="mdi-chart-box-plus-outline"
        >
        </isttoolbar>
      </v-col>
      <v-col cols="10" class="pl-0 py-0">
        <isttoolbar
          title="SOA Manual"
          dark
          color="primary"
          class="pa-0"
          style="border-top-right-radius: 5px"
        >
          <v-spacer></v-spacer>
          <v-btn outlined @click="goToAdd">
            <v-icon left>mdi-plus</v-icon>Create SOA
          </v-btn>
        </isttoolbar>
      </v-col>
    </v-row>
    <!-- <isttoolbar
      title="Finance"
      dark
      color="secondary"
      icon="mdi-chart-box-plus-outline"
    >
      <v-spacer></v-spacer>
      <v-btn outlined @click="goToAdd">
        <v-icon left>mdi-plus</v-icon>Create SOA
      </v-btn>
    </isttoolbar> -->
    <isttoolbar dark color="primary" class="pa-0">
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Client"
              v-model="filter.customer.searchValue"
              ref="customer"
              name="customer"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              :items="filter.customer.items"
              item-value="code"
              item-text="codeAndName"
              :loading="filter.customer.loading && !expanded"
              clearable
              solo
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
              @input="filter.customer.loading = false"
            ></v-autocomplete>
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search
            </v-btn>
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Client</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          label="Select Client"
                          hide-details="auto"
                          v-model="filter.customer.searchValue"
                          ref="customer"
                          name="customer"
                          @keyup="autocompSearch(filter.customer)"
                          :search-input.sync="filter.customer.searchInput"
                          :items="filter.customer.items"
                          item-value="code"
                          item-text="codeAndName"
                          :loading="filter.customer.loading"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                          @input="filter.customer.loading = false"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Statement No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          label="Insert Statement Number"
                          v-model="filter.statementNo.searchValue"
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="statementNo"
                          name="statementNo"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.dateFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              label="Select Date"
                              v-model="filter.dateFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.dateFrom.menu = !filter.dateFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto;"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.dateFrom.dataValue"
                            no-title
                            @input="filter.dateFrom.menu = false"
                            :max="filter.dateTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.dateTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              label="Select Date"
                              v-model="filter.dateTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.dateTo.menu = !filter.dateTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto;"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.dateTo.dataValue"
                            no-title
                            @input="filter.dateTo.menu = false"
                            :min="filter.dateFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="mr-5"
                    outlined
                    dark
                    color="primary"
                    @click="listSearch"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:item.cstCode="{ item }">
        {{ item.cstCode + " - " + item.cstName }}
      </template>
      <template v-slot:item.statementDate="{ item }">
        {{ formatDateDMY(item.statementDate) }}
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editItem(item, 'e')">
              <!-- v-show="
                ['POSTED'].indexOf(item.status) != -1 &&
                checkAuthorities('cash-receipt-edit')
              " -->
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    options: {},
    expanded: false,
    filter: {
      customer: {
        value: "cstCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        // url1: "/clients/api/account/agent?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      dateFrom: {
        value: "statementDate",
        dataValue: "",
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      dateTo: {
        value: "statementDate",
        dataValue: "",
        searchValue: "",
        searchParam: "lessThan",
        menu: false,
      },
      statementNo: {
        value: "statementNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
    },
    headers: [
      {
        text: "Client",
        align: "start",
        value: "cstCode",
        sortable: false,
      },
      {
        text: "Statement No",
        value: "statementNo",
        align: "center",
        sortable: false,
      },
      {
        text: "Statement Date",
        value: "statementDate",
        align: "center",
        sortable: false,
      },
      // {
      //   text: "Details/Desc",
      //   value: "description",
      //   sortable: false,
      // },
      {
        text: "Actions",
        value: "actions",
        align: "center",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    loading: true,
    // optionsHandler: false,
  }),
  async created() {
    this.$route.query.back == true ? this.backFromAction() : this.optionsHandler = true;
    this.initList(["customer"]);
  },
  watch: {
    options: {
      handler() {
        // if(this.optionsHandler) {
          this.refresh();
        // }
      },
      deep: true,
    },
    "filter.dateTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.filter.dateTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.dateTo.searchValue = "";
        }
      },
      deep: true,
    },
  },
  methods: {
    goToAdd() {
      this.$router.replace({ name: "soa-manual-add" });
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            let respData = resp.data.data;
            respData.forEach((element) => {
              let filterItems = this.filter[l].items;
              let conds = filterItems.filter((v) => v.id == element.id);
              if (conds.length == 0) {
                this.filter[l].items.push(element);
              }
            });
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      //   filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        let dataFilter =
          filter[!this.expanded ? "toolbarSearchInput" : "searchInput"];
        API.get(
          filter["url" + (i < 1 ? "" : i)] +
            (dataFilter ? dataFilter.toUpperCase() : ""),
          null,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              let respItems = resp.data.data;
              respItems.forEach((element) => {
                let searchItems = filter.items;
                let items = searchItems.filter((v) => v.id == element.id);
                if (items.length == 0) {
                  filter.items = filter.items.concat(element);
                }
              });
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    refresh() {
      this.getList().then((data) => {
        this.items = data.items.map(function (row) {
          return {
            cstCode: row.cstCode,
            cstName: row.cstName,
            statementNo: row.id,
            statementDate: row.statementDate,
          };
        });
        this.totalItems = data.total;
      });
    },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("finance/api/finance/soaManual/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },
    editItem(item, mode) {
      this.$router.push({
        name: "soa-manual-edit",
        query: { id: item.statementNo, mode: mode },
      });

      let viewListData = {
        soaManualViewList : {
          // items: this.items,
          "options": this.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },
    formatDateDMY(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
        if(dataViewList) {
          let dataCsh = dataViewList.soaManualViewList;
          // this.items = dataCsh.items;
          this.options = dataCsh.options;
          // this.totalItems = dataCsh.totalItems;
          this.loading = false;
          // let vm = this;
          setTimeout(() => {
            // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
            localStorage.removeItem('viewListData');
            // vm.optionsHandler = true;
          }, 100)
        } //else {
          // this.optionsHandler = true;
        // }  
    },

  },
};
</script>
