<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Client Group -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Client Group</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Client Group..."
                  v-model="param.customerGroup"
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customerGroup)"
                  :search-input.sync="
                    filter.customerGroup.urlParam['codeOrName.contains']
                  "
                  :items="filter.customerGroup.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customerGroup.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Statement To -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">For Statement Date Up To</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.statementTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.statementTo"
                      ref="statementTo"
                      name="statementTo"
                      label="Statement To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      :loading="filter.statementTo.loading"
                    >
                      <!-- <v-btn
                        slot="append"
                        @click="
                          filter.statementTo.menu = !filter.statementTo.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn> -->
                    </v-text-field>
                  </template>
                  <!-- <v-date-picker
                    v-model="param.statementTo"
                    no-title
                    @input="filter.statementTo.menu = false"
                  ></v-date-picker> -->
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 2 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Client -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
              <span class="title"
                >Client/Agent<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client/Agent"
                hide-details="auto"
                v-model="param.customerType"
                ref="customerType"
                name="customerType"
                :items="filter.customerType.items"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
            </v-row>
          </v-col>

          <!-- Received To -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">For Received Date Up To</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.receivedTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.receivedTo"
                      ref="receivedTo"
                      name="receivedTo"
                      label="Received To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      :loading="filter.receivedTo.loading"
                    >
                      <!-- <v-btn
                        slot="append"
                        @click="
                          filter.receivedTo.menu = !filter.receivedTo.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn> -->
                    </v-text-field>
                  </template>
                  <!-- <v-date-picker
                    v-model="param.receivedTo"
                    no-title
                    @input="filter.receivedTo.menu = false"
                  ></v-date-picker> -->
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 3 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Curr -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title"
                  >
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <!-- Client From -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-show="!clientFromList && param.customerType == 'Client'"
                  v-model="param.customerFromClient"
                  :label="customerLabel"
                  hide-details="auto"
                  ref="customerFromClient"
                  name="customerFromClient"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :append-icon="'mdi-magnify'"
                  @click:append="
                    clientFromList = true;
                    param.customerFromClient = '';
                  "
                ></v-text-field>
                <v-text-field
                  v-show="!clientFromList && param.customerType == 'Agent'"
                  v-model="param.customerFromAgent"
                  :label="customerLabel"
                  hide-details="auto"
                  ref="customerFromAgent"
                  name="customerFromAgent"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :append-icon="'mdi-magnify'"
                  @click:append="
                    clientFromList = true;
                    param.customerFromAgent = '';
                  "
                ></v-text-field>
                <v-autocomplete
                  v-show="clientFromList && param.customerType == 'Client'"
                  :label="customerLabel"
                  v-model="param.customerFromClient"
                  hide-details="auto"
                  ref="customerFromClient"
                  name="customerFromClient"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customerFromClient)"
                  :search-input.sync="
                    filter.customerFromClient.urlParam['codeOrName.contains']
                  "
                  :items="filter.customerFromClient.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customerFromClient.loading"
                >
                </v-autocomplete>
                <v-autocomplete
                  v-show="clientFromList && param.customerType == 'Agent'"
                  :label="customerLabel"
                  v-model="param.customerFromAgent"
                  hide-details="auto"
                  ref="customerFromAgent"
                  name="customerFromAgent"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customerFromAgent)"
                  :search-input.sync="
                    filter.customerFromAgent.urlParam['codeOrName.contains']
                  "
                  :items="filter.customerFromAgent.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customerFromAgent.loading"
                >
                </v-autocomplete>
              </v-col>
              <!-- Client To -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-show="!clientToList && param.customerType == 'Client'"
                  v-model="param.customerToClient"
                  :label="customerLabel"
                  hide-details="auto"
                  ref="customerToClient"
                  name="customerToClient"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :append-icon="'mdi-magnify'"
                  @click:append="
                    clientToList = true;
                    param.customerToClient = '';
                  "
                ></v-text-field>
                <v-text-field
                  v-show="!clientToList && param.customerType == 'Agent'"
                  v-model="param.customerToAgent"
                  :label="customerLabel"
                  hide-details="auto"
                  ref="customerToAgent"
                  name="customerToAgent"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :append-icon="'mdi-magnify'"
                  @click:append="
                    clientToList = true;
                    param.customerToAgent = '';
                  "
                ></v-text-field>
                <v-autocomplete
                  v-show="clientToList && param.customerType == 'Client'"
                  :label="customerLabel"
                  v-model="param.customerToClient"
                  hide-details="auto"
                  ref="customerToClient"
                  name="customerToClient"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customerToClient)"
                  :search-input.sync="
                    filter.customerToClient.urlParam['codeOrName.contains']
                  "
                  :items="filter.customerToClient.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customerToClient.loading"
                >
                </v-autocomplete>
                <v-autocomplete
                  v-show="clientToList && param.customerType == 'Agent'"
                  :label="customerLabel"
                  v-model="param.customerToAgent"
                  hide-details="auto"
                  ref="customerToAgent"
                  name="customerToAgent"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customerToAgent)"
                  :search-input.sync="
                    filter.customerToAgent.urlParam['codeOrName.contains']
                  "
                  :items="filter.customerToAgent.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customerToAgent.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Print Zero Balance Transactions -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">Print Zero Balance Transactions</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Zero Balance..."
                  v-model="param.isIncludeZeroBalance"
                  hide-details="auto"
                  ref="isIncludeZeroBalance"
                  name="isIncludeZeroBalance"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.isIncludeZeroBalance.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.isIncludeZeroBalance.loading"
                >
                </v-autocomplete>
                
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 4 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Account Exec -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Currency..."
                  v-model="param.currency"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.currency.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <!-- Print Include Not Due Transactions -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">Print Include Not Due Transactions</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Zero Balance..."
                  v-model="param.isIncludeNotDue"
                  hide-details="auto"
                  ref="isIncludeNotDue"
                  name="isIncludeNotDue"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.isIncludeNotDue.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.isIncludeNotDue.loading"
                  @click="changed"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 5 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Insured -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Account Exec</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Account Exec..."
                  v-model="param.acctExec"
                  hide-details="auto"
                  ref="acctExec"
                  name="acctExec"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.acctExec.items"
                  item-value="loginData.username"
                  :item-text="acctExecTextItem"
                  :loading="filter.acctExec.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <!-- Show Not Due Amount in Aging -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title" v-show="param.isIncludeNotDue == 'Y'"
                  >Show Not Due Amount in Aging</span
                >
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Zero Balance..."
                  v-model="param.isNotDueAmountinAging"
                  hide-details="auto"
                  ref="isNotDueAmountinAging"
                  name="isNotDueAmountinAging"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.isNotDueAmountinAging.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.isNotDueAmountinAging.loading"
                  v-show="param.isIncludeNotDue == 'Y'"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 6 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Insured -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Insured</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-model="param.insured"
                  label="Insured..."
                  hide-details="auto"
                  ref="insured"
                  name="insured"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 7 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Risk -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Risk</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Risk..."
                  v-model="param.risk"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.risk.items"
                  item-value="riskCode"
                  item-text="codeAndName"
                  :loading="filter.risk.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 8 -->
        <v-row class="ma-1 pa-0">
          <!-- Business Category -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Business Category</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.businessCategory"
                  label="Select Business Category..."
                  hide-details="auto"
                  ref="businessCategory"
                  name="businessCategory"
                  :items="filter.businessCategory.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.businessCategory.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 9 -->
        <v-row class="ma-1 pa-0">
          <!-- Segment -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Segment</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.segment"
                  label="Select Segment..."
                  hide-details="auto"
                  ref="segment"
                  name="segment"
                  :items="filter.segment.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.segment.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 10 -->
        <v-row class="ma-1 pa-0">
          <!-- Attachment Date -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Attachment Date</span>
              </v-col>
              <!-- Date From -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.dateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      :value="computedDateFrom"
                      ref="dateFrom"
                      name="dateFrom"
                      label="From"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateFrom = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="filter.dateFrom.menu = !filter.dateFrom.menu"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateFrom"
                    no-title
                    @input="filter.dateFrom.menu = false"
                    :max="param.dateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <!-- Date To -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.dateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      :value="computedDateTo"
                      ref="dateTo"
                      name="dateTo"
                      label="To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateTo = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="filter.dateTo.menu = !filter.dateTo.menu"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateTo"
                    no-title
                    @input="filter.dateTo.menu = false"
                    :min="param.dateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <!-- Output Process -->
        <v-divider class="mt-5"></v-divider>
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
      fileType="pdfObject"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import axios from "axios";
export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },
  data: () => ({
    param: {
      dateFrom: "",
      dateTo: "",
      currency: "",
      acctExec: "",
      receivedTo: "",
        // new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        // .toISOString()
        // .substr(0, 10),
      customerType: "Client",
      customerFromClient: "",
      customerToClient: "",
      customerFromAgent: "",
      customerToAgent: "",
      statementTo: "",
        // new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        // .toISOString()
        // .substr(0, 10),
      risk: "",
      claimNo: "",
      isIncludeZeroBalance: "N",
      isIncludeNotDue: "N",
      isNotDueAmountinAging: "N",
      businessCategory: "",
      segment: "",
      insured: "",
      output: "",
    },
    filter: {
      dateFrom: {
        date: "",
        menu: false,
      },
      dateTo: {
        date: "",
        menu: false,
      },
      receivedTo: {
        date: "",
        menu: false,
        loading: true,
      },
      statementTo: {
        date: "",
        menu: false,
        loading: true,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      acctExec: {
        value: "acctExecutive",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/?",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      isIncludeZeroBalance: {
        items: [
          { value: "Y", text: "Yes" },
          { value: "N", text: "No" },
        ],
      },
      isIncludeNotDue: {
        items: [
          { value: "Y", text: "Yes" },
          { value: "N", text: "No" },
        ],
      },
      isNotDueAmountinAging: {
        items: [
          { value: "Y", text: "Yes" },
          { value: "N", text: "No" },
        ],
      },
      risk: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      businessCategory: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_CATEGORY",
        },
        loading: true,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      customerType: {
        items: ["Client", "Agent"],
      },
      customerFromClient: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        // url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      customerToClient: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        // url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      customerFromAgent: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/agent?",
        url1: "",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      customerToAgent: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      customerGroup: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?flagParentGroup.equals=1",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
    },
    search: {
      customerFrom: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      customerTo: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      customerGroup: {
        input: "",
        items: [],
        url:
          "/clients/api/account/client?flagParentGroup.equals=1&codeOrName.contains=",
        loading: true,
        request: null,
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    clientFromList: false,
    clientToList: false,
    rules: { required: (value) => !!value || "Required." },
  }),
  created() {
    this.getBusinessDate();
    this.initList([
      "currency",
      "risk",
      "acctExec",
      "businessCategory",
      "segment",
      "customerFromClient",
      "customerToClient",
      "customerFromAgent",
      "customerToAgent",
      "customerGroup",
    ]);
    // this.initListSearch(["customerFrom", "customerTo", "customerGroup"]);
  },
  computed: {
    form() {
      return {
        // customerFrom: this.param.customerFrom,
        // customerTo: this.param.customerTo,
      };
    },
    computedDateFrom() {
      return this.param.dateFrom ? this.formatDate(this.param.dateFrom) : "";
    },
    computedDateTo() {
      return this.param.dateTo ? this.formatDate(this.param.dateTo) : "";
    },
    customerLabel: function () {
      let label = "Search Client/Agent";
      if (this.param.customerType == "Client") {
        label = "Search Client";
      } else if (this.param.customerType == "Agent") {
        label = "Search Agent";
      }
      return label;
    },
  },
  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async initListSearch(list) {
      for (let l of list) {
        await API.get(this.search[l].url, this.search[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
          }
        );
        this.search[l].loading = false;
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          attachmentDateFrom: this.formatDate2(this.param.dateFrom),
          attachmentDateTo: this.formatDate2(this.param.dateTo),
          currency: this.param.currency,
          acctExecutive: this.param.acctExec,
          clientCodeGroup: this.param.customerGroup,
          clientCodeFrom: this.param.customerType == "Client" ? this.param.customerFromClient : this.param.customerFromAgent,
          clientCodeTo: this.param.customerType == "Client" ? this.param.customerToClient : this.param.customerToAgent,
          risk: this.param.risk,
          claimTransNo: this.param.claimNo,
          statementDateTo: this.formatDate3(this.param.statementTo),
          receivedDateTo: this.formatDate3(this.param.receivedTo),
          printZeroAmt: this.param.isIncludeZeroBalance,
          printNotDue: this.param.isIncludeNotDue,
          printNotDueAging: this.param.isNotDueAmountinAging,
          bussinessCtgry: this.param.businessCategory,
          segment: this.param.segment,
          insured: this.param.insured,
        },
        group: this.param.customerType == "Client" ? "FINANCE" : "FINANCE_AGENT",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param, 1200000)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
              //   this.clearParam();
            } else {
              this.previewFile(resp.data.data);
              //   this.clearParam();
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    // autocompSearch(search) {
    //   if (search.request) search.request.cancel();
    //   const axiosSource = axios.CancelToken.source();
    //   search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
    //   setTimeout(() => this.sends(search, axiosSource), 500);
    // },
    // async sends(search, axiosSource) {
    //   search.loading = true;
    //   API.get(search.url + search.input, null, null, axiosSource.token).then(
    //     (resp) => {
    //       search.loading = false;
    //       if (resp.data.code == 0 && resp.data.data.length > 0) {
    //         search.items = resp.data.data;
    //       } else {
    //         search.items = [];
    //       }
    //     }
    //   );
    //   search.request = null;
    // },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    formatDate2(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${year}-${month}-${day}`;
    },
    formatDate3(date) {
      if (!date) return null;

      const [day, month, year] = date.split("-");
      return `${year}-${month}-${day}`;
    },
    changed() {
      if (this.param.isIncludeNotDue == "N") {
        this.param.isNotDueAmountinAging = "N";
      }
    },
    async getBusinessDate() {
      this.filter.statementTo.loading = true;
      this.filter.receivedTo.loading = true;
      await API.get("report/api/business-date").then((resp) => {
        if (resp.data) {
          this.param.statementTo = resp.data;
          this.filter.statementTo.loading = false;

          this.param.receivedTo = resp.data;
          this.filter.receivedTo.loading = false;
        }
      });
    },
    acctExecTextItem: (item) =>
      item.loginData.username + " - " + item.personalData.fullname,
  },
};
</script>
