<template>
  <v-card flat>
    <v-card class="px-0 py-0" elevation="0">
      <!-- 1 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Client Group <span class="error--text">*</span></span
              >
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client Group"
                hide-details="auto"
                v-model="param.clientGroup"
                ref="clientGroup"
                name="clientGroup"
                @change="clientAfterSelect"
                :items="filter.clientGroup.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.clientGroup.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Client Group."
                clearable
                @click:clear="
                  param.clientGroup = '';
                  clientAfterSelect();
                "
                :rules="[rules.required]"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Class of Risk</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.riskClass"
                label="Select Class of Risk"
                hide-details="auto"
                ref="risk"
                name="risk"
                :items="filter.riskClass.items"
                item-value="riskCode"
                item-text="codeAndName"
                :loading="filter.riskClass.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Client</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client"
                hide-details="auto"
                v-model="param.customer"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.segment"
                label="Select Segment"
                hide-details="auto"
                ref="segment"
                name="segment"
                :items="filter.segment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.segment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Underwriter</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.underwriter"
                label="Search Underwriter"
                hide-details="auto"
                ref="underwriter"
                name="underwriter"
                :items="filter.underwriter.items"
                item-value="id"
                item-text="codeAndName"
                :loading="filter.underwriter.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                @keyup="autocompSearch(filter.underwriter)"
                :search-input.sync="
                  filter.underwriter.urlParam['codeOrName.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Sub Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.subSegment"
                label="Select Sub Segment"
                hide-details="auto"
                ref="subSegment"
                name="subSegment"
                :items="filter.subSegment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.subSegment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Account Executive</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.acctExecutive"
                label="Search Account Excecutive"
                hide-details="auto"
                ref="acctExec"
                name="acctExec"
                class="ma-0 compact-field"
                :items="filter.acctExec.items"
                item-value="personalData.nickname"
                :item-text="acctExecTextItem"
                :loading="filter.acctExec.loading"
                solo
                flat
                outlined
                dense
                clearable
                @keyup="autocompSearch(filter.acctExec)"
                :search-input.sync="
                  filter.acctExec.urlParam['fullname.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 5 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Business Category</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.businessCategory"
                label="Search Business Category"
                hide-details="auto"
                ref="businessCategory"
                name="businessCategory"
                :items="filter.businessCategory.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.businessCategory.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      id: "",
      customer: "",
      customerType: "Client",
      riskClass: "",
      underwriter: "",
      segment: "",
      acctExecutive: "",
      subSegment: "",
      businessCategory: "",
      reportType: "full",
      output: "",
      clientGroup: "",
    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        // url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      clientGroup: {
        value: "clientGroup",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      riskClass: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      acctExec: {
        value: "acctExecutive",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/view-list?",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      subSegment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SUBSEGMENT",
        },
        loading: true,
      },
      businessCategory: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_CATEGORY",
        },
        loading: true,
      },
      output: {
        items: [
          // { value: "", text: "Preview" },
          // { value: "DOCX", text: "Generate DOCX" },
          { value: "XLSX", text: "Generate XLSX" },
          // { value: "PDF", text: "Generate PDF" },
        ],
      },
      customerType: {
        items: ["Client", "Agent", "All"],
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    paramClientGroup: [],
    paramClientCode: [],
  }),
  created() {
    this.param.id = this.$route.query.id;
    this.getParam();
    this.initList([
      "riskClass",
      "segment",
      "subSegment",
      "businessCategory",
      "underwriter",
      "acctExec",
    ]);
  },
  computed: {
    form() {
      return {
        clientGroup: this.param.clientGroup,
      };
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async getParam() {
      let param = {
        "module.equals": "TEMPLATE_REPORT_LIST",
        "code.equals": "DEBTOR_OUTSTANDING_LIST_FOR_TRAVEL",
      };
      await API.get("/config/api/master-parameter/view-list", param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let parameterList = resp.data.data[0].value;
            let parameter = JSON.parse(parameterList);
            let parameterCG = parameter.clientGroup;
            this.paramClientGroup = String(parameterCG);

            this.initList(["clientGroup"]);
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    async clientAfterSelect() {
      this.filter["customer"].loading = true;
      this.param.customer = "";
      this.filter["customer"].items = [];
      this.filter["customer"].urlParam = { "codeOrName.contains": "" };
      if (
        this.param.clientGroup &&
        this.param.clientGroup != null &&
        this.param.clientGroup != undefined &&
        this.param.clientGroup != ""
      ) {
          let clientGroupList = this.filter['clientGroup'].items;
          let clientList = [];
          let clients = clientGroupList.filter((v) => v.code == this.param.clientGroup);
          for (let client of clients) {
            clientList.push(client.id);
          }
          this.paramClientCode = String(clientList);
          this.initList(["customer"]);
      } else {
        let clients = this.filter['clientGroup'].items;
        let clientList = [];
        for (let client of clients) {
          clientList.push(client.id);
        }
        this.paramClientCode = String(clientList);
        this.initList(["customer"]);
      }
    },
    async initList(list) {
      for (let l of list) {
        if (l == "clientGroup") {
          await API.get(
            this.filter[l].url + "code.in=" + this.paramClientGroup,
            this.filter[l].urlParam
          ).then((resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          });
          this.filter[l].loading = false;

          let clients = this.filter[l].items;
          let clientList = [];
          for (let client of clients) {
            clientList.push(client.id);
          }
          this.paramClientCode = String(clientList);
          this.initList(["customer"]);
        } else if (l == "customer") {
          await API.get(
            this.filter[l].url + "idParentGroup.in=" + this.paramClientCode,
            this.filter[l].urlParam
          ).then((resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          });
          this.filter[l].loading = false;
        } else {
          await API.get(this.filter[l].url, this.filter[l].urlParam).then(
            (resp) => {
              console.log(l, resp);
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.filter[l].items = resp.data.data;
              } else {
                this.filter[l].items = [];
              }
            }
          );
          this.filter[l].loading = false;
        }
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";

      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          clientCode: this.param.customer,
          clientGroup: this.param.clientGroup,
          accountExecutive: this.param.acctExecutive,
          underwriter: this.param.underwriter
            ? String(this.param.underwriter)
            : "",
          businessCategory: this.param.businessCategory,
          riskClass: this.param.riskClass,
          segment: this.param.segment,
          subSegment: this.param.subSegment,
        },
        group: "FINANCE",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      // let byteNumbers = new Array(byteCharacters.length);
      // for (let i = 0; i < byteCharacters.length; i++) {
      //   byteNumbers[i] = byteCharacters.charCodeAt(i);
      // }
      // let byteArray = new Uint8Array(byteNumbers);
      // let file = new Blob([byteArray], { type: "application/pdf;base64" });
      // let fileURL = URL.createObjectURL(file);
      // window.open(fileURL);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      // let customerItems = this.filter.customer.items.filter(
      //   (value) => value.id == this.param.customer
      // );
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Finance - " +
          this.reportName +
          // " - " +
          // customerItems[0].name +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    formatDate(mode, month, year) {
      let resp = "";
      if (month && year) {
        let day = "01";
        if (mode == "end") {
          let date = new Date([year, month, "01"].join("-"));
          let maxDate = new Date(date.getFullYear(), date.getMonth() + 1, 0);
          day = String(maxDate.getDate());
          day = day.length < 2 ? "0".concat(day) : day;
        }
        let monthResp = String(month).length < 2 ? "0".concat(month) : month;
        resp = [year, monthResp, day].join("-");
      }
      return resp;
    },
    back() {
      this.$router.replace({ name: "finance-report-list" });
      this.name = "";
      this.group = "";
      this.code = "";
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      if (filter.value == "clientCode") {
        for (let i = 0; i < loop; i++) {
          API.get(
            filter["url" + (i < 1 ? "" : i)] +
              "idParentGroup.in=" +
              this.paramClientCode,
            filter.urlParam,
            null,
            axiosSource.token
          )
            .then((resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                // console.log(resp.data.data);
                filter.items = filter.items.concat(resp.data.data);
              }
              filter.loading = false;
            })
            .catch((e) => {
              console.log("error", e);
              filter.loading = false;
            });
        }
        filter.request = null;
      } else if (filter.value == "clientGroup") {
        for (let i = 0; i < loop; i++) {
          API.get(
            filter["url" + (i < 1 ? "" : i)] +
              "code.in=" +
              this.paramClientGroup,
            filter.urlParam,
            null,
            axiosSource.token
          )
            .then((resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                // console.log(resp.data.data);
                filter.items = filter.items.concat(resp.data.data);
              }
              filter.loading = false;
            })
            .catch((e) => {
              console.log("error", e);
              filter.loading = false;
            });
        }
        filter.request = null;
      } else {
        for (let i = 0; i < loop; i++) {
          API.get(
            filter["url" + (i < 1 ? "" : i)],
            filter.urlParam,
            null,
            axiosSource.token
          )
            .then((resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                filter.items = filter.items.concat(resp.data.data);
              }
              filter.loading = false;
            })
            .catch((e) => {
              console.log("error", e);
              filter.loading = false;
            });
        }
        filter.request = null;
      }
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },

    riskTextItem: (item) => item.riskCode + "` - " + item.riskName,
    acctExecTextItem: (item) =>
      item.personalData.nickname + " - " + item.personalData.fullname,
  },
};
</script>
