<template>
  <v-card flat>
    <v-card class="px-3 py-0" elevation="0" outlined>
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Underwriter<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.underwriter"
                label="Select Underwriter"
                hide-details="auto"
                ref="underwriter"
                name="underwriter"
                :items="filter.underwriter.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.underwriter.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                @keyup="autocompSearch(filter.underwriter)"
                :search-input.sync="
                  filter.underwriter.urlParam['codeOrName.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Entry Date<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
            <v-menu
              v-model="param.entryDateFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="param.entryDateFrom.date"
                  ref="entryDateFrom"
                  name="entryDateFrom"
                  label="From"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                >
                  <v-btn
                    slot="append"
                    @click="param.entryDateFrom.menu = !param.entryDateFrom.menu"
                    text
                    icon
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="param.entryDateFrom.date"
                no-title
                @input="param.entryDateFrom.menu = false"
                :max="param.entryDateFrom.date"
              ></v-date-picker>
            </v-menu>
            </v-col>
            <v-col cols="1" class="ma-0 pa-0">
             <div class="title text-center">To</div>
             </v-col>
            <v-col cols="4"  align-self="start" class="ma-0 pa-0">
            <v-menu
            v-model="param.entryDateTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="
              param.entryDateFrom.date == '' || param.entryDateFrom.date == null
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.entryDateTo.date"
                ref="entryDateTo"
                name="entryDateTo"
                label="To"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.entryDateTo.menu = !param.entryDateTo.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.entryDateTo.date"
              no-title
              @input="param.entryDateTo.menu = false"
              :min="param.entryDateFrom.date"
            ></v-date-picker>
          </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.currency"
                label="Select Currency"
                hide-details="auto"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.currency.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Check By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.checkBy"
                label="Select Check By"
                hide-details="auto"
                ref="checkBy"
                name="checkBy"
                :items="filter.listUser.items"
                :item-text="userItem"
                :loading="filter.listUser.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0 mb-n6">
            <v-col cols="3" align-self="start" class="ma-0 pa-0 pr-2">
              <span class="title">Payment Number</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
               <v-text-field
                v-model="param.paymentNumber"
                label="paymentNumber"
                ref="paymentNumber"
                name="paymentNumber"
                placeholder="Type Payment Number"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
          ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Check Date</span>
            </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
            <v-menu
              v-model="param.checkDateFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="param.checkDateFrom.date"
                  ref="checkDateFrom"
                  name="checkDateFrom"
                  label="From"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                >
                  <v-btn
                    slot="append"
                    @click="param.checkDateFrom.menu = !param.checkDateFrom.menu"
                    text
                    icon
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="param.checkDateFrom.date"
                no-title
                @input="param.checkDateFrom.menu = false"
                :max="param.checkDateFrom.date"
              ></v-date-picker>
            </v-menu>
            </v-col>
            <v-col cols="1" class="ma-0 pa-0">
             <div class="title text-center">To</div>
             </v-col>
            <v-col cols="4"  align-self="start" class="ma-0 pa-0">
            <v-menu
            v-model="param.checkDateTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="
              param.checkDateFrom.date == '' || param.checkDateFrom.date == null
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.checkDateTo.date"
                ref="checkDateTo"
                name="checkDateTo"
                label="To"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.checkDateTo.menu = !param.checkDateTo.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.checkDateTo.date"
              no-title
              @input="param.checkDateTo.menu = false"
              :min="param.checkDateFrom.date"
            ></v-date-picker>
          </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Payment Date</span>
            </v-col>
                 <v-col cols="4" align-self="start" class="ma-0 pa-0">
            <v-menu
              v-model="param.paymentDateFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="param.paymentDateFrom.date"
                  ref="paymentDateFrom"
                  name="paymentDateFrom"
                  label="From"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                >
                  <v-btn
                    slot="append"
                    @click="param.paymentDateFrom.menu = !param.paymentDateFrom.menu"
                    text
                    icon
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="param.paymentDateFrom.date"
                no-title
                @input="param.paymentDateFrom.menu = false"
                :max="param.paymentDateFrom.date"
              ></v-date-picker>
            </v-menu>
            </v-col>
            <v-col cols="1" class="ma-0 pa-0">
             <div class="title text-center">To</div>
             </v-col>
            <v-col cols="4"  align-self="start" class="ma-0 pa-0">
            <v-menu
            v-model="param.paymentDateTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="
              param.paymentDateFrom.date == '' || param.paymentDateFrom.date == null
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.paymentDateTo.date"
                ref="paymentDateTo"
                name="paymentDateTo"
                label="To"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.paymentDateTo.menu = !param.paymentDateTo.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.paymentDateTo.date"
              no-title
              @input="param.paymentDateTo.menu = false"
              :min="param.paymentDateFrom.date"
            ></v-date-picker>
          </v-menu>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Closed By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.closedBy"
                label="Select Closed By"
                hide-details="auto"
                ref="closeBy"
                name="closedBy"
                :items="filter.listUser.items"
                :item-text="userItem"
                :loading="filter.listUser.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Payment Type</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0 mt-1">
              <v-autocomplete
                v-model="param.paymentType"
                label="Select Payment Type"
                hide-details="auto"
                ref="paymentType"
                name="paymentType"
                :items="filter.paymentType.items"
                item-value="value"
                item-text="text"
                :loading="filter.paymentType.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Closed Date</span>
            </v-col>
                <v-col cols="4" align-self="start" class="ma-0 pa-0 mt-1">
            <v-menu
              v-model="param.closedDateFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="param.closedDateFrom.date"
                  ref="closedDateFrom"
                  name="closedDateFrom"
                  label="From"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                >
                  <v-btn
                    slot="append"
                    @click="param.closedDateFrom.menu = !param.closedDateFrom.menu"
                    text
                    icon
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="param.closedDateFrom.date"
                no-title
                @input="param.closedDateFrom.menu = false"
                :max="param.closedDateFrom.date"
              ></v-date-picker>
            </v-menu>
            </v-col>
            <v-col cols="1" class="ma-0 pa-0 mt-1">
             <div class="title text-center">To</div>
             </v-col>
            <v-col cols="4"  align-self="start" class="ma-0 pa-0 mt-1">
            <v-menu
            v-model="param.closedDateTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="
              param.closedDateFrom.date == '' || param.closedDateFrom.date == null
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.closedDateTo.date"
                ref="closedDateTo"
                name="closedDateTo"
                label="To"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.closedDateTo.menu = !param.closedDateTo.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.closedDateTo.date"
              no-title
              @input="param.closedDateTo.menu = false"
              :min="param.closedDateFrom.date"
            ></v-date-picker>
          </v-menu>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Entry By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0 mt-1">
              <v-autocomplete
                v-model="param.entryBy"
                label="Select Entry By"
                hide-details="auto"
                ref="entryBy"
                name="entryBy"
                :items="filter.listUser.items"
                :item-text="userItem"
                :loading="filter.listUser.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 5 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Type of Report</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-radio-group
                v-model="param.reportType"
                hide-details="auto"
                class="ma-2"
                dense
              >
                <v-radio value="Listing" label="Listing"></v-radio>
                <v-radio value="Full Details" label="Full Details"></v-radio>
                <v-radio value="Control Total" label="Control Total"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Status</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0 mt-1">
              <v-autocomplete
                v-model="param.status"
                label="Select Status"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.status.items"
                item-value="value"
                item-text="text"
                :loading="filter.status.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
               <v-row align="center" class="ma-0 pa-0">
            <v-col cols="6" class="ma-0 pa-0">
              <v-checkbox v-model="param.memberDetails" label="Include Member Details"></v-checkbox>
            </v-col>
            <v-col cols="6" align-self="start" class="ma-0 pa-0 mt-1">
              <v-checkbox v-model="param.journalDetails" label="Include Journal Details"></v-checkbox>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0 mt-2">
              <span class="title">Sorted By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-radio-group
                v-model="param.sortBy"
                hide-details="auto"
                class="ma-2"
                dense
              >
                <v-radio value="Underwriter" label="Underwriter"></v-radio>
                <v-radio value="Payment" label="Payment"></v-radio>
                <v-radio value="Check Date" label="Check Date"></v-radio>
                <v-radio value="Closed Date" label="Closed Date"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      underwriter: "",
      currency: "",
      paymentType: "",
      paymentNumber: "",
      checkBy: "",
      entryBy: "",
      closedBy: "",
      reportType: "Listing",
      output: "",
      sortBy: "Underwriter",
      status: "0",
      memberDetails : false,
      journalDetails : false,
      entryDateFrom: {
        date: "",
        menu: false,
      },
      entryDateTo: {
        date: "",
        menu: false,
      },
      paymentDateFrom: {
        date: "",
        menu: false,
      },
      paymentDateTo: {
        date: "",
        menu: false,
      },
      checkDateFrom: {
        date: "",
        menu: false,
      },
      checkDateTo: {
        date: "",
        menu: false,
      },
      closedDateFrom: {
        date: "",
        menu: false,
      },
      closedDateTo: {
        date: "",
        menu: false,
      },

    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      
     paymentType: {
        items: [ { value: "1", text: "1 - Cash" },
          { value: "2", text: "2 - Cheque" },
          { value: "3", text: "3 - Bilyet Giro" },
          { value: "4", text: "4 -  Transfer" },
          { value: "5", text: "5 - Bank Draft" },
          { value: "6", text: "6 -  ATM" },
          { value: "7", text: "7 - E-Banking" },
          ],
      },
      checkBy: {
        input: "",
        items: [],
        loading: true
      },
       entryBy: {
        input: "",
        items: [],
        loading: true
      },
       closedBy: {
        input: "",
        items: [],
        loading: true
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
      status: {
        items: [
          { value: "0", text: "All" },
          { value: "1", text: "1. In Prepare Only" },
          { value: "2", text: "2. Checked Only" },
          { value: "3", text: "3. Closed Only" },
        ],
      },
     listUser: {
        value: "listUser",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "user/api/user-management/user/?",
        urlParam: { page:0, size:50},
        loading: true,
        request: null,
        lookupUrl: 1,
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
  }),
  created() {
    this.initList([
      "underwriter",
      "currency",
      "listUser"
    ]);
  // this.getListUser();
  },
  
  computed: {
  },

  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },

  //  async getListUser() {
  //    try {
  //      let resp = await API.get("user/api/user-management/user/view-list?page=0&size=50");
  //      console.log(resp);
  //     //  response.then((resp) => {
  //        if (resp.data.code == 0) {
  //          let userList = resp.data.data;
  //          for (let i = 0; i < userList.length; i++) {
  //            let dataUser = userList[i];
  //            let fullNameUser = dataUser.personalData.fullname;
  //            this.filter.checkBy.items.push(fullNameUser);
  //            this.filter.entryBy.items.push(fullNameUser);
  //            this.filter.closedBy.items.push(fullNameUser);
  //          }
  //          this.filter.checkBy.loading = false;
  //          this.filter.entryBy.loading = false;
  //          this.filter.closedBy.loading = false;
  //        }
  //    } catch(err){
  //         console.log(err);
  //        // this.submitDialog.mode = "error";
  //    }
  //   },

    async generate() {
      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },

    viewFile() {
   //   console.log(JSON.stringify(this.param));
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
    
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          uwCode: this.param.underwriter,
          status: this.param.status,
          paymentType: this.param.paymentType,
          reportType: this.param.reportType,
          sortedBy: this.param.sortBy,
          currency: this.param.currency,
          paymentNumber: this.param.paymentNumber == "" || this.param.paymentNumber == null ? "" : parseFloat(this.param.paymentNumber),
          checkBy: this.param.checkBy,
          entryBy: this.param.entryBy,
          closedBy: this.param.closedBy,
          memberDetails: this.param.memberDetails.toString(),
          journalDetails: this.param.journalDetails.toString(),
          entryDateFrom: this.param.entryDateFrom.date,
          entryDateTo: this.param.entryDateTo.date,
          paymentDateFrom: this.param.paymentDateFrom.date,
          paymentDateTo: this.param.paymentDateTo.date,
          checkDateFrom: this.param.checkDateFrom.date,
          checkDateTo: this.param.checkDateTo.date,
          closedDateFrom: this.param.closedDateFrom.date,
          closedDateTo: this.param.closedDateTo.date,
        },
        group: "FINANCE",
      };
      
      for (let key in paramJSON.filter) {
          if (paramJSON.filter[key] == "") {
            delete paramJSON.filter[key]; 
          }
      }

      let param = JSON.stringify(paramJSON);
      console.log(param);

      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },

    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      // let byteNumbers = new Array(byteCharacters.length);
      // for (let i = 0; i < byteCharacters.length; i++) {
      //   byteNumbers[i] = byteCharacters.charCodeAt(i);
      // }
      // let byteArray = new Uint8Array(byteNumbers);
      // let file = new Blob([byteArray], { type: "application/pdf;base64" });
      // let fileURL = URL.createObjectURL(file);
      // window.open(fileURL);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Finance - " +
            this.reportName +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
      handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    userItem: (item) =>
     item.personalData.fullname,
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    
  },
  
};
</script>

