<template>
  <v-card flat>
    <v-card class="px-0 py-0" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="7" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Entry Date</span>
              </v-col>
              <!-- From -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.entryDateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.entryDateFrom"
                      ref="billingDateFrom"
                      name="billingDateFrom"
                      label="00/00/0000"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.entryDateFrom = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.entryDateFrom.menu = !filter.entryDateFrom.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.entryDateFrom"
                    no-title
                    @input="filter.entryDateFrom.menu = false"
                    :max="param.entryDateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <!-- space -->
              <v-col cols="1" class="ma-0 pa-0 text-center">
                <span class="title">To</span>
              </v-col>
              <!-- To -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.entryDateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.entryDateTo"
                      ref="entryDateTo"
                      name="entryDateTo"
                      label="00/00/0000"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.entryDateTo = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.entryDateTo.menu = !filter.entryDateTo.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.entryDateTo"
                    no-title
                    @input="filter.entryDateTo.menu = false"
                    :min="param.entryDateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5" class="ma-0 py-0 px-2"> </v-col>
        </v-row>
        <!-- 2 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="7" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Client</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Client..."
                  v-model="param.client"
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customer)"
                  :search-input.sync="
                    filter.customer.urlParam['codeOrName.contains']
                  "
                  :items="filter.customer.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customer.loading"
                  no-data-text="Type the Customer Name."
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5" class="ma-0 py-0 px-2"> </v-col>
        </v-row>
        <!-- 3 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="7" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Virtual Account No</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-model="param.va"
                  label="Virtual Account No..."
                  hide-details="auto"
                  ref="virtualAccount"
                  name="virtualAccount"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5" class="ma-0 py-0 px-2"> </v-col>
        </v-row>

        <v-divider></v-divider>

        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="7" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
// import * as types from "@/store/modules/snackbars/type";
// import { mapActions } from "vuex";
export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    param: {
      entryDateFrom: "",
      entryDateTo: "",
      client: "",
      va: "",
      output: "",
    },
    filter: {
      entryDateFrom: {
        date: "",
        menu: false,
      },
      entryDateTo: {
        date: "",
        menu: false,
      },
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
  }),
  created() {
    this.initList(["customer"]);
  },
  methods: {
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async generate() {
      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          entryDateFrom: this.param.entryDateFrom,
          entryDateTo: this.param.entryDateTo,
          client: this.param.client,
          virtualAccountNo: this.param.va,
        },
        group: "FINANCE",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      console.debug(paramJSON, docUrl);
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
  },
};
</script>

<style></style>
