<template>
  <v-card flat>
    <v-card class="px-0 py-0" elevation="0">
      <!-- 1 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Entry Date From<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.receiptFrom.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Date"
                    v-model="param.receiptFrom"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="
                        filter.receiptFrom.menu = !filter.receiptFrom.menu
                      "
                      text
                      icon
                      style="height: auto; width: auto"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.receiptFrom"
                  no-title
                  @input="filter.receiptFrom.menu = false"
                  :max="param.receiptTo"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Entry Date To<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="filter.receiptTo.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Select Date"
                    v-model="param.receiptTo"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    solo
                    flat
                    outlined
                    dense
                    clearable
                  >
                    <v-btn
                      slot="append"
                      @click="filter.receiptTo.menu = !filter.receiptTo.menu"
                      text
                      icon
                      style="height: auto; width: auto"
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.receiptTo"
                  no-title
                  @input="filter.receiptTo.menu = false"
                  :min="param.receiptFrom"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Client/Agent<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="3" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client/Agent"
                hide-details="auto"
                v-model="param.customerType"
                ref="customerType"
                name="customerType"
                :items="filter.customerType.items"
                item-value="value"
                item-text="text"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
            <v-col cols="6" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                :label="customerLabel"
                hide-details="auto"
                v-model="param.customer"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Number<span class="error--text"></span></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Insert Cash Receipt Number"
                type="number"
                v-model="param.receiptNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="receiptNo"
                name="receiptNo"
                class="ma-0"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Currency"
                hide-details="auto"
                v-model="param.currency"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                :item-text="currencyTextItem"
                clearable
                class="ma-0"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Print Option</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.printOption"
                label="Select Print Option"
                hide-details="auto"
                ref="printOption"
                name="printOption"
                :items="filter.printOption.items"
                item-value="value"
                item-text="text"
                :loading="filter.printOption.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">With Journal</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-switch
                v-model="param.withJournal"
                ref="withJournal"
                name="withJournal"
                inset
                dense
                hide-details="auto"
                class="mt-0"
              ></v-switch>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2"> </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0 mt-2">
              <span class="title">Sort By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-radio-group
                v-model="param.sortBy"
                hide-details="auto"
                class="ma-2"
                dense
              >
                <v-radio value="1" label="Client"></v-radio>
                <v-radio value="2" label="Number"></v-radio>
                <v-radio value="3" label="Currency"></v-radio>
                <v-radio value="4" label="Entry Date"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      id: "",
      periodFromMonth: "",
      periodFromYear: "",
      periodToMonth: "",
      periodToYear: "",
      customer: "",
      customerType: "3",
      riskClass: "",
      underwriter: "",
      segment: "",
      acctExecutive: "",
      subSegment: "",
      businessCategory: "",
      reportType: "full",
      output: "",
      sortBy: "1",
      clientGroup: "",
      receiptFrom: "",
      receiptTo: "",
      receiptNo: "",
      currency: "",
      printOption: "1",
      withJournal: false,
    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      receiptFrom: {
        dataValue: "",
        menu: false,
      },
      receiptTo: {
        dataValue: "",
        menu: false,
      },
      periodFromMonth: {
        items: [],
      },
      periodFromYear: {
        items: [],
      },
      periodToMonth: {
        items: [],
      },
      periodToYear: {
        items: [],
      },
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      riskClass: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      acctExec: {
        value: "acctExecutive",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/?",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      subSegment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SUBSEGMENT",
        },
        loading: true,
      },
      businessCategory: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_CATEGORY",
        },
        loading: true,
      },
      printOption: {
        items: [
          { value: "1", text: "All" },
          { value: "2", text: "Zero Balance" },
          { value: "3", text: "Unallocated" },
        ],
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "XLSX", text: "Generate XLSX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
      customerType: {
        items: [
          { value: "1", text: "Client" },
          { value: "2", text: "Agent" },
          { value: "3", text: "All" },
        ],
      },
      clientGroup: {
        value: "clientGroup",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: false,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
  }),
  created() {
    this.param.id = this.$route.query.id;
    this.filter.periodFromMonth.items = this.filter.periodToMonth.items =
      this.getMonthList();
    this.filter.periodFromYear.items = this.filter.periodToYear.items =
      this.getLastTenYears();
    this.initList([
      "customer",
      // "riskClass",
      // "underwriter",
      // "acctExec",
      // "segment",
      // "subSegment",
      // "businessCategory",
      "currency",
    ]);
    // this.filter.receiptFrom.dataValue = "";
    // this.filter.receiptTo.dataValue = "";
  },
  computed: {
    form() {
      return {
        // customer: this.param.customer
      };
    },
    customerLabel: function () {
      let label = "Search Client/Agent";
      if (this.param.customerType == "1") {
        label = "Search Client";
      } else if (this.param.customerType == "2") {
        label = "Search Agent";
      }
      return label;
    },
  },

  watch: {
    "filter.receiptFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() - 1);
          this.param.receiptFrom = new Date(date).toISOString().substr(0, 10);
        } else {
          this.param.receiptFrom = "";
        }
      },
      deep: true,
    },
    "filter.receiptTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.param.receiptTo = new Date(date).toISOString().substr(0, 10);
        } else {
          this.param.receiptTo = "";
        }
      },
      deep: true,
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async getItemData(id) {
      let param = {
        "reportCode.equals": id,
      };
      await API.get("/report/api/list-finance", param)
        .then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.reportItem = resp.data.data[0];
          } else {
            console.log("resp", resp);
            this.setSnackbar({ color: "error", text: "Error" });
          }
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error" });
        });
      this.overlay = false;
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";

      // filter
      // - accountCode --> valuenya customer code
      // - accountName --> valuenya customer name
      // - accountType --> valuenya "1", "2" atau "3" (1=client, 2=agent, 3=all)
      // - currency
      // - number --> no cash receipt
      // - entryDateFrom --> Date. Format yyyy-MM-dd
      // - entryDateTo --> Date. Format yyyy-MM-dd
      // - printOption --> valuenya "1", "2" atau "3" (1=All, 2=zero balance, 3=unallocated)
      // - sortedBy --> valuenya "1", "2", "3" atau "4" (1=client, 2=number, 3=currency, 4=entry date)

      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          accountCode: this.param.customer,
          accountType: this.param.customerType,
          currency: this.param.currency,
          number: this.param.receiptNo,
          entryDateFrom: this.param.receiptFrom,
          entryDateTo: this.param.receiptTo,
          printOption: this.param.printOption,
          withJournal: this.param.withJournal,
          sortedBy: this.param.sortBy,
        },
        group: "FINANCE",
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      // let byteNumbers = new Array(byteCharacters.length);
      // for (let i = 0; i < byteCharacters.length; i++) {
      //   byteNumbers[i] = byteCharacters.charCodeAt(i);
      // }
      // let byteArray = new Uint8Array(byteNumbers);
      // let file = new Blob([byteArray], { type: "application/pdf;base64" });
      // let fileURL = URL.createObjectURL(file);
      // window.open(fileURL);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      // let customerItems = this.filter.customer.items.filter(
      //   (value) => value.id == this.param.customer
      // );
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Finance - " +
          this.reportName +
          // " - " +
          // customerItems[0].name +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    formatDate(mode, month, year) {
      let resp = "";
      if (month && year) {
        let day = "01";
        if (mode == "end") {
          let date = new Date([year, month, "01"].join("-"));
          let maxDate = new Date(date.getFullYear(), date.getMonth() + 1, 0);
          day = String(maxDate.getDate());
          day = day.length < 2 ? "0".concat(day) : day;
        }
        let monthResp = String(month).length < 2 ? "0".concat(month) : month;
        resp = [year, monthResp, day].join("-");
      }
      return resp;
    },
    back() {
      this.$router.replace({ name: "finance-report-list" });
      this.name = "";
      this.group = "";
      this.code = "";
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },

    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    acctExecTextItem: (item) =>
      item.loginData.username + " - " + item.personalData.fullname,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

