<template>
  <v-card flat>
    <v-card class="px-3 py-0" elevation="0" outlined>
      <!-- 1 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title"
                >Customer Type<span class="error--text"></span
              ></span>
            </v-col>
            <v-col cols="3" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client/Agent"
                hide-details="auto"
                v-model="param.customerType"
                ref="customerType"
                name="customerType"
                :items="filter.customerType.items"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Type<span class="error--text"></span></span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Type"
                hide-details="auto"
                v-model="param.type"
                ref="type"
                name="type"
                :items="filter.type.items"
                item-value="value"
                item-text="text"
                :loading="filter.type.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Client Group Name."
                clearable
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0"> </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                v-show="!clientFromList"
                v-model="param.customer"
                :label="customerLabel"
                hide-details="auto"
                ref="customer"
                name="customer"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                :append-icon="'mdi-magnify'"
                @click:append="
                  clientFromList = true;
                  param.customer = '';
                "
              ></v-text-field>
              <v-autocomplete
                v-show="clientFromList"
                :label="customerLabel"
                hide-details="auto"
                v-model="param.customer"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
                @click:clear="
                  autocompSearch(filter.customer);
                  param.customer = '';
                "
              ></v-autocomplete>
            </v-col>
            <v-col cols="1" align-self="center" class="ma-0 pa-0 text-center">
              <span class="title">To</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                v-show="!clientToList"
                v-model="param.customerTo"
                :label="customerLabel"
                hide-details="auto"
                ref="customerTo"
                name="customerTo"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                :append-icon="'mdi-magnify'"
                @click:append="
                  clientToList = true;
                  param.customerTo = '';
                "
              ></v-text-field>
              <v-autocomplete
                v-show="clientToList"
                :label="customerLabel"
                hide-details="auto"
                v-model="param.customerTo"
                ref="customerTo"
                name="customerTo"
                @keyup="autocompSearch(filter.customerTo)"
                :search-input.sync="
                  filter.customerTo.urlParam['codeOrName.contains']
                "
                :items="filter.customerTo.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customerTo.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
                clearable
                @click:clear="
                  autocompSearch(filter.customerTo);
                  param.customerTo = '';
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Class of Risk</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.riskClass"
                label="Select Class of Risk"
                hide-details="auto"
                ref="risk"
                name="risk"
                :items="filter.riskClass.items"
                item-value="riskCode"
                item-text="codeAndName"
                :loading="filter.riskClass.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.currency"
                label="Search Currency"
                hide-details="auto"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.currency.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.segment"
                label="Select Segment"
                hide-details="auto"
                ref="segment"
                name="segment"
                :items="filter.segment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.segment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Account Executive</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.acctExecutive"
                label="Search Account Excecutive"
                hide-details="auto"
                ref="acctExec"
                name="acctExec"
                class="ma-0 compact-field"
                :items="filter.acctExec.items"
                item-value="personalData.nickname"
                :item-text="acctExecTextItem"
                :loading="filter.acctExec.loading"
                solo
                flat
                outlined
                dense
                clearable
                @keyup="autocompSearch(filter.acctExec)"
                :search-input.sync="
                  filter.acctExec.urlParam['fullname.contains']
                "
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <!-- <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Sub Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.subSegment"
                label="Select Sub Segment"
                hide-details="auto"
                ref="subSegment"
                name="subSegment"
                :items="filter.subSegment.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.subSegment.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col> -->
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Print Detail</span>
            </v-col>
            <v-col cols="3" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.printDetail"
                label="Search Print Detail"
                hide-details="auto"
                ref="printDetail"
                name="printDetail"
                class="ma-0 compact-field"
                :items="filter.printDetail.items"
                item-value="value"
                item-text="text"
                solo
                flat
                outlined
                dense
                @change="printDetailChange"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 5 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Business Category</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.businessCategory"
                label="Search Business Category"
                hide-details="auto"
                ref="businessCategory"
                name="businessCategory"
                :items="filter.businessCategory.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.businessCategory.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        
      </v-row>
      <!-- 6 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Attachment</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="param.attachmentFrom.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="param.attachmentFrom.date"
                    ref="attachmentFrom"
                    name="attachmentFrom"
                    label="From"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    flat
                    outlined
                    dense
                    solo
                  >
                    <v-btn
                      slot="append"
                      @click="
                        param.attachmentFrom.menu = !param.attachmentFrom.menu
                      "
                      text
                      icon
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.attachmentFrom.date"
                  no-title
                  @input="param.attachmentFrom.menu = false"
                  :max="param.attachmentFrom.date"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="1" class="ma-0 pa-0">
              <div class="title text-center">To</div>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="param.attachmentTo.menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
                :disabled="
                  param.attachmentFrom.date == '' ||
                  param.attachmentFrom.date == null
                "
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="param.attachmentTo.date"
                    ref="attachmentTo"
                    name="attachmentTo"
                    label="To"
                    persistent-hint
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    hide-details="auto"
                    flat
                    outlined
                    dense
                    solo
                  >
                    <v-btn
                      slot="append"
                      @click="
                        param.attachmentTo.menu = !param.attachmentTo.menu
                      "
                      text
                      icon
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="param.attachmentTo.date"
                  no-title
                  @input="param.attachmentTo.menu = false"
                  :min="param.attachmentFrom.date"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>
      <!-- 7 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Filter By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-radio-group
                v-model="param.filterBy"
                hide-details="auto"
                class="ma-2"
                dense
              >
                <v-radio value="1" label="Zero Balance"></v-radio>
                <v-radio value="2" label="Not Zero Balance"></v-radio>
                <v-radio value="3" label="All"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
        <v-col
          cols="6"
          class="ma-0 py-0 px-2"
          v-show="param.printDetail == '1'"
        >
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Data Criteria</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-radio-group
                v-model="param.criteria"
                hide-details="auto"
                class="ma-2"
                dense
              >
                <v-radio value="1" label="Installment Only"></v-radio>
                <v-radio value="2" label="Not Installment"></v-radio>
                <v-radio value="3" label="All Criteria"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>
      <!-- 8 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row class="ma-0 pa-0" v-show="param.printDetail == '1'">
            <v-col cols="3" class="ma-0 pa-0 mt-2">
              <span class="title">Sort By</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-radio-group
                v-model="param.sortBy"
                hide-details="auto"
                class="ma-2"
                dense
                @change="sortByChange"
              >
                <v-radio value="1" label="Client"></v-radio>
                <v-radio value="2" label="Segment"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 9 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2"></v-col>
        <v-col cols="6" class="ma-0 py-0 px-2" v-show="param.sortBy == '2'">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Show Sub Total</span>
            </v-col>
            <v-col cols="3" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.showSubTotal"
                label="Search Show Sub Total"
                hide-details="auto"
                ref="printDetail"
                name="printDetail"
                class="ma-0 compact-field"
                :items="filter.showSubTotal.items"
                item-value="value"
                item-text="text"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0"> </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 px-2">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="generate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      id: "",
      customer: "",
      customerTo: "",
      customerType: "client",
      riskClass: "",
      currency: "",
      segment: "",
      acctExecutive: "",
      subSegment: "",
      businessCategory: "",
      filterBy: "3",
      output: "",
      sortBy: "1",
      type: "",
      attachmentFrom: {
        date: "",
        menu: false,
      },
      attachmentTo: {
        date: "",
        menu: false,
      },
      printDetail: "0",
      criteria: "3",
      showSubTotal: "0",
    },
    overlay: true,
    submitDialog: { show: false, mode: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      customerTo: {
        value: "clientCodeTo",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      riskClass: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      acctExec: {
        value: "acctExecutive",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/view-list?",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      subSegment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SUBSEGMENT",
        },
        loading: true,
      },
      businessCategory: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_CATEGORY",
        },
        loading: true,
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
      customerType: {
        items: ["client", "agent", "all"],
      },
      type: {
        items: [
          { value: "INV", text: "1. INV" },
          { value: "CSH", text: "2. CSH" },
        ],
      },
      printDetail: {
        items: [
          { value: "0", text: "No" },
          { value: "1", text: "Yes" },
        ],
      },
      showSubTotal: {
        items: [
          { value: "0", text: "No" },
          { value: "1", text: "Yes" },
        ],
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    clientFromList: false,
    clientToList: false,
  }),
  created() {
    this.initList([
      "customer",
      "customerTo",
      "riskClass",
      "currency",
      "acctExec",
      "segment",
      "subSegment",
      "businessCategory",
    ]);
  },
  computed: {
    form() {
      return {
        // customer: this.param.customer
      };
    },
    customerLabel: function () {
      let label = "Search Client/Agent";
      if (this.param.customerType == "client") {
        label = "Search Client";
      } else if (this.param.customerType == "agent") {
        label = "Search Agent";
      }
      return label;
    },
  },

  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },

    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },

    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";

      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          accountCodeFrom: this.param.customer,
          accountCodeTo: this.param.customerTo,
          currency: this.param.currency,
          exec: this.param.acctExecutive,
          category: this.param.businessCategory,
          attachDateFrom: this.param.attachmentFrom.date,
          attachDateTo: this.param.attachmentTo.date,
          filterBy: this.param.filterBy,
          accountType: this.param.customerType.toUpperCase(),
          risk: this.param.riskClass,
          segment: this.param.segment,
          subSegment: this.param.subSegment,
          printDetail: this.param.printDetail,
          dataCriteria: this.param.criteria,
          sortedBy: this.param.sortBy,
          showSubTotal: this.param.showSubTotal,
          type: this.param.type,
        },
        group: "FINANCE",
      };

      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      // let byteNumbers = new Array(byteCharacters.length);
      // for (let i = 0; i < byteCharacters.length; i++) {
      //   byteNumbers[i] = byteCharacters.charCodeAt(i);
      // }
      // let byteArray = new Uint8Array(byteNumbers);
      // let file = new Blob([byteArray], { type: "application/pdf;base64" });
      // let fileURL = URL.createObjectURL(file);
      // window.open(fileURL);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      // let customerItems = this.filter.customer.items.filter(
      //   (value) => value.id == this.param.customer
      // );
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Finance - " +
          this.reportName +
          // " - " +
          // customerItems[0].name +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    printDetailChange() {
      if (this.param.printDetail == "0") {
        this.param.criteria = "3";
        this.param.sortBy = "1";
      }
    },
    sortByChange() {
      if (this.param.sortBy == "1") {
        this.param.showSubTotal = "0";
      }
    },

    acctExecTextItem: (item) =>
      item.personalData.nickname + " - " + item.personalData.fullname,
  },
};
</script>
