<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5" :readonly="invoice.statusPage === 'view'">
      <v-row>
        <v-col cols="8">
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">EF Gross Premium</span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="EF Gross Premium"
                id="efGrossPremium"
                ref="efGrossPremium"
                solo
                flat
                dense
                outlined
                class="ma-0 input-right"
                v-model="efPremium"
                v-money="money"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="dataEngineering"
            class="elevation-1 mb-2"
            fixed-header
            :options.sync="transOptions"
            hide-default-footer
            height="400"
          >
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="(item,idx) in items" :key="idx">
                  <td v-for="(header,key) in headers" :key="key" :item="item">
                    <div align="center" justify="center" v-if="header.value == 'insuranceName'">
                      {{item[header.value]}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'sharingPercentage'">
                      {{item[header.value]}} %
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efSharingAmount'">
                      {{formatMoney(Number(item[header.value]))}}
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efPercentage' && !item.edit">
                      {{item[header.value]}} %
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efPercentage' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          id="efPercentage"
                          ref="efPercentage"
                          v-model="editEF.efPercentage"
                          @input="updateEFPercentage"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          label=""
                          class="ma-0 input-right"
                        ></v-text-field>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efAmount' && !item.edit">
                      {{item[header.value]}}
                    </div>
                    <div align="center" v-if="header.value == 'efAmount' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          id="efAmount"
                          ref="efAmount"
                          name="efAmount"
                          v-model="editEF.efAmount"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'action' && invoice.statusPage !== 'view'">
                      <v-btn
                        v-show="!item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        class="mr-2"
                        @click="clickPencil(item)"
                      >
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        class="mr-2"
                        @click="clickCheck(item)"
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        @click="clickClose(item)"
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td v-for="header in headers" :key="header.text">
                    <div align="center" justify="center" v-if="header.value == 'insuranceName'">
                      <p class="title">Total</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'sharingPercentage'">
                      <p class="title">{{invoice.totalPercentage}} %</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efSharingAmount'">
                      <p class="title">{{formatMoney(Number(invoice.totalEfSharingAmount))}}</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efPercentage'">
                      <p class="title">{{invoice.totalEfPercentage}} %</p>
                    </div>
                    <div align="center" justify="center" v-if="header.value == 'efAmount'">
                      <p class="title">{{formatMoney(Number(invoice.totalEfAmount))}}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="dialogValidate.show" width="400" @click:outside="dialogValidate.show = false, dialogValidate.text = ''">
      <v-card>
        <v-card-title
          class="justify-center"
          style="word-break:inherit;"
          >{{dialogValidate.text}}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="resetData"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import * as types from '@/store/modules/invoice/type';
import { mapState, mapActions } from 'vuex'
import {VMoney} from 'v-money'

export default {
  directives: {money: VMoney},
  async created() {
    let data = this.invoice.insuranceSharingList
    let array = []
    data.forEach(element => {
      array.push({
        index: element.index,
        isLeader: element.isLeader,
        insuranceId: element.insuranceId,
        insuranceName: element.insuranceName,
        insuranceCode: element.insuranceCode,
        sharingPercentage: Number(element.sharingPercentage),
        amount: element.amount,
        brokerage: Number(element.brokerage),
        brokerageAmount: element.brokerageAmount,
        admincostAmount: element.admincostAmount,
        stampdutyAmount: element.stampdutyAmount,
        vatAmount: element.vatAmount,
        pph23Amount: element.pph23Amount,
        grossAmount: element.grossAmount,
        efAmount: this.formatMoney(element.efAmount),
        efPercentage: element.efPercentage,
        efSharingAmount: element.efSharingAmount,
        totalAmount: element.totalAmount,
        edit: false
      })
    });
    this.dataEngineering = array
    this.efPremium = this.formatMoney(this.invoice.efPremium)

    if (this.invoice.efPremium !== this.invoice.defaultEfPremium) {
      this.generateNewInsurance();
    }
  },
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    money: {
      decimal: '.',
      thousands: ',',
      prefix: '',
      suffix: '',
      precision: 2,
      masked: false
    },
    headers: [
      {
        text: "Insurance",
        align: "center",
        sortable: false,
        add: "",
        value: "insuranceName",
        width: '130px'
      },
      {
        text: "Sharing Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "sharingPercentage",
        width: '100px'
      },
      {
        text: "Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "efSharingAmount",
        width: '100px'
      },
      {
        text: "EF %",
        align: "center",
        sortable: false,
        add: 0,
        value: "efPercentage",
        width: '50px'
      },
      {
        text: "EF Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "efAmount",
        width: '100px'
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: '50px'
      },
    ],
    efPremium: 0,
    dataEngineering: [],
    statusPercentage: false,
    dialogValidate: { show: false, text: ""},
    editEF: {}

  }),
  mounted() {
  },
  computed: {
    ...mapState(['invoice']),
    watchTabInvoice: function () {
      return this.invoice.tabInvoice
    },
    displayEfAmount: function () {
      return this.editEF.efAmount
    },
    displayEfPremium: function () {
      return this.efPremium
    },
    watchPage: function () {
      return this.invoice.statusPage
    }
  },
  watch: {
    watchPage: function (newValue, oldValue) {
      if (newValue == 'view' && oldValue == 'edit') {
        this.generateNewInsurance()
      }
    },
    watchTabInvoice: function (newValue) {
      if (newValue == 'engineering') {
        this.generateNewInsurance()
      }
    },
    displayEfAmount: function (newValue) {
      let efAmount = this.convertMoney(newValue)
      let efPercentage = (efAmount / this.editEF.efSharingAmount ) * 100
      this.editEF.efPercentage = Number(efPercentage.toFixed(2))
    },
    displayEfPremium: function (newValue) {
      let insurance = this.dataEngineering
      let efPremium = this.convertMoney(newValue)
      let arrayInsurance = []
      insurance.forEach((element, index) => {
        let efSharingAmount = (element.sharingPercentage * efPremium) / 100
        let efAmount = (element.efPercentage * efSharingAmount) / 100
        arrayInsurance.push({
          index: index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: element.amount,
          brokerage: element.brokerage,
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: this.formatMoney(efAmount),
          efPercentage: element.efPercentage,
          efSharingAmount: efSharingAmount,
          totalAmount: element.totalAmount,
          edit: false,
        })
      });
      let amount = 0
      let efAmount = 0
      let efSharingAmount = 0
      arrayInsurance.forEach(element => {
        efAmount = efAmount + this.convertMoney(element.efAmount)
        efSharingAmount = efSharingAmount + Number(element.efSharingAmount)
        amount = amount + element.amount
      });
      let totalEfAmount = Number(efAmount.toFixed(2))
      let NewEfPercentage = Number(efAmount.toFixed(2)) / Number(efSharingAmount.toFixed(2)) * 100
      let totalEfPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
      let totalEfSharingAmount = Number(efSharingAmount.toFixed(2))
      this.dataEngineering = arrayInsurance
      this.setEFPremium(efPremium)
      this.setTotalEFAMount(totalEfAmount)
      this.setTotalEFPercentage(totalEfPercentage)
      this.setTotalEFSharingAmount(totalEfSharingAmount)
      this.setInsuranceSharingList(this.convertData(this.dataEngineering))
    },
  },
  methods: {
    ...mapActions({
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setTotalEFAMount: types.ACTION_TOTAL_EF_AMOUNT,
      setTotalEFPercentage: types.ACTION_TOTAL_EF_PERCENTAGE,
      setTotalEFSharingAmount: types.ACTION_TOTAL_EF_SHARING_AMOUNT,
      setEFPremium: types.ACTION_EF_PREMIUM,
    }),
    updateEFPercentage(item) {
      let efAmount = (this.editEF.efSharingAmount * Number(item)) / 100
      this.$refs.efAmount[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(efAmount)
    },
    clickPencil(item) {
      for (var i = 0; i < this.dataEngineering.length; i++) {
        if (this.dataEngineering[i] == item) {
          this.dataEngineering[i].edit = true
        } else {
          this.dataEngineering[i].edit = false
        }
      }
      localStorage.setItem("objEF", JSON.stringify(item))
      this.editEF = item
    },
    clickClose(item) {
      let obj = JSON.parse(localStorage.getItem('objEF'))
      for (var i = 0; i < this.dataEngineering.length; i++) {
        if (this.dataEngineering[i] == item) {
          this.dataEngineering[i].edit = false
          this.dataEngineering[i].insuranceId = obj.insuranceId
          this.dataEngineering[i].insuranceName = obj.insuranceName
          this.dataEngineering[i].insuranceCode = obj.insuranceCode
          this.dataEngineering[i].sharingPercentage = obj.sharingPercentage
          this.dataEngineering[i].amount = obj.amount
          this.dataEngineering[i].brokerage = obj.brokerage
          this.dataEngineering[i].brokerageAmount = obj.brokerageAmount
          this.dataEngineering[i].admincostAmount = obj.admincostAmount
          this.dataEngineering[i].stampdutyAmount = obj.stampdutyAmount
          this.dataEngineering[i].vatAmount = obj.vatAmount
          this.dataEngineering[i].pph23Amount = obj.pph23Amount
          this.dataEngineering[i].grossAmount = obj.grossAmount
          this.dataEngineering[i].efSharingAmount = obj.efSharingAmount
          this.dataEngineering[i].efPercentage = obj.efPercentage
          this.dataEngineering[i].efAmount = obj.efAmount
          this.dataEngineering[i].totalAmount = obj.totalAmount
        }
      }
      localStorage.removeItem("objEF")
    },
    clickCheck(item) {
      let amount = 0
      let efAmount = 0
      let efPercentage = 0
      let efSharingAmount = 0
      this.dataEngineering.forEach(element => {
        efAmount = efAmount + this.convertMoney(element.efAmount)
        // efPercentage = efPercentage + element.efPercentage
        amount = amount + element.amount
        efSharingAmount = efSharingAmount + element.efSharingAmount;
      });
      let NewEfPercentage = Number(efAmount.toFixed(2)) / Number(efSharingAmount.toFixed(2)) * 100
      efPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
      if (item.efPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "EF Percentage more than 100%"
      } else if (efPercentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total EF Percentage more than 100%"
      } else {
        for (var i = 0; i < this.dataEngineering.length; i++) {
          if (this.dataEngineering[i] == item) {
            this.dataEngineering[i].edit = false
            this.dataEngineering[i].efSharingAmount = item.efSharingAmount
            this.dataEngineering[i].efPercentage = item.efPercentage
            this.dataEngineering[i].efAmount = item.efAmount
          }
        }
        let totalEfAmount = Number(efAmount.toFixed(2))
        let totalEfPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
        this.setTotalEFAMount(totalEfAmount)
        this.setTotalEFPercentage(totalEfPercentage)
        this.setInsuranceSharingList(this.convertData(this.dataEngineering))
        localStorage.removeItem("objEF")
      }
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, '')
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, '')
        .replace('x', '.');
      return parseFloat(amount)
    },
    resetData () {
      this.dialogValidate = { show: false, text: ""}
    },
    convertData (data) {
      let array = []
      data.forEach(element => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          amount: element.amount,
          brokerage: Number(element.brokerage),
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: this.convertMoney(element.efAmount),
          efPercentage: Number(element.efPercentage),
          efSharingAmount: element.efSharingAmount,
          totalAmount: element.totalAmount,
        })
      });
      return array
    },
    generateNewInsurance () {
      let insurance =  this.invoice.insuranceSharingList
        let efPremium = this.invoice.efPremium
        let arrayInsurance = []
        insurance.forEach((element, index) => {
          let efSharingAmount = (element.sharingPercentage * efPremium) / 100
          let efAmount = (element.efPercentage * efSharingAmount) / 100
          arrayInsurance.push({
            index: index,
            isLeader: element.isLeader,
            insuranceId: element.insuranceId,
            insuranceName: element.insuranceName,
            insuranceCode: element.insuranceCode,
            sharingPercentage: element.sharingPercentage,
            amount: element.amount,
            brokerage: element.brokerage,
            brokerageAmount: element.brokerageAmount,
            admincostAmount: element.admincostAmount,
            stampdutyAmount: element.stampdutyAmount,
            vatAmount: element.vatAmount,
            pph23Amount: element.pph23Amount,
            grossAmount: element.grossAmount,
            efAmount: this.formatMoney(efAmount),
            efPercentage: element.efPercentage,
            efSharingAmount: efSharingAmount,
            totalAmount: element.totalAmount,
            edit: false,
          })
        });
        let amount = 0
        let efAmount = 0
        let efSharingAmount = 0
        arrayInsurance.forEach(element => {
          efAmount = efAmount + this.convertMoney(element.efAmount)
          efSharingAmount = efSharingAmount + Number(element.efSharingAmount)
          amount = amount + element.amount
        });
        let totalEfAmount = Number(efAmount.toFixed(2))
        let NewEfPercentage = Number(efAmount.toFixed(2)) / Number(efSharingAmount.toFixed(2)) * 100
        let totalEfPercentage = isNaN(NewEfPercentage) ? 0 : Number(NewEfPercentage.toFixed(2))
        let totalEfSharingAmount = Number(efSharingAmount.toFixed(2))
        this.dataEngineering = arrayInsurance
        this.efPremium = this.formatMoney(this.invoice.efPremium)

        this.$refs.efGrossPremium.$el.getElementsByTagName('input')[0].value = this.formatMoney(efPremium)
        this.setTotalEFAMount(totalEfAmount)
        this.setTotalEFPercentage(totalEfPercentage)
        this.setTotalEFSharingAmount(totalEfSharingAmount)
        this.setInsuranceSharingList(this.convertData(this.dataEngineering))
    }
  }
}
</script>

<style scoped>
  ::v-deep .input-right input {
    text-align: right;
  }
  ::v-deep .input-red input {
    color: red
  }
  .colorRed {
    color: red
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td > div {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
</style>