<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row class="mb-5">
        <v-col cols="12">
          <v-card>
            <isttoolbar title="To Client" class="mb-2" dark color="primary">
            </isttoolbar>
            <v-data-table
              :headers="headers"
              :items="dataClient"
              class="elevation-1"
              fixed-header
              :options.sync="transOptions"
              hide-default-footer
              height="400"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item, idx) in items" :key="idx">
                    <td
                      v-for="(header, key) in headers"
                      :key="key"
                      :item="item"
                    >
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'no'"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && !item.edit"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage' && !item.edit"
                      >
                        {{ item[header.value] }} %
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && item.edit"
                      >
                        <v-menu
                          v-model="item.date"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="editClient.dueDate"
                              ref="entryDateToClientEdit"
                              name="entryDateToClientEdit"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="item.date = !item.date"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="minDateInstallmentClientEdit"
                            :max="maxDateInstallmentClientEdit"
                            v-model="editClient.dueDate"
                            no-title
                            @input="item.date = false"
                          ></v-date-picker>
                        </v-menu>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage' && item.edit"
                      >
                        <v-text-field
                          hide-details="auto"
                          ref="percentageToClientEdit"
                          name="percentageToClientEdit"
                          v-model="editClient.percentage"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusClientEdit = true"
                          @blur="statusClientEdit = false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="
                          header.value == 'action' &&
                          invoice.statusPage !== 'view'
                        "
                      >
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          class="mr-2"
                          @click="clickPencil(item)"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          @click="clickMinus(item)"
                        >
                          <v-icon>mdi-minus</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCheckEdit(item)"
                          outlined
                          icon
                          :disabled="statusCheckEdit"
                          class="mr-2"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCloseEdit(item)"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </div>
                    </td>
                  </tr>
                  <tr v-show="invoice.statusPage !== 'view'">
                    <td v-for="header in headers" :key="header.text">
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'action'"
                      >
                        <v-btn
                          width="30"
                          height="30"
                          v-show="!statusCreateClient"
                          @click="clickPlus"
                          outlined
                          icon
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateClient"
                          @click="clickCheck"
                          outlined
                          icon
                          class="mr-2"
                          :disabled="statusCheck"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateClient"
                          @click="clickClose"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && statusCreateClient"
                      >
                        <v-menu
                          v-model="statusDateClient"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="header.add"
                              ref="entryDateToClient"
                              name="entryDateToClient"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="statusDateClient = !statusDateClient"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <!-- :min="minDateClient" -->
                          <v-date-picker
                            :min="minDateInstallmentClient"
                            :max="maxDateInstallmentClient"
                            v-model="header.add"
                            no-title
                            @input="statusDateClient = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        <v-text-field
                          v-show="statusCreateClient"
                          hide-details="auto"
                          ref="percentageToClient"
                          name="percentageToClient"
                          v-model="header.add"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusClient = true"
                          @blur="statusClient = false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                    </td>
                  </tr>
                  <tr>
                    <td v-for="header in headers" :key="header.text">
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate'"
                      >
                        <p class="title mt-3">Total</p>
                      </v-row>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        <p class="title mt-3">{{ totalPercentage }} %</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card>
            <isttoolbar
              title="To Underwriter:"
              class="mb-2"
              dark
              color="primary"
            >
              <v-row>
                <v-col cols="5">
                  <v-select
                    :items="invoice.insuranceSharingListUnder"
                    class="ml-3"
                    solo
                    flat
                    dense
                    full-width
                    color="primary"
                    background-color="primary"
                    hide-details="auto"
                    v-model="selectInsurance"
                    @input="clickSelectInsurance"
                    return-object
                    item-text="insuranceName"
                    name="insuranceListUnder"
                    ref="insuranceListUnder"
                    label=""
                    :disabled="dataUnder.length == 0"
                  ></v-select>
                </v-col>
              </v-row>
            </isttoolbar>
            <v-data-table
              :headers="headersUnder"
              :items="dataUnder"
              class="elevation-1"
              fixed-header
              :options.sync="transOptions"
              hide-default-footer
              height="400"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item, idx) in items" :key="idx">
                    <td
                      v-for="(header, key) in headersUnder"
                      :key="key"
                      :item="item"
                    >
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'no'"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && !item.edit"
                      >
                        {{ item[header.value] }}
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage' && !item.edit"
                      >
                        {{ item[header.value] }} %
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && item.edit"
                      >
                        <v-menu
                          v-model="item.date"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="editUnder.dueDate"
                              ref="entryDateToUnderEdit"
                              name="entryDateToUnderEdit"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="item.date = !item.date"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="minDateInstallmentUnderEdit"
                            :max="maxDateInstallmentUnderEdit"
                            v-model="editUnder.dueDate"
                            no-title
                            @input="item.date = false"
                          ></v-date-picker>
                        </v-menu>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage' && item.edit"
                      >
                        <v-text-field
                          hide-details="auto"
                          ref="percentageToUnderEdit"
                          name="percentageToUnderEdit"
                          v-model="editUnder.percentage"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusUnderEdit = true"
                          @blur="statusUnderEdit = false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div>
                      <div
                        align="center"
                        justify="center"
                        v-if="
                          header.value == 'action' &&
                          !statusALL &&
                          invoice.statusPage !== 'view'
                        "
                      >
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          class="mr-2"
                          @click="clickPencilUnder(item)"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          @click="clickMinusUnder(item)"
                        >
                          <v-icon>mdi-minus</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCheckEditUnder(item)"
                          outlined
                          icon
                          class="mr-2"
                          :disabled="statusCheckEdit"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCloseEditUnder(item)"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </div>
                    </td>
                  </tr>
                  <tr v-show="!statusALL && invoice.statusPage !== 'view'">
                    <td v-for="header in headersUnder" :key="header.text">
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'action'"
                      >
                        <v-btn
                          width="30"
                          height="30"
                          v-show="!statusCreateUnder"
                          @click="clickPlusUnder"
                          outlined
                          icon
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateUnder"
                          @click="clickCheckUnder"
                          outlined
                          icon
                          class="mr-2"
                          :disabled="statusCheckUnder"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateUnder"
                          @click="clickCloseUnder"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate' && statusCreateUnder"
                      >
                        <v-menu
                          v-model="statusDateUnder"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="header.add"
                              ref="entryDateToUnder"
                              name="entryDateToUnder"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="statusDateUnder = !statusDateUnder"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <!-- :min="minDateUnder" -->
                          <v-date-picker
                            :min="minDateInstallmentUnder"
                            :max="maxDateInstallmentUnder"
                            v-model="header.add"
                            no-title
                            @input="statusDateUnder = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-row>
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        <v-text-field
                          v-show="statusCreateUnder"
                          hide-details="auto"
                          ref="percentageToUnder"
                          name="percentageToUnder"
                          v-model="header.add"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusUnder = true"
                          @blur="statusUnder = false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                    </td>
                  </tr>
                  <tr>
                    <td v-for="header in headersUnder" :key="header.text">
                      <v-row
                        align="center"
                        justify="center"
                        v-if="header.value == 'dueDate'"
                      >
                        <p class="title mt-3">Total</p>
                      </v-row>
                      <div
                        align="center"
                        justify="center"
                        v-if="header.value == 'percentage'"
                      >
                        <p class="title mt-3">{{ totalPercentageUnder }} %</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialogValidate.show"
      width="unset"
      min-width="100px"
      @click:outside="(dialogValidate.show = false), (dialogValidate.text = '')"
    >
      <v-card>
        <v-card-title class="justify-center" style="word-break: inherit;">{{
          dialogValidate.text
        }}</v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="(dialogValidate.show = false), (dialogValidate.text = '')"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  created() {
    let client = this.invoice.toClientInstallmentList;
    let arrayClient = [];
    client.forEach((element, index) => {
      if (index === 0) this.startClient = element.no;
      arrayClient.push({
        date: false,
        edit: false,
        dueDate: element.dueDate,
        no: element.no,
        percentage: Number(element.percentage),
      });
    });
    this.dataClient = arrayClient;
    this.totalPercentage = this.invoice.toClientTotalPercentage;

    let under = this.invoice.toUnderwriterInstallmentList;
    let arrayUnder = [];
    under.forEach((element, index) => {
      if (index === 0) this.startUnder = element.no;
      arrayUnder.push({
        date: false,
        edit: false,
        dueDate: element.dueDate,
        no: element.no,
        percentage: Number(element.percentage),
      });
    });
    this.dataUnder = arrayUnder;
    this.totalPercentageUnder = this.invoice.toUnderwriterTotalPercentage;
    this.setToLocalStorage(); // For Init VALUE List Underwriter
    // if (client.length !== 0) {
    //   this.generateNewClient();
    // }
    // if (under.length !== 0) {
    //   this.generateNewUnder();
    // }
    // let dateClient = arrayClient[0].dueDate;
    // arrayClient.forEach((element) => {
    //   if (this.convertDate(element.dueDate) > this.convertDate(dateClient)) {
    //     dateClient = element.dueDate;
    //   }
    // });

    // let dateUnder = arrayClient[0].dueDate;
    // arrayUnder.forEach((element) => {
    //   if (this.convertDate(element.dueDate) > this.convertDate(dateUnder)) {
    //     dateUnder = element.dueDate;
    //   }
    // });
    // this.minDateClient = dateClient;
    // this.minDateUnder = dateUnder;
    // console.debug(this.startClient, 'minDate', this.startUnder)
  },
  directives: { money: VMoney },
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    amount: 0,
    statusFocus: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    headers: [
      {
        text: "Installment",
        align: "center",
        sortable: false,
        add: "",
        value: "no",
        width: "50px",
      },
      {
        text: "Due Date",
        align: "center",
        sortable: false,
        add: "",
        value: "dueDate",
        width: "180px",
      },
      {
        text: "Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "percentage",
        width: "130px",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "100px",
      },
    ],
    dataClient: [
      // {
      //   admincostAmount: 0,
      //   amount: 0,
      //   dueDate: "string",
      //   grossAmount: 0,
      //   no: 1,
      //   percentage: 0,
      //   stampdutyAmount: 0,
      //   totalAmount: 0,
      //   vatAmount: 0,
      //   edit: false,
      //   date: false
      // }
    ],
    editClient: {},
    minDateClient: new Date().toISOString(),
    statusClient: false,
    statusClientEdit: false,
    statusDateClient: false,
    statusCreateClient: false,
    admincostAmount: 0,
    stampdutyAmount: 0,
    vatAmount: 0,
    grossAmount: 0,
    total: 0,
    totalPercentage: 0,
    totalAmount: 0,
    totalAdminCost: 0,
    totalStampDuty: 0,
    totalVAT: 0,
    totalGross: 0,
    totalTotalAmount: 0,
    headersUnder: [
      {
        text: "Installment",
        align: "center",
        sortable: false,
        add: "",
        value: "no",
        width: "50px",
      },
      {
        text: "Due Date",
        align: "center",
        sortable: false,
        add: "",
        value: "dueDate",
        width: "180px",
      },
      {
        text: "Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "percentage",
        width: "130px",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "100px",
      },
    ],
    dataUnder: [
      // {
      //   admincostAmount: 0,
      //   amount: 0,
      //   brokerageAmount: 0,
      //   dueDate: "string",
      //   grossAmount: 0,
      //   no: 0,
      //   percentage: 0,
      //   pph23Amount: 0,
      //   stampdutyAmount: 0,
      //   totalAmount: 0,
      //   vatAmount: 0,
      //   edit: false,
      //   date: false
      // }
    ],
    listInsurance: [],
    selectInsurance: { insuranceName: "ALL" },
    editUnder: {},
    minDateUnder: new Date().toISOString(),
    statusALL: false,
    statusUnder: false,
    statusUnderEdit: false,
    statusDateUnder: false,
    statusCreateUnder: false,
    admincostAmountUnder: 0,
    stampdutyAmountUnder: 0,
    vatAmountUnder: 0,
    pph23AmountUnder: 0,
    brokerageAmountUnder: 0,
    grossAmountUnder: 0,
    netTotalUnder: 0,
    totalPercentageUnder: 0,
    totalAmountUnder: 0,
    totalAdminCostUnder: 0,
    totalStampDutyUnder: 0,
    totalBrokerageUnder: 0,
    totalVATUnder: 0,
    totalPPhUnder: 0,
    totalGrossUnder: 0,
    totalTotalAmountUnder: 0,
    request: null,
    formHasErrors: false,
    dialogValidate: { show: false, text: "" },
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  mounted() {},
  computed: {
    minDateInstallmentClient: function () {
      if (this.dataClient.length === 0) {
        return this.invoice.insurancePeriodFrom;
      } else {
        let date = this.dataClient.at(-1).dueDate;
        return date;
      }
    },
    maxDateInstallmentClient: function () {
      let d = new Date();
      let year = d.getFullYear();
      let month = d.getMonth();
      let day = d.getDate();
      let date = new Date(year + 1, month, day).toISOString().substr(0, 10);

      if (this.invoice.insurancePeriodEnd !== "") {
        return this.invoice.insurancePeriodEnd;
      } else {
        return date;
      }
    },
    minDateInstallmentClientEdit: function () {
      if (this.dataClient.length === 1) {
        return this.invoice.insurancePeriodFrom;
      } else {
        let index = this.dataClient.findIndex(
          (x) => x.no === this.editClient.no
        );
        if (index === 0) {
          return this.invoice.insurancePeriodFrom;
        } else {
          let date = this.dataClient.at(index - 1).dueDate;
          return date;
        }
      }
    },
    maxDateInstallmentClientEdit: function () {
      if (this.dataClient.length === 1) {
        return this.invoice.insurancePeriodEnd;
      } else {
        let index = this.dataClient.findIndex(
          (x) => x.no === this.editClient.no
        );
        let lastIndex = this.dataClient.length - 1;
        if (index === lastIndex) {
          return this.invoice.insurancePeriodEnd;
        } else {
          let date = this.dataClient.at(index + 1).dueDate;
          return date;
        }
      }
    },
    minDateInstallmentUnder: function () {
      if (this.dataUnder.length === 0) {
        return this.invoice.insurancePeriodFrom;
      } else {
        let date = this.dataUnder.at(-1).dueDate;
        return date;
      }
    },
    maxDateInstallmentUnder: function () {
      let d = new Date();
      let year = d.getFullYear();
      let month = d.getMonth();
      let day = d.getDate();
      let date = new Date(year + 1, month, day).toISOString().substr(0, 10);

      if (this.invoice.insurancePeriodEnd !== "") {
        return this.invoice.insurancePeriodEnd;
      } else {
        return date;
      }
    },
    minDateInstallmentUnderEdit: function () {
      if (this.dataUnder.length === 1) {
        return this.invoice.insurancePeriodFrom;
      } else {
        let index = this.dataUnder.findIndex((x) => x.no === this.editUnder.no);
        if (index === 0) {
          return this.invoice.insurancePeriodFrom;
        } else {
          let date = this.dataUnder.at(index - 1).dueDate;
          return date;
        }
      }
    },
    maxDateInstallmentUnderEdit: function () {
      if (this.dataUnder.length === 1) {
        return this.invoice.insurancePeriodEnd;
      } else {
        let index = this.dataUnder.findIndex((x) => x.no === this.editUnder.no);
        let lastIndex = this.dataUnder.length - 1;
        if (index === lastIndex) {
          return this.invoice.insurancePeriodEnd;
        } else {
          let date = this.dataUnder.at(index + 1).dueDate;
          return date;
        }
      }
    },
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    watchInsuranceList: function () {
      return this.invoice.insuranceSharingListUnder;
    },
    watchStatusClient: function () {
      return this.statusClient;
    },
    watchStatusClientEdit: function () {
      return this.statusClientEdit;
    },
    watchStatusUnder: function () {
      return this.statusUnder;
    },
    watchStatusUnderEdit: function () {
      return this.statusUnderEdit;
    },
    // displayPercentageClient: function () {
    //   return this.headers[2].add;
    // },
    // displayAmountClient: function () {
    //   return this.headers[3].add;
    // },
    // displayPercentageUnder: function () {
    //   return this.headersUnder[2].add;
    // },
    // displayAmountUnder: function () {
    //   return this.headersUnder[3].add;
    // },
    // displayPercentageClientEdit: function () {
    //   return this.editClient.percentage;
    // },
    // displayAmountClientEdit: function () {
    //   return this.editClient.amount;
    // },
    // displayPercentageUnderEdit: function () {
    //   return this.editUnder.percentage;
    // },
    // displayAmountUnderEdit: function () {
    //   return this.editUnder.amount;
    // },
    statusCheck: function () {
      return this.headers[1].add.length > 0 &&
        this.headers[2].add > 0 &&
        this.headers[3].add !== "0.00"
        ? false
        : true;
    },
    statusCheckEdit: function () {
      // return this.editClient.dueDate.length > 0 && this.editClient.percentage > 0  && this.editAgent.amount !== "0.00" ? false : true
      return false;
    },
    statusCheckUnder: function () {
      return this.headersUnder[1].add.length > 0 &&
        this.headersUnder[2].add > 0 &&
        this.headersUnder[3].add !== "0.00"
        ? false
        : true;
    },
    statusCheckEditUnder: function () {
      // return this.editClient.dueDate.length > 0 && this.editClient.percentage > 0  && this.editAgent.amount !== "0.00" ? false : true
      return false;
    },
    watchTabInvoice: function () {
      return this.invoice.tabInvoice;
    },
  },
  watch: {
    watchInsuranceList: function (newValue, oldValue) {
      if (newValue !== oldValue) {

        console.debug('masukkkkkkkk')
        let array = newValue;
        array.forEach((element) => {
          if (element.insuranceName !== this.selectInsurance.insuranceName) {
            this.selectInsurance = { insuranceName: "ALL" };
            this.statusALL = false;
            let obj = JSON.parse(localStorage.getItem("dataInstallmentUnder"));
            if (obj !== null) {
              this.dataUnder = obj.listUnder;
              this.totalPercentageUnder = obj.totalPercentageUnder;
              // this.totalAmountUnder = obj.totalAmountUnder;
              // this.totalAdminCostUnder = obj.totalAdminCostUnder;
              // this.totalStampDutyUnder = obj.totalStampDutyUnder;
              // this.totalBrokerageUnder = obj.totalBrokerageUnder;
              // this.totalVATUnder = obj.totalVATUnder;
              // this.totalPPhUnder = obj.totalPPhUnder;
              // this.totalGrossUnder = obj.totalGrossUnder;
              // this.totalTotalAmountUnder = obj.totalTotalAmountUnder;
            }
          }
        });
        this.listInsurance = array;
      }
    },
    watchStatusClient: function (newValue) {
      if (newValue) {
        if (this.headers[2].add === 0) {
          this.headers[2].add = "";
        }
      } else if (this.headers[2].add === "") {
        this.headers[2].add = 0;
      }
    },
    watchStatusClientEdit: function (newValue) {
      if (newValue) {
        if (this.editClient.percentage === 0) {
          this.editClient.percentage = "";
        }
      } else if (this.editClient.percentage === "") {
        this.editClient.percentage = 0;
      }
    },
    watchStatusUnder: function (newValue) {
      if (newValue) {
        if (this.headersUnder[2].add === 0) {
          this.headersUnder[2].add = "";
        }
      } else if (this.headersUnder[2].add === "") {
        this.headersUnder[2].add = 0;
      }
    },
    watchStatusUnderEdit: function (newValue) {
      if (newValue) {
        if (this.editUnder.percentage === 0) {
          this.editUnder.percentage = "";
        }
      } else if (this.editUnder.percentage === "") {
        this.editUnder.percentage = 0;
      }
    },
    displayPercentageClient: function (newValue) {
      let value = this.calculateAmount(
        newValue,
        this.invoice.premiumClientInstallment
      );
      this.$refs.amountToClient[0].$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(value);
    },
    // displayAmountClient: function (newValue) {
    //   // SIDE AMOUNT
    //   let amount = this.convertMoney(newValue);
    //   let adminCost = 0;
    //   let stampDuty = 0;
    //   let vat = 0;
    //   let gross = 0;
    //   let total = 0;
    //   if (this.dataClient.length === 0 && this.headers[2].add > 0) {
    //     adminCost = this.invoice.toClientPolEndCost;
    //     stampDuty = this.invoice.toClientStampDuty;
    //     vat = this.invoice.toClientVat;
    //   }

    //   gross = amount + adminCost + stampDuty;
    //   total = gross + vat;
    //   this.admincostAmount = adminCost;
    //   this.stampdutyAmount = stampDuty;
    //   this.vatAmount = vat;
    //   this.grossAmount = gross;
    //   this.total = total;
    // },
    displayPercentageUnder: function (newValue) {
      let value = this.calculateAmount(
        newValue,
        this.invoice.toUnderwriterPremium
      );
      this.$refs.amountToUnder[0].$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(value);
    },
    // displayAmountUnder: function (newValue) {
    //   // SIDE AMOUNT
    //   let amount = this.convertMoney(newValue);
    //   let brokerageInsurance = this.invoice.totalBrokerageAmount;
    //   let admincostAmountUnder = 0;
    //   let stampdutyAmountUnder = 0;
    //   let vatAmountUnder = 0;
    //   let pph23AmountUnder = 0;
    //   let brokerageAmountUnder = 0;
    //   let grossAmountUnder = 0;
    //   let netTotalUnder = 0;
    //   if (this.dataUnder.length === 0 && this.headersUnder[2].add > 0) {
    //     admincostAmountUnder = this.invoice.toUnderwriterPolEndCost;
    //     stampdutyAmountUnder = this.invoice.toUnderwriterStampDuty;
    //   }

    //   brokerageAmountUnder =
    //     (Number(this.headersUnder[2].add) * brokerageInsurance) / 100;
    //   vatAmountUnder =
    //     ((this.invoice.insurerVatPercentage * brokerageAmountUnder) / 100) * -1;
    //   pph23AmountUnder =
    //     (this.invoice.insurerPph23Percentage * brokerageAmountUnder) / 100;
    //   grossAmountUnder =
    //     amount +
    //     admincostAmountUnder +
    //     stampdutyAmountUnder -
    //     brokerageAmountUnder;
    //   netTotalUnder = grossAmountUnder + vatAmountUnder + pph23AmountUnder;

    //   this.admincostAmountUnder = admincostAmountUnder;
    //   this.stampdutyAmountUnder = stampdutyAmountUnder;
    //   this.brokerageAmountUnder = brokerageAmountUnder;
    //   this.vatAmountUnder = vatAmountUnder;
    //   this.pph23AmountUnder = pph23AmountUnder;
    //   this.grossAmountUnder = grossAmountUnder;
    //   this.netTotalUnder = netTotalUnder;
    // },
    displayPercentageClientEdit: function (newValue) {
      let value = this.calculateAmount(
        newValue,
        this.invoice.premiumClientInstallment
      );
      this.$refs.amountToClientEdit[0].$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(value);
    },
    // displayAmountClientEdit: function (newValue) {
    //   // SIDE AMOUNT
    //   let amount = this.convertMoney(newValue);
    //   let adminCost = this.editClient.admincostAmount;
    //   let stampDuty = this.editClient.stampdutyAmount;
    //   let vat = this.editClient.vatAmount;
    //   let gross = 0;
    //   let total = 0;

    //   gross = amount + adminCost + stampDuty;
    //   total = gross + vat;
    //   this.editClient.grossAmount = gross;
    //   this.editClient.totalAmount = total;
    // },
    displayPercentageUnderEdit: function (newValue) {
      let value = this.calculateAmount(
        newValue,
        this.invoice.toUnderwriterPremium
      );
      this.$refs.amountToUnderEdit[0].$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(value);
    },
    // displayAmountUnderEdit: function (newValue) {
    //   // SIDE AMOUNT
    //   let amount = this.convertMoney(newValue);
    //   let brokerageInsurance = this.invoice.totalBrokerageAmount;
    //   let admincostAmountUnder = this.editUnder.admincostAmount;
    //   let stampdutyAmountUnder = this.editUnder.stampdutyAmount;
    //   let vatAmountUnder = 0;
    //   let pph23AmountUnder = 0;
    //   let brokerageAmountUnder = 0;
    //   let grossAmountUnder = 0;
    //   let netTotalUnder = 0;

    //   brokerageAmountUnder =
    //     (Number(this.editUnder.percentage) * brokerageInsurance) / 100;
    //   vatAmountUnder =
    //     ((this.invoice.insurerVatPercentage * brokerageAmountUnder) / 100) * -1;
    //   pph23AmountUnder =
    //     (this.invoice.insurerPph23Percentage * brokerageAmountUnder) / 100;
    //   grossAmountUnder =
    //     amount +
    //     admincostAmountUnder +
    //     stampdutyAmountUnder -
    //     brokerageAmountUnder;
    //   netTotalUnder = grossAmountUnder + vatAmountUnder + pph23AmountUnder;

    //   this.editUnder.admincostAmount = admincostAmountUnder;
    //   this.editUnder.stampdutyAmount = stampdutyAmountUnder;
    //   this.editUnder.brokerageAmount = brokerageAmountUnder;
    //   this.editUnder.vatAmount = vatAmountUnder;
    //   this.editUnder.pph23Amount = pph23AmountUnder;
    //   this.editUnder.grossAmount = grossAmountUnder;
    //   this.editUnder.totalAmount = netTotalUnder;
    // },
  },
  methods: {
    ...mapActions({
      setToClientInstallmentList: types.ACTION_TO_CLIENT_INSTALLMENT_LIST,
      setToClientTotalPercentage: types.ACTION_TO_CLIENT_TOTAL_PERCENTAGE,
      setToClientTotalAmount: types.ACTION_TO_CLIENT_TOTAL_AMOUNT,
      setToClientTotalAdminCost: types.ACTION_TO_CLIENT_TOTAL_ADMIN_COST,
      setToClientTotalStampDuty: types.ACTION_TO_CLIENT_TOTAL_STAMP_DUTY,
      setToClientTotalVAT: types.ACTION_TO_CLIENT_TOTAL_VAT,
      setToClientTotalGross: types.ACTION_TO_CLIENT_TOTAL_GROSS,
      setToClientTotalTotalAmount: types.ACTION_TO_CLIENT_TOTAL_TOTAL_AMOUNT,

      setToUnderwriterInstallmentList:
        types.ACTION_TO_UNDERWRITER_INSTALLMENT_LIST,
      setToUnderwriterTotalAmount: types.ACTION_TO_UNDERWRITER_TOTAL_AMOUNT,
      setToUnderwriterTotalPercentage:
        types.ACTION_TO_UNDERWRITER_TOTAL_PERCENTAGE,
      setToUnderwriterTotalAdminCost:
        types.ACTION_TO_UNDERWRITER_TOTAL_ADMIN_COST,
      setToUnderwriterTotalStampDuty:
        types.ACTION_TO_UNDERWRITER_TOTAL_STAMP_DUTY,
      setToUnderwriterTotalBrokerage:
        types.ACTION_TO_UNDERWRITER_TOTAL_BROKERAGE,
      setToUnderwriterTotalVAT: types.ACTION_TO_UNDERWRITER_TOTAL_VAT,
      setToUnderwriterTotalPPH: types.ACTION_TO_UNDERWRITER_TOTAL_PPH,
      setToUnderwriterTotalGross: types.ACTION_TO_UNDERWRITER_TOTAL_GROSS,
      setToUnderwriterTotalTotalAmount:
        types.ACTION_TO_UNDERWRITER_TOTAL_TOTAL_AMOUNT,
    }),
    clickSelectInsurance(item) {
      // localStorage.removeItem("dataInstallmentUnder")
      this.$refs.insuranceListUnder.blur();
      if (item.insuranceName !== "ALL") {
        this.statusALL = true;
        let param = {
          idInsurance: item.insuranceId,
          installmentUnderwriterList: this.convertUnder(this.dataUnder),
          insuranceList: [item],
        };
        this.getUnderwriter(param);
      } else {
        this.statusALL = false;
        let obj = JSON.parse(localStorage.getItem("dataInstallmentUnder"));
        if (obj !== null) {
          this.dataUnder = obj.listUnder;
          this.totalPercentageUnder = obj.totalPercentageUnder;
          // this.totalAmountUnder = obj.totalAmountUnder;
          // this.totalAdminCostUnder = obj.totalAdminCostUnder;
          // this.totalStampDutyUnder = obj.totalStampDutyUnder;
          // this.totalBrokerageUnder = obj.totalBrokerageUnder;
          // this.totalVATUnder = obj.totalVATUnder;
          // this.totalPPhUnder = obj.totalPPhUnder;
          // this.totalGrossUnder = obj.totalGrossUnder;
          // this.totalTotalAmountUnder = obj.totalTotalAmountUnder;
        }
      }
    },
    calculateAmount(value, premium) {
      let data = (Number(premium) / 100) * Number(value);
      return data;
    },
    clickPlus() {
      if (
        this.invoice.insurancePeriodFrom == "" ||
        this.invoice.insurancePeriodEnd == ""
      ) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "You must add Period of Cover";
      } else if (this.totalPercentage == 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else {
        this.statusCreateClient = true;
        for (var i = 0; i < this.dataClient.length; i++) {
          this.dataClient[i].edit = false;
        }
      }
    },
    clickPlusUnder() {
      localStorage.removeItem("dataInstallmentUnder");
      if (
        this.invoice.insurancePeriodFrom == "" ||
        this.invoice.insurancePeriodEnd == ""
      ) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "You must add Period of Cover";
      } else if (this.totalPercentageUnder == 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else if (this.invoice.totalPercentage !== 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Total Sharing Percentage in tab Insurance must be 100%";
      } else {
        this.statusCreateUnder = true;
        for (var i = 0; i < this.dataUnder.length; i++) {
          this.dataUnder[i].edit = false;
        }
      }
      // else if (this.invoice.totalBrokerageAmount == 0) {
      //   this.dialogValidate.show = true
      //   this.dialogValidate.text = "You must add Brokerage in tab Insurance"
      // }
    },
    clickCheck() {
      let obj = {};
      let percentage = 0;
      for (var header of this.headers) {
        if (header.value != "action") {
          if (header.value == "no") {
            obj["no"] = this.dataClient.length + 1;
          } else if (header.value == "dueDate") {
            obj["dueDate"] = header.add;
          } else if (header.value == "percentage") {
            obj["percentage"] = Number(header.add);
            percentage = this.totalPercentage + Number(header.add);
          }
        }
      }

      if (obj.percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Percentage more than 100%";
      } else if (percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else {
        this.totalPercentage = Number(percentage.toFixed(2));
        let newObj = Object.assign(obj, { edit: false, date: false });
        this.dataClient.push(newObj);
        for (var k = 0; k < this.dataClient.length; k++) {
          this.dataClient[k].no = 1 + k;
        }
        this.minDateClient = newObj.dueDate;
        this.setToClientInstallmentList(this.convertClient(this.dataClient));
        this.setToClientTotalPercentage(this.totalPercentage);

        // Reset Data
        this.headers[1].add = "";
        this.headers[2].add = 0;
        this.statusCreateClient = false;
      }
    },
    clickCheckUnder() {
      let obj = {};
      let percentage = 0;
      for (var header of this.headersUnder) {
        if (header.value != "action") {
          if (header.value == "no") {
            obj["no"] = this.dataUnder.length + 1;
          } else if (header.value == "dueDate") {
            obj["dueDate"] = header.add;
          } else if (header.value == "percentage") {
            obj["percentage"] = Number(header.add);
            percentage = this.totalPercentageUnder + Number(header.add);
          }
        }
      }

      if (obj.percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Percentage more than 100%";
      } else if (percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else {
        this.totalPercentageUnder = Number(percentage.toFixed(2));
        let newObj = Object.assign(obj, { edit: false, date: false });
        this.dataUnder.push(newObj);
        for (var k = 0; k < this.dataUnder.length; k++) {
          this.dataUnder[k].no = 1 + k;
        }
        this.minDateUnder = newObj.dueDate;
        this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder));
        this.setToLocalStorage(); // For Init VALUE List Underwriter
        this.setToUnderwriterTotalPercentage(this.totalPercentageUnder);

        // Reset Data
        this.headersUnder[1].add = "";
        this.headersUnder[2].add = 0;
        this.statusCreateUnder = false;
      }
    },
    clickMinus(item) {
      var index = "";
      let percentage = this.totalPercentage - Number(item.percentage);
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataClient.length; j++) {
        this.dataClient[j].edit = false;
      }
      if (String(index).length > 0) {
        this.dataClient.splice(index, 1);
      }
      if (this.dataClient.length === 0) {
        this.minDateClient = new Date().toISOString();
      } else {
        this.minDateClient = this.dataClient[
          this.dataClient.length - 1
        ].dueDate;
      }
      for (var k = 0; k < this.dataClient.length; k++) {
        this.dataClient[k].no = k + 1;
      }
      this.totalPercentage = Number(percentage.toFixed(2));
      this.setToClientInstallmentList(this.convertClient(this.dataClient));
      this.setToClientTotalPercentage(this.totalPercentage);

      this.statusCreateClient = false;
    },
    clickMinusUnder(item) {
      localStorage.removeItem("dataInstallmentUnder");
      var index = "";
      let percentage = this.totalPercentageUnder - Number(item.percentage);
      for (var i = 0; i < this.dataUnder.length; i++) {
        if (this.dataUnder[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataUnder.length; j++) {
        this.dataUnder[j].edit = false;
      }
      if (String(index).length > 0) {
        this.dataUnder.splice(index, 1);
      }
      if (this.dataUnder.length === 0) {
        this.minDateUnder = new Date().toISOString();
      } else {
        this.minDateUnder = this.dataUnder[this.dataUnder.length - 1].dueDate;
      }
      for (var k = 0; k < this.dataUnder.length; k++) {
        this.dataUnder[k].no = k + 1;
      }
      this.totalPercentageUnder = Number(percentage.toFixed(2));

      this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder));
      this.setToLocalStorage(); // For Init VALUE List Underwriter
      this.setToUnderwriterTotalPercentage(this.totalPercentageUnder);

      this.statusCreateUnder = false;
    },
    clickClose() {
      this.statusCreateClient = false;
      this.headers[1].add = "";
      this.headers[2].add = 0;
    },
    clickCloseUnder() {
      this.statusCreateUnder = false;
      this.headersUnder[1].add = "";
      this.headersUnder[2].add = 0;
    },
    clickPencil(item) {
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          this.dataClient[i].edit = true;
          this.statusCreateClient = false;
        } else {
          this.dataClient[i].edit = false;
        }
      }
      localStorage.setItem("objInstallmentClient", JSON.stringify(item));
      this.editClient = item;
    },
    clickPencilUnder(item) {
      localStorage.removeItem("dataInstallmentUnder");
      for (var i = 0; i < this.dataUnder.length; i++) {
        if (this.dataUnder[i] == item) {
          this.dataUnder[i].edit = true;
          this.statusCreateUnder = false;
        } else {
          this.dataUnder[i].edit = false;
        }
      }
      localStorage.setItem("objInstallmentUnder", JSON.stringify(item));
      this.editUnder = item;
    },
    clickCloseEdit(item) {
      let obj = JSON.parse(localStorage.getItem("objInstallmentClient"));
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          this.dataClient[i].edit = false;
          this.dataClient[i].date = false;
          this.dataClient[i].no = obj.no;
          this.dataClient[i].dueDate = obj.dueDate;
          this.dataClient[i].percentage = Number(obj.percentage);
          this.statusCreateClient = false;
        }
      }
      localStorage.removeItem("objInstallmentClient");
      this.editClient = {};
    },
    clickCloseEditUnder(item) {
      let obj = JSON.parse(localStorage.getItem("objInstallmentUnder"));
      for (var i = 0; i < this.dataUnder.length; i++) {
        if (this.dataUnder[i] == item) {
          this.dataUnder[i].edit = false;
          this.dataUnder[i].date = false;
          this.dataUnder[i].no = obj.no;
          this.dataUnder[i].dueDate = obj.dueDate;
          this.dataUnder[i].percentage = Number(obj.percentage);
          this.statusCreateUnder = false;
        }
      }
      localStorage.removeItem("objInstallmentUnder");
      this.editUnder = {};
    },
    clickCheckEdit(item) {
      let percentage = 0;
      this.dataClient.forEach((element) => {
        percentage = percentage + Number(element.percentage);
      });

      if (item.percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Percentage more than 100%";
      } else if (percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else {
        for (var i = 0; i < this.dataClient.length; i++) {
          if (this.dataClient[i] == item) {
            this.dataClient[i].edit = false;
            this.dataClient[i].date = false;
            this.dataClient[i].no = item.no;
            this.dataClient[i].dueDate = item.dueDate;
            this.dataClient[i].percentage = Number(item.percentage);
          }
        }

        for (var k = 0; k < this.dataClient.length; k++) {
          this.dataClient[k].no = 1 + k;
        }

        this.totalPercentage = Number(percentage.toFixed(2));
        this.setToClientInstallmentList(this.convertClient(this.dataClient));
        this.setToClientTotalPercentage(this.totalPercentage);

        localStorage.removeItem("objInstallmentClient");
      }
    },
    clickCheckEditUnder(item) {
      let percentage = 0;
      this.dataUnder.forEach((element) => {
        percentage = percentage + Number(element.percentage);
      });

      if (item.percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Percentage more than 100%";
      } else if (percentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Percentage more than 100%";
      } else {
        for (var i = 0; i < this.dataUnder.length; i++) {
          if (this.dataUnder[i] == item) {
            this.dataUnder[i].edit = false;
            this.dataUnder[i].date = false;
            this.dataUnder[i].no = item.no;
            this.dataUnder[i].dueDate = item.dueDate;
            this.dataUnder[i].percentage = Number(item.percentage);
          }
        }

        for (var k = 0; k < this.dataUnder.length; k++) {
          this.dataUnder[k].no = 1 + k;
        }

        this.totalPercentageUnder = Number(percentage.toFixed(2));
        this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder));
        this.setToLocalStorage(); // For Init VALUE List Underwriter
        this.setToUnderwriterTotalPercentage(this.totalPercentageUnder);

        localStorage.removeItem("objInstallmentUnder");
      }
    },
    async getAgent() {
      this.search.agentName.loading = true;
      let resp = await API.get("/clients/api/account/agent?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.agentName.loading = false;
        const data = resp.data.data;
        this.search.agentName.items = data;
      }
    },
    async getUnderwriter(paramJSON) {
      let param = JSON.stringify(paramJSON);

      API.post(
        "/broking/api/broking/invoice/installment-underwriter",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          const data = resp.data;
          let newData = data.installmentUnderwriterList;
          let array = [];
          newData.forEach((element) => {
            array.push({
              dueDate: element.dueDate,
              no: element.no,
              percentage: element.percentage,
              edit: false,
              date: false,
            });
          });
          this.dataUnder = array;
          this.totalPercentageUnder = data.totalPercentage;
        }
      });
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    convertClient(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          dueDate: element.dueDate,
          no: element.no,
          percentage: Number(element.percentage),
        });
      });
      return array;
    },
    convertUnder(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          dueDate: element.dueDate,
          no: element.no,
          percentage: Number(element.percentage),
        });
      });
      return array;
    },
    setToLocalStorage() {
      let obj = {
        listUnder: this.dataUnder,
        totalPercentageUnder: this.totalPercentageUnder,
      };
      localStorage.setItem("dataInstallmentUnder", JSON.stringify(obj));
    },
  },
};
</script>

<style scoped>
::v-deep .input-right input {
  text-align: right;
}
::v-deep .input-red input {
  color: red;
}
.colorRed {
  color: red;
}
::v-deep
  .v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td
  > div {
  font-size: 1.25rem !important;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 1.25rem !important;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
}
</style>
