<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar title="Quotation" dark color="secondary" icon="mdi-handshake">
      </isttoolbar>

      <isttoolbar title="Create Quotation" dark color="primary"></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-btn
        :disabled="!buttonPreviewEnable"
        bottom
        height="40"
        class="mr-2"
        outlined
        color="white"
        @click="viewFile"
      >
        Print Preview
      </v-btn>

      <v-btn
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="doAddDraft"
        >Save Draft
      </v-btn>
      <v-btn
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="movetoQuotation"
        >Save
      </v-btn>

      <v-btn height="40" width="100" outlined color="white" @click="back2"
        >cancel
      </v-btn>
    </div>
    <v-form class="contentFix">
      <v-row align="center" class="ml-2">
        <v-col cols="3" class="pa-1">
          <span class="title">Transaction Number</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            ref="customer"
            name="customer"
            v-model="param.transactionId"
            flat
            dense
            outlined
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="3" class="pa-1">
          <span class="title">Customer</span>
          <span class="title red--text">*</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            ref="customer"
            name="customer"
            v-model="param.customer"
            flat
            dense
            outlined
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="3" class="pa-1">
          <span class="title">Notes</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-textarea
            hide-details="auto"
            ref="customer"
            name="customer"
            v-model="param.notes"
            flat
            dense
            outlined
            class="ma-0"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-card class="mt-1" flat>
        <isttoolbar title="Detail Quotation" dark color="primary"></isttoolbar>
        <v-card-text>
          <v-card>
            <v-tabs v-model="tab" light>
              <v-tab v-for="item in items" :key="item.tab"
                >{{ item.tab }}
              </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-card flat>
                  <v-card-text>
                    <p
                      v-if="templateSelected.length > 1"
                      class="font-italic mt-2"
                    >
                      Drag And Move for sorting.
                    </p>
                    <draggable v-model="templateSelected" class="v-card">
                      <template v-for="(template, i) in templateSelected">
                        <v-card
                          class="mb-2"
                          outlined
                          :key="template.text"
                          min-height="90px"
                          :style="template.show ? '' : 'color:darkgrey'"
                          ><v-row class="ml-2">
                            <v-col cols="2"
                              ><h2>{{ template.name }}</h2>
                            </v-col>
                            <v-col cols="7">
                              <froala-view
                                v-model="template.content"
                              ></froala-view
                            ></v-col>
                            <v-spacer />
                            <v-col>
                              <v-card-actions>
                                <v-switch
                                  color="success"
                                  v-model="template.show"
                                  inset
                                ></v-switch>
                                <v-btn
                                  text
                                  color="blue"
                                  @click="openEditDialog(i)"
                                >
                                  <v-icon>mdi-pen</v-icon>
                                </v-btn>
                                <v-btn
                                  text
                                  color="red"
                                  @click="openDeleteDialog(i)"
                                >
                                  <v-icon>mdi-trash-can</v-icon>
                                </v-btn>
                              </v-card-actions>
                            </v-col>
                          </v-row>
                        </v-card>
                      </template>
                    </draggable>
                  </v-card-text>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <v-card-text>
                    <div v-for="(form, i) in formData" v-bind:key="i">
                      <input1
                        :key="i"
                        :title="form.title"
                        :variable="form.variable"
                        :type="form.type"
                        v-model="form.value"
                      >
                      </input1>
                    </div>
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-card-text>
      </v-card>
    </v-form>

    <v-dialog v-model="addTemplatesDialog" max-width="700px">
      <v-card>
        <v-card-title>Add Template Item</v-card-title>
        <v-card-text>
          <v-select
            :items="filter.templateItem.items"
            label="Select Template"
            v-model="templateSelect"
            item-text="title"
            item-value="templates"
            return-object
            persistent-hint
          ></v-select>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="addTemplatesDialog = false"
            >Close
          </v-btn>
          <v-btn color="primary" text @click="addTemplateItem">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editTemplatesDialog" persistent max-width="1200px">
      <v-card>
        <v-card-title
          >Edit Template - {{ templateSelectEdit.name }}
        </v-card-title>
        <v-card-text>
          <v-container>
            <froala
              :config="config"
              v-model="templateSelectEdit.content"
            ></froala>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn color="green" text @click="editTemplateItemSetDefault"
            >Set Default
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editTemplateItem(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="editTemplateItem(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editFormDataDialog" persistent max-width="600px">
      <v-card>
        <v-card-title
          >Edit Form Data - {{ formDataSelectEdit.title }}
        </v-card-title>
        <v-card-subtitle>{{ formDataSelectEdit.key }}</v-card-subtitle>
        <v-card-text>
          <v-container>
            <v-textarea
              name="input-3-1"
              label="Value"
              v-model="formDataSelectEdit.value"
            ></v-textarea>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editFormData(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="editFormData(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="deleteTemplatesDialog" persistent max-width="500">
      <v-card>
        <v-card-title>Delete This Template Item ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="deleteTemplateItem(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="deleteTemplateItem(true)"
            >Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? goToView() : (dialog.show = false)"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogGenerate.show" persistent max-width="290">
        <v-card v-show="!dialogGenerate.success && !dialogGenerate.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialogGenerate.success || dialogGenerate.error">
          <v-card-title
            v-if="dialogGenerate.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialogGenerate.error"
            class="justify-center"
            style="word-break: inherit"
            >Failed to Generate
          </v-card-title>
          <v-card-text
            v-if="dialogGenerate.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialogGenerate.success ? back() : (dialogGenerate.show = false)
              "
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import Vue from "vue";
import VueFroala from "vue-froala-wysiwyg";
Vue.use(VueFroala);
import "froala-editor/js/plugins/align.min";
import "froala-editor/js/plugins/font_size.min";
import "froala-editor/js/plugins/colors.min";
import "froala-editor/css/plugins/colors.min.css";
import "froala-editor/js/plugins/table.min";
import "froala-editor/css/plugins/table.min.css";
import "froala-editor/js/plugins/paragraph_format.min";
import "froala-editor/js/plugins/paragraph_style.min";
import "froala-editor/js/plugins/code_view.min";
import "froala-editor/js/plugins/code_beautifier.min";
import "froala-editor/css/plugins/code_view.min.css";
import "froala-editor/js/plugins/word_paste.min";
import "froala-editor/js/plugins/quote.min";
import "froala-editor/js/plugins/link.min";
import "froala-editor/js/plugins/image.min";
import "froala-editor/js/plugins/font_family.min";
import "froala-editor/js/plugins/line_height.min";
import "froala-editor/js/plugins/lists.min";
import "froala-editor/css/themes/gray.min.css";
import draggable from "vuedraggable";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import input1 from "@/components/inputs/input1";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    draggable,
    isttoolbar,
    input1,
  },
  data: () => ({
    config: {
      attribution: false,
      tableCellStyles: {
        noborder: "No Border",
      },
      tableStyles: {
        noborder: "No Border",
      },
      lineHeights: {
        Default: "",
        Single: "1",
        1.15: "1.15",
        1.5: "1.5",
        Double: "2",
      },
      listAdvancedTypes: true,
      toolbarButtons: [
        [
          "alignLeft",
          "alignCenter",
          "alignRight",
          "alignJustify",
          "lineHeight",
          "bold",
          "italic",
          "underline",
          "fontSize",
          "fontFamily",
          "quote",
          "indent",
          "outdent",
          "formatOL",
          "formatUL",
          "paragraphFormat",
          "paragraphStyle",
          "textColor",
          "insertTable",
          "insertLink",
          "insertImage",
          "html",
          "undo",
          "redo",
          "codeView",
          "beautifier",
          "wordPaste",
        ],
      ],
      theme: "gray",
      heightMin: 600,
      heightMax: 400,
      paragraphFormatSelection: true,
      toolbarSticky: true, //static header
      pastePlain: true,
      events: {
        "image.beforeUpload": function (files) {
          let editor = this;
          if (files.length) {
            let reader = new FileReader();
            // Set the reader to insert images when they are loaded.
            reader.onload = function (e) {
              let result = e.target.result;
              editor.image.insert(result, null, null, editor.image.get());
            };
            // Read image as base64.
            reader.readAsDataURL(files[0]);
          }
          editor.popups.hideAll();
          // Stop default upload chain.
          return false;
        },
      },
    },
    errorDescription: "",
    documentDataShow: [],
    documentDataShow2: [],

    overlay: false,
    dialog: { show: false, success: false, error: false },
    dialogGenerate: { show: false, success: false, error: false },

    param: {
      placingNumber: "",
      customer: "",
      refVersion: "",
      version: "",
      classOfRisk: "",
      notes: "",
      riskCode: "",

      codeSegment: "",
      templateCode: "",
      transactionId: 0,
      transactionIdKey: "",
      statusEdit: 0,
    },
    classOfRiskItems: [],
    mode: "",
    editFormDataDialog: false,
    editTemplatesDialog: false,
    deleteTemplatesDialog: false,
    addTemplatesDialog: false,
    selection: [],

    tab: null,
    items: [
      { tab: "Document Data", content: "Tab 1 Content" },
      { tab: "Form Data", content: "Tab 2 Content" },
    ],
    templateArraySelected: 0,
    templateDeleteSelect: {},
    templateSelect: {},
    templateSelectEdit: {},
    templateSelected: [],
    templates: [],
    formDataArraySelected: 0,
    formDataSelectEdit: {},
    formDataSelectDelete: {},
    formData: [],
    insuranceRateId: 0,
    insuranceRate: [],
    templateRemoveFroala: [],
    quotationId: "",
    filter: {
      templateItem: {
        key: "templateItem",
        request: null,
        searchValue: "",
        searchParam: "equals",
        url: "/config/api/master-template-item/?code.contains=",
        loading: false,
        items: [],
      },
    }
  }),

  created() {
    if (this.$route.query.id) {
      this.param.id = this.$route.query.id;

      this.getById();
      this.initList(['templateItem']);
    }
  },
  computed: {
    buttonPreviewEnable() {
      return this.templateSelected.length > 0;
    },

    buttonMoveDisable() {
      return this.param.statusEdit === 0;
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    initList(list) {
      for (let l of list) {
        API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code === 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
      }
    },
    change() {
      this.mode = "e";
      this.$router.replace({
        name: "quotation-edit",
        query: { ...this.$route.query, mode: "e" },
      });
    },
    back() {
      this.$router.replace({ name: "quotation-list" });
    },
    back2() {
      this.$router.replace({ name: "quotation-list" });
    },
    goToView() {
      this.$router.push({
        name: "quotation-edit",
        query: {
          id: this.quotationId,
          mode: "d",
          backToView: false,
          fromWhere: "quotation-list",
        },
      });
    },

    async getById() {
      this.overlay = true;
      this.dialog.show = true;
      const id = this.param.id;
      API.get("/broking/api/broking/placement/" + id).then((resp) => {
        if (resp.data.code === 0) {
          this.overlay = false;
          this.dialog.show = false;
          const data = resp.data;

          this.param.transactionId = data.transactionId;
          this.param.placingNumber = data.transactionIdKey;
          this.param.customer = data.accountName;
          this.param.notes = data.notes;

          try {
            let documentDataContent = JSON.parse(data.metasDoc);

            if (typeof documentDataContent === "object")
              this.templateSelected = documentDataContent;
          } catch (e) {
            this.templateSelected = [];
          }
          try {
            let formDataContent = JSON.parse(data.metasForm);
            if (typeof formDataContent === "object")
              this.formData = formDataContent;
          } catch (e) {
            this.formData = [];
          }
        }
      });
    },

    async filterShowData() {
      var res = this.templateSelected.filter((item) => {
        return item.show === true;
      });
      var at = JSON.stringify(res);

      at = at
        .replaceAll(/<br>/gm, "<br/>")
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");

      at = at.replace(/<br (.*?)">/g, (match) => {
        return match.replace(">", "/>");
      });

      this.documentDataShow2 = at;
      this.documentDataShow = this.documentDataShow2;
    },
    async filterFroala() {
      this.templateRemoveFroala = JSON.stringify(this.templateSelected)
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");
    },
    async doAddDraft() {
      this.overlay = true;
      this.dialog.show = true;
      await this.filterFroala();

      let paramJSON = {
        brokingQuotation: {
          placementId: this.param.id,
          transactionIdKey: this.param.placingNumber,
          transactionId: this.param.transactionId,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,
          metasForm: JSON.stringify(this.formData),
          notes: this.param.notes,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/save-draft", param).then(
        (resp) => {
          if (resp.data.code === 0) {
            // this.dialog.success = true;
            this.quotationId = resp.data.brokingQuotation.id;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.goToView();
          } else {
            this.errorDescription = resp.data.errorDescription;
            this.dialog.error = true;
          }
        }
      );
    },

    async movetoQuotation() {
      this.overlay = true;
      this.dialog.show = true;
      await this.filterFroala();

      let paramJSON = {
        brokingQuotation: {
          placementId: this.param.id,
          transactionIdKey: this.param.placingNumber,
          transactionId: this.param.transactionId,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,
          metasForm: JSON.stringify(this.formData),
          notes: this.param.notes,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/add", param).then((resp) => {
        if (resp.data.code === 0) {
          // this.dialog.success = true;
          this.quotationId = resp.data.brokingQuotation.id;
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.goToView();
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
          this.overlay = false;
        }
      });
    },

    async doEdit() {
      let paramJSON = {
        brokingPlacement: {
          accountId: this.param.placingNumber,
          metasDoc: JSON.stringify(this.templateSelected),
          metasForm: JSON.stringify(this.formData),
          id: this.param.id,
          transactionId: this.param.transactionId,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/update", param).then((resp) => {
        if (resp.data.code === 0) {
          // this.dialog.success = true;
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.goToView();
        } else {
          this.dialog.error = true;
        }
      });
    },

    async getTemplateItems() {
      API.get("/config/api/master-template-item/").then((resp) => {
        if (resp.data.code === 0 && resp.data.data.length > 0) {
          let items = resp.data.data;

          for (let i = 0; i < items.length; i++) {
            this.templates.push(items[i].code);
          }
        }
      });
    },

    addInsuranceRate() {
      this.insuranceRateId += 1;
      let id = this.insuranceRateId;
      this.insuranceRate.push({
        id: id,
        insurance: "",
        rate: 0,
      });
    },
    setDefaultTemplateItems() {
      this.templateSelected = [];
      let templates = this.templates;
      for (let index in templates) {
        this.templateSelected.push({
          id: templates[index].id,
          title: templates[index].title,
          content: templates[index].content,
        });
      }
    },
    addTemplateItem() {
      let template = this.templateSelect;
      API.get("/config/api/master-template-item/?name.equals=" + template).then(
        (resp) => {
          if (resp.data.code === 0 && resp.data.data) {
            const items = resp.data.data;

            for (let i = 0; i < items.length; i++) {
              this.templateSelected.push({
                id: items[i].id,
                name: items[i].name,
                content: items[i].content,
              });
            }

            this.templateSelect = {};
            this.addTemplatesDialog = false;
          }
        }
      );
    },
    openDeleteDialog(i) {
      this.deleteTemplatesDialog = true;
      this.templateDeleteSelect = i;
    },
    deleteTemplateItem(isdelete) {
      if (isdelete) this.templateSelected.splice(this.templateDeleteSelect, 1);
      this.templateDeleteSelect = {};
      this.deleteTemplatesDialog = false;
    },
    openEditDialog(i) {
      this.editTemplatesDialog = true;
      let template = this.templateSelected[i];
      this.templateSelectEdit = {
        name: template.name,
        content: template.content,
        id: template.id,
        show: template.show,
      };
      this.templateArraySelected = i;
    },
    editTemplateItem(isEdit) {
      if (isEdit)
        this.templateSelected[this.templateArraySelected] =
          this.templateSelectEdit;
      this.templateSelectEdit = {};
      this.templateArraySelected = null;
      this.editTemplatesDialog = false;
    },
    editTemplateItemSetDefault() {
      let index = this.templates.findIndex(
        (item) => item.id === this.templateSelectEdit.id
      );
      let template = this.templates[index];
      this.templateSelectEdit = {
        title: template.title,
        content: template.content,
        id: template.id,
      };
    },
    openFormDataEditDialog(i) {
      this.editFormDataDialog = true;
      let formData = this.formData[i];
      this.formDataSelectEdit = {
        title: formData.title,
        key: formData.key,
        value: formData.value,
        id: formData.id,
      };
      this.formDataArraySelected = i;
    },
    editFormData(isEdit) {
      if (isEdit)
        this.formData[this.formDataArraySelected] = this.formDataSelectEdit;
      this.formDataSelectEdit = {};
      this.formDataArraySelected = null;
      this.editFormDataDialog = false;
    },

    viewFile() {
      this.overlay = true;
      this.dialogGenerate.show = true;
      this.filterShowData();

      let paramJSON = {
        metasDoc: this.documentDataShow,
        metasForm: JSON.stringify(this.formData),
        idPlacement: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/generate", param).then((resp) => {
        if (resp.data.code === 0) {
          this.previewFile(resp.data.data);
          this.overlay = false;
          this.dialogGenerate.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialogGenerate.error = true;
          this.overlay = false;
        }
      });
    },
    downloadFile() {
      this.overlay = true;
      this.dialog.show = true;

      let paramJSON = {
        metasDoc: JSON.stringify(this.templateSelected),
        metasForm: JSON.stringify(this.formData),
        idPlacement: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/generate", param).then((resp) => {
        if (resp.data.code === 0) {
          this.saveFile(resp.data.data);

          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.dialog.error = true;
        }
      });
    },
    saveFile(base64) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        var ascii = binaryString.charCodeAt(i);
        bytes[i] = ascii;
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Quotation_" +
          this.param.placingNumber +
          "_" +
          this.param.version +
          "_" +
          this.param.refVersion +
          ".pdf"
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
  },
};
</script>

<style scoped>
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  color: white;
  position: fixed;
  z-index: 2;
  margin-top: 3px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>
