<template>
  <v-card flat>
    <isttoolbar title="List Of VAT Listing" dark color="secondary" icon="mdi-account-cash">
      <v-spacer></v-spacer>
      <v-btn outlined @click="goToAdd" v-show="checkAuthorities('vat-listing-generate')">
        <v-icon left>mdi-plus</v-icon>Generate VAT Listing
      </v-btn>
    </isttoolbar>
    <isttoolbar
      flat
      dark
      color="primary"
      class="ma-0 pa-0"
    >
      <v-btn
        tile
        elevation="0"
        height="48px"
        width="120px"
        :color="tabBtn == 0 ? '#005fb3' : 'primary'"
        @click="brokerageRefresh()"
        :style="tabBtn == 0 ? 'border-bottom: 2px solid white;' : ''"
      >
        <span 
          :class="tabBtn == 0 ? 'font-weight-black' : ''"
        >Brokerage
        </span>
      </v-btn>
      <v-btn
        tile
        elevation="0"
        height="48px"
        width="120px"
        :color="tabBtn == 1 ? '#005fb3' : 'primary'"
        @click="nonBrokerageRefresh()"
        :style="tabBtn == 1 ? 'border-bottom: 2px solid white;' : ''"
      >
        <span 
          :class="tabBtn == 1 ? 'font-weight-black' : ''"
        >Non-Brokerage
        </span>
      </v-btn>
    </isttoolbar>
    <masterdatatable
      :headers="headers"
      :options="options"
      :loading="loading"
      :viewListUrl="
        tabBtn == 0
          ? 'finance/api/vat-listing/view-list?taxGroup.equals=BROKERAGE'
          : 'finance/api/vat-listing/view-list?taxGroup.equals=NONBROKERAGE'
      "
      v-on:action="action"
      listKey="list"
      v-on:clickItem="clickItem"
      ref="masterTable"
    >
    </masterdatatable>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
// import API from "@/core/api/api.js";
import masterdatatable from "@/components/table/masterDataTable";
import API from "@/core/api/api.js";
import submitdialog from "@/components/dialog/submitDialog";

export default {
  components: {
    isttoolbar,
    masterdatatable,
    submitdialog,
  },
  data: () => ({
    headers: [
      {
        text: "Serial No From",
        align: "start",
        searchable: true,
        sortable: true,
        value: "beginNo",
        // filterParam: "beginNo.equals",
        searchValue: "",
        filterType: "input",
        dataType: "string",
        style: "min-width: 150px;",
        sortParam: "beginNumber",
        filterParam: "serialNoFrom",
        process: function (data, header, item) {
          let text = item.serialNo.toString().replace("-", "").replace(".", "").replace(".", "");
          let seriesNo = text.length == 8 
            ? text.substr(0, 3) + "." + text.substr(3, 3) + "-" + text.substr(6, 2) + "." 
            : text.substr(0, 3) + "-" + text.substr(3, 2) + ".";
          let textFinal = seriesNo + (data != null && data != undefined ? data.toString().padStart(8, "0") : "");
          return textFinal;
        },
      },
      {
        text: "Serial No To",
        value: "endNo",
        // filterParam: "endNo.equals",
        searchValue: "",
        searchable: true,
        sortable: true,
        filterType: "input",
        dataType: "string",
        style: "min-width: 110px;",
        sortParam: "endNumber",
        filterParam: "serialNoTo",
        process: function (data, header, item) {
          let text = item.serialNo.toString().replace("-", "").replace(".", "").replace(".", "");
          let seriesNo = text.length == 8 
            ? text.substr(0, 3) + "." + text.substr(3, 3) + "-" + text.substr(6, 2) + "." 
            : text.substr(0, 3) + "-" + text.substr(3, 2) + ".";
          let textFinal = seriesNo + (data != null && data != undefined ? data.toString().padStart(8, "0") : "");
          return textFinal;
        },
      },
      {
        text: "Output File",
        value: "outputFile",
        filterParam: "",
        searchable: false,
        sortable: false,
        searchValue: "",
        filterType: "input",
        dataType: "string",
        sortParam: "outputFile",
        link: true,
      },
      {
        text: "Status",
        value: "status",
        sortParam: "status",
        filterParam: "",
        searchable: false,
        sortable: false,
        searchValue: "",
        filterType: "input",
        dataType: "string",
        process: function (data, header) {
          console.log("header", header);
          let status = data;
          if (data == 0) {
            status = "Completed";
          }
          return status;
        },
      },
      {
        text: "Entry By",
        value: "entryBy",
        sortParam: "entryBy",
        filterParam: "",
        searchable: false,
        sortable: false,
        searchValue: "",
        filterType: "input",
        dataType: "string",
      },
      {
        text: "Entry Date",
        value: "entryDate",
        sortParam: "entryDate",
        filterParam: "",
        searchable: false,
        sortable: false,
        searchValue: "",
        filterType: "input",
        dataType: "string",
        process: function (data, header) {
          console.log("header", header);
          return data.substring(8,10) + "-" + data.substring(5,7) + "-" + data.substring(0, 4);
        },
      },
      // {
      //   text: "",
      //   value: "actions",
      //   sortParam: "actions",
      //   sortable: false,
      //   searchValue: "",
      //   searchable: false,
      //   items: [{ text: "View" }],
      // },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    submitDialog: { show: false, mode: "", message: "" },
    tabBtn: 0,
  }),

  computed: {},

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },

  created() {
    // this.refresh();
    this.$route.query.back == true ? this.backFromAction() : this.optionsHandler = true;
  },

  methods: {
    goToAdd() {
      this.$router.replace({ name: "generate-vat-listing-view" });
    },

    action(item, action) {
      let mode = action.text == "View" ? "d" : "d";
      this.$router.push({
        name: "vat-number-edit",
        query: { id: item.id, mode: mode },
      });
      this.storeTable();
    },

    storeTable() {
      let viewListData = {
        dataList : {
          // items: this.items,
          "options": this.$refs.masterTable.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.dataList;
        // this.items = dataCsh.items;
        this.options = dataList.options;
        // this.totalItems = dataCsh.totalItems;
        this.loading = false;
        // let vm = this;
        setTimeout(() => {
          // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
          localStorage.removeItem('viewListData');
          // vm.optionsHandler = true;
        }, 100)
      } //else {
        // this.optionsHandler = true;
      // }  
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },
    clickItem(item) {
      console.log("item", item);

      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "finance/api/vat-listing/download";
      // let serialNo = item.serialNo;
      // let beginNo = item.beginNo;
      // let endNo = item.endNo;
      let outputFile = item.outputFile;

      let paramJSON = {
        // "data.serialNo": serialNo,
        // "data.beginNo": beginNo,
        // "data.endNo": endNo,
        path: outputFile,
      };
      API.get(docUrl, paramJSON)
        .then((resp) => {
          if (resp.data.code === 0) {
            this.saveFile(resp.data.response.rawData, this.generateName(item));
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    saveFile(base64, outputFile) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute("download", outputFile);
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    generateName(item) {
      // Efaktur_DD/MM/YY_HH/MM/SS
      let name = "Efaktur_";
      let fullDate = item.entryDate.split("T"); //date,time
      let date = fullDate[0].split("-"); // yyyy,mm,dd
      let time = fullDate[1].split(":"); // hh,mm,ss
      name =
        name +
        date[2] +
        date[1] +
        date[0].substring(2, 4) +
        "_" +
        time[0] +
        time[1] +
        time[2].substring(0, 2) +
        ".csv";
      return name;
    },
    brokerageRefresh() {
      let vm = this;
      this.tabBtn = 0;
      setTimeout(function () {
        vm.$refs.masterTable.refresh();
      }, 100);
    },
    nonBrokerageRefresh() {
      let vm = this;
      this.tabBtn = 1;
      setTimeout(function () {
        vm.$refs.masterTable.refresh();
      }, 100);
    },
  },
};
</script>