<template>
  <v-card flat>
    <isttoolbar title="Tax" dark color="secondary" icon="mdi-account-cash">
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="back" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar
      title="Generate VAT List to file ETax"
      dark
      class="mb-2 pl-9"
      color="primary"
    ></isttoolbar>
    <v-card class="px-3 py-0">
      <v-row class="ma-1 pa-0" align="center">
        <v-col cols="2" class="ma-0 pa-0">
          <span class="title">Type</span>
        </v-col>
        <v-col cols="6" align-self="start" class="ma-0 pa-0 pr-2">
          <v-radio-group
            v-model="taxType"
            row
            hide-details="auto"
            class="ma-0 pa-0 pb-2 pt-2"
          >
            <v-radio label="Brokerage" hide-details="auto"></v-radio>
            <v-radio label="Non Brokerage" hide-details="auto"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row class="ma-1 pa-0" align="center">
        <v-col cols="2" class="ma-0 pa-0">
          <span class="title">Serial No</span>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0 pr-2">
          <v-text-field
            v-model="param.serialFrom"
            ref="serialFrom"
            name="serialFrom"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            type="text"
            v-mask="'###.###-##.########'"
          >
          </v-text-field>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0 pl-2">
          <v-text-field
            v-model="param.serialTo"
            ref="serialTo"
            name="serialTo"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            type="text"
            v-mask="'###.###-##.########'"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0"> </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0">
          <span class="title primary--text pl-3">999.999-99.99999999</span>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0 pl-2">
          <span class="title primary--text pl-3">999.999-99.99999999</span>
        </v-col>
      </v-row>
      <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0"> </v-col>
        <v-col cols="10" align-self="start" class="ma-0 pa-0 pl-3">
          <span class="red--text">
            This module used to generate Excel file and the file will be import
            to ETax program. Format and layout Excel file is ETax's format.
          </span>
          <br />
          <span class="red--text">
            File result will be placed in share folder</span
          >
        </v-col>
      </v-row>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          outlined
          min-width="100px"
          @click="generate"
          v-show="checkAuthorities('vat-listing-generate')"
        >
          Generate
        </v-btn>
      </v-card-actions>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
// import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    submitdialog,
    documentPreview,
  },
  props: {
    source: String,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      serialFrom: "",
      serialTo: "",
      seriesNo: "",
      fakturRangeFrom: "",
      fakturRangeTo: "",
    },
    overlay: false,
    submitDialog: { show: false, mode: "", message: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      printedFrom: {
        menu: false,
      },
      printedTo: {
        menu: false,
      },
      fakturPrinted: {
        items: [
          { value: "N", text: "No" },
          { value: "Y", text: "Yes" },
        ],
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    taxType: 0,
  }),
  created() {
    // this.getVatData();
  },
  computed: {
    form() {
      return {
        // customer: this.param.customer
      };
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    getVatData() {
      let param = { "vatRun.equals": 1 };
      API.get("/finance/api/vat/vat-number/", param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let listResp = resp.data.list;
            if (listResp.length > 0) {
              this.param.seriesNo = listResp[0].seriesNo + ".";
              // this.param.fakturRangeFrom = listResp[0].from;
              // this.param.fakturRangeTo = listResp[0].to;
            }
          }
          this.overlay = false;
        })
        .catch((error) => {
          console.log(error);
          this.overlay = false;
        });
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "finance/api/vat-listing/generate-file";
      let serialNo = 0;
      let beginNo = 0;
      let endNo = 0;
      let splittedBegin = this.param.serialFrom.split(".");
      let splittedEnd = this.param.serialTo.split(".");
      if (splittedBegin.length > 1) {
        serialNo = [splittedBegin[0], splittedBegin[1]].join(".");
      }
      if (splittedBegin.length > 2) {
        beginNo = splittedBegin[2];
      }
      if (splittedEnd.length > 2) {
        endNo = splittedEnd[2];
      }
      let paramJSON = {
        // "data.serialNo": this.param.seriesNo,
        // "data.serialNoFrom": this.param.serialFrom,
        // "data.serialNoTo": this.param.serialTo,
        "taxGroup": this.taxType == 0 ? "BROKERAGE" : "NONBROKERAGE",
        "data.serialNo": serialNo + ".",
        "data.beginNo": beginNo,
        "data.endNo": endNo,
      };
      // let param = JSON.stringify(paramJSON);
      API.get(docUrl, paramJSON)
        .then((resp) => {
          if (resp.data.code === 0) {
            // if (this.param.output != "") {
            this.saveFile(resp.data.base64, ".csv");
            // } else {
            //   this.previewFile(resp.data.base64);
            // }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      // let customerItems = this.filter.customer.items.filter(
      //   (value) => value.id == this.param.customer
      // );
      link.href = downloadUrl;
      link.setAttribute("download", this.generateName() + format); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
      this.back();
    },
    back() {
      this.$router.replace({ name: "vat-listing-list", query: {back: true}, });
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    generateName() {
      // Efaktur_DD/MM/YY_HH/MM/SS
      let currDate = new Date();
      let name = "Efaktur_";
      name =
        name +
        currDate.getDate().toString().padStart(2, 0) +
        (currDate.getMonth() + 1).toString().padStart(2, 0) +
        currDate.getFullYear().toString().padStart(2, 0).substring(2, 4) +
        "_" +
        currDate.getHours().toString().padStart(2, 0) +
        currDate.getMinutes().toString().padStart(2, 0) +
        currDate.getSeconds().toString().padStart(2, 0);
      return name;
    },
  },
};
</script>
