<template>
  <v-card flat>
    <isttoolbar title="Finance" dark color="secondary" icon="mdi-chart-box-plus-outline">
      <v-spacer />

      <journalDialogJournalCurrency
        api="/finance/api/finance/journalcurrency/viewjournal/"
        :refNo="this.param.code"
        
      >
        <!-- viewAuth="journal-currency-view-journal" -->
      </journalDialogJournalCurrency>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <printaction
            v-bind="attrs"
            v-on="on"
            :items="printItems"
            :id="param.code"
            :status="param.status"
            :customer="param.customerName"
            idParam="idJournal"
          >
          </printaction>
        </template>
        <span>Print</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="back" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar
      title="View Journal Single/Multi Currency"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Trans No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            label="{Auto Generate}"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            v-model="param.date"
            ref="entryDate"
            name="entryDate"
            label="Select Date"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Details
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-textarea
            readonly
            flat
            outlined
            dense
            solo
            hide-details="auto"
            v-model="param.details"
            ref="address"
            label="Details"
            :rows="4"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2 my-10 mr-2">
        <v-col>
          <v-data-table
            :headers="headersTAB"
            :items="journalItems"
            hide-default-footer
            class="elevation-1"
            height="400"
            :options.sync="options"
            fixed-header
          >
            <template v-slot:[`item.accountNo`]="{ item }">
              <v-row align="center" style="width: max-content">
                <span>{{ item.accountNo }}</span>
                <v-icon
                  v-show="infoButtonShow(item)"
                  x-small
                  color="primary"
                  @click="getCnInfo(item)"
                >
                  mdi-information-outline
                </v-icon>
              </v-row>
            </template>
            <template v-slot:[`item.type`]="{ item }">
              {{ item.type == "D" ? "Debit" : "Credit" }}
            </template>
            <template v-slot:[`item.customerName`]="{ item }">
              {{ item.customerCode }} - {{ item.customerName }}
            </template>
            <!-- <template v-slot:item.debitAmount="{ item }">
              <v-text-field
                v-if="item.type == 'D'"
                v-model="item.debitAmount"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                v-money="amountChanged ? money : ''"
                @input="paidAmountChange(item)"
              ></v-text-field>
            </template> -->
            <!-- <template v-slot:item.creditAmount="{ item }">
              <v-text-field
                v-if="item.type == 'C'"
                v-model="item.creditAmount"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                v-money="amountChanged ? money : ''"
                @input="paidAmountChangeCredit(item)"
              ></v-text-field>
            </template> -->
            <!-- <template v-slot:item.debitEqyAmt="{ item }">
              <v-text-field
                
                v-model="item.debitEqyAmt"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                 
              ></v-text-field>
            </template> -->
            <template v-slot:[`item.balance`]="{ item }">
              {{ formatMoney(Number(item.balance)) }}
            </template>
            <template v-slot:[`item.creditAmount`]="{ item }">
              {{
                item.type == "C" ? formatMoney(Number(item.creditAmount)) : ""
              }}
            </template>
            <template v-slot:[`item.debitAmount`]="{ item }">
              {{
                item.type == "D" ? formatMoney(Number(item.debitAmount)) : ""
              }}
            </template>
            <template v-slot:[`item.exchangeRate`]="{ item }">
              {{ formatMoney(Number(item.exchangeRate)) }}
            </template>
            <template v-slot:[`item.amountEq`]="{ item }">
              {{ formatMoney(Number(item.amountEq)) }}
            </template>
            <!-- <template v-slot:[`item.debitEqyAmt`]="{ item }">
              {{
                item.type == "D" ? formatMoney(Number(item.debitEqyAmt)) : ""
              }}
            </template>
            <template v-slot:[`item.creditEqvAmt`]="{ item }">
              {{
                item.type == "C" ? formatMoney(Number(item.creditEqvAmt)) : ""
              }}
            </template> -->

            <!-- <template v-slot:item.action="{ item }">
              <v-menu bottom left :offset-x="true">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    width="30"
                    height="30"
                    outlined
                    dark
                    color="primary"
                    @click="removeProgess(item)"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
              </v-menu>
            </template> -->

            <template v-slot:body.append>
              <tr>
                <td v-for="header in headersTAB" :key="header.text">
                  <!-- <v-row align="center" v-if="header.value == 'exchgRate'">
                    <v-col>
                      <h5 style="font-size: 1.3em" class="font-weight-bold">
                        Total
                      </h5>
                    </v-col>
                  </v-row>
                  <v-row align="center" v-if="header.value == 'debitEqyAmt'">
                    <v-col>
                      <h5 style="font-size: 1.3em" class="font-weight-bold">
                        {{ totalCurrent() }}
                      </h5>
                    </v-col>
                  </v-row> -->

                  <v-row justify="center" v-if="header.value == 'action'">
                    <v-dialog
                      class="white"
                      v-model="dialogFileTab"
                      persistent
                      max-width="1000px"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <!-- <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="primary"
                          v-bind="attrs"
                          v-on="on"
                          outlined
                          dark
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </template> -->
                      <v-card style="height: 600px">
                        <v-card-title>
                          <span class="headline primary--text"
                            >Choose Transaction</span
                          >
                          <v-spacer></v-spacer>
                          <!-- <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }"> -->
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            min-height="40"
                            @click="dialogFileTab = false"
                            text
                            color="primary"
                          >
                            <v-icon>mdi-window-close mdi-36px</v-icon>
                          </v-btn>
                        </v-card-title>
                        <v-card-text>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="pa-1">
                              <span class="title">
                                Client
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-autocomplete
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Select Client"
                                ref="code"
                                v-model="paramDialog.client"
                                class="ma-0"
                                :items="dataCLient"
                                item-value="id"
                                item-text="codeAndName"
                                return-object
                              ></v-autocomplete>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="pa-1">
                              <span class="title">
                                Trans Type
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-text-field
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Select trans type"
                                ref="code"
                                v-model="paramDialog.transType"
                                class="ma-0"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-text-field
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Key in number"
                                ref="code"
                                v-model="paramDialog.keyInNumber"
                                class="ma-0"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="pa-1">
                              <span class="title">
                                Currency
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col cols="4" align-self="start" class="pa-1">
                              <v-autocomplete
                                label="Currency"
                                hide-details="auto"
                                ref="currency"
                                name="currency"
                                clearable
                                class="ma-0"
                                solo
                                flat
                                outlined
                                dense
                                no-data-text="Type the Customer Name."
                                :items="itemsCurency"
                                item-value="code"
                                item-text="codeAndName"
                                v-model="paramDialog.currency"
                              >
                              </v-autocomplete>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-row class="pr-5"
                          ><v-spacer></v-spacer>
                          <v-btn
                            class="mr-5"
                            @click="getpolis"
                            outlined
                            dark
                            color="primary"
                          >
                            <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                          </v-btn></v-row
                        >

                        <v-row align="center" class="ml-2 my-10 mr-2">
                          <v-col>
                            <v-card style="height: 200px">
                              <v-data-table
                                :headers="headersDialog"
                                :items="headerDialogItems"
                                hide-default-footer
                                class="elevation-1"
                                :options.sync="options"
                                :server-items-length="totalItems"
                                :footer-props="{
                                  'items-per-page-options': [5, 10, 15, 25],
                                }"
                              >
                                <template v-slot:item.actions="{ item }">
                                  <v-menu bottom left :offset-x="true">
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-btn
                                        @click="viewItem(item)"
                                        outlined
                                        dark
                                        color="primary"
                                        v-bind="attrs"
                                        v-on="on"
                                      >
                                        Choose
                                      </v-btn>
                                    </template>
                                  </v-menu>
                                </template>
                              </v-data-table></v-card
                            ></v-col
                          ></v-row
                        ></v-card
                      >
                    </v-dialog>
                  </v-row>
                </td>
              </tr>
              <tr>
                <td v-for="header in headersTAB" :key="header.text">
                  <span v-if="header.value == 'exchangeRate'" class="title"
                    >Total
                  </span>
                  <span v-if="header.value == 'amountEq'" class="title"
                    >{{
                      formatMoney(Number(total())) == "-0.00"
                        ? "0.00"
                        : formatMoney(Number(total()))
                    }}
                  </span>
                  <!-- <span v-if="header.value == 'debitEqyAmt'" class="title"
                    >{{ formatMoney(Number(total)) }}
                  </span>
                  <span
                    v-if="header.value == 'creditEqvAmt'"
                    class="title"
                    @change="total"
                    >{{ formatMoney(Number(totali)) }}
                  </span> -->
                </td>
              </tr>
              <!-- <tr>
                <td v-for="header in headers" :key="header.text">
                  <span v-if="header.value == 'exchgRate'" class="title"
                    >Total
                  </span> -->
              <!-- <span v-if="header.value == 'balance'" class="title"
              >{{ getTotal("balance") }}
            </span>
            <span v-if="header.value == 'amoutPaid'" class="title"
              >{{ getTotal("amoutPaid") }}
            </span> -->
              <!-- <span v-if="header.value == 'debitEqyAmt'" class="title"
              >{{ getTotal("debitEqyAmt") }}
            </span> -->
              <!-- </td>
              </tr> -->
            </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-col>
        <v-row class="ml-0 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Entry By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  readonly
                  v-model="param.createdby"
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  v-model="param.createdDate"
                  readonly
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-form>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-actions>
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text class="text-h6 justify-center text-center">
          <span class="black--text">
            {{ "The payable amount is " + infoCnDialog.item.amountPayable }}
          </span>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import journalDialogJournalCurrency from "@/components/dialog/journalDialogJournalCurrency";
import printaction from "@/components/toolbars/printAction";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    submitdialog,
    isttoolbar,
    printaction,
    journalDialogJournalCurrency,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    printItems: [
      {
        // code: "client",
        text: "Debtor Journal",
        name: "Jorunal Currency",
        url: "/finance/api/finance/journalcurrency/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY"],
      },
      // {
      //   // code: "copy",
      //   text: "Original Receipt Copy",
      //   name: "Cash Receipt Original Receipt Copy",
      //   url: "/finance/api/finance/cashreceipt/generate-copy",
      //   loading: { preview: false, generate: false },
      //   val: 0,
      //   showOnStatus: [""],
      // },
    ],
    itemsType: [
      { name: "Debit", value: "D" },
      { name: "Credit", value: "C" },
    ],
    dialogFileTab: false,
    tanggal: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      status: "ENTRY",
      createdby: "",
      createdDate: "",
      code: 0,
      id: 0,
      date: new Date().toISOString().substr(0, 10),
      details: "",
      idJournal: "",
      customerName: "",
    },

    paramDialog: {
      client: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },
    dataCLient: [],
    dataTransType: [],
    itemsCurency: [],
    headersTAB: [
      {
        text: "Client",
        align: "start",
        sortable: false,
        value: "customerName",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currencys",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        // component: "select",
      },
      {
        text: "Trans Type",
        sortable: false,
        value: "accountTypes",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Billing Date",
        sortable: false,
        value: "billingDates",
        add: "",
        rules: [],
        component: "select",
      },
      {
        // width: "15%",
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "Debit Amount",
        sortable: false,
        value: "debitAmount",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Credit Amount",
        sortable: false,
        value: "creditAmount",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchangeRate",
        add: "",
        rules: [],
        component: "select",
      },
      // {
      //   text: "Debit Equiv. Amount",
      //   sortable: false,
      //   value: "debitEqyAmt",
      //   add: "",
      //   rules: [],
      // },
      // {
      //   text: "Credit Equiv. Amount",
      //   sortable: false,
      //   value: "creditEqvAmt",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },
      {
        text: "Equiv. Amount",
        sortable: false,
        value: "amountEq",
        add: "",
        rules: [],
      },

      // {
      //   text: "Action",
      //   sortable: false,
      //   value: "action",
      //   add: "",
      //   align: "center",
      // },
    ],
    items: [],
    loading: false,
    model: false,
    headers: [
      {
        text: "Journal No",
        align: "start",
        sortable: false,
        value: "jnlrefno",
        add: "",
        rules: [],
      },
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "GL Acct",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Description",
        sortable: false,
        value: "description",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      { text: "Amount", sortable: false, value: "amount", add: "", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        rules: [],
      },
    ],
    headerDialogItems: [],

    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    submitDialog: { show: false, mode: "", message: "" },
    journalDialog: false,
    amountChanged: false,
    rateChanged: false,
    overlay: false,
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    options: {
      itemsPerPage: -1,
      page: 1,
    },
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
  }),

  computed: {
    form() {
      return {
        // amount: this.currencyToFloat(this.param.amount),
        total: this.currencyToFloat(this.total()),
        totali: this.currencyToFloat(this.totali()),
      };
    },
    // total: function () {
    //   return this.journalItems.reduce(function (a, c) {
    //     return a + Number(c.debitEqyAmt || 0);
    //   }, 0);
    // },
    // totali: function () {
    //   return this.journalItems.reduce(function (a, c) {
    //     return a + Number(c.creditEqvAmt || 0);
    //   }, 0);
    // },

    // totalCurrent() {
    //   console.log("get current total");
    //   return this.headers.reduce(
    //     (acc, cur) => acc + Number(cur.debitEqyAmt),
    //     0
    //   );
    // },
  },
  watch: {
    // "param.status": {
    //   handler: function (after, before) {
    //     console.log("before", before);
    //     let status = this.search.status.items.filter(
    //       (value) => value.code == after
    //     );
    //     if (status.length > 0) {
    //       this.param.statusDesc = status[0].value;
    //     }
    //   },
    //   deep: true,
    // },
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },
  created() {
    this.getListClient();
    this.getListCurency();
  },
  mounted() {
    this.getById(this.$route.query.id);
    this.param.id = this.$route.query.id;
    // this.mode = this.$route.query.mode;
    // //  this.getByparent(this.$route.query.id);
    // // this.getcontact(this.$route.query.id);
    // this.getDOCUMENT(this.$route.query.id);
    // this.getflag(this.$route.query.id);
    // this.getpolis(this.$route.query.id);
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    viewFile(type = null, format = null) {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let docUrl = "finance/api/finance/journalcurrency/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/journalcurrency/generate";
      }
      let paramJSON = {
        id: this.param.code,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.data, format);
          } else {
            this.previewFile(resp.data.data);
          }
          this.overlay = false;
          this.submitDialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.submitDialog.mode = "error";
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Journal Currency " +
          // this.param.transactionId +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          // "-" +
          // this.param.customer +
          // " " +
          // this.currentTime +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    total() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.amountEq || 0);
      }, 0);
    },
    totali() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.creditEqvAmt || 0);
      }, 0);
    },
    async getJournals() {
      this.items = [];
      this.loading = true;
      let id = this.param.code;
      let vm = this;
      let resp = await API.get(
        "/finance/api/finance/journalcurrency/viewjournal/" + id
      );
      console.log("journal resp", resp);
      let dataResp = resp.data;
      console.log("HAHAHAHHAHAH", dataResp.listJournalEntry);
      if (resp.data.code == 0) {
        this.items = dataResp.listJournalEntry;
        console.log("journal resp", this.items)
          ? dataResp.listJournalEntry.map(function (row, i) {
              let seqNo = i + 1;
              let amount =
                row.amount == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.amount), "IDR")
                      .replace("IDR ", "") + ".00";
              let exchangeRate =
                row.exchgrate == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.exchgrate), "IDR")
                      .replace("IDR ", "") + ".00";
              let amountEq =
                row.amountEq == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.amountEq), "IDR")
                      .replace("IDR ", "") + ".00";
              return {
                jnlrefno: row.jnlrefno,
                no: seqNo,
                coa: row.coaCode,
                description: row.description,
                currency: row.currency,
                // type: row.type,
                amount: amount,
                rate: exchangeRate,
                eqAmount: amountEq,
              };
            })
          : [];
      } else {
        this.items = [];
      }
      this.loading = false;
    },
    async getById(id) {
      this.dialog.show = true;
      let resp = await API.get(
        "/finance/api/finance/journalcurrency/" + id,
        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        const data = resp.data.journalCurrencyData;
        this.param.idJournal = data.idJournalCurrency;
        console.log("INI ID");
        console.log(this.param.idJournal);
        this.param.createdby = data.entryBy;
        this.param.createdDate = data.entryDate;
        this.param.details = data.description;
        this.param.code = data.idJournalCurrency;
        this.param.date = data.tranDate;
        this.param.customerName = data.listTransaction[0].customerName;
        console.log(this.param.customerName);
        this.journalItems = data.listTransaction.map(function (row) {
          row.debitAmount = row.amount;
          row.creditAmount = row.amount;
          row.type = row.dbcr;
          row.customerNames = row.customerName;
          row.currencys = row.currency;
          row.accountTypes = row.accountType;
          row.billingDates = row.billingDate;
          row.amountPayable = row.payable;
          console.log("HAHAHAH");
          console.log(row.debitAmount);
          if (row.dbcr == "D") {
            row.debitEqyAmt = row.amountEq * row.exchangeRate;
          }
          if (row.dbcr == "C") {
            row.creditEqvAmt = row.amountEq * row.exchangeRate;
          }
          return row;
        });
        //  data.listTransaction;
        // this.itemsType = data.listTransaction.dbcr == "D" ? "Debit" :"Credit"
      }
    },
    // getTotal(data) {
    //   let total = 0;
    //   for (let key of this.journalItems) {
    //     total = total + this.currencyToFloat(key[debitEqyAmt]);
    //     console.log("WKAKAKAKA");
    //     console.log(total);
    //     console.log("WKAKAKAKA");
    //     console.log(key[debitEqyAmt]);
    //   }
    //   return this.currencyFormat(total);
    // },
    paidAmountChange(item) {
      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.debitAmount);
      let rate = this.currencyToFloat(item.exchgRate);

      console.log(rate);
      console.log(paidAmount);

      item.debitEqyAmt = paidAmount * rate;
      console.log(item.debitEqyAmt);
      // this.getTotal();
    },
    paidAmountChangeCredit(item) {
      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.creditAmount);
      let rate = this.currencyToFloat(item.exchgRate);

      console.log(rate);
      console.log(paidAmount);

      item.creditEqvAmt = paidAmount * rate;
      console.log(item.debitEqyAmt);
    },
    removeProgess(item) {
      var index = "";

      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
      // if (this.journalItems.length === 0) {
      //   this.minDateForAddProgess = new Date().toISOString();
      // } else {
      //   this.minDateForAddProgess = this.progessStatusDoc[
      //     this.progessStatusDoc.length - 1
      //   ].date;
      // }
    },
    async getpolis() {
      // this.dialog.show = true;
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?clientCode.equals=" +
          this.paramDialog.client.code +
          "&currency.equals=" +
          this.paramDialog.currency +
          "&transType.equals=" +
          this.paramDialog.transType,
        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    async viewItem(item) {
      // var contact = {};
      this.dialogLoading = true;
      this.afterchooseTransaction = true;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?accountNo.equals=" +
          item.accountNo,
        {}
      );
      if (resp.data.code === 0) {
        this.dialogFileTab = false;
        //  contact = resp.data.listTransaction;
        //  this.journalItems.push(contact[0]);
        //  console.log("HIHIHIHI");
        // console.log(this.journalItems);

        this.journalItems = resp.data.listTransaction;
      }
      return;
    },
    getListCurency() {
      API.get(
        "/config/api/master-currency/view-list?isActive.equals=1",
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let itemCurency = resp.data.data;
          for (i = 0; i < itemCurency.length; i++) {
            text.push(itemCurency[i]);
          }
          this.itemsCurency = text;
        }
      });
    },
    getListClient() {
      API.get("/clients/api/account/client?codeOrName.contains=", null).then(
        (resp) => {
          if (resp.data.code == 0) {
            let text = [];
            let i;
            console.log("INI RESPONSE = ");
            let itemCurency = resp.data.data;
            for (i = 0; i < itemCurency.length; i++) {
              text.push(itemCurency[i]);
            }
            this.dataCLient = text;
          }
        }
      );
    },
    back() {
      this.$router.replace({ 
        name: "journal-currency-list",
        query: {back: true},
      });
    },
    async save() {
      this.dialog.error = false;

      //  Object.keys(this.form).forEach((f) => {

      //   });

      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let vm = this;
      let paramJSON = {
        journalCurrencyData: {
          description: this.param.details,
          tranDate: this.formatDateSlice(this.param.date),
          listTransaction: this.journalItems.map(function (row) {
            return {
              accountNo: row.accountNo,
              accountType: row.accountType,
              amount: vm.currencyToFloat(row.amount),
              amountEq:
                row.type == "D"
                  ? vm.currencyToFloat(row.debitEqyAmt)
                  : vm.currencyToFloat(row.creditEqvAmt),
              balance: vm.currencyToFloat(row.balance),
              billingDate: vm.formatDateSlice(row.tranDate),
              currency: row.currency,
              customerCode: row.cstCode,
              customerName: row.cstName,
              customerType: row.cstType,
              dbcr: row.type,
              exchangeRate: vm.currencyToFloat(row.exchgRate),
              term: row.term,
            };
          }),
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("finance/api/finance/journalcurrency/add", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        }
      );
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    infoButtonShow(item) {
      let show = false;
      if (item.accountType == "CNF") {
        if (item.amountPayable != item.balance) {
          show = true;
        }
      }
      console.log("infoButtonShow", show);
      return show;
    },
    getCnInfo(item) {
      this.infoCnDialog = { show: true, mode: "info", item: item };
    },
  },
};
</script>>
