<template>
  <v-card flat>
    <isttoolbar title="Finance" dark color="secondary" icon="mdi-chart-box-plus-outline">
      <v-spacer />

      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="Create Journal Single/Multi Currency"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Trans No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            label="{Auto Generate}"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-menu
            v-model="tanggal"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{}">
              <v-text-field
                readonly
                v-model="param.date"
                ref="entryDate"
                name="entryDate"
                label="Select Date"
                persistent-hint
                hide-details="auto"
                flat
                outlined
                dense
                solo
                :loading="transDateLoading"
              >
                <v-btn slot="append" @click="tanggal = !tanggal" text icon>
                  <!-- <v-icon>mdi-calendar</v-icon> -->
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              :min="new Date().toISOString()"
              v-model="param.date"
              no-title
              @input="tanggal = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Details
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-textarea
            flat
            outlined
            dense
            solo
            hide-details="auto"
            v-model="param.details"
            ref="address"
            label="Details"
            :rows="4"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2 my-10 mr-2">
        <v-col>
          <v-data-table
            :headers="headers"
            :items="journalItems"
            hide-default-footer
            class="elevation-1"
            height="400"
            :options.sync="options"
            fixed-header
          >
            <template v-slot:[`item.accountNo`]="{ item }">
              <v-row align="center" style="width: max-content">
                <span>{{ item.accountNo }}</span>
                <v-icon
                  v-show="infoButtonShow(item)"
                  x-small
                  color="primary"
                  @click="getCnInfo(item)"
                >
                  mdi-information-outline
                </v-icon>
              </v-row>
            </template>
            <template v-slot:[`item.type`]="{ item }">
              <v-autocomplete
                v-model="item.type"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                item-text="name"
                item-value="value"
                :items="itemsType"
                @change="typeChange(item)"
              ></v-autocomplete>
            </template>
            <template v-slot:[`item.debitAmount`]="{ item }">
              <v-text-field
                v-if="item.type == 'D'"
                v-model="item.debitAmount"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                v-money="item.amountInput == true ? '' : money"
                @input="item.amountInput = false"
                @keyup="paidAmountChange(item)"
                @keydown="codeKeydown($event)"
                @paste="onPastePaidAmount(item)"
                :rules="[validationTyping(item)]"
                :error="statusDebitAmount"
              ></v-text-field>
            </template>
            <template v-slot:[`item.creditAmount`]="{ item }">
              <v-text-field
                v-if="item.type == 'C'"
                v-model="item.creditAmount"
                hide-details="auto"
                class="ma-0"
                ref="inputPaidAmount"
                flat
                outlined
                dense
                solo
                v-money="item.amountInput == true ? '' : money"
                @input="item.amountInput = false"
                @keyup="paidAmountChangeCredit(item)"
                @keydown="codeKeydown($event)"
                @paste="onPastePaidCreditAmount(item)"
                :rules="[validationTyping(item)]"
                :error="statusCreditAmount"
              ></v-text-field>
              <!-- <v-row align="center" justify="center" v-if="header.value == 'amount'">
                      <v-col cols="2">
                      </v-col>
                      <v-col cols="8">
                        <v-text-field
                          v-show="statusCreate"
                          hide-details="auto"
                          ref="agentAmount"
                          name="agentAmount"
                          v-model="header.add"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          label="Insert Amount"
                          :class="header.add[0] == '-' ? 'ma-0 input-right input-red' : 'ma-0 input-right'"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2">
                      </v-col>
                    </v-row> -->
            </template>
            <template v-slot:[`item.exchgRate`]="{ item }">
              <v-progress-circular
                v-if="item.rateLoading"
                indeterminate
                color="primary"
              ></v-progress-circular>

              <span v-else-if="item.currency == param.currency">
                {{ currencyFormat(item.exchgRate) }}
              </span>
              <v-chip
                v-else-if="item.currency != param.currency"
                link
                @click="openEditRateDialog(item)"
              >
                {{ currencyFormat(item.exchgRate, 2, "max") }}
              </v-chip>
              <v-chip v-else link>
                {{ currencyFormat(item.exchgRate) }}
              </v-chip>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              {{ currencyFormat(item.balance) }}
            </template>
            <!-- <template v-slot:[`item.exchgRate`]="{ item }">
              {{ formatMoney(Number(item.exchgRate)) }}
            </template> -->
            <template v-slot:[`item.amountEq`]="{ item }">
              {{ currencyFormat(item.amountEq) }}
            </template>
            <template v-slot:[`item.cstCode`]="{ item }">
              {{ item.cstCode }} - {{ item.cstName }}
            </template>
            <!-- <template v-slot:[`item.creditEqvAmt`]="{ item }">
              {{ formatMoney(Number(item.creditEqvAmt)) }}
            </template> -->

            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                width="30"
                height="30"
                outlined
                icon
                dark
                color="primary"
                @click="removeProgess(item)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>

            <template v-slot:[`body.append`]>
              <tr>
                <td v-for="header in headers" :key="header.text">
                  <!-- <v-row align="center" v-if="header.value == 'exchgRate'">
                    <v-col>
                      <h5 style="font-size: 1.3em" class="font-weight-bold">
                        Total
                      </h5>
                    </v-col>
                  </v-row>
                  <v-row align="center" v-if="header.value == 'debitEqyAmt'">
                    <v-col>
                      <h5 style="font-size: 1.3em" class="font-weight-bold">
                        {{ totalCurrent() }}
                      </h5>
                    </v-col>
                  </v-row> -->

                  <v-row justify="center" v-if="header.value == 'action'">
                    <v-dialog
                      class="white"
                      v-model="dialogFileTab"
                      persistent
                      max-width="1000px"
                      scrollable
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          width="30"
                          height="30"
                          color="primary"
                          v-bind="attrs"
                          v-on="on"
                          outlined
                          icon
                          dark
                          @click="openTransDialog()"
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="headline primary--text">
                            Choose Transaction
                          </span>
                          <v-spacer></v-spacer>
                          <!-- <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }"> -->
                          <v-btn
                            min-height="40"
                            @click="closeTab()"
                            text
                            color="primary"
                          >
                            <v-icon>mdi-window-close mdi-36px</v-icon>
                          </v-btn>
                        </v-card-title>
                        <v-card-text>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="py-0 px-1">
                              <span class="title">
                                Client
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col
                              cols="4"
                              align-self="start"
                              class="py-0 px-1"
                            >
                              <!-- <v-autocomplete
                                @keyup="autocompSearch(search.client)"
                                :search-input.sync="search.client.input"
                                clearable
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Select Client"
                                ref="code"
                                v-model="paramDialog.client"
                                class="ma-0"
                                :items="search.client.items"
                                item-value="id"
                                item-text="codeAndName"
                                return-object
                              ></v-autocomplete> -->
                              <v-autocomplete
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Search Client/Agent"
                                v-model="paramDialog.client"
                                ref="customer"
                                name="customer"
                                @keyup="autocompSearch(filter.customer)"
                                :search-input.sync="filter.customer.searchInput"
                                :items="filter.customer.items"
                                item-value="id"
                                item-text="codeAndName"
                                :loading="filter.customer.loading"
                                clearable
                                color="primary"
                                class="ma-0 pa-0"
                                no-data-text="Type the Customer Name."
                                return-object
                              ></v-autocomplete>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="py-0 px-1">
                              <span class="title">
                                Trans Type
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col
                              cols="4"
                              align-self="start"
                              class="py-0 px-1"
                            >
                              <v-autocomplete
                                clearable
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Select trans type"
                                ref="transType"
                                v-model="paramDialog.transType"
                                class="ma-0"
                                :items="itemsTransType"
                                item-value="value"
                                item-text="name"
                              >
                              </v-autocomplete>
                            </v-col>
                            <v-col
                              cols="4"
                              align-self="start"
                              class="py-0 px-1"
                            >
                              <v-text-field
                                solo
                                flat
                                dense
                                outlined
                                hide-details="auto"
                                label="Key in number"
                                ref="code"
                                v-model="paramDialog.keyInNumber"
                                class="ma-0"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="pl-2">
                            <v-col cols="2" class="py-0 px-1">
                              <span class="title">
                                Currency
                                <span class="error--text"></span>
                              </span>
                            </v-col>
                            <v-col
                              cols="4"
                              align-self="start"
                              class="py-0 px-1"
                            >
                              <v-autocomplete
                                label="Currency"
                                hide-details="auto"
                                ref="currency"
                                name="currency"
                                clearable
                                class="ma-0"
                                solo
                                flat
                                outlined
                                dense
                                no-data-text="Type the Customer Name."
                                :items="itemsCurency"
                                item-value="code"
                                item-text="codeAndName"
                                v-model="paramDialog.currency"
                              >
                              </v-autocomplete>
                            </v-col>
                          </v-row>
                          <v-row class=""
                            ><v-spacer></v-spacer>
                            <v-btn
                              class=""
                              @click="getJournal()"
                              outlined
                              dark
                              color="primary"
                            >
                              <v-icon class="ml-0" left>mdi-magnify</v-icon
                              >Search
                            </v-btn>
                          </v-row>

                          <v-row class="">
                            <v-col cols="12">
                              <v-data-table
                                :headers="headersDialog"
                                :items="headerDialogItems"
                                hide-default-footer
                                class="elevation-1"
                                height="300"
                                :options.sync="chooseTransOptions"
                                :server-items-length="totalItems"
                                fixed-header
                                dense
                                :loading="chooseTransLoading"
                              >
                                <template v-slot:item="{ item, index }">
                                  <tr>
                                    <td
                                      v-for="header in headersDialog"
                                      :key="header.text"
                                    >
                                      <div
                                        v-if="
                                          ['amount', 'balance'].indexOf(
                                            header.value
                                          ) != -1
                                        "
                                        :class="
                                          item[header.value] < 0
                                            ? 'error--text'
                                            : ''
                                        "
                                        align="right"
                                      >
                                        {{ currencyFormat(item[header.value]) }}
                                      </div>
                                      <span
                                        v-else-if="header.value == 'tranDate'"
                                      >
                                        {{ formatDateSlash(item.tranDate) }}
                                      </span>
                                      <span
                                        v-else-if="header.value == 'accountNo'"
                                      >
                                        <span>{{ item.accountNo }}</span>
                                        <v-icon
                                          v-show="
                                            item.isAlreadyPaidByRemittance ==
                                            true
                                          "
                                          x-small
                                          color="primary"
                                          @click="showPayRemit(item)"
                                        >
                                          mdi-information-outline
                                        </v-icon>
                                      </span>
                                      <div
                                        v-else-if="header.value == 'actions'"
                                      >
                                        <v-btn
                                          v-if="
                                            ['CSH', 'CN', 'CNF'].indexOf(
                                              item.accountType
                                            ) != -1
                                          "
                                          depressed
                                          small
                                          @click="viewItem(item)"
                                          outlined
                                          color="primary"
                                          :disabled="
                                            disabledTransItem(item) ||
                                            item.status == 1
                                          "
                                          style="
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                          "
                                        >
                                          Choose
                                        </v-btn>
                                        <v-btn
                                          v-else
                                          depressed
                                          small
                                          text
                                          outlined
                                          @click="addInvItem(item)"
                                          color="primary"
                                          :disabled="
                                            disabledInvTransItem(item) ||
                                            disabledTransItem(item) ||
                                            item.status == 1
                                          "
                                          style="
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                          "
                                        >
                                          <v-icon>mdi-plus</v-icon>
                                        </v-btn>
                                        <span
                                          v-show="item.status == 1"
                                          class="error--text"
                                          style="
                                            display: block;
                                            text-align: center;
                                          "
                                          >In use
                                        </span>
                                      </div>
                                      <span v-else>{{
                                        item[header.value]
                                      }}</span>
                                    </td>
                                  </tr>
                                  <template>
                                    <tr
                                      v-for="(
                                        child, i
                                      ) in item.listAcctTranData"
                                      :key="index + child.accountNo + i"
                                    >
                                      <td
                                        v-for="header in headersDialog"
                                        :key="header.text"
                                      >
                                        <div
                                          v-if="
                                            ['amount'].indexOf(header.value) !=
                                            -1
                                          "
                                          :class="
                                            child[header.value] < 0
                                              ? 'error--text'
                                              : ''
                                          "
                                          align="right"
                                        >
                                          {{
                                            currencyFormat(child[header.value])
                                          }}
                                        </div>
                                        <span
                                          v-else-if="
                                            header.value == 'accountType'
                                          "
                                        >
                                          {{
                                            getDetailType(item, child) == "JC"
                                              ? "JC (" +
                                                child.refAccountType +
                                                ")"
                                              : getDetailType(item, child)
                                          }}
                                          <!-- {{ child.accountType }} -->
                                        </span>
                                        <span
                                          v-else-if="header.value == 'tranDate'"
                                        >
                                          {{ child.tranDate }}
                                        </span>
                                        <span v-else></span>
                                      </td>
                                    </tr>
                                  </template>
                                </template>
                                <template v-slot:body.append>
                                  <tr>
                                    <v-card v-intersect="infiniteScrolling" flat
                                      >-</v-card
                                    >
                                  </tr>
                                </template>
                              </v-data-table>
                            </v-col>
                          </v-row>

                          <!-- tabel baru -->
                          <v-row class="">
                            <v-col cols="12">
                              <span class="title blue--text text--darken-4">
                                Added Transaction
                              </span>
                              <v-data-table
                                :headers="headersDialog"
                                :items="toAddInvoiceItems"
                                hide-default-footer
                                class="elevation-1"
                                height="150"
                                :options.sync="options"
                                fixed-header
                                dense
                              >
                                <template v-slot:item="{ item }">
                                  <tr>
                                    <td
                                      v-for="header in headersDialog"
                                      :key="header.text"
                                    >
                                      <div
                                        v-if="
                                          ['amount', 'balance'].indexOf(
                                            header.value
                                          ) != -1
                                        "
                                        :class="
                                          item[header.value] < 0
                                            ? 'error--text'
                                            : ''
                                        "
                                        align="right"
                                      >
                                        {{ currencyFormat(item[header.value]) }}
                                      </div>
                                      <span
                                        v-else-if="header.value == 'tranDate'"
                                      >
                                        {{ formatDateSlash(item.tranDate) }}
                                      </span>
                                      <div
                                        v-else-if="header.value == 'actions'"
                                      >
                                        <v-btn
                                          depressed
                                          small
                                          text
                                          outlined
                                          @click="removeInvoice(item)"
                                          color="error"
                                          style="
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                          "
                                        >
                                          <v-icon>mdi-minus</v-icon>
                                        </v-btn>
                                      </div>
                                      <span v-else>{{
                                        item[header.value]
                                      }}</span>
                                    </td>
                                  </tr>
                                </template>
                              </v-data-table>
                            </v-col>
                          </v-row>
                          <!-- tabel baru -->

                          <v-row class=""
                            ><v-spacer></v-spacer>
                            <v-btn
                              :disabled="toAddInvoiceItems.length < 1"
                              class=""
                              min-width="100"
                              outlined
                              color="success"
                              @click="chooseInvItems()"
                            >
                              Choose
                            </v-btn>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </td>
              </tr>
              <tr>
                <td v-for="header in headers" :key="header.text">
                  <span v-if="header.value == 'exchgRate'" class="title">
                    Total
                  </span>

                  <span v-if="header.value == 'amountEq'" class="title">
                    {{ currencyFormat(total()) }}
                  </span>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="editRateDialog" max-width="400">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Edit Exchange Rate
        </v-card-title>
        <v-card-text>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Pay Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateAmount"
                ref="editRateAmount"
                name="editRateAmount"
                label="Input Pay Amount"
                persistent-hint
                hide-details="auto"
                @input="editRateAmountChanged = true"
                v-money="editRateAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                readonly
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8">
              <v-text-field
                v-model="editRate"
                ref="editRate"
                name="editRate"
                label="Key in Exchange Rate"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateChanged = true;
                  editRateInput();
                "
                v-money="editRateChanged ? rateMoney : ''"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Equiv. Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateEqAmount"
                ref="editRateEqAmount"
                name="editRateEqAmount"
                label="Input Equivalent Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateEqAmountChanged = true;
                  editRateEqAmountInput();
                "
                v-money="editRateEqAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                :readonly="editRateAmount == '0.00' || editRateAmount == ''"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="mx-2"
            color="primary"
            min-width="100px"
            outlined
            @click="submitRate()"
          >
            <v-icon left> mdi-magnify </v-icon>
            Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-actions>
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text class="text-h6 justify-center text-center">
          <span class="black--text">
            {{ "The payable amount is " + infoCnDialog.item.amountPayable }}
          </span>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card v-show="!dialog.success && !dialog.error">
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card v-show="dialog.success || dialog.error">
        <v-card-title
          v-if="dialog.success"
          class="justify-center"
          style="word-break: inherit"
          >Your Data has been Saved</v-card-title
        >
        <v-card-title
          v-else-if="dialog.error"
          class="justify-center"
          style="word-break: inherit"
          >Your Data Failed to Save</v-card-title
        >
        <v-card-text
          v-if="dialog.error"
          class="d-flex justify-center error--text"
          style="word-break: inherit"
        >
          {{ dialog.errorMessage }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialog.success ? editItem() : (dialog.show = false)"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    submitdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    totalItems: 0,
    isFullRecord: true,
    chooseTransLoading: false,
    toAddInvoiceItems: [],
    number: "",
    itemsType: [
      { name: "Db", value: "D" },
      { name: "Cr", value: "C" },
    ],
    itemsTransType: [
      { name: "CNF", value: "CNF" },
      { name: "CSH", value: "CSH" },
      { name: "CN", value: "CN" },
      { name: "INV", value: "INV" },
      { name: "FINV", value: "FINV" },
      { name: "INVF", value: "INVF" },
      { name: "REV", value: "REV" },
    ],
    dialogFileTab: false,
    tanggal: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    rateMoney: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      // creditAmount: "-0.00",
      number: [],
      date: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      details: "",
      amount: 0,
      debitAmount: 0,
      creditAmount: 0,
    },
    paramDialog: {
      client: "",
      term: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },
    dataCLient: [],
    dataTransType: [],
    itemsCurency: [],
    headers: [
      {
        text: "Client",
        align: "start",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        // component: "select",
      },
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        // component: "select",
      },
      {
        text: "Trans Type",
        sortable: false,
        value: "accountType",
        add: "-0.00",
        rules: [],
        component: "select",
      },
      {
        text: "Billing Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
        width: "120px",
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        // width: "100px",
      },
      {
        text: "Debit Amount",
        sortable: false,
        value: "debitAmount",
        add: "",
        rules: [],
        component: "select",
        width: "200px",
      },
      {
        text: "Credit Amount",
        sortable: false,
        value: "creditAmount",
        add: "-0.00",
        rules: [],
        component: "select",
        width: "200px",
      },
      {
        text: "Exhange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        rules: [],
        component: "select",
        // width: "100px",
      },
      {
        text: "Equiv. Amount",
        sortable: false,
        value: "amountEq",
        add: "",
        rules: [],
        // width: "180px",
      },
      // {
      //   text: "Debit Equiv. Amount",
      //   sortable: false,
      //   value: "debitEqyAmt",
      //   add: "",
      //   rules: [],
      // },
      // {
      //   text: "Credit Equiv. Amount",
      //   sortable: false,
      //   value: "creditEqvAmt",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },

      {
        text: "Action",
        sortable: false,
        value: "action",
        add: "",
        align: "center",
        // width: "100px",
      },
    ],
    headersDialog: [
      {
        text: "Number",
        align: "number",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Client",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        value: "tranDate",
        sortable: false,
      },
      {
        text: "Age",
        value: "age",
        sortable: false,
      },
      {
        text: "Acc Executive",
        value: "cstExc",
        sortable: false,
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "",
        value: "actions",
        sortable: false,
      },
    ],
    headerDialogItems: [],
    itemss: [],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,
    amountChanged: false,
    status: [],
    editRateChanged: false,
    editRateAmountChanged: false,
    editRateEqAmountChanged: false,
    editRateType: "",
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    editRateDialog: false,
    editRateItem: {},
    editRate: "",
    editRateAmount: "",
    editRateEqAmount: "",
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        url1: "/clients/api/account/agent?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 2,
      },
    },
    idJournalCurrency: 0,
    // amountrule : param.debitAmount >= param.amount,
    submitDialog: { show: false, mode: "", title: "", message: "" },
    validationError: "",
    validationStatus: false,
    options: {
      itemsPerPage: -1,
      page: 1,
    },
    chooseTransOptions: {
      itemsPerPage: 10,
    },
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
    transDateLoading: false,
    statusDebitAmount: false,
    statusCreditAmount: false,
  }),

  computed: {
    form() {
      return {
        // amount: this.currencyToFloat(this.param.amount),
        total: this.currencyToFloat(this.total()),
        totali: this.currencyToFloat(this.totali()),
      };
    },
    //  total: function () {
    //   return this.journalItems.reduce(function (a, c) {
    //     return a + Number(c.debitEqyAmt || 0);
    //   }, 0);
    // },
    // totali: function() {
    //   return this.journalItems.reduce(function(a, c){return a + Number((c.creditEqvAmt) || 0)}, 0)
    // }
    // totalCurrent() {
    //   console.log("get current total");
    //   return this.headers.reduce(
    //     (acc, cur) => acc + Number(cur.debitEqyAmt),
    //     0
    //   );
    // },
    disabledTransItem: function () {
      return function (item) {
        // 1 CSH CN CNF, 2 selain itu, 3 dan seterusnya bebas, inv boleh dobel
        let disable = false;
        if (
          this.journalItems.length < 1 &&
          ["CSH", "CN", "CNF"].indexOf(item.accountType) == -1
        ) {
          disable = true;
        } else if (
          this.journalItems.length == 1 &&
          ["CSH", "CN", "CNF"].indexOf(item.accountType) != -1 &&
          ["CSH", "CN", "CNF"].indexOf(this.journalItems[0]) != -1
        ) {
          disable = true;
        } else if (this.journalItems.length > 2) {
          if (
            ["CSH", "CN", "CNF"].indexOf(
              this.journalItems[this.journalItems.length - 1].accountType
            ) != -1 &&
            ["CSH", "CN", "CNF"].indexOf(item.accountType) != -1
          ) {
            disable = true;
          }
        }
        // else if (this.headerDialogItems.map(function (row) {
        // row.status = 1;

        //   })){ disable = true;}
        return disable;
      };
    },
  },
  async created() {
    this.getBussDate();
    // this.change();
    // this.getListClient();
    this.initList(["customer"]);
    this.getListCurency();
    // await this.initList(["client"]);
    this.change();
  },

  watch: {},

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    selectType(item) {
      console.debug("selectType", item);
    },
    validationTyping(item) {
      return () => {
        if (item.type === "D") {
          if (["CSH", "CN", "CNF"].includes(item.accountType)) {
            let debitAmount = Math.abs(this.convertMoney(item.debitAmount));
            let balance = Math.abs(item.balance);
            let status = debitAmount <= balance;
            if (
              item.amountPayable != null &&
              item.amountPayable != 0 &&
              Math.abs(debitAmount) > Math.abs(item.amountPayable)
            ) {
              let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
              this.statusDebitAmount = true;
              return error;
            } else if (!status) {
              let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Balance`;
              this.statusDebitAmount = true;
              return error;
            } else {
              this.statusDebitAmount = false;
              return true;
            }
          } else if (
            ["INV", "FINV", "INVF", "REV"].includes(item.accountType)
          ) {
            let debitAmount = this.convertMoney(item.debitAmount);
            let balance = item.balance;
            let amount = Math.abs(item.amount);
            let total = Math.abs(debitAmount + balance);
            let status = total <= amount;
            if (
              item.amountPayable != null &&
              item.amountPayable != 0 &&
              Math.abs(debitAmount) > Math.abs(item.amountPayable)
            ) {
              let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
              this.statusDebitAmount = true;
              return error;
            } else if (!status) {
              let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Net Amount`;
              this.statusDebitAmount = true;
              return error;
            } else {
              this.statusDebitAmount = false;
              return true;
            }
          }
        } else {
          if (["CSH", "CN", "CNF"].includes(item.accountType)) {
            let creditAmount = this.convertMoney(item.creditAmount);
            let balance = item.balance;
            let amount = Math.abs(item.amount);
            let total = Math.abs(creditAmount + balance);
            let status = total <= amount;
            if (
              item.amountPayable != null &&
              item.amountPayable != 0 &&
              Math.abs(creditAmount) > Math.abs(item.amountPayable)
            ) {
              let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
              this.statusCreditAmount = true;
              return error;
            } else if (!status) {
              let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Net Amount`;
              this.statusCreditAmount = true;
              return error;
            } else {
              this.statusCreditAmount = false;
              return true;
            }
          } else if (
            ["INV", "FINV", "INVF", "REV"].includes(item.accountType)
          ) {
            let creditAmount = Math.abs(this.convertMoney(item.creditAmount));
            let balance = Math.abs(item.balance);
            let status = creditAmount <= balance;
            if (
              item.amountPayable != null &&
              item.amountPayable != 0 &&
              Math.abs(creditAmount) > Math.abs(item.amountPayable) &&
              item.accountType != "INV"
            ) {
              let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
              this.statusCreditAmount = true;
              return error;
            } else if (!status) {
              let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Balance`;
              this.statusCreditAmount = true;
              return error;
            } else {
              this.statusCreditAmount = false;
              return true;
            }
          }
        }
      };
    },
    validationLimit(item) {
      if (item.type === "D") {
        if (["CSH", "CN", "CNF"].includes(item.accountType)) {
          let debitAmount = Math.abs(this.convertMoney(item.debitAmount));
          let balance = Math.abs(item.balance);
          let status = debitAmount <= balance;
          if (
            item.amountPayable != null &&
            item.amountPayable != 0 &&
            Math.abs(debitAmount) > Math.abs(item.amountPayable)
          ) {
            let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else if (!status) {
            let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Balance`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else {
            return false;
          }
        } else if (["INV", "FINV", "INVF", "REV"].includes(item.accountType)) {
          let debitAmount = this.convertMoney(item.debitAmount);
          let balance = item.balance;
          let amount = Math.abs(item.amount);
          let total = Math.abs(debitAmount + balance);
          let status = total <= amount;
          if (
            item.amountPayable != null &&
            item.amountPayable != 0 &&
            Math.abs(debitAmount) > Math.abs(item.amountPayable)
          ) {
            let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else if (!status) {
            let error = `Debit Amount ${item.accountType} ${item.accountNo} can't greater than Net Amount`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else {
            return false;
          }
        }
      } else {
        if (["CSH", "CN", "CNF"].includes(item.accountType)) {
          let creditAmount = this.convertMoney(item.creditAmount);
          let balance = item.balance;
          let amount = Math.abs(item.amount);
          let total = Math.abs(creditAmount + balance);
          let status = total <= amount;
          if (
            item.amountPayable != null &&
            item.amountPayable != 0 &&
            Math.abs(creditAmount) > Math.abs(item.amountPayable)
          ) {
            let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else if (!status) {
            let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Net Amount`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else {
            return false;
          }
        } else if (["INV", "FINV", "INVF", "REV"].includes(item.accountType)) {
          let creditAmount = Math.abs(this.convertMoney(item.creditAmount));
          let balance = Math.abs(item.balance);
          let status = creditAmount <= balance;
          if (
            item.amountPayable != null &&
            item.amountPayable != 0 &&
            Math.abs(creditAmount) > Math.abs(item.amountPayable) &&
            item.accountType != "INV"
          ) {
            let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Amount Payable`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else if (!status) {
            let error = `Credit Amount ${item.accountType} ${item.accountNo} can't greater than Balance`;
            this.validationStatus = true;
            this.validationError = error;
            return true;
          } else {
            return false;
          }
        }
      }
    },
    editItem() {
      this.$router.push({
        name: "journal-currency-view",
        query: { id: this.idJournalCurrency, mode: "d" },
      });
    },
    change(item) {
      item.creditAmount == "-0.00";
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)] + filter.searchInput.toUpperCase(),
          null,
          null,
          axiosSource.token
        ).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            // console.log(resp.data.data);
            filter.items = filter.items.concat(resp.data.data);
          }
        });
      }
      filter.loading = false;
    },
    clearClient() {
      this.paramDialog.client = "";
    },
    closeTab() {
      this.dialogFileTab = false;
      this.paramDialog.client = "";
      this.paramDialog.currency = "";
      this.paramDialog.transType = "";
      this.headerDialogItems = [];
      this.isFullRecord = true;
      this.chooseTransLoading = false;
      this.toAddInvoiceItems = [];
      this.chooseTransOptions.page = 1;
      this.totalItems = 0;
    },
    openEditRateDialog(item) {
      let isAmountBlank = false;
      if (
        item.type == "D" &&
        (item.debitAmount == "0.00" ||
          item.debitAmount == "" ||
          item.debitAmount == null ||
          item.debitAmount == undefined)
      ) {
        isAmountBlank = true;
        this.submitDialog.title = "Please input debit amount";
      } else if (
        item.type == "C" &&
        (item.creditAmount == "0.00" ||
          item.creditAmount == "" ||
          item.creditAmount == null ||
          item.creditAmount == undefined)
      ) {
        isAmountBlank = true;
        this.submitDialog.title = "Please input credit amount";
      }
      if (isAmountBlank) {
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      } else {
        console.log("item", item);
        this.editRateItem = item;
        this.editRateType = item.type;
        this.editRateChanged = false;
        this.editRateAmountChanged = false;
        this.editRateEqAmountChanged = false;
        this.editRate = this.currencyFormat(item.exchgRate, 2);
        if (this.editRateItem.type == "D") {
          this.editRateAmount = this.currencyFormat(item.debitAmount);
        } else {
          this.editRateAmount = this.currencyFormat(item.creditAmount);
        }
        this.editRateEqAmount = this.currencyFormat(item.amountEq);
        this.editRateDialog = true;
        console.log("this.editRateEqAmount", this.editRateEqAmount);
      }
    },
    submitRate() {
      this.editRateDialog = false;
      this.amountChanged = false;
      this.editRateItem.exchgRate = this.currencyToFloat(this.editRate);
      if (this.editRateItem.type == "D") {
        this.editRateItem.debitAmount = this.editRateAmount;
        // this.paidAmountChange(this.editRateItem);
      } else {
        this.editRateItem.creditAmount = this.editRateAmount;
        // this.paidAmountChangeCredit(this.editRateItem);
      }
      this.editRateItem.amountEq = this.currencyToFloat(this.editRateEqAmount);
      setTimeout(() => {
        this.editRateItem.amountEq = this.currencyToFloat(
          this.editRateEqAmount
        );
      }, 1000);
      console.log("this.editRateEqAmount", this.editRateEqAmount);
      console.log("this.editRateItem.amountEq", this.editRateItem.amountEq);
    },
    currencyFormat(data, decimal = null, mode = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let countOriDecimal =
        amount.split(".")[1] != undefined ? amount.split(".")[1].length : 0;
      let toFixed = float.toFixed(decimal == null ? 2 : decimal);
      if (mode == "max") {
        if (countOriDecimal >= decimal) {
          toFixed = float.toFixed(decimal);
        } else if (countOriDecimal >= 3) {
          toFixed = float.toFixed(countOriDecimal);
        } else {
          toFixed = float.toFixed(2);
        }
      }
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      // console.log("splitted[0]", splitted[0])
      // console.log("splitted[0]  == '-0'", splitted[0] == "-0")
      if (splitted[0] == "-0" && splitted[1] == "00") {
        splitted[0] = "0";
      }
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    // getTotal(data) {
    //   let total = 0;
    //   for (let key of this.journalItems) {
    //     total = total + this.currencyToFloat(key[debitEqyAmt]);
    //     console.log("WKAKAKAKA");
    //     console.log(total);
    //     console.log("WKAKAKAKA");
    //     console.log(key[debitEqyAmt]);
    //   }
    //   return this.currencyFormat(total);
    // },

    // changeParamCredit(){
    //   this.param.creditAmount = '-0.00'
    // },
    total() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.amountEq || 0);
      }, 0);
    },
    totali() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.creditEqvAmt || 0);
      }, 0);
    },
    onPastePaidAmount(item) {
      setTimeout(() => {
        this.paidAmountChange(item);
      }, 100);
    },
    onPastePaidCreditAmount(item) {
      setTimeout(() => {
        this.paidAmountChangeCredit(item);
      }, 100);
    },
    codeKeydown(e) {
      if (/-/.test(e.key)) {
        e.preventDefault();
      }
    },
    paidAmountChange(item) {
      // console.log("ada berubah di paidAmountChange");
      if(item.debitAmount[0] == "-") {
        item.amountInput = true;
        item.debitAmount = item.debitAmount.substring(1)
      }

      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.debitAmount);
      let rate = this.currencyToFloat(item.exchgRate);
      this.param.debitAmount = this.currencyToFloat(item.debitAmount);

      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.amountEq = paidAmount * rate;
      } else {
        item.amountEq = paidAmount / rate;
      }
      this.total();
      // console.log("item.amountEq", item.amountEq);
      for (let i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          this.journalItems.splice(i, 1, item);
        }
      }
      
      // this.getTotal();
    },
    paidAmountChangeCredit(item) {
      // console.log("ada berubah di paidAmountChangeCredit");
      // item.creditAmount = this.param.creditAmount;

      if(item.creditAmount[0] == "-") {
        item.amountInput = true;
        item.creditAmount = item.creditAmount.substring(1)
      }

      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.creditAmount);
      let rate = this.currencyToFloat(item.exchgRate);
      this.param.creditAmount = this.currencyToFloat(item.creditAmount);

      // this.param.creditAmount
      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.amountEq = paidAmount * rate * -1;
      } else {
        item.amountEq = (paidAmount / rate) * -1;
      }
      this.total();
      // console.log("item.amountEq", item.amountEq);
      for (let i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          this.journalItems.splice(i, 1, item);
        }
      }
      // console.log(item.debitEqyAmt);
    },
    removeProgess(item) {
      var index = "";

      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
      // if (this.journalItems.length === 0) {
      //   this.minDateForAddProgess = new Date().toISOString();
      // } else {
      //   this.minDateForAddProgess = this.progessStatusDoc[
      //     this.progessStatusDoc.length - 1
      //   ].date;
      // }
    },
    getJournal() {
      this.headerDialogItems = [];
      this.chooseTransOptions.page = 1;
      this.isFullRecord = true;
      this.refresh();
    },
    async refresh() {
      let vm = this;
      // this.dialog.show = true;
      this.chooseTransLoading = true;

      let { page, itemsPerPage } = this.chooseTransOptions;
      let param = {
        "clientCode.equals": this.paramDialog.client.code,
        "currency.equals": this.paramDialog.currency,
        "transType.equals": this.paramDialog.transType,
        "accountNo.equals": this.paramDialog.keyInNumber,
        page: (page - 1).toString(),
        size: itemsPerPage,
      };
      Object.keys(param).forEach((key) => {
        if (param[key] == undefined || param[key] == "") {
          delete param[key];
        }
      });

      // this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/gettransactiondebtor/outstandingJC",
        param
      );
      if (resp.data.code === 0) {
        // this.dialog.show = false;

        resp.data.listTransaction.forEach((item) => {
          // if (item.isAlreadyPaidByRemittance == false) {
          let existItem = vm.headerDialogItems.filter(
            (val) => val.id == item.id
          );
          if (existItem.length < 1) {
            vm.headerDialogItems.push(item);
            vm.headerDialogItems.splice(existItem.length - 1, 1, item);
          }
          // }
        });
        this.totalItems = parseInt(resp.headers["x-total-count"]);
        console.log(
          "resp.headers[x-total-count]",
          resp.headers["x-total-count"]
        );
        console.log("this.headerDialogItems", this.headerDialogItems);
        // this.headerDialogItems = this.headerDialogItems.concat(
        //   resp.data.listTransaction
        // );

        this.isFullRecord =
          resp.data.listTransaction.length ==
          this.chooseTransOptions.itemsPerPage;
        this.chooseTransLoading = false;
      }
    },

    async getJournalCurrency() {
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?currency.equals=" +
          this.paramDialog.currency,

        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    async getJournalCLient() {
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?clientCode.equals=" +
          this.paramDialog.client.code,

        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    async getJournalTransType() {
      this.dialog.error = false;
      let resp = await API.get(
        "/finance/api/finance/invaccount/getdebtoraccount?transType.equals=" +
          this.paramDialog.transType,

        {}
      );
      if (resp.data.code === 0) {
        this.dialog.show = false;

        this.loading = false;
        this.headerDialogItems = resp.data.listTransaction;
      }
    },
    async viewItem(item) {
      if (this.journalItems.length < 1) {
        this.param.currency = item.currency;
      } else {
        let existItem = this.journalItems.filter(
          (val) => ["CSH", "CN", "CNF"].indexOf(val.accountType) != -1
        );
        // jika item adalah csh cn cnf dan ada record csh cn cnf juga di existing record
        if (
          ["CSH", "CN", "CNF"].indexOf(item.accountType) != -1 &&
          existItem.length > 0
        ) {
          this.submitDialog.title = "There are still CSH CN CNF transactions";
          this.submitDialog.message = "";
          this.submitDialog.mode = "error";
          this.submitDialog.show = true;
          return;
        }
      }
      let existItem = this.journalItems.filter(
        (value) =>
          value.accountNo == item.accountNo &&
          value.term == item.term &&
          value.amount == item.amount
      );
      if (this.param.currency == item.currency) {
        item.exchgRate = 1;
      } else {
        item.exchgRate = await this.getExchangeRate(item.currency);
      }
      if (existItem.length < 1) {
        if (item.amountPayable != null && item.amountPayable != 0) {
          item.amountInput = true;
          item.debitAmount = this.currencyFormat(item.amountPayable);
          item.creditAmount = this.currencyFormat(item.amountPayable);
        }
        if (
          this.journalItems.length > 0 &&
          ["CSH", "CN", "CNF"].indexOf(item.accountType) != -1
        ) {
          let currencyBefore = this.param.currency;
          this.param.currency = item.currency;
          this.journalItems.unshift(JSON.parse(JSON.stringify(item)));

          if (this.param.currency != currencyBefore) {
            for (let transItem of this.journalItems) {
              if (this.param.currency == transItem.currency) {
                transItem.exchgRate = 1;
              } else {
                transItem.exchgRate = await this.getExchangeRate(
                  transItem.currency
                );
              }
              if (transItem.type == "D") {
                this.paidAmountChange(transItem);
              } else if (transItem.type == "C") {
                this.paidAmountChangeCredit(transItem);
              }
            }
          }
        } else {
          this.journalItems.push(JSON.parse(JSON.stringify(item)));
        }
        this.dialogFileTab = false;
        this.param.amount = item.amount;
        this.paramDialog.client = "";
        this.paramDialog.currency = "";
        this.paramDialog.transType = "";
        this.headerDialogItems = [];
      }
    },

    getListCurency() {
      API.get(
        // "/config/api/master-currency/view-list?isActive.equals=1",
        "/config/api/master-currency/?isActive.equals=1",
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          let itemCurency = resp.data.data;
          for (i = 0; i < itemCurency.length; i++) {
            text.push(itemCurency[i]);
          }
          this.itemsCurency = text;
        }
      });
    },
    // getListClient() {
    //   API.get("/clients/api/account/client?codeOrName.contains=", null).then(
    //     (resp) => {
    //       if (resp.data.code == 0) {
    //         let text = [];
    //         let i;
    //         console.log("INI RESPONSE = ");
    //         let itemCurency = resp.data.data;
    //         for (i = 0; i < itemCurency.length; i++) {
    //           text.push(itemCurency[i]);
    //         }
    //         this.dataCLient = text;
    //       }
    //     }
    //   );
    // },
    back() {
      this.$router.replace({ name: "journal-currency-list" });
    },
    async save() {
      this.dialog.error = false;

      //  Object.keys(this.form).forEach((f) => {

      //   });

      // if (
      //   this.currencyToFloat(this.total()) == "0.00"

      //   // this.currencyToFloat(this.totali())
      // ) {
      //   console.log(this.currencyToFloat(this.total()));
      //   console.log(this.currencyToFloat(this.totali()));
      //   this.formHasErrors = false;
      //   // await this.doAdd();
      //   // this.haserroramount = true;
      // } else {
      //   this.formHasErrors = true;
      //   this.dialog.show = true;
      //   this.dialog.error = true;
      //   this.dialog.errorMessage =
      //     "Debit equiv balance not match with credit equiv balance";
      // }

      // if (
      //   this.param.debitAmount <= Math.abs(this.param.amount) &&
      //   this.param.creditAmount  <=  Math.abs(this.param.amount)
      // ) {
      //   this.formHasErrors = false;
      // } else {
      //   this.formHasErrors = true;
      //   this.dialog.show = true;
      //   this.dialog.error = true;
      //   this.dialog.errorMessage =
      //     "Amount can't be greater than original amount";
      //   console.log(this.param.debitAmount);
      //   console.log("walallala");
      //   // console.log(this.currencyToFloat(this.totali()));
      // }

      if (!this.formHasErrors) {
        this.dialog.show = true;
        if (this.journalItems.length > 0) {
          this.validationError = "";
          this.validationStatus = false;
          this.journalItems.find((element) => {
            return this.validationLimit(element) === true;
          });
        }

        // Validation Debit Amount / Credit Amount
        if (this.validationStatus) {
          this.dialog.error = true;
          this.dialog.errorMessage = this.validationError;
        } else {
          await this.doAdd();
        }

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let vm = this;
      let paramJSON = {
        journalCurrencyData: {
          description: this.param.details,
          tranDate: this.param.date,
          listTransaction: this.journalItems.map(function (row) {
            return {
              id: row.id,
              accountNo: row.accountNo,
              accountType: row.accountType,
              amount:
                row.type == "D"
                  ? vm.currencyToFloat(row.debitAmount)
                  : vm.currencyToFloat(row.creditAmount),
              // debitAmount
              // vm.currencyToFloat(row.amount),
              amountEq:
                // row.type == "D"
                vm.currencyToFloat(row.amountEq),
              // : vm.currencyToFloat(row.creditEqvAmt),
              balance: vm.currencyToFloat(row.balance),
              billingDate: vm.formatDateSlice(row.tranDate),
              currency: row.currency,
              customerCode: row.cstCode,
              customerName: row.cstName,
              customerType: row.cstType,
              dbcr: row.type,
              exchangeRate: vm.currencyToFloat(row.exchgRate),
              term: row.term,
            };
          }),
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("finance/api/finance/journalcurrency/add", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.idJournalCurrency =
              resp.data.journalCurrencyData.idJournalCurrency;
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.editItem();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        }
      );
    },
    convertData(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          creditEqvAmt: this.convertMoney(element.creditEqvAmt),
          debitEqyAmt: this.convertMoney(element.debitEqyAmt),
          // amount: this.convertMoney(element.amount)
        });
      });
      return array;
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    editRateInput() {
      let after = this.editRate;
      let paidAmount = this.currencyToFloat(this.editRateAmount);
      let rate = this.currencyToFloat(after);
      this.editRateEqAmountChanged = false;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        if (this.editRateType == "D") {
          this.editRateEqAmount = this.currencyFormat(paidAmount * rate);
        } else {
          this.editRateEqAmount = this.currencyFormat(paidAmount * rate * -1);
        }
      } else {
        if (this.editRateType == "D") {
          this.editRateEqAmount = this.currencyFormat(paidAmount / rate);
        } else {
          this.editRateEqAmount = this.currencyFormat((paidAmount / rate) * -1);
        }
      }
    },
    editRateEqAmountInput() {
      if (this.editRateAmount != "0.00" || this.editRateAmount != "") {
        let after = this.editRateEqAmount;
        let paidAmount = this.currencyToFloat(this.editRateAmount);
        let equivAmount = this.currencyToFloat(after);
        this.editRateChanged = false;
        if (this.param.currency == "IDR" || this.param.currency == "") {
          if (this.editRateType == "D") {
            this.editRate = this.currencyFormat(equivAmount / paidAmount, 2);
          } else {
            this.editRate = this.currencyFormat(
              (equivAmount / paidAmount) * -1,
              2
            );
          }
        } else {
          if (this.editRateType == "D") {
            this.editRate = this.currencyFormat(paidAmount / equivAmount, 2);
          } else {
            this.editRate = this.currencyFormat(
              (paidAmount / equivAmount) * -1,
              2
            );
          }
        }
      }
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from == "IDR" ? this.param.currency : from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    getDetailType(headItem, detailItem) {
      let type = detailItem.tranCode;
      if (detailItem.tranCode == "CA") {
        type =
          detailItem.refAccountType == null
            ? detailItem.tranCode
            : detailItem.refAccountType;
      }
      return type;
    },
    formatDateSlash(date) {
      let res = date.split("-");
      return [res[2], res[1], res[0]].join("/");
    },
    addInvItem(item) {
      let existItem = this.toAddInvoiceItems.filter(
        (value) => value.id == item.id
      );
      if (existItem < 1) {
        this.toAddInvoiceItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeInvoice(item) {
      for (let i = 0; i < this.toAddInvoiceItems.length; i++) {
        if (this.toAddInvoiceItems[i].id == item.id) {
          this.toAddInvoiceItems.splice(i, 1);
        }
      }
    },
    infiniteScrolling(entries, observer, isIntersecting) {
      console.log("entries", entries);
      console.log("observer", observer);
      console.log("isIntersecting", isIntersecting);
      if (
        !this.chooseTransLoading &&
        this.isFullRecord &&
        this.headerDialogItems.length > 0 &&
        entries[0].isIntersecting
      ) {
        this.chooseTransOptions.page = this.chooseTransOptions.page + 1;
        this.refresh();
      }
    },
    openTransDialog() {
      this.isFullRecord = true;
      this.chooseTransLoading = false;
      this.toAddInvoiceItems = [];
      this.chooseTransOptions.page = 1;
      this.totalItems = 0;
    },
    chooseInvItems() {
      for (let item of this.toAddInvoiceItems) {
        this.viewItem(item);
      }
    },
    showPayRemit(item) {
      this.submitDialog.title =
        "Invoice " + item.accountNo + " already paid to Insurance";
      this.submitDialog.message = "";
      this.submitDialog.mode = "error";
      this.submitDialog.show = true;
    },
    disabledInvTransItem(item) {
      if (
        item.isAlreadyPaidByRemittance == true &&
        item.balance == 0 &&
        item.amountPayable == 0
      ) {
        return true;
      } else {
        return false;
      }
    },
    typeChange(item) {
      if (item.type == "D") {
        this.paidAmountChange(item);
      } else if (item.type == "C") {
        this.paidAmountChangeCredit(item);
      }
    },
    getCnInfo(item) {
      this.infoCnDialog = { show: true, mode: "info", item: item };
    },
    infoButtonShow(item) {
      let show = false;
      if (item.accountType == "CNF") {
        if (item.amountPayable != item.balance) {
          show = true;
        }
      }
      console.log("infoButtonShow", show);
      return show;
    },
    getBussDate() {
      this.transDateLoading = true;
      return new Promise((resolve) => {
        API.get("report/api/business-date")
        .then((resp) => {
          this.param.date = this.formatDateToDMY(resp.data);
          resolve(true)
          this.transDateLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error Get Business Date" });
          this.transDateLoading = false;
        });
      })
    },
    formatDateToDMY(date) {
      if (!date) return null;

      const [day, month, year] = date.split("-");
      return `${day}/${month}/${year}`;
    },

  },
};
</script>
