<template>
  <v-card flat>
    <v-form class="mb-6" :readonly="invoice.statusPage === 'view'">
      <v-row>
        <v-col cols="8">
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Invoice Type</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="defaultType"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-show="invoice.invoiceType == 7">
            <v-col cols="3" class="pa-1">
              <span class="title">Type</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-radio-group
                v-model="typeDisclosure"
                row
                hide-details
                class="ma-0 pa-0"
                disabled
              >
                <v-radio label="Disclosure"></v-radio>
                <v-radio label="Non-disclosure"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-show="invoice.invoiceType == 7">
            <v-col cols="3" class="pa-1">
              <span class="title">Source Income</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-radio-group
                v-model="sourceIncome"
                row
                hide-details
                class="ma-0 pa-0"
                disabled
              >
                <v-radio label="Brokerage"></v-radio>
                <v-radio label="Engineering Fee"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-show="invoice.invoiceType == 7">
            <v-col cols="3" class="pa-1">
              <span class="title">Agent</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="agent"
                v-model="agent"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-if="!([4, 6, 7].indexOf(invoice.invoiceType) != -1)">
            <v-col cols="3" class="pa-1">
              <span class="title">Transaction No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="invoice.refNo"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-else-if="invoice.invoiceType == 7">
            <v-col cols="3" class="pa-1">
              <span class="title">Original Invoice No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="parentRef"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-else>
            <v-col cols="3" class="pa-1">
              <span class="title">Original Invoice No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-row align="center" class="marginLeftRow">
                <v-col cols="5" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    v-model="parentRef"
                    label=""
                    ref="amount"
                    solo
                    flat
                    dense
                    outlined
                    disabled
                    class="ma-0 input-right"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="2" class="pa-1">
                  <span class="title">End No.</span>
                </v-col>
                <v-col cols="5" class="pa-1 marginLeftField">
                  <v-text-field
                    hide-details="auto"
                    v-model="seqNo"
                    label=""
                    ref="amount"
                    solo
                    flat
                    dense
                    outlined
                    disabled
                    class="ma-0 input-right"
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Customer</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="status"
                solo
                flat
                dense
                disabled
                outlined
                v-model="customerCodeAndName"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8" v-if="invoice.invoiceType == 1 && invoice.flagShadow == 1">
            <v-col cols="3" class="pa-1">
              <span class="title">Original Invoice No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Select Invoice No.."
                ref="invoiceNo"
                name="invoiceNo"
                v-model="invoiceNo"
                solo
                flat
                dense
                outlined
                readonly
                class="ma-0 input-right"
                id="invoiceNo"
                disabled
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Class of Risk</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="riskCode"
                solo
                flat
                dense
                disabled
                outlined
                v-model="riskCode"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="3">
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Invoice Number</span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <span class="title fontBold">{{ invoice.invoiceNo }}</span>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Status</span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <span class="title">{{ invoice.statusDesc }}</span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>
    <!-- <v-card> -->
    <!-- <menuBroking v-if="invoice.invoiceType == 1 || invoice.invoiceType == 4" /> -->
    <menuSwitch v-if="(invoice.invoiceType == 1 || invoice.invoiceType == 4) && invoice.flagShadow == 1" />
    <menuBroking v-else-if="(invoice.invoiceType == 1 || invoice.invoiceType == 4) && invoice.flagShadow == 0" />
    <menuFee v-else-if="invoice.invoiceType == 2" />
    <menuOpen v-else-if="invoice.invoiceType == 3" />
    <menuCommission v-else-if="invoice.invoiceType == 7" />
    <menuBroking v-else-if="invoice.invoiceType == 6" />
    <menuOpen v-else />
    <!-- </v-card> -->
    <v-dialog
      v-model="dialogLoading"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog
        v-model="dialog.show"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card v-show="!dialog.success && !dialog.error" min-width="290px">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error" min-width="290px">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >{{ dialog.text }}</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >{{ dialog.text }}</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialog.success
                  ? fromEdit
                    ? back()
                    : cancel()
                  : (dialog = {
                      show: false,
                      success: false,
                      error: false,
                      text: '',
                    })
              "
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
// import isttoolbar from "@/components/toolbars/ISTtoolbar";
import menuFee from "./menu_fee";
import menuBroking from "./menu_broking";
import menuOpen from "./menu_open";
import menuSwitch from "./menu_switch";
import menuCommission from "./menu_commission";
import axios from "axios";

export default {
  components: {
    // isttoolbar,
    menuFee,
    menuBroking,
    menuOpen,
    menuSwitch,
    menuCommission,
  },
  props: ["detailDialog"],
  created() {
    // if (this.$route.query.invoiceNo) {
    //   this.getInvoiceById(this.$route.query.invoiceNo);
    // } else
    if (
      ["CN", "INV", "FINV", "CNF", "INVF", "CDN", "CCN"].indexOf(
        this.detailDialog.type
      ) != -1
    ) {
      this.getInvoiceById(this.detailDialog.id);
    }
    // if (localStorage.getItem('from') == 'edit') this.fromEdit = true
    // // if (this.$route.query.statusPage == 'edit') this.fromEdit = true
    // // if (this.$route.query.status == 0) this.statusApprove = true
    // this.status = this.$route.query.status
  },
  data: () => ({
    statusSwitch: false,
    parentRef: "",
    idEndorsment: "",
    seqNo: "",
    endorsementNo: "",
    endorsement: "",
    status: "",
    statusApprove: false,
    statusPage: "",
    fromEdit: false,
    defaultType: "Broking",
    closingInsurance: {
      insuranceName: "All Underwriter",
    },
    generateClient: {
      id: 0,
      name: "Generate PDF",
    },
    generateClosing: {
      id: 0,
      name: "Generate PDF",
    },
    generateCredit: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataClosingInsurance: [
      // {
      //   id: 0,
      //   name: "All Underwriter"
      // },
      // {
      //   id: 1,
      //   name: "PT. Allianz"
      // },
      // {
      //   id: 2,
      //   name: "PT. Asuransi"
      // }
    ],
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    dialogPreview: false,
    dialogLoading: false,
    errorDescription: "",
    dialog: { show: false, success: false, error: false, text: "" },
    type: [
      { invoiceType: "Fee", id: 2 },
      { invoiceType: "Broking", id: 1 },
    ],
    customerName: "",
    reffNo: "",
    riskCode: "",
    customerCodeAndName: "",
    search: {
      customer: {
        name: "customer",
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
      },
      reffNo: {
        name: "reffNo",
        input: "",
        items: [],
        url: "broking/api/broking/invoice/list-reff-no?transactionId.contains=",
        loading: false,
      },
    },
    dataParam: {},
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
    riskMultiInsuredList: [],
    statusAgent: false,
    dataListAgent: [],
    dataAgent: { agentName: "All Agent" },
    typeDisclosure: 0,
    sourceIncome: 0,
    agent: "",
    invoiceNo: 0,
  }),
  mounted() {
    // this.getCustomer();
    this.statusPage = this.$route.query.statusPage;
    this.setStatusPage(this.$route.query.statusPage);
    this.getRiskMultiInsured();
  },
  computed: {
    form() {
      return {
        customerName: this.customerName,
        reffNo: this.reffNo,
        defaultType: this.defaultType,
      };
    },
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        let searchURL = "";
        if (search.name == "reffNo") {
          searchURL =
            search.url +
            search.input.toUpperCase() +
            "&accountId.equals=" +
            this.invoice.customerId;
        } else {
          searchURL = search.url + search.input.toUpperCase();
        }
        setTimeout(() => {
          API.get(searchURL, null, null, axiosSource.token).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  watch: {
    invoice: {
      handler: function () {
        this.riskCode = this.invoice.riskCode + " - " + this.invoice.riskName;
        this.customerCodeAndName = this.invoice.customerCode + " - " + this.invoice.customerName;
        // console.log("before", before.idEmployee, before.segmentCode, before.subSegmentCode);
        // console.log("after", after.idEmployee, after.segmentCode, after.subSegmentCode);
      },
      deep: true,
    },
    // "invoice.idEmployee": {
    //   handler: function (after, before) {
    //     console.log("idEmployee before", before);
    //     console.log("idEmployee after", after);
    //     if (this.invoice.idEmployee !== 0) {
    //       API.get(
    //         "/user/api/user-management/user/employee/" +
    //           this.invoice.idEmployee.toString()
    //       ).then((resp) => {
    //         if (resp.data.code === 0) {
    //           let data = resp.data.data;
    //           let personal = data.personalData;
    //           let obj = {
    //             id: personal.id,
    //             idDepartmentCode: personal.idDepartmentCode,
    //             idCompany: personal.idCompany,
    //             fullname: personal.fullname,
    //             nickname: personal.nickname ? personal.nickname : "",
    //           };
    //           this.setDataEmployee(obj);
    //         }
    //       });
    //     }
    //   },
    //   deep: true,
    // },
    "invoice.segmentCode": {
      handler: function () {
        if (this.invoice.segmentCode !== "") {
          API.get(
            "/config/api/master-parameter?page=0&size=10&module.contains=BUSINESS_SEGMENT&code.equals=" +
              this.invoice.segmentCode
          ).then((resp) => {
            if (resp.data.code === 0) {
              let data = resp.data.data;
              if (data[0]) {
                this.setDataSegment(data[0]);
              }
            }
          });
        }
      },
      deep: true,
    },
    "invoice.subSegmentCode": {
      handler: function () {
        if (this.invoice.subSegmentCode !== "") {
          API.get(
            "/config/api/master-parameter?page=0&size=10&module.contains=BUSINESS_SUBSEGMENT&code.equals=" +
              this.invoice.subSegmentCode
          ).then((resp) => {
            if (resp.data.code === 0) {
              let data = resp.data.data;
              if (data[0]) {
                this.setDataSubSegment(data[0]);
              }
            }
          });
        }
      },
      deep: true,
    },
    "detailDialog.show": {
      handler: function (after) {
        if (
          after &&
          ["CN", "INV", "FINV", "CNF", "INVF", "CDN", "CCN"].indexOf(
            this.detailDialog.type
          ) != -1
        ) {
          this.getInvoiceById(this.detailDialog.id);
        }
      },
      deep: true,
    },
  },
  methods: {
    async getInvoiceById(id) {
      this.dialogLoading = this.detailDialog ? false : true;
      let resp = await API.get(
        "/broking/api/broking/invoice/by-invoice-no/" + id
      );
      if (resp.data.code === 0) {
        this.dialogLoading = false;
        const data = resp.data.invoice;
        // let statusSwitchAccount = data.customerCode.includes("-ADD");
        // if (data.flagShadow == 1 && statusSwitchAccount) {
        //   this.statusSwitch = true
        // }
        this.customerName = `${data.customerCode} - ${data.customerName}`;
        this.reffNo = data.refNo.toString();
        this.parentRef = data.parentRef;
        this.invoiceNo = data.parentRef;
        this.endorsementNo = data.endorsementNo;
        this.seqNo = data.seqNo;
        this.riskCode =
          data.invoiceClass.riskCode + " - " + data.invoiceClass.riskName;

        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == data.invoiceClass.riskCode
        );
        if (filteredMultiInsured.length > 0 && data.invoiceType == 1) {
          this.setEngineeringFee(true);
        } else {
          this.setEngineeringFee(false);
        }

        if (data.invoiceType === 1) {
          this.defaultType = "Broking";
        } else if (data.invoiceType === 2) {
          this.defaultType = "Fee";
        } else if (data.invoiceType === 3) {
          this.defaultType = "Open Cover (Binder)";
        } else if (data.invoiceType === 4) {
          this.defaultType = "Endorsement";
        } else if (data.invoiceType === 7) {
          this.defaultType = "Commission";
        } else if (data.invoiceType === 6) {
          this.defaultType = "Cancellation";
        } else {
          this.defaultType = "Open Cover (Binder)";
        }
        if (data.invoiceAgentList.length !== 0) {
          this.statusAgent = true;
          let listAgent = [{ agentName: "All Agent" }];
          data.invoiceAgentList.forEach((element) => {
            listAgent.push(element);
          });
          this.dataListAgent = listAgent;
        }
        // this.defaultType = data.invoiceType === 1 ? 'Broking' : 'Fee'
        this.addState(data);
        let premiumClientInstallment =
          Number(this.invoice.toClientPremium) +
          Number(this.invoice.toClientAdm);
        this.setPremiumClientInstallment(premiumClientInstallment);
        let insurance = data.invoiceInsurance.insuranceSharingList;
        if (insurance !== null) {
          let dataListInsurance = [{ insuranceName: "All Underwriter" }];
          insurance.forEach((element) => {
            dataListInsurance.push(element);
          });

          this.dataClosingInsurance = dataListInsurance;
          this.setInsuranceSharingListUnder(this.convertForUnder(insurance)); // For List Under Installment
          let admincostAmount = 0;
          let stampdutyAmount = 0;
          let efAmount = 0;
          let grossAmount = 0;
          insurance.forEach((element) => {
            admincostAmount = admincostAmount + element.admincostAmount;
            stampdutyAmount = stampdutyAmount + element.stampdutyAmount;
            efAmount = efAmount + element.efAmount;
            grossAmount = grossAmount + element.grossAmount;
          });
          this.setTotalAdminCost(admincostAmount);
          this.setTotalStampDuty(stampdutyAmount);
          this.setTotalEFAMount(efAmount);
          this.setTotalGross(grossAmount);
        }
        if (this.invoice.idEmployee !== 0) {
          await API.get(
            "/user/api/user-management/user/employee/" +
              this.invoice.idEmployee.toString()
          ).then((resp) => {
            if (resp.data.code === 0) {
              let data = resp.data.data;
              let personal = data.personalData;
              let obj = {
                id: personal.id,
                idDepartmentCode: personal.idDepartmentCode,
                idCompany: personal.idCompany,
                fullname: personal.fullname,
                nickname: personal.nickname ? personal.nickname : "",
              };
              this.setDataEmployee(obj);
            }
          });
        }
        if(this.invoice.segmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"))
          if (masterData.BUSINESS_SEGMENT) {
            const data = masterData.BUSINESS_SEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.segmentCode
            );
            this.setDataSegment(filter[0])
          } else {
            API.get("/config/api/master-parameter/module/BUSINESS_SEGMENT").then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data
                let filter = data.filter(
                  (value) => value.code == this.invoice.segmentCode
                );
                this.setDataSegment(filter[0])
              }
            });
          }
        }
        if(this.invoice.subSegmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"))
          if (this.invoice.segmentCode === this.invoice.subSegmentCode) {
            let obj = {
              codeAndName: this.invoice.subSegmentCode,
              code: this.invoice.subSegmentCode
            }
            this.setDataSubSegment(obj)
          } else if (masterData.BUSINESS_SUBSEGMENT) {
            const data = masterData.BUSINESS_SUBSEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.subSegmentCode
            );
            this.setDataSubSegment(filter[0])
          } else {
            API.get("/config/api/master-parameter/module/BUSINESS_SUBSEGMENT").then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data
                let filter = data.filter(
                  (value) => value.code == this.invoice.subSegmentCode
                );
                this.setDataSubSegment(filter[0])
              }
            });
          }
        }
        if(data.agentId) {
          API.get(
            "clients/api/account/agent/" + data.agentId
            ).then((resp) => {
              if (resp.data.code == 0) {
                let codeAndName = `${resp.data.data.code} - ${resp.data.data.name}`; 
                this.agent = codeAndName; 
              }
            });
        }
        this.setCommission(data.invoiceValue.variousCommissionOut);
        this.setTotalIncome(data.invoiceValue.incomeTotal);
        this.typeDisclosure = data.agentType ? 0 : 1;
        this.sourceIncome = data.incomeType == "brokerage" ? 0 : 1;
      }
      let populatedData = {dataClosingInsurance: this.dataClosingInsurance}
      this.$emit("populated", populatedData);
    },
    ...mapActions({
      resetState: types.ACTION_RESET_STATE,
      setCustomerId: types.ACTION_CUSTOMER_ID,
      setCustomerName: types.ACTION_CUSTOMER_NAME,
      setInvoiceType: types.ACTION_INVOICE_TYPE,
      setReffNo: types.ACTION_REFF_NO,
      setIdCoverNote: types.ACTION_ID_COVER_NOTE,
      setErrorCustomer: types.ACTION_REQUIRED_CUSTOMER,
      setErrorClassOfRisk: types.ACTION_REQUIRED_CLASS_OF_RISK,
      setErrorPeriodEnd: types.ACTION_REQUIRED_INSURENCE_PERIODE_END,
      setErrorPeriodFrom: types.ACTION_REQUIRED_INSURENCE_PERIODE_FROM,
      setErrorActiveDate: types.ACTION_REQUIRED_ACTIVE_DATE,
      setErrorBusinessCategory: types.ACTION_REQUIRED_BUSINESS_CATEGORY,
      addState: types.ACTION_ADD_STATE,
      setStatusPage: types.ACTION_STATUS_PAGE,
      setIdInvoice: types.ACTION_ID_INVOICE,
      setDataEmployee: types.ACTION_DATA_EMPLOYEE,
      setDataSegment: types.ACTION_DATA_SEGMENT,
      setDataSubSegment: types.ACTION_DATA_SUB_SEGMENT,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setInsuranceSharingListUnder: types.ACTION_INSURANCE_SHARING_LIST_UNDER,
      setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      setTotalEFAMount: types.ACTION_TOTAL_EF_AMOUNT,
      setTotalGross: types.ACTION_TOTAL_GROSS,
      setEngineeringFee: types.ACTION_STATUS_ENGINEERING_FEE,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setStatusSubmit: types.ACTION_STATUS_SUBMIT,
      setCommission: types.ACTION_COMMISSION,
      setTotalIncome: types.ACTION_TOTAL_INCOME,
    }),
    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_EF&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

        // cek apakah yang terpilih adalah bisa multiinsured
        // let filteredMultiInsured = this.riskMultiInsuredList.filter(
        //   (i) => i.riskCode == this.invoice.riskCode
        // );
        // if (filteredMultiInsured.length > 0) {
        //   this.statusEngineeringFee = true;
        //   this.setEngineeringFee(true)
        // } else {
        //   this.setEngineeringFee(false)
        // }
      }
    },
    setDataCustomer(item) {
      if (item) {
        this.setErrorCustomer(false);
        this.setCustomerId(item.id);
        this.setCustomerName(item.name);
        this.getReffNo(item.id);
      }
    },
    setDataReffNo(item) {
      if (item) {
        this.setReffNo(item.transactionIdKey);
        this.setIdCoverNote(item.id);
      }
    },
    async setDataInvoiceType(item) {
      await this.resetState();
      await this.setInvoiceType(item.id);
    },
    async getCustomer() {
      this.search.customer.loading = true;
      let resp = await API.get("/clients/api/account/client?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.customer.loading = false;
        const data = resp.data.data;
        this.search.customer.items = data;
      }
    },
    async getReffNo(accountId) {
      this.search.reffNo.loading = true;
      let resp = await API.get(
        "broking/api/broking/invoice/list-reff-no?accountId.equals=" + accountId
      );
      // let resp = await API.get("/broking/api/broking/placement/?accountId.equals=" + accountId);
      if (resp.data.code === 0) {
        this.search.reffNo.loading = false;
        const data = resp.data.data;
        this.search.reffNo.items = data;
      }
    },
    async submit() {
      this.setStatusSubmit(true);
      if (this.invoice.customerId == "" && this.invoice.customerName == "") {
        this.formHasErrors = true;
        this.setErrorCustomer(true);
      }
      if (this.invoice.riskCode == "" && this.invoice.riskName == "") {
        this.formHasErrors = true;
        this.setErrorClassOfRisk(true);
      }
      if (this.invoice.insurancePeriodEnd == "") {
        this.formHasErrors = true;
        this.setErrorPeriodEnd(true);
      }
      if (this.invoice.insurancePeriodFrom == "") {
        this.formHasErrors = true;
        this.setErrorPeriodFrom(true);
      }
      if (this.invoice.attachActiveDate == "") {
        this.formHasErrors = true;
        this.setErrorActiveDate(true);
      }
      if (this.invoice.businessCategory == "") {
        this.formHasErrors = true;
        this.setErrorBusinessCategory(true);
      }
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doProcess();
      } else {
        this.setStatusSubmit(false);
        this.formHasErrors = false;
      }
    },
    async doProcess() {
      let paramJSON = {
        invoiceManagement: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          invoiceClass: {
            attachActiveDate:
              this.invoice.attachActiveDate == ""
                ? null
                : this.invoice.attachActiveDate,
            businessCategory:
              this.invoice.businessCategory == ""
                ? null
                : this.invoice.businessCategory,
            businessName:
              this.invoice.businessName == ""
                ? null
                : this.invoice.businessName,
            description:
              this.invoice.description == "" ? null : this.invoice.description,
            insurancePeriodEnd:
              this.invoice.insurancePeriodEnd == ""
                ? null
                : this.invoice.insurancePeriodEnd,
            insurancePeriodFrom:
              this.invoice.insurancePeriodFrom == ""
                ? null
                : this.invoice.insurancePeriodFrom,
            insured: this.invoice.insured == "" ? null : this.invoice.insured,
            location:
              this.invoice.location == "" ? null : this.invoice.location,
            masterPolicy:
              this.invoice.masterPolicy == ""
                ? null
                : this.invoice.masterPolicy,
            policyNo:
              this.invoice.policyNo == "" ? null : this.invoice.policyNo,
            riskCode:
              this.invoice.riskCode == "" ? null : this.invoice.riskCode,
            riskName:
              this.invoice.riskName == "" ? null : this.invoice.riskName,
          },
          invoiceInstallment: {
            docType: this.invoice.docType == "" ? null : this.invoice.docType,
            filename:
              this.invoice.filename == "" ? null : this.invoice.filename,
            toClientInstallmentList: this.invoice.toClientInstallmentList,
            toClientTotalAdminCost:
              this.invoice.toClientTotalAdminCost == 0
                ? null
                : this.invoice.toClientTotalAdminCost,
            toClientTotalAmount:
              this.invoice.toClientTotalAmount == 0
                ? null
                : this.invoice.toClientTotalAmount,
            toClientTotalGrossAmount:
              this.invoice.toClientTotalGrossAmount == 0
                ? null
                : this.invoice.toClientTotalGrossAmount,
            toClientTotalPercentage:
              this.invoice.toClientTotalPercentage == 0
                ? null
                : this.invoice.toClientTotalPercentage,
            toClientTotalStampdutyAmount:
              this.invoice.toClientTotalStampdutyAmount == 0
                ? null
                : this.invoice.toClientTotalStampdutyAmount,
            toClientTotalTotalAmount:
              this.invoice.toClientTotalTotalAmount == 0
                ? null
                : this.invoice.toClientTotalTotalAmount,
            toClientTotalVatAmount:
              this.invoice.toClientTotalVatAmount == 0
                ? null
                : this.invoice.toClientTotalVatAmount,
            toUnderwriterInstallmentList:
              this.invoice.toUnderwriterInstallmentList,
            toUnderwriterTotalAdminCost:
              this.invoice.toUnderwriterTotalAdminCost == 0
                ? null
                : this.invoice.toUnderwriterTotalAdminCost,
            toUnderwriterTotalAmount:
              this.invoice.toUnderwriterTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalAmount,
            toUnderwriterTotalBrokerageAmount:
              this.invoice.toUnderwriterTotalBrokerageAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalBrokerageAmount,
            toUnderwriterTotalGrossAmount:
              this.invoice.toUnderwriterTotalGrossAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalGrossAmount,
            toUnderwriterTotalPercentage:
              this.invoice.toUnderwriterTotalPercentage == 0
                ? null
                : this.invoice.toUnderwriterTotalPercentage,
            toUnderwriterTotalPph23Amount:
              this.invoice.toUnderwriterTotalPph23Amount == 0
                ? null
                : this.invoice.toUnderwriterTotalPph23Amount,
            toUnderwriterTotalStampdutyAmount:
              this.invoice.toUnderwriterTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalAmount,
            toUnderwriterTotalTotalAmount:
              this.invoice.toUnderwriterTotalTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalTotalAmount,
            toUnderwriterTotalVatAmount:
              this.invoice.toUnderwriterTotalVatAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalVatAmount,
          },
        },
      };
      this.dataParam = paramJSON;
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/invoice-management/update", param).then((resp) => {
        if (resp.data.code == 0) {
          this.setStatusSubmit(false);
          this.dialog.success = true;
          this.dialog.text = "Your Data has been Saved";
        } else {
          this.setStatusSubmit(false);
          this.dialog.text = "Your Data Failed to Save";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    back() {
      this.dialog = { show: false, success: false, error: false, text: "" };
      this.$router.replace({ name: "invoice-management-list" });
      this.resetState();
      localStorage.removeItem("from");
    },
    change() {
      this.statusPage = "edit";
      this.setStatusPage("edit");
      this.$router.replace({
        name: "invoice-management-edit",
        query: { ...this.$route.query, statusPage: "edit" },
      });
    },
    cancel() {
      this.dialog = { show: false, success: false, error: false, text: "" };
      this.statusPage = "view";
      this.setStatusPage("view");
      this.$router.replace({
        name: "invoice-management-edit",
        query: { ...this.$route.query, statusPage: "view" },
      });
      this.getInvoiceById(this.$route.query.id);
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    generateClientFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {
        fileType: typeFile,
        flagInvoice: "CLIENT",
        idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, "CLIENT");
        } else {
          if (typeFile === "pdf") {
            this.dialog.text = "Generate PDF Failed";
          } else {
            this.dialog.text = "Generate Doc Failed";
          }
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    generateClosingFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {};
      if (this.closingInsurance.insuranceName !== "All Underwriter") {
        paramJSON = {
          fileType: typeFile,
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idUnderwriter: this.closingInsurance.insuranceId,
          uploadAll: "false",
        };
      } else {
        paramJSON = {
          fileType: typeFile,
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          uploadAll: "true",
        };
      }
      let param = JSON.stringify(paramJSON);
      API.post(
        "/broking/api/broking/invoice/generate-closing-instruction",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.generateFile(resp.data.data, resp.data.fileType, "CLOSING");
        } else {
          if (typeFile === "pdf") {
            this.dialog.text = "Generate PDF Failed";
          } else {
            this.dialog.text = "Generate Doc Failed";
          }
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    generateCreditFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {};
      if (this.dataAgent.agentName !== "All Agent") {
        paramJSON = {
          fileType: typeFile,
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idAgent: this.dataAgent.agentId,
          uploadAll: "false",
        };
      } else {
        paramJSON = {
          fileType: typeFile,
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          uploadAll: "true",
        };
      }
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-credit-fee", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            this.generateFile(resp.data.data, resp.data.fileType, "CREDIT");
          } else {
            if (typeFile === "pdf") {
              this.dialog.text = "Generate PDF Failed";
            } else {
              this.dialog.text = "Generate Doc Failed";
            }
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    generateCopyFile(typeFile) {
      this.dialog.show = true;
      let paramJSON = {
        fileType: typeFile,
        idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-copy", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            this.generateFile(resp.data.data, resp.data.fileType, "COPY");
          } else {
            if (typeFile === "pdf") {
              this.dialog.text = "Generate PDF Failed";
            } else {
              this.dialog.text = "Generate Doc Failed";
            }
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    generateFile(base64, typeFile, status) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        var ascii = binaryString.charCodeAt(i);
        bytes[i] = ascii;
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      if (status == "CLIENT")
        link.setAttribute(
          "download",
          "INVOICE TO CLIENT " +
            this.invoice.invoiceNo +
            " - " +
            this.invoice.customerName +
            typeFile
        ); //any other extension
      if (status == "CLOSING")
        link.setAttribute(
          "download",
          "CLOSING INSTRUCTION " +
            this.invoice.invoiceNo +
            " - " +
            this.invoice.customerName +
            typeFile
        ); //any other extension
      if (status == "CREDIT")
        link.setAttribute(
          "download",
          "CREDIT NOTE TO AGENT " +
            this.invoice.invoiceNo +
            " - " +
            this.invoice.customerName +
            typeFile
        ); //any other extension
      if (status == "COPY")
        link.setAttribute(
          "download",
          "INVOICE COPY " +
            this.invoice.invoiceNo +
            " - " +
            this.invoice.customerName +
            typeFile
        ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    previewClient() {
      this.dialog.show = true;
      let paramJSON = {
        fileType: "pdf",
        flagInvoice: "CLIENT",
        idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate", param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialog.show = false;
          this.previewFile(resp.data.data);
        } else {
          this.dialog.text = "Preview File Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    previewClosing() {
      let paramJSON = {};
      if (this.closingInsurance.insuranceName !== "All Underwriter") {
        paramJSON = {
          fileType: "pdf",
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idUnderwriter: this.closingInsurance.insuranceId,
          uploadAll: "false",
        };
        this.dialog.show = true;
        let param = JSON.stringify(paramJSON);
        API.post(
          "/broking/api/broking/invoice/generate-closing-instruction",
          param
        ).then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            this.previewFile(resp.data.data);
          } else {
            this.dialog.text = "Preview File Failed";
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        });
      } else {
        this.generateClosingFile("pdf");
      }
    },
    previewCredit() {
      let paramJSON = {};
      if (this.dataAgent.agentName !== "All Agent") {
        paramJSON = {
          fileType: "pdf",
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          idAgent: this.dataAgent.agentId,
          uploadAll: "false",
        };
        this.dialog.show = true;
        let param = JSON.stringify(paramJSON);
        API.post(
          "/broking/api/broking/invoice/generate-credit-fee",
          param
        ).then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            this.previewFile(resp.data.data);
          } else {
            this.dialog.text = "Preview File Failed";
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        });
      } else {
        this.generateCreditFile("pdf");
      }
    },
    previewCopy() {
      this.dialog.show = true;
      let paramJSON = {
        fileType: "pdf",
        idInvoice: this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/generate-copy", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.dialog.show = false;
            this.previewFile(resp.data.data);
          } else {
            this.dialog.text = "Preview File Failed";
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    clickGenerateClient(item) {
      if (item.name == "Generate PDF") {
        this.generateClientFile("pdf");
      } else {
        this.generateClientFile("docx");
      }
    },
    clickGenerateClosing(item) {
      if (item.name == "Generate PDF") {
        this.generateClosingFile("pdf");
      } else {
        this.generateClosingFile("docx");
      }
    },
    clickGenerateCredit(item) {
      if (item.name == "Generate PDF") {
        this.generateCreditFile("pdf");
      } else {
        this.generateCreditFile("docx");
      }
    },
    clickGenerateCopy(item) {
      if (item.name == "Generate PDF") {
        this.generateCopyFile("pdf");
      } else {
        this.generateCopyFile("docx");
      }
    },
    convertForUnder(data) {
      let array = [{ insuranceName: "ALL" }];
      data.forEach((element) => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: element.amount,
          brokerage: element.brokerage,
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
  },
};
</script>

<style scoped>
.marginLeftRow {
  margin-left: -4px !important
}
.marginLeftField {
  margin-left: -6px !important
}
.colorLine .v-text-field--outlined >>> fieldset {
  border-color: #00529b;
}
.colorLine >>> .v-select .v-select__selection--comma {
  color: #00529b;
}
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  position: fixed;
  z-index: 2;
  margin-top: 3px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>
