
<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row class="mb-5">
        <v-col cols="12">
          <v-card>
            <isttoolbar
                title="Client"
                class="mb-2"
                dark
                color="primary"
              >
              <v-spacer />
              <!-- <p class="title mr-15 mt-4" >Premium : {{formatMoney(Number(invoice.premiumClientInstallment))}}</p> -->
            </isttoolbar>
            <v-data-table
              :headers="headers"
              :items="dataClient"
              :loading="clientLoading"
              hide-default-footer
              class="elevation-1"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item,idx) in items" :key="idx">
                    <td v-for="(header,key) in headers" :key="key" :item="item">
                      <div align="center" justify="center" v-if="header.value == 'no'">
                        {{item[header.value]}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'dueDate' && !item.edit">
                        {{item[header.value]}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'percentage' && !item.edit">
                        {{item[header.value]}} %
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amount' && !item.edit">
                          {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amountPaid' && !item.edit">
                          {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amountPaidPercent' && !item.edit">
                          {{formatMoney(Number(item[header.value]))}} %
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'paymentDate' && !item.edit">
                        {{item[header.value]}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'dueDate' && item.edit">
                        <v-menu
                          v-model="item.date"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="editClient.dueDate"
                              ref="entryDateToClientEdit"
                              name="entryDateToClientEdit"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="item.date = !item.date"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="new Date().toISOString()"
                            v-model="editClient.dueDate"
                            no-title
                            @input="item.date = false"
                          ></v-date-picker>
                        </v-menu>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'percentage' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          ref="percentageToClientEdit"
                          name="percentageToClientEdit"
                          v-model="editClient.percentage"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusClientEdit= true"
                          @blur="statusClientEdit= false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amount' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          ref="amountToClientEdit"
                          name="amountToClientEdit"
                          v-model="editClient.amount"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'totalAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'action' && invoice.statusPage !== 'view'">
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          class="mr-2"
                          @click="clickPencil(item)"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="!item.edit"
                          width="30"
                          height="30"
                          outlined
                          icon
                          @click="clickMinus(item)"
                        >
                            <v-icon>mdi-minus</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCheckEdit(item)"
                          outlined
                          icon
                          :disabled="statusCheckEdit"
                          class="mr-2"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          v-show="item.edit"
                          width="30"
                          height="30"
                          @click="clickCloseEdit(item)"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </div>
                    </td>
                  </tr>
                  <tr v-show="invoice.statusPage !== 'view'">
                    <td v-for="header in headers" :key="header.text">
                      <v-row align="center" justify="center" v-if="header.value == 'action'">
                        <v-btn
                          width="30"
                          height="30"
                          v-show="!statusCreateClient"
                          @click="clickPlus"
                          outlined
                          icon
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateClient"
                          @click="clickCheck"
                          outlined
                          icon
                          class="mr-2"
                          :disabled="statusCheck"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateClient"
                          @click="clickClose"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </v-row>
                      <v-row align="center" justify="center" v-if="header.value == 'dueDate' && statusCreateClient">
                        <v-menu
                          v-model="statusDateClient"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="header.add"
                              ref="entryDateToClient"
                              name="entryDateToClient"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="statusDateClient = !statusDateClient"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="minDateClient"
                            v-model="header.add"
                            no-title
                            @input="statusDateClient = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-row>
                      <v-row align="center" justify="center" v-if="header.value == 'percentage'">
                        <v-text-field
                          v-show="statusCreateClient"
                          hide-details="auto"
                          ref="percentageToClient"
                          name="percentageToClient"
                          v-model="header.add"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusClient= true"
                          @blur="statusClient= false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                      <v-row align="center" justify="center" v-if="header.value == 'amount'">
                        <v-text-field
                          v-show="statusCreateClient"
                          hide-details="auto"
                          ref="amountToClient"
                          name="amountToClient"
                          v-model="header.add"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                      <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                        <p class="title mt-3" v-show="statusCreateClient">{{formatMoney(Number(admincostAmount))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                        <p class="title mt-3" v-show="statusCreateClient">{{formatMoney(Number(stampdutyAmount))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                        <p class="title mt-3" v-show="statusCreateClient">{{formatMoney(Number(vatAmount))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                        <p class="title mt-3" v-show="statusCreateClient">{{formatMoney(Number(grossAmount))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'totalAmount'">
                        <p class="title mt-3" v-show="statusCreateClient">{{formatMoney(Number(total))}}</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td v-for="header in headers" :key="header.text">
                      <v-row align="center" justify="center" v-if="header.value == 'dueDate'">
                        <p class="title mt-3" >Total</p>
                      </v-row>
                      <div align="center" justify="center" v-if="header.value == 'percentage'">
                        <p class="title mt-3">{{totalPercentage}} %</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amount'">
                        <p class="title mt-3">{{formatMoney(Number(totalAmount))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amountPaid'">
                        <p class="title mt-3">{{formatMoney(Number(totalAmountPaid))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amountPaidPercent'">
                        <p class="title mt-3">{{formatMoney(Number(totalAmountPaidPercent))}} %</p>
                      </div>

                      <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalAdminCost))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalStampDuty))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalVAT))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalGross))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'totalAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalTotalAmount))}}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card>
            <isttoolbar
                title="Underwriter:"
                class="mb-2"
                dark
                color="primary"
              >
              <v-row>
                <v-col cols="5">
                  <v-select
                    :items="invoice.insuranceSharingListUnder"
                    class="ml-3"
                    solo
                    flat
                    dense
                    full-width
                    color="primary"
                    background-color="primary"
                    hide-details="auto"
                    v-model="selectInsurance"
                    @input="clickSelectInsurance"
                    return-object
                    item-text="insuranceName"
                    name="insuranceListUnder"
                    ref="insuranceListUnder"
                    label=""
                    :disabled="dataUnder.length == 0"
                  ></v-select>
                </v-col>
              </v-row>
              <v-spacer />
              <!-- <p class="title mr-15 mt-4" >Premium : {{formatMoney(Number(invoice.toUnderwriterPremium))}}</p> -->
            </isttoolbar>
            <v-data-table
              :headers="headersUnder"
              :items="dataUnder"
              :loading="insuranceLoading"
              hide-default-footer
              class="elevation-1"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item,idx) in items" :key="idx">
                    <td v-for="(header,key) in headersUnder" :key="key" :item="item">
                      <div align="center" justify="center" v-if="header.value == 'no'">
                        {{item[header.value]}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'dueDate' && !item.edit">
                        {{item[header.value]}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'percentage' && !item.edit">
                        {{item[header.value]}} %
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amount' && !item.edit">
                          {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amountPaid' && !item.edit">
                          {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'paymentDate' && !item.edit">
                        {{item[header.value]}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'dueDate' && item.edit">
                        <v-menu
                          v-model="item.date"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="editUnder.dueDate"
                              ref="entryDateToUnderEdit"
                              name="entryDateToUnderEdit"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="item.date = !item.date"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="new Date().toISOString()"
                            v-model="editUnder.dueDate"
                            no-title
                            @input="item.date = false"
                          ></v-date-picker>
                        </v-menu>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'percentage' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          ref="percentageToUnderEdit"
                          name="percentageToUnderEdit"
                          v-model="editUnder.percentage"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusUnderEdit= true"
                          @blur="statusUnderEdit= false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amount' && item.edit">
                        <v-text-field
                          hide-details="auto"
                          ref="amountToUnderEdit"
                          name="amountToUnderEdit"
                          v-model="editUnder.amount"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'brokerageAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                        <p :class="Number(item[header.value]) < 0 ? 'mt-4 red--text' : 'mt-4'">
                          {{formatMoney(Number(item[header.value]))}}
                        </p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'pph23Amount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'totalAmount'">
                        {{formatMoney(Number(item[header.value]))}}
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'action' && !statusALL">
                        <v-menu bottom left :offset-x="true">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on">
                              <v-icon class="mr-0">mdi-dots-vertical</v-icon>
                            </v-btn>
                          </template>
                          <v-list>
                            <v-list-item @click="getInsuranceDetail(item)">
                              <v-list-item-title>View</v-list-item-title>
                            </v-list-item>
                          </v-list>
                        </v-menu>
                      </div>
                    </td>
                  </tr>
                  <tr v-show="!statusALL && invoice.statusPage !== 'view'">
                    <td v-for="header in headersUnder" :key="header.text">
                      <v-row align="center" justify="center" v-if="header.value == 'action'">
                        <v-btn
                          width="30"
                          height="30"
                          v-show="!statusCreateUnder"
                          @click="clickPlusUnder"
                          outlined
                          icon
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateUnder"
                          @click="clickCheckUnder"
                          outlined
                          icon
                          class="mr-2"
                          :disabled="statusCheckUnder"
                        >
                          <v-icon>mdi-check</v-icon>
                        </v-btn>
                        <v-btn
                          width="30"
                          height="30"
                          v-show="statusCreateUnder"
                          @click="clickCloseUnder"
                          outlined
                          icon
                        >
                          <v-icon>mdi-window-close</v-icon>
                        </v-btn>
                      </v-row>
                      <v-row align="center" justify="center" v-if="header.value == 'dueDate' && statusCreateUnder">
                        <v-menu
                          v-model="statusDateUnder"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{}">
                            <v-text-field
                              v-model="header.add"
                              ref="entryDateToUnder"
                              name="entryDateToUnder"
                              label="Select Date"
                              persistent-hint
                              hide-details="auto"
                              flat
                              outlined
                              dense
                              solo
                            >
                              <v-btn
                                slot="append"
                                @click="statusDateUnder = !statusDateUnder"
                                text
                                icon
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            :min="minDateUnder"
                            v-model="header.add"
                            no-title
                            @input="statusDateUnder = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-row>
                      <v-row align="center" justify="center" v-if="header.value == 'percentage'">
                        <v-text-field
                          v-show="statusCreateUnder"
                          hide-details="auto"
                          ref="percentageToUnder"
                          name="percentageToUnder"
                          v-model="header.add"
                          suffix="%"
                          solo
                          flat
                          dense
                          outlined
                          @focus="statusUnder= true"
                          @blur="statusUnder= false"
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                      <v-row align="center" justify="center" v-if="header.value == 'amount'">
                        <v-text-field
                          v-show="statusCreateUnder"
                          hide-details="auto"
                          ref="amountToUnder"
                          name="amountToUnder"
                          v-model="header.add"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          class="ma-0 input-right"
                        ></v-text-field>
                      </v-row>
                      <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                        <p class="title mt-3" v-show="statusCreateUnder">{{formatMoney(Number(admincostAmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                        <p class="title mt-3" v-show="statusCreateUnder">{{formatMoney(Number(stampdutyAmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'brokerageAmount'">
                        <p class="title mt-3" v-show="statusCreateUnder">{{formatMoney(Number(brokerageAmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                        <p :class="vatAmountUnder < 0 ? 'title mt-3 red--text' : 'title mt-3'" v-show="statusCreateUnder" >{{formatMoney(Number(vatAmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'pph23Amount'">
                        <p class="title mt-3" v-show="statusCreateUnder">{{formatMoney(Number(pph23AmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                        <p class="title mt-3" v-show="statusCreateUnder">{{formatMoney(Number(grossAmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'totalAmount'">
                        <p class="title mt-3" v-show="statusCreateUnder">{{formatMoney(Number(netTotalUnder))}}</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td v-for="header in headersUnder" :key="header.text">
                      <v-row align="center" justify="center" v-if="header.value == 'dueDate'">
                        <p class="title mt-3" >Total</p>
                      </v-row>
                      <div align="center" justify="center" v-if="header.value == 'percentage'">
                        <p class="title mt-3">{{totalPercentageUnder}} %</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'amount'">
                        <p class="title mt-3">{{formatMoney(Number(totalAmountUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'admincostAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalAdminCostUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'stampdutyAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalStampDutyUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'brokerageAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalBrokerageUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'vatAmount'">
                        <p :class="totalVATUnder < 0 ? 'title mt-3 red--text' : 'title mt-3'" >{{formatMoney(Number(totalVATUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'pph23Amount'">
                        <p class="title mt-3">{{formatMoney(Number(totalPPhUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'grossAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalGrossUnder))}}</p>
                      </div>
                      <div align="center" justify="center" v-if="header.value == 'totalAmount'">
                        <p class="title mt-3">{{formatMoney(Number(totalTotalAmountUnder))}}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="dialogToInsurance" width="600">
      <v-card flat>
        <v-toolbar flat dark color="primary" dense>
          <v-toolbar-title>Detail To Insurance</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn text dark @click="dialogToInsurance = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-data-table
          :headers="detailtoInsuranceTable"
          :items="detailtoInsurance"
          class="elevation-1"
          :items-per-page="-1"
          hide-default-footer
          :loading="toInsuranceDetailLoading"
        >
          <template v-slot:[`item.uwCode`]="{ item }">
            {{ item.uwCode + " - " + item.uwName }}
          </template>
          <template v-slot:[`item.amount`]="{ item }">
            {{ formatMoney(Number(item.amount)) }}
          </template>
          <template v-slot:[`item.amountPaid`]="{ item }">
            {{ formatMoney(Number(item.amountPaid)) }}
          </template>
          <template v-slot:[`body.append`]>
            <tr>
              <td
                v-for="header in detailtoInsuranceTable"
                :key="header.text"
              >
                <span class="title" v-if="header.value == 'uwCode'">
                  Total
                </span>
                <span
                  class="title"
                  v-else-if="header.value == 'amount'"
                >
                  {{ formatMoney(Number(totalAmountDetailInsurance)) }}
                </span>
                <span
                  class="title"
                  v-else-if="header.value == 'amountPaid'"
                >
                  {{
                    formatMoney(Number(totalAmountPaidDetailInsurance))
                  }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>
        <!-- <div style="flex: 1 1 auto;"></div> -->
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogValidate.show" width="unset" min-width="100px" @click:outside="dialogValidate.show = false, dialogValidate.text = ''">
      <v-card>
        <v-card-title
          class="justify-center"
          style="word-break:inherit;"
          >{{dialogValidate.text}}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="dialogValidate.show = false, dialogValidate.text = ''"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from '@/store/modules/invoice/type';
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import { mapState, mapActions } from 'vuex'
import {VMoney} from 'v-money'
import axios from "axios";

export default {
  components: {
    isttoolbar
  },
  created() {
    // let client = this.invoice.toClientInstallmentList
    // let arrayClient = []
    // client.forEach(element => {
    //   arrayClient.push({
    //     date: false,
    //     edit: false,
    //     admincostAmount: element.admincostAmount,
    //     amount: this.formatMoney(element.amount),
    //     dueDate: element.dueDate,
    //     grossAmount: element.grossAmount,
    //     no: element.no,
    //     percentage: Number(element.percentage),
    //     stampdutyAmount: element.stampdutyAmount,
    //     totalAmount: element.totalAmount,
    //     vatAmount: element.vatAmount
    //   })
    // });
    // this.dataClient = arrayClient
    // this.totalPercentage = this.invoice.toClientTotalPercentage
    // this.totalAmount = this.invoice.toClientTotalAmount
    // this.totalAdminCost = this.invoice.toClientTotalAdminCost
    // this.totalStampDuty = this.invoice.toClientTotalStampdutyAmount
    // this.totalVAT = this.invoice.toClientTotalVatAmount
    // this.totalGross = this.invoice.toClientTotalGrossAmount
    // this.totalTotalAmount = this.invoice.toClientTotalTotalAmount

    // let under = this.invoice.toUnderwriterInstallmentList
    // let arrayUnder = []
    // under.forEach(element => {
    //   arrayUnder.push({
    //     date: false,
    //     edit: false,
    //     admincostAmount: element.admincostAmount,
    //     amount: this.formatMoney(element.amount),
    //     dueDate: element.dueDate,
    //     grossAmount: element.grossAmount,
    //     no: element.no,
    //     percentage: Number(element.percentage),
    //     stampdutyAmount: element.stampdutyAmount,
    //     brokerageAmount: element.brokerageAmount,
    //     vatAmount: element.vatAmount,
    //     pph23Amount: element.pph23Amount,
    //     totalAmount: element.totalAmount
    //   })
    // });
    // this.dataUnder = arrayUnder
    // this.totalPercentageUnder = this.invoice.toUnderwriterTotalPercentage
    // this.totalAmountUnder = this.invoice.toUnderwriterTotalAmount
    // this.totalAdminCostUnder = this.invoice.toUnderwriterTotalAdminCost
    // this.totalStampDutyUnder = this.invoice.toUnderwriterTotalStampdutyAmount
    // this.totalBrokerageUnder = this.invoice.toUnderwriterTotalBrokerageAmount
    // this.totalVATUnder = this.invoice.toUnderwriterTotalVatAmount
    // this.totalPPhUnder = this.invoice.toUnderwriterTotalPph23Amount
    // this.totalGrossUnder = this.invoice.toUnderwriterTotalGrossAmount
    // this.totalTotalAmountUnder = this.invoice.toUnderwriterTotalTotalAmount
    // this.setToLocalStorage() // For Init VALUE List Underwriter
  },
  directives: {money: VMoney},
  data: () => ({
    amount: 0,
    statusFocus: false,
    money: {
      decimal: '.',
      thousands: ',',
      prefix: '',
      suffix: '',
      precision: 2,
      masked: false
    },
    headers: [
      {
        text: "Installment",
        align: "center",
        sortable: false,
        add: "",
        value: "no",
        width: '50px'
      },
      {
        text: "Due Date",
        align: "center",
        sortable: false,
        add: "",
        value: "dueDate",
        width: '130px'
      },
      {
        text: "Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "percentage",
        width: '130px'
      },
      {
        text: "Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "amount",
        width: '180px'
      },
      {
        text: "Amount Paid",
        align: "center",
        sortable: false,
        add: 0,
        value: "amountPaid",
        width: '180px'
      },
      {
        text: "Amount Paid %",
        align: "center",
        sortable: false,
        add: 0,
        value: "amountPaidPercent",
        width: '180px'
      },
      {
        text: "Payment Date",
        align: "center",
        sortable: false,
        add: "",
        value: "paymentDate",
        width: '130px'
      },
    ],
    clientLoading: false,
    dataClient: [
      // {
      //   admincostAmount: 0,
      //   amount: 0,
      //   dueDate: "string",
      //   grossAmount: 0,
      //   no: 1,
      //   percentage: 0,
      //   stampdutyAmount: 0,
      //   totalAmount: 0,
      //   vatAmount: 0,
      //   edit: false,
      //   date: false
      // }
    ],
    editClient: {},
    minDateClient: new Date().toISOString(),
    statusClient: false,
    statusClientEdit: false,
    statusDateClient: false,
    statusCreateClient: false,
    admincostAmount: 0,
    stampdutyAmount: 0,
    vatAmount: 0,
    grossAmount: 0,
    total: 0,
    totalPercentage: 0,
    totalAmount: 0,
    totalAmountPaid: 0,
    totalAmountPaidPercent: 0,
    totalAdminCost: 0,
    totalStampDuty: 0,
    totalVAT: 0,
    totalGross: 0,
    totalTotalAmount: 0,
    headersUnder: [
      {
        text: "Installment",
        align: "center",
        sortable: false,
        add: "",
        value: "no",
        width: '50px'
      },
      {
        text: "Due Date",
        align: "center",
        sortable: false,
        add: "",
        value: "dueDate",
        width: '130px'
      },
      {
        text: "Percentage",
        align: "center",
        sortable: false,
        add: 0,
        value: "percentage",
        width: '130px'
      },
      {
        text: "Amount",
        align: "center",
        sortable: false,
        add: 0,
        value: "amount",
        width: '180px'
      },
      {
        text: "Amount Paid",
        align: "center",
        sortable: false,
        add: 0,
        value: "amountPaid",
        width: '180px'
      },
      {
        text: "Payment Date",
        align: "center",
        sortable: false,
        add: "",
        value: "paymentDate",
        width: '130px'
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: '100px'
      },
    ],
    insuranceLoading: false,
    dataUnder: [
      // {
      //   admincostAmount: 0,
      //   amount: 0,
      //   brokerageAmount: 0,
      //   dueDate: "string",
      //   grossAmount: 0,
      //   no: 0,
      //   percentage: 0,
      //   pph23Amount: 0,
      //   stampdutyAmount: 0,
      //   totalAmount: 0,
      //   vatAmount: 0,
      //   edit: false,
      //   date: false
      // }
    ],
    listInsurance: [],
    selectInsurance: {insuranceName: "ALL"},
    editUnder: {},
    minDateUnder: new Date().toISOString(),
    statusALL: false,
    statusUnder: false,
    statusUnderEdit: false,
    statusDateUnder: false,
    statusCreateUnder: false,
    admincostAmountUnder: 0,
    stampdutyAmountUnder: 0,
    vatAmountUnder: 0,
    pph23AmountUnder: 0,
    brokerageAmountUnder: 0,
    grossAmountUnder: 0,
    netTotalUnder: 0,
    totalPercentageUnder: 0,
    totalAmountUnder: 0,
    totalAmountPaidUnder: 0,
    totalAdminCostUnder: 0,
    totalStampDutyUnder: 0,
    totalBrokerageUnder: 0,
    totalVATUnder: 0,
    totalPPhUnder: 0,
    totalGrossUnder: 0,
    totalTotalAmountUnder: 0,
    request: null,
    formHasErrors: false,
    dialogValidate: { show: false, text: ""},
    rules: {
      required: (value) => !!value || "Required.",
    },
    detailtoInsuranceTable: [
      {
        text: "Insurance",
        align: "start",
        sortable: false,
        value: "uwCode",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
      },
      {
        text: "Amount Paid",
        sortable: false,
        value: "amountPaid",
      },
      {
        text: "Payment Date",
        sortable: false,
        value: "paymentDate",
      },
    ],
    detailtoInsurance: [],
    totalAmountDetailInsurance: 0,
    totalAmountPaidDetailInsurance: 0,
    toInsuranceDetailLoading: 0,
    dialogToInsurance: 0
  }),
  mounted() {
    this.getPaymentHistory()
  },
  computed: {
    ...mapState(['invoice']),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    watchInsuranceList: function () {
      return this.invoice.insuranceSharingListUnder
    },
    watchStatusClient: function () {
      return this.statusClient
    },
    watchStatusClientEdit: function () {
      return this.statusClientEdit
    },
    watchStatusUnder: function () {
      return this.statusUnder
    },
    watchStatusUnderEdit: function () {
      return this.statusUnderEdit
    },
    displayPercentageClient: function () {
      return this.headers[2].add
    },
    displayAmountClient: function () {
      return this.headers[3].add
    },
    displayPercentageUnder: function () {
      return this.headersUnder[2].add
    },
    displayAmountUnder: function () {
      return this.headersUnder[3].add
    },
    displayPercentageClientEdit: function () {
      return this.editClient.percentage
    },
    displayAmountClientEdit: function () {
      return this.editClient.amount
    },
    displayPercentageUnderEdit: function () {
      return this.editUnder.percentage
    },
    displayAmountUnderEdit: function () {
      return this.editUnder.amount
    },
    statusCheck: function () {
      return this.headers[1].add.length > 0 && this.headers[2].add > 0 && this.headers[3].add !== "0.00" ? false : true
    },
    statusCheckEdit: function () {
      // return this.editClient.dueDate.length > 0 && this.editClient.percentage > 0  && this.editAgent.amount !== "0.00" ? false : true
      return false
    },
    statusCheckUnder: function () {
      return this.headersUnder[1].add.length > 0 && this.headersUnder[2].add > 0 && this.headersUnder[3].add !== "0.00" ? false : true
    },
    statusCheckEditUnder: function () {
      // return this.editClient.dueDate.length > 0 && this.editClient.percentage > 0  && this.editAgent.amount !== "0.00" ? false : true
      return false
    },
    // watchTabInvoice: function () {
    //   return this.invoice.tabInvoice
    // },
    // watchPage: function () {
    //   return this.invoice.statusPage
    // }
  },
  watch: {
    // watchPage: function (newValue, oldValue) {
    //   if (newValue == 'view' && oldValue == 'edit') {
    //     this.generateNewClient()
    //   }
    //   if (newValue == 'view' && oldValue == 'edit') {
    //     this.generateNewUnder()
    //   }
    // },
    // watchTabInvoice: function (newValue) {
    //   if (newValue == 'installment' && this.dataClient.length !== 0) {
    //     this.generateNewClient()
    //   }
    //   if (newValue == 'installment' && this.dataUnder.length !== 0) {
    //     this.generateNewUnder()
    //   }
    // },
    watchInsuranceList: function (newValue, oldValue) {
      if (newValue !== oldValue) {
        let array = newValue
        array.forEach(element => {
          if (element.insuranceName !== this.selectInsurance.insuranceName) {
            this.selectInsurance = {insuranceName: "ALL"}
            this.statusALL = false
            let obj = JSON.parse(localStorage.getItem('dataInsurancePaymentHistory'))
            if (obj !== null) {
              this.dataUnder = obj.listUnder
              this.totalPercentageUnder = obj.totalPercentageUnder
              this.totalAmountUnder = obj.totalAmountUnder
              this.totalAdminCostUnder = obj.totalAdminCostUnder
              this.totalStampDutyUnder = obj.totalStampDutyUnder
              this.totalBrokerageUnder = obj.totalBrokerageUnder
              this.totalVATUnder = obj.totalVATUnder
              this.totalPPhUnder = obj.totalPPhUnder
              this.totalGrossUnder = obj.totalGrossUnder
              this.totalTotalAmountUnder = obj.totalTotalAmountUnder
            }
          }
        });
        this.listInsurance = array
      }
    },
    watchStatusClient: function (newValue) {
      if (newValue) {
        if (this.headers[2].add === 0) {
          this.headers[2].add = ''
        }
      } else if (this.headers[2].add === '') {
        this.headers[2].add = 0
      }
    },
    watchStatusClientEdit: function (newValue) {
      if (newValue) {
        if (this.editClient.percentage === 0) {
          this.editClient.percentage = ''
        }
      } else if (this.editClient.percentage === '') {
        this.editClient.percentage = 0
      }
    },
    watchStatusUnder: function (newValue) {
      if (newValue) {
        if (this.headersUnder[2].add === 0) {
          this.headersUnder[2].add = ''
        }
      } else if (this.headersUnder[2].add === '') {
        this.headersUnder[2].add = 0
      }
    },
    watchStatusUnderEdit: function (newValue) {
      if (newValue) {
        if (this.editUnder.percentage === 0) {
          this.editUnder.percentage = ''
        }
      } else if (this.editUnder.percentage === '') {
        this.editUnder.percentage = 0
      }
    },
    displayPercentageClient: function (newValue) {
      let value = this.calculateAmount(newValue, this.invoice.premiumClientInstallment)
      this.$refs.amountToClient[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    },
    displayAmountClient: function (newValue) {
      // SIDE AMOUNT
      let amount = this.convertMoney(newValue)
      let adminCost = 0
      let stampDuty = 0
      let vat = 0
      let gross = 0
      let total = 0
      if (this.dataClient.length === 0 && this.headers[2].add > 0) {
        adminCost = this.invoice.toClientPolEndCost
        stampDuty = this.invoice.toClientStampDuty
        vat = this.invoice.toClientVat
      }

      gross = amount + adminCost + stampDuty
      total = gross + vat
      this.admincostAmount = adminCost
      this.stampdutyAmount = stampDuty
      this.vatAmount = vat
      this.grossAmount = gross
      this.total = total
    },
    displayPercentageUnder: function (newValue) {
      let value = this.calculateAmount(newValue, this.invoice.toUnderwriterPremium)
      this.$refs.amountToUnder[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    },
    displayAmountUnder: function (newValue) {
      // SIDE AMOUNT
      let amount = this.convertMoney(newValue)
      let brokerageInsurance = this.invoice.totalBrokerageAmount
      let admincostAmountUnder = 0
      let stampdutyAmountUnder = 0
      let vatAmountUnder = 0
      let pph23AmountUnder = 0
      let brokerageAmountUnder = 0
      let grossAmountUnder = 0
      let netTotalUnder = 0
      if (this.dataUnder.length === 0 && this.headersUnder[2].add > 0) {
        admincostAmountUnder = this.invoice.toUnderwriterPolEndCost
        stampdutyAmountUnder = this.invoice.toUnderwriterStampDuty
      }

      brokerageAmountUnder = (Number(this.headersUnder[2].add) * brokerageInsurance) / 100
      vatAmountUnder = ((10 * brokerageAmountUnder) / 100) * -1
      pph23AmountUnder = (2 * brokerageAmountUnder) / 100
      grossAmountUnder = (amount + admincostAmountUnder + stampdutyAmountUnder) - brokerageAmountUnder
      netTotalUnder = grossAmountUnder + vatAmountUnder + pph23AmountUnder

      this.admincostAmountUnder = admincostAmountUnder
      this.stampdutyAmountUnder = stampdutyAmountUnder
      this.brokerageAmountUnder = brokerageAmountUnder
      this.vatAmountUnder = vatAmountUnder
      this.pph23AmountUnder = pph23AmountUnder
      this.grossAmountUnder = grossAmountUnder
      this.netTotalUnder = netTotalUnder
    },
    displayPercentageClientEdit: function (newValue) {
      let value = this.calculateAmount(newValue, this.invoice.premiumClientInstallment)
      this.$refs.amountToClientEdit[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    },
    displayAmountClientEdit: function (newValue) {
      // SIDE AMOUNT
      let amount = this.convertMoney(newValue)
      let adminCost = this.editClient.admincostAmount
      let stampDuty = this.editClient.stampdutyAmount
      let vat = this.editClient.vatAmount
      let gross = 0
      let total = 0

      gross = amount + adminCost + stampDuty
      total = gross + vat
      this.editClient.grossAmount = gross
      this.editClient.totalAmount = total
    },
    displayPercentageUnderEdit: function (newValue) {
      let value = this.calculateAmount(newValue, this.invoice.toUnderwriterPremium)
      this.$refs.amountToUnderEdit[0].$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    },
    displayAmountUnderEdit: function (newValue) {
      // SIDE AMOUNT
      let amount = this.convertMoney(newValue)
      let brokerageInsurance = this.invoice.totalBrokerageAmount
      let admincostAmountUnder = this.editUnder.admincostAmount
      let stampdutyAmountUnder = this.editUnder.stampdutyAmount
      let vatAmountUnder = 0
      let pph23AmountUnder = 0
      let brokerageAmountUnder = 0
      let grossAmountUnder = 0
      let netTotalUnder = 0

      brokerageAmountUnder = (Number(this.editUnder.percentage) * brokerageInsurance) / 100
      vatAmountUnder = ((10 * brokerageAmountUnder) / 100) * -1
      pph23AmountUnder = (2 * brokerageAmountUnder) / 100
      grossAmountUnder = (amount + admincostAmountUnder + stampdutyAmountUnder) - brokerageAmountUnder
      netTotalUnder = grossAmountUnder + vatAmountUnder + pph23AmountUnder

      this.editUnder.admincostAmount = admincostAmountUnder
      this.editUnder.stampdutyAmount = stampdutyAmountUnder
      this.editUnder.brokerageAmount = brokerageAmountUnder
      this.editUnder.vatAmount = vatAmountUnder
      this.editUnder.pph23Amount = pph23AmountUnder
      this.editUnder.grossAmount = grossAmountUnder
      this.editUnder.totalAmount = netTotalUnder
    },
  },
  methods: {
    ...mapActions({
      setToClientInstallmentList: types.ACTION_TO_CLIENT_INSTALLMENT_LIST,
      setToClientTotalPercentage: types.ACTION_TO_CLIENT_TOTAL_PERCENTAGE,
      setToClientTotalAmount: types.ACTION_TO_CLIENT_TOTAL_AMOUNT,
      setToClientTotalAdminCost: types.ACTION_TO_CLIENT_TOTAL_ADMIN_COST,
      setToClientTotalStampDuty: types.ACTION_TO_CLIENT_TOTAL_STAMP_DUTY,
      setToClientTotalVAT: types.ACTION_TO_CLIENT_TOTAL_VAT,
      setToClientTotalGross: types.ACTION_TO_CLIENT_TOTAL_GROSS,
      setToClientTotalTotalAmount: types.ACTION_TO_CLIENT_TOTAL_TOTAL_AMOUNT,

      setToUnderwriterInstallmentList: types.ACTION_TO_UNDERWRITER_INSTALLMENT_LIST,
      setToUnderwriterTotalAmount: types.ACTION_TO_UNDERWRITER_TOTAL_AMOUNT,
      setToUnderwriterTotalPercentage: types.ACTION_TO_UNDERWRITER_TOTAL_PERCENTAGE,
      setToUnderwriterTotalAdminCost: types.ACTION_TO_UNDERWRITER_TOTAL_ADMIN_COST,
      setToUnderwriterTotalStampDuty: types.ACTION_TO_UNDERWRITER_TOTAL_STAMP_DUTY,
      setToUnderwriterTotalBrokerage: types.ACTION_TO_UNDERWRITER_TOTAL_BROKERAGE,
      setToUnderwriterTotalVAT: types.ACTION_TO_UNDERWRITER_TOTAL_VAT,
      setToUnderwriterTotalPPH: types.ACTION_TO_UNDERWRITER_TOTAL_PPH,
      setToUnderwriterTotalGross: types.ACTION_TO_UNDERWRITER_TOTAL_GROSS,
      setToUnderwriterTotalTotalAmount: types.ACTION_TO_UNDERWRITER_TOTAL_TOTAL_AMOUNT
    }),
    async getInsuranceDetail(item) {
      this.detailtoInsurance = [];
      this.totalAmountDetailInsurance = 0;
      this.totalAmountPaidDetailInsurance = 0;

      this.toInsuranceDetailLoading = true;
      this.dialogToInsurance = true;
      let insuranceParam = {
        "accountNo.equals": this.invoice.invoiceNo,
        "term.equals": item.installment,
      };
      let resp = await API.get(
        "finance/api/finance/invaccount/getpaymentinfo/creditor",
        insuranceParam
      );
      if (resp.data.code === 0) {
        this.detailtoInsurance =
          resp.data.detailInsurance.listUnderwriterTransaction;
        this.totalAmountDetailInsurance = resp.data.detailInsurance.totalAmount;
        this.totalAmountPaidDetailInsurance =
          resp.data.detailInsurance.totalAmountPaid;
      }
      this.toInsuranceDetailLoading = false;
    },
    async getPaymentHistory() {
      this.clientLoading = true;
      this.insuranceLoading = true;
      let clientParam = {
        "accountNo.equals": this.invoice.invoiceNo,
        "transType.in": "INV,CN",
      };
      API.get(
        "finance/api/finance/invaccount/getpaymentinfo/debtor",
        clientParam
      )
        .then((resp) => {
          if (resp.data.code == 0) {
            let arrayClient = []
            resp.data.listTransaction.forEach(function (value) {
              let obj = {
                date: false,
                edit: false,
                amount: value.amount,
                dueDate: value.dueDate,
                no: value.term,
                percentage: Number(value.percentage),
                amountPaid: value.amountPaid,
                paymentDate: value.paymentDate,
                amountPaidPercent: (Math.abs(value.amountPaid / value.amount) * 100),
              }
              arrayClient.push(obj)
            });
            this.dataClient = arrayClient;
            this.totalPercentage = resp.data.totalPercentage;
            this.totalAmount = resp.data.totalAmount;
            this.totalAmountPaid = resp.data.totalAmountPaid;
            this.totalAmountPaidPercent = resp.data.totalAmountPaid == 0 ? 0 : (Math.abs(resp.data.totalAmountPaid / resp.data.totalAmount) * 100);
          }
          this.clientLoading = false;
        })
        .catch((error) => {
          console.debug(error)
          this.clientLoading = false;
        });

      let insuranceParam = { "accountNo.equals": this.invoice.invoiceNo };
      API.get(
        "finance/api/finance/invaccount/getpaymentinfo/creditor",
        insuranceParam
      )
        .then((resp) => {
          if (resp.data.code == 0) {
            let arrayUnder = []
            resp.data.listTransaction.forEach(function (value) {
              let obj = {
                date: false,
                edit: false,
                amount: value.amount,
                dueDate: value.dueDate,
                no: value.term,
                percentage: Number(value.percentage),
                amountPaid: value.amountPaid,
                paymentDate: value.paymentDate,
              }
              arrayUnder.push(obj)
            });
            this.dataUnder = arrayUnder;
            this.totalPercentageUnder = resp.data.totalPercentage;
            this.totalAmountUnder = resp.data.totalAmount;
            this.totalAmountPaidUnder = resp.data.totalAmountPaid;
          }
          this.setToLocalStorage() // For Init VALUE List Underwriter
          this.insuranceLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.insuranceLoading = false;
        });
    },
    clickSelectInsurance(item) {
      this.$refs.insuranceListUnder.blur()
      if (item.insuranceName !== 'ALL') {
        this.statusALL = true
        this.changeInsurUw(item.insuranceCode)
      } else {
        this.statusALL = false
        let obj = JSON.parse(localStorage.getItem('dataInsurancePaymentHistory'))
        if (obj !== null) {
          this.dataUnder = obj.listUnder
          this.totalPercentageUnder = obj.totalPercentageUnder
          this.totalAmountUnder = obj.totalAmountUnder
          this.totalAmountPaidUnder = obj.totalAmountPaid;
        }
      }
    },
    changeInsurUw(insuranceCode) {
      this.insuranceLoading = true;
      this.dataUnder = [];
      this.totalPercentageUnder = 0;
      this.totalAmountUnder = 0;
      this.totalAmountPaidUnder = 0;

      let insuranceParam = { "accountNo.equals": this.invoice.invoiceNo, "uwCode.equals": insuranceCode };
      API.get(
        "finance/api/finance/invaccount/getpaymentinfo/creditor",
        insuranceParam
      )
        .then((resp) => {
          if (resp.data.code == 0) {
            let arrayUnder = []
            resp.data.listTransaction.forEach(function (value) {
              let obj = {
                date: false,
                edit: false,
                amount: value.amount,
                dueDate: value.dueDate,
                no: value.term,
                percentage: Number(value.percentage),
                amountPaid: value.amountPaid,
                paymentDate: value.paymentDate,
              }
              arrayUnder.push(obj)
            });
            this.dataUnder = arrayUnder;
            this.totalPercentageUnder = resp.data.totalPercentage;
            this.totalAmountUnder = resp.data.totalAmount;
            this.totalAmountPaidUnder = resp.data.totalAmountPaid;
          }
          this.insuranceLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.insuranceLoading = false;
        });
    },
    calculateAmount(value, premium) {
      let data = (Number(premium) / 100) * Number(value);
      return data
    },
    clickPlus() {
      if (this.invoice.premiumClientInstallment == 0) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "You must add To Client Premium"
      } else if (this.totalPercentage == 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Percentage more than 100%"
      } else {
        this.statusCreateClient = true
        for (var i = 0; i < this.dataClient.length; i++) {
          this.dataClient[i].edit = false
        }
      }
    },
    clickPlusUnder() {
      localStorage.removeItem("dataInsurancePaymentHistory")
      if (this.invoice.toUnderwriterPremium == 0) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "You must add To Underwriter Premium"
      } else if (this.totalPercentageUnder == 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Percentage more than 100%"
      } else if (this.invoice.totalPercentage !== 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Sharing Percentage in tab Insurance must be 100%"
      } else {
        this.statusCreateUnder = true
        for (var i = 0; i < this.dataUnder.length; i++) {
          this.dataUnder[i].edit = false
        }
      }
      // else if (this.invoice.totalBrokerageAmount == 0) {
      //   this.dialogValidate.show = true
      //   this.dialogValidate.text = "You must add Brokerage in tab Insurance"
      // }
    },
    clickCheck() {
      let obj = {}
      let percentage = 0
      let amount = 0
      let admincostAmount = 0
      let stampdutyAmount = 0
      let vatAmount = 0
      let grossAmount = 0
      let total = 0
      for (var header of this.headers) {
        if (header.value != "action") {
          if (header.value == "no") {
            obj["no"] = this.dataClient.length + 1
          } else if (header.value == "dueDate") {
            obj["dueDate"] = header.add;
          } else if (header.value == "percentage") {
            obj["percentage"] = Number(header.add);
            percentage = this.totalPercentage + Number(header.add);
          } else if (header.value == "amount") {
            obj["amount"] = header.add;
            amount = this.totalAmount + this.convertMoney(header.add);
          } else if (header.value == "admincostAmount") {
            obj["admincostAmount"] = this.admincostAmount;
            admincostAmount = this.totalAdminCost + this.admincostAmount;
          } else if (header.value == "stampdutyAmount") {
            obj["stampdutyAmount"] = this.stampdutyAmount;
            stampdutyAmount = this.totalStampDuty + this.stampdutyAmount;
          } else if (header.value == "vatAmount") {
            obj["vatAmount"] = this.vatAmount;
            vatAmount = this.totalVAT + this.vatAmount;
          } else if (header.value == "grossAmount") {
            obj["grossAmount"] = this.grossAmount;
            grossAmount = this.totalGross + this.grossAmount;
          } else if (header.value == "totalAmount") {
            obj["totalAmount"] = this.total;
            total = this.totalTotalAmount + this.total;
          }
        }
      }

      if (obj.percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Percentage more than 100%"
      } else if (percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Percentage more than 100%"
      } else if (obj.amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Amount greater than Premium"
      } else if (amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Amount greater than Premium"
      } else {
        this.totalPercentage = Number(percentage.toFixed(2))
        this.totalAmount = Number(amount.toFixed(2))
        this.totalAdminCost = Number(admincostAmount.toFixed(2))
        this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
        this.totalVAT = Number(vatAmount.toFixed(2))
        this.totalGross = Number(grossAmount.toFixed(2))
        this.totalTotalAmount = Number(total.toFixed(2))
        let newObj =  Object.assign(obj, {edit: false, date: false});
        this.dataClient.push(newObj);
        this.minDateClient = newObj.dueDate
        this.setToClientInstallmentList(this.convertClient(this.dataClient))
        this.setToClientTotalPercentage(this.totalPercentage)
        this.setToClientTotalAmount(this.totalAmount)
        this.setToClientTotalAdminCost(this.totalAdminCost)
        this.setToClientTotalStampDuty(this.totalStampDuty)
        this.setToClientTotalVAT(this.totalVAT)
        this.setToClientTotalGross(this.totalGross)
        this.setToClientTotalTotalAmount(this.totalTotalAmount)

        // Reset Data
        this.headers[1].add = ""
        this.headers[2].add = 0
        this.headers[3].add = "0.00"
        this.admincostAmount = 0
        this.stampdutyAmount = 0
        this.vatAmount = 0
        this.grossAmount = 0
        this.total = 0
        this.$refs.amountToClient[0].$el.getElementsByTagName('input')[0].value = "0.00"
        this.statusCreateClient = false
      }
    },
    clickCheckUnder() {
      let obj = {}
      let percentage = 0
      let amount = 0
      let admincostAmount = 0
      let stampdutyAmount = 0
      let brokerageAmount = 0
      let vatAmount = 0
      let pph23Amount = 0
      let grossAmount = 0
      let netTotalAmount = 0
      for (var header of this.headersUnder) {
        if (header.value != "action") {
          if (header.value == "no") {
            obj["no"] = this.dataUnder.length + 1
          } else if (header.value == "dueDate") {
            obj["dueDate"] = header.add;
          } else if (header.value == "percentage") {
            obj["percentage"] = Number(header.add);
            percentage = this.totalPercentageUnder + Number(header.add);
          } else if (header.value == "amount") {
            obj["amount"] = header.add;
            amount = this.totalAmountUnder + this.convertMoney(header.add);
          } else if (header.value == "admincostAmount") {
            obj["admincostAmount"] = this.admincostAmountUnder;
            admincostAmount = this.totalAdminCostUnder + this.admincostAmountUnder;
          } else if (header.value == "stampdutyAmount") {
            obj["stampdutyAmount"] = this.stampdutyAmountUnder;
            stampdutyAmount = this.totalStampDutyUnder + this.stampdutyAmountUnder;
          } else if (header.value == "brokerageAmount") {
            obj["brokerageAmount"] = this.brokerageAmountUnder;
            brokerageAmount = this.totalBrokerageUnder + this.brokerageAmountUnder;
          } else if (header.value == "vatAmount") {
            obj["vatAmount"] = this.vatAmountUnder;
            vatAmount = this.totalVATUnder + this.vatAmountUnder;
          } else if (header.value == "pph23Amount") {
            obj["pph23Amount"] = this.pph23AmountUnder;
            pph23Amount = this.totalPPhUnder + this.pph23AmountUnder;
          } else if (header.value == "grossAmount") {
            obj["grossAmount"] = this.grossAmountUnder;
            grossAmount = this.totalGrossUnder + this.grossAmountUnder;
          } else if (header.value == "totalAmount") {
            obj["totalAmount"] = this.netTotalUnder;
            netTotalAmount = this.totalTotalAmountUnder + this.netTotalUnder;
          }
        }
      }

      if (obj.percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Percentage more than 100%"
      } else if (percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Percentage more than 100%"
      } else if (obj.amount > this.invoice.toUnderwriterPremium) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Amount greater than Premium"
      } else if (amount > this.invoice.toUnderwriterPremium) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Amount greater than Premium"
      } else {
        this.totalPercentageUnder = Number(percentage.toFixed(2))
        this.totalAmountUnder = Number(amount.toFixed(2))
        this.totalAdminCostUnder = Number(admincostAmount.toFixed(2))
        this.totalStampDutyUnder = Number(stampdutyAmount.toFixed(2))
        this.totalBrokerageUnder = Number(brokerageAmount.toFixed(2))
        this.totalVATUnder = Number(vatAmount.toFixed(2))
        this.totalPPhUnder = Number(pph23Amount.toFixed(2))
        this.totalGrossUnder = Number(grossAmount.toFixed(2))
        this.totalTotalAmountUnder = Number(netTotalAmount.toFixed(2))
        let newObj =  Object.assign(obj, {edit: false, date: false});
        this.dataUnder.push(newObj);
        this.minDateUnder = newObj.dueDate
        this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder))
        this.setToLocalStorage() // For Init VALUE List Underwriter
        this.setToUnderwriterTotalAmount(this.totalAmountUnder)
        this.setToUnderwriterTotalPercentage(this.totalPercentageUnder)
        this.setToUnderwriterTotalAdminCost(this.totalAdminCostUnder )
        this.setToUnderwriterTotalStampDuty(this.totalStampDutyUnder)
        this.setToUnderwriterTotalBrokerage(this.totalBrokerageUnder)
        this.setToUnderwriterTotalVAT(this.totalVATUnder)
        this.setToUnderwriterTotalPPH(this.totalPPhUnder)
        this.setToUnderwriterTotalGross(this.totalGrossUnder)
        this.setToUnderwriterTotalTotalAmount(this.totalTotalAmountUnder)

        // Reset Data
        this.headersUnder[1].add = ""
        this.headersUnder[2].add = 0
        this.headersUnder[3].add = "0.00"
        this.admincostAmountUnder = 0
        this.stampdutyAmountUnder = 0
        this.brokerageAmountUnder = 0
        this.vatAmountUnder = 0
        this.pph23AmountUnder = 0
        this.grossAmountUnder = 0
        this.netTotalUnder = 0
        this.$refs.amountToUnder[0].$el.getElementsByTagName('input')[0].value = "0.00"
        this.statusCreateUnder = false
      }

    },
    clickMinus(item) {
      var index = "";
      let percentage = this.totalPercentage - Number(item.percentage)
      let amount = this.totalAmount - this.convertMoney(item.amount);
      let admincostAmount = this.totalAdminCost - Number(item.admincostAmount);
      let stampdutyAmount = this.totalStampDuty - Number(item.stampdutyAmount);
      let vatAmount = this.totalVAT - Number(item.vatAmount);
      let grossAmount = this.totalGross - Number(item.grossAmount);
      let total = this.totalTotalAmount - Number(item.totalAmount);
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataClient.length; j++) {
        this.dataClient[j].edit = false
      }
      if (String(index).length > 0) {
        this.dataClient.splice(index, 1);
      }
      if (this.dataClient.length === 0) {
        this.minDateClient = new Date().toISOString()
      } else {
        this.minDateClient = this.dataClient[this.dataClient.length -1].dueDate
      }
      this.totalPercentage = Number(percentage.toFixed(2))
      this.totalAmount = Number(amount.toFixed(2))
      this.totalAdminCost = Number(admincostAmount.toFixed(2))
      this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
      this.totalVAT = Number(vatAmount.toFixed(2))
      this.totalGross = Number(grossAmount.toFixed(2))
      this.totalTotalAmount = Number(total.toFixed(2))
      this.setToClientInstallmentList(this.convertClient(this.dataClient))
      this.setToClientTotalPercentage(this.totalPercentage)
      this.setToClientTotalAmount(this.totalAmount)
      this.setToClientTotalAdminCost(this.totalAdminCost)
      this.setToClientTotalStampDuty(this.totalStampDuty)
      this.setToClientTotalVAT(this.totalVAT)
      this.setToClientTotalGross(this.totalGross)
      this.setToClientTotalTotalAmount(this.totalTotalAmount)

      this.statusCreateClient = false
    },
    clickMinusUnder(item) {
      localStorage.removeItem("dataInsurancePaymentHistory")
      var index = "";
      let percentage = this.totalPercentageUnder - Number(item.percentage)
      let amount = this.totalAmountUnder - this.convertMoney(item.amount);
      let admincostAmount = this.totalAdminCostUnder - Number(item.admincostAmount);
      let stampdutyAmount = this.totalStampDutyUnder - Number(item.stampdutyAmount);
      let brokerageAmount = this.totalBrokerageUnder - Number(item.brokerageAmount);
      let vatAmount = this.totalVATUnder - Number(item.vatAmount);
      let pph23Amount = this.totalPPhUnder - Number(item.pph23Amount);
      let grossAmount = this.totalGrossUnder - Number(item.grossAmount);
      let netTotalAmount = this.totalTotalAmountUnder - Number(item.totalAmount);
      for (var i = 0; i < this.dataUnder.length; i++) {
        if (this.dataUnder[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataUnder.length; j++) {
        this.dataUnder[j].edit = false
      }
      if (String(index).length > 0) {
        this.dataUnder.splice(index, 1);
      }
      if (this.dataUnder.length === 0) {
        this.minDateUnder = new Date().toISOString()
      } else {
        this.minDateUnder = this.dataUnder[this.dataUnder.length -1].dueDate
      }
      this.totalPercentageUnder = Number(percentage.toFixed(2))
      this.totalAmountUnder = Number(amount.toFixed(2))
      this.totalAdminCostUnder = Number(admincostAmount.toFixed(2))
      this.totalStampDutyUnder = Number(stampdutyAmount.toFixed(2))
      this.totalBrokerageUnder = Number(brokerageAmount.toFixed(2))
      this.totalVATUnder = Number(vatAmount.toFixed(2))
      this.totalPPhUnder = Number(pph23Amount.toFixed(2))
      this.totalGrossUnder = Number(grossAmount.toFixed(2))
      this.totalTotalAmountUnder = Number(netTotalAmount.toFixed(2))
      this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder))
      this.setToLocalStorage() // For Init VALUE List Underwriter
      this.setToUnderwriterTotalAmount(this.totalAmountUnder)
      this.setToUnderwriterTotalPercentage(this.totalPercentageUnder)
      this.setToUnderwriterTotalAdminCost(this.totalAdminCostUnder )
      this.setToUnderwriterTotalStampDuty(this.totalStampDutyUnder)
      this.setToUnderwriterTotalBrokerage(this.totalBrokerageUnder)
      this.setToUnderwriterTotalVAT(this.totalVATUnde)
      this.setToUnderwriterTotalPPH(this.totalPPhUnder)
      this.setToUnderwriterTotalGross(this.totalGrossUnder)
      this.setToUnderwriterTotalTotalAmount(this.totalTotalAmountUnder)

      this.statusCreateUnder = false
    },
    clickClose() {
      this.statusCreateClient = false
      this.headers[1].add = ""
      this.headers[2].add = 0
      this.headers[3].add = "0.00"
      this.admincostAmount = 0
      this.stampdutyAmount = 0
      this.vatAmount = 0
      this.grossAmount = 0
      this.total = 0
      this.$refs.amountToClient[0].$el.getElementsByTagName('input')[0].value = "0.00"
    },
    clickCloseUnder() {
      this.statusCreateUnder = false
      this.headersUnder[1].add = ""
      this.headersUnder[2].add = 0
      this.headersUnder[3].add = "0.00"
      this.admincostAmountUnder = 0
      this.stampdutyAmountUnder = 0
      this.pph23AmountUnder = 0
      this.brokerageAmountUnder = 0
      this.vatAmountUnder = 0
      this.grossAmountUnder = 0
      this.netTotalUnder = 0
      this.$refs.amountToUnder[0].$el.getElementsByTagName('input')[0].value = "0.00"
    },
    clickPencil(item) {
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          this.dataClient[i].edit = true
          this.statusCreateClient = false
        } else {
          this.dataClient[i].edit = false
        }
      }
      localStorage.setItem("objInstallmentClient", JSON.stringify(item))
      this.editClient = item
    },
    clickPencilUnder(item) {
      localStorage.removeItem("dataInsurancePaymentHistory")
      for (var i = 0; i < this.dataUnder.length; i++) {
        if (this.dataUnder[i] == item) {
          this.dataUnder[i].edit = true
          this.statusCreateUnder = false
        } else {
          this.dataUnder[i].edit = false
        }
      }
      localStorage.setItem("objInstallmentUnder", JSON.stringify(item))
      this.editUnder = item
    },
    clickCloseEdit(item) {
      let obj = JSON.parse(localStorage.getItem('objInstallmentClient'))
      for (var i = 0; i < this.dataClient.length; i++) {
        if (this.dataClient[i] == item) {
          this.dataClient[i].edit = false
          this.dataClient[i].date = false
          this.dataClient[i].no = obj.no
          this.dataClient[i].dueDate = obj.dueDate
          this.dataClient[i].percentage = Number(obj.percentage)
          this.dataClient[i].amount = obj.amount
          this.dataClient[i].admincostAmount = obj.admincostAmount
          this.dataClient[i].stampdutyAmount = obj.stampdutyAmount
          this.dataClient[i].vatAmount = obj.vatAmount
          this.dataClient[i].grossAmount = obj.grossAmount
          this.dataClient[i].totalAmount = obj.totalAmount
          this.statusCreateClient = false
        }
      }
      localStorage.removeItem("objInstallmentClient")
      this.editClient = {}
    },
    clickCloseEditUnder(item) {
      let obj = JSON.parse(localStorage.getItem('objInstallmentUnder'))
      for (var i = 0; i < this.dataUnder.length; i++) {
        if (this.dataUnder[i] == item) {
          this.dataUnder[i].edit = false
          this.dataUnder[i].date = false
          this.dataUnder[i].no = obj.no
          this.dataUnder[i].dueDate = obj.dueDate
          this.dataUnder[i].percentage = Number(obj.percentage)
          this.dataUnder[i].amount = obj.amount
          this.dataUnder[i].admincostAmount = obj.admincostAmount
          this.dataUnder[i].stampdutyAmount = obj.stampdutyAmount
          this.dataUnder[i].brokerageAmount = obj.brokerageAmount
          this.dataUnder[i].vatAmount = obj.vatAmount
          this.dataUnder[i].pph23Amount = obj.pph23Amount
          this.dataUnder[i].grossAmount = obj.grossAmount
          this.dataUnder[i].totalAmount = obj.totalAmount
          this.statusCreateUnder = false
        }
      }
      localStorage.removeItem("objInstallmentUnder")
      this.editUnder = {}
    },
    clickCheckEdit(item) {
      let percentage = 0
      let amount = 0
      let admincostAmount = 0
      let stampdutyAmount = 0
      let vatAmount = 0
      let grossAmount = 0
      let total = 0
      this.dataClient.forEach(element => {
        percentage = percentage + Number(element.percentage)
        amount = amount + this.convertMoney(element.amount)
        admincostAmount = admincostAmount + Number(element.admincostAmount)
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount)
        vatAmount = vatAmount + Number(element.vatAmount)
        grossAmount = grossAmount + Number(element.grossAmount)
        total = total + Number(element.totalAmount)
      });

      if (item.percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Percentage more than 100%"
      } else if (percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Percentage more than 100%"
      } else if (item.amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Amount greater than Premium"
      } else if (amount > this.invoice.premiumClientInstallment) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Amount greater than Premium"
      } else {

        for (var i = 0; i < this.dataClient.length; i++) {
          if (this.dataClient[i] == item) {
            this.dataClient[i].edit = false
            this.dataClient[i].date = false
            this.dataClient[i].no = item.no
            this.dataClient[i].dueDate = item.dueDate
            this.dataClient[i].percentage = Number(item.percentage)
            this.dataClient[i].amount = item.amount
            this.dataClient[i].admincostAmount = item.admincostAmount
            this.dataClient[i].stampdutyAmount = item.stampdutyAmount
            this.dataClient[i].vatAmount = item.vatAmount
            this.dataClient[i].grossAmount = item.grossAmount
            this.dataClient[i].totalAmount = item.totalAmount
          }
        }

        this.totalPercentage = Number(percentage.toFixed(2))
        this.totalAmount = Number(amount.toFixed(2))
        this.totalAdminCost = Number(admincostAmount.toFixed(2))
        this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
        this.totalVAT = Number(vatAmount.toFixed(2))
        this.totalGross = Number(grossAmount.toFixed(2))
        this.totalTotalAmount = Number(total.toFixed(2))
        this.setToClientInstallmentList(this.convertClient(this.dataClient))
        this.setToClientTotalPercentage(this.totalPercentage)
        this.setToClientTotalAmount(this.totalAmount)
        this.setToClientTotalAdminCost(this.totalAdminCost)
        this.setToClientTotalStampDuty(this.totalStampDuty)
        this.setToClientTotalVAT(this.totalVAT)
        this.setToClientTotalGross(this.totalGross)
        this.setToClientTotalTotalAmount(this.totalTotalAmount)

        localStorage.removeItem("objInstallmentClient")
      }
    },
    clickCheckEditUnder(item) {
      let percentage = 0
      let amount = 0
      let admincostAmount = 0
      let stampdutyAmount = 0
      let brokerageAmount = 0
      let vatAmount = 0
      let pph23Amount = 0
      let grossAmount = 0
      let netTotalAmount = 0
      this.dataUnder.forEach(element => {
        percentage = percentage + Number(element.percentage)
        amount = amount + this.convertMoney(element.amount)
        admincostAmount = admincostAmount + Number(element.admincostAmount)
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount)
        brokerageAmount = brokerageAmount + Number(element.brokerageAmount)
        vatAmount = vatAmount + Number(element.vatAmount)
        pph23Amount = pph23Amount + Number(element.pph23Amount)
        grossAmount = grossAmount + Number(element.grossAmount)
        netTotalAmount = netTotalAmount + Number(element.totalAmount)
      });

      if (item.percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Percentage more than 100%"
      } else if (percentage > 100) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Percentage more than 100%"
      } else if (this.convertMoney(item.amount) > this.invoice.toUnderwriterPremium) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Amount greater than Premium"
      } else if (amount > this.invoice.toUnderwriterPremium) {
        this.dialogValidate.show = true
        this.dialogValidate.text = "Total Amount greater than Premium"
      } else {

        for (var i = 0; i < this.dataUnder.length; i++) {
          if (this.dataUnder[i] == item) {
            this.dataUnder[i].edit = false
            this.dataUnder[i].date = false
            this.dataUnder[i].no = item.no
            this.dataUnder[i].dueDate = item.dueDate
            this.dataUnder[i].percentage = Number(item.percentage)
            this.dataUnder[i].amount = item.amount
            this.dataUnder[i].admincostAmount = item.admincostAmount
            this.dataUnder[i].stampdutyAmount = item.stampdutyAmount
            this.dataUnder[i].brokerageAmount = item.brokerageAmount
            this.dataUnder[i].vatAmount = item.vatAmount
            this.dataUnder[i].pph23Amount = item.pph23Amount
            this.dataUnder[i].grossAmount = item.grossAmount
            this.dataUnder[i].totalAmount = item.totalAmount
            this.statusCreateUnder = false
          }
        }

        this.totalPercentageUnder = Number(percentage.toFixed(2))
        this.totalAmountUnder = Number(amount.toFixed(2))
        this.totalAdminCostUnder = Number(admincostAmount.toFixed(2))
        this.totalStampDutyUnder = Number(stampdutyAmount.toFixed(2))
        this.totalBrokerageUnder = Number(brokerageAmount.toFixed(2))
        this.totalVATUnder = Number(vatAmount.toFixed(2))
        this.totalPPhUnder = Number(pph23Amount.toFixed(2))
        this.totalGrossUnder = Number(grossAmount.toFixed(2))
        this.totalTotalAmountUnder = Number(netTotalAmount.toFixed(2))
        this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder))
        this.setToLocalStorage() // For Init VALUE List Underwriter
        this.setToUnderwriterTotalAmount(this.totalAmountUnder)
        this.setToUnderwriterTotalPercentage(this.totalPercentageUnder)
        this.setToUnderwriterTotalAdminCost(this.totalAdminCostUnder )
        this.setToUnderwriterTotalStampDuty(this.totalStampDutyUnder)
        this.setToUnderwriterTotalBrokerage(this.totalBrokerageUnder)
        this.setToUnderwriterTotalVAT(this.totalVATUnde)
        this.setToUnderwriterTotalPPH(this.totalPPhUnder)
        this.setToUnderwriterTotalGross(this.totalGrossUnder)
        this.setToUnderwriterTotalTotalAmount(this.totalTotalAmountUnder)

        localStorage.removeItem("objInstallmentUnder")
      }
    },
    async getAgent() {
      this.search.agentName.loading = true;
      let resp = await API.get("/clients/api/account/agent?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.agentName.loading = false;
        const data = resp.data.data;
        this.search.agentName.items = data
      }
    },
    async getUnderwriter(paramJSON) {
      let param = JSON.stringify(paramJSON);

      API.post("/broking/api/broking/invoice/installment-underwriter", param).then((resp) => {
        if (resp.data.code == 0) {
          const data = resp.data
          let newData = data.installmentUnderwriterList
          let array = []
          newData.forEach(element => {
            array.push({
              admincostAmount: element.admincostAmount,
              amount: this.formatMoney(element.amount),
              dueDate: element.dueDate,
              grossAmount: element.grossAmount,
              no: element.no,
              percentage: element.percentage,
              stampdutyAmount: element.stampdutyAmount,
              brokerageAmount: element.brokerageAmount,
              vatAmount: element.vatAmount,
              pph23Amount: element.pph23Amount,
              totalAmount: element.totalAmount,
              edit: false,
              date: false
            })
          });
          this.dataUnder = array
          this.totalPercentageUnder = data.totalPercentage
          this.totalAmountUnder = data.totalAmount
          this.totalAdminCostUnder = data.totalAdminCostAmount
          this.totalStampDutyUnder = data.totalStampdutyAmount
          this.totalBrokerageUnder = data.totalBrokerageAmount
          this.totalVATUnder = data.totalVatAmount
          this.totalPPhUnder = data.totalPph23Amount
          this.totalGrossUnder = data.totalGrossAmount
          this.totalTotalAmountUnder = data.totalTotalAmount
        }
      });
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, '')
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, '')
        .replace('x', '.');
      return parseFloat(amount)
    },
    convertClient (data) {
      let array = []
      data.forEach(element => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: this.convertMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          totalAmount: element.totalAmount,
          vatAmount: element.vatAmount
        })
      });
      return array
    },
    convertUnder (data) {
      let array = []
      data.forEach(element => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: this.convertMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          brokerageAmount: element.brokerageAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          totalAmount: element.totalAmount,
        })
      });
      return array
    },
    setToLocalStorage () {
      let obj = {
        listUnder: this.dataUnder,
        totalPercentageUnder: this.totalPercentageUnder,
        totalAmountUnder: this.totalAmountUnder,
        totalAmountPaidUnder: this.totalAmountPaidUnder,
        totalAdminCostUnder: this.totalAdminCostUnder,
        totalStampDutyUnder: this.totalStampDutyUnder,
        totalBrokerageUnder: this.totalBrokerageUnder,
        totalVATUnder: this.totalVATUnder,
        totalPPhUnder: this.totalPPhUnder,
        totalGrossUnder: this.totalGrossUnder,
        totalTotalAmountUnder: this.totalTotalAmountUnder,
      }
      localStorage.setItem("dataInsurancePaymentHistory", JSON.stringify(obj))
    },
    generateNewClient() {
      let client = this.invoice.toClientInstallmentList
      let premium = this.invoice.premiumClientInstallment
      let arrayClient = []
      client.forEach((element, index) => {
        let amount = (premium / 100) * element.percentage
        let adminCost = index === 0 ? this.invoice.toClientPolEndCost : 0
        let stampDuty = index === 0 ? this.invoice.toClientStampDuty : 0
        let vat = index === 0 ? this.invoice.toClientVat : 0
        let gross = amount + adminCost + stampDuty
        let total = gross + vat
        arrayClient.push({
          date: false,
          edit: false,
          admincostAmount: adminCost,
          amount: this.formatMoney(amount),
          dueDate: element.dueDate,
          grossAmount: gross,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: stampDuty,
          totalAmount: total,
          vatAmount: vat
        })
      });
      let percentage = 0
      let amount = 0
      let admincostAmount = 0
      let stampdutyAmount = 0
      let vatAmount = 0
      let grossAmount = 0
      let total = 0
      arrayClient.forEach(element => {
        percentage = percentage + Number(element.percentage)
        amount = amount + this.convertMoney(element.amount)
        admincostAmount = admincostAmount + Number(element.admincostAmount)
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount)
        vatAmount = vatAmount + Number(element.vatAmount)
        grossAmount = grossAmount + Number(element.grossAmount)
        total = total + Number(element.totalAmount)
      });
      this.dataClient = arrayClient
      this.totalPercentage = Number(percentage.toFixed(2))
      this.totalAmount = Number(amount.toFixed(2))
      this.totalAdminCost = Number(admincostAmount.toFixed(2))
      this.totalStampDuty = Number(stampdutyAmount.toFixed(2))
      this.totalVAT = Number(vatAmount.toFixed(2))
      this.totalGross = Number(grossAmount.toFixed(2))
      this.totalTotalAmount = Number(total.toFixed(2))
      this.setToClientInstallmentList(this.convertClient(this.dataClient))
      this.setToClientTotalPercentage(this.totalPercentage)
      this.setToClientTotalAmount(this.totalAmount)
      this.setToClientTotalAdminCost(this.totalAdminCost)
      this.setToClientTotalStampDuty(this.totalStampDuty)
      this.setToClientTotalVAT(this.totalVAT)
      this.setToClientTotalGross(this.totalGross)
      this.setToClientTotalTotalAmount(this.totalTotalAmount)
    },
    generateNewUnder() {
      let under = this.invoice.toUnderwriterInstallmentList
      let premium = this.invoice.toUnderwriterPremium
      let arrayUnder = []
      under.forEach((element, index) => {
        let amount = (premium / 100) * element.percentage
        let brokerageInsurance = this.invoice.totalBrokerageAmount
        let admincostAmountUnder = index === 0 ? this.invoice.toUnderwriterPolEndCost : 0
        let stampdutyAmountUnder = index === 0 ? this.invoice.toUnderwriterStampDuty : 0
        let brokerageAmountUnder = (element.percentage * brokerageInsurance) / 100
        let vatAmountUnder = ((this.invoice.insurerVatPercentage * brokerageAmountUnder) / 100) * -1
        let pph23AmountUnder = (this.invoice.insurerPph23Percentage * brokerageAmountUnder) / 100
        let grossAmountUnder = (amount + admincostAmountUnder + stampdutyAmountUnder) - brokerageAmountUnder
        let netTotalUnder = grossAmountUnder + vatAmountUnder + pph23AmountUnder
        arrayUnder.push({
          date: false,
          edit: false,
          admincostAmount: admincostAmountUnder,
          amount: this.formatMoney(amount),
          dueDate: element.dueDate,
          grossAmount: grossAmountUnder,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: stampdutyAmountUnder,
          brokerageAmount: brokerageAmountUnder,
          vatAmount: vatAmountUnder,
          pph23Amount: pph23AmountUnder,
          totalAmount: netTotalUnder
        })
      });
      let percentage = 0
      let amount = 0
      let admincostAmount = 0
      let stampdutyAmount = 0
      let brokerageAmount = 0
      let vatAmount = 0
      let pph23Amount = 0
      let grossAmount = 0
      let netTotalAmount = 0
      arrayUnder.forEach(element => {
        percentage = percentage + Number(element.percentage)
        amount = amount + this.convertMoney(element.amount)
        admincostAmount = admincostAmount + Number(element.admincostAmount)
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount)
        brokerageAmount = brokerageAmount + Number(element.brokerageAmount)
        vatAmount = vatAmount + Number(element.vatAmount)
        pph23Amount = pph23Amount + Number(element.pph23Amount)
        grossAmount = grossAmount + Number(element.grossAmount)
        netTotalAmount = netTotalAmount + Number(element.totalAmount)
      });
      this.dataUnder = arrayUnder
      this.totalPercentageUnder = Number(percentage.toFixed(2))
      this.totalAmountUnder = Number(amount.toFixed(2))
      this.totalAdminCostUnder = Number(admincostAmount.toFixed(2))
      this.totalStampDutyUnder = Number(stampdutyAmount.toFixed(2))
      this.totalBrokerageUnder = Number(brokerageAmount.toFixed(2))
      this.totalVATUnder = Number(vatAmount.toFixed(2))
      this.totalPPhUnder = Number(pph23Amount.toFixed(2))
      this.totalGrossUnder = Number(grossAmount.toFixed(2))
      this.totalTotalAmountUnder = Number(netTotalAmount.toFixed(2))
      this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder))
      this.setToLocalStorage() // For Init VALUE List Underwriter
      this.setToUnderwriterTotalAmount(this.totalAmountUnder)
      this.setToUnderwriterTotalPercentage(this.totalPercentageUnder)
      this.setToUnderwriterTotalAdminCost(this.totalAdminCostUnder )
      this.setToUnderwriterTotalStampDuty(this.totalStampDutyUnder)
      this.setToUnderwriterTotalBrokerage(this.totalBrokerageUnder)
      this.setToUnderwriterTotalVAT(this.totalVATUnde)
      this.setToUnderwriterTotalPPH(this.totalPPhUnder)
      this.setToUnderwriterTotalGross(this.totalGrossUnder)
      this.setToUnderwriterTotalTotalAmount(this.totalTotalAmountUnder)
    },
  }
}
</script>

<style scoped>
  ::v-deep .input-right input {
    text-align: right;
  }
  ::v-deep .input-red input {
    color: red
  }
  .colorRed {
    color: red
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td > div {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
  ::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
  }
</style>