<template>
  <v-card>
    <v-data-table
    :headers="headers"
    :items="items"
    class="elevation-1"
    :options.sync="options"
    :server-items-length="totalItems"
    :loading="loading"
    :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
  >
    <template v-slot:[`item.status`]="{ item }">
      <div>{{ item.statusCode}}</div>
    </template>
    <template v-slot:[`item.clientName`]="{ item }">{{ item.accountName }}</template>
    <template v-slot:[`item.clientCode`]="{ item }">{{ item.accountCode }}</template>
    <template v-slot:[`item.classOfRiskCode`]="{ item }">{{ item.riskCode }}</template>
    <template v-slot:[`item.uwCodeLeader`]="{ item }">{{ item.insurerCode }}</template>
    <template v-slot:[`item.periodFrom`]="{ item }">{{ dateFormat(item.dateFromInsur) }}</template>
    <template v-slot:[`item.periodTo`]="{ item }">{{ dateFormat(item.dateToInsur) }}</template>
    <template v-slot:[`item.attachment`]="{ item }">{{ dateFormat(item.dateActive) }}</template>
    <template v-slot:[`item.coverNoteNo`]="{ item }">{{ item.coverNo }}</template>
    <template v-slot:[`item.policyNo`]="{ item }">{{ item.policyNo }}</template>
    <template v-slot:[`item.insured`]="{ item }">{{ item.insurerName }}</template>
    <template v-slot:[`item.briefDescription`]="{ item }">{{ item.insurDescription }}</template>
    <template v-slot:[`item.businessCategory`]="{ item }">{{ item.businessCategory }}</template>
    <template v-slot:[`item.aexecCode`]="{ item }">{{ item.officerExecutiveCode }}</template>
    <template v-slot:[`item.currency`]="{ item }">{{ item.insurCurrency }}</template>
    <template v-slot:[`item.sumInsured`]="{ item }">{{ formatMoney(Number(item.insurSumAmount)) }}</template>
    <template v-slot:[`item.rate`]="{ item }">{{ item.insurPremiumRate + "%" }}</template>
    <template v-slot:[`item.premium`]="{ item }">{{ formatMoney(Number(item.clientPremium))}}</template>
    <template v-slot:[`item.exchangeRate`]="{ item }">{{ formatMoney(item.insurExchangeRate) }}</template>
    <template v-slot:[`item.segment`]="{ item }">{{ item.codeSegment }}</template>
    <template v-slot:[`item.subSegment`]="{ item }">{{ item.codeSubSegment }}</template>
    <template v-slot:[`item.brokerage`]="{ item }">{{ formatMoney(Number(item.incomeBrokerage)) }}</template>
    <template v-slot:[`item.stampDuty`]="{ item }">{{ formatMoney(Number(item.clientStampDuty)) }}</template>
    <template v-slot:[`item.adminCost`]="{ item }">{{ formatMoney(Number(item.clientCost)) }}</template>
    <template v-slot:[`item.ibsOther`]="{ item }">{{ formatMoney(Number(item.clientOthers)) }}</template>
    <template v-slot:[`item.mopCode`]="{ item }">{{ item.codeMop }}</template>
    <template v-slot:no-data></template>
  </v-data-table>

  
  </v-card>

  
  
</template>

<script>
import API from "@/core/api/api.js";
import { mapActions } from 'vuex';
import * as types from '@/store/modules/invoice/type';

export default {
components: {
},
data: () => ({
  toDelete: {},
  alert: false,
  errAlert: false,    
  dialog: false,
  id: "",
  dialogLoading: { show: false, success: false, error: false, text: '' },
  headers: [
    {
      text: "Client Name",
      align: "start",
      value: "clientName",
      sortable: false,
    },
    {
      text: "Client Code",
      value: "clientCode",
      sortable: false,
    },
    {
      text: "Class Of Risk Code",
      value: "classOfRiskCode",
      sortable: false,
    },
    {
      text: "U/W Code (Leader)",
      value: "uwCodeLeader",
      sortable: false,
    },
    {
      text: "Period From",
      value: "periodFrom",
      sortable: false,
    },
    {
      text: "Period To",
      value: "periodTo",
      sortable: false,
    },
    {
      text: "Attachment",
      value: "attachment",
      sortable: false,
    },
    {
      text: "Cover Note No.",
      value: "coverNoteNo",
      sortable: false,
    },
    {
      text: "Policy No.",
      value: "policyNo",
      sortable: false,
    },
    {
      text: "Insured",
      value: "insured",
      sortable: false,
    },
    {
      text: "Brief Description",
      value: "briefDescription",
      sortable: false,
    },
    {
      text: "Business Category",
      value: "businessCategory",
      sortable: false,
    },
    {
      text: "A/Exec Code",
      value: "aexecCode",
      sortable: false,
    },
    {
      text: "Currency",
      value: "currency",
      sortable: false,
    },
    {
      text: "Sum Insured",
      value: "sumInsured",
      sortable: false,
    },
    {
      text: "Rate",
      value: "rate",
      sortable: false,
    },
    {
      text: "Premium",
      value: "premium",
      sortable: false,
    },
    {
      text: "Exchange Rate",
      value: "exchangeRate",
      sortable: false,
    },
    {
      text: "Segment",
      value: "segment",
      sortable: false,
    },
    {
      text: "Sub Segment",
      value: "subSegment",
      sortable: false,
    },
    {
      text: "Brokerage",
      value: "brokerage",
      sortable: false,
    },
    {
      text: "Stamp Duty",
      value: "stampDuty",
      sortable: false,
    },
    {
      text: "Admin Cost",
      value: "adminCost",
      sortable: false,
    },
    {
      text: "IBS Other",
      value: "ibsOther",
      sortable: false,
    },
    {
      text: "MOP Code",
      value: "mopCode",
      sortable: false,
    },
  ],
  items: [],
  totalItems: 0,
  options: {},
  loading: true,
  expanded: false,
  filter: {
    customer: {
      value: "customerId",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      toolbarSearchInput: "",
      items: [],
      url: "/clients/api/account/client?codeOrName.contains=",
      loading: true,
    },
    business: {
      value: "riskCode",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      items: [],
      url: "/config/api/master-risk/?riskName.contains=",
    },
    invoice: {
      value: "invoiceNo",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      items: [],
    },
    reference: {
      value: "refNo",
      searchValue: "",
      searchParam: "equals",
      searchInput: "",
      items: [],
    },
    createdFrom: {
      value: "createdDate",
      // searchValue: new Date().toISOString().substr(0, 10),
      searchValue:"",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    createdTo: {
      value: "createdDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue:"",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
  },
  listParam: [],
  exportLoading: false,
  showPreview: false,
  loadingUpload: false,
}),

computed: {
  formTitle() {
    return this.editedIndex === -1 ? "New Item" : "Edit Item";
  },
  hasEnd() {
    return (
      this.type in
      {
        "custom-weekly": 1,
        "custom-daily": 1,
      }
    );
  },
  getText: function () {
    return function (code) {
      var pItem = this.filter.progress.items.filter(
        (value) => value.code == code
      );
      return pItem.length > 0 ? pItem[0].value : code;
    };
  },
  getSortIconProp: function () {
    return function (header) {
      let prop = { color: "", icon: "mdi-sort" };
      if (
        header.value == this.options.sortBy[0] &&
        !this.options.sortDesc[0]
      ) {
        prop.color = "primary";
        prop.icon = "mdi-sort-ascending";
      } else if (
        header.value == this.options.sortBy[0] &&
        this.options.sortDesc[0]
      ) {
        prop.color = "primary";
        prop.icon = "mdi-sort-descending";
      }
      return prop;
    };
  },
},

watch: {
  options: {
    handler() {
      this.refresh();
    },
    deep: true,
  },
},

mounted() {
  // this.refresh();
  // this.$store.dispatch(types.ACTION_RESET_STATE)
},

created() {
  console.log("MASUK TAB SUKSES")
  console.log(this.$route.query.idBulkHeader)
  this.id = this.$route.query.idBulkHeader;
  this.filter.insuranceFrom.searchValue = "";
  this.filter.insuranceTo.searchValue = "";
  this.filter.createdFrom.searchValue = "";
  this.filter.createdTo.searchValue = "";
},

methods: {
  ...mapActions({
    setDocType: types.ACTION_DOC_TYPE,
    setFileName: types.ACTION_FILE_NAME,
  }),

  goToAdd() {
    this.$router.replace({ name: "create-invoice-add" });
  },

  closeUpload(){
    this.dialogLoading = { show: false, success: false, error: false, text: '' }
    this.refresh()
  },

  goToUpload() {
    document.getElementById("bulkList").click()
  },

  async uploadFile(e) {
      var fr = new FileReader();
      fr.readAsDataURL(e);
      fr.addEventListener("load", () => {
        let typeFile = e.name.split('.')
        let base64 = fr.result.split(',')[1]
        this.fileData = base64
        this.setDocType(typeFile[1])
        this.setFileName(e.name)
        this.loadingUpload = true;
        this.dialogLoading.show = true;

        let param = {
          base64: base64,
          docType: typeFile[1],
          filename: e.name,
          description: "desc"
        }
        API.post("broking/api/broking/invoice-bulk/upload", param).then((resp) => {
          if (resp.data.code === 0) {
            this.showPreview = true
            this.loadingMultiInsured = false;
            this.dialogLoading.success = true;
            this.dialogLoading.text = 'Upload Successful'
          } else {
            this.dialogLoading.error = true;
            this.dialogLoading.text = resp.data.errorMessage
            this.loadingMultiInsured = false;
          }
        });
      });
  },

  refresh() {
    this.getList().then((data) => {
      this.items = data.items;
      this.totalItems = data.total;
    });
  },

  getList() {
    this.loading = true;
    return new Promise((resolve) => {
      const { sortBy, sortDesc, page, itemsPerPage } = this.options;
      let param = {
        page: page - 1,
        size: itemsPerPage,
      };
      if (
        sortBy != undefined &&
        sortDesc != undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      )
        param["sort"] = [
          sortBy[0],
          sortDesc[0] ? "desc" : "asc",
          "ignoreCase",
        ].join(",");
      var findHeaderValueNotEmpty = [];
      Object.keys(this.filter).forEach((key) => {
        if (String(this.filter[key].searchValue).length > 0) {
          findHeaderValueNotEmpty.push(this.filter[key]);
        }
      });
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.value + "." + value.searchParam]: value.searchValue,
            };
          })
        );
      }
      this.listParam = param;
      API.get("broking/api/broking/invoice-bulk/list-bulk-records/" + "?idBulkHeader.equals=" + this.id + "&statusCode.contains=SUCCESS" , param)
        .then((resp) => {
          if (resp.data.code == 0) {
            console.log(resp);
            // let items = resp.data.data;
            // this.items = items;
            resolve({
              total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
              items: resp.data.data,
            });
          }
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
        });
    });
  },

  view(item) {
    this.$router.replace({
      name: "create-invoice-edit",
      params: { item: item },
      query: { id: item.invoiceNo, status: item.status, statusPage: 'view'  }
    });
    localStorage.setItem("from", "view")
  },

  edit(item) {
    this.$router.replace({
      name: "create-invoice-edit",
      params: { item: item },
      query: { id: item.invoiceNo, status: item.status, statusPage: 'edit' }
    });
    localStorage.setItem("from", "edit")
  },

  viewItem(item) {
    // this.$router.push({
    //   name: "area-regency-detail",
    //   params: { item: item },
    //   query: { id: item.id }
    // });
    console.log(item);
    alert("belum");
  },

  deleteItem(item) {
    if (item.id != null) {
      API.post("/api/master-location/regency/delete/" + item.id).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.alert = true;
            setTimeout(() => {
              this.alert = false;
            }, 2000);
          } else {
            this.errAlert = true;
            setTimeout(() => {
              this.errAlert = false;
            }, 2000);
          }
        }
      );
    }
  },

  listSearch() {
    this.expanded = false;
    this.refresh();
  },

  initList(list) {
    for (let l of list) {
      API.get(this.filter[l].url).then((resp) => {
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          this.filter[l].items = resp.data.data;
        } else {
          this.filter[l].items = [];
        }
      });
    }
  },

  sortClick(value) {
    if (this.options.sortBy[0] == value) {
      if (this.options.sortDesc[0] == false) {
        this.options.sortDesc[0] = true;
      } else if (this.options.sortDesc[0] == true) {
        this.options.sortBy = [];
        this.options.sortDesc = [];
      }
    } else {
      this.options.sortBy[0] = value;
      this.options.sortDesc[0] = false;
    }
    this.refresh();
  },

  autocompSearch(filter) {
    filter.loading = true;
    API.get(
      filter.url +
        filter[
          !this.expanded ? "toolbarSearchInput" : "searchInput"
        ].toUpperCase()
    ).then((resp) => {
      filter.loading = false;
      if (resp.data.code == 0 && resp.data.data.length > 0) {
        // console.log(resp.data.data);
        filter.items = resp.data.data;
      } else {
        filter.items = [];
      }
    });
  },

  dateFormat(data) {
      if(data) {
        //dd-MM-yyyy
        let tanggal =
          data.substring(8, 10) +
          "-" +
          data.substring(5, 7) +
          "-" +
          data.substring(0, 4);

        return tanggal;
      }
    },
},
};
</script>