<template>
  <v-card flat>
    <isttoolbar
      title="Exchange Rate"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer />
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            min-height="40"
            @click="disableForm = false"
            text
            v-show="checkAuthorities('exchange-rate-add')"
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn v-else @click="save" outlined class="mx-1" min-width="100px">
        Save
      </v-btn>
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="toList" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn v-else @click="toList" outlined class="mx-1" min-width="100px">
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View Exchange Rate' : 'Edit Exchange Rate'"
      class="mb-4"
      dark
      color="primary"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency From
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Currency From"
            ref="from"
            name="from"
            v-model="data.from"
            solo
            flat
            outlined
            dense
            :items="currItems"
            item-value="code"
            item-text="code"
            :rules="[rules.required]"
            :loading="currLoading"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency To
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Currency To"
            ref="to"
            name="to"
            v-model="data.to"
            solo
            flat
            outlined
            dense
            :items="currItems"
            item-value="code"
            item-text="code"
            :rules="[rules.required]"
            :loading="currLoading"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Default Rate
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Default Rate"
            ref="default"
            solo
            flat
            outlined
            dense
            name="default"
            v-model="data.default"
            v-money="amountChanged ? money : ''"
            @input="amountChanged = true"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            TAX Rate
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="TAX Rate"
            ref="alternate"
            solo
            flat
            outlined
            dense
            name="alternate"
            v-model="data.alternate"
            v-money="amountChanged ? money : ''"
            @input="amountChanged = true"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Period Month
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Periode Month"
            ref="month"
            solo
            flat
            outlined
            dense
            name="month"
            type="number"
            v-model="data.month"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Period Year
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Periode Year"
            ref="year"
            solo
            flat
            outlined
            dense
            name="year"
            type="number"
            v-model="data.year"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-switch
            ref="status"
            name="status"
            color="success"
            v-model="data.status"
            inset
            dense
            hide-details="auto"
            class="mt-0"
            :label="`${data.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-2" v-show="disableForm">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? toList() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  directives: { money: VMoney },
  async created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    this.getCurrList();
    if (this.$route.query.id) {
      this.data.id = this.$route.query.id;

      await API.get(
        "/config/api/master-currency-exchangerate/" + this.data.id
      ).then((resp) => {
        this.amountChanged = false;
        let dataResp = resp.data.data;
        this.data.id = dataResp.id;
        this.data.from = dataResp.currencyFrom;
        this.data.to = dataResp.currencyTo;
        this.data.default = this.currencyFormat(dataResp.rateDefault);
        this.data.alternate = this.currencyFormat(dataResp.rateAlternate);
        this.data.month = dataResp.periodMonth;
        this.data.year = dataResp.periodYear;
        this.data.creted_by = dataResp.createdBy;
        this.data.created_date = this.formatDate(dataResp.createdDate);
        this.data.status = dataResp.isActive == 1 ? true : false;
        this.data.entryName = dataResp.createdBy;
        this.data.entryDate = this.formatDate(dataResp.createdDate);
        this.data.modifName = dataResp.modifiedBy;
        this.data.modifDate = this.formatDate(dataResp.modifiedDate);
      });
      this.overlay = false;
    }
  },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    data: {
      id: "",
      from: "",
      to: "",
      default: "",
      alternate: "",
      month: "",
      year: "",
      creted_by: "",
      created_date: "",
      status: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    snackbar: false,
    snackbarText: "",
    currItems: [],
    currLoading: true,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    overlay: true,
    amountChanged: true,
  }),
  computed: {
    form() {
      return {
        from: this.data.from,
        to: this.data.to,
        default: this.data.default,
        alternate: this.data.alternate,
        month: this.data.month,
        year: this.data.year,
        // creted_by: this.data.creted_by,
        // created_date: this.data.created_date,
        status: this.data.status,
      };
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    async getCurrList() {
      let param = { size: -1, "isActive.equals": 1 };
      await API.get("/config/api/master-currency/", param).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let item = resp.data.data;
          for (i = 0; i < item.length; i++) {
            text.push(item[i]);
          }
          this.currItems = text;
          console.log(this.items);
        }
      });
      this.currLoading = false;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.disableForm = true;
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({
        name: "currency-manager-list",
        params: { fromRoute: "exchangerate" },
        query: {back: true},
      });
      // }
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f] && f != "status") {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doEdit();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doEdit() {
      let paramJSON = {
        currencyExchangeRate: {
          id: parseInt(this.data.id),
          currencyFrom: this.data.from,
          currencyTo: this.data.to,
          rateDefault: this.currencyToFloat(this.data.default),
          rateAlternate: this.currencyToFloat(this.data.alternate),
          periodMonth: parseInt(this.data.month),
          periodYear: parseInt(this.data.year),
          isActive: this.data.status ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/config/api/master-currency-exchangerate/update", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog = { show: false, success: false, error: false, errorMessage: "" },
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.toList();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
  },
};
</script>