<template>
  <v-card flat>
    <isttoolbar
      title="Exchange Rate"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer />
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="New Exchange Rate"
      class="mb-4"
      dark
      color="primary"
    ></isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency From
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Currency From"
            ref="from"
            v-model="param.from"
            solo
            flat
            outlined
            dense
            name="from"
            :items="currItems"
            item-value="code"
            :item-text="currTextItem"
            :rules="[rules.required]"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency To
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Currency To"
            ref="to"
            name="to"
            v-model="param.to"
            solo
            flat
            outlined
            dense
            :items="currItems"
            item-value="code"
            :item-text="currTextItem"
            :rules="[rules.required]"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Default Rate
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Default Rate"
            ref="default"
            solo
            flat
            outlined
            dense
            name="default"
            v-model="param.default"
            v-money="money"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            TAX Rate
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="TAX Rate"
            ref="alternate"
            solo
            flat
            outlined
            dense
            name="alternate"
            v-model="param.alternate"
            v-money="money"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Period Month
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Periode Month"
            ref="month"
            solo
            flat
            outlined
            dense
            name="month"
            type="number"
            v-model="param.month"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Period Year
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Periode Year"
            ref="year"
            solo
            flat
            outlined
            dense
            name="year"
            type="number"
            v-model="param.year"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  directives: { money: VMoney },
  created() {
    this.getCurrList();
  },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      from: "",
      to: "",
      default: "",
      alternate: "",
      month: "",
      year: "",
      status: true,
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    currItems: [],
    dialog: { show: false, success: false, error: false, errorMessage: "" },
  }),
  computed: {
    form() {
      return {
        from: this.param.from,
        to: this.param.to,
        default: this.param.default,
        alternate: this.param.alternate,
        month: this.param.month,
        year: this.param.year,
        // status: this.param.status
      };
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    getCurrList() {
      let param = { size: -1, "isActive.equals": 1 };
      API.get("/config/api/master-currency/", param).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let item = resp.data.data;
          for (i = 0; i < item.length; i++) {
            text.push(item[i]);
          }
          this.currItems = text;
          console.log(this.items);
        }
      });
    },
    back() {
      this.$router.replace({
        name: "currency-manager-list",
        params: { fromRoute: "exchangerate" },
      });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f] && f != "status") this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
      this.dialog.success = false;
      this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        currencyExchangeRate: {
          currencyFrom: this.param.from,
          currencyTo: this.param.to,
          rateDefault: this.currencyToFloat(this.param.default),
          rateAlternate: this.currencyToFloat(this.param.alternate),
          periodMonth: parseInt(this.param.month),
          periodYear: parseInt(this.param.year),
          isActive: 1,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/config/api/master-currency-exchangerate/add", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog = { show: false, success: false, error: false, errorMessage: "" },
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>