<template>
  <v-card flat>
    <isttoolbar title="Exchange Rate" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            min-width="40"
            @click="editItem"
            class="mr-2"
            text
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-square-edit-outline</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn min-height="40" v-bind="attrs" v-on="on" min-width="40" @click="back" text>
            <v-icon>mdi-cancel</v-icon>
          </v-btn>
        </template>
        <span>Close</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar title="View Exchange Rate" class="mb-4" dark color="primary"></isttoolbar>
    <v-form disabled>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Currency From</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Currency From"
            ref="from"
            name="from"
            v-model="data.from"
            solo
            flat
            outlined
            dense
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Currency To</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Currency To"
            ref="to"
            name="to"
            v-model="data.to"
            solo
            flat
            outlined
            dense
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Default Rate</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Default Rate"
            ref="default"
            solo
            flat
            outlined
            dense
            name="default"
            type="number"
            v-model="data.default"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">TAX Rate</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="TAX Rate"
            ref="alternate"
            solo
            flat
            outlined
            dense
            name="alternate"
            type="number"
            v-model="data.alternate"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Period Month</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Periode Month"
            ref="month"
            solo
            flat
            outlined
            dense
            name="month"
            type="number"
            v-model="data.month"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Period Year</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Periode Year"
            ref="year"
            solo
            flat
            outlined
            dense
            name="year"
            type="number"
            v-model="data.year"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-switch
            ref="status"
            name="status"
            color="success"
            v-model="data.status"
            inset
            dense
            hide-details="auto"
            class="mt-0"
            :label="`${data.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar
  },
  props: {
    source: String
  },
  created() {
    if (this.$route.query.id) {
      this.data.id = this.$route.query.id;

      API.get("/config/api/master-currency-exchangerate/" + this.data.id).then(
        resp => {
          let dataResp = resp.data.data;
          this.data.id = dataResp.id;
          this.data.from = dataResp.currencyFrom;
          this.data.to = dataResp.currencyTo;
          this.data.default = dataResp.rateDefault;
          this.data.alternate = dataResp.rateAlternate;
          this.data.month = dataResp.periodMonth;
          this.data.year = dataResp.periodYear;
          this.data.creted_by = dataResp.createdBy;
          this.data.created_date = dataResp.createdDate;
          this.data.status = dataResp.isActive == 1 ? true : false;
        }
      );
    }
  },
  data: () => ({
    data: {
      id: "",
      from: "",
      to: "",
      default: "",
      alternate: "",
      month: "",
      year: "",
      creted_by: "",
      created_date: "",
      status: ""
    },
    formHasErrors: false,
    rules: {
      required: value => !!value || "Required."
    },
    snackbar: false,
    snackbarText: ""
  }),
  computed: {},

  methods: {
    back() {
      this.$router.replace({
        name: "currency-manager-list",
        params: { fromRoute: "exchangerate" }, query: {back: true},
      });
    },
    editItem() {
      this.$router.push({
        name: "exchange-rate-edit",
        query: { id: this.$route.query.id, mode: "d" }
      });
    }
  }
};
</script>