<template>
  <v-card flat>
    <isttoolbar
      title="User Management"
      dark
      color="secondary"
      icon="mdi-folder-account-outline"
      style="position: fixed; width: 100%; z-index: 1"
    >
    </isttoolbar>
    <isttoolbar
      title="Create User"
      class="mb-2"
      dark
      color="primary"
      style="position: fixed; width: 100%; z-index: 1; top: 124px"
    ></isttoolbar>
    <div style="position: fixed; z-index: 2; margin-top: 6px; right: 10px">
      <v-btn min-width="100" @click="save" class="mr-2" outlined dark
        >Save
      </v-btn>
      <v-btn min-width="100" @click="back" outlined dark>Cancel </v-btn>
    </div>
    <!-- Start form -->
    <v-form class="mx-5" style="top: 100px; position: inherit">
      <v-row>
        <span class="ml-2 pa-1 primary--text title">Personal Data</span>
      </v-row>
      <!-- Personal Data -->
      <v-row>
        <v-col cols="6">
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">
                Full Name
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Full Name"
                ref="name"
                name="name"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.name"
                hide-details="auto"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">A/Executive Code 
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Account Executive Code"
                ref="nickName"
                name="nickName"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.nickName"
                hide-details="auto"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Date of Birth</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-menu
                v-model="dob"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="date"
                    ref="dob"
                    name="dob"
                    label="Date of Birth"
                    flat
                outlined
                dense
                solo
                    persistent-hint
                    append-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"                    
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title @input="dob = false"></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>-->
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Address</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Address"
                ref="userAddress"
                name="userAddress"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.userAddress"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Village</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.village"
                label="Village"
                ref="village"
                :search-input.sync="search.village.input"
                @keyup="addressSearch(search.village)"
                :items="search.village.items"
                item-value="id"
                item-text="name"
                :loading="search.village.loading"
                v-on:change="addressChange(search.village)"
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <!-- cache-items -->
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      District {{ item.district.name }} -
                      {{ item.district.regency.name }} Regency -
                      {{ item.district.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
            <!-- <v-col cols="5" align-self="start" class="pa-1">
              <v-row align="center" class="ml-2"> -->
            <v-col cols="2" class="pa-1" style="text-align: center">
              <span class="title">Postal Code</span>
            </v-col>
            <v-col cols="2" align-self="start" class="pa-1">
              <v-text-field
                label="Postal"
                ref="postalCode"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="postalCode"
                @keypress="onlyNumber"
                v-model="data.postalCode"
                v-on:keyup="postalCodeChange()"
                hide-details="auto"
              ></v-text-field>
            </v-col>
            <!-- </v-row>
            </v-col> -->
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">District</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.district"
                label="District"
                ref="district"
                :search-input.sync="search.district.input"
                @keyup="addressSearch(search.district)"
                :items="search.district.items"
                item-value="id"
                item-text="name"
                :loading="search.district.loading"
                v-on:change="addressChange(search.district)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      {{ item.regency.name }} Regency -
                      {{ item.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">City</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.city"
                label="City"
                ref="city"
                :search-input.sync="search.city.input"
                @keyup="addressSearch(search.city)"
                :items="search.city.items"
                item-value="id"
                item-text="name"
                :loading="search.city.loading"
                v-on:change="addressChange(search.city)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">{{ item.province.name }}</p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Province</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.province"
                label="Province"
                ref="province"
                :search-input.sync="search.province.input"
                @keyup="addressSearch(search.province)"
                :items="search.province.items"
                item-value="id"
                item-text="name"
                :loading="search.province.loading"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Mobile Phone</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Mobile Phone"
                ref="mobilePhone"
                name="mobilePhone"
                @keypress="onlyNumber"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.mobilePhone"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Email Address </span>
              <span class="red--text">*</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Email Address"
                ref="emailAddress"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="emailAddress"
                v-model="data.emailAddress"
                hide-details="auto"
                suffix="@ibsrisk.com"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Company
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="company"
                label="Select Company ..."
                v-model="data.company"
                flat
                outlined
                dense
                solo
                name="company"
                :items="listCompany"
                item-text="name"
                item-value="id"
                :rules="[rules.required]"
                :loading="loadCompany"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Department
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="department"
                label="Select Department ..."
                v-model="data.department"
                flat
                outlined
                dense
                solo
                name="department"
                :items="listDepartment"
                :item-text="deptTextItem"
                item-value="code"
                :rules="[rules.required]"
                :loading="loadDepartment"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >User Level
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="userLevel"
                label="Select User Level ..."
                v-model="data.userLevel"
                flat
                outlined
                dense
                solo
                name="userLevel"
                :items="listUserLevel"
                item-text="value"
                item-value="code"
                :rules="[rules.required]"
                :loading="loadUserLevel"
              ></v-autocomplete>
            </v-col>
          </v-row> -->
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Office Phone</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Office Phone"
                ref="officePhone"
                name="officePhone"
                @keypress="onlyNumber"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.officePhone"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Faximile</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Faximile"
                ref="faximile"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="faximile"
                v-model="data.faximile"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <br />
          <v-col cols="12">
            <h4 class="primary--text title">Accounting Information</h4>
          </v-col>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <h4 class="title">Staff Code</h4>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Staff Code"
                ref="Staff Code"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="Staff Code"
                v-model="data.staffCode"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- End of Personal Data -->

      <!-- Start Login Data -->
      <v-col cols="12">
        <h4 class="primary--text title">Login Data</h4>
      </v-col>
      <v-row>
        <v-col cols="6">
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Username
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Username"
                ref="username"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="username"
                v-model="data.username"
                hide-details="auto"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Password
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Password"
                ref="userPassword"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="userPassword"
                hide-details="auto"
                v-model="data.userPassword"
                :value="data.userPassword"
                :type="value ? 'password' : 'text'"
                :append-icon="value ? 'mdi-eye-off' : 'mdi-eye'"
                @click:append="() => (value = !value)"
                @input="(_) => (data.userPassword = _)"
                :rules="[rules.required, rules.password]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Role
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="roleUser"
                label="Select Role ..."
                v-model="data.roleUser"
                :search-input.sync="search.role.input"
                @keyup="addressSearch(search.role)"
                flat
                outlined
                dense
                solo
                return-object
                name="roleUser"
                :items="search.role.items"
                item-text="name"
                item-value="id"
                :rules="[rules.requiredArray]"
                :loading="loadRole || search.role.loading"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- End of Login Data -->
    </v-form>
    <!-- End of Form -->

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="dialog.success ? back() : dialog.show = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  created() {
    this.getRoleList();
    this.getDepartmentList();
    this.getCompanyList();
    this.getUserLevelList();
  },
  data: () => ({
    data: {
      // userId: "",
      name: "",
      nickName: "",
      // dob: "",
      userAddress: "",
      postalCode: "",
      village: "",
      district: "",
      city: "",
      province: "",
      mobilePhone: "",
      emailAddress: "",
      company: "",
      department: "",
      userLevel: "",
      officePhone: "",
      faximile: "",
      username: "",
      userPassword: "",
      roleUser: { id: null, name: null },
      staffCode: "",
    },
    valid: true,
    value: true,
    snackbar: false,
    snackbarText: "",
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    dialogTittle: "",
    dialogMsg: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      email: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      },
      password: (value) => {
        const pattern =
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\\$%\\^&\\*])(?=.{8,})/;
        return (
          pattern.test(value) ||
          "Min. 8 characters with at least one capital letter, a number and a special character."
        );
      },
      requiredArray: (value) => !!value.id || "Required.",
    },
    listRole: [],
    listDepartment: [],
    listCompany: [],
    listUserLevel: [],
    loadRole: true,
    loadDepartment: true,
    loadCompany: true,
    loadUserLevel: true,
    date: new Date().toISOString().substr(0, 10),
    // dob: false,
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url: "/config/api/master-location/village?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url: "/config/api/master-location/district?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url: "/config/api/master-location/regency?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url: "/config/api/master-location/provinces?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      role: {
        name: "role",
        input: "",
        items: [],
        url: "/user/api/user-management/role/?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
    },
    timerSearchPostalCode:null,
  }),
  computed: {
    form() {
      return {
        // userId: this.data.userId,
        name: this.data.name,
        nickName: this.data.nickName,
        // userAddress: this.data.userAddress,
        // postalCode: this.data.postalCode,
        // village: this.data.village,
        // district: this.data.district,
        // city: this.data.city,
        // province: this.data.province,
        // mobilePhone: this.data.mobilePhone,
        emailAddress: this.data.emailAddress,
        company: this.data.company,
        department: this.data.department,
        // userLevel: this.data.userLevel,
        // officePhone: this.data.officePhone,
        // faximile: this.data.faximile,
        username: this.data.username,
        userPassword: this.data.userPassword,
        roleUser:
          typeof this.data.roleUser == "object"
            ? this.data.roleUser.id
            : this.data.roleUser,
      };
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      this.$router.replace({ name: "user-management-list" });
    },
    toView(idUser) {
      this.$router.replace({ 
        name: "user-management-edit",
        query: {id: idUser, mode: "d"}
      });
    },
    async getRoleList() {
      let param = {
        size: -1,
        "isActive.equals": 1,
      };
      await API.get("/user/api/user-management/role/", param).then((resp) => {
        if (resp.data.code == 0) {
          this.listRole = resp.data.data;
          this.search.role.items = this.listRole;
        }
      });
      this.loadRole = false;
    },
    async getDepartmentList() {
      let param = {
        size: -1,
        sort: "name,asc,ignoreCase",
      };
      await API.get("/user/api/company/department/", param).then((resp) => {
        if (resp.data.code == 0) {
          this.listDepartment = resp.data.data;
        }
      });
      this.loadDepartment = false;
    },
    async getCompanyList() {
      let param = {
        size: -1,
      };
      await API.get("/user/api/company/profile/", param).then((resp) => {
        if (resp.data.code == 0) {
          this.listCompany = resp.data.data;
        }
      });
      this.loadCompany = false;
    },
    async getUserLevelList() {
      let param = {
        "module.equals": "USER_LEVEL",
        size: -1,
        "isActive.equals": 1,
      };
      await API.get("/config/api/master-parameter/", param).then((resp) => {
        if (resp.data.code == 0) {
          this.listUserLevel = resp.data.data;
        }
      });
      this.loadUserLevel = false;
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      // if(!(/.+@.+/.test(this.data.emailAddress))) {
      //   this.formHasErrors = true;
      //   this.$refs['emailAddress'].validate(true);
      // }

      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        user: {
          loginData: {
            password: this.data.userPassword,
            roleId: this.data.roleUser.id,
            roleName: this.data.roleUser.name,
            userId: "",
            username: this.data.username,
          },
          personalData: {
            address: this.data.userAddress,
            city:
              typeof this.data.city == "object"
                ? this.data.city.name
                : this.data.city,
            district:
              typeof this.data.district == "object"
                ? this.data.district.name
                : this.data.district,
            emailAddress: this.data.emailAddress + "@ibsrisk.com",
            faxExt: "",
            faxNo: this.data.faximile,
            staffCode: this.data.staffCode,
            fullname: this.data.name,
            id: "",
            idCompany: this.data.company,
            idDepartmentCode: this.data.department,
            mobilePhoneNo: this.data.mobilePhone,
            nickname: this.data.nickName,
            npwpAddress: "",
            npwpKpp: "",
            npwpName: "",
            npwpNo: "",
            phoneExt: "",
            phoneNo: this.data.mobilePhone,
            province:
              typeof this.data.province == "object"
                ? this.data.province.name
                : this.data.province,
            userLevel: "",
            village:
              typeof this.data.village == "object"
                ? this.data.village.name
                : this.data.village,
            zipcode: this.data.postalCode,
          },
        },
      };
      let param = JSON.stringify(paramJSON);
      this.snackbarText = "Saving....";
      this.snackbar = true;

      API.post("/user/api/user-management/user/add", param)
        .then((resp) => {
          if (resp.data.code === 0) {
            API.get("/user/api/user-management/user/?nickname.equals=" + this.data.nickName)
            .then((response) => {
              if (response.data.code === 0) {
                this.dialog= { show: false, success: false, error: false, errorMessage: "" };
                this.setSnackbar({ 
                  top: true, 
                  notOutlined: true,
                  textTitle: true,
                  icon: "mdi-check-circle"
                });
                
                let userId = response.data.data[0].loginData.userId;
                this.toView(userId);
              } else {
                this.back();
              }
            }).catch((error) => {
              console.log("error", error);
              this.back();
            });
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    onlyNumber($event) {
      let keyCode = $event.keyCode ? $event.keyCode : $event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        $event.preventDefault();
      }
    },
    addressSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    addressChange(search) {
      if (typeof this.data[search.name] == "object") {
        if (search.name == "village") {
          this.data.postalCode = this.data.village.postalCode;
          this.data.district = this.data.village.district.name;
          this.data.city = this.data.village.district.regency.name;
          this.data.province = this.data.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.data.city = this.data.district.regency.name;
          this.data.province = this.data.district.regency.province.name;
        } else if (search.name == "city") {
          this.data.province = this.data.city.province.name;
        }
      }
    },
    postalCodeChange() {
      console.log(this.$refs.village);
      if (this.timerSearchPostalCode) {
        clearTimeout(this.timerSearchPostalCode)
        this.timerSearchPostalCode = null
      }
      if (this.data.postalCode != "" && this.data.postalCode.length >= 5) {
        this.timerSearchPostalCode = setTimeout(() => {
          // this.search.village.items = []
          this.search.village.loading = true
          API.get("/config/api/master-location/village?postalCode.equals=" + this.data.postalCode, null)
            .then((resp) => {
              this.search.village.loading = false;
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.search.village.items = resp.data.data;
              } else {
                this.search.village.items = [];
              }
              this.$refs.village.focus()
              this.$refs.village.activateMenu()
            }).catch((e) => {
              console.log("error", e);
              this.search.village.loading = false;
            });
        }, 800);
      }
    },

    deptTextItem: (item) => item.code + " - " + item.name,
  },
};
</script>