<template>
  <v-card flat>
    <isttoolbar
      title="User Management"
      dark
      color="secondary"
      icon="mdi-handshake"
      style="position: fixed; width: 100%; z-index: 1;"
    >
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View User' : 'Edit User'"
      dark
      class="mb-4"
      color="primary"
      style="position: fixed; width: 100%; z-index: 1; top: 124px;"
    ></isttoolbar>
    <div style="position: fixed; z-index: 2; margin-top: 6px; right: 10px;">
      <v-btn
        dark
        class="mx-1"
        outlined
        min-width="100px"
        @click="statusChangeDialog('unblock')"
        v-show="disableForm && data.loginStatus == 1"
      >
        UNBLOCK
      </v-btn>
      <v-tooltip
        bottom
        v-if="disableForm && checkAuthorities('user-management-edit')"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            @click="toEdit()"
            text
            dark
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        v-show="!disableForm"
        @click="save"
        outlined
        class="mx-1"
        min-width="100px"
        dark
      >
        Save
      </v-btn>
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" @click="toList" text dark>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn
        v-else
        @click="back"
        outlined
        class="mx-1"
        min-width="100px"
        dark
      >
        Cancel
      </v-btn>
    </div>
    <!-- Start form -->
    <v-form :readonly="disableForm" style="top: 100px; position: inherit;">
      <v-col cols="12">
        <span class="text-h6 primary--text">Personal Data</span>
      </v-col>
      <!-- Personal Data -->
      <v-row>
        <v-col cols="6">
          <!-- <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">
                User ID
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-text-field
                label="User ID"
                ref="userId"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="userId"
                v-model="data.userId"
                hide-details="auto"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row> -->
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">
                Full Name
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-text-field
                label="Full Name"
                ref="name"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="name"
                v-model="data.name"
                hide-details="auto"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >A/Executive Code
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-text-field
                label="Account Executive Code"
                ref="nickName"
                name="nickName"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.nickName"
                hide-details="auto"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Date of Birth</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-menu
                v-model="dob"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="date"
                    ref="dob"
                    name="dob"
                    label="Date of Birth"
                    solo
                    persistent-hint
                    append-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"                    
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title @input="dob = false"></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>-->
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Address</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Address"
                ref="userAddress"
                name="userAddress"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.userAddress"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Village</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.village"
                label="Village"
                ref="village"
                :search-input.sync="search.village.input"
                @keyup="addressSearch(search.village)"
                :items="search.village.items"
                item-value="id"
                item-text="name"
                :loading="search.village.loading"
                v-on:change="addressChange(search.village)"
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <!-- cache-items -->
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      District {{ item.district.name }} -
                      {{ item.district.regency.name }} Regency -
                      {{ item.district.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
            <!-- <v-col cols="5" align-self="start" class="pa-1">
              <v-row align="center" class="mx-2"> -->
            <v-col cols="2" class="pa-1" style="text-align: center;">
              <span class="title">Postal Code</span>
            </v-col>
            <v-col cols="2" align-self="start" class="pa-1">
              <v-text-field
                label="Postal"
                ref="postalCode"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="postalCode"
                @keypress="onlyNumber"
                v-model="data.postalCode"
                v-on:keyup="postalCodeChange()"
                hide-details="auto"
              ></v-text-field>
            </v-col>
            <!-- </v-row>
            </v-col> -->
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">District</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.district"
                label="District"
                ref="district"
                :search-input.sync="search.district.input"
                @keyup="addressSearch(search.district)"
                :items="search.district.items"
                item-value="id"
                item-text="name"
                :loading="search.district.loading"
                v-on:change="addressChange(search.district)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      {{ item.regency.name }} Regency -
                      {{ item.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">City</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.city"
                label="City"
                ref="city"
                :search-input.sync="search.city.input"
                @keyup="addressSearch(search.city)"
                :items="search.city.items"
                item-value="id"
                item-text="name"
                :loading="search.city.loading"
                v-on:change="addressChange(search.city)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">{{ item.province.name }}</p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Province</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-combobox
                v-model="data.province"
                label="Province"
                ref="province"
                :search-input.sync="search.province.input"
                @keyup="addressSearch(search.province)"
                :items="search.province.items"
                item-value="id"
                item-text="name"
                :loading="search.province.loading"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Mobile Phone</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Mobile Phone"
                ref="mobilePhone"
                name="mobilePhone"
                @keypress="onlyNumber"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.mobilePhone"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Email Address </span>
              <span class="red--text">*</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Email Address"
                ref="emailAddress"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="emailAddress"
                v-model="data.emailAddress"
                hide-details="auto"
                suffix="@ibsrisk.com"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Company
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="company"
                label="Select Company ..."
                v-model="data.company"
                flat
                outlined
                dense
                solo
                name="company"
                :items="dropdown.company.items"
                item-text="name"
                item-value="id"
                :rules="[rules.required]"
                :loading="dropdown.company.loading"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Department
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="department"
                label="Select Department ..."
                v-model="data.department"
                flat
                outlined
                dense
                solo
                name="department"
                :items="dropdown.department.items"
                :item-text="deptTextItem"
                item-value="code"
                :rules="[rules.required]"
                :loading="dropdown.department.loading"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >User Level
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="userLevel"
                label="Select User Level ..."
                v-model="data.userLevel"
                flat
                outlined
                dense
                solo
                name="userLevel"
                :items="dropdown.userLevel.items"
                item-text="value"
                item-value="code"
                :rules="[rules.required]"
                :loading="dropdown.userLevel.loading"
              ></v-autocomplete>
            </v-col>
          </v-row> -->
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Office Phone</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Office Phone"
                ref="officePhone"
                name="officePhone"
                @keypress="onlyNumber"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-model="data.officePhone"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Faximile</span>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Faximile"
                ref="faximile"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="faximile"
                v-model="data.faximile"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-col cols="12">
            <h4 class="primary--text title">Accounting Information</h4>
          </v-col>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <h4 class="title">Staff Code</h4>
            </v-col>
            <v-col cols="9" align-self="start" class="pa-1">
              <v-text-field
                label="Staff Code"
                ref="Staff Code"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="Staff Code"
                v-model="data.staffCode"
                hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- End of Personal Data -->

      <!-- Start Login Data -->
      <v-col cols="12">
        <h4 class="primary--text title">Login Data</h4>
      </v-col>
      <v-row>
        <v-col cols="6">
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Username
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-text-field
                label="Username"
                ref="username"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="username"
                v-model="data.username"
                hide-details="auto"
                :rules="[rules.required]"
              >
                <!-- readonly -->
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Password<span class="red--text">*</span></span
              >
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-text-field
                label="Password"
                ref="userPassword"
                class="ma-0"
                flat
                outlined
                dense
                solo
                name="userPassword"
                hide-details="auto"
                v-model="data.userPassword"
                :type="passwordType ? 'password' : 'text'"
                @input="(_) => (data.userPassword = _)"
                readonly
              >
                <!-- :clearable="!disableForm && data.userPassword == '••••••••'" -->
                <!-- :readonly="data.userPassword == '••••••••'" -->
                <!-- :rules="[rules.password]" -->
                <v-icon
                  v-show="false"
                  slot="append"
                  @click="passwordType = !passwordType"
                >
                  {{ passwordType ? "mdi-eye-off" : "mdi-eye" }}
                  <!-- v-show="data.userPassword != '••••••••'" -->
                </v-icon>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"
                >Role
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                ref="roleUser"
                label="Select Role ..."
                v-model="data.roleUser"
                :search-input.sync="search.role.input"
                @keyup="addressSearch(search.role)"
                flat
                outlined
                dense
                solo
                return-object
                name="roleUser"
                :items="search.role.items"
                item-text="name"
                item-value="id"
                :rules="[rules.requiredArray]"
                :loading="search.role.loading"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row align="center" class="mx-2">
            <v-col cols="3" class="pa-1">
              <span class="title"> Record Status </span>
            </v-col>
            <v-col cols="9" class="pa-1">
              <v-switch
                ref="status"
                name="status"
                color="success"
                v-model="data.status"
                inset
                dense
                hide-details="auto"
                class="mt-0"
                @change="statusChangeDialog"
                :label="`${data.status ? 'Active' : 'Inactive'}`"
              ></v-switch>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="mx-2" v-show="data.loginStatus == 1">
            <v-col cols="3" class="pa-1"> </v-col>
            <v-col cols="9" class="pa-1">
              <span class="title error--text"> BLOCKED </span>
              
            </v-col>
          </v-row> -->
        </v-col>
      </v-row>
      <!-- End of Login Data -->

      <br />
      <v-row align="center" class="mx-2" v-show="disableForm">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <!-- End of Form -->

    <v-card-actions> </v-card-actions>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="dialog.success ? back() : dialog.show = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <confirmdialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      v-on:yes="confirmDialog.onYes"
      v-on:no="confirmDialog.onNo"
    >
    </confirmdialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>

  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import confirmdialog from "@/components/dialog/confirmDialog";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
    submitdialog,
    confirmdialog,
  },
  props: {
    source: String,
  },
  created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    this.getDropdownList();
    if (this.$route.query.id) {
      this.data.id = this.$route.query.id;
      this.getItemData(this.data.id);
    }
  },
  data: () => ({
    data: {
      id: "",
      name: "",
      nickName: "",
      userAddress: "",
      postalCode: "",
      village: "",
      district: "",
      city: "",
      province: "",
      mobilePhone: "",
      emailAddress: "",
      company: "",
      department: "",
      userLevel: "",
      officePhone: "",
      officePhoneExt: "",
      faximile: "",
      username: "",
      userPassword: "••••••••",
      roleUser: {},
      roleName: "",
      staffCode: "",
      status: "",
      loginStatus: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    valid: true,
    passwordType: true,
    snackbar: false,
    snackbarText: "",
    dialogTittle: "",
    dialogMsg: "",
    formHasErrors: false,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    rules: {
      required: (value) => !!value || "Required.",
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      },
      password: (value) => {
        const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\\$%\\^&\\*])(?=.{8,})/;
        return (
          pattern.test(value) ||
          "Min. 8 characters with at least one capital letter, a number and a special character."
        );
      },
      requiredArray: (value) =>
        (typeof value == "object" ? !!value.id : !!value) || "Required.",
    },
    listRole: [],
    listDepartment: [],
    listCompany: [],
    listUserLevel: [],
    date: new Date().toISOString().substr(0, 10),
    dropdown: {
      // role: {
      //   url: "/user/api/user-management/role/",
      //   items: [],
      //   param: { size: -1, "isActive.equals": 1 },
      //   loading: true,
      // },
      department: {
        url: "/user/api/company/department/",
        items: [],
        param: {
          size: -1,
          sort: "name,asc,ignoreCase",
        },
        loading: true,
      },
      company: {
        url: "/user/api/company/profile/",
        items: [],
        param: { size: -1 },
        loading: true,
      },
      userLevel: {
        url: "/config/api/master-parameter/",
        items: [],
        param: {
          size: -1,
          "module.equals": "USER_LEVEL",
          "isActive.equals": 1,
        },
        loading: true,
      },
    },
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url:
          "/config/api/master-location/village?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url:
          "/config/api/master-location/district?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url:
          "/config/api/master-location/regency?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url:
          "/config/api/master-location/provinces?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      role: {
        name: "role",
        input: "",
        items: [],
        url: "/user/api/user-management/role/?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
    },
    overlay: true,
    // dob: false,
    submitDialog: {
      show: false,
      mode: "",
      title: null,
      message: "",
      onSuccess: function () {},
    },
    confirmDialog: {
      show: false,
      message: "",
      onYes: function () {},
      onNo: function () {},
    },
    timerSearchPostalCode:null,
  }),
  computed: {
    form() {
      return {
        // userId: this.data.userId,
        name: this.data.name,
        nickName: this.data.nickName,
        // userAddress: this.data.userAddress,
        // postalCode: this.data.postalCode,
        // village: this.data.village,
        // district: this.data.district,
        // city: this.data.city,
        // province: this.data.province,
        // mobilePhone: this.data.mobilePhone,
        emailAddress: this.data.emailAddress,
        company: this.data.company,
        department: this.data.department,
        // userLevel: this.data.userLevel,
        // officePhone: this.data.officePhone,
        // faximile: this.data.faximile,
        username: this.data.username,
        roleUser:
          typeof this.data.roleUser == "object"
            ? this.data.roleUser.id
            : this.data.roleUser,
      };
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "e" &&
        !this.disableForm
      ) {
        this.toView();
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "user-management-list", query: {back: true}, });
    },
    toEdit() {
      this.$router.replace({ 
        name: "user-management-edit",
        query: {id: this.data.id, mode: "e"}
      }).catch(()=>{});
      this.disableForm = false
    },
    toView() {
      this.$router.replace({ 
        name: "user-management-edit",
        query: {id: this.data.id, mode: "d"}
      }).catch(()=>{});
      this.disableForm = true;
      this.getItemData(this.data.id);
    },
    save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          // disable validation for switch
          if (this.data.recordStatus === false) return;
          console.log(f);
          console.log(this.form[f]);
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      
      // if(!(/.+@.+/.test(this.data.emailAddress))) {
      //   this.formHasErrors = true;
      //   this.$refs['emailAddress'].validate(true);
      // }
      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        this.doEdit();
      } else {
        this.formHasErrors = false;
      }
    },
    async getItemData(id) {
      this.overlay =  true;
      let resp = await API.get("/user/api/user-management/user/" + id, null);
      if (resp.data.code === 0) {
        var personalData = resp.data.data.personalData;
        var loginData = resp.data.data.loginData;
        this.data.id = loginData.userId;
        this.data.personalDataId = personalData.id;
        this.data.name = personalData.fullname;
        this.data.nickName = personalData.nickname;
        this.data.userAddress = personalData.address;
        this.data.postalCode = personalData.zipcode;
        this.data.village = personalData.village;
        this.data.district = personalData.district;
        this.data.city = personalData.city;
        this.data.province = personalData.province;
        this.data.mobilePhone = personalData.mobilePhoneNo;
        // this.data.emailAddress = personalData.emailAddress;
        if(personalData.emailAddress) {
          if(personalData.emailAddress.includes("@ibsrisk.com")) {
            this.data.emailAddress = personalData.emailAddress.replace("@ibsrisk.com", "");
          } else {
            this.data.emailAddress = personalData.emailAddress;
          }
        } else {
          this.data.emailAddress = personalData.emailAddress
        }
        this.data.company = personalData.idCompany;
        this.data.department = personalData.idDepartmentCode;
        this.data.userLevel = personalData.userLevel;
        this.data.officePhone = personalData.phoneNo;
        this.data.officePhoneExt = personalData.phoneExt;
        this.data.faximile = personalData.faxNo;
        this.data.status = loginData.isActive;
        this.data.loginStatus = loginData.status;
        this.data.username = loginData.username;
        // this.data.userPassword = loginData.password.length > 0 ? loginData.password : "••••••••";
        this.data.roleUser = loginData.roleId;
        this.data.roleName = loginData.roleName;
        this.data.staffCode = personalData.staffCode;
        this.data.entryName = resp.data.data.createdBy;
        this.data.entryDate = this.formatDate(resp.data.data.createdDate);
        this.data.modifName = resp.data.data.modifiedBy;
        this.data.modifDate = this.formatDate(resp.data.data.modifiedDate);

        this.search.role.items = [
          { id: loginData.roleId, name: loginData.roleName },
        ];
        
        Object.keys(this.form).forEach((f) => {
          this.$refs[f].resetValidation(true);
        });
          
      }
      this.overlay = false;
    },
    async doEdit() {
      console.log("this.data.roleUser");
      console.log(this.data.roleUser);
      let paramJSON = {
        user: {
          loginData: {
            password:
              this.data.userPassword == "••••••••"
                ? ""
                : this.data.userPassword,
            roleId:
              typeof this.data.roleUser == "object"
                ? this.data.roleUser.id
                : this.data.roleUser,
            roleName:
              typeof this.data.roleUser == "object"
                ? this.data.roleUser.name
                : this.data.roleName,
            userId: this.data.id,
            username: this.data.username,
          },
          personalData: {
            address: this.data.userAddress,
            city:
              typeof this.data.city == "object"
                ? this.data.city.name
                : this.data.city,
            district:
              typeof this.data.district == "object"
                ? this.data.district.name
                : this.data.district,
            emailAddress: this.data.emailAddress + "@ibsrisk.com",
            faxExt: "",
            faxNo: this.data.faximile,
            fullname: this.data.name,
            id: this.data.personalDataId,
            idCompany: this.data.company,
            idDepartmentCode: this.data.department,
            mobilePhoneNo: this.data.mobilePhone,
            nickname: this.data.nickName,
            npwpAddress: "",
            npwpKpp: "",
            npwpName: "",
            npwpNo: "",
            phoneExt: "",
            phoneNo: this.data.mobilePhone,
            province:
              typeof this.data.province == "object"
                ? this.data.province.name
                : this.data.province,
            userLevel: "",
            village:
              typeof this.data.village == "object"
                ? this.data.village.name
                : this.data.village,
            zipcode: this.data.postalCode,
            staffCode: this.data.staffCode,
            isActive: this.data.status ? 1 : 0,
          },
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/user/api/user-management/user/update", param);
      if (resp.data.code === 0) {
        this.dialog= { show: false, success: false, error: false, errorMessage: "" };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.toView();
      } else {
        this.dialog.error = true;
        this.dialog.errorMessage =
          resp.data.errorMessage.length > 0
            ? resp.data.errorMessage.toUpperCase()
            : resp.data.errordescription.toUpperCase();
      }
    },
    onlyNumber($event) {
      //console.log($event.keyCode); //keyCodes value
      let keyCode = $event.keyCode ? $event.keyCode : $event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        $event.preventDefault();
      }
    },
    async getDropdownList() {
      for (let i in this.dropdown) {
        await API.get(this.dropdown[i].url, this.dropdown[i].param).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.dropdown[i].items = resp.data.data;
              if (i == "role") {
                this.search.role.items = resp.data.data;
              }
            }
          }
        );
        this.dropdown[i].loading = false;
      }
    },
    addressSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      });
      search.request = null;
    },
    addressChange(search) {
      if (typeof this.data[search.name] == "object") {
        if (search.name == "village") {
          this.data.postalCode = this.data.village.postalCode;
          this.data.district = this.data.village.district.name;
          this.data.city = this.data.village.district.regency.name;
          this.data.province = this.data.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.data.city = this.data.district.regency.name;
          this.data.province = this.data.district.regency.province.name;
        } else if (search.name == "city") {
          this.data.province = this.data.city.province.name;
        }
      }
    },
    statusChangeDialog(status = null) {
      let vm = this;
      let action = "";
      if (status == "unblock") {
        action = "unblock";
      } else if (this.data.status) {
        action = "activate";
      } else {
        action = "deactivate";
      }
      this.confirmDialog.message =
        "Are you sure to " + action + " this User ID?";
      this.confirmDialog.onYes = function () {
        vm.statusChange(status);
        vm.confirmDialog.show = false;
      };
      this.confirmDialog.onNo = function () {
        if (action != "unblock") {
          vm.data.status = !vm.data.status;
        }
        vm.confirmDialog.show = false;
      };

      this.confirmDialog.show = true;
    },
    statusChange(status = null) {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let submitUrl = "/user/api/user-management/user/status-deactivate/";
      let action = "deactivate";
      if (status != null && status == "unblock") {
        submitUrl = "/user/api/user-management/user/status-unblock/";
        action = "unblock";
      } else if (this.data.status) {
        submitUrl = "/user/api/user-management/user/status-activate/";
        action = "activate";
      }
      submitUrl = submitUrl + this.data.id;
      API.post(submitUrl)
        .then((resp) => {
          console.log("resp", resp);
          if (resp.data.code == 0) {
            this.submitDialog.title = "Success to " + action + " user";
            this.submitDialog.mode = "success";
            this.submitDialog.onSuccess = function () {
              vm.overlay = true;
              vm.submitDialog.show = false;
              vm.getItemData(vm.data.id);
            };
          } else {
            this.submitDialog.title = "Failed to " + action + " user";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
            this.data.status = !this.data.status;
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.title = "Failed to " + action + " user";
          this.submitDialog.message = "";
          this.submitDialog.mode = "error";
          this.data.status = !this.data.status;
        });
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;

      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    postalCodeChange() {
      console.log(this.$refs.village);
      if (this.timerSearchPostalCode) {
        clearTimeout(this.timerSearchPostalCode)
        this.timerSearchPostalCode = null
      }
      if (this.data.postalCode != "" && this.data.postalCode.length >= 5) {
        this.timerSearchPostalCode = setTimeout(() => {
          // this.search.village.items = []
          this.search.village.loading = true
          API.get("/config/api/master-location/village?postalCode.equals=" + this.data.postalCode, null)
            .then((resp) => {
              this.search.village.loading = false;
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.search.village.items = resp.data.data;
              } else {
                this.search.village.items = [];
              }
              this.$refs.village.focus()
              this.$refs.village.activateMenu()
            }).catch((e) => {
              console.log("error", e);
              this.search.village.loading = false;
            });
        }, 800);
      }
    },

    deptTextItem: (item) => item.code + " - " + item.name,
  },
};
</script>
