<template>
  <v-card flat>
    <isttoolbar
      title="User Management"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer></v-spacer>
      <v-btn
        outlined
        color="white"
        @click="goToAdd"
        v-show="checkAuthorities('user-management-add')"
      >
        <v-icon left>mdi-plus</v-icon>Add User
      </v-btn>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-header
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th
              v-for="header in headers"
              :key="header.text"
              class="px-1 xsmall-label"
            >
              <v-text-field
                v-if="header.filterType == 'input'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:keyup="onkeyupSearch"
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="sortClick(header.sortingParam)"
                >
                  <v-icon
                    v-if="
                      header.sortingParam == options.sortBy[0] &&
                      !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.sortingParam == options.sortBy[0] &&
                      options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon
                    v-else-if="header.sortingParam != options.sortBy[0]"
                    dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-text-field>
              <v-autocomplete
                v-else-if="header.filterType == 'select'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :search-input.sync="header.searchInput"
                @keyup="autocompSearch(header)"
                :items="header.items"
                item-value="id"
                item-text="name"
                clearable
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="sortClick(header.sortingParam)"
                >
                  <v-icon
                    v-if="
                      header.sortingParam == options.sortBy[0] &&
                      !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.sortingParam == options.sortBy[0] &&
                      options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon
                    v-else-if="header.sortingParam != options.sortBy[0]"
                    dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-autocomplete>
              <span v-else>{{ header.text }}</span>
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:top>
        <isttoolbar
          title="List Of User Management"
          dark
          color="primary"
          class="mb-0"
        ></isttoolbar>
      </template>
      <template v-slot:[`item.loginData.isActive`]="{ item }">
        <span v-if="item.loginData.isActive == 1" class="success--text"
          >Active</span
        >
        <span v-else class="red--text">Inactive</span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="editItem(item, 'e')"
              v-show="checkAuthorities('user-management-edit')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="420">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" text @click="dialog = false">Cancel</v-btn>
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";

export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    toDelete: {},
    dialog: false,
    headers: [
      {
        text: "User ID",
        value: "loginData.userId",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "id",
        sortingParam: "user.id",
        searchParam: ".equals",
      },
      {
        text: "A/Executive Name",
        value: "personalData.nickname",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "nickname",
        sortingParam: "nickname",
        searchParam: ".contains",
      },
      {
        text: "Full Name",
        value: "personalData.fullname",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "fullname",
        sortingParam: "fullname",
        searchParam: ".contains",
      },
      {
        text: "Email",
        value: "personalData.emailAddress",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "email",
        sortingParam: "email",
        searchParam: ".contains",
      },
      {
        text: "Role",
        value: "loginData.roleName",
        searchValue: "",
        searchable: true,
        filterType: "select",
        searchInput: "",
        filterParam: "roleId",
        sortingParam: "user.roles.name",
        searchParam: "",
        items: [],
        url: "/user/api/user-management/role/?name.contains=",
        loading: false,
      },
      {
        text: "Record Status",
        value: "loginData.isActive",
        searchValue: "",
        searchable: true,
        filterType: "select",
        searchInput: "",
        filterParam: "isActive",
        sortingParam: "isActive",
        searchParam: ".equals",
        items: [
          { id: "1", name: "Active" },
          { id: "0", name: "Inactive" },
        ],
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    param: {
      regency: "",
    },
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    provinceItems: [],
    regencyItems: [],
  }),

  computed: {
    form() {
      return {
        // searchValue: this.headers.searchValue,
        regency: this.param.regency,
      };
    },
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },
  created() {
    if(this.$route.query.back == true) this.backFromAction();
  },
  // mounted() {
  //   this.refresh();
  // },
  // created() {
  // },
  methods: {
    goToAdd() {
      this.$router.replace({ name: "user-management-add" });
    },
    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        ) {
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        }

        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        API.get("user/api/user-management/user/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },

    viewItem(item) {
      this.$router.push({
        name: "area-district-view",
        params: { item: item },
        query: { id: item.id },
      });

      this.storeTable();
    },
    editItem(item, mode) {
      this.$router.push({
        name: "user-management-edit",
        params: { item: item },
        query: { id: item.loginData.userId, mode: mode },
      });

      this.storeTable();
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("config/api/master-location/district/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    sortClick(value) {
      console.log(value);
      console.log(this.options);
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },
    autocompSearch(header) {
      if (header.sortingParam != "isActive") {
        header.loading = true;
        API.get(header.url + header.searchInput.toUpperCase()).then((resp) => {
          header.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            // console.log(resp.data.data);
            header.items = resp.data.data;
          } else {
            header.items = [];
          }
        });
      }
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.userDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        userDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>

<style>
th.xsmall-label .v-label {
  font-size: x-small;
}
</style>