<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5" :readonly="invoice.statusPage === 'view'">
      <v-row class="mx-2">
        <v-col cols="6" class="pa-1">
          <v-chip-group v-model="selection" active-class="primary" mandatory>
            <v-chip v-show="canSingleInsured">Single Insured</v-chip>
            <v-chip v-show="canMultiInsured">Multi Insured</v-chip>
          </v-chip-group>
        </v-col>
        <v-col v-show="selection == 1" cols="6" class="pa-1">
          <v-row align="center">
            <v-col cols="3">
              <span class="title">File Name</span>
            </v-col>
            <v-col cols="6">
              <v-file-input
                prepend-icon=""
                id="multiInsured"
                hide-details="auto"
                ref="multiInsured"
                accept=".xls, .xlsx"
                type="file"
                label=""
                solo
                flat
                dense
                outlined
                class="ma-0"
                v-model="nameFile"
                :loading="loadingMultiInsured"
                @change="updloadFile"
                @click:clear="resetFile"
                :disabled="invoice.statusPage == 'view'"
              >
                <template v-slot:selection="{ text }">
                  <v-chip small label color="primary">
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
            </v-col>
            <v-col cols="3">
              <v-btn
                min-width="100"
                rounded
                @click="onBroswseClick"
                color="primary"
                v-show="invoice.statusPage != 'view'"
                >Browse</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row v-show="selection == 0" class="mx-2">
        <v-col cols="6">
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Insured</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-text-field
                placeholder=""
                dense
                outlined
                hide-details="auto"
                ref="insured"
                v-model="invoice.insured"
                @input="setInsured"
              ></v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Location</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-text-field
                placeholder=""
                dense
                outlined
                hide-details="auto"
                ref="location"
                v-model="invoice.location"
                @input="setLocation"
              ></v-text-field>
            </v-col>
          </v-row> -->
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Address</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-textarea
                placeholder=""
                dense
                outlined
                hide-details="auto"
                :rows="3"
                ref="description"
                v-model="invoice.insuredAddress"
                @input="setInsuredAddress"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>

    <v-row v-show="selection == 1">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="dataInsurance"
          hide-default-footer
          class="elevation-1 mb-2"
          :loading="tableLoading"
          :options.sync="options"
          :height="dataInsurance.length > 0 ? '400' : ''"
          fixed-header
          hide-default-header
        >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th v-for="header in headers" :key="header.text">
                  <v-text-field
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    v-on:keyup="onkeyupSearch"
                    dense
                    :readonly="!header.filterable"
                    placeholder=" "
                    style="margin-top: 10px;"
                    :class="!header.filterable ? 'no-border' : ''"
                  >
                    <v-btn
                      slot="append"
                      icon
                      @click="sortClick(header.value)"
                      v-show="header.sortable"
                      small
                    >
                      <v-icon
                        v-if="
                          header.value == options.sortBy[0] &&
                          !options.sortDesc[0]
                        "
                        small
                        color="primary"
                        >mdi-sort-ascending</v-icon
                      >
                      <v-icon
                        v-else-if="
                          header.value == options.sortBy[0] &&
                          options.sortDesc[0]
                        "
                        small
                        color="primary"
                        >mdi-sort-descending</v-icon
                      >
                      <v-icon
                        v-else-if="header.value != options.sortBy[0]"
                        small
                        >mdi-sort</v-icon
                      >
                    </v-btn>
                  </v-text-field>
                  <!-- <span v-else>{{ header.text }}</span> -->
                </th>
              </tr>
            </thead>
          </template>

          <template v-slot:[`item.sumFixedasset`]="{ item }">{{
            currencyFormat(item.sumFixedasset)
          }}</template>
          <template v-slot:[`item.sumBuilding`]="{ item }">{{
            currencyFormat(item.sumBuilding)
          }}</template>
          <template v-slot:[`item.sumContents`]="{ item }">{{
            currencyFormat(item.sumContents)
          }}</template>
          <template v-slot:[`item.sumMachinery`]="{ item }">{{
            currencyFormat(item.sumMachinery)
          }}</template>
          <template v-slot:[`item.sumStocks`]="{ item }">{{
            currencyFormat(item.sumStocks)
          }}</template>
          <template v-slot:[`item.sumBusinterruption`]="{ item }">{{
            currencyFormat(item.sumBusinterruption)
          }}</template>
          <template v-slot:[`item.premiFixedasset`]="{ item }">{{
            currencyFormat(item.premiFixedasset)
          }}</template>
          <template v-slot:[`item.premiBuilding`]="{ item }">{{
            currencyFormat(item.premiBuilding)
          }}</template>
          <template v-slot:[`item.premiContents`]="{ item }">{{
            currencyFormat(item.premiContents)
          }}</template>
          <template v-slot:[`item.premiMachinery`]="{ item }">{{
            currencyFormat(item.premiMachinery)
          }}</template>
          <template v-slot:[`item.premiStocks`]="{ item }">{{
            currencyFormat(item.premiStocks)
          }}</template>
          <template v-slot:[`item.premiBusinterruption`]="{ item }">{{
            currencyFormat(item.premiBusinterruption)
          }}</template>
          <template v-slot:[`item.othersInsurer`]="{ item }">{{
            currencyFormat(item.othersInsurer)
          }}</template>
          <template v-slot:[`item.othersBrokerage`]="{ item }">{{
            currencyFormat(item.othersBrokerage)
          }}</template>
          <template v-slot:[`item.premiTotal`]="{ item }">{{
            currencyFormat(item.premiTotal)
          }}</template>
          <template v-slot:[`item.uwPremium`]="{ item }">{{
            currencyFormat(item.uwPremium)
          }}</template>
          <template v-slot:[`item.sumInsured`]="{ item }">{{
            currencyFormat(item.sumInsured)
          }}</template>
          <template v-slot:[`item.premiAmount`]="{ item }">{{
            currencyFormat(item.premiAmount)
          }}</template>
          <template v-slot:[`item.premiRate`]="{ item }">{{
            currencyFormat(parseFloat(item.premiRate) * 100, 6)
          }}</template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-menu bottom left :offset-x="true">
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="viewItem(item)">
                  <v-list-item-title>View</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialogLoading.show"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogLoading.show = true"
    >
      <v-card
        v-show="!dialogLoading.success && !dialogLoading.error"
        min-width="290px"
      >
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card
        v-show="dialogLoading.success || dialogLoading.error"
        min-width="290px"
      >
        <v-card-title
          v-if="dialogLoading.success"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogLoading.text }}</v-card-title
        >
        <v-card-title
          v-else-if="dialogLoading.error"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogLoading.text }}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn
            v-if="dialogLoading.error"
            color="primary"
            min-width="100px"
            outlined
            @click="closeUpload"
            >OK</v-btn
          >
          <v-btn
            v-else-if="dialogLoading.success"
            color="primary"
            min-width="100px"
            outlined
            @click="previewMultiInsured('create', invoice.refNo)"
            >View</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <multiinsureddetail
      :model="detailDialog"
      v-on:close="detailDialog = false"
      :type="detailDialogType"
      :data="detailData"
    >
    </multiinsureddetail>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import multiinsureddetail from "@/components/dialog/multiInsuredDetail/multiInsuredDetail";
// import axios from "axios";

export default {
  components: {
    multiinsureddetail,
  },
  directives: { money: VMoney },
  created() {
    this.fileName = this.invoice.filename;
  },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    heightTable: "100px",
    options: {
      itemsPerPage: -1,
    },
    fileName: "",
    nameFile: null,
    fileData: "",
    loadingMultiInsured: false,
    selectedInsurance: "",
    showPreview: false,
    headerMultiInsured: [],
    dialog: false,
    dialogLoading: { show: false, success: false, error: false, text: "" },
    dialogValidate: { show: false, text: "" },
    vehicleDialog: false,
    propertyDialog: false,
    equipmentDialog: false,
    detailDialog: false,
    detailData: false,
    dialogVersion: {
      vehicle: 2,
      property: 2,
      equipment: 2,
    },
    dataMultiInsured: [],
    totalItemsMulti: 0,
    selection: 0,
    riskMultiInsuredList: [],
    canMultiInsured: false,
    canSingleInsured: true,
    detailDialogType: "",
    tableLoading: false,
    vehicleData: {
      seqNo: "",
      certNo: "",
      owner: "",
      merk: "",
      effectiveDate: {
        prorateBase: "",
        divided: "",
        proDays: "",
        effectiveFrom: "",
        effectiveTo: "",
      },
      specification: {
        year: "",
        regNo: "",
        chasisNo: "",
        engineNo: "",
        coverage: "",
        deductible: "",
        model: "",
      },
      details: {
        insured: "",
        nip: "",
        status: "",
        remarks: "",
        printAsAttach: "",
      },
      value: {
        charge: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
        },
        sumInsured: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
          subTotal: "",
          clientPremium: "",
        },
        rate: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
          ibsOthers: "",
          uwOthers: "",
        },
        grossPremium: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
          ibsOthers: "",
          uwOthers: "",
          uwPremium: "",
        },
      },
      sumInsured: {
        grandTotal: "",
        grandTotal2: "",
      },
      activity: {
        entryBy: "",
        entryDate: "",
        modifyBy: "",
        modifyDate: "",
      },
    },
    propertyData: {
      seqNo: "",
      riskLoc: "",
      city: "",
      riskInfo: {
        desc: "",
        occupation: "",
        coverage: "",
        province: "",
        postCode: "",
      },
      otherInfo: {
        storeyBuild: "",
        eqZone: "",
        eqRate: "",
        remarks: "",
      },
      prorate: {
        prorateBaseOn: "",
        effectiveDate: "",
        daysPeriod: "",
        divided: "",
      },
      value: {
        totalRate: "",
        stockDci: "",
        ibsOthersRate: "",
        biSiPercentage: "",
        uwOthersRate: "",
        sumInsured: {
          fixedAssets: "",
          building: "",
          contents: "",
          machinery: "",
          stocks: "",
          busInterups: "",
          total: "",
        },
        grossPremium: {
          fixedAssets: "",
          building: "",
          contents: "",
          machinery: "",
          stocks: "",
          busInterups: "",
          ibsOthers: "",
          uwOthers: "",
          total: "",
        },
        clientPremium: "",
        uwPremium: "",
      },
      grandTotal: {
        sumInsured: "",
        premium: "",
      },
      activity: {
        entryBy: "",
        entryDate: "",
        modifyBy: "",
        modifyDate: "",
      },
    },
    equipmentData: {
      serialNo: "",
      desc: "",
      category: "",
      sumInsured: "",
      rate: "",
      premium: "",
      customer: {
        certNo: "",
        yearMade: "",
        branch: "",
        insured: "",
        prorateBase: "",
        prorateDiv: "",
        effectiveDate: "",
        proDays: "",
        refNo: "",
        coverageCond: "",
        remarks: "",
      },
      discount: {
        ibsOthersRate: "",
        uwDiscount: "",
        ibsOthers: "",
        deductible: "",
        uwDiscRate: "",
        clientPremium: "",
        uwPremium: "",
      },
      location: {
        coverageArea: "",
        current: "",
      },
      statusData: "",
      modifableData: "",
      modify: {
        user: "",
        date: "",
      },
      printAsAttach: "",
      entry: {
        user: "",
        date: "",
      },
    },
    search: {
      insuranceName: {
        name: "insuranceName",
        input: "",
        items: [],
        url: "/clients/api/account/insurance?name.contains=",
        loading: false,
      },
    },
    request: null,
    headers: [],
    pmviHeaders: [
      {
        text: "Certificate No.",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Seq. No.",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Owner",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Merk/Type",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
    ],
    pparHeaders: [
      {
        text: "Seq No.",
        align: "center",
        sortable: false,
        value: "seqNo",
      },
      {
        text: "Risk Location",
        align: "center",
        sortable: false,
        value: "riskLocation",
      },
      {
        text: "City Code",
        align: "center",
        sortable: false,
        value: "cityCode",
      },
      {
        text: "City Name",
        align: "center",
        sortable: false,
        value: "cityName",
      },
    ],
    pcpmHeaders: [
      {
        text: "Seq. No.",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Serial Number",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Description",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Category",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Sum Insured",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Rate %",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Premium",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
    ],
    statusCreate: false,
    statusSharing: false,
    statusBrokerage: false,
    brokerageAmount: 0,
    admincostAmount: 0,
    stampdutyAmount: 0,
    vatAmount: 0,
    pph23Amount: 0,
    grossAmount: 0,
    totalSharingPercentage: 0,
    totalAmountBrokerage: 0,
    totalAdminCost: 0,
    totalStampDuty: 0,
    totalVAT: 0,
    totalPPh: 0,
    totalGross: 0,
    editInsurance: {},
    awaitingSearch: false,
    dataInsurance: [],
    dataInsuranceList: [],
    totalPercentage: 0,
    totalAmount: 0,
    totalBrokerage: 0,
    totalBrokerageAmount: 0,
    totalAdmincostAmount: 0,
    totalStampdutyAmount: 0,
    totalVat: 0,
    totalPPH23: 0,
    totalGrossAmount: 0,
    totalEfSharingAmount: 0,
    totalEfPercentage: 0,
    totalEfAmount: 0,
    totalTotalAmount: 0,
    dataClien: [],
    totalPercentageClient: 0,
    totalAmountClient: 0,
    totalAdminCostClient: 0,
    totalStampDutyClient: 0,
    totalVATClient: 0,
    totalGrossClient: 0,
    totalTotalAmountClient: 0,
    dataUnder: [],
    totalPercentageUnder: 0,
    totalAmountUnder: 0,
    totalAdminCostUnder: 0,
    totalStampDutyUnder: 0,
    totalBrokerageUnder: 0,
    totalVATUnder: 0,
    totalPPhUnder: 0,
    totalGrossUnder: 0,
    totalTotalAmountUnder: 0,
  }),
  mounted() {
    this.getRiskMultiInsured();
  },
  computed: {
    ...mapState(["invoice"]),
    watchTabInvoice: function () {
      return this.invoice.tabInvoice;
    },
  },
  watch: {
    watchTabInvoice: function (newValue) {
      if (newValue == "object" && this.fileName !== this.invoice.filename) {
        this.dataInsurance = [];
        this.getRiskMultiInsured();
      }
      if (newValue == "object" && this.nameFile === undefined) {
        this.nameFile = new File([""], this.invoice.filename);
      }
    },
    "invoice.riskCode": {
      handler: function (after) {
        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == after
        );
        if (filteredMultiInsured.length > 0) {
          this.canMultiInsured = true;
          // this.headers = this[
          //   filteredMultiInsured[0].riskCode.toLowerCase() + "Headers"
          // ];
        } else {
          this.selection = 0;
          this.canMultiInsured = false;
          this.headers = [];
        }
      },
      deep: true,
    },
  },
  methods: {
    roundDecimal(n, digits) {
      var negative = false;
      if (digits === undefined) {
        digits = 0;
      }
      if (n < 0) {
        negative = true;
        n = n * -1;
      }
      var multiplicator = Math.pow(10, digits);
      n = parseFloat((n * multiplicator).toFixed(11));
      n = (Math.round(n) / multiplicator).toFixed(2);
      if (negative) {
        n = (n * -1).toFixed(2);
      }
      return Number(n);
    },
    ...mapActions({
      setDescription: types.ACTION_DESCRIPTION,
      setInsured: types.ACTION_INSURED,
      setLocation: types.ACTION_LOCATION,
      setInsuredAddress: types.ACTION_INSURED_ADDRESS,

      // setDocType: types.ACTION_DOC_TYPE,
      // setFileName: types.ACTION_FILE_NAME,
      // setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setSumInsured: types.ACTION_SUM_INSURED,
      // setPremium: types.ACTION_PREMIUM,
      setToClientPremium: types.ACTION_TO_CLIENT_PREMIUM,
      // setTotalPercentage: types.ACTION_TOTAL_PERCENTAGE,
      // setTotalAmount: types.ACTION_TOTAL_AMOUNT,
      // setMultiInsured: types.ACTION_MULTI_INSURED,
      // setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      // setTotalBrokerage: types.ACTION_TOTAL_BROKERAGE,
      // setTotalBrokerageAmount:  types.ACTION_TOTAL_BROKERAGE_AMOUNT,
      // setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      // setTotalVat: types.ACTION_TOTAL_VAT,
      // setTotalPPh23: types.ACTION_TOTAL_PPH23,
      // setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      // setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      // setTotalGross: types.ACTION_TOTAL_GROSS,
      setStatusData: types.ACTION_STATUS_DATA,
      setDataMultiInsured: types.ACTION_DATA_MULTI_INSURED,
      setToClientADM: types.ACTION_TO_CLIENT_ADM,
      setEFPremium: types.ACTION_EF_PREMIUM,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setToClientGross: types.ACTION_TO_CLIENT_GROSS,
      // setToUnderwiterGross: types.ACTION_TO_UNDERWRITER_GROSS,
      setToClientGrossTotal: types.ACTION_TO_CLIENT_GROSS_TOTAL,
      // setToUnderwiterNet: types.ACTION_TO_UNDERWRITER_NET,

      setDocType: types.ACTION_DOC_TYPE,
      setFileName: types.ACTION_FILE_NAME,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setPremium: types.ACTION_PREMIUM,
      setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      setTotalAmount: types.ACTION_TOTAL_AMOUNT,
      setTotalBrokerage: types.ACTION_TOTAL_BROKERAGE,
      setTotalBrokerageAmount: types.ACTION_TOTAL_BROKERAGE_AMOUNT,
      setTotalEFAmount: types.ACTION_TOTAL_EF_AMOUNT,
      setTotalEFPercentage: types.ACTION_TOTAL_EF_PERCENTAGE,
      setTotalEFSharingAmount: types.ACTION_TOTAL_EF_SHARING_AMOUNT,
      setTotalGross: types.ACTION_TOTAL_GROSS,
      setTotalPPh23: types.ACTION_TOTAL_PPH23,
      setTotalPercentage: types.ACTION_TOTAL_PERCENTAGE,
      setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      setTotalVat: types.ACTION_TOTAL_VAT,
      setTotalTotalAmount: types.ACTION_TOTAL_TOTAL_AMOUNT,

      setMultiInsured: types.ACTION_MULTI_INSURED,
      setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      setInsuranceSharingListUnder: types.ACTION_INSURANCE_SHARING_LIST_UNDER,
      setToUnderwiterVat: types.ACTION_TO_UNDERWRITER_VAT,
      setToUnderwiterPPH23: types.ACTION_TO_UNDERWRITER_PPH23,
      setToUnderwiterNet: types.ACTION_TO_UNDERWRITER_NET,
      setToUnderwiterGross: types.ACTION_TO_UNDERWRITER_GROSS,

      setVariousAddBrokerage: types.ACTION_VARIOUS_ADD_BROKERAGE,
      setVariousCommissionOut: types.ACTION_VARIOUS_COMMISSION_OUT,
      setVariousOthers: types.ACTION_VARIOUS_OTHERS,
      setVariousTotal: types.ACTION_VARIOUS_TOTAL,

      setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      setIncomeNet: types.ACTION_INCOME_NET,
      setIncomeTotal: types.ACTION_INCOME_TOTAL,
      setIncomeVarious: types.ACTION_INCOME_VARIOUS,
      setIncomeVat: types.ACTION_INCOME_VAT,

      setToClientInstallmentList: types.ACTION_TO_CLIENT_INSTALLMENT_LIST,
      setToClientTotalPercentage: types.ACTION_TO_CLIENT_TOTAL_PERCENTAGE,
      setToClientTotalAmount: types.ACTION_TO_CLIENT_TOTAL_AMOUNT,
      setToClientTotalAdminCost: types.ACTION_TO_CLIENT_TOTAL_ADMIN_COST,
      setToClientTotalStampDuty: types.ACTION_TO_CLIENT_TOTAL_STAMP_DUTY,
      setToClientTotalVAT: types.ACTION_TO_CLIENT_TOTAL_VAT,
      setToClientTotalGross: types.ACTION_TO_CLIENT_TOTAL_GROSS,
      setToClientTotalTotalAmount: types.ACTION_TO_CLIENT_TOTAL_TOTAL_AMOUNT,

      setToUnderwriterInstallmentList:
        types.ACTION_TO_UNDERWRITER_INSTALLMENT_LIST,
      setToUnderwriterTotalAmount: types.ACTION_TO_UNDERWRITER_TOTAL_AMOUNT,
      setToUnderwriterTotalPercentage:
        types.ACTION_TO_UNDERWRITER_TOTAL_PERCENTAGE,
      setToUnderwriterTotalAdminCost:
        types.ACTION_TO_UNDERWRITER_TOTAL_ADMIN_COST,
      setToUnderwriterTotalStampDuty:
        types.ACTION_TO_UNDERWRITER_TOTAL_STAMP_DUTY,
      setToUnderwriterTotalBrokerage:
        types.ACTION_TO_UNDERWRITER_TOTAL_BROKERAGE,
      setToUnderwriterTotalVAT: types.ACTION_TO_UNDERWRITER_TOTAL_VAT,
      setToUnderwriterTotalPPH: types.ACTION_TO_UNDERWRITER_TOTAL_PPH,
      setToUnderwriterTotalGross: types.ACTION_TO_UNDERWRITER_TOTAL_GROSS,
      setToUnderwriterTotalTotalAmount:
        types.ACTION_TO_UNDERWRITER_TOTAL_TOTAL_AMOUNT,
    }),

    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_MULTI_INSURED&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];
        console.log("getRiskMultiInsured", this.riskMultiInsuredList);

        // cek apakah yang terpilih adalah bisa multiinsured
        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == this.invoice.riskCode
        );
        console.log("filteredMultiInsured", filteredMultiInsured);
        if (filteredMultiInsured.length > 0) {
          this.previewMultiInsured("init", this.$route.query.id);
          this.canMultiInsured = true;

          // hide unused insured type
          if ([null, ""].indexOf(this.invoice.filename) == -1) {
            // jika ada filename : nampilkan multi insured saja
            this.selection = 1;
            this.canSingleInsured = false;
            this.nameFile = new File([""], this.invoice.filename);
            this.fileName = this.invoice.filename;
          } else if (
            this.invoice.insured != "" ||
            this.invoice.location != "" ||
            this.invoice.description != ""
          ) {
            // jika single insured terisi : nampilkan single insured saja
            this.canMultiInsured = false;
          }
        } else {
          this.selection = 0;
          this.canMultiInsured = false;
          this.headers = [];
        }
      }
    },
    onBroswseClick() {
      document.getElementById("multiInsured").click();
    },
    async previewMultiInsured(from = null, idInvoice) {
      this.closeUpload();
      // if (from == "init") {
      this.tableLoading = true;
      // } else {
      //   this.dialogLoading.show = true;
      // }
      const { sortBy, sortDesc } = this.options;
      let param = {
        refNo: idInvoice,
        riskCode: this.invoice.riskCode,
      };
      if (
        sortBy != undefined &&
        sortDesc != undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      ) {
        let headerItems = this.headers.filter(
          (value) => value.value == sortBy[0]
        );
        param["sort"] = [
          headerItems[0].sortKey,
          sortDesc[0] ? "desc" : "asc",
          "ignoreCase",
        ].join(",");
      }
      const findHeaderValueNotEmpty = this.headers.filter(
        (value) => String(value.searchValue).length > 0
      );
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.filterKey +
              "." +
              value.filterOperation]: value.searchValue,
            };
          })
        );
      }
      await API.get(
        "broking/api/broking/invoice/list-multi-insured",
        param
      ).then((resp) => {
        let me = this;
        if (resp.data.code === 0) {
          let data = resp.data;
          let headers = data.headerProperty.map(function (row) {
            let headerItems = me.headers.filter(
              (value) => value.value == row.key
            );
            return {
              text: row.value,
              value: row.key,
              align: "center",
              sortable: row.sortBool,
              filterable: row.filterBool,
              sortKey: row.sortKey,
              filterKey: row.filterKey,
              width: 100,
              searchValue:
                headerItems.length > 0 ? headerItems[0].searchValue : "",
              filterOperation: row.filterOperation,
            };
          });
          headers.push({
            text: "Actions",
            value: "actions",
            align: "center",
            sortable: false,
          });
          this.headers = headers;

          if (from !== "init") {
            this.dataInsurance = data.data.map(function (currentValue, Index) {
              currentValue.seqNo = Index + 1;
              return currentValue;
            });
          } else {
            let metasList = [];
            for (let d of data.data) {
              metasList.push(JSON.parse(d.metas));
            }
            this.dataInsurance = metasList.map(function (currentValue, Index) {
              currentValue.seqNo = Index + 1;
              currentValue.id = data.data.id;
              return currentValue;
            });
          }

          this.dialogLoading.show = false;
          this.tableLoading = false;
          if (from !== "init") {
            // TAB VALUE
            let sumInsured = data.totalSumInsured ? data.totalSumInsured : 0;

            // TO CLIENT
            let premium = data.totalPremi ? data.totalPremi : 0;
            let ibsOtherAmount = data.ibsOtherAmount ? data.ibsOtherAmount : 0;
            let toClientGross =
              premium +
              this.invoice.toClientPolEndCost +
              this.invoice.toClientStampDuty +
              ibsOtherAmount;
            let toClientGrossTotal = toClientGross + this.invoice.toClientVat;

            // TO UNDERWRITER
            let uwPremium = data.uwPremium ? data.uwPremium : 0;
            let toUnderwriterGross =
              uwPremium +
              this.invoice.toUnderwriterPolEndCost +
              this.invoice.toUnderwriterStampDuty -
              this.invoice.incomeBrokerage;
            let toUnderwriterNet =
              toUnderwriterGross +
              this.invoice.toUnderwriterVat +
              this.invoice.toUnderwriterPph23;

            // TAB EF
            let grossPremium = data.grossPremium ? data.grossPremium : 0;

            // TAB INSTALLMENT - TO CLIENT
            let toCLientPremium =
              Number(premium.toFixed(2)) + Number(ibsOtherAmount.toFixed(2));

            this.setSumInsured(Number(sumInsured.toFixed(2)));
            this.setPremium(Number(premium.toFixed(2)));
            this.setToClientPremium(Number(premium.toFixed(2)));
            this.setToUnderwiterPremium(Number(uwPremium.toFixed(2)));
            this.setDataMultiInsured(this.dataInsurance);
            this.setToClientADM(Number(ibsOtherAmount.toFixed(2)));
            this.setEFPremium(Number(grossPremium.toFixed(2)));
            this.setPremiumClientInstallment(
              Number(toCLientPremium.toFixed(2))
            );
            this.setToClientGross(Number(toClientGross.toFixed(2)));
            this.setToClientGrossTotal(Number(toClientGrossTotal.toFixed(2)));
            this.setToUnderwiterGross(Number(toUnderwriterGross.toFixed(2)));
            this.setToUnderwiterNet(Number(toUnderwriterNet.toFixed(2)));
            this.generateNewInsurance(premium, grossPremium, uwPremium);
            this.generateNewClient(toCLientPremium);
            this.generateNewUnder(uwPremium);

            if (document.getElementById("sumInsured")) {
              document.getElementById("sumInsured").value = this.formatMoney(
                Number(sumInsured)
              );
            }
            if (document.getElementById("toClientPremium")) {
              document.getElementById(
                "toClientPremium"
              ).value = this.formatMoney(Number(premium));
            }
            if (document.getElementById("toUnderwriterPremium")) {
              document.getElementById(
                "toUnderwriterPremium"
              ).value = this.formatMoney(Number(premium));
            }
            if (document.getElementById("toClientAdm")) {
              document.getElementById("toClientAdm").value = this.formatMoney(
                Number(ibsOtherAmount)
              );
            }
            if (document.getElementById("efGrossPremium")) {
              document.getElementById(
                "efGrossPremium"
              ).value = this.formatMoney(Number(grossPremium));
            }
          }

          // set variabel untuk menentukan popup type mana yang harus tampil
          let filteredMultiInsured = this.riskMultiInsuredList.filter(
            (i) => i.riskCode == this.invoice.riskCode
          );
          if (filteredMultiInsured.length > 0) {
            this.detailDialogType = filteredMultiInsured[0].insuredObject.toLowerCase();
          }
        } else {
          this.loadingMultiInsured = false;
          if (from == "init") {
            this.tableLoading = false;
            return;
          }
          this.dialogLoading.error = true;
          this.dialogLoading.text =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
        }
      });
    },

    async updloadFile(e) {
      var fr = new FileReader();
      fr.readAsDataURL(e);
      fr.addEventListener("load", () => {
        let typeFile = e.name.split(".");
        let base64 = fr.result.split(",")[1];
        this.fileData = base64;
        this.setMultiInsured(fr.result);
        this.setDocType(typeFile[1]);
        this.setFileName(e.name);
        this.loadingMultiInsured = true;
        this.dialogLoading.show = true;

        this.fileName = e.name;

        let param = {
          base64: base64,
          docType: typeFile[1],
          filename: e.name,
          refNo: this.invoice.refNo,
          riskCode: this.invoice.riskCode,
        };
        API.post(
          "broking/api/broking/invoice/upload-multi-insured",
          param
        ).then((resp) => {
          if (resp.data.code === 0) {
            this.showPreview = true;
            this.loadingMultiInsured = false;
            this.dialogLoading.success = true;
            this.dialogLoading.text = "Upload Successful";
          } else {
            this.nameFile = null;
            this.dialogLoading.error = true;
            this.dialogLoading.text =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.loadingMultiInsured = false;
          }
        });
      });
    },
    closeUpload() {
      this.dialogLoading = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
    },
    resetFile() {
      this.fileData = "";
      this.setMultiInsured("");
      this.setDocType("");
      this.setFileName("");
      this.setToUnderwiterPremium(0);
      this.setPremium(0);
      if (document.getElementById("toUnderwriterPremium")) {
        document.getElementById(
          "toUnderwriterPremium"
        ).value = this.formatMoney(0);
      }
      this.showPreview = false;
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },

    calculateAmount(value) {
      let data = (Number(this.invoice.premium) / 100) * Number(value);
      return data;
    },
    validateInsurance(value) {
      if (value && value.id) {
        for (var item of this.dataInsurance) {
          if (item.insuranceId === value.id) {
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Insurance already exists";
            this.headers[1].add = "";
          }
        }
      }
    },

    clickPencil(item) {
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i] == item) {
          this.dataInsurance[i].edit = true;
          this.statusCreate = false;
        } else {
          this.dataInsurance[i].edit = false;
        }
      }
      localStorage.setItem("objInsurance", JSON.stringify(item));
      this.editInsurance = item;
    },
    currencyFormat(data, toFixedNum = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(toFixedNum ? toFixedNum : 2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    sumArray(arr) {
      for (let i = 0; i < arr.length; i++) {
        if (arr[i] == "" || arr[i] == null || arr[i] == undefined) {
          arr[i] = 0;
        } else {
          arr[i] = parseFloat(arr[i]);
        }
      }
      let result = this.currencyFormat(arr.reduce((a, b) => a + b, 0));
      return result;
    },
    viewItem(item) {
      this.detailData = item;
      this.detailDialog = true;
    },
    onkeyupSearch() {
      if (!this.awaitingSearch) {
        setTimeout(() => {
          this.previewMultiInsured("init", this.$route.query.id);
          this.awaitingSearch = false;
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearch = true;
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.previewMultiInsured("init", this.$route.query.id);
    },
    generateNewInsurance(premiumData, efPremiumData, uwPremiumData) {
      let insurance = this.invoice.insuranceSharingList;
      let premium = Number(premiumData.toFixed(2));
      let efPremium = Number(efPremiumData.toFixed(2));
      let uwPremium = Number(uwPremiumData.toFixed(2));
      let arrayInsurance = [];
      insurance.forEach((element, index) => {
        let newAmount = (element.sharingPercentage * premium) / 100;
        let brokerageAmount =
          (Number(newAmount.toFixed(2)) * element.brokerage) / 100;
        let vatAmount =
          (Number(brokerageAmount) / 100) *
          Number(this.invoice.insurerVatPercentage) *
          -1;
        let pph23Amount =
          (Number(brokerageAmount) / 100) *
          Number(this.invoice.insurerPph23Percentage);
        let grossAmount =
          Number(newAmount.toFixed(2)) +
          this.invoice.toUnderwriterPolEndCost +
          this.invoice.toUnderwriterStampDuty -
          Number(brokerageAmount.toFixed(2));
        let grossAmountNoLeader =
          Number(newAmount.toFixed(2)) +
          0 +
          0 -
          Number(brokerageAmount.toFixed(2));
        let netTotal = grossAmount + vatAmount + pph23Amount;
        let netTotalNoLeader = grossAmountNoLeader + vatAmount + pph23Amount;
        let efSharingAmount = (element.sharingPercentage * efPremium) / 100;
        let efAmount = (element.efPercentage * efSharingAmount) / 100;
        arrayInsurance.push({
          index: index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: this.formatMoney(newAmount), // Change
          brokerage: element.brokerage,
          brokerageAmount: this.formatMoney(brokerageAmount), // Change
          admincostAmount: element.isLeader
            ? this.invoice.toUnderwriterPolEndCost
            : element.admincostAmount, // Change
          stampdutyAmount: element.isLeader
            ? this.invoice.toUnderwriterStampDuty
            : element.stampdutyAmount, // Change
          vatAmount: vatAmount, // Change
          pph23Amount: pph23Amount, // Change
          grossAmount: element.isLeader ? grossAmount : grossAmountNoLeader, // Change
          efAmount: efAmount,
          efPercentage: element.efPercentage,
          efSharingAmount: efSharingAmount,
          totalAmount: element.isLeader ? netTotal : netTotalNoLeader, // Change
          edit: false,
          editLeader: element.isLeader ? true : false,
        });
      });

      let sharingPercentage = 0;
      let amount = 0;
      let brokerage = 0;
      let brokerageAmount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let vatAmount = 0;
      let pph23Amount = 0;
      let grossAmount = 0;
      let efAmount = 0;
      let efPercentage = 0;
      let efSharingAmount = 0;
      let netTotal = 0;
      arrayInsurance.forEach((element) => {
        sharingPercentage =
          sharingPercentage + Number(element.sharingPercentage);
        amount = amount + this.convertMoney(element.amount);
        brokerage = brokerage + Number(element.brokerage);
        brokerageAmount =
          brokerageAmount + this.convertMoney(element.brokerageAmount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        pph23Amount = pph23Amount + Number(element.pph23Amount);
        grossAmount = grossAmount + Number(element.grossAmount);
        efAmount = efAmount + Number(element.efAmount);
        efPercentage = efPercentage + Number(element.efPercentage);
        efSharingAmount = efSharingAmount + Number(element.efSharingAmount);
        netTotal = netTotal + Number(element.totalAmount);
      });
      this.dataInsuranceList = arrayInsurance;
      this.totalPercentage = Number(sharingPercentage.toFixed(2));
      this.totalAmount = Number(amount.toFixed(2));
      this.totalBrokerage = Number(brokerage.toFixed(2));
      this.totalBrokerageAmount = Number(brokerageAmount.toFixed(2));
      this.totalAdmincostAmount = Number(admincostAmount.toFixed(2));
      this.totalStampdutyAmount = Number(stampdutyAmount.toFixed(2));
      this.totalVat = Number(vatAmount.toFixed(2));
      this.totalPPH23 = Number(pph23Amount.toFixed(2));
      this.totalGrossAmount = Number(grossAmount.toFixed(2));
      this.totalEfSharingAmount = Number(efSharingAmount.toFixed(2));
      this.totalEfPercentage = Number(efPercentage.toFixed(2));
      this.totalEfAmount = Number(efAmount.toFixed(2));
      this.totalTotalAmount = Number(netTotal.toFixed(2));
      // console.debug({
      //   dataInsuranceList:this.dataInsuranceList,
      //   totalPercentage: this.totalPercentage,
      //   totalAmount: this.totalAmount,
      //   totalBrokerage: this.totalBrokerage,
      //   totalBrokerageAmount: this.totalBrokerageAmount,
      //   totalAdmincostAmount: this.totalAdmincostAmount,
      //   totalStampdutyAmount: this.totalStampdutyAmount,
      //   totalVat: this.totalVat,
      //   totalPPH23: this.totalPPH23,
      //   totalGrossAmount: this.totalGrossAmount,
      //   totalEfSharingAmount: this.totalEfSharingAmount,
      //   totalEfPercentage: this.totalEfPercentage,
      //   totalEfAmount: this.totalEfAmount,
      //   totalTotalAmount: this.totalTotalAmount
      // })

      this.setInsuranceSharingList(this.convertData(this.dataInsuranceList));
      this.setInsuranceSharingListUnder(
        this.convertForUnder(this.dataInsuranceList)
      ); // For List Under Installment
      this.setTotalPercentage(this.totalPercentage);
      this.setTotalAmount(this.totalAmount);
      this.setTotalBrokerage(this.totalBrokerage);
      this.setTotalBrokerageAmount(this.totalBrokerageAmount);
      this.setTotalVat(this.totalVat);
      this.setTotalPPh23(this.totalPPH23);
      this.setTotalAdminCost(this.totalAdmincostAmount);
      this.setTotalStampDuty(this.totalStampdutyAmount);
      this.setTotalGross(this.totalGrossAmount);
      this.setTotalEFSharingAmount(this.totalEfSharingAmount);
      this.setTotalEFPercentage(this.totalEfPercentage);
      this.setTotalEFAmount(this.totalEfAmount);
      this.setTotalTotalAmount(this.totalTotalAmount);
      // For Tab Value
      let toUnderwriterGross =
        Number(uwPremium) +
        Number(this.invoice.toUnderwriterPolEndCost) +
        Number(this.invoice.toUnderwriterStampDuty) -
        Number(this.totalBrokerageAmount);
      let toUnderwriterVat =
        ((this.totalBrokerageAmount * this.invoice.insurerVatPercentage) /
          100) *
        -1;
      let toUnderwriterPph23 =
        (this.totalBrokerageAmount * this.invoice.insurerPph23Percentage) / 100;
      let toUnderwriterNet =
        Number(toUnderwriterGross.toFixed(2)) +
        Number(toUnderwriterVat.toFixed(2)) +
        Number(toUnderwriterPph23.toFixed(2));
      // console.debug(toUnderwriterGross, toUnderwriterVat, toUnderwriterPph23, toUnderwriterNet)
      this.setToUnderwiterGross(Number(toUnderwriterGross.toFixed(2)));
      this.setToUnderwiterVat(Number(toUnderwriterVat.toFixed(2)));
      this.setToUnderwiterPPH23(Number(toUnderwriterPph23.toFixed(2)));
      this.setToUnderwiterNet(Number(toUnderwriterNet.toFixed(2)));

      // For Various
      let variousAddBrokerage =
        Number(this.invoice.toClientPremium) - Number(uwPremium);
      let variousTotal =
        variousAddBrokerage +
        Number(this.invoice.variousOthers) +
        Number(this.invoice.variousCommissionOut);

      this.setVariousAddBrokerage(Number(variousAddBrokerage.toFixed(2)));
      this.setVariousOthers(Number(this.invoice.variousOthers.toFixed(2)));
      this.setVariousCommissionOut(
        Number(this.invoice.variousCommissionOut.toFixed(2))
      );
      this.setVariousTotal(Number(variousTotal.toFixed(2)));

      // For Income
      let incomeVat =
        (Number(this.invoice.variousTotal.toFixed(2)) -
          Number(this.invoice.incomeNet)) *
        -1;
      let incomeNet = Number(this.invoice.variousTotal.toFixed(2)) / 1.1;
      let incomeTotal = Number(incomeNet) + Number(this.totalBrokerageAmount);

      this.setIncomeVarious(Number(variousTotal.toFixed(2)));
      this.setIncomeVat(Number(incomeVat.toFixed(2)));
      this.setIncomeNet(Number(incomeNet.toFixed(2)));
      this.setIncomeBrokerage(this.totalBrokerageAmount);
      this.setIncomeTotal(Number(incomeTotal.toFixed(2)));
      // console.debug(arrayInsurance)
      // console.debug(JSON.stringify(arrayInsurance))
    },
    generateNewClient(premiumClientInstallment) {
      let client = this.invoice.toClientInstallmentList;
      let premium = Number(premiumClientInstallment.toFixed(2));
      let arrayClient = [];
      client.forEach((element, index) => {
        let amount = (premium / 100) * element.percentage;
        let adminCost = index === 0 ? this.invoice.toClientPolEndCost : 0;
        let stampDuty = index === 0 ? this.invoice.toClientStampDuty : 0;
        let vat = index === 0 ? this.invoice.toClientVat : 0;
        let gross = amount + adminCost + stampDuty;
        let total = gross + vat;
        arrayClient.push({
          date: false,
          edit: false,
          admincostAmount: adminCost,
          amount: this.formatMoney(amount),
          dueDate: element.dueDate,
          grossAmount: gross,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: stampDuty,
          totalAmount: total,
          vatAmount: vat,
        });
      });
      let percentage = 0;
      let amount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let vatAmount = 0;
      let grossAmount = 0;
      let total = 0;
      arrayClient.forEach((element) => {
        percentage = percentage + Number(element.percentage);
        amount = amount + this.convertMoney(element.amount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        grossAmount = grossAmount + Number(element.grossAmount);
        total = total + Number(element.totalAmount);
      });
      this.dataClient = arrayClient;
      this.totalPercentageClient = Number(percentage.toFixed(2));
      this.totalAmountClient = Number(amount.toFixed(2));
      this.totalAdminCostClient = Number(admincostAmount.toFixed(2));
      this.totalStampDutyClient = Number(stampdutyAmount.toFixed(2));
      this.totalVATClient = Number(vatAmount.toFixed(2));
      this.totalGrossClient = Number(grossAmount.toFixed(2));
      this.totalTotalAmountClient = Number(total.toFixed(2));
      this.setToClientInstallmentList(this.convertClient(this.dataClient));
      this.setToClientTotalPercentage(this.totalPercentageClient);
      this.setToClientTotalAmount(this.totalAmountClient);
      this.setToClientTotalAdminCost(this.totalAdminCostClient);
      this.setToClientTotalStampDuty(this.totalStampDutyClient);
      this.setToClientTotalVAT(this.totalVATClient);
      this.setToClientTotalGross(this.totalGrossClient);
      this.setToClientTotalTotalAmount(this.totalTotalAmountClient);
    },
    generateNewUnder(toUnderwriterPremium) {
      let under = this.invoice.toUnderwriterInstallmentList;
      let premium = Number(toUnderwriterPremium.toFixed(2));
      let arrayUnder = [];
      under.forEach((element, index) => {
        let amount = (premium / 100) * element.percentage;
        let brokerageInsurance = this.invoice.totalBrokerageAmount;
        let admincostAmountUnder =
          index === 0 ? this.invoice.toUnderwriterPolEndCost : 0;
        let stampdutyAmountUnder =
          index === 0 ? this.invoice.toUnderwriterStampDuty : 0;
        let brokerageAmountUnder =
          (element.percentage * brokerageInsurance) / 100;
        let vatAmountUnder =
          ((this.invoice.insurerVatPercentage * brokerageAmountUnder) / 100) *
          -1;
        let pph23AmountUnder =
          (this.invoice.insurerPph23Percentage * brokerageAmountUnder) / 100;
        let grossAmountUnder =
          amount +
          admincostAmountUnder +
          stampdutyAmountUnder -
          brokerageAmountUnder;
        let netTotalUnder =
          grossAmountUnder + vatAmountUnder + pph23AmountUnder;
        arrayUnder.push({
          date: false,
          edit: false,
          admincostAmount: admincostAmountUnder,
          amount: this.formatMoney(amount),
          dueDate: element.dueDate,
          grossAmount: grossAmountUnder,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: stampdutyAmountUnder,
          brokerageAmount: brokerageAmountUnder,
          vatAmount: vatAmountUnder,
          pph23Amount: pph23AmountUnder,
          totalAmount: netTotalUnder,
        });
      });
      let percentage = 0;
      let amount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let brokerageAmount = 0;
      let vatAmount = 0;
      let pph23Amount = 0;
      let grossAmount = 0;
      let netTotalAmount = 0;
      arrayUnder.forEach((element) => {
        percentage = percentage + Number(element.percentage);
        amount = amount + this.convertMoney(element.amount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        brokerageAmount = brokerageAmount + Number(element.brokerageAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        pph23Amount = pph23Amount + Number(element.pph23Amount);
        grossAmount = grossAmount + Number(element.grossAmount);
        netTotalAmount = netTotalAmount + Number(element.totalAmount);
      });
      this.dataUnder = arrayUnder;
      this.totalPercentageUnder = Number(percentage.toFixed(2));
      this.totalAmountUnder = Number(amount.toFixed(2));
      this.totalAdminCostUnder = Number(admincostAmount.toFixed(2));
      this.totalStampDutyUnder = Number(stampdutyAmount.toFixed(2));
      this.totalBrokerageUnder = Number(brokerageAmount.toFixed(2));
      this.totalVATUnder = Number(vatAmount.toFixed(2));
      this.totalPPhUnder = Number(pph23Amount.toFixed(2));
      this.totalGrossUnder = Number(grossAmount.toFixed(2));
      this.totalTotalAmountUnder = Number(netTotalAmount.toFixed(2));

      // Check Jika sudah 100% Percentage
      if (this.totalPercentageUnder === 100) {
        let vatFromPercent = this.invoice.toUnderwriterVat;
        let pph23FromPercent = this.invoice.toUnderwriterPph23;

        let totalVatFromPercent = this.roundDecimal(vatFromPercent, 2);
        let totalPphFromPercent = this.roundDecimal(pph23FromPercent, 2);
        let premium = this.invoice.toUnderwriterPremium;
        let brokerage = this.invoice.incomeBrokerage;
        let totalNetFromPercent = this.invoice.toUnderwriterNet;
        let updatePPHVAT = false;

        if (premium !== this.totalAmountUnder) {
          let selisihPremium = this.roundDecimal(
            this.totalAmountUnder - premium,
            2
          );
          let newTotalAmount = this.roundDecimal(
            this.totalAmountUnder - selisihPremium,
            2
          );
          let newTotalGross = this.roundDecimal(
            this.totalGrossUnder - selisihPremium,
            2
          );
          // Set New Value Premium
          let defaultAmount = this.convertMoney(
            this.dataUnder[this.dataUnder.length - 1].amount
          );
          let newAmount = this.roundDecimal(defaultAmount - selisihPremium, 2);
          this.dataUnder[this.dataUnder.length - 1].amount = this.formatMoney(
            newAmount
          );
          this.totalAmountUnder = newTotalAmount;

          // Set New Value Gross
          let defaultGross = this.dataUnder[this.dataUnder.length - 1]
            .grossAmount;
          let newGross = this.roundDecimal(defaultGross - selisihPremium, 2);
          this.dataUnder[this.dataUnder.length - 1].grossAmount = newGross;
          this.totalGrossUnder = newTotalGross;
          updatePPHVAT = true;
        }

        if (brokerage !== this.totalBrokerageUnder) {
          let selisihBrokerage = this.roundDecimal(
            this.totalBrokerageUnder - brokerage,
            2
          );
          let newTotalBrokerage = this.roundDecimal(
            this.totalBrokerageUnder - selisihBrokerage,
            2
          );
          let newTotalGross = this.roundDecimal(
            this.totalAmountUnder +
              this.totalAdminCostUnder +
              this.totalStampDutyUnder -
              newTotalBrokerage,
            2
          );

          // Set New Value Brokerage
          let defaultBrokerage = this.dataUnder[this.dataUnder.length - 1]
            .brokerageAmount;
          let newBrokerage = this.roundDecimal(
            defaultBrokerage - selisihBrokerage,
            2
          );
          this.dataUnder[
            this.dataUnder.length - 1
          ].brokerageAmount = newBrokerage;
          this.totalBrokerageUnder = newTotalBrokerage;

          // Set New Value Gross
          let defaultAmount = this.convertMoney(
            this.dataUnder[this.dataUnder.length - 1].amount
          );
          let newGross = this.roundDecimal(defaultAmount - newBrokerage, 2);

          this.dataUnder[this.dataUnder.length - 1].grossAmount = newGross;
          this.totalGrossUnder = newTotalGross;
          updatePPHVAT = true;
        }

        if (totalVatFromPercent !== this.totalVATUnder) {
          let selisihVAT = this.roundDecimal(
            Math.abs(this.totalVATUnder) - Math.abs(totalVatFromPercent),
            2
          );
          let newTotalVat =
            this.roundDecimal(
              Math.abs(this.totalVATUnder) - Math.abs(selisihVAT),
              2
            ) * -1;
          // Set New Value VAT
          let defaultVat = this.dataUnder[this.dataUnder.length - 1].vatAmount;
          this.dataUnder[this.dataUnder.length - 1].vatAmount =
            this.roundDecimal(Math.abs(defaultVat) - Math.abs(selisihVAT), 2) *
            -1;
          this.totalVATUnder = newTotalVat;
          updatePPHVAT = true;
        }

        if (totalPphFromPercent !== this.totalPPhUnder) {
          let selisihPPH = this.roundDecimal(
            this.totalPPhUnder - totalPphFromPercent,
            2
          );
          let newTotalPPH = this.roundDecimal(
            this.totalPPhUnder - selisihPPH,
            2
          );
          // Set New Value PPH
          let defaulPPH = this.dataUnder[this.dataUnder.length - 1].pph23Amount;
          this.dataUnder[
            this.dataUnder.length - 1
          ].pph23Amount = this.roundDecimal(defaulPPH - selisihPPH, 2);
          this.totalPPhUnder = newTotalPPH;
          updatePPHVAT = true;
        }

        if (updatePPHVAT) {
          if (totalNetFromPercent !== this.totalTotalAmountUnder) {
            let selisihNET = this.roundDecimal(
              this.totalTotalAmountUnder - totalNetFromPercent,
              2
            );
            let newTotalNet = this.roundDecimal(
              this.totalTotalAmountUnder - selisihNET,
              2
            );
            // Set New Value NET
            let defaulPPH = this.dataUnder[this.dataUnder.length - 1]
              .totalAmount;
            this.dataUnder[
              this.dataUnder.length - 1
            ].totalAmount = this.roundDecimal(defaulPPH - selisihNET, 2);
            this.totalTotalAmountUnder = newTotalNet;
          }
        }
      }

      this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder));
      this.setToLocalStorage(); // For Init VALUE List Underwriter
      this.setToUnderwriterTotalAmount(this.totalAmountUnder);
      this.setToUnderwriterTotalPercentage(this.totalPercentageUnder);
      this.setToUnderwriterTotalAdminCost(this.totalAdminCostUnder);
      this.setToUnderwriterTotalStampDuty(this.totalStampDutyUnder);
      this.setToUnderwriterTotalBrokerage(this.totalBrokerageUnder);
      this.setToUnderwriterTotalVAT(this.totalVATUnde);
      this.setToUnderwriterTotalPPH(this.totalPPhUnder);
      this.setToUnderwriterTotalGross(this.totalGrossUnder);
      this.setToUnderwriterTotalTotalAmount(this.totalTotalAmountUnder);
    },
    convertData(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          amount: this.convertMoney(element.amount),
          brokerage: Number(element.brokerage),
          brokerageAmount: this.convertMoney(element.brokerageAmount),
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          efSharingAmount: element.efSharingAmount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    convertForUnder(data) {
      let array = [{ insuranceName: "ALL" }];
      data.forEach((element) => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          amount: this.convertMoney(element.amount),
          brokerage: Number(element.brokerage),
          brokerageAmount: this.convertMoney(element.brokerageAmount),
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          efSharingAmount: element.efSharingAmount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    convertClient(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: this.convertMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          totalAmount: element.totalAmount,
          vatAmount: element.vatAmount,
        });
      });
      return array;
    },
    convertUnder(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: this.convertMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          brokerageAmount: element.brokerageAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    setToLocalStorage() {
      let obj = {
        listUnder: this.dataUnder,
        totalPercentageUnder: this.totalPercentageUnder,
        totalAmountUnder: this.totalAmountUnder,
        totalAdminCostUnder: this.totalAdminCostUnder,
        totalStampDutyUnder: this.totalStampDutyUnder,
        totalBrokerageUnder: this.totalBrokerageUnder,
        totalVATUnder: this.totalVATUnder,
        totalPPhUnder: this.totalPPhUnder,
        totalGrossUnder: this.totalGrossUnder,
        totalTotalAmountUnder: this.totalTotalAmountUnder,
      };
      localStorage.setItem("dataInstallmentUnder", JSON.stringify(obj));
    },
  },
};
</script>

<style scoped>
.buttonClose {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}
.total-center {
  text-align: center;
}
.total-right {
  text-align: center;
  /* padding-right: 20px; */
}
::v-deep .input-right input {
  text-align: right;
}
fieldset {
  border-color: #80abd2;
  border-radius: 5px;
  border-width: thin;
}
legend {
  color: #00529b;
  margin-left: 15px;
}
</style>
