 <template>
  <v-card flat outlined tile class="pt-2 pb-2">
    <v-col class="pa-1 ml-4">
      <span class="title primary--text"> Amount Paid / Received </span>
    </v-col>
    <v-card outlined rounded="25" elevation="2" class="mr-2 ml-2">
      <v-col>
        <v-row class="pa-1 pl-4">
          <v-col cols="1" class="pa-1">
            <span class="title primary--text"> US$ </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0"> </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1"> </v-col>
          <v-col cols="1" class="pa-1 ml-9">
            <span class="title primary--text"> IDR(Rp) </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0"> </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1"> </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-row class="pa-1 pl-4">
          <v-col cols="1" class="pa-1">
            <span class="title">
              Client
              <!-- <span class="error--text">*</span> -->
            </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1 ml-9">
            <span class="title">
              Client
              <!-- <span class="error--text">*</span> -->
            </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="pa-1 pl-4">
          <v-col cols="1" class="pa-1">
            <span class="title">
              Underwriter
              <!-- <span class="error--text">*</span> -->
            </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0">
            <v-text-field
              flat
              readonly
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1 ml-9">
            <span class="title">
              Underwriter
              <!-- <span class="error--text">*</span> -->
            </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="pa-1 pl-4">
          <v-col cols="1" class="pa-1">
            <span class="title">
              Adjuster
              <!-- <span class="error--text">*</span> -->
            </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1 ml-9">
            <span class="title">
              Adjuster
              <!-- <span class="error--text">*</span> -->
            </span>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="2" align-self="start" class="ma-0 pa-0 pl-1">
            <v-text-field
            readonly
              flat
              outlined
              dense
              hide-details="auto"
              ref="income"
              name="income"
              class="ma-0"
              solo
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
    </v-card>

    <v-card outlined rounded="25" elevation="2" class="mt-4 mr-2 ml-2">
      <v-col>
        <v-row class="ml-2 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Entry By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Approved By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>

              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-row class="ml-2 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Modified By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Closed By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>

              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                readonly
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-card>
  </v-card>
</template>
<script>
export default {
  //   components: { isttoolbar },
};
</script>