<template>
  <v-card flat outlined tile class="pt-2 pb-2">
    <v-row align="center" class="ml-2 my-10 mr-2">
      <v-col>
        <v-data-table
          :headers="supporting"
          :items="supportingDoc"
          hide-default-footer
          class="elevation-1"
        >
         
          <template v-slot:body="{ items }">
            <tbody>
              <tr
                v-for="(item, idx) in items"
                :key="idx"
                @click="
                  item.show
                    ? handleClickSupporting(false)
                    : handleClickSupporting(true, item)
                "
              >
                <td v-for="(header, key) in supporting" :key="key" :item="item">
                  <div
                    align="center"
                    v-if="header.value == 'tanggalClient' && !item.edit"
                   >
                    {{ item[header.value] }}
                  </div>
                  <div
                    align="start"
                    v-if="header.value == 'tanggalClient' && item.edit"
                   >
                    <v-col cols="5" class="pa-1"> </v-col>

                    <v-menu
                      v-model="item.dateClient"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{}">
                        <v-text-field
                          v-model="dataEditSupoorting.tanggalClient"
                          ref="entryDate"
                          name="entryDate"
                          label="Select Date"
                          persistent-hint
                          hide-details="auto"
                          flat
                          outlined
                          dense
                          solo
                        >
                          <v-btn
                            slot="append"
                            @click="item.dateClient = !item.dateClient"
                            text
                            icon
                          >
                            <v-icon>mdi-calendar</v-icon>
                          </v-btn>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        :min="new Date().toISOString()"
                        v-model="dataEditSupoorting.tanggalClient"
                        no-title
                        @input="item.dateClient = false"
                      ></v-date-picker>
                    </v-menu>
                  </div>
                  <div
                    align="center"
                    v-if="header.value == 'tanggalReceipt' && !item.edit"
                   >
                    {{ item[header.value] }}
                  </div>
                  <div
                    align="start"
                    v-if="header.value == 'tanggalReceipt' && item.edit"
                   >
                    <v-col cols="5" class="pa-1"> </v-col>

                    <v-menu
                      v-model="item.dateReceipt"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{}">
                        <v-text-field
                          v-model="dataEditSupoorting.tanggalReceipt"
                          ref="entryDate"
                          name="entryDate"
                          label="Select Date"
                          persistent-hint
                          hide-details="auto"
                          flat
                          outlined
                          dense
                          solo
                        >
                          <v-btn
                            slot="append"
                            @click="item.dateReceipt = !item.dateReceipt"
                            text
                            icon
                          >
                            <v-icon>mdi-calendar</v-icon>
                          </v-btn>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        :min="new Date().toISOString()"
                        v-model="dataEditSupoorting.tanggalReceipt"
                        no-title
                        @input="item.dateReceipt = false"
                      ></v-date-picker>
                    </v-menu>
                  </div>
                  <div
                    align="center"
                    v-if="header.value == 'tanggalSent' && !item.edit"
                   >
                    {{ item[header.value] }}
                  </div>
                  <div
                    align="start"
                    v-if="header.value == 'tanggalSent' && item.edit"
                   >
                    <v-col cols="5" class="pa-1"> </v-col>

                    <v-menu
                      v-model="item.dateSent"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{}">
                        <v-text-field
                          v-model="dataEditSupoorting.tanggalSent"
                          ref="entryDate"
                          name="entryDate"
                          label="Select Date"
                          persistent-hint
                          hide-details="auto"
                          flat
                          outlined
                          dense
                          solo
                        >
                          <v-btn
                            slot="append"
                            @click="item.dateSent = !item.dateSent"
                            text
                            icon
                          >
                            <v-icon>mdi-calendar</v-icon>
                          </v-btn>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        :min="new Date().toISOString()"
                        v-model="dataEditSupoorting.tanggalSent"
                        no-title
                        @input="item.dateSent = false"
                      ></v-date-picker>
                    </v-menu>
                  </div>

                  <div
                    align="center"
                    v-if="header.value == 'docCode' && !item.edit"
                  >
                    {{ item[header.value] }}
                  </div>
                  <v-row
                    align="center"
                    v-if="header.value == 'docCode' && item.edit"
                  >
                    <v-text-field
                      v-model="dataEditSupoorting.docCode"
                      label="docCode"
                      ref="docCode"
                      single-line
                      dense
                      outlined
                      hide-details="auto"
                    ></v-text-field>
                  </v-row>
                   <div
                    align="center"
                    v-if="header.value == 'reference' && !item.edit"
                  >
                    {{ item[header.value] }}
                  </div>
                  <v-row
                    align="center"
                    v-if="header.value == 'reference' && item.edit"
                  >
                    <v-text-field
                      v-model="dataEditSupoorting.reference"
                      label="reference"
                      ref="reference"
                      single-line
                      dense
                      outlined
                      hide-details="auto"
                    ></v-text-field>
                  </v-row>
                  <div
                    align="center"
                    v-if="header.value == 'uploadDoc' && !item.edit"
                  >
                    {{ item[header.value].name }}
                  </div>
                  <v-row
                    align="center"
                    v-if="header.value == 'uploadDoc' && item.edit"
                  >
                     <v-file-input
                  
                  accept=".jpg,.png,.pdf"
                  ref="doc"
                  name="doc"
                  prepend-icon=""
                   v-model="dataEditSupoorting.uploadDoc"
                  item-text="text"
                  single-line
                  dense
                  outlined
                  label="JPG, PNG, PDF"
                  hide-details="auto"
                  @change="fotoUpload"
                >
                  <template v-slot:selection="{ text }">
                    <v-chip small label color="primary">{{ text == ""? item[header.value].name : text }}</v-chip>
                  </template>
                </v-file-input>
                  </v-row>
                  
                  <div align="center" v-if="header.value == 'action'">
                    <v-btn
                      v-show="
                        header.value == 'action' && !item.delete && !item.edit
                      "
                      width="30"
                      height="30"
                      outlined
                      icon
                      @click="removeSupporting(item)"
                    >
                      <v-icon>mdi-minus</v-icon>
                    </v-btn>
                    <v-btn
                      v-show="
                        header.value == 'action' && !item.edit && item.show
                      "
                      width="30"
                      height="30"
                      @click="updateSupporting(item)"
                      outlined
                      icon
                    >
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-row>
                      <v-btn
                        v-show="header.value == 'action' && item.edit"
                        width="30"
                        height="30"
                        @click="editSupporting(item)"
                        outlined
                        icon
                        :disabled="statusClientEdit"
                        class="mr-2"
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="header.value == 'action' && item.edit"
                        width="30"
                        height="30"
                        @click="closeEditSupporting(item)"
                        outlined
                        icon
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </v-row>
                  </div>
                </td>
              </tr>
              <tr>
                <td v-for="header in supporting" :key="header.text">
                  <v-row
                    align="center"
                    justify="center"
                    v-if="header.value == 'action'"
                  >
                    <v-btn
                      v-show="
                        header.value == 'action' && !statusCreateSupporting
                      "
                      width="30"
                      height="30"
                      @click="clickCreateSupporting"
                      outlined
                      icon
                    >
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-btn
                      v-show="
                        header.value == 'action' && statusCreateSupporting
                      "
                      width="30"
                      height="30"
                      @click="addSupporting"
                      outlined
                      icon
                      class="mr-2"
                     
                    >
                      <v-icon>mdi-check</v-icon>
                    </v-btn>
                    <v-btn
                      v-show="
                        header.value == 'action' && statusCreateSupporting
                      "
                      width="30"
                      height="30"
                      @click="closeAddsupporting"
                      outlined
                      icon
                    >
                      <v-icon>mdi-window-close</v-icon>
                    </v-btn>
                  </v-row>
                  <v-row
                    align="center"
                    v-if="
                      header.value == 'tanggalClient' && statusCreateSupporting
                    "
                  >
                    <v-menu
                      v-model="supportingDueDateCLient"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{}">
                        <v-text-field
                          v-model="header.add"
                          ref="entryDate"
                          name="entryDate"
                          label="Select Date"
                          persistent-hint
                          hide-details="auto"
                          flat
                          outlined
                          dense
                          solo
                        >
                          <v-btn
                            slot="append"
                            @click="supportingDueDateCLient = !supportingDueDateCLient"
                            text
                            icon
                          >
                            <v-icon>mdi-calendar</v-icon>
                          </v-btn>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        :min="minDateForAddSupportingClient"
                        v-model="header.add"
                        no-title
                        @input="supportingDueDateCLient = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-row>

                  <v-row
                    align="center"
                    v-if="
                      header.value == 'tanggalReceipt' && statusCreateSupporting
                    "
                  >
                    <v-menu
                      v-model="supportingDueDateReceipt"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{}">
                        <v-text-field
                          v-model="header.add"
                          ref="entryDate"
                          name="entryDate"
                          label="Select Date"
                          persistent-hint
                          hide-details="auto"
                          flat
                          outlined
                          dense
                          solo
                        >
                          <v-btn
                            slot="append"
                            @click="supportingDueDateReceipt = !supportingDueDateReceipt"
                            text
                            icon
                          >
                            <v-icon>mdi-calendar</v-icon>
                          </v-btn>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        :min="minDateForAddSupportingReceipt"
                        v-model="header.add"
                        no-title
                        @input="supportingDueDateReceipt = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-row>
                  <v-row
                    align="center"
                    v-if="
                      header.value == 'tanggalSent' && statusCreateSupporting
                    "
                  >
                    <v-menu
                      v-model="supportingDueDateSent"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{}">
                        <v-text-field
                          v-model="header.add"
                          ref="entryDate"
                          name="entryDate"
                          label="Select Date"
                          persistent-hint
                          hide-details="auto"
                          flat
                          outlined
                          dense
                          solo
                        >
                          <v-btn
                            slot="append"
                            @click="supportingDueDateSent = !supportingDueDateSent"
                            text
                            icon
                          >
                            <v-icon>mdi-calendar</v-icon>
                          </v-btn>
                        </v-text-field>
                      </template>
                      <v-date-picker
                        :min="minDateForAddSupportingSent"
                        v-model="header.add"
                        no-title
                        @input="supportingDueDateSent = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-row>

                  <v-row
                    align="center"
                    v-if="header.value == 'reference' && statusCreateSupporting"
                  >
                    <v-text-field
                      v-model="header.add"
                      ref="reference"
                      single-line
                      dense
                      outlined
                      hide-details="auto"
                    ></v-text-field>
                  </v-row>
                  <v-row
                    align="center"
                    v-if="header.value == 'uploadDoc' && statusCreateSupporting"
                  >
                     <v-file-input
                  
                  accept=".jpg,.png,.pdf"
                  ref="doc"
                  name="doc"
                  prepend-icon=""
                   v-model="header.add"
                  item-text="text"
                  single-line
                  dense
                  outlined
                  label="JPG, PNG, PDF"
                  hide-details="auto"
                  @change="fotoUpload"
                >
                  <template v-slot:selection="{ text }">
                    <v-chip small label color="primary">{{ text }}</v-chip>
                  </template>
                </v-file-input>
                  </v-row>
                  <v-row
                    align="center"
                    v-if="header.value == 'docCode' && statusCreateSupporting"
                  >
                    <v-text-field
                      v-model="header.add"
                      ref="docCode"
                      single-line
                      dense
                      outlined
                      hide-details="auto"
                    ></v-text-field>
                  </v-row>
                </td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-card outlined rounded="25" elevation="2" class="mr-2 ml-2">
      <v-col>
        <v-row class="ml-2 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Entry By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Approved By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>

              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-row class="ml-2 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Modified By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Closed By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>

              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-card>
  </v-card>
</template>
<script>
export default {
  upload() {
    return {
      selectedFile: "",
      selectName: null,
      selectType: null,
    };
  },
  data: () => ({
    
    supporting: [
      {
        text: "Document Code",
        align: "center",
        sortable: false,
        value: "docCode",
        add: "",
        rules: [],
      },
      {
        text: "Upload Document",
        sortable: false,
        value: "uploadDoc",
        add: [],
        rules: [],
        width: "15%",
         align: "center",
      },
      {
        text: "Reference",
        sortable: false,
        value: "reference",
        add: "",
         align: "center",
        rules: [],
      },
      {
        text: "Client Sent",
        sortable: false,
        value: "tanggalClient",
        add: "",
        rules: [],
         align: "center",
        underwriter: "",
       width: "15%"
      },
      {
        text: "Conf Receipt",
        sortable: false,
        value: "tanggalReceipt",
        add: "",
        rules: [],
        underwriter: "",
         align: "center",
        width: "15%"
      },
      {
        text: "Sent to LA/LW",
        sortable: false,
        value: "tanggalSent",
        add: "",
        rules: [],
        underwriter: "",
         align: "center",
        width: "15%"
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    input: {
      doc: [],
    },
    supportingDoc: [],
    statusCreateSupporting: false,
    minDateForAddSupportingClient: new Date().toISOString(),
    minDateForAddSupportingReceipt: new Date().toISOString(),
    minDateForAddSupportingSent: new Date().toISOString(),
    minDateSupporting: "",
    minDateSupportingsent: "",
    minDateSupportingreceipt: "",
    dokumenn:[],
    supportingDueDateCLient: false,
     supportingDueDateReceipt: false,
      supportingDueDateSent: false,

      dataEditSupoorting: {
      tanggalClient: "",
      tanggalReceipt: "",
      tanggalSent: "",
      uploadDoc: [],
      reference: "",
      docCode: "",
      dateReceipt: false,
        dateClient: false,
dateSent : false,
      edit: false,
      show: false,
    },
  }),
 
  methods: {
    removeSupporting(item) {
      var index = "";

      for (var i = 0; i < this.supportingDoc.length; i++) {
        if (this.supportingDoc[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.supportingDoc.splice(index, 1);
      }
      if (this.supportingDoc.length === 0) {
        this.minDateForAddSupportingClient = new Date().toISOString();
        this.minDateForAddSupportingReceipt = new Date().toISOString();
        this.minDateForAddSupportingSent = new Date().toISOString();
      } else {
        this.minDateForAddSupportingClient = this.supportingDoc[
          this.supportingDoc.length - 1
        ].tanggalClient;
        this.minDateForAddSupportingReceipt = this.supportingDoc[
          this.supportingDoc.length - 1
        ].tanggalReceipt;
        this.minDateForAddSupportingSent = this.supportingDoc[
          this.supportingDoc.length - 1
        ].tanggalSent;
      }
    },
    editSupporting(value) {
      for (var i = 0; i < this.supportingDoc.length; i++) {
        if (this.supportingDoc[i] == value) {
          this.supportingDoc[i].edit = false;
          this.supportingDoc[i].dateSent = false;
           this.supportingDoc[i].dateClient = false;
            this.supportingDoc[i].dateReceipt = false;
          this.supportingDoc[i].uploadDoc = value.uploadDoc;
          
          this.supportingDoc[i].reference = value.reference;
          this.supportingDoc[i].docCode = value.docCode;
        }
      }
      let newDate = this.supportingDoc[this.supportingDoc.length - 1];
      this.minDateForAddSupportingClient = newDate.tanggalClient;
      this.minDateForAddSupportingReceipt = newDate.tanggalReceipt;
      this.minDateForAddSupportingSent = newDate.tanggalSent;
      localStorage.removeItem("objClient");

      // FOR UNDERWRITER

      this.dataEditSupoorting = {
         tanggalClient: "",
      tanggalReceipt: "",
      tanggalSent: "",
      uploadDoc: "",
      reference: "",
      docCode: "",
       dateReceipt: false,
        dateClient: false,
dateSent : false,
      edit: false,
      show: false,
      };
      setTimeout(() => {
        for (var i = 0; i < this.supportingDoc.length; i++) {
          if (this.supportingDoc[i] == value) {
            this.supportingDoc[i].show = false;
          }
        }
      }, 10);
    },
    closeEditSupporting(value) {
      let obj = JSON.parse(localStorage.getItem("objClient"));
      for (var i = 0; i < this.supportingDoc.length; i++) {
        if (this.supportingDoc[i] == value) {
          this.supportingDoc[i].edit = false;
          this.supportingDoc[i].dateReceipt = false;
          this.supportingDoc[i].dateClient = false;
          this.supportingDoc[i].dateSent = false;
          this.supportingDoc[i].uploadDoc = obj.uploadDoc;
          this.supportingDoc[i].tanggalClient = obj.tanggalClient;
           this.supportingDoc[i].tanggalReceipt = obj.tanggalReceipt;
            this.supportingDoc[i].tanggalSent = obj.tanggalSent;
          this.supportingDoc[i].reference = obj.reference;
          this.supportingDoc[i].docCode = obj.docCode;
        }
      }
      localStorage.removeItem("objClient");
      setTimeout(() => {
        for (var i = 0; i < this.lossReserveDoc.length; i++) {
          if (this.lossReserveDoc[i] == value) {
            this.lossReserveDoc[i].show = false;
            this.lossReserveDoc[i].delete = false;
          }
        }
      }, 10);
    },
     updateSupporting(value) {
      this.dataEditSupoorting = value;
      this.minDateSupporting = value.tanggalClient;
      this.minDateSupportingsent = value.tanggalSent;
      this.minDateSupportingreceipt = value.tanggalReceipt;
      localStorage.setItem("objClient", JSON.stringify(value));
      for (var i = 0; i < this.supportingDoc.length; i++) {
        if (this.supportingDoc[i] == value) {
          this.supportingDoc[i].edit = true;
        } else {
          this.supportingDoc[i].edit = false;
        }
      }
    },
    clickCreateSupporting() {
      this.statusCreateSupporting = true;
      for (var j = 0; j < this.supportingDoc.length; j++) {
        this.supportingDoc[j].show = false;
        this.supportingDoc[j].delete = false;
        this.supportingDoc[j].edit = false;
        this.supportingDoc[j].dateReceipt = false;
         this.supportingDoc[j].dateClient = false;
          this.supportingDoc[j].dateSent = false;
      }
    },
    handleClickSupporting(status, value) {
      if (status && value) {
        for (var i = 0; i < this.supportingDoc.length; i++) {
          if (this.supportingDoc[i] == value) {
            this.supportingDoc[i].show = true;
            this.supportingDoc[i].delete = true;
          } else {
            this.supportingDoc[i].show = false;
            this.supportingDoc[i].delete = false;
            this.supportingDoc[i].edit = false;
          }
        }
      } else if (!status && value == undefined) {
        for (var j = 0; j < this.supportingDoc.length; j++) {
          this.supportingDoc[j].show = false;
          this.supportingDoc[j].delete = false;
        }
      }
    },
    setTanggalSupporting(value) {
      this.minDateForAddSupportingClient = value;
      this.minDateForAddSupportingReceipt = value;
          this.minDateForAddSupportingSent = value;
    },
     resetHeaderSupporting() {
      this.supporting[0].add = "";
      this.supporting[1].add = [];
      this.supporting[2].add = "";
      this.supporting[3].add = "";
      this.supporting[4].add = "";
      this.supporting[5].add = "";
      // this.headers[1].underwriter = ""
      // this.headers[2].underwriter = 0
      // this.headers[3].underwriter = 0
      // this.dataEdit.persentase = 0
      // this.dialogValidate.show = false
      // this.dialogValidate.text = ""
    },
    closeAddsupporting() {
      this.statusCreateSupporting = false;
      this.supportingDueDateCLient = false;
      this.supportingDueDateReceipt = false;
      this.supportingDueDateSent = false;
      this.resetHeaderSupporting();
    },
    addSupporting() {
      // var lossReserveDoc = {};
      var contact = {};
      for (var header of this.supporting) {
        if (header.value != "action") {
          if (header.value == "tanggalClient") {
            contact[header.value] = header.add;
            this.setTanggalSupporting(header.add);
          }
          if (header.value == "tanggalReceipt") {
            contact[header.value] = header.add;
            this.setTanggalSupporting(header.add);
          }
           if (header.value == "tanggalSent") {
            contact[header.value] = header.add;
            this.setTanggalSupporting(header.add);
          }
          if (header.value == "reference") {
            contact[header.value] = header.add;
          }
          if (header.value == "docCode") {
            contact[header.value] = header.add;
          }
          if (header.value == "uploadDoc") {
            contact[header.value] = header.add;
      //       for (var d of header.add) {
      //   var fr = new FileReader();
      //   this.blob = URL.createObjectURL(d);
      //   fr.readAsDataURL(d);
      //   this.$emit("input", d);
      //   fr.addEventListener("load", () => {
      //     this.imageUrl = fr.result;
      //     let imagebase64 = fr.result;
      //     this.selectedFile = fr.result;
      //     this.selectName = d.name;
      //     this.sizeImage = d.size;
      //     console.log("KAKAKKAKAKA");
      //     console.log(imagebase64);
      //     console.log("KAKAKKAKAKA");
      //     console.log(d);
      //   });
      //   var doc = {
      //     accountType: this.param.type,
      //     description: "",
      //     docName: d.name,
      //     docType: d.type,
      //     docRawdata: this.selectedFile,
      //     docUrl: this.blob,
      //   };
      //   header.add.push(doc);
      // }
          }
        }
      }
      let obj = Object.assign(contact, {
        show: false,
        edit: false,
          dateReceipt: false,
        dateClient: false,
dateSent : false,
        delete: false,
      });
      this.supportingDoc.push(obj);
      this.closeAddsupporting();
    },
     fotoUpload() {
      var accountDocuments = [];
      //pake :key di file input biar klo pilih file ulang ke baca
      for (var d of this.input.doc) {
        var fr = new FileReader();
        this.blob = URL.createObjectURL(d);
        fr.readAsDataURL(d);
        this.$emit("input", d);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          let imagebase64 = fr.result;
          this.selectedFile = fr.result;
          this.selectName = d.name;
          this.sizeImage = d.size;
          console.log("KAKAKKAKAKA");
          console.log(imagebase64);
          console.log("KAKAKKAKAKA");
          console.log(d);
        });
        var doc = {
          accountType: this.param.type,
          description: "",
          docName: d.name,
          docType: d.type,
          docRawdata: this.selectedFile,
          docUrl: this.blob,
        };
        accountDocuments.push(doc);
      }
    },
  },
  //   components: { isttoolbar },
};
</script>
