<template>
  <v-menu bottom offset-y :nudge-width="200" :close-on-content-click="false">
    <template v-slot:activator="{ on, attrs }">
      <v-btn min-height="40" v-bind="attrs" v-on="on" text v-show="auth()">
        <v-icon color="white">mdi-printer mdi-36px</v-icon>
      </v-btn>
    </template>
    <v-card width="480px">
      <v-row>
        <v-col cols="12" class="colorLine pa-0 pa-1">
          <v-row
            v-for="printItem in filteredItems"
            :key="printItem.text"
            align="center"
            class="ma-1"
          >
            <v-col cols="5" class="pa-0 pl-5">
              <span class="title">{{ printItem.text }}</span>
              <v-select
                v-show="printItem.showUwOpt"
                :items="printItem.uwList"
                solo
                flat
                dense
                class=""
                full-width
                hide-details="auto"
                v-model="printItem.uwVal"
                item-value="id"
                item-text="name"
                label=""
              ></v-select>
            </v-col>
            <v-col cols="2" class="pa-0">
              <v-btn
                outlined
                color="primary"
                @click="viewFile(printItem)"
                :loading="printItem.loading.preview"
                >Preview</v-btn
              >
            </v-col>
            <v-col cols="5" class="pa-0">
              <v-select
                :items="dataGenerate"
                solo
                flat
                dense
                outlined
                class="mr-3 ml-5"
                color="primary"
                full-width
                hide-details="auto"
                v-model="printItem.val"
                item-value="id"
                item-text="name"
                :loading="printItem.loading.generate"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content @click="viewFile(printItem, item)">
                    <p class="mb-0">{{ item.name }}</p>
                  </v-list-item-content>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />
  </v-menu>
</template>

<script>
import API from "@/core/api/api.js";
// import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";

export default {
  components: {
    // submitdialog,
    documentPreview,
  },
  props: [
    // contoh penggunaan komponen ini bisa dilihat di view credit application
    "items", // daftar dkumen yang bisa dicetak | berupa array dari object dengan atribut text, name, url, loading, val, showOnStatus
    "id", // id record
    "customer", // nama customer
    "idParam", // id param key untuk request dokumen
    // "title", // nama dokumen
    "status", // record status
    "base64Key", // key base64 response
    "cekAuth",
  ],
  watch: {
    items: {
      handler: function () {
        console.log("watch this.items", this.items);
      },
      deep: true,
    },
  },
  data: () => ({
    dataGenerate: [
      { id: 0, format: "pdf", name: "Generate PDF" },
      { id: 1, format: "docx", name: "Generate DOC" },
    ],
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
  }),
  computed: {
    filteredItems: function () {
      return this.items.filter(
        (i) => i.showOnStatus.indexOf(this.status) != -1
      );
    },
  },
  methods: {
    viewFile(item = null, generateItem = null) {
      if (generateItem == null) {
        item.loading.preview = true;
      } else {
        item.loading.generate = true;
      }
      this.filePDF = null;

      let paramJSON = {
        [this.idParam]: this.id,
        fileType: generateItem == null ? null : generateItem.format,
      };
      if (item.showUwOpt) {
        paramJSON.idInsured = item.uwVal;
        paramJSON.uploadAll = item.uwVal == "" ? "true" : "false";
      } else {
        paramJSON.uploadAll = "false";
      }
      let param = JSON.stringify(paramJSON);
      API.post(item.url, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            console.log("resp.data", resp.data);
            console.log("this.base64Key", this.base64Key);
            let splittedKey = ["data"];
            let base64Data = "";
            if (this.base64Key) {
              splittedKey = this.base64Key.split(".");
            }
            if (splittedKey.length < 2) {
              base64Data = resp.data[splittedKey[0]];
            } else {
              base64Data = resp.data[splittedKey[0]][splittedKey[1]];
            }
            let format = ".pdf";
            if (resp.data.fileType) {
              format = resp.data.fileType;
            } else if (resp.data.data && resp.data.data.fileType) {
              format = resp.data.data.fileType;
            } else if (generateItem && generateItem.format) {
              format = "." + generateItem.format;
            }

            if (generateItem != null || resp.data.fileType == ".zip") {
              this.saveFile(base64Data, item.name, format);
              if (generateItem == null && resp.data.fileType == ".zip") {
                item.loading.preview = false;
              } else {
                item.loading.generate = false;
              }
            } else {
              this.previewFile(base64Data);
              item.loading.preview = false;
            }
          } else {
            if (generateItem == null) {
              item.loading.preview = false;
            } else {
              item.loading.generate = false;
            }
          }
        })
        .catch((error) => {
          console.log(error);
          if (generateItem == null) {
            item.loading.preview = false;
          } else {
            item.loading.generate = false;
          }
        });
    },
    previewFile(base64EncodedPDF) {
      console.log("base64EncodedPDF", base64EncodedPDF);
      let byteCharacters = atob(base64EncodedPDF);
      // let byteNumbers = new Array(byteCharacters.length);
      // for (let i = 0; i < byteCharacters.length; i++) {
      //   byteNumbers[i] = byteCharacters.charCodeAt(i);
      // }
      // let byteArray = new Uint8Array(byteNumbers);
      // let file = new Blob([byteArray], { type: "application/pdf;base64" });
      // let fileURL = URL.createObjectURL(file);
      // window.open(fileURL);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, name, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        name +
          " " +
          this.id +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          " - " +
          this.customer +
          // " " +
          // this.currentTime +
          // "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    auth() {
      if(this.cekAuth) {
        return this.checkAuthorities(this.cekAuth);
        // console.log("CEK AUTH");
        // console.log(this.cekAuth);
        // console.log(this.checkAuthorities(this.cekAuth));
      } else {
        // console.log("SHOW AUTH");
        return true;
      }
    }
  },
};
</script>

<style scoped>
.colorLine .v-text-field--outlined >>> fieldset {
  border-color: #00529b;
}
.colorLine >>> .v-select .v-select__selection--comma {
  color: #00529b;
}
</style>
