<template>
  <v-card flat>
    <isttoolbar
      title="Finance Claim"
      dark
      color="secondary"
      icon="mdi-finance"
    >
      <v-spacer />

      <div v-if="disableForm">
        <!-- <journaldialog
          api="/finance/api/finance/refund/viewjournal/"
          :refNo="this.param.refundNo"
        >
        </journaldialog> -->
        <editablejournaldialog
          :refNo="this.param.refundNo"
          :editable="param.status != 'CLOSED'"
          api="/finance/api/financeclaims/creditor/refund/viewjournal/"
          submitApi="/finance/api/financeclaims/creditor/refund/modifyjournal"
          transType="REF"
          getListParamName="data"
          paramIdSubmitName="idTran"
          :bankReceivedCode="param.bank"
          :coaCurrency="param.currency"
          :firstGlBankBehaviour="{ same: true, currency: param.currency }"
        >
        </editablejournaldialog>

        <v-dialog
          v-for="item in statusItems"
          v-model="item.model"
          persistent
          :key="item.text"
          max-width="300"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              outlined
              class="mx-1"
              min-width="100px"
              v-bind="attrs"
              v-on="on"
              v-show="param.status == item.showOnStatus"
            >
              {{ item.text }}
            </v-btn>
          </template>
          <v-card>
            <v-card-title
              class="justify-center"
              style="word-break: inherit; text-align: center"
            >
              Are you sure to sure want to {{ item.text }} this record ?
            </v-card-title>
            <v-card-actions class="justify-center">
              <v-btn
                color="primary"
                outlined
                class="mx-1"
                min-width="100px"
                @click="changeStatus(item)"
              >
                Yes
              </v-btn>
              <v-btn
                outlined
                color="red"
                class="mx-1"
                min-width="100px"
                @click="item.model = false"
              >
                No
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <printaction
              v-bind="attrs"
              v-on="on"
              :items="printItems"
              :id="param.refundNo"
              :status="param.status"
              :customer="param.customerName"
              idParam="id"
              base64Key="data.base64"
            >
            </printaction>
          </template>
          <span>Print</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              @click="disableForm = false"
              text
              v-bind="attrs"
              v-on="on"
              v-show="param.status == 'ENTRY'"
            >
              <v-icon>mdi-pen mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              min-height="40"
              @click="toList"
              text
            >
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div v-else>
        <v-btn @click="save" outlined class="mx-1" min-width="100px">
          Save
        </v-btn>
        <v-btn @click="back" outlined class="mx-1" min-width="100px">
          Cancel
        </v-btn>
      </div>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View Refund Claim Creditor' : 'Edit Refund Claim Creditor'"
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Refund No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.refundNo"
            hide-details="auto"
            ref="refundNo"
            name="refundNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
        <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
            v-on:change="changeCustomerType"
          >
            <v-radio
              label="Client"
              value="CLIENT"
              :disabled="disableForm && param.custType == 'ADJUSTER'"
            ></v-radio>
            <v-radio
              label="Adjuster"
              value="ADJUSTER"
              :disabled="disableForm && param.custType == 'CLIENT'"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
           <!-- <span class="title">
            Client <span class="error--text">*</span></span
          > -->
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.client"
            ref="client"
            label="Search Client"
            name="client"
            @keyup="autocompSearch(search.client)"
            :search-input.sync="search.client.params['codeOrName.contains']"
            :items="search.client.items"
            item-value="code"
            item-text="codeAndName"
            :loading="search.client.loading"
            class="ma-0"
            v-on:change="changeCustomer"
            :rules="[rules.required]"
            :readonly="disableForm"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
        <v-row v-show="param.custType == 'ADJUSTER'" align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <!-- <span class="title">Adjuster<span class="error--text">*</span> </span> -->
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.adjuster"
            ref="adjuster"
            name="adjuster"
            @keyup="autocompSearch(search.adjuster)"
            :search-input.sync="search.adjuster.params['codeOrName.contains']"
            :items="search.adjuster.items"
            item-value="code"
            item-text="codeAndName"
            :loading="search.adjuster.loading"
            class="ma-0"
            v-on:change="changeCustomer"
            :rules="[rules.required]"
            :readonly="disableForm"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Payment Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paymentDate"
            ref="paymentDate"
            name="paymentDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Payment Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.paymentType"
            ref="paymentType"
            name="paymentType"
            :items="search.paymentType.items"
            :rules="[rules.required]"
            :loading="search.paymentType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency<span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-text-field
            v-model="param.currency"
            ref="currency"
            name="currency"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field> -->
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            v-on:change="changeCurrency"
            item-value="code"
            :item-text="currencyTextItem"
            :rules="[rules.required]"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
            :loading="excRateLoading"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank <span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-text-field
            hide-details="auto"
            ref="bank"
            name="bank"
            class="ma-0"
            v-model="param.bank"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field> -->
          <v-autocomplete
            hide-details="auto"
            v-model="param.bank"
            ref="bank"
            name="bank"
            :items="search.bank.items"
            @keyup="autocompSearch(search.bank)"
            :rules="[rules.required]"
            :loading="search.bank.loading"
            item-value="coaCode"
            :item-text="coaTextItem"
            :search-input.sync="search.bank.params['coaName.contains']"
            class="ma-0"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="disableForm"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                :rules="[rules.required]"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                  v-show="!disableForm"
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1"
      :options.sync="transOptions"
      height="300"
      fixed-header
    >
      <template v-slot:item.accountNo="{ item }">
        <v-row align="center" style="width: max-content">
          <span>{{ item.accountNo }}</span>
          <v-icon
            v-show="item.accountType == 'CN'"
            x-small
            color="primary"
            @click="getCnInfo(item)"
          >
            mdi-information-outline
          </v-icon>
        </v-row>
      </template>
      <template v-slot:item.balance="{ item }">
        <span>{{ currencyFormat(item.balance) }}</span>
      </template>
      <template v-slot:item.refundAmount="{ item }">
        <span v-if="disableForm">{{ item.refundAmount }}</span>
        <v-text-field
          v-else
          v-model="item.refundAmount"
          hide-details="auto"
          class="ma-0"
          ref="inputRefundAmount"
          flat
          outlined
          dense
          solo
          v-money="amountChanged ? money : ''"
          @input="refundAmountChange(item)"
        ></v-text-field>
      </template>
      <template v-slot:item.exchgRate="{ item }">
        <span v-if="item.currency == param.currency || disableForm">
          {{ currencyFormat(item.exchgRate) }}
        </span>
        <v-progress-circular
          v-else-if="item.rateLoading"
          indeterminate
          color="primary"
        ></v-progress-circular>
        <editratedialog
          v-else
          :item="item"
          v-on:submit-rate="submitRate"
        ></editratedialog>
      </template>
      <template v-slot:item.equivAmount="{ item }">
        <span>{{ currencyFormat(item.equivAmount) }}</span>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn
          outlined
          icon
          color="primary"
          @click="removeTrans(item)"
          v-show="!disableForm"
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </template>

      <template v-slot:body.append>
        <tr v-show="!disableForm">
          <td v-for="header in headers" :key="header.text">
            <!-- <v-btn
              v-if="header.value == 'action'"
              outlined
              icon
              color="primary"
              @click="openTransDialog"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn> -->
            <adddebtordialog
              v-if="header.value == 'action'"
              :headers="transHeaders"
              :customer="param[param.custType.toLowerCase()]"
              type="CSH,CN,CNF,INV"
              title="Transaction"
              :existItems="items"
              v-on:submit="submitTrans"
            >
            </adddebtordialog>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title"
              >Total Refund</span
            >
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <br />
    <form>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Approved By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.approveName"
            ref="approveName"
            name="approveName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.approveDate"
            ref="approveDate"
            name="approveDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Closed By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.closeName"
            ref="closeName"
            name="closeName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.closeDate"
            ref="closeDate"
            name="closeDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </form>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-title v-show="infoCnDialog.mode == 'loading'">
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
        <v-card-actions v-show="infoCnDialog.mode != 'loading'">
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text
          v-show="infoCnDialog.mode != 'loading'"
          class="text-h6 justify-center text-center"
        >
          <span v-if="infoCnDialog.item.isPaid" class="black--text">
            {{
              "Credit Note No. " +
              infoCnDialog.item.accountNo +
              " has received payment"
            }}
          </span>
          <span v-else class="black--text">
            {{
              "Credit Note No. " +
              infoCnDialog.item.accountNo +
              " has not received payment"
            }}
          </span>
        </v-card-text>
        <v-card-actions
          v-show="infoCnDialog.mode != 'loading'"
          class="justify-center"
        >
          <creditordialog
            v-if="infoCnDialog.item.isPaid"
            url="finance/api/finance/invaccount/gettransactioncreditor/outstanding"
            :number="infoCnDialog.item.accountNo"
            :underwriter="infoCnDialog.item.uwName"
            :currency="infoCnDialog.item.currency"
            :type="infoCnDialog.item.accountType"
          >
          </creditordialog>
          <v-btn
            v-else
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="reloadData"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
// import journaldialog from "@/components/dialog/journalDialog";
import submitdialog from "@/components/dialog/submitDialog";
import adddebtordialog from "@/components/dialog/addClaimCreditorDialog";
import editratedialog from "@/components/dialog/editRateDialog";
import printaction from "@/components/toolbars/printAction";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";
import creditordialog from "@/components/dialog/creditorDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    // journaldialog,
    submitdialog,
    adddebtordialog,
    editratedialog,
    printaction,
    editablejournaldialog,
    creditordialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      status: "ENTRY",
      refundNo: "",
      custType: "CLIENT",
      client: "",
      agent: "",
      adjuster: "",
      customerCode: "",
      customerName: "",
      customer: "",
      paymentDate: "",
      paymentType: "",
      currency: "",
      excRate: "",
      bank: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      reference: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
      approveName: "",
      approveDate: "",
      closeName: "",
      closeDate: "",
    },
    search: {
      client: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "code.equals": "",
        },
        url: "/clients/api/account/client",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "code",
      },
      agent: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "code.equals": "",
        },
        url: "/clients/api/account/agent",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "code",
      },
      adjuster: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "code.equals": "",
        },
        url: "/clients/api/account/adjuster",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "code",
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      paymentType: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "RECEIVED_TYPE",
          sort: "code,asc,ignoreCase",
        },
        url: "/config/api/master-parameter/",
        loading: true,
      },
      bank: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          "coaName.contains": "",
        },
        setItemParams: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "currency.equals": "",
          "coaCode.equals": "",
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "coaCode",
      },
      defaultBankClient: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "DEFAULT_BANK_CLIENT",
        },
        url: "/config/api/master-parameter/",
      },
      defaultBankAgent: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "DEFAULT_BANK_AGENT",
        },
        url: "/config/api/master-parameter/",
      },
    },
    headers: [
      {
        text: "No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
        width: 100,
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Bill Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Refund Amount",
        sortable: false,
        value: "refundAmount",
        add: "",
        width: 200,
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        width: 100,
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "equivAmount",
        add: "",
        width: 100,
      },
      { text: "", sortable: false, value: "action", add: "", width: 100 },
    ],
    items: [],
    transHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "accountNo",
        add: "",
        rules: [],
        filterParam: "accountNo",
        searchParam: ".contains",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
        items: ["CSH", "CN"],
        filterType: "select",
        filterParam: "transType",
        searchParam: ".equals",
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    submitDialog: { show: false, mode: "", message: "" },
    disableForm: false,
    statusConfirm: false,
    overlay: true,
    journalDialog: false,
    excRateLoading: false,
    amountChanged: false,
    printItems: [
      {
        // code: "client",
        text: "Client Copy",
        name: "Finance Claim Refund Client Copy",
        url: "/finance/api/financeclaims/creditor/refund/generate-client-copy",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["CLOSED"],
      },
      {
        // code: "signed",
        text: "Signed & Return",
        name: "Finance Claim Refund Signed & Return",
        url: "/finance/api/financeclaims/creditor/refund/generate-sign-return",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["CLOSED"],
      },
      {
        // code: "copy",
        text: "Official Copy",
        name: "Finance Claim Refund Official Copy",
        url: "/finance/api/financeclaims/creditor/refund/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "APPROVED", "CLOSED"],
      },
    ],
    statusItems: [
      {
        text: "Approve",
        url: "/finance/api/financeclaims/creditor/refund/approve/",
        model: false,
        showOnStatus: "ENTRY",
      },
      {
        text: "Unapprove",
        url: "/finance/api/financeclaims/creditor/refund/unapprove/",
        model: false,
        showOnStatus: "APPROVED",
      },
      {
        text: "Finalize",
        url: "/finance/api/financeclaims/creditor/refund/finalize/",
        model: false,
        showOnStatus: "APPROVED",
      },
    ],
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        paymentType: this.param.paymentType,
        currency: this.param.currency,
        bank: this.param.bank,
        refDate: this.param.refDate.date,
      };
    },
  },

  watch: {
    // "param.status": {
    //   handler: function (after, before) {
    //     console.log("before", before);
    //     let status = this.search.status.items.filter(
    //       (value) => value.code == after
    //     );
    //     if (status.length > 0) {
    //       this.param.statusDesc = status[0].value;
    //     }
    //   },
    //   deep: true,
    // },
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },

  async created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      await this.getItemData(id);
    }
    this.initList([
      "client",
      "adjuster",
      "paymentType",
      "currency",
      "bank",
      "defaultBankClient",
      "defaultBankAgent",
    ]);
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async getItemData(id) {
      let vm = this;
      this.param.id = id;
      await API.get("/finance/api/financeclaims/creditor/refund/" + this.param.id).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.param.status = dataResp.status;
          this.param.refundNo = dataResp.idTran;
          this.param.custType = dataResp.customerType;
          this.param[this.param.custType.toLowerCase()] = dataResp.customerCode;
          this.search[this.param.custType.toLowerCase()].setItemParams[
            "code.equals"
          ] = dataResp.customerCode;
          this.param.customerName = dataResp.customerName;
          this.param.paymentDate = dataResp.tranDate;
          this.param.paymentType = dataResp.paymentMethod;
          this.param.currency = dataResp.currency;
          this.search.bank.params["currency.equals"] = this.param.currency;
          this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
          this.param.bank = dataResp.bankCode;
          this.search.bank.setItemParams["coaCode.equals"] = dataResp.bankCode;
          this.param.refDate.date = this.formatDateDash(dataResp.referenceDate);
          this.param.reference = dataResp.reference;
          this.param.entryName = dataResp.entryBy;
          this.param.entryDate = dataResp.entryDate;
          this.param.modifName = dataResp.modifiedBy;
          this.param.modifDate = dataResp.modifiedDate;
          this.param.approveName = dataResp.approvedBy;
          this.param.approveDate = dataResp.approvedDate;
          this.param.closeName = dataResp.closedBy;
          this.param.closeDate = dataResp.closedDate;
          this.items = dataResp.listAccountTranData.map(function (row) {
            row["accountNo"] = row.invoiceNo;
            row["accountType"] = row.type;
            row["tranDate"] = vm.formatDateDash(row.billDate);
            row["balance"] = row.balanceAmount;
            row["refundAmount"] = vm.currencyFormat(row.amount);
            row["exchgRate"] = row.exchangeRate;
            return row;
          });
        }
      );
      this.overlay = false;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.reloadData();
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "refund-claims-creditor-list", query: {back: true}, });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.param[this.param.custType.toLowerCase()]) {
        this.formHasErrors = true;
      }
      this.$refs[this.param.custType.toLowerCase()].validate(true);

      // validasi tabel trans
      this.submitDialog.message = "";
      if (!this.formHasErrors) {
        if (this.items.length < 1) {
          this.formHasErrors = true;
          this.submitDialog.message = "Please select at least one Transaction";
        } else if (this.currencyToFloat(this.getTotal("equivAmount")) <= 0) {
          this.formHasErrors = true;
          this.submitDialog.message = "Total Refund mast have positive result";
        }
      }
      console.log("this.formHasErrors", this.formHasErrors);
      if (!this.formHasErrors) {
        this.submitDialog.mode = "loading";
        this.submitDialog.show = true;
        await this.doEdit();
      } else {
        if (this.submitDialog.message != "") {
          this.submitDialog.mode = "error";
          this.submitDialog.show = true;
        }
        this.formHasErrors = false;
      }
    },
    async doEdit() {
      let vm = this;
      let submitUrl = "/finance/api/financeclaims/creditor/refund/edit";
      let custType = this.param.custType.toLowerCase();
      let bankItem = this.search.bank.items.filter(
        (value) => value.coaCode == this.param.bank
      );
      let custItem = this.search[custType].items.filter(
        (value) => value.code == this.param[custType]
      );
      let paramJSON = {
        idTran: this.param.refundNo,
        amount: this.currencyToFloat(this.getTotal("equivAmount")),
        amountEq: this.currencyToFloat(this.getTotal("equivAmount")),
        bankCode: this.param.bank,
        bankName: bankItem[0].coaName,
        currency: this.param.currency,
        customerCode: custItem[0].code,
        customerName: custItem[0].name,
        customerType: this.param.custType,
        exchangeRate: this.currencyToFloat(this.param.excRate),
        paymentMethod: this.param.paymentType,
        reference: this.param.reference,
        referenceDate: this.formatDateSlash(this.param.refDate.date),
        tranDate: this.param.paymentDate,
        listAccountTranData: this.items.map(function (row) {
          return {
            amount: vm.currencyToFloat(row.refundAmount),
            balanceAmount: row.balance,
            billDate: vm.formatDateSlash(row.tranDate),
            currency: row.currency,
            equivAmount: row.equivAmount.toFixed(2),
            exchangeRate: row.exchgRate,
            invoiceNo: row.accountNo,
            oriAmount: row.amoutPaid,
            type: row.accountType,
            term: row.term,
          };
        }),
      };

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            // this.submitDialog.mode = "success";
            this.param.refundNo = resp.data.data.idTran;
            this.submitDialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.reloadData();
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    reloadData() {
      this.overlay = true;
      this.disableForm = true;
      this.$router.replace({ query: { id: this.param.refundNo, mode: "d" } });
      this.getItemData(this.param.refundNo);
      this.submitDialog.show = false;
    },

    initList(list, paramAdd = null) {
      for (let l of list) {
        this.search[l].loading = true;
        let mergedParam = { ...this.search[l].params, ...paramAdd };
        API.get(this.search[l].url, mergedParam)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
              this.setObjectItem(l);
            } else {
              this.search[l].items = [];
            }
            if (l == "bank" && paramAdd != null) {
              this.setDefaultBank();
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    setObjectItem(l) {
      if (this.search[l].itemSearch) {
        let item = this.search[l].items.filter(
          (value) => value[this.search[l].uniqueKey] == this.param[l]
        );
        if (item.length < 1) {
          API.get(this.search[l].url, this.search[l].setItemParams)
            .then((resp) => {
              if (
                resp.data.code == 0 &&
                resp.data.data.length > 0 &&
                resp.data.data.length < 2
              ) {
                this.search[l].items = this.search[l].items.concat(
                  resp.data.data
                );
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }
    },
    autocompSearch(search) {
      if (!this.disableForm) {
        if (search.request) search.request.cancel();
        const axiosSource = axios.CancelToken.source();
        search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => this.sends(search, axiosSource), 500);
      }
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(search.url, search.params, null, null, axiosSource.token).then(
        (resp) => {
          search.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            search.items = resp.data.data;
          } else {
            search.items = [];
          }
        }
      );
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },

    viewFile(type = null, format = null) {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let docUrl = "finance/api/finance/cashreceipt/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/cashreceipt/generate-copy";
      }
      let paramJSON = {
        id: this.param.receiptNo,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.data, format);
          } else {
            this.previewFile(resp.data.data);
          }
          this.overlay = false;
          this.submitDialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.submitDialog.mode = "error";
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Cash Receipt " +
          // this.param.transactionId +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          // "-" +
          // this.param.customer +
          // " " +
          // this.currentTime +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      journal["accountType"] = this.param.customerType;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "";
        header.rules = [];
      }
      // }
    },
    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    async changeStatus(item) {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      item.model = false;

      let param = JSON.stringify({});
      API.post(item.url + this.param.refundNo, param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            this.submitDialog.mode = "success";
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    changeCustomer() {
      (this.param.paymentDate = new Date().toISOString().substr(0, 10)),
        (this.param.paymentType = "");
      this.param.currency = "";
      this.param.excRate = "";
      this.param.bank = "";
      (this.param.refDate.date = new Date().toISOString().substr(0, 10)),
        (this.param.reference = "");
      this.items = [];
    },
    changeCustomerType() {
      this.changeCustomer();
      this.setDefaultBank();
    },
    setDefaultBank() {
      if (this.param.currency != "") {
        let bank = this.search[
          "defaultBank" + this.capitalizeFirstLetter(this.param.custType)
        ].items.filter((value) => value.code == this.param.currency);
        let coa = this.search.bank.items.filter(
          (value) => value.coaCode == bank[0].value
        );

        if (coa.length > 0) {
          this.param.bank = coa[0].coaCode;
        } else {
          this.param.bank = "";
        }
      }
    },
    formatDateSlash(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    formatDateDash(date) {
      let splitted = date.split("/");
      let reversed = splitted.reverse();
      return reversed.join("-");
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      this.getItemsRate();
      this.initList(["bank"], { "currency.equals": e, "coaName.contains": "" });
      let rate = await this.getExchangeRate(e);
      this.param.excRate = this.currencyFormat(rate);
      this.excRateLoading = false;
    },
    async getItemsRate() {
      for (let item of this.items) {
        item.rateLoading = true;
        if (item.currency == this.param.currency) {
          item.exchgRate = 1;
        } else {
          item.exchgRate = await this.getExchangeRate(
            item.currency != "IDR" ? item.currency : this.param.currency
          );
        }
        item.rateLoading = false;
        this.refundAmountChange(item);
      }
    },
    removeTrans(item) {
      this.amountChanged = false;
      for (let i = 0; i < this.items.length; i++) {
        if (
          this.items[i].accountNo == item.accountNo &&
          this.items[i].term == item.term
        ) {
          this.items.splice(i, 1);
        }
      }
    },
    async submitTrans(items) {
      let vm = this;
      let toAddItems = items.map(function (row) {
        row["refundAmount"] =
          row.refundAmount == null
            ? vm.currencyFormat(
                row.balance < 0 ? row.balance * -1 : row.balance
              )
            : row.refundAmount;
        row.equivAmount = row.equivAmount == null ? 0 : row.equivAmount;
        row.rateLoading = false;
        return row;
      });
      this.items = JSON.parse(JSON.stringify(toAddItems));

      this.getItemsRate();
    },
    refundAmountChange(item) {
      this.amountChanged = true;
      let amount = this.currencyToFloat(item.refundAmount);
      let rate = item.exchgRate;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.equivAmount = amount * rate;
      } else {
        item.equivAmount = amount / rate;
      }
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    submitRate(param) {
      this.refundAmountChange(param);
    },
    capitalizeFirstLetter(string) {
      return string[0].toUpperCase() + string.slice(1).toLowerCase();
    },
    getCnInfo(item) {
      this.infoCnDialog = { show: true, mode: "loading", item: item };
      let param = {
        "accountNo.equals": item.accountNo,
        "term.equals": item.term,
      };
      API.get("finance/api/finance/invaccount/getcreditoraccount", param)
        .then((resp) => {
          console.log("resp", resp);
          if (resp.data.code == 0 && resp.data.listTransaction.length > 0) {
            this.infoCnDialog = {
              show: true,
              mode: "info",
              item: resp.data.listTransaction[0],
            };
          } else {
            this.infoCnDialog = { show: true, mode: "info", item: item };
          }
        })
        .catch((error) => {
          console.log("error", error);
          this.infoCnDialog = { show: true, mode: "info", item: item };
        });
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
