<template>
  <v-card flat>
    <v-row>
      <v-col cols="2" class="pr-0 py-0">
        <isttoolbar
          style="border-top-left-radius: 5px"
          title="Finance Claim"
          dark
          color="secondary"
          icon="mdi-finance"
        >
        </isttoolbar>
      </v-col>
      <v-col cols="10" class="pl-0 py-0">
        <isttoolbar
          title="Query Claim Creditor Transaction"
          dark
          color="primary"
          class="pa-0"
          style="border-top-right-radius: 5px"
        >
        </isttoolbar>
      </v-col>
    </v-row>

    <v-card class="px-3 py-0">
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Client/Adjuster</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Client/Adjuster"
                hide-details="auto"
                v-model="filter.customer.searchValue"
                ref="customer"
                name="customer"
                @keyup="autocompSearch(filter.customer)"
                :search-input.sync="
                  filter.customer.urlParam['codeOrName.contains']
                "
                :items="filter.customer.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.customer.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Customer Name."
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Type</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Type"
                hide-details="auto"
                v-model="filter.type.searchValue"
                ref="type"
                name="type"
                :items="filter.type.items"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Currency"
                hide-details="auto"
                v-model="filter.currency.searchValue"
                ref="currency"
                name="currency"
                :items="filter.currency.items"
                item-value="code"
                :item-text="currencyTextItem"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Number</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Number From..."
                v-model="filter.numberFrom.searchValue"
                flat
                outlined
                dense
                hide-details="auto"
                ref="numberFrom"
                name="numberFrom"
                class="ma-0 compact-field"
                solo
              ></v-text-field>
            </v-col>
            <v-col
              cols="1"
              align-self="center"
              align="center"
              class="ma-0 pa-0"
            >
              <span class="title">To</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Number To..."
                v-model="filter.numberTo.searchValue"
                flat
                outlined
                dense
                hide-details="auto"
                ref="numberTo"
                name="numberTo"
                class="ma-0 compact-field"
                solo
              ></v-text-field>
            </v-col>
            <!-- <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Policy No</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label="Insert Policy No"
                v-model="filter.policyNo.searchValue"
                flat
                outlined
                dense
                hide-details="auto"
                ref="policyNo"
                name="policyNo"
                class="ma-0 compact-field"
                solo
              ></v-text-field>
            </v-col> -->
          </v-row>
        </v-col>
      </v-row>

      <v-card-actions class="py-0">
        <v-spacer> </v-spacer>
        <v-chip-group
          class="mx-2"
          v-model="selection"
          active-class="primary"
          mandatory
        >
          <v-chip small>Outstanding</v-chip>
          <v-chip small>Full Paid</v-chip>
        </v-chip-group>
        <v-btn
          min-width="100px"
          class="mx-2"
          @click="listSearch"
          outlined
          dark
          color="primary"
          small
        >
          <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1 compact-row"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      dense
      :footer-props="{ 'items-per-page-options': [5, 10] }"
      fixed-header
      hide-default-footer
      height="230"
    >
      <template v-slot:item="{ item, index }">
        <tr
          :class="selectedRows.indexOf(item) > -1 ? 'blue accent-1' : ''"
          @click="rowClicked(item)"
        >
          <td v-for="header in headers" :key="header.text">
            <div
              v-if="
                ['amount', 'balance', 'amountPayable'].indexOf(header.value) !=
                -1
              "
              :class="item[header.value] < 0 ? 'error--text' : ''"
              align="right"
            >
              {{ currencyFormat(item[header.value]) }}
            </div>
            <span v-else-if="header.value == 'tranDate'">
              {{ formatDateSlash(item.tranDate) }}
            </span>
            <v-menu
              v-else-if="header.value == 'actions'"
              bottom
              left
              :offset-x="true"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon x-small v-bind="attrs" v-on="on">
                  <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list dense>
                <v-list-item @click="viewItem(item, item.accountType)">
                  <v-list-item-title>View</v-list-item-title>
                </v-list-item>
                <v-list-item @click="viewJournal(item, item.accountType)">
                  <v-list-item-title>View Journal</v-list-item-title>
                </v-list-item>
                <v-list-item @click="viewNotesItem(item)">
                  <v-list-item-title>Notes</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <span v-else>{{ item[header.value] }}</span>
          </td>
        </tr>
        <template>
          <tr
            v-for="(child, i) in item.listAcctTranData"
            :key="index + child.accountNo + i"
            :class="selectedRows.indexOf(child) > -1 ? 'blue accent-1' : ''"
            @click="rowClicked(child, item)"
          >
            <td v-for="header in headers" :key="header.text">
              <!-- ||
                  (getDetailType(item, child) == 'PAYR' &&
                    item.accountType == 'INV') -->
              <div
                v-if="header.value == 'amount'"
                :class="child.amount < 0 ? 'error--text' : ''"
                align="right"
              >
                <!-- getDetailType(item, child) == "PAYR" &&
                  item.accountType == "INV"
                    ? currencyFormat(toMinus(child.amount))
                    :  -->
                {{ currencyFormat(child.amount) }}
              </div>
              <span v-else-if="header.value == 'accountType'">
                {{
                  ["JC", "CJNS", "CJNM"].indexOf(getDetailType(item, child)) != -1
                    ? getDetailType(item, child) + " (" + child.refAccountType + ")"
                    : getDetailType(item, child)
                }}
                <!-- {{ child.accountType }} -->
              </span>
              <span v-else-if="header.value == 'tranDate'">
                {{ child.tranDate }}
              </span>
              <v-menu
                v-else-if="header.value == 'actions'"
                bottom
                left
                :offset-x="true"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon x-small v-bind="attrs" v-on="on">
                    <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item
                    @click="viewItem(child, getDetailType(item, child))"
                  >
                    <v-list-item-title>View</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    @click="viewJournal(child, getDetailType(item, child))"
                  >
                    <v-list-item-title>View Journal</v-list-item-title>
                  </v-list-item>
                  <!-- <v-list-item @click="viewNotesItem(child, item)">
                    <v-list-item-title>Notes</v-list-item-title>
                  </v-list-item> -->
                </v-list>
              </v-menu>
              <span v-else></span>
            </td>
          </tr>
        </template>
      </template>
      <template v-slot:body.append>
        <tr>
          <v-card v-intersect="infiniteScrolling"></v-card>
        </tr>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>

    <v-expand-transition>
      <v-card v-show="detailForm">
        <v-toolbar
          dense
          style="height: auto"
          dark
          color="primary"
          flat
          class="compact-toolbar"
        >
          <v-toolbar-title>Detail Info</v-toolbar-title>
          <v-spacer> </v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                text
                @click="detailForm = false"
                style="height: auto"
              >
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-progress-linear
          indeterminate
          v-show="loadDetail"
        ></v-progress-linear>

        <v-row class="px-2">
          <v-col cols="5" class="py-1">
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Reff No</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.refNo"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray;"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Client/Agent</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.customer"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Details</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <textarea
                    v-model="detail.details"
                    readonly
                    rows="2"
                    style="width: inherit; border: 1px solid gray"
                  ></textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Date of Loss</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.dateOfLoss"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Policy No</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.policyNo"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Claim Officer</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.claimOfficer"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Age by Issue</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.ageByIssue"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Age by Loss Date</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.ageByLossDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>
          </v-col>
          <v-col cols="7" class="py-1">
            <v-row>
              <v-col cols="6">
                <fieldset class="px-2" style="border-radius: 5px">
                  <legend>To Client</legend>
                  <v-row>
                    <v-col cols="3" class="py-1">
                      <span>Paid Amount</span>
                    </v-col>
                    <v-col cols="9" class="py-1">
                      <input
                        v-model="detail.clientPaid"
                        readonly
                        type="text"
                        style="width: inherit; border: 1px solid gray"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="3" class="py-1">
                      <span>Paid Date</span>
                    </v-col>
                    <v-col cols="9" class="py-1">
                      <input
                        v-model="detail.paidDate"
                        readonly
                        type="text"
                        style="width: inherit; border: 1px solid gray"
                      />
                    </v-col>
                  </v-row>
                </fieldset>
              </v-col>
              <v-col cols="6">
                <fieldset class="px-2" style="border-radius: 5px">
                  <legend>To Underwriter</legend>
                  <v-row>
                    <v-col cols="3" class="py-1">
                      <span>Paid Amount</span>
                    </v-col>
                    <v-col cols="9" class="py-1">
                      <input
                        v-model="detail.uwPaid"
                        readonly
                        type="text"
                        style="width: inherit; border: 1px solid gray"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="3" class="py-1">
                      <span>Paid Date</span>
                    </v-col>
                    <v-col cols="9" class="py-1">
                      <input
                        v-model="detail.uwPaidDate"
                        readonly
                        type="text"
                        style="width: inherit; border: 1px solid gray"
                      />
                    </v-col>
                  </v-row>
                </fieldset>
              </v-col>
            </v-row>

            <br />
            <fieldset class="px-2" style="border-radius: 5px">
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Class of Risk</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.risk"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Underwriter</span>
                </v-col>
                <v-col cols="9" class="py-1">
                  <input
                    v-model="detail.underwriter"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="py-1">
                  <span>Entry By</span>
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.entryName"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
                <v-col cols="3" class="py-1">
                  <input
                    v-model="detail.entryDate"
                    readonly
                    type="text"
                    style="width: inherit; border: 1px solid gray"
                  />
                </v-col>
              </v-row>
            </fieldset>
          </v-col>
        </v-row>
      </v-card>
    </v-expand-transition>

    <v-dialog v-model="detailDialog.show" scrollable max-width="1100">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          {{ "Transaction Detail " + detailDialog.type }}
          <v-spacer></v-spacer>
          <v-btn
            outlined
            class="mx-1"
            min-width="100px"
            color="primary"
            @click="viewJournal(null, detailDialog.type, detailDialog.id)"
            v-show="!detailDialog.loading"
          >
            View Journal
          </v-btn>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="detailDialog.show = false"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-progress-linear
          v-show="detailDialog.loading"
          indeterminate
          color="primary"
        ></v-progress-linear>
        <v-card-text>
          <standardtransaction
            v-show="
              ['CDN', 'CCN'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></standardtransaction>
          <cashreceipt
            v-show="
              ['CCSH', 'CREV'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></cashreceipt>
          <creditapp
            v-show="
              ['CA'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></creditapp>
          <refund
            v-show="
              ['REF'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></refund>
          <payment
            v-show="
              ['CPAY'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></payment>
          <paiddirect
            v-show="
              ['CPD'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></paiddirect>
          <journalcurrency
            v-show="
              ['JC', 'CJNM', 'CJNS'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></journalcurrency>
          <adjustment
            v-show="
              ['ADJ'].indexOf(detailDialog.type) != -1 &&
              detailDialog.loading == false
            "
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></adjustment>
        </v-card-text>
      </v-card>
    </v-dialog>

    <editablejournaldialog
      :refNo="journalDialog.refNo"
      :editable="false"
      :api="journalDialog.api"
      :getListParamName="journalDialog.getListParamName"
      :hideButton="true"
      :show="journalDialog.show"
      v-on:close="journalDialog.show = false"
    >
    </editablejournaldialog>

    <v-dialog
      v-model="notesDialog.show"
      scrollable
      :persistent="editNotes"
      max-width="800"
    >
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          Notes
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-show="!editNotes"
                text
                depressed
                color="primary"
                @click="editNotes = true"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-pen</v-icon>
              </v-btn>
            </template>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="
                  notesDialog.show = false;
                  editNotes = false;
                "
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-progress-linear
          v-show="notesDialog.loading"
          indeterminate
          color="primary"
        ></v-progress-linear>
        <v-card-text>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Client</span>
            </v-col>
            <v-col cols="6" class="py-1">
              <v-text-field
                v-model="notesDialog.data.client"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesClient"
                name="notesClient"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Currency</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.currency"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesCurrency"
                name="notesCurrency"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">Trans No</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.transNo"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesTransNo"
                name="notesTransNo"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">A/Exec</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.acctExec"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesAcctExec"
                name="notesAcctExec"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Term</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.term"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesTerm"
                name="notesTerm"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">Type</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.type"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesType"
                name="notesType"
                solo
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1">
              <span class="title">Due Date</span>
            </v-col>
            <v-col cols="2" class="py-1">
              <v-text-field
                v-model="notesDialog.data.dueDate"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesDueDate"
                name="notesDueDate"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="py-1">
              <span class="title">Remarks</span>
            </v-col>
            <v-col cols="10" class="py-1">
              <v-textarea
                v-model="notesDialog.data.remarks"
                flat
                outlined
                dense
                hide-details="auto"
                ref="notesRemarks"
                name="notesRemarks"
                solo
                :rows="4"
                :readonly="!editNotes"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <!-- <v-btn
            rounded
            color="primary"
            min-width="100px"
            @click="editNotes = false"
            v-show="editNotes"
          >
            Cancel
          </v-btn> -->
          <v-btn
            rounded
            color="primary"
            min-width="100px"
            v-show="editNotes"
            @click="doEditNotes"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      maxWidth="350"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import { mapState, mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
import standardtransaction from "../../../components/claims/standard_transaction";
import cashreceipt from "../../../components/finance/cash_receipt";
import creditapp from "../../../components/finance/credit_application";
import refund from "../../../components/finance/refund";
import payment from "../../../components/financeClaim/payment_creditor";
import paiddirect from "../../../components/financeClaim/paid_direct";
import journalcurrency from "../../../components/financeClaim/creditor_journal_currency";
import adjustment from "../../../components/finance/adjustment";
import * as invTypes from "@/store/modules/invoice/type";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";

export default {
  components: {
    isttoolbar,
    submitdialog,
    standardtransaction,
    cashreceipt,
    creditapp,
    refund,
    payment,
    paiddirect,
    journalcurrency,
    adjustment,
    editablejournaldialog,
  },
  directives: { money: VMoney },
  data: () => ({
    ...mapState(["invoice"]),
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    submitDialog: { show: false, mode: "", title: "", message: "" },
    headers: [
      {
        text: "Currency",
        value: "currency",
        sortable: false,
        align: "start",
      },
      {
        text: "Claim Trans",
        value: "accountNo",
        sortable: false,
      },
      {
        text: "Type",
        value: "accountType",
        sortable: false,
      },
      // {
      //   text: "Term",
      //   value: "term",
      //   sortable: false,
      // },
      {
        text: "Trans Date",
        value: "tranDate",
        sortable: false,
      },
      // {
      //   text: "Age",
      //   value: "age",
      //   sortable: false,
      // },
      // {
      //   text: "Acc Executive",
      //   value: "cstExc",
      //   sortable: false,
      // },
      {
        text: "Amount",
        value: "amount",
        sortable: false,
        align: "right",
      },
      {
        text: "Balance",
        value: "balance",
        sortable: false,
        align: "right",
      },
      {
        text: "Payable",
        value: "amountPayable",
        sortable: false,
        align: "right",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: { itemsPerPage: 10 },
    isFullRecord: true,
    loading: false,
    expanded: false,
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/adjuster?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        // toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        // url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      numberFrom: {
        value: "accountNoFrom",
        dataValue: "",
        searchValue: "",
        searchParam: "",
      },
      numberTo: {
        value: "accountNoTo",
        dataValue: "",
        searchValue: "",
        searchParam: "",
      },
      policyNo: {
        value: "policyNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      type: {
        value: "transType",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: ["CCSH", "CREV", "CCN", "CDN"],
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
      },
    },
    listParam: [],
    exportLoading: false,
    selection: 0,
    detailForm: false,
    detail: {
      refNo: "",
      customer: "",
      details: "",
      attach: "",
      attachDate: "",
      due: "",
      dueDate: "",
      category: "",
      underwriter: "",
      segment: "",
      subsegment: "",
      segmentDesc: "",
      risk: "",
      insured: "",
      insured2: "",
      exchangeRate: "",
      accExec: "",
      clientPaid: "",
      paidDate: "",
      uwPaid: "",
      uwPaidDate: "",
      entryName: "",
      entryDate: "",
      masterPolicy: "",
      policyNo: "",
      bordeauxNo: "",
      bordeauxBy: "",
      bordeauxDate: "",
    },
    loadDetail: false,
    selectedRows: [],
    rules: {
      required: (value) => !!value || "Required.",
    },
    detailDialog: { show: false, loading: false, type: "", id: null, data: {} },
    notesDialog: { show: false, loading: false, data: {} },
    editNotes: false,
    journalDialog: { show: false, refNo: "", api: "", getListParamName: "" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        let pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        // this.refresh();
      },
      deep: true,
    },
  },

  mounted() {},

  created() {
    this.listSearch("init");
    this.initList(["customer", "currency", "segment"]);
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
      // di bawah adalah inv
      addInvState: invTypes.ACTION_ADD_STATE,
      resetInvState: invTypes.ACTION_RESET_STATE,
    }),

    refresh() {
      let vm = this;
      this.getList().then((data) => {
        if (this.options.page > 1) {
          if (data.items.length > 0) {
            data.items.forEach((item) => {
              let existItem = vm.items.filter(
                (val) =>
                  // val.accountType == item.accountType &&
                  // val.accountNo == item.accountNo &&
                  // val.term == item.term &&
                  // val.uwCode == item.uwCode
                  val == item
              );
              if (existItem.length < 1) {
                vm.items.push(item);
              }
            });
          }
        } else {
          this.items = data.items;
        }
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        // if (
        //   sortBy != undefined &&
        //   sortDesc != undefined &&
        //   sortBy.length > 0 &&
        //   sortDesc.length > 0
        // )
        //   param["sort"] = [
        //     sortBy[0],
        //     sortDesc[0] ? "desc" : "asc",
        //     "ignoreCase",
        //   ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.searchParam
                  ? value.value + "." + value.searchParam
                  : value.value]: value.searchValue,
              };
            })
          );
        }
        // param["sort"] = "acctType,asc,ignoreCase";
        this.listParam = param;
        let url = "finance/api/financeclaim/querycreditor/outstanding";
        if (this.selection == 1) {
          url = "finance/api/financeclaim/querycreditor/fulltransaction";
        }
        API.get(url, param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              this.isFullRecord =
                resp.data.listTransaction.length == this.options.itemsPerPage;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.listTransaction,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },

    listSearch(mode = null) {
      console.log("mode", mode);
      // if (
      //   this.filter.customer.searchValue ||
      //   this.filter.number.searchValue ||
      //   mode == "init"
      // ) {
      this.options.page = 1;
      this.detailForm = false;
      this.isFullRecord = true;
      this.refresh();
      // } else {
      //   this.submitDialog = {
      //     show: true,
      //     mode: "error",
      //     title: "Please search by Client/Agent or Number",
      //   };
      // }
    },

    async initList(list) {
      for (let l of list) {
        console.debug(this.filter[l].url);
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async itemClick(item, headItem) {
      this.loadDetail = true;
      this.detailForm = true;
      Object.keys(this.detail).forEach((f) => {
        this.detail[f] = "";
      });

      let type = item.accountType;
      let id = item.accountNo;
      let term = item.term;
      let customer = item.cstCode + " - " + item.cstName;
      let detail = "";
      if (headItem != null) {
        type = this.getDetailType(headItem, item);
        if (type == item.accountType) {
          id = item.accountNo;
          term = item.term;
          detail = item.description;
        } else if (type == item.refAccountType) {
          id = item.refAccountNo;
          term = item.refTerm;
          detail = item.description;
        } else if (type == item.tranCode) {
          id = item.tranRefId;
          detail = item.tranDesc;
        }
      }
      this.detail.clientPaid = this.currencyFormat(item.amoutPaid);
      this.detail.paidDate = item.payDate;
      this.detail.uwPaidDate = item.paidDateToUnderwriter;
      this.detail.customer = customer;
      // ada apa saja? CSH INV CN CA REF PAYR JC PD ADJ
      if (["CDN", "CCN"].indexOf(type) != -1) {
        this.detail.underwriter = item.uwCode + " - " + item.uwName;
        await this.getInvoiceItem(id, term);
      } else if (type == "CCSH" || type == "CREV") {
        await this.getCashReceiptItem(id);
      } else if (type == "CA") {
        this.detail.details = detail;
        await this.getCreditAppItem(id);
      } else if (type == "REF") {
        this.detail.details = detail;
        await this.getRefundItem(id);
      } else if (["CPAY"].indexOf(type) != -1) {
        this.detail.details = detail;
        await this.getPaymentItem(id);
      } else if (["JC", "CJNM", "CJNS"].indexOf(type) != -1) {
        this.detail.details = detail;
        this.detail.exchangeRate = this.currencyFormat(item.exchgRate);
        await this.getJournalCurrencyItem(id);
      } else if (type == "CPD") {
        this.detail.details = detail;
        await this.getPaidDirectItem(id);
      } else if (type == "ADJ") {
        this.detail.details = detail;
        await this.getAdjusmentItem(id);
      } else {
        this.detail.refNo = headItem != null ? id : item.accountNo;
        this.detail.details =
          item.tranDesc + ". " + (item.description ? item.description : "");
        this.detail.segment = item.prdseg;
        this.detail.subsegment = item.prdSubSeg;
        this.detail.risk = item.prdrisk;
        this.detail.exchangeRate = this.currencyFormat(item.exchgRate);
        this.detail.entryName = item.entryUsr;
        this.detail.entryDate = item.entryDate;
      }
      this.loadDetail = false;
    },
    async getCashReceiptItem(no) {
      await API.get(
        "/finance/api/financeclaims/creditor/cashreceipt/" + no
      ).then((resp) => {
        if (resp.data.code == 0) {
          let dataResp = resp.data.data;
          this.detail.refNo = no;
          this.detail.details = dataResp.description;
          this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
          this.detail.entryName = dataResp.entryBy;
          this.detail.entryDate = dataResp.entryDate;
        }
      });
    },
    async getCreditAppItem(no) {
      await API.get(
        "/finance/api/financeclaim/creditor/creditapplication/" + no
      ).then((resp) => {
        let dataResp = resp.data.creditApplicationDataDto;
        this.detail.refNo = no;
        this.detail.details += ". " + dataResp.detail;
        this.detail.exchangeRate = this.currencyFormat(
          dataResp.cshOriExchangeRate
        );
        this.detail.entryName = dataResp.entryBy;
        this.detail.entryDate = dataResp.entryDate;
      });
    },
    async getRefundItem(no) {
      await API.get("/finance/api/financeclaims/creditor/refund/" + no).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.detail.refNo = no;
          this.detail.details +=
            ". " + dataResp.description + ". " + dataResp.reference;
          this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
          this.detail.entryName = dataResp.entryBy;
          this.detail.entryDate = dataResp.entryDate;
        }
      );
    },
    async getPaymentItem(no) {
      await API.get("/finance/api/financeclaim/creditor/payment/" + no).then(
        (resp) => {
          let dataResp = resp.data.data;
          if (dataResp) {
            this.detail.refNo = no;
            this.detail.details += ". " + dataResp.reference;
            this.detail.exchangeRate = this.currencyFormat(
              dataResp.exchangeRate
            );
            this.detail.entryName = dataResp.entryBy;
            this.detail.entryDate = dataResp.entryDate;
          }
        }
      );
    },
    async getJournalCurrencyItem(no) {
      await API.get(
        "/finance/api/financeclaim/creditor/journalcurrency/" + no
      ).then((resp) => {
        let dataResp = resp.data.journalCurrencyData;
        this.detail.refNo = no;
        if (dataResp.listTransaction && dataResp.listTransaction.length > 0) {
          this.detail.customer =
            dataResp.listTransaction[0].customerCode +
            " - " +
            dataResp.listTransaction[0].customerName;
        }
        this.detail.details += ". " + dataResp.description;
        // this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.entryBy;
        this.detail.entryDate = dataResp.entryDate;
      });
    },
    async getPaidDirectItem(no) {
      // let paramJSON = { id: no };
      await API.get("/finance/api/financeclaim/debtor/paid-direct/view/" + no).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.detail.refNo = no;
          this.detail.details += ". " + dataResp.description;
          this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
          this.detail.entryName = dataResp.createdBy;
          this.detail.entryDate = dataResp.createdDate;
        }
      );
    },
    async getAdjusmentItem(no) {
      await API.get(
        "/finance/api/financeclaims/creditor/adjustment/" + no
      ).then((resp) => {
        let dataResp = resp.data.data;
        this.detail.refNo = no;
        this.detail.details += ". " + dataResp.description;
        this.detail.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.detail.entryName = dataResp.createdBy;
        this.detail.entryDate = dataResp.createdDate;
      });
    },
    async getInvoiceItem(no, term) {
      console.log("term", term);
      await API.get(
        "/claims/api/claims/standard-transaction/claim-no/" + no
      ).then((resp) => {
        if (resp.data.code == 0) {
          let dataResp = resp.data;
          if (this.detail.customer.includes(" - null")) {
            let customerSplit = this.detail.customer.split(" ");
            this.detail.customer = [
              customerSplit[0],
              customerSplit[1],
              dataResp.customerName,
            ].join(" ");
          } else if (this.detail.customer == " - ") {
            this.detail.customer =
              dataResp.codeAccount + " - " + dataResp.nameAccount;
          }
          this.detail.details = dataResp.details;
          this.detail.dateOfLoss = dataResp.claimInfo.lossDate;
          this.detail.policyNo = dataResp.policyInfo.policyNo;
          this.detail.claimOfficer = dataResp.claimInfo.claimOfficer;
          this.detail.ageByIssue = "";
          this.detail.ageByLossDate =
            this.diffDays(dataResp.claimInfo.lossDate) + " Days";
          this.detail.clientPaid = dataResp.clientTotal;
          // this.detail.paidDate = dataResp.payDate;
          this.detail.uwPaid = dataResp.insurerTotal;
          // this.detail.uwPaidDate = dataResp.payDate;
          this.detail.risk = dataResp.policyInfo.riskClass;
          this.detail.underwriter =
            this.detail.underwriter == "null - null"
              ? dataResp.policyInfo.underwriter
              : this.detail.underwriter;
          this.detail.entryName = dataResp.createdBy;
          this.detail.entryDate = dataResp.createdDate;
        }
      });
    },
    rowClicked(row, headItem = null) {
      this.selectedRows = [];
      this.selectedRows.push(row);
      this.itemClick(row, headItem);
    },
    infiniteScrolling() {
      // if (this.filter.customer.searchValue || this.filter.number.searchValue) {
      if (!this.loading && this.isFullRecord) {
        this.options.page = this.options.page + 1;
        this.refresh();
      }
      // }
    },
    diffDays(date) {
      let date1 = new Date(date);
      let date2 = new Date();
      let diffTime = Math.abs(date2 - date1);
      let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      return diffDays;
    },
    getUwLeader(list) {
      let activeItem = list.filter((value) => value.isLeader);
      let uwLeader = "";
      if (activeItem.length > 0) {
        uwLeader = activeItem[0].insuranceName;
      }
      return uwLeader;
    },
    getDueDate(list, term) {
      let installmentItem = list.filter((value) => value.no == term);

      let dueDate = "";
      if (installmentItem.length > 0) {
        dueDate = installmentItem[0].dueDate;
      }
      return dueDate;
    },
    getSegmentDesc(code) {
      let item = this.filter.segment.items.filter(
        (value) => value.code == code
      );
      let name = "";
      if (item.length > 0) {
        name = item[0].value;
      }
      return name;
    },
    formatDateSlash(date) {
      let res = date.split("-");
      return [res[2], res[1], res[0]].join("/");
    },
    getDetailType(headItem, detailItem) {
      let type = detailItem.tranCode;
      if (detailItem.tranCode == "CCA") {
        type =
          detailItem.refAccountType == null
            ? detailItem.tranCode
            : detailItem.refAccountType;
      }
      return type;
    },
    toMinus(amount) {
      let result = amount;
      if (amount > 0) {
        result = amount * -1;
      }
      return result;
    },
    async viewItem(item, type) {
      let id = item.accountNo;
      if (type == item.accountType && item.accountNo != "") {
        id = item.accountNo;
      } else if (type == item.refAccountType && item.refAccountNo != "") {
        id = item.refAccountNo;
      } else if (type == item.tranCode && item.tranRefId != "") {
        id = item.tranRefId;
      }
      // ada apa saja? CSH INV CN CA REF PAYR JC PD ADJ
      if (["CDN", "CCN"].indexOf(type) != -1) {
        // this.detailDialog = { show: true, loading: true, type: "", id: null };
        // this.resetInvState();
        this.detailDialog = { show: true, loading: true, type: type, id: id };
        // let resp = await API.get(
        //   "/broking/api/broking/invoice/by-invoice-no/" + id
        // );
        // if (resp && resp.data && resp.data.code == 0) {
        //   let data = resp.data.invoice;
        //   this.addInvState(data);
        //   this.detailDialog = { show: true, loading: false, type: type };
        // } else {
        //   this.detailDialog = { show: true, loading: false, type: "" };
        // }
      } else if (
        [
          "CCSH",
          "CREV",
          "CA",
          "REF",
          "CPAY",
          "PFUN",
          "CPD",
          "JC",
          "ADJ",
          "CJNM",
          "CJNS"
        ].indexOf(type) != -1
      ) {
        this.detailDialog = { show: true, loading: true, type: type, id: id };
      } else {
        this.detailDialog = { show: false, loading: false, type: "", id: null };
      }
    },
    async viewJournal(item = null, type, refNo = null) {
      let id = "";
      if (refNo != null) {
        id = refNo;
      } else {
        id = item.accountNo;
        if (type == item.accountType) {
          id = item.accountNo;
        } else if (type == item.refAccountType) {
          id = item.refAccountNo;
        } else if (type == item.tranCode) {
          id = item.tranRefId;
        }
      }

      if (["CDN", "CCN", "CDNF"].indexOf(type) != -1) {
        this.journalDialog.api = "/finance/api/finance/invaccount/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "CCSH" || type == "CREV") {
        this.journalDialog.api =
          "/finance/api/financeclaims/creditor/cashreceipt/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "CFUN" || type == "CFRV") {
        this.journalDialog.api =
          "/finance/api/financeclaims/creditor/funding/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "CPD") {
        this.journalDialog.api =
          "/finance/api/financeclaim/debtor/paid-direct/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "CREF") {
        this.journalDialog.api = "/finance/api/financeclaims/creditor/refund/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (type == "CPAY") {
        this.journalDialog.api =
          "/finance/api/financeclaim/creditor/payment/viewjournal/";
        this.journalDialog.getListParamName = "data";
      } else if (["JC", "CJNM", "CJNS"].indexOf(type) != -1) {
        this.journalDialog.api =
          "/finance/api/financeclaim/creditor/journalcurrency/viewjournal/";
        this.journalDialog.getListParamName = "listJournalEntry";
      } else if (type == "ADJ") {
        this.journalDialog.api = "/finance/api/financeclaims/creditor/adjustment/viewjournal/";
        this.journalDialog.getListParamName = "data";
      }
      this.journalDialog.refNo = id;
      this.journalDialog.show = true;
    },
    async viewNotesItem(item, headItem = null) {
      this.notesDialog.show = true;
      this.notesDialog.loading = true;
      let data = JSON.parse(JSON.stringify(item));
      if (typeof this.notesDialog.data == "object") {
        Object.keys(this.notesDialog.data).forEach((f) => {
          this.notesDialog.data[f] = "";
        });
      }

      let type = data.accountType;
      let no = data.accountNo;
      let term = data.term;
      if (headItem != null) {
        type = this.getDetailType(headItem, item);
        if (type == data.accountType) {
          no = data.accountNo;
          term = data.term;
        } else if (type == data.refAccountType) {
          no = data.refAccountNo;
          term = data.refTerm;
        } else if (type == data.tranCode) {
          no = data.tranRefId;
        }
      }
      data["client"] = data.cstCode + " - " + data.cstName;
      data["transNo"] = no;
      data["term"] = term;
      data["type"] = type;
      data["acctExec"] = "";
      data["dueDate"] = "";
      data["remarks"] = "";

      // get notes
      let paramJSON = { id: data.id };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/financeclaim/querycreditor/getNotes",
        param
      ).then((resp) => {
        let dataResp = resp.data;
        if (dataResp.code == 0) {
          data["remarks"] = dataResp.notes;
        }
      });

      // get invoice
      // if (["CDN", "CCN"].indexOf(type) != -1) {
      //   let employeeId = null;
      //   let resp = await API.get(
      //     "/broking/api/broking/invoice/by-invoice-no/" + no
      //   );
      //   console.log("get inv ", resp, resp.data, resp.data.code == 0);
      //   if (resp && resp.data && resp.data.code == 0) {
      //     let dataResp = resp.data.invoice;
      //     data["dueDate"] = this.getDueDate(
      //       dataResp.invoiceInstallment.toClientInstallmentList,
      //       term
      //     );
      //     employeeId = dataResp.idEmployee;
      //   }
      //   // get Account Executive
      //   if (employeeId != null) {
      //     await API.get(
      //       "/user/api/user-management/user/employee/" + employeeId
      //     ).then((resp) => {
      //       if (resp.data.code == 0) {
      //         let personal = resp.data.data.personalData;
      //         data["acctExec"] = personal.fullname;
      //       }
      //     });
      //   }
      // }

      this.notesDialog.loading = false;
      this.notesDialog.data = data;
    },
    async doEditNotes() {
      this.submitDialog.mode = "loading";
      this.submitDialog.title = null;
      this.submitDialog.show = true;

      let submitUrl = "/finance/api/financeclaim/querycreditor/updateNotes";
      let paramJSON = {
        id: this.notesDialog.data.id,
        notes: this.notesDialog.data.remarks,
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.submitDialog.mode = "success";
            this.notesDialog.show = false;
            this.editNotes = false;
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style scoped>
::v-deep
  .v-data-table.compact-row
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td {
  height: 20px;
}
::v-deep .compact-field {
  /* transform: scale(0.8);
  transform-origin: left center 0px; */
}
::v-deep .compact-toolbar {
  height: auto;
}
::v-deep .compact-toolbar .v-toolbar__content {
  height: auto !important;
}
::v-deep .v-chip-group .v-slide-group__content {
  padding: inherit;
}
</style>