<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar
        title="Claims"
        dark
        color="secondary"
        icon="mdi-email-newsletter"
      >
        <v-spacer></v-spacer>
      </isttoolbar>
      <v-tabs v-model="tab" background-color="primary" dark class="pa-0">
        <v-tab v-for="item in itemsTabs" :key="item.tab">{{ item.tab }}</v-tab>
      </v-tabs>
    </div>
    <v-tabs-items v-model="tab" class="contentFix">
      <v-tab-item>
        <!-- class="mb-5 mt-5" -->
        <v-form>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Customer </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                label="Search Customer"
                ref="customer"
                name="customer"
                v-model="searchSingle.customer.searchValue"
                :search-input.sync="searchSingle.customer.input"
                @keyup="autocompSearch(searchSingle.customer)"
                :items="searchSingle.customer.items"
                return-object
                clearable
                item-text="codeAndName"
                :loading="searchSingle.customer.loading"
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Class </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                label="Select Class"
                ref="classCustomer"
                name="classCustomer"
                v-model="searchSingle.classCustomer.searchValue"
                :search-input.sync="searchSingle.classCustomer.input"
                @keyup="autocompSearch(searchSingle.classCustomer)"
                :items="searchSingle.classCustomer.items"
                return-object
                clearable
                item-text="codeAndName"
                :loading="searchSingle.classCustomer.loading"
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Underwriter </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                label="Search Undewriter"
                ref="underwriter"
                name="underwriter"
                v-model="searchSingle.underwriter.searchValue"
                :search-input.sync="searchSingle.underwriter.input"
                @keyup="autocompSearch(searchSingle.underwriter)"
                :items="searchSingle.underwriter.items"
                return-object
                clearable
                item-text="codeAndName"
                :loading="searchSingle.underwriter.loading"
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Filter By </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-select
                :items="searchSingle.filter.items"
                solo
                flat
                dense
                outlined
                clearable
                class="ma-0"
                hide-details="auto"
                v-model="searchSingle.filter.value"
                item-value="value"
                item-text="name"
                label="Select Filter"
                ref="filter"
                name="filter"
              ></v-select>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-text-field
                :disabled="searchSingle.filter.value == ''"
                flat
                outlined
                dense
                solo
                v-model="searchSingle.filter.searchValue"
                label=""
                hide-details="auto"
                ref="filter"
                name="filter"
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-btn
              color="primary"
              dark
              outlined
              class="pa-4 ml-2"
              width="120px"
              height="40px"
              @click="hamdleClikSingle"
              ><v-icon left> mdi-magnify </v-icon>search</v-btn
            >
          </v-row>
        </v-form>
        <v-data-table
          :headers="headersSingle"
          :items="singleItems"
          class="elevation-1 compact-row"
          :options.sync="optionsSingle"
          :server-items-length="totalSingleItems"
          :loading="loadingSingle"
          dense
          :footer-props="{ 'items-per-page-options': [5, 10] }"
          @click:row="handleClickSingle"
          fixed-header
          hide-default-footer
          height="230"
        >
          <template v-slot:item="{ item }">
            <tr
              :class="selectedRows.indexOf(item) > -1 ? 'blue accent-1' : ''"
              @click="handleClickSingle(item)"
            >
              <td v-for="header in headersSingle" :key="header.text">
                <div
                  align="center"
                  justify="center"
                  v-if="['actions'].indexOf(header.value) != -1"
                >
                  <v-menu bottom left :offset-x="true">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon class="mr-2" v-bind="attrs" v-on="on"
                        >mdi-dots-vertical</v-icon
                      >
                    </template>
                    <v-list>
                      <v-list-item @click="viewSingle(item)" v-if="tab === 0">
                        <v-list-item-title>View</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
                <div
                  align="center"
                  justify="center"
                  v-else-if="header.value == 'expiryDate'"
                >
                  {{ getExpiryDate(item) }}
                </div>
                <div align="center" justify="center" v-else>
                  {{ item[header.value] }}
                </div>
              </td>
            </tr>
          </template>
          <template v-slot:[`body.append`]>
            <tr>
              <v-card v-intersect="infiniteScrolling"></v-card>
            </tr>
          </template>
          <template v-slot:no-data></template>
        </v-data-table>
        <br />
        <v-expand-transition>
          <v-card v-show="detailSingle">
            <v-toolbar
              dense
              style="height: auto"
              dark
              color="primary"
              flat
              class="compact-toolbar"
            >
              <v-toolbar-title>Policy Info</v-toolbar-title>
              <v-spacer> </v-spacer>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    text
                    @click="handleClickSingleClose"
                    style="height: auto"
                  >
                    <v-icon>mdi-window-close</v-icon>
                  </v-btn>
                </template>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>
            <v-row class="pa-1 px-5">
              <fieldset class="px-2" style="border-radius: 5px; width: 100%">
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Policy No</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.policyNo"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Invoice No</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.invoiceNo"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Class</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.riskCodeAndName"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Transaction No</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.idTransaction"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Active Date</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.activeDate"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Account Executive</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.accountExecutive"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Period of Cover</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.periodOfCover"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Notes</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.notes"
                      readonly
                      type="text"
                      rows="3"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Underwriter</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.underwriter"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Customer</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataDetailSingle.customer"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
              </fieldset>
            </v-row>
          </v-card>
        </v-expand-transition>
      </v-tab-item>

      <v-tab-item>
        <v-form class="mb-5 mt-5">
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Insured Type </span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-select
                :items="dataInsuredType"
                solo
                flat
                dense
                outlined
                class="ma-0"
                hide-details="auto"
                v-model="insuredType"
                @input="selectInsuredType"
                :loading="loadingInsuredType"
                :error="errorInsuredType"
                :rules="rulesInsuredType"
                return-object
                item-text="name"
                label="Select Insured Type"
                ref="insuredType"
                name="insuredType"
              ></v-select>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Filter By </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-select
                :items="dataFilterMulti"
                solo
                flat
                dense
                outlined
                class="ma-0"
                hide-details="auto"
                v-model="filterMulti"
                @input="selectFilterMulti"
                return-object
                item-text="name"
                label="Select Filter By ..."
                ref="filterMulti"
                name="filterMulti"
              ></v-select>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-text-field
                :disabled="filterMulti == ''"
                flat
                outlined
                dense
                solo
                v-model="filterMultiValue"
                label=""
                hide-details="auto"
                ref="filter"
                name="filter"
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-btn
              color="primary"
              dark
              outlined
              class="pa-4 ml-2"
              width="120px"
              height="40px"
              @click="hamdleClikMulti()"
              ><v-icon left> mdi-magnify </v-icon>search</v-btn
            >
          </v-row>
        </v-form>
        <v-data-table
          :headers="headersMulti"
          :items="multiItems"
          class="elevation-1 compact-row"
          :options.sync="optionsMulti"
          :server-items-length="totalMultiItems"
          :loading="loadingMulti"
          dense
          :footer-props="{ 'items-per-page-options': [5, 10] }"
          @click:row="handleClickMulti"
          fixed-header
          hide-default-footer
          height="230"
        >
          <template v-slot:item="{ item }">
            <tr
              :class="
                selectedRowsMulti.indexOf(item) > -1 ? 'blue accent-1' : ''
              "
              @click="handleClickMulti(item)"
            >
              <td v-for="header in headersMulti" :key="header.text">
                <div
                  align="center"
                  justify="center"
                  v-if="['actions'].indexOf(header.value) != -1"
                >
                  <v-menu bottom left :offset-x="true">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon class="mr-2" v-bind="attrs" v-on="on"
                        >mdi-dots-vertical</v-icon
                      >
                    </template>
                    <v-list>
                      <v-list-item @click="viewMulti(item)" v-if="tab === 1">
                        <v-list-item-title>View</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
                <div
                  align="center"
                  justify="center"
                  v-else-if="
                    ['premiTotal', 'premiRate', `sumInsured`].indexOf(
                      header.value
                    ) != -1
                  "
                  :class="item[header.value] < 0 ? 'error--text' : ''"
                >
                  {{ formatMoney(Number(item[header.value])) }}
                </div>
                <div v-else align="center" justify="center">
                  {{ item[header.value] }}
                </div>
              </td>
            </tr>
          </template>
          <template v-slot:[`body.append`]>
            <tr>
              <v-card v-intersect="infiniteScrollingMulti"></v-card>
            </tr>
          </template>
          <template v-slot:no-data></template>
        </v-data-table>
        <br />
        <v-expand-transition>
          <v-card v-show="detailMulti">
            <v-toolbar
              dense
              style="height: auto"
              dark
              color="primary"
              flat
              class="compact-toolbar"
            >
              <v-toolbar-title>Policy Info</v-toolbar-title>
              <v-spacer> </v-spacer>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    text
                    @click="handleClickMultiClose"
                    style="height: auto"
                  >
                    <v-icon>mdi-window-close</v-icon>
                  </v-btn>
                </template>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>
            <v-row class="pa-1 px-5">
              <fieldset class="px-2" style="border-radius: 5px; width: 100%">
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Policy No</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.policyNo"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Invoice No</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.invoiceNo"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Class</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.riskCodeAndName"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Transaction No</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.tranNo"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Active Date</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.activeDate"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Account Executive</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.accountExecutive"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Period of Cover</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.periodOfCover"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Notes</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.notes"
                      readonly
                      type="text"
                      rows="3"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3" class="py-1">
                    <span>Underwriter</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.underwriter"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <span>Customer</span>
                  </v-col>
                  <v-col cols="3" class="py-1">
                    <input
                      v-model="dataPoliceInfoMulti.customer"
                      readonly
                      type="text"
                      style="width: inherit; border: 1px solid gray"
                    />
                  </v-col>
                </v-row>
              </fieldset>
            </v-row>
          </v-card>
        </v-expand-transition>
        <br />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
// import detailSingle from "./create_claims_view_detail_single";
// import detailMulti from "./create_claims_view_detail_multi";
import API from "@/core/api/api.js";
import axios from "axios";
export default {
  components: {
    isttoolbar,
    // detailSingle,
    // detailMulti
  },

  data: () => ({
    selectedRows: [],
    selectedRowsMulti: [],
    errorInsuredType: false,
    statusSingle: false,
    statusMulti: false,
    dataInsuredType: [],
    dataFilterMulti: [],
    filterValue: "",
    insuredType: null,
    filterMulti: "",
    filterMultiValue: "",
    singleItems: [],
    totalSingleItems: 0,
    loadingSingle: false,
    loadingInsuredType: false,
    detailSingle: false,
    dataDetailSingle: {},
    headersSingle: [
      {
        text: "Transaction No",
        align: "center",
        value: "idTransaction",
        sortable: false,
      },
      {
        text: "Policy No",
        align: "center",
        value: "policyNo",
        sortable: false,
      },
      {
        text: "Invoice No",
        align: "center",
        value: "invoiceNo",
        sortable: false,
      },
      {
        text: "Class",
        align: "center",
        value: "riskCode",
        sortable: false,
      },
      {
        text: "Active Date",
        align: "center",
        value: "activeDate",
        sortable: false,
      },
      {
        text: "Expiry Date",
        align: "center",
        value: "expiryDate",
        sortable: false,
      },
      // {
      //   text: "Group Client",
      //   align: "center",
      //   value: "groupClient",
      //   sortable: false,
      // },
      {
        text: "Customer",
        align: "center",
        value: "customer",
        sortable: false,
      },
      {
        text: "Underwriter",
        align: "center",
        value: "underwriter",
        sortable: false,
      },
      {
        text: "Actions",
        align: "center",
        sortable: false,
        value: "actions",
      },
    ],
    headersMulti: [
      // {
      //   text: "Merk/Type",
      //   align: "center",
      //   value: "objectName",
      //   sortable: false,
      // },
      // {
      //   text: "License No",
      //   align: "center",
      //   value: "engineNo",
      //   sortable: false,
      // },
      // {
      //   text: "Chasis No",
      //   align: "center",
      //   value: "chassisNo",
      //   sortable: false,
      // },
      // {
      //   text: "Actions",
      //   align: "center",
      //   sortable: false,
      //   value: "actions",
      // },
    ],
    multiItems: [],
    totalMultiItems: 0,
    loadingMulti: false,
    detailMulti: false,
    dataDetailMulti: {},
    dataPoliceInfoMulti: {},
    tab: 0,
    itemsTabs: [{ tab: "Single Insured" }, { tab: "Multi Insured" }],
    searchSingle: {
      customer: {
        value: "idAccount",
        searchValue: "",
        searchParam: "equals",
        name: "customer",
        input: "",
        items: [],
        url: "/clients/api/account/client/?codeOrName.contains=",
        loading: false,
      },
      classCustomer: {
        value: "riskCode",
        searchValue: "",
        searchParam: "equals",
        name: "classCustomer",
        input: "",
        items: [],
        url: "/config/api/master-risk/?codeOrName.contains=",
        loading: false,
      },
      underwriter: {
        value: "idUnderwriter",
        searchValue: "",
        searchParam: "equals",
        name: "underwriter",
        input: "",
        items: [],
        url: "/clients/api/account/insurance/?codeOrName.contains=",
        loading: false,
      },
      filter: {
        value: "",
        searchValue: "",
        searchParam: "equals",
        name: "filter",
        input: "",
        items: [
          { name: "Transaction No", value: "idTransaction" },
          { name: "Policy No", value: "policyNo" },
          { name: "Invoice No", value: "invoiceNo" },
          { name: "Insured", value: "insured" },
        ],
        url: "",
        loading: false,
      },
    },
    rulesInsuredType: [],
    rules: {
      required: (value) => !!value || "Required.",
    },
    statusInfiniteSingle: false,
    statusInfiniteMulti: false,
    optionsSingle: { itemsPerPage: 10 },
    optionsMulti: { itemsPerPage: 10 },
    request: null,
  }),
  mounted() {
    if (
      this.$route.params.from == "policy" &&
      localStorage.getItem("create-claims-single-insured-detail")
    ) {
      let screenData = JSON.parse(
        localStorage.getItem("create-claims-single-insured-detail")
      );
      this.singleItems = screenData.singleItems;
      this.optionsSingle = screenData.optionsSingle;
      this.totalSingleItems = screenData.totalSingleItems;
      this.searchSingle = screenData.searchSingle;
      this.statusSingle = screenData.statusSingle;
    } else {
      this.getListClass();
      this.getListCustomer();
      this.getListUnderwriter();
    }
    if (
      this.$route.params.from == "policy" &&
      localStorage.getItem("create-claims-multi-insured-detail")
    ) {
      let screenData = JSON.parse(
        localStorage.getItem("create-claims-multi-insured-detail")
      );
      this.headersMulti = screenData.headersMulti;
      this.multiItems = screenData.multiItems;
      this.optionsMulti = screenData.optionsMulti;
      this.totalMultiItems = screenData.totalMultiItems;
      this.dataInsuredType = screenData.dataInsuredType;
      this.insuredType = screenData.insuredType;
      this.dataFilterMulti = screenData.dataFilterMulti;
      this.filterMulti = screenData.filterMulti;
      this.filterMultiValue = screenData.filterMultiValue;
      this.statusMulti = screenData.statusMulti;
    } else {
      this.getInsuredType();
    }
    if (this.$route.params.tabs) {
      this.tab = parseInt(this.$route.params.tabs);
    }
    localStorage.removeItem("create-claims-single-insured-detail");
    localStorage.removeItem("create-claims-multi-insured-detail");
  },
  computed: {
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  watch: {
    optionsSingle: {
      handler() {
        // this.refreshSingle();
      },
      deep: true,
    },
    optionsMulti: {
      handler() {
        // this.refreshMulti();
      },
      deep: true,
    },
  },
  methods: {
    infiniteScrolling() {
      if (!this.loadingSingle && !this.statusInfiniteSingle) {
        this.optionsSingle.page = this.optionsSingle.page + 1;
        this.refreshSingle();
      }
    },
    infiniteScrollingMulti() {
      if (!this.loadingMulti && !this.statusInfiniteMulti) {
        this.optionsMulti.page = this.optionsMulti.page + 1;
        this.refreshMulti();
      }
    },
    hamdleClikSingle() {
      this.statusSingle = true;
      this.statusInfiniteSingle = false;
      this.optionsSingle.page = 1;
      this.refreshSingle();
    },
    refreshSingle() {
      if (this.statusSingle) {
        this.detailSingle = false;
        let vm = this;
        this.getListTableSingle().then((data) => {
          if (this.optionsSingle.page > 1) {
            if (data.items.length > 0) {
              data.items.forEach((item) => {
                let existItem = vm.singleItems.filter(
                  (val) =>
                    val.idTransaction === item.idTransaction &&
                    val.invoiceNo === item.invoiceNo
                );
                if (existItem.length < 1) {
                  vm.singleItems.push(item);
                }
              });
            }
          } else {
            this.singleItems = data.items;
          }
          this.totalSingleItems = data.total;
        });
      }
    },
    hamdleClikMulti() {
      if (this.insuredType) {
        this.statusInfiniteMulti = false;
        this.statusMulti = true;
        this.statusInfiniteMulti = false;
        this.optionsMulti.page = 1;
        this.refreshMulti();
      } else {
        this.errorInsuredType = true;
        this.rulesInsuredType = [this.rules.required];
      }
    },
    refreshMulti() {
      if (this.statusMulti) {
        this.detailMulti = false;
        let vm = this;
        this.getListTableMulti(this.insuredType).then((data) => {
          if (this.optionsMulti.page > 1) {
            if (data.items.length > 0) {
              data.items.forEach((item) => {
                let existItem = vm.multiItems.filter(
                  (val) => val.id === item.id
                );
                if (existItem.length < 1) {
                  vm.multiItems.push(item);
                }
              });
            }
          } else {
            this.multiItems = data.items;
          }
          this.totalMultiItems = data.total;
        });
      }
    },
    selectInsuredType(value) {
      this.insuredType = value.name;
      this.dataFilterMulti = value.filterBy;
      this.filterMulti = "";
      this.filterMultiValue = "";
      this.errorInsuredType = false;
      this.rulesInsuredType = [];
    },
    selectFilterMulti(value) {
      this.filterMulti = value;
      this.filterMultiValue = "";
    },
    async handleClickSingle(item) {
      this.selectedRows = [];
      this.selectedRows.push(item);

      let resp = await API.get("/config/api/master-risk/");
      if (resp.data.code == 0 && resp.data.data.length > 0) {
        let filtered = resp.data.data.filter(
          (value) => value.riskCode == item.riskCode
        );
        if (filtered.length > 0) {
          item.riskCodeAndName = filtered[0].codeAndName;
        }
      }
      this.dataDetailSingle = item;

      this.detailSingle = true;
    },
    handleClickSingleClose() {
      this.selectedRows = [];
      this.detailSingle = false;
    },
    async handleClickMulti(item) {
      this.selectedRowsMulti = [];
      this.selectedRowsMulti.push(item);

      let resp = await API.get("/config/api/master-risk/");
      if (resp.data.code == 0 && resp.data.data.length > 0) {
        let filtered = resp.data.data.filter(
          (value) => value.riskCode == item.policyInfo.riskCode
        );
        if (filtered.length > 0) {
          item.policyInfo.riskCodeAndName = filtered[0].codeAndName;
        }
      }
      this.dataPoliceInfoMulti = item.policyInfo;

      this.detailMulti = true;
    },
    handleClickMultiClose() {
      this.selectedRowsMulti = [];
      this.detailMulti = false;
    },
    async getListCustomer() {
      this.searchSingle.customer.loading = true;
      let resp = await API.get("/clients/api/account/client?page=0&size=10");
      if (resp.data.code === 0) {
        this.searchSingle.customer.loading = false;
        const data = resp.data.data;
        this.searchSingle.customer.items = data;
      }
    },
    async getListClass() {
      this.searchSingle.classCustomer.loading = true;
      let resp = await API.get("/config/api/master-risk/?page=0&size=10");
      if (resp.data.code === 0) {
        this.searchSingle.classCustomer.loading = false;
        const data = resp.data.data;
        this.searchSingle.classCustomer.items = data;
      }
    },
    async getListUnderwriter() {
      this.searchSingle.underwriter.loading = true;
      let resp = await API.get("clients/api/account/insurance?page=0&size=10");
      if (resp.data.code === 0) {
        this.searchSingle.underwriter.loading = false;
        const data = resp.data.data;
        this.searchSingle.underwriter.items = data;
      }
    },
    async getInsuredType() {
      this.loadingInsuredType = true;
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=CLAIM_MODULE&code.equals=CLAIM_QUERY_FILTER"
      );
      // let resp = await API.get("/config/api/master-parameter/96");
      if (resp.data.code === 0) {
        this.loadingInsuredType = false;
        const data = resp.data.data[0];
        let newData = JSON.parse(data.value);
        newData = newData.filter((value) => value.insuredType != "money");
        this.dataInsuredType = newData;
      }
    },
    viewSingle(item) {
      let screenData = {
        singleItems: this.singleItems,
        optionsSingle: this.optionsSingle,
        totalSingleItems: this.totalSingleItems,
        searchSingle: this.searchSingle,
        statusSingle: this.statusSingle,
      };
      localStorage.setItem(
        "create-claims-single-insured-detail",
        JSON.stringify(screenData)
      );

      localStorage.setItem("single", JSON.stringify(item));
      this.$router.push({
        name: "single-insured-list",
        query: { id: item.idTransaction, invoiceNo: item.invoiceNo },
      });
    },
    viewMulti(item) {
      let screenData = {
        headersMulti: this.headersMulti,
        multiItems: this.multiItems,
        optionsMulti: this.optionsMulti,
        totalMultiItems: this.totalMultiItems,
        dataInsuredType: this.dataInsuredType,
        insuredType: this.insuredType,
        dataFilterMulti: this.dataFilterMulti,
        filterMulti: this.filterMulti,
        filterMultiValue: this.filterMultiValue,
        statusMulti: this.statusMulti,
      };
      localStorage.setItem(
        "create-claims-multi-insured-detail",
        JSON.stringify(screenData)
      );

      let obj = {
        ...item,
        invoiceNo: item.policyInfo.invoiceNo,
        insuredType: this.insuredType,
      };
      localStorage.setItem("multi", JSON.stringify(obj));
      this.$router.push({
        name: "multi-insured-list",
        query: {
          id: item.id,
          invoiceNo: item.policyInfo.invoiceNo,
          insuredType: this.insuredType,
        },
      });
    },
    getListTableSingle() {
      this.loadingSingle = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.optionsSingle;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        var findHeaderValueNotEmpty = [];
        Object.keys(this.searchSingle).forEach((key) => {
          if (
            String(this.searchSingle[key].searchValue).length > 0 &&
            this.searchSingle[key].searchValue !== undefined
          ) {
            findHeaderValueNotEmpty.push(this.searchSingle[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              var newValue = "";
              if (value.name === "customer") newValue = value.searchValue.id;
              if (value.name === "classCustomer")
                newValue = value.searchValue.riskCode;
              if (value.name === "underwriter") newValue = value.searchValue.id;
              if (value.name === "filter") newValue = value.searchValue;
              return {
                [value.value + "." + value.searchParam]: newValue,
              };
            })
          );
        }
        API.get("/claims/api/claims/single_insured/view-list", param).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.loadingSingle = false;
              if (resp.data.data.length === 0) {
                this.statusInfiniteSingle = true;
              }
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.data,
              });
            }
          }
        );
      });
    },
    getListTableMulti(insuredType) {
      this.loadingMulti = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.optionsMulti;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        let urlAPI = "";
        let filter = "";
        if (insuredType === "Vehicle") {
          urlAPI =
            "/broking/api/broking/invoice/v2/list-multi-insured?insuredType=vehicle&page=" +
            param.page +
            "&size=" +
            param.size;
        } else if (insuredType === "HeavyEquipment") {
          urlAPI =
            "/broking/api/broking/invoice/v2/list-multi-insured?insuredType=heavyEquipment&page=" +
            param.page +
            "&size=" +
            param.size;
        } else if (insuredType === "Property") {
          urlAPI =
            "/broking/api/broking/invoice/v2/list-multi-insured?insuredType=Property&page=" +
            param.page +
            "&size=" +
            param.size;
        }
        if (this.filterMultiValue.length > 0) {
          filter =
            "&" +
            this.filterMulti.value +
            ".contains=" +
            encodeURI(this.filterMultiValue);
        }
        if (filter !== "") urlAPI = urlAPI + filter;
        if (urlAPI !== "") {
          API.get(urlAPI).then((resp) => {
            if (resp.data.code == 0) {
              this.loadingMulti = false;
              const data = resp.data;
              let header = [];
              for (var item of data.headerProperty) {
                let newItem = {
                  text: item.value,
                  align: "center",
                  sortable: false,
                  add: "",
                  value: item.key,
                };
                header.push(newItem);
              }
              header.push({
                text: "Actions",
                align: "center",
                sortable: false,
                value: "actions",
              });
              this.headersMulti = header;
              let array = [];
              data.data.forEach((element) => {
                array.push({
                  ...element,
                  metas: JSON.parse(element.metas),
                });
              });
              let dataMulti = array.map(function (currentValue, Index) {
                currentValue.seqNo = Index + 1;
                return currentValue;
              });
              if (resp.data.data.length === 0) {
                this.statusInfiniteMulti = true;
              }
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: dataMulti,
              });
            }
          });
        } else {
          this.loadingMulti = false;
        }
      });
    },
    getExpiryDate(item) {
      let splitted = item.periodOfCover.split(" ");
      let expiryDate = "";
      if (splitted[2] != "" && splitted[2] != null) {
        expiryDate = splitted[2];
      }
      return expiryDate;
    },
  },
};
</script>

<style scoped>
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.contentFix {
  padding-top: 100px;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  height: 20px;
}
/* ::v-deep .compact-field { */
/* transform: scale(0.8);
  transform-origin: left center 0px; */
/* } */
::v-deep .compact-toolbar {
  height: auto;
}
::v-deep .compact-toolbar .v-toolbar__content {
  height: auto !important;
}
::v-deep .v-chip-group .v-slide-group__content {
  padding: inherit;
}
</style>