<template>
  <v-card flat>
    <v-tabs v-model="tab" background-color="primary" dark>
        <!-- <v-tab>Items Info</v-tab> -->
        <v-tab>Policy Info</v-tab>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              @click="close"
              class="btn-close"
              text
            >
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
        <span>Close</span>
      </v-tooltip>
    </v-tabs>

    <v-tabs-items v-model="tab">
        <!-- <v-tab-item>
          <v-form>
            <v-row class="ml-2 mr-2">
              <v-col cols="6">
                <v-row align="center">
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Engine No
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Engine No"
                      ref="engineNo"
                      name="engineNo"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Owner
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Owner"
                      ref="owner"
                      name="owner"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Insured
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Insured"
                      ref="insured"
                      name="insured"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Year Made
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Year Made"
                      ref="periodOfCoverFrom"
                      name="periodOfCoverFrom"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      End
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="End"
                      ref="yearMade"
                      name="yearMade"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Coverage
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-textarea
                      hide-details="auto"
                      label="Coverage"
                      ref="coverage"
                      name="coverage"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                      :rows="3"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6">
                <v-row align="center">
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      MD Sum Insured
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="MD Sum Insured"
                      ref="mdSumInsured"
                      name="mdSumInsured"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      MD Rate
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="MD Rate"
                      ref="mdRate"
                      name="mdRate"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      MD Ann. Resmi
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="MD Ann. Resmi"
                      ref="mdAnnResmi"
                      name="mdAnnResmi"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Total Premium
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Total Premium"
                      ref="totalPremium"
                      name="totalPremium"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Effective Date
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Effective Date"
                      ref="effectiveDate"
                      name="effectiveDate"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Period To
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Period To"
                      ref="periodTo"
                      name="periodTo"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Certificate No
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      label="Certificate No"
                      ref="certificateNo"
                      name="certificateNo"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
        </v-tab-item> -->
        <v-tab-item>
          <v-form>
            <v-row class="ml-2 mr-2">
              <v-col cols="6">
                <v-row align="center">
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Policy No
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="policyNo"
                      name="policyNo"
                      class="ma-0"
                      :value="policeInfo.policyNo"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Class
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="classValue"
                      name="classValue"
                      class="ma-0"
                      :value="policeInfo.riskCode"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Active Date
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="activeDate"
                      name="activeDate"
                      class="ma-0"
                      :value="policeInfo.activeDate"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Period of Cover
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="periodOfCoverFrom"
                      name="periodOfCoverFrom"
                      class="ma-0"
                      :value="policeInfo.periodOfCover"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Underwriter
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="underwriter"
                      name="underwriter"
                      class="ma-0"
                      :value="policeInfo.underwriter"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Customer
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      class="ma-0"
                      :value="policeInfo.customer"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6">
                <v-row align="center">
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Invoice No
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="transactionNo"
                      name="transactionNo"
                      :value="policeInfo.invoiceNo"
                      class="ma-0"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Transaction No
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="transactionNo"
                      name="transactionNo"
                      class="ma-0"
                      :value="policeInfo.tranNo"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Account Executive
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-text-field
                      hide-details="auto"
                      ref="accountExecutive"
                      name="accountExecutive"
                      class="ma-0"
                      :value="policeInfo.accountExecutive"
                      flat
                      outlined
                      dense
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="pa-1">
                    <span class="title">
                      Notes
                    </span>
                  </v-col>
                  <v-col cols="7" align-self="start" class="pa-1">
                    <v-textarea
                      hide-details="auto"
                      ref="notes"
                      name="notes"
                      class="ma-0"
                      :value="policeInfo.notes"
                      flat
                      outlined
                      dense
                      solo
                      :rows="3"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
        </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
export default {
  props: ['dataMulti', 'policeInfo'],
  data: () => ({
    tab: 0
  }),
  methods: {
    close() {
      this.$emit('handleClose')
    }
  }

}
</script>

<style scoped>
  .btn-close {
    margin-top: 4px;
    position: absolute;
    left: 93%;
    top: 0;
  }
</style>