<template>
  <v-card flat>
    <isttoolbar title="Village" dark color="secondary" icon="mdi-cog-outline">
        <v-spacer></v-spacer>
          <v-btn icon @click="editItem"  >
             <v-icon>mdi-pencil mdi-36px</v-icon>
        <!-- <v-img src="@/assets/images/edits.png" aspect-ratio="1.5" contain></v-img> -->
      </v-btn>
      <v-btn icon @click="back"  >
         <v-icon>mdi-window-close mdi-36px</v-icon>
        <!-- <v-img src="@/assets/images/back.png" aspect-ratio="2" contain></v-img> -->
      </v-btn>
    </isttoolbar>
    <isttoolbar title="View Village" dark class="mb-4" color="primary"></isttoolbar>
    <v-form disabled="disabled">
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Village Code</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <p class="title">{{data.code}}</p>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Village Name</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <p class="title">{{data.villageName}}</p>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">District Name</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <p class="title">{{data.districtName}}</p>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Regency Name</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <p class="title">{{data.regencyName}}</p>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Province Name</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <p class="title">{{data.provinceName}}</p>
          </v-col>
        </v-row>
      </v-col>
      <!-- <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Province Code</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <p class="title">{{data.provinceCode}}</p>
          </v-col>
        </v-row>
      </v-col> -->

      <!-- <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Record Status</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
             <v-switch
          class="center"
            ref="status"
            name="status"
            color="success"
            v-model="data.status"
            inset
            :label="`${data.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
          </v-col>
        </v-row>
      </v-col>
       -->
      
      
     
     
      
      
    </v-form>
    <!-- <v-card-actions>
      <v-btn
        color="primary"
        dark
        rounded
        @click="editItem"
        class="pa-4"
        width="100px"
        height="40px"
      >Edit</v-btn>
    </v-card-actions> -->
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  created() {
    if (this.$route.query.id) {
      this.data.id = this.$route.query.id;

      API.get("config/api/master-location/village/" + this.data.id).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.data.villageName = dataResp.name;
          this.data.districtName = dataResp.district.name;
          this.data.provinceName = dataResp.district.regency.province.name;
          this.data.regencyName = dataResp.district.regency.name;
          this.data.status =  dataResp.isActive === 1 ? true : false;
          this.data.deleted = dataResp.isDeleted;
          this.data.provinceCode = dataResp.district.regency.province.provinceCode;
          this.data.code = dataResp.villageCode;
        }
      );
    }
  },
  data: () => ({
    data: {
      code: "",
      districtName: "",
      regencyName: "",
      provinceName: "",
      villageName: "",
      provinceCode: "",
      status: "",
      created_by: "",
      id: "",
      created_date: "",
      deleted: "",
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  computed: {
    form() {
      return {
        villageName: this.data.villageName,
        provinceName: this.data.provinceName,
        code: this.data.code,
        regencyName: this.data.regencyName,
        districtName: this.data.districtName,
        provinceCode: this.data.provinceCode,
        status: this.data.status,
        created_by: this.data.created_by,

        deleted: this.data.deleted,
      };
    },
  },

  methods: {
    editItem() {
      this.$router.push({
        name: "area-village-edit",
        query: { id: this.data.id },
      });
    },
    back() {
      this.$router.replace({ name: "area-village-list", query: {back: true}, });
    },
  },
};
</script>