<template>
  <v-card flat>
    <isttoolbar  dark color="secondary" icon="mdi-cog-outline">
       <h5 style="font-size:1.5em" class="font-weight-regular">Village</h5>
      <v-spacer></v-spacer>
       <v-btn outlined color="white" @click="save"  class="mx-3"   width="100px" dark>
       Save
      </v-btn>
       <v-btn outlined color="white" @click="back" class="mx-0"   width="100px" dark>
       Cancel
      </v-btn>
      <!-- <v-btn icon @click="save" class="mx-0" >
        <v-icon>mdi-content-save-outline mdi-36px</v-icon>
       
      </v-btn>
      <v-btn icon @click="back" class="mx-0">
        <v-icon>mdi-cancel mdi-36px</v-icon>
       
      </v-btn> -->
    </isttoolbar>
    <isttoolbar dark color="primary" class="mb-2"><h5 style="font-size:1.3em" class="font-weight-regular pl-9">New Village</h5></isttoolbar>
    <v-form>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Province</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-autocomplete
              flat
              outlined
              dense
              solo
              @change="provinceChange"
              hide-details="auto"
              label="Province"
              ref="provinces"
              v-model="param.provinces"
              name="provinces"
              :items="itemProvince"
              item-value="id"
              item-text="name"
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Regency</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-autocomplete
              flat
              outlined
              dense
              solo
              @change="regencyChange"
              hide-details="auto"
              label="Regency"
              ref="regencys"
              v-model="param.regencys"
              name="regencys"
              :items="itemRegency"
              item-value="id"
              item-text="name"
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">District</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-autocomplete
              flat
              outlined
              dense
              solo
              hide-details="auto"
              label="District"
              ref="districts"
              v-model="param.districts"
              name="districts"
              :items="items"
              item-value="id"
              item-text="name"
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Postal Code</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-text-field
             @keydown="nameKeydown($event)"
             type="number"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              label="Postal Code"
              ref="postal"
              v-model="param.postal"
              name="postal"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Village Code</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              label="Village Code"
              ref="code"
              name="code"
              v-model="param.code"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8" class="ma-3 py-0 pl-5 pr-5">
        <v-row align="center" class="ma-0 pa-0">
          <v-col cols="3" class="ma-0 pa-0">
            <v-row>
              <p class="title">Village Name</p>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="8" align-self="start" class="ma-0 pa-0">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              label="Village Name"
              ref="name"
              name="name"
              v-model="param.name"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>

      <!-- <v-row align="center" class="ml-0">
        <v-col cols="2">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8">
          <v-switch
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>-->
    </v-form>
    <!-- <v-card-actions>
      <v-btn
        color="primary"
        dark
        rounded
        @click="save"
        class="pa-4"
        width="100px"
        height="40px"
      >Save</v-btn>
      <v-btn color="red" dark rounded @click="back" class="pa-4" width="100px" height="40px">Cancel</v-btn>
    </v-card-actions>-->
    <v-snackbar v-model="snackbar" :timeout="2000" :light="true">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="success" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
      </template>
    </v-snackbar>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          
          <v-card-title>
            <v-progress-linear indeterminate color="primary"></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
           
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break:inherit;"
          >Your Data has been Saved</v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break:inherit;"
          >Your Data Failed to Save</v-card-title>
           <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined  @click="dialog.success ? back() : (dialog.show = false)">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    param: {
      // recordStatus: false,
      code: "",
      name: "",
      provinces: "",
      regencys: "",
      districts: "",
      postal: "",
    },
    overlay: false,
    dialog: { show: false, success: false, error: false,errorMessage: "" },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    items: [],
    itemRegency: [],
    itemProvince: [],
  }),
  computed: {
    form() {
      return {
        // recordStatus: this.param.recordStatus,
        code: this.param.code,
        name: this.param.name,
        provinces: this.param.provinces,
        regencys: this.param.regencys,
        districts: this.param.districts,
        postal: this.param.postal,
      };
    },
  },
  created() {
    this.getList();
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    nameKeydown(e) {
      if (/^\W$/.test(e.key)) {
        e.preventDefault();
      }
    },
    provinceChange() {
      API.get(
        "config/api/master-location/regency?provinceId.equals=" +
          this.param.provinces
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let province = resp.data.data;
          for (i = 0; i < province.length; i++) {
            text.push(province[i]);
          }
          this.itemRegency = text;
          console.log(this.itemRegency);
        }
      });
    },

    regencyChange() {
      console.log(this.param.regencys);
      API.get(
        "config/api/master-location/district?regencyId.equals=" +
          this.param.regencys
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let province = resp.data.data;
          for (i = 0; i < province.length; i++) {
            text.push(province[i]);
          }
          this.items = text;
          console.log(this.items);
        }
      });
    },

    getList() {
      API.get("config/api/master-location/provinces", null).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let province = resp.data.data;
          for (i = 0; i < province.length; i++) {
            text.push(province[i]);
          }
          this.itemProvince = text;
          console.log(this.items);
        }
      });
    },

    back() {
      this.$router.replace({ name: "area-village-list" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        village: {
          name: this.param.name,
          postalCode: this.param.postal,
          villageCode: this.param.code,
          district: {
            // districtCode :this.param.districts,
            // name: this.param.districts,
            id: this.param.districts,
            regency: {
              // name: this.param.regencys,
              id: this.param.regencys,
              province: {
                // name: this.param.provinces,
                id: this.param.provinces,
              },
            },
          },
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("config/api/master-location/village/add", param).then((resp) => {
        if (resp.data.code == 0) {
          // this.dialog.success = true;
          this.dialog = { show: false, success: false, error: false , errorMessage: ""};
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.back();
        } else {
        this.dialog.error = true;
        this.dialog.errorMessage =
          resp.data.errorMessage.length > 0
            ? resp.data.errorMessage.toUpperCase()
            : resp.data.errordescription.toUpperCase();
      }
      });
    },
  },
};
</script>>
{
