<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Period From</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodFromMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodFromMonth"
                  name="periodFromMonth"
                  :items="filter.periodFromMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodFromYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodFromYear"
                  name="periodFromYear"
                  :items="filter.periodFromYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="1" class="ma-0 pa-0">
                <span class="title">To</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodToMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodToMonth"
                  name="periodToMonth"
                  :items="filter.periodToMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodToYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodToYear"
                  name="periodToYear"
                  :items="filter.periodToYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <!-- 2 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Client</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Client Name..."
                  hide-details="auto"
                  v-model="param.client"
                  ref="client"
                  name="client"
                  @keyup="autocompSearch(filter.client)"
                  :search-input.sync="
                    filter.client.urlParam['codeOrName.contains']
                  "
                  :items="filter.client.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.client.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                  no-data-text="Type the Client Name."
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Segment</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.segment"
                  label="Select Segment..."
                  hide-details="auto"
                  ref="segment"
                  name="segment"
                  :items="filter.segment.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.segment.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <!-- 3 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.currency"
                  label="Select Currency..."
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.currency.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Sub Segment</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.subSegment"
                  label="Select Sub Segment..."
                  hide-details="auto"
                  ref="subSegment"
                  name="subSegment"
                  :items="filter.subSegment.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.subSegment.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <!-- 4 -->
        <v-row class="ma-1 pa-0">
          <v-col 
            cols="6" 
            class="ma-0 py-0 px-2"
            v-show="reportCode == 'RPT20'"
          >
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Business Category</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.businessCategory"
                  label="Select Business Category..."
                  hide-details="auto"
                  ref="businessCategory"
                  name="businessCategory"
                  :items="filter.businessCategory.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.businessCategory.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-divider></v-divider>

        <!-- 8 -->
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    param: {
      periodFromMonth: "",
      periodFromYear: "",
      periodToMonth: "",
      periodToYear: "",
      client: "",
      currency: "",
      segment: "",
      subSegment: "",
      businessCategory: "",
      output: "",
    },
    formHasErrors: false,
    // rules: {
    //   required: (value) => !!value || "Required.",
    // },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    filter: {
      periodFromMonth: {
        items: [],
      },
      periodFromYear: {
        items: [],
      },
      periodToMonth: {
        items: [],
      },
      periodToYear: {
        items: [],
      },
      client: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      subSegment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SUBSEGMENT",
        },
        loading: true,
      },
      businessCategory: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_CATEGORY",
        },
        loading: true,
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
    },
  }),
  created() {
    this.filter.periodFromMonth.items = this.filter.periodToMonth.items = this.getMonthList();
    this.filter.periodFromYear.items = this.filter.periodToYear.items = this.getLastTenYears();
    this.initList([
      "client",
      "currency",
      "segment",
      "subSegment",
      "businessCategory",
    ]);
    this.clearParam();
  },
  computed: {},
  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async generate() {
      // Object.keys(this.form).forEach((f) => {
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          periodStart: this.formatDate(
            "start",
            this.param.periodFromMonth,
            this.param.periodFromYear
          ),
          periodEnd: this.formatDate(
            "end",
            this.param.periodToMonth,
            this.param.periodToYear
          ),
          client: this.param.client,
          currency: this.param.currency,
          segment: this.param.segment,
          subSegment: this.param.subSegment,
        },
        group: "IT_REPORT",
      };

      if (this.reportCode == "RPT20") {
        paramJSON.filter.busCategory = this.param.businessCategory;
      }

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      console.debug(paramJSON, docUrl);
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
              this.clearParam();
            } else {
              this.previewFile(resp.data.data);
              this.clearParam();
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report IT - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },
    formatDate(mode, month, year) {
      let resp = "";
      if (month && year) {
        let day = "01";
        if (mode == "end") {
          let date = new Date([year, month, "01"].join("-"));
          let maxDate = new Date(date.getFullYear(), date.getMonth() + 1, 0);
          day = String(maxDate.getDate());
          day = day.length < 2 ? "0".concat(day) : day;
        }
        let monthResp = String(month).length < 2 ? "0".concat(month) : month;
        resp = [year, monthResp, day].join("-");
      }
      return resp;
    },
    clearParam() {
      this.param = {};
      this.param.output = "";
    },
  },
};
</script>
