<template>
  <v-card flat>
    <br />
    <v-dialog v-model="dialog.exchangeRate" persistent max-width="400">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Edit Exchange Rate
        </v-card-title>
        <v-card-text>
          <v-row align="center">
            <v-col cols="4">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8">
              <v-text-field
                v-model="editRate"
                ref="editRate"
                name="editRate"
                label="Key in Exchange Rate"
                persistent-hint
                hide-details="auto"
                @input="editRateChanged = true"
                v-money="editRateChanged ? money : ''"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="mx-2"
            color="primary"
            min-width="100px"
            outlined
            @click="submitRate()"
          >
            <v-icon left> mdi-magnify </v-icon>
            Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.underwriter" persistent max-width="290">
      <v-card>
        <v-card-title class="justify-center" style="word-break: inherit;"
          >Please choose underwriter list and currency first</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialog.underwriter = false"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-data-table
      :headers="headers"
      :items="items"
      :loading="premiumLoading"
      fixed-header
      :options.sync="transOptions"
      hide-default-footer
      height="300"
      class="elevation-1"
    >
      <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="(item, idx) in items" :key="idx">
            <td v-for="(header, key) in headers" :key="key" :item="item">
              <!-- Data Currency -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'currency'"
              >
                {{ item[header.value] }}
              </div>
              <!-- Data Invoice No -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'accountNo'"
              >
                {{ item[header.value] }}
              </div>
              <!-- Data Term -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'refTerm'"
              >
                {{ item[header.value] }}
              </div>
              <!-- Data Type -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'accountType'"
              >
                {{ item[header.value] }}
              </div>
              <!-- Data Fund Due Date -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'dueDate' && !item.edit"
              >
                {{ item[header.value] }}
              </div>
              <div
                align="center"
                justify="center"
                v-if="header.value == 'dueDate' && item.edit"
              >
                <v-menu
                  v-model="statusFundDueDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{}">
                    <v-text-field
                      v-model="dataEdit.dueDate"
                      ref="entryFundDueDate"
                      name="entryFundDueDate"
                      label="Select Date"
                      persistent-hint
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="statusFundDueDate = !statusFundDueDate"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    :min="new Date().toISOString()"
                    v-model="dataEdit.dueDate"
                    no-title
                    @input="statusFundDueDate = false"
                  ></v-date-picker>
                </v-menu>
              </div>
              <!-- Data Reason -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'reason' && !item.edit"
              >
                {{ item[header.value] }}
              </div>
              <div
                align="center"
                justify="center"
                v-if="header.value == 'reason' && item.edit"
              >
                <v-text-field
                  v-model="dataEdit.reason"
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                ></v-text-field>
              </div>
              <!-- Data Request By -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'requestBy' && !item.edit"
              >
                {{ item[header.value] }}
              </div>
              <div
                align="center"
                justify="center"
                v-if="header.value == 'requestBy' && item.edit"
              >
                <v-autocomplete
                  hide-details="auto"
                  label="Select Request By..."
                  v-model="dataEdit.requestBy"
                  ref="requestBy"
                  name="requestBy"
                  :search-input.sync="search.requestBy.input"
                  @keyup="autocompSearchData(search.requestBy)"
                  :items="search.requestBy.items"
                  :loading="search.requestBy.loading"
                  return-object
                  item-text="fullname"
                  class="ma-0"
                  flat
                  outlined
                  dense
                  solo
                >
                </v-autocomplete>
              </div>
              <!-- Data Payable -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'amountPayable'"
                :class="
                  currencyFormat(item[header.value])[0] === '-' && 'spanColor'
                "
              >
                {{ currencyFormat(item[header.value]) }}
              </div>
              <!-- Data Premium Fund -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'amoutPaid' && !item.edit"
                :class="item.amoutPaid[0] === '-' && 'spanColor'"
              >
                {{ item[header.value] }}
              </div>
              <div
                align="center"
                justify="center"
                v-if="
                  header.value == 'amoutPaid' &&
                  item.edit &&
                  item['amountPayable'] !== 0
                "
              >
                <v-text-field
                  ref="amoutPaidPremium"
                  id="amoutPaidPremium"
                  v-model="dataEdit.amoutPaid"
                  hide-details="auto"
                  :class="
                    dataEdit.amoutPaid[0] === '-'
                      ? 'ma-0 my-text-style'
                      : 'ma-0'
                  "
                  flat
                  outlined
                  dense
                  solo
                  v-money="money"
                  @input="paidAmountChange(dataEdit)"
                  :rules="[amountLimit(dataEdit)]"
                  :error="statusPremium"
                ></v-text-field>
              </div>
              <div
                align="center"
                justify="center"
                v-if="
                  header.value == 'amoutPaid' &&
                  item.edit &&
                  item['amountPayable'] === 0
                "
                :class="item.amoutPaid[0] === '-' && 'spanColor'"
              >
                {{ item[header.value] }}
              </div>
              <!-- Data PPH23 Fund -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'amountPph23' && !item.edit"
                :class="item.amountPph23[0] === '-' && 'spanColor'"
              >
                {{ item[header.value] }}
              </div>
              <div
                align="center"
                justify="center"
                v-if="header.value == 'amountPph23' && item.edit"
              >
                <!-- &&
                  item['amountPayable'] !== 0 -->
                <v-text-field
                  ref="amountPph23Premium"
                  id="amountPph23Premium"
                  v-model="dataEdit.amountPph23"
                  hide-details="auto"
                  :class="
                    dataEdit.amountPph23[0] === '-'
                      ? 'ma-0 my-text-style'
                      : 'ma-0'
                  "
                  flat
                  outlined
                  dense
                  solo
                  v-money="money"
                  @input="paidAmountChange(dataEdit)"
                  :rules="[pphAmountLimit(dataEdit)]"
                  :error="statusPPH"
                ></v-text-field>
              </div>
              <!-- <div
                align="center"
                justify="center"
                v-if="
                  header.value == 'amountPph23' &&
                  item.edit &&
                  item['amountPayable'] === 0
                "
                :class="item.amountPph23[0] === '-' && 'spanColor'"
              >
                {{ item[header.value] }}
              </div> -->
              <!-- Data VAT Received -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'amountVat'"
                :class="item.amountVat[0] === '-' && 'spanColor'"
              >
                {{ item[header.value] }}
              </div>
              <!-- Data Exchange Rate -->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'exchgRate'"
                :class="item.exchgRate[0] === '-' && 'spanColor'"
              >
                <span v-if="item.currency == remittance.currency">
                  {{ item.exchgRate }}
                </span>
                <v-chip v-else link @click="openEditRateDialog(item)">
                  {{ currencyFormat(item.exchgRate, 2, "max") }}
                </v-chip>
              </div>
              <!-- Data Equivalent Amount-->
              <div
                align="center"
                justify="center"
                v-if="header.value == 'equivAmount'"
                :class="
                  currencyFormat(item[header.value])[0] === '-' && 'spanColor'
                "
              >
                {{ currencyFormat(item[header.value]) }}
              </div>
              <div
                align="center"
                justify="center"
                v-if="header.value == 'action'"
              >
                <v-btn
                  v-show="!item.edit"
                  outlined
                  icon
                  color="primary"
                  @click="clickPencil(item)"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                  v-show="!item.edit"
                  outlined
                  icon
                  color="primary"
                  class="ml-2"
                  @click="removeInvoice(item, 'items')"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
                <v-btn
                  v-show="item.edit"
                  outlined
                  icon
                  color="primary"
                  :disabled="statusPremium || statusPPH"
                  @click="clickCheckEdit(item)"
                >
                  <v-icon>mdi-check</v-icon>
                </v-btn>
                <v-btn
                  v-show="item.edit"
                  outlined
                  icon
                  color="primary"
                  class="ml-2"
                  @click="clickCloseEdit(item)"
                >
                  <v-icon>mdi-window-close</v-icon>
                </v-btn>
              </div>
            </td>
          </tr>
          <tr>
            <td v-for="header in headers" :key="header.text">
              <div
                align="center"
                justify="center"
                v-if="header.value == 'action'"
              >
                <v-btn
                  v-if="header.value == 'action'"
                  outlined
                  icon
                  color="primary"
                  @click="openInvoiceDialog"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
            </td>
          </tr>
          <tr>
            <td v-for="header in headers" :key="header.text">
              <div
                align="center"
                justify="center"
                v-if="header.value == 'exchgRate'"
              >
                <span class="title">Total</span>
              </div>
              <div
                align="center"
                justify="center"
                v-if="header.value == 'equivAmount'"
              >
                <span class="title">{{ getTotalEqAmount("equivAmount") }}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>

    <v-dialog v-model="invoiceDialog" persistent max-width="1000">
      <v-card>
        <v-card-title class="headline">
          Choose Invoice No
          <v-spacer></v-spacer>
          <v-btn text small @click="closeOrCancel">
            <v-icon right>mdi-close mdi-36px</v-icon>
          </v-btn>
        </v-card-title>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span>Invoice No</span>
          </v-col>
          <v-col cols="3" class="pa-1">
            <v-text-field
              v-model="param.searchInvoiceNo"
              single-line
              label="Invoice No."
              dense
              outlined
              hide-details="auto"
              background-color="white"
            >
            </v-text-field>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1" class="pa-1">
            <span>Billing Date</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="billingDateCreatedFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="billingDateCreatedFrom.searchValue"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="
                      billingDateCreatedFrom.menu = !billingDateCreatedFrom.menu
                    "
                    text
                    icon
                    style="height: auto; width: auto;"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="billingDateCreatedFrom.searchValue"
                no-title
                @input="billingDateCreatedFrom.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1" class="pa-1">
            <span>To</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="billingDateCreatedTo.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="billingDateCreatedTo.searchValue"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="
                      billingDateCreatedTo.menu = !billingDateCreatedTo.menu
                    "
                    text
                    icon
                    style="height: auto; width: auto;"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="billingDateCreatedTo.searchValue"
                no-title
                @input="billingDateCreatedTo.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span>Client</span>
          </v-col>
          <v-col cols="3" class="pa-1">
            <v-autocomplete
              hide-details="auto"
              label="Select Client"
              v-model="param.searchClientName"
              @keyup="autocompSearch(search.client)"
              :search-input.sync="search.client.toolbarSearchInput"
              :items="search.client.items"
              :loading="search.client.loading"
              item-value="code"
              item-text="codeAndName"
              class="ma-0"
              flat
              clearable
              outlined
              dense
              solo
            >
            </v-autocomplete>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1" class="pa-1">
            <span>Attachment Date</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="attachmentDateCreatedFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="attachmentDateCreatedFrom.searchValue"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="
                      attachmentDateCreatedFrom.menu = !attachmentDateCreatedFrom.menu
                    "
                    text
                    icon
                    style="height: auto; width: auto;"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="attachmentDateCreatedFrom.searchValue"
                no-title
                @input="attachmentDateCreatedFrom.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1" class="pa-1">
            <span>To</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="attachmentDateCreatedTo.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="attachmentDateCreatedTo.searchValue"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="
                      attachmentDateCreatedTo.menu = !attachmentDateCreatedTo.menu
                    "
                    text
                    icon
                    style="height: auto; width: auto;"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="attachmentDateCreatedTo.searchValue"
                no-title
                @input="attachmentDateCreatedTo.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span>Currency</span>
          </v-col>
          <v-col cols="3" class="pa-1">
            <v-autocomplete
              hide-details="auto"
              label="Select Currency"
              v-model="param.searchCurrency"
              ref="currency"
              name="currency"
              :items="search.currency.items"
              :loading="search.currency.loading"
              item-value="code"
              :item-text="currencyTextItem"
              class="ma-0"
              flat
              clearable
              outlined
              dense
              solo
            ></v-autocomplete>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1" class="pa-1">
            <span>Due Date</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="dueDateCreatedFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dueDateCreatedFrom.searchValue"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="dueDateCreatedFrom.menu = !dueDateCreatedFrom.menu"
                    text
                    icon
                    style="height: auto; width: auto;"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="dueDateCreatedFrom.searchValue"
                no-title
                @input="dueDateCreatedFrom.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1" class="pa-1">
            <span>To</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="dueDateCreatedTo.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dueDateCreatedTo.searchValue"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="dueDateCreatedTo.menu = !dueDateCreatedTo.menu"
                    text
                    icon
                    style="height: auto; width: auto;"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="dueDateCreatedTo.searchValue"
                no-title
                @input="dueDateCreatedTo.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-col class="text-right">
            <v-btn
              @click="getInvoiceList"
              outlined
              class="mx-1"
              min-width="100px"
              >Search</v-btn
            >
          </v-col>
        </v-row>
        <v-data-table
          :headers="invoiceHeaders"
          :items="toShowInvoiceItems"
          :loading="invoiceLoading"
          fixed-header
          class="elevation-1"
          hide-default-header
          :server-items-length="totalItems"
          :options.sync="options"
          :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
          height="400"
        >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th
                  v-for="header in headers"
                  :key="header.text"
                  class="xsmall-label"
                >
                  <v-text-field
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    :disabled="header.value != 'acctNo'"
                    v-on:keyup="onkeyupInvoiceSearch(header)"
                  >
                  </v-text-field>
                </th>
              </tr>
            </thead>
          </template>
          <template v-slot:[`item.amount`]="{ item }">
            <div>{{ currencyFormat(item.amount) }}</div>
          </template>
          <template v-slot:[`item.amoutPaid`]="{ item }">
            <div>{{ currencyFormat(item.amoutPaid) }}</div>
          </template>
          <template v-slot:[`item.balance`]="{ item }">
            <div>{{ currencyFormat(item.balance) }}</div>
          </template>
          <template v-slot:[`item.cstName`]="{ item }">
            <div>{{ item.cstCode + " - " + item.cstName }}</div>
          </template>
          <template v-slot:[`item.amountPayable`]="{ item }">
            <div>{{ currencyFormat(item.amountPayable) }}</div>
          </template>
          <template v-slot:[`item.action`]="{ item }">
            <v-btn
              depressed
              small
              text
              color="primary"
              :disabled="item.status == 1 || item.balance == item.amountPayable"
              @click="addInvoice(item)"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <span
              v-show="item.status == 1"
              class="error--text"
              style="display: block; text-align: center;"
              >In use
            </span>
          </template>
        </v-data-table>

        <br />
        <span class="title mx-5"> Invoice No. Added </span>
        <v-data-table
          :headers="invoiceHeaders"
          :items="toAddInvoiceItems"
          hide-default-footer
          class="elevation-1"
          fixed-header
          :options.sync="transOptions"
          height="300"
        >
          <template v-slot:[`item.amount`]="{ item }">
            <div>{{ currencyFormat(item.amount) }}</div>
          </template>
          <template v-slot:[`item.amoutPaid`]="{ item }">
            <div>{{ currencyFormat(item.amoutPaid) }}</div>
          </template>
          <template v-slot:[`item.balance`]="{ item }">
            <div>{{ currencyFormat(item.balance) }}</div>
          </template>
          <template v-slot:[`item.amountPayable`]="{ item }">
            <div>{{ currencyFormat(item.amountPayable) }}</div>
          </template>
          <template v-slot:[`item.action`]="{ item }">
            <v-btn
              depressed
              small
              text
              color="primary"
              @click="removeInvoice(item, 'toAddInvoiceItems')"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            @click="submitInvoice"
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editRateDialog" max-width="400" persistent>
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Edit Exchange Rate
          <v-spacer></v-spacer>
          <v-btn text small rounded @click="editRateDialog = false">
            <v-icon color="primary">mdi-close mdi-36px</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Pay Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateAmount"
                ref="editRateAmount"
                name="editRateAmount"
                label="Input Pay Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateAmountChanged = true;
                "
                v-money="editRateAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                readonly
                @keydown.esc="editRateDialog = false"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">PPH23 Paid</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRatePPH23"
                ref="editRateAmount"
                name="editRateAmount"
                label="Input PPH23 Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRatePPH23Changed = true;
                "
                v-money="editRatePPH23Changed ? money : ''"
                flat
                outlined
                dense
                solo
                readonly
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRate"
                ref="editRate"
                name="editRate"
                label="Key in Exchange Rate"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateChanged = true;
                  editRateInput();
                "
                v-money="editRateChanged ? rateMoney : ''"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Equiv. Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateEqAmount"
                ref="editRateEqAmount"
                name="editRateEqAmount"
                label="Input Equivalent Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateEqAmountChanged = true;
                  editRateEqAmountInput();
                "
                v-money="editRateEqAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                :readonly="editRateAmount == '0.00'"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="mx-2"
            color="primary"
            min-width="100px"
            outlined
            @click="submitRate()"
          >
            <v-icon left> mdi-magnify </v-icon>
            Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>

    <v-dialog
      v-model="dialogFund.show"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          {{ dialogFund.error }}
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogFund.show = false"
            >Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/premiumFunding/type";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import eventBus from "@/features/finance/remittance/eventBus";
import axios from "axios";

export default {
  components: {},
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    totalItems: 0,
    options: {
      itemsPerPage: 10,
      page: 1,
    },
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    dialogFund: { show: false, error: "" },
    statusFundDueDate: false,
    editRateChanged: false,
    isCurrencyDifferent: false,
    editRate: "",
    editRateItem: {},
    billingDateCreatedFrom: {
      value: "billingDate",
      // searchValue: new Date().toISOString().substr(0, 10),
      searchValue: "",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    billingDateCreatedTo: {
      value: "billingDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue: "",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
    attachmentDateCreatedFrom: {
      value: "attachmentDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue: "",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    attachmentDateCreatedTo: {
      value: "attachmentDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue: "",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
    dueDateCreatedFrom: {
      value: "dueDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue: "",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    dueDateCreatedTo: {
      value: "dueDate",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue: "",
      searchParam: "lessThanOrEqual",
      menu: false,
    },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    rateMoney: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      searchCurrency: "",
      searchClientName: "",
      searchInvoiceNo: "",
      receiptNo: "",
      amount: "",
      amountEq: "",
      bankReceived: {
        coaCode: null,
        coaName: null,
      },
      currency: "",
      customer: {
        customerCode: null,
        customerName: null,
        customerType: null,
      },
      exchangeRate: "",
      listInvoice: [],
      paymentMethod: "",
      reference: "",
      tranDate: new Date().toISOString().substr(0, 10).replaceAll("-", "/"),
    },
    search: {
      custType: {
        items: [
          { value: "CLIENT", text: "Client" },
          { value: "AGENT", text: "Agent" },
        ],
        loading: false,
      },
      client: {
        value: "customerId",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: false,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url: "/config/api/master-akuncoa/?coaType.equals=1&isActive.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
      cashReceipt: {
        items: [],
        url: "/finance/api/finance/cashreceipt/?clientName.equals=",
        loading: false,
        input: "",
      },
      requestBy: {
        name: "requestBy",
        input: "",
        items: [],
        url: "/user/api/user-management/user/?fullname.contains=",
        loading: false,
      },
    },
    headers: [
      {
        text: "Currency",
        align: "center",
        value: "currency",
        sortable: false,
      },
      {
        text: "Invoice No",
        value: "accountNo",
        sortable: false,
      },
      {
        text: "Term",
        align: "center",
        value: "refTerm",
        sortable: false,
      },
      {
        text: "Type",
        align: "center",
        value: "accountType",
        sortable: false,
      },
      {
        text: "Fund Due Date",
        align: "center",
        value: "dueDate",
        sortable: false,
        width: "180px",
      },
      {
        text: "Reason",
        align: "center",
        value: "reason",
        sortable: false,
        width: "180px",
      },
      {
        text: "Request By",
        align: "center",
        value: "requestBy",
        sortable: false,
        width: "180px",
      },
      {
        text: "Payable",
        align: "center",
        value: "amountPayable",
        sortable: false,
      },
      {
        text: "Premium Fund",
        align: "center",
        value: "amoutPaid",
        sortable: false,
        width: "180px",
      },
      {
        text: "PPH23 Fund",
        align: "center",
        value: "amountPph23",
        sortable: false,
        width: "180px",
      },
      {
        text: "VAT Received",
        align: "center",
        value: "amountVat",
        sortable: false,
      },
      {
        text: "Exchange Rate",
        align: "center",
        value: "exchgRate",
        sortable: false,
      },
      {
        text: "Equivalent Amount",
        align: "center",
        width: "180px",
        value: "equivAmount",
        sortable: false,
      },
      {
        text: "Action",
        width: "180px",
        align: "center",
        value: "action",
        sortable: false,
      },
    ],
    items: [],
    dataEdit: {
      requestBy: {
        fullname: "",
      },
    },
    premiumLoading: false,
    loading: false,
    searchSingle: {
      underwriter: {
        value: "underwriter",
        searchValue: "",
        searchParam: "equals",
        name: "underwriter",
        input: "",
        items: [],
        url: "/clients/api/account/insurance/?codeOrName.contains=",
        loading: false,
      },
      requestBy: {
        name: "requestBy",
        input: "",
        items: [],
        url: "/user/api/user-management/user/?fullname.contains=",
        loading: false,
      },
    },
    cashHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "acctNo",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "acctType",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        sortable: false,
        value: "billDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "oriAmount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    cashItems: [],
    cashLoading: false,
    invoiceHeaders: [
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Invoice No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
      },
      {
        text: " Term",
        sortable: false,
        value: "refTerm",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Age",
        sortable: false,
        value: "age",
        add: "",
        rules: [],
      },
      {
        text: "A/Exec Code",
        sortable: false,
        value: "cstExc",
        add: "",
        rules: [],
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "Payable",
        sortable: false,
        value: "amountPayable",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceItems: [],
    toShowInvoiceItems: [],
    invoiceLoading: false,
    toAddInvoiceItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      requiredAmount: (v) => parseFloat(v) > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
      underwriter: false,
      exchangeRate: false,
    },
    cashDialog: false,
    invoiceDialog: false,
    amountChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    excRateLoading: false,
    statusPremium: false,
    statusPPH: false,
    indexEdit: "",
    editRateDialog: false,
    editRateAmount: "",
    editRateAmountChanged: false,
    editRateEqAmount: "",
    editRateEqAmountChanged: false,
    editRatePPH23: "",
    editRatePPH23Changed: false,
  }),
  mounted() {
    this.getListUnderwriter();
  },

  computed: {
    ...mapState(["premiumFunding"]),
    ...mapState(["remittance"]),
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        amount: this.param.amount,
        amounEq: this.param.amount,
        bankCode: this.param.bankReceived.coaCode,
        bankName: this.param.bankReceived.coaName,
        currency: this.param.currency,
        customerCode: this.param.customer.code,
        customerType: this.param.customer.accountType,
        customerName: this.param.customer.name,
        exchangeRate: this.param.exchangeRate,
      };
    },
    autocompSearchData: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              if (search.name === "requestBy") {
                let array = [];
                let obj = {};
                resp.data.data.forEach((element) => {
                  array.push({
                    ...obj,
                    ...element.personalData,
                    ...element.loginData,
                  });
                });
                search.items = array;
              } else {
                search.items = resp.data.data;
              }
              console.debug(this.$refs);
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.getInvoiceList();
      },
      deep: true,
    },
    "remittance.listInvoiceRow": {
      handler: function (after) {
        let data = this.items;
        let newArray = data.map(function (row) {
          let find = after.filter((obj) => obj.id === row.id);
          row.amountVat = find.length > 0 ? "0.00" : row.amountVat;
          return row;
        });
        this.items = newArray;
        this.premiumFunding.listInvoiceRow = this.items;
        this.setDataList(this.items);
      },
      deep: true,
    },
  },

  async created() {
    if (
      this.$route.query.id &&
      this.$route.query.mode &&
      this.$route.query.mode == "p"
    ) {
      this.overlay = true;
    }

    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.user_name;

    await this.initList([
      "requestBy",
      // "status",
      "client",
      // "agent",
      "currency",
      // "transType",
      // "receivedType",
      // "bankSource",
      // "bankReceived",
      // "coa",
    ]);

    if (
      this.$route.query.id &&
      this.$route.query.mode &&
      this.$route.query.mode == "p"
    ) {
      await this.getItemData();
      this.isFromCashReceipt = true;
      // this.getInvoiceList();
    }
    var self = this;
    eventBus.$on("EMPTY_TABLE", function () {
      self.getTableEmpty();
    });
    eventBus.$on("CLEAR_TABLE", function (exchangeRate, currency) {
      self.getTableCleared(exchangeRate, currency);
    });
    eventBus.$on("UPDATE_TABLE_PREMIUM", function () {
      self.closeTableEdit();
    });
  },

  methods: {
    ...mapActions({
      setDataList: types.ACTION_DATA_LIST_PREMIUM,
    }),
    clickPencil(item) {
      this.premiumLoading = true;
      console.debug(item, "clickPencil");
      localStorage.setItem("premiumFundingEdit", JSON.stringify(item));
      let data = this.items;
      data.forEach((element) => {
        if (element === item) {
          element.edit = true;
        } else {
          element.edit = false;
        }
      });
      console.debug(this.items);
      this.items = data;
      this.premiumFunding.listInvoiceRow = this.items;
      this.setDataList(this.items);
      let obj = {
        ...item,
        requestBy: { fullname: item.requestBy },
      };
      this.dataEdit = obj;
      if (item.requestBy !== "") {
        this.search.requestBy.items = [{ fullname: item.requestBy }];
      }
      setTimeout(() => {
        if (this.$refs.amoutPaidPremium && item.amountPayable !== 0) {
          this.$refs.amoutPaidPremium[0].$el.getElementsByTagName(
            "input"
          )[0].value = item.amoutPaid;
        }
        if (this.$refs.amountPph23Premium && item.amountPayable !== 0) {
          this.$refs.amountPph23Premium[0].$el.getElementsByTagName(
            "input"
          )[0].value = item.amountPph23;
        }
        this.premiumLoading = false;
      }, 100);
      
      let index = "";
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i] == item) {
          index = i;
        }
      }
      this.indexEdit = String(index);
    },
    clickCloseEdit(item) {
      this.premiumLoading = true;
      console.debug(item, "clickCloseEdit");
      let obj = JSON.parse(localStorage.getItem("premiumFundingEdit"));
      let data = this.items;
      data.forEach((element) => {
        if (element === item) {
          element.amountPph23 = obj.amountPph23;
          element.amoutPaid = obj.amoutPaid;
          element.reason = obj.reason;
          element.dueDate = obj.dueDate;
          element.equivAmount = obj.equivAmount;
          element.requestBy = obj.requestBy;
          element.edit = false;
        }
      });
      this.statusPremium = false;
      this.statusPPH = false;
      localStorage.removeItem("premiumFundingEdit");
      this.items = data;
      this.premiumFunding.listInvoiceRow = this.items;
      this.setDataList(this.items);
      this.dataEdit = {};
      setTimeout(() => {
        this.premiumLoading = false;
      }, 100);
    },
    clickCheckEdit(item) {
      this.dialogFund.show = false;
      this.dialogFund.error = "";
      let remittance = this.remittance.listInvoiceRow;
      let found = remittance.find(
        (element) =>
          element.refTerm == item.refTerm && element.accountNo == item.accountNo
      );

      if (found !== undefined) {
        // let premiumFund = Math.abs(this.convertMoney(item.amoutPaid));
        // let pphFund = Math.abs(this.convertMoney(item.amountPph23));
        let premiumFund = this.convertMoney(item.amountPayable) !== 0 
          ? Math.abs(this.convertMoney(this.dataEdit.amoutPaid)) 
          : Math.abs(this.convertMoney(item.amoutPaid));
        let pphFund = Math.abs(this.convertMoney(this.dataEdit.amountPph23));
        let premiumRemit = Math.abs(this.convertMoney(found.amoutPaid));
        let pphRemit = Math.abs(this.convertMoney(found.amountPph23));
        let maxRemit = Math.abs(this.convertMoney(found.amountMaxPayable));
        let total = premiumFund + pphFund + premiumRemit + pphRemit;

        if (total > maxRemit) {
          this.dialogFund.show = true;
          this.dialogFund.error = `Pay Amount + Premium Fund can't greater than Net Amount`;
        } else {
          this.actionCheckEdit(item);
        }
      } else {
        this.actionCheckEdit(item);
      }
    },
    actionCheckEdit(item) {
      this.premiumLoading = true;
      console.debug(item, "clickCheckEdit");
      let data = this.items;
      data.forEach((element) => {
        if (element === item) {
          element.amountPph23 = this.dataEdit.amountPph23;
          element.amoutPaid = this.dataEdit.amoutPaid;
          element.reason = this.dataEdit.reason;
          element.dueDate = this.dataEdit.dueDate;
          element.requestBy = this.dataEdit.requestBy.fullname;
          element.edit = false;
        }
      });
      localStorage.removeItem("premiumFundingEdit");
      this.items = data;
      this.premiumFunding.listInvoiceRow = this.items;
      this.setDataList(this.items);
      this.dataEdit = {};
      this.statusPremium = false;
      this.statusPPH = false;
      setTimeout(() => {
        this.premiumLoading = false;
      }, 100);
    },
    closeTableEdit() {
      this.premiumLoading = true;
      let data = this.items;
      data.forEach((element) => {
        element.edit = false;
      });
      localStorage.removeItem("premiumFundingEdit");
      this.items = data;
      this.dataEdit = {};
      setTimeout(() => {
        this.premiumLoading = false;
      }, 100);
    },
    closeOrCancel() {
      this.invoiceDialog = false;
    },

    async getTableEmpty() {
      this.items = [];
    },

    async getTableCleared(exchangeRate, currency) {
      var self = this;
      for (let item of self.items) {
        if (item.currency == currency) {
          item.exchgRate = self.currencyFormat(1);
          self.items.exchgRate = 1;
          // self.paidAmountChange(self.items)
          self.paidAmountChange(item);
        } else {
          // item.exchgRate = await this.getExchangeRate(
          //   item.currency != "IDR" ? item.currency : currency
          // );
          // item.exchgRate = await this.getExchangeRate("IDR");
          if (item.currency !== "IDR") {
            // item.exchgRate =  self.currencyFormat(item.exchgRateDefault)
            item.exchgRate = await this.getExchangeRate(item.currency);
            self.items.exchgRate = item.exchgRate;
          } else {
            item.exchgRate = self.currencyFormat(exchangeRate);
            self.items.exchgRate = item.exchgRate;
          }
          // await self.paidAmountChange(self.items)
          await self.paidAmountChange(item);
        }
        // break
      }
      // while (self.items) {
      //   console.log("init: " + JSON.stringify(self.items))
      //   if (self.items.currency == currency) {
      //     self.items.exchgRate = 1;
      //     console.log("1: " + JSON.stringify(self.items))
      //     self.paidAmountChange(self.items)
      //   } else {
      //     self.items.exchgRate = await this.getExchangeRate(
      //       self.items.currency != "IDR" ? self.items.currency : currency
      //     );
      //     console.log("2: " + JSON.stringify(self.items))
      //     // item.exchgRate = await this.getExchangeRate("IDR");
      //     self.paidAmountChange(self.items)
      //   }
      // }

      // self.paidAmountChange(this.items)
    },
    invAmountLimit(item) {
      return () =>
        Math.abs(this.currencyToFloat(item.amoutPaid)) <=
          Math.abs(this.currencyToFloat(item.amountPayable)) -
            Math.abs(this.currencyToFloat(item.amountPph23)) ||
        "Cannot be greater than Original Amount";
    },
    amountLimit(item) {
      return () => {
        // let amountPaid = Math.abs(this.currencyToFloat(item.amoutPaid));
        // // let amountLimit = Math.abs(this.currencyToFloat(item.amountPayable)); //-
        // let amountLimit = Math.abs(this.currencyToFloat(item.amountMaxPayable)); //-
        // // Math.abs(this.currencyToFloat(item.amountPph23Payable));
        // if (amountPaid <= amountLimit.toFixed(2)) {
        //   this.statusPremium = false;
        //   // return false;
        // } else {
        //   this.statusPremium = true;
        //   return "Pay Amount can't greater than Balance";
        // }

        let find = this.remittance.listInvoiceRow.filter(
          (obj) => obj.term === item.term && obj.accountNo === item.accountNo
        );

        let amountPaid = 0
        let amountMaxPayable = Math.abs(this.currencyToFloat(item.amountMaxPayable));
        let balance = Math.abs(this.currencyToFloat(item.balance));

        if (find.length > 0) {
          amountPaid = Math.abs(this.currencyToFloat(item.amoutPaid)) + Math.abs(this.currencyToFloat(find.amoutPaid))
        } else {
          amountPaid = Math.abs(this.currencyToFloat(item.amoutPaid))
        }

        let amountPaidStatus = this.currencyToFloat(item.amoutPaid) < 0 ? "minus" : "plus";
        let amountPayableStatus = this.currencyToFloat(item.amountPayable) < 0 ? "minus" : "plus";

        if(amountPaidStatus == amountPayableStatus && amountPaid != 0) {
          this.statusPremium = true;
          return "Premium Funding is out of allowance";
        } else if (amountPaid <= balance) {
          this.statusPremium = false;
          // return false;
          if (amountPaid <= amountMaxPayable) {
            this.statusPremium = false;
            // return false;
          } else {
            this.statusPremium = true;
            return "Pay Amount can't greater than Max Payable";
          }
        } else {
          this.statusPremium = true;
          return "Pay Amount can't greater than Balance";
        }

      };
    },
    pphAmountLimit(item) {
      return () => {
        let amountPayable = Math.abs(this.currencyToFloat(item.amountPayable));
        let amountMaxPayable = Math.abs(
          this.currencyToFloat(item.amountMaxPayable)
        );
        let amountPaid = Math.abs(this.currencyToFloat(item.amoutPaid));
        let amountPph23 = Math.abs(this.currencyToFloat(item.amountPph23));
        let totalAmountPPH = amountPaid + amountPph23
        let pphAmountLimit = Math.abs(
          this.currencyToFloat(item.amountPph23Payable)
        );
        let amountPph23Status = this.currencyToFloat(item.amountPph23) < 0 ? "minus" : "plus";
        let amountPayableStatus = this.currencyToFloat(item.amountPayable) < 0 ? "minus" : "plus";

        if(amountPph23Status == amountPayableStatus && amountPph23 != 0) {
          this.statusPPH = true;
          return "PPH23 Funding is out of allowance";
        } else if (amountPayable === 0) {
          if (totalAmountPPH.toFixed(2) <= amountMaxPayable) {
            this.statusPPH = false;
            return true;
          } else {
            this.statusPPH = true;
            return "Funding Amount + PPh23 Amount can’t greater than Amount Max Payable";
          }
        } else {
          if (amountPph23 <= pphAmountLimit) {
            this.statusPPH = false;
            return true;
          } else {
            this.statusPPH = true;
            return "Cannot be greater than Payable pph23";
          }
        }
      };
    },
    openEditRateDialog(item) {

      this.editRateItem = item;
      this.editRateChanged = false;
      this.editRateAmountChanged = false;
      this.editRateEqAmountChanged = false;
      
      this.editRateDialog = true;
      
      if(item.edit) {
        this.editRate = this.currencyFormat(this.dataEdit.exchgRate, 2);
        this.editRateAmount = this.currencyFormat(this.dataEdit.amoutPaid);
        this.editRateEqAmount = this.currencyFormat(this.dataEdit.equivAmount);
        this.editRatePPH23 = this.currencyFormat(this.dataEdit.amountPph23);
      } else {
        this.editRate = this.currencyFormat(item.exchgRate, 2);
        this.editRateAmount = this.currencyFormat(item.amoutPaid);
        this.editRateEqAmount = this.currencyFormat(item.equivAmount);
        this.editRatePPH23 = this.currencyFormat(item.amountPph23);
      }
      // this.editRateItem = item;
      // this.editRateChanged = false;
      // this.editRate = item.exchgRate;
      // this.dialog.exchangeRate = true;
    },
    submitRate() {
      this.editRateChanged = true;
      this.editRateDialog = false;
      this.amountChanged = false;
      // this.editRateItem.amoutPaid = this.editRateAmount;
      this.editRateItem.exchgRate = this.currencyToFloat(this.editRate);
      this.editRateItem.equivAmount = this.currencyToFloat(this.editRateEqAmount);
      
      this.dataEdit.exchgRate = this.currencyToFloat(this.editRate);
      this.dataEdit.equivAmount = this.currencyToFloat(this.editRateEqAmount);


      // this.editRateChanged = true;
      // this.dialog.exchangeRate = false;
      // this.editRateItem.exchgRate = this.editRate;
      // console.debug(this.editRate, "ssss", this.editRateItem);
      // this.paidAmountChange(this.editRateItem);
    },
    goToList() {
      this.$router.push({
        name: "remittance-edit",
        query: { id: this.param.receiptNo, mode: "d" },
      });
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: e,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );

      if (resp.data.code == 0) {
        this.param.excRate =
          this.formatCommaCurrency(
            String(resp.data.data.rateDefault),
            "IDR"
          ).replace("IDR ", "") + ".00";

        this.param.exchangeRate = resp.data.data.rateDefault;
      } else {
        this.param.excRate = "1.00";
        this.param.exchangeRate = "1";
      }
      this.excRateLoading = false;
    },
    async getListUnderwriter() {
      this.searchSingle.underwriter.loading = true;
      let resp = await API.get("clients/api/account/insurance/?page=0&size=10");
      if (resp.data.code === 0) {
        this.searchSingle.underwriter.loading = false;
        const data = resp.data.data;
        this.searchSingle.underwriter.items = data;
      }
    },
    async getItemData(cashReceiptNo = null) {
      if (cashReceiptNo == null) {
        this.param.cashReceiptNo = this.$route.query.id;
      } else {
        this.param.cashReceiptNo = cashReceiptNo;
      }
      this.cashDialog = false;

      await API.get(
        "/finance/api/finance/cashreceipt/" + this.param.cashReceiptNo
      ).then((resp) => {
        let dataResp = resp.data.cashReceiptData;
        this.param.custType = dataResp.customerType;
        this.param.customerCode = dataResp.customerCode;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerName = dataResp.customerName;
        this.param.refNo = dataResp.cashReceiptNo;
        this.param.amount = this.currencyFormat(dataResp.amount);
        this.param.currency = dataResp.currency;
        this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
        this.param.transType = dataResp.transationType;
        this.param.balance = this.currencyFormat(dataResp.balance);
        this.param.billDate = dataResp.tranDate;
        this.param.currentExcRate = "";
        this.param.detail = dataResp.description;
        this.param.balanceLc = "";
      });
      this.overlay = false;

      this.getCurrentRate();
    },
    async setDataCash(item) {
      this.param.refNo = item.acctNo;
      this.param.currency = item.currency;
      this.param.transType = item.accountType;
      this.param.billDate = item.billDate;
      this.param.detail = item.description;
      this.param.amount = this.currencyFormat(item.oriAmount);
      this.param.excRate = this.currencyFormat(item.oriExchangeRate);
      this.param.balance = this.currencyFormat(item.balance);
      this.param.currentExcRate = "";
      this.param.balanceLc = "";
      this.cashDialog = false;

      this.getCurrentRate();
    },
    async getCurrentRate() {
      // get current rate
      this.currentRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      let balance = this.currencyToFloat(this.param.balance);
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },

    back() {
      this.$router.replace({ name: "remittance-list" });
    },
    // async search() {
    //   this.getInvoiceList();
    // },
    async save() {
      // Object.keys(this.form).forEach((f) => {
      //   console.log(f, this.form[f]);
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
      }
      // this.dialog.show = true;
      // this.doAdd();
    },
    async doAdd() {
      let submitUrl = "/finance/api/finance/remittance/add";
      console.log("param: " + JSON.stringify(this.param));
      let paramJSON = {
        remittanceDataDto: {
          amount: this.param.amount,
          amountEq: this.param.amount,
          bankCode: this.param.bankReceived.coaCode,
          bankName: this.param.bankReceived.coaName,
          currency: this.param.currency,
          customerCode: this.param.customer.code,
          customerType: this.param.customer.accountType,
          customerName: this.param.customer.name,
          exchangeRate: this.param.exchangeRate,
          listInvoice: this.items.map(function (row) {
            console.log("row: " + JSON.stringify(row));
            return {
              amountEq: row.equivAmount,
              currency: row.currency,
              invoiceNo: parseInt(row.accountNo),
              payAmount: row.amoutPaid,
              pphAmount: row.amountPph23,
              term: row.refTerm,
            };
          }),
          paymentMethod: this.param.paymentMethod,
          reference: this.param.reference,
          tranDate: this.param.tranDate,
        },
      };
      console.log(JSON.stringify(paramJSON));
      // if (
      //   this.$route.query.id &&
      //   this.$route.query.mode &&
      //   this.$route.query.mode == "p"
      // ) {
      //   paramJSON.creditApplicationDataDto.customerCode = this.param.customerCode;
      //   paramJSON.creditApplicationDataDto.customerName = this.param.customerName;
      //   paramJSON.creditApplicationDataDto.billDate = this.formatDateSlice(this.param.billDate);
      // }

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.error = false;
            this.dialog.success = true;
            this.param.receiptNo = resp.data.data.idRemittance;
          } else {
            this.dialog.success = false;
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.success = false;
          this.dialog.error = true;
        });
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      let lastItem = this.journalItems[this.journalItems.length - 1];
      journal.no = (lastItem == null ? 0 : lastItem.no) + 1;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "0.00";
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },

    setJournalItem() {
      console.log("this.param.journals.length", this.param.journals.length);
      if (this.param.journals.length > 0) {
        return;
      }
      this.journalItems = [];
      let journalItem = {
        no: 1,
        coa: this.param.bankReceived.coaCode,
        currency: this.param.bankReceived.currency,
        type: "",
        amount: this.param.amount,
      };
      this.journalItems.push(journalItem);
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            if (l === "requestBy") {
              let itemRequestBy = resp.data.data;
              let array = [];
              let i;
              for (i = 0; i < itemRequestBy.length; i++) {
                let obj = {};
                array.push({
                  ...obj,
                  ...itemRequestBy[i].loginData,
                  ...itemRequestBy[i].personalData,
                });
              }
              this.search[l].items = array;
            } else {
              this.search[l].items = resp.data.data;
            }
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(filter) {
      filter.loading = true;
      API.get(
        filter.url +
          filter[
            !this.expanded ? "toolbarSearchInput" : "searchInput"
          ].toUpperCase()
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          // console.log(resp.data.data);
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "credit-application-edit",
        query: { id: this.param.creditAppNo, mode: "d" }, //600016
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },
    saveJournal() {
      this.param.journals = this.journalItems;
      console.log("this.param.journals", this.param.journals);
    },
    refNoOnClick() {
      if (!this.isFromCashReceipt) {
        this.cashDialog = true;
      }
    },
    async changeCustomer() {
      this.cashLoading = true;
      this.cashItems = [];

      this.invoiceLoading = true;
      this.invoiceItems = [];
      this.toShowInvoiceItems = [];

      // reset field
      this.param.refNo = "";
      this.param.currency = "";
      this.param.transType = "";
      this.param.billDate = "";
      this.param.detail = "";
      this.param.amount = "";
      this.param.excRate = "";
      this.param.balance = "";
      this.param.currentExcRate = "";
      this.param.balanceLc = "";

      let custCode = this.param[this.param.custType.toLowerCase()].code;
      // List Cash Receipt
      let resp = await API.get(
        "/finance/api/finance/creditapplication/getCSHByCustCode/" + custCode
      );
      if (resp.data.code == 0) {
        this.cashItems = resp.data.listInvAcct;
      }
      this.cashLoading = false;
      this.getInvoiceList();
    },
    async getInvoiceList() {
      this.invoiceLoading = true;
      // this.invoiceItems = [];
      // this.toShowInvoiceItems = [];
      let { page, itemsPerPage } = this.options;
      let pagination = `&page=${page - 1}&size=${itemsPerPage}`;
      let url =
        "/finance/api/finance/invaccount/getcreditoraccount?uwCode.equals=" +
        this.remittance.customer.code +
        "&transType.in=INV,CN" + pagination;
      let searchParam = "";
      let invoiceNoParam = "";
      let clientNameParam = "";
      let currencyParam = "";
      let billingDateCreatedFromParam = "";
      let billingDateCreatedToParam = "";
      let attachmentDateCreatedFromParam = "";
      let attachmentDateCreatedToParam = "";
      let dueDateCreatedFromParam = "";
      let dueDateCreatedToParam = "";
      if (
        this.param.searchInvoiceNo === "" ||
        this.param.searchInvoiceNo === undefined
      ) {
        invoiceNoParam = "";
      } else {
        invoiceNoParam = "&accountNo.contains=" + this.param.searchInvoiceNo;
      }

      if (
        this.param.searchClientName === "" ||
        this.param.searchClientName === undefined
      ) {
        clientNameParam = "";
      } else {
        clientNameParam = "&clientCode.contains=" + this.param.searchClientName;
      }

      if (
        this.param.searchCurrency === "" ||
        this.param.searchCurrency === undefined
      ) {
        currencyParam = "";
      } else {
        currencyParam = "&currency.contains=" + this.param.searchCurrency;
      }

      if (
        this.billingDateCreatedFrom.searchValue === "" ||
        this.billingDateCreatedFrom.searchValue === undefined ||
        this.billingDateCreatedFrom.searchValue === null
      ) {
        billingDateCreatedFromParam = "";
      } else {
        billingDateCreatedFromParam =
          "&" +
          this.billingDateCreatedFrom.value +
          "." +
          this.billingDateCreatedFrom.searchParam +
          "=" +
          this.billingDateCreatedFrom.searchValue;
      }

      if (
        this.billingDateCreatedTo.searchValue === "" ||
        this.billingDateCreatedTo.searchValue === undefined ||
        this.billingDateCreatedTo.searchValue === null
      ) {
        billingDateCreatedToParam = "";
      } else {
        billingDateCreatedToParam =
          "&" +
          this.billingDateCreatedTo.value +
          "." +
          this.billingDateCreatedTo.searchParam +
          "=" +
          this.billingDateCreatedTo.searchValue;
      }

      if (
        this.attachmentDateCreatedFrom.searchValue === "" ||
        this.attachmentDateCreatedFrom.searchValue === undefined ||
        this.attachmentDateCreatedFrom.searchValue === null
      ) {
        attachmentDateCreatedFromParam = "";
      } else {
        attachmentDateCreatedFromParam =
          "&" +
          this.attachmentDateCreatedFrom.value +
          "." +
          this.attachmentDateCreatedFrom.searchParam +
          "=" +
          this.attachmentDateCreatedFrom.searchValue;
      }

      if (
        this.attachmentDateCreatedTo.searchValue === "" ||
        this.attachmentDateCreatedTo.searchValue === undefined ||
        this.attachmentDateCreatedTo.searchValue === null
      ) {
        attachmentDateCreatedToParam = "";
      } else {
        attachmentDateCreatedToParam =
          "&" +
          this.attachmentDateCreatedTo.value +
          "." +
          this.attachmentDateCreatedTo.searchParam +
          "=" +
          this.attachmentDateCreatedTo.searchValue;
      }

      if (
        this.dueDateCreatedFrom.searchValue === "" ||
        this.dueDateCreatedFrom.searchValue === undefined ||
        this.dueDateCreatedFrom.searchValue === null
      ) {
        dueDateCreatedFromParam = "";
      } else {
        dueDateCreatedFromParam =
          "&" +
          this.dueDateCreatedFrom.value +
          "." +
          this.dueDateCreatedFrom.searchParam +
          "=" +
          this.dueDateCreatedFrom.searchValue;
      }

      if (
        this.dueDateCreatedTo.searchValue === "" ||
        this.dueDateCreatedTo.searchValue === undefined ||
        this.dueDateCreatedTo.searchValue === null
      ) {
        dueDateCreatedToParam = "";
      } else {
        dueDateCreatedToParam =
          "&" +
          this.dueDateCreatedTo.value +
          "." +
          this.dueDateCreatedTo.searchParam +
          "=" +
          this.dueDateCreatedTo.searchValue;
      }

      searchParam =
        invoiceNoParam +
        clientNameParam +
        currencyParam +
        billingDateCreatedFromParam +
        billingDateCreatedToParam +
        attachmentDateCreatedFromParam +
        attachmentDateCreatedToParam +
        dueDateCreatedFromParam +
        dueDateCreatedToParam;

      let invResp = await API.get(url + searchParam);
      if (invResp.data.code == 0) {
        this.invoiceItems = invResp.data.listTransaction.map(function (row, i) {
          row.no = i + 1;
          return row;
        });
        this.toShowInvoiceItems = this.invoiceItems;
        this.totalItems = parseInt(invResp.headers["x-total-count"]);
      }
      this.invoiceLoading = false;
    },
    addInvoice(item) {
      let existItem = this.toAddInvoiceItems.filter(
        (value) => value.id == item.id
      );
      if (existItem < 1) {
        this.toAddInvoiceItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeInvoice(item, name) {
      this.amountChanged = false;
      for (let i = 0; i < this[name].length; i++) {
        if (this[name][i].no == item.no) {
          this[name].splice(i, 1);
        }
      }
      if (name === "items") {
        this.premiumFunding.listInvoiceRow = this.items;
        this.setDataList(this.items);
      }
    },
    comparerArray(otherArray) {
      return function (current) {
        return (
          otherArray.filter(function (other) {
            return other.id == current.id;
          }).length == 0
        );
      };
    },
    convertMoney(item) {
      let newItem = "";
      if (typeof item === "number") {
        newItem = item.toString();
      } else {
        newItem = item;
      }
      console.debug(newItem, typeof item);
      let amount = newItem
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    roundDecimal(n, digits) {
      var negative = false;
      if (digits === undefined) {
        digits = 0;
      }
      if (n < 0) {
        negative = true;
        n = n * -1;
      }
      var multiplicator = Math.pow(10, digits);
      n = parseFloat((n * multiplicator).toFixed(11));
      n = (Math.round(n) / multiplicator).toFixed(2);
      if (negative) {
        n = (n * -1).toFixed(2);
      }
      return n;
    },
    async submitInvoice() {
      //var declare
      let vm = this;
      this.invoiceDialog = false;
      this.amountChanged = false;
      let rate = vm.convertMoney(vm.remittance.excRate);
      let bankCurrency = vm.remittance.currency;
      console.debug(rate, "====", this.items);

      // let array = []

      let onlyInA = this.items.filter(vm.comparerArray(this.toAddInvoiceItems));
      let onlyInB = this.toAddInvoiceItems.filter(vm.comparerArray(this.items));

      let result = onlyInA.concat(onlyInB);

      console.debug(result);

      let newArray = await result.map(function (row) {
        let find = vm.remittance.listInvoiceRow.filter(
          (obj) => obj.id === row.id
        );
        //row setter
        console.log("LORD: " + JSON.stringify(row));
        console.log("FIND: " + find.length);
        let amountPph23 = row.amountPph23;
        let amountMaxPayable = row.amountMaxPayable;
        let amoutPaid = row.amoutPaid;
        let amountPayable = row.amountPayable;
        let amount = amountMaxPayable - amoutPaid - amountPph23;
        let amountPph23Payable = row.amountPph23Payable;
        let balance = row.balance;
        let amountDefault = balance - amountPayable - (amountPph23 - amountPph23Payable);
          // find.length > 0
          //   ? amountMaxPayable - amountPayable
          //   : amoutPaid !== 0
          //   ? amountMaxPayable - amoutPaid - amountPph23Payable
          //   :  amountMaxPayable - amountPayable - amountPph23;
        // let amountDefault = amountMaxPayable - amountPayable - amountPph23;
        console.log(balance + " - " + amountPayable + " - " + amountPph23 + " - " + amountPph23Payable);
        row["edit"] = false;
        row.originalAmount = row.amount;
        row.reason = "";
        row.dueDate = "";
        row.requestBy = "";
        row.amountPph23 =
          // find.length > 0
            // ? "0.00"
            // : amoutPaid !== 0
            // ? "0.00"
            // : 
            vm.currencyFormat(-1 * vm.currencyToFloat(row.amountPph23 - row.amountPph23Payable));
        if (row.amountPayable === 0) {
          row.amoutPaid = vm.currencyFormat(-1 * amountDefault);
        } else {
          if (amount === amountPph23) {
            row.amoutPaid = "0.00";
          } else {
            row.amoutPaid = vm.currencyFormat(-1 * amountDefault);
          }
        }
        // if (row.accountType == "INV") {
        //   if (row.amountPayable === 0) {
        //     row.amoutPaid = vm.currencyFormat(
        //       -1 *
        //         (vm.currencyToFloat(row.amountMaxPayable) -
        //           vm.currencyToFloat(amountPph23))
        //     );
        //   } else {
        //     if (amount === amountPph23) {
        //       row.amoutPaid = "0.00";
        //     } else {
        //       row.amoutPaid = vm.currencyFormat(-1 * amount);
        //     }
        //   }
        // } else {
        //   if (row.amountPayable === 0) {
        //     row.amoutPaid = vm.currencyFormat(
        //       1 *
        //         (vm.currencyToFloat(row.amountMaxPayable) -
        //           vm.currencyToFloat(amountPph23))
        //     );
        //   } else {
        //     if (amount === amountPph23) {
        //       row.amoutPaid = "0.00";
        //     } else {
        //       row.amoutPaid = vm.currencyFormat(1 * amount);
        //     }
        //   }
        // }
        row["amountPph23Payable"] = amountPph23;
        row.amountVat =
          find.length > 0
            ? "0.00"
            : amoutPaid !== 0
            ? "0.00"
            : vm.currencyFormat(vm.currencyToFloat(row.amountVat));

        //calculate equiv amount
        if (bankCurrency == "IDR" && row.currency == "USD") {
          console.debug(
            "bankCurrency",
            bankCurrency,
            "currency",
            row.currency,
            "if"
          );
          row.exchgRate = vm.currencyFormat(row.exchgRate);
          row.exchgRateDefault = vm.currencyFormat(row.exchgRate);
          let amoutPaid = vm.convertMoney(row.amoutPaid);
          let amountPPH23 = vm.convertMoney(row.amountPph23);
          let rateNew = vm.convertMoney(row.exchgRate);
          let equivAmount = (amoutPaid + amountPPH23) * rateNew * -1;
          console.debug(rate, amoutPaid, equivAmount, row.exchgRate);
          row.equivAmount = vm.roundDecimal(equivAmount, 2);
        } else if (bankCurrency == "USD" && row.currency == "IDR") {
          console.debug(
            "bankCurrency",
            bankCurrency,
            "currency",
            row.currency,
            "else if"
          );
          row.exchgRate = vm.currencyFormat(rate);
          row.exchgRateDefault = vm.currencyFormat(row.exchgRate);
          let amoutPaid = vm.convertMoney(row.amoutPaid);
          let amountPPH23 = vm.convertMoney(row.amountPph23);
          let equivAmount = (((amoutPaid + amountPPH23) * 1) / rate) * -1;
          console.debug(rate, amoutPaid, equivAmount);
          row.equivAmount = vm.roundDecimal(equivAmount, 2);
        } else {
          console.debug(
            "bankCurrency",
            bankCurrency,
            "currency",
            row.currency,
            "else"
          );
          row.exchgRate = vm.currencyFormat(1);
          row.exchgRateDefault = vm.currencyFormat(row.exchgRate);
          let amoutPaid = vm.convertMoney(row.amoutPaid);
          let amountPPH23 = vm.convertMoney(row.amountPph23);
          let equivAmount = (amoutPaid + amountPPH23) * -1;
          console.debug(amoutPaid, equivAmount, "else");
          row.equivAmount = vm.roundDecimal(equivAmount, 2);
        }
        console.debug(row.amoutPaid, "====== ++++");
        return row;
      });
      let dataItem = this.items;
      let newData = dataItem.concat(newArray);
      this.items = newData;
      this.premiumFunding.listInvoiceRow = this.items;
      this.setDataList(this.items);

      // if (this.remittnce.currency != "IDR" && this.remittance.currency != "") {
      //   for (let item of this.items) {
      //     let rate = await this.getExchangeRate(item.currency);
      //     item.exchgRate = rate;
      //     item.rateLoading = false;
      //     item.equivAmount = this.currencyToFloat(item.amoutPaid) / rate;
      //   }
      // }
    },
    openInvoiceDialog() {
      //baru
      // this.getInvoiceList()
      // this.toAddInvoiceItems = JSON.parse(JSON.stringify(this.items));
      // this.invoiceDialog = true;
      // this.amountChanged = false;

      //existing
      let customerStatus = false;
      let currencyStatus = false;
      this.param.searchInvoiceNo = "";
      this.billingDateCreatedFrom.searchValue = "";
      this.billingDateCreatedTo.searchValue = "";
      this.attachmentDateCreatedFrom.searchValue = "";
      this.attachmentDateCreatedTo.searchValue = "";
      this.param.searchCurrency = "";
      this.dueDateCreatedFrom.searchValue = "";
      this.dueDateCreatedTo.searchValue = "";
      this.search.client.input = "";
      this.param.searchClientName = "";
      if (this.remittance.customer) {
        if (
          this.remittance.customer.code !== "" ||
          this.remittance.customer.code !== null
        ) {
          customerStatus = true;
        }
      }
      if (this.remittance.currency) {
        if (
          this.remittance.currency !== "" ||
          this.remittance.currency !== null
        ) {
          currencyStatus = true;
        }
      }
      if (customerStatus && currencyStatus) {
        this.getInvoiceList();
        this.toAddInvoiceItems = JSON.parse(JSON.stringify(this.items));
        this.invoiceDialog = true;
        this.amountChanged = false;
        this.initList(["requestBy"]);
      } else {
        this.dialog.underwriter = true;
      }
    },
    getTotalPayAmount(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      this.premiumFunding.remittanceDataDto.amount = total;
      return this.currencyFormat(total);
    },
    getTotalEqAmount(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      this.premiumFunding.remittanceDataDto.amountEq = total;
      return this.currencyFormat(total);
    },
    onkeyupInvoiceSearch(header) {
      this.toShowInvoiceItems = this.invoiceItems.filter(
        // (value) => value[header.value] == header.searchValue
        (value) => value[header.value].indexOf(header.searchValue) > -1
      );
    },
    currencyFormat(data, decimal = null, mode = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let countOriDecimal =
        amount.split(".")[1] != undefined ? amount.split(".")[1].length : 0;
      let toFixed = float.toFixed(decimal == null ? 2 : decimal);
      if (mode == "max") {
        if (countOriDecimal >= decimal) {
          toFixed = float.toFixed(decimal);
        } else if (countOriDecimal >= 3) {
          toFixed = float.toFixed(countOriDecimal);
        } else {
          toFixed = float.toFixed(2);
        }
      }
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString('en-US');
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return this.currencyFormat(currentRate);
    },

    // paidAmountChange(item) {
    //   console.log("PAIDAMOUNT: " + JSON.stringify(item));
    //   this.amountChanged = true;

    //   let vm = this;
    //   let paidAmount = vm.currencyToFloat(item.amoutPaid);
    //   let rate = 0;
    //   let pph23 = vm.currencyToFloat(item.amountPph23);
    //   let total = paidAmount + pph23;
    //   let bankCurrency = vm.remittance.currency;

    //   if (bankCurrency == "IDR" && item.currency == "USD") {
    //     rate = item.exchgRate;
    //     item.equivAmount =
    //       vm.currencyToFloat(total) * vm.currencyToFloat(rate) * -1;
    //   } else if (bankCurrency == "USD" && item.currency == "IDR") {
    //     if (this.editRateChanged) {
    //       rate = item.exchgRate;
    //     } else {
    //       rate = vm.remittance.excRate;
    //     }
    //     item.equivAmount =
    //       (vm.currencyToFloat(total) * -1) / vm.currencyToFloat(rate);
    //   } else {
    //     item.equivAmount = vm.currencyToFloat(total) * -1;
    //   }
    // },
    paidAmountChange(item) {
      this.amountChanged = true;

      let vm = this;
      let paidAmount = vm.convertMoney(item.amoutPaid);
      let pph23Amount = vm.convertMoney(item.amountPph23);
      let rate = 0;
      // let pph23 = vm.convertMoney(item.amountPph23);
      let total = paidAmount + pph23Amount;
      let bankCurrency = vm.remittance.currency;

      let updateItem = this.items[Number(this.indexEdit)];

      if (bankCurrency == "IDR" && item.currency == "USD") {
        rate = vm.convertMoney(item.exchgRate);
        let equivAmount = total * rate * -1;
        item.equivAmount = Number(equivAmount.toFixed(2));
        updateItem.equivAmount = Number(equivAmount.toFixed(2));
      } else if (bankCurrency == "USD" && item.currency == "IDR") {
        if (this.editRateChanged) {
          rate = vm.convertMoney(item.exchgRate);
        } else {
          rate = vm.convertMoney(vm.remittance.excRate);
        }
        let equivAmount = ((total * 1) / rate) * -1;
        item.equivAmount = Number(equivAmount.toFixed(2));
        updateItem.equivAmount = Number(equivAmount.toFixed(2));
      } else {
        let equivAmount = total * -1;
        item.equivAmount = Number(equivAmount.toFixed(2));
        updateItem.equivAmount = Number(equivAmount.toFixed(2));
      }
    },
    exchangeRateChange(item) {
      this.amountChanged = true;

      let vm = this;
      let paidAmount = vm.convertMoney(item.amoutPaid);
      let rate = 0;
      let pph23 = vm.convertMoney(item.amountPph23);
      let total = paidAmount + pph23;
      let bankCurrency = vm.remittance.currency;

      if (bankCurrency == "IDR" && item.currency == "USD") {
        rate = vm.convertMoney(item.exchgRate);
        let equivAmount = total * rate * -1;
        item.equivAmount = Number(equivAmount.toFixed(2));
      } else if (bankCurrency == "USD" && item.currency == "IDR") {
        rate = vm.convertMoney(item.exchgRate);
        let equivAmount = ((total * 1) / rate) * -1;
        item.equivAmount = Number(equivAmount.toFixed(2));
      } else {
        let equivAmount = total * -1;
        item.equivAmount = Number(equivAmount.toFixed(2));
      }
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },

    editRateInput() {
      console.log("editRateInput");
      let after = this.editRate;
      let payAmount = this.currencyToFloat(this.editRateAmount);
      let pph23Amount = this.currencyToFloat(this.editRatePPH23);
      let rate = this.currencyToFloat(after);
      this.editRateEqAmountChanged = false;
      if (this.remittance.currency == "IDR" || this.remittance.currency == "") {
        this.editRateEqAmount = this.currencyFormat((payAmount + pph23Amount) * rate * -1);
      } else {
        this.editRateEqAmount = this.currencyFormat((payAmount + pph23Amount) / rate * -1);
      }
    },
    editRateAmountInput() {
      console.log("editRateAmountInput");
      let after = this.editRateAmount;
      let payAmount = this.currencyToFloat(after);
      let pph23Amount = this.currencyToFloat(this.editRatePPH23);
      let rate = this.currencyToFloat(this.editRate);
      this.editRateEqAmountChanged = false;
      if (this.remittance.currency == "IDR" || this.remittance.currency == "") {
        this.editRateEqAmount = this.currencyFormat((payAmount + pph23Amount) * rate * -1);
      } else {
        this.editRateEqAmount = this.currencyFormat((payAmount + pph23Amount) / rate * -1);
      }
    },
    editRateEqAmountInput() {
      console.log("editRateEqAmountInput");
      if (this.editRateAmount != "0.00") {
        let after = this.editRateEqAmount;
        let payAmount = this.currencyToFloat(this.editRateAmount);
        let pph23Amount = this.currencyToFloat(this.editRatePPH23);
        let equivAmount = this.currencyToFloat(after);
        this.editRateChanged = false;
        if (this.remittance.currency == "IDR" || this.remittance.currency == "") {
          this.editRate = this.currencyFormat(equivAmount / (payAmount + pph23Amount) * -1, 2);
        } else {
          this.editRate = this.currencyFormat((payAmount + pph23Amount) / equivAmount * -1, 2);
        }
      }
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style scoped>
th.xsmall-label .v-label {
  font-size: x-small;
}
.spanColor {
  color: red;
}
::v-deep .my-text-style input {
  color: red;
}
</style>
