<template>
  <v-card flat>
    <isttoolbar
      title="Customer Opportunity"
      dark
      color="secondary"
      icon="mdi-equalizer"
    >
      <v-spacer />
      <v-tooltip
        bottom
        v-if="disableForm && ['2', '3'].indexOf(param.status) == -1 && checkAuthorities('customer-opportunity-edit')"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            min-height="40"
            @click="disableForm = false"
            text
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        v-if="!disableForm"
        @click="save"
        outlined
        class="mx-1"
        min-width="100px"
      >
        Save
      </v-btn>
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="toList" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn v-else @click="back" outlined class="mx-1" min-width="100px">
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View Opportunity' : 'Edit Opportunity'"
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            placeholder="Status"
            v-model="param.status"
            ref="status"
            name="status"
            :items="search.status.items"
            item-value="code"
            item-text="value"
            @change="statusOnChange()"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Progress </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            placeholder="Progress"
            v-model="param.progress"
            ref="progress"
            name="progress"
            :items="getProgressItems()"
            item-value="code"
            item-text="value"
            :readonly="['5', '6'].indexOf(param.progress) != -1"
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Opportunity No. </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-text-field
            hide-details="auto"
            placeholder="Opportunity No."
            ref="id"
            name="id"
            class="ma-0"
            v-model="param.id"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-expand-transition>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">
              Customer
              <span class="error--text">*</span>
            </span>
          </v-col>
          <v-col cols="5" class="pa-1">
            <v-autocomplete
              hide-details="auto"
              v-model="param.customer"
              placeholder="Customer"
              ref="customer"
              name="customer"
              :search-input.sync="search.customer.input"
              :items="search.customer.items"
              item-value="id"
              item-text="codeAndName"
              :loading="search.customer.loading"
              class="ma-0"
              :rules="[rules.required]"
              flat
              outlined
              dense
              solo
              readonly
              append-icon=""
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-expand-transition>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Insurance Period </span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-menu
            v-model="param.insuranceFrom.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="disableForm"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.insuranceFrom.date"
                ref="insuranceFrom"
                name="insuranceFrom"
                placeholder="From"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  v-show="!disableForm"
                  slot="append"
                  @click="param.insuranceFrom.menu = !param.insuranceFrom.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.insuranceFrom.date"
              no-title
              @input="param.insuranceFrom.menu = false"
              :max="param.insuranceTo.date"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="1">
          <div class="title text-center">To</div>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-menu
            v-model="param.insuranceTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="
              disableForm ||
              param.insuranceFrom.date == '' ||
              param.insuranceFrom.date == null
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.insuranceTo.date"
                ref="insuranceTo"
                name="insuranceTo"
                placeholder="To"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  v-show="!disableForm"
                  slot="append"
                  @click="param.insuranceTo.menu = !param.insuranceTo.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.insuranceTo.date"
              no-title
              @input="param.insuranceTo.menu = false"
              :min="param.insuranceFrom.date"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Potential Income </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-text-field
            hide-details="auto"
            placeholder="Potential Income"
            ref="income"
            name="income"
            class="ma-0"
            v-model="param.income"
            v-money="amountChanged ? money : ''"
            @input="amountChanged = true"
            flat
            outlined
            dense
            solo
          >
            <span
              @click="param.currency = param.currency == 'IDR' ? 'USD' : 'IDR'"
              slot="prepend-inner"
              >{{ param.currency }}</span
            >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Class of Business </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            placeholder="Class of Business"
            v-model="param.businessClass"
            ref="businessClass"
            name="businessClass"
            :search-input.sync="search.businessClass.input"
            :items="search.businessClass.items"
            item-value="riskCode"
            :item-text="riskTextItem"
            :loading="search.businessClass.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
          <!-- @keyup="autocompSearch(search.businessClass)" -->
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Source of Business </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            placeholder="Source of Business"
            v-model="param.businessSource"
            ref="businessSource"
            name="businessSource"
            :search-input.sync="search.businessSource.input"
            :items="search.businessSource.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.businessSource.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
          <!-- @keyup="autocompSearch(search.businessSource)" -->
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Segment
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            placeholder="Department"
            v-model="param.department"
            ref="department"
            name="department"
            :search-input.sync="search.department.input"
            :items="search.department.items"
            item-value="code"
            :item-text="deptTextItem"
            :loading="search.department.loading"
            :rules="[rules.required]"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Notes </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-textarea
            hide-details="auto"
            v-model="param.notes"
            ref="notes"
            name="notes"
            placeholder="Notes"
            :rows="2"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="statusConfirm" persistent max-width="290">
        <v-card>
          <v-card-title class="text-center" style="word-break: inherit"
            >Are you sure you want to change the status to
            {{ param.statusDesc }}?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                statusConfirm = false;
                doEdit();
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="statusConfirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    headers: [
      {
        text: "Contact Person",
        align: "start",
        sortable: false,
        value: "name",
        add: "",
      },
      { text: "Phone No", sortable: false, value: "handphoneNo", add: "" },
      {
        text: "Email Address",
        sortable: false,
        value: "emailAddress",
        add: "",
      },
      { text: "Description", sortable: false, value: "notes", add: "" },
      { text: "Action", sortable: false, value: "action", add: "" },
    ],
    param: {
      id: "",
      isExisting: true,
      isNew: false,
      customer: "",
      customerCode: "",
      customerName: "",
      customerType: "",
      compGroup: "",
      address: "",
      zip: "",
      village: "",
      district: "",
      city: "",
      province: "",
      npwp: "",
      doc: [],
      tax: "",
      contact: [],
      insuranceFrom: {
        date: "",
        menu: false,
        firstInit: true,
      },
      insuranceTo: {
        date: "",
        menu: false,
      },
      income: "",
      businessClass: "",
      businessSource: "",
      department: "",
      status: "",
      statusDesc: "",
      statusInit: "",
      progress: "",
      notes: "",
      currency: "IDR",
    },
    search: {
      customer: {
        // input: "",
        items: [],
        url: "/clients/api/account/client?size=-1",
        urlToInit: "/clients/api/account/client",
        loading: false,
      },
      businessClass: {
        // input: "",
        items: [],
        url: "/config/api/master-risk/?isActive.equals=1&?size=-1",
        urlToInit: "/config/api/master-risk/",
        loading: true,
      },
      businessSource: {
        // input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        urlToInit: "/clients/api/account/agent",
        loading: true,
      },
      department: {
        input: "",
        items: [],
        urlToInit:
          "/config/api/master-parameter/?module.equals=BUSINESS_SEGMENT&sort=code,asc,ignoreCase&size=-1&isActive.equals=1",
        loading: true,
        request: null,
      },
      status: {
        items: [],
        urlToInit:
          "/config/api/master-parameter/?isActive.equals=1&module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      progress: {
        items: [],
        filteredItems: [],
        urlToInit:
          "/config/api/master-parameter/?isActive.equals=1&module.equals=SALES_PROGRESS_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      customerType: {
        items: ["Individual", "Corporate"],
      },
    },
    formType: {
      existing: ["customer"],
      new: [
        "customerCode",
        "customerName",
        "customerType",
        "compGroup",
        "address",
        "zip",
        "village",
        "district",
        "city",
        "province",
        "npwp",
        "doc",
        "tax",
        "contact",
      ],
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    statusConfirm: false,
    overlay: true,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        id: this.param.id,
        customer: this.param.customer,
        // customerCode: this.param.customerCode,
        customerName: this.param.customerName,
        customerType: this.param.customerType,
        // compGroup: this.param.compGroup,
        // address: this.param.address,
        // zip: this.param.zip,
        // village: this.param.village,
        // district: this.param.district,
        // city: this.param.city,
        // province: this.param.province,
        // npwp: this.param.npwp,
        // doc: this.param.doc[0],
        // tax: this.param.tax,
        // insuranceFrom: this.param.insuranceFrom.date,
        // insuranceTo: this.param.insuranceTo.date,
        // income: this.param.income,
        // businessClass: this.param.businessClass,
        // businessSource: this.param.businessSource,
        department: this.param.department,
        // status: this.param.status,
        // progress: this.param.progress,
        // notes: this.param.notes
      };
    },
    getProgressItems: function () {
      return function () {
        let progressByStatusList = [
          { status: "1", progress: ["1", "2", "3", "4"] },
          { status: "2", progress: ["6"] },
          { status: "3", progress: ["5"] },
        ];
        let progressByStatus = progressByStatusList.filter(
          (value) => value.status == this.param.status
        );
        let progressList = this.search.progress.items.filter(
          (value) => progressByStatus[0].progress.indexOf(value.code) != -1
        );
        return progressList;
      };
    },
  },

  watch: {
    "param.status": {
      handler: function (after, before) {
        console.log("before", before);
        let status = this.search.status.items.filter(
          (value) => value.code == after
        );
        if (status.length > 0) {
          this.param.statusDesc = status[0].value;
        }
      },
      deep: true,
    },
    "param.insuranceFrom.date": {
      handler: function (after, before) {
        console.log("insuranceFrom before", before);
        if (
          after != "" &&
          after != null &&
          !this.param.insuranceFrom.firstInit
        ) {
          let date = new Date(after);
          date.setFullYear(date.getFullYear() + 1);
          this.param.insuranceTo.date = date.toISOString().substr(0, 10);
        }
      },
      deep: true,
    },
  },

  created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      this.getItemData(id);
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async getItemData(id) {
      this.param.id = id;
      await API.get("/sales/api/sales-opportunity/" + this.param.id).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.param.id = dataResp.id;
          this.param.customer = dataResp.idAccount;
          this.param.insuranceFrom.date = dataResp.dateFromInsur;
          this.param.insuranceTo.date = dataResp.dateToInsur;
          this.param.currency =
            dataResp.currencyCode != null && dataResp.currencyCode != ""
              ? dataResp.currencyCode
              : "IDR";
          this.param.income =
            dataResp.amountEstimate == null
              ? ""
              : this.formatCommaCurrency(
                  String(dataResp.amountEstimate),
                  "IDR"
                ).replace("IDR ", "") + ".00";
          this.param.businessClass = dataResp.riskCode;
          this.param.businessSource = dataResp.idAgent;
          this.param.department = dataResp.codeSegment;
          this.param.progress = dataResp.progress;
          this.param.status = this.param.statusInit = dataResp.status;
          this.param.notes = dataResp.notes;
          // this.param.isActive = dataResp.isActive == 1 ? true : false;
          let custItem = {
            id: dataResp.idAccount,
            codeAndName: dataResp.accountName,
          };
          this.search.customer.items.push(custItem);
        }
      );
      await this.initList([
        "status",
        "progress",
        // "customer",
        "businessClass",
        "businessSource",
        "department",
      ]);
      this.param.insuranceFrom.firstInit = false;
      this.overlay = false;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.disableForm = true;
        this.dialog.show = false;
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "customer-opportunity-list", query: {back: true}, });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (this.param.isExisting && this.formType.new.indexOf(f) == -1) {
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        } else if (
          !this.param.isExisting &&
          this.formType.existing.indexOf(f) == -1
        ) {
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        }
      });
      if (!this.formHasErrors) {
        if (
          this.param.status != this.param.statusInit &&
          ["2", "3"].indexOf(this.param.status) != -1
        ) {
          this.statusConfirm = true;
        } else {
          await this.doEdit();
        }
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doEdit() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      let paramJSON = {
        customerType: "",
        salesOpportunity: {
          id: this.param.id,
          amountEstimate: this.currencyToFloat(this.param.income),
          currencyCode: this.param.income.length > 0 ? this.param.currency : "",
          riskCode: this.param.businessClass,
          dateFromInsur: this.param.insuranceFrom.date,
          dateToInsur: this.param.insuranceTo.date,
          idAgent: this.isDataExist(
            this.param.businessSource,
            this.search.businessSource.items
          )
            ? parseFloat(this.param.businessSource)
            : null,
          codeSegment: this.param.department,
          isActive: 1,
          notes: this.param.notes,
          progress: this.param.progress,
          status: this.param.status,
        },
      };
      if (this.param.isExisting) {
        paramJSON.customerType = "1";
        paramJSON.salesOpportunity["idAccount"] = parseFloat(
          this.param.customer
        );
      } else {
        paramJSON.customerType = "0";
        var account = {
          address: this.param.address,
          city: this.param.city,
          code: this.param.customerCode,
          district: this.param.district,
          emailAddress: "",
          flagParentgroup: 0,
          idParentgroup: parseFloat(this.param.compGroup),
          name: this.param.customerName,
          npwpNo: this.param.npwp,
          province: this.param.province,
          taxType: parseInt(this.param.tax),
          village: this.param.village,
          zipcode: this.param.zip,
        };
        var accountContacts = this.param.contact;
        var accountDocuments = [];

        for (var d of this.param.doc) {
          var fr = new FileReader();
          fr.readAsDataURL(d);
          fr.addEventListener("load", () => {
            var imagebase64 = fr.result;
            console.log(imagebase64);
          });

          var doc = {
            accountType: this.param.customerType,
            description: "",
            docName: d.name,
            docType: d.type,
            docRawdata: "",
            docUrl: "",
          };
          accountDocuments.push(doc);
        }
        account["accountContacts"] = accountContacts;
        account["accountDocuments"] = accountDocuments;
        paramJSON["account"] = account;
      }
      console.log("submit param");
      console.log(paramJSON);
      let param = JSON.stringify(paramJSON);
      API.post("/sales/api/sales-opportunity/update", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog = { show: false, success: false, error: false, errorMessage: "" };
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    checkBoxChange(name) {
      if (name == "isExisting") {
        this.param.isNew = !this.param.isExisting;
      } else if (name == "isNew") {
        this.param.isExisting = !this.param.isNew;
      }
    },
    addContact() {
      var contact = {};
      for (var header of this.headers) {
        if (header.value != "action") {
          contact[header.value] = header.add;
        }
      }
      contact["accountType"] = this.param.customerType;
      this.param.contact.push(contact);
      for (header of this.headers) {
        header.add = "";
      }
    },
    removeContact(item) {
      var index = "";
      for (var i = 0; i < this.param.contact.length; i++) {
        if (this.param.contact[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.param.contact.splice(index, 1);
      }
    },
    async initList(list) {
      for (let l of list) {
        // var i = "";
        // if ("input" in this.search[l]) {
        //   i = this.param[l];
        // }
        await API.get(this.search[l].urlToInit).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      });
      search.request = null;
    },
    statusOnChange() {
      this.param.progress = "";
      if (this.param.status == "2") {
        this.param.progress = "6";
      } else if (this.param.status == "3") {
        this.param.progress = "5";
      }
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    isDataExist(value, items) {
      let isExist = false;
      for (let i of items) {
        if (i.id == parseFloat(value)) {
          isExist = true;
        }
      }
      console.log("isExist", isExist);
      return isExist;
    },
    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    deptTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>>
