<template>
  <v-card flat>
    <isttoolbar
      title="Customer Opportunity"
      dark
      color="secondary"
      icon="mdi-equalizer"
    >
      <v-spacer></v-spacer>
      <v-btn outlined @click="goToAdd" v-show="checkAuthorities('customer-opportunity-add')">
        <v-icon left>mdi-plus</v-icon>Add Opportunity
      </v-btn>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            v-bind="attrs"
            v-on="on"
            class="ml-3"
            @click="exportToExcel"
            :loading="exportLoading"
          >
          <!-- v-show="checkAuthorities('customer-opportunity-download')" -->
            <v-icon>mdi-export</v-icon>
          </v-btn>
        </template>
        <span>Export to XLS</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar dark color="primary" class="pa-0">
      <!-- title="List of Customer Opportunity" -->
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-divider class="mx-5" dark vertical></v-divider> -->
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              v-model="filter.customer.searchValue"
              ref="customer"
              name="customer"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              :items="filter.customer.items"
              item-value="id"
              item-text="codeAndName"
              :loading="filter.customer.loading && !expanded"
              clearable
              solo
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
            ></v-autocomplete>
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Customer</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.customer.searchValue"
                          ref="customer"
                          name="customer"
                          @keyup="autocompSearch(filter.customer)"
                          :search-input.sync="filter.customer.searchInput"
                          :items="filter.customer.items"
                          item-value="id"
                          item-text="codeAndName"
                          :loading="filter.customer.loading"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Status</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.status.searchValue"
                          ref="status"
                          name="status"
                          :items="filter.status.items"
                          item-value="code"
                          item-text="value"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Insurance Period</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.insuranceFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.insuranceFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.insuranceFrom.menu = !filter
                                    .insuranceFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.insuranceFrom.dataValue"
                            no-title
                            @input="filter.insuranceFrom.menu = false"
                            :max="filter.insuranceTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.insuranceTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.insuranceTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.insuranceTo.menu = !filter.insuranceTo
                                    .menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.insuranceTo.dataValue"
                            no-title
                            @input="filter.insuranceTo.menu = false"
                            :min="filter.insuranceFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Progress</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.progress.searchValue"
                          ref="progress"
                          name="progress"
                          :items="filter.progress.items"
                          item-value="code"
                          item-text="value"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Potential Income</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.income.dataValue"
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="income"
                          v-money="amountChanged ? money : ''"
                          name="income"
                          @input="amountChanged = true"
                          class="ma-0"
                          solo
                          clearable
                        >
                          <span
                            slot="prepend-inner"
                            @click="
                              filter.currency.searchValue =
                                filter.currency.searchValue == 'IDR'
                                  ? 'USD'
                                  : 'IDR'
                            "
                            >{{ filter.currency.searchValue }}</span
                          >
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Created By</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.createdBy.searchValue"
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="createdBy"
                          name="createdBy"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Class of Business</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.business.searchValue"
                          ref="business"
                          name="business"
                          :search-input.sync="filter.business.searchInput"
                          :items="filter.business.items"
                          item-value="riskCode"
                          :item-text="riskTextItem"
                          :loading="filter.business.loading"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Business Class Name."
                        ></v-autocomplete>
                        <!-- @keyup="autocompSearch(filter.business)" -->
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Created Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdFrom.menu = !filter.createdFrom
                                    .menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdFrom.dataValue"
                            no-title
                            @input="filter.createdFrom.menu = false"
                            :max="filter.createdTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdTo.menu = !filter.createdTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdTo.dataValue"
                            no-title
                            @input="filter.createdTo.menu = false"
                            :min="filter.createdFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Segment</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.department.searchValue"
                          ref="department"
                          name="department"
                          :search-input.sync="filter.department.searchInput"
                          :items="filter.department.items"
                          item-value="code"
                          :item-text="deptTextItem"
                          :loading="filter.department.loading"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Department Name."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="mr-5"
                    @click="listSearch"
                    outlined
                    dark
                    color="primary"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <!-- <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <span v-if="header.sortable == false" class="text-subtitle-2">{{
                header.text
              }}</span>
              <v-row v-else style="display: block ruby;">
                <span class="text-subtitle-2">{{ header.text }}</span>
                <v-btn icon @click="sortClick(header.value)">
                  <v-icon :color="getSortIconProp(header).color" dense>{{
                    getSortIconProp(header).icon
                  }}</v-icon>
                </v-btn>
              </v-row>
            </th>
          </tr>
        </thead>
      </template> -->
      <template v-slot:item.isActive="{ item }">
        <div>{{ item.isActive == 1 ? "Active" : "Inactve" }}</div>
      </template>
      <template v-slot:item.idAccount="{ item }">{{
        item.accountName
      }}</template>
      <template v-slot:item.amountEstimate="{ item }">{{
        item.amountEstimate != null
          ? formatCommaCurrency(item.amountEstimate, item.currencyCode)
          : ""
      }}</template>
      <template v-slot:item.riskCode="{ item }">{{
        getText(item.riskCode, "business", "riskCode", "riskName")
      }}</template>
      <template v-slot:item.idAgent="{ item }">{{ item.agentName }}</template>
      <template v-slot:item.codeSegment="{ item }">{{
        getText(item.codeSegment, "department", "code", "value")
      }}</template>
      <template v-slot:item.status="{ item }">{{
        getText(item.status, "status", "code", "value")
      }}</template>
      <template v-slot:item.progress="{ item }">{{
        getText(item.progress, "progress", "code", "value")
      }}</template>
      <template v-slot:item.createdDate="{ item }">
        <span v-if="item.createdDate">{{
          item.createdDate.substr(0, 10)
        }}</span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="['2', '3'].indexOf(item.status) == -1 && checkAuthorities('customer-opportunity-edit')"
              @click="editItem(item, 'e')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Customer",
        align: "start",
        value: "idAccount",
        sortable: false,
      },
      {
        text: "Insurance Period From",
        value: "dateFromInsur",
        sortable: false,
      },
      {
        text: "Insurance Period To",
        value: "dateToInsur",
        sortable: false,
      },
      {
        text: "Potential Income",
        value: "amountEstimate",
        sortable: false,
      },
      {
        text: "Class Of Business",
        value: "riskCode",
        sortable: false,
      },
      {
        text: "Source Of Business",
        value: "idAgent",
        sortable: false,
      },
      {
        text: "Segment",
        value: "codeSegment",
        sortable: false,
      },
      {
        text: "Status",
        value: "status",
        sortable: false,
      },
      {
        text: "Progress",
        value: "progress",
        sortable: false,
      },
      {
        text: "Notes",
        value: "notes",
        sortable: false,
      },
      {
        text: "Created By",
        value: "createdBy",
        sortable: false,
      },
      {
        text: "Created Date",
        value: "createdDate",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
      customer: {
        value: "idAccount",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      status: {
        value: "status",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      insuranceFrom: {
        value: "dateFromInsur",
        dataValue: "",
        searchValue: "",
        searchParam: "greaterThan",
        menu: false,
      },
      insuranceTo: {
        value: "dateToInsur",
        dataValue: "",
        searchValue: "",
        searchParam: "lessThan",
        menu: false,
      },
      progress: {
        value: "progress",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=SALES_PROGRESS_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      currency: {
        value: "currencyCode",
        searchValue: "IDR",
        searchParam: "equals",
      },
      income: {
        value: "amountEstimate",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      createdBy: {
        value: "createdBy",
        searchValue: "",
        searchParam: "equals",
      },
      business: {
        value: "riskCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/?size=-1",
        loading: true,
      },
      department: {
        value: "codeSegment",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=BUSINESS_SEGMENT&sort=code,asc,ignoreCase&size=-1",
        loading: true,
      },
      createdFrom: {
        value: "createdDate",
        dataValue: "",
        searchValue: "",
        searchParam: "greaterThan",
        menu: false,
      },
      createdTo: {
        value: "createdDate",
        dataValue: "",
        searchValue: "",
        searchParam: "lessThan",
        menu: false,
      },
    },
    listParam: [],
    exportLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        let pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "filter.insuranceFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() - 1);
          this.filter.insuranceFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.insuranceFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.insuranceTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.filter.insuranceTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.insuranceTo.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.income.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          this.filter.income.searchValue = this.currencyToFloat(after);
        } else {
          this.amountChanged = false;
          this.filter.income.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.createdFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          // date.setDate(date.getDate() - 1);
          this.filter.createdFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.createdTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.filter.createdTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdTo.searchValue = "";
        }
      },
      deep: true,
    },
  },

  mounted() {
    // this.refresh();
  },

  created() {
    this.initList(["status", "progress", "customer", "business", "department"]);
    this.filter.insuranceFrom.dataValue = "";
    this.filter.insuranceTo.dataValue = "";
    this.filter.createdFrom.dataValue = "";
    this.filter.createdTo.dataValue = "";

    if(this.$route.query.back == true) this.backFromAction();
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    goToAdd() {
      this.$router.replace({ name: "customer-opportunity-add" });
    },

    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (key == "currency") {
            if (String(this.filter.income.searchValue).length > 0) {
              findHeaderValueNotEmpty.push(this.filter[key]);
            }
          } else if (String(this.filter[key].searchValue).length > 0) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("sales/api/sales-opportunity/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },

    exportToExcel() {
      this.exportLoading = true;
      var listParam = JSON.parse(JSON.stringify(this.listParam));
      delete listParam["page"];
      listParam["size"] = this.totalItems;
      API.get("sales/api/sales-opportunity/download", listParam)
        .then((resp) => {
          if (resp.data.code == 0) {
            console.log(resp);
            this.saveDoc(resp.data.data);
            this.exportLoading = false;
          } else {
            this.exportLoading = false;
          }
        })
        .catch((error) => {
          console.log(error);
          this.exportLoading = false;
          this.setSnackbar({ color: "error", text: "Error" });
        });
    },

    saveDoc(base64) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        var ascii = binaryString.charCodeAt(i);
        bytes[i] = ascii;
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute("download", "List of Customer Opportunity.xlsx"); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    editItem(item, mode) {
      this.$router.push({
        name: "customer-opportunity-edit",
        query: { id: item.id, mode: mode },
      });

      this.storeTable();
    },

    viewItem(item) {
      // this.$router.push({
      //   name: "area-regency-detail",
      //   params: { item: item },
      //   query: { id: item.id }
      // });
      console.log(item);
      alert("belum");
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("/api/master-location/regency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      API.get(
        filter.url +
          filter[
            !this.expanded ? "toolbarSearchInput" : "searchInput"
          ].toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          // console.log(resp.data.data);
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
      filter.request = null;
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.custOpportunityDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        custOpportunityDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    deptTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>