<template>
  <v-card flat>
    <isttoolbar
      title="Customer Opportunity"
      dark
      color="secondary"
      icon="mdi-equalizer"
    >
      <v-spacer />
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="New Opportunity"
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <span class="title">
            {{ getStatusText(param.status) }}
          </span>
          <!-- <v-autocomplete
            hide-details="auto"
            label="Status"
            v-model="param.status"
            ref="status"
            name="status"
            :items="search.status.items"
            item-value="code"
            item-text="value"
            readonly
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete> -->
        </v-col>
        <!-- <v-col cols="2" class="pa-1 ml-5">
          <v-checkbox
            ref="isExisting"
            name="isExisting"
            dense
            hide-details="auto"
            class="ma-0"
            v-model="param.isExisting"
            @change="checkBoxChange('isExisting')"
            label="Existing Customer"
          ></v-checkbox>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-checkbox
            ref="isNew"
            name="isNew"
            dense
            hide-details="auto"
            class="ma-0"
            v-model="param.isNew"
            @change="checkBoxChange('isNew')"
            label="New Customer"
          ></v-checkbox>
        </v-col> -->
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Progress </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Progress"
            v-model="param.progress"
            ref="progress"
            name="progress"
            :items="search.progress.items"
            item-value="code"
            item-text="value"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Opportunity No. </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Auto Generated"
            ref="code"
            name="code"
            class="ma-0"
            v-model="param.code"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <!-- exis oppor -->
      <v-expand-transition>
        <v-row v-show="param.isExisting" align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">
              Customer
              <span class="error--text">*</span>
            </span>
          </v-col>
          <v-col cols="5" class="pa-1">
            <v-autocomplete
              hide-details="auto"
              v-model="param.customer"
              label="Customer"
              ref="customer"
              name="customer"
              @keyup="autocompSearch(search.customer)"
              :search-input.sync="search.customer.input"
              :items="search.customer.items"
              item-value="id"
              item-text="codeAndName"
              :loading="search.customer.loading"
              class="ma-0"
              :rules="[rules.required]"
              flat
              outlined
              dense
              solo
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-expand-transition>
      <!-- exis oppor -->
      <!-- new oppor -->
      <v-expand-transition>
        <div v-show="param.isNew">
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Customer Code </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Customer Code"
                ref="customerCode"
                name="customerCode"
                class="ma-0"
                v-model="param.customerCode"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Customer Name
                <span class="error--text">*</span>
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Customer Name"
                ref="customerName"
                name="customerName"
                class="ma-0"
                v-model="param.customerName"
                :rules="[rules.required]"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Customer Type
                <span class="error--text">*</span>
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                v-model="param.customerType"
                label="Customer Type"
                ref="customerType"
                name="customerType"
                :items="search.customerType.items"
                class="ma-0"
                :rules="[rules.required]"
                @change="
                  param.compGroupFlag = false;
                  param.compGroup = '';
                "
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Company Group Flag </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-checkbox
                ref="compGroupFlag"
                name="compGroupFlag"
                dense
                hide-details="auto"
                class="ma-0"
                v-model="param.compGroupFlag"
                :readonly="param.customerType != 'Corporate'"
                @change="param.compGroup = ''"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Company Group </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                v-model="param.compGroup"
                label="Company Group"
                ref="compGroup"
                name="compGroup"
                :search-input.sync="search.compGroup.input"
                :items="search.compGroup.items"
                item-value="id"
                item-text="codeAndName"
                :loading="search.compGroup.loading"
                :readonly="
                  param.customerType != 'Corporate' || param.compGroupFlag
                "
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
              <!-- @keyup="autocompSearch(search.compGroup)" -->
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Address </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-textarea
                hide-details="auto"
                label="Address"
                ref="address"
                name="address"
                class="ma-0"
                v-model="param.address"
                :rows="4"
                flat
                outlined
                dense
                solo
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Place/Village </span>
            </v-col>
            <v-col cols="3" class="pa-1">
              <v-combobox
                v-model="param.village"
                label="Village"
                ref="village"
                :search-input.sync="search.village.input"
                @keyup="autocompSearch(search.village)"
                :items="search.village.items"
                item-value="id"
                item-text="name"
                :loading="search.village.loading"
                v-on:change="addressChange(search.village)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      District {{ item.district.name }} -
                      {{ item.district.regency.name }} Regency -
                      {{ item.district.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="1" class="pa-1" style="text-align: center">
              <span class="title"> Zip Code </span>
            </v-col>
            <v-col cols="1" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Zip"
                ref="zip"
                name="zip"
                class="ma-0"
                v-model="param.zip"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> District </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-combobox
                v-model="param.district"
                label="District"
                ref="district"
                :search-input.sync="search.district.input"
                @keyup="autocompSearch(search.district)"
                :items="search.district.items"
                item-value="id"
                item-text="name"
                :loading="search.district.loading"
                v-on:change="addressChange(search.district)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      {{ item.regency.name }} Regency -
                      {{ item.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> City/Regency </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-combobox
                v-model="param.city"
                label="City"
                ref="city"
                :search-input.sync="search.city.input"
                @keyup="autocompSearch(search.city)"
                :items="search.city.items"
                item-value="id"
                item-text="name"
                :loading="search.city.loading"
                v-on:change="addressChange(search.city)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">{{ item.province.name }}</p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Province </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-combobox
                v-model="param.province"
                label="Province"
                ref="province"
                :search-input.sync="search.province.input"
                @keyup="autocompSearch(search.province)"
                :items="search.province.items"
                item-value="id"
                item-text="name"
                :loading="search.province.loading"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> NPWP </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="NPWP"
                ref="npwp"
                name="npwp"
                class="ma-0"
                v-model="param.npwp"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> APU-PPT Document </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-file-input
                ref="doc"
                name="doc"
                class="ma-0"
                v-model="param.doc"
                flat
                outlined
                dense
                solo
                multiple
                label="JPG, PNG, PDF"
                hide-details="auto"
                :rules="[rules.requiredArray]"
              >
                <template v-slot:selection="{ text }">
                  <v-chip small label color="primary">{{ text }}</v-chip>
                </template>
              </v-file-input>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Tax Type </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-radio-group
                ref="tax"
                name="tax"
                v-model="param.tax"
                row
                dense
                hide-details="auto"
                class="ma-0"
              >
                <v-radio label="PPh 21" value="1"></v-radio>
                <v-radio label="PPh 23" value="2"></v-radio>
                <v-radio label="PPh Progresif" value="3"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2 my-10">
            <v-col cols="11">
              <span class="title">DETAIL CONTACT</span>
              <v-data-table
                :headers="headers"
                :items="param.contact"
                hide-default-footer
                class="elevation-1"
              >
                <template v-slot:body.append>
                  <tr>
                    <td v-for="header in headers" :key="header.text">
                      <v-btn
                        v-if="header.value == 'action'"
                        @click="addContact"
                        outlined
                        icon
                        color="primary"
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                      <v-textarea
                        v-else-if="header.value == 'notes'"
                        v-model="header.add"
                        single-line
                        :label="header.text"
                        :ref="header.value"
                        dense
                        outlined
                        hide-details="auto"
                        background-color="white"
                        :rows="1"
                      ></v-textarea>
                      <v-text-field
                        @keyup="header.rules = []"
                        v-else
                        v-model="header.add"
                        single-line
                        :label="header.text"
                        :ref="header.value"
                        dense
                        outlined
                        hide-details="auto"
                        background-color="white"
                        :rules="header.rules"
                      ></v-text-field>
                    </td>
                  </tr>
                </template>
                <template v-slot:item.action="{ item }">
                  <v-btn
                    outlined
                    icon
                    color="primary"
                    @click="removeContact(item)"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </div>
      </v-expand-transition>
      <!-- new oppor -->
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Insurance Period </span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-menu
            v-model="param.insuranceFrom.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.insuranceFrom.date"
                ref="insuranceFrom"
                name="insuranceFrom"
                label="From"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.insuranceFrom.menu = !param.insuranceFrom.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.insuranceFrom.date"
              no-title
              @input="param.insuranceFrom.menu = false"
              :max="param.insuranceTo.date"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="1">
          <div class="title text-center">To</div>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-menu
            v-model="param.insuranceTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="
              param.insuranceFrom.date == '' || param.insuranceFrom.date == null
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.insuranceTo.date"
                ref="insuranceTo"
                name="insuranceTo"
                label="To"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.insuranceTo.menu = !param.insuranceTo.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.insuranceTo.date"
              no-title
              @input="param.insuranceTo.menu = false"
              :min="param.insuranceFrom.date"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Potential Income </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Potential Income"
            ref="income"
            name="income"
            class="ma-0"
            v-model="param.income"
            v-money="money"
            flat
            outlined
            dense
            solo
          >
            <span
              @click="param.currency = param.currency == 'IDR' ? 'USD' : 'IDR'"
              slot="prepend-inner"
              >{{ param.currency }}</span
            >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Class of Business </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Class of Business"
            v-model="param.businessClass"
            ref="businessClass"
            name="businessClass"
            :search-input.sync="search.businessClass.input"
            :items="search.businessClass.items"
            item-value="riskCode"
            :item-text="riskTextItem"
            :loading="search.businessClass.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
          <!-- @keyup="autocompSearch(search.businessClass)" -->
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Source of Business </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Source of Business"
            v-model="param.businessSource"
            ref="businessSource"
            name="businessSource"
            :search-input.sync="search.businessSource.input"
            :items="search.businessSource.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.businessSource.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
          <!-- @keyup="autocompSearch(search.businessSource)" -->
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Segment
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Department"
            v-model="param.department"
            ref="department"
            name="department"
            :search-input.sync="search.department.input"
            :items="search.department.items"
            item-value="code"
            :item-text="deptTextItem"
            :loading="search.department.loading"
            :rules="[rules.required]"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Notes </span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-textarea
            hide-details="auto"
            v-model="param.notes"
            flat
            outlined
            dense
            solo
            ref="notes"
            name="notes"
            label="Notes"
            :rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="back()"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.error">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.show = dialog.error = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    headers: [
      {
        text: "Contact Person",
        align: "start",
        sortable: false,
        value: "name",
        add: "",
        rules: [],
      },
      {
        text: "Phone No",
        sortable: false,
        value: "handphoneNo",
        add: "",
        rules: [],
      },
      {
        text: "Email Address",
        sortable: false,
        value: "emailAddress",
        add: "",
        rules: [],
      },
      { text: "Description", sortable: false, value: "notes", add: "" },
      { text: "Action", sortable: false, value: "action", add: "" },
    ],
    param: {
      code: "",
      isExisting: true,
      isNew: false,
      customer: "",
      customerCode: "",
      customerName: "",
      customerType: "",
      compGroupFlag: false,
      compGroup: "",
      address: "",
      zip: "",
      village: "",
      district: "",
      city: "",
      province: "",
      npwp: "",
      doc: [],
      tax: "",
      contact: [],
      insuranceFrom: {
        date: "",
        menu: false,
      },
      insuranceTo: {
        date: "",
        menu: false,
      },
      income: "",
      businessClass: "",
      businessSource: "",
      department: "",
      status: "1",
      progress: "1",
      notes: "",
      currency: "IDR",
    },
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url:
          "/config/api/master-location/village?isActive.equals=1&name.equals=",
        loading: false,
        request: null,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url:
          "/config/api/master-location/district?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url:
          "/config/api/master-location/regency?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url:
          "/config/api/master-location/provinces?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      customer: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      compGroup: {
        input: "",
        items: [],
        url: "/clients/api/account/client?flagParentGroup.equals=1&?size=-1",
        loading: true,
        request: null,
      },
      businessClass: {
        input: "",
        items: [],
        url: "/config/api/master-risk/", //?isActive.equals=1&?size=-1",
        loading: true,
        request: null,
      },
      businessSource: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      department: {
        input: "",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=BUSINESS_SEGMENT&sort=code,asc,ignoreCase&size=-1&isActive.equals=1",
        loading: true,
        request: null,
      },
      status: {
        items: [],
        url:
          "/config/api/master-parameter/?isActive.equals=1&module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      progress: {
        items: [],
        url:
          "/config/api/master-parameter/?isActive.equals=1&module.equals=SALES_PROGRESS_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      customerType: {
        items: ["Individual", "Corporate"],
      },
    },
    formType: {
      existing: ["customer"],
      new: [
        "customerCode",
        "customerName",
        "customerType",
        "compGroup",
        "address",
        "zip",
        "village",
        "district",
        "city",
        "province",
        "npwp",
        "doc",
        "tax",
        "contact",
      ],
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        customer: this.param.customer,
        // customerCode: this.param.customerCode,
        customerName: this.param.customerName,
        customerType: this.param.customerType,
        // compGroup: this.param.compGroup,
        // address: this.param.address,
        // zip: this.param.zip,
        // village: this.param.village,
        // district: this.param.district,
        // city: this.param.city,
        // province: this.param.province,
        // npwp: this.param.npwp,
        // doc: this.param.doc[0],
        // tax: this.param.tax,
        // insuranceFrom: this.param.insuranceFrom.date,
        // insuranceTo: this.param.insuranceTo.date,
        // income: this.param.income,
        // businessClass: this.param.businessClass,
        // businessSource: this.param.businessSource,
        department: this.param.department,
        // status: this.param.status,
        // progress: this.param.progress,
        // notes: this.param.notes
      };
    },
    getStatusText: function () {
      return function (code) {
        let pItem = this.search.status.items.filter(
          (value) => value.code == code
        );
        return pItem.length > 0 ? pItem[0].value : "Initial";
      };
    },
  },

  watch: {
    "param.insuranceFrom.date": {
      handler: function (after, before) {
        console.log("insuranceFrom before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setFullYear(date.getFullYear() + 1);
          this.param.insuranceTo.date = date.toISOString().substr(0, 10);
        }
      },
      deep: true,
    },
  },

  async created() {
    await this.initList([
      "status",
      "progress",
      "customer",
      "compGroup",
      "businessClass",
      "businessSource",
      "department",
    ]);
    this.param.insuranceFrom.date = null;
    this.param.insuranceTo.date = null;
    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    if (checkToken != null) {
      if (checkToken.dept_code == "BD") {
        this.search.department.items = this.search.department.items.filter(
          (value) => value.code != "BD"
        );
      } else {
        this.param.department = checkToken.dept_code;
      }
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      this.$router.replace({ name: "customer-opportunity-list" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (this.param.isExisting && this.formType.new.indexOf(f) == -1) {
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        } else if (
          !this.param.isExisting &&
          this.formType.existing.indexOf(f) == -1
        ) {
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        }
      });
      if (!this.formHasErrors) {
      this.dialog.success = false;
      this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        customerType: "",
        salesOpportunity: {
          amountEstimate: this.currencyToFloat(this.param.income),
          currencyCode: this.param.income.length > 0 ? this.param.currency : "",
          riskCode: this.param.businessClass,
          dateFromInsur: this.param.insuranceFrom.date,
          dateToInsur: this.param.insuranceTo.date,
          idAgent: parseFloat(this.param.businessSource),
          codeSegment: this.param.department,
          isActive: 1,
          notes: this.param.notes,
          progress: this.param.progress,
          status: this.param.status,
        },
      };
      if (this.param.isExisting) {
        paramJSON.customerType = "1";
        paramJSON.salesOpportunity["idAccount"] = parseFloat(
          this.param.customer
        );
      } else {
        paramJSON.customerType = "0";
        var account = {
          address: this.param.address,
          village:
            typeof this.param.village == "object"
              ? this.param.village.name
              : this.param.village,
          district:
            typeof this.param.district == "object"
              ? this.param.district.name
              : this.param.district,
          city:
            typeof this.param.city == "object"
              ? this.param.city.name
              : this.param.city,
          province:
            typeof this.param.province == "object"
              ? this.param.province.name
              : this.param.province,
          code: this.param.customerCode,
          emailAddress: "",
          flagParentgroup: this.param.compGroupFlag ? 1 : 0,
          // this.param.customerType == "Corporate" && this.param.compGroup
          //   ? 1
          //   : 0,
          idParentgroup: parseFloat(this.param.compGroup),
          name: this.param.customerName,
          npwpNo: this.param.npwp,
          taxType: parseInt(this.param.tax),
          zipcode: this.param.zip,
        };
        var accountContacts = this.param.contact;
        var accountDocuments = [];

        for (var d of this.param.doc) {
          var fr = new FileReader();
          var imagebase64 = "";
          fr.readAsDataURL(d);
          fr.addEventListener("load", () => {
            imagebase64 = fr.result;
            console.log(imagebase64);
          });
          // var lastDot = d.name.lastIndexOf(".");
          // console.log(this.param.doc[0].name.substring(0, lastDot));
          // console.log(this.param.doc[0].name.substring(lastDot + 1));

          var doc = {
            accountType: this.param.customerType,
            description: "",
            docName: d.name,
            docType: d.type,
            docRawdata: imagebase64,
            docUrl: "",
          };
          accountDocuments.push(doc);
        }
        account["accountContacts"] = accountContacts;
        account["accountDocuments"] = accountDocuments;
        paramJSON["account"] = account;
      }
      console.log("submit param");
      console.log(paramJSON);
      let param = JSON.stringify(paramJSON);
      API.post("/sales/api/sales-opportunity/add", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog =  { show: false, success: false, error: false, errorMessage: "" };
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    checkBoxChange(name) {
      if (name == "isExisting") {
        this.param.isNew = !this.param.isExisting;
      } else if (name == "isNew") {
        this.param.isExisting = !this.param.isNew;
      }
    },
    addContact() {
      this.numberRules = [
        (v) => !!v || "Field is required",
        (v) => /^\d+$/.test(v) || "Must be a number",
      ];
      let contactHasError = false;
      let toValidate = this.headers.filter(
        (value) => ["name", "handphoneNo"].indexOf(value.value) != -1
      );
      for (let r of toValidate) {
        if (r.value == "name") {
          r.rules = [this.rules.required];
        } else if (r.value == "handphoneNo") {
          r.rules = [this.rules.required];
        } else if (r.value == "emailAddress") {
          // r.rules = [this.rules.emailRules];
        }
      }
      for (var val of toValidate) {
        if (val.add.length < 1) {
          contactHasError = true;
        }
        this.$refs[val.value][0].validate(true);
      }
      // iniiiiiiii
      if (!contactHasError) {
        var contact = {};
        for (var header of this.headers) {
          if (header.value != "action") {
            contact[header.value] = header.add;
          }
        }
        contact["accountType"] = this.param.customerType;
        this.param.contact.push(contact);
        for (header of this.headers) {
          header.add = "";
          header.rules = [];
        }
      }
    },
    removeContact(item) {
      var index = "";
      for (var i = 0; i < this.param.contact.length; i++) {
        if (this.param.contact[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.param.contact.splice(index, 1);
      }
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      });
      search.request = null;
    },
    addressChange(search) {
      if (typeof this.param[search.name] == "object") {
        if (search.name == "village") {
          this.param.zip = this.param.village.postalCode;
          this.param.district = this.param.village.district.name;
          this.param.city = this.param.village.district.regency.name;
          this.param.province = this.param.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.param.city = this.param.district.regency.name;
          this.param.province = this.param.district.regency.province.name;
        } else if (search.name == "city") {
          this.param.province = this.param.city.province.name;
        }
      }
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
    deptTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>>
