<template>
  <v-card flat>
    <isttoolbar title="Claims" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer></v-spacer>
      <v-btn
        outlined
        color="white"
        @click="goToAdd"
        v-show="checkAuthorities('create-claim-add')"
      >
        <v-icon left>mdi-plus</v-icon>CREATE CLAIM
      </v-btn>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="openInvoiceDetail(dataSingle.invoiceNo)"
            text
            class="ml-4 center"
          >
            <v-icon>mdi-information-outline mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Info</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-width="40" @click="back" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <v-tabs v-model="tab" background-color="primary" dark>
      <v-tab v-for="item in itemsTabs" :key="item.tab">{{ item.tab }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-form class="mt-4" readonly>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Policy No </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.policyNo"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="pa-1 pl-14">
              <span class="title"> Invoice No </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.invoiceNo"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Class </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.riskCodeAndName"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="pa-1 pl-14">
              <span class="title"> Transaction No </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.idTransaction"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Active Date </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.activeDate"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="pa-1 pl-14">
              <span class="title"> Account Executive </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.accountExecutive"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Period of Cover </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.periodOfCover"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Underwritter </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.underwriter"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title"> Customer </span>
            </v-col>
            <v-col cols="3" align-self="start" class="pa-1">
              <v-text-field
                flat
                outlined
                dense
                solo
                label=""
                :value="dataSingle.customer"
                hide-details="auto"
                ref="type"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-tab-item>
      <v-tab-item>
        <v-data-table
          :headers="headersClaim"
          :items="itemClaim"
          class="elevation-1"
          :options.sync="options"
          :server-items-length="totalItems"
          :loading="loading"
          :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
        >
          <template v-slot:no-data></template>
        </v-data-table>
      </v-tab-item>
    </v-tabs-items>

    <!-- =================== NEW DIALOG INVOICE =================== -->
    <v-dialog v-model="detailDialog.show" scrollable max-width="1100">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          <v-row>
            <v-col cols="8">
              <span v-show="(detailDialog.type = 'INV')"
                >Invoice Detail Info</span
              >
            </v-col>
            <v-col cols="4">
              <v-row>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      text
                      depressed
                      color="primary"
                      @click="detailDialog.show = false"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon large>mdi-close</v-icon>
                    </v-btn>
                  </template>
                  <span>Close</span>
                </v-tooltip>
              </v-row>
            </v-col>
          </v-row>
          <v-progress-linear
            indeterminate
            v-show="detailDialog.loading"
          ></v-progress-linear>
        </v-card-title>
        <v-card-text>
          <invoice
            v-show="detailDialog.type == 'INV'"
            :detailDialog="detailDialog"
            v-on:populated="detailDialog.loading = false"
          ></invoice>
        </v-card-text>
      </v-card>
    </v-dialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.onError"
    >
    </submitdialog>

    <confirmdialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      v-on:yes="confirmDialog.onYes"
      v-on:no="confirmDialog.onNo"
    >
    </confirmdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import * as types from "@/store/modules/invoice/type";
import invoice from "@/components/invoiceDialog/invoice_dialog_view";
import { mapActions } from "vuex";
import API from "@/core/api/api.js";
import submitdialog from "@/components/dialog/submitDialog";
import confirmdialog from "@/components/dialog/confirmDialog";

export default {
  components: {
    invoice,
    isttoolbar,
    submitdialog,
    confirmdialog,
  },
  async created() {
    this.dataSingle = JSON.parse(localStorage.getItem("single"));
    this.getInvoicePayment(this.dataSingle.invoiceNo);

    let resp = await API.get("/config/api/master-risk/");
    if (resp.data.code == 0 && resp.data.data.length > 0) {
      let filtered = resp.data.data.filter(
        (value) => value.riskCode == this.dataSingle.riskCode
      );
      if (filtered.length > 0) {
        this.dataSingle.riskCodeAndName = filtered[0].codeAndName;
      }
    }
  },
  data: () => ({
    detailDialog: {
      show: false,
      loading: false,
      standardTransLoading: false,
      sharingPercentLoading: false,
      type: "",
      id: null,
      data: {},
    },
    dialogLoading: { show: false, success: false, error: false, text: "" },
    dialogInvoice: false,
    dataSingle: {},
    headersClaim: [
      {
        text: "Claim No",
        align: "start",
        value: "id",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },
      {
        text: "Re-Open",
        value: "value",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },
      {
        text: "Claim Date",
        value: "createdDate",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },
      {
        text: "Claim Officer",
        value: "name",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },

      {
        text: "Detail",
        value: "insuredObject",
        sortable: false,
        searchable: false,
        searchValue: "",
      },
      {
        text: "Status",
        value: "recStatusDesc",
        sortable: false,
        searchable: false,
        searchValue: "",
      },
    ],
    listParam: [],
    itemClaim: [],
    totalItems: 0,
    options: {},
    loading: false,
    tab: null,
    itemsTabs: [
      { tab: "Policy Info", content: "Tab 1 Content" },
      { tab: "Claim History", content: "Tab 2 Content" },
    ],
    overlay: true,
    invoicePayment: [],
    submitDialog: {
      show: false,
      mode: "",
      title: null,
      message: "",
      onSuccess: function () {},
      onError: function () {},
    },
    confirmDialog: {
      show: false,
      message: "",
      onYes: function () {},
      onNo: function () {},
    },
  }),
  computed: {},
  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },
  methods: {
    openInvoiceDetail(invNo) {
      this.resetState();
      this.detailDialog = {
        show: true,
        loading: true,
        type: "INV",
        id: invNo,
      };
    },
    ...mapActions({
      addState: types.ACTION_ADD_STATE,
      resetState: types.ACTION_RESET_STATE,
    }),
    async getInvoiceById(id) {
      this.dialogLoading.show = true;
      let resp = await API.get(
        "/broking/api/broking/invoice/by-invoice-no/" + id
      );
      if (resp.data.code === 0) {
        this.dialogLoading.show = false;
        const data = resp.data.invoice;
        this.addState(data);
        this.dialogInvoice = true;
      } else {
        this.dialogLoading.error = true;
        this.dialogLoading.text = resp.data.errorMessage;
      }
    },
    async getInvoicePayment(id) {
      let resp = await API.get(
        "/finance/api/finance/invaccount/getpaymentinfo/debtor?accountNo.equals=" +
          id
      );
      if (resp.data.code === 0) {
        const data = resp.data.listTransaction;
        this.invoicePayment = data;
      }
      this.overlay = false;
    },
    close() {
      this.dialogLoading = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
    },
    closeInvoice() {
      this.dialogInvoice = false;
      this.resetState();
    },
    back() {
      this.$router.replace({
        name: "create-claim-view",
        params: { tabs: "0", from: "policy", },
      });
      this.resetState();
      localStorage.removeItem("single");
    },
    refresh() {
      this.getList().then((data) => {
        console.debug("masukkkkk", data);
        this.itemClaim = data.items;
        this.totalItems = data.total;
      });
    },
    async getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
          "invoiceNo.equals": this.dataSingle.invoiceNo,
        };
        this.listParam = param;
        API.get("claims/api/claims/claims_maintenance/view-list?", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              // console.log(resp, '==========');
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },
    goToAdd() {
      let vm = this;
      if (
        this.invoicePayment.length > 0 &&
        this.invoicePayment[0].amountPaid == 0
      ) {
        this.confirmDialog.message =
          "This invoice has not been paid for premium. Are you sure to continue to create claim?";
        this.confirmDialog.onYes = function () {
          vm.$router.replace({ name: "createSingle" });
        };
        this.confirmDialog.onNo = function () {
          vm.confirmDialog.show = false;
        };
        this.confirmDialog.show = true;
      } else {
        this.$router.replace({ name: "createSingle" });
      }
    },
  },
};
</script>

<style scoped>
.buttonClose {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
div.v-toolbar__content {
  height: 0 !important;
}
th.exchange-rate .v-label {
  font-size: smaller;
}
th.exchange-rate .v-input__append-outer {
  margin-left: auto;
}
</style>