<template>
  <v-card flat>
    <isttoolbar title="Tax" dark color="secondary" icon="mdi-account-cash">
      <v-spacer />
      <div v-if="disableForm">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              min-height="40"
              @click="disableForm = false"
              text
              v-show="checkAuthorities('vat-number-edit')"
            >
              <v-icon>mdi-pen mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" min-height="40" @click="back" text>
              <v-icon>mdi-window-close mdi-36px</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div v-else>
        <v-btn @click="save" outlined class="mx-1" min-width="100px">
          Save
        </v-btn>
        <v-btn @click="back" outlined class="mx-1" min-width="100px">
          Cancel
        </v-btn>
      </div>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View VAT Number' : 'Edit VAT Number'"
      dark
      color="primary"
      class="mb-2 pl-9"
    >
    </isttoolbar>
    <v-form :readonly="disableForm">
      <!-- <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Series No</span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <v-text-field
            v-model="param.seriesNo"
            ref="seriesNo"
            name="seriesNo"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row> -->
      <v-row align="center" class="mx-2">
        <v-col cols="4" class="pa-1"> </v-col>
        <v-col cols="3" class="pa-1">
          <span class="title">From</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <span class="title">To</span>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Series No</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <span class="title">{{ showSeriesNo() }}</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <!-- <v-row class="mx-auto"><span class="title"> From </span></v-row>
          <v-row class="mx-auto"> -->
          <v-text-field
            v-model="param.from"
            ref="from"
            name="from"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
          <!-- </v-row> -->
        </v-col>
        <v-col cols="1" class="pa-1 d-flex justify-center">
          <span class="title"> - </span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <!-- <v-row class="mx-auto"><span class="title"> To </span></v-row>
          <v-row class="mx-auto"> -->
          <v-text-field
            v-model="param.to"
            ref="to"
            name="to"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
          <!-- </v-row> -->
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Last No</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <span class="title">{{ showSeriesNo() }}</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.lastNo"
            ref="lastNo"
            name="lastNo"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Balance</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.balance"
            ref="balance"
            name="balance"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <span>Remaining Numbers</span>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">VAT Run</span>
        </v-col>
        <v-col cols="5" class="pa-1">
          <!-- <span class="title">{{ param.vatRun == 1 ? "YES" : "NO" }}</span> -->
          <v-switch
            ref="vatRun"
            name="vatRun"
            color="success"
            v-model="param.vatRun"
            inset
            dense
            hide-details="auto"
            class="mt-0"
            :readonly="param.balance <= 0"
          >
            <template v-slot:label>
              <span class="title font-weight-bold">{{
                param.vatRun ? "YES" : "NO"
              }}</span>
            </template>
          </v-switch>
        </v-col>
      </v-row>
    </v-form>

    <confirmdialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      v-on:yes="confirmDialog.onYes"
      v-on:no="confirmDialog.onNo"
    >
    </confirmdialog>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.onError"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
// import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import confirmdialog from "@/components/dialog/confirmDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    submitdialog,
    confirmdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      seriesNo: "",
      from: "",
      to: "",
      lastNo: "",
      balance: "",
      vatRun: "",
      oriVatRun: "",
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    amountChanged: false,
    overlay: true,
    disableForm: false,
    submitDialog: {
      show: false,
      mode: "",
      message: "",
      onSuccess: function () {},
      onError: function () {},
    },
    confirmDialog: {
      show: false,
      message: "",
      onYes: function () {},
      onNo: function () {},
    },
  }),

  computed: {
    form() {
      return {
        // seriesNo: this.param.seriesNo,
        // from: this.param.from,
        // to: this.param.to,
      };
    },
  },

  watch: {},

  async created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      this.getItemData(this.$route.query.id);
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.overlay = true;
        this.disableForm = true;
        this.$router.replace({
          query: { id: this.$route.query.id, mode: "d" },
        });
        this.getItemData(this.$route.query.id);
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "vat-number-list", query: {back: true}, });
    },
    getItemData(id) {
      API.get("/finance/api/vat/" + id)
        .then((resp) => {
          if (resp.data.code == 0) {
            let dataResp = resp.data.data;
            if(dataResp.seriesNo) {
              this.param.seriesNo = dataResp.seriesNo.replace("-", "").replace(".", "");
            }
            // this.param.seriesNo = this.format(dataResp.seriesNo, "###.###-##.");
            this.param.from = dataResp.from.toString().padStart(8, "0");
            this.param.to = dataResp.to.toString().padStart(8, "0");
            this.param.lastNo = dataResp.lastNo.toString().padStart(8, "0");
            this.param.balance = dataResp.balance;
            this.param.vatRun = dataResp.vatRun == 1 ? true : false;
            this.param.oriVatRun = dataResp.vatRun == 1 ? true : false;
            this.overlay = false;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    format(value, pattern) {
      if(value) {
        var i = 0,
        v = value.toString().replace("-", "").replace(".", "");
        return pattern.replace(/#/g, () => v[i++]);
      } 
    },
    async save() {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let submitUrl = "/finance/api/vat/vat-number/edit";
      let paramJSON = {
        data: {
          id: parseFloat(this.$route.query.id),
          seriesNo: this.param.seriesNo,
          from: parseFloat(this.param.from),
          to: parseFloat(this.param.to),
          balance: parseFloat(this.param.balance),
          lastNo: parseFloat(this.param.lastNo),
          vatRun: this.param.vatRun ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.param.id = resp.data.data.id;
            // this.submitDialog.mode = "success";
            // this.submitDialog.onSuccess = function () {
            //   vm.getItemData(vm.$route.query.id);
            //   vm.disableForm = true;
            //   vm.submitDialog.show = false;
            // };
            this.submitDialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            vm.getItemData(vm.$route.query.id);
            vm.disableForm = true;
            vm.submitDialog.show = false;
          } else {
            if (
              resp.data.code == -30 &&
              this.param.vatRun == true &&
              this.param.oriVatRun == false
            ) {
              this.confirmDialog.message =
                resp.data.errorMessage + ". Are you sure to activate this VAT?";
              this.confirmDialog.onYes = function () {
                vm.activateVat();
                vm.confirmDialog.show = false;
              };
              this.confirmDialog.onNo = function () {
                vm.confirmDialog.show = false;
              };
              this.confirmDialog.show = true;
              this.submitDialog.show = false;
            } else {
              this.submitDialog.message =
                resp.data.errorMessage.length > 0
                  ? resp.data.errorMessage.toUpperCase()
                  : resp.data.errordescription.toUpperCase();
              this.submitDialog.mode = "error";
              this.submitDialog.onError = function () {
                vm.submitDialog.show = false;
              };
            }
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.message = "";
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },
    activateVat() {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;

      let submitUrl = "/finance/api/vat/vat-number/reactive";
      let paramJSON = {
        data: {
          id: parseFloat(this.$route.query.id),
          seriesNo: this.param.seriesNo,
          from: parseFloat(this.param.from),
          to: parseFloat(this.param.to),
          balance: parseFloat(this.param.balance),
          lastNo: parseFloat(this.param.lastNo),
          vatRun: this.param.vatRun ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.param.id = resp.data.data.id;
            // this.submitDialog.mode = "success";
            // this.submitDialog.onSuccess = function () {
            //   vm.getItemData(vm.$route.query.id);
            //   vm.disableForm = true;
            //   vm.submitDialog.show = false;
            // };
            this.submitDialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            vm.getItemData(vm.$route.query.id);
            vm.disableForm = true;
            vm.submitDialog.show = false;
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
            this.submitDialog.onError = function () {
              vm.submitDialog.show = false;
            };
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.message = "";
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },
    showSeriesNo() {
      let result = "";
      if(this.param.seriesNo.length >= 8) {
        result = this.format(this.param.seriesNo, "###.###-##.");
      } else if(this.param.seriesNo.length >=5 && this.param.seriesNo.length < 8) {
        result = this.format(this.param.seriesNo, "###-##.");
      } else {
        result = this.param.seriesNo;
      }
        
      return result;
    },
  },
};
</script>
