<template>
  <v-card flat>
    <isttoolbar
      title="Role Management"
      dark
      color="secondary"
      icon="mdi-contacts"
      style="position: fixed; width: 100%; z-index: 1"
    >
    </isttoolbar>
    <isttoolbar
      title="Add Role"
      class="mb-2"
      dark
      color="primary"
      style="position: fixed; width: 100%; z-index: 1; top: 124px"
    ></isttoolbar>
    <div style="position: fixed; z-index: 2; margin-top: 6px; right: 10px">
      <v-btn @click="save" outlined dark class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined dark class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </div>
    <v-form style="top: 100px; position: inherit">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Name
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Name"
            ref="name"
            v-model="param.name"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>

      <!-- permission -->
      <v-container fluid>
        <v-data-iterator
          :items="sortedPermissionItems"
          :items-per-page.sync="itemsPerPage"
          hide-default-footer
          loading
        >
          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="levelZeroItem in props.items"
                :key="levelZeroItem.id"
                cols="12"
                sm="12"
                md="12"
                lg="12"
              >
                <v-card color="primary" dark>
                  <isttoolbar dark color="primary" class="title">
                    <!-- <v-card-title class="subheading font-weight-bold"> -->
                    {{ levelZeroItem.labelName }}
                    <v-spacer></v-spacer>
                    <v-checkbox
                      hide-details="auto"
                      v-model="levelZeroItem.checked"
                      @change="checkBoxChange(levelZeroItem)"
                    ></v-checkbox>
                    <!-- </v-card-title> -->
                  </isttoolbar>
                  <v-divider></v-divider>
                  <!-- child -->
                  <v-list-item
                    v-for="levelOneItem in levelZeroItem.child"
                    :key="levelOneItem.id"
                    light
                    dense
                    v-bind:style="{ background: listBgColor(levelOneItem) }"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        class="text-subtitle-1"
                        style="line-height: inherit"
                        v-html="levelOneItem.labelName"
                      ></v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action class="mr-2 my-0">
                      <v-checkbox
                        dense
                        v-model="levelOneItem.checked"
                        @change="checkBoxChange(levelOneItem)"
                      ></v-checkbox>
                    </v-list-item-action>
                  </v-list-item>
                </v-card>
                <!-- child -->
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-container>
      <!-- permission -->
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    param: {
      name: "",
    },
    permissionItems: [],
    sortedPermissionItems: [],
    panel: [],
    itemsPerPage: 10,
    headers: [
      {
        text: "Name",
        align: "start",
        sortable: false,
        value: "labelName",
      },
    ],
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    overlay: true,
  }),
  computed: {
    form() {
      return {
        name: this.param.name,
      };
    },
    listBgColor: function () {
      return function (item) {
        var bgColor = "#ffffff";
        if (item.level == 1) {
          bgColor = "#80abd2";
        } else if (item.level == 2) {
          bgColor = "#c2dffc";
        }
        return bgColor;
      };
    },
  },
  created() {
    this.getPermissionList();
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async getPermissionList() {
      let param = {
        size: 1000,
      };
      await API.get("/user/api/user-management/permission/", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.permissionItems = resp.data.data;
            var levelZero = [];
            var levelAboveZero = [];
            this.sortedPermissionItems = this.permissionItems;
            this.sortedPermissionItems.sort(function (a, b) {
              return a.order - b.order;
            });
            for (var permItem of this.permissionItems) {
              if (permItem.level == 0) {
                levelZero.push(permItem);
              } else {
                levelAboveZero.push(permItem);
              }
            }
            this.sortedPermissionItems = [];
            for (var zeroItem of levelZero) {
              zeroItem["checked"] = false;
              zeroItem["child"] = [];
              for (var oneItem of levelAboveZero) {
                if (oneItem.level == 1 && oneItem.parentId == zeroItem.id) {
                  oneItem["levelZero"] = zeroItem.id;
                  oneItem["checked"] = false;
                  zeroItem["child"].push(oneItem);
                  for (var twoItem of levelAboveZero) {
                    if (twoItem.level == 2 && twoItem.parentId == oneItem.id) {
                      twoItem["levelZero"] = zeroItem.id;
                      twoItem["levelOne"] = oneItem.id;
                      twoItem["checked"] = false;
                      zeroItem["child"].push(twoItem);
                      for (var threeItem of levelAboveZero) {
                        if (
                          threeItem.level == 3 &&
                          threeItem.parentId == twoItem.id
                        ) {
                          threeItem["levelZero"] = zeroItem.id;
                          threeItem["levelOne"] = oneItem.id;
                          threeItem["levelTwo"] = twoItem.id;
                          threeItem["checked"] = false;
                          zeroItem["child"].push(threeItem);
                        }
                      }
                    }
                  }
                }
              }
              this.sortedPermissionItems.push(zeroItem);
            }
            this.itemsPerPage = this.sortedPermissionItems.length;
            console.log("sortedPermissionItems");
            console.log(this.sortedPermissionItems);
          }
        }
      );
      this.overlay = false;
    },
    back() {
      this.$router.replace({
        name: "role-management-list",
      });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
      this.dialog.success = false;
      this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      var permissionParam = this.sortedPermissionItems;
      for (let perm of this.sortedPermissionItems) {
        permissionParam.push.apply(permissionParam, perm.child);
      }
      permissionParam = JSON.parse(JSON.stringify(permissionParam));
      permissionParam = permissionParam.filter((i) => i.checked);
      for (let perm of permissionParam) {
        this.$delete(perm, "levelZero");
        this.$delete(perm, "levelOne");
        this.$delete(perm, "levelTwo");
        this.$delete(perm, "checked");
        this.$delete(perm, "child");
      }

      let paramJSON = {
        role: {
          name: this.param.name,
          permissions: permissionParam,
          isActive: 1,
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/user/api/user-management/role/add/", param);
      if (resp.data.code == 0) {
        this.dialog= { show: false, success: false, error: false, errorMessage: "" };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.back();
      } else {
        this.dialog.error = true;
        this.dialog.errorMessage =
          resp.data.errorMessage.length > 0
            ? resp.data.errorMessage.toUpperCase()
            : resp.data.errordescription.toUpperCase();
      }
    },
    checkBoxChange(item) {
      var levelFilter = "";
      if (item.level == 0) levelFilter = "levelZero";
      else if (item.level == 1) levelFilter = "levelOne";
      else if (item.level == 2) levelFilter = "levelTwo";
      for (var i = 0; i < this.sortedPermissionItems.length; i++) {
        if (
          item.id == this.sortedPermissionItems[i].id ||
          item.levelZero == this.sortedPermissionItems[i].id
        ) {
          console.log(this.sortedPermissionItems[i].name + " - " + levelFilter);
          // centang child menyesuaikan kondisi parent
          for (
            var iChild = 0;
            iChild < this.sortedPermissionItems[i].child.length;
            iChild++
          ) {
            if (
              this.sortedPermissionItems[i].child[iChild][levelFilter] ==
              item.id
            ) {
              this.sortedPermissionItems[i].child[iChild].checked =
                item.checked;
            }
          }
          // jika yang dicentang adalah salah satu child
          if (item.checked) {
            if (
              item.level > 0 &&
              this.sortedPermissionItems[i].id == item.levelZero
            ) {
              this.sortedPermissionItems[i].checked = item.checked;
            }
            if (item.level > 1) {
              for (
                iChild = 0;
                iChild < this.sortedPermissionItems[i].child.length;
                iChild++
              ) {
                if (
                  this.sortedPermissionItems[i].child[iChild].id ==
                  item.levelOne
                ) {
                  this.sortedPermissionItems[i].child[iChild].checked =
                    item.checked;
                }
              }
            }
            if (item.level > 2) {
              for (
                iChild = 0;
                iChild < this.sortedPermissionItems[i].child.length;
                iChild++
              ) {
                if (
                  this.sortedPermissionItems[i].child[iChild].id ==
                  item.levelTwo
                ) {
                  this.sortedPermissionItems[i].child[iChild].checked =
                    item.checked;
                }
              }
            }
          }
        }
        this.$set(this.sortedPermissionItems, i, this.sortedPermissionItems[i]);
      }
      console.log("this.sortedPermissionItems");
      console.log(this.sortedPermissionItems);
    },
  },
};
</script>