<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5" disabled>
      <v-row class="mb-2">
        <v-col cols="6">
          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">
                Currency
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <!-- v-show="invoice.statusPage === 'view'" -->
              <v-text-field
                hide-details="auto"
                label=""
                ref="currency"
                v-model="invoice.currency"
                solo
                flat
                dense
                outlined
                class="ma-0"
              ></v-text-field>
              <!-- <v-combobox
              v-show="invoice.statusPage === 'edit'"
                hide-details="auto"
                label="Select Currency ..."
                @input="setDataCurrency"
                ref="currency"
                name="currency"
                v-model="invoice.currency"
                :search-input.sync="search.currency.input"
                @keyup="autocompSearch(search.currency)"
                :items="search.currency.items"
                item-value="code"
                item-text="code"
                :loading="search.currency.loading"
                class="ma-0"
                :rules="[rules.required]"
                flat
                outlined
                dense
                solo
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="text-caption mb-0">
                      {{ item.code }} - {{ item.value }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox> -->
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Amount</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="amount"
                ref="toClientPremium"
                v-model="toClientPremiumValue"
                @input="toClientPremium"
                v-money="money"
                solo
                flat
                dense
                outlined
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Adm/Others</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Adm/Others"
                v-model="toClientAdmValue"
                @input="toClientAdm"
                v-money="money"
                solo
                flat
                dense
                outlined
                :class="
                  toClientAdmValue[0] == '-'
                    ? 'ma-0 input-right my-text-style'
                    : 'ma-0 input-right'
                "
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Gross</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Gross"
                :value="formatMoney(Number(invoice.toClientGross))"
                solo
                flat
                dense
                outlined
                readonly
                :class="invoice.toClientGross[0] == '-' ? 'ma-0 input-right my-text-style' : 'ma-0 input-right'"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">{{ `VAT (${invoice.clientVatPercentage}%)` }}</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="VAT"
                :value="formatMoney(Number(invoice.toClientVat))"
                solo
                flat
                dense
                outlined
                readonly
                class="ma-0 input-right"
              ></v-text-field>
              <!-- v-model="toClientVatValue"
                v-money="money" -->
              <!-- @input="toClientVat" -->
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title sizeTitle">Gross Total</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="toClientGrossTotal"
                :value="formatMoney(toClientGrossTotal)"
                solo
                flat
                dense
                outlined
                style="font-weight: bold"
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="6">
          <v-row align="center" class="mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Exchange Rate"
                ref="exchangeRate"
                :value="formatMoney(Number(invoice.exchangeRate))"
                solo
                flat
                dense
                outlined
                readonly
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="dialogExhangeRate.show" width="unset" min-width="290px">
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit">{{
          dialogExhangeRate.text
        }}</v-card-title>
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="reset"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  directives: { money: VMoney },
  created() {
    this.currency;
    this.toClientPremiumValue = this.invoice.toClientPremium.toFixed(2);
    this.toClientAdmValue = this.invoice.toClientAdm.toFixed(2);
    this.toClientVatValue = this.invoice.toClientVat.toFixed(2);
  },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    search: {
      currency: {
        name: "currency",
        input: "",
        items: [],
        url: "/config/api/master-currency/?code.contains=",
        loading: false,
      },
    },
    toClientPremiumValue: 0,
    toClientAdmValue: 0,
    toClientVatValue: 0,
    dialogExhangeRate: { show: false, text: "" },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
  }),
  mounted() {
    // this.getCurrency();
  },
  computed: {
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    toClientGrossTotal: function () {
      return (
        Number(this.invoice.toClientPremium) +
        Number(this.invoice.toClientAdm) +
        Number(this.invoice.toClientVat)
      );
    },
    premiumClientInstallment: function () {
      return (
        Number(this.invoice.toClientPremium) + Number(this.invoice.toClientAdm)
      );
    },
  },
  watch: {
    toClientGrossTotal: function (newValue) {
      this.setToClientGrossTotal(newValue);
    },
    premiumClientInstallment: function (value) {
      let newAmount = Number(value.toFixed(2));
      this.setPremiumClientInstallment(newAmount);
    },
    "invoice.invoiceNo": {
      handler: function (after, before) {
        // alert("after" + after + "before" + before);
        if (
          after != "" &&
          after != null &&
          after != 0 &&
          after != "0" &&
          after != before
        ) {
          this.currency;
          this.toClientPremiumValue = this.invoice.toClientPremium.toFixed(2);
          this.toClientAdmValue = this.invoice.toClientAdm.toFixed(2);
          this.toClientVatValue = this.invoice.toClientVat.toFixed(2);
        }
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      setCurrency: types.ACTION_CURRENCY,
      setExchangeRate: types.ACTION_EXCHANGE_RATE,
      setToClientADM: types.ACTION_TO_CLIENT_ADM,
      setToClientGrossTotal: types.ACTION_TO_CLIENT_GROSS_TOTAL,
      setToClientPremium: types.ACTION_TO_CLIENT_PREMIUM,
      setToClientVat: types.ACTION_TO_CLIENT_VAT,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
    }),
    setDataCurrency(value) {
      if (value) {
        this.getExchangeRate(value.code);
      }
    },
    toClientPremium(value) {
      let newValue = this.convertValue(value);
      let vat = (Number(newValue) * this.invoice.clientVatPercentage) / 100;
      this.setToClientVat(vat);
      this.setToClientPremium(newValue);
    },
    toClientAdm(value) {
      let newValue = this.convertValue(value);
      this.setToClientADM(newValue);
    },
    toClientVat(value) {
      let newValue = this.convertValue(value);
      this.setToClientVat(newValue);
    },
    convertValue(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    async getCurrency() {
      this.search.currency.loading = true;
      let resp = await API.get("/config/api/master-currency/?page=0&size=10");
      if (resp.data.code === 0) {
        this.search.currency.loading = false;
        const data = resp.data.data;
        this.search.currency.items = data;
      }
    },
    async getExchangeRate(currency) {
      if (currency == "IDR") {
        this.setCurrency(currency);
        this.setExchangeRate(Number(1));
      } else {
        let paramJSON = {
          currencyExchangeRate: {
            currencyFrom: currency,
          },
        };
        let param = JSON.stringify(paramJSON);
        await API.post(
          "/config/api/master-currency-exchangerate/effective-rate",
          param
        ).then((resp) => {
          if (resp.data.code == 0) {
            this.setCurrency(currency);
            this.setExchangeRate(resp.data.data.rateDefault);
          } else {
            this.dialogExhangeRate.show = true;
            this.dialogExhangeRate.text = resp.data.errorMessage;
            this.search.currency.input = "";
            this.search.currency.items = [];
            this.setCurrency("");
            this.setExchangeRate("");
          }
        });
      }
    },
    reset() {
      this.dialogExhangeRate.show = false;
      this.dialogExhangeRate.text = "";
      this.getCurrency();
    },
  },
};
</script>

<style scoped>
.spanColor {
  color: red;
}
::v-deep .input-right input {
  text-align: right;
}
::v-deep .my-text-style input {
  color: red;
}
.sizeTitle {
  font-size: 1.3rem !important;
}
</style>