<template>
  <v-card flat>
    <isttoolbar
      title="Currency Manager"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer></v-spacer>
      <v-btn v-show="tab == 0 && checkAuthorities('currency-add')" @click="goToAdd" outlined>
        <v-icon left>mdi-plus</v-icon>Add Currency
      </v-btn>
      <v-btn v-show="tab == 1 && checkAuthorities('exchange-rate-add')" @click="goToAddRate" outlined>
        <v-icon left>mdi-plus</v-icon>Add Exchange Rate
      </v-btn>
    </isttoolbar>
    <v-alert v-model="alert" type="success" dismissible
      >Success to delete item</v-alert
    >
    <v-alert v-model="errAlert" type="error" dismissible
      >Failed to delete item</v-alert
    >
    <v-tabs v-model="tab" background-color="primary" dark>
      <v-tab v-for="item in itemsTabs" :key="item.tab">{{ item.tab }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-data-table
          :headers="headers"
          :items="items"
          class="elevation-1"
          :options.sync="options"
          :server-items-length="totalItems"
          :loading="loading"
          hide-default-header
          :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
        >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th v-for="header in headers" :key="header.text">
                  <v-text-field
                    v-if="header.filterType == 'input'"
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    v-on:keyup="onkeyupSearch"
                  >
                    <v-btn
                      slot="append-outer"
                      icon
                      @click="sortClick(header.value)"
                    >
                      <v-icon
                        v-if="
                          header.value == options.sortBy[0] &&
                          !options.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-ascending</v-icon
                      >
                      <v-icon
                        v-else-if="
                          header.value == options.sortBy[0] &&
                          options.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-descending</v-icon
                      >
                      <v-icon
                        v-else-if="header.value != options.sortBy[0]"
                        dense
                        >mdi-sort</v-icon
                      >
                    </v-btn>
                  </v-text-field>
                  <v-autocomplete
                    v-else-if="header.filterType == 'select'"
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    v-on:change="onkeyupSearch"
                    :items="statusItems"
                    item-value="value"
                    item-text="text"
                    clearable
                  >
                    <v-btn
                      slot="append-outer"
                      icon
                      @click="sortClick(header.value)"
                    >
                      <v-icon
                        v-if="
                          header.value == options.sortBy[0] &&
                          !options.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-ascending</v-icon
                      >
                      <v-icon
                        v-else-if="
                          header.value == options.sortBy[0] &&
                          options.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-descending</v-icon
                      >
                      <v-icon
                        v-else-if="header.value != options.sortBy[0]"
                        dense
                        >mdi-sort</v-icon
                      >
                    </v-btn>
                  </v-autocomplete>
                  <span v-else>{{ header.text }}</span>
                </th>
              </tr>
            </thead>
          </template>
          <template v-slot:item.isActive="{ item }">
            <span v-if="item.isActive == 1" class="success--text">Active</span>
            <span v-else class="red--text">Inactive</span>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-menu bottom left :offset-x="true">
              <template v-slot:activator="{ on, attrs }">
                <v-icon class="mr-2" v-bind="attrs" v-on="on"
                  >mdi-dots-vertical</v-icon
                >
              </template>
              <v-list>
                <v-list-item @click="editItem(item, 'd')">
                  <v-list-item-title>View</v-list-item-title>
                </v-list-item>
                <v-list-item @click="editItem(item, 'e')" v-show="checkAuthorities('currency-edit')">
                  <v-list-item-title>Edit</v-list-item-title>
                </v-list-item>
                <!-- <v-list-item @click="toDelete=item; dialog = true">
                    <v-list-item-title>DELETE</v-list-item-title>
                </v-list-item>-->
              </v-list>
            </v-menu>
          </template>
          <template v-slot:no-data></template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item>
        <v-data-table
          :headers="headersRate"
          :items="itemRate"
          class="elevation-1"
          :options.sync="optionsRate"
          :server-items-length="totalItemsRate"
          :loading="loadingRate"
          hide-default-header
          :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
        >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th
                  v-for="header in headers"
                  :key="header.text"
                  class="px-1 text-subtitle-2 smaller-label"
                >
                  <v-text-field
                    v-if="header.filterType == 'input'"
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    v-on:keyup="onkeyupSearchRate"
                  >
                    <v-btn
                      slot="append-outer"
                      icon
                      @click="sortClickRate(header.value)"
                    >
                      <v-icon
                        v-if="
                          header.value == optionsRate.sortBy[0] &&
                          !optionsRate.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-ascending</v-icon
                      >
                      <v-icon
                        v-else-if="
                          header.value == optionsRate.sortBy[0] &&
                          optionsRate.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-descending</v-icon
                      >
                      <v-icon
                        v-else-if="header.value != optionsRate.sortBy[0]"
                        dense
                        >mdi-sort</v-icon
                      >
                    </v-btn>
                  </v-text-field>
                  <v-autocomplete
                    v-else-if="header.filterType == 'select'"
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    v-on:change="onkeyupSearchRate"
                    :items="statusItems"
                    item-value="value"
                    item-text="text"
                    clearable
                  >
                    <v-btn
                      slot="append-outer"
                      icon
                      @click="sortClickRate(header.value)"
                    >
                      <v-icon
                        v-if="
                          header.value == optionsRate.sortBy[0] &&
                          !optionsRate.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-ascending</v-icon
                      >
                      <v-icon
                        v-else-if="
                          header.value == optionsRate.sortBy[0] &&
                          optionsRate.sortDesc[0]
                        "
                        dense
                        color="primary"
                        >mdi-sort-descending</v-icon
                      >
                      <v-icon
                        v-else-if="header.value != optionsRate.sortBy[0]"
                        dense
                        >mdi-sort</v-icon
                      >
                    </v-btn>
                  </v-autocomplete>
                  <span v-else>{{ header.text }}</span>
                </th>
              </tr>
            </thead>
          </template>
          <template v-slot:item.isActive="{ item }">
            <span v-if="item.isActive == 1" class="success--text">Active</span>
            <span v-else class="red--text">Inactive</span>
          </template>
          <template v-slot:item.rateDefault="{ item }">
            <span>{{ currencyFormat(item.rateDefault) }}</span>
          </template>
          <template v-slot:item.rateAlternate="{ item }">
            <span>{{ currencyFormat(item.rateAlternate) }}</span>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-menu bottom left :offset-x="true">
              <template v-slot:activator="{ on, attrs }">
                <v-icon class="mr-2" v-bind="attrs" v-on="on"
                  >mdi-dots-vertical</v-icon
                >
              </template>
              <v-list>
                <v-list-item @click="editItemRate(item, 'd')">
                  <v-list-item-title>View</v-list-item-title>
                </v-list-item>
                <v-list-item @click="editItemRate(item, 'e')" v-show="checkAuthorities('exchange-rate-edit')">
                  <v-list-item-title>Edit</v-list-item-title>
                </v-list-item>
                <!-- <v-list-item @click="toDelete=item; dialogRate = true">
                    <v-list-item-title>DELETE</v-list-item-title>
                </v-list-item>-->
              </v-list>
            </v-menu>
          </template>
          <template v-slot:no-data></template>
        </v-data-table>
      </v-tab-item>
    </v-tabs-items>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogRate" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary darken-1" text @click="dialogRate = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItemRate(toDelete);
              dialogRate = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar,
  },

  data: () => ({
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    dialogRate: false,
    headers: [
      {
        text: "Currency Code",
        align: "start",
        value: "code",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },
      {
        text: "Currency Name",
        value: "value",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },
      {
        text: "Short Name",
        value: "code",
        searchable: true,
        searchValue: "",
        filterType: "input",
      },
      {
        text: "Record Status",
        value: "isActive",
        searchable: true,
        searchValue: "",
        filterType: "select",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchable: false,
        searchValue: "",
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    headersRate: [
      {
        text: "Currency From",
        align: "start",
        value: "currencyFrom",
        searchable: true,
        searchValue: "",
        filterType: "input",
        dataType: "string",
      },
      {
        text: "Currency To",
        value: "currencyTo",
        searchable: true,
        searchValue: "",
        filterType: "input",
        dataType: "string",
      },
      {
        text: "Default Rate",
        value: "rateDefault",
        searchable: true,
        searchValue: "",
        filterType: "input",
        dataType: "int",
      },
      {
        text: "TAX Rate",
        value: "rateAlternate",
        searchable: true,
        searchValue: "",
        filterType: "input",
        dataType: "int",
      },
      {
        text: "Period Year",
        value: "periodYear",
        searchable: true,
        searchValue: "",
        filterType: "input",
        dataType: "int",
      },
      {
        text: "Period Month",
        value: "periodMonth",
        searchable: true,
        searchValue: "",
        filterType: "input",
        dataType: "int",
      },
      {
        text: "Record Status",
        value: "isActive",
        searchable: true,
        searchValue: "",
        filterType: "select",
        dataType: "int",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchable: false,
        searchValue: "",
      },
    ],
    itemRate: [],
    totalItemsRate: 0,
    optionsRate: {},
    loadingRate: true,
    tab: null,
    itemsTabs: [
      { tab: "Currency", content: "Tab 1 Content" },
      { tab: "Exchange Rate", content: "Tab 2 Content" },
    ],
    statusItems: [
      { value: 1, text: "Active" },
      { value: 0, text: "Inactive" },
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    optionsRate: {
      handler() {
        this.refreshRate();
      },
      deep: true,
    },
  },

  created() {
    // this.refresh();
    if (this.$route.params.fromRoute == "exchangerate") {
      this.tab = 1;
    }

    if(this.$route.query.back == true) this.backFromAction();
  },

  methods: {
    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
    refreshRate() {
      this.getListRate().then((data) => {
        this.itemRate = data.items;
        this.totalItemsRate = data.total;
      });
    },

    // getList() {
    //   API.get("/api/master-currency/", null).then((resp) => {
    //     if (resp.data.code == 0) {
    //       let items = resp.data.data;
    //       this.items = items;
    //     }
    //   });
    // },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value +
                (value.filterType == "select"
                  ? ".equals"
                  : ".contains")]: value.searchValue,
              };
            })
          );
        }
        API.get("/config/api/master-currency/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log("resp", resp);
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },

    // getListRate() {
    //   API.get("/api/master-currency-exchangerate/", null).then((resp) => {
    //     if (resp.data.code == 0) {
    //       let itemRate = resp.data.data;
    //       this.itemRate = itemRate;
    //     }
    //   });
    // },
    getListRate() {
      this.loadingRate = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.optionsRate;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        const findHeaderValueNotEmpty = this.headersRate.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value +
                (value.dataType == "int"
                  ? ".equals"
                  : ".contains")]: value.searchValue,
              };
            })
          );
        }
        API.get("/config/api/master-currency-exchangerate/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loadingRate = false;
          })
          .catch((error) => {
            console.log(error);
            this.loadingRate = false;
          });
      });
    },

    goToAdd() {
      this.$router.replace({ name: "currency-add" });
    },
    goToAddRate() {
      this.$router.replace({ name: "exchange-rate-add" });
    },

    // viewItem(item) {
    //   this.$router.push({
    //     name: "currency-view",
    //     params: { item: item },
    //     query: { id: item.id }
    //   });
    // },
    // viewItemRate(item) {
    //   this.$router.push({
    //     name: "exchange-rate-view",
    //     params: { item: item },
    //     query: { id: item.id }
    //   });
    // },

    editItem(item, mode) {
      this.$router.push({
        name: "currency-edit",
        params: { item: item },
        query: { id: item.id, mode: mode },
      });

      this.storeTable("currency");
    },
    editItemRate(item, mode) {
      this.$router.push({
        name: "exchange-rate-edit",
        params: { item: item },
        query: { id: item.id, mode: mode },
      });

      this.storeTable("exchangeRate");
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("/config/api/master-currency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
              this.refresh();
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },
    deleteItemRate(item) {
      if (item.id != null) {
        API.post(
          "/config/api/master-currency-exchangerate/delete/" + item.id
        ).then((resp) => {
          if (resp.data.code == 0) {
            this.alert = true;
            setTimeout(() => {
              this.alert = false;
            }, 2000);
            this.refreshRate();
          } else {
            this.errAlert = true;
            setTimeout(() => {
              this.errAlert = false;
            }, 2000);
          }
        });
      }
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },

    onkeyupSearchRate() {
      this.optionsRate.page = 1;
      this.refreshRate();
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },
    sortClickRate(value) {
      if (this.optionsRate.sortBy[0] == value) {
        if (this.optionsRate.sortDesc[0] == false) {
          this.optionsRate.sortDesc[0] = true;
        } else if (this.optionsRate.sortDesc[0] == true) {
          this.optionsRate.sortBy = [];
          this.optionsRate.sortDesc = [];
        }
      } else {
        this.optionsRate.sortBy[0] = value;
        this.optionsRate.sortDesc[0] = false;
      }
      this.refreshRate();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },

    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        if(dataViewList.currencyDataList) {
          let dataList = dataViewList.currencyDataList;
          this.options = dataList.options;
          this.loading = false;
        }

        if(dataViewList.exchangeDataList) {
          let dataList = dataViewList.exchangeDataList;
          this.optionsRate = dataList.options;
          this.loadingRate = false;
        }

        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }  
    },

    storeTable(type) {
      if(type == "currency") {
        let viewListData = {
          currencyDataList : {
            "options": this.options,
          }
        }
        localStorage.setItem("viewListData", JSON.stringify(viewListData))
      } else if (type == "exchangeRate") {
        let viewListData = {
          exchangeDataList : {
            "options": this.optionsRate,
          }
        }
        localStorage.setItem("viewListData", JSON.stringify(viewListData))
      }
        
    },

  },
};
</script>