<template>
  <v-card flat>
    <isttoolbar title="Finance Claim" dark color="secondary" icon="mdi-finance">
      <v-spacer />
      <v-dialog v-model="journalDialog" persistent max-width="800">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-show="false"
            outlined
            class="mx-1"
            min-width="100px"
            v-bind="attrs"
            v-on="on"
            @click="setJournalItem"
          >
            View Journal
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline blue--text text--darken-4">
            Journal Entry
          </v-card-title>
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="journalItems"
              hide-default-footer
              class="elevation-1"
            >
              <template v-slot:item.coa="{ item }">
                <v-autocomplete
                  v-model="item.coa"
                  single-line
                  label="COA"
                  :loading="search.coa.loading"
                  :items="search.coa.items"
                  item-value="coaCode"
                  :item-text="coaTextItem"
                  v-on:change="coaChange(item, 'edit')"
                  dense
                  outlined
                  hide-details="auto"
                  background-color="white"
                ></v-autocomplete>
              </template>
              <!-- <template v-slot:item.type="{ item }">
                <v-autocomplete
                  v-model="item.type"
                  single-line
                  label="Type"
                  dense
                  outlined
                  hide-details="auto"
                  :items="search[headers[3].value].items"
                  item-value="code"
                  item-text="value"
                  background-color="white"
                ></v-autocomplete>
              </template> -->
              <template v-slot:item.amount="{ item }">
                <v-text-field
                  v-model="item.amount"
                  single-line
                  label="Amount"
                  dense
                  outlined
                  hide-details="auto"
                  background-color="white"
                  v-money="money"
                ></v-text-field>
              </template>
              <template v-slot:body.append>
                <tr>
                  <!-- <td v-for="header in headers" :key="header.text"> -->
                  <td>
                    <!-- <v-text-field
                      @keyup="headers[0].rules = []"
                      v-model="headers[0].add"
                      single-line
                      :label="headers[0].text"
                      :ref="headers[0].value"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                      :rules="headers[0].rules"
                    ></v-text-field> -->
                  </td>
                  <td>
                    <v-autocomplete
                      v-model="headers[1].add"
                      single-line
                      :label="headers[1].text"
                      :ref="headers[1].value"
                      :loading="search[headers[1].value].loading"
                      v-on:change="coaChange(headers[1].add, 'add')"
                      :items="search[headers[1].value].items"
                      item-value="coaCode"
                      :item-text="coaTextItem"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                    ></v-autocomplete>
                  </td>
                  <td>
                    <v-text-field
                      v-model="headers[2].add"
                      single-line
                      :label="headers[2].text"
                      :ref="headers[2].value"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                      :rules="headers[2].rules"
                      readonly
                    ></v-text-field>
                  </td>
                  <!-- <td>
                    <v-autocomplete
                      v-model="headers[3].add"
                      single-line
                      :label="headers[3].text"
                      :ref="headers[3].value"
                      :loading="search[headers[3].value].loading"
                      :items="search[headers[3].value].items"
                      item-value="code"
                      item-text="value"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                    ></v-autocomplete>
                  </td> -->
                  <td>
                    <v-text-field
                      @keyup="headers[3].rules = []"
                      v-model="headers[3].add"
                      single-line
                      :label="headers[3].text"
                      :ref="headers[3].value"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                      :rules="headers[3].rules"
                      v-money="money"
                    ></v-text-field>
                  </td>
                  <td>
                    <v-text-field
                      @keyup="headers[4].rules = []"
                      v-model="headers[4].add"
                      single-line
                      :label="headers[4].text"
                      :ref="headers[4].value"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                      :rules="headers[4].rules"
                      v-money="money"
                    ></v-text-field>
                  </td>
                  <td>
                    <v-text-field
                      @keyup="headers[5].rules = []"
                      v-model="headers[5].add"
                      single-line
                      :label="headers[5].text"
                      :ref="headers[5].value"
                      dense
                      outlined
                      hide-details="auto"
                      background-color="white"
                      :rules="headers[5].rules"
                      v-money="money"
                    ></v-text-field>
                  </td>
                  <td>
                    <v-btn @click="addJournal" outlined icon color="primary">
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </template>
              <template v-slot:item.action="{ item }">
                <v-btn
                  outlined
                  icon
                  color="primary"
                  @click="removeJournal(item)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="
                saveJournal();
                journalDialog = false;
              "
            >
              Save
            </v-btn>
            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="journalDialog = false"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="Create New Cash Receipt Claim Debtor"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transDate"
            ref="transDate"
            name="transDate"
            label="Insert Transaction Date"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
            :loading="transDateLoading"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Cash Receipt No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="{Auto Generated}"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row v-show="$route.query.mode == null" align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Underwriter <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Underwriter"
            v-model="param.underwriter"
            ref="underwriter"
            name="underwriter"
            @keyup="autocompSearch(search.underwriter)"
            :search-input.sync="
              search.underwriter.params['codeOrName.contains']
            "
            :items="search.underwriter.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.underwriter.loading"
            class="ma-0"
            :rules="[rules.required]"
            return-object
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row v-show="$route.query.mode != null" align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            label="Select Customer"
            hide-details="auto"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <!-- <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Currency"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :rules="[rules.required]"
            :loading="search.currency.loading"
            item-value="code"
            :item-text="currencyTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row> -->
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Transaction Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Transaction Type"
            v-model="param.transType"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :rules="[rules.required]"
            :loading="search.transType.loading"
            item-value="code"
            :item-text="transTypeTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :readonly="$route.query.mode != null"
            :append-icon="$route.query.mode != null ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Received Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Received Type"
            v-model="param.receivedType"
            ref="receivedType"
            name="receivedType"
            :items="search.receivedType.items"
            :rules="[rules.required]"
            :loading="search.receivedType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :readonly="$route.query.mode == 'v'"
            :append-icon="$route.query.mode == 'v' ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank Source </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-if="$route.query.mode == 'v'"
            label="Select Bank Source"
            hide-details="auto"
            ref="bankSourceFull"
            name="bankSourceFull"
            class="ma-0"
            v-model="param.bankSource"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
          <v-autocomplete
            v-else
            hide-details="auto"
            label="Select Bank Source"
            v-model="param.bankSource"
            ref="bankSource"
            name="bankSource"
            :items="search.bankSource.items"
            :loading="search.bankSource.loading"
            item-value="bankCode"
            :item-text="bankSourceTextItem"
            return-object
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            label="Insert Reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            :readonly="$route.query.mode == 'v'"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
            :disabled="$route.query.mode == 'v'"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                :rules="[rules.required]"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                  v-show="$route.query.mode != 'v'"
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Description <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            label="Description"
            ref="desc"
            name="desc"
            class="ma-0"
            v-model="param.desc"
            :rules="[rules.required]"
            :rows="4"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="6" class="py-0">
          <v-row align="center">
            <v-col cols="4" class="pa-1">
              <span class="title">
                Amount <span class="error--text">*</span></span
              >
            </v-col>
            <v-col cols="3" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                label="Currency"
                v-model="param.currency"
                ref="currency"
                name="currency"
                :items="search.currency.items"
                :rules="[rules.required]"
                :loading="search.currency.loading"
                v-on:change="changeCurrency"
                item-value="code"
                item-text="code"
                class="ma-0"
                flat
                outlined
                dense
                solo
                :readonly="$route.query.mode != null"
                :append-icon="$route.query.mode != null ? '' : 'mdi-menu-down'"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.code + " - " + item.value }}</p>
                  </v-list-item-content>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Amount"
                ref="amount"
                name="amount"
                class="ma-0"
                v-model="param.amount"
                v-money="amountChanged ? money : ''"
                @input="amountChanged = true"
                @keyup="errorAmount = ''"
                :error-messages="errorAmount"
                flat
                outlined
                dense
                solo
                :readonly="$route.query.mode != null"
              >
                <!-- :rules="[rules.requiredAmount]" -->
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <!-- <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Balance"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col> -->
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Exchange Rate <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Exchange Rate"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            @input="rateChanged = true"
            :rules="[rules.requiredAmount]"
            :loading="excRateLoading"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Received <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-if="$route.query.mode == 'v'"
            label="Select Bank Received"
            hide-details="auto"
            ref="bankReceivedFull"
            name="bankReceivedFull"
            class="ma-0"
            v-model="param.bankReceived"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
          <v-autocomplete
            v-else
            hide-details="auto"
            label="Select Bank Received"
            v-model="param.bankReceived"
            ref="bankReceived"
            name="bankReceived"
            :items="search.bankReceived.items"
            @keyup="autocompSearch(search.bankReceived)"
            :rules="[rules.required]"
            :loading="search.bankReceived.loading"
            item-value="coaCode"
            :item-text="coaTextItem"
            :search-input.sync="search.bankReceived.params['coaName.contains']"
            class="ma-0"
            return-object
            flat
            outlined
            dense
            solo
            @click="bankReceivedOnClick"
            :readonly="this.param.currency == ''"
          ></v-autocomplete>
        </v-col>
      </v-row>

      <br />
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Void By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="voidName"
            name="voidName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="voidDate"
            name="voidDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Posting By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="postName"
            name="postName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            ref="postDate"
            name="postDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card v-show="!dialog.success && !dialog.error">
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card v-show="dialog.success">
        <v-card-title class="justify-center" style="word-break: inherit"
          >Your Data has been Saved</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="editItem"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
      <v-card v-show="dialog.error">
        <v-card-title class="justify-center" style="word-break: inherit"
          >Your Data Failed to Save</v-card-title
        >
        <v-card-text
          class="d-flex justify-center error--text"
          style="word-break: inherit; text-align: center"
        >
          {{ dialog.errorMessage }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialog.show = dialog.error = false"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- info dialog -->
    <v-dialog v-model="infoDialog.show" persistent max-width="500">
      <v-card>
        <v-card-title
          class="justify-center"
          style="word-break: inherit; text-align: center"
        >
          {{ infoDialog.message }}
          <!-- <v-icon large color="info"> mdi-information </v-icon> -->
        </v-card-title>
        <v-card-text
          class="d-flex justify-center title"
          style="word-break: inherit; text-align: center"
        >
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            class="mx-2"
            color="primary"
            min-width="100px"
            outlined
            @click="infoDialogYes"
            >Yes</v-btn
          >
          <v-btn
            class="mx-2"
            color="error"
            min-width="100px"
            outlined
            @click="infoDialogNo"
            >No</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";
import formatDateHelper from "@/helper/formatDateHelper";

export default {
  components: {
    isttoolbar,
    submitdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      transDate: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      status: "ENTRY",
      receiptNo: "",
      custType: "INSURANCE",
      customerCode: "",
      customer: "",
      customerName: "",
      client: "",
      agent: "",
      underwriter: "",
      currency: "",
      transType: "",
      receivedType: "",
      bankSource: "",
      bankSourceCode: "",
      bankSourceName: "",
      reference: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      desc: "",
      bankReceived: "",
      bankReceivedCode: "",
      bankReceivedName: "",
      amount: "0.00",
      balance: "0.00",
      excRate: "0.00",
      entryName: "",
      entryDate: new Date().toISOString().substr(0, 10),
      postName: "",
      postDate: new Date().toISOString().substr(0, 10),
      journals: [],
    },
    search: {
      client: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/client",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/agent",
        loading: true,
        request: null,
      },
      underwriter: {
        input: "",
        items: [],
        params: {
          "isActive.equals": 1,
          "codeOrName.contains": "",
        },
        url: "/clients/api/account/insurance",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      transType: {
        items: [
          { code: "CCSH", value: "Cash Receipt" },
          { code: "CREV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        params: {
          "isActive.equals": 1,
          "module.equals": "RECEIVED_TYPE",
          sort: "code,asc,ignoreCase",
        },
        url: "/config/api/master-parameter/",
        loading: true,
      },
      bankSource: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-mbank/",
        loading: true,
        itemSearch: {
          p: true,
        },
        uniqueKey: "bankCode",
      },
      bankReceived: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaType.equals": 1,
          "coaName.contains": "",
          "currency.equals": "",
        },
        url: "/config/api/master-akuncoa/",
        loading: false,
        request: null,
        itemSearch: {
          p: true,
        },
        uniqueKey: "coaCode",
      },
      coa: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
    },
    headers: [
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "COA",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      // {
      //   text: "Type",
      //   sortable: false,
      //   value: "type",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },
      { text: "Amount", sortable: false, value: "amount", add: "", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        rules: [],
      },
      { text: "Action", sortable: false, value: "action", add: "" },
    ],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      requiredAmount: (v) => parseFloat(v) > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    infoDialog: { show: false, message: "", mode: "" },
    journalDialog: false,
    amountChanged: false,
    rateChanged: false,
    overlay: false,
    excRateLoading: false,
    submitDialog: { show: false, mode: "", title: "", message: "" },
    errorAmount: "",
    transDateLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        currency: this.param.currency,
        transType: this.param.transType,
        receivedType: this.param.receivedType,
        refDate: this.param.refDate.date,
        desc: this.param.desc,
        amount: this.currencyToFloat(this.param.amount),
        excRate: this.currencyToFloat(this.param.excRate),
      };
    },
    bankForm() {
      return {
        // bankSource: this.param.bankSource,
        bankReceived: this.param.bankReceived,
      };
    },
  },

  watch: {
    "param.transType": function (val) {
      if(val == "CCSH") {
        this.amountChanged = false;
        if (this.currencyToFloat(this.param.amount) > 0) {
          this.param.amount = this.currencyFormat(this.currencyToFloat(this.param.amount) * -1)
        } else if (this.currencyToFloat(this.param.amount) == 0 || !this.param.amount) {
          this.param.amount = "-0.00"
        }
      } else {
        this.amountChanged = false;
        if (this.currencyToFloat(this.param.amount) < 0) {
          this.param.amount = this.currencyFormat(this.currencyToFloat(this.param.amount) * -1)
        } else if (this.currencyToFloat(this.param.amount) == 0 || !this.param.amount) {
          this.param.amount = "0.00"
        }
      }
    },
  },

  async created() {
    this.getBussDate();
    if (this.$route.query.id && this.$route.query.mode) {
      this.overlay = true;
      if (this.$route.query.mode == "p") {
        this.getItemData();
      } else if (this.$route.query.mode == "v") {
        this.getItemDataVoid();
      }
    }

    await this.initList([
      "underwriter",
      "agent",
      "currency",
      "receivedType",
      "bankSource",
      // "bankReceived",
      "coa",
    ]);
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async getItemData() {
      this.param.id = this.$route.query.id;

      let paramJSON = {
        id: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/finance/cash-receipt-manual/view",
        param
      ).then((resp) => {
        let dataResp = resp.data;
        this.param.receiptNo = dataResp.originalReceiptNo;
        this.param.custType = dataResp.customerType;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerCode = dataResp.customerCode;
        this.param.customerName = dataResp.customerName;
        this.param.currency = dataResp.currency;
        this.param.transType = dataResp.transactionType;
        this.param.receivedType = dataResp.receivedType;
        this.param.bankSource = dataResp.bankSource;
        this.param.bankReceived = dataResp.bankReceived;
        this.param.reference = dataResp.reference;
        this.param.refDate.date = dataResp.referenceDate;
        this.param.desc = dataResp.description;
        this.param.amount = this.currencyFormat(dataResp.amount);
        this.param.balance = "";
        this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
        if (dataResp.bankSource != undefined) {
          this.param.bankSourceCode = dataResp.bankSource;
        }
        if (dataResp.bankReceived != undefined) {
          this.param.bankReceivedCode = dataResp.bankReceived;
        }
      });

      let custItem = this.search.underwriter.items.filter(
        (value) => value.code == this.param.customerCode
      );
      this.param.underwriter = custItem[0];

      this.overlay = false;
    },

    async getItemDataVoid() {
      this.param.id = this.$route.query.id;

      await API.get(
        "/finance/api/financeclaims/debtor/cashreceipt/" + this.param.id
      ).then((resp) => {
        let dataResp = resp.data.data;
        this.param.receiptNo = dataResp.cashReceiptNo;
        this.param.transDate = dataResp.tranDate;
        this.param.status = dataResp.status;
        this.param.custType = dataResp.customerType;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerCode = dataResp.customerCode;
        this.param.customerName = dataResp.customerName;
        this.param.currency = dataResp.currency;
        this.param.transType = "CREV";
        this.param.receivedType = dataResp.receivedType;
        this.param.bankSource =
          dataResp.bankSrc != null || dataResp.bankSrcName != null
            ? dataResp.bankSrc + " - " + dataResp.bankSrcName
            : "";
        this.param.bankSourceCode = dataResp.bankSrc;
        this.param.bankSourceName = dataResp.bankSrcName;
        this.param.reference = dataResp.reference;
        this.param.refDate.date = dataResp.referenceDate;
        this.param.desc = dataResp.description;
        this.param.bankReceived =
          dataResp.bankReceived + " - " + dataResp.bankDestName;
        this.param.bankReceivedCode = dataResp.bankReceived;
        this.param.bankReceivedName = dataResp.bankDestName;
        this.param.amount = this.currencyFormat(dataResp.amount);
        this.param.balance = this.currencyFormat(dataResp.balance);
        this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
      });

      this.overlay = false;
    },

    back() {
      if (
        this.$route.query.id &&
        this.$route.query.mode &&
        this.$route.query.mode == "p"
      ) {
        this.$router.push({
          name: "cash-receipt-claims-debtor-manual-edit",
          query: { id: this.param.id, mode: "d" },
        });
      } else if (
        this.$route.query.id &&
        this.$route.query.mode &&
        this.$route.query.mode == "v"
      ) {
        this.$router.push({
          name: "cash-receipt-claims-debtor-edit",
          query: { id: this.param.id, mode: "d" },
        });
      } else {
        this.$router.replace({ name: "cash-receipt-claims-debtor-list" });
      }
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        console.log(f, this.form[f]);
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      // mode add normal dan mode post dari OR manual
      if (this.$route.query.mode != "v") {
        Object.keys(this.bankForm).forEach((f) => {
          console.log(f, this.bankForm[f]);
          if (!this.bankForm[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        });
      }

      if (this.$route.query.mode == null) {
        // jika mode add normal (bukan dari OR manual), cek isi client/agent
        if (!this.param.underwriter) {
          this.formHasErrors = true;
        }
        this.$refs.underwriter.validate(true);
      }

      if (!this.formHasErrors) {
        if (this.$route.query.mode != "v") {
          if (this.param.bankSource == "" || this.param.bankSource == null) {
            this.formHasErrors = true;
            this.infoDialog.mode = "checkBankSrc";
            this.infoDialog.message =
              "Are you sure to save this Cash Receipt without choose bank source?";
            this.infoDialog.show = true;
          }
        }
      }

      if(this.currencyToFloat(this.param.amount) == 0) {
        this.formHasErrors = true;
        this.errorAmount = "Required."
      }

      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
      }
    },
    async doAdd() {
      // let vm = this;
      let submitUrl = "/finance/api/financeclaims/debtor/cashreceipt/add";
      // let coaItems = this.search.coa.items;
      let custType = "underwriter";
      let paramJSON = {
        amount: //this.currencyToFloat(this.param.amount),
          this.currencyToFloat(this.param.amount) < 0
          ? this.currencyToFloat(this.param.amount) * -1
          : this.currencyToFloat(this.param.amount),
        bankDestName: this.param.bankReceived.coaName,
        bankReceived: this.param.bankReceived.coaCode,
        bankSrc: this.param.bankSource.bankCode,
        bankSrcName: this.param.bankSource.bankName,
        // cashReceiptNo: parseFloat(this.param.receiptNo),
        currency: this.param.currency,
        customerCode:
          this.param[custType] != null ? this.param[custType].code : "",
        customerName:
          this.param[custType] != null ? this.param[custType].name : "",
        customerType: this.param.custType,
        description: this.param.desc,
        exchangeRate: this.currencyToFloat(this.param.excRate),
        receivedType: this.param.receivedType,
        reference: this.param.reference,
        referenceDate: this.formatDateSlice(this.param.refDate.date),
        status: this.param.status,
        tranDate: this.param.transDate,
        transationType: this.param.transType,
        // listJournalEntry: this.param.journals.map(function (row) {
        //   let coaItem = coaItems.filter((value) => value.coaCode == row.coa);
        //   return {
        //     amount: vm.currencyToFloat(row.amount),
        //     journalNo: row.no,
        //     coaCode: row.coa,
        //     coaName: coaItem[0].coaName,
        //     currency: row.currency,
        //     exchangeRate: vm.currencyToFloat(row.rate),
        //     amountEq: vm.currencyToFloat(row.eqAmount),
        //   };
        // }),
      };

      if (
        this.$route.query.id &&
        this.$route.query.mode &&
        this.$route.query.mode == "v"
      ) {
        paramJSON.idCashReceiptVoid = this.param.receiptNo;
        paramJSON.cashReceiptNo = this.param.receiptNo;
        paramJSON.customerCode = this.param.customerCode;
        paramJSON.customerName = this.param.customerName;
        paramJSON.bankSrc = this.param.bankSourceCode;
        paramJSON.bankSrcName = this.param.bankSourceName;
        paramJSON.bankReceived = this.param.bankReceivedCode;
        paramJSON.bankDestName = this.param.bankReceivedName;
        submitUrl = "/finance/api/financeclaims/debtor/cashreceipt/addFromVoid";
      }

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.param.receiptNo = resp.data.data.cashReceiptNo;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.editItem();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      let lastItem = this.journalItems[this.journalItems.length - 1];
      journal.no = (lastItem == null ? 0 : lastItem.no) + 1;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "0.00";
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },

    setJournalItem() {
      if (this.param.journals.length > 0) {
        return;
      }
      this.journalItems = [];
      let journalItem = {
        no: 1,
        coa: this.param.bankReceived.coaCode,
        currency: this.param.bankReceived.currency,
        type: "",
        amount: this.param.amount,
        rate: this.param.excRate,
        eqAmount: this.param.amount,
      };
      this.journalItems.push(journalItem);
    },

    initList(list, paramAdd = null) {
      for (let l of list) {
        this.search[l].loading = true;
        let mergedParam = { ...this.search[l].params, ...paramAdd };
        API.get(this.search[l].url, mergedParam)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
              this.setObjectItem(l);
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    setObjectItem(l) {
      if (
        this.search[l].itemSearch &&
        this.search[l].itemSearch[this.$route.query.mode]
      ) {
        let item = this.search[l].items.filter(
          (value) => value[this.search[l].uniqueKey] == this.param[l]
        );
        if (item.length > 0) {
          this.param[l] = item[0];
        }
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(search.url, search.params, null, null, axiosSource.token).then(
        (resp) => {
          search.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            search.items = resp.data.data;
          } else {
            search.items = [];
          }
        }
      );
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "cash-receipt-claims-debtor-edit",
        query: { id: this.param.receiptNo, mode: "d" },
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },
    saveJournal() {
      this.param.journals = this.journalItems;
    },
    async changeCurrency(e) {
      this.excRateLoading = true;
      this.initList(["bankReceived"], {
        "currency.equals": e,
        "coaName.contains": "",
      });
      let param = {
        currencyExchangeRate: {
          currencyFrom: e,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );

      if (resp.data.code == 0) {
        this.param.excRate = this.currencyFormat(resp.data.data.rateDefault);
      } else {
        this.param.excRate = "1.00";
      }
      this.excRateLoading = false;
      // update param autocomplete bank received
      this.search.bankReceived.params["currency.equals"] = e;
    },

    toCashReceipt() {
      this.$router.replace({ name: "cash-receipt-claims-debtor-list" });
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    async getBankReceivedItem(code) {
      let param = {
        "coaType.equals": 1,
        "isActive.equals": 1,
        "coaCode.equals": code,
      };
      let resp = await API.get("/config/api/master-akuncoa/", param);
      if (resp.data.code == 0) {
        this.search.bankReceived.items = resp.data.data;
      }
    },
    infoDialogYes() {
      if (this.infoDialog.mode == "checkOrManual") {
        this.infoDialog.show = false;
      } else if (this.infoDialog.mode == "checkBankSrc") {
        this.infoDialog.show = false;
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        this.doAdd();
      }
    },
    infoDialogNo() {
      if (this.infoDialog.mode == "checkOrManual") {
        this.toCashReceipt();
      } else if (this.infoDialog.mode == "checkBankSrc") {
        this.infoDialog.show = false;
      }
    },
    bankReceivedOnClick() {
      if (this.param.currency == "") {
        this.submitDialog.title = "Please select Currency first";
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    getBussDate() {
      this.transDateLoading = true;
      return new Promise((resolve) => {
        API.get("report/api/business-date")
        .then((resp) => {
          this.param.transDate = formatDateHelper.formatDateFromDMYoDMY(resp.data, "-", "/");
          resolve(true)
          this.transDateLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error Get Business Date" });
          this.transDateLoading = false;
        });
      })
    },


    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
