<template>
  <v-card flat>
    <isttoolbar
      title="Finance"
      dark
      color="secondary"
      icon="mdi-chart-box-plus-outline"
    >
      <v-spacer />

      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px">
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      title="Create New Credit Application"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Credit Application No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="{Auto Generated}"
            ref="creditAppNo"
            name="creditAppNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-autocomplete
            hide-details="auto"
            label="Select Type"
            v-model="param.custType"
            ref="custType"
            name="custType"
            :items="search.custType.items"
            item-value="value"
            item-text="text"
            :append-icon="isFromCashReceipt ? '' : 'mdi-menu-down'"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :readonly="isFromCashReceipt"
          ></v-autocomplete> -->
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
            :readonly="isFromCashReceipt"
            v-on:change="changeCustomerType"
          >
            <v-radio label="Client" value="CLIENT"></v-radio>
            <v-radio label="Agent" value="AGENT"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row v-show="isFromCashReceipt" align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <!-- <span class="title">
            Customer<span class="error--text">*</span>
          </span> -->
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Customer"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row
        v-show="!isFromCashReceipt && param.custType == 'CLIENT'"
        align="center"
        class="ml-2"
      >
        <v-col cols="2" class="pa-1">
          <!-- <span class="title">Client<span class="error--text">*</span> </span> -->
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Client"
            v-model="param.client"
            ref="client"
            name="client"
            @keyup="autocompSearch(search.client)"
            :search-input.sync="search.client.input"
            :items="search.client.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.client.loading"
            class="ma-0"
            return-object
            v-on:change="changeCustomer"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row
        v-show="!isFromCashReceipt && param.custType == 'AGENT'"
        align="center"
        class="ml-2"
      >
        <v-col cols="2" class="pa-1">
          <!-- <span class="title">Agent<span class="error--text">*</span> </span> -->
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Agent"
            v-model="param.agent"
            ref="agent"
            name="agent"
            @keyup="autocompSearch(search.agent)"
            :search-input.sync="search.agent.input"
            :items="search.agent.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.agent.loading"
            class="ma-0"
            return-object
            v-on:change="changeCustomer"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>

      <br />
      <v-toolbar color="grey lighten-2" dense flat>
        <v-toolbar-title class="font-weight-medium"
          >Cash/Credit Note Transaction</v-toolbar-title
        ></v-toolbar
      >
      <br />

      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Ref. No.<span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1" style="display: inherit;">
          <v-text-field
            v-model="param.refNo"
            ref="refNo"
            name="refNo"
            label="Choose Ref No"
            :append-icon="isFromCashReceipt ? '' : 'mdi-menu-down'"
            :rules="[rules.required]"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            @click="refNoOnClick"
            dense
            solo
          >
          </v-text-field>
          <v-icon
            v-show="infoButtonShow(cshItem)"
            @click="getCnInfo(cshItem)"
            small
            class="ml-1 my-auto"
            color="primary"
          >
            mdi-information-outline
          </v-icon>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Original Amount </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Original Amount"
            ref="amount"
            name="amount"
            class="ma-0"
            v-model="param.amount"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Currency </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Currency"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            :item-text="currencyTextItem"
            class="ma-0"
            append-icon=""
            readonly
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Ori Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Ori Exchange Rate"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Type </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Transaction Type"
            v-model="param.transType"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :loading="search.transType.loading"
            item-value="code"
            item-text="code"
            class="ma-0"
            append-icon=""
            readonly
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Balance"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Bill Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Bill Date"
            ref="billDate"
            name="billDate"
            class="ma-0"
            v-model="param.billDate"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
          <!-- <v-menu
            v-model="param.billDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.billDate.date"
                ref="billDate"
                name="billDate"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.billDate.menu = !param.billDate.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.billDate.date"
              no-title
              @input="param.billDate.menu = false"
            ></v-date-picker>
          </v-menu> -->
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Current Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Current Exchange Rate"
            ref="currentExcRate"
            name="currentExcRate"
            class="ma-0"
            v-model="param.currentExcRate"
            :loading="currentRateLoading"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Detail </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            label="Detail"
            ref="detail"
            name="detail"
            class="ma-0"
            v-model="param.detail"
            :rows="2"
            flat
            outlined
            dense
            solo
            readonly
          ></v-textarea>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance (L C) </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Balance (L C)"
            ref="balanceLc"
            name="balanceLc"
            class="ma-0"
            v-model="param.balanceLc"
            :loading="currentRateLoading"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1" 
      height="300"
      fixed-header
      :items-per-page="page"
    >
      <!-- :options.sync="invOptions" -->
      <template v-slot:item.amoutPaid="{ item }">
        <v-text-field
          v-model="item.amoutPaid"
          hide-details="auto"
          class="ma-0"
          ref="inputPaidAmount"
          flat
          outlined
          dense
          solo
          v-money="amountChanged ? money : ''"
          @input="paidAmountChange(item)"
          :rules="[invAmountLimit(item)]"
        ></v-text-field>
      </template>
      <template v-slot:item.balance="{ item }">
        <span>{{ currencyFormat(item.balance) }}</span>
      </template>
      <template v-slot:item.exchgRate="{ item }">
        <v-progress-circular
          v-if="item.rateLoading"
          indeterminate
          color="primary"
        ></v-progress-circular>
        <span v-else-if="item.currency == param.currency">
          {{ currencyFormat(item.exchgRate) }}
        </span>
        <v-chip v-else link @click="openEditRateDialog(item)">
          {{ currencyFormat(item.exchgRate, 2, "max") }}
        </v-chip>
      </template>
      <template v-slot:item.equivAmount="{ item }">
        <span>{{ currencyFormat(item.equivAmount) }}</span>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn
          outlined
          icon
          color="primary"
          @click="removeInvoice(item, 'items')"
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </template>
      <template v-slot:body.append>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <v-btn
              v-if="header.value == 'action'"
              outlined
              icon
              color="primary"
              @click="openInvoiceDialog"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title">Total </span>
            <!-- <span v-if="header.value == 'balance'" class="title"
              >{{ getTotal("balance") }}
            </span>
            <span v-if="header.value == 'amoutPaid'" class="title"
              >{{ getTotal("amoutPaid") }}
            </span> -->
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title">
              Credit Balance
            </span>
            <span v-else-if="header.value == 'equivAmount'" class="title">
              <!-- {{ param.creditBalance }} -->
              {{ currencyFormat(getCreditBalance()) }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <form>
      <v-row class="mx-2">
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Entry By </span>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                hide-details="auto"
                ref="entryName"
                name="entryName"
                class="ma-0"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                hide-details="auto"
                ref="entryDate"
                name="entryDate"
                class="ma-0"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- <v-row class="mx-2">
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Original Amount </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Original Amount"
                ref="invAmount"
                name="invAmount"
                class="ma-0"
                v-model="param.invAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Exchange Rate </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Exchange Rate"
                ref="invExcRate"
                name="invExcRate"
                class="ma-0"
                v-model="param.invExcRate"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Detail </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-textarea
                hide-details="auto"
                label="Detail"
                ref="invDetail"
                name="invDetail"
                class="ma-0"
                v-model="param.invDetail"
                flat
                outlined
                dense
                solo
                rows="2"
              >
              </v-textarea>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Pay Amount </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Pay Amount"
                ref="invPayAmount"
                name="invPayAmount"
                class="ma-0"
                v-model="param.invPayAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> CSH-C/N Amount (L C) </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="CSH-C/N Amount (L C)"
                ref="invCshAmount"
                name="invCshAmount"
                class="ma-0"
                v-model="param.invCshAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Exchange Diff (L C) </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Exchange Diff (L C)"
                ref="invExcDiff"
                name="invExcDiff"
                class="ma-0"
                v-model="param.invExcDiff"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Equiv. Amount </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Equiv. Amount"
                ref="invEquivAmount"
                name="invEquivAmount"
                class="ma-0"
                v-model="param.invEquivAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Credit Balance </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Credit Balance"
                ref="invCreditBalance"
                name="invCreditBalance"
                class="ma-0"
                v-model="param.invCreditBalance"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row> -->
    </form>

    <!-- info dialog -->
    <v-dialog v-model="editRateDialog" max-width="400">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Edit Exchange Rate
        </v-card-title>
        <v-card-text>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Pay Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateAmount"
                ref="editRateAmount"
                name="editRateAmount"
                label="Input Pay Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateAmountChanged = true;
                  editRateAmountInput();
                "
                v-money="editRateAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                readonly
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRate"
                ref="editRate"
                name="editRate"
                label="Key in Exchange Rate"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateChanged = true;
                  editRateInput();
                "
                v-money="editRateChanged ? rateMoney : ''"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-0">
              <span class="title">Equiv. Amount</span>
            </v-col>
            <v-col cols="8" class="py-0">
              <v-text-field
                v-model="editRateEqAmount"
                ref="editRateEqAmount"
                name="editRateEqAmount"
                label="Input Equivalent Amount"
                persistent-hint
                hide-details="auto"
                @input="
                  editRateEqAmountChanged = true;
                  editRateEqAmountInput();
                "
                v-money="editRateEqAmountChanged ? money : ''"
                flat
                outlined
                dense
                solo
                :readonly="editRateAmount == '0.00'"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="mx-2"
            color="primary"
            min-width="100px"
            outlined
            @click="submitRate()"
          >
            <v-icon left> mdi-magnify </v-icon>
            Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="cashDialog" persistent max-width="900">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Choose Cash Receipt / Credit Note
          <v-spacer></v-spacer>
          <v-btn
            text
            depressed
            color="primary"
            @click="
              cashDialog = false;
              cashItems = [];
              cashOptions.page = 1;
            "
          >
            <v-icon large>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="cashHeaders"
            :items="cashItems"
            :loading="cashLoading"
            class="elevation-1"
            hide-default-header
            hide-default-footer
            :options.sync="cashOptions"
            height="400"
            fixed-header
            dense
            :server-items-length="totalItemsCashHeader"
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th
                    v-for="header in headers"
                    :key="header.text"
                    class="xsmall-label"
                  >
                    <v-select
                      v-if="header.filterType == 'select'"
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      v-on:change="onkeyupCashSearch"
                      :items="header.items"
                      clearable
                    >
                    </v-select>
                    <v-text-field
                      v-else
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :disabled="header.value != 'accountNo'"
                      v-on:keyup="onkeyupCashSearch"
                    >
                      <v-btn
                        slot="append"
                        icon
                        @click="sortClick(header.value)"
                        v-show="false"
                        small
                      >
                        <v-icon v-if="cashOptions.sortDesc[0] == null" small
                          >mdi-sort</v-icon
                        >
                        <v-icon
                          v-else-if="
                            header.value == cashOptions.sortBy[0] &&
                            !cashOptions.sortDesc[0]
                          "
                          small
                          color="primary"
                          >mdi-sort-ascending</v-icon
                        >
                        <v-icon
                          v-else-if="
                            header.value == cashOptions.sortBy[0] &&
                            cashOptions.sortDesc[0]
                          "
                          small
                          color="primary"
                          >mdi-sort-descending</v-icon
                        >
                      </v-btn>
                    </v-text-field>
                  </th>
                </tr>
              </thead>
            </template>
            <!-- <template v-slot:item.amount="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:item.balance="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:item.action="{ item }">
              <v-btn
                depressed
                outlined
                small
                color="primary"
                @click="setDataCash(item)"
                :disabled="item.status == 1"
                style="display: block; margin-left: auto; margin-right: auto"
                >Choose</v-btn
              >
              <span
                v-show="item.status == 1"
                class="error--text"
                style="display: block; text-align: center"
                >In use
              </span>
            </template> -->

            <template v-slot:item="{ item, headers, index }">
              <tr>
                <td
                  v-for="header in headers"
                  :key="header.text"
                  class="pa-0 pl-1"
                >
                  <div v-if="header.value == 'action'">
                    <v-btn
                      depressed
                      outlined
                      small
                      dense
                      color="primary"
                      @click="setDataCash(item)"
                      :disabled="item.status == 1"
                      style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                      >Choose</v-btn
                    >
                    <span
                      v-show="item.status == 1"
                      class="error--text"
                      style="display: block; text-align: center;"
                      >In use
                    </span>
                  </div>
                  <span
                    v-else-if="
                      ['amount', 'amoutPaid', 'balance'].indexOf(
                        header.value
                      ) != -1
                    "
                    :class="item[header.value] < 0 ? 'error--text' : ''"
                  >
                    {{ currencyFormat(item[header.value]) }}
                  </span>
                  <span v-else-if="header.value == 'tranDate'">
                    {{ formatDate(item[header.value]) }}
                  </span>
                  <span v-else>{{ item[header.value] }}</span>
                </td>
              </tr>
              <template>
                <tr
                  v-for="(child, i) in item.listAcctTranData"
                  :key="index + child.accountNo + i"
                >
                  <td
                    v-for="header in headers"
                    :key="header.text"
                    class="pa-0 pl-1"
                  >
                    <span
                      v-if="header.value == 'amount'"
                      :class="child[header.value] < 0 ? 'error--text' : ''"
                    >
                      {{ currencyFormat(child[header.value]) }}
                    </span>
                    <span
                      v-else-if="
                        [
                          'accountNo',
                          'term',
                          'currency',
                          'cstCode',
                          'cstExc',
                        ].indexOf(header.value) != -1
                      "
                    ></span>
                    <span v-else-if="header.value == 'accountType'">
                      {{
                        getDetailType(item, child) == "JC"
                          ? "JC (" + child.refAccountType + ")"
                          : getDetailType(item, child)
                      }}
                      <!-- {{ child.accountType }} -->
                    </span>
                    <span v-else>{{ child[header.value] }}</span>
                  </td>
                </tr>
              </template>
            </template>

            <template v-slot:body.append>
              <tr>
                <v-card v-intersect="infiniteScrolling" flat>-</v-card>
              </tr>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            rounded
            min-width="100"
            depressed
            @click="cashDialog = false"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="invoiceDialog" persistent max-width="900" scrollable>
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Choose Invoice No
          <v-spacer></v-spacer>
          <v-btn
            text
            depressed
            color="primary"
            @click="
              invoiceDialog = false;
              invoiceItems = [];
              invOptions.page = 1;
            "
          >
            <v-icon large>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="invoiceHeaders"
            :items="invoiceItems"
            hide-default-footer
            :loading="invoiceLoading"
            class="elevation-1"
            :options.sync="invOptions"
            :server-items-length="totalItemsInvHeader"
            hide-default-header
            height="300"
            fixed-header
            dense
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th
                    v-for="header in headers"
                    :key="header.text"
                    class="xsmall-label pa-0 pl-1"
                  >
                    <v-select
                      v-if="header.filterType == 'select'"
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      v-on:change="onkeyupInvoiceSearch"
                      :items="header.items"
                      clearable
                    >
                    </v-select>
                    <v-text-field
                      v-else
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :disabled="header.value != 'accountNo'"
                      v-on:keyup="onkeyupInvoiceSearch()"
                    >
                    </v-text-field>
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:item="{ item, headers, index }">
              <tr>
                <td
                  v-for="header in headers"
                  :key="header.text"
                  class="pa-0 pl-1"
                >
                  <span v-if="header.value == 'action'">
                    <v-btn
                      depressed
                      small
                      text
                      color="primary"
                      @click="addInvoice(item)"
                      :disabled="item.balance <= 0 || item.status == 1"
                      style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    >
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <span
                      v-show="item.status == 1"
                      class="error--text"
                      style="display: block; text-align: center;"
                      >In use
                    </span>
                  </span>
                  <span
                    v-else-if="
                      ['amount', 'amoutPaid', 'balance'].indexOf(
                        header.value
                      ) != -1
                    "
                    :class="item[header.value] < 0 ? 'error--text' : ''"
                  >
                    {{ currencyFormat(item[header.value]) }}
                  </span>
                  <span v-else-if="header.value == 'tranDate'">
                    {{ formatDate(item[header.value]) }}
                  </span>
                  <span v-else-if="header.value == 'accountNo'">
                    <span>{{ item.accountNo }}</span>
                    <v-icon
                      v-show="item.isAlreadyPaidByRemittance == true"
                      x-small
                      color="primary"
                      @click="showPayRemit(item)"
                    >
                      mdi-information-outline
                    </v-icon>
                  </span>
                  <span v-else>{{ item[header.value] }}</span>
                </td>
              </tr>
              <template>
                <tr
                  v-for="(child, i) in item.listAcctTranData"
                  :key="index + child.accountNo + i"
                >
                  <td
                    v-for="header in headers"
                    :key="header.text"
                    class="pa-0 pl-1"
                  >
                    <span
                      v-if="header.value == 'amount'"
                      :class="child[header.value] < 0 ? 'error--text' : ''"
                    >
                      {{ currencyFormat(child[header.value]) }}
                    </span>
                    <span
                      v-else-if="
                        [
                          'accountNo',
                          'term',
                          'currency',
                          'cstCode',
                          'cstExc',
                        ].indexOf(header.value) != -1
                      "
                    ></span>
                    <span v-else>{{ child[header.value] }}</span>
                  </td>
                </tr>
              </template>
            </template>
            <template v-slot:body.append>
              <tr>
                <v-card v-intersect="infiniteScrollingInv" flat>-</v-card>
              </tr>
            </template>
            <!-- <template v-slot:item.amount="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:item.amoutPaid="{ item }">
              <div>{{ currencyFormat(item.amoutPaid) }}</div>
            </template>
            <template v-slot:item.balance="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template> -->
            <!-- <template v-slot:item.action="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                @click="addInvoice(item)"
                :disabled="item.balance <= 0 || item.status == 1"
                style="display: block; margin-left: auto; margin-right: auto"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <span
                v-show="item.status == 1"
                class="error--text"
                style="display: block; text-align: center"
                >In use
              </span>
            </template> -->
          </v-data-table>

          <br />
          <span class="title blue--text text--darken-4">
            Invoice No. Added
          </span>
          <v-data-table
            :headers="invoiceHeaders"
            :items="toAddInvoiceItems"
            hide-default-footer
            :items-per-page="page"
            class="elevation-1"
            height="300"
            fixed-header
            dense
          >
            <!-- :options.sync="invOptions" -->
            <template v-slot:item.amount="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:item.amoutPaid="{ item }">
              <div>{{ currencyFormat(item.amoutPaid) }}</div>
            </template>
            <template v-slot:item.balance="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:item.action="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                @click="removeInvoice(item, 'toAddInvoiceItems')"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            @click="submitInvoice"
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-actions>
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text class="text-h6 justify-center text-center">
          <span class="black--text">
            {{ "The payable amount is " + infoCnDialog.item.amountPayable }}
          </span>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="editItem"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.error">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.show = dialog.error = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    submitdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    rateMoney: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      cashReceiptNo: "",
      creditAppNo: "",
      custType: "CLIENT",
      client: "",
      agent: "",
      customerCode: "",
      customer: "",
      customerName: "",
      refNo: "",
      idCsh: "",
      amount: "",
      currency: "",
      excRate: "",
      transType: "",
      balance: "",
      billDate: "",
      currentExcRate: "",
      detail: "",
      balanceLc: "",
      entryName: "",
      entryDate: new Date().toISOString().substr(0, 10),
    },
    search: {
      custType: {
        items: [
          { value: "CLIENT", text: "Client" },
          { value: "AGENT", text: "Agent" },
        ],
        loading: false,
      },
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
          { code: "CN", value: "CN" },
          { code: "CNF", value: "CNF" },
        ],
        url: "",
        loading: false,
      },
    },
    headers: [
      {
        text: "Invoice No",
        align: "start",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        searchValue: "",
        width: 100,
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        searchValue: "",
        width: 100,
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
        width: 100,
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
        width: 100,
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
        width: 100,
      },
      {
        text: "Pay Amount",
        sortable: false,
        value: "amoutPaid",
        add: "",
        rules: [],
        width: 200,
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
        width: 100,
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "equivAmount",
        add: "",
        width: 100,
      },
      { text: "", sortable: false, value: "action", add: "", width: 100 },
    ],
    items: [],
    loading: false,

    cashHeaders: [
      {
        text: "Number",
        align: "start",
        sortable: true,
        value: "accountNo",
        add: "",
        rules: [],
        filterParam: "accountNo",
        searchParam: ".contains",
      },
      {
        text: "Client",
        align: "start",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
        items: ["CSH", "CN"],
        filterType: "select",
        filterParam: "transType",
        searchParam: ".equals",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Age",
        sortable: false,
        value: "age",
        add: "",
        rules: [],
      },
      {
        text: "Acc Executive",
        sortable: false,
        value: "cstExc",
        add: "",
        rules: [],
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    cashItems: [],
    toShowCashItems: [],
    cashLoading: false,

    invoiceHeaders: [
      {
        text: "Number",
        align: "start",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        filterParam: "accountNo",
        searchParam: ".contains",
      },
      {
        text: "Client",
        align: "start",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
        component: "select",
        items: ["INV", "FINV", "INVF"],
        filterType: "select",
        filterParam: "transType",
        searchParam: ".equals",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        component: "select",
      },
      // {
      //   text: "Class",
      //   sortable: false,
      //   value: "prdrisk",
      //   add: "",
      //   rules: [],
      // },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
      },
      {
        text: "Age",
        sortable: false,
        value: "age",
        add: "",
        rules: [],
      },
      {
        text: "Acc Executive",
        sortable: false,
        value: "cstExc",
        add: "",
        rules: [],
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      // {
      //   text: "Paid Amount",
      //   sortable: false,
      //   value: "amoutPaid",
      //   add: "",
      //   rules: [],
      // },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceItems: [],
    toShowInvoiceItems: [],
    invoiceLoading: false,
    toAddInvoiceItems: [],
    formHasErrors: false,
    cashOptions: {
      itemsPerPage: 10,
      page: 1,
    },
    invOptions: {
      itemsPerPage: 10,
      page: 1,
    },
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    cashDialog: false,
    invoiceDialog: false,
    amountChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    editRateChanged: false,
    editRateAmountChanged: false,
    editRateEqAmountChanged: false,
    editRateDialog: false,
    editRateItem: {},
    editRate: "",
    editRateAmount: "",
    editRateEqAmount: "",
    submitDialog: { show: false, mode: "", title: "", message: "" },
    totalItemsCashHeader: 0,
    totalItemsInvHeader: 0,
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
    cshItem: {},
    page: -1,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        refNo: this.param.refNo,
        // transType: this.param.transType,
        // receivedType: this.param.receivedType,
        // bankSource: this.param.bankSource,
        // reference: this.param.reference,
        // refDate: this.param.refDate.date,
        // bankReceived: this.param.bankReceived,
        // amount: this.param.amount,
        // excRate: this.param.excRate,
      };
    },
  },

  watch: {
    cashOptions: {
      handler() {
        // this.cashRefresh();
      },
      deep: true,
    },
    invOptions: {
      handler() {
        // this.invoiceRefresh();
      },
      deep: true,
    },
    // editRate: {
    //   handler: function (after) {
    //     let paidAmount = this.currencyToFloat(this.editRateAmount);
    //     let rate = this.currencyToFloat(after);
    //     this.editRateEqAmountChanged = false;
    //     if (this.param.currency == "IDR" || this.param.currency == "") {
    //       this.editRateEqAmount = this.currencyFormat(paidAmount * rate);
    //     } else {
    //       this.editRateEqAmount = this.currencyFormat(paidAmount / rate);
    //     }
    //     console.log("watch editRate: this.editRateEqAmount=", this.editRateEqAmount);
    //   },
    //   deep: true,
    // },
    // editRateAmount: {
    //   handler: function (after) {
    //     let paidAmount = this.currencyToFloat(after);
    //     let rate = this.currencyToFloat(this.editRate);
    //     this.editRateEqAmountChanged = false;
    //     if (this.param.currency == "IDR" || this.param.currency == "") {
    //       this.editRateEqAmount = this.currencyFormat(paidAmount * rate);
    //     } else {
    //       this.editRateEqAmount = this.currencyFormat(paidAmount / rate);
    //     }
    //     console.log("watch editRateAmount: this.editRateEqAmount=", this.editRateEqAmount);
    //   },
    //   deep: true,
    // },
    // editRateEqAmount: {
    //   handler: function (after) {
    //     let paidAmount = this.currencyToFloat(this.editRateAmount);
    //     let equivAmount = this.currencyToFloat(after);
    //     this.editRateChanged = false;
    //     if (this.param.currency == "IDR" || this.param.currency == "") {
    //       this.editRate = this.currencyFormat(paidAmount * equivAmount);
    //     } else {
    //       this.editRate = this.currencyFormat(paidAmount / equivAmount);
    //     }
    //     console.log("watch editRateEqAmount: this.editRate=", this.editRate);
    //   },
    //   deep: true,
    // },
  },

  async created() {
    if (
      this.$route.query.id &&
      this.$route.query.mode &&
      this.$route.query.mode == "p"
    ) {
      this.overlay = true;
    }

    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.fullname;

    await this.initList(["client", "agent", "currency"]);

    if (
      this.$route.query.id &&
      this.$route.query.mode &&
      this.$route.query.mode == "p"
    ) {
      await this.getItemData();
      this.isFromCashReceipt = true;
      // this.getInvoiceList();
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async getItemData(cashReceiptNo = null) {
      if (cashReceiptNo == null) {
        this.param.cashReceiptNo = this.$route.query.id;
      } else {
        this.param.cashReceiptNo = cashReceiptNo;
      }
      this.cashDialog = false;

      await API.get(
        "/finance/api/finance/cashreceipt/" + this.param.cashReceiptNo
      ).then((resp) => {
        let dataResp = resp.data.cashReceiptData;
        this.param.custType = dataResp.customerType;
        this.param.customerCode = dataResp.customerCode;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerName = dataResp.customerName;
        this.param.refNo = dataResp.cashReceiptNo;
        this.param.idCsh = dataResp.idAccount;
        this.param.amount = //this.currencyFormat(dataResp.amount);
          dataResp.transationType == "CSH" && dataResp.amount > 0
            ? this.currencyFormat(dataResp.amount * -1)
            : this.currencyFormat(dataResp.amount);
        this.param.currency = dataResp.currency;
        this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
        this.param.transType = dataResp.transationType;
        this.param.balance = this.currencyFormat(dataResp.balance);
        this.param.billDate = dataResp.tranDate;
        this.param.currentExcRate = "";
        this.param.detail = dataResp.description;
        this.param.balanceLc = "";
      });
      this.overlay = false;

      this.getCurrentRate();
    },
    async setDataCash(item) {
      this.items = [];
      this.param.refNo = item.accountNo;
      this.param.idCsh = item.id;
      this.param.currency = item.currency;
      this.param.transType = item.accountType;
      this.param.billDate = this.formatDateSlice(item.tranDate);
      this.param.detail = item.tranDesc;
      this.param.amount = this.currencyFormat(item.amount);
      this.param.excRate = this.currencyFormat(item.exchgRate);
      this.param.balance = this.currencyFormat(item.balance);
      this.param.currentExcRate = "";
      this.param.balanceLc = "";
      this.cshItem = item;
      this.cashDialog = false;

      this.getCurrentRate();
    },
    async getCurrentRate() {
      // get current rate
      this.currentRateLoading = true;
      let currentRate = await this.getExchangeRate();

      let balance = this.currencyToFloat(this.param.balance);
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },

    back() {
      if (
        this.$route.query.id &&
        this.$route.query.mode &&
        this.$route.query.mode == "p"
      ) {
        this.$router.push({
          name: "cash-receipt-edit",
          query: { id: this.param.cashReceiptNo, mode: "d" },
        });
      } else {
        this.$router.replace({ name: "credit-application-list" });
      }
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      // pembedaan kondisi ketika link dari cash receipt
      if (this.$route.query.mode != "p") {
        if (!this.param[this.param.custType.toLowerCase()]) {
          this.formHasErrors = true;
        }
        this.$refs[this.param.custType.toLowerCase()].validate(true);
      }

      // validasi tabel invoice
      this.dialog.errorMessage = "";
      if (!this.formHasErrors) {
        if (this.items.length < 1) {
          this.formHasErrors = true;
          this.dialog.errorMessage = "Please select at least one Invoice";
        } else if (this.getCreditBalance() > 0) {
          this.formHasErrors = true;
          this.dialog.errorMessage =
            "Total Equivalent Paid Amount cannot be greater than Cash Receipt Balance";
          this.$refs["inputPaidAmount"].focus();
        } else if (this.invListValidate()) {
          this.formHasErrors = true;
          this.dialog.errorMessage =
            "Invoice Pay Amount cannot be greater than Invoice Balance";
          this.$refs["inputPaidAmount"].focus();
        }
      }

      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
      } else {
        this.formHasErrors = false;
        if (this.dialog.errorMessage != "") {
          this.dialog.success = false;
          this.dialog.error = true;
          this.dialog.show = true;
        }
      }
    },
    async doAdd() {
      let vm = this;
      let submitUrl = "/finance/api/finance/creditapplication/add";
      let custType = this.param.custType.toLowerCase();
      let paramJSON = {
        creditApplicationDataDto: {
          billDate: this.param.billDate,
          currency: this.param.currency,
          customerCode:
            this.param[custType] != null ? this.param[custType].code : "",
          customerName:
            this.param[custType] != null ? this.param[custType].name : "",
          customerType: this.param.custType,
          detail: this.param.detail,
          idCashReceipt: parseFloat(this.param.idCsh),
          noCashReceipt: parseFloat(this.param.refNo),
          exchangeRate: parseFloat(this.param.currentExcRate),
          listInvoice: this.items.map(function (row) {
            return {
              id: row.id,
              balanceAmount: vm.currencyToFloat(row.balance),
              classRisk: row.classInvoice,
              currency: row.currency,
              invoiceNo: parseInt(row.accountNo),
              oriAmount: vm.currencyToFloat(row.amount),
              paidAmount: vm.currencyToFloat(row.amoutPaid),
              term: row.term.toString(),
              tranDate: vm.formatDateSlice(row.tranDate),
              exchangeRate: vm.currencyToFloat(row.exchgRate),
              type: row.accountType,
              equivAmount: vm.currencyToFloat(row.equivAmount),
            };
          }),
          total: 0,
          type: this.param.transType,
        },
      };

      if (
        this.$route.query.id &&
        this.$route.query.mode &&
        this.$route.query.mode == "p"
      ) {
        paramJSON.creditApplicationDataDto.customerCode = this.param.customerCode;
        paramJSON.creditApplicationDataDto.customerName = this.param.customerName;
        paramJSON.creditApplicationDataDto.billDate = this.formatDateSlice(
          this.param.billDate
        );
      }

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.error = false;
            // this.dialog.success = true;
            this.param.creditAppNo =
              resp.data.creditApplicationDataDto.idCreditApplication;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.editItem();
          } else {
            this.dialog.success = false;
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.success = false;
          this.dialog.error = true;
        });
    },

    initList(list) {
      for (let l of list) {
        API.get(this.search[l].url)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "credit-application-edit",
        query: { id: this.param.creditAppNo, mode: "d" }, //600016
      });
    },
    refNoOnClick() {
      if (!this.isFromCashReceipt) {
        for (let key of this.cashHeaders) {
          key.searchValue = "";
        }
        this.cashOptions.sortBy = [];
        this.cashOptions.sortDesc = [];

        this.cashDialog = true;
        this.cashRefresh();
      }
    },
    async changeCustomer() {
      // this.cashLoading = true;
      // this.cashItems = [];
      // this.toShowCashItems = [];

      this.items = [];
      // this.invoiceLoading = true;
      // this.invoiceItems = [];
      // this.toShowInvoiceItems = [];

      // reset field
      this.param.refNo = "";
      this.param.currency = "";
      this.param.transType = "";
      this.param.billDate = "";
      this.param.detail = "";
      this.param.amount = "";
      this.param.excRate = "";
      this.param.balance = "";
      this.param.currentExcRate = "";
      this.param.balanceLc = "";

      // List Cash Receipt
      // let custCode = this.param[this.param.custType.toLowerCase()].code;
      // let paramJSON = {
      //   "clientCode.equals": custCode,
      // };
      // let resp = await API.get(
      //   "/finance/api/finance/invaccount/getdebtoraccount",
      //   paramJSON
      // );
      // if (resp.data.code == 0) {
      //   this.cashItems = resp.data.listTransaction.filter(
      //     (value) => value.accountType == "CSH" || value.accountType == "CN"
      //   );
      //   this.toShowCashItems = this.cashItems;

      //   this.invoiceItems = resp.data.listTransaction.filter( // inv
      //     (value) => value.accountType == "INV"
      //   );
      //   this.invoiceItems = this.invoiceItems.map(function (row, i) {
      //     row.no = i + 1;
      //     return row;
      //   });
      //   this.toShowInvoiceItems = this.invoiceItems;
      // }
      // this.cashLoading = false;
      // this.invoiceLoading = false;
    },
    // async getInvoiceList() {
    //   this.invoiceLoading = true;
    //   this.invoiceItems = [];
    //   this.toShowInvoiceItems = [];

    //   let custCode = this.param[this.param.custType.toLowerCase()].code;
    //   if (this.isFromCashReceipt) {
    //     custCode = this.param.customerCode;
    //   }
    //   let paramJSON = {
    //     "clientCode.equals": custCode,
    //     "transType.equals": "INV",
    //   };
    //   let invResp = await API.get(
    //     "/finance/api/finance/invaccount/getdebtoraccount",
    //     paramJSON
    //   );
    //   if (invResp.data.code == 0) {
    //     this.invoiceItems = invResp.data.listTransaction.map(function (row, i) {
    //       row.no = i + 1;
    //       return row;
    //     });
    //     this.toShowInvoiceItems = this.invoiceItems;
    //   }
    //   this.invoiceLoading = false;
    // },

    changeCustomerType() {
      let cashHeader = this.cashHeaders.filter(
        (value) => value.value == "accountType"
      );
      let invHeader = this.invoiceHeaders.filter(
        (value) => value.value == "accountType"
      );
      if (this.param.custType == "CLIENT") {
        if (cashHeader.length > 0) {
          cashHeader[0].items = ["CSH", "CN"];
        }
        if (invHeader.length > 0) {
          invHeader[0].items = ["INV", "FINV"];
        }
      } else if (this.param.custType == "AGENT") {
        if (cashHeader.length > 0) {
          cashHeader[0].items = ["CSH", "CN", "CNF"];
        }
        if (invHeader.length > 0) {
          invHeader[0].items = ["INV", "FINV", "INVF"];
        }
      }
    },

    cashRefresh() {
      let vm = this;
      if (this.param[this.param.custType.toLowerCase()] != "") {
        this.getList(
          this.cashHeaders,
          this.cashOptions,
          "cashLoading",
          "in",
          "CSH,CN,CNF"
        ).then((data) => {
          let filteredData = data.items.filter((value) => value.balance != 0);

          if (this.cashOptions.page > 1) {
            if (filteredData.length > 0) {
              filteredData.forEach((item) => {
                let existItem = vm.cashItems.filter((val) => val == item);
                if (existItem.length < 1) {
                  vm.cashItems.push(item);
                }
              });
            }
          } else {
            this.cashItems = filteredData;
          }
          this.totalItemsCashHeader = data.total;
          this.isFullRecord = data.fullRecord;
        });
      }
    },
    invoiceRefresh() {
      let vm = this;
      if (
        this.param[this.param.custType.toLowerCase()] != "" ||
        this.isFromCashReceipt
      ) {
        this.getList(
          this.invoiceHeaders,
          this.invOptions,
          "invoiceLoading",
          "in",
          "INV,FINV,INVF"
        ).then((data) => {
          let filteredData = data.items.filter(
            (value) =>
              value.balance != 0 || value.isAlreadyPaidByRemittance == true
          );

          if (this.invOptions.page > 1) {
            if (filteredData.length > 0) {
              filteredData.forEach((item) => {
                let existItem = vm.invoiceItems.filter((val) => val == item);
                if (existItem.length < 1) {
                  vm.invoiceItems.push(item);
                }
              });
            }
          } else {
            this.invoiceItems = filteredData;
          }
          this.totalItemsInvHeader = data.total;
          this.isFullRecordInv = data.fullRecord;
        });
      }
    },
    getList(headers, options, loading, notation, type) {
      this[loading] = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        ) {
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        }

        const findHeaderValueNotEmpty = headers.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        // addition param
        let custCode = this.param[this.param.custType.toLowerCase()].code;
        if (this.isFromCashReceipt) {
          custCode = this.param.customerCode;
        }
        param["clientCode.equals"] = custCode;
        if (param["transType.equals"] == undefined) {
          param["transType." + notation] = type;
        }

        // API.get("finance/api/finance/invaccount/getdebtoraccount", param)
        API.get(
          "finance/api/finance/invaccount/gettransactiondebtor/outstandingJC",
          param
        )
          .then((resp) => {
            if (resp.data.code == 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.listTransaction,
                fullRecord:
                  resp.data.listTransaction.length == options.itemsPerPage,
              });
            } else {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: [],
                fullRecord:
                  resp.data.listTransaction.length == options.itemsPerPage,
              });
            }
            this[loading] = false;
          })
          .catch((error) => {
            console.log(error);
            this[loading] = false;
          });
      });
    },

    addInvoice(item) {
      let existItem = this.toAddInvoiceItems.filter(
        // (value) => value.accountNo == item.accountNo && value.term == item.term
        (value) => value.id == item.id
      );
      if (existItem < 1) {
        this.toAddInvoiceItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeInvoice(item, name) {
      this.amountChanged = false;
      for (let i = 0; i < this[name].length; i++) {
        if (
          this[name][i].accountNo == item.accountNo &&
          this[name][i].term == item.term
        ) {
          this[name].splice(i, 1);
        }
      }
    },
    async submitInvoice() {
      let vm = this;
      this.invoiceDialog = false;
      this.amountChanged = false;
      this.items = await this.toAddInvoiceItems.map(function (row) {
        if (!row.existing) {
          row.oriAmoutPaid = row.amoutPaid;
          row.amoutPaid = vm.currencyFormat(row.balance);
          row.exchgRate = "";
          row.rateLoading = true;
        }
        return row;
      });

      if (this.param.currency != "") {
        for (let item of this.items) {
          if (!item.existing) {
            let rate = 1;
            if (item.currency != this.param.currency) {
              let currency =
                item.currency == "IDR" ? this.param.currency : item.currency;
              rate = await this.getExchangeRate(currency);
            }
            item.exchgRate = rate;
            item.rateLoading = false;
            if (this.param.currency == "IDR") {
              item.equivAmount = this.currencyToFloat(item.amoutPaid) * rate;
            } else {
              item.equivAmount = this.currencyToFloat(item.amoutPaid) / rate;
            }
            item.existing = true;
          }
        }
      }
    },
    openInvoiceDialog() {
      this.toAddInvoiceItems = JSON.parse(JSON.stringify(this.items));
      this.toAddInvoiceItems = this.toAddInvoiceItems.map(function (row) {
        // row.amoutPaid = row.oriAmoutPaid;
        return row;
      });
      this.invoiceDialog = true;
      this.amountChanged = false;

      for (let key of this.invoiceHeaders) {
        key.searchValue = "";
      }
      this.invoiceRefresh();
      // this.onkeyupInvoiceSearch();
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    getCreditBalance() {
      let balance = this.currencyToFloat(this.param.balance);
      let totalEqAmount = this.currencyToFloat(this.getTotal("equivAmount"));
      return balance + totalEqAmount;
    },
    onkeyupCashSearch() {
      // this.toShowCashItems = JSON.parse(JSON.stringify(this.cashItems));
      // for (let key of this.cashHeaders) {
      //   if (key.searchValue != null && key.searchValue != "") {
      //     this.toShowCashItems = this.toShowCashItems.filter(
      //       (value) => value[key.value].indexOf(key.searchValue) > -1
      //     );
      //   }
      // }
      this.cashOptions.page = 1;
      this.cashRefresh();
    },
    onkeyupInvoiceSearch() {
      // this.toShowInvoiceItems = JSON.parse(JSON.stringify(this.invoiceItems));
      // for (let key of this.invoiceHeaders) {
      //   if (key.searchValue != null && key.searchValue != "") {
      //     this.toShowInvoiceItems = this.toShowInvoiceItems.filter(
      //       (value) => value[key.value].indexOf(key.searchValue) > -1
      //     );
      //   }
      // }
      this.invOptions.page = 1;
      this.invoiceRefresh();
    },
    currencyFormat(data, decimal = null, mode = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let countOriDecimal =
        amount.split(".")[1] != undefined ? amount.split(".")[1].length : 0;
      let toFixed = float.toFixed(decimal == null ? 2 : decimal);
      if (mode == "max") {
        if (countOriDecimal >= decimal) {
          toFixed = float.toFixed(decimal);
        } else if (countOriDecimal >= 3) {
          toFixed = float.toFixed(countOriDecimal);
        } else {
          toFixed = float.toFixed(2);
        }
      }
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    paidAmountChange(item) {
      this.amountChanged = true;
      console.log("paidAmountChange", item.amoutPaid);
      let paidAmount = this.currencyToFloat(item.amoutPaid);
      let rate = this.currencyToFloat(item.exchgRate);
      if (this.param.currency == "IDR" || this.param.currency == "") {
        item.equivAmount = paidAmount * rate;
      } else {
        item.equivAmount = paidAmount / rate;
      }
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    sortClick(value) {
      if (this.cashOptions.sortBy[0] == value) {
        if (this.cashOptions.sortDesc[0] == false) {
          this.cashOptions.sortDesc[0] = true;
        } else if (this.cashOptions.sortDesc[0] == true) {
          this.cashOptions.sortBy = [];
          this.cashOptions.sortDesc = [];
        }
      } else {
        this.cashOptions.sortBy = [value];
        this.cashOptions.sortDesc = [false];
      }
      // this.toShowCashItems = JSON.parse(JSON.stringify(this.toShowCashItems));
    },
    async getExchangeRate(curr = "IDR") {
      let param = {
        currencyExchangeRate: {
          currencyFrom: curr == "IDR" ? this.param.currency : curr,
          currencyTo: "IDR",
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    openEditRateDialog(item) {
      if (item.amoutPaid == "0.00") {
        this.submitDialog.title = "Please input pay amount";
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      } else {
        this.editRateItem = item;
        this.editRateChanged = false;
        this.editRateAmountChanged = false;
        this.editRateEqAmountChanged = false;
        this.editRate = this.currencyFormat(item.exchgRate, 2);
        this.editRateAmount = this.currencyFormat(item.amoutPaid);
        this.editRateEqAmount = this.currencyFormat(item.equivAmount);
        this.editRateDialog = true;
      }
    },
    submitRate() {
      this.editRateDialog = false;
      this.amountChanged = false;
      this.editRateItem.amoutPaid = this.editRateAmount;
      this.editRateItem.exchgRate = this.currencyToFloat(this.editRate);
      this.editRateItem.equivAmount = this.currencyToFloat(
        this.editRateEqAmount
      );
      this.items.splice(0, 0);
      // this.paidAmountChange(this.editRateItem);
    },
    invAmountLimit(item) {
      return (v) =>
        this.currencyToFloat(v) <= item.balance ||
        "Cannot be greater than Invoice Balance";
    },
    invListValidate() {
      let vm = this;
      let errorItems = this.items.filter(
        (value) => vm.currencyToFloat(value.amoutPaid) > value.balance
      );
      return errorItems.length > 0;
    },
    editRateInput() {
      console.log("editRateInput");
      let after = this.editRate;
      let paidAmount = this.currencyToFloat(this.editRateAmount);
      let rate = this.currencyToFloat(after);
      this.editRateEqAmountChanged = false;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        this.editRateEqAmount = this.currencyFormat(paidAmount * rate);
      } else {
        this.editRateEqAmount = this.currencyFormat(paidAmount / rate);
      }
    },
    editRateAmountInput() {
      console.log("editRateAmountInput");
      let after = this.editRateAmount;
      let paidAmount = this.currencyToFloat(after);
      let rate = this.currencyToFloat(this.editRate);
      this.editRateEqAmountChanged = false;
      if (this.param.currency == "IDR" || this.param.currency == "") {
        this.editRateEqAmount = this.currencyFormat(paidAmount * rate);
      } else {
        this.editRateEqAmount = this.currencyFormat(paidAmount / rate);
      }
    },
    editRateEqAmountInput() {
      console.log("editRateEqAmountInput");
      if (this.editRateAmount != "0.00") {
        let after = this.editRateEqAmount;
        let paidAmount = this.currencyToFloat(this.editRateAmount);
        let equivAmount = this.currencyToFloat(after);
        this.editRateChanged = false;
        if (this.param.currency == "IDR" || this.param.currency == "") {
          this.editRate = this.currencyFormat(equivAmount / paidAmount, 2);
        } else {
          this.editRate = this.currencyFormat(paidAmount / equivAmount, 2);
        }
      }
    },
    getDetailType(headItem, detailItem) {
      let type = detailItem.tranCode;
      if (detailItem.tranCode == "CA") {
        type =
          detailItem.refAccountType == null
            ? detailItem.tranCode
            : detailItem.refAccountType;
      }
      return type;
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    showPayRemit(item) {
      this.submitDialog.title =
        "Invoice " + item.accountNo + " already paid to Insurance";
      this.submitDialog.message = "";
      this.submitDialog.mode = "error";
      this.submitDialog.show = true;
    },
    infiniteScrolling(entries, observer, isIntersecting) {
      console.log("entries", entries);
      console.log("observer", observer);
      console.log("isIntersecting", isIntersecting);
      if (
        !this.cashLoading &&
        this.isFullRecord &&
        this.cashItems.length > 0 &&
        entries[0].isIntersecting
      ) {
        this.cashOptions.page = this.cashOptions.page + 1;
        this.cashRefresh();
      }
    },
    infiniteScrollingInv(entries, observer, isIntersecting) {
      console.log("entries", entries);
      console.log("observer", observer);
      console.log("isIntersecting", isIntersecting);
      if (
        !this.invoiceLoading &&
        this.isFullRecordInv &&
        this.invoiceItems.length > 0 &&
        entries[0].isIntersecting
      ) {
        this.invOptions.page = this.invOptions.page + 1;
        this.invoiceRefresh();
      }
    },
    getCnInfo(item) {
      this.infoCnDialog = { show: true, mode: "info", item: item };
    },
    infoButtonShow(item) {
      let show = false;
      if (item.accountType == "CNF") {
        if (item.amountPayable != item.balance) {
          show = true;
        }
      }
      console.log("infoButtonShow", show);
      return show;
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>

<style>
th.xsmall-label .v-label {
  font-size: x-small;
}
</style>
