<template>
  <v-card flat>
    <isttoolbar
      title="Finance"
      dark
      color="secondary"
      icon="mdi-chart-box-plus-outline"
    >
      <v-spacer />

      <!-- <v-dialog v-model="journalDialog" persistent max-width="800">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            class="mx-1"
            min-width="100px"
            v-bind="attrs"
            v-on="on"
          >
            View Journal
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline blue--text text--darken-4">
            Journal List
          </v-card-title>
          <v-card-text>
            <v-data-table
              :headers="journalHeaders"
              :items="journalItems"
              hide-default-footer
              class="elevation-1"
            >
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="journalDialog = false"
            >
              Back
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->
      <journaldialog
        api="/finance/api/finance/creditapplication/viewjournal/"
        :refNo="this.param.creditAppNo"
        
      >
        <!-- viewAuth="credit-application-view-journal" -->
      </journaldialog>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <printaction
            v-bind="attrs"
            v-on="on"
            :items="printItems"
            :id="param.creditAppNo"
            status=""
            :customer="param.customerName"
            idParam="idCreditApp"
            
          >
            <!-- cekAuth="credit-application-generate" -->
            <!-- title="Credit Application" -->
          </printaction>
        </template>
        <span>Print</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="toList" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar
      :title="
        disableForm ? 'View Credit Application' : 'Edit Credit Application'
      "
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Credit Application No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.creditAppNo"
            hide-details="auto"
            label="{Auto Generated}"
            ref="creditAppNo"
            name="creditAppNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <!-- <v-autocomplete
            hide-details="auto"
            label="Select Type"
            v-model="param.custType"
            ref="custType"
            name="custType"
            :items="search.custType.items"
            item-value="value"
            item-text="text"
            append-icon=""
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-autocomplete> -->
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
          >
            <v-radio
              label="Client"
              value="CLIENT"
              :disabled="param.custType == 'AGENT'"
            ></v-radio>
            <v-radio
              label="Agent"
              value="AGENT"
              :disabled="param.custType == 'CLIENT'"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            <!-- Customer<span class="error--text">*</span> -->
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Customer"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>

      <br />
      <v-toolbar color="grey lighten-2" dense flat>
        <v-toolbar-title class="font-weight-medium"
          >Cash/Credit Note Transaction</v-toolbar-title
        ></v-toolbar
      >
      <br />

      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Ref. No.<span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1" style="display: inherit">
          <v-text-field
            v-model="param.refNo"
            ref="refNo"
            name="refNo"
            label="Choose Ref No"
            :rules="[rules.required]"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
          <v-icon
            v-show="infoButtonShow(cshItem)"
            @click="getCnInfo(cshItem)"
            small
            class="ml-1 my-auto"
            color="primary"
          >
            mdi-information-outline
          </v-icon>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Original Amount </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Original Amount"
            ref="amount"
            name="amount"
            class="ma-0"
            v-model="param.amount"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Currency </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Currency"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            :item-text="currencyTextItem"
            class="ma-0"
            append-icon=""
            readonly
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Ori Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Ori Exchange Rate"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Type </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            label="Select Transaction Type"
            v-model="param.transType"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :loading="search.transType.loading"
            item-value="code"
            item-text="code"
            class="ma-0"
            append-icon=""
            readonly
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Balance"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Bill Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Bill Date"
            ref="billDate"
            name="billDate"
            class="ma-0"
            v-model="param.billDate"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
          <!-- <v-menu
            v-model="param.billDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.billDate.date"
                ref="billDate"
                name="billDate"
                label="Select Reference Date"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.billDate.menu = !param.billDate.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.billDate.date"
              no-title
              @input="param.billDate.menu = false"
            ></v-date-picker>
          </v-menu> -->
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Current Exchange Rate </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Current Exchange Rate"
            ref="currentExcRate"
            name="currentExcRate"
            class="ma-0"
            v-model="param.currentExcRate"
            :loading="currentRateLoading"
            readonly
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Detail </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            label="Detail"
            ref="detail"
            name="detail"
            class="ma-0"
            v-model="param.detail"
            :rows="2"
            flat
            outlined
            dense
            solo
            readonly
          ></v-textarea>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title"> Balance (L C) </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Balance (L C)"
            ref="balanceLc"
            name="balanceLc"
            class="ma-0"
            v-model="param.balanceLc"
            :loading="currentRateLoading"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-data-table
      :headers="headers"
      :items="items"
      hide-default-footer
      class="elevation-1"
      height="300"
      fixed-header
      :items-per-page="itemsPerPage"
    >
      <template v-slot:item.balanceAmount="{ item }">
        <div>{{ currencyFormat(item.balanceAmount) }}</div>
      </template>
      <template v-slot:item.paidAmount="{ item }">
        <div>{{ currencyFormat(item.paidAmount) }}</div>
      </template>
      <template v-slot:item.exchgRate="{ item }">
        <div>{{ currencyFormat(item.exchgRate) }}</div>
      </template>
      <template v-slot:item.equivAmount="{ item }">
        <div>{{ currencyFormat(item.equivAmount) }}</div>
      </template>
      <!-- <template v-slot:item.type="{}">
        <div>INV</div>
      </template> -->
      <template v-slot:body.append>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title">Total </span>
            <!-- <span v-if="header.value == 'balanceAmount'" class="title"
              >{{ getTotal("balanceAmount") }}
            </span>
            <span v-if="header.value == 'paidAmount'" class="title"
              >{{ getTotal("paidAmount") }}
            </span> -->
            <span v-if="header.value == 'equivAmount'" class="title"
              >{{ getTotal("equivAmount") }}
            </span>
          </td>
        </tr>
        <tr>
          <td v-for="header in headers" :key="header.text">
            <span v-if="header.value == 'exchgRate'" class="title">
              Credit Balance
            </span>
            <span v-else-if="header.value == 'equivAmount'" class="title">
              <!-- {{ param.creditBalance }} -->
              {{ currencyFormat(getCreditBalance()) }}
            </span>
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-form readonly>
      <v-row class="mx-2">
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Entry By </span>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                hide-details="auto"
                ref="entryName"
                name="entryName"
                class="ma-0"
                v-model="param.entryName"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                hide-details="auto"
                ref="entryDate"
                name="entryDate"
                class="ma-0"
                v-model="param.entryDate"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>

    <v-dialog v-model="infoCnDialog.show" max-width="400">
      <v-card>
        <v-card-actions>
          <v-spacer />
          <v-btn
            small
            text
            depressed
            color="primary"
            @click="infoCnDialog.show = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text class="text-h6 justify-center text-center">
          <span class="black--text">
            {{ "The payable amount is " + infoCnDialog.item.amountPayable }}
          </span>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            min-width="100"
            color="primary"
            outlined
            @click="infoCnDialog.show = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Process</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? reloadData() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import journaldialog from "@/components/dialog/journalDialog";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import printaction from "@/components/toolbars/printAction";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    journaldialog,
    printaction,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      cashReceiptNo: "",
      creditAppNo: "",
      custType: "CLIENT",
      client: "",
      agent: "",
      customerCode: "",
      customerName: "",
      customer: "",
      refNo: "",
      amount: "",
      currency: "",
      excRate: "",
      transType: "",
      balance: "",
      billDate: "",
      currentExcRate: "",
      detail: "",
      balanceLc: "",
    },
    search: {
      custType: {
        items: [
          { value: "CLIENT", text: "Client" },
          { value: "AGENT", text: "Agent" },
        ],
        loading: false,
      },
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
          { code: "CN", value: "CN" },
          { code: "CNF", value: "CNF" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url: "/config/api/master-akuncoa/?coaType.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [],
        url: "",
        loading: false,
      },
    },
    headers: [
      {
        text: "Invoice No",
        align: "start",
        sortable: false,
        value: "invoiceNo",
        add: "",
        rules: [],
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        searchValue: "",
      },
      {
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
      },
      {
        text: "Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Balance",
        sortable: false,
        value: "balanceAmount",
        add: "",
        rules: [],
      },
      {
        text: "Pay Amount",
        sortable: false,
        value: "paidAmount",
        add: "",
        rules: [],
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchgRate",
        add: "",
      },
      { text: "Equiv Amount", sortable: false, value: "equivAmount", add: "" },
      // { text: "", sortable: false, value: "action", add: "" },
    ],
    items: [],
    loading: false,

    journalHeaders: [
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "COA",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      // {
      //   text: "Type",
      //   sortable: false,
      //   value: "type",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },
      { text: "Amount", sortable: false, value: "amount", add: "", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        rules: [],
      },
      // { text: "Action", sortable: false, value: "action", add: "" },
    ],
    journalItems: [],

    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    statusConfirm: false,
    overlay: true,
    journalDialog: false,
    currentRateLoading: false,
    printItems: [
      {
        // code: "",
        text: "Debtor Journal",
        name: "Credit Application Debtor Journal",
        url: "/finance/api/finance/creditapplication/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    invOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    infoCnDialog: {
      show: false,
      mode: "loading",
      item: {},
    },
    cshItem: {},
    itemsPerPage: -1,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        currency: this.param.currency,
        transType: this.param.transType,
        receivedType: this.param.receivedType,
        bankSource: this.param.bankSource,
        reference: this.param.reference,
        refDate: this.param.refDate.date,
        bankReceived: this.param.bankReceived,
        amount: this.param.amount,
        excRate: this.param.excRate,
      };
    },
  },

  watch: {
    // "param.status": {
    //   handler: function (after, before) {
    //     console.log("before", before);
    //     let status = this.search.status.items.filter(
    //       (value) => value.code == after
    //     );
    //     if (status.length > 0) {
    //       this.param.statusDesc = status[0].value;
    //     }
    //   },
    //   deep: true,
    // },
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },

  created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      this.getItemData(id);
      // this.getJournals(id);
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async getItemData(id) {
      this.param.creditAppNo = id;
      await API.get(
        "/finance/api/finance/creditapplication/" + this.param.creditAppNo
      ).then((resp) => {
        let dataResp = resp.data.creditApplicationDataDto;
        this.param.creditAppNo = dataResp.idCreditApplication;
        this.param.custType = dataResp.customerType;
        this.param.customerCode = dataResp.customerCode;
        this.param.customerName = dataResp.customerName;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.refNo = dataResp.idCashReceipt;
        this.param.amount = this.currencyFormat(dataResp.cshOriAmount);
        this.param.currency = dataResp.currency;
        this.param.excRate = this.currencyFormat(dataResp.cshOriExchangeRate);
        this.param.transType = dataResp.type;
        this.param.balance = this.currencyFormat(dataResp.balance);
        this.param.billDate = dataResp.billDate;
        this.param.currentExcRate = "";
        this.param.detail = dataResp.detail;
        this.param.balanceLc = "";
        this.items = dataResp.listInvoice.map(function (row) {
          row.exchgRate = row.exchangeRate;
          // if (dataResp.currency == "IDR") {
          //   row.equivAmount = row.paidAmount * row.exchangeRate;
          // } else {
          //   row.equivAmount = row.paidAmount / row.exchangeRate;
          // }
          return row;
        });
        this.param.entryName = dataResp.entryBy;
        this.param.entryDate = dataResp.entryDate;
        this.cshItem = {
          accountType: dataResp.type,
          amountPayable: dataResp.payable,
          balance: dataResp.balance,
        };
      });

      // get dropdown data list & inv rate
      this.initList(["currency", "receivedType"]);
      // this.getInvRate();

      // get cash detail
      // let paramJSON = {
      //   "accountNo.equals": this.param.refNo,
      // };
      // let cashResp = await API.get(
      //   "/finance/api/finance/invaccount/getdebtoraccount",
      //   paramJSON
      // );
      // if (cashResp.data.code == 0) {
      //   if (cashResp.data.listTransaction.length > 0) {
      //     let dataResp = cashResp.data.listTransaction[0];
      //     this.param.detail = dataResp.tranDesc;
      //     this.param.amount = this.currencyFormat(dataResp.amount);
      //     this.param.excRate = this.currencyFormat(dataResp.exchgRate);
      //   }
      // }
      this.getCurrentRate();
      this.overlay = false;
    },
    async getCurrentRate() {
      // get current rate
      this.currentRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      let balance = this.currencyToFloat(this.param.balance);
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.disableForm = true;
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ 
        name: "credit-application-list",
        query: {back: true},
      });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        if (
          this.param.status != this.param.statusInit &&
          ["2", "3"].indexOf(this.param.status) != -1
        ) {
          this.statusConfirm = true;
        } else {
          await this.doEdit();
        }
      } else {
        this.formHasErrors = false;
      }
    },
    reloadData() {
      this.getItemData(this.param.receiptNo);
      this.overlay = true;
      this.dialog.show = false;
    },
    // to void
    async toVoid() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      let paramJSON = {
        cashReceiptData: {
          cashReceiptNo: this.param.receiptNo,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/finance/api/finance/cashreceipt/void", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.reloadData();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },

    initList(list) {
      for (let l of list) {
        API.get(this.search[l].url)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      });
      search.request = null;
    },
    statusOnChange() {
      this.param.progress = "";
      if (this.param.status == "2") {
        this.param.progress = "6";
      } else if (this.param.status == "3") {
        this.param.progress = "5";
      }
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    isDataExist(value, items) {
      let isExist = false;
      for (let i of items) {
        if (i.id == parseFloat(value)) {
          isExist = true;
        }
      }
      console.log("isExist", isExist);
      return isExist;
    },

    viewFile(type = null, format = null) {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;

      let docUrl = "finance/api/finance/cashreceipt/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/cashreceipt/generate-copy";
      }
      let paramJSON = {
        id: this.param.receiptNo,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.data, format);
          } else {
            this.previewFile(resp.data.data);
          }
          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Cash Receipt " +
          // this.param.transactionId +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          // "-" +
          // this.param.customer +
          // " " +
          // this.currentTime +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      journal["accountType"] = this.param.customerType;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    getCreditBalance() {
      let balance = this.currencyToFloat(this.param.balance);
      let totalEqAmount = this.currencyToFloat(this.getTotal("equivAmount"));
      return balance + totalEqAmount;
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async getInvRate() {
      for (let key of this.items) {
        let paramJSON = {
          "accountNo.equals": key.invoiceNo,
        };
        let invResp = await API.get(
          "/finance/api/finance/invaccount/getdebtoraccount",
          paramJSON
        );
        if (invResp.data.code == 0) {
          if (invResp.data.listTransaction.length > 0) {
            let dataResp = invResp.data.listTransaction[0];
            key["exchgRate"] = dataResp.exchgRate;
            key.equivAmount = key.paidAmount * dataResp.exchgRate;
          }
        }
      }
      this.items = JSON.parse(JSON.stringify(this.items));
    },
    async getJournals(id) {
      let vm = this;
      let resp = await API.get(
        "/finance/api/finance/creditapplication/viewjournal/" + id
      );
      console.log("journal resp", resp);
      let dataResp = resp.data;
      if (resp.data.code == 0) {
        this.journalItems = dataResp.listJournalEntry
          ? dataResp.listJournalEntry.map(function (row, i) {
              let seqNo = i + 1;
              let amount = vm.currencyFormat(row.amount);
              let exchangeRate = vm.currencyFormat(row.exchgrate);
              let amountEq = vm.currencyFormat(row.amountEq);
              return {
                no: seqNo,
                coa: row.coaCode,
                currency: row.currency,
                // type: row.type,
                amount: amount,
                rate: exchangeRate,
                eqAmount: amountEq,
              };
            })
          : [];
      } else {
        this.journalItems = [];
      }
    },
    infoButtonShow(item) {
      let show = false;
      if (item.accountType == "CNF") {
        if (item.amountPayable != item.balance) {
          show = true;
        }
      }
      console.log("infoButtonShow", show);
      return show;
    },
    getCnInfo(item) {
      this.infoCnDialog = { show: true, mode: "info", item: item };
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>>
