<template>
  <v-card flat>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Trans No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            v-model="param.date"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
       <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Underwriter
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
         <v-text-field
            readonly
            v-model="param.underwriter"
            ref="underwriter"
            name="underwriter"
            label="Select underwriter"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Details
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-textarea
            readonly
            flat
            outlined
            dense
            solo
            hide-details="auto"
            v-model="param.details"
            ref="address"
            :rows="4"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-data-table
        :headers="headersTAB"
        :items="journalItems"
        hide-default-footer
        class="elevation-1"
      >
        <template v-slot:[`item.type`]="{ item }">
          {{ item.type == "D" ? "Debit" : "Credit" }}
        </template>
        <!-- <template v-slot:[`item.customerName`]="{ item }">
          {{ item.customerCode }} - {{ item.customerName }}
        </template> -->
        <template v-slot:[`item.uwCode`]="{ item }">
          {{ item.uwCode }} - {{ item.uwName }}
        </template>
        <template v-slot:[`item.balance`]="{ item }">
          {{ formatMoney(Number(item.balance)) }}
        </template>
        <template v-slot:[`item.creditAmount`]="{ item }">
          {{ item.type == "C" ? formatMoney(Number(item.creditAmount)) : "" }}
        </template>
        <template v-slot:[`item.debitAmount`]="{ item }">
          {{ item.type == "D" ? formatMoney(Number(item.debitAmount)) : "" }}
        </template>
        <template v-slot:[`item.exchangeRate`]="{ item }">
          {{ formatMoney(Number(item.exchangeRate)) }}
        </template>
        <template v-slot:[`item.amountEq`]="{ item }">
          {{ formatMoney(Number(item.amountEq)) }}
        </template>

        <template v-slot:body.append>
          <tr>
            <td v-for="header in headersTAB" :key="header.text">
              <span v-if="header.value == 'exchangeRate'" class="title"
                >Total
              </span>
              <span v-if="header.value == 'amountEq'" class="title"
                >{{ formatMoney(Number(total())) }}
              </span>
            </td>
          </tr>
        </template>
      </v-data-table>

      <v-col>
        <v-row class="ml-0 pa-0">
          <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="pa-1">
                <span class="title">
                  Entry By
                  <!-- <span class="error--text">*</span> -->
                </span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  hide-details="auto"
                  readonly
                  v-model="param.createdby"
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
              <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                <v-text-field
                  hide-details="auto"
                  v-model="param.createdDate"
                  readonly
                  class="ma-0"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Customer Name."
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-form>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";

export default {
  components: {},
  directives: {},
  props: ["detailDialog"],

  data: () => ({
    itemsType: [
      { name: "Debit", value: "D" },
      { name: "Credit", value: "C" },
    ],
    dialogFileTab: false,
    tanggal: false,

    param: {
      createdby: "",
      createdDate: "",
      code: 0,
      id: 0,
      date: new Date().toISOString().substr(0, 10),
      details: "",
      underwriter: "",
    },
    paramDialog: {
      client: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },
    dataCLient: [],
    dataTransType: [],
    itemsCurency: [],
    headersTAB: [
      {
        text: "Underwriter",
        align: "start",
        sortable: false,
        value: "uwCode",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currencys",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "No",
        sortable: false,
        value: "accountNos",
        add: "",
        rules: [],
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
        // component: "select",
      },
      {
        text: "Trans Type",
        sortable: false,
        value: "accountTypes",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Billing Date",
        sortable: false,
        value: "billingDates",
        add: "",
        rules: [],
        component: "select",
      },
      {
        // width: "15%",
        text: "Type",
        sortable: false,
        value: "type",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "Debit Amount",
        sortable: false,
        value: "debitAmount",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Credit Amount",
        sortable: false,
        value: "creditAmount",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "exchangeRate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Equiv. Amount",
        sortable: false,
        value: "amountEq",
        add: "",
        rules: [],
      },
    ],
    items: [],
    loading: false,
    model: false,

    headerDialogItems: [],

    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,
    amountChanged: false,
    rateChanged: false,
    overlay: false,
  }),

  computed: {},
  watch: {
    "detailDialog.show": {
      handler: function (after) {
        if (
          after &&
          ["JC", "CJNS", "CJNM"].indexOf(this.detailDialog.type) != -1
        ) {
          this.disableForm = true;
          this.getItemData();
        }
      },
      deep: true,
    },
  },

  mounted() {},

  created() {
    if (["JC", "CJNS", "CJNM"].indexOf(this.detailDialog.type) != -1) {
      this.disableForm = true;
      this.getItemData();
    }
  },

  methods: {
    total() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.amountEq || 0);
      }, 0);
    },
    totali() {
      return this.journalItems.reduce(function (a, c) {
        return a + Number(c.creditEqvAmt || 0);
      }, 0);
    },

    async getItemData() {
      this.dialog.show = true;
      let resp = await API.get(
        "/finance/api/financeclaim/debtor/journalcurrency/" + this.detailDialog.id,
        {}
      );
      if (resp.data.code == 0) {
        this.dialog.show = false;

        const data = resp.data.journalCurrencyData;
        this.param.createdby = data.entryBy;
        this.param.createdDate = data.entryDate;
        this.param.details = data.description;
        this.param.code = data.idJournalCurrency;
        this.param.date = data.tranDate;
        if(data.listTransaction[0].uwName) {
          this.param.underwriter = data.listTransaction[0].uwCode + " - " + data.listTransaction[0].uwName;
        } else {
          this.param.underwriter = data.listTransaction[0].uwCode
        }
        this.journalItems = data.listTransaction.map(function (row) {
          row.debitAmount = row.amount;
          row.creditAmount = row.amount;
          row.type = row.dbcr;
          row.customerNames = row.customerName;
          row.currencys = row.currency;
          row.accountNos = row.accountNo;
          row.accountTypes = row.accountType;
          row.billingDates = row.billingDate;
          // row.balances = row.balance;
          console.log("HAHAHAH");
          console.log(row.debitAmount);
          if (row.dbcr == "D") {
            row.debitEqyAmt = row.amountEq * row.exchangeRate;
          }
          if (row.dbcr == "C") {
            row.creditEqvAmt = row.amountEq * row.exchangeRate;
          }
          return row;
        });
        this.$emit("populated");
      } else {
        this.$emit("populated");
      }
    },
  },
};
</script>>
