<template>
  <v-card flat>
    <isttoolbar
      title="Class Of Risk"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer></v-spacer>
      <v-btn
        v-if="statusPage === 'edit'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="edit"
        >Save</v-btn
      >
      <v-btn
        v-if="statusPage === 'edit'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="back"
        >Cancel</v-btn
      >
      <v-tooltip bottom v-if="statusPage === 'view'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="change"
            text
            v-show="checkAuthorities('class-of-risk-edit')"
          >
            <v-icon>mdi-pencil mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom v-if="statusPage === 'view'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <!-- <v-btn
        v-if="statusPage === 'view'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="change"
      >Edit</v-btn>
      <v-btn
        v-if="statusPage === 'view'"
        height="40" width="100"
        outlined
        color="white"
        @click="back"
        >Back</v-btn> -->
    </isttoolbar>
    <isttoolbar
      v-if="statusPage === 'view'"
      title="View Class Of Risk"
      dark
      class="mb-4"
      color="primary"
    ></isttoolbar>
    <isttoolbar
      v-if="statusPage === 'edit'"
      title="Edit Class Of Risk"
      dark
      class="mb-4"
      color="primary"
    ></isttoolbar>

    <v-form :readonly="statusPage === 'view'">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Risk Group</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-combobox
            hide-details="auto"
            label="Search Risk Group"
            ref="riskGroup"
            name="riskGroup"
            v-model="param.riskGroup"
            :search-input.sync="search.riskGroup.input"
            @keyup="autocompSearch(search.riskGroup)"
            :items="search.riskGroup.items"
            item-value="value"
            item-text="value"
            :loading="search.riskGroup.loading"
            class="ma-0"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
          >
          </v-combobox>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Risk Code</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            solo
            :disabled="statusPage === 'edit'"
            hide-details="auto"
            label="Risk Code"
            ref="riskCode"
            v-model="param.riskCode"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Risk Name</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            flat
            outlined
            dense
            solo
            hide-details="auto"
            label="Risk Name"
            ref="riskName"
            v-model="param.riskName"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Risk Description</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-textarea
            flat
            outlined
            dense
            solo
            hide-details="auto"
            label="Risk Description"
            ref="description"
            v-model="param.description"
            :rules="[rules.required]"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Risk Status</span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="ma-0 pa-0">
          <v-switch
            ref="recordStatus"
            name="recordStatus"
            color="success"
            v-model="param.recordStatus"
            inset
            :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-2" v-show="statusPage === 'view'">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  created() {
    if (this.$route.query.id) {
      this.param.id = this.$route.query.id;
      this.getById();
    }
  },
  data: () => ({
    statusPage: "",
    param: {
      id: 0,
      riskGroup: "",
      riskCode: "",
      riskName: "",
      description: "",
      recordStatus: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    errorDescription: "",
    dialog: { show: false, success: false, error: false },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
    search: {
      riskGroup: {
        name: "riskGroup",
        input: "",
        items: [],
        url: "/config/api/master-parameter/?module.contains=RISK_GROUP&value.contains=",
        loading: false,
      },
    },
  }),
  computed: {
    form() {
      return {
        riskGroup: this.param.riskGroup,
        riskCode: this.param.riskCode,
        riskName: this.param.riskName,
        description: this.param.description,
        recordStatus: this.param.recordStatus,
      };
    },
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  mounted() {
    this.getById();
    this.statusPage = this.$route.query.statusPage;
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    change() {
      this.statusPage = "edit";
      this.$router.replace({
        name: "class-of-risk-edit",
        query: { ...this.$route.query, statusPage: "edit" },
      });
    },
    back() {
      this.$router.replace({ name: "class-of-risk-list", query: {back: true}, });
    },
    async getById() {
      this.loading = true;
      let id = this.param.id;
      let resp = await API.get("/config/api/master-risk/" + id, {});
      if (resp.data.code === 0) {
        this.loading = false;
        let data = resp.data.data;
        this.param.id = data.id;
        this.param.riskGroup = data.riskGroup;
        this.param.riskCode = data.riskCode;
        this.param.riskName = data.riskName;
        this.param.description = data.description;
        this.param.recordStatus = data.isActive == 1 ? true : false;
        this.param.entryName = data.createdBy;
        this.param.entryDate = this.formatDate(data.createdDate);
        this.param.modifName = data.modifiedBy;
        this.param.modifDate = this.formatDate(data.modifiedDate);
      }
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    async edit() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f] && f != "recordStatus") this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doProcess();
      } else {
        this.formHasErrors = false;
      }
    },
    async doProcess() {
      let paramJSON = {
        risk: {
          id: this.param.id,
          riskGroup: this.param.riskGroup,
          riskCode: this.param.riskCode,
          riskName: this.param.riskName,
          description: this.param.description,
          isActive: this.param.recordStatus ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/config/api/master-risk/update", param);
      if (resp.data.code === 0) {
        // this.dialog.success = true;
        this.dialog = { show: false, success: false, error: false },
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.back();
      } else {
        const err = resp.data.errorDescription;
        this.errorDescription = err;
        this.dialog.error = true;
      }
    },
  },
};
</script>
