<template>
  <v-card flat>
    <isttoolbar title="Class Of Risk" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer></v-spacer>
        <v-btn
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="save"
      >Save</v-btn>
      <v-btn
        height="40" width="100"
        outlined
        color="white"
        @click="back">Cancel</v-btn>
    </isttoolbar>
    <isttoolbar title="New Class Of Risk" class="mb-4" dark color="primary"></isttoolbar>

    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
            <span class="title">Risk Group</span>
            <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-combobox
            hide-details="auto"
            label="Search Risk Group"
            ref="riskGroup"
            name="riskGroup"
            v-model="param.riskGroup"
            :search-input.sync="search.riskGroup.input"
            @keyup="autocompSearch(search.riskGroup)"
            :items="search.riskGroup.items"
            item-value="value"
            item-text="code"
            :loading="search.riskGroup.loading"
            class="ma-0"
            :rules="[rules.required]"
            flat
            outlined
            dense
            solo
          >
          </v-combobox>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
            <span class="title">Risk Code</span>
            <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Risk Code"
            ref="riskCode"
            name="riskCode"
            flat
            outlined
            dense
            solo
            v-model="param.riskCode"
            hide-details="auto"
            :rules="[rules.required]"
            @keydown="codeKeydown($event)"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
            <span class="title">Risk Name</span>
            <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Risk Name"
            ref="riskName"
            name="riskName"
            flat
            outlined
            dense
            solo
            v-model="param.riskName"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
            <span class="title">Risk Description</span>
            <span class="error--text">*</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-textarea
            label="Risk Description"
            ref="description"
            name="description"
            flat
            outlined
            dense
            solo
            v-model="param.description"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar
  },
  props: {
    source: String
  },

  data: () => ({
    param: {
      riskGroup: "",
      riskCode: "",
      riskName: "",
      description: ""
    },
    errorDescription: "",
    dialog: { show: false, success: false, error: false },
    formHasErrors: false,
    rules: {
      required: value => !!value || "Required."
    },
    request: null,
    search: {
      riskGroup: {
        name: "riskGroup",
        input: "",
        items: [],
        url: "/config/api/master-parameter/?module.equals=RISK_GROUP&code.contains=",
        loading: false
      }
    },
  }),
  mounted() {
    this.getRiskGroup();
  },
  computed: {
    form() {
      return {
        riskGroup: this.param.riskGroup,
        riskCode: this.param.riskCode,
        riskName: this.param.riskName,
        description: this.param.description
      };
    },
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  watch: {
    "param.riskCode": function (val) {
     this.param.riskCode = val.toUpperCase().replace(/\W/g, '');
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    back() {
      this.$router.replace({ name: "class-of-risk-list" });
    },
    async save() {
      Object.keys(this.form).forEach(f => {
        if (!this.form[f] && f != "recordStatus") this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doProcess();
      } else {
        this.formHasErrors = false;
      }
    },
    async doProcess() {
        let paramJSON = {
          risk: {
            riskGroup: this.param.riskGroup.value,
            riskCode: this.param.riskCode,
            riskName: this.param.riskName,
            description: this.param.description
          },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/config/api/master-risk/add", param);
      if (resp.data.code === 0) {
          // this.dialog.success = true;
          this.dialog = { show: false, success: false, error: false },
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.back();
        } else {
          const err = resp.data.errorDescription;
          this.errorDescription = err;
          this.dialog.error = true;
        }
    },
    async getRiskGroup() {
      this.search.riskGroup.loading = true;
      let resp = await API.get("/config/api/master-parameter/?module.equals=RISK_GROUP");
      if (resp.data.code === 0) {
        this.search.riskGroup.loading = false;
        const data = resp.data.data;
        this.search.riskGroup.items = data
      }
    },
    codeKeydown(e) {
      if (/^\W|_$/.test(e.key)) {
        e.preventDefault();
      }
    },
  }
};
</script>
