<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row class="mx-2">
        <v-col cols="12" class="pa-1">
          <v-chip v-show="selection === 0" color="primary"
            >Single Insured</v-chip
          >
          <v-row
            v-show="selection === 1"
            :justify="'space-between'"
            class="ml-4"
          >
            <div>
              <v-chip color="primary">Multi Insured</v-chip>
            </div>
            <!-- <div class="mr-8">
                <v-btn
                  v-show="$route.query.statusPage === 'edit'"
                  min-width="100"
                  rounded
                  @click="clickPlus(0)"
                  color="primary"
                  >Addition</v-btn
                >
                <v-btn
                  v-show="$route.query.statusPage === 'edit'"
                  min-width="100"
                  rounded
                  @click="clickPlus(1)"
                  color="primary"
                  >Alteration</v-btn
                >
              </div> -->
          </v-row>
          <v-row
            v-show="selection === 1"
            class="ml-4 pt-2"
            align="center"
          >
            <v-col cols="2" class="pa-1">
              <span class="title">Insured</span>
            </v-col>
            <v-col cols="4" class="pa-1">
              <v-text-field
                placeholder="Insured"
                dense
                outlined
                hide-details="auto"
                ref="insured"
                v-model="invoice.insured"
                @input="setInsured"
                disabled
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row
            v-show="selection === 1"
            class="ml-4 pt-2"
            align="center"
          >
            <v-col cols="2" class="pa-1">
              <span class="title">Address</span>
            </v-col>
            <v-col cols="4" class="pa-1">
              <v-textarea
                placeholder="Address"
                dense
                outlined
                hide-details="auto"
                :rows="3"
                ref="description"
                v-model="invoice.insuredAddress"
                @input="setInsuredAddress"
                disabled
              ></v-textarea>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row v-show="selection === 0" class="mx-2">
        <v-col cols="6">
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Insured</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-text-field
                placeholder=""
                dense
                outlined
                hide-details="auto"
                ref="insured"
                v-model="invoice.insured"
                @input="setInsured"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Address</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-textarea
                placeholder=""
                dense
                outlined
                hide-details="auto"
                :rows="3"
                ref="description"
                v-model="invoice.insuredAddress"
                @input="setInsuredAddress"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row v-show="selection === 1" class="mx-2">
        <v-col cols="12">
          <v-data-table
            :headers="headersInsured"
            :items="items"
            class="elevation-1 mb-2"
            fixed-header
            :height="items.length > 0 ? '400' : ''"
            disable-pagination
            hide-default-footer
            :loading="loading"
          >
            <template v-slot:[`item.premiTotal`]="{ item }">{{
              currencyFormat(item.premiTotal)
            }}</template>
            <template v-slot:[`item.uwPremium`]="{ item }">{{
              currencyFormat(item.uwPremium)
            }}</template>
            <template v-slot:[`item.sumInsured`]="{ item }">{{
              currencyFormat(item.sumInsured)
            }}</template>
            <template v-slot:[`item.premiAmount`]="{ item }">{{
              currencyFormat(item.premiAmount)
            }}</template>
            <template v-slot:[`item.premiRate`]="{ item }">{{
              currencyFormat(parseFloat(item.premiRate) * 100, 6)
            }}</template>
            <template v-slot:[`item.action`]="{ item }">
              <v-menu bottom left :offset-x="true">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    v-show="invoice.statusDesc === 'FINAL'"
                  >
                    <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="viewItem(item)">
                    <v-list-item-title>View</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
              <v-btn
                v-show="invoice.statusDesc !== 'FINAL'"
                width="30"
                height="30"
                outlined
                icon
                class="mr-2"
                @click="pencilClick(item)"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <!-- <v-btn
                width="30"
                height="30"
                outlined
                icon
                v-show="$route.query.statusPage === 'edit'"
                @click="minusClick(item)"
              >
                  <v-icon>mdi-minus</v-icon>
              </v-btn> -->
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialogInsured"
      persistent
      width="unset"
      min-width="1000px"
      @click:outside="dialogInsured = true"
    >
      <v-card min-width="1000px">
        <v-card-title class="headline blue--text text--darken-4">
          Select Item
          <v-spacer></v-spacer>
          <v-btn text color="primary" id="clickClose" @click="clickClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-title class="ma-0 mTop">
          <!-- <v-chip-group v-model="selectItem" active-class="primary" mandatory>
            <v-chip>Addition</v-chip>
            <v-chip>Alteration</v-chip>
          </v-chip-group> -->
          <v-spacer></v-spacer>
          <v-col cols="6" class="pa-1">
            <v-row align="center" v-show="selectItem !== 1">
              <v-col cols="3"> </v-col>
              <v-col cols="6">
                <v-file-input
                  prepend-icon=""
                  id="multiInsured"
                  hide-details="auto"
                  ref="multiInsured"
                  accept=".xls, .xlsx"
                  type="file"
                  label="Add File to add new item..."
                  solo
                  flat
                  dense
                  outlined
                  class="ma-0"
                  v-model="nameFile"
                  :loading="loadingMultiInsured"
                  @change="updloadFile"
                  @click:clear="resetFile"
                  :disabled="invoice.statusPage == 'view'"
                >
                  <template v-slot:selection="{ text }">
                    <v-chip small label color="primary">
                      {{ text }}
                    </v-chip>
                  </template>
                </v-file-input>
              </v-col>
              <v-col cols="3">
                <v-btn
                  min-width="100"
                  rounded
                  @click="onBroswseClick"
                  color="primary"
                  v-show="invoice.statusPage != 'view'"
                  >Browse</v-btn
                >
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col cols="3"> </v-col>
              <v-col cols="6">
                <v-btn
                  text
                  class="pa-0 m-0 text-capitalize buttonTemplate"
                  @click="downloadTemplate"
                >
                  <span
                    class="primary--text title font-italic text-decoration-underline"
                  >
                    Download Template
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-card-title>
        <v-card-text v-show="selectItem === 0">
          <v-data-table
            :headers="headersAddition"
            :items="listItemAddition"
            item-key="seqNo"
            fixed-header
            :height="listItemAddition.length > 0 ? '400' : ''"
            class="elevation-1"
            hide-default-footer
            hide-default-header
            :loading="loadingAddition"
            :options.sync="optionsAddition"
            disable-pagination
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th v-for="header in headers" :key="header.text">
                    <v-checkbox
                      v-if="header.filterType == 'checkbox'"
                      v-model="checkbox"
                    ></v-checkbox>
                    <div align="center" justify="center" v-else>
                      {{ header.text }}
                    </div>
                    <!-- <v-text-field
                      v-else
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :readonly="!header.filterable"
                      v-on:keyup="onkeyupSearchManual('addition')"
                      placeholder=" "
                      style="margin-top: 10px"
                      :class="!header.filterBool ? 'no-border' : ''"
                    >
                      <v-btn slot="append-outer" icon @click="sortClickManual(header.value, 'addition')" v-show="header.sortable">
                        <v-icon
                          v-if="header.value==optionsAddition.sortBy[0] && !optionsAddition.sortDesc[0]"
                          dense
                          color="primary"
                        >mdi-sort-ascending</v-icon>
                        <v-icon
                          v-else-if="header.value==optionsAddition.sortBy[0] && optionsAddition.sortDesc[0]"
                          dense
                          color="primary"
                        >mdi-sort-descending</v-icon>
                        <v-icon v-else-if="header.value!=optionsAddition.sortBy[0]" dense>mdi-sort</v-icon>
                      </v-btn>
                    </v-text-field> -->
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:[`item.select`]="{ item }">
              <v-checkbox
                v-model="item.select"
                @click="() => selectOneItem(item)"
              ></v-checkbox>
            </template>
            <template v-slot:[`item.premiTotal`]="{ item }">{{
              currencyFormat(item.premiTotal)
            }}</template>
            <template v-slot:[`item.uwPremium`]="{ item }">{{
              currencyFormat(item.uwPremium)
            }}</template>
            <template v-slot:[`item.sumInsured`]="{ item }">{{
              currencyFormat(item.sumInsured)
            }}</template>
            <template v-slot:[`item.premiAmount`]="{ item }">{{
              currencyFormat(item.premiAmount)
            }}</template>
            <template v-slot:[`item.premiRate`]="{ item }">{{
              currencyFormat(parseFloat(item.premiRate) * 100, 6)
            }}</template>
            <template v-slot:[`item.effectiveDate`]="{ item }">{{
              formatDate(item.effectiveDate)
            }}</template>
            <template v-slot:[`item.objectDate`]="{ item }">{{
              formatDate(item.objectDate)
            }}</template>
            <template v-slot:[`item.effectiveDateFrom`]="{ item }">{{
              formatDate(item.effectiveDateFrom)
            }}</template>
          </v-data-table>
        </v-card-text>
        <v-card-text v-show="selectItem === 1">
          <v-data-table
            :headers="headersAlteration"
            :items="listItemAlteration"
            item-key="seqNo"
            fixed-header
            :height="listItemAlteration.length > 0 ? '400' : ''"
            class="elevation-1"
            hide-default-footer
            hide-default-header
            :loading="loadingAlteration"
            :options.sync="optionsAlteration"
            disable-pagination
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th v-for="header in headers" :key="header.text">
                    <v-checkbox
                      v-if="header.filterType == 'checkbox'"
                      v-model="checkbox"
                    ></v-checkbox>
                    <!-- hide-details="auto" -->
                    <!-- style="margin-top: 10px" -->
                    <div align="center" justify="center" v-else>
                      {{ header.text }}
                    </div>
                    <!-- <v-text-field
                      v-else
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :readonly="!header.filterable"
                      v-on:keyup="onkeyupSearchManual('alteration')"
                      placeholder=" "
                      style="margin-top: 10px"
                      :class="!header.filterBool ? 'no-border' : ''"
                    >
                      <v-btn slot="append-outer" icon @click="sortClickManual(header.value, 'alteration')" v-show="header.sortable">
                        <v-icon
                          v-if="header.value==optionsAlteration.sortBy[0] && !optionsAlteration.sortDesc[0]"
                          dense
                          color="primary"
                        >mdi-sort-ascending</v-icon>
                        <v-icon
                          v-else-if="header.value==optionsAlteration.sortBy[0] && optionsAlteration.sortDesc[0]"
                          dense
                          color="primary"
                        >mdi-sort-descending</v-icon>
                        <v-icon v-else-if="header.value!=optionsAlteration.sortBy[0]" dense>mdi-sort</v-icon>
                      </v-btn>
                    </v-text-field> -->
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:[`item.select`]="{ item }">
              <v-checkbox
                v-model="item.select"
                @click="() => selectOneItem(item)"
              ></v-checkbox>
            </template>
            <template v-slot:[`item.premiTotal`]="{ item }">{{
              currencyFormat(item.premiTotal)
            }}</template>
            <template v-slot:[`item.uwPremium`]="{ item }">{{
              currencyFormat(item.uwPremium)
            }}</template>
            <template v-slot:[`item.sumInsured`]="{ item }">{{
              currencyFormat(item.sumInsured)
            }}</template>
            <template v-slot:[`item.premiAmount`]="{ item }">{{
              currencyFormat(item.premiAmount)
            }}</template>
            <template v-slot:[`item.premiRate`]="{ item }">{{
              currencyFormat(parseFloat(item.premiRate) * 100, 6)
            }}</template>
            <template v-slot:[`item.effectiveDate`]="{ item }">{{
              formatDate(item.effectiveDate)
            }}</template>
            <template v-slot:[`item.objectDate`]="{ item }">{{
              formatDate(item.objectDate)
            }}</template>
            <template v-slot:[`item.effectiveDateFrom`]="{ item }">{{
              formatDate(item.effectiveDateFrom)
            }}</template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            class="mr-5"
            @click="setInvoice"
            :disabled="
              listItemAddition.length === 0 && listItemAlteration.length === 0
            "
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogLoading.show"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogLoading.show = true"
    >
      <v-card
        v-show="!dialogLoading.success && !dialogLoading.error"
        min-width="290px"
      >
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card
        v-show="dialogLoading.success || dialogLoading.error"
        min-width="290px"
      >
        <v-card-title
          v-if="dialogLoading.success"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogLoading.text }}</v-card-title
        >
        <v-card-title
          v-else-if="dialogLoading.error"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogLoading.text }}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn
            v-if="dialogLoading.error"
            color="primary"
            min-width="100px"
            outlined
            @click="closeUpload"
            >OK</v-btn
          >
          <v-btn
            v-else-if="dialogLoading.success"
            color="primary"
            min-width="100px"
            outlined
            @click="previewMultiInsured('create')"
            >View</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <multiinsureddetail
      :endors="$route.query.statusPage === 'edit'"
      :endorsType="endorsType"
      :model="detailDialog"
      v-on:close="detailDialog = false"
      :type="detailDialogType"
      :data="detailData"
      :mode="detailMode"
      :canEdit="false"
      v-on:saveSuccess="submitEndors"
    >
    </multiinsureddetail>

    <v-dialog
      v-model="dialogTemplate.show"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card
        v-show="!dialogTemplate.success && !dialogTemplate.error"
        min-width="290px"
      >
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card
        v-show="dialogTemplate.success || dialogTemplate.error"
        min-width="290px"
      >
        <v-card-title
          v-if="dialogTemplate.success"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogTemplate.text }}</v-card-title
        >
        <v-card-title
          v-else-if="dialogTemplate.error"
          class="justify-center"
          style="word-break: inherit;"
          >{{ dialogTemplate.text }}</v-card-title
        >
        <v-card-text
          v-if="dialogTemplate.error"
          class="d-flex justify-center error--text"
          style="word-break: inherit;"
        >
          {{ errorDescription }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              dialogTemplate = {
                show: false,
                success: false,
                error: false,
                text: '',
              }
            "
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import multiinsureddetail from "@/components/dialog/multiInsuredDetail/multiInsuredDetail";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    multiinsureddetail,
  },
  created() {
    if (this.invoice.multiInsuredFlag === 1) {
      this.previewMultiInsuredInit();
    }
    // if (this.invoice.multiInsuredFlag === 1 && this.$route.query.endorse === "create") {
    //   this.selection = 1
    // } else if (this.invoice.multiInsuredFlag === 0 && this.$route.query.endorse === "create") {
    //   this.selection = 0
    // }

    // if (this.invoice.multiInsuredFlag === 1  && this.$route.query.endorse === "view") {
    //   this.selection = 1
    // } else if (this.invoice.multiInsuredFlag === 0 && this.$route.query.endorse === "view") {
    //   this.selection = 0
    // }
    if (this.invoice.multiInsuredFlag === 1) {
      this.selection = 1;
    } else if (this.invoice.multiInsuredFlag === 0) {
      this.selection = 0;
    }

    let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
    let equipment = ["ENCPM", "PCPM"];
    let property = ["PPAR", "PFIRE", "PEQV", "PMB", "PTS", "PPARAC", "PPARAS"];

    let riskCode = this.invoice.riskCode;

    if (property.indexOf(riskCode) !== -1) {
      this.headersAddition = this.pparHeaders;
      this.headersAlteration = this.pparHeaders;
      this.headersInsured = this.pparHeaders;
    } else if (vehicle.indexOf(riskCode) !== -1) {
      this.headersAddition = this.pmviHeaders;
      this.headersAlteration = this.pmviHeaders;
      this.headersInsured = this.pmviHeaders;
    } else if (equipment.indexOf(riskCode) !== -1) {
      this.headersAddition = this.pcpmHeaders;
      this.headersAlteration = this.pcpmHeaders;
      this.headersInsured = this.pcpmHeaders;
    }
  },
  data: () => ({
    errorDescription: {},
    dialogTemplate: { show: false, success: false, error: false, text: "" },
    detailMode: "view",
    endorsType: "",
    detailData: false,
    detailDialog: false,
    detailDialogType: "",
    statusChoose: false,
    awaitSelect: false,
    checkbox: false,
    totalInsured: 0,
    totalItems: 0,
    options: {},
    optionsAlteration: {},
    optionsAddition: {},
    optionsInsured: {},
    dialogLoading: { show: false, success: false, error: false, text: "" },
    nameFile: null,
    loadingMultiInsured: false,
    selectItem: 0,
    selection: 0,
    request: null,
    items: [],
    selected: [],
    listItem: [],
    dataInsured: [],
    loading: false,
    awaitingSearch: false,
    headersInsured: [],
    headersAddition: [],
    listItemAddition: [],
    loadingAddition: false,
    dataAddition: [],
    headersAlteration: [],
    listItemAlteration: [],
    loadingAlteration: false,
    dataAlteration: [],
    headers: [
      {
        text: "Certificate No.",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Seq. No.",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Owner",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Merk/Type",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "100px",
      },
    ],
    pmviHeaders: [
      {
        text: "No",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Nama",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "No Polisi",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "No Chassis",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "No Engine",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Total Premi",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "100px",
      },
    ],
    pparHeaders: [
      {
        text: "No",
        align: "center",
        sortable: false,
        value: "seqNo",
        filterType: "input",
      },
      {
        text: "City",
        align: "center",
        sortable: false,
        value: "riskLocation",
        filterType: "input",
      },
      {
        text: "Risk Location",
        align: "center",
        sortable: false,
        value: "cityCode",
        filterType: "input",
      },
      {
        text: "Occ Code",
        align: "center",
        sortable: false,
        value: "cityName",
        filterType: "input",
      },
      {
        text: "Occupation",
        align: "center",
        sortable: false,
        value: "cityName",
        filterType: "input",
      },
      {
        text: "Effective Date",
        align: "center",
        sortable: false,
        value: "cityName",
        filterType: "input",
      },
      {
        text: "Description",
        align: "center",
        sortable: false,
        value: "cityName",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "100px",
      },
    ],
    pcpmHeaders: [
      {
        text: "Seq. No.",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Serial Number",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Description",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Category",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Sum Insured",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Rate %",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Premium",
        align: "center",
        sortable: false,
        value: "isLeader",
        filterType: "input",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "100px",
      },
    ],
    dialogInsured: false,
    riskMultiInsuredList: [],
  }),
  mounted() {
    this.getRiskMultiInsured();
  },
  computed: {
    ...mapState(["invoice"]),
    selectItemData: function () {
      return this.selectItem;
    },
    checkAllData: function () {
      return this.checkbox;
    },
  },
  watch: {
    "invoice.multiInsuredFlag": {
      handler: function (after) {
        // if (after === 1 && this.$route.query.endorse === "create") {
        //   this.selection = 1
        // } else if (after === 0 && this.$route.query.endorse === "create"){
        //   this.selection = 0
        // } else if (after === 1 && this.$route.query.endorse === "view" && this.$route.query.statusPage === "view") {
        //   this.selection = 1
        // } else if (after === 0 && this.$route.query.endorse === "view"  && this.$route.query.statusPage === "view") {
        //   this.selection = 0
        // }
        if (after === 1) {
          this.selection = 1;
        } else if (after === 0) {
          this.selection = 0;
        }
      },
      deep: true,
    },
    // "invoice.listObjectInsured": {
    //   handler: function (after) {
    //     if (after.length > 0 && this.$route.query.endorse === "view" && this.$route.query.statusPage === "view") {
    //       this.selection = 1
    //     } else if (after.length === 0 && this.$route.query.endorse === "view"  && this.$route.query.statusPage === "view") {
    //       this.selection = 0
    //     }
    //   },
    //   deep: true,
    // },
    "invoice.invoiceNo": {
      handler: function () {
        this.checkbox = false;
        this.nameFile = null;
        this.items = [];
        this.listItemAddition = [];
        this.listItemAlteration = [];
        this.selectItem = 0;
      },
      deep: true,
    },
    "invoice.riskCode": {
      handler: function (after) {
        let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
        let equipment = ["ENCPM", "PCPM"];
        let property = [
          "PPAR",
          "PFIRE",
          "PEQV",
          "PMB",
          "PTS",
          "PPARAC",
          "PPARAS",
        ];

        let riskCode = after;

        if (property.indexOf(riskCode) !== -1) {
          this.headersAddition = this.pparHeaders;
          this.headersAlteration = this.pparHeaders;
          this.headersInsured = this.pparHeaders;
        } else if (vehicle.indexOf(riskCode) !== -1) {
          this.headersAddition = this.pmviHeaders;
          this.headersAlteration = this.pmviHeaders;
          this.headersInsured = this.pmviHeaders;
        } else if (equipment.indexOf(riskCode) !== -1) {
          this.headersAddition = this.pcpmHeaders;
          this.headersAlteration = this.pcpmHeaders;
          this.headersInsured = this.pcpmHeaders;
        }
        this.getRiskMultiInsured();
      },
      deep: true,
    },
    selectItemData: {
      handler: function (after) {
        if (after === 1 && this.listItemAlteration.length === 0) {
          this.previewMultiInsured("init");
        }
      },
      deep: true,
    },
    checkAllData: {
      handler: function (after) {
        this.listItemAlteration = this.listItemAlteration.map((element) => {
          element.select = after;
          return element;
        });
      },
      deep: true,
    },
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${day}/${month}/${year}`;
    },
    downloadTemplate() {
      this.dialogTemplate.show = true;
      let param = this.invoice.riskCode;
      API.get("/config/api/doc-template/?riskCode=" + param).then((resp) => {
        if (resp.data.code == 0) {
          this.dialogTemplate.show = false;
          let data = resp.data;
          var binaryString = window.atob(data.data);
          var binaryLen = binaryString.length;
          var bytes = new Uint8Array(binaryLen);
          for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
          }
          const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
          const link = document.createElement("a");
          link.href = downloadUrl;
          link.setAttribute(
            "download",
            "Template " + this.invoice.riskCode + data.fileType
          );
          document.body.appendChild(link);
          link.click();
          link.remove();
        } else {
          this.dialogTemplate.error = true;
          this.dialogTemplate.text = "Download Template Failed";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
        }
      });
    },
    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_MULTI_INSURED&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

        // cek apakah yang terpilih adalah bisa multiinsured
        this.riskMultiInsuredList = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == this.invoice.riskCode
        );
        if (this.riskMultiInsuredList.length > 0) {
          this.detailDialogType = this.riskMultiInsuredList[0].insuredObject.toLowerCase();
        }
      }
    },
    ...mapActions({
      setDescription: types.ACTION_DESCRIPTION,
      setInsured: types.ACTION_INSURED,
      setLocation: types.ACTION_LOCATION,
      setInsuredAddress: types.ACTION_INSURED_ADDRESS,

      // setDocType: types.ACTION_DOC_TYPE,
      // setFileName: types.ACTION_FILE_NAME,
      // setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setSumInsured: types.ACTION_SUM_INSURED,
      // setPremium: types.ACTION_PREMIUM,
      setToClientPremium: types.ACTION_TO_CLIENT_PREMIUM,
      // setTotalPercentage: types.ACTION_TOTAL_PERCENTAGE,
      // setTotalAmount: types.ACTION_TOTAL_AMOUNT,
      // setMultiInsured: types.ACTION_MULTI_INSURED,
      // setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      // setTotalBrokerage: types.ACTION_TOTAL_BROKERAGE,
      // setTotalBrokerageAmount:  types.ACTION_TOTAL_BROKERAGE_AMOUNT,
      // setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      // setTotalVat: types.ACTION_TOTAL_VAT,
      // setTotalPPh23: types.ACTION_TOTAL_PPH23,
      // setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      // setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      // setTotalGross: types.ACTION_TOTAL_GROSS,
      setStatusData: types.ACTION_STATUS_DATA,
      setDataMultiInsured: types.ACTION_DATA_MULTI_INSURED,
      setToClientADM: types.ACTION_TO_CLIENT_ADM,
      setEFPremium: types.ACTION_EF_PREMIUM,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setToClientGross: types.ACTION_TO_CLIENT_GROSS,
      // setToUnderwiterGross: types.ACTION_TO_UNDERWRITER_GROSS,
      setToClientGrossTotal: types.ACTION_TO_CLIENT_GROSS_TOTAL,
      // setToUnderwiterNet: types.ACTION_TO_UNDERWRITER_NET,

      setDocType: types.ACTION_DOC_TYPE,
      setFileName: types.ACTION_FILE_NAME,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setPremium: types.ACTION_PREMIUM,
      setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      setTotalAmount: types.ACTION_TOTAL_AMOUNT,
      setTotalBrokerage: types.ACTION_TOTAL_BROKERAGE,
      setTotalBrokerageAmount: types.ACTION_TOTAL_BROKERAGE_AMOUNT,
      setTotalEFAmount: types.ACTION_TOTAL_EF_AMOUNT,
      setTotalEFPercentage: types.ACTION_TOTAL_EF_PERCENTAGE,
      setTotalEFSharingAmount: types.ACTION_TOTAL_EF_SHARING_AMOUNT,
      setTotalGross: types.ACTION_TOTAL_GROSS,
      setTotalPPh23: types.ACTION_TOTAL_PPH23,
      setTotalPercentage: types.ACTION_TOTAL_PERCENTAGE,
      setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      setTotalVat: types.ACTION_TOTAL_VAT,
      setTotalTotalAmount: types.ACTION_TOTAL_TOTAL_AMOUNT,

      setMultiInsured: types.ACTION_MULTI_INSURED,
      setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      setInsuranceSharingListUnder: types.ACTION_INSURANCE_SHARING_LIST_UNDER,
      setToUnderwiterVat: types.ACTION_TO_UNDERWRITER_VAT,
      setToUnderwiterPPH23: types.ACTION_TO_UNDERWRITER_PPH23,
      setToUnderwiterNet: types.ACTION_TO_UNDERWRITER_NET,
      setToUnderwiterGross: types.ACTION_TO_UNDERWRITER_GROSS,

      setVariousAddBrokerage: types.ACTION_VARIOUS_ADD_BROKERAGE,
      setVariousCommissionOut: types.ACTION_VARIOUS_COMMISSION_OUT,
      setVariousOthers: types.ACTION_VARIOUS_OTHERS,
      setVariousTotal: types.ACTION_VARIOUS_TOTAL,

      setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      setIncomeNet: types.ACTION_INCOME_NET,
      setIncomeTotal: types.ACTION_INCOME_TOTAL,
      setIncomeVarious: types.ACTION_INCOME_VARIOUS,
      setIncomeVat: types.ACTION_INCOME_VAT,

      setToClientInstallmentList: types.ACTION_TO_CLIENT_INSTALLMENT_LIST,
      setToClientTotalPercentage: types.ACTION_TO_CLIENT_TOTAL_PERCENTAGE,
      setToClientTotalAmount: types.ACTION_TO_CLIENT_TOTAL_AMOUNT,
      setToClientTotalAdminCost: types.ACTION_TO_CLIENT_TOTAL_ADMIN_COST,
      setToClientTotalStampDuty: types.ACTION_TO_CLIENT_TOTAL_STAMP_DUTY,
      setToClientTotalVAT: types.ACTION_TO_CLIENT_TOTAL_VAT,
      setToClientTotalGross: types.ACTION_TO_CLIENT_TOTAL_GROSS,
      setToClientTotalTotalAmount: types.ACTION_TO_CLIENT_TOTAL_TOTAL_AMOUNT,

      setToUnderwriterInstallmentList:
        types.ACTION_TO_UNDERWRITER_INSTALLMENT_LIST,
      setToUnderwriterTotalAmount: types.ACTION_TO_UNDERWRITER_TOTAL_AMOUNT,
      setToUnderwriterTotalPercentage:
        types.ACTION_TO_UNDERWRITER_TOTAL_PERCENTAGE,
      setToUnderwriterTotalAdminCost:
        types.ACTION_TO_UNDERWRITER_TOTAL_ADMIN_COST,
      setToUnderwriterTotalStampDuty:
        types.ACTION_TO_UNDERWRITER_TOTAL_STAMP_DUTY,
      setToUnderwriterTotalBrokerage:
        types.ACTION_TO_UNDERWRITER_TOTAL_BROKERAGE,
      setToUnderwriterTotalVAT: types.ACTION_TO_UNDERWRITER_TOTAL_VAT,
      setToUnderwriterTotalPPH: types.ACTION_TO_UNDERWRITER_TOTAL_PPH,
      setToUnderwriterTotalGross: types.ACTION_TO_UNDERWRITER_TOTAL_GROSS,
      setToUnderwriterTotalTotalAmount:
        types.ACTION_TO_UNDERWRITER_TOTAL_TOTAL_AMOUNT,
      setDataListInsuredEndor: types.ACTION_MULTI_INSURED_ENDOR,
    }),
    submitEndors() {
      this.generateTotal();
      this.detailDialog = false;
    },
    clickPlus(status) {
      this.selectItem = status;
      this.dialogInsured = true;
      setTimeout(() => {
        document.getElementById("clickClose").blur();
      }, 500);
    },
    clickClose() {
      this.dialogInsured = false;
    },
    minusClick(item) {
      let index = "";
      this.items.forEach((element, idx) => {
        if (element == item) {
          index = idx;
        }
      });
      if (String(index).length > 0) {
        this.items.splice(index, 1);
      }
      this.generateTotal();
    },
    pencilClick(item) {
      if (this.$route.query.statusPage === "edit") {
        if (item.type === "Alteration") {
          this.detailMode = "edit";
        } else {
          this.detailMode = "view";
        }
      }
      this.endorsType = item.type;
      this.detailData = item;
      let listItemAlteration = JSON.parse(
        localStorage.getItem("listItemAlteration")
      );
      listItemAlteration.forEach((element) => {
        if (element.seqNo === item.seqNo) {
          localStorage.setItem("minDateAlteration", element.effectiveDateFrom);
          localStorage.setItem("maxDateAlteration", element.effectiveDateTo);
        }
      });

      this.detailDialog = true;
    },
    viewItem(item) {
      this.detailMode = "view";
      this.endorsType = item.type;
      this.detailData = item;
      this.detailDialog = true;
    },
    setInvoice() {
      // let dataArray = []
      if (this.selectItem === 1) {
        if (this.listItemAlteration.length > 0) {
          this.listItemAlteration.forEach((element) => {
            let idx = "";
            let find = [];
            this.items.forEach(function (e, index) {
              if (e.seqNo === element.seqNo && e.type === "Alteration") {
                idx = index;
                find.push(e);
              }
            });
            if (element.select === true && find.length === 0) {
              let newObj = { ...element };
              let newElement = {};
              // Kondisi untuk generate logic formula per type Insured
              let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
              let equipment = ["ENCPM", "PCPM"];
              let property = [
                "PPAR",
                "PFIRE",
                "PEQV",
                "PMB",
                "PTS",
                "PPARAC",
                "PPARAS",
              ];

              let riskCode = this.invoice.riskCode;

              if (vehicle.indexOf(riskCode) !== -1) {
                newElement = this.generateAlterationPMVI(newObj);
              } else if (property.indexOf(riskCode) !== -1) {
                newElement = this.generateAlterationPPAR(newObj);
              } else if (equipment.indexOf(riskCode) !== -1) {
                newElement = this.generateAlterationPCPM(newObj);
              }
              this.items.push({ ...newElement });
            }
            if (element.select === false && find.length !== 0) {
              this.items.splice(idx, 1);
            }
          });
        }
      }

      if (this.selectItem === 0) {
        // if (this.listItemAddition.length > 0) {
        //   this.listItemAddition.forEach((element) => {
        //     let find = [];
        //     this.items.forEach(function (e) {
        //       if (e.seqNo === element.seqNo && e.type === "Addition") {
        //         find.push(e);
        //       }
        //     });
        //     if (find.length === 0) {
        //       this.items.push({ ...element });
        //     }
        //   });
        // }
        let newArray = [];
        this.items.forEach(function (element) {
          if (element.type !== "Addition") {
            newArray.push({ ...element });
          }
        });

        let arrayJoin = newArray.concat(this.listItemAddition);
        this.items = arrayJoin;
      }
      this.items.sort((a, b) => a.no > b.no);
      this.items.sort((a, b) => a.type > b.type);
      this.generateTotal();
      this.dialogInsured = false;
    },
    getFormattedDate(date) {
      let year = date.getFullYear();
      let month = (1 + date.getMonth()).toString().padStart(2, "0");
      let day = date.getDate().toString().padStart(2, "0");

      return day + "/" + month + "/" + year;
    },
    generateAlterationPMVI(item) {
      let dateFrom = new Date();
      let newDateFrom = this.getFormattedDate(dateFrom);
      let dateFromSplit = newDateFrom.split("/");
      let dateFromTime = new Date(
        Number(dateFromSplit[2]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[0])
      );
      let dateToSplit = item.effectiveDateTo.split("/");
      let dateToTime = new Date(
        Number(dateToSplit[2]),
        Number(dateToSplit[0]) - 1,
        Number(dateToSplit[1])
      );
      let newDateTo = this.getFormattedDate(dateToTime);

      let dateInTime = dateToTime.getTime() - dateFromTime.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let newDataDate = Number(dateInDay.toFixed(0));
      let mdRate = parseFloat(item.mdRate) * 100;
      let ibsOthersRate = parseFloat(item.ibsOthersRate) * 100;
      let uwOthersRate = parseFloat(item.uwOthersRate) * 100;

      let mdGrossPremium_InRate =
        (Number(item.mdSumInsured) / 100) * Number(mdRate);
      let mdGrossPremium_InDay =
        Number(mdGrossPremium_InRate) / Number(item.divided);
      let newGrossPremium =
        Number(mdGrossPremium_InDay.toFixed(2)) * Number(dateInDay.toFixed(0));

      let mdGrossPremium = Number(newGrossPremium.toFixed(2));
      let tplGrossPremium = Number(item.tplGrossPremium);
      let pllGrossPremium = Number(item.pllGrossPremium);
      let padGrossPremium = Number(item.padGrossPremium);
      let papGrossPremium = Number(item.papGrossPremium);
      let medExpGrossPremium = Number(item.medExpGrossPremium);

      let subTotalGrossPremium =
        mdGrossPremium +
        tplGrossPremium +
        pllGrossPremium +
        padGrossPremium +
        papGrossPremium +
        medExpGrossPremium;
      let ibsOthersGrossPremium =
        (Number(subTotalGrossPremium.toFixed(2)) / 100) * ibsOthersRate * -1;
      let uwOthersGrossPremium =
        (Number(subTotalGrossPremium.toFixed(2)) / 100) * uwOthersRate * -1;
      let uwPremium =
        subTotalGrossPremium + Number(uwOthersGrossPremium.toFixed(2));
      let clientPremium =
        subTotalGrossPremium +
        Number(ibsOthersGrossPremium.toFixed(2)) +
        Number(uwOthersGrossPremium.toFixed(2));

      item.effectiveDateFrom = newDateFrom;
      item.effectiveDateTo = newDateTo;
      item.proDays = newDataDate;
      item.mdGrossPremium = mdGrossPremium.toString();
      item.tplGrossPremium = tplGrossPremium.toString();
      item.pllGrossPremium = pllGrossPremium.toString();
      item.padGrossPremium = padGrossPremium.toString();
      item.papGrossPremium = papGrossPremium.toString();
      item.medExpGrossPremium = medExpGrossPremium.toString();
      item.subTotalGrossPremium = subTotalGrossPremium.toString();
      item.ibsOthersGrossPremium = Number(
        ibsOthersGrossPremium.toFixed(2)
      ).toString();
      item.uwOthersGrossPremium = Number(
        uwOthersGrossPremium.toFixed(2)
      ).toString();
      item.uwPremium = uwPremium.toString();
      item.clientPremium = clientPremium.toString();
      item.premiTotal = clientPremium.toString();
      item.sumInsured = item.mdSumInsured.toString();
      return item;
    },
    generateAlterationPPAR(item) {
      // untuk generate logic formula insured type PPAR
      return item;
    },
    generateAlterationPCPM(item) {
      // untuk generate logic formula insured type PCPM
      return item;
    },
    generateTotal() {
      let amount = 0;
      let amountSumInsured = 0;
      let efGross = 0;
      this.items.forEach((element) => {
        let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
        let equipment = ["ENCPM", "PCPM"];
        let property = [
          "PPAR",
          "PFIRE",
          "PEQV",
          "PMB",
          "PTS",
          "PPARAC",
          "PPARAS",
        ];

        let riskCode = this.riskMultiInsuredList[0].riskCode;

        if (vehicle.indexOf(riskCode) !== -1) {
          let premiTotal =
            element.uwPremium === undefined ? 0 : element.uwPremium;
          let sumTotal =
            element.sumInsured === undefined ? 0 : element.sumInsured;
          let subTotalGrossPremium =
            element.subTotalGrossPremium === undefined
              ? 0
              : element.subTotalGrossPremium;
          amount = amount + Number(premiTotal);
          amountSumInsured = amountSumInsured + Number(sumTotal);
          efGross = efGross + Number(subTotalGrossPremium);
        } else if (equipment.indexOf(riskCode) !== -1) {
          let premiAmount =
            element.uwPremium === undefined ? 0 : element.uwPremium;
          amount = amount + Number(premiAmount);
        } else if (property.indexOf(riskCode) !== -1) {
          let premiAmount =
            element.uwPremium === undefined ? 0 : element.uwPremium;
          amount = amount + Number(premiAmount);
        }
      });

      let array = [];
      this.items.forEach((item) => {
        this.dataAddition.forEach((element) => {
          if (item.seqNo === element.seqNo && item.type === "Addition") {
            let obj = element;
            obj.metas = JSON.stringify(item);
            array.push(JSON.stringify({ ...obj }));
          }
        });
      });
      this.items.forEach((item) => {
        this.dataAlteration.forEach((element) => {
          if (item.seqNo === element.seqNo && item.type === "Alteration") {
            let obj = element;
            obj.metas = JSON.stringify(item);
            obj.premiTotal = item.premiTotal;
            array.push(JSON.stringify({ ...obj }));
          }
        });
      });

      this.setDataListInsuredEndor(array);

      // TAB VALUE

      let sumInsured = amountSumInsured;

      // TO CLIENT
      let premium = amount;
      let ibsOtherAmount = this.invoice.toClientAdm;
      let toClientGross =
        premium +
        this.invoice.toClientPolEndCost +
        this.invoice.toClientStampDuty +
        ibsOtherAmount;
      let toClientGrossTotal = toClientGross + this.invoice.toClientVat;

      // TO UNDERWRITER
      let uwPremium = amount;
      let toUnderwriterGross =
        uwPremium +
        this.invoice.toUnderwriterPolEndCost +
        this.invoice.toUnderwriterStampDuty -
        this.invoice.incomeBrokerage;
      let toUnderwriterNet =
        toUnderwriterGross +
        this.invoice.toUnderwriterVat +
        this.invoice.toUnderwriterPph23;

      // TAB EF
      let grossPremium = efGross;

      // TAB INSTALLMENT - TO CLIENT
      let toCLientPremium =
        Number(premium.toFixed(2)) + Number(ibsOtherAmount.toFixed(2));

      this.setSumInsured(Number(sumInsured.toFixed(2)));
      this.setPremium(Number(premium.toFixed(2)));
      this.setToClientPremium(Number(premium.toFixed(2)));
      this.setToUnderwiterPremium(Number(uwPremium.toFixed(2)));
      this.setToClientADM(Number(ibsOtherAmount.toFixed(2)));
      this.setEFPremium(Number(grossPremium.toFixed(2)));
      this.setPremiumClientInstallment(Number(toCLientPremium.toFixed(2)));
      this.setToClientGross(Number(toClientGross.toFixed(2)));
      this.setToClientGrossTotal(Number(toClientGrossTotal.toFixed(2)));
      this.setToUnderwiterGross(Number(toUnderwriterGross.toFixed(2)));
      this.setToUnderwiterNet(Number(toUnderwriterNet.toFixed(2)));
      this.generateNewInsurance(premium, grossPremium, uwPremium);
      this.generateNewClient(toCLientPremium);
      this.generateNewUnder(uwPremium);

      if (document.getElementById("sumInsured")) {
        document.getElementById("sumInsured").value = this.formatMoney(
          Number(sumInsured)
        );
      }
      if (document.getElementById("toClientPremium")) {
        document.getElementById("toClientPremium").value = this.formatMoney(
          Number(premium)
        );
      }
      if (document.getElementById("toUnderwriterPremium")) {
        document.getElementById(
          "toUnderwriterPremium"
        ).value = this.formatMoney(Number(premium));
      }
      if (document.getElementById("toClientAdm")) {
        document.getElementById("toClientAdm").value = this.formatMoney(
          Number(ibsOtherAmount)
        );
      }
      if (document.getElementById("efGrossPremium")) {
        document.getElementById("efGrossPremium").value = this.formatMoney(
          Number(grossPremium)
        );
      }
    },
    async updloadFile(e) {
      var fr = new FileReader();
      fr.readAsDataURL(e);
      fr.addEventListener("load", () => {
        let typeFile = e.name.split(".");
        let base64 = fr.result.split(",")[1];
        this.fileData = base64;
        this.loadingMultiInsured = true;
        this.loadingAddition = true;
        // this.dialogLoading.show = true;

        this.fileName = e.name;

        let param = {
          base64: base64,
          docType: typeFile[1],
          filename: e.name,
          refNo: this.invoice.refNo,
          riskCode: this.invoice.riskCode,
        };
        API.post(
          "broking/api/broking/invoice/v2/upload-multi-insured",
          param
        ).then((resp) => {
          if (resp.data.code === 0) {
            let me = this;
            let data = resp.data;
            let headersInsured = data.headerProperty.map(function (row) {
              return {
                text: row.value,
                value: row.key,
                align: "center",
                sortable: row.false,
              };
            });
            let headers = data.headerProperty.map(function (row) {
              let headerItems = me.headers.filter(
                (value) => value.value == row.key
              );
              return {
                filterType: "input",
                text: row.value,
                value: row.key,
                align: "center",
                sortable: row.sortBool, //row.sortBool,
                filterable: row.filterBool, // row.filterBool,
                sortKey: row.sortKey,
                filterKey: row.filterKey,
                width: 100,
                searchValue:
                  headerItems.length > 0 ? headerItems[0].searchValue : "",
                filterOperation: row.filterOperation,
              };
            });
            headersInsured.push({
              text: "Type",
              align: "center",
              sortable: false,
              add: "",
              value: "type",
              width: "100px",
            });
            headersInsured.push({
              text: "Action",
              align: "center",
              sortable: false,
              add: "",
              value: "action",
              width: "100px",
            });

            let metasList = [];
            for (let d of data.data) {
              metasList.push(d.metas);
            }
            this.headersInsured = headersInsured;
            this.headersAddition = headers;
            this.listItemAddition = metasList.map(function (
              currentValue,
              Index
            ) {
              currentValue.select = false;
              currentValue.seqNo = Index + 1;
              currentValue.type = "Addition";
              data.data[Index].seqNo = Index + 1;
              data.data[Index].type = "Addition";
              return currentValue;
            });
            localStorage.setItem(
              "listItemAddition",
              JSON.stringify(this.listItemAddition)
            );
            this.dataAddition = data.data;
            // this.showPreview = true;
            // this.dialogLoading.success = true;
            // this.dialogLoading.text = "Upload Successful";
            this.loadingMultiInsured = false;
            this.loadingAddition = false;
            this.closeUpload();
          } else {
            this.dialogLoading.show = true;
            this.loadingAddition = false;
            this.nameFile = null;
            this.dialogLoading.error = true;
            this.dialogLoading.text =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.loadingMultiInsured = false;
          }
        });
      });
    },
    async previewMultiInsured(status) {
      this.closeUpload();
      let url = "broking/api/broking/invoice/list-multi-insured-summary";
      let param = {
        refNo: this.invoice.refNo,
        riskCode: this.invoice.riskCode,
      };
      if (status === "create") {
        this.dialogLoading.show = true;
      } else if (status === "init") {
        // this.dialogLoading.show = true;
        this.loadingAlteration = true;
        param.refNo = this.invoice.idInvoice;
        url = "broking/api/broking/invoice/list-multi-insured-summary";
      } else {
        this.loading = true;
      }
      const { sortBy, sortDesc } = this.options;
      if (
        sortBy != undefined &&
        sortDesc != undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      )
        param["sort"] = [
          sortBy[0],
          sortDesc[0] ? "desc" : "asc",
          "ignoreCase",
        ].join(",");
      const findHeaderValueNotEmpty = this.headers.filter(
        (value) => String(value.searchValue).length > 0
      );
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.value + ".contains"]: value.searchValue,
            };
          })
        );
      }
      await API.get(url, param).then((resp) => {
        let me = this;
        if (resp.data.code === 0) {
          let data = resp.data;
          let headersInsured = data.headerProperty.map(function (row) {
            return {
              text: row.value,
              value: row.key,
              align: "center",
              sortable: row.false,
            };
          });
          let headers = data.headerProperty.map(function (row) {
            let headerItems = me.headers.filter(
              (value) => value.value == row.key
            );
            return {
              filterType: "input",
              text: row.value,
              value: row.key,
              align: "center",
              sortable: row.sortBool, //row.sortBool,
              filterable: row.filterBool, // row.filterBool,
              sortKey: row.sortKey,
              filterKey: row.filterKey,
              width: 100,
              searchValue:
                headerItems.length > 0 ? headerItems[0].searchValue : "",
              filterOperation: row.filterOperation,
            };
          });
          headersInsured.push({
            text: "Type",
            align: "center",
            sortable: false,
            add: "",
            value: "type",
            width: "100px",
          });
          headersInsured.push({
            text: "Action",
            align: "center",
            sortable: false,
            add: "",
            value: "action",
            width: "100px",
          });
          if (this.selectItem === 1) {
            headers.unshift({
              filterType: "checkbox",
              filterable: false,
              filterKey: "select",
              filterOperation: "",
              sortable: false,
              sortKey: "select",
              value: "select",
              searchValue: "",
              orderNo: 2,
            });
          }
          this.headersInsured = headersInsured;
          this.headersAlteration = headers;

          let metasList = [];
          for (let d of data.data) {
            metasList.push(JSON.parse(d.metas));
          }
          (this.totalItems = parseInt(resp.headers["x-total-count"])),
            (this.listItemAlteration = metasList.map(function (
              currentValue,
              Index
            ) {
              currentValue.select = false;
              currentValue.seqNo = Index + 1;
              currentValue.type = "Alteration";
              data.data[Index].seqNo = Index + 1;
              data.data[Index].type = "Alteration";
              return currentValue;
            }));
          localStorage.setItem(
            "listItemAlteration",
            JSON.stringify(this.listItemAlteration)
          );
          this.dataAlteration = data.data;

          this.closeUpload();
          this.loading = false;
          this.loadingAlteration = false;
        } else {
          this.loadingMultiInsured = false;
          this.loadingAlteration = false;
          this.dialogLoading.error = true;
          this.dialogLoading.text =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
        }
      });
    },
    async previewMultiInsuredInit() {
      let param = {
        refNo: this.invoice.idInvoice,
        riskCode: this.invoice.riskCode,
      };
      this.loading = true;
      await API.get(
        // "broking/api/broking/invoice/list-multi-insured-summary",
        "broking/api/broking/invoice/list-multi-insured",
        param
      ).then((resp) => {
        let me = this;
        if (resp.data.code === 0) {
          let data = resp.data;
          let headersInsured = data.headerProperty.map(function (row) {
            return {
              text: row.value,
              value: row.key,
              align: "center",
              sortable: row.false,
            };
          });
          let headers = data.headerProperty.map(function (row) {
            let headerItems = me.headers.filter(
              (value) => value.value == row.key
            );
            return {
              filterType: "input",
              text: row.value,
              value: row.key,
              align: "center",
              sortable: false, //row.sortBool,
              filterable: false, // row.filterBool,
              sortKey: row.sortKey,
              filterKey: row.filterKey,
              width: 100,
              searchValue:
                headerItems.length > 0 ? headerItems[0].searchValue : "",
              filterOperation: row.filterOperation,
            };
          });
          headersInsured.push({
            text: "Type",
            align: "center",
            sortable: false,
            add: "",
            value: "type",
            width: "100px",
          });
          headersInsured.push({
            text: "Action",
            align: "center",
            sortable: false,
            add: "",
            value: "action",
            width: "100px",
          });

          let newArrayHeader = []
          headers.forEach(element => {
            newArrayHeader.push({...element})
          });
          const newHeaders = newArrayHeader;

          // if (this.selectItem === 1) {
          newHeaders.unshift({
            filterType: "checkbox",
            filterBool: false,
            filterKey: "select",
            filterOperation: "",
            sortBool: false,
            sortKey: "select",
            key: "select",
            value: "select",
            orderNo: 2,
          });
          // }
          this.headersInsured = headersInsured;
          this.headersAddition = headers;
          this.headersAlteration = newHeaders;

          let addition = [];
          let alteration = [];
          let metasList = [];
          let metasListAddition = [];
          let metasListAlteration = [];
          data.data.forEach((element) => {
            let metas = JSON.parse(element.metas);
            metasList.push(metas);
            if (metas.type === "Alteration") {
              metasListAlteration.push(metas);
              element.metas = metas;
              element.type = "Alteration";
              element.seqNo = metas.seqNo;
              alteration.push(element);
            } else {
              metasListAddition.push(metas);
              element.metas = metas;
              element.type = "Addition";
              element.seqNo = metas.seqNo;
              addition.push(element);
            }
          });
          (this.totalItems = parseInt(resp.headers["x-total-count"])),
            (this.items = metasList);
          this.dataAddition = addition;
          this.dataAlteration = alteration;
          this.listItemAddition = metasListAddition;
          this.listItemAlteration = metasListAlteration;
          this.loading = false;
        } else {
          this.loadingMultiInsured = false;
          this.loadingAlteration = false;
          this.dialogLoading.error = true;
          this.dialogLoading.text =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
        }
      });
    },
    onkeyupSearch() {
      if (!this.awaitingSearch) {
        setTimeout(() => {
          this.previewMultiInsured();
          this.awaitingSearch = false;
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearch = true;
    },
    onkeyupSearchManual(status) {
      if (this.detailDialogType === "vehicle") {
        this.onkeyupSearchPMVI(status);
      } else if (this.detailDialogType === "property") {
        // this.onkeyupSearchPPAR()
      } else if (this.detailDialogType === "equipment") {
        // this.onkeyupSearchPMVI()
      }
    },
    onkeyupSearchPMVI(status) {
      let valuePMVI = {
        objectName: "",
        policeRegNo: "",
        chassisNo: "",
        engineNo: "",
      };
      let filterPMVI = {
        objectName: (str) => str.includes(valuePMVI.objectName),
        policeRegNo: (str) => str.includes(valuePMVI.policeRegNo),
        chassisNo: (str) => str.includes(valuePMVI.chassisNo),
        engineNo: (str) => str.includes(valuePMVI.engineNo),
      };
      if (!this.awaitingSearch) {
        setTimeout(() => {
          // this.previewMultiInsured()
          this.awaitingSearch = false;
          let listItemAlteration = JSON.parse(
            localStorage.getItem("listItemAlteration")
          );
          let listItemAddition = JSON.parse(
            localStorage.getItem("listItemAddition")
          );
          let filters = {};
          let headers = [];
          let listItem = [];
          if (status === "alteration") {
            headers = this.headersAlteration;
            listItem = listItemAlteration;
          } else if (status === "addition") {
            headers = this.headersAddition;
            listItem = listItemAddition;
          }
          for (const obj of headers) {
            if (obj.searchValue !== "") {
              valuePMVI[obj.sortKey] = obj.searchValue.toLowerCase();
              filters[obj.sortKey] = filterPMVI[obj.sortKey];
            }
          }
          const filterKeys = Object.keys(filters);
          let dataFilter = listItem.filter((item) => {
            // validates all filter criteria
            return filterKeys.every((key) => {
              // ignores non-function predicates
              if (typeof filters[key] !== "function") return true;
              return filters[key](item[key].toLowerCase());
            });
          });
          if (status === "alteration") {
            this.listItemAlteration = dataFilter;
          } else if (status === "addition") {
            this.listItemAddition = dataFilter;
          }
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearch = true;
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.previewMultiInsured();
    },
    sortClickManual(value, status) {
      if (this.detailDialogType === "vehicle") {
        this.sortClickPMVI(value, status);
      } else if (this.detailDialogType === "property") {
        // this.onkeyupSearchPMVI()
      } else if (this.detailDialogType === "equipment") {
        // this.onkeyupSearchPMVI()
      }
    },
    sortClickPMVI(value, status) {
      let options = {};
      let listItem = [];
      if (status === "alteration") {
        options = this.optionsAlteration;
        listItem = this.listItemAlteration;
      } else if (status === "addition") {
        options = this.optionsAddition;
        listItem = this.listItemAddition;
      }

      if (options.sortBy[0] == value) {
        if (options.sortDesc[0] == false) {
          options.sortDesc[0] = true;
          this.op;
        } else if (options.sortDesc[0] == true) {
          options.sortBy = [];
          options.sortDesc = [];
        }
      } else {
        options.sortBy[0] = value;
        options.sortDesc[0] = false;
      }

      if (status === "alteration") {
        this.optionsAlteration = options;
      } else if (status === "addition") {
        this.optionsAddition = options;
      }
      const { sortBy, sortDesc } = options;
      if (sortBy.length !== 0 && sortDesc.length !== 0) {
        if (sortDesc[0]) {
          let data = listItem.sort((a, b) => a[sortBy[0]] - b[sortBy[0]]);
          listItem = data;
        } else {
          let data = listItem.sort((a, b) => b[sortBy[0]] - a[sortBy[0]]);
          listItem = data;
        }
        if (status === "alteration") {
          this.listItemAlteration = listItem;
        } else if (status === "addition") {
          this.listItemAddition = listItem;
        }
      }
      // this.previewMultiInsured();
    },
    resetFile() {
      this.nameFile = new File([""], {});
    },
    onBroswseClick() {
      document.getElementById("multiInsured").click();
    },
    closeUpload() {
      this.dialogLoading = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
    },
    selectOneItem(item) {
      if (!this.awaitSelect) {
        setTimeout(() => {
          let array = [];
          this.listItemAlteration.forEach((element) => {
            if (element.seqNo === item.seqNo) {
              if (item.select) {
                element.select = false;
              } else {
                element.select = true;
              }
            }
            array.push(element);
          });
          this.listItemAlteration = array;
          let filter = this.listItemAlteration.filter(
            (value) => value.select == true
          );
          if (filter.length === 0) {
            this.checkbox = false;
          }
          this.awaitSelect = false;
        }, 200); // 0,2 sec delay
      }
      this.awaitSelect = true;
    },
    currencyFormat(data, toFixedNum = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(toFixedNum ? toFixedNum : 2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    generateNewInsurance(premiumData, efPremiumData, uwPremiumData) {
      let insurance = this.invoice.insuranceSharingList;
      let premium = Number(premiumData.toFixed(2));
      let efPremium = Number(efPremiumData.toFixed(2));
      let uwPremium = Number(uwPremiumData.toFixed(2));
      let arrayInsurance = [];
      insurance.forEach((element, index) => {
        let newAmount = (element.sharingPercentage * premium) / 100;
        let brokerageAmount =
          (Number(newAmount.toFixed(2)) * element.brokerage) / 100;
        let vatAmount =
          (Number(brokerageAmount) / 100) *
          Number(this.invoice.insurerVatPercentage) *
          -1;
        let pph23Amount =
          (Number(brokerageAmount) / 100) *
          Number(this.invoice.insurerPph23Percentage);
        let grossAmount =
          Number(newAmount.toFixed(2)) +
          this.invoice.toUnderwriterPolEndCost +
          this.invoice.toUnderwriterStampDuty -
          Number(brokerageAmount.toFixed(2));
        let grossAmountNoLeader =
          Number(newAmount.toFixed(2)) +
          0 +
          0 -
          Number(brokerageAmount.toFixed(2));
        let netTotal = grossAmount + vatAmount + pph23Amount;
        let netTotalNoLeader = grossAmountNoLeader + vatAmount + pph23Amount;
        let efSharingAmount = (element.sharingPercentage * efPremium) / 100;
        let efAmount = (element.efPercentage * efSharingAmount) / 100;
        arrayInsurance.push({
          index: index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: this.formatMoney(newAmount), // Change
          brokerage: element.brokerage,
          brokerageAmount: this.formatMoney(brokerageAmount), // Change
          admincostAmount: element.isLeader
            ? this.invoice.toUnderwriterPolEndCost
            : element.admincostAmount, // Change
          stampdutyAmount: element.isLeader
            ? this.invoice.toUnderwriterStampDuty
            : element.stampdutyAmount, // Change
          vatAmount: vatAmount, // Change
          pph23Amount: pph23Amount, // Change
          grossAmount: element.isLeader ? grossAmount : grossAmountNoLeader, // Change
          efAmount: efAmount,
          efPercentage: element.efPercentage,
          efSharingAmount: efSharingAmount,
          totalAmount: element.isLeader ? netTotal : netTotalNoLeader, // Change
          edit: false,
          editLeader: element.isLeader ? true : false,
        });
      });

      let sharingPercentage = 0;
      let amount = 0;
      let brokerage = 0;
      let brokerageAmount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let vatAmount = 0;
      let pph23Amount = 0;
      let grossAmount = 0;
      let efAmount = 0;
      let efPercentage = 0;
      let efSharingAmount = 0;
      let netTotal = 0;
      arrayInsurance.forEach((element) => {
        sharingPercentage =
          sharingPercentage + Number(element.sharingPercentage);
        amount = amount + this.convertMoney(element.amount);
        brokerage = brokerage + Number(element.brokerage);
        brokerageAmount =
          brokerageAmount + this.convertMoney(element.brokerageAmount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        pph23Amount = pph23Amount + Number(element.pph23Amount);
        grossAmount = grossAmount + Number(element.grossAmount);
        efAmount = efAmount + Number(element.efAmount);
        efPercentage = efPercentage + Number(element.efPercentage);
        efSharingAmount = efSharingAmount + Number(element.efSharingAmount);
        netTotal = netTotal + Number(element.totalAmount);
      });
      this.dataInsuranceList = arrayInsurance;
      this.totalPercentage = Number(sharingPercentage.toFixed(2));
      this.totalAmount = Number(amount.toFixed(2));
      this.totalBrokerage = Number(brokerage.toFixed(2));
      this.totalBrokerageAmount = Number(brokerageAmount.toFixed(2));
      this.totalAdmincostAmount = Number(admincostAmount.toFixed(2));
      this.totalStampdutyAmount = Number(stampdutyAmount.toFixed(2));
      this.totalVat = Number(vatAmount.toFixed(2));
      this.totalPPH23 = Number(pph23Amount.toFixed(2));
      this.totalGrossAmount = Number(grossAmount.toFixed(2));
      this.totalEfSharingAmount = Number(efSharingAmount.toFixed(2));
      this.totalEfPercentage = Number(efPercentage.toFixed(2));
      this.totalEfAmount = Number(efAmount.toFixed(2));
      this.totalTotalAmount = Number(netTotal.toFixed(2));

      this.setInsuranceSharingList(this.convertData(this.dataInsuranceList));
      this.setInsuranceSharingListUnder(
        this.convertForUnder(this.dataInsuranceList)
      ); // For List Under Installment
      this.setTotalPercentage(this.totalPercentage);
      this.setTotalAmount(this.totalAmount);
      this.setTotalBrokerage(this.totalBrokerage);
      this.setTotalBrokerageAmount(this.totalBrokerageAmount);
      this.setTotalVat(this.totalVat);
      this.setTotalPPh23(this.totalPPH23);
      this.setTotalAdminCost(this.totalAdmincostAmount);
      this.setTotalStampDuty(this.totalStampdutyAmount);
      this.setTotalGross(this.totalGrossAmount);
      this.setTotalEFSharingAmount(this.totalEfSharingAmount);
      this.setTotalEFPercentage(this.totalEfPercentage);
      this.setTotalEFAmount(this.totalEfAmount);
      this.setTotalTotalAmount(this.totalTotalAmount);
      // For Tab Value
      let toUnderwriterGross =
        Number(uwPremium) +
        Number(this.invoice.toUnderwriterPolEndCost) +
        Number(this.invoice.toUnderwriterStampDuty) -
        Number(this.totalBrokerageAmount);
      let toUnderwriterVat =
        ((this.totalBrokerageAmount * this.invoice.insurerVatPercentage) /
          100) *
        -1;
      let toUnderwriterPph23 =
        (this.totalBrokerageAmount * this.invoice.insurerPph23Percentage) / 100;
      let toUnderwriterNet =
        Number(toUnderwriterGross.toFixed(2)) +
        Number(toUnderwriterVat.toFixed(2)) +
        Number(toUnderwriterPph23.toFixed(2));
      this.setToUnderwiterGross(Number(toUnderwriterGross.toFixed(2)));
      this.setToUnderwiterVat(Number(toUnderwriterVat.toFixed(2)));
      this.setToUnderwiterPPH23(Number(toUnderwriterPph23.toFixed(2)));
      this.setToUnderwiterNet(Number(toUnderwriterNet.toFixed(2)));

      // For Various
      let variousAddBrokerage =
        Number(this.invoice.toClientPremium) - Number(uwPremium);
      let variousTotal =
        variousAddBrokerage +
        Number(this.invoice.variousOthers) +
        Number(this.invoice.variousCommissionOut);

      this.setVariousAddBrokerage(Number(variousAddBrokerage.toFixed(2)));
      this.setVariousOthers(Number(this.invoice.variousOthers.toFixed(2)));
      this.setVariousCommissionOut(
        Number(this.invoice.variousCommissionOut.toFixed(2))
      );
      this.setVariousTotal(Number(variousTotal.toFixed(2)));

      // For Income
      let incomeVat =
        (Number(this.invoice.variousTotal.toFixed(2)) -
          Number(this.invoice.incomeNet)) *
        -1;
      let incomeNet = Number(this.invoice.variousTotal.toFixed(2)) / 1.1;
      let incomeTotal = Number(incomeNet) + Number(this.totalBrokerageAmount);

      this.setIncomeVarious(Number(variousTotal.toFixed(2)));
      this.setIncomeVat(Number(incomeVat.toFixed(2)));
      this.setIncomeNet(Number(incomeNet.toFixed(2)));
      this.setIncomeBrokerage(this.totalBrokerageAmount);
      this.setIncomeTotal(Number(incomeTotal.toFixed(2)));
    },
    generateNewClient(premiumClientInstallment) {
      let client = this.invoice.toClientInstallmentList;
      let premium = Number(premiumClientInstallment.toFixed(2));
      let arrayClient = [];
      client.forEach((element, index) => {
        let amount = (premium / 100) * element.percentage;
        let adminCost = index === 0 ? this.invoice.toClientPolEndCost : 0;
        let stampDuty = index === 0 ? this.invoice.toClientStampDuty : 0;
        let vat = index === 0 ? this.invoice.toClientVat : 0;
        let gross = amount + adminCost + stampDuty;
        let total = gross + vat;
        arrayClient.push({
          date: false,
          edit: false,
          admincostAmount: adminCost,
          amount: this.formatMoney(amount),
          dueDate: element.dueDate,
          grossAmount: gross,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: stampDuty,
          totalAmount: total,
          vatAmount: vat,
        });
      });
      let percentage = 0;
      let amount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let vatAmount = 0;
      let grossAmount = 0;
      let total = 0;
      arrayClient.forEach((element) => {
        percentage = percentage + Number(element.percentage);
        amount = amount + this.convertMoney(element.amount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        grossAmount = grossAmount + Number(element.grossAmount);
        total = total + Number(element.totalAmount);
      });
      this.dataClient = arrayClient;
      this.totalPercentageClient = Number(percentage.toFixed(2));
      this.totalAmountClient = Number(amount.toFixed(2));
      this.totalAdminCostClient = Number(admincostAmount.toFixed(2));
      this.totalStampDutyClient = Number(stampdutyAmount.toFixed(2));
      this.totalVATClient = Number(vatAmount.toFixed(2));
      this.totalGrossClient = Number(grossAmount.toFixed(2));
      this.totalTotalAmountClient = Number(total.toFixed(2));
      this.setToClientInstallmentList(this.convertClient(this.dataClient));
      this.setToClientTotalPercentage(this.totalPercentageClient);
      this.setToClientTotalAmount(this.totalAmountClient);
      this.setToClientTotalAdminCost(this.totalAdminCostClient);
      this.setToClientTotalStampDuty(this.totalStampDutyClient);
      this.setToClientTotalVAT(this.totalVATClient);
      this.setToClientTotalGross(this.totalGrossClient);
      this.setToClientTotalTotalAmount(this.totalTotalAmountClient);
    },
    generateNewUnder(toUnderwriterPremium) {
      let under = this.invoice.toUnderwriterInstallmentList;
      let premium = Number(toUnderwriterPremium.toFixed(2));
      let arrayUnder = [];
      under.forEach((element, index) => {
        let amount = (premium / 100) * element.percentage;
        let brokerageInsurance = this.invoice.totalBrokerageAmount;
        let admincostAmountUnder =
          index === 0 ? this.invoice.toUnderwriterPolEndCost : 0;
        let stampdutyAmountUnder =
          index === 0 ? this.invoice.toUnderwriterStampDuty : 0;
        let brokerageAmountUnder =
          (element.percentage * brokerageInsurance) / 100;
        let vatAmountUnder =
          ((this.invoice.insurerVatPercentage * brokerageAmountUnder) / 100) *
          -1;
        let pph23AmountUnder =
          (this.invoice.insurerPph23Percentage * brokerageAmountUnder) / 100;
        let grossAmountUnder =
          amount +
          admincostAmountUnder +
          stampdutyAmountUnder -
          brokerageAmountUnder;
        let netTotalUnder =
          grossAmountUnder + vatAmountUnder + pph23AmountUnder;
        arrayUnder.push({
          date: false,
          edit: false,
          admincostAmount: admincostAmountUnder,
          amount: this.formatMoney(amount),
          dueDate: element.dueDate,
          grossAmount: grossAmountUnder,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: stampdutyAmountUnder,
          brokerageAmount: brokerageAmountUnder,
          vatAmount: vatAmountUnder,
          pph23Amount: pph23AmountUnder,
          totalAmount: netTotalUnder,
        });
      });
      let percentage = 0;
      let amount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let brokerageAmount = 0;
      let vatAmount = 0;
      let pph23Amount = 0;
      let grossAmount = 0;
      let netTotalAmount = 0;
      arrayUnder.forEach((element) => {
        percentage = percentage + Number(element.percentage);
        amount = amount + this.convertMoney(element.amount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        brokerageAmount = brokerageAmount + Number(element.brokerageAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        pph23Amount = pph23Amount + Number(element.pph23Amount);
        grossAmount = grossAmount + Number(element.grossAmount);
        netTotalAmount = netTotalAmount + Number(element.totalAmount);
      });
      this.dataUnder = arrayUnder;
      this.totalPercentageUnder = Number(percentage.toFixed(2));
      this.totalAmountUnder = Number(amount.toFixed(2));
      this.totalAdminCostUnder = Number(admincostAmount.toFixed(2));
      this.totalStampDutyUnder = Number(stampdutyAmount.toFixed(2));
      this.totalBrokerageUnder = Number(brokerageAmount.toFixed(2));
      this.totalVATUnder = Number(vatAmount.toFixed(2));
      this.totalPPhUnder = Number(pph23Amount.toFixed(2));
      this.totalGrossUnder = Number(grossAmount.toFixed(2));
      this.totalTotalAmountUnder = Number(netTotalAmount.toFixed(2));
      this.setToUnderwriterInstallmentList(this.convertUnder(this.dataUnder));
      this.setToLocalStorage(); // For Init VALUE List Underwriter
      this.setToUnderwriterTotalAmount(this.totalAmountUnder);
      this.setToUnderwriterTotalPercentage(this.totalPercentageUnder);
      this.setToUnderwriterTotalAdminCost(this.totalAdminCostUnder);
      this.setToUnderwriterTotalStampDuty(this.totalStampDutyUnder);
      this.setToUnderwriterTotalBrokerage(this.totalBrokerageUnder);
      this.setToUnderwriterTotalVAT(this.totalVATUnde);
      this.setToUnderwriterTotalPPH(this.totalPPhUnder);
      this.setToUnderwriterTotalGross(this.totalGrossUnder);
      this.setToUnderwriterTotalTotalAmount(this.totalTotalAmountUnder);
    },
    convertData(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          amount: this.convertMoney(element.amount),
          brokerage: Number(element.brokerage),
          brokerageAmount: this.convertMoney(element.brokerageAmount),
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          efSharingAmount: element.efSharingAmount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    convertForUnder(data) {
      let array = [{ insuranceName: "ALL" }];
      data.forEach((element) => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          amount: this.convertMoney(element.amount),
          brokerage: Number(element.brokerage),
          brokerageAmount: this.convertMoney(element.brokerageAmount),
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          efSharingAmount: element.efSharingAmount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    convertClient(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: this.convertMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          totalAmount: element.totalAmount,
          vatAmount: element.vatAmount,
        });
      });
      return array;
    },
    convertUnder(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: this.convertMoney(element.amount),
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          brokerageAmount: element.brokerageAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    setToLocalStorage() {
      let obj = {
        listUnder: this.dataUnder,
        totalPercentageUnder: this.totalPercentageUnder,
        totalAmountUnder: this.totalAmountUnder,
        totalAdminCostUnder: this.totalAdminCostUnder,
        totalStampDutyUnder: this.totalStampDutyUnder,
        totalBrokerageUnder: this.totalBrokerageUnder,
        totalVATUnder: this.totalVATUnder,
        totalPPhUnder: this.totalPPhUnder,
        totalGrossUnder: this.totalGrossUnder,
        totalTotalAmountUnder: this.totalTotalAmountUnder,
      };
      localStorage.setItem("dataInstallmentUnder", JSON.stringify(obj));
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
  },
};
</script>

<style scoped>
.buttonClose {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}
.buttonTemplate {
  margin-top: -15px !important;
}
.total-center {
  text-align: center;
}
.total-right {
  text-align: center;
  /* padding-right: 20px; */
}
::v-deep .input-right input {
  text-align: right;
}
fieldset {
  border-color: #80abd2;
  border-radius: 5px;
  border-width: thin;
}
legend {
  color: #00529b;
  margin-left: 15px;
}
.mTop {
  margin-top: -20px !important;
  font-weight: 400 !important;
}
</style>
