<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0 mb-2">
          <v-col cols="8" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="2" class="ma-0 pa-0">
                <span class="title">Trans Date</span>
              </v-col>
              <!-- Date From -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0 pl-3">
                <v-menu
                  v-model="filter.dateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateFormattedFrom"
                      ref="dateFrom"
                      name="dateFrom"
                      label="Date From"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateFrom = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="filter.dateFrom.menu = !filter.dateFrom.menu"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateFrom"
                    no-title
                    @input="filter.dateFrom.menu = false"
                    :max="param.dateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <span class="title pl-2 pr-2">To</span>
              <!-- Date To -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.dateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateFormattedTo"
                      ref="dateTo"
                      name="dateTo"
                      label="Date To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateTo = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="filter.dateTo.menu = !filter.dateTo.menu"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateTo"
                    no-title
                    @input="filter.dateTo.menu = false"
                    :min="param.dateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 2 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Client -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Client/Adjuster</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Client..."
                  v-model="param.client"
                  hide-details="auto"
                  ref="customer"
                  name="customer"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.customer)"
                  :search-input.sync="
                    filter.customer.urlParam['codeOrName.contains']
                  "
                  :items="filter.customer.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.customer.loading"
                  no-data-text="Type the Customer Name."
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 3 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Curr -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Currency..."
                  v-model="param.currency"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.currency.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 4 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Claim Officer -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Claim Officer</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Claim Officer..."
                  v-model="param.claimOfficer"
                  hide-details="auto"
                  ref="claimOfficer"
                  name="claimOfficer"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.claimOfficer.items"
                  item-value="personalData.fullname"
                  :item-text="acctExecTextItem"
                  :loading="filter.claimOfficer.loading"
                  @keyup="autocompSearch(filter.claimOfficer)"
                  :search-input.sync="
                    filter.claimOfficer.urlParam['fullname.contains']
                  "
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 5 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Print Sub Total -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Print Sub Total</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Risk..."
                  v-model="param.printSubTotal"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.printSubTotal.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.printSubTotal.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Kosong -->
          <v-col cols="6" class="ma-0 py-0 px-2"> </v-col>
        </v-row>

        <!-- Output Process -->
        <v-divider class="mt-5"></v-divider>
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import axios from "axios";
export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },
  data: () => ({
    param: {
      dateFrom: "",
      dateTo: "",
      claimOfficer: "",
      currency: "",
      client: "",
      printSubTotal: "YES",

      output: "",
    },
    filter: {
      dateFrom: {
        date: "",
        menu: false,
      },
      dateTo: {
        date: "",
        menu: false,
      },
      claimOfficer: {
        value: "claimOfficer",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/user/api/user-management/user/?",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      printSubTotal: {
        items: [
          { value: "YES", text: "Yes" },
          { value: "NO", text: "No" },
        ],
      },
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/adjuster?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },

      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
  }),
  created() {
    this.initList(["claimOfficer", "currency", "customer"]);
  },
  computed: {
    computedDateFormattedFrom() {
      return this.formatDate(this.param.dateFrom);
    },
    computedDateFormattedTo() {
      return this.formatDate(this.param.dateTo);
    },
  },
  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async generate() {
      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          transDateFrom: this.param.dateFrom,
          transDateTo: this.param.dateTo,
          claimOfficer: this.param.claimOfficer,
          currency: this.param.currency,
          clientAdjuster: this.param.client,
          printSubTotal: this.param.printSubTotal,
        },
        group: "FINANCE_CLAIM",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
              //   this.clearParam();
            } else {
              this.previewFile(resp.data.data);
              //   this.clearParam();
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    acctExecTextItem: (item) =>
      item.loginData.username + " - " + item.personalData.fullname,
  },
};
</script>
