<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0 mb-2">
          <v-col cols="8" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="2" class="ma-0 pa-0">
                <span class="title">Billing Date</span>
              </v-col>
              <!-- Date From -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0 pl-3">
                <v-menu
                  v-model="filter.dateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateFormattedFrom"
                      ref="dateFrom"
                      name="dateFrom"
                      label="Date From"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateFrom = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="filter.dateFrom.menu = !filter.dateFrom.menu"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateFrom"
                    no-title
                    @input="filter.dateFrom.menu = false"
                    :max="param.dateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <span class="title pl-2 pr-2">To</span>
              <!-- Date To -->
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.dateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateFormattedTo"
                      ref="dateTo"
                      name="dateTo"
                      label="Date To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateTo = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="filter.dateTo.menu = !filter.dateTo.menu"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateTo"
                    no-title
                    @input="filter.dateTo.menu = false"
                    :min="param.dateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 2 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- UW -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title"
                  >Underwriter <span class="error--text">*</span></span
                >
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Underwriter..."
                  v-model="param.underwriter"
                  hide-details="auto"
                  ref="underwriter"
                  name="underwriter"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="search.underwriter.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="search.underwriter.loading"
                  :rules="[rules.required]"
                  @keyup="autocompSearch(search.underwriter)"
                  :search-input.sync="search.underwriter.input"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Statement To -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">For Statement Date Up To</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-model="computedDateStatementTo"
                  ref="statementTo"
                  name="statementTo"
                  label="Statement To"
                  persistent-hint
                  readonly
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                ></v-text-field>
                <!-- <v-menu
                  v-model="filter.statementTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateStatementTo"
                      ref="statementTo"
                      name="statementTo"
                      label="Statement To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      @click:clear="param.statementTo = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.statementTo.menu = !filter.statementTo.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.statementTo"
                    no-title
                    @input="filter.statementTo.menu = false"
                  ></v-date-picker>
                </v-menu> -->
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 3 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Curr -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Currency..."
                  v-model="param.currency"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.currency.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Received To -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">For Received Date Up To</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-model="computedDateReceivedTo"
                  ref="receivedTo"
                  name="receivedTo"
                  label="Received To"
                  persistent-hint
                  readonly
                  hide-details="auto"
                  flat
                  outlined
                  dense
                  solo
                ></v-text-field>
                <!-- <v-menu
                  v-model="filter.receivedTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateReceivedTo"
                      ref="receivedTo"
                      name="receivedTo"
                      label="Received To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.receivedTo = ''"
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.receivedTo.menu = !filter.receivedTo.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.receivedTo"
                    no-title
                    @input="filter.receivedTo.menu = false"
                  ></v-date-picker>
                </v-menu> -->
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 4 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Client -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Client</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Client..."
                  v-model="param.client"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(search.client)"
                  :search-input.sync="search.client.input"
                  :items="search.client.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="search.client.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Report Type -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="6" class="ma-0 pa-0">
                <span class="title">Print Zero Balance Transactions</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Select Zero Balance..."
                  v-model="param.isIncludeZeroBalance"
                  hide-details="auto"
                  ref="isIncludeZeroBalance"
                  name="isIncludeZeroBalance"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.isIncludeZeroBalance.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.isIncludeZeroBalance.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 5 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Claim No -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Claim No</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-model="param.claimNo"
                  label="Claim No..."
                  hide-details="auto"
                  ref="claimNo"
                  name="claimNo"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>

          <!-- Kosong -->
          <v-col cols="6" class="ma-0 py-0 px-2"> </v-col>
        </v-row>

        <!-- 6 -->
        <v-row class="ma-1 pa-0 mb-2">
          <!-- Risk -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Risk</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  label="Risk..."
                  v-model="param.risk"
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :items="filter.risk.items"
                  item-value="riskCode"
                  item-text="codeAndName"
                  :loading="filter.risk.loading"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>

          <!-- Kosong -->
          <v-col cols="6" class="ma-0 py-0 px-2"> </v-col>
        </v-row>

        <!-- Output Process -->
        <v-divider class="mt-5"></v-divider>
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import axios from "axios";
export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },
  data: () => ({
    param: {
      dateFrom: "",
      dateTo: "",
      underwriter: "",
      currency: "",
      receivedTo: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      client: "",
      statementTo: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      risk: "",
      claimNo: "",
      isIncludeZeroBalance: "Yes",

      output: "",
    },
    filter: {
      dateFrom: {
        date: "",
        menu: false,
      },
      dateTo: {
        date: "",
        menu: false,
      },
      receivedTo: {
        date: "",
        menu: false,
      },
      statementTo: {
        date: "",
        menu: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      isIncludeZeroBalance: {
        items: [
          { value: "Yes", text: "Yes" },
          { value: "No", text: "No" },
        ],
      },
      risk: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
    },
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      underwriter: {
        value: "uWriter",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?codeOrName.contains=",
        loading: true,
        request: null,
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    rules: { required: (value) => !!value || "Required." },
  }),
  created() {
    this.initList(["currency", "risk"]);
    this.initListSearch(["client", "underwriter"]);
  },
  computed: {
    form() {
      return {
        underwriter: this.param.underwriter,
      };
    },
    computedDateFormattedFrom() {
      return this.formatDate(this.param.dateFrom);
    },
    computedDateFormattedTo() {
      return this.formatDate(this.param.dateTo);
    },
    computedDateStatementTo() {
      return this.formatDate(this.param.statementTo);
    },
    computedDateReceivedTo() {
      return this.formatDate(this.param.receivedTo);
    },
  },
  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async initListSearch(list) {
      for (let l of list) {
        await API.get(this.search[l].url, this.search[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
          }
        );
        this.search[l].loading = false;
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          billingDateFrom: this.param.dateFrom,
          billingDateTo: this.param.dateTo,
          uWriter: this.param.underwriter,
          currency: this.param.currency,
          cashTo: this.formatDate(this.param.receivedTo),
          client: this.param.client,
          statementTo: this.formatDate(this.param.statementTo),
          risk: this.param.risk,
          claimTransNo: this.param.claimNo,
          isIncludeZeroBalance: this.param.isIncludeZeroBalance,
        },
        group: "FINANCE_CLAIM",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
              //   this.clearParam();
            } else {
              this.previewFile(resp.data.data);
              //   this.clearParam();
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
  },
};
</script>
