<template>
  <v-card flat>
    <isttoolbar title="Endorsement" dark color="secondary" icon="mdi-handshake">
      <v-spacer></v-spacer>
      <v-btn
        outlined
        color="white"
        @click="goToAdd"
        v-show="checkAuthorities('endorsement-add')"
      >
        <v-icon left>mdi-plus</v-icon>Create Endorsement
      </v-btn>
    </isttoolbar>
    <isttoolbar dark color="primary" class="pa-0">
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              ref="customer"
              name="customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              v-model="filter.customer.searchValue"
              :items="filter.customer.items"
              :loading="filter.customer.loading && !expanded"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              light
              @change="onkeyupSearch"
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
            ></v-autocomplete>
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="onkeyupSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Customer</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          ref="customer"
                          name="customer"
                          item-value="id"
                          item-text="codeAndName"
                          clearable
                          class="ma-0"
                          v-model="filter.customer.searchValue"
                          :items="filter.customer.items"
                          :loading="filter.customer.loading && !expanded"
                          @keyup="autocompSearch(filter.customer)"
                          :search-input.sync="filter.customer.searchInput"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Version Number</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.version.searchValue"
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          class="ma-0"
                          placeholder="Type the Version Number."
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Transaction Number</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          hide-details="auto"
                          ref="transactionNumber"
                          name="transactionNumber"
                          item-value="transactionId"
                          item-text="transactionId"
                          v-model="filter.transaction.searchValue"
                          @keyup="autocompSearch(filter.transaction)"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Transaction Number."
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Class of Risk</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          ref="classOfRisk"
                          name="classOfRisk"
                          item-value="riskCode"
                          item-text="codeAndName"
                          v-model="filter.classOfRisk.searchValue"
                          :items="filter.classOfRisk.items"
                          :loading="filter.classOfRisk.loading && !expanded"
                          @keyup="autocompSearch(filter.classOfRisk)"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Class Of Risk."
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Created Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdFrom.menu =
                                    !filter.createdFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdFrom.dataValue"
                            no-title
                            @input="filter.createdFrom.menu = false"
                            :max="filter.createdTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdTo.menu = !filter.createdTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdTo.dataValue"
                            no-title
                            @input="filter.createdTo.menu = false"
                            :min="filter.createdFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-card-actions class="pr-3 ma-1">
                  <v-spacer></v-spacer>
                  <v-btn light outlined color="primary" @click="onkeyupSearch">
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>

    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:item.version="{ item }">
        <v-row>
          <v-col cols="8">
            <v-select
              :items="item.listVersion"
              solo
              flat
              dense
              :disabled="item.listVersion.length == 0"
              outlined
              class="ma-0"
              hide-details="auto"
              v-model="item.versionSelected"
              return-object
              item-text="version"
              name="invoiceVersion"
              ref="invoiceVersion"
            >
            </v-select>
          </v-col>
          <v-chip-group>
            <template v-if="item.isFinal === 1">
              <v-chip>Final</v-chip>
            </template>
          </v-chip-group>
        </v-row>
      </template>

      <template v-slot:item.isActive="{ item }">
        <span v-if="item.isActive === 1" class="success--text">Active</span>
        <span v-else class="red--text">Inactive</span>
      </template>
      <template v-slot:item.createdDate="{ item }">
        <span v-if="item.createdDate">{{ item.createdDate }}</span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-icon class="mr-2" v-bind="attrs" v-on="on"
              >mdi-dots-vertical</v-icon
            >
          </template>
          <v-list>
            <v-list-item
              @click="
                () => {
                  detailItem(item);
                }
              "
            >
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="
                item.isEditable === 1 && checkAuthorities('endorsement-edit')
              "
              @click="
                () => {
                  editItem(item);
                }
              "
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="deleteDialog" persistent max-width="50%">
      <v-card>
        <v-card-title class="heading"
          >Are you sure want to delete "{{ toBeDeleteItem.code }}"
          ?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="deleteDialog = false"
            >Cancel</v-btn
          >
          <v-btn color="red" text @click="doDeleteItem()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    listParam: [],
    expanded: false,
    dialog: false,
    deleteDialog: false,
    filter: {
      customer: {
        value: "accountId",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?name.contains=",
        loading: false,
      },
      transaction: {
        value: "transactionId",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/broking/api/broking/endorsement/?transactionId.equals=",
        loading: false,
      },
      version: {
        value: "version",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        loading: false,
      },
      classOfRisk: {
        value: "riskCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/?riskCode.contains=",
        loading: false,
      },
      createdFrom: {
        value: "createdDate",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "greaterThan",
        menu: false,
      },
      createdTo: {
        value: "createdDate",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "lessThan",
        menu: false,
      },
    },
    headers: [
      {
        text: "Endorsement Number",
        value: "endorsementNo",
        sortable: false,
      },

      {
        text: "Version Number",
        value: "version",
        sortable: false,
        width: 250,
      },
      {
        text: "Covernote Number",
        value: "transactionIdKey",
        sortable: false,
      },
      {
        text: "Customer",
        value: "accountName",
        sortable: false,
      },
      {
        text: "Class of Risk",
        value: "riskName",
        sortable: false,
      },
      {
        text: "Notes",
        value: "notes",
        sortable: false,
      },
      {
        text: "Created Date",
        value: "createdDate",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    editedIndex: -1,
    totalItems: 0,
    request: null,
    options: {},
    loading: true,
    toBeDeleteItem: {},
    statusItems: [
      { value: 1, text: "Active" },
      { value: 0, text: "Inactive" },
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    autocompSearch: function () {
      return function (filter) {
        filter.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            filter.url +
              filter[
                !this.expanded ? "toolbarSearchInput" : "searchInput"
              ].toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            filter.loading = false;
            if (resp.data.code === 0 && resp.data.data.length > 0) {
              filter.items = resp.data.data;
            } else {
              filter.items = [];
            }
          });
        }, 500);
      };
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "filter.createdFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after !== "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate());
          this.filter.createdFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.createdTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after !== "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.filter.createdTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdTo.searchValue = "";
        }
      },
      deep: true,
    },
  },

  created() {
    this.initList(["customer", "transaction", "classOfRisk"]);

    this.filter.createdFrom.dataValue = "";
    this.filter.createdTo.dataValue = "";

    if(this.$route.query.back == true) this.backFromAction();
  },
  methods: {
    initList(list) {
      for (let l of list) {
        API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code === 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
      }
    },
    goToAdd() {
      this.$router.replace({ name: "endorsement-add" });
    },
    // refresh() {
    //   this.expanded = false;
    //   // this.getList();
    //   this.getList().then((data) => {
    //     this.items = data.items;
    //     this.totalItems = data.total;
    //   });
    // },
    refresh() {
      this.expanded = false;
      // this.getList();
      this.getList().then((data) => {
        var dataArr = data.items;
        for (let items in dataArr) {
          console.log("DATA");
          dataArr[items].versionSelected =
            dataArr[items].listVersion[dataArr[items].listVersion.length - 1];
          console.log(dataArr[items]);
          this.items.push(dataArr[items]);
        }
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
    // async getList() {
    //   this.loading = true;
    //   const { sortBy, sortDesc, page, itemsPerPage } = this.options;
    //   let param = {
    //     page: page == null ? 0 : page - 1,
    //     size: itemsPerPage,
    //   };
    //   if (
    //     sortBy != undefined &&
    //     sortDesc != undefined &&
    //     sortBy.length > 0 &&
    //     sortDesc.length > 0
    //   )
    //     param["sort"] = [
    //       sortBy[0],
    //       sortDesc[0] ? "desc" : "asc",
    //       "ignoreCase",
    //     ].join(",");
    //   var findHeaderValueNotEmpty = [];
    //   Object.keys(this.filter).forEach((key) => {
    //     if (String(this.filter[key].searchValue).length > 0) {
    //       findHeaderValueNotEmpty.push(this.filter[key]);
    //     }
    //   });
    //   if (findHeaderValueNotEmpty.length > 0) {
    //     param = Object.assign(
    //       param,
    //       ...findHeaderValueNotEmpty.map((value) => {
    //         return {
    //           [value.value + "." + value.searchParam]: value.searchValue,
    //         };
    //       })
    //     );
    //   }
    //   let resp = await API.get(
    //     "/broking/api/broking/placement/view-list",
    //     param
    //   );
    //   if (resp.data.code == 0) {
    //     this.totalItems = parseInt(resp.headers["x-total-count"]);
    //     this.items = resp.data.data;
    //   }
    //   this.loading = false;
    // },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy !== undefined &&
          sortDesc !== undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = ["endorsmentNo", "desc", "ignoreCase"].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (String(this.filter[key].searchValue).length > 0) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get(
          "broking/api/broking/endorsement/view-list-v2?sort=endorsmentNo%2Cdesc",
          param
        )
          .then((resp) => {
            if (resp.data.code === 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },

    detailItem(item) {
      this.$router.push({
        name: "endorsement-edit",
        query: {
          id: item.versionSelected.id,
          mode: "d",
          fromWhere: "endorsement-list",
        },
      });

      this.storeTable();
    },

    editItem(item) {
      this.$router.push({
        name: "endorsement-edit",
        query: {
          id: item.versionSelected.id,
          mode: "e",
          backToView: false,
          fromWhere: "endorsement-list-back",
        },
      });

      this.storeTable();
    },

    deleteItem(item) {
      this.deleteDialog = true;

      this.toBeDeleteItem = item;
    },
    async doDeleteItem() {
      await API.post(
        "/config/api/master-parameter/delete/" + this.toBeDeleteItem.id,
        null
      );
      this.toBeDeleteItem = {};
      this.deleteDialog = false;
      this.refresh();
    },

    onkeyupSearch() {
      this.options.page = 1;

      this.refresh();
    },
    sortClick(value) {
      if (this.options.sortBy[0] === value) {
        if (this.options.sortDesc[0] === false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] === true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.endorsementDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        endorsementDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>
