<template>
  <v-card-text>
    <v-form :readonly="disabled">
      <v-row class="mx-2">
        <v-col cols="5">
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Seq. No.</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.seqNo"
                dense
                outlined
                hide-details="auto"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Certificate No.</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.certNo"
                dense
                outlined
                hide-details="auto"
                :readonly="endorsement && endorsementType === 'Alteration'"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Owner</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.owner"
                dense
                outlined
                hide-details="auto"
                :readonly="endorsement && endorsementType === 'Alteration'"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Merk/Type</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.merk"
                dense
                outlined
                hide-details="auto"
                :readonly="endorsement && endorsementType === 'Alteration'"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="7">
          <fieldset>
            <legend><span class="title">Coverage Option</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="6" class="pa-1">
                <v-checkbox
                  v-model="data.coverage.loading"
                  label="Loading"
                  dense
                  hide-details="auto"
                  class="ma-0"
                  readonly
                ></v-checkbox>
              </v-col>
              <v-col cols="6" class="pa-1">
                <v-checkbox
                  v-model="data.coverage.srcc"
                  label="SRCC"
                  dense
                  hide-details="auto"
                  class="ma-0"
                  readonly
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="6" class="pa-1">
                <v-checkbox
                  v-model="data.coverage.flood"
                  label="Flood"
                  dense
                  hide-details="auto"
                  class="ma-0"
                  readonly
                ></v-checkbox>
              </v-col>
              <v-col cols="6" class="pa-1">
                <v-checkbox
                  v-model="data.coverage.ts"
                  label="TS"
                  dense
                  hide-details="auto"
                  class="ma-0"
                  readonly
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="6" class="pa-1">
                <v-checkbox
                  v-model="data.coverage.eq"
                  label="Earthquake"
                  dense
                  hide-details="auto"
                  class="ma-0"
                  readonly
                ></v-checkbox>
              </v-col>
              <v-col cols="6" class="pa-1">
                <v-checkbox
                  v-model="data.coverage.others"
                  label="Others (TBOD, AW, etc)"
                  dense
                  hide-details="auto"
                  class="ma-0"
                  readonly
                ></v-checkbox>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
      </v-row>
      <v-row class="mx-2">
        <v-col cols="5">
          <fieldset>
            <legend><span class="title">Effective Date</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Prorate Base On</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.effectiveDate.prorateBase"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="Day"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row v-show="dialogVersion == 1" align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Divided</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.effectiveDate.divided"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">Pro Days</span>
              </v-col>
              <v-col cols="3" class="pa-1">
                <v-text-field
                  v-model="data.effectiveDate.proDays"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1" v-show="dialogVersion == 2">
              <v-col cols="3" class="pa-1">
                <span class="title">Pro Days</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.effectiveDate.proDays"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">Divided</span>
              </v-col>
              <v-col cols="3" class="pa-1">
                <v-text-field
                  v-model="data.effectiveDate.divided"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Effective Date From</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-menu
                  v-if="endorsement && endorsementType === 'Alteration'"
                  v-model="effectiveFrom"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{}">
                    <v-text-field
                      v-model="effectiveDate"
                      ref="effectiveFrom"
                      name="effectiveFrom"
                      label="Select Date"
                      persistent-hint
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      readonly
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="effectiveFrom = !effectiveFrom"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <!-- :min="minDate"
                    :max="maxDate" -->
                  <v-date-picker
                    v-model="data.effectiveDate.effectiveFrom"
                    @input="setChangeDate"
                    no-title
                  ></v-date-picker>
                </v-menu>
                <v-text-field
                  v-else
                  v-model="effectiveDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">To</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="effectiveDateTo"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
          <br />
          <fieldset>
            <legend><span class="title">Specification</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Year</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.specification.year"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pa-1">
                <span class="title">Seat Cap</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.specification.seat"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Reg. No.</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.specification.regNo"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Chasis No.</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.specification.chasisNo"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Engine No.</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.specification.engineNo"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Coverage</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.specification.coverage"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Deductible</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.specification.deductible"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                >
                  <!-- v-money="moneyChanged.deductible ? money : ''" -->
                </v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Model</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.specification.model"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
          <br />
          <fieldset>
            <legend><span class="title">Details</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Insured</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.details.insured"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <!-- <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">NIP</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.details.nip"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row> -->
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Remarks</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.details.remarks"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
              <v-row align="center" class="mx-1">
                <v-col cols="3" class="pa-1">
                  <span class="title">Status</span>
                </v-col>
                <v-col cols="9" class="pa-1">
                  <v-text-field
                    v-model="data.details.status"
                    dense
                    outlined
                    hide-details="auto"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-row>
            <v-row align="center" class="mx-1" v-show="dialogVersion == 1">
              <v-col cols="3" class="pa-1">
                <span class="title">Print as Attachment</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-radio-group
                  v-model="data.details.printAsAttach"
                  row
                  hide-details="auto"
                  class="ma-0"
                  dense
                >
                  <v-radio label="Yes"></v-radio>
                  <v-radio label="No"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
        <v-col cols="7">
          <fieldset>
            <legend><span class="title">Value</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"> </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <span class="title">Charge</span>
              </v-col> -->
              <v-col cols="4" class="pa-1" style="text-align: end">
                <span class="title">Sum Insured</span>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: end">
                <span class="title">Rate %</span>
              </v-col>
              <v-col cols="4" class="pa-1" style="text-align: end">
                <span class="title">Gross Premium</span>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">MD</span>
              </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <v-checkbox
                  v-model="data.value.charge.md"
                  dense
                  hide-details="auto"
                  class="ma-0"
                ></v-checkbox>
              </v-col> -->
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.md"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumInsuredMD"
                  ref="sumInsuredMD"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.md"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.md"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.md"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="grossPremiumMD"
                  ref="grossPremiumMD"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.md"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">TPL</span>
              </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <v-checkbox
                  v-model="data.value.charge.tpl"
                  dense
                  hide-details="auto"
                  class="ma-0"
                ></v-checkbox>
              </v-col> -->
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.tpl"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumInsuredTPL"
                  ref="sumInsuredTPL"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.tpl"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.tpl"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.tpl"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="grossPremiumTPL"
                  ref="grossPremiumTPL"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.tpl"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">PLL</span>
              </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <v-checkbox
                  v-model="data.value.charge.pll"
                  dense
                  hide-details="auto"
                  class="ma-0"
                ></v-checkbox>
              </v-col> -->
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.pll"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumInsuredPLL"
                  ref="sumInsuredPLL"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.pll"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.pll"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.pll"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="grossPremiumPLL"
                  ref="grossPremiumPLL"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.pll"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">PAD</span>
              </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <v-checkbox
                  v-model="data.value.charge.pad"
                  dense
                  hide-details="auto"
                  class="ma-0"
                ></v-checkbox>
              </v-col> -->
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.pad"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumInsuredPAD"
                  ref="sumInsuredPAD"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.pad"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.pad"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.pad"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="grossPremiumPAD"
                  ref="grossPremiumPAD"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.pad"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">PAP</span>
              </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <v-checkbox
                  v-model="data.value.charge.pap"
                  dense
                  hide-details="auto"
                  class="ma-0"
                ></v-checkbox>
              </v-col> -->
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.pap"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumInsuredPAP"
                  ref="sumInsuredPAP"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.pap"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.pap"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.pap"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="grossPremiumPAP"
                  ref="grossPremiumPAP"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.pap"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">MED EXP</span>
              </v-col>
              <!-- <v-col cols="1" class="pa-1">
                <v-checkbox
                  v-model="data.value.charge.medExp"
                  dense
                  hide-details="auto"
                  class="ma-0"
                ></v-checkbox>
              </v-col> -->
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.medExp"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumInsuredMEDEXP"
                  ref="sumInsuredMEDEXP"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.medExp"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.medExp"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.medExp"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="grossPremiumMEDEXP"
                  ref="grossPremiumMEDEXP"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.medExp"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">Sub Total</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.subTotal"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
              </v-col>
              <v-col cols="2" class="pa-1"> </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.subTotal"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="1" class="pa-1"> </v-col>
              <v-col cols="1" class="pa-1"> </v-col>
              <v-col cols="4" class="pa-1" style="text-align: end">
                <span class="title">IBS Others</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.ibsOthers"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.ibsOthers"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="1" class="pa-1"> </v-col>
              <v-col cols="1" class="pa-1"> </v-col>
              <v-col cols="4" class="pa-1" style="text-align: end">
                <span class="title">U/W Others</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.value.rate.uwOthers"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.uwOthers"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">Client Premium</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.clientPremium"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: end">
                <span class="title">U/W Premium</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.uwPremium"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
          <br />
          <fieldset v-show="dialogVersion == 1">
            <legend>
              <span class="title">Sum Insured and Charge Premium Value</span>
            </legend>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"
                ><span class="title">Grand Total</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.sumInsured.grandTotal"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1"> </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.sumInsured.grandTotal2"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
      </v-row>

      <v-row class="mx-2" align="center">
        <v-col cols="12">
          <fieldset>
            <legend>
              <span class="title">Activity</span>
            </legend>
            <v-row align="center" class="mx-1">
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Entry By</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.entryBy"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Entry Date</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.entryDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Modify By</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.modifyBy"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Modify Date</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.modifyDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialogSumInsured"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit">
          Are You Sure To Change Effective date less than Active Date ?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="nextActiveDate"
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="backActiveDate"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card-text>
</template>

<script>
import { VMoney } from "v-money";
import { mapState } from "vuex";

export default {
  directives: { money: VMoney },
  props: ["data", "disabled", "endorsement", "endorsementType"],
  created() {
    this.effectiveDate = this.formatDate(this.data.effectiveDate.effectiveFrom);
    this.effectiveDateTo = this.formatDate(this.data.effectiveDate.effectiveTo);
  },
  data: () => ({
    effectiveDate: "",
    effectiveDateTo: "",
    oldDate: "",
    newDate: "",
    dialogSumInsured: false,
    effectiveFrom: false,
    dialogVersion: 2,
    money: {
      decimal: ".",
      thousands: ".",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    moneyChanged: {
      deductible: false,
    },
  }),
  mounted() {},
  computed: {
    ...mapState(["invoice"]),
    minDate: function () {
      return this.formatDateSlice(localStorage.getItem("minDateAlteration"));
    },
    maxDate: function () {
      return this.formatDateSlice(localStorage.getItem("maxDateAlteration"));
    },
    watchTotalSum: function () {
      let mdSumInsured = this.convertMoney(this.data.value.sumInsured.md);

      let subTotalSumInsured = mdSumInsured;

      return subTotalSumInsured;
    },
    watchTotalGross: function () {
      let ibsOthersRate = Number(this.data.value.rate.ibsOthers);
      let uwOthersRate = Number(this.data.value.rate.uwOthers);
      let mdGrossPremium = this.convertMoney(this.data.value.grossPremium.md);
      let tplGrossPremium = this.convertMoney(this.data.value.grossPremium.tpl);
      let pllGrossPremium = this.convertMoney(this.data.value.grossPremium.pll);
      let padGrossPremium = this.convertMoney(this.data.value.grossPremium.pad);
      let papGrossPremium = this.convertMoney(this.data.value.grossPremium.pap);
      let medExpGrossPremium = this.convertMoney(
        this.data.value.grossPremium.medExp
      );

      let subTotalGrossPremium =
        mdGrossPremium +
        tplGrossPremium +
        pllGrossPremium +
        padGrossPremium +
        papGrossPremium +
        medExpGrossPremium;

      let ibsOthersGrossPremium =
        (Number(subTotalGrossPremium.toFixed(2)) / 100) * ibsOthersRate * -1;
      let uwOthersGrossPremium =
        (Number(subTotalGrossPremium.toFixed(2)) / 100) * uwOthersRate * -1;
      let uwPremium =
        subTotalGrossPremium + Number(uwOthersGrossPremium.toFixed(2));
      let clientPremium =
        subTotalGrossPremium +
        Number(ibsOthersGrossPremium.toFixed(2)) +
        Number(uwOthersGrossPremium.toFixed(2));

      let result = {
        subTotalGrossPremium,
        ibsOthersGrossPremium,
        uwOthersGrossPremium,
        uwPremium,
        clientPremium,
      };

      return result;
    },
  },
  watch: {
    "data.effectiveDate.effectiveFrom": {
      handler: function (newValue, oldValue) {
        this.newDate = newValue;
        this.oldDate = oldValue;
        this.effectiveDate = this.formatDate(newValue);
        // if (this.endorsement) {
        //   this.calculateGrossPremium();
        //   this.calculateTPLGrossPremium();
        //   this.calculatePLLGrossPremium();
        //   this.calculatePADGrossPremium();
        //   this.calculatePAPGrossPremium();
        //   this.calculateMEDEXPGrossPremium();
        // }
      },
      deep: true,
    },
    "data.effectiveDate.effectiveTo": {
      handler: function (newValue) {
        this.effectiveDateTo = this.formatDate(newValue);
      },
      deep: true,
    },
    "data.value.sumInsured.md": {
      handler: function () {
        if (this.endorsement) {
          this.calculateGrossPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.pad": {
      handler: function () {
        if (this.endorsement) {
          this.calculatePADGrossPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.pap": {
      handler: function () {
        if (this.endorsement) {
          this.calculatePAPGrossPremium();
        }
      },
      deep: true,
    },
    watchTotalSum: function (newValue) {
      if (this.endorsement) {
        this.data.value.sumInsured.subTotal = this.currencyFormat(newValue);
      }
    },
    watchTotalGross: function (newValue) {
      if (this.endorsement) {
        this.data.value.grossPremium.subTotal = this.currencyFormat(
          newValue.subTotalGrossPremium
        );
        this.data.value.grossPremium.ibsOthers = this.currencyFormat(
          newValue.ibsOthersGrossPremium
        );
        this.data.value.grossPremium.uwOthers = this.currencyFormat(
          newValue.uwOthersGrossPremium
        );
        this.data.value.grossPremium.uwPremium = this.currencyFormat(
          newValue.uwPremium
        );
        this.data.value.sumInsured.clientPremium = this.currencyFormat(
          newValue.clientPremium
        );
      }
    },
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    nextActiveDate() {
      this.data.effectiveDate.effectiveFrom = this.newDate;
      this.calculateGrossPremium();
      this.calculateTPLGrossPremium();
      this.calculatePLLGrossPremium();
      this.calculatePADGrossPremium();
      this.calculatePAPGrossPremium();
      this.calculateMEDEXPGrossPremium();
      this.dialogSumInsured = false;
    },
    backActiveDate() {
      this.data.effectiveDate.effectiveFrom = this.oldDate;
      this.dialogSumInsured = false;
    },
    calculateGrossPremium() {
      let dateFromSplit = this.data.effectiveDate.effectiveFrom.split("-");
      let dateToSplit = this.data.effectiveDate.effectiveTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.effectiveDate.divided);
      this.data.effectiveDate.proDays = proDays;

      let mdRate = this.convertMoney(this.data.value.rate.md);
      let proRate = proDays / divided;
      let mdSumInsured = this.convertMoney(this.data.value.sumInsured.md);
      let mdGrossPremium_InRate = (Number(mdSumInsured) / 100) * mdRate;
      let newGrossPremium_InProRate = mdGrossPremium_InRate * proRate;
      let newGrossPremium = (
        Math.round(newGrossPremium_InProRate * 100) / 100
      ).toFixed(2);

      let mdGrossPremium = 0;
      if (mdRate === 0) {
        mdGrossPremium = this.convertMoney(this.data.value.grossPremium.md);
      } else {
        mdGrossPremium = Number(newGrossPremium);
      }
      this.data.value.grossPremium.md = this.formatMoney(mdGrossPremium);
      this.$refs.grossPremiumMD.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(mdGrossPremium);
    },
    calculateTPLGrossPremium() {
      let dateFromSplit = this.data.effectiveDate.effectiveFrom.split("-");
      let dateToSplit = this.data.effectiveDate.effectiveTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.effectiveDate.divided);
      this.data.effectiveDate.proDays = proDays;

      let tplOri = this.convertMoney(this.data.value.grossPremium.tplOri);
      let proRate = proDays / divided;
      let tplGrossPremium_InProRate = tplOri * proRate;
      let tplGrossPremium = (
        Math.round(tplGrossPremium_InProRate * 100) / 100
      ).toFixed(2);
      let newGrossPremium = Number(tplGrossPremium);

      this.data.value.grossPremium.tpl = this.formatMoney(newGrossPremium);
      this.$refs.grossPremiumTPL.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(newGrossPremium);
    },
    calculatePLLGrossPremium() {
      let dateFromSplit = this.data.effectiveDate.effectiveFrom.split("-");
      let dateToSplit = this.data.effectiveDate.effectiveTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.effectiveDate.divided);
      this.data.effectiveDate.proDays = proDays;

      let pllOri = this.convertMoney(this.data.value.grossPremium.pllOri);
      let proRate = proDays / divided;
      let pllGrossPremium_InProRate = pllOri * proRate;
      let pllGrossPremium = (
        Math.round(pllGrossPremium_InProRate * 100) / 100
      ).toFixed(2);
      let newGrossPremium = Number(pllGrossPremium);

      this.data.value.grossPremium.pll = this.formatMoney(newGrossPremium);
      this.$refs.grossPremiumPLL.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(newGrossPremium);
    },
    calculatePADGrossPremium() {
      let dateFromSplit = this.data.effectiveDate.effectiveFrom.split("-");
      let dateToSplit = this.data.effectiveDate.effectiveTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.effectiveDate.divided);
      this.data.effectiveDate.proDays = proDays;

      let padRate = this.convertMoney(this.data.value.rate.pad);
      let proRate = proDays / divided;
      let padSumInsured = this.convertMoney(this.data.value.sumInsured.pad);
      let padGrossPremium_InRate =
        (Number(padSumInsured) / 100) * Number(padRate);
      let padGrossPremium_InProRate = padGrossPremium_InRate * proRate;
      let newGrossPremium = (
        Math.round(padGrossPremium_InProRate * 100) / 100
      ).toFixed(2);

      let padGrossPremium = 0;
      if (padRate === 0) {
        padGrossPremium = this.convertMoney(this.data.value.grossPremium.pad);
      } else {
        padGrossPremium = Number(newGrossPremium);
      }
      this.data.value.grossPremium.pad = this.formatMoney(padGrossPremium);
      this.$refs.grossPremiumPAD.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(padGrossPremium);
    },
    calculatePAPGrossPremium() {
      let dateFromSplit = this.data.effectiveDate.effectiveFrom.split("-");
      let dateToSplit = this.data.effectiveDate.effectiveTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.effectiveDate.divided);
      this.data.effectiveDate.proDays = proDays;
      let seat = this.data.specification.seat;

      let papRate = this.convertMoney(this.data.value.rate.pap);
      let proRate = proDays / divided;
      let papSumInsured =
        this.convertMoney(this.data.value.sumInsured.pap) * seat;
      let papGrossPremium_InRate =
        (Number(papSumInsured) / 100) * Number(papRate);
      let papGrossPremium_InProRate = papGrossPremium_InRate * proRate;
      let newGrossPremium = (
        Math.round(papGrossPremium_InProRate * 100) / 100
      ).toFixed(2);

      let papGrossPremium = 0;
      if (papRate === 0) {
        papGrossPremium = this.convertMoney(this.data.value.grossPremium.pap);
      } else {
        papGrossPremium = Number(newGrossPremium);
      }

      this.data.value.grossPremium.pap = this.formatMoney(papGrossPremium);
      this.$refs.grossPremiumPAP.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(papGrossPremium);
    },
    calculateMEDEXPGrossPremium() {
      let dateFromSplit = this.data.effectiveDate.effectiveFrom.split("-");
      let dateToSplit = this.data.effectiveDate.effectiveTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.effectiveDate.divided);
      this.data.effectiveDate.proDays = proDays;

      let medExpOri = this.convertMoney(this.data.value.grossPremium.medExpOri);
      let proRate = proDays / divided;
      let medExpGrossPremium_InProRate = medExpOri * proRate;
      let medExpGrossPremium = (
        Math.round(medExpGrossPremium_InProRate * 100) / 100
      ).toFixed(2);
      let newGrossPremium = Number(medExpGrossPremium);

      this.data.value.grossPremium.medExp = this.formatMoney(newGrossPremium);
      this.$refs.grossPremiumMEDEXP.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(newGrossPremium);
    },
    setChangeDate(value) {
      this.effectiveFrom = false;
      let newDate = new Date(value);
      let activeDate = new Date(this.invoice.attachActiveDate);
      let compareDate = newDate.getTime() < activeDate.getTime();
      if (this.endorsement) {
        if (compareDate) {
          this.dialogSumInsured = true;
        } else {
          this.calculateGrossPremium();
          this.calculateTPLGrossPremium();
          this.calculatePLLGrossPremium();
          this.calculatePADGrossPremium();
          this.calculatePAPGrossPremium();
          this.calculateMEDEXPGrossPremium();
        }
      }
    },
    formatDateSlice(date) {
      let splitted = date.split("/");
      let reversed = [splitted[2], splitted[0], splitted[1]].join("-");
      return reversed;
    },
    currencyFormat(data, toFixedNum = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(toFixedNum ? toFixedNum : 2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
  },
};
</script>

<style scoped>
::v-deep .input-right input {
  text-align: right;
}
fieldset {
  border-color: #80abd2;
  border-radius: 5px;
  border-width: thin;
}
legend {
  color: #00529b;
  margin-left: 15px;
}
</style>
