<template>
  <v-card-text>
    <v-form :readonly="disabled">
      <v-row class="mx-2">
        <v-col cols="4">
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Seq. No.</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.seqNo"
                dense
                outlined
                hide-details="auto"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Risk Location</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.riskLoc"
                dense
                outlined
                hide-details="auto"
                :readonly="endorsement && endorsementType === 'Alteration'"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">City</span>
            </v-col>
            <v-col cols="9" class="py-1">
              <v-text-field
                v-model="data.city"
                dense
                outlined
                hide-details="auto"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="3" class="py-1">
              <span class="title">Province</span>
            </v-col>
            <v-col cols="4" class="py-1">
              <v-text-field
                v-model="data.riskInfo.province"
                dense
                outlined
                hide-details="auto"
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="py-1" style="text-align: center">
              <span class="title">Post Code</span>
            </v-col>
            <v-col cols="3" class="py-1">
              <v-text-field
                v-model="data.riskInfo.postCode"
                dense
                outlined
                hide-details="auto"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="3">
          <fieldset>
            <legend><span class="title">Coverage Option</span></legend>
            <v-row align="center" class="mx-1">
              <v-checkbox
                v-model="data.coverage.flexas"
                label="FLEXAS"
                dense
                hide-details="auto"
                class="ma-0"
                readonly
              ></v-checkbox>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-checkbox
                v-model="data.coverage.tsfwd"
                label="TSFWD"
                dense
                hide-details="auto"
                class="ma-0"
                readonly
              ></v-checkbox>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-checkbox
                v-model="data.coverage.eqvet"
                label="EQVET"
                dense
                hide-details="auto"
                class="ma-0"
                readonly
              ></v-checkbox>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-checkbox
                v-model="data.coverage.rsmdccOthers"
                label="RSMDCC (Others)"
                dense
                hide-details="auto"
                class="ma-0"
                readonly
              ></v-checkbox>
            </v-row>
          </fieldset>
        </v-col>
        <v-col cols="5">
          <fieldset>
            <legend>
              <span class="title">Loss Limit Value/Percentage</span>
            </legend>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">FLEXAS</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.lossLimitVal.flexas"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="%"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">Stock Decl</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.lossLimitVal.stockDecl"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="%"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">TSFWD</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.lossLimitVal.tsfwd"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="%"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">BI IP</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.lossLimitVal.biip"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="%"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">EQVET</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.lossLimitVal.eqvet"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="%"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
      </v-row>
      <v-row class="mx-2">
        <v-col cols="4">
          <fieldset v-show="dialogVersion == 2">
            <legend><span class="title">Effective Date</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Prorate Base On</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.prorate.prorateBaseOn"
                  dense
                  outlined
                  hide-details="auto"
                  suffix="Days"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Pro Days</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.prorate.daysPeriod"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">Divided </span>
              </v-col>
              <v-col cols="3" class="pa-1">
                <v-text-field
                  v-model="data.prorate.divided"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Effective Date</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <!-- <v-text-field
                  v-model="data.prorate.effectiveDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field> -->
                <v-menu
                  v-if="endorsement && endorsementType === 'Alteration'"
                  v-model="effectiveFrom"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{}">
                    <v-text-field
                      v-model="effectiveDate"
                      ref="effectiveFrom"
                      name="effectiveFrom"
                      label="Select Date"
                      persistent-hint
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      readonly
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="effectiveFrom = !effectiveFrom"
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <!-- :min="minDate"
                    :max="maxDate" -->
                  <v-date-picker
                    v-model="data.prorate.effectiveDate"
                    @input="setChangeDate"
                    no-title
                  ></v-date-picker>
                </v-menu>
                <v-text-field
                  v-else
                  v-model="effectiveDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">To </span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="effectiveDateTo"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
          <br v-show="dialogVersion == 2" />

          <fieldset>
            <legend><span class="title">Risk Information</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Description</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.riskInfo.desc"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Occupation Code</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.riskInfo.occupationCode"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Occupation</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.riskInfo.occupation"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Coverage</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.riskInfo.coverage"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
          <br />
          <fieldset>
            <legend><span class="title">Other Information</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Storey Building</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.otherInfo.storeyBuild"
                  dense
                  outlined
                  hide-details="auto"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <!-- <v-col cols="3" class="pa-1">
                      <span class="title">EQ Zone</span>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-text-field
                        v-model="data.otherInfo.eqZone"
                        dense
                        outlined
                        hide-details="auto"
                      ></v-text-field>
                    </v-col> -->
              <v-col cols="3" class="pa-1">
                <span class="title">EQ Zone </span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.otherInfo.eqZone"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Remarks</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-textarea
                  v-model="data.otherInfo.remarks"
                  dense
                  outlined
                  hide-details="auto"
                  :rows="2"
                  :readonly="endorsement && endorsementType === 'Alteration'"
                ></v-textarea>
              </v-col>
            </v-row>
          </fieldset>
          <br />
          <fieldset v-show="dialogVersion == 1">
            <legend><span class="title">Prorate</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Effective Date</span>
              </v-col>
              <v-col cols="9" class="pa-1">
                <v-text-field
                  v-model="data.prorate.effectiveDate"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="3" class="pa-1">
                <span class="title">Days Period</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.prorate.daysPeriod"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">Divided </span>
              </v-col>
              <v-col cols="3" class="pa-1">
                <v-text-field
                  v-model="data.prorate.divided"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
        <v-col cols="8">
          <fieldset>
            <legend><span class="title">Value</span></legend>
            <!-- <v-row align="center" class="mx-1">
                    <v-col cols="2" class="pa-1">
                      <span class="title">Total Rate</span>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-text-field
                        v-model="data.value.totalRate"
                        dense
                        outlined
                        hide-details="auto"
                        suffix="%"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="pa-1" style="text-align: center">
                      <span class="title">Stock D.CI </span>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-text-field
                        v-model="data.value.stockDci"
                        dense
                        outlined
                        hide-details="auto"
                        suffix="%"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="mx-1">
                    <v-col cols="2" class="pa-1">
                      <span class="title">IBS Others Rate</span>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-text-field
                        v-model="data.value.ibsOthersRate"
                        dense
                        outlined
                        hide-details="auto"
                        suffix="%"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="pa-1" style="text-align: center">
                      <span class="title">BI SI Percentage</span>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-text-field
                        v-model="data.value.biSiPercentage"
                        dense
                        outlined
                        hide-details="auto"
                        suffix="%"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="mx-1">
                    <v-col cols="2" class="pa-1">
                      <span class="title">U/W Others Rate</span>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-text-field
                        v-model="data.value.uwOthersRate"
                        dense
                        outlined
                        hide-details="auto"
                        suffix="%"
                      ></v-text-field>
                    </v-col>
                  </v-row> -->
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"> </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">OJK Discount</span>
              </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">PAR Rate</span>
              </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">EQVET Rate</span>
              </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">Total Rate</span>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"> </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.ojkRate"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  suffix="%"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parRate"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  suffix="%"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetRate"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  suffix="%"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.totalRate"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  suffix="%"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1"> </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">Sum Insured</span>
              </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">PAR Premium</span>
              </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">EQVET Premium</span>
              </v-col>
              <v-col class="pa-1" style="text-align: end">
                <span class="title">Gross Premium</span>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Fixed Assets</span>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.sumInsured.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumFixedAsset"
                  ref="sumFixedAsset"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.grossPremium.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.grossPremium.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="premiFixedAsset"
                  ref="premiFixedAsset"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.fixedAssets"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Building</span>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.sumInsured.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumBuilding"
                  ref="sumBuilding"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.grossPremium.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.grossPremium.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="premiBuilding"
                  ref="premiBuilding"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.building"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Contents</span>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.sumInsured.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumContents"
                  ref="sumContents"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.grossPremium.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.grossPremium.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="premiContents"
                  ref="premiContents"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.contents"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Machinery</span>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.sumInsured.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumMachinery"
                  ref="sumMachinery"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.grossPremium.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.grossPremium.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="premiMachinery"
                  ref="premiMachinery"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.machinery"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Stocks</span>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.sumInsured.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumStocks"
                  ref="sumStocks"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.grossPremium.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.grossPremium.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="premiStocks"
                  ref="premiStocks"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.stocks"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Bus. Interupts</span>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.sumInsured.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.sumInsured.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="sumBusInterruption"
                  ref="sumBusInterruption"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.sumInsured.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <!-- <v-text-field
                  v-model="data.value.grossPremium.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field> -->
                <v-text-field
                  v-model="data.value.grossPremium.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  v-money="money"
                  id="premiBusinterruption"
                  ref="premiBusinterruption"
                  v-if="endorsement && endorsementType === 'Alteration'"
                ></v-text-field>
                <v-text-field
                  v-else
                  v-model="data.value.grossPremium.busInterups"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Sub Total</span>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.subTotal"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.parPremium.subTotal"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.eqvetPremium.subTotal"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.subTotal"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">IBS Others</span>
              </v-col>
              <v-col class="pa-1"> </v-col>
              <v-col class="pa-1"> </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.ibsOthersRate"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  suffix="%"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.ibsOthers"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">U/W Others</span>
              </v-col>
              <v-col class="pa-1"> </v-col>
              <v-col class="pa-1"> </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.uwOthersRate"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  suffix="%"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.uwOthers"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>

            <br v-show="dialogVersion == 2" />
            <v-row align="center" class="mx-1" v-show="dialogVersion == 2">
              <v-col cols="2" class="pa-1">
                <span class="title">Client Premium</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.clientPremium"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1">
                <span class="title">U/W Premium</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.value.uwPremium"
                  dense
                  outlined
                  hide-details="auto"
                  class="input-right"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" class="mx-1" v-show="dialogVersion == 1">
              <v-col cols="2" class="pa-1">
                <span class="title">Total</span>
              </v-col>
              <v-col cols="5" class="pa-1">
                <v-text-field
                  v-model="data.value.sumInsured.total"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="5" class="pa-1">
                <v-text-field
                  v-model="data.value.grossPremium.total"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
          <br v-show="dialogVersion == 1" />
          <fieldset v-show="dialogVersion == 1">
            <legend><span class="title">Grand Total</span></legend>
            <v-row align="center" class="mx-1">
              <v-col cols="2" class="pa-1">
                <span class="title">Sum Insured</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.grandTotal.sumInsured"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pa-1" style="text-align: center">
                <span class="title">Premium</span>
              </v-col>
              <v-col cols="4" class="pa-1">
                <v-text-field
                  v-model="data.grandTotal.premium"
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
      </v-row>
      <v-row class="mx-2" align="center" v-show="dialogVersion == 2">
        <v-col cols="12">
          <fieldset>
            <legend>
              <span class="title">Activity</span>
            </legend>
            <v-row align="center" class="mx-1">
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Entry By</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.entryBy"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Entry Date</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.entryDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Modify By</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.modifyBy"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="1" class="pa-1" style="text-align: center">
                <span class="title">Modify Date</span>
              </v-col>
              <v-col cols="2" class="pa-1">
                <v-text-field
                  v-model="data.activity.modifyDate"
                  dense
                  outlined
                  hide-details="auto"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </fieldset>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialogSumInsured"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit">
          Are You Sure To Change Effective date less than Active Date ?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="nextActiveDate"
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="backActiveDate"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card-text>
</template>

<script>
import { VMoney } from "v-money";
import { mapState } from "vuex";

export default {
  directives: { money: VMoney },
  props: ["data", "disabled", "endorsement", "endorsementType"],
  created() {
    this.effectiveDate = this.formatDate(this.data.prorate.effectiveDate);
    this.effectiveDateTo = this.formatDate(this.data.prorate.effectiveDateTo);
  },
  data: () => ({
    effectiveDate: "",
    effectiveDateTo: "",
    oldDate: "",
    newDate: "",
    dialogSumInsured: false,
    effectiveFrom: false,
    dialogVersion: 2,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    moneyChanged: {
      deductible: false,
    },
  }),
  mounted() {},
  computed: {
    ...mapState(["invoice"]),
    minDate: function () {
      return this.formatDateSlice(localStorage.getItem("minDateAlteration"));
    },
    maxDate: function () {
      return this.formatDateSlice(localStorage.getItem("maxDateAlteration"));
    },
    watchTotalGross: function () {
      let ibsOthersRate = Number(this.data.value.ibsOthersRate);
      let uwOthersRate = Number(this.data.value.uwOthersRate);
      let fixedAssets = this.convertMoney(
        this.data.value.grossPremium.fixedAssets
      );
      let building = this.convertMoney(this.data.value.grossPremium.building);
      let machinery = this.convertMoney(this.data.value.grossPremium.machinery);
      let stocks = this.convertMoney(this.data.value.grossPremium.stocks);
      let busInterups = this.convertMoney(
        this.data.value.grossPremium.busInterups
      );
      let contents = this.convertMoney(this.data.value.grossPremium.contents);


      let premiAmount =
        fixedAssets + building + machinery + stocks + busInterups + contents;

      let ibsOthersGrossPremium =
        (Number(premiAmount.toFixed(2)) / 100) * ibsOthersRate * -1;
      let uwOthersGrossPremium =
        (Number(premiAmount.toFixed(2)) / 100) * uwOthersRate * -1;
      let uwPremium = premiAmount + Number(uwOthersGrossPremium.toFixed(2));
      let clientPremium =
        premiAmount +
        Number(ibsOthersGrossPremium.toFixed(2)) +
        Number(uwOthersGrossPremium.toFixed(2));
      let subTotal = Number(fixedAssets) + Number(building) + Number(machinery) + Number(stocks) + Number(busInterups) + Number(contents)

      let result = {
        premiAmount,
        ibsOthersGrossPremium,
        uwOthersGrossPremium,
        uwPremium,
        clientPremium,
        subTotal,
      };

      return result;
    },
  },
  watch: {
    "data.prorate.effectiveDate": {
      handler: function (newValue, oldValue) {
        this.newDate = newValue;
        this.oldDate = oldValue;
        this.effectiveDate = this.formatDate(newValue);
        // if (this.endorsement) {
        //  this.calculateAssetsPremium();
        //  this.calculateBuildingPremium();
        //  this.calculateContensPremium();
        //  this.calculateMachineryPremium();
        //  this.calculateStocksPremium();
        //  this.calculateInteruptsPremium();
        // }
      },
      deep: true,
    },
    "data.prorate.effectiveDateTo": {
      handler: function (newValue) {
        this.effectiveDateTo = this.formatDate(newValue);
      },
      deep: true,
    },
    "data.value.sumInsured.fixedAssets": {
      handler: function () {
        if (this.endorsement) {
          this.calculateAssetsPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.building": {
      handler: function () {
        if (this.endorsement) {
          this.calculateBuildingPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.contents": {
      handler: function () {
        if (this.endorsement) {
          this.calculateContensPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.machinery": {
      handler: function () {
        if (this.endorsement) {
          this.calculateMachineryPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.stocks": {
      handler: function () {
        if (this.endorsement) {
          this.calculateStocksPremium();
        }
      },
      deep: true,
    },
    "data.value.sumInsured.busInterups": {
      handler: function () {
        if (this.endorsement) {
          this.calculateInteruptsPremium();
        }
      },
      deep: true,
    },
    watchTotalGross: function (newValue) {
      if (this.endorsement) {
        this.data.value.premiAmount = this.currencyFormat(newValue.premiAmount);
        this.data.value.grossPremium.ibsOthers = this.currencyFormat(
          newValue.ibsOthersGrossPremium
        );
        this.data.value.grossPremium.uwOthers = this.currencyFormat(
          newValue.uwOthersGrossPremium
        );
        this.data.value.uwPremium = this.currencyFormat(newValue.uwPremium);
        this.data.value.clientPremium = this.currencyFormat(
          newValue.clientPremium
        );
        this.data.value.grossPremium.subTotal = this.currencyFormat(newValue.subTotal);
      }
    },
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    nextActiveDate() {
      this.data.prorate.effectiveDate = this.newDate;
      this.calculateAssetsPremium();
      this.calculateBuildingPremium();
      this.calculateContensPremium();
      this.calculateMachineryPremium();
      this.calculateStocksPremium();
      this.calculateInteruptsPremium();
      this.dialogSumInsured = false;
    },
    backActiveDate() {
      this.data.prorate.effectiveDate = this.oldDate;
      this.dialogSumInsured = false;
    },
    calculateAssetsPremium() {
      console.debug("======");
      let dateFromSplit = this.data.prorate.effectiveDate.split("-");
      let dateToSplit = this.data.prorate.effectiveDateTo.split("-");
      console.debug(dateFromSplit, dateToSplit);
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.prorate.divided);
      let proRate = proDays / divided;
      this.data.prorate.daysPeriod = proDays;
      let fixedAssetsSum = this.convertMoney(
        this.data.value.sumInsured.fixedAssets
      );

      // let ratePAR = parseFloat(this.data.value.parRate) * 100;
      // let rateEQVET = parseFloat(this.data.value.eqvetRate) * 100;
      let ratePAR = Number(this.data.value.parRate);
      let rateEQVET = Number(this.data.value.eqvetRate);

      let parPremiFixedAsset_InRate = (Number(fixedAssetsSum) / 100) * ratePAR;
      let parPremiFixedAsset_InProRate = parPremiFixedAsset_InRate * proRate;
      let parPremiFixedAsset = (
        Math.round(parPremiFixedAsset_InProRate * 100) / 100
      ).toFixed(2);

      let eqPremiFixedAsset_InRate = (Number(fixedAssetsSum) / 100) * rateEQVET;
      let eqPremiFixedAsset_InProRate = eqPremiFixedAsset_InRate * proRate;
      let eqPremiFixedAsset = (
        Math.round(eqPremiFixedAsset_InProRate * 100) / 100
      ).toFixed(2);

      let premiFixedAsset_InTotal =
        Number(parPremiFixedAsset) + Number(eqPremiFixedAsset);
      let premiFixedAsset = premiFixedAsset_InTotal;

      console.debug(
        parPremiFixedAsset,
        fixedAssetsSum,
        this.data.value.parRate,
        ratePAR,
        proRate
      );

      this.data.value.parPremium.fixedAssets = this.formatMoney(
        Number(parPremiFixedAsset)
      );
      this.data.value.eqvetPremium.fixedAssets = this.formatMoney(
        Number(eqPremiFixedAsset)
      );
      this.data.value.grossPremium.fixedAssets = this.formatMoney(
        Number(premiFixedAsset)
      );
      this.$refs.premiFixedAsset.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(premiFixedAsset);
      
      // Sum Insured
      let buildingSum = this.convertMoney(this.data.value.sumInsured.building);
      let contentsSum = this.convertMoney(this.data.value.sumInsured.contents);
      let machinerySum = this.convertMoney(this.data.value.sumInsured.machinery);
      let stocksSum = this.convertMoney(this.data.value.sumInsured.stocks);
      let busInterupsSum = this.convertMoney(this.data.value.sumInsured.busInterups);

      // PAR Premium
      let buildingPar = this.convertMoney(this.data.value.parPremium.building);
      let contentsPar = this.convertMoney(this.data.value.parPremium.contents);
      let machineryPar = this.convertMoney(this.data.value.parPremium.machinery);
      let stocksPar = this.convertMoney(this.data.value.parPremium.stocks);
      let busInterupsPar = this.convertMoney(this.data.value.parPremium.busInterups);

      // EQVET Premium
      let buildingEqvet = this.convertMoney(this.data.value.eqvetPremium.building);
      let contentsEqvet = this.convertMoney(this.data.value.eqvetPremium.contents);
      let machineryEqvet = this.convertMoney(this.data.value.eqvetPremium.machinery);
      let stocksEqvet = this.convertMoney(this.data.value.eqvetPremium.stocks);
      let busInterupsEqvet = this.convertMoney(this.data.value.eqvetPremium.busInterups);

      // Gross Premium
      let buildingGross = this.convertMoney(this.data.value.grossPremium.building);
      let contentsGross = this.convertMoney(this.data.value.grossPremium.contents);
      let machineryGross = this.convertMoney(this.data.value.grossPremium.machinery);
      let stocksGross = this.convertMoney(this.data.value.grossPremium.stocks);
      let busInterupsGross = this.convertMoney(this.data.value.grossPremium.busInterups);
      
      this.data.value.sumInsured.subTotal = this.formatMoney(
        Number(fixedAssetsSum) +
        Number(buildingSum) +
        Number(contentsSum) +
        Number(machinerySum) +
        Number(stocksSum) +
        Number(busInterupsSum)
      );
      this.data.value.parPremium.subTotal = this.formatMoney(
        Number(parPremiFixedAsset) +
        Number(buildingPar) +
        Number(contentsPar) +
        Number(machineryPar) +
        Number(stocksPar) +
        Number(busInterupsPar)
      );
      this.data.value.eqvetPremium.subTotal = this.formatMoney(
        Number(eqPremiFixedAsset) +
        Number(buildingEqvet) +
        Number(contentsEqvet) +
        Number(machineryEqvet) +
        Number(stocksEqvet) +
        Number(busInterupsEqvet)
      );
      this.data.value.grossPremium.subTotal = this.formatMoney(
        Number(premiFixedAsset) +
        Number(buildingGross) +
        Number(contentsGross) +
        Number(machineryGross) +
        Number(stocksGross) +
        Number(busInterupsGross)
      );

    },
    calculateBuildingPremium() {
      let dateFromSplit = this.data.prorate.effectiveDate.split("-");
      let dateToSplit = this.data.prorate.effectiveDateTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.prorate.divided);
      let proRate = proDays / divided;
      this.data.prorate.daysPeriod = proDays;
      let buildingSum = this.convertMoney(this.data.value.sumInsured.building);

      // let ratePAR = parseFloat(this.data.value.parRate) * 100;
      // let rateEQVET = parseFloat(this.data.value.eqvetRate) * 100;
      let ratePAR = Number(this.data.value.parRate);
      let rateEQVET = Number(this.data.value.eqvetRate);

      let parPremiBuilding_InRate = (Number(buildingSum) / 100) * ratePAR;
      let parPremiBuilding_InProRate = parPremiBuilding_InRate * proRate;
      let parPremiBuilding = (
        Math.round(parPremiBuilding_InProRate * 100) / 100
      ).toFixed(2);

      let eqPremiBuilding_InRate = (Number(buildingSum) / 100) * rateEQVET;
      let eqPremiBuilding_InProRate = eqPremiBuilding_InRate * proRate;
      let eqPremiBuilding = (
        Math.round(eqPremiBuilding_InProRate * 100) / 100
      ).toFixed(2);

      let premiBuilding_InTotal =
        Number(parPremiBuilding) + Number(eqPremiBuilding);
      let premiBuilding = premiBuilding_InTotal;

      this.data.value.parPremium.building = this.formatMoney(
        Number(parPremiBuilding)
      );
      this.data.value.eqvetPremium.building = this.formatMoney(
        Number(eqPremiBuilding)
      );
      this.data.value.grossPremium.building = this.formatMoney(
        Number(premiBuilding)
      );
      this.$refs.premiBuilding.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(premiBuilding);

      // Sum Insured
      let fixedAssetsSum = this.convertMoney(this.data.value.sumInsured.fixedAssets);
      let contentsSum = this.convertMoney(this.data.value.sumInsured.contents);
      let machinerySum = this.convertMoney(this.data.value.sumInsured.machinery);
      let stocksSum = this.convertMoney(this.data.value.sumInsured.stocks);
      let busInterupsSum = this.convertMoney(this.data.value.sumInsured.busInterups);

      // PAR Premium
      let fixedAssetsPar = this.convertMoney(this.data.value.parPremium.fixedAssets);
      let contentsPar = this.convertMoney(this.data.value.parPremium.contents);
      let machineryPar = this.convertMoney(this.data.value.parPremium.machinery);
      let stocksPar = this.convertMoney(this.data.value.parPremium.stocks);
      let busInterupsPar = this.convertMoney(this.data.value.parPremium.busInterups);

      // EQVET Premium
      let fixedAssetsEqvet = this.convertMoney(this.data.value.eqvetPremium.fixedAssets);
      let contentsEqvet = this.convertMoney(this.data.value.eqvetPremium.contents);
      let machineryEqvet = this.convertMoney(this.data.value.eqvetPremium.machinery);
      let stocksEqvet = this.convertMoney(this.data.value.eqvetPremium.stocks);
      let busInterupsEqvet = this.convertMoney(this.data.value.eqvetPremium.busInterups);

      // Gross Premium
      let fixedAssetsGross = this.convertMoney(this.data.value.grossPremium.fixedAssets);
      let contentsGross = this.convertMoney(this.data.value.grossPremium.contents);
      let machineryGross = this.convertMoney(this.data.value.grossPremium.machinery);
      let stocksGross = this.convertMoney(this.data.value.grossPremium.stocks);
      let busInterupsGross = this.convertMoney(this.data.value.grossPremium.busInterups);

      this.data.value.sumInsured.subTotal = this.formatMoney(
        Number(fixedAssetsSum) +
        Number(buildingSum) +
        Number(contentsSum) +
        Number(machinerySum) +
        Number(stocksSum) +
        Number(busInterupsSum)
      );
      this.data.value.parPremium.subTotal = this.formatMoney(
        Number(fixedAssetsPar) +
        Number(parPremiBuilding) +
        Number(contentsPar) +
        Number(machineryPar) +
        Number(stocksPar) +
        Number(busInterupsPar)
      );
      this.data.value.eqvetPremium.subTotal = this.formatMoney(
        Number(fixedAssetsEqvet) +
        Number(eqPremiBuilding) +
        Number(contentsEqvet) +
        Number(machineryEqvet) +
        Number(stocksEqvet) +
        Number(busInterupsEqvet)
      );
      this.data.value.grossPremium.subTotal = this.formatMoney(
        Number(fixedAssetsGross) +
        Number(premiBuilding) +
        Number(contentsGross) +
        Number(machineryGross) +
        Number(stocksGross) +
        Number(busInterupsGross)
      );

    },
    calculateContensPremium() {
      let dateFromSplit = this.data.prorate.effectiveDate.split("-");
      let dateToSplit = this.data.prorate.effectiveDateTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.prorate.divided);
      let proRate = proDays / divided;
      this.data.prorate.daysPeriod = proDays;
      let contentsSum = this.convertMoney(this.data.value.sumInsured.contents);

      // let ratePAR = parseFloat(this.data.value.parRate) * 100;
      // let rateEQVET = parseFloat(this.data.value.eqvetRate) * 100;
      let ratePAR = Number(this.data.value.parRate);
      let rateEQVET = Number(this.data.value.eqvetRate);

      let parPremiContents_InRate = (Number(contentsSum) / 100) * ratePAR;
      let parPremiContents_InProRate = parPremiContents_InRate * proRate;
      let parPremiContents = (
        Math.round(parPremiContents_InProRate * 100) / 100
      ).toFixed(2);

      let eqPremiContents_InRate = (Number(contentsSum) / 100) * rateEQVET;
      let eqPremiContents_InProRate = eqPremiContents_InRate * proRate;
      let eqPremiContents = (
        Math.round(eqPremiContents_InProRate * 100) / 100
      ).toFixed(2);

      let premiContents_InTotal =
        Number(parPremiContents) + Number(eqPremiContents);
      let premiContents = premiContents_InTotal;

      this.data.value.parPremium.contents = this.formatMoney(
        Number(parPremiContents)
      );
      this.data.value.eqvetPremium.contents = this.formatMoney(
        Number(eqPremiContents)
      );
      this.data.value.grossPremium.contents = this.formatMoney(
        Number(premiContents)
      );
      this.$refs.premiContents.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(premiContents);

      // Sum Insured
      let fixedAssetsSum = this.convertMoney(this.data.value.sumInsured.fixedAssets);
      let buildingSum = this.convertMoney(this.data.value.sumInsured.building);
      let machinerySum = this.convertMoney(this.data.value.sumInsured.machinery);
      let stocksSum = this.convertMoney(this.data.value.sumInsured.stocks);
      let busInterupsSum = this.convertMoney(this.data.value.sumInsured.busInterups);

      // PAR Premium
      let fixedAssetsPar = this.convertMoney(this.data.value.parPremium.fixedAssets);
      let buildingPar = this.convertMoney(this.data.value.parPremium.building);
      let machineryPar = this.convertMoney(this.data.value.parPremium.machinery);
      let stocksPar = this.convertMoney(this.data.value.parPremium.stocks);
      let busInterupsPar = this.convertMoney(this.data.value.parPremium.busInterups);

      // EQVET Premium
      let fixedAssetsEqvet = this.convertMoney(this.data.value.eqvetPremium.fixedAssets);
      let buildingEqvet = this.convertMoney(this.data.value.eqvetPremium.building);
      let machineryEqvet = this.convertMoney(this.data.value.eqvetPremium.machinery);
      let stocksEqvet = this.convertMoney(this.data.value.eqvetPremium.stocks);
      let busInterupsEqvet = this.convertMoney(this.data.value.eqvetPremium.busInterups);

      // Gross Premium
      let fixedAssetsGross = this.convertMoney(this.data.value.grossPremium.fixedAssets);
      let buildingGross = this.convertMoney(this.data.value.grossPremium.building);
      let machineryGross = this.convertMoney(this.data.value.grossPremium.machinery);
      let stocksGross = this.convertMoney(this.data.value.grossPremium.stocks);
      let busInterupsGross = this.convertMoney(this.data.value.grossPremium.busInterups);

      this.data.value.sumInsured.subTotal = this.formatMoney(
        Number(fixedAssetsSum) +
        Number(buildingSum) +
        Number(contentsSum) +
        Number(machinerySum) +
        Number(stocksSum) +
        Number(busInterupsSum)
      );
      this.data.value.parPremium.subTotal = this.formatMoney(
        Number(fixedAssetsPar) +
        Number(buildingPar) +
        Number(parPremiContents) +
        Number(machineryPar) +
        Number(stocksPar) +
        Number(busInterupsPar)
      );
      this.data.value.eqvetPremium.subTotal = this.formatMoney(
        Number(fixedAssetsEqvet) +
        Number(buildingEqvet) +
        Number(eqPremiContents) +
        Number(machineryEqvet) +
        Number(stocksEqvet) +
        Number(busInterupsEqvet)
      );
      this.data.value.grossPremium.subTotal = this.formatMoney(
        Number(fixedAssetsGross) +
        Number(buildingGross) +
        Number(premiContents) +
        Number(machineryGross) +
        Number(stocksGross) +
        Number(busInterupsGross)
      );
    },
    calculateMachineryPremium() {
      let dateFromSplit = this.data.prorate.effectiveDate.split("-");
      let dateToSplit = this.data.prorate.effectiveDateTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.prorate.divided);
      let proRate = proDays / divided;
      this.data.prorate.daysPeriod = proDays;
      let machinerySum = this.convertMoney(
        this.data.value.sumInsured.machinery
      );

      // let ratePAR = parseFloat(this.data.value.parRate) * 100;
      // let rateEQVET = parseFloat(this.data.value.eqvetRate) * 100;
      let ratePAR = Number(this.data.value.parRate);
      let rateEQVET = Number(this.data.value.eqvetRate);

      let parPremiMachinery_InRate = (Number(machinerySum) / 100) * ratePAR;
      let parPremiMachinery_InProRate = parPremiMachinery_InRate * proRate;
      let parPremiMachinery = (
        Math.round(parPremiMachinery_InProRate * 100) / 100
      ).toFixed(2);

      let eqPremiMachinery_InRate = (Number(machinerySum) / 100) * rateEQVET;
      let eqPremiMachinery_InProRate = eqPremiMachinery_InRate * proRate;
      let eqPremiMachinery = (
        Math.round(eqPremiMachinery_InProRate * 100) / 100
      ).toFixed(2);

      let premiMachinery_InTotal =
        Number(parPremiMachinery) + Number(eqPremiMachinery);
      let premiMachinery = premiMachinery_InTotal;

      this.data.value.parPremium.machinery = this.formatMoney(
        Number(parPremiMachinery)
      );
      this.data.value.eqvetPremium.machinery = this.formatMoney(
        Number(eqPremiMachinery)
      );
      this.data.value.grossPremium.machinery = this.formatMoney(
        Number(premiMachinery)
      );
      this.$refs.premiMachinery.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(premiMachinery);
      
      // Sum Insured
      let fixedAssetsSum = this.convertMoney(this.data.value.sumInsured.fixedAssets);
      let buildingSum = this.convertMoney(this.data.value.sumInsured.building);
      let contentsSum = this.convertMoney(this.data.value.sumInsured.contents);
      let stocksSum = this.convertMoney(this.data.value.sumInsured.stocks);
      let busInterupsSum = this.convertMoney(this.data.value.sumInsured.busInterups);

      // PAR Premium
      let fixedAssetsPar = this.convertMoney(this.data.value.parPremium.fixedAssets);
      let buildingPar = this.convertMoney(this.data.value.parPremium.building);
      let contentsPar = this.convertMoney(this.data.value.parPremium.contents);
      let stocksPar = this.convertMoney(this.data.value.parPremium.stocks);
      let busInterupsPar = this.convertMoney(this.data.value.parPremium.busInterups);

      // EQVET Premium
      let fixedAssetsEqvet = this.convertMoney(this.data.value.eqvetPremium.fixedAssets);
      let buildingEqvet = this.convertMoney(this.data.value.eqvetPremium.building);
      let contentsEqvet = this.convertMoney(this.data.value.eqvetPremium.contents);
      let stocksEqvet = this.convertMoney(this.data.value.eqvetPremium.stocks);
      let busInterupsEqvet = this.convertMoney(this.data.value.eqvetPremium.busInterups);

      // Gross Premium
      let fixedAssetsGross = this.convertMoney(this.data.value.grossPremium.fixedAssets);
      let buildingGross = this.convertMoney(this.data.value.grossPremium.building);
      let contentsGross = this.convertMoney(this.data.value.grossPremium.contents);
      let stocksGross = this.convertMoney(this.data.value.grossPremium.stocks);
      let busInterupsGross = this.convertMoney(this.data.value.grossPremium.busInterups);

      this.data.value.sumInsured.subTotal = this.formatMoney(
        Number(fixedAssetsSum) +
        Number(buildingSum) +
        Number(contentsSum) +
        Number(machinerySum) +
        Number(stocksSum) +
        Number(busInterupsSum)
      );
      this.data.value.parPremium.subTotal = this.formatMoney(
        Number(fixedAssetsPar) +
        Number(buildingPar) +
        Number(contentsPar) +
        Number(parPremiMachinery) +
        Number(stocksPar) +
        Number(busInterupsPar)
      );
      this.data.value.eqvetPremium.subTotal = this.formatMoney(
        Number(fixedAssetsEqvet) +
        Number(buildingEqvet) +
        Number(contentsEqvet) +
        Number(eqPremiMachinery) +
        Number(stocksEqvet) +
        Number(busInterupsEqvet)
      );
      this.data.value.grossPremium.subTotal = this.formatMoney(
        Number(fixedAssetsGross) +
        Number(buildingGross) +
        Number(contentsGross) +
        Number(premiMachinery) +
        Number(stocksGross) +
        Number(busInterupsGross)
      );
    },
    calculateStocksPremium() {
      let dateFromSplit = this.data.prorate.effectiveDate.split("-");
      let dateToSplit = this.data.prorate.effectiveDateTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.prorate.divided);
      let proRate = proDays / divided;
      this.data.prorate.daysPeriod = proDays;
      let stocksSum = this.convertMoney(this.data.value.sumInsured.stocks);

      // let ratePAR = parseFloat(this.data.value.parRate) * 100;
      // let rateEQVET = parseFloat(this.data.value.eqvetRate) * 100;
      let ratePAR = Number(this.data.value.parRate);
      let rateEQVET = Number(this.data.value.eqvetRate);

      let parPremiStocks_InRate = (Number(stocksSum) / 100) * ratePAR;
      let parPremiStocks_InProRate = parPremiStocks_InRate * proRate;
      let parPremiStocks = (
        Math.round(parPremiStocks_InProRate * 100) / 100
      ).toFixed(2);

      let eqPremiStocks_InRate = (Number(stocksSum) / 100) * rateEQVET;
      let eqPremiStocks_InProRate = eqPremiStocks_InRate * proRate;
      let eqPremiStocks = (
        Math.round(eqPremiStocks_InProRate * 100) / 100
      ).toFixed(2);

      let premiStocks_InTotal = Number(parPremiStocks) + Number(eqPremiStocks);
      let premiStocks = premiStocks_InTotal;

      this.data.value.parPremium.stocks = this.formatMoney(
        Number(parPremiStocks)
      );
      this.data.value.eqvetPremium.stocks = this.formatMoney(
        Number(eqPremiStocks)
      );
      this.data.value.grossPremium.stocks = this.formatMoney(
        Number(premiStocks)
      );
      this.$refs.premiStocks.$el.getElementsByTagName("input")[0].value =
        this.formatMoney(premiStocks);
      
      // Sum Insured
      let fixedAssetsSum = this.convertMoney(this.data.value.sumInsured.fixedAssets);
      let buildingSum = this.convertMoney(this.data.value.sumInsured.building);
      let contentsSum = this.convertMoney(this.data.value.sumInsured.contents);
      let machinerySum = this.convertMoney(this.data.value.sumInsured.machinery);
      let busInterupsSum = this.convertMoney(this.data.value.sumInsured.busInterups);

      // PAR Premium
      let fixedAssetsPar = this.convertMoney(this.data.value.parPremium.fixedAssets);
      let buildingPar = this.convertMoney(this.data.value.parPremium.building);
      let contentsPar = this.convertMoney(this.data.value.parPremium.contents);
      let machineryPar = this.convertMoney(this.data.value.parPremium.machinery);
      let busInterupsPar = this.convertMoney(this.data.value.parPremium.busInterups);

      // EQVET Premium
      let fixedAssetsEqvet = this.convertMoney(this.data.value.eqvetPremium.fixedAssets);
      let buildingEqvet = this.convertMoney(this.data.value.eqvetPremium.building);
      let contentsEqvet = this.convertMoney(this.data.value.eqvetPremium.contents);
      let machineryEqvet = this.convertMoney(this.data.value.eqvetPremium.machinery);
      let busInterupsEqvet = this.convertMoney(this.data.value.eqvetPremium.busInterups);

      // Gross Premium
      let fixedAssetsGross = this.convertMoney(this.data.value.grossPremium.fixedAssets);
      let buildingGross = this.convertMoney(this.data.value.grossPremium.building);
      let contentsGross = this.convertMoney(this.data.value.grossPremium.contents);
      let machineryGross = this.convertMoney(this.data.value.grossPremium.machinery);
      let busInterupsGross = this.convertMoney(this.data.value.grossPremium.busInterups);

      this.data.value.sumInsured.subTotal = this.formatMoney(
        Number(fixedAssetsSum) +
        Number(buildingSum) +
        Number(contentsSum) +
        Number(machinerySum) +
        Number(stocksSum) +
        Number(busInterupsSum)
      );
      this.data.value.parPremium.subTotal = this.formatMoney(
        Number(fixedAssetsPar) +
        Number(buildingPar) +
        Number(contentsPar) +
        Number(machineryPar) +
        Number(parPremiStocks) +
        Number(busInterupsPar)
      );
      this.data.value.eqvetPremium.subTotal = this.formatMoney(
        Number(fixedAssetsEqvet) +
        Number(buildingEqvet) +
        Number(contentsEqvet) +
        Number(machineryEqvet) +
        Number(eqPremiStocks) +
        Number(busInterupsEqvet)
      );
      this.data.value.grossPremium.subTotal = this.formatMoney(
        Number(fixedAssetsGross) +
        Number(buildingGross) +
        Number(contentsGross) +
        Number(machineryGross) +
        Number(premiStocks) +
        Number(busInterupsGross)
      );
    },
    calculateInteruptsPremium() {
      let dateFromSplit = this.data.prorate.effectiveDate.split("-");
      let dateToSplit = this.data.prorate.effectiveDateTo.split("-");
      let dateFrom = new Date(
        Number(dateFromSplit[0]),
        Number(dateFromSplit[1]) - 1,
        Number(dateFromSplit[2])
      );
      let dateTo = new Date(
        Number(dateToSplit[0]),
        Number(dateToSplit[1]) - 1,
        Number(dateToSplit[2])
      );

      let dateInTime = dateTo.getTime() - dateFrom.getTime();
      let dateInDay = dateInTime / (1000 * 3600 * 24);
      let proDays = Number(dateInDay.toFixed(0));
      let divided = Number(this.data.prorate.divided);
      let proRate = proDays / divided;
      this.data.prorate.daysPeriod = proDays;
      let busInterupsSum = this.convertMoney(
        this.data.value.sumInsured.busInterups
      );

      // let ratePAR = parseFloat(this.data.value.parRate) * 100;
      // let rateEQVET = parseFloat(this.data.value.eqvetRate) * 100;
      let ratePAR = Number(this.data.value.parRate);
      let rateEQVET = Number(this.data.value.eqvetRate);

      let parPremiBusinterruption_InRate =
        (Number(busInterupsSum) / 100) * ratePAR;
      let parPremiBusinterruption_InProRate =
        parPremiBusinterruption_InRate * proRate;
      let parPremiBusinterruption = (
        Math.round(parPremiBusinterruption_InProRate * 100) / 100
      ).toFixed(2);

      let eqPremiBusinterruption_InRate =
        (Number(busInterupsSum) / 100) * rateEQVET;
      let eqPremiBusinterruption_InProRate =
        eqPremiBusinterruption_InRate * proRate;
      let eqPremiBusinterruption = (
        Math.round(eqPremiBusinterruption_InProRate * 100) / 100
      ).toFixed(2);

      let premiBusinterruption_InTotal =
        Number(parPremiBusinterruption) + Number(eqPremiBusinterruption);
      let premiBusinterruption = premiBusinterruption_InTotal;

      this.data.value.parPremium.busInterups = this.formatMoney(
        Number(parPremiBusinterruption)
      );
      this.data.value.eqvetPremium.busInterups = this.formatMoney(
        Number(eqPremiBusinterruption)
      );
      this.data.value.grossPremium.busInterups = this.formatMoney(
        Number(premiBusinterruption)
      );
      this.$refs.premiBusinterruption.$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(premiBusinterruption);

      // Sum Insured
      let fixedAssetsSum = this.convertMoney(this.data.value.sumInsured.fixedAssets);
      let buildingSum = this.convertMoney(this.data.value.sumInsured.building);
      let contentsSum = this.convertMoney(this.data.value.sumInsured.contents);
      let machinerySum = this.convertMoney(this.data.value.sumInsured.machinery);
      let stocksSum = this.convertMoney(this.data.value.sumInsured.stocks);

      // PAR Premium
      let fixedAssetsPar = this.convertMoney(this.data.value.parPremium.fixedAssets);
      let buildingPar = this.convertMoney(this.data.value.parPremium.building);
      let contentsPar = this.convertMoney(this.data.value.parPremium.contents);
      let machineryPar = this.convertMoney(this.data.value.parPremium.machinery);
      let stocksPar = this.convertMoney(this.data.value.parPremium.stocks);

      // EQVET Premium
      let fixedAssetsEqvet = this.convertMoney(this.data.value.eqvetPremium.fixedAssets);
      let buildingEqvet = this.convertMoney(this.data.value.eqvetPremium.building);
      let contentsEqvet = this.convertMoney(this.data.value.eqvetPremium.contents);
      let machineryEqvet = this.convertMoney(this.data.value.eqvetPremium.machinery);
      let stocksEqvet = this.convertMoney(this.data.value.eqvetPremium.stocks);

      // Gross Premium
      let fixedAssetsGross = this.convertMoney(this.data.value.grossPremium.fixedAssets);
      let buildingGross = this.convertMoney(this.data.value.grossPremium.building);
      let contentsGross = this.convertMoney(this.data.value.grossPremium.contents);
      let machineryGross = this.convertMoney(this.data.value.grossPremium.machinery);
      let stocksGross = this.convertMoney(this.data.value.grossPremium.stocks);

      this.data.value.sumInsured.subTotal = this.formatMoney(
        Number(fixedAssetsSum) +
        Number(buildingSum) +
        Number(contentsSum) +
        Number(machinerySum) +
        Number(stocksSum) +
        Number(busInterupsSum)
      );
      this.data.value.parPremium.subTotal = this.formatMoney(
        Number(fixedAssetsPar) +
        Number(buildingPar) +
        Number(contentsPar) +
        Number(machineryPar) +
        Number(stocksPar) +
        Number(parPremiBusinterruption)
      );
      this.data.value.eqvetPremium.subTotal = this.formatMoney(
        Number(fixedAssetsEqvet) +
        Number(buildingEqvet) +
        Number(contentsEqvet) +
        Number(machineryEqvet) +
        Number(stocksEqvet) +
        Number(eqPremiBusinterruption)
      );
      this.data.value.grossPremium.subTotal = this.formatMoney(
        Number(fixedAssetsGross) +
        Number(buildingGross) +
        Number(contentsGross) +
        Number(machineryGross) +
        Number(stocksGross) +
        Number(premiBusinterruption)
      );
    },
    setChangeDate(value) {
      this.effectiveFrom = false;
      let newDate = new Date(value);
      let activeDate = new Date(this.invoice.attachActiveDate);
      let compareDate = newDate.getTime() < activeDate.getTime();
      if (this.endorsement) {
        if (compareDate) {
          this.dialogSumInsured = true;
        } else {
          this.calculateAssetsPremium();
          this.calculateBuildingPremium();
          this.calculateContensPremium();
          this.calculateMachineryPremium();
          this.calculateStocksPremium();
          this.calculateInteruptsPremium();
        }
      }
    },
    formatDateSlice(date) {
      let splitted = date.split("/");
      let reversed = [splitted[2], splitted[0], splitted[1]].join("-");
      return reversed;
    },
    currencyFormat(data, toFixedNum = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(toFixedNum ? toFixedNum : 2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
  },
};
</script>

<style scoped>
::v-deep .input-right input {
  text-align: right;
}
fieldset {
  border-color: #80abd2;
  border-radius: 5px;
  border-width: thin;
}
legend {
  color: #00529b;
  margin-left: 15px;
}
</style>