<template>
  <v-card flat>
    <isttoolbar title="District" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer />

      <!-- <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            min-width="40"
            @click="save"
            class="mr-2"
            text
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-content-save-outline mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Save</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn min-height="40" v-bind="attrs" v-on="on" min-width="40" @click="back" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Cancel</span>
      </v-tooltip>-->
      <v-btn
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="save"
        >save</v-btn
      >
      <v-btn height="40" width="100" outlined color="white" @click="back"
        >cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="New District"
      class="mb-2 pl-9"
      dark
      color="primary"
    ></isttoolbar>
    <v-form>
      <v-col>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <v-row>
              <span class="title">Province</span>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-autocomplete
              @change="provinceChange"
              hide-details="auto"
              :items="itemsProvince"
              label="Select Province"
              ref="province"
              name="province"
              item-value="id"
              item-text="name"
              v-model="param.province"
              solo
              flat
              dense
              outlined
              class="ma-0"
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <v-row>
              <span class="title">Regency</span>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-autocomplete
              hide-details="auto"
              :items="itemsRegency"
              label="Select Regency"
              ref="regency"
              name="regency"
              item-value="id"
              item-text="name"
              v-model="param.regency"
              solo
              flat
              dense
              outlined
              class="ma-0"
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <v-row>
              <span class="title">District Code</span>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              label="Insert District Code"
              ref="districtCode"
              v-model="param.districtCode"
              solo
              flat
              dense
              outlined
              class="ma-0"
              name="districtCode"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <v-row>
              <span class="title">District Name</span>
              <span class="error--text">*</span>
            </v-row>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              label="Insert District Name"
              ref="districtName"
              v-model="param.districtName"
              solo
              flat
              dense
              outlined
              class="ma-0"
              name="districtName"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
    </v-form>
    <!-- <v-card-actions>
      <v-btn
        color="primary"
        dark
        rounded
        @click="save"
        class="pa-4"
        width="100px"
        height="40px"
      >Save</v-btn>
      <v-btn color="red" dark rounded @click="back" class="pa-4" width="100px" height="40px">Cancel</v-btn>
    </v-card-actions>-->

    <v-snackbar v-model="snackbar" :timeout="2000" :light="true">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="success" text v-bind="attrs" @click="snackbar = false"
          >Close</v-btn
        >
      </template>
    </v-snackbar>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    errorDescription: "",
    param: {
      province: "",
      regency: "",
      districtCode: "",
      districtName: "",
    },
    snackbar: false,
    overlay: false,

    dialog: { show: false, success: false, error: false },

    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },

    itemsProvince: [],
    itemsRegency: [],
  }),
  computed: {
    form() {
      return {
        province: this.param.province,
        regency: this.param.regency,
        districtName: this.param.districtName,
        districtCode: this.param.districtCode,
      };
    },
  },

  created() {
    this.getList();
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    back() {
      this.$router.replace({ name: "area-district-list" });
    },
    provinceChange() {
      API.get(
        "config/api/master-location/regency?provinceId.equals=" +
          this.param.province
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let province = resp.data.data;
          for (i = 0; i < province.length; i++) {
            text.push(province[i]);
          }
          this.itemsRegency = text;
          console.log(this.itemsRegency);
        }
      });
    },

    // regencyChange(){
    //   console.log(this.param.regency);
    //   API.get("/api/master-location/district?regencyId.equals=" + this.param.regency).then(
    //
    //       (resp) => {
    //
    //         if (resp.data.code == 0) {
    //           let text = [];
    //           let i;
    //           console.log("INI RESPONSE = ");
    //           let province = resp.data.data;
    //           for (i = 0; i < province.length; i++) {
    //             text.push(province[i]);
    //           }
    //           this.itemsRegency = text;
    //           console.log(this.items);
    //         }
    //       }
    //   );
    // },
    async getList() {
      API.get("config/api/master-location/provinces", null).then((resp) => {
        if (resp.data.code == 0) {
          let provinceList = [];
          let provinceId = [];
          let items = resp.data.data;

          for (let i in items) {
            provinceList.push(items[i]);
            provinceId.push(items[i]);
          }

          this.itemsProvince = provinceList;
        }
      });
    },

    async save() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        district: {
          districtCode: this.param.districtCode,
          name: this.param.districtName,
          regency: {
            id: this.param.regency,
            name: this.param.regency,
            province: {
              name: this.param.province,
              id: this.param.province,
            },
          },
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("config/api/master-location/district/add", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog = { show: false, success: false, error: false };
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            const err = resp.data.errorDescription;
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
  },
};
</script>
