<template>
  <v-card flat>
    <isttoolbar title="District" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer></v-spacer>
      <v-btn outlined color="white" @click="goToAdd" v-show="checkAuthorities('area-district-add')">
        <v-icon left>mdi-plus</v-icon>Add District
      </v-btn>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-header
      :footer-props="{
        'items-per-page-options': [5, 10, 15, 25],
      }"
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <v-text-field
                v-if="header.filterType === 'input'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:keyup="onkeyupSearch"
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="tableSortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value === options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value === options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value !== options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-text-field>
              <v-autocomplete
                v-if="header.filterType === 'select'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :search-input.sync="header.searchInput"
                @keyup="autocompSearch(header)"
                :items="autocompItems(header.value)"
                item-value="id"
                item-text="name"
                clearable
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="tableSortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value === options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value === options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value !== options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-autocomplete>
              <v-autocomplete
                v-if="header.filterType === 'selectStatus'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :items="statusItems"
                item-value="value"
                item-text="text"
                clearable
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="tableSortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value === options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value === options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value !== options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-autocomplete>
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:top>
        <isttoolbar
          title="List Of District"
          dark
          color="primary"
          class="mb-0 pl-9"
        ></isttoolbar>
      </template>
      <template v-slot:item.isActive="{ item }">
        <span v-if="item.isActive === 1" class="success--text">Active</span>
        <span v-else class="red--text">Inactive</span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon class="mr-2" v-bind="attrs" v-on="on"
                >mdi-dots-vertical</v-icon
              >
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editItem(item)" v-show="checkAuthorities('area-district-edit')">
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="420">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" text @click="dialog = false">Cancel</v-btn>
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";

export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    toDelete: {},
    dialog: false,
    headers: [
      {
        text: "District Code",
        value: "districtCode",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "District Name",
        value: "name",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Regency",
        value: "regency.name",
        searchValue: "",
        searchable: true,
        filterType: "select",
        searchInput: "",
        filterParam: "regencyId",
      },
      {
        text: "Province",
        value: "regency.province.name",
        searchValue: "",
        searchable: true,
        filterType: "select",
        searchInput: "",
        filterParam: "provinceId",
      },
      {
        text: "Record Status",
        value: "isActive",
        searchValue: "",
        searchable: true,
        filterType: "selectStatus",
        // searchInput: "",
      },

      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    param: {
      regency: "",
    },
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    statusItems: [
      { value: "1", text: "Active" },
      { value: "0", text: "Inactive" },
    ],
    provinceItems: [],
    regencyItems: [],
    // recordStatusItems: [],
  }),

  computed: {
    form() {
      return {
        // searchValue: this.headers.searchValue,
        regency: this.param.regency,
      };
    },
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    autocompItems: function () {
      return function (value) {
        if (value === "isActive") {
          return this.statusItems;
        } else if (value === "regency.province.name") {
          return this.provinceItems;
        } else if (value === "regency.name") {
          return this.regencyItems;
        }
      };
    },
    autocompSearch: function () {
      return function (header) {
        if (header.value === "regency.province.name") {
          API.get(
            "/config/api/master-location/provinces?name.contains=" +
              header.searchInput.toUpperCase()
          ).then((resp) => {
            if (resp.data.code === 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              this.provinceItems = resp.data.data;
            } else {
              this.provinceItems = [];
            }
          });

          console.log(this.provinceItems);
        }
        if (header.value === "regency.name") {
          API.get(
            "/config/api/master-location/regency?name.contains=" +
              header.searchInput.toUpperCase()
          ).then((resp) => {
            if (resp.data.code === 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              this.regencyItems = resp.data.data;
            } else {
              this.regencyItems = [];
            }
          });
          console.log("hasilnya");
          console.log(this.regencyItems);
        }
        // if (header.value == "isActive") {
        //   API.get(
        //     "/config/api/master-location/district?isActive.equals" +
        //       this.statusItems
        //   ).then((resp) => {
        //     if (resp.data.code == 0 && resp.data.data.length > 0) {
        //       // console.log(resp.data.data);
        //       this.recordStatusItems = resp.data.data;
        //     } else {
        //       this.recordStatusItems = [];
        //     }
        //   });
        //   console.log("hasilnya");
        //   console.log(this.recordStatusItems);
        // }
      };
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },
  // mounted() {
  //   this.refresh();
  // },
  // created() {
  //   this.refresh();
  // },
  created() {
    if(this.$route.query.back == true) this.backFromAction();
  },
  methods: {
    goToAdd() {
      this.$router.replace({ name: "area-district-add" });
    },
    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy !== undefined &&
          sortDesc !== undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [sortBy[0], sortDesc[0] ? "desc" : "asc"].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => value.searchValue && value.searchValue.length !== 0
        );

        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              let paramInfo = ".contains";
              if (value.filterParam === "provinceId") {
                paramInfo = "";
              } else if (value.filterParam === "regencyId") {
                paramInfo = ".equals";
              } else if (value.filterType === "selectStatus") {
                paramInfo = ".equals";
              }
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + paramInfo]: value.searchValue,
              };
            })
          );
        }
        API.get("config/api/master-location/district/view-list", param).then((resp) => {
          if (resp.data.code === 0) {
            console.log(resp);

            this.loading = false;
            resolve({
              total: parseInt(resp.headers["x-total-count"]),
              items: resp.data.data,
            });
          }
        });
      });
    },

    viewItem(item) {
      this.$router.push({
        name: "area-district-edit",
        params: { item: item },
        query: { id: item.id, mode: "d" },
      });

      this.storeTable();
    },
    editItem(item) {
      this.$router.push({
        name: "area-district-edit",
        params: { item: item },
        query: { id: item.id, mode: "e" },
      });

      this.storeTable();
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("config/api/master-location/district/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code === 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    tableSortClick(value) {
      if (this.options.sortBy[0] === value) {
        if (this.options.sortDesc[0] === false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] === true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.districtDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        districtDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>
