<template>
  <v-card flat>
    <isttoolbar title="District" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer />
      <v-tooltip bottom v-if="mode === 'd' && checkAuthorities('area-district-edit')">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="mode = 'e'"
            text
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="edit"
        >Save</v-btn
      >

      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="back"
        >cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      v-if="mode === 'd'"
      title="View District"
      class="mb-4 pl-9"
      dark
      color="primary"
    ></isttoolbar>
    <isttoolbar
      v-if="mode === 'e'"
      title="Edit District"
      class="mb-4 pl-9"
      dark
      color="primary"
    ></isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Province</span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            :items="itemsProvince"
            ref="province"
            name="province"
            v-model="param.province"
            filled
            flat
            dense
            outlined
            class="ma-0"
            :rules="[rules.required]"
            readonly
          ></v-text-field>
          <!-- <v-autocomplete
            v-if="mode === 'e'"
            hide-details="auto"
            :items="itemsProvince"
            label="Province"
            ref="province"
            name="province"
            v-model="param.province"
            solo
            flat
            dense
            outlined
            class="ma-0"
            :rules="[rules.required]"
            readonly
          ></v-autocomplete> -->
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Regency</span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            v-if="mode === 'd'"
            readonly
            hide-details="auto"
            :items="itemsRegency"
            ref="regency"
            name="regency"
            v-model="param.regency"
            filled
            flat
            dense
            outlined
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
          <v-autocomplete
            v-if="mode === 'e'"
            hide-details="auto"
            :items="itemsRegency"
            label="Regency"
            ref="regency"
            name="regency"
            v-model="param.regency"
            solo
            flat
            dense
            outlined
            class="ma-0"
            :rules="[rules.required]"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">District Code</span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            filled
            readonly
            hide-details="auto"
            ref="districtCode"
            v-model="param.districtCode"
            flat
            dense
            outlined
            class="ma-0"
            name="districtCode"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">District Name</span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            v-if="mode === 'd'"
            readonly
            hide-details="auto"
            ref="districtName"
            v-model="param.districtName"
            filled
            flat
            dense
            outlined
            class="ma-0"
            name="districtName"
            :rules="[rules.required]"
          ></v-text-field>
          <v-text-field
            v-if="mode === 'e'"
            hide-details="auto"
            label="District Name"
            ref="districtName"
            v-model="param.districtName"
            solo
            flat
            dense
            outlined
            class="ma-0"
            name="districtName"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8">
          <v-switch
            v-if="mode === 'd'"
            readonly
            ref="status"
            name="status"
            color="success"
            v-model="param.status"
            inset
            :label="`${param.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
          <v-switch
            v-if="mode === 'e'"
            ref="status"
            name="status"
            color="success"
            v-model="param.status"
            inset
            :label="`${param.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-5" v-show="mode === 'd'">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <!-- <v-row align="center" class="ml-1">
      <v-col cols="10">
        <v-card-actions class="mr-2">
          <v-btn
            height="40"
            width="100"
            color="primary"
            dark
            rounded
            @click="edit"
            class="pa-4"
          >Save</v-btn>
          <v-btn height="40" width="100" color="red" dark rounded @click="back" class="pa-4">Cancel</v-btn>
        </v-card-actions>
      </v-col>
    </v-row>-->

    <v-snackbar v-model="snackbar" :timeout="2000" :light="true">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="success" text v-bind="attrs" @click="snackbar = false"
          >Close</v-btn
        >
      </template>
    </v-snackbar>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  created() {
    if (this.$route.query.id) {
      this.param.id = this.$route.query.id;
      this.getById();
    }
  },
  data: () => ({
    errorDescription: "",
    overlay: false,
    dialog: { show: false, success: false, error: false },

    mode: "",
    param: {
      districtCode: "",
      districtName: "",
      regency: "",
      province: "",
      status: "",
      provinceId: 0,
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    snackbar: false,

    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    itemsProvince: [],
    itemsRegency: [],
  }),
  computed: {
    form() {
      return {
        districtCode: this.param.districtCode,
        districtName: this.param.districtName,
        regency: this.param.regency,
        province: this.param.province,
        status: this.param.status,
      };
    },
  },

  mounted() {
    this.getById();
    this.mode = this.$route.query.mode;
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    back() {
      this.$router.replace({ name: "area-district-list", query: {back: true}, });
    },
    async getById() {
      let id = this.param.id;
      API.get("/config/api/master-location/district/" + id).then((resp) => {
        let data = resp.data.data;
        let data1 = [];
        data1.push(data);
        this.param.districtName = data.name;
        this.param.regency = data.regency.name;
        this.param.province = data.regency.province.name;
        this.param.status = data.isActive === 1 ? true : false;
        this.param.districtCode = data.districtCode;
        this.param.provinceId = data.regency.province.id;
        this.param.entryName = data.createdBy;
        this.param.entryDate = this.formatDate(data.createdDate);
        this.param.modifName = data.modifiedBy;
        this.param.modifDate = this.formatDate(data.modifiedDate);

        let provinceList = [];

        for (let i in data1) {
          provinceList.push(data1[i].regency.province.name);
        }

        this.itemsProvince = provinceList;

        API.get(
          "/config/api/master-location/regency?provinceId.equals=" +
            this.param.provinceId
        ).then((resp) => {
          if (resp.data.code === 0 && resp.data.data.length > 0) {
            let regencyList = [];
            let items = resp.data.data;
            for (let i in items) {
              regencyList.push(items[i].name);
            }

            this.itemsRegency = regencyList;
          }
        });
      });
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    async edit() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;

        if (!this.form[f] && f !== "status") this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        district: {
          districtCode: this.param.districtCode,
          id: parseInt(this.param.id),
          isActive: this.param.status ? 1 : 0,
          name: this.param.districtName,
          regency: {
            name: this.param.regency,
            province: { name: this.param.province },
          },
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post(
        "/config/api/master-location/district/update",
        param
      );
      if (resp.data.code === 0) {
        this.mode = "d";

        if (resp.data.code == 0) {
          // this.dialog.success = true;
          this.dialog = { show: false, success: false, error: false };
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.back();
        } else {
          const err = resp.data.errorDescription;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      }
    },
  },
};
</script>
