<template>
  <v-card flat>
    <isttoolbar
      title="Accounting Report"
      dark
      color="secondary"
      icon="mdi-file-document"
    >
      <v-spacer></v-spacer>
    </isttoolbar>
    <isttoolbar
      title="Accounting Report Listing"
      dark
      color="primary"
      class="mb-0 pl-9"
    ></isttoolbar>

    <masterdatatable
      :headers="headers"
      viewListUrl="report/api/list-accounting-report"
      v-on:clickItem="clickItem"
      :opts="{defaultSortBy:['rptName'], defaultSortDesc:[false]}"
    >
    </masterdatatable>
    <v-dialog v-model="reportDialog.show" max-width="1200px" scrollable>
      <v-card>
        <v-card-title class="headline primary">
          <v-btn icon class="hidden-xs-only btn-disabled" dark>
            <v-icon>mdi-file-document</v-icon>
          </v-btn>
          <span class="white--text">{{ reportDialog.name }}</span>
          <v-spacer> </v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                text
                @click="reportDialog = { show: false }"
                dark
              >
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-card-text>
          <businessWriten
            v-if="
              reportDialog.code === 'RPT01'
            "
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <transaksiVsJournal
            v-else-if="reportDialog.code === 'RPTVsJournal'"
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <journalEntries
            v-else-if="reportDialog.code === 'RPTJournalEntryReport'"
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import masterdatatable from "@/components/table/masterDataTable";
import businessWriten from "./view-business-writen.vue";
import transaksiVsJournal from "./view-transaksi-vs-journal.vue";
import journalEntries from "./view-journal-entries.vue";

export default {
  components: {
    isttoolbar,
    masterdatatable,
    businessWriten,
    transaksiVsJournal,
    journalEntries,
  },

  data: () => ({
    viewReportDialog: false,
    toDelete: {},
    dialog: false,
    alert: false,
    errAlert: false,
    headers: [
      {
        text: "Report Name",
        align: "start",
        sortable: true,
        searchable: true,
        value: "name",
        searchValue: "",
        filterType: "input",
        searchInput: "",
        filterParam: "name.contains",
        sortParam: "rptName",
        link: true,
      },
      {
        text: "Description",
        value: "description",
        sortable: false,
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "description.contains",
        sortParam: "rptDescription",
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    reportDialog: { show: false },
  }),

  computed: {},

  watch: {},

  methods: {
    clickItem(item) {
      this.reportDialog = { ...item, show: true };
    },
    show(value) {
      this.reportDialog.code = value;
      this.reportDialog.show = true;
    },
  },
};
</script>
