<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Period From </span>
                <span class="error--text">*</span>
                <span ></span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.dateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.dateFrom"
                      ref="dateFrom"
                      name="dateFrom"
                      label="Select Date From"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateFrom = ''"
                      :rules="[rules.required]"
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.dateFrom.menu = !filter.dateFrom
                            .menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateFrom"
                    no-title
                    @input="filter.dateFrom.menu = false"
                    :max="param.dateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">To</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.dateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.dateTo"
                      ref="dateTo"
                      name="dateTo"
                      label="Select Date To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                      clearable
                      @click:clear="param.dateTo = ''"
                      :rules="[rules.required]"
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.dateTo.menu = !filter.dateTo
                            .menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.dateTo"
                    no-title
                    @input="filter.dateTo.menu = false"
                    :min="param.dateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <!-- 2 -->
        <v-row class="ma-1 pa-0">          
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Transaction Type</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                label="Select Type"
                hide-details="auto"
                v-model="param.transType"
                ref="type"
                name="type"
                :items="filter.transType.items"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.currency"
                  label="Select Currency..."
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.currency.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          
        </v-row>
        <!-- 3 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">GL Account</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.glAccount"
                  label="Select GL Account..."
                  hide-details="auto"
                  ref="glAccount"
                  name="glAccount"
                  :items="filter.glAccount.items"
                  item-value="coaCode"
                  :item-text="glAccountItem"
                  :loading="filter.glAccount.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @keyup="autocompSearch(filter.glAccount)"
                  :search-input.sync="
                    filter.glAccount.urlParam['codeOrName']
                  "
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-divider></v-divider>

        <!-- Output & Proses -->
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Posted To Sun</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.sun"
                  label="Search Posted To Sun"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.sun.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.sun.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
      fileType="pdfObject"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    param: {
      dateFrom: "",
      dateTo: "",
      transType: "",
      currency: "",
      glAccount: "",
      sun: "ALL",
      output: "",
    },
    formHasErrors: false,
  
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    filter: {
      dateFrom: {
        date: "",
        menu: false,
      },
      dateTo: {
        date: "",
        menu: false,
      },
      transType: {
        value: "transType",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [ "ADJ", "CSH", "REV", "CNF", "REF", "CA", "INV", "CN", "PAYR", "JNM", "CPA", "JNS", "PD", "PFUN", "FINV", "INVF"],
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      glAccount: {
        value: "glAccount",
        searchValue: "",
        items: [],
        url: "/config/api/master-akuncoa/list-by-codeOrName?codeOrName=",
        urlOth: "/config/api/master-akuncoa/list-by-codeOrName",
        loading: true,
        urlParam: {
          "isActive.equals": 1,
        },
        lookupUrl: 1,
      },
      sun: {
        items: [
          { value: "ALL", text: "ALL" },
          { value: "Y", text: "Y" },
          { value: "N", text: "N" },
        ],
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
    },
    rules: { required: (value) => !!value || "Required." },
  }),
  created() {
    // this.filter.month.items = this.getMonthList();
    // this.filter.year.items = this.getLastTenYears();
    this.initList([
      "currency",
      "glAccount",
    ]);
    // this.clearParam();
  },
  computed: {
    form() {
      return {
        dateFrom: this.param.dateFrom,
        dateTo: this.param.dateTo,
      };
    },
  },
  methods: {
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      // let month = String(this.param.month).length == 1 ? String(this.param.month).padStart(2, '0') : String(this.param.month);
      // let year = String(this.param.year);
      // let datePerMMYYYY = "";
      // if(this.param.month && this.param.year) {
      //   datePerMMYYYY = month + year;
      // }
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          // datePerMMYYYY: datePerMMYYYY,
          dateFrom: this.param.dateFrom,
          dateTo: this.param.dateTo,
          tranCode: this.param.transType,
          glAccount: this.param.glAccount,
          currency: this.param.currency,
          status: this.param.sun,
        },
        group: "ACCOUNTING",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      console.debug(paramJSON, docUrl);
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      // filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        if(filter.value != "glAccount") {
          API.get(
            filter["url" + (i < 1 ? "" : i)],
            filter.urlParam,
            null,
            axiosSource.token
          )
            .then((resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                // console.log(resp.data.data);
                filter.items = filter.items.concat(resp.data.data);
              }
              filter.loading = false;
            })
            .catch((e) => {
              console.log("error", e);
              filter.loading = false;
            });
        } else {
          API.get(
            filter.urlParam.codeOrName ? filter.urlOth : filter["url" + (i < 1 ? "" : i)],
            filter.urlParam,
            null,
            axiosSource.token
          )
            .then((resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                // console.log(resp.data.data);
                filter.items = filter.items.concat(resp.data.data);
              }
              filter.loading = false;
            })
            .catch((e) => {
              console.log("error", e);
              filter.loading = false;
            });
        }
          
      }
      filter.request = null;
    },
    formatDate(mode, month, year) {
      let resp = "";
      if (month && year) {
        let day = "01";
        if (mode == "end") {
          let date = new Date([year, month, "01"].join("-"));
          let maxDate = new Date(date.getFullYear(), date.getMonth() + 1, 0);
          day = String(maxDate.getDate());
          day = day.length < 2 ? "0".concat(day) : day;
        }
        let monthResp = String(month).length < 2 ? "0".concat(month) : month;
        resp = [year, monthResp, day].join("-");
      }
      return resp;
    },
    clearParam() {
      this.param = {};
      this.param.output = "";
    },
    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },
    setYearFrom() {
      if(this.param.month) {
        let currentDate = new Date();
        let currentYear = currentDate.getFullYear();
        if(this.param.year == "" || this.param.year == null || this.param.year == undefined) {
          this.param.year = currentYear;
        }
      }
    },
    glAccountItem: (item) => item.coaCode + " - " + item.coaName,
  },
};
</script>
