<template>
  <v-card flat>
    <isttoolbar title="Lapsed Invoice" dark color="secondary" icon="mdi-equalizer">
    </isttoolbar>

    <v-card class="px-3 py-0" tile>
      <!-- 1 -->
      <v-row class="ma-1 pa-0 pt-2">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Category</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Search Category"
                hide-details="auto"
                v-model="filter.businessCategory.searchValue"
                ref="businessCategory"
                name="businessCategory"
                :items="filter.businessCategory.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.businessCategory.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                no-data-text="Type the Category."
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Expired</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="dateFromMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{}">
                  <v-text-field
                    v-model="computedDateFromFormatted"
                    ref="dateFrom"
                    name="dateFrom"
                    label="Select Date"
                    persistent-hint
                    hide-details="auto"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                    clearable
                    @click="dateFromMenu = true"
                    @click:clear="filter.dateFrom.searchValue = ''"
                  >
                    <v-btn
                      slot="append"
                      @click="dateFromMenu = !dateFromMenu"
                      text
                      icon
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                  <!-- :min="new Date().toISOString()" -->
                <v-date-picker
                  v-model="filter.dateFrom.searchValue"
                  @input="dateFromMenu = false"
                  :max="filter.dateTo.searchValue"
                  no-title
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="1" align-self="center" align="center" class="ma-0 pa-0">
              <span class="title">To</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-menu
                v-model="dateToMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{}">
                  <v-text-field
                    v-model="computedDateToFormatted"
                    ref="dateTo"
                    name="dateTo"
                    label="Select Date"
                    persistent-hint
                    hide-details="auto"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                    clearable
                    @click="dateToMenu = true"
                    @click:clear="filter.dateTo.searchValue = ''"
                  >
                    <v-btn
                      slot="append"
                      @click="dateToMenu = !dateToMenu"
                      text
                      icon
                    >
                      <v-icon>mdi-calendar</v-icon>
                    </v-btn>
                  </v-text-field>
                </template>
                  <!-- :min="new Date().toISOString()" -->
                <v-date-picker
                  v-model="filter.dateTo.searchValue"
                  @input="dateToMenu = false"
                  :min="filter.dateFrom.searchValue"
                  no-title
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                label="Select Segment"
                hide-details="auto"
                v-model="filter.segment.searchValue"
                ref="segment"
                name="segment"
                :items="filter.segment.items"
                item-value="code"
                item-text="codeAndName"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- Action Search -->
      <v-card-actions class="py-0">
        <v-spacer> </v-spacer>
        <v-btn
          min-width="100px"
          class="mx-2"
          @click="listSearch"
          outlined
          dark
          color="primary"
          small
        >
          <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- table -->
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1 compact-row"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10] }"
      fixed-header
      hide-default-footer
      height="300"
      tile
    >
      <template v-slot:item="{ item }">
        <tr
          :class="selectedRows.indexOf(item) > -1 ? 'blue accent-1' : ''"
          @click="rowClicked(item)"
        >
          <td v-for="header in headers" :key="header.text">
            <span  v-if="header.value == 'expiredDate'">
              {{ formatDateSlash(item.expiredDate) }}
            </span>
            <v-menu
              v-else-if="header.value == 'actions'"
              bottom
              left
              :offset-x="true"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon x-small v-bind="attrs" v-on="on">
                  <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list dense>
                <v-list-item @click="editDialogBtn(item)">
                  <v-list-item-title>Edit</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <span v-else>{{ item[header.value] }}</span>
          </td>
        </tr>
      </template>
      <template v-slot:body.append v-if="items.length > 0">
        <tr>
          <v-card v-intersect="infiniteScrolling"></v-card>
        </tr>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>

    <v-form class="ma-0 pa-0">
      <!-- 1 -->
      <v-row class="ma-1 px-3 py-1 pt-3">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Brief Desc</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.briefDesc"
                ref="briefDesc"
                name="briefDesc"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Entry</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.entryBy"
                ref="entryBy"
                name="entryBy"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="1" align-self="start" class="ma-0 pa-0"></v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.entryDate"
                ref="entryDate"
                name="entryDate"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 px-3 py-1">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Reminder Desc</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.remindDesc"
                ref="remindDesc"
                name="remindDesc"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Modify</span>
            </v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.modifyBy"
                ref="modifyBy"
                name="modifyBy"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="1" align-self="start" class="ma-0 pa-0"></v-col>
            <v-col cols="4" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.modifyDate"
                ref="modifyDate"
                name="modifyDate"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 px-3 py-1 pb-3">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Segment</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-text-field
                label=""
                hide-details="auto"
                v-model="param.segment"
                ref="remindDesc"
                name="remindDesc"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider></v-divider>
      
      <!-- Output & Generate -->
      <v-row class="ma-1 px-3 py-1 pt-3">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="ma-0 pa-0">
              <span class="title">Output</span>
            </v-col>
            <v-col cols="9" align-self="start" class="ma-0 pa-0">
              <v-autocomplete
                v-model="param.output"
                label="Search Output"
                hide-details="auto"
                ref="output"
                name="output"
                :items="filter.output.items"
                item-value="value"
                item-text="text"
                :loading="filter.output.loading"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-spacer> </v-spacer>
            <v-btn
              min-width="100px"
              outlined
              dark
              color="primary"
              @click="doGenerate"
            >
              Process
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-form>

    <!-- dialog Edit -->
    <v-dialog
      v-model="editDialog.show"
      scrollable
      max-width="500"
    >
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          Lapsed Invoice
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="
                  editDialog.show = false;
                "
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-progress-linear
          v-show="editDialog.loading"
          indeterminate
          color="primary"
        ></v-progress-linear>
        <v-card-text class="px-7">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title">Remind</span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-autocomplete
                v-model="paramDialog.remind"
                flat
                outlined
                dense
                hide-details="auto"
                ref="remind"
                name="remind"
                solo
                :items="filter.remind.items"
                item-value="value"
                item-text="text"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title">Reminder Desc</span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                v-model="paramDialog.reminderDesc"
                flat
                outlined
                dense
                hide-details="auto"
                ref="reminderDesc"
                name="reminderDesc"
                solo
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer />  
          <v-btn
            rounded
            color="primary"
            min-width="100px"
            @click="doEdit"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- dialog submit -->
    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      maxWidth="350"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
import submitdialog from "@/components/dialog/submitDialog";

export default {
  components: {
    isttoolbar,
    submitdialog,
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    submitDialog: { show: false, mode: "", title: "", message: "" },
    headers: [
      {
        text: "Client",
        value: "clientCode",
        sortable: false,
        align: "start",
      },
      {
        text: "Class of Risk",
        value: "riskCode",
        sortable: false,
        align: "start",
      },
      {
        text: "Expiry",
        value: "expiredDate",
        sortable: false,
        align: "start",
      },
      {
        text: "End.",
        value: "end",
        sortable: false,
        align: "start",
      },
      {
        text: "U/Writer",
        value: "underwriterCode",
        sortable: false,
        align: "start",
      },
      {
        text: "Policy #",
        value: "policyNo",
        sortable: false,
        align: "start",
      },
      {
        text: "Stat.",
        value: "stat",
        sortable: false,
        align: "start",
      },
      {
        text: "Ref. #",
        value: "reffNo",
        sortable: false,
        align: "start",
      },
      {
        text: "Account Executive",
        value: "acctExec",
        sortable: false,
        align: "start",
      },
      {
        text: "Remind",
        value: "remind",
        sortable: false,
        align: "start",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: { itemsPerPage: 10 },
    isFullRecord: true,
    loading: false,
    expanded: false,
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      numberFrom: {
        value: "accountNoFrom",
        dataValue: "",
        searchValue: "",
        searchParam: "",
      },
      numberTo: {
        value: "accountNoTo",
        dataValue: "",
        searchValue: "",
        searchParam: "",
      },
      type: {
        value: "transType",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: ["INV", "FINV", "INVF", "CN", "CNF", "CSH", "REV"],
      },
      segment: {
        value: "segment",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
      },
      businessCategory: {
        value: "category",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_CATEGORY",
        },
        loading: true,
      },
      dateFrom: {
        value: "expiredFrom",
        searchValue: "",
        searchValueFormatted: "",
        searchParam: "greaterThanOrEqual",
        searchInput: "",
      },
      dateTo: {
        value: "expiredTo",
        searchValue: "",
        searchValueFormatted: "",
        searchParam: "lessThanOrEqual",
        searchInput: "",
      },
      remind: {
        items: [
          {value: "Yes", text: "Yes"},
          {value: "No", text: "No"},
        ],
      },
      output: {
        items: [
          // { value: "", text: "Preview" },
          // { value: "docx", text: "Generate DOCX" },
          // { value: "pdf", text: "Generate PDF" },
          { value: "xlsx", text: "Generate XLSX" },
        ],
      },
    },
    listParam: [],
    selectedRows: [],
    rules: {
      required: (value) => !!value || "Required.",
    },
    editDialog: { show: false, loading: false, data: {} },
    param: {
      briefDesc: "",
      entryBy: "",
      entryDate: "",
      remindDesc: "",
      modifyBy: "",
      modifyDate: "",
      segment: "",
      dateFrom: "",
      dateTo: "",
      output: "xlsx",
    },
    dateFromMenu: false,
    dateToMenu: false,
    loadingParam: true,
    paramDialog: {
      id: 0,
      remind: "",
      reminderDesc: "",
      index: "",
    },
    rowClickedIndex: "",
    processList: [],
    clientList: [],
  }),

  computed: {
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
    computedDateFromFormatted() {
      return this.formatDate(this.filter.dateFrom.searchValue)
    },
    computedDateToFormatted() {
      return this.formatDate(this.filter.dateTo.searchValue)
    },
  },

  watch: {
    options: {
      handler() {
        // this.refresh();
      },
      deep: true,
    },
    "editDialog.show": {
      handler() {
        if(!this.editDialog.show) {
          this.paramDialog = {
            id: 0,
            remind: "",
            reminderDesc: "",
            index: 0,
          };
        } 
      },
      deep: true,
    },
  },

  mounted() {
    this.getCustomer();
  },

  created() {
    // this.listSearch("init");
    this.initList(["businessCategory", "segment"]);
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    async getCustomer() {
      let submitUrl = "/clients/api/account/client?page=0";
      await API.get(submitUrl + "&size=1")
        .then((resp) => {
          if (resp.data.code == 0) {
             let totalList = parseInt(resp.headers["x-total-count"]);
              API.get(submitUrl + "&size=" + totalList)
              .then((resp) => {
                // console.log("CLIENT: ", resp.data.data)
                this.clientList = resp.data.data.map(function(row) {
                  return {
                    clientCode: row.code,
                    clientName: row.name,
                  };
                });
                console.log("CLIENT AFTER:", this.clientList)
              }).catch((error) => {
                console.log(error);
                this.submitDialog.mode = "error";
              });
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },

    refresh() {
      let vm = this;
      this.getList().then((data) => {
        if (this.options.page > 1) {
          if (data.items.length > 0) {
            data.items.forEach((item) => {
              let existItem = vm.items.filter(
                (val) =>
                  // val.accountType == item.accountType &&
                  // val.accountNo == item.accountNo &&
                  // val.term == item.term
                  val == item
              );
              if (existItem.length < 1) {
                vm.items.push(item);
              }
            });
          }
        } else {
          this.items = data.items;
        }
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };

        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.searchParam ? value.value + "." + value.searchParam : value.value]: value.searchValue,
              };
            })
          );
        }
        // param["sort"] = "acctType,asc,ignoreCase";
        this.listParam = param;
        let url =
          "broking/api/broking/lapsed-invoice/view-list";
        API.get(url, param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              this.isFullRecord =
                resp.data.data.length == this.options.itemsPerPage;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },

    listSearch() {
      this.options.page = 1;
      this.isFullRecord = true;
      this.refresh();
      this.selectedRows = [];
      this.rowClickedIndex = "";
      this.clearParam();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async itemClick(item) {
      this.param.briefDesc = item.briefDesc;
      this.param.remindDesc = item.remindDesc;
      this.param.segment = item.segment;
      this.param.entryBy = item.createdBy;
      this.param.entryDate = this.dateFormat(item.createdDate);
      this.param.modifyBy = item.modifyBy;
      this.param.modifyDate = this.dateFormat(item.modifyDate);
    },
    rowClicked(row) {
      this.selectedRows = [];
      this.selectedRows.push(row);
      
      let index = "";
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i] == row) {
          index = i;
        }
      }
      this.rowClickedIndex = String(index)
      this.itemClick(row);
    },
    infiniteScrolling() {
      console.log();
      // if (this.filter.customer.searchValue || this.filter.number.searchValue) {
      if (!this.loading && this.isFullRecord) {
        this.options.page = this.options.page + 1;
        this.refresh();
      }
      // }
    },
    formatDateSlash(date) {
      if(date) {
        let res = date.split("-");
        return [res[2], res[1], res[0]].join("/");
      }
    },
    dateFormat(data) {
      if(data) {
        //dd-MM-yyyy
        let tanggal =
          data.substring(8, 10) +
          "/" +
          data.substring(5, 7) +
          "/" +
          data.substring(0, 4) +
          " " +
          data.substring(11, 19)

        return tanggal;
      }
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    editDialogBtn(item) {
      this.editDialog.show = true;
      this.paramDialog.id = item.id;
      this.paramDialog.remind = item.remind;
      this.paramDialog.reminderDesc = item.remindDesc;
      
      let index = "";
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i] == item) {
          index = i;
        }
      }
      this.paramDialog.index = String(index)
    },
    async doEdit() {
      this.submitDialog.mode = "loading";
      this.submitDialog.title = null;
      this.submitDialog.show = true;

      let submitUrl = "/broking/api/broking/lapsed-invoice/update/";
      let paramJSON = {
        id: this.paramDialog.id,
        remind: this.paramDialog.remind,
        remindDesc: this.paramDialog.reminderDesc,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let updateItem = this.items[Number(this.paramDialog.index)];
            updateItem.remind = resp.data.remind;
            updateItem.remindDesc = resp.data.remindDesc;
            if(this.rowClickedIndex) {
              this.itemClick(this.items[Number(this.rowClickedIndex)]);
            }
            // this.submitDialog.mode = "success";
            this.submitDialog = { show: false, mode: "", title: "", message: "" };
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.editDialog.show = false;
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    clearParam() {
      this.param.briefDesc = "";
      this.param.remindDesc = "";
      this.param.segment = "";
      this.param.entryBy = "";
      this.param.entryDate = "";
      this.param.modifyBy = "";
      this.param.modifyDate = "";
    },
    async doProsses() {
      this.submitDialog.mode = "loading";
      this.submitDialog.title = null;
      this.submitDialog.show = true;

      let submitUrl = "/broking/api/broking/lapsed-invoice/";
      let param = {};

      var findHeaderValueNotEmpty = [];
      Object.keys(this.filter).forEach((key) => {
        if (
          String(this.filter[key].searchValue).length > 0 &&
          this.filter[key].searchValue != undefined
        ) {
          findHeaderValueNotEmpty.push(this.filter[key]);
        }
      });
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.searchParam ? value.value + "." + value.searchParam : value.value]: value.searchValue,
            };
          })
        );
      }
      // let param = JSON.stringify(paramJSON);
      await API.get(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let respData = resp.data.data;
            let dataLapseFilter = respData.filter((v) => v.remind == "Yes")
            this.processList = dataLapseFilter.map(function (row) {
              return {
                // id: row.id,
                acctExec: row.acctExec,
                briefDescription: row.briefDesc,
                clientCode: row.clientCode,
                // clientName: "",
                description: row.remindDesc,
                expiredDate: row.expiredDate,
                refNo: row.reffNo,
                riskCode: row.riskCode,
              };
            });
            // console.log("processList: ", JSON.stringify(this.processList))
            let clients = JSON.parse(JSON.stringify(this.clientList))
            this.processList.forEach((f) => {
              let clientFilter = clients.filter((c) => c.clientCode == f.clientCode);
              Object.assign(f, {clientName: clientFilter[0].clientName});
              // console.log("F", f);
            })
            // console.log("processList: ", JSON.stringify(this.processList))

            this.doGenerate()
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });

    },
    async doGenerate() {
      let submitUrl = "/broking/api/broking/lapsed-invoice/generate?";
      let param = {};

      var findHeaderValueNotEmpty = [];
      Object.keys(this.filter).forEach((key) => {
        if (
          String(this.filter[key].searchValue).length > 0 &&
          this.filter[key].searchValue != undefined
        ) {
          findHeaderValueNotEmpty.push(this.filter[key]);
        }
      });
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.searchParam ? value.value + "." + value.searchParam : value.value]: value.searchValue,
            };
          })
        );
      }

      let searchParams = new URLSearchParams(param).toString()

      // console.log("param", param)
      // console.log("URI", new URLSearchParams(param).toString())

      await API.post(submitUrl + searchParams)
        .then((resp) => {
          // console.log("RESP GENERATE: ", resp.data.data)
          this.submitDialog.show = false;
          if (resp.data.code == 0) {
            this.saveFile(resp.data.data, this.param.output);
          } else {
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
            this.submitDialog.mode = "error";
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Lapsed Invoice" + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
  },
};
</script>

<style scoped>
::v-deep
  .v-data-table.compact-row
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td {
  height: 30px;
}
::v-deep .compact-field {
  /* transform: scale(0.8);
  transform-origin: left center 0px; */
}
::v-deep .compact-toolbar {
  height: auto;
}
::v-deep .compact-toolbar .v-toolbar__content {
  height: auto !important;
}
::v-deep .v-chip-group .v-slide-group__content {
  padding: inherit;
}
</style>