<template>
  <v-card flat>
    <isttoolbar
      title="Agent / Broker"
      dark
      color="secondary"
      icon="mdi-folder-account-outline"
    >
      <v-spacer />
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="New Agent / Broker"
      class="mb-2"
      dark
      color="primary"
    ></isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Code
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Code"
            ref="code"
            v-model="param.code"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
            @keydown="codeKeydown($event)"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Name
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Name"
            ref="name"
            v-model="param.name"
            solo
            flat
            outlined
            dense
            class="ma-0"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Address
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-textarea
            hide-details="auto"
            v-model="param.address"
            solo
            flat
            outlined
            dense
            ref="address"
            name="input-7-4"
            label="Address"
            :rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Village
          </span>
        </v-col>
        <v-col cols="3" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.village"
            label="Village"
            ref="village"
            :search-input.sync="search.village.input"
            @keyup="addressSearch(search.village)"
            :items="search.village.items"
            item-value="id"
            item-text="name"
            :loading="search.village.loading"
            v-on:change="addressChange(search.village)"
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  District {{ item.district.name }} -
                  {{ item.district.regency.name }} Regency -
                  {{ item.district.regency.province.name }}
                </p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
        <v-col cols="1" class="pa-1" style="text-align: center;">
          <span class="title">
            Zip Code
          </span>
        </v-col>
        <v-col cols="1" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Zip"
            ref="zip"
            v-model="param.zip"
            solo
            flat
            outlined
            dense
            class="ma-0"
            v-on:keyup="postalCodeChange()"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            District
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.district"
            label="District"
            ref="district"
            :search-input.sync="search.district.input"
            @keyup="addressSearch(search.district)"
            :items="search.district.items"
            item-value="id"
            item-text="name"
            :loading="search.district.loading"
            v-on:change="addressChange(search.district)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  {{ item.regency.name }} Regency -
                  {{ item.regency.province.name }}
                </p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            City/Regency
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.city"
            label="City"
            ref="city"
            :search-input.sync="search.city.input"
            @keyup="addressSearch(search.city)"
            :items="search.city.items"
            item-value="id"
            item-text="name"
            :loading="search.city.loading"
            v-on:change="addressChange(search.city)"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">{{ item.province.name }}</p>
              </v-list-item-content>
            </template>
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Province
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-combobox
            v-model="param.province"
            label="Province"
            ref="province"
            :search-input.sync="search.province.input"
            @keyup="addressSearch(search.province)"
            :items="search.province.items"
            item-value="id"
            item-text="name"
            :loading="search.province.loading"
            cache-items
            hide-no-data
            hide-details="auto"
            solo
            flat
            outlined
            dense
            single-line
            class="ma-0"
            append-icon=""
          ></v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Phone No 1
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Phone No 1"
            ref="telephoneNo"
            v-model="param.telephoneNo"
            solo
            flat
            outlined
            dense
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Phone No 2
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Phone No 2"
            ref="telephoneSecondNo"
            v-model="param.telephoneSecondNo"
            solo
            flat
            outlined
            dense
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Agent Agreement
          </span>
        </v-col>
        <v-col cols="5" align-self="start" class="pa-1">
          <v-radio-group
            v-model="param.agentAgreement"
            row
            class="ma-0 pa-0"
            hide-details="auto"
          >
            <v-radio
              label="Disclosure"
              value="disclosure"
            ></v-radio>
            <v-radio
              label="Non-disclosure"
              value="nondisclosure"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? goSuccess() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  data: () => ({
    param: {
      id: 0,
      code: "",
      name: "",
      address: "",
      province: "",
      city: "",
      district: "",
      village: "",
      zip: "",
      telephoneExt: "",
      telephoneNo: "",
      telephoneSecondExt: "",
      telephoneSecondNo: "",
      agentAgreement: "disclosure",
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url:
          "/config/api/master-location/village?isActive.equals=1&name.equals=",
        loading: false,
        request: null,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url:
          "/config/api/master-location/district?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url:
          "/config/api/master-location/regency?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url:
          "/config/api/master-location/provinces?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
    },
  }),
  computed: {
    form() {
      return {
        code: this.param.code,
        name: this.param.name,
        // address: this.param.address,
        // province: this.param.province,
        // city: this.param.city,
        // district: this.param.district,
        // village: this.param.village,
        // zip: this.param.zip
      };
    },
  },
  created() {},
  watch: {
    "param.code": function (val) {
      this.param.code = val.toUpperCase().replace(/\W/g, '');
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    addressChange(search) {
      if (typeof this.param[search.name] == "object" && this.param[search.name]) {
        search.loading = false;
        if (search.name == "village") {
          this.param.zip = this.param.village.postalCode;
          this.param.district = this.param.village.district.name;
          this.param.city = this.param.village.district.regency.name;
          this.param.province = this.param.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.param.city = this.param.district.regency.name;
          this.param.province = this.param.district.regency.province.name;
        } else if (search.name == "city") {
          this.param.province = this.param.city.province.name;
        }
      }
    },

    postalCodeChange() {
      if (this.timerSearchPostalCode) {
        clearTimeout(this.timerSearchPostalCode)
        this.timerSearchPostalCode = null
      }
      if (this.param.zip != "" && this.param.zip.length >= 5) {
        this.timerSearchPostalCode = setTimeout(() => {
          // this.search.village.items = []
          this.search.village.loading = true
          API.get("/config/api/master-location/village?postalCode.equals=" + this.param.zip, null)
            .then((resp) => {
              this.search.village.loading = false;
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.search.village.items = resp.data.data;
              } else {
                this.search.village.items = [];
              }
              this.$refs.village.focus()
              this.$refs.village.activateMenu()
              this.search.village.loading = false;
            }).catch((e) => {
              console.log("error", e);
              this.search.village.loading = false;
            });
        }, 800);
      }
    },
    back() {
      this.$router.replace({
        name: "agent-broker-list",
      });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
      this.dialog.success = false;
      this.dialog.error = false;
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
      }
    },
    async doAdd() {
      let paramJSON = {
        accountAgent: {
          id: parseInt(this.param.id),
          code: this.param.code,
          name: this.param.name,
          address: this.param.address,
          zipcode: this.param.zip,
          telephoneExt: this.param.telephoneNo,
          telephoneNo: this.param.telephoneNo,
          telephoneSecondExt: this.param.telephoneSecondNo,
          telephoneSecondNo: this.param.telephoneSecondNo,
          village:
            typeof this.param.village == "object" && this.param.village
              ? this.param.village.name
              : this.param.village,
          district:
            typeof this.param.district == "object" && this.param.district
              ? this.param.district.name
              : this.param.district,
          city:
            typeof this.param.city == "object" && this.param.city
              ? this.param.city.name
              : this.param.city,
          province:
            typeof this.param.province == "object" && this.param.province
              ? this.param.province.name
              : this.param.province,
          flagDisclosure: this.param.agentAgreement == "disclosure" ? true : false,
        },
      };
      let param = JSON.stringify(paramJSON);
      let resp = await API.post("/clients/api/account/agent/add", param);
      if (resp.data.code == 0) {
        // this.dialog.success = true;
        this.dialog = { show: false, success: false, error: false, errorMessage: "" };
        this.setSnackbar({ 
          top: true, 
          notOutlined: true,
          textTitle: true,
          icon: "mdi-check-circle"
        });
        this.param.id = resp.data.data.id;
        this.goSuccess();
      } else {
        this.dialog.error = true;
        this.dialog.errorMessage =
          resp.data.errorMessage.length > 0
            ? resp.data.errorMessage.toUpperCase()
            : resp.data.errordescription.toUpperCase();
      }
    },
    addressSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(search.name, "items", this.search[search.name].items);
      }).catch((e) => {
        console.log("error", e);
        search.loading = false;
      });
    },
    goSuccess() {
      this.dialog = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
      window.scrollTo(0,0);
      this.$router.replace({
        name: "agent-broker-edit",
        query: { id: this.param.id, mode: "d" },
      });

    },
    codeKeydown(e) {
      if (/^\W|_$/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>