<template>
  <v-card flat>
    <isttoolbar
      title="Agent/Broker"
      dark
      color="secondary"
      icon="mdi-folder-account-outline"
    >
      <v-spacer></v-spacer>
      <v-btn outlined @click="goToAdd" v-show="checkAuthorities('agent-broker-add')">
        <v-icon left>mdi-plus</v-icon>Add Agent/Broker
      </v-btn>
    </isttoolbar>
    <isttoolbar
      title="List Of Agent/Broker"
      flat
      dark
      color="primary"
    ></isttoolbar>

    <!-- <v-alert v-model="alert" type="success" dismissible>Success to delete item</v-alert>
    <v-alert v-model="errAlert" type="success" dismissible>Failed to delete item</v-alert>-->

    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-header
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <v-text-field
                v-if="header.filterType == 'input'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:keyup="onkeyupSearch"
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="sortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value == options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value == options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value != options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-text-field>
              <v-autocomplete
                v-else-if="header.filterType == 'select'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :items="statusItems"
                item-value="value"
                item-text="text"
                clearable
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="sortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value == options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value == options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value != options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-autocomplete>
              <span v-else>{{ header.text }}</span>
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:item.isActive="{ item }">
        <span v-if="item.isActive == 1" class="success--text">Active</span>
        <span v-else class="red--text">Inactive</span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editItem(item, 'e')" v-show="checkAuthorities('agent-broker-edit')">
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <!-- <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
          <v-btn color="red darken-1" text @click="deleteItem(toDelete); dialog = false">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>-->
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar
  },
  data: () => ({
    // toDelete: {},
    // alert: false,
    // errAlert: false,
    // dialog: false,
    // dialogRate: false,
    headers: [
      {
        text: "Agent Code",
        align: "start",
        searchable: true,
        value: "code",
        searchValue: "",
        filterType: "input"
      },
      {
        text: "Agent Name",
        value: "name",
        searchValue: "",
        searchable: true,
        filterType: "input"
      },
      {
        text: "Record Status",
        value: "isActive",
        searchable: true,
        searchValue: "",
        filterType: "select"
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false
      }
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    statusItems: [
      { value: 1, text: "Active" },
      { value: 0, text: "Inactive" }
    ]
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true
    }
  },

  mounted() {
    // this.refresh();
  },

  created() {
    if(this.$route.query.back == true) this.backFromAction();
  },

  methods: {
    goToAdd() {
      this.$router.replace({ name: "agent-broker-add" });
    },
    refresh() {
      this.getList().then(data => {
        this.items = data.items;
        this.totalItems = data.total;
        console.log("data");
        console.log(data);
      });
    },
    getList() {
      this.loading = true;
      return new Promise(resolve => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase"
          ].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          value => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map(value => {
              return {
                [value.value +
                (value.filterType == "select"
                  ? ".equals"
                  : ".contains")]: value.searchValue
              };
            })
          );
        }
        API.get("/clients/api/account/agent/view-list", param)
          .then(resp => {
            if (resp.data.code == 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data
                // total: 1,
                // items: [{ id: 7, name: "Agen Palsu" }]
              });
            }
            this.loading = false;
          })
          .catch(error => {
            console.log(error);
            this.loading = false;
          });
      });
    },

    editItem(item, mode) {
      this.$router.push({
        name: "agent-broker-edit",
        query: { id: item.id, mode: mode }
      });

      this.storeTable();
    },
    // viewItem(item) {
    //   this.$router.push({
    //     name: "agent-broker-view",
    //     params: { item: item },
    //     query: { id: item.id }
    //   });
    // },
    // deleteItem(item) {
    //   if (item.id != null) {
    //     API.post("/api/master-location/regency/delete/" + item.id).then(
    //       resp => {
    //         if (resp.data.code == 0) {
    //           this.alert = true;
    //           setTimeout(() => {
    //             this.alert = false;
    //           }, 2000);
    //         } else {
    //           this.errAlert = true;
    //           setTimeout(() => {
    //             this.errAlert = false;
    //           }, 2000);
    //         }
    //       }
    //     );
    //   }
    // },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.agentDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        agentDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  }
};
</script>