<template>
  <v-card flat>
    <v-tabs v-model="tab" fixed-tabs light>
        <v-tab @click="clickTab('class')">Class</v-tab>
        <v-tab @click="clickTab('insurance')">Insurance</v-tab>
        <v-tab @click="clickTab('installment')">Installment</v-tab>
        <v-tab @click="clickTab('agent')">Agent</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
        <v-tab-item>
          <classTab />
        </v-tab-item>
        <v-tab-item>
          <insuranceTabFee />
        </v-tab-item>
        <v-tab-item>
          <installmentTab />
        </v-tab-item>
        <v-tab-item>
          <agentTab />
        </v-tab-item>
    </v-tabs-items>

    <v-card>
        <v-form class="mx-5">
          <v-row>
            <v-col cols="6">

              <v-row align="center" class="ml-2 mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Entry By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="entry"
                    v-model="invoice.createdBy"
                    class="ma-0"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="entryDate"
                    v-model="invoice.createdDate"
                    class="ma-0"
                    flat
                    outlined
                    dense
                    solo
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row align="center" class="ml-2 mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Approved By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="approved"
                    v-model="invoice.approvedBy"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="approvedDate"
                    v-model="invoice.approvedDate"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

            </v-col>

            <v-col cols="6">

              <v-row align="center" class="mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Close By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="close"
                    v-model="invoice.closedBy"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="closeDate"
                    v-model="invoice.closedDate"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row align="center" class="mr-2">
                <v-col cols="3" class="pa-1">
                  <span class="title">Modified By</span>
                </v-col>
                <v-col cols="5" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="modified"
                    v-model="invoice.modifiedBy"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="4" align-self="start" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    ref="modifiedDate"
                    v-model="invoice.modifiedDate"
                    solo
                    flat
                    dense
                    outlined
                    class="ma-0"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

            </v-col>
          </v-row>
        </v-form>
    </v-card>
  </v-card>
</template>

<script>
import * as types from '@/store/modules/invoice/type';
import classTab from "./classTab/class_view";
import insuranceTabFee from "./insuranceTab_open/insurance_view";
import installmentTab from "./installmentTab_open/installment_view.vue";
import agentTab from "./agentTab/agent_view";
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    classTab,
    insuranceTabFee,
    installmentTab,
    agentTab,
  },
  props: ['dataBroking'],
  data: () => ({
    tab: 0,
    footer: {
      entry: "",
      entryDate: {
        date: "",
        menu: false
      },
      approved: "",
      approvedDate: {
        date: "",
        menu: false
      },
      close: "",
      closeDate: {
        date: "",
        menu: false
      },
      modified: "",
      modifiedDate: {
        date: "",
        menu: false
      }
    }
  }),
  mounted() {
    if (this.$route.params.tabs) {
      this.tab = parseInt(this.$route.params.tabs);
    }
  },
  computed: {
    ...mapState(['invoice']),
  },
  methods: {
    ...mapActions({
      setTabInvoice: types.ACTION_TAB_INVOICE,
    }),
    clickTab(value) {
      // console.debug(value, '=======', 'tab' )
      this.setTabInvoice(value)
    }
  }
}
</script>

<style>

</style>