<template>
  <v-dialog v-model="model" persistent max-width="900" scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        outlined
        icon
        color="primary"
        v-bind="attrs"
        v-on="on"
        @click="open"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline blue--text text--darken-4">
        Choose {{ title }} <v-spacer></v-spacer>
        <v-btn text depressed color="primary" @click="model = false">
          <v-icon large>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          hide-default-footer
          :loading="loading"
          class="elevation-1"
          :options.sync="options"
          hide-default-header
          height="300"
          fixed-header
        >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th
                  v-for="header in headers"
                  :key="header.text"
                  class="xsmall-label"
                >
                  <v-autocomplete
                    v-if="header.value == 'accountType'"
                    :label="header.text"
                    hide-details="auto"
                    v-model="header.searchValue"
                    :items="type.split(',')"
                    clearable
                    v-on:change="onkeyupSearch"
                  >
                  </v-autocomplete>
                  <v-text-field
                    v-else
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    :disabled="header.value != 'accountNo'"
                    v-on:keyup="onkeyupSearch"
                  >
                  </v-text-field>
                </th>
              </tr>
            </thead>
          </template>
          <template v-slot:item.amount="{ item }">
            <div>{{ currencyFormat(item.amount) }}</div>
          </template>
          <template v-slot:item.amoutPaid="{ item }">
            <div>{{ currencyFormat(item.amoutPaid) }}</div>
          </template>
          <template v-slot:item.balance="{ item }">
            <div>{{ currencyFormat(item.balance) }}</div>
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn
              depressed
              small
              text
              color="primary"
              @click="add(item)"
              :disabled="item.status == 1"
              style="display: block; margin-left: auto; margin-right: auto"
            >
              <!-- ['CN', 'INV'].indexOf(item.accountType) != -1 && -->
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <span
              v-show="item.status == 1"
              class="error--text"
              style="display: block; text-align: center"
              >In use
              <!-- ['CN', 'INV'].indexOf(item.accountType) != -1 && -->
            </span>
          </template>
        </v-data-table>

        <br />
        <span class="title blue--text text--darken-4"> {{ title }} Added </span>
        <v-data-table
          :headers="headers"
          :items="toAddItems"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:item.amount="{ item }">
            <div>{{ currencyFormat(item.amount) }}</div>
          </template>
          <template v-slot:item.amoutPaid="{ item }">
            <div>{{ currencyFormat(item.amoutPaid) }}</div>
          </template>
          <template v-slot:item.balance="{ item }">
            <div>{{ currencyFormat(item.balance) }}</div>
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn depressed small text color="primary" @click="remove(item)">
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="success"
          outlined
          min-width="100"
          depressed
          @click="submit"
        >
          Choose
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import API from "@/core/api/api.js";

export default {
  props: ["headers", "customer", "type", "title", "existItems", "url"],
  data: () => ({
    items: [],
    toAddItems: [],
    loading: false,
    model: false,
    options: {
      itemsPerPage: -1,
      page: 1,
    },
  }),
  methods: {
    refresh() {
      if (this.customer != "") {
        this.getList().then((data) => {
          let items = data.items.filter((value) => value.balance != 0);
          this.items = items;
        });
      }
    },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        ) {
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        }

        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        // addition param
        param["clientCode.equals"] = this.customer;
        // if (param["transType.equals"] == undefined) {
        //   param["transType.in"] = this.type;
        // }
        param["transType.equals"] = "CCSH"
        let url = "finance/api/financeclaims/creditor/invaccount/getclaimscreditoraccount";
        if (this.url != undefined && this.url != null && this.url != "") {
          url = this.url;
        }
        API.get(url, param)
          .then((resp) => {
            if (resp.data.code == 0) {
              resolve({
                // total: parseInt(resp.headers["x-total-count"]),
                items: resp.data.listTransaction,
              });
            } else {
              resolve({
                // total: parseInt(resp.headers["x-total-count"]),
                items: [],
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },
    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    remove(item) {
      for (let i = 0; i < this.toAddItems.length; i++) {
        if (
          this.toAddItems[i].accountNo == item.accountNo &&
          this.toAddItems[i].term == item.term
        ) {
          this.toAddItems.splice(i, 1);
        }
      }
    },
    add(item) {
      let existItem = this.toAddItems.filter(
        (value) => value.accountNo == item.accountNo && value.term == item.term
      );
      if (existItem < 1) {
        this.toAddItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    submit() {
      this.$emit("submit", this.toAddItems);
      this.model = false;
    },
    open() {
      this.refresh();
      this.toAddItems = JSON.parse(JSON.stringify(this.existItems));
    },
  },
};
</script>