<template>
  <v-dialog v-model="show" persistent max-width="400">
    <v-card>
      <v-card-title class="headline justify-center text-center" style="word-break: inherit">
        {{ message ? message : "Are you sure want to doing this action?" }}
      </v-card-title>
      <v-card-text> </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          outlined
          color="primary"
          class="mx-1"
          min-width="100px"
          @click="onYes"
        >
          Yes
        </v-btn>
        <v-btn
          outlined
          color="error"
          class="mx-1"
          min-width="100px"
          @click="onNo"
        >
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["show", "message"],
  data: () => ({}),
  methods: {
    onYes() {
      this.$emit("yes");
    },
    onNo() {
      this.$emit("no");
    },
  },
};
</script>