<template>
  <v-dialog v-model="model" persistent max-width="1000" scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        outlined
        class="mx-1"
        min-width="100px"
        v-bind="attrs"
        v-on="on"
        @click="openJournalDialog"
        v-show="hideButton != true && authView()"
      >
        {{ title ? title : "View Journal" }}
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline blue--text text--darken-4">
        Journal List
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              depressed
              color="primary"
              v-show="
                editable &&
                editableByJournalStatus &&
                !editJournal &&
                !journalLoading &&
                !loading &&
                authEdit()
              "
              @click="
                editJournal = true;
                checkAvailCoaItem();
              "
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-pen</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              depressed
              color="primary"
              @click="onClose()"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          :loading="loading"
          :options.sync="transOptions"
          fixed-header
          hide-default-footer
          class="elevation-1"
          height="400"
          sort-by.sync="['jnlrefno', 'no']"
          sort-desc.sync="false"
        >
          <template v-slot:[`item.coa`]="{ item }">
            <v-autocomplete
              v-if="disableCoa(item)"
              v-model="item.coaId"
              single-line
              :loading="search.coa.loading || item.coaLoading"
              :items="item.coaItems"
              item-value="id"
              :item-text="
                coaCurrency == null ? coaTextWithCurrItem : coaTextItem
              "
              v-on:change="coaChange(item)"
              @keyup="coaSearch(item)"
              :search-input.sync="item.inputCoa"
              dense
              outlined
              hide-details="auto"
              background-color="white"
              style="min-width: 150px"
            ></v-autocomplete>
              
            <!-- v-if="
                editJournal && item.editable && item.coa != bankReceivedCode
              " -->
            <span v-else>{{ item.coa }}</span>
          </template>
          <template v-slot:[`item.amount`]="{ item }">
            <div class="ma-0 pa-0 text-right">
              <v-text-field
                v-if="editJournal && item.editable"
                v-model="item.amount"
                single-line
                label="Amount"
                dense
                outlined
                hide-details="auto"
                background-color="white"
                v-money="money"
                @input="countEqAmount(item)"
                style="min-width: 150px"
              ></v-text-field>
              <span v-else>{{ item.amount }}</span>
            </div>  
          </template>
          <template v-slot:[`item.rate`]="{ item }">
            <div class="ma-0 pa-0 text-right">
              <v-progress-circular
                v-if="item.loadRate"
                indeterminate
                color="primary"
              ></v-progress-circular>
              <span v-else>{{ currencyFormat(item.rate) }}</span>
            </div>  
          </template>
          <template v-slot:[`item.eqAmount`]="{ item }">
            <div class="ma-0 pa-0 text-right">  
              <span>{{ currencyFormat(item.eqAmount) }}</span>
            </div>
          </template>
          <template v-slot:[`item.action`]="{ item }">
            <v-btn
              v-if="editJournal && deletable && item.no > 1"
              outlined
              icon
              color="primary"
              @click="removeJournal(item)"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
            <v-btn
              v-else-if="showMinus(item)"
              outlined
              icon
              color="primary"
              @click="removeJournal(item)"
            >
              <!-- v-show="editJournal && item.editable" -->
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </template>
          <template v-slot:[`body.append`]>
            <tr>
              <td v-for="header in headers" :key="header.text">
                <div v-if="header.value == 'rate'" class="ma-0 pa-0 text-center">  
                  <span class="title">Total</span>
                </div>
                <div v-else-if="header.value == 'eqAmount'" class="ma-0 pa-0 text-right">
                  <span class="title">
                    {{ getTotal("eqAmount") }}</span
                  >
                </div>
                <div v-else-if="editJournal && header.value == 'action'" class="ma-0 pa-0 text-center">
                  <v-btn
                    outlined
                    icon
                    color="primary"
                    @click="addJournal"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </div>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <div v-if="editJournal">
          <v-btn
            color="primary"
            rounded
            min-width="100"
            depressed
            @click="saveJournal"
            :disabled="saveJournalDisabled"
          >
            Save
          </v-btn>
          <v-btn
            class="ml-2"
            color="primary"
            rounded
            min-width="100"
            depressed
            @click="resetJournal"
          >
            Cancel
          </v-btn>
        </div>
        <v-btn
          v-else
          color="primary"
          rounded
          min-width="100"
          depressed
          @click="onClose()"
        >
          Back
        </v-btn>
      </v-card-actions>
    </v-card>
    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-dialog>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";

export default {
  props: [
    // contoh penggunaan komponen ini di view refund, banyak kondisi baru jadi bingung
    "api", // url buat get list journal
    "refNo", // id record
    "editable", // editable
    "coaCurrency", // filter currency COA
    "submitApi", // url buat submit perubahan
    "paramIdSubmitName", // param id key yang dikirim
    "getListParamName", // key response list
    "transType", // transaction type dari record terkait
    "bankReceivedCode", // bank code yang ga bisa diedit
    "hideFirstSeqMinus", // seq no 1 hilangin tanda minus
    "disableCoaFirstSeq", // seq no 1 disbale coa
    "title", // title journal
    "firstGlBankBehaviour", // GL seq 1 filter by type dan currency
    "show", // parameter buat show hide dialog
    "hideButton", // parameter buat show hide button
    "viewAuth",
    "editAuth",
    "deletable", // parameter agar dapat dihapus (Seq No > 1)
  ],
  components: { submitdialog },
  directives: { money: VMoney },
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    items: [],
    oriJournals: [],
    loading: false,
    model: false,
    editJournal: false,
    journalLoading: false,
    saveJournalDisabled: false,
    submitDialog: { show: false, mode: "", message: "" },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    headers: [
      {
        text: "Journal No",
        align: "start",
        sortable: false,
        value: "jnlrefno",
        add: "",
        rules: [],
      },
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "GL Acct",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Description",
        sortable: false,
        value: "description",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      { text: "Amount", sortable: false, value: "amount", add: "", align: "center", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        align: "center",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        align: "center",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    search: {
      coa: {
        items: [],
        params: {
          "isActive.equals": 1,
          "coaName.contains": "",
          "size": 10000,
        },
        url: "/config/api/master-akuncoa/",
        loading: true,
        request: null,
        itemSearch: true,
        uniqueKey: "coaCode",
      },
    },
    editableByJournalStatus: true,
    options: {
      itemsPerPage: -1,
      page: 1,
    },
  }),

  created() {
    if (this.coaCurrency == null) {
      // this.initList(["coa"]);
    }
  },

  watch: {
    coaCurrency: {
      handler: function () {
        this.initList(["coa"]);
      },
      deep: true,
    },
    show: {
      handler: function () {
        this.model = this.show;
        if (this.show) {
          this.openJournalDialog();
        }
      },
      deep: true,
    },
  },

  methods: {
    initList(list) {
      return new Promise((resolve) => {
        for (let l of list) {
          let param = JSON.parse(JSON.stringify(this.search[l].params));
          if (l == "coa" && this.coaCurrency) {
            param["currency.equals"] = this.coaCurrency;
          }
          API.get(this.search[l].url, param)
            .then((resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.search[l].items = resp.data.data;
              } else {
                this.search[l].items = [];
              }
              resolve(this.search[l].loading = false)
              this.$emit("initCoa");
            })
            .catch((error) => {
              console.log(error);
              resolve(this.search[l].loading = false)
              this.$emit("initCoa");
            });
        }
      })
      
    },
    async getJournals() {
      this.loading = true;
      let id = this.refNo;
      // let vm = this;
      let resp = await API.get(this.api + id);
      let dataResp = resp.data;
      if (resp.data.code == 0) {
        this.setJournals(dataResp[this.getListParamName]);
      } else {
        this.oriJournals = [];
      }
      this.resetJournal();
      this.loading = false;
    },
    setJournals(list) {
      let vm = this;
      this.oriJournals = list
        ? list.map(function (row, i) {
            let seqNo = i + 1;
            let amount = vm.currencyFormat(row.amount);
            return {
              seqNo: seqNo,
              coa: row.coaCode,
              currency: row.currency,
              amount: amount,
              rate: row.exchgrate,
              eqAmount: row.amountEq,
              // baru
              jnlrefno: row.jnlrefno,
              no: row.tie,
              entrydate: row.entrydate,
              coaName: row.coaName,
              trancode: row.trancode,
              tranRefId: row.tranRefId,
              description: row.description,
              editable: row.editable,
            };
          })
        : [];
      if (list.length > 0 && list[0].status == 100) {
        this.editableByJournalStatus = false;
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      if (splitted[0] == "-0" && splitted[1] == "00") {
        splitted[0] = "0";
      }
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async openJournalDialog() {
      this.loading = true;
      this.items = [];
      this.editJournal = false;
      if(this.editable) {
        await this.initList(["coa"]).then(() => {
          this.getJournals();
        });
      } else {
        this.getJournals();
      }
      
      
    },
    resetJournal() {
      let vm = this;
      this.items = JSON.parse(JSON.stringify(this.oriJournals));
      this.items = this.items.map(function (row) {
        row["coaItems"] = vm.search.coa.items;
        if (
          row.no == 1 &&
          vm.firstGlBankBehaviour != null &&
          vm.firstGlBankBehaviour.same == true &&
          vm.firstGlBankBehaviour.currency != null &&
          vm.firstGlBankBehaviour.currency != ""
        ) {
          row.coaItems = vm.search.coa.items.filter(
            (value) =>
              // (value.coaType == "1 - Bank" || value.coaType == "2 - Dbr") &&
              value.currency == vm.firstGlBankBehaviour.currency
          );
        }
        let coaItems = vm.search.coa.items.filter(
          (value) => value.coaCode == row.coa && value.currency == row.currency
        );
        row["coaId"] = "";
        if (coaItems.length > 0) {
          row["coaId"] = coaItems[0].id;
        }
        return row;
      });
      this.editJournal = false;
      this.saveJournalDisabled = false;
    },
    async saveJournal() {
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let vm = this;

      let paramJSON = {
        [this.paramIdSubmitName]: this.refNo,
        listJournalEntry: this.items.map(function (row) {
          let coaItem = row.coaItems.filter(
            (value) =>
              value.coaCode == row.coa && value.currency == row.currency
          );
          return {
            jnlrefno: row.jnlrefno,
            tie: row.no,
            entrydate: row.entrydate,
            coaCode: row.coa,
            coaName: row.coaName == null ? coaItem.coaName : row.coaName,
            currency: row.currency,
            exchgrate: row.rate,
            amount: vm.currencyToFloat(row.amount),
            amountEq: row.eqAmount,
            trancode: row.trancode,
            tranRefId: row.tranRefId,
            description:
              row.description == null ? coaItem.description : row.description,
          };
        }),
      };

      let param = JSON.stringify(paramJSON);
      await API.post(this.submitApi, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.submitDialog.mode = "success";
            // this.setJournals(resp.data.listJournalEntry);
            this.resetJournal();
            this.openJournalDialog();
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          // this.oriJournals = this.items;
        });
    },
    coaSearch(item) {
      if (item.request) item.request.cancel();
      const axiosSource = axios.CancelToken.source();
      item.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(item, axiosSource), 500);
    },
    async sends(item, axiosSource) {
      let vm = this;
      item.coaLoading = true;
      let param = { "isActive.equals": 1, codeOrName: item.inputCoa };
      API.get(
        "/config/api/master-akuncoa/list-by-codeOrName",
        param,
        null,
        axiosSource.token
      ).then((resp) => {
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          item.coaItems = resp.data.data;
          item.coaItems = item.coaItems.filter((value) => value.isActive == 1);
          if (this.coaCurrency != null && this.coaCurrency != "") {
            item.coaItems = item.coaItems.filter(
              (value) => value.currency == this.coaCurrency
            );
          }
          if (
            item.no == 1 &&
            this.firstGlBankBehaviour != null &&
            this.firstGlBankBehaviour.same == true &&
            this.firstGlBankBehaviour.currency != null &&
            this.firstGlBankBehaviour.currency != ""
          ) {
            item.coaItems = item.coaItems.filter(
              (value) =>
                // Request lepas filter 20221020
                // (value.coaType == "1 - Bank" || value.coaType == "2 - Debtor" || value.coaType == "3 - Creditor") &&
                value.currency == vm.firstGlBankBehaviour.currency
            );
          }
        } else {
          item.coaItems = [];
        }
        item.coaLoading = false;
      });
      item.request = null;
    },
    async coaChange(val) {
      let coaItem = val.coaItems.filter((value) => value.id == val.coaId);
      val.coa = coaItem[0].coaCode;
      val.currency = coaItem[0].currency;
      val.description = coaItem[0].description;

      val["loadRate"] = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: val.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      val.rate = "";
      val.rate = currentRate;
      val.loadRate = false;

      this.countEqAmount(val);
    },
    countEqAmount(item) {
      let amount = this.currencyToFloat(item.amount);
      let rate = item.rate;
      item.eqAmount = amount * rate;

      this.validateJournal();
    },
    validateJournal() {
      // panggil ketika memodif journal
      let valid = true;
      let vm = this;
      let notValidJournal = this.items.filter(
        (value) => value.coa == "" || vm.currencyToFloat(value.amount) == 0
      );
      if (notValidJournal.length > 0) {
        valid = false;
      } else if (this.currencyToFloat(this.getTotal("eqAmount")) != 0) {
        valid = false;
      }

      this.saveJournalDisabled = !valid;
    },
    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.items.splice(index, 1);
      }
      this.validateJournal();
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + key[data];
      }
      return this.currencyFormat(total);
    },
    addJournal() {
      let lastJournal = this.items[this.items.length - 1];
      if (lastJournal == undefined) {
        lastJournal = {};
        for (let header of this.headers) {
          header.rules = [];
          lastJournal[header.value] = "";
        }
        lastJournal.no = 0;
      }
      let journal = {
        jnlrefno: lastJournal.jnlrefno,
        entrydate: new Date().toISOString().substr(0, 10),
        trancode: this.transType,
        tranRefId: this.refNo,
        editable: true,
      };
      for (let header of this.headers) {
        header.rules = [];
        journal[header.value] = "";
      }
      journal.jnlrefno = lastJournal.jnlrefno;
      journal.coaItems = this.search.coa.items;

      journal.no = Number(lastJournal.no) + 1;
      this.items.push(journal);
      this.saveJournalDisabled = true;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    checkAvailCoaItem() {
      for (let i of this.items) {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == i.coa && value.currency == i.currency
        );
        if (coaItem.length < 1) {
          let coa = {
            coaCode: i.coa,
            coaName: i.description,
            description: i.description,
            currency: i.currency,
          };
          this.search.coa.items.push(coa);
        }
      }
    },
    showMinus(item) {
      if (item.no == 1) {
        return (
          this.editJournal && item.editable && this.hideFirstSeqMinus != true
        );
      } else {
        return this.editJournal && item.editable;
      }
    },
    disableCoa(item) {
      if (item.no == 1) {
        return (
          this.editJournal && item.editable && this.disableCoaFirstSeq != true
        );
      } else {
        return this.editJournal && item.editable;
      }
    },
    onClose() {
      this.model = false;
      this.$emit("close");
    },
    authView() {
      if(this.viewAuth) {
        return this.checkAuthorities(this.viewAuth);
      } else {
        return true;
      }
    },
    authEdit() {
      if(this.editAuth) {
        return this.checkAuthorities(this.editAuth);
      } else {
        return true;
      }
    },

    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    coaTextWithCurrItem: (item) =>
      item.coaCode + " - " + item.coaName + " - " + item.currency,
  },
};
</script>
