<template>
  <v-dialog v-model="model" persistent max-width="400">
    <template v-slot:activator="{ on, attrs }">
      <v-chip link @click="openEditRateDialog" v-bind="attrs" v-on="on">
        {{ currencyFormat(item.exchgRate) }}
      </v-chip>
    </template>
    <v-card>
      <v-card-title class="headline blue--text text--darken-4">
        Edit Exchange Rate
      </v-card-title>
      <v-card-text>
        <v-row align="center">
          <v-col cols="4">
            <span class="title">Exchange Rate</span>
          </v-col>
          <v-col cols="8">
            <v-text-field
              v-model="editedRate"
              ref="editRate"
              name="editRate"
              label="Key in Exchange Rate"
              persistent-hint
              hide-details="auto"
              @input="editRateChanged = true"
              v-money="editRateChanged ? money : ''"
              flat
              outlined
              dense
              solo
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          class="mx-2"
          color="primary"
          min-width="100px"
          outlined
          @click="submitRate()"
        >
          <v-icon left> mdi-magnify </v-icon>
          Add</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { VMoney } from "v-money";

export default {
  directives: { money: VMoney },
  props: ["item"],
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    model: false,
    editRateChanged: false,
    editedRate: "",
  }),
  methods: {
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    openEditRateDialog() {
      this.editRateChanged = false;
      this.editedRate = this.currencyFormat(this.item.exchgRate);
    },
    submitRate() {
      this.model = false;
      let item = this.item;
      item.exchgRate = this.currencyToFloat(this.editedRate);
      this.$emit("submit-rate", item);
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
  },
};
</script>