<template>
  <v-dialog v-model="model" persistent max-width="800">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        outlined
        class="mx-1"
        min-width="100px"
        v-bind="attrs"
        v-on="on"
        @click="getJournals"
        v-show="authView()"
      >
        {{ title ? title : "View Journal" }}
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline blue--text text--darken-4">
        Journal List
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              depressed
              color="primary"
              @click="model = false"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          :loading="loading"
          :options.sync="transOptions"
          fixed-header
          hide-default-footer
          class="elevation-1"
          height="400"
          sort-by.sync="['jnlrefno', 'no']"
          sort-desc.sync="false"
        >
          <template v-slot:[`item.amount`]="{ item }">
            <div class="ma-0 pa-0 text-right">
              <span>{{ currencyFormat(item.amount) }}</span>
            </div>
          </template>
          <template v-slot:[`item.rate`]="{ item }">
            <div class="ma-0 pa-0 text-right">
              <span>{{ currencyFormat(item.rate) }}</span>
            </div>
          </template>
          <template v-slot:[`item.eqAmount`]="{ item }">
            <div class="ma-0 pa-0 text-right">
              <span>{{ currencyFormat(item.eqAmount) }}</span>
            </div>
          </template>
          <template v-slot:[`body.append`]>
            <tr>
              <td v-for="header in headers" :key="header.text">
                <div v-if="header.value == 'rate'" class="ma-0 pa-0 text-center">
                  <span class="title">Total</span>
                </div>
                <div v-else-if="header.value == 'eqAmount'" class="ma-0 pa-0 text-right">
                  <span class="title">
                    {{ getTotal("eqAmount") }}
                  </span>
                </div>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="primary"
          rounded
          min-width="100"
          depressed
          @click="model = false"
        >
          Back
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import API from "@/core/api/api.js";

export default {
  props: ["api", "refNo", "title", "viewAuth"],
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    items: [],
    loading: false,
    model: false,
    headers: [
      {
        text: "Journal No",
        align: "start",
        sortable: false,
        value: "jnlrefno",
        add: "",
        rules: [],
      },
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "GL Acct",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Description",
        sortable: false,
        value: "description",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      { text: "Amount", sortable: false, value: "amount", add: "", align: "center", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        align: "center", 
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        align: "center", 
        rules: [],
      },
    ],
    options: {
      itemsPerPage: -1,
      page: 1,
    },
  }),
  methods: {
    async getJournals() {
      this.items = [];
      this.loading = true;
      let id = this.refNo;
      // let vm = this;
      let resp = await API.get(this.api + id);
      console.log("journal resp", resp);
      let dataResp = resp.data;
      if (resp.data.code == 0 || Array.isArray(dataResp)) {
        let journalList = dataResp.listJournalEntry;
        if (dataResp.listJournalEntry == null && Array.isArray(dataResp)) {
          journalList = dataResp;
        }
        journalList = journalList == null ? dataResp.data : journalList;
        this.items = journalList
          ? journalList.map(function (row, i) {
              let seqNo = i + 1;
              // let amount =
              //   row.amount == null
              //     ? ""
              //     : vm
              //         .formatCommaCurrency(String(row.amount), "IDR")
              //         .replace("IDR ", "") + ".00";
              // let exchangeRate =
              //   row.exchgrate == null
              //     ? ""
              //     : vm
              //         .formatCommaCurrency(String(row.exchgrate), "IDR")
              //         .replace("IDR ", "") + ".00";
              // let amountEq =
              //   row.amountEq == null
              //     ? ""
              //     : vm
              //         .formatCommaCurrency(String(row.amountEq), "IDR")
              //         .replace("IDR ", "") + ".00";
              return {
                jnlrefno: row.jnlrefno,
                seqNo: seqNo,
                no: row.tie,
                coa: row.coaCode,
                description: row.description,
                currency: row.currency,
                // type: row.type,
                amount: row.amount,
                rate: row.exchgrate,
                eqAmount: row.amountEq,
              };
            })
          : [];
      } else {
        this.items = [];
      }
      this.loading = false;
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = Number(total.toFixed(2)) + Number(key[data].toFixed(2));
      }
      return this.currencyFormat(Number(total.toFixed(2)));
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    authView() {
      if(this.viewAuth) {
        return this.checkAuthorities(this.viewAuth);
      } else {
        return true;
      }
    },
  },
};
</script>
