<template>
  <v-dialog v-model="show" persistent :max-width="maxWidth ? maxWidth : '300'">
    <v-card v-if="mode == 'success'">
      <v-card-title class="justify-center text-center" style="word-break: inherit">{{
        title ? title : "Your Data has been Saved"
      }}</v-card-title>
      <v-card-actions class="justify-center">
        <v-btn
          color="primary"
          min-width="100px"
          outlined
          @click="$emit('success')"
          >OK</v-btn
        >
      </v-card-actions>
    </v-card>
    <v-card v-else-if="mode == 'error'">
      <v-card-title class="justify-center text-center" style="word-break: inherit">{{
        title ? title : "Your Data Failed to Process"
      }}</v-card-title>
      <v-card-text
        class="d-flex justify-center error--text"
        style="word-break: inherit"
      >
        {{ message }}
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          color="primary"
          min-width="100px"
          outlined
          @click="$emit('error')"
          >OK</v-btn
        >
      </v-card-actions>
    </v-card>
    <v-card v-else>
      <v-card-title>
        <v-progress-linear indeterminate color="primary"></v-progress-linear>
      </v-card-title>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["show", "mode", "message", "title", "maxWidth"],
  data: () => ({}),
  methods: {},
};
</script>