<template>
  <v-card flat>
    <isttoolbar dark color="secondary" icon="mdi-account-circle">
      <h5 style="font-size: 1.5em;" class="font-weight-regular">
        Account Management for Finance
      </h5>
      <v-spacer></v-spacer>
      <!-- <v-btn outlined color="white" @click="goToAdd">
        <v-icon left>mdi-plus</v-icon>Add Customer
      </v-btn> -->
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      hide-default-header
      :footer-props="{
        'items-per-page-options': [5, 10, 15, 25],
      }"
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <!-- <h5
                style="font-size: 1.7em;"
                class="font-weight-bold start mt-3"
                v-if="header.filterType == 'select'"
              >
                Cutomer Type
              </h5> -->
              <!-- <v-col v-if="header.filterType=='select'" align-self="start">Customer Type</v-col> -->
              <v-text-field
                v-if="header.filterType == 'input'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:keyup="onkeyupSearch"
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="sortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value == options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value == options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value != options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-text-field>
              <v-autocomplete
                v-if="header.filterType == 'selectStatus'"
                hide-details="auto"
                v-model="header.searchValue"
                :label="header.text"
                :ref="header.value"
                :name="header.value"
                v-on:change="onkeyupSearch"
                :items="statusItems"
                item-value="value"
                item-text="text"
                clearable
              >
                <v-btn
                  slot="append-outer"
                  icon
                  @click="sortClick(header.value)"
                >
                  <v-icon
                    v-if="
                      header.value == options.sortBy[0] && !options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-ascending</v-icon
                  >
                  <v-icon
                    v-else-if="
                      header.value == options.sortBy[0] && options.sortDesc[0]
                    "
                    dense
                    color="primary"
                    >mdi-sort-descending</v-icon
                  >
                  <v-icon v-else-if="header.value != options.sortBy[0]" dense
                    >mdi-sort</v-icon
                  >
                </v-btn>
              </v-autocomplete>
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:item.isActive="{ item }">
        <span v-if="item.isActive == 1">Corporate</span>
        <span v-else>Individual</span>
      </template>
      <template v-slot:top>
        <isttoolbar dark color="primary" class="mb-0">
          <h5 style="font-size: 1.3em;" class="font-weight-regular pl-9">
            List of Accounts
          </h5>
        </isttoolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon class="center" v-bind="attrs" v-on="on"
                >mdi-dots-vertical</v-icon
              >
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editItem(item)" v-show="checkAuthorities('account-management-finance-edit')">
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    headers: [
      {
        text: "Customer Code",
        searchable: true,
        value: "code",
        searchValue: "",
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Customer Name",
        value: "name",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Customer type",
        value: "customerType",
        searchValue: "",
        searchable: true,
        filterType: "selectStatus",
      },

      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    statusItems: [
      { value: "Corporate", text: "Corporate" },
      { value: "Individual", text: "Individual" },
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },

  created() {
    if(this.$route.query.back == true) this.backFromAction();
  },

  methods: {
    goToAdd() {
      this.$router.replace({ name: "account-management-add" });
    },
    refresh() {
      this.getList().then((data) => {
        // this.items = data.items;
        this.items = data.items.map(function (row) {
          return {
            code: row.customerCode,
            name: row.customerName,
            customerType: row.customerType,
            idAccount: row.idAccount,
          };
        });
        this.totalItems = data.total;
      });
    },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        //  var findHeaderValueNotEmpty = [];
        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => value.searchValue && value.searchValue.length !== 0
        );
        // var findHeaderValueNotEmpty = [];
        // Object.keys(this.headers.filter).forEach((key) => {
        //   if (String(this.headers.filter[key].value.searchValue).length > 0) {
        //     findHeaderValueNotEmpty.push(this.headers.filter[key]);
        //   }
        // });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              var paramInfo = ".contains";
              if (value.filterType == "input") {
                paramInfo = ".contains";
              } else if (value.filterType == "selectStatus") {
                paramInfo = ".contains";
              }
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + paramInfo]: value.searchValue,
              };
            })
          );
        }
        API.get("clients/api/account/clientFinance/view-list", param).then(
          (resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              this.loading = false;
              var totalCount = parseInt(resp.headers["x-total-count"]);
              resolve({
                total: totalCount,
                items: resp.data.data,
              });
            }
          }
        );
      });
    },

    editItem(item) {
      this.$router.push({
        name: "account-management-finance-edit",
        query: { id: item.idAccount, mode: "e" },
      });

      this.storeTable();
    },
    viewItem(item) {
      this.$router.push({
        name: "account-management-finance-edit",
        query: { id: item.idAccount, mode: "d" },
      });

      this.storeTable();
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    onkeyupSearch() {
      this.options.page = 1;
      this.refresh();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.accManagementFinanceDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        accManagementFinanceDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>
