<template>
  <v-card flat>
    <isttoolbar
      title="Customer Opportunity"
      dark
      color="secondary"
      icon="mdi-equalizer"
    >
      <v-spacer />
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="New Opportunity"
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form>
      
      <!-- exis oppor -->
     
      <!-- exis oppor -->
      <!-- new oppor -->
      
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Customer Code
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Customer Code"
                ref="customerCode"
                name="customerCode"
                class="ma-0"
                v-model="param.customerCode"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Customer Name
                <span class="error--text">*</span>
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Customer Name"
                ref="customerName"
                name="customerName"
                class="ma-0"
                v-model="param.customerName"
                :rules="[rules.required]"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Customer Type
                <span class="error--text">*</span>
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                v-model="param.customerType"
                label="Customer Type"
                ref="customerType"
                name="customerType"
                :items="search.customerType.items"
                class="ma-0"
                :rules="[rules.required]"
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Company Group
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                v-model="param.compGroup"
                label="Company Group"
                ref="compGroup"
                name="compGroup"
                :search-input.sync="search.compGroup.input"
                @keyup="autocompSearch(search.compGroup)"
                :items="search.compGroup.items"
                item-value="id"
                item-text="codeAndName"
                :loading="search.compGroup.loading"
                :disabled="param.customerType != 'Corporate'"
                class="ma-0"
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Address
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-textarea
                hide-details="auto"
                label="Address"
                ref="address"
                name="address"
                class="ma-0"
                v-model="param.address"
                :rows="4"
                flat
                outlined
                dense
                solo
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Place/Village
              </span>
            </v-col>
            <v-col cols="3" class="pa-1">
              <v-combobox
                v-model="param.village"
                label="Village"
                ref="village"
                :search-input.sync="search.village.input"
                @keyup="autocompSearch(search.village)"
                :items="search.village.items"
                item-value="id"
                item-text="name"
                :loading="search.village.loading"
                v-on:change="addressChange(search.village)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      District {{ item.district.name }} -
                      {{ item.district.regency.name }} Regency -
                      {{ item.district.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="1" class="pa-1" style="text-align: center;">
              <span class="title">
                Zip Code
              </span>
            </v-col>
            <v-col cols="1" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Zip"
                ref="zip"
                name="zip"
                class="ma-0"
                v-model="param.zip"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                District
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-combobox
                v-model="param.district"
                label="District"
                ref="district"
                :search-input.sync="search.district.input"
                @keyup="autocompSearch(search.district)"
                :items="search.district.items"
                item-value="id"
                item-text="name"
                :loading="search.district.loading"
                v-on:change="addressChange(search.district)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">
                      {{ item.regency.name }} Regency -
                      {{ item.regency.province.name }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                City/Regency
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-combobox
                v-model="param.city"
                label="City"
                ref="city"
                :search-input.sync="search.city.input"
                @keyup="autocompSearch(search.city)"
                :items="search.city.items"
                item-value="id"
                item-text="name"
                :loading="search.city.loading"
                v-on:change="addressChange(search.city)"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-caption mb-0">{{ item.province.name }}</p>
                  </v-list-item-content>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Province
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-combobox
                v-model="param.province"
                label="Province"
                ref="province"
                :search-input.sync="search.province.input"
                @keyup="autocompSearch(search.province)"
                :items="search.province.items"
                item-value="id"
                item-text="name"
                :loading="search.province.loading"
                cache-items
                hide-no-data
                hide-details="auto"
                solo
                flat
                outlined
                dense
                single-line
                class="ma-0"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                NPWP
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="NPWP"
                ref="npwp"
                name="npwp"
                class="ma-0"
                v-model="param.npwp"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                APU-PPT Document
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-file-input
                ref="doc"
                name="doc"
                class="ma-0"
                v-model="param.doc"
                flat
                outlined
                dense
                solo
                multiple
                label="JPG, PNG, PDF"
                hide-details="auto"
                :rules="[rules.requiredArray]"
              >
                <template v-slot:selection="{ text }">
                  <v-chip small label color="primary">{{ text }}</v-chip>
                </template>
              </v-file-input>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2 d-none">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Tax Type
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-radio-group
                ref="tax"
                name="tax"
                v-model="param.tax"
                row
                dense
                hide-details="auto"
                class="ma-0"
              >
                <v-radio label="PPh 21" value="1"></v-radio>
                <v-radio label="PPh 23" value="2"></v-radio>
                <v-radio label="PPh Progresif" value="3"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">
                Virtual Account
              </span>
            </v-col>
            <v-col cols="5" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Virtual Account"
                ref="Virtual Account"
                name="Virtual Account"
                class="ma-0"
                v-model="param.virtualAccount"
                flat
                outlined
                dense
                solo
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 my-10">
            <v-col cols="11">
              <span class="title">DETAIL CONTACT</span>
              <v-data-table
                :headers="headers"
                :items="param.contact"
                hide-default-footer
                class="elevation-1"
              >
                <template v-slot:body.append>
                  <tr>
                    <td v-for="header in headers" :key="header.text">
                      <v-btn
                        v-if="header.value == 'action'"
                        @click="addContact"
                        outlined
                        icon
                        color="primary"
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                      <v-textarea
                        v-else-if="header.value == 'notes'"
                        v-model="header.add"
                        single-line
                        :label="header.text"
                        :ref="header.value"
                        dense
                        outlined
                        hide-details="auto"
                        background-color="white"
                        :rows="1"
                      ></v-textarea>
                      <v-text-field
                        @keyup="header.rules = []"
                        v-else
                        v-model="header.add"
                        single-line
                        :label="header.text"
                        :ref="header.value"
                        dense
                        outlined
                        hide-details="auto"
                        background-color="white"
                        :rules="header.rules"
                      ></v-text-field>
                    </td>
                  </tr>
                </template>
                <template v-slot:item.action="{ item }">
                  <v-btn
                    outlined
                    icon
                    color="primary"
                    @click="removeContact(item)"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        
      <!-- new oppor -->
      
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    headers: [
      {
        text: "Contact Person",
        align: "start",
        sortable: false,
        value: "name",
        add: "",
        rules: [],
      },
      {
        text: "Phone No",
        sortable: false,
        value: "handphoneNo",
        add: "",
        rules: [],
      },
      {
        text: "Email Address",
        sortable: false,
        value: "emailAddress",
        add: "",
        rules: [],
      },
      { text: "Description", sortable: false, value: "notes", add: "" },
      { text: "Action", sortable: false, value: "action", add: "" },
    ],
    param: {
      code: "",
      isExisting: true,
      isNew: false,
      customer: "",
      customerCode: "",
      customerName: "",
      customerType: "",
      compGroup: "",
      address: "",
      zip: "",
      village: "",
      district: "",
      city: "",
      province: "",
      npwp: "",
      doc: [],
      tax: "",
      contact: [],
      insuranceFrom: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      insuranceTo: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      income: "",
      businessClass: "",
      businessSource: "",
      status: "",
      progress: "",
      notes: "",
      virtualAccount: ""
    },
    search: {
      village: {
        name: "village",
        input: "",
        items: [],
        url:
          "/config/api/master-location/village?isActive.equals=1&name.equals=",
        loading: false,
        request: null,
      },
      district: {
        name: "district",
        input: "",
        items: [],
        url:
          "/config/api/master-location/district?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      city: {
        name: "city",
        input: "",
        items: [],
        url:
          "/config/api/master-location/regency?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      province: {
        name: "province",
        input: "",
        items: [],
        url:
          "/config/api/master-location/provinces?isActive.equals=1&name.contains=",
        loading: false,
        request: null,
      },
      customer: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
        request: null,
      },
      compGroup: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
        request: null,
      },
      businessClass: {
        input: "",
        items: [],
        url: "/config/api/master-risk/?isActive.equals=1&riskName.contains=",
        loading: false,
        request: null,
      },
      businessSource: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?codeOrName.contains=",
        loading: false,
        request: null,
      },
      status: {
        items: [],
        url:
          "/config/api/master-parameter/?isActive.equals=1&module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
      },
      progress: {
        items: [],
        url:
          "/config/api/master-parameter/?isActive.equals=1&module.equals=SALES_PROGRESS_STATUS&sort=code,asc,ignoreCase",
      },
      customerType: {
        items: ["Individual", "Corporate"],
      },
    },
    formType: {
      existing: ["customer"],
      new: [
        "customerCode",
        "customerName",
        "customerType",
        "compGroup",
        "address",
        "zip",
        "village",
        "district",
        "city",
        "province",
        "npwp",
        "doc",
        "tax",
        "contact",
      ],
    },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        customer: this.param.customer,
        // customerCode: this.param.customerCode,
        customerName: this.param.customerName,
        customerType: this.param.customerType,
        // compGroup: this.param.compGroup,
        // address: this.param.address,
        // zip: this.param.zip,
        // village: this.param.village,
        // district: this.param.district,
        // city: this.param.city,
        // province: this.param.province,
        // npwp: this.param.npwp,
        // doc: this.param.doc[0],
        // tax: this.param.tax,
        // insuranceFrom: this.param.insuranceFrom.date,
        // insuranceTo: this.param.insuranceTo.date,
        // income: this.param.income,
        // businessClass: this.param.businessClass,
        // businessSource: this.param.businessSource,
        // status: this.param.status,
        // progress: this.param.progress,
        // notes: this.param.notes
      };
    },
  },

  watch: {},

  created() {
    this.initList([
      "status",
      "progress",
      "customer",
      "compGroup",
      "businessClass",
      "businessSource",
    ]);
    this.param.insuranceFrom.date = null;
    this.param.insuranceTo.date = null;
  },

  methods: {
    back() {
      this.$router.replace({ name: "customer-opportunity-list" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
     
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        customerType: "",
        salesOpportunity: {
          amountEstimate: parseFloat(this.param.income),
          riskCode: this.param.businessClass,
          dateFromInsur: this.param.insuranceFrom.date,
          dateToInsur: this.param.insuranceTo.date,
          idAgent: parseFloat(this.param.businessSource),
          isActive: 1,
          notes: this.param.notes,
          progress: this.param.progress,
          status: this.param.status,
        },
      };
      if (this.param.isExisting) {
        paramJSON.customerType = "1";
        paramJSON.salesOpportunity["idAccount"] = parseFloat(
          this.param.customer
        );
      } else {
        paramJSON.customerType = "0";
        var account = {
          address: this.param.address,
          village:
            typeof this.param.village == "object"
              ? this.param.village.name
              : this.param.village,
          district:
            typeof this.param.district == "object"
              ? this.param.district.name
              : this.param.district,
          city:
            typeof this.param.city == "object"
              ? this.param.city.name
              : this.param.city,
          province:
            typeof this.param.province == "object"
              ? this.param.province.name
              : this.param.province,
          code: this.param.customerCode,
          emailAddress: "",
          flagParentgroup:
            this.param.customerType == "Corporate" && this.param.compGroup
              ? 1
              : 0,
          idParentgroup: parseFloat(this.param.compGroup),
          name: this.param.customerName,
          npwpNo: this.param.npwp,
          taxType: parseInt(this.param.tax),
          zipcode: this.param.zip,
        };
        var accountContacts = this.param.contact;
        var accountDocuments = [];

        for (var d of this.param.doc) {
          var fr = new FileReader();
          var imagebase64 = "";
          fr.readAsDataURL(d);
          fr.addEventListener("load", () => {
            imagebase64 = fr.result;
            console.log(imagebase64);
          });
          // var lastDot = d.name.lastIndexOf(".");
          // console.log(this.param.doc[0].name.substring(0, lastDot));
          // console.log(this.param.doc[0].name.substring(lastDot + 1));

          var doc = {
            accountType: this.param.customerType,
            description: "",
            docName: d.name,
            docType: d.type,
            docRawdata: imagebase64,
            docUrl: "",
          };
          accountDocuments.push(doc);
        }
        account["accountContacts"] = accountContacts;
        account["accountDocuments"] = accountDocuments;
        paramJSON["account"] = account;
      }
      console.log("submit param");
      console.log(paramJSON);
      let param = JSON.stringify(paramJSON);
      API.post("/sales/api/sales-opportunity/add", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            this.dialog.success = true;
          } else {
            this.dialog.error = true;
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
    checkBoxChange(name) {
      if (name == "isExisting") {
        this.param.isNew = !this.param.isExisting;
      } else if (name == "isNew") {
        this.param.isExisting = !this.param.isNew;
      }
    },
    addContact() {
      this.numberRules = [
        (v) => !!v || "Field is required",
        (v) => /^\d+$/.test(v) || "Must be a number",
      ];
      let contactHasError = false;
      let toValidate = this.headers.filter(
        (value) => ["name", "handphoneNo"].indexOf(value.value) != -1
      );
      for (let r of toValidate) {
        if (r.value == "name") {
          r.rules = [this.rules.required];
        } else if (r.value == "handphoneNo") {
          r.rules = [this.rules.required];
        } else if (r.value == "emailAddress") {
          // r.rules = [this.rules.emailRules];
        }
      }
      for (var val of toValidate) {
        if (val.add.length < 1) {
          contactHasError = true;
        }
        this.$refs[val.value][0].validate(true);
      }
      // iniiiiiiii
      if (!contactHasError) {
        var contact = {};
        for (var header of this.headers) {
          if (header.value != "action") {
            contact[header.value] = header.add;
          }
        }
        contact["accountType"] = this.param.customerType;
        this.param.contact.push(contact);
        for (header of this.headers) {
          header.add = "";
          header.rules = [];
        }
      }
    },
    removeContact(item) {
      var index = "";
      for (var i = 0; i < this.param.contact.length; i++) {
        if (this.param.contact[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.param.contact.splice(index, 1);
      }
    },
    initList(list) {
      for (let l of list) {
        API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      });
      search.request = null;
    },
    addressChange(search) {
      if (typeof this.param[search.name] == "object") {
        if (search.name == "village") {
          this.param.zip = this.param.village.postalCode;
          this.param.district = this.param.village.district.name;
          this.param.city = this.param.village.district.regency.name;
          this.param.province = this.param.village.district.regency.province.name;
        } else if (search.name == "district") {
          this.param.city = this.param.district.regency.name;
          this.param.province = this.param.district.regency.province.name;
        } else if (search.name == "city") {
          this.param.province = this.param.city.province.name;
        }
      }
    },
  },
};
</script>>
