<template>
  <v-card flat>
    <isttoolbar dark color="secondary" icon="mdi-account-circle">
      <h5 style="font-size: 1.5em;" class="font-weight-regular">
        Account Management
      </h5>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar dark class="mb-2" color="primary"
      ><h5 style="font-size: 1.3em;" class="font-weight-regular pl-9">
        Policy Detail
      </h5></isttoolbar
    >
    <v-form>
      <v-row align="center" class="ml-8">
        <v-col cols="2" class="pa-1">
          <span class="title font-weight-bold"> Customer Name </span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <span class="title" v-if="input.name == null || ''"> - </span>
          <span class="title font-weight-regular" v-else>
            {{ input.name }}
          </span>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-8">
        <v-col cols="2" class="pa-1">
          <span class="title font-weight-bold"> Invoice Number </span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <span class="title" v-if="input.invoice == null || ''"> - </span>
          <span class="title font-weight-regular" v-else>
            {{ input.invoice }}
          </span>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-8">
        <v-col cols="2" class="pa-1">
          <span class="title title font-weight-bold">
            Policy Number
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <span
            class="title black--text"
            v-if="input.policeNumber == '' || null"
          >
            -
          </span>
          <span class="title font-weight-regular" v-else>
            {{ input.policeNumber }}
          </span>
        </v-col>
      </v-row>

      <v-banner
        v-model="buttonDropUp"
        fullscreen
        hide-overlay
        transition="dialog-top-transition"
        scrollable
      >
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Class Of Risk </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span class="title black--text" v-if="input.risk == '' || null">
              -
            </span>

            <span class="title font-weight-regular" v-else>
              {{ input.risk }}
              <!-- {{  getText(input.riskCode, "business", "riskCode", "codeAndName") }} -->
            </span>
          </v-col>
        </v-row>
        <!-- <template v-slot:item.riskCode="{ item }">{{
        getText(item.riskCode, "business", "riskCode", "riskName")
      }}</template> -->
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Business Category </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span class="title black--text" v-if="input.business == '' || null">
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.business }}
            </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Period Of Cover </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span class="title black--text" v-if="input.period == '' || null">
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.period }} - {{ input.periodTo }}
            </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Attachment </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span
              class="title black--text"
              v-if="input.attachment == '' || null"
            >
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.attachment }}
            </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Master Policy </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span
              class="title black--text"
              v-if="input.masterPolicy == '' || input.masterPolicy == null"
            >
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.masterPolicy }}
            </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Insured </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span
              class="title black--text"
              v-if="input.insured == '' || input.insured == null"
            >
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.insured }}
            </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Location </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span class="title black--text" v-if="input.location == '' || null">
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.location }}
            </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title font-weight-bold"> Brief Description </span>
          </v-col>
          <v-col cols="6" align-self="start" class="pa-1">
            <span
              class="title black--text"
              v-if="input.descripton == '' || null"
            >
              -
            </span>
            <span class="title font-weight-regular" v-else>
              {{ input.descripton }}
            </span>
          </v-col>
        </v-row>
      </v-banner>

      <v-btn
        block
        text
        color="black"
        min-width="20px"
        class="center"
        @click="buttonDropUp = !buttonDropUp"
      >
        <v-icon v-if="buttonDropUp === false">mdi-menu-down</v-icon>
        <v-icon v-else>mdi-menu-up</v-icon>
      </v-btn>
    </v-form>

    <v-card class="elevation-0 mt-2">
      <v-tabs v-model="tab" background-color="primary" dark class="">
        <v-tab v-for="item in itemsTabs" :key="item.tab" class="white--text">{{
          item.tab
        }}</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <!-- <p> // ---- TAB PAYMENT HISTORY ----</p> -->
        <v-tab-item>
          <v-card flat outlined tile class="">
            <isttoolbar light color="secondToolbar" class="">
              <h5 style="font-size: 1.3em;" class="font-weight-bold">
                To Client
              </h5>
            </isttoolbar>
            <v-data-table
              :headers="clientTable"
              :items="client"
              :loading="clientLoading"
              :server-items-length="clientTotal"
              class="elevation-1"
              :items-per-page="-1"
              hide-default-footer
              :footer-props="{
                'items-per-page-options': [5, 10, 15, 25],
              }"
            >
              <template v-slot:[`item.percentage`]="{ item }">
                {{ item.percentage + " %" }}
              </template>
              <template v-slot:[`item.amountPaid`]="{ item }">
                {{ formatMoney(Number(item.amountPaid)) }}
              </template>
              <template v-slot:[`item.amountPaidPercent`]="{ item }">
                {{ formatMoney(Number(item.amountPaidPercent)) }} %
              </template>
              <template v-slot:[`item.amount`]="{ item }">
                {{ formatMoney(Number(item.amount)) }}
              </template>
              <template v-slot:[`body.append`]>
                <tr>
                  <td v-for="header in clientTable" :key="header.text" class="text-center">
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'installment'"
                    >
                      Total
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'percentage'"
                    >
                      {{ clientTotalPercent }} %
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'amountPaid'"
                    >
                      {{ formatMoney(Number(clientTotalAmountPaid)) }}
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'amountPaidPercent'"
                    >
                      {{ formatMoney(Number(clientTotalAmountPaidPercent)) }} %
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'amount'"
                    >
                      {{ formatMoney(Number(clientTotalAmount)) }}
                    </span>
                  </td>
                </tr>
              </template>
            </v-data-table>
            <isttoolbar light color="secondToolbar" class="mt-5">
              <h5 style="font-size: 1.3em;" class="font-weight-bold">
                To Insurance
              </h5>
              <v-autocomplete
                :items="insurUwList"
                v-model="insurUw"
                class="ml-3"
                solo
                flat
                dense
                item-value="value"
                item-text="text"
                style="max-width: 200px;"
                background-color="transparent"
                hide-details="auto"
                name="insuranceListUnder"
                ref="insuranceListUnder"
                @change="changeInsurUw"
              ></v-autocomplete>
            </isttoolbar>
            <v-data-table
              :headers="insuranceTable"
              :items="insurance"
              :loading="insuranceLoading"
              class="elevation-1"
              :items-per-page="-1"
              hide-default-footer
              :footer-props="{
                'items-per-page-options': [5, 10, 15, 25],
              }"
            >
              <template v-slot:[`header.actions`]="{ header }">
                {{ insurUw == "" ? header.text : "" }}
              </template>
              <template v-slot:[`item.percentage`]="{ item }">
                {{ item.percentage + " %" }}
              </template>
              <template v-slot:[`item.amount`]="{ item }">
                {{ formatMoney(Number(item.amount)) }}
              </template>
              <template v-slot:[`item.amountPaid`]="{ item }">
                {{ formatMoney(Number(item.amountPaid)) }}
              </template>
              <template v-slot:item.actions="{ item }">
                <v-menu bottom left :offset-x="true">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-show="insurUw == ''" icon v-bind="attrs" v-on="on">
                      <v-icon class="mr-0">mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="getInsuranceDetail(item)">
                      <v-list-item-title>View</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
              <template v-slot:[`body.append`]>
                <tr>
                  <td v-for="header in insuranceTable" :key="header.text">
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'installment'"
                    >
                      Total
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'percentage'"
                    >
                      {{ insurerTotalPercent }} %
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'amountPaid'"
                    >
                      {{ formatMoney(Number(insurerTotalAmountPaid)) }}
                    </span>
                    <span
                      align="center"
                      class="text-h6 font-weight-bold"
                      v-if="header.value == 'amount'"
                    >
                      {{ formatMoney(Number(insurerTotalAmount)) }}
                    </span>
                  </td>
                </tr>
              </template>
            </v-data-table>
            <v-dialog v-model="dialogToInsurance" width="600">
              <v-card flat>
                <v-toolbar flat dark color="primary" dense>
                  <v-toolbar-title>Detail To Insurance</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn text dark @click="dialogToInsurance = false">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-data-table
                  :headers="detailtoInsuranceTable"
                  :items="detailtoInsurance"
                  class="elevation-1"
                  :items-per-page="-1"
                  hide-default-footer
                  :loading="toInsuranceDetailLoading"
                >
                  <template v-slot:[`item.uwCode`]="{ item }">
                    {{ item.uwCode + " - " + item.uwName }}
                  </template>
                  <template v-slot:[`item.amount`]="{ item }">
                    {{ formatMoney(Number(item.amount)) }}
                  </template>
                  <template v-slot:[`item.amountPaid`]="{ item }">
                    {{ formatMoney(Number(item.amountPaid)) }}
                  </template>
                  <template v-slot:[`body.append`]>
                    <tr>
                      <td
                        v-for="header in detailtoInsuranceTable"
                        :key="header.text"
                      >
                        <span class="title" v-if="header.value == 'uwCode'">
                          Total
                        </span>
                        <span
                          class="title"
                          v-else-if="header.value == 'amount'"
                        >
                          {{ formatMoney(Number(totalAmountDetailInsurance)) }}
                        </span>
                        <span
                          class="title"
                          v-else-if="header.value == 'amountPaid'"
                        >
                          {{
                            formatMoney(Number(totalAmountPaidDetailInsurance))
                          }}
                        </span>
                      </td>
                    </tr>
                  </template>
                </v-data-table>
                <!-- <div style="flex: 1 1 auto;"></div> -->
              </v-card>
            </v-dialog>
          </v-card>
        </v-tab-item>

        <!-- <p> // ---- TAB LOST TAB RECORD----</p> -->
        <v-tab-item>
          <v-card flat outlined tile class="pt-0 pb-2">
            <v-data-table
              :headers="lostRecordTable"
              :items="lostRecord"
              class="elevation-1"
              :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
            >
              <template v-slot:[`item.balance`]="{ item }">
                {{ formatMoney(Number(item.balance)) }}
              </template>
              <template v-slot:[`item.payable`]="{ item }">
                {{ formatMoney(Number(item.payable)) }}
              </template>
              <template v-slot:[`item.createdDate`]="{ item }">
                {{ new Date(item.createdDate).toISOString().substr(0, 10) }}
              </template>
              <template v-slot:item.actions="{ item }">
                <v-menu bottom left :offset-x="true">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon class="mr-0">mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="openClaim(item)">
                      <v-list-item-title>View</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
            <!-- <div>
              <v-banner
                v-model="dialogLostRecord"
                fullscreen
                hide-overlay
                transition="dialog-top-transition"
                scrollable
              >
                <v-card flat>
                  <v-toolbar flat dark color="primary">
                    <v-toolbar-title>Detail Claim</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click="dialogLostRecord = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-toolbar-items>
                    <v-row>
                      <v-col cols="7">
                        <v-row align="center" class="ml-2">
                          <v-col cols="3" class="pa-1 mr-2">
                            <span class="title font-weight-bold">
                              Claim Trans
                            </span>
                          </v-col>
                          <v-col cols="5" align-self="start" class="pa-1">
                            <span
                              class="title"
                              v-if="lost.claimTrans == null || ''"
                            >
                              -
                            </span>
                            <span class="title font-weight-regular" v-else>
                              {{ lost.claimTrans }}
                            </span>
                          </v-col>
                        </v-row>
                        <v-row align="center" class="ml-2">
                          <v-col cols="3" class="pa-1 mr-2">
                            <span class="title font-weight-bold"> Detail </span>
                          </v-col>
                          <v-col cols="5" align-self="start" class="pa-1">
                            <span
                              class="title"
                              v-if="lost.detail == null || ''"
                            >
                              -
                            </span>
                            <span class="title font-weight-regular" v-else>
                              {{ lost.detail }}
                            </span>
                          </v-col>
                        </v-row>
                        <v-row align="center" class="ml-2">
                          <v-col cols="3" class="pa-1 mr-2">
                            <span class="title font-weight-bold">
                              Date Of Loss
                            </span>
                          </v-col>
                          <v-col cols="5" align-self="start" class="pa-1">
                            <span
                              class="title"
                              v-if="lost.dateOfLoss == null || ''"
                            >
                              -
                            </span>
                            <span class="title font-weight-regular" v-else>
                              {{ lost.dateOfLoss }}
                            </span>
                          </v-col>
                        </v-row>
                        <v-row align="center" class="ml-2">
                          <v-col cols="3" class="pa-1 mr-2">
                            <span class="title font-weight-bold">
                              Policy Class
                            </span>
                          </v-col>
                          <v-col cols="5" align-self="start" class="pa-1">
                            <span
                              class="title"
                              v-if="lost.policyClass == null || ''"
                            >
                              -
                            </span>
                            <span class="title font-weight-regular" v-else>
                              {{ lost.policyClass }}
                            </span>
                          </v-col>
                        </v-row>
                        <v-row align="center" class="ml-2">
                          <v-col cols="3" class="pa-1 mr-2">
                            <span class="title font-weight-bold">
                              Underwriter
                            </span>
                          </v-col>
                          <v-col cols="5" align-self="start" class="pa-1">
                            <span
                              class="title"
                              v-if="lost.underWriter == null || ''"
                            >
                              -
                            </span>
                            <span class="title font-weight-regular" v-else>
                              {{ lost.underWriter }}
                            </span>
                          </v-col>
                        </v-row>
                        <v-row align="center" class="ml-2">
                          <v-col cols="3" class="pa-1 mr-2">
                            <span class="title font-weight-bold">
                              Claim Office
                            </span>
                          </v-col>
                          <v-col cols="5" align-self="start" class="pa-1">
                            <span
                              class="title"
                              v-if="lost.claimOffice == null || ''"
                            >
                              -
                            </span>
                            <span class="title font-weight-regular" v-else>
                              {{ lost.claimOffice }}
                            </span>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="5">
                        <v-col>
                          <v-row align="center" class="">
                            <v-col cols="5" class="pa-1">
                              <span class="title font-weight-bold">
                                AGE BY
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold">
                                Issus
                              </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.issus == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ lost.issus }}
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold">
                                Loss Date
                              </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.lossDate == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ lost.lossDate }}
                              </span>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col>
                          <v-row align="center" class="">
                            <v-col cols="5" class="pa-1">
                              <span class="title font-weight-bold">
                                PAID TO CLIENT
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold">
                                Amount
                              </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.amountToclient == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ formatMoney(Number(lost.amountToclient)) }}
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold"> Date </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.dateToClient == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ lost.dateToClient }}
                              </span>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col>
                          <v-row align="center" class="">
                            <v-col cols="5" class="pa-1">
                              <span class="title font-weight-bold">
                                UNDERWRITER PAID
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold">
                                Amount
                              </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.amountToUnderwiter == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{
                                  formatMoney(Number(lost.amountToUnderwiter))
                                }}
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold"> Date </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.dateToUnderwriter == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ lost.dateToUnderwriter }}
                              </span>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col>
                          <v-row align="center" class="">
                            <v-col cols="5" class="pa-1">
                              <span class="title font-weight-bold">
                                ENTRY
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold"> Date </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.createdDate == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ lost.createdDate }}
                              </span>
                            </v-col>
                          </v-row>
                          <v-row align="center" class="">
                            <v-col cols="2" class="pa-1">
                              <span class="title font-weight-bold"> By </span>
                            </v-col>
                            <v-col cols="6" align-self="start" class="pa-1">
                              <span
                                class="title"
                                v-if="lost.createdBy == null || ''"
                              >
                                -
                              </span>
                              <span class="title font-weight-regular" v-else>
                                {{ lost.createdBy }}
                              </span>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-col>
                    </v-row>
                  </v-toolbar-items>

                  <div style="flex: 1 1 auto"></div>
                </v-card>
              </v-banner>
            </div> -->
          </v-card>
        </v-tab-item>

        <!-- <p> // ---- TAB OBJECT INSURED ----</p> -->
        <v-tab-item>
          <v-card flat outlined tile class="pt-0 pb-2">
            <v-data-table
              :headers="headerMultiInsured"
              :items="dataMultiInsured"
              class="elevation-1"
              :loading="multiInsuredLoading"
              hide-default-footer
              :height="dataMultiInsured.length > 0 ? '400' : ''"
              :options.sync="multiInsurOptions"
              fixed-header
              hide-default-header
            >
              <template v-slot:header="{ props: { headers } }">
                <thead>
                  <tr>
                    <th v-for="header in headers" :key="header.text">
                      <v-text-field
                        hide-details="auto"
                        v-model="header.searchValue"
                        :label="header.text"
                        :ref="header.value"
                        :name="header.value"
                        v-on:keyup="onkeyupSearch"
                        dense
                        :readonly="!header.filterable"
                        placeholder=" "
                        style="margin-top: 10px;"
                        :class="!header.filterable ? 'no-border' : ''"
                      >
                        <v-btn
                          slot="append"
                          icon
                          @click="sortClick(header.value)"
                          v-show="header.sortable"
                          small
                        >
                          <v-icon
                            v-if="
                              header.value == multiInsurOptions.sortBy[0] &&
                              !multiInsurOptions.sortDesc[0]
                            "
                            small
                            color="primary"
                            >mdi-sort-ascending</v-icon
                          >
                          <v-icon
                            v-else-if="
                              header.value == multiInsurOptions.sortBy[0] &&
                              multiInsurOptions.sortDesc[0]
                            "
                            small
                            color="primary"
                            >mdi-sort-descending</v-icon
                          >
                          <v-icon
                            v-else-if="
                              header.value != multiInsurOptions.sortBy[0]
                            "
                            small
                            >mdi-sort</v-icon
                          >
                        </v-btn>
                      </v-text-field>
                      <!-- <span v-else>{{ header.text }}</span> -->
                    </th>
                  </tr>
                </thead>
              </template>

              <template v-slot:[`item.totalPremi`]="{ item }">
                {{ formatMoney(Number(item.totalPremi)) }}
              </template>
              <template v-slot:item.sumFixedasset="{ item }">{{
                currencyFormat(item.sumFixedasset)
              }}</template>
              <template v-slot:item.sumBuilding="{ item }">{{
                currencyFormat(item.sumBuilding)
              }}</template>
              <template v-slot:item.sumContents="{ item }">{{
                currencyFormat(item.sumContents)
              }}</template>
              <template v-slot:item.sumMachinery="{ item }">{{
                currencyFormat(item.sumMachinery)
              }}</template>
              <template v-slot:item.sumStocks="{ item }">{{
                currencyFormat(item.sumStocks)
              }}</template>
              <template v-slot:item.sumBusinterruption="{ item }">{{
                currencyFormat(item.sumBusinterruption)
              }}</template>
              <template v-slot:item.premiFixedasset="{ item }">{{
                currencyFormat(item.premiFixedasset)
              }}</template>
              <template v-slot:item.premiBuilding="{ item }">{{
                currencyFormat(item.premiBuilding)
              }}</template>
              <template v-slot:item.premiContents="{ item }">{{
                currencyFormat(item.premiContents)
              }}</template>
              <template v-slot:item.premiMachinery="{ item }">{{
                currencyFormat(item.premiMachinery)
              }}</template>
              <template v-slot:item.premiStocks="{ item }">{{
                currencyFormat(item.premiStocks)
              }}</template>
              <template v-slot:item.premiBusinterruption="{ item }">{{
                currencyFormat(item.premiBusinterruption)
              }}</template>
              <template v-slot:item.othersInsurer="{ item }">{{
                currencyFormat(item.othersInsurer)
              }}</template>
              <template v-slot:item.othersBrokerage="{ item }">{{
                currencyFormat(item.othersBrokerage)
              }}</template>
              <template v-slot:item.premiTotal="{ item }">{{
                currencyFormat(item.premiTotal)
              }}</template>
              <template v-slot:item.sumInsured="{ item }">{{
                currencyFormat(item.sumInsured)
              }}</template>
              <template v-slot:item.premiAmount="{ item }">{{
                currencyFormat(item.premiAmount)
              }}</template>
              <template v-slot:item.uwPremium="{ item }">{{
                currencyFormat(item.uwPremium)
              }}</template>
              <template v-slot:item.effectiveDate="{ item }">{{
                formatDateSlice(item.effectiveDate)
              }}</template>
              <template v-slot:item.actions="{ item }">
                <v-menu bottom left :offset-x="true">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon v-bind="attrs" v-on="on"
                        >mdi-dots-vertical</v-icon
                      >
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="viewItem(item)">
                      <v-list-item-title>View</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-card>
        </v-tab-item>

        <!-- <p> // ---- TAB FILE UPLOAD ----</p> -->
        <v-tab-item>
          <v-card flat outlined tile class="pt-0 pb-2">
            <v-data-table
              :headers="fileTable"
              :items="file"
              class="elevation-1 black--text"
              :loading="loading"
              :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
            >
              <template v-slot:item.actions="{ item }">
                <v-menu bottom left :offset-x="true">
                  <template v-slot:activator="{ on, attrs }">
                    <v-row>
                      <v-row justify="center" class="pa-1">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          class="center"
                          outlined
                          dark
                          color="primary"
                          width="120px"
                          v-if="input.doc != ''"
                          @click="getFileDownload(item)"
                          >Download
                        </v-btn>
                        <v-btn
                          class="center ml-2"
                          outlined
                          dark
                          color="green"
                          width="120px"
                          @click="getFilePreview(item)"
                          v-if="input.doc != ''"
                          v-bind="attrs"
                          v-on="on"
                        >
                          Preview
                        </v-btn>
                      </v-row>

                      <v-row justify="center">
                        <!-- <v-dialog
                          v-model="dialogfile"
                          width="800px"
                          elevation="0"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-col align="start" class="mr-0 pa-1 ml-0">
                              
                            </v-col>
                          </template>

                          <v-row align="center" class="ml-0" justify="center">
                            <v-spacer></v-spacer>
                            
                            <object
                              :data="rawData"
                              width="800"
                              height="700"
                              class="center"
                              :key="rawData"
                              clearable
                            />

                            <v-spacer></v-spacer>
                          </v-row>
                        </v-dialog> -->
                      </v-row>
                    </v-row>
                  </template>
                </v-menu>
              </template>
            </v-data-table>

            <v-row justify="center">
              <v-dialog v-model="dialogFileTab" max-width="800px">
                <template v-slot:activator="{ on, attrs }">
                  <v-container elevation="0" height="30px" class="center">
                    <v-row align="center">
                      <v-spacer></v-spacer>
                      <v-btn
                        width="800px"
                        class="center"
                        outlined
                        dark
                        color="primary"
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-icon class="ml-0" center>mdi-plus</v-icon>Add File
                      </v-btn>
                      <v-spacer></v-spacer>
                    </v-row>
                  </v-container>
                </template>
                <v-card>
                  <v-card-title class="primary" dark>
                    <span class="title white--text ml-2"> Add File </span>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click="dialogFileTab = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-card-title>
                  <v-card-text>
                    <v-row align="center" class="ml-2">
                      <v-col cols="2" class="pa-1">
                        <span class="title font-weight-bold black--text">
                          File Name
                        </span>
                      </v-col>
                      <v-col cols="6" align-self="start" class="pa-1">
                        <v-file-input
                          accept=".jpg,.png,.pdf"
                          class="ma-0"
                          ref="doc"
                          name="doc"
                          v-model="fileUpload.doc"
                          flat
                          outlined
                          dense
                          solo
                          label="JPG, PNG, PDF"
                          hide-details="auto"
                          @change="fotoUploadsss"
                          prepend-icon=""
                          clearable
                          :rules="[rules.maxSize10Mb]"
                        >
                          <!-- multiple -->
                          <template v-slot:selection="{ text }">
                            <v-chip small label color="primary">{{
                              text
                            }}</v-chip>
                          </template>
                        </v-file-input>
                      </v-col>
                      <v-col cols="3" class="pa-1">
                        <span class="title font-weight-bold black--text">
                          (Max Size 10MB)
                        </span>
                      </v-col>
                    </v-row>
                    <v-row align="center" class="ml-2">
                      <v-col cols="2" class="pa-1">
                        <span class="title font-weight-bold black--text">
                          Description
                        </span>
                      </v-col>
                      <v-col cols="6" align-self="start" class="pa-1">
                        <v-text-field
                          ref="desc"
                          name="desc"
                          v-model="fileUpload.desc"
                          hide-details="auto"
                          label="Description"
                          solo
                          flat
                          outlined
                          dense
                          class="ma-0"
                          clearable
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-card-actions class="justify-center">
                    <v-btn
                      outlined
                      color="primary"
                      @click="loadingFile"
                      class="mx-3"
                      width="100px"
                      dark
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <v-dialog v-model="dialogfile" width="800">
      <v-card v-show="dialogfile">
        <v-row align="center" justify="center">
          <v-spacer></v-spacer>
          <object
            :data="rawData"
            width="800"
            height="700"
            class="center"
            :key="rawData"
          />
          <v-spacer></v-spacer>
        </v-row>
      </v-card>
    </v-dialog>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
      fileType="pdfObject"
    />

    <multiinsureddetail
      :model="detailDialog"
      v-on:close="detailDialog = false"
      :type="detailDialogType"
      :data="detailData"
    >
    </multiinsureddetail>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialog.success ? (dialog.show = false) : (dialog.show = false)
              "
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogLoading.show" persistent max-width="290">
        <v-card v-show="!dialogLoading.success && !dialogLoading.error">
          <v-card-title>
            <v-spacer></v-spacer>
            <span v-if="!indeterminate" class="title ma-0 pa-0">{{ statusLoading }}</span>
            <v-progress-linear
              :indeterminate = "indeterminate"
              :value="loadComplete"
              color="primary"
              :class="!indeterminate ? 'mb-2' : ''"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialogLoading.success || dialogLoading.error">
          <v-card-title
            v-if="dialogLoading.success"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialogLoading.text }}</v-card-title
          >
          <v-card-title
            v-else-if="dialogLoading.error"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialogLoading.text }}</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="closeUpload"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog v-model="claimDetailDialog.show" scrollable max-width="1100">
      <v-card>
        <v-card-title class="headline blue--text text--darken-4 pt-2 pb-0">
          Detail Claims
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                depressed
                color="primary"
                @click="claimDetailDialog.show = false"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
          <v-progress-linear
            v-show="claimDetailDialog.loading"
            indeterminate
            color="primary"
          ></v-progress-linear>
        </v-card-title>
        <v-card-text>
          <br />
          <claims
            :show="claimDetailDialog.show"
            :id="claimNo"
            v-on:populated="claimDetailDialog.loading = false"
            :fromAccountMaster="fromAccountMaster"
          ></claims>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { VMoney } from "v-money";
import axios from "axios";
import multiinsureddetail from "@/components/dialog/multiInsuredDetail/multiInsuredDetail";
import documentPreview from "@/components/documentPreview/documentPreview";
// import payment from "@/features/account/accountManagement/tab/paymentTab";
// import lost from "@/features/account/accountManagement/tab/lostTab";
// import objectTab from "@/features/account/accountManagement/tab/objectTab";
// import file from "@/features/account/accountManagement/tab/fileTab";
import claims from "@/components/claims/claim_view";
import minioHelper from "@/helper/minioHelper";

export default {
  components: {
    isttoolbar,
    multiinsureddetail,
    documentPreview,
    // payment,
    // lost,
    // objectTsab,
    // file,
    claims,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },
  upload() {
    return {
      selectedFile: "",
      selectName: null,
      selectType: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    dialogfile: false,
    dialogLoading: { show: false, success: false, error: false, text: "" },
    a: "muncul",
    popout: true,
    expand: false,
    readonly: false,
    tab: 0,

    itemsTabs: [
      { tab: "Payment History" },
      { tab: "Loss Record" },
      { tab: "Object Insured" },
      { tab: "File" },
    ],
    param: {
      isExpanded: true,
      id: 0,
      code: "",
      name: "",
      address: "",
      type: "",
      invoiceNo: 0,
      riskCode: "",
      idInvoice: 0,
    },
    input: {
      name: "",
      invoice: "",
      risk: "",
      business: "",
      insured: "",
      policeNumber: "",
      descripton: "",
      period: "",
      periodTo: "",
      attachment: "",
      location: "",
      masterPolicy: "",
      riskCode: "",
      reffNo: "",
    },
    dataCode: "",
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    buttonDropUp: false,
    headerMultiInsured: [
      {
        text: "",
        // align: "start",
        sortable: false,
        value: "name",
      },
      {
        text: "",
        sortable: false,
        value: "noPol",
      },
      {
        text: "",
        sortable: false,
        value: "chassisNo",
      },
      { text: "", sortable: false, value: "engineNo" },
      { text: "", sortable: false, value: "totalPremi" },
    ],
    dataMultiInsured: [],
    totalItemsMulti: 0,
    dialogLostRecord: false,
    lostRecordTable: [
      {
        text: "Claim No",
        sortable: false,
        value: "id",
      },
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
      },
      { text: "Trans Date", sortable: false, value: "createdDate" },
      { text: "Date of Loss", sortable: false, value: "dateLoss" },
      { text: "Claim Officer", sortable: false, value: "officerClaim" },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    lostRecord: [],
    lost: {
      claimTrans: "",
      detail: "",
      dateOfLoss: "",
      policyClass: "",
      underWriter: "",
      claimOffice: "",
      issus: "",
      lossDate: "",
      amountToclient: "",
      dateToClient: "",
      amountToUnderwiter: "",
      dateToUnderwriter: "",
      createdDate: "",
      createdBy: "",
    },
    dialogToInsurance: false,
    toInsuranceDetailLoading: false,
    filter: {
      lossDate: {
        value: "dateFromInsur",
        searchValue: new Date().toISOString().substr(0, 10),
        searchParam: "equals",
        menu: false,
      },
      adviceDate: {
        value: "dateToInsur",
        searchValue: new Date().toISOString().substr(0, 10),
        searchParam: "equals",
        menu: false,
      },
      customer: {
        value: "idAccount",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client??size=-1",
        loading: true,
      },
      status: {
        value: "status",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      progress: {
        value: "progress",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=SALES_PROGRESS_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },

      business: {
        value: "riskName",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/??size=-1",
        loading: true,
      },
      department: {
        value: "codeSegment",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=BUSINESS_SEGMENT&sort=code,asc,ignoreCase&size=-1",
        loading: true,
      },
    },
    detailtoInsurance: [],
    detailtoInsuranceTable: [
      {
        text: "Insurance",
        align: "start",
        sortable: false,
        value: "uwCode",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
      },
      {
        text: "Amount Paid",
        sortable: false,
        value: "amountPaid",
      },
      {
        text: "Payment Date",
        sortable: false,
        value: "paymentDate",
      },
    ],
    clientTable: [
      {
        text: "Installment",
        align: "center",
        sortable: false,
        value: "installment",
        // width: "1px",
      },
      {
        text: "Due Date",
        sortable: false,
        value: "dueDate",
        align: "center",
      },
      {
        text: "Percentage",
        sortable: false,
        value: "percentage",
        align: "center",
        // width: "30%"
      },
      { text: "Amount", sortable: false, value: "amount", align: "center", },
      { text: "Amount Paid", sortable: false, value: "amountPaid", align: "center",},
      {
        text: "Amount Paid %",
        align: "center",
        sortable: false,
        add: 0,
        value: "amountPaidPercent",
        width: '180px'
      },

      { text: "Payment Date", sortable: false, value: "paymentDate", align: "center", },
    ],
    clientTotalAmount: 0,
    clientTotalPercent: 0,
    clientTotalAmountPaid: 0,
    clientTotalAmountPaidPercent: 0,
    client: [],
    clientTotal: 0,
    clientLoading: false,
    insuranceTable: [
      {
        text: "Installment",
        align: "start",
        sortable: false,
        value: "installment",
      },
      {
        text: "Due Date",
        sortable: false,
        value: "dueDate",
      },
      {
        text: "Percentage",
        sortable: false,
        value: "percentage",
      },
      { text: "Amount", sortable: false, value: "amount" },
      { text: "Amount Paid", sortable: false, value: "amountPaid" },
      { text: "Payment Date", sortable: false, value: "paymentDate" },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    totalAmountDetailInsurance: 0,
    totalAmountPaidDetailInsurance: 0,
    insurerTotalAmount: 0,
    insurerTotalPercent: 0,
    insurerTotalAmountPaid: 0,
    insurance: [],
    insuranceTotal: 0,
    insuranceLoading: false,
    // rules: [
    //   (value) =>
    //     !value ||
    //     value.size < 4000000 ||
    //     "Avatar size should be less than 2 MB!",
    // ],
    rules: {
      maxSize10Mb: (value) =>
        !value ||
        value.length < 1 ||
        value.size / 1024 / 1024 < 10 ||
        "File size should be less than 10 MB!",
    },
    prepen: false,
    dialogFileTab: false,
    fileTable: [
      {
        text: "File Name",
        align: "start",
        sortable: false,
        value: "filename",
      },
      {
        text: "Description",
        sortable: false,
        value: "description",
      },
      {
        text: "",
        value: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
      },
    ],
    file: [],
    fileUpload: {
      desc: "",
      doc: [],
    },
    idFile: 0,
    blob: "",
    rawData: "",
    namefile: "",
    fileType: "",
    name: "",
    loading: false,
    insurUw: "",
    insurUwList: [{ value: "", text: "ALL" }],
    detailData: false,
    detailDialog: false,
    detailDialogType: "",
    riskMultiInsuredList: [],
    multiInsuredLoading: false,
    multiInsurOptions: {
      itemsPerPage: -1,
      sortBy: [],
      sortDesc: [],
    },
    awaitingSearchMultiInsured: false,
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    fileTypePreview: null,
    claimDetailDialog: {
      show: false,
      loading: true,
    },
    claimNo: 0,
    fromAccountMaster: true,
    indeterminate: true,
    loadComplete: 0,
    statusLoading: "",
  }),
  watch: {
    dialogFileTab: function (val) {
      if (val) {
        this.fileUpload.desc = "";
        this.fileUpload.doc = null;
      }
    },
    dialogfile: function (val) {
      if (val) {
        this.blob = "";
      }
    },
    multiInsurOptions: {
      handler() {
        console.log("multiInsurOptions", this.multiInsurOptions);
      },
      deep: true,
    },
  },

  computed: {
    getText: function () {
      return function (code, items, codeParam, textParam) {
        var pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    form() {
      return {
        code: this.param.code,
        name: this.param.name,
        address: this.param.address,
        type: this.param.type,
      };
    },
  },

  mounted() {
    this.getById(this.$route.query.invoiceNo);
    // this.getByRisk(this.$route.query.riskCode)
    //  this.getriskname(this.$route.query.riskCode);
    this.param.id = this.$route.query.id;
    this.param.invoiceNo = this.$route.query.invoiceNo;
    // this.param.riskCode = this.$route.query.riskCode;
    this.mode = this.$route.query.mode;
    this.getRiskMultiInsured();
    this.param.idInvoice = this.$route.query.idInvoice;
  },
  methods: {
    onClick() {
      axios({
        url: this.blob,
        methods: "GET",
        responseType: "blob",
      }).then((response) => {
        var fileUrl = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        fileLink.href = fileUrl;
        fileLink.setAttribute("download", this.name);
        document.body.appendChild(fileLink);

        fileLink.click();
      });
    },
    async getFile() {
      this.loading = true;
      try {
        let resp = await API.get(
          "/broking/api/policy/list-file" + "/" + this.input.invoice,
          {}
        );
        if (resp.data.code === 0) {
          let docu = resp.data.data;
          let name = [];
          let i;
          this.loading = false;
          this.file = resp.data.data;
          // this.namefile = resp.data.data.filename;
          for (i = 0; i < docu.length; i++) {
            name.push(docu[i].filename);
          }
          this.namefile = name.toString();
        }
      } catch (e) {
        console.error(e);
        this.loading = false;
      }
    },
    async getBase64(item) {
      this.dialogLoading.show = true;
      try {
        let resp = await API.get(
          "/broking/api/policy/download-file/" + item.id,
          {}
        );
        if (resp.data.code === 0) {
          // this.blob = resp.data.file.rawData;
          // this.name = resp.data.file.filename;
          // this.onClick();
          let binaryString = window.atob(resp.data.file.rawData);
          let binaryLen = binaryString.length;
          let bytes = new Uint8Array(binaryLen);
          for (let i = 0; i < binaryLen; i++) {
            bytes[i] = binaryString.charCodeAt(i);
          }
          const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
          const link = document.createElement("a");
          link.href = downloadUrl;
          link.setAttribute("download", resp.data.file.filename); //any other extension
          document.body.appendChild(link);
          link.click();
          link.remove();
        }
      } catch (e) {
        console.error(e);
      }
      this.dialogLoading.show = false;
    },
    // async getBase64forpreview(item) {
    //   this.rawData = "";
    //   this.dialogLoading.show = true;
    //   this.dialogfile = true;
    //   let resp = await API.get(
    //     "/broking/api/policy/download-file/" + item.id
    //   );
    //   if (resp.data.code === 0) {
    //     this.rawData = resp.data.file.rawData;
    //     this.dialogLoading.show = false;
    //   }
    // },
    async getBase64forpreview(item) {
      this.dialog.show = true;
      this.dialog.success = false;
      this.dialog.false = false;
      this.dialog.errorMessage = "";

      try {
        let resp = await API.get(
          "/broking/api/policy/download-file/" + item.id
        );
        if (resp.data.code === 0) {
          let byteCharacters = atob(resp.data.file.rawData);
          let pdf = "data:" + resp.data.file.contentType + ";base64,";
          let matchPage = byteCharacters.match(/\/Type\s*\/Page\b/g);
          let pageCount = matchPage == null ? 1 : matchPage.length;
          this.totalPage = pageCount;
          this.filePDF = pdf + resp.data.file.rawData;
          this.fileTypePreview = resp.data.file.contentType.includes("image")
            ? "img"
            : // : "pdfObject";
              null;
          this.dialogPDF = true;
        }
      } catch (e) {
        console.error(e);
      }
      this.dialog.show = false;
    },
    fotoUploadsss() {
      // const data = new FormData();
      // for(const [index, file] of this.fileUpload.doc.entries()){
      //     data.append(index, file); // append all files
      // }
      // console.log(data)

      // var accountDocuments = [];

      // for (var d of this.fileUpload.doc) {
      //   var fr = new FileReader();
      //   fr.readAsDataURL(d);
      //   fr.addEventListener("load", () => {
      //     let imagebase64 = fr.result;
      //     this.selectedFile = imagebase64;
      //     this.namefile = d.name;
      //     this.fileType = d.type;
      //     console.log(imagebase64);
      //   });
      //   var doc = {
      //     filename: d.name,
      //     contentType: d.type,
      //     rawData: this.selectedFile,
      //     docUrl: "",
      //   };
      //   accountDocuments.push(doc);
      // }

      // var blob = new Blob(this.fileUpload.doc, {type: this.fileUpload.doc.type});
      // console.log(blob);

      console.log(this.fileUpload.doc)


    },

    async loadingFile() {
      console.log("size", this.fileUpload.doc.size);
      if (
        this.fileUpload.doc != null &&
        this.fileUpload.doc.size / 1024 / 1024 < 10
      ) {
        // this.dialog.show = true;
        await this.fotoUpload();
      } else {
        this.dialog.errorMessage = "";
      }
    },
    async fotoUpload() {
      this.dialogLoading = {
          show: true,
          success: false,
          error: false,
          text: "",
        };

      // this.selectedFile = new Blob(this.fileUpload.doc, {type: this.fileUpload.doc[0].type});
      // console.log(this.selectedFile);


      let vm = this;
      let pathFile = "document_invoice/" + this.$route.query.invoiceNo + "/" + this.fileUpload.doc.name;

      await minioHelper.putObjectMinio(pathFile, function (err, presignedUrl) {
        if (err) {
          console.log(err);
        }
        console.log(presignedUrl);
        
        vm.indeterminate = false;


        try {
          axios
            .put(
              presignedUrl,
              vm.fileUpload.doc,
              {
                  headers: {
                    'Content-Type': vm.fileUpload.doc.type,
                    'Content-Transfer-Encoding': 'Binary'
                  },
                  onUploadProgress: function(progressEvent) {
                    var percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                    // console.log("LOADING: ", percentCompleted + " % | " + vm.currencyFormat(progressEvent.loaded / 1024) + " kb" );
                    vm.statusLoading = percentCompleted + " %";
                    vm.loadComplete = percentCompleted;
                  },
              }
            )
            .then((response) => {
              console.log("response", response)
              console.log("status", response.status)
              vm.indeterminate = true;
              vm.loadComplete = 0;
              vm.afterFotoUpload();
            });
        } catch(error){
          console.error(error);
          vm.dialogLoading.show = false;
        }
      });

      // const formData = new FormData();
      // formData.append(this.fileUpload.doc[0].name, this.fileUpload.doc[0]);

      // for (var d of this.fileUpload.doc) {
      //   var fr = new FileReader();
      //   fr.readAsDataURL(d);
      //   fr.addEventListener("load", () => {
      //     this.dialogLoading.show = true;
      //     let fileBinaryString = fr.result;
      //     this.selectedFile = fileBinaryString;
      //     this.namefile = d.name;
      //     this.fileType = d.type;
      //     // console.log("fileBinaryString", fileBinaryString)
      //   });
      // }

      //

      this.dialogFileTab = false;
    },

    async afterFotoUpload() {
      let paramJSON = {
        file: {
          description: this.fileUpload.desc,
          rawData: "",//this.selectedFile,
          filename: this.fileUpload.doc.name,
          docUrl: "/document_invoice/" + this.$route.query.invoiceNo + "/" + this.fileUpload.doc.name,
          metadata: "",
          contentType: this.fileUpload.doc.type,
          idTransaction: this.param.invoiceNo,
        },
      };
      let param = JSON.stringify(paramJSON);
      await API.post("/broking/api/policy/upload-file-v2", param)
        .then((resp) => {
          this.dialogLoading.show = true;
          if (resp.data.code === 0) {
            this.dialogLoading.success = true;
            this.dialogLoading.text = "Upload Successful";
          } else {
            this.dialogLoading.show = true;
            this.dialogLoading.error = true;
            this.dialogLoading.text = resp.data.errorMessage;
          }
        })
        .catch((e) => {
          console.log("error", e);
          this.dialogLoading.show = true;
          this.dialogLoading.error = true;
          this.dialogLoading.text = "Upload Failed!";
          this.getFile();
        });
    },

    closeUpload() {
      this.getFile();
      this.dialogLoading = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
    },

    async getobjectInsured() {
      // this.dialogLoading.show = true;
      this.multiInsuredLoading = true;
      const { sortBy, sortDesc } = this.multiInsurOptions;
      let param = {
        // refNo: this.input.invoice,
        refNo: this.param.idInvoice,
        riskCode: this.input.riskCode,
      };
      if (
        sortBy != undefined &&
        sortDesc != undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      ) {
        let headerItems = this.headerMultiInsured.filter(
          (value) => value.value == sortBy[0]
        );
        param["sort"] = [
          headerItems[0].sortKey,
          sortDesc[0] ? "desc" : "asc",
          "ignoreCase",
        ].join(",");
      }
      const findHeaderValueNotEmpty = this.headerMultiInsured.filter(
        (value) => String(value.searchValue).length > 0
      );
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.filterKey +
              "." +
              value.filterOperation]: value.searchValue,
            };
          })
        );
      }
      await API.get(
        "broking/api/broking/invoice/list-multi-insured",
        param
      ).then((resp) => {
        if (resp.data.code === 0) {
          let data = resp.data;
          let header = [];
          for (var item of data.headerProperty) {
            let headerItems = this.headerMultiInsured.filter(
              (value) => value.value == item.key
            );
            let newItem = {
              text: item.value,
              align: "center",
              sortable: item.sortBool,
              value: item.key,
              filterable: item.filterBool,
              sortKey: item.sortKey,
              filterKey: item.filterKey,
              width: 100,
              searchValue:
                headerItems.length > 0 ? headerItems[0].searchValue : "",
              filterOperation: item.filterOperation,
            };
            header.push(newItem);
          }
          header.push({
            text: "Actions",
            value: "actions",
            align: "center",
            sortable: false,
          });
          this.headerMultiInsured = header;
          this.dataMultiInsured = data.data;
          (this.totalItemsMulti = data.data), length;

          let metasList = [];
          for (let d of data.data) {
            let metas = {};
            if (typeof d.metas == "object") {
              metas = d.metas;
            } else {
              metas = JSON.parse(d.metas);
            }
            metasList.push(metas);
          }
          this.dataMultiInsured = metasList.map(function (currentValue, Index) {
            currentValue.seqNo = Index + 1;
            return currentValue;
          });
          // this.dialogLoading.show = false;
          // this.dialog = true;
        } else {
          this.dialogLoading.error = true;
          this.dialogLoading.text = resp.data.errorMessage;
          this.loadingMultiInsured = false;
        }
      });
      this.multiInsuredLoading = false;
    },

    async getPaymentHistory() {
      // let resp = await API.get(
      //   "/broking/api/policy/payment-history" + "/" + this.input.invoice,
      //   {}
      // );
      // if (resp.data.code === 0) {
      //   this.loading = false;
      //   this.client = resp.data.installmentClientList;
      //   this.insurance = resp.data.installmentInsurerList;
      //   this.clientTotalAmount = resp.data.clientTotalAmount;
      //   this.clientTotalPercent = resp.data.clientTotalPercent;
      //   this.insurerTotalAmount = resp.data.insurerTotalAmount;
      //   this.insurerTotalPercent = resp.data.insurerTotalPercent;
      // }

      this.clientLoading = true;
      this.insuranceLoading = true;
      let clientParam = {
        "accountNo.equals": this.input.invoice,
        "transType.in": "INV,CN",
      };
      API.get(
        "finance/api/finance/invaccount/getpaymentinfo/debtor",
        clientParam
      )
        .then((resp) => {
          if (resp.data.code == 0) {
            this.clientTotal = parseInt(resp.headers["x-total-count"]);
            this.client = resp.data.listTransaction.map(function (value) {
              value.installment = value.term;
              value.amountPaidPercent = (value.amountPaid / value.amount * 100);
              return value;
            });

            this.clientTotalPercent = resp.data.totalPercentage;
            this.clientTotalAmount = resp.data.totalAmount;
            this.clientTotalAmountPaid = resp.data.totalAmountPaid;
            this.clientTotalAmountPaidPercent = resp.data.totalAmountPaid == 0 ? 0 : (resp.data.totalAmountPaid / resp.data.totalAmount * 100);
          }
          this.clientLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.clientLoading = false;
        });

      let insuranceParam = { "accountNo.equals": this.input.invoice };
      API.get(
        "finance/api/finance/invaccount/getpaymentinfo/creditor",
        insuranceParam
      )
        .then((resp) => {
          if (resp.data.code == 0) {
            this.insuranceTotal = parseInt(resp.headers["x-total-count"]);
            this.insurance = resp.data.listTransaction.map(function (value) {
              value.installment = value.term;
              return value;
            });
            this.insurerTotalPercent = resp.data.totalPercentage;
            this.insurerTotalAmount = resp.data.totalAmount;
            this.insurerTotalAmountPaid = resp.data.totalAmountPaid;

            // get insur uw list
            for (let item of resp.data.detailInsurance
              .listUnderwriterTransaction) {
              let sameCode = this.insurUwList.filter(
                (value) => value.value == item.uwCode
              );
              if (sameCode.length < 1) {
                let toAdd = {
                  value: item.uwCode,
                  text: item.uwCode + " - " + item.uwName,
                };
                this.insurUwList.push(toAdd);
              }
            }
          }
          this.insuranceLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.insuranceLoading = false;
        });
    },
    async getInsuranceDetail(item) {
      this.detailtoInsurance = [];
      this.totalAmountDetailInsurance = 0;
      this.totalAmountPaidDetailInsurance = 0;

      this.toInsuranceDetailLoading = true;
      this.dialogToInsurance = true;
      let insuranceParam = {
        "accountNo.equals": this.input.invoice,
        "term.equals": item.installment,
      };
      let resp = await API.get(
        "finance/api/finance/invaccount/getpaymentinfo/creditor",
        insuranceParam
      );
      if (resp.data.code === 0) {
        this.detailtoInsurance =
          resp.data.detailInsurance.listUnderwriterTransaction;
        this.totalAmountDetailInsurance = resp.data.detailInsurance.totalAmount;
        this.totalAmountPaidDetailInsurance =
          resp.data.detailInsurance.totalAmountPaid;
      }
      this.toInsuranceDetailLoading = false;
    },

    async getlostRecord() {
      let resp = await API.get(
        "/claims/api/claims/claims_maintenance/?invoiceNo.equals=" +
          this.input.invoice,
        {}
      );
      if (resp.data.code === 0) {
        this.loading = false;
        this.lostRecord = resp.data.data;
        // this.idClaims = resp.data.data;
        // this.getClaimDetail();
      }
    },

    async getClaimDetail(item = null) {
      this.dialogLostRecord = false;
      let resp = await API.get(
        "/broking/api/policy/detail-claims" + "/" + item.claimTrans,
        {}
      );
      if (resp.data.code === 0) {
        this.dialogLostRecord = true;
        this.lost.claimTrans = resp.data.claimTrans;
        this.lost.detail = resp.data.detail;
        this.lost.dateOfLoss = resp.data.dateOfLoss;
        this.lost.policyClass = resp.data.policyClass;
        this.lost.underWriter = resp.data.underwriter;
        this.lost.claimOffice = resp.data.claimOffice;
        this.lost.amountToclient = resp.data.toClientAmount;
        this.lost.dateToClient = resp.data.toClientDate;
        this.lost.amountToUnderwiter = resp.data.toUnderwriterAmount;
        this.lost.dateToUnderwriter = resp.data.toUnderwriterDate;
        this.lost.issus = resp.data.ageByIssues;
        this.lost.lossDate = resp.data.ageLostDate;
        this.lost.createdDate = resp.data.createdDate;
        this.lost.createdBy = resp.data.createdBy;
      }
    },

    openClaim(item) {
      this.claimNo = item.id;
      this.claimDetailDialog.loading = true;
      this.claimDetailDialog.show = true;
    },

    onlyNumber(e) {
      const isPrevent =
        (e.keyCode >= 48 && e.keyCode <= 57) ||
        e.keyCode == 8 ||
        e.keyCode == 46;
      if (e.shiftKey || e.altKey || e.ctrlKey) {
        e.preventDefault();
      } else if (!isPrevent) {
        e.preventDefault();
      }
    },

    nameKeydown(e) {
      if (/^\W$/.test(e.key)) {
        e.preventDefault();
      }
    },

    async getById(invoiceNo) {
      this.dialogLoading.show = true;
      let resp = await API.get(
        // "/broking/api/invoice-management/?invoiceNo.equals=" + invoiceNo,
        "/broking/api/broking/invoice/by-invoice-no/" + invoiceNo,
        {}
      );
      //
      if (resp.data.code === 0) {
        this.dialogLoading.show = false;
        const data = resp.data.invoice;
        this.input.invoice = data.invoiceNo;
        this.input.name = data.customerName;
        this.input.risk =
          data.invoiceClass.riskCode + " - " + data.invoiceClass.riskName;
        this.input.business =
          data.invoiceClass.businessCategory +
          " - " +
          data.invoiceClass.businessName;
        this.input.insured = data.invoiceClass.insured;
        this.input.riskCode = data.invoiceClass.riskCode;
        this.input.reffNo = data.idInvoice;
        this.input.period = this.formatDate(
          data.invoiceClass.insurancePeriodFrom
        );
        this.input.periodTo = this.formatDate(
          data.invoiceClass.insurancePeriodEnd
        );
        this.input.policeNumber = data.invoiceClass.policyNo;
        this.input.attachment = this.formatDate(
          data.invoiceClass.attachActiveDate
        );
        this.input.masterPolicy = data.invoiceClass.masterPolicy;
        this.input.location = data.invoiceClass.location;
        this.input.descripton = data.invoiceClass.description;
        // API.get(
        //   "/config/api/master-risk/?page=0&size=10&riskCode.equals=" +
        //     data.riskCode
        // ).then((resp) => {
        //   if (resp.data.code === 0) {
        //     const data = resp.data.data;

        //     let doc = [];
        //     let i;
        //     for (i = 0; i < data.length; i++) {
        //       doc.push(data[i].codeAndName);
        //     }
        //     this.input.risk = doc.toString();
        //   }
        // });
        // API.get(
        //   "/config/api/master-parameter/?page=0&size=10&module.equals=business_ca&code.equals=" +
        //     data.businessCategoryCode
        // ).then((resp) => {
        //   if (resp.data.code === 0) {
        //     const data = resp.data.data;
        //     // let docu = resp.data.data.accountDocuments;
        //     let doc = [];
        //     let i;
        //     for (i = 0; i < data.length; i++) {
        //       doc.push(data[i].codeAndName);
        //     }
        //     this.input.business = doc.toString();
        //   }
        // });

        this.getobjectInsured();
        this.getlostRecord();
        this.getPaymentHistory();
        //  this.getriskNAme();
        this.getFile();
      }
    },
    back() {
      this.$router.push({
        name: "account-management-edit",
        query: { id: this.param.id, mode: "d" },
      });
    },
    changeInsurUw() {
      this.insuranceLoading = true;
      this.insuranceTotal = 0;
      this.insurance = [];
      this.insurerTotalPercent = 0;
      this.insurerTotalAmount = 0;
      this.insurerTotalAmountPaid = 0;

      let insuranceParam = { "accountNo.equals": this.input.invoice };
      if (this.insurUw != "") {
        insuranceParam["uwCode.equals"] = this.insurUw;
      }
      API.get(
        "finance/api/finance/invaccount/getpaymentinfo/creditor",
        insuranceParam
      )
        .then((resp) => {
          if (resp.data.code == 0) {
            this.insuranceTotal = parseInt(resp.headers["x-total-count"]);
            this.insurance = resp.data.listTransaction.map(function (value) {
              value.installment = value.term;
              return value;
            });
            this.insurerTotalPercent = resp.data.totalPercentage;
            this.insurerTotalAmount = resp.data.totalAmount;
            this.insurerTotalAmountPaid = resp.data.totalAmountPaid;
          }
          this.insuranceLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.insuranceLoading = false;
        });
    },
    viewItem(item) {
      let filteredMultiInsured = this.riskMultiInsuredList.filter(
        (i) => i.riskCode == this.input.riskCode
      );
      if (filteredMultiInsured.length > 0) {
        this.detailDialogType = filteredMultiInsured[0].insuredObject.toLowerCase();
      }
      this.detailData = item;
      this.detailDialog = true;
    },
    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_MULTI_INSURED&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    onkeyupSearch() {
      if (!this.awaitingSearchMultiInsured) {
        setTimeout(() => {
          this.getobjectInsured();
          this.awaitingSearchMultiInsured = false;
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearchMultiInsured = true;
    },
    sortClick(value) {
      if (this.multiInsurOptions.sortBy[0] == value) {
        if (this.multiInsurOptions.sortDesc[0] == false) {
          this.multiInsurOptions.sortDesc[0] = true;
        } else if (this.multiInsurOptions.sortDesc[0] == true) {
          this.multiInsurOptions.sortBy = [];
          this.multiInsurOptions.sortDesc = [];
        }
      } else {
        this.multiInsurOptions.sortBy[0] = value;
        this.multiInsurOptions.sortDesc[0] = false;
      }
      this.getobjectInsured();
    },
    handleCloseDialog() {
      this.fileTypePreview = null;
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    formatDateSlice(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${day}/${month}/${year}`;
    },
    async getFilePreview(item) {
      this.dialog.show = true;
      this.dialog.success = false;
      this.dialog.false = false;
      this.dialog.errorMessage = "";

      try {
        let resp = await API.get(
          "/broking/api/policy/download-file-v2/" + item.id
        );
        if (resp.data.code === 0) {
          let vm = this;
          await minioHelper.getObjectMinio(resp.data.file.docUrl, function (
            err,
            presignedUrl
          ) {
            if (err) {
              console.log(err);
            }

            console.log(presignedUrl);
            vm.filePDF = presignedUrl;
            vm.dialogPDF = true;
            vm.dialog.show = false;
          });

          // await minioHelper.getObjectMinio(resp.data.file.docUrl, function (
          //   err,
          //   presignedUrl
          // ) {
          //   if (err) {
          //     console.log(err);
          //   }

          //   console.log(presignedUrl);

          //   axios
          //     .get(
          //       presignedUrl,
          //       { responseType: "blob" } // !!!
          //     )
          //     .then((response) => {
          //       console.log("response", response.data)
          //       const downloadUrl = window.URL.createObjectURL(response.data);
          //       console.log("downloadUrl", downloadUrl)
          //       vm.filePDF = downloadUrl;
          //       vm.dialogPDF = true;
          //       vm.dialog.show = false;
          //     });
          // });
        }
      } catch (e) {
        console.error(e);
        this.dialog.show = false;
      }
    },
    async getFileDownload(item) {
      this.dialog.show = true;
      this.dialog.success = false;
      this.dialog.false = false;
      this.dialog.errorMessage = "";

      try {
        let resp = await API.get(
          "/broking/api/policy/download-file-v2/" + item.id
        );
        if (resp.data.code === 0) {
          let vm = this;
          await minioHelper.getObjectMinio(resp.data.file.docUrl, function (
            err,
            presignedUrl
          ) {
            if (err) {
              console.log(err);
            }

            console.log(presignedUrl);

            axios
              .get(
                presignedUrl,
                { responseType: "blob" } // !!!
              )
              .then((response) => {
                const downloadUrl = window.URL.createObjectURL(response.data);
                const link = document.createElement("a");
                link.href = downloadUrl;
                link.setAttribute("download", item.filename); //any other extension
                document.body.appendChild(link);
                link.click();
                link.remove();
                vm.dialog.show = false;
              });
          });
        }
      } catch (e) {
        console.error(e);
        this.dialog.show = false;
      }
    },
  },
};
</script>

<style>
.no-border .v-input__slot::before {
  border-style: dotted !important;
}
.no-border .v-input__slot::after {
  border-style: none !important;
}
</style>
