<template>
  <v-card flat outlined tile class="pt-2 pb-2"
    ><v-col cols="6" class="pa-0 pl-6" align-self="center">
      <v-row justify="center">
        <v-col class="ma-0 pa-0"><p class="title">Payment Category</p></v-col>
        <v-col cols="9" class="ma-0 pa-0 pr-16" align-self="">
          <v-text-field
            flat
            outlined
            dense
            solo
            hide-details="auto"
            name="status"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="6" class="pa-0 pt-3 pl-6" align-self="center">
      <v-row justify="center">
        <v-col class="ma-0 pa-0"><p class="title">Detail</p></v-col>
        <v-col cols="9" class="ma-0 pa-0 pr-16" align-self="">
          <v-textarea
            flat
            outlined
            dense
            solo
            hide-details="auto"
            name="status"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-col>
    <v-col>
      <v-row class="ma-0 pa-0">
        <v-col>
          <v-card class="mr-5">
            <isttoolbar title="Value to Client" dark color="primary"></isttoolbar>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Amount</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 pl-6">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Deductible</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 pl-6">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Others</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 pl-6">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title red--text">Total</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 pl-6">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
        <v-col>
          <v-card>
            <isttoolbar
              title="Value to Underwriter"
              dark
              color="primary"
            ></isttoolbar>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Amount</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Deductible</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Adjuster Fee</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Total</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                  <v-text-field
                    flat
                    outlined
                    dense
                    solo
                    hide-details="auto"
                    name="status"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-card>
</template>
<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";

export default {
  components: { isttoolbar },
};
</script>
