<template>
  <v-card flat outlined tile class="pt-2 pb-2">
    <v-col>
      <v-row class="ma-0 pa-0">
        <v-card width="650">
          <isttoolbar title="Paid to Client" dark color="primary"></isttoolbar>
          <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
            <v-row class="pa-0">
              <v-col class="ma-0 pa-0 ml-3"><p class="title">Date</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 pl-6">
                <v-text-field
                  flat
                  outlined
                  dense
                  solo
                  hide-details="auto"
                  name="status"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
            <v-row class="pa-0">
              <v-col class="ma-0 pa-0 ml-3"><p class="title">Amount</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 pl-6">
                <v-text-field
                  flat
                  outlined
                  dense
                  solo
                  hide-details="auto"
                  name="status"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
        <v-spacer />
        <v-card width="650">
          <isttoolbar
            title="Received From Underwriter"
            dark
            color="primary"
          ></isttoolbar>
          <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
            <v-row class="pa-0">
              <v-col class="ma-0 pa-0 ml-3"><p class="title">Date</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                <v-text-field
                  flat
                  outlined
                  dense
                  solo
                  hide-details="auto"
                  name="status"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
            <v-row class="pa-0">
              <v-col class="ma-0 pa-0 ml-3"><p class="title">Amount</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                <v-text-field
                  flat
                  outlined
                  dense
                  solo
                  hide-details="auto"
                  name="status"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
      </v-row>
    </v-col>
    <v-col>
      <v-row class="ma-0 pa-0">
        <v-card width="650">
          <isttoolbar
            title="Paid to Adjuster"
            dark
            color="primary"
          ></isttoolbar>
          <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
            <v-row class="pa-0">
              <v-col class="ma-0 pa-0 ml-3"><p class="title">Date</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 pl-6">
                <v-text-field
                  flat
                  outlined
                  dense
                  solo
                  hide-details="auto"
                  name="status"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
            <v-row class="pa-0">
              <v-col class="ma-0 pa-0 ml-3"><p class="title">Amount</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 pl-6">
                <v-text-field
                  flat
                  outlined
                  dense
                  solo
                  hide-details="auto"
                  name="status"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
        <v-spacer />
      </v-row>
    </v-col>
  </v-card>
</template>
<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";

export default {
  components: { isttoolbar },
};
</script>
