Math.abs(<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5">
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="dataAgent"
            class="elevation-1 mb-2"
            fixed-header
            :options.sync="transOptions"
            hide-default-footer
            height="400"
          >
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="(item, idx) in items" :key="idx">
                  <td v-for="(header, key) in headers" :key="key" :item="item">
                    <div
                      align="center"
                      v-if="header.value == 'agentName' && !item.edit"
                    >
                      {{ item[header.value] }}
                    </div>
                    <v-row
                      align="center"
                      justify="center"
                      v-if="header.value == 'agentName' && item.edit"
                    >
                      <v-col cols="2"> </v-col>
                      <v-col cols="8">
                        <v-combobox
                          hide-details="auto"
                          label="Select Agent ..."
                          v-model="editAgent.agentName"
                          ref="agentNameEdit"
                          name="agentNameEdit"
                          :search-input.sync="search.agentName.input"
                          @keyup="autocompSearch(search.agentName)"
                          :items="search.agentName.items"
                          @input="validateAgentEdit"
                          item-value="item"
                          item-text="name"
                          return-object
                          :loading="search.agentName.loading"
                          class="ma-0"
                          flat
                          outlined
                          dense
                          solo
                        ></v-combobox>
                      </v-col>
                      <v-col cols="2"> </v-col>
                    </v-row>
                    <div
                      align="center"
                      v-if="header.value == 'amount' && !item.edit"
                    >
                      <p
                        :class="
                          item[header.value][0] == '-'
                            ? 'mt-4 colorRed'
                            : 'mt-4'
                        "
                      >
                        {{ item[header.value] }}
                      </p>
                    </div>
                    <v-row
                      align="center"
                      justify="center"
                      v-if="header.value == 'amount' && item.edit"
                    >
                      <v-col cols="2"> </v-col>
                      <v-col cols="8">
                        <v-text-field
                          hide-details="auto"
                          ref="agentAmountEdit"
                          name="agentAmountEdit"
                          v-model="editAgent.amount"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          label="Insert Amount"
                          :class="
                            editAgent.amount[0] == '-'
                              ? 'ma-0 input-right input-red'
                              : 'ma-0 input-right'
                          "
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2"> </v-col>
                    </v-row>
                    <div
                      align="center"
                      justify="center"
                      v-if="
                        header.value == 'action' &&
                        invoice.statusPage !== 'view'
                      "
                    >
                      <v-btn
                        v-show="!item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        class="mr-2"
                        @click="clickPencil(item)"
                      >
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="!item.edit"
                        width="30"
                        height="30"
                        outlined
                        icon
                        @click="clickMinus(item)"
                      >
                        <v-icon>mdi-minus</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="item.edit"
                        width="30"
                        height="30"
                        @click="clickCheckEdit(item)"
                        outlined
                        icon
                        class="mr-2"
                        :disabled="statusCheckEdit"
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                      <v-btn
                        v-show="item.edit"
                        width="30"
                        height="30"
                        @click="clickCloseEdit(item)"
                        outlined
                        icon
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr v-show="invoice.statusPage !== 'view'">
                  <td v-for="header in headers" :key="header.text">
                    <v-row
                      align="center"
                      justify="center"
                      v-if="header.value == 'action'"
                    >
                      <v-btn
                        width="30"
                        height="30"
                        v-show="!statusCreate"
                        @click="clickPlus"
                        outlined
                        icon
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                      <v-btn
                        width="30"
                        height="30"
                        v-show="statusCreate"
                        @click="clickCheck"
                        outlined
                        icon
                        class="mr-2"
                        :disabled="statusCheck"
                      >
                        <v-icon>mdi-check</v-icon>
                      </v-btn>
                      <v-btn
                        width="30"
                        height="30"
                        v-show="statusCreate"
                        @click="clickClose"
                        outlined
                        icon
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </v-row>
                    <v-row
                      align="center"
                      justify="center"
                      v-if="header.value == 'agentName'"
                    >
                      <v-col cols="2"> </v-col>
                      <v-col cols="8">
                        <v-combobox
                          v-show="statusCreate"
                          hide-details="auto"
                          label="Select Agent ..."
                          v-model="header.add"
                          ref="agentName"
                          name="agentName"
                          :search-input.sync="search.agentName.input"
                          @keyup="autocompSearch(search.agentName)"
                          :items="search.agentName.items"
                          @input="validateAgent"
                          item-value="item"
                          item-text="name"
                          return-object
                          :loading="search.agentName.loading"
                          class="ma-0"
                          flat
                          outlined
                          dense
                          solo
                        ></v-combobox>
                      </v-col>
                      <v-col cols="2"> </v-col>
                    </v-row>
                    <v-row
                      align="center"
                      justify="center"
                      v-if="header.value == 'amount'"
                    >
                      <v-col cols="2"> </v-col>
                      <v-col cols="8">
                        <v-text-field
                          v-show="statusCreate"
                          hide-details="auto"
                          ref="agentAmount"
                          name="agentAmount"
                          v-model="header.add"
                          v-money="money"
                          solo
                          flat
                          dense
                          outlined
                          label="Insert Amount"
                          :class="
                            header.add[0] == '-'
                              ? 'ma-0 input-right input-red'
                              : 'ma-0 input-right'
                          "
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2"> </v-col>
                    </v-row>
                  </td>
                </tr>
                <tr>
                  <td v-for="header in headers" :key="header.text">
                    <v-row
                      align="center"
                      justify="center"
                      v-if="header.value == 'amount'"
                    >
                      <v-col cols="4">
                        <p class="title mt-3">Total Amount</p>
                      </v-col>
                      <v-col cols="6">
                        <p
                          :class="
                            totalAmount.toString()[0] == '-'
                              ? 'title mt-3 colorRed'
                              : 'title mt-3 '
                          "
                        >
                          {{ formatMoney(Number(totalAmount)) }}
                        </p>
                      </v-col>
                    </v-row>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog
      v-model="dialogValidate.show"
      width="unset"
      min-width="100px"
      @click:outside="(dialogValidate.show = false), (dialogValidate.text = '')"
    >
      <v-card>
        <v-card-title class="justify-center" style="word-break: inherit;">{{
          dialogValidate.text
        }}</v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="(dialogValidate.show = false), (dialogValidate.text = '')"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  directives: { money: VMoney },
  created() {
    this.totalAmount = this.invoice.totalAmountAgent;
    let agent = this.invoice.invoiceAgentList;
    let arrayAgent = [];
    agent.forEach((element) => {
      arrayAgent.push({
        agentId: element.agentId,
        agentName: element.agentName,
        amount: this.formatMoney(element.amount),
        edit: false,
      });
    });
    this.dataAgent = arrayAgent;
  },
  data: () => ({
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    amount: 0,
    statusFocus: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    headers: [
      {
        text: "Agent",
        align: "center",
        sortable: false,
        add: "",
        value: "agentName",
        width: "40%",
      },
      {
        text: "Amount",
        align: "center",
        sortable: false,
        add: "-0.00",
        value: "amount",
        width: "40%",
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        add: "",
        value: "action",
        width: "11%",
      },
    ],
    dataAgent: [],
    editAgent: {},
    search: {
      agentName: {
        name: "agentName",
        input: "",
        items: [],
        url: "/clients/api/account/agent?name.contains=",
        loading: false,
      },
    },
    statusCreate: false,
    totalAmount: 0,
    request: null,
    formHasErrors: false,
    dialogValidate: { show: false, text: "" },
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  mounted() {
    this.getAgent();
  },
  computed: {
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    statusCheck: function () {
      return typeof this.headers[0].add == "object" &&
        this.headers[1].add !== "-0.00" &&
        this.headers[1].add !== "0.00"
        ? false
        : true;
    },
    statusCheckEdit: function () {
      return (typeof this.editAgent.agentName == "object" ||
        this.editAgent.agentName !== "") &&
        this.editAgent.amount !== "-0.00" &&
        this.editAgent.amount !== "0.00"
        ? false
        : true;
    },
    watchPage: function () {
      return this.invoice.statusPage;
    },
  },
  watch: {
    watchPage: function (newValue, oldValue) {
      if (newValue == "view" && oldValue == "edit") {
        this.totalAmount = this.invoice.totalAmountAgent;
        let agent = this.invoice.invoiceAgentList;
        let arrayAgent = [];
        agent.forEach((element) => {
          arrayAgent.push({
            agentId: element.agentId,
            agentName: element.agentName,
            amount: this.formatMoney(element.amount),
            edit: false,
          });
        });
        this.dataAgent = arrayAgent;
      }
    },
  },
  methods: {
    ...mapActions({
      setAgentList: types.ACTION_AGENT_LIST,
      setAgentTotalAmount: types.ACTION_AGENT_TOTAL_AMOUNT,
      setVariousCommissionOut: types.ACTION_VARIOUS_COMMISSION_OUT,
      setIncomeVarious: types.ACTION_INCOME_VARIOUS,
      setIncomeVat: types.ACTION_INCOME_VAT,
      setIncomeNet: types.ACTION_INCOME_NET,
      setIncomeTotal: types.ACTION_INCOME_TOTAL,
      setVariousTotal: types.ACTION_VARIOUS_TOTAL,
    }),
    clickPlus() {
      this.statusCreate = true;
      let premium = this.invoice.toClientPremium.toString();
      for (var i = 0; i < this.dataAgent.length; i++) {
        this.dataAgent[i].edit = false;
      }
      if (premium[0] !== "-") {
        this.headers[1].add = "-0.00";
        this.$refs.agentAmount[0].$el.getElementsByTagName("input")[0].value =
          "-0.00";
      } else {
        this.headers[1].add = "0.00";
        this.$refs.agentAmount[0].$el.getElementsByTagName("input")[0].value =
          "0.00";
      }
    },
    clickClose() {
      this.statusCreate = false;
      this.headers[0].add = "";
      this.headers[1].add = "-0.00";
      this.$refs.agentAmount[0].$el.getElementsByTagName("input")[0].value =
        "-0.00";
    },
    clickCloseEdit(item) {
      let obj = JSON.parse(localStorage.getItem("objAgent"));
      for (var i = 0; i < this.dataAgent.length; i++) {
        if (this.dataAgent[i] == item) {
          this.dataAgent[i].edit = false;
          this.dataAgent[i].agentId = obj.agentId;
          this.dataAgent[i].agentName = obj.agentName;
          this.dataAgent[i].amount = obj.amount;
          this.statusCreate = false;
        }
      }
      localStorage.removeItem("objAgent");
    },
    clickCheck() {
      let obj = {};
      let total = 0;
      for (var header of this.headers) {
        if (header.value != "action") {
          if (header.value == "agentName") {
            obj["agentId"] = header.add.id;
            obj["agentName"] = header.add.name;
          } else if (header.value == "amount") {
            obj["amount"] = header.add;
            total = this.totalAmount + this.convertMoney(header.add);
          }
        }
      }

      let newObj = Object.assign(obj, { edit: false });
      if (this.invoice.invoiceType !== 1) {
        // BUKAN BROKING
        this.totalAmount = Number(total.toFixed(2));
        this.dataAgent.push(newObj);
        this.setAgentList(this.convertData(this.dataAgent));
        this.setAgentTotalAmount(this.totalAmount);

        // Reset Data
        this.headers[0].add = "";
        this.headers[1].add = "-0.00";
        this.$refs.agentAmount[0].$el.getElementsByTagName("input")[0].value =
          "-0.00";
        this.statusCreate = false;
      }

      if (!this.invoice.statusEngineeringFee && this.invoice.invoiceType == 1) { // Without Engineering Fee
        if (total > 0 && this.invoice.toClientPremium > 0 && this.invoice.toUnderwriterPremium > 0 || total < 0 && this.invoice.toClientPremium < 0 && this.invoice.toUnderwriterPremium < 0) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Sign amount invalid or amount is zero"
        } else if (Math.abs(total) > (Math.abs(this.invoice.incomeBrokerage) + Math.abs(this.invoice.variousAddBrokerage))) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Total Commission should not be greater than Total Income in tab Value"
        } else if (Math.abs(total) > Math.abs(this.invoice.incomeBrokerage)) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Amount in Tab Agent can't be greater than Brokerage in Tab Value";
        } else if (Math.abs(total) <= Math.abs(this.invoice.incomeBrokerage)) {
          this.totalAmount = Number(total.toFixed(2));
          this.dataAgent.push(newObj);
          this.setAgentList(this.convertData(this.dataAgent));
          this.setAgentTotalAmount(this.totalAmount);

          this.setVariousCommissionOut(this.totalAmount);

          this.updateIncome();

          // Reset Data
          this.headers[0].add = "";
          this.headers[1].add = "-0.00";
          this.$refs.agentAmount[0].$el.getElementsByTagName("input")[0].value =
            "-0.00";
          this.statusCreate = false;
        }
      } else if (this.invoice.statusEngineeringFee && this.invoice.invoiceType == 1) { // With Engineering Fee
        if (total > 0 && this.invoice.toClientPremium > 0 && this.invoice.toUnderwriterPremium > 0 || total < 0 && this.invoice.toClientPremium < 0 && this.invoice.toUnderwriterPremium < 0) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Sign amount invalid or amount is zero"
        } else if (Math.abs(total) > (Math.abs(this.invoice.incomeBrokerage) + Math.abs(this.invoice.variousAddBrokerage))) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Total Commission should not be greater than Total Income in tab Value"
        } else if (Math.abs(total) > Math.abs(this.invoice.incomeBrokerage)) {
          // if (total > this.invoice.totalEfAmount) {
          //   this.dialogValidate.show = true;
          //   this.dialogValidate.text =
          //     "Total Amount in tab Agent can't be greater than Total EF Amount in tab Engineering Fee";
          // } else if (total <= this.invoice.totalEfAmount) {
            this.totalAmount = Number(total.toFixed(2));
            this.dataAgent.push(newObj);
            this.setAgentList(this.convertData(this.dataAgent));
            this.setAgentTotalAmount(this.totalAmount);
            // this.setVariousCommissionOut(0);
            this.setVariousCommissionOut(this.totalAmount);

            this.updateIncome();

            // Reset Data
            this.headers[0].add = "";
            this.headers[1].add = "-0.00";
            this.$refs.agentAmount[0].$el.getElementsByTagName(
              "input"
            )[0].value = "-0.00";
            this.statusCreate = false;
          // }
        } else if (Math.abs(total) <= Math.abs(this.invoice.incomeBrokerage)) {
          this.totalAmount = Number(total.toFixed(2));
          this.dataAgent.push(newObj);
          this.setAgentList(this.convertData(this.dataAgent));
          this.setAgentTotalAmount(this.totalAmount);
          this.setVariousCommissionOut(this.totalAmount);

          this.updateIncome();

          // Reset Data
          this.headers[0].add = "";
          this.headers[1].add = "-0.00";
          this.$refs.agentAmount[0].$el.getElementsByTagName("input")[0].value =
            "-0.00";
          this.statusCreate = false;
        }
      }
    },
    clickCheckEdit(item) {
      let newObj = {};
      if (typeof item.agentName === "object") {
        newObj["agentId"] = item.agentName.id;
        newObj["agentName"] = item.agentName.name;
      } else {
        newObj["agentId"] = item.agentId;
        newObj["agentName"] = item.agentName;
      }

      let total = 0;
      this.dataAgent.forEach((element) => {
        total = total + this.convertMoney(element.amount);
      });

      if (this.invoice.invoiceType !== 1) {
        // BUKAN BROKING
        for (var l = 0; l < this.dataAgent.length; l++) {
          if (this.dataAgent[l] == item) {
            this.dataAgent[l].edit = false;
            this.dataAgent[l].agentId = newObj.agentId;
            this.dataAgent[l].agentName = newObj.agentName;
            this.dataAgent[l].amount = item.amount;
          }
        }
        this.totalAmount = Number(total.toFixed(2));
        this.setAgentList(this.convertData(this.dataAgent));
        this.setAgentTotalAmount(this.totalAmount);
        localStorage.removeItem("objAgent");
      }
      if (!this.invoice.statusEngineeringFee && this.invoice.invoiceType == 1) { // Without Engineering Fee
        if (total > 0 && this.invoice.toClientPremium > 0 && this.invoice.toUnderwriterPremium > 0 || total < 0 && this.invoice.toClientPremium < 0 && this.invoice.toUnderwriterPremium < 0) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Sign amount invalid or amount is zero"
        } else if (Math.abs(total) > (Math.abs(this.invoice.incomeBrokerage) + Math.abs(this.invoice.variousAddBrokerage))) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Total Commission should not be greater than Total Income in tab Value"
        } else if (Math.abs(total) > Math.abs(this.invoice.incomeBrokerage)) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Amount in Tab Agent can't be greater than Brokerage in Tab Value";
        } else if (Math.abs(total) <= Math.abs(this.invoice.incomeBrokerage)) {
          for (var i = 0; i < this.dataAgent.length; i++) {
            if (this.dataAgent[i] == item) {
              this.dataAgent[i].edit = false;
              this.dataAgent[i].agentId = newObj.agentId;
              this.dataAgent[i].agentName = newObj.agentName;
              this.dataAgent[i].amount = item.amount;
            }
          }
          this.totalAmount = Number(total.toFixed(2));
          this.setAgentList(this.convertData(this.dataAgent));
          this.setAgentTotalAmount(this.totalAmount);
          this.setVariousCommissionOut(this.totalAmount);

          this.updateIncome();

          localStorage.removeItem("objAgent");
        }
      } else if (this.invoice.statusEngineeringFee && this.invoice.invoiceType == 1) { // With Engineering Fee
        if (total > 0 && this.invoice.toClientPremium > 0 && this.invoice.toUnderwriterPremium > 0 || total < 0 && this.invoice.toClientPremium < 0 && this.invoice.toUnderwriterPremium < 0) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Sign amount invalid or amount is zero"
        } else if (Math.abs(total) > (Math.abs(this.invoice.incomeBrokerage) + Math.abs(this.invoice.variousAddBrokerage))) {
          this.dialogValidate.show = true
          this.dialogValidate.text = "Total Commission should not be greater than Total Income in tab Value"
        } else if (Math.abs(total) > Math.abs(this.invoice.incomeBrokerage)) {
          // if (total > this.invoice.totalEfAmount) {
          //   this.dialogValidate.show = true;
          //   this.dialogValidate.text =
          //     "Total Amount in tab Agent can't be greater than Total EF Amount in tab Engineering Fee";
          // } else if (total <= this.invoice.totalEfAmount) {
            for (var j = 0; j < this.dataAgent.length; j++) {
              if (this.dataAgent[j] == item) {
                this.dataAgent[j].edit = false;
                this.dataAgent[j].agentId = newObj.agentId;
                this.dataAgent[j].agentName = newObj.agentName;
                this.dataAgent[j].amount = item.amount;
              }
            }
            this.totalAmount = Number(total.toFixed(2));
            this.setAgentList(this.convertData(this.dataAgent));
            this.setAgentTotalAmount(this.totalAmount);
            // this.setVariousCommissionOut(0);
            this.setVariousCommissionOut(this.totalAmount);

            this.updateIncome();

            localStorage.removeItem("objAgent");
          // }
        } else if (Math.abs(total) <= Math.abs(this.invoice.incomeBrokerage)) {
          for (var k = 0; k < this.dataAgent.length; k++) {
            if (this.dataAgent[k] == item) {
              this.dataAgent[k].edit = false;
              this.dataAgent[k].agentId = newObj.agentId;
              this.dataAgent[k].agentName = newObj.agentName;
              this.dataAgent[k].amount = item.amount;
            }
          }
          this.totalAmount = Number(total.toFixed(2));
          this.setAgentList(this.convertData(this.dataAgent));
          this.setAgentTotalAmount(this.totalAmount);
          this.setVariousCommissionOut(this.totalAmount);

          this.updateIncome();

          localStorage.removeItem("objAgent");
        }
      }
      // this.setAgentList(this.convertData(this.dataAgent))
      // this.setAgentTotalAmount(this.totalAmount)
      // this.setVariousCommissionOut(this.totalAmount)
      // if (document.getElementById("variousCommissionOut")) {
      //   document.getElementById("variousCommissionOut").value = this.formatMoney(this.totalAmount)
      // }
      // localStorage.removeItem("objAgent")
    },
    clickMinus(item) {
      var index = "";
      let total = this.totalAmount - this.convertMoney(item.amount);
      for (var i = 0; i < this.dataAgent.length; i++) {
        if (this.dataAgent[i] == item) {
          index = i;
        }
      }
      for (var j = 0; j < this.dataAgent.length; j++) {
        this.dataAgent[j].edit = false;
      }
      if (String(index).length > 0) {
        this.dataAgent.splice(index, 1);
      }
      this.totalAmount = Number(total.toFixed(2));
      this.setAgentList(this.convertData(this.dataAgent));
      this.setAgentTotalAmount(this.totalAmount);

      if (!this.invoice.statusEngineeringFee && this.invoice.invoiceType == 1) {
        // Without Engineering Fee
        if (total <= this.invoice.incomeBrokerage) {
          this.setVariousCommissionOut(this.totalAmount);

          this.updateIncome();
        }
      } else if (
        this.invoice.statusEngineeringFee &&
        this.invoice.invoiceType == 1
      ) {
        // With Engineering Fee
        if (total > this.invoice.incomeBrokerage) {
          if (total <= this.invoice.totalEfAmount) {
            this.setVariousCommissionOut(0);

            this.updateIncome();
          }
        } else if (total <= this.invoice.incomeBrokerage) {
          this.setVariousCommissionOut(this.totalAmount);

          this.updateIncome();
        }
      }
      // this.setVariousCommissionOut(this.totalAmount)
      // if (document.getElementById("variousCommissionOut")) {
      //   document.getElementById("variousCommissionOut").value = this.formatMoney(this.totalAmount)
      // }
      this.statusCreate = false;
    },
    clickPencil(item) {
      for (var i = 0; i < this.dataAgent.length; i++) {
        if (this.dataAgent[i] == item) {
          this.dataAgent[i].edit = true;
          this.statusCreate = false;
        } else {
          this.dataAgent[i].edit = false;
        }
      }
      localStorage.setItem("objAgent", JSON.stringify(item));
      this.editAgent = item;
    },
    validateAgent(value) {
      for (var item of this.dataAgent) {
        if (item.agentId === value.id) {
          this.dialogValidate.show = true;
          this.dialogValidate.text = "Agent already exists";
          this.headers[0].add = "";
        }
      }
    },
    validateAgentEdit(value) {
      for (var item of this.dataAgent) {
        if (item.agentId === value.id) {
          this.dialogValidate.show = true;
          this.dialogValidate.text = "Agent already exists";
        }
      }
    },
    async getAgent() {
      this.search.agentName.loading = true;
      let resp = await API.get("/clients/api/account/agent?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.agentName.loading = false;
        const data = resp.data.data;
        this.search.agentName.items = data;
      }
    },
    updateIncome() {
      if (document.getElementById("variousCommissionOut") == null) {

        let incomeVarious =
          Number(this.invoice.variousAddBrokerage) +
          Number(this.invoice.variousOthers) +
          this.totalAmount;
        let incomeNet =
          Number(incomeVarious) /
          ((100 + this.invoice.clientVatPercentage) / 100);
        let incomeVat = (Number(incomeVarious) - Number(incomeNet)) * -1;
        let incomeTotal =
          // Number(incomeNet) + Number(this.invoice.incomeBrokerage);
          Number(incomeVarious) + Number(this.invoice.incomeBrokerage);

        this.setVariousTotal(incomeVarious.toFixed(2));
        this.setIncomeVarious(incomeVarious.toFixed(2));
        this.setIncomeVat(incomeVat.toFixed(2));
        this.setIncomeNet(incomeNet.toFixed(2));
        this.setIncomeTotal(incomeTotal.toFixed(2));
      }
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    convertData(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          agentId: element.agentId,
          agentName: element.agentName,
          amount: this.convertMoney(element.amount),
        });
      });
      return array;
    },
  },
};
</script>

<style scoped>
::v-deep .input-right input {
  text-align: right;
}
::v-deep .input-red input {
  color: red;
}
.colorRed {
  color: red;
}
::v-deep
  .v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td
  > div {
  font-size: 1.25rem !important;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 1.25rem !important;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
}
</style>
