<template>
  <v-card flat>
    <v-row>
      <v-col cols="2" class="pr-0 py-0">
        <isttoolbar
          style="border-top-left-radius: 5px"
          title="Finance Claim"
          dark
          color="secondary"
          icon="mdi-finance"
        >
        </isttoolbar>
      </v-col>
      <v-col cols="10" class="pl-0 py-0">
        <isttoolbar
          title="Refund"
          dark
          color="primary"
          class="pa-0"
          style="border-top-right-radius: 5px"
        >
          <v-spacer></v-spacer>
          <v-btn outlined @click="goToAdd" v-show="checkAuthorities('refund-claims-debtor-add')">
            <v-icon left>mdi-plus</v-icon>Create Refund
          </v-btn>
        </isttoolbar>
      </v-col>
    </v-row>
    <isttoolbar dark color="primary" class="pa-0">
      <!-- title="List of Cash Receipt" -->
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-divider class="mx-5" dark vertical></v-divider> -->
            <v-autocomplete
              v-model="filter.underwriter.searchValue"
              label="Select Underwriter"
              hide-details="auto"
              ref="underwriter"
              name="underwriter"
              :items="filter.underwriter.items"
              item-value="code"
              item-text="codeAndName"
              :loading="filter.underwriter.loading"
              clearable
              class="ma-0 compact-field"
              solo
              flat
              outlined
              dense
              full-width
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              :disabled="expanded"
              no-data-text="Type the Underwriter Name."
            ></v-autocomplete>
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Underwriter</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          v-model="filter.underwriter.searchValue"
                          label="Select Underwriter"
                          hide-details="auto"
                          ref="underwriter"
                          name="underwriter"
                          :items="filter.underwriter.items"
                          item-value="code"
                          item-text="codeAndName"
                          :loading="filter.underwriter.loading"
                          clearable
                          class="ma-0 compact-field"
                          solo
                          flat
                          outlined
                          dense
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Payment Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.paymentFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              label="Select Date"
                              v-model="filter.paymentFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.paymentFrom.menu =
                                    !filter.paymentFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.paymentFrom.dataValue"
                            no-title
                            @input="filter.paymentFrom.menu = false"
                            :max="filter.paymentTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.paymentTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              label="Select Date"
                              v-model="filter.paymentTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.paymentTo.menu = !filter.paymentTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.paymentTo.dataValue"
                            no-title
                            @input="filter.paymentTo.menu = false"
                            :min="filter.paymentFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Refund No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          label="Insert Refund Number"
                          v-model="filter.refundNo.searchValue"
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="refundNo"
                          name="refundNo"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0"> </v-row>
                  </v-col>
                </v-row>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="mr-5"
                    @click="listSearch"
                    outlined
                    dark
                    color="primary"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:item.custName="{ item }">
        {{ item.custCode + " - " + item.custName }}
      </template>
      <template v-slot:item.amount="{ item }">
        <div align="right">
          {{ currencyFormat(item.amount) }}
        </div>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="editItem(item, 'd')">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="item.status == 'ENTRY' && checkAuthorities('refund-claims-debtor-edit')"
              @click="editItem(item, 'e')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Underwriter",
        align: "start",
        value: "custName",
        sortable: false,
      },
      {
        text: "Refund No",
        value: "idTran",
        sortable: false,
      },
      {
        text: "Payment Date",
        value: "tranDate",
        sortable: false,
      },
      {
        text: "Currency",
        value: "currency",
        sortable: false,
      },
      {
        text: "Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Entry By",
        value: "entryBy",
        sortable: false,
      },
      {
        text: "Entry Date",
        value: "entryDate",
        sortable: false,
      },
      {
        text: "Status",
        value: "status",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
       underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
      }, 
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        url1: "/clients/api/account/agent?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      status: {
        value: "status",
        searchValue: "",
        searchParam: "equals",
        items: [],
        url: "/config/api/master-parameter/?module.equals=SALES_OPPORTUNITY_STATUS&sort=code,asc,ignoreCase",
        loading: true,
      },
      paymentFrom: {
        value: "paymentDate",
        dataValue: "",
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      paymentTo: {
        value: "paymentDate",
        dataValue: "",
        searchValue: "",
        searchParam: "lessThan",
        menu: false,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
      refundNo: {
        value: "refundNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      invoiceNo: {
        value: "invoiceNo",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
    },
    listParam: [],
    exportLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        let pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "filter.paymentFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() - 0);
          this.filter.paymentFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.paymentFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.paymentTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate() + 1);
          this.filter.paymentTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.paymentTo.searchValue = "";
        }
      },
      deep: true,
    },
  },

  mounted() {
    // this.refresh();
  },

  created() {
    this.$route.query.back == true ? this.backFromAction() : this.optionsHandler = true;
    this.initList(["underwriter", "currency"]);
    this.filter.paymentFrom.dataValue = "";
    this.filter.paymentTo.dataValue = "";
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),

    goToAdd() {
      this.$router.replace({ name: "refund-claims-debtor-add" });
    },

    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (
            String(this.filter[key].searchValue).length > 0 &&
            this.filter[key].searchValue != undefined
          ) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("finance/api/financeclaims/debtor/refund/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },

    editItem(item, mode) {
      this.$router.push({
        name: "refund-claims-debtor-edit",
        query: { id: item.idTran, mode: mode },
      });
      this.storeTable();
    },

    storeTable() {
      let viewListData = {
        dataList : {
          // items: this.items,
          "options": this.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.dataList;
        // this.items = dataCsh.items;
        this.options = dataList.options;
        // this.totalItems = dataCsh.totalItems;
        this.loading = false;
        // let vm = this;
        setTimeout(() => {
          // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
          localStorage.removeItem('viewListData');
          // vm.optionsHandler = true;
        }, 100)
      } //else {
        // this.optionsHandler = true;
      // }  
    },

    viewItem(item) {
      // this.$router.push({
      //   name: "area-regency-detail",
      //   params: { item: item },
      //   query: { id: item.id }
      // });
      console.log(item);
      alert("belum");
    },

    deleteItem(item) {
      if (item.id != null) {
        API.post("/api/master-location/regency/delete/" + item.id).then(
          (resp) => {
            if (resp.data.code == 0) {
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            } else {
              this.errAlert = true;
              setTimeout(() => {
                this.errAlert = false;
              }, 2000);
            }
          }
        );
      }
    },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)] +
            filter[
              !this.expanded ? "toolbarSearchInput" : "searchInput"
            ].toUpperCase(),
          null,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>