<template>
  <v-card flat>
    <isttoolbar
      title="Budgeting"
      dark
      color="secondary"
      icon="mdi-account-cash"
    >
      <v-spacer></v-spacer>
      <v-btn outlined @click="goToAdd">
        <v-icon left>mdi-plus</v-icon>ADD BUDGET
      </v-btn>
    </isttoolbar>
    <isttoolbar
      title="List Of Budgeting"
      flat
      dark
      color="primary"
      class="mb-2 pl-9"
    ></isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="handleView(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item @click="handleEdit(item)">
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";

export default {
  components: {
    isttoolbar,
  },
  data: () => ({
    headers: [
      {
        text: "Period Year",
        align: "center",
        searchable: false,
        sortable: false,
        value: "period",
        width: "45%",
      },
      {
        text: "Description",
        align: "center",
        searchable: false,
        sortable: false,
        value: "description",
        width: "45%",
      },
      {
        text: "",
        value: "actions",
        sortParam: "actions",
        sortable: false,
        searchValue: "",
        searchable: false,
        items: [{ text: "View" }, { text: "Edit" }],
        width: "10%",
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
  }),

  computed: {},

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },

  created() {
    if(this.$route.query.back == true) this.backFromAction();
  },

  methods: {
    refresh() {
      this.getViewList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
    getViewList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        API.get("/report/api/budgetBalance/view-dashboard", param)
          .then((resp) => {
            let data = resp.data.data;
            if (resp.data.code == 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: data,
              });
            }
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      });
    },
    goToAdd() {
      this.$router.replace({
        name: "budgeting-add",
        query: { statusPage: "add" },
      });
    },

    handleView(item) {
      this.$router.replace({
        name: "budgeting-view",
        query: { period: item.period, statusPage: "view" },
      });

      this.storeTable();
    },
    handleEdit(item) {
      this.$router.replace({
        name: "budgeting-view",
        query: { period: item.period, statusPage: "edit" },
      });
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.budgetingDataList;
        this.options = dataList.options;
        this.loading = false;
        setTimeout(() => {
          localStorage.removeItem('viewListData');
        }, 100)
      }
    },

    storeTable() {
      let viewListData = {
        budgetingDataList : {
          "options": this.options,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },
  },
};
</script>
