<template>
  <v-card flat>
    <isttoolbar
      title="Budgeting"
      dark
      color="secondary"
      icon="mdi-account-cash"
    >
      <v-spacer></v-spacer>
      <v-tooltip bottom v-if="$route.query.statusPage === 'view'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="goToEdit"
            text
          >
            <v-icon>mdi-pencil mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="goToCancel"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar
      v-if="$route.query.statusPage === 'view'"
      title="View Budgeting"
      flat
      dark
      color="primary"
      class="mb-2 pl-9"
    ></isttoolbar>
    <isttoolbar
      v-else
      title="Edit Budgeting"
      flat
      dark
      color="primary"
      class="mb-2 pl-9"
    ></isttoolbar>
    <v-card class="mt-2 mb-2 pa-2">
      <v-row align="center">
        <v-col cols="2">
          <p class="title ml-2 mt-4">
            Period Year :
          </p>
        </v-col>
        <v-col cols="3">
          <v-text-field
            v-model="periodYear"
            ref="periodYear"
            name="periodYear"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="7"> </v-col>
      </v-row>
    </v-card>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      fixed-header
      height="500"
      hide-default-header
      hide-default-footer
    >
      <!-- :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }" -->
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <!-- <th
              v-for="header in headers.filter(
                (d) => ['segment'].indexOf(d.value) != -1
              )"
              :key="header.value"
              class="text-sm-body-2 text-center black--text font-weight-medium"
              style="border-bottom: 1px solid #ddd; height: 35px;"
              :rowspan="header.rowspan"
              :colspan="header.colspan"
            >
              <span>{{ header.text }}</span>
            </th> -->
            <th
              v-if="headers[0].value === 'segment'"
              class="text-sm-body-2 text-center black--text font-weight-medium"
              colspan="1"
              style="border-bottom: 1px solid #ddd; height: 35px;"
            >
              <span>Segment</span>
            </th>
            <th
              v-if="
                headers[1].value === 'totalIdrNb' ||
                headers[2].value === 'totalIdrRb' ||
                headers[3].value === 'totalIdrIb'
              "
              class="text-sm-body-2 text-center black--text font-weight-medium"
              colspan="3"
              style="border-bottom: 1px solid #ddd; height: 35px;"
            >
              <span>Total Budget IDR</span>
            </th>
            <th
              v-if="
                headers[4].value === 'totalUsdNb' ||
                headers[5].value === 'totalUsdRb' ||
                headers[6].value === 'totalUsdIb'
              "
              class="text-sm-body-2 text-center black--text font-weight-medium"
              colspan="4"
              style="border-bottom: 1px solid #ddd; height: 35px;"
            >
              <span>Total Budget USD</span>
            </th>
          </tr>
          <tr>
            <th
              v-for="(header, index) in headers.filter(
                (d) =>
                  [
                    'segment',
                    'totalIdrNb',
                    'totalIdrRb',
                    'totalIdrIb',
                    'totalUsdNb',
                    'totalUsdRb',
                    'totalUsdIb',
                    'actions',
                  ].indexOf(d.value) != -1
              )"
              :key="`${header.value + index}header`"
              class="text-sm-body-2 text-center black--text font-weight-medium"
              style="height: 35px;"
            >
              <span>{{ header.text }}</span>
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:item="{ item }">
        <tr class="ma-0 pa-0">
          <td
            v-for="(header, index) in headers"
            :key="`${header.value + index}item`"
            class="text-md-body-1"
            align="center"
          >
            <div
              v-if="
                [
                  'totalIdrNb',
                  'totalIdrRb',
                  'totalIdrIb',
                  'totalUsdNb',
                  'totalUsdRb',
                  'totalUsdIb',
                ].indexOf(header.value) != -1
              "
              align="center"
            >
              {{ formatMoney(Number(item[header.value]),  null, 'table') }}
            </div>
            <v-btn
              v-else-if="header.value == 'actions'"
              width="30"
              height="30"
              outlined
              icon
              class="mr-2"
              @click="handleView(item)"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <div v-else align="center">
              {{ item[header.value] }}
            </div>
          </td>
        </tr>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <budgetDialog
      v-if="budgetingDialog.data.budget"
      :show="budgetingDialog.show"
      :message="budgetingDialog.message"
      :data="budgetingDialog.data"
      v-on:close="budgetingDialog.onClose"
      v-on:yes="budgetingDialog.onYes"
      v-on:no="budgetingDialog.onNo"
      :key="componentKey"
      :status="$route.query.statusPage"
      :title="budgetingDialog.title"
    >
    </budgetDialog>
    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.onError"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import budgetDialog from "@/components/dialog/budgetDialog";
import submitdialog from "@/components/dialog/submitDialog";

export default {
  components: {
    isttoolbar,
    budgetDialog,
    submitdialog,
  },
  data: () => ({
    headers: [
      {
        text: "Code",
        align: "start",
        sortable: false,
        value: "segment",
      },
      {
        text: "New Business",
        align: "center",
        sortable: false,
        value: "totalIdrNb",
      },
      {
        text: "Renewal Business",
        align: "center",
        sortable: false,
        value: "totalIdrRb",
      },
      {
        text: "Incremental Business",
        align: "center",
        sortable: false,
        value: "totalIdrIb",
      },
      {
        text: "New Business",
        align: "center",
        sortable: false,
        value: "totalUsdNb",
      },
      {
        text: "Renewal Business",
        align: "center",
        sortable: false,
        value: "totalUsdRb",
      },
      {
        text: "Incremental Business",
        align: "center",
        sortable: false,
        value: "totalUsdIb",
      },
      {
        text: "",
        value: "actions",
        sortParam: "actions",
        sortable: false,
        searchValue: "",
        style: "width: 10px;",
        class: "pa-0 ma-0",
        items: [{ text: "View" }, { text: "Edit" }],
      },
    ],
    dataPeriod: {},
    items: [],
    totalItems: 0,
    options: {
      page: 0,
      size: -1,
    },
    loading: true,
    periodYear: "",
    filter: {
      periodYear: {
        items: [],
      },
    },
    disableForm: false,
    dataBudget: {},
    componentKey: 0,
    budgetingDialog: {
      show: false,
      message: "",
      title: "",
      data: {},
      onYes: function () {},
      onNo: function () {},
      onClose: function () {},
    },
    submitDialog: {
      show: false,
      mode: "",
      title: "",
      message: "",
      onSuccess: function () {},
      onError: function () {},
    },
  }),

  computed: {},

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    budgetingDialog: {
      handler(newValue) {
        if (this.$route.query.statusPage === "edit") {
          this.totalAmount(newValue.data.budget);
        }
      },
      deep: true,
    },
  },

  created() {
    this.filter.periodYear.items = this.filter.periodYear.items = this.getLastTenYears();
  },

  methods: {
    refresh() {
      this.getViewList(this.$route.query.period).then((data) => {
        this.items = data.items.budgetDetails;
        this.totalItems = data.total;
        this.dataPeriod = data.items;
        this.periodYear = Number(data.items.period);
      });
    },
    getViewList(period) {
      this.loading = true;
      return new Promise((resolve) => {
        // const { page, itemsPerPage } = this.options;
        // let param = {
        //   page: 0,
        //   size: -1,
        // };
        API.get("/report/api/budgetBalance/view-dashboard/yearPeriod/" + period)
          .then((resp) => {
            let data = resp.data.data;
            if (resp.data.code == 0) {
              resolve({
                total: parseInt(resp.headers["x-total-count"]),
                items: data,
              });
            }
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      });
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },
    goToSave() {
      this.$router.replace({ name: "budgeting-list", query: {back: true}, });
    },
    goToEdit() {
      this.$router.replace({
        name: "budgeting-view",
        query: { period: this.$route.query.period, statusPage: "edit" },
      });
    },
    goToCancel() {
      if (this.$route.query.statusPage === "view") {
        this.$router.replace({ name: "budgeting-list", query: {back: true}, });
      } else {
        this.$router.replace({
          name: "budgeting-view",
          query: { period: this.$route.query.period, statusPage: "view" },
        });
      }
    },
    handleView(item) {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      API.get(
        "/report/api/budgetBalance/yearPeriod/" +
          item.yearPeriod +
          "/segment/" +
          item.segment
      )
        .then((resp) => {
          let data = resp.data.data;
          if (resp.data.code === 0) {
            let newData = this.converData(data);
            if (
              this.$route.query.statusPage === "edit" ||
              this.$route.query.statusPage === "add"
            ) {
              let dataConvert = this.converAmount(newData);
              newData = dataConvert;
            }
            let obj = {
              ...item,
              ["budget"]: newData,
            };
            const dataBaru = JSON.parse(JSON.stringify(newData));
            this.dataBudget = dataBaru;
            // Dialog Submit
            this.submitDialog.title = "";
            this.submitDialog.mode = "";
            this.submitDialog.show = false;
            // Dialog Budgeting
            if (this.$route.query.statusPage === "view") {
              this.budgetingDialog.title = "View Budgeting";
            } else if (this.$route.query.statusPage === "edit") {
              this.budgetingDialog.title = "Edit Budgeting";
            } else {
              this.budgetingDialog.title = "New Budgeting";
            }
            this.budgetingDialog.data = obj;
            this.budgetingDialog.onClose = function () {
              vm.budgetingDialog.show = false;
            };
            this.budgetingDialog.onYes = function () {
              vm.handleEdit("onYes");
              vm.submitDialog.mode = "loading";
              vm.submitDialog.show = true;
            };
            this.budgetingDialog.onNo = function () {
              vm.budgetingDialog.show = false;
            };
            this.budgetingDialog.show = true;
            this.componentKey += 1;
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.submitDialog.title = err;
            this.submitDialog.mode = "error";
            this.submitDialog.onError = function () {
              vm.submitDialog.show = false;
            };
          }
        })
        .catch((error) => {
          const err =
            error.data.errorMessage === null
              ? error.data.errorDescription
              : error.data.errorMessage;
          this.submitDialog.title = err;
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },
    handleEdit() {
      let newData = this.converBeforeSave(this.dataBudget);
      let param = JSON.stringify(newData);
      let vm = this;
      API.post("/report/api/budgetBalance/updateBulk", param)
        .then((resp) => {
          if (resp.data.code === 0) {
            // Dialog Submit
            this.submitDialog.title = "";
            this.submitDialog.mode = "";
            this.submitDialog.show = false;
            // Dialog Budgeting
            this.budgetingDialog.show = false;
            this.componentKey += 1;
            this.refresh();
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.submitDialog.title = err;
            this.submitDialog.mode = "error";
            this.submitDialog.onError = function () {
              vm.submitDialog.show = false;
            };
          }
        })
        .catch((error) => {
          const err =
            error.errorMessage === null
              ? error.errorDescription
              : error.errorMessage;
          this.submitDialog.title = err;
          this.submitDialog.mode = "error";
          this.submitDialog.onError = function () {
            vm.submitDialog.show = false;
          };
        });
    },
    converData(item) {
      let curency = {};

      for (const obj of item) {
        !curency[obj.curency]
          ? (curency[obj.curency] = [obj])
          : curency[obj.curency].push(obj);
      }

      for (const [key, obj] of Object.entries(curency)) {
        let month = {};
        for (let data of obj) {
          !month[this.converMonth(data.monthPeriod)]
            ? (month[this.converMonth(data.monthPeriod)] = [data])
            : month[this.converMonth(data.monthPeriod)].push(data);
        }
        curency[key] = month;
      }

      for (const [key, obj] of Object.entries(curency)) {
        for (const [key2, obj2] of Object.entries(obj)) {
          let data = this.converType(obj2, key);
          obj[key2] = data;
        }
      }

      return curency;
    },
    converType(data) {
      let cache = {};
      let newObj = {};

      for (let obj of data) {
        !cache[obj.businessCategory]
          ? ((cache[obj.businessCategory] = { ...obj }), (newObj = { ...obj }))
          : ((cache[obj.businessCategory] = { ...obj }), (newObj = { ...obj }));
      }
      let NB = data
        .map(function (e) {
          return e.businessCategory;
        })
        .indexOf("NB");
      let IB = data
        .map(function (e) {
          return e.businessCategory;
        })
        .indexOf("IB");
      let RB = data
        .map(function (e) {
          return e.businessCategory;
        })
        .indexOf("RB");
      if (NB === -1) {
        cache["NB"] = {
          ...newObj,
          ["amountBudget"]: 0,
          ["businessCategory"]: "NB",
          ["createdDate"]: new Date().toISOString(),
          ["id"]: Math.floor(Math.random() * 90000) + 10000,
        };
      } else if (IB === -1) {
        cache["IB"] = {
          ...newObj,
          ["amountBudget"]: 0,
          ["businessCategory"]: "IB",
          ["createdDate"]: new Date().toISOString(),
          ["id"]: Math.floor(Math.random() * 90000) + 10000,
        };
      } else if (RB === -1) {
        cache["RB"] = {
          ...newObj,
          ["amountBudget"]: 0,
          ["businessCategory"]: "RB",
          ["createdDate"]: new Date().toISOString(),
          ["id"]: Math.floor(Math.random() * 90000) + 10000,
        };
      }
      return cache;
    },
    converMonth(month) {
      let a = Number(month);
      let b = "";
      switch (a) {
        case 1:
          b = "January";
          break;
        case 2:
          b = "February";
          break;
        case 3:
          b = "March";
          break;
        case 4:
          b = "April";
          break;
        case 5:
          b = "May";
          break;
        case 6:
          b = "June";
          break;
        case 7:
          b = "July";
          break;
        case 8:
          b = "August";
          break;
        case 9:
          b = "September";
          break;
        case 10:
          b = "October";
          break;
        case 11:
          b = "November";
          break;
        case 12:
          b = "December";
          break;
      }
      return b;
    },
    converAmount(data) {
      let vm = this;
      for (const currency of Object.values(data)) {
        for (const month of Object.values(currency)) {
          for (const businessCategory of Object.values(month)) {
            businessCategory.amountBudget = vm.formatMoney(
              businessCategory.amountBudget, null, 'converAmount'
            );
          }
        }
      }
      return data;
    },
    converBeforeSave(data) {
      let vm = this;
      let newArray = [];
      for (const currency of Object.values(data)) {
        for (const month of Object.values({ ...currency })) {
          for (const businessCategory of Object.values({ ...month })) {
            businessCategory.amountBudget = vm.convertMoney(
              businessCategory.amountBudget
            );
            newArray.push({ ...businessCategory });
          }
        }
      }
      return newArray;
    },
    totalAmount(data) {
      let vm = this;
      let totalIdrNb = 0;
      let totalIdrRb = 0;
      let totalIdrIb = 0;
      let totalUsdNb = 0;
      let totalUsdRb = 0;
      let totalUsdIb = 0;
      for (const currency of Object.values(data)) {
        for (const month of Object.values(currency)) {
          for (const obj of Object.values(month)) {
            if (obj.businessCategory === "NB" && obj.curency === "IDR") {
              totalIdrNb = totalIdrNb + vm.convertMoney(obj.amountBudget);
            }
            if (obj.businessCategory === "RB" && obj.curency === "IDR") {
              totalIdrRb = totalIdrRb + vm.convertMoney(obj.amountBudget);
            }
            if (obj.businessCategory === "IB" && obj.curency === "IDR") {
              totalIdrIb = totalIdrIb + vm.convertMoney(obj.amountBudget);
            }
            if (obj.businessCategory === "NB" && obj.curency === "USD") {
              totalUsdNb = totalUsdNb + vm.convertMoney(obj.amountBudget);
            }
            if (obj.businessCategory === "RB" && obj.curency === "USD") {
              totalUsdRb = totalUsdRb + vm.convertMoney(obj.amountBudget);
            }
            if (obj.businessCategory === "IB" && obj.curency === "USD") {
              totalUsdIb = totalUsdIb + vm.convertMoney(obj.amountBudget);
            }
          }
        }
      }
      const dataBaru = JSON.parse(JSON.stringify(data));
      this.dataBudget = dataBaru;
      this.budgetingDialog.data.totalIdrNb = totalIdrNb;
      this.budgetingDialog.data.totalIdrRb = totalIdrRb;
      this.budgetingDialog.data.totalIdrIb = totalIdrIb;
      this.budgetingDialog.data.totalUsdNb = totalUsdNb;
      this.budgetingDialog.data.totalUsdRb = totalUsdRb;
      this.budgetingDialog.data.totalUsdIb = totalUsdIb;
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
  },
};
</script>
<style>
.v-data-table--fixed-header
  > .v-data-table__wrapper
  > table
  > thead
  > tr:nth-child(2)
  > th {
  top: 0px;
}
</style>
