<template>
  <v-card flat>
    <isttoolbar
      title="Claims"
      dark
      color="secondary"
      icon="mdi-email-newsletter"
    >
      <v-spacer></v-spacer>
      <v-btn outlined color="white" @click="goToAdd" v-show="checkAuthorities('standard-transaction-add')">
        <v-icon left>mdi-plus</v-icon>Create New
      </v-btn>
    </isttoolbar>
    <isttoolbar dark color="primary" class="pa-0">
      <!-- title="List of Customer Opportunity" -->
      <v-row align="center" class="ma-0 pa-0">
        <v-col cols="12" class="ma-0 pa-0">
          <v-row align="center" class="ma-0 pa-0">
            <!-- <v-divider class="mx-5" dark vertical></v-divider> -->
            <v-autocomplete
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              ref="customer"
              name="customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              v-model="filter.customer.searchValue"
              :items="filter.customer.items"
              @keyup="autocompSearch(filter.customer)"
              :search-input.sync="filter.customer.toolbarSearchInput"
              light
              @change="refresh"
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              :disabled="expanded"
              no-data-text="Type the Customer Name."
            ></v-autocomplete>
            <!-- @keyup="autocompSearch(filter.customer)" -->
            <v-btn
              text
              color="white"
              min-width="10px"
              :disabled="expanded"
              @click="listSearch"
              >Search</v-btn
            >
            <v-menu
              offset-y
              bottom
              nudge-bottom="8px"
              min-width="83.35%"
              :close-on-content-click="false"
              v-model="expanded"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"
                  min-width="20px"
                  v-on="on"
                  v-bind="attrs"
                >
                  <v-icon v-if="expanded">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-3">
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Client/Adjuster</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-autocomplete
                          hide-details="auto"
                          v-model="filter.customer.searchValue"
                          ref="customer"
                          name="customer"
                          :search-input.sync="filter.customer.searchInput"
                          :items="filter.customer.items"
                          item-value="id"
                          item-text="codeAndName"
                          :loading="filter.customer.loading"
                          clearable
                          class="ma-0"
                          solo
                          flat
                          outlined
                          dense
                          no-data-text="Type the Customer Name."
                          @keyup="autocompSearch(filter.customer)"
                        ></v-autocomplete>
                        <!-- @keyup="autocompSearch(filter.customer)" -->
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Claim Date</span>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdFrom.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdFrom.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdFrom.menu =
                                    !filter.createdFrom.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdFrom.dataValue"
                            no-title
                            @input="filter.createdFrom.menu = false"
                            :max="filter.createdTo.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="1" class="ma-0 pa-0">
                        <div class="title text-center">To</div>
                      </v-col>
                      <v-col cols="4" align-self="start" class="ma-0 pa-0">
                        <v-menu
                          v-model="filter.createdTo.menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="filter.createdTo.dataValue"
                              persistent-hint
                              readonly
                              v-bind="attrs"
                              v-on="on"
                              hide-details="auto"
                              solo
                              flat
                              outlined
                              dense
                              clearable
                            >
                              <v-btn
                                slot="append"
                                @click="
                                  filter.createdTo.menu = !filter.createdTo.menu
                                "
                                text
                                icon
                                style="height: auto; width: auto"
                              >
                                <v-icon>mdi-calendar</v-icon>
                              </v-btn>
                            </v-text-field>
                          </template>
                          <v-date-picker
                            v-model="filter.createdTo.dataValue"
                            no-title
                            @input="filter.createdTo.menu = false"
                            :min="filter.createdFrom.dataValue"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row class="ma-1 pa-0">
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Trans No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.transNo.searchValue"
                          label=""
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="transNo"
                          name="transNo"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                    <v-row align="center" class="ma-0 pa-0">
                      <v-col cols="3" class="ma-0 pa-0">
                        <span class="title">Claim No</span>
                      </v-col>
                      <v-col cols="9" align-self="start" class="ma-0 pa-0">
                        <v-text-field
                          v-model="filter.claimno.searchValue"
                          label=""
                          flat
                          outlined
                          dense
                          hide-details="auto"
                          ref="claimno"
                          name="claimno"
                          class="ma-0"
                          solo
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="mr-5"
                    @click="listSearch"
                    outlined
                    dark
                    color="primary"
                  >
                    <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-row>
        </v-col>
      </v-row>
    </isttoolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
    >
      <!-- <template v-slot:[`item.recStatus`]="{ item }">
        <div>
          {{
            item.recStatus == 0
              ? "Entry"
              : item.recStatus == 1
              ? "Approved"
              : "Finalized"
          }}
        </div>
      </template> -->
      <!-- <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <span v-if="header.sortable == false" class="text-subtitle-2">{{
                header.text
              }}</span>
              <v-row v-else style="display: block ruby;">
                <span class="text-subtitle-2">{{ header.text }}</span>
                <v-btn icon @click="sortClick(header.value)">
                  <v-icon :color="getSortIconProp(header).color" dense>{{
                    getSortIconProp(header).icon
                  }}</v-icon>
                </v-btn>
              </v-row>
            </th>
          </tr>
        </thead>
      </template> -->
      <template v-slot:item.isActive="{ item }">
        <div>{{ item.isActive == 1 ? "Active" : "Inactve" }}</div>
      </template>
      <template v-slot:item.idAccount="{ item }">{{ item.name }}</template>
      <template v-slot:item.idTransaction="{ item }">{{
        item.idTransaction
      }}</template>
      <template v-slot:item.clientTotal="{ item }">{{
        item.clientTotal != null ? formatMoney(item.clientTotal) : ""
      }}</template>
      <template v-slot:item.insurerTotal="{ item }">{{
        item.insurerTotal != null ? formatMoney(item.insurerTotal) : ""
      }}</template>
      <template v-slot:item.createdDate="{ item }">
        <span v-if="item.createdDate">{{
          new Date(item.createdDate).toISOString().substr(0, 10)
        }}</span>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left :offset-x="true">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="viewItem(item)">
              <v-list-item-title>View</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-if="item.recStatus === 0"
              @click="
                () => {
                  edit(item);
                }
              "
              v-show="checkAuthorities('standard-transaction-edit')"
            >
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="toDelete=item; dialog = true">
              <v-list-item-title>DELETE</v-list-item-title>
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <template v-slot:no-data></template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="red darken-1"
            text
            @click="
              deleteItem(toDelete);
              dialog = false;
            "
            >Yes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-actions></v-card-actions>
    <v-row justify="center">
      <v-dialog v-model="dialogload.show" persistent max-width="290">
        <v-card v-show="!dialogload.success && !dialogload.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialogload.success || dialogload.error">
          <v-card-title
            v-if="dialogload.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialogload.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialogload.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialogload.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialogload.success ? editItem() : (dialogload.show = false)
              "
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  data: () => ({
    dialogload: { show: false, success: false, error: false, errorMessage: "" },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    amountChanged: false,
    toDelete: {},
    alert: false,
    errAlert: false,
    dialog: false,
    headers: [
      {
        text: "Client",
        align: "start",
        value: "nameAccount",
        sortable: false,
      },
      {
        text: "Trans No",
        value: "idTransaction",
        sortable: false,
      },
      {
        text: "Trans Date",
        value: "createdDate",
        sortable: false,
      },
      {
        text: "Claim No",
        value: "claimNo",
        sortable: false,
      },
      {
        text: "Total to Client",
        value: "clientTotal",
        sortable: false,
      },
      {
        text: "Total to Underwriter",
        value: "insurerTotal",
        sortable: false,
      },
      {
        text: "Status",
        value: "recStatusDesc",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    expanded: false,
    filter: {
      customer: {
        value: "idAccount",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        url1: "/clients/api/account/adjuster?codeOrName.contains=",
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      transNo: {
        value: "idTransaction",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
      createdFrom: {
        value: "createdDate",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "greaterThanOrEqual",
        menu: false,
      },
      createdTo: {
        value: "createdDate",
        dataValue: new Date().toISOString().substr(0, 10),
        searchValue: "",
        searchParam: "lessThanOrEqual",
        menu: false,
      },
      claimno: {
        value: "idClaim",
        dataValue: "",
        searchValue: "",
        searchParam: "equals",
      },
    },
    listParam: [],
    exportLoading: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    hasEnd() {
      return (
        this.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1,
        }
      );
    },
    getText: function () {
      return function (code, items, codeParam, textParam) {
        var pItem = this.filter[items].items.filter(
          (value) => value[codeParam] == code
        );
        return pItem.length > 0 ? pItem[0][textParam] : code;
      };
    },
    getSortIconProp: function () {
      return function (header) {
        let prop = { color: "", icon: "mdi-sort" };
        if (
          header.value == this.options.sortBy[0] &&
          !this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-ascending";
        } else if (
          header.value == this.options.sortBy[0] &&
          this.options.sortDesc[0]
        ) {
          prop.color = "primary";
          prop.icon = "mdi-sort-descending";
        }
        return prop;
      };
    },
  },

  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    "filter.createdFrom.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          // date.setDate(date.getDate() - 1);
          this.filter.createdFrom.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdFrom.searchValue = "";
        }
      },
      deep: true,
    },
    "filter.createdTo.dataValue": {
      handler: function (after, before) {
        console.log("before", before);
        if (after != "" && after != null) {
          let date = new Date(after);
          date.setDate(date.getDate());
          this.filter.createdTo.searchValue = new Date(date)
            .toISOString()
            .substr(0, 10);
        } else {
          this.filter.createdTo.searchValue = "";
        }
      },
      deep: true,
    },
  },

  mounted() {
    // this.refresh();
  },

  created() {
    this.$route.query.back == true ? this.backFromAction() : this.optionsHandler = true;
    this.initList(["customer"]);
    this.filter.createdFrom.dataValue = "";
    this.filter.createdTo.dataValue = "";
  },

  methods: {
    // view() {
    //   this.$router.replace({ name: "create" });
    // },
    goToAdd() {
      this.$router.push({
        name: "standard-transaction-add",
      });
    },

    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },

    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        var findHeaderValueNotEmpty = [];
        Object.keys(this.filter).forEach((key) => {
          if (String(this.filter[key].searchValue).length > 0) {
            findHeaderValueNotEmpty.push(this.filter[key]);
          }
        });
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + "." + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        this.listParam = param;
        API.get("claims/api/claims/standard-transaction/view-list", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              // let items = resp.data.data;
              // this.items = items;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log("INI Error");
            this.dialogload.show = true;
            this.dialogload.error = true;
            this.dialogload.errorMessage = "Failed to load";
            console.log(error);
            this.loading = false;
          });
      });
    },

    edit(item) {
      this.$router.push({
        name: "standard-transaction-edit",
        query: { id: item.id, status: item.recStatus, mode: "e" },
      });
      this.storeTable();
    },

    storeTable() {
      let viewListData = {
        dataList : {
          // items: this.items,
          "options": this.options,
          // "totalItems": this.totalItems,
          // "scrollLeft": window.scrollX,
          // "scrollTop": window.scrollY,
        }
      }
      localStorage.setItem("viewListData", JSON.stringify(viewListData))
    },

    backFromAction() {
      let dataViewList = JSON.parse(localStorage.getItem('viewListData'));
      if(dataViewList) {
        let dataList = dataViewList.dataList;
        // this.items = dataCsh.items;
        this.options = dataList.options;
        // this.totalItems = dataCsh.totalItems;
        this.loading = false;
        // let vm = this;
        setTimeout(() => {
          // window.scrollTo(dataCsh.scrollLeft, dataCsh.scrollTop)
          localStorage.removeItem('viewListData');
          // vm.optionsHandler = true;
        }, 100)
      } //else {
        // this.optionsHandler = true;
      // }  
    },

    viewItem(item) {
      this.$router.push({
        name: "standard-transaction-edit",
        query: { id: item.id, status: item.recStatus, mode: "d" },
      });
      this.storeTable();
    },

    listSearch() {
      this.expanded = false;
      this.options.page = 1;
      this.refresh();
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
        this.filter[l].loading = false;
      }
    },

    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)] +
            filter[
              !this.expanded ? "toolbarSearchInput" : "searchInput"
            ].toUpperCase(),
          null,
          null,
          axiosSource.token
        ).then((resp) => {
          filter.loading = false;
          if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
        })
        .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },

    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
  },
};
</script>