<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar dark color="secondary" icon="mdi-email-newsletter">
        <h5 style="font-size: 1.5em" class="font-weight-regular">Claims</h5>
        <!-- <v-spacer></v-spacer> -->
      </isttoolbar>
      <isttoolbar dark color="primary" class="mb-2" v-if="mode === 'd'"
        ><h5 style="font-size: 1.3em" class="font-weight-regular pl-9">
          View Standard Transaction
        </h5></isttoolbar
      >
      <isttoolbar dark color="primary" class="mb-2" v-if="mode === 'e'"
        ><h5 style="font-size: 1.3em" class="font-weight-regular pl-9">
          Edit Standard Transaction
        </h5></isttoolbar
      >
    </div>
    <div class="buttonFixed">
      <v-btn
        outlined
        color="white"
        class="mx-3"
        width="100px"
        dark
        v-if="mode === 'e'"
        @click="save"
      >
        Save
      </v-btn>
      <v-btn
        outlined
        color="white"
        class="mx-0"
        width="100px"
        dark
        @click="back"
        v-if="mode === 'e'"
      >
        Cancel
      </v-btn>
      <v-btn
        v-show="mode === 'd' && params.status == 0// && checkAuthorities('standard-transaction-approve')
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogApproved = true"
        >Approve Transaction</v-btn
      >
      <v-btn
        v-show="mode === 'd' && params.status == 1// && checkAuthorities('standard-transaction-approve')
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogUnApproved = true"
        >Unapprove Transaction</v-btn
      >
      <v-btn
        v-show="mode === 'd' && params.status == 1// && checkAuthorities('standard-transaction-close')
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogClosed = true"
        >Finalized Transaction</v-btn
      >
      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <printaction
            v-bind="attrs"
            v-on="on"
            :items="printData"
            :id="param.id"
            :status="params.recStatus"
            idParam="idStandardTrx"
            :customer="params.customer"
          >
          </printaction>
        </template>
        <span>Print</span>
      </v-tooltip>
      <v-tooltip bottom v-if="mode === 'd' && params.status == 0">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="change"
            text
            dark
            v-show="checkAuthorities('standard-transaction-edit')"
          >
            <v-icon>mdi-pencil mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
            dark
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </div>
    <v-form :readonly="mode === 'd'" class="contentFix">
      <v-row class="ml-2 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Status
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title" v-if="status == null || ''"> - </span>
              <span class="title font-weight-regular" v-else>
                {{ params.recStatus }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ml-2 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Trans No
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span class="title font-weight-regular">
                {{ params.transNo }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ml-2 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Trans Date
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <span
                class="title font-weight-regular"
                v-text="formatDate.split('/').join('-')"
              >
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ml-2 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                Customer Type
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <!-- <span class="title font-weight-regular">
                {{ params.customerType }}
              </span> -->
              <v-radio-group
                hide-details="auto"
                class="mt-0 ml-2"
                dense
                v-model="params.customerType"
              >
                <v-row>
                  <v-radio
                    value="Client"
                    label="Client"
                    :disabled="params.customerType != 'Client'"
                  ></v-radio>
                  <v-radio
                    class="mt-n2 ml-3"
                    value="Adjuster"
                    label="Adjuster"
                    :disabled="params.customerType != 'Adjuster'"
                  ></v-radio>
                </v-row>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="ml-2 pa-0">
        <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
          <v-row align="center" class="ma-0 pa-0">
            <v-col cols="3" class="pa-1">
              <span class="title title font-weight-bold">
                <!-- Client -->
                <!-- <span class="error--text">*</span> -->
              </span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Customer"
                ref="customer"
                name="customer"
                class="ma-0 pa-0"
                v-model="params.customer"
                readonly
                flat
                outlined
                dense
                solo
                :loading="params.customer"
              >
              </v-text-field>
              <!-- <span class="title font-weight-regular">
                {{ params.customerCode }} - {{ params.customer }}
              </span> -->
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="pa-7 pb-2">
        <v-col cols="6">
          <v-card class="mr-4">
            <isttoolbar title="Claim Info" dark color="primary"></isttoolbar>
            <v-col cols="12" class="ma-0 pa-0 pl-3 pt-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Claim No</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.claimNo"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Re Open</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.reOpen"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Insured</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.insured"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Loss Date</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="flipDateFormat(claimInfo.lossDate)"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2 pb-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Cause of Loss</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="claimInfo.causeOfLoss"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card>
            <isttoolbar title="Policy Info" dark color="primary"></isttoolbar>
            <v-col cols="12" class="ma-0 pa-0 pl-3 pt-2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Class</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="policyInfo.class"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <!-- <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"><p class="title">Folio</p></v-col>
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p class="title font-weight-regular" v-text="policyInfo.folio">  </p>
                </v-col>
              </v-row>
            </v-col> -->
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Policy Number</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="policyInfo.policyNumber"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0 pl-3 mt-n2">
              <v-row class="pa-0">
                <v-col class="ma-0 pa-0 ml-3"
                  ><p class="title">Underwriter</p></v-col
                >
                <v-col cols="9" class="ma-0 pa-0 mr-2 pr-9" align-self="center">
                  <p
                    class="title font-weight-regular"
                    v-text="policyInfo.underwriter"
                  ></p>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
      <isttoolbar light color="secondToolbar" class="mb-2 mt-2"
        ><h5 style="font-size: 1.3em" class="font-weight-regular pl-9">
          Details
        </h5></isttoolbar
      >
      <!-- <p> // ----Tab DEtail ----</p> -->
      <v-card flat outlined tile class="pt-2 pb-2">
        <v-row>
          <v-col cols="6" class="pa-0 pl-6" align-self="center">
            <v-row justify="center">
              <v-col class="ma-0 pa-0"
                ><p class="title">
                  Payment Type<span class="error--text">*</span>
                </p>
              </v-col>
              <v-col cols="9" class="ma-0 pa-0 pr-16">
                <v-autocomplete
                  label="Select Payment Type"
                  hide-details="auto"
                  v-model="params.receivedType"
                  ref="receivedType"
                  name="receivedType"
                  :items="filter.receivedType.items"
                  :loading="filter.receivedType.loading"
                  item-value="code"
                  item-text="value"
                  class="ma-0"
                  :rules="mode == 'd' ? [] : [rules.required]"
                  flat
                  outlined
                  dense
                  solo
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="pa-0 pl-6" align-self="center">
            <v-row justify="center">
              <v-col class="ma-0 pa-0">
                <p class="title">
                  Payment Category<span class="error--text">*</span>
                </p>
              </v-col>
              <v-col cols="9" class="ma-0 pa-0 pr-16">
                <v-autocomplete
                  label="Select Payment Category"
                  hide-details="auto"
                  v-model="params.paymentCategory"
                  ref="paymentCategory"
                  name="paymentCategory"
                  :items="filter.paymentCategory.items"
                  :loading="filter.paymentCategory.loading"
                  item-value="code"
                  item-text="value"
                  class="ma-0"
                  flat
                  outlined
                  dense
                  solo
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" class="pa-0 pl-6" align-self="center">
            <v-row justify="center">
              <v-col class="ma-0 pa-0"
                ><p class="title">Currency<span class="error--text">*</span></p>
              </v-col>
              <v-col cols="9" class="ma-0 pa-0 pr-16">
                <v-autocomplete
                  label="Select Currency"
                  hide-details="auto"
                  v-model="claimInfo.currency"
                  ref="currency"
                  name="currency"
                  :items="filter.currency.items"
                  :loading="filter.currency.loading"
                  v-on:change="changeCurrency"
                  item-value="code"
                  :item-text="currencyTextItem"
                  class="ma-0"
                  :rules="mode == 'd' ? [] : [rules.required]"
                  flat
                  outlined
                  dense
                  solo
                  readonly
                  append-icon=""
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" class="pa-0 pl-6" align-self="center">
            <v-row justify="center">
              <v-col class="ma-0 pa-0"
                ><p class="title">Exchange Rate</p></v-col
              >
              <v-col cols="9" class="ma-0 pa-0 pr-16">
                <v-text-field
                  hide-details="auto"
                  label="Exchange Rate"
                  ref="excRate"
                  name="excRate"
                  class="ma-0 input-right"
                  v-model="params.excRate"
                  readonly
                  flat
                  outlined
                  dense
                  solo
                  :loading="params.excRateLoading"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" class="pa-0 pt-3 pl-6" align-self="center">
            <v-row justify="center">
              <v-col class="ma-0 pa-0"><p class="title">Detail</p></v-col>
              <v-col cols="9" class="ma-0 pa-0 pr-16">
                <v-textarea
                  flat
                  outlined
                  dense
                  solo
                  v-model="params.detail"
                  hide-details="auto"
                  name="detail"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-col>
          <v-row v-if="mode === 'd'" class="ma-0 pa-0">
            <v-col>
              <v-card class="mr-5 pb-3">
                <isttoolbar
                  title="Value to Client"
                  dark
                  color="primary"
                ></isttoolbar>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Amount</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="formatMoney(params.valueToClient.amount)"
                        name="amountClient"
                        :class="
                          amountClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        :readonly="params.customerType == 'Adjuster'"
                      ></v-text-field>
                      <div
                        class="ma-0 pa-0"
                        v-show="params.customerType == 'Client'"
                      >
                        <span class="primary--text"
                          >Negative (-) Amount input for CCN to Client</span
                        ><br />
                        <span class="primary--text"
                          >Positive (+) Amount input for CDN to Client</span
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Deductible</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="formatMoney(params.valueToClient.deductible)"
                        name="deductibleClient"
                        :class="
                          deductibleClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        :readonly="params.customerType == 'Adjuster'"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Others</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        :value="formatMoney(params.valueToClient.other)"
                        hide-details="auto"
                        name="othersClient"
                        :class="
                          othersClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        readonly
                      >
                      <!-- :readonly="params.customerType == 'Adjuster'" -->
                      </v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title red--text">Total</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        readonly
                        :value="formatMoney(params.valueToClient.total)"
                        hide-details="auto"
                        name="total"
                        style="font-weight: bold"
                        class="ma-0 input-right"
                        :class="
                          formatMoney(params.valueToClient.total)[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>
            </v-col>
            <v-col>
              <v-card class="pb-3">
                <isttoolbar
                  title="Value From Underwriter"
                  dark
                  color="primary"
                ></isttoolbar>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Amount</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        :value="formatMoney(params.valueToUnderwriter.amount)"
                        hide-details="auto"
                        name="amountUnderwriter"
                        :class="
                          amountUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        :readonly="params.customerType == 'Adjuster'"
                      ></v-text-field>
                      <span style="color: transparent">I</span>
                      <br />
                      <span style="color: transparent">I</span>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Deductible</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="
                          formatMoney(params.valueToUnderwriter.deductible)
                        "
                        name="deductibleUnderwriter"
                        :class="
                          deductibleUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        :readonly="params.customerType == 'Adjuster'"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Adjuster Fee</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        v-money="money"
                        hide-details="auto"
                        :value="
                          formatMoney(params.valueToUnderwriter.adjusterFee)
                        "
                        name="adjusterFee"
                        :class="
                          adjusterFeeUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        :readonly="params.customerType == 'Client'"
                      ></v-text-field>
                      <div
                        class="ma-0 pa-0"
                        v-show="params.customerType == 'Adjuster'"
                      >
                        <span class="primary--text"
                          >Negative (-) Adjuster Fee input for CDN to
                          Adjuster</span
                        ><br />
                        <span class="primary--text"
                          >Positive (+) Adjuster Fee input for CCN to
                          Adjuster</span
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Total</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        hide-details="auto"
                        name="totalUnderwriter"
                        :value="formatMoney(params.valueToUnderwriter.total)"
                        style="font-weight: bold"
                        class="ma-0 input-right"
                        :class="
                          formatMoney(params.valueToUnderwriter.total)[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
          <v-row v-else-if="mode === 'e'" class="ma-0 pa-0">
            <v-col>
              <v-card class="mr-5 pb-3">
                <isttoolbar
                  title="Value to Client"
                  dark
                  color="primary"
                ></isttoolbar>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Amount</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        @input="editFieldAmount = true"
                        v-money="editFieldAmount ? money : ''"
                        hide-details="auto"
                        v-model="amountClient"
                        name="amountClient"
                        :class="
                          amountClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                      <div
                        class="ma-0 pa-0"
                        v-show="params.customerType == 'Client'"
                      >
                        <span class="primary--text"
                          >Negative (-) Amount input for CCN to Client</span
                        ><br />
                        <span class="primary--text"
                          >Positive (+) Amount input for CDN to Client</span
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Deductible</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        @input="editFieldAmount = true"
                        v-money="editFieldAmount ? money : ''"
                        hide-details="auto"
                        v-model="deductibleClient"
                        name="deductibleClient"
                        :class="
                          deductibleClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Others</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        @input="editFieldAmount = true"
                        v-money="editFieldAmount ? money : ''"
                        v-model="othersClient"
                        hide-details="auto"
                        name="othersClient"
                        :class="
                          othersClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-1">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Total</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 pl-6">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        readonly
                        :value="formatMoney(totalClient)"
                        hide-details="auto"
                        name="totalClient"
                        ref="totalClient"
                        style="font-weight: bold"
                        class="ma-0 input-right"
                        :class="
                          totalClient[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>
            </v-col>
            <v-col>
              <v-card class="pb-3">
                <isttoolbar
                  title="Value From Underwriter"
                  dark
                  color="primary"
                ></isttoolbar>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Amount</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        @input="editFieldAmount = true"
                        v-money="editFieldAmount ? money : ''"
                        v-model="amountUnderwriter"
                        hide-details="auto"
                        name="amountUnderwriter"
                        ref="amountUnderwriter"
                        :class="
                          amountUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                      <span style="color: transparent">I</span>
                      <br />
                      <span style="color: transparent">I</span>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Deductible</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        @input="editFieldAmount = true"
                        v-money="editFieldAmount ? money : ''"
                        hide-details="auto"
                        v-model="deductibleUnderwriter"
                        name="deductibleUnderwriter"
                        ref="deductibleUnderwriter"
                        :class="
                          deductibleUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Adjuster Fee</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        @input="editFieldAmount = true"
                        v-money="editFieldAmount ? money : ''"
                        hide-details="auto"
                        v-model="adjusterFeeUnderwriter"
                        name="adjusterFee"
                        ref="adjusterFee"
                        :class="
                          adjusterFeeUnderwriter[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                      <div
                        class="ma-0 pa-0"
                        v-show="params.customerType == 'Adjuster'"
                      >
                        <span class="primary--text"
                          >Negative (-) Adjuster Fee input for CDN to
                          Adjuster</span
                        ><br />
                        <span class="primary--text"
                          >Positive (+) Adjuster Fee input for CCN to
                          Adjuster</span
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="11" class="ma-3 py-0 pl-0 pr-3">
                  <v-row class="pa-0">
                    <v-col class="ma-0 pa-0 ml-3"
                      ><p class="title">Total</p></v-col
                    >
                    <v-col cols="9" class="ma-0 pa-0 mr-3 pl-1">
                      <v-text-field
                        flat
                        outlined
                        dense
                        solo
                        hide-details="auto"
                        name="totalUnderwriter"
                        :value="formatMoney(totalUnderwriter)"
                        style="font-weight: bold"
                        class="ma-0 input-right"
                        :class="
                          formatMoney(totalUnderwriter)[0] == '-'
                            ? 'ma-0 input-right my-text-style'
                            : 'ma-0 input-right'
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-card outlined rounded="25" elevation="2" class="mr-2 ml-2">
          <v-col>
            <v-row class="ml-2 pa-0">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Entry By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.entryBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="params.entryDate.date"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Approved By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>

                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.approvedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="params.approvedDate.date"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col>
            <v-row class="ml-2 pa-0">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Modified By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.modifiedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      v-model="params.modifiedDate.date"
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Finalized By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>

                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      v-model="params.closedBy"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      v-model="params.closedDate.date"
                      hide-details="auto"
                      ref="customer"
                      name="customer"
                      readonly
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
      </v-card>
    </v-form>
    <v-row justify="center">
      <v-dialog
        v-model="dialog.show"
        persistent
        max-width="290px"
        width="unset"
      >
        <v-card v-show="!dialog.success && !dialog.error" width="290px">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error" max-width="290px">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? getByIds() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogApproved"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Are you sure want to Approve Claim?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                doApprove();
                dialogApproved = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogApproved = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogClosed"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Are you sure want to Finalize Claim?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                doFinalized();
                dialogClosed = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogClosed = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogUnApproved"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Are you sure want to Unapprove Claim?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                doUNApprove();
                dialogUnApproved = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogUnApproved = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog
      v-model="dialogValidate.show"
      width="unset"
      min-width="290px"
      @click:outside="
        (dialogValidate.show = false),
          (dialogValidate.text = ''),
          (dialogValidate.error = '')
      "
    >
      <v-card min-width="290px">
        <v-card-title
          class="d-flex justify-center"
          style="word-break: inherit; display: inline-block; text-align: center"
        >
          {{ dialogValidate.text }}
        </v-card-title>
        <v-card-text
          v-if="dialogValidate.error"
          class="d-flex justify-center error--text"
          style="word-break: inherit"
        >
          {{ dialogValidate.error }}
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              (dialogValidate.show = false),
                (dialogValidate.text = ''),
                (dialogValidate.error = '')
            "
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="submitDialog.onError"
    >
    </submitdialog>
    <v-row justify="center">
      <v-col cols="6">
        <v-progress-linear
          :active="loadingdoc"
          :indeterminate="loadingdoc"
          color="primary"
          rounded
          height="6"
        ></v-progress-linear>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { VMoney } from "v-money";
import printaction from "@/components/toolbars/printAction";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  directives: { money: VMoney },
  components: {
    isttoolbar,
    printaction,
    submitdialog,
  },
  upload() {
    return {
      selectedFile: "",
      selectName: null,
      selectType: null,
    };
  },
  data: () => ({
    editFieldAmount: false,
    dialogApproved: false,
    dialogClosed: false,
    dialogUnApproved: false,
    formHasErrors: false,
    dialogValidate: { show: false, text: "", error: "" },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    amountClient: "",
    deductibleClient: "",
    othersClient: "",
    amountUnderwriter: "",
    deductibleUnderwriter: "",
    adjusterFeeUnderwriter: "",
    reportDialog: { show: false },
    printItemsUnderwriter: [
      {
        text: "Claim Debit Note to Underwriter",
        name: "Claim Debit Note to Underwriter",
        url: "claims/api/claims/standard-transaction/generate-underwriter",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: true,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
      {
        text: "Claim Credit Note to Client",
        name: "Claim Credit Note to Client",
        url: "claims/api/claims/standard-transaction/generate-client",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: false,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
    ],
    printData: [],
    printItemsClient: [
      {
        text: "Claim Debit Note to Client",
        name: "Claim Debit Note to Client",
        url: "claims/api/claims/standard-transaction/generate-client",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: false,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
      {
        text: "Claim Credit Note to Underwriter",
        name: "Claim Credit Note to Underwriter",
        url: "claims/api/claims/standard-transaction/generate-underwriter",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: ["ENTRY", "CLOSE", "APPROVE"],
        showUwOpt: true,
        uwVal: "",
        uwList: [{ id: "", name: "All Underwriter" }],
      },
    ],
    claimInfo: {
      idAccount: "",
      claimNo: "",
      reOpen: "",
      insured: "",
      lossDate: "",
      causeOfLoss: "",
    },
    policyInfo: {
      class: "",
      folio: "",
      policyNumber: "",
      underwriter: "",
    },
    dialogApprove: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    dialogclose: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    dialogUnApprove: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    loadingdoc: false,
    status: "",
    statusApprove: false,
    statusPage: "",
    oriMode: "",
    mode: "",
    tab: 0,
    itemsTabs: [{ tab: "Detail" }],
    param: {
      id: 0,
    },
    params: {
      recStatus: "",
      status: "",
      transNo: "",
      transDate: {
        date: "",
        menu: false,
      },
      customer: "",
      customerCode: "",
      adjuster: "",
      customerType: "",
      receivedType: "",
      excRate: "0.00",
      excRateLoading: false,
      detail: "",
      valueToClient: {
        amount: 0,
        deductible: 0,
        other: 0,
        total: 0,
      },
      valueToUnderwriter: {
        amount: 0,
        deductible: 0,
        adjusterFee: 0,
        total: 0,
      },
      entryBy: "",
      entryDate: {
        date: "",
        menu: false,
      },
      modifiedBy: "",
      modifiedDate: {
        date: "",
        menu: false,
      },
      approvedBy: "",
      approvedDate: {
        date: "",
        menu: false,
      },
      closedBy: "",
      closedDate: {
        date: "",
        menu: false,
      },
    },
    headers: [
      {
        text: "Claim No",
        value: "",
        sortable: false,
      },
      {
        text: "Claim Date",
        value: "",
        sortable: false,
      },
      {
        text: "Currency",
        value: "",
        sortable: false,
      },
      {
        text: "Cause Of Loss",
        value: "",
        sortable: false,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ],
    filter: {
      customer: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        toolbarSearchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        url1: "/clients/api/account/agent?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 2,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
        lookupUrl: 1,
      },

      currency: {
        items: [],
        params: {
          "isActive.equals": 1,
        },
        url: "/config/api/master-currency/",
        loading: true,
      },
      adjuster: {
        name: "adjuster",
        input: "",
        items: [],
        url: "/clients/api/account/adjuster?codeOrName.contains=",
        loading: true,
        request: null,
      },
      paymentCategory: {
        items: [],
        url: "/config/api/master-parameter/?size=-1&isActive.equals=1&module.equals=PAYMENT_CATEGORY",
        loading: true,
        lookupUrl: 1,
        request: null,
      },
    },
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    submitDialog: {
      show: false,
      mode: "",
      title: "",
      message: "",
      onSuccess: function () {},
      onError: function () {},
    },
    rules: {
      required: (value) => !!value || "Required.",
    },
    collection: [],
    payemnt: {},
    oriTotalClient: 0,
  }),
  watch: {
    watchAmountClient(val) {
      this.amountClient = val;
      if (this.amountClient === "0.00") {
        this.amountUnderwriter = val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val;
      } else if (this.amountClient[0] == "-") {
        this.amountUnderwriter = val.substring(1);
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val.substring(1);
      } else {
        this.amountUnderwriter = "-" + val;
        this.$refs.amountUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = "-" + val;
      }
    },
    watchDeductibleClient(val) {
      this.deductibleClient = val;
      if (this.deductibleClient === "0.00") {
        this.deductibleUnderwriter = val;
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val;
      } else if (this.deductibleClient[0] == "-") {
        this.deductibleUnderwriter = val.substring(1);
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = val.substring(1);
      } else {
        this.deductibleUnderwriter = "-" + val;
        this.$refs.deductibleUnderwriter.$el.getElementsByTagName(
          "input"
        )[0].value = "-" + val;
      }
    },
    // watchOthersClient(val) {
    //   this.othersClient = val;
    //   if (this.othersClient === "0.00") {
    //     this.adjusterFeeUnderwriter = val;
    //     this.$refs.adjusterFee.$el.getElementsByTagName("input")[0].value = val;
    //   } else if (this.othersClient[0] == "-") {
    //     this.adjusterFeeUnderwriter = val.substring(1);
    //     this.$refs.adjusterFee.$el.getElementsByTagName("input")[0].value =
    //       val.substring(1);
    //   } else {
    //     this.adjusterFeeUnderwriter = "-" + val;
    //     this.$refs.adjusterFee.$el.getElementsByTagName("input")[0].value =
    //       "-" + val;
    //   }
    // },
  },
  computed: {
    formatDate() {
      var date = new Date(this.params.transDate.date);
      var getDate = date.getDate();
      var getMonth = String(date.getMonth()+1).length == 1 ? "0" + String(date.getMonth()+1) : String(date.getMonth()+1);
      var getYears = date.getFullYear();

      return getDate + "/" + getMonth + "/" + getYears;
    },
    watchAmountClient() {
      return this.amountClient;
    },
    watchDeductibleClient() {
      return this.deductibleClient;
    },
    watchOthersClient() {
      return this.othersClient;
    },
    totalClient() {
      return (
        this.currencyToFloat(this.amountClient) +
        this.currencyToFloat(this.deductibleClient) +
        this.currencyToFloat(this.othersClient)
      );
    },
    totalUnderwriter() {
      return (
        this.currencyToFloat(this.amountUnderwriter) +
        this.currencyToFloat(this.deductibleUnderwriter) +
        this.currencyToFloat(this.adjusterFeeUnderwriter)
      );
    },
    form() {
      return {
        receivedType: this.params.receivedType,
        // currency: this.claimInfo.currency,
        paymentCategory: this.params.paymentCategory,
      };
    },
  },

  mounted() {
    this.param.id = this.$route.query.id;
    this.mode = this.$route.query.mode;
  },
  created() {
    this.oriMode = this.$route.query.mode;
    if (this.$route.query.status == 0) this.statusApprove = true;
    if (this.$route.query.status == 1) {
      this.status = "Approved";
    } else if (this.$route.query.status == 2) {
      this.status = "Closed";
    } else {
      this.status = "Entry";
    }
    this.getById(this.$route.query.id);
    this.initList([
      // "customer",
      // "adjuster",
      "receivedType",
      "currency",
      "paymentCategory",
    ]);
    // this.getListAdjuster();
    // this.getViewCauseofLoss();
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    async doApprove() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      this.dialogApproved = false;
      this.dialogApprove.show = true;
      let paramJSON = {
        accountType: this.params.customerType,
        clientAmt: this.currencyToFloat(this.amountClient),
        clientDeductible: this.currencyToFloat(this.deductibleClient),
        clientOthers: this.currencyToFloat(this.othersClient),
        clientTotal: this.totalClient,
        // createdDate: this.params.transDate.date,
        currency: this.claimInfo.currency,
        details: this.params.detail,
        exchangeRate: this.param.excRate,
        id: this.$route.query.id,
        idAccount: this.claimInfo.idAccount,
        idClaim: this.claimInfo.claimNo,
        insurerAmt: this.currencyToFloat(this.amountUnderwriter),
        insurerDeductible: this.currencyToFloat(this.deductibleUnderwriter),
        insurerOthers: this.currencyToFloat(this.adjusterFeeUnderwriter),
        insurerTotal: this.totalUnderwriter,
        isDeleted: 0,
        paycategoryCode: this.claimInfo.causeOfLoss,
        paycategoryDesc: this.claimInfo.causeOfLoss,
        recStatus: 0,
        trantType: this.params.receivedType,
      };
      let param = JSON.stringify(paramJSON);
      API.post("claims/api/claims/standard-transaction/approve", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.dialogApprove.show = false;
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Your Data has been Approved";
            this.getRoute(1);
            this.getByIds();
            // this.dialog.success = true;
          } else {
            this.dialogApprove.show = false;
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Your Data Failed to Approved";
            this.dialogValidate.error =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        }
      );
    },
    async doUNApprove() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      this.dialogUnApproved = false;
      this.dialogUnApprove.show = true;
      let paramJSON = {
        accountType: this.params.customerType,
        clientAmt: this.currencyToFloat(this.amountClient),
        clientDeductible: this.currencyToFloat(this.deductibleClient),
        clientOthers: this.currencyToFloat(this.othersClient),
        clientTotal: this.totalClient,
        // createdDate: this.params.transDate.date,
        currency: this.claimInfo.currency,
        details: this.params.detail,
        exchangeRate: this.param.excRate,
        id: this.$route.query.id,
        idAccount: this.claimInfo.idAccount,
        idClaim: this.claimInfo.claimNo,
        insurerAmt: this.currencyToFloat(this.amountUnderwriter),
        insurerDeductible: this.currencyToFloat(this.deductibleUnderwriter),
        insurerOthers: this.currencyToFloat(this.adjusterFeeUnderwriter),
        insurerTotal: this.totalUnderwriter,
        isDeleted: 0,
        paycategoryCode: this.claimInfo.causeOfLoss,
        paycategoryDesc: this.claimInfo.causeOfLoss,
        recStatus: 0,
        trantType: this.params.receivedType,
      };
      let param = JSON.stringify(paramJSON);
      API.post("claims/api/claims/standard-transaction/unapprove", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.dialogUnApprove.show = false;
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Your Data has been Unapproved";
            this.getRoute(0);
            this.getByIds();
          } else {
            this.dialogUnApprove.show = false;
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Your Data Failed to Unapproved";
            this.dialogValidate.error =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        }
      );
    },

    async doFinalized() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      this.dialogClosed = false;
      this.dialogclose.show = true;
      let paramJSON = {
        accountType: this.params.customerType,
        clientAmt: this.currencyToFloat(this.amountClient),
        clientDeductible: this.currencyToFloat(this.deductibleClient),
        clientOthers: this.currencyToFloat(this.othersClient),
        clientTotal: this.totalClient,
        // createdDate: this.params.transDate.date,
        currency: this.claimInfo.currency,
        details: this.params.detail,
        exchangeRate: this.param.excRate,
        id: this.$route.query.id,
        idAccount: this.claimInfo.idAccount,
        idClaim: this.claimInfo.claimNo,
        insurerAmt: this.currencyToFloat(this.amountUnderwriter),
        insurerDeductible: this.currencyToFloat(this.deductibleUnderwriter),
        insurerOthers: this.currencyToFloat(this.adjusterFeeUnderwriter),
        insurerTotal: this.totalUnderwriter,
        isDeleted: 0,
        paycategoryCode: this.claimInfo.causeOfLoss,
        paycategoryDesc: this.claimInfo.causeOfLoss,
        recStatus: 0,
        trantType: this.params.receivedType,
      };
      let param = JSON.stringify(paramJSON);
      API.post("claims/api/claims/standard-transaction/close", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.dialogclose.show = false;
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Your Data has been Finalized";
            this.getRoute(2);
            this.getByIds();
            // this.dialog.success = true;
          } else {
            this.dialogclose.show = false;
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Your Data Failed to Finalized";
            this.dialogValidate.error =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        }
      );
    },

    async save() {
      Object.keys(this.form).forEach((f) => {
        console.log(f, this.form[f]);
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        // this.dialog.show = true;
        await this.doAdd();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
      }
    },
    async doAdd() {
      let vm = this;
      // this.dialog.success = false;
      // this.dialog.error = false;
      // this.dialog.show = true;

      let filteredLossReserve = this.claimInfo.lossReserve
        ? this.claimInfo.lossReserve.filter(
            (value) => value.currency == vm.claimInfo.currency
          )
        : [];
      filteredLossReserve.sort(this.compare);
      let lossResItem = filteredLossReserve[0];

      if (
        this.params.customerType == "Client" &&
        (this.totalClient === 0 || this.totalUnderwriter === 0)
      ) {
        this.submitDialog.title =
          "Please input value to client or value from underwriter first";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Adjuster" &&
        this.currencyToFloat(this.adjusterFeeUnderwriter) === 0
      ) {
        this.submitDialog.title = "Please input adjuster fee first";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Client" &&
        this.totalClient + this.totalUnderwriter != 0
      ) {
        this.submitDialog.title =
          "The total value to client and the total value to underwriter must be the same";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Adjuster" &&
        this.totalClient != 0 &&
        this.totalClient + this.totalUnderwriter != 0
      ) {
        this.submitDialog.title =
          "The total value to client and the total value to underwriter must be the same";
        this.submitDialog.mode = "error";
        this.submitDialog.message = "";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Client" &&
        (lossResItem == null || lossResItem == undefined)
      ) {
        this.submitDialog.title = "You don't have data in tab Loss Reserve";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Client" &&
        lossResItem != null &&
        lossResItem != undefined &&
        lossResItem.categoryDescription.includes("Estimated")
      ) {
        this.submitDialog.title =
          "Your Status Data in tab Loss Reserve still Estimated";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
        // } else if (
        //   this.params.customerType == "Client" &&
        //   // lossResItem != null &&
        //   // lossResItem != undefined &&
        //   // Math.abs(this.currencyToFloat(this.amountClient)) >
        //   //   Math.abs(lossResItem.amount)
        //   Math.abs(this.currencyToFloat(this.amountClient)) >
        //     Math.abs(this.getNetReserve(filteredLossReserve))
        // ) {
        //   this.submitDialog.title =
        //     "Amount Client cannot be greater than Net Reserve";
        //   this.submitDialog.mode = "error";
        //   this.submitDialog.onError = function () {
        //     vm.submitDialog.show = false;
        //   };
        //   this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Client" &&
        this.totalClient < 0 &&
        this.availLossRes(this.claimInfo.currency).netRes == 0
      ) {
        this.submitDialog.title =
          "Error: Could not create CCN to Client because Net Reserve is equal to 0";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.params.customerType == "Client" &&
        // Math.abs(this.totalClient) >
        //   Math.abs(this.getNetReserve(filteredLossReserve))
        this.totalClient + this.availLossRes(this.claimInfo.currency).netRes < 0
      ) {
        this.submitDialog.title =
          "Total Client/Underwriter cannot be greater than Net Reserve";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.customerType == "Client" &&
        this.totalClient -
          this.oriTotalClient +
          this.availLossRes(this.claimInfo.currency).amount <
          0
      ) {
        this.submitDialog.title =
          "Total Client/Underwriter cannot be greater than available total collection";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else if (
        this.param.customerType == "Client" &&
        // Math.abs(this.currencyToFloat(this.amountClient)) ==
        //   Math.abs(this.getNetReserve(filteredLossReserve)) &&
        this.totalClient + this.availLossRes(this.claimInfo.currency).amount ==
          0 &&
        this.params.paymentCategory == "3"
      ) {
        this.submitDialog.title =
          "Select the payment category: Final Claim Payment";
        this.submitDialog.mode = "error";
        this.submitDialog.onError = function () {
          vm.submitDialog.show = false;
        };
        this.submitDialog.show = true;
      } else {
        // this.dialog.show = true;
        let receivedTypeItem = this.filter.receivedType.items.filter(
          (value) => value.code == vm.params.receivedType
        );
        let paymentCategoryItem = this.filter.paymentCategory.items.filter(
          (value) => value.code == vm.params.paymentCategory
        );
        let paramJSON = {
          accountType: this.params.customerType,
          clientAmt: this.currencyToFloat(this.amountClient),
          clientDeductible: this.currencyToFloat(this.deductibleClient),
          clientOthers: this.currencyToFloat(this.othersClient),
          clientTotal: this.totalClient,
          // createdDate: this.params.transDate.date,
          currency: this.claimInfo.currency,
          details: this.params.detail,
          exchangeRate: this.param.excRate,
          id: this.$route.query.id,
          idAccount: this.claimInfo.idAccount,
          idClaim: this.claimInfo.claimNo,
          insurerAmt: this.currencyToFloat(this.amountUnderwriter),
          insurerDeductible: this.currencyToFloat(this.deductibleUnderwriter),
          insurerOthers: this.currencyToFloat(this.adjusterFeeUnderwriter),
          insurerTotal: this.totalUnderwriter,
          isDeleted: 0,
          paycategoryCode: this.params.paymentCategory,
          paycategoryDesc:
            paymentCategoryItem.length > 0
              ? paymentCategoryItem[0].value
              : this.params.paymentCategory,
          paytypeCode: this.params.receivedType,
          paytypeDesc:
            receivedTypeItem.length > 0
              ? receivedTypeItem[0].value
              : this.params.receivedType,
          recStatus: 0,
          trantType: "",
        };
        console.log(paramJSON);
        let param = JSON.stringify(paramJSON);
        API.post("claims/api/claims/standard-transaction/update", param).then(
          (resp) => {
            if (resp.data.code == 0) {
              // this.dialog.success = true;
              this.dialog.show = false;
              this.setSnackbar({ 
                top: true, 
                notOutlined: true,
                textTitle: true,
                icon: "mdi-check-circle"
              });
              this.getByIds();
            } else {
              this.dialog.error = true;
              this.dialog.errorMessage =
                resp.data.errorMessage.length > 0
                  ? resp.data.errorMessage.toUpperCase()
                  : resp.data.errordescription.toUpperCase();
            }
            this.dialog.show = true;
          }
        );
      }
    },
    compare(a, b) {
      if (a.transDate > b.transDate) {
        return -1;
      }
      if (a.transDate < b.transDate) {
        return 1;
      }
      return 0;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },

    async getById(id) {
      console.debug("========");
      this.dialog.show = true;
      let resp = await API.get(
        "claims/api/claims/standard-transaction/" + id,
        {}
      );
      console.log(resp);
      if (resp.data.code === 0) {
        const dataStandardTransaction = resp.data;
        console.log(
          "dataStandardTransaction.paycategoryCode",
          dataStandardTransaction.paycategoryCode
        );

        this.params.status = dataStandardTransaction.recStatus;
        this.params.recStatus = dataStandardTransaction.recStatusDesc;
        this.params.transNo = dataStandardTransaction.claimNo;
        this.params.transDate.date = dataStandardTransaction.createdDate;
        this.params.customerType = dataStandardTransaction.accountType;
        this.params.customerCode = dataStandardTransaction.codeAccount;
        this.params.customer =
          dataStandardTransaction.codeAccount +
          " - " +
          dataStandardTransaction.nameAccount;
        this.params.receivedType = dataStandardTransaction.paytypeCode;
        this.params.paymentCategory = dataStandardTransaction.paycategoryCode;
        this.params.excRate = this.currencyFormat(
          dataStandardTransaction.exchangeRate
        );
        this.params.trantType = dataStandardTransaction.trantType;
        this.claimInfo.claimNo = dataStandardTransaction.idClaim;
        this.claimInfo.idAccount = dataStandardTransaction.idAccount;
        this.claimInfo.reOpen = dataStandardTransaction.claimInfo.reOpen;
        this.claimInfo.currency = dataStandardTransaction.currency;
        this.claimInfo.insured = dataStandardTransaction.claimInfo.insured;
        this.claimInfo.lossDate = dataStandardTransaction.claimInfo.lossDate;
        this.claimInfo.causeOfLoss =
          dataStandardTransaction.claimInfo.causeLoss;
        this.policyInfo.class = dataStandardTransaction.policyInfo.riskClass;
        this.policyInfo.policyNumber =
          dataStandardTransaction.policyInfo.policyNo;
        this.policyInfo.underwriter =
          dataStandardTransaction.policyInfo.underwriter;
        // this.params.receivedType = dataStandardTransaction.trantType;
        this.params.detail = dataStandardTransaction.details;
        this.params.valueToClient.amount = dataStandardTransaction.clientAmt;
        this.params.valueToClient.deductible =
          dataStandardTransaction.clientDeductible;
        this.params.valueToClient.other = dataStandardTransaction.clientOthers;
        this.params.valueToClient.total = dataStandardTransaction.clientTotal;
        this.oriTotalClient = dataStandardTransaction.clientTotal;
        this.params.valueToUnderwriter.amount =
          dataStandardTransaction.insurerAmt;
        this.params.valueToUnderwriter.deductible =
          dataStandardTransaction.insurerDeductible;
        this.params.valueToUnderwriter.adjusterFee =
          dataStandardTransaction.insurerOthers;
        this.params.valueToUnderwriter.total =
          dataStandardTransaction.insurerTotal;
        this.amountClient = this.formatMoney(dataStandardTransaction.clientAmt);
        this.deductibleClient = this.formatMoney(
          dataStandardTransaction.clientDeductible
        );
        this.othersClient = this.formatMoney(
          dataStandardTransaction.clientOthers
        );
        this.amountUnderwriter = this.formatMoney(
          dataStandardTransaction.insurerAmt
        );
        this.deductibleUnderwriter = this.formatMoney(
          dataStandardTransaction.insurerDeductible
        );
        this.adjusterFeeUnderwriter = this.formatMoney(
          dataStandardTransaction.insurerOthers
        );
        this.params.entryBy = dataStandardTransaction.createdBy;
        this.params.entryDate.date = dataStandardTransaction.createdDate;
        this.params.modifiedBy = dataStandardTransaction.modifiedBy;
        this.params.modifiedDate.date = dataStandardTransaction.modifiedDate;
        this.params.approvedBy = dataStandardTransaction.approvedBy;
        this.params.approvedDate.date = dataStandardTransaction.approvedDate;
        this.params.closedBy = dataStandardTransaction.closedBy;
        this.params.closedDate.date = dataStandardTransaction.closedDate;
        this.printCondition();
      }

      API.get("/claims/api/claims/claims_maintenance/detail-collection/" + id)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data;
            // set uw list di action print doc
            this.setUwListPrintAction(dataResp.sharingPercentageList);
          } else {
            // this.$emit("populated");
          }
        })
        .catch((error) => {
          console.log(error);
          // this.$emit("populated");
        });

      API.get("claims/api/claims/claims_maintenance/" + this.claimInfo.claimNo)
        .then((resp) => {
          if (resp && resp.data && resp.data.code == 0) {
            let dataResp = resp.data.data;
            this.claimInfo.lossReserve = dataResp.lossReserve;
          }
        })
        .catch((error) => {
          console.log("error get claim info", error);
        });

      API.get(
        "/claims/api/claims/claims_maintenance/list-collection/" +
          this.claimInfo.claimNo
      )
        .then((resp) => {
          if (resp.data.code === 0) {
            this.collection = resp.data.data;
          }
        })
        .catch((e) => {
          console.log("collection error", e);
        });

      API.get(
        "/claims/api/claims/claims_maintenance/payment-detail/" +
          this.claimInfo.claimNo
      )
        .then((resp) => {
          if (resp.data.code === 0) {
            this.payment = resp.data;
          }
        })
        .catch((e) => {
          console.log("payment error", e);
        });

      this.dialog.show = false;
    },

    async setUwListPrintAction(list) {
      let uwCodeList = list.map(function (row) {
        let uwCode = row.insurerCode;
        return uwCode;
      });
      let joinedUwCode = uwCodeList.join(",");
      let param = { "code.in": joinedUwCode };
      let resp = await API.get("clients/api/account/insurance", param);
      this.printItemsClient[1].uwList = [{ id: "", name: "All Underwriter" }];
      this.printItemsUnderwriter[0].uwList = [
        { id: "", name: "All Underwriter" },
      ];
      // baru
      this.printItemsClient[0].uwList = [{ id: "", name: "All Underwriter" }];
      this.printItemsClient[0].text =
        "Claim Debit Note to " + this.params.customerType;
      this.printItemsClient[0].name =
        "Claim Debit Note to " + this.params.customerType;
      this.printItemsUnderwriter[1].uwList = [
        { id: "", name: "All Underwriter" },
      ];
      this.printItemsUnderwriter[1].text =
        "Claim Credit Note to " + this.params.customerType;
      this.printItemsUnderwriter[1].name =
        "Claim Credit Note to " + this.params.customerType;

      if (resp.data.code === 0) {
        this.printItemsClient[1].uwList =
          this.printItemsClient[1].uwList.concat(resp.data.data);
        this.printItemsUnderwriter[0].uwList =
          this.printItemsUnderwriter[0].uwList.concat(resp.data.data);
        // baru
        this.printItemsClient[0].uwList =
          this.printItemsClient[0].uwList.concat(resp.data.data);
        this.printItemsUnderwriter[1].uwList =
          this.printItemsUnderwriter[1].uwList.concat(resp.data.data);
      }
    },

    async changeCurrency(e) {
      this.excRateLoading = true;
      this.initList("currency");
      let rate = await this.getExchangeRate(e);
      this.params.excRate = this.currencyFormat(rate);
      this.excRateLoading = false;
    },

    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },

    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    async getByIds() {
      this.dialog.show = true;
      this.mode = "d";
      let resp = await API.get(
        "claims/api/claims/standard-transaction/" + this.param.id,
        {}
      );
      console.log(resp);
      if (resp.data.code === 0) {
        this.dialog.show = false;
        const dataStandardTransaction = resp.data;
        this.params.status = dataStandardTransaction.recStatus;
        this.params.recStatus = dataStandardTransaction.recStatusDesc;
        this.params.transNo = dataStandardTransaction.claimNo;
        this.params.transDate.date = dataStandardTransaction.createdDate;
        this.params.customerCode = dataStandardTransaction.codeAccount;
        this.params.customerType = dataStandardTransaction.accountType;
        this.params.customer =
          dataStandardTransaction.codeAccount +
          " - " +
          dataStandardTransaction.nameAccount;
        this.params.receivedType = dataStandardTransaction.paytypeCode;
        this.params.paymentCategory = dataStandardTransaction.paycategoryCode;
        this.params.excRate = this.currencyFormat(
          dataStandardTransaction.exchangeRate
        );
        this.params.trantType = dataStandardTransaction.trantType;
        this.claimInfo.claimNo = dataStandardTransaction.idClaim;
        this.claimInfo.idAccount = dataStandardTransaction.idAccount;
        this.claimInfo.reOpen = dataStandardTransaction.claimInfo.reOpen;
        this.claimInfo.currency = dataStandardTransaction.currency;
        this.claimInfo.insured = dataStandardTransaction.claimInfo.insured;
        this.claimInfo.lossDate = dataStandardTransaction.claimInfo.lossDate;
        this.claimInfo.causeOfLoss =
          dataStandardTransaction.claimInfo.causeLoss;
        this.policyInfo.class = dataStandardTransaction.policyInfo.riskClass;
        this.policyInfo.policyNumber =
          dataStandardTransaction.policyInfo.policyNo;
        this.policyInfo.underwriter =
          dataStandardTransaction.policyInfo.underwriter;
        // this.params.receivedType = dataStandardTransaction.trantType;
        this.params.detail = dataStandardTransaction.details;
        this.params.valueToClient.amount = dataStandardTransaction.clientAmt;
        this.params.valueToClient.deductible =
          dataStandardTransaction.clientDeductible;
        this.params.valueToClient.other = dataStandardTransaction.clientOthers;
        this.params.valueToClient.total = dataStandardTransaction.clientTotal;
        this.oriTotalClient = dataStandardTransaction.clientTotal;
        this.params.valueToUnderwriter.amount =
          dataStandardTransaction.insurerAmt;
        this.params.valueToUnderwriter.deductible =
          dataStandardTransaction.insurerDeductible;
        this.params.valueToUnderwriter.adjusterFee =
          dataStandardTransaction.insurerOthers;
        this.params.valueToUnderwriter.total =
          dataStandardTransaction.insurerTotal;
        this.amountClient = this.formatMoney(dataStandardTransaction.clientAmt);
        this.deductibleClient = this.formatMoney(
          dataStandardTransaction.clientDeductible
        );
        this.othersClient = this.formatMoney(
          dataStandardTransaction.clientOthers
        );
        this.amountUnderwriter = this.formatMoney(
          dataStandardTransaction.insurerAmt
        );
        this.deductibleUnderwriter = this.formatMoney(
          dataStandardTransaction.insurerDeductible
        );
        this.adjusterFeeUnderwriter = this.formatMoney(
          dataStandardTransaction.insurerOthers
        );
        this.params.entryBy = dataStandardTransaction.createdBy;
        this.params.entryDate.date = dataStandardTransaction.createdDate;
        this.params.modifiedBy = dataStandardTransaction.modifiedBy;
        this.params.modifiedDate.date = dataStandardTransaction.modifiedDate;
        this.params.approvedBy = dataStandardTransaction.approvedBy;
        this.params.approvedDate.date = dataStandardTransaction.approvedDate;
        this.params.closedBy = dataStandardTransaction.closedBy;
        this.params.closedDate.date = dataStandardTransaction.closedDate;
        this.printCondition();
      }
    },
    change() {
      this.mode = "e";
      this.$router.replace({
        name: "standard-transaction-edit",
        query: { ...this.$route.query, mode: "e" },
      }).catch(()=>{});
    },
    back() {
      if (this.oriMode == "d" && this.mode == "e") {
        this.getByIds();
      } else {
        this.dialog.show = false;
        this.$router.replace({
          name: "standard-transaction-list", query: {back: true},
        });
      }
    },
    getRoute(statusData) {
      this.$router.push({
        name: "standard-transaction-edit",
        query: { id: this.param.id, status: statusData, mode: "d" },
      });
    },
    flipDateFormat(date) {
      let splitted = date.split("-");
      let res = [splitted[2], splitted[1], splitted[0]].join("-");
      return res;
    },
    printCondition() {
      if (
        this.params.valueToUnderwriter.total > 0 ||
        this.params.valueToClient.total < 0
      ) {
        this.printData = this.printItemsUnderwriter.slice();
      } else if (
        this.params.valueToUnderwriter.total < 0 ||
        this.params.valueToClient.total > 0
      ) {
        this.printData = this.printItemsClient.slice();
      }
    },
    generateNetReserve(currency, name = null) {
      let list = [];
      let paid = 0;
      let collect = [];
      let filteredLossReserve = this.param.lossReserve
        ? this.param.lossReserve.filter((value) => value.currency == currency)
        : [];
      filteredLossReserve.sort(this.compare);

      if (currency == "IDR") {
        list = filteredLossReserve;
        paid = this.payment.clientAmountIDR;
        collect = this.collection.filter(
          (d) => d.currency == "IDR" && d.category == "Client"
        );
      } else if (currency == "USD") {
        list = filteredLossReserve;
        paid = this.payment.clientAmountUSD;
        collect = this.collection.filter(
          (d) => d.currency == "USD" && d.category == "Client"
        );
      }
      let result = this.getNetReserve(list, name, paid, collect);
      return currency + " " + this.currencyFormat(result);
    },
    availLossRes(curr) {
      let effectiveRes = this.currencyToFloat(
        this.generateNetReserve(curr, "effective").split(" ")[1]
      );
      let totalCollect = this.currencyToFloat(
        this.generateNetReserve(curr, "totalCollection").split(" ")[1]
      );
      let netRes = this.currencyToFloat(
        this.generateNetReserve(curr).split(" ")[1]
      );
      let availLosRes = effectiveRes + totalCollect;
      return {
        value: availLosRes > 0,
        amount: availLosRes,
        netRes: netRes,
      };
    },

    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
<style scoped>
.spanColor {
  color: red;
}
::v-deep .input-right input {
  text-align: right;
}
::v-deep .my-text-style input {
  color: red;
}

.total-center {
  text-align: center;
}
.total-right {
  text-align: center;
  /* padding-right: 20px; */
}
::v-deep .input-right input {
  text-align: right;
}
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  position: fixed;
  z-index: 2;
  margin-top: 5px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>
