<template>
  <v-card flat>
    <isttoolbar title="Finance Claim" dark color="secondary" icon="mdi-finance">
      <v-spacer />

      <v-btn
        v-if="isRemittanceEntry.show// && checkAuthorities('claims-creditor-payment-approve')
        "
        outlined
        class="mx-1"
        min-width="100px"
        @click="confirmApprove"
      >
        Approve
      </v-btn>
      <v-btn
        v-show="isRemittanceApproved.show// && checkAuthorities('claims-creditor-payment-finalize')
        "
        outlined
        class="mx-1"
        min-width="100px"
        @click="confirmFinalize"
      >
        Finalize
      </v-btn>
      <v-btn
        v-show="isRemittanceApproved.show// && checkAuthorities('claims-creditor-payment-unapprove')
        "
        outlined
        class="mx-1"
        min-width="100px"
        @click="confirmUnapprove"
      >
        Unapprove
      </v-btn>
      <editablejournaldialog
        v-if="param.status == 'ENTRY' || param.status == 'CLOSED'"
        :title="'View Journal'"
        :refNo="this.idRemittance"
        :editable="true"
        api="/finance/api/financeclaim/creditor/payment/viewjournal/"
        submitApi="/finance/api/financeclaim/creditor/payment/modifyjournal/"
        transType="REF"
        getListParamName="data"
        paramIdSubmitName="idRemittance"
        :bankReceivedCode="param.bankReceivedCode"
        :hideFirstSeqMinus="true"
        :firstGlBankBehaviour="{ same: true, currency: param.currency }"
        editAuth="claims-creditor-payment-modify-journal"
        :deletable="true"
      >
        <!-- :disableCoaFirstSeq="true" -->
        <!-- viewAuth="claims-creditor-payment-view-journal" -->
      </editablejournaldialog>
      <journaldialog
        v-else
        :title="'View Journal'"
        api="/finance/api/financeclaim/creditor/payment/viewjournal/"
        :refNo="this.idRemittance"
        
      >
        <!-- viewAuth="claims-creditor-payment-view-journal" -->
      </journaldialog>
      <v-tooltip>
        <template v-slot:activator="{ on, attrs }">
          <printaction
            v-bind="attrs"
            v-on="on"
            :items="printItems"
            :id="idRemittance"
            status=""
            idParam="id"
            :customer="param.customerName"
            base64Key="data.base64"
          >
          </printaction>
        </template>

        <span>Print</span>
      </v-tooltip>

      <!-- <v-menu
        bottom
        offset-y
        :nudge-width="200"
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            text
            small
            v-show="param.status == 'ENTRY'"
            @click="editRemittance"
          >
            <v-icon right>mdi-pen mdi-36px</v-icon>
          </v-btn>
          <v-btn min-height="40" v-bind="attrs" v-on="on" text>
            <v-icon>mdi-printer mdi-36px</v-icon>
          </v-btn>
        </template>
        <v-card width="480px">
          <v-row>
            <v-col cols="12" class="colorLine pa-0">
              <v-row align="center" class="ml-2 mr-4 mt-2">
                <v-col cols="5" class="pa-0">
                  <span class="title ml-5">Remittance Receipt</span>
                </v-col>
                <v-col cols="2" class="pa-0">
                  <v-btn outlined color="primary" @click="viewFile(null)"
                    >Preview</v-btn
                  >
                </v-col>
                <v-col cols="5" class="pa-0" v-if="param.status != 'ENTRY'">
                  <v-select
                    :items="dataGenerate"
                    solo
                    flat
                    dense
                    outlined
                    class="mr-3 ml-5"
                    color="primary"
                    full-width
                    hide-details="auto"
                    v-model="generateData"
                    return-object
                    item-text="name"
                    name="originalReceipt"
                    ref="originalReceipt"
                  ></v-select>
                </v-col>
              </v-row>
              <v-row align="center" class="ml-2 mr-4 mt-2 mb-2">
                <v-col cols="5" class="pa-0">
                  <span class="title ml-5">Remittance Receipt Copy</span>
                </v-col>
                <v-col cols="2" class="pa-0">
                  <v-btn outlined color="primary" @click="viewFile('copy')"
                    >Preview</v-btn
                  >
                </v-col>
                <v-col cols="5" class="pa-0" v-show="param.status != 'ENTRY'">
                  <v-select
                    :items="dataGenerate"
                    solo
                    flat
                    dense
                    outlined
                    class="mr-3 ml-5"
                    color="primary"
                    full-width
                    hide-details="auto"
                    v-model="generateCopy"
                    return-object
                    item-text="name"
                    name="receiptCopy"
                    ref="receiptCopy"
                  ></v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </v-menu> -->
      <v-btn text small @click="goToEdit" v-show="param.status == 'ENTRY' && checkAuthorities('claims-creditor-payment-edit')">
        <v-icon>mdi-pencil mdi-36px</v-icon>
      </v-btn>
      <v-btn text small @click="goBack">
        <v-icon right>mdi-close mdi-36px</v-icon>
      </v-btn>
    </isttoolbar>
    <isttoolbar title="View Payment Claim Creditor" dark color="primary" class="mb-2">
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.status"
            ref="status"
            name="status"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Payment No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Remittance No"
            v-model="param.paymentNo"
            ref="Payment No"
            name="custType"
            item-value="value"
            item-text="text"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.tranDate"
            ref="tranDate"
            name="tranDate"
            label="Insert Transaction Date"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
            readonly
          >
            <v-radio label="Client" value="CLIENT"></v-radio>
            <v-radio label="Adjuster" value="ADJUSTER"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Client<span class="error--text">*</span> </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="customer"
            name="customer"
            v-model="param.customer"
            return-object
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Transaction Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="Select Transaction Type"
            v-model="param.paymentMethod"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :rules="[rules.required]"
            :loading="search.transType.loading"
            item-value="code"
            :item-text="transTypeTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Exchange Rate <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="exchangeRate"
            name="exchangeRate"
            class="ma-0"
            v-model="param.exchangeRate"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Source <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            v-model="param.bankReceived.coaName"
            ref="coaName"
            name="coaName"
            class="ma-0"
            return-object
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <br />
    <v-tabs v-model="tab" light>
      <v-tab v-show="param.listInvoice.length > 0">Payment</v-tab>
      <v-tab v-show="param.listPremiumFunding.length > 0"
        >Funding ({{ param.listPremiumFunding.length }})</v-tab
      >
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item v-show="param.listInvoice.length > 0">
        <v-data-table
          :headers="headers"
          :items="param.listInvoice"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:[`item.payAmount`]="{ item }">
            <div :class="item.payAmount < 0 && 'spanColor'">
              {{ currencyFormat(item.payAmount) }}
            </div>
          </template>
          <template v-slot:[`item.payable`]="{ item }">
            <div :class="item.payable < 0 && 'spanColor'">
              {{ currencyFormat(item.payable) }}
            </div>
          </template>
          <template v-slot:[`item.maxPayable`]="{ item }">
            <div :class="item.maxPayable < 0 && 'spanColor'">
              {{ currencyFormat(item.maxPayable) }}
            </div>
          </template>
          <template v-slot:[`item.amountVat`]="{ item }">
            <div :class="item.amountVat < 0 && 'spanColor'">
              {{ currencyFormat(item.amountVat) }}
            </div>
          </template>
          <template v-slot:[amountPremiumFunding]="{ item }">
            <div :class="item.exchangeRate < 0 && 'spanColor'">
              {{ currencyFormat(item.exchangeRate) }}
            </div>
          </template>
          <template v-slot:[`item.pphAmount`]="{ item }">
            <div :class="item.pphAmount < 0 && 'spanColor'">
              {{ currencyFormat(item.pphAmount) }}
            </div>
          </template>
          <template v-slot:[`item.exchangeRate`]="{ item }">
            <div :class="item.exchangeRate < 0 && 'spanColor'">
              {{ currencyFormat(item.exchangeRate) }}
            </div>
          </template>
          <template v-slot:[`item.amountEq`]="{ item }">
            <div :class="item.amountEq < 0 && 'spanColor'">
              {{ currencyFormat(item.amountEq) }}
            </div>
          </template>
          <template v-slot:[`item.equivAmount`]="{ item }">
            <div :class="item.equivAmount < 0 && 'spanColor'">
              {{ currencyFormat(item.equivAmount) }}
            </div>
          </template>

          <template v-slot:[`body.append`]>
            <tr>
              <td v-for="header in headers" :key="header.text">
                <span v-if="header.value == 'currency'" class="title"
                  >Total
                </span>
                <span v-if="header.value == 'amountEq'" class="title"
                  >{{ getTotalPayAmount("amountEq") }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item v-show="param.listPremiumFunding.length > 0">
        <v-data-table
          :headers="premiumFundingHeaders"
          :items="param.listPremiumFunding"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:[`item.payAmount`]="{ item }">
            <div :class="item.payAmount < 0 && 'spanColor'">
              {{ currencyFormat(item.payAmount) }}
            </div>
          </template>
          <template v-slot:[`item.payable`]="{ item }">
            <div :class="item.payable < 0 && 'spanColor'">
              {{ currencyFormat(item.payable) }}
            </div>
          </template>
          <template v-slot:[`item.maxPayable`]="{ item }">
            <div :class="item.maxPayable < 0 && 'spanColor'">
              {{ currencyFormat(item.maxPayable) }}
            </div>
          </template>
          <template v-slot:[`item.amountVat`]="{ item }">
            <div :class="item.amountVat < 0 && 'spanColor'">
              {{ currencyFormat(item.amountVat) }}
            </div>
          </template>
          <template v-slot:[`item.exchangeRate`]="{ item }">
            <div :class="item.exchangeRate < 0 && 'spanColor'">
              {{ currencyFormat(item.exchangeRate) }}
            </div>
          </template>
          <template v-slot:[`item.pphAmount`]="{ item }">
            <div :class="item.pphAmount < 0 && 'spanColor'">
              {{ currencyFormat(item.pphAmount) }}
            </div>
          </template>
          <template v-slot:[`item.amountEq`]="{ item }">
            <div :class="item.amountEq < 0 && 'spanColor'">
              {{ currencyFormat(item.amountEq) }}
            </div>
          </template>
          <template v-slot:[`item.equivAmount`]="{ item }">
            <div :class="item.equivAmount < 0 && 'spanColor'">
              {{ currencyFormat(item.equivAmount) }}
            </div>
          </template>
          <!-- <template v-slot:body.append> </template> -->
          <template v-slot:[`body.append`]>
            <tr>
              <td v-for="header in premiumFundingHeaders" :key="header.text">
                <span v-if="header.value == 'currency'" class="title"
                  >Total
                </span>
                <span v-if="header.value == 'amountEq'" class="title"
                  >{{ getTotalPayAmountPremi("amountEq") }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-tab-item>
    </v-tabs-items>

    <br />
    <v-row align="center" class="ml-2">
      <v-col cols="1" class="pa-1">
        <span class="title">Entry By</span>
      </v-col>
      <v-col cols="2" class="text-left">
        <v-text-field
          v-model="param.entryBy"
          ref="entryName"
          name="entryName"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.entryDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="2" class="text-right">
        <span class="title">Approve By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.approvedBy"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.approvedDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="1" class="pa-1">
        <span class="title">Modified By</span>
      </v-col>
      <v-col cols="2" class="text-left">
        <v-text-field
          v-model="param.modifiedBy"
          ref="entryName"
          name="entryName"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.modifiedDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="2" class="text-right">
        <span class="title">Closed By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.closedBy"
          ref="entryName"
          name="entryName"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.closedDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>

    <form v-show="false">
      <v-row class="mx-2">
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Original Amount </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Original Amount"
                ref="invAmount"
                name="invAmount"
                class="ma-0"
                v-model="param.invAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Exchange Rate </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Exchange Rate"
                ref="invExcRate"
                name="invExcRate"
                class="ma-0"
                v-model="param.invExcRate"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Detail </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-textarea
                hide-details="auto"
                label="Detail"
                ref="invDetail"
                name="invDetail"
                class="ma-0"
                v-model="param.invDetail"
                flat
                outlined
                dense
                solo
                rows="2"
              >
              </v-textarea>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Pay Amount </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Pay Amount"
                ref="invPayAmount"
                name="invPayAmount"
                class="ma-0"
                v-model="param.invPayAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> CSH-C/N Amount (L C) </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="CSH-C/N Amount (L C)"
                ref="invCshAmount"
                name="invCshAmount"
                class="ma-0"
                v-model="param.invCshAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Exchange Diff (L C) </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Exchange Diff (L C)"
                ref="invExcDiff"
                name="invExcDiff"
                class="ma-0"
                v-model="param.invExcDiff"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Equiv. Amount </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Equiv. Amount"
                ref="invEquivAmount"
                name="invEquivAmount"
                class="ma-0"
                v-model="param.invEquivAmount"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="4" class="py-1">
              <span class="title"> Credit Balance </span>
            </v-col>
            <v-col cols="8" class="py-1">
              <v-text-field
                hide-details="auto"
                label="Credit Balance"
                ref="invCreditBalance"
                name="invCreditBalance"
                class="ma-0"
                v-model="param.invCreditBalance"
                flat
                outlined
                dense
                solo
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </form>

    <v-dialog v-model="cashDialog" persistent max-width="800">
      <v-card>
        <v-card-title class="headline">
          Choose Cash Receipt / Credit Note
        </v-card-title>
        <v-data-table
          :headers="cashHeaders"
          :items="cashItems"
          :loading="cashLoading"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:[`item.oriAmount`]="{ item }">
            <div>{{ currencyFormat(item.oriAmount) }}</div>
          </template>
          <template v-slot:[`item.balance`]="{ item }">
            <div>{{ currencyFormat(item.balance) }}</div>
          </template>
          <template v-slot:[`item.action`]="{ item }">
            <v-btn
              depressed
              outlined
              small
              color="primary"
              @click="setDataCash(item)"
              >Choose</v-btn
            >
          </template>
        </v-data-table>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            rounded
            min-width="100"
            depressed
            @click="cashDialog = false"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="successApproveFinalize"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.error">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.show = dialog.error = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog.confirm" persistent max-width="290">
        <v-card v-show="dialog.approve" min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Are you sure want to Approve Payment?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                approve();
                dialog.confirm = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialog.confirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.finalize" min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Are you sure want to Finalize Payment?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                finalize();
                dialog.confirm = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialog.confirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.unapprove" min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit"
            >Are you sure want to Unapprove Payment?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                unapprove();
                dialog.confirm = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialog.confirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";
import journaldialog from "@/components/dialog/journalDialog";
import printaction from "@/components/toolbars/printAction";
import axios from "axios";
import { mapState } from "vuex";
import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
    editablejournaldialog,
    journaldialog,
    printaction,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    printItems: [
      {
        // code: "copy",
        text: "Official",
        name: "Finance Claim Payment Creditor Official",
        url: "/finance/api/financeclaim/creditor/payment/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "client",
        text: "Underwriter Copy",
        name: "Finance Claim Payment Creditor Copy",
        url: "/finance/api/financeclaim/creditor/payment/generate-copy",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsRemittance: [
      {
        // code: "client",
        text: "Official Copy",
        name: "Official Copy",
        url: "/finance/api/financeclaim/creditor/payment/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsPremium: [
      {
        text: "Premium Funding Form",
        name: "Premium Funding Form",
        url: "/finance/api/finance/remittance/generate-funding",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsClose: [
      {
        // code: "client",
        text: "Remittance Advice",
        name: "Remittance Advice",
        url: "/finance/api/finance/remittance/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "client",
        text: "Official Copy",
        name: "Official Copy",
        url: "/finance/api/finance/remittance/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "copy",
        text: "Premium Funding Form",
        name: "Premium Funding Form",
        url: "/finance/api/finance/remittance/generate-funding",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsCloseMinus: [
      {
        // code: "client",
        text: "Underwriter Official Receipt",
        name: "Underwriter Official Receipt",
        url: "/finance/api/finance/remittance/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "client",
        text: "Official Copy",
        name: "Official Copy",
        url: "/finance/api/finance/remittance/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "copy",
        text: "Premium Funding Form",
        name: "Premium Funding Form",
        url: "/finance/api/finance/remittance/generate-funding",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsRemittanceClose: [
      {
        // code: "client",
        text: "Remittance Advice",
        name: "Remittance Advice",
        url: "/finance/api/finance/remittance/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "client",
        text: "Official Copy",
        name: "Official Copy",
        url: "/finance/api/finance/remittance/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsRemittanceCloseMinus: [
      {
        // code: "client",
        text: "Underwriter Official Receipt",
        name: "Underwriter Official Receipt",
        url: "/finance/api/finance/remittance/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "client",
        text: "Official Copy",
        name: "Official Copy",
        url: "/finance/api/finance/remittance/generate-official",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    printItemsPremiumClose: [
      {
        text: "Premium Funding Form",
        name: "Premium Funding Form",
        url: "/finance/api/finance/remittance/generate-funding",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    tab: 0,
    idRemittance: 0,
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    isRemittanceApproved: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    isRemittanceEntry: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
    },
    remittanceStatus: "",
    journalHeaders: [
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "COA",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      // {
      //   text: "Type",
      //   sortable: false,
      //   value: "type",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },
      { text: "Amount", sortable: false, value: "amount", add: "", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        rules: [],
      },
      // { text: "Action", sortable: false, value: "action", add: "" },
    ],
    createdFrom: {
      value: "insurancePeriodFrom",
      // searchValue: new Date().toISOString().substr(0, 10),
      searchValue: "",
      searchParam: "greaterThanOrEqual",
      menu: false,
    },
    createdTo: {
      value: "insurancePeriodTo",
      // searchValue: "new Date().toISOString().substr(0, 10)",
      searchValue: "",
      searchParam: "lessThanOrEqual",
      menu: false,
    },

    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      modifiedBy: "",
      modifiedDate: "",
      approvedBy: "",
      approvedDate: "",
      closedBy: "",
      closedDate: "",
      customerCode: "",
      customerName: "",
      customerType: "",
      idRemittance: "",
      bankCode: "",
      bankName: "",
      status: "",
      receiptNo: "",
      amount: "",
      amountEq: "",
      amountEqPremiumFunding: "",
      amountPremiumFunding: "",
      bankReceived: {
        coaCode: null,
        coaName: null,
      },
      currency: "",
      customer: {
        customerCode: null,
        customerName: null,
        customerType: null,
      },
      exchangeRate: "",
      listInvoice: [],
      listPremiumFunding: [],
      paymentMethod: "",
      reference: "",
      tranDate: "",
      entryDate: "",
      entryBy: "",
      custType: "",
    },
    search: {
      custType: {
        items: [
          { value: "CLIENT", text: "Client" },
          { value: "ADJUSTER", text: "Adjuster" },
        ],
        loading: false,
      },
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: false,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url: "/config/api/master-akuncoa/?coaType.equals=1&isActive.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
      cashReceipt: {
        items: [],
        url: "/finance/api/finance/cashreceipt/?clientName.equals=",
        loading: false,
        input: "",
      },
    },
    headers: [
      {
        text: "Currency",
        align: "start",
        value: "currency",
        sortable: false,
      },
      {
        text: "No",
        value: "invoiceNo",
        sortable: false,
      },
      {
        text: "Type",
        value: "type",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Payable",
        value: "payable",
        sortable: false,
      },
      {
        text: "Max Payable",
        value: "maxPayable",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "payAmount",
        sortable: false,
      },
      // {
      //   text: "PPH23 Paid",
      //   value: "pphAmount",
      //   sortable: false,
      // },
      // {
      //   text: "VAT Received",
      //   value: "amountVat",
      //   sortable: false,
      // },
      {
        text: "Exchange Rate",
        value: "exchangeRate",
        sortable: false,
      },
      {
        text: "Equivalent Amount",
        value: "amountEq",
        sortable: false,
      },
    ],
    premiumFundingHeaders: [
      {
        text: "Currency",
        align: "start",
        value: "currency",
        sortable: false,
      },
      {
        text: "Invoice No",
        value: "invoiceNo",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Type",
        value: "type",
        sortable: false,
      },
      {
        text: "Fund Due Date",
        value: "dueDate",
        sortable: false,
      },
      {
        text: "Reason",
        value: "reason",
        sortable: false,
      },
      {
        text: "Payable",
        value: "payable",
        sortable: false,
      },
      {
        text: "Premium Fund",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "PPH23 Fund",
        value: "pphAmount",
        sortable: false,
      },
      {
        text: "VAT Received",
        value: "amountVat",
        sortable: false,
      },
      {
        text: "Exchange Rate",
        value: "exchangeRate",
        sortable: false,
      },
      {
        text: "Equivalent Amount",
        value: "amountEq",
        sortable: false,
      },
    ],
    items: [],
    premiumFundingItems: [],
    loading: false,
    searchSingle: {
      underwriter: {
        value: "underwriter",
        searchValue: "",
        searchParam: "equals",
        name: "underwriter",
        input: "",
        items: [],
        url: "/clients/api/account/insurance/?codeOrName.contains=",
        loading: false,
      },
    },
    cashHeaders: [
      {
        text: "Ref No",
        align: "start",
        sortable: true,
        value: "acctNo",
        add: "",
        rules: [],
      },
      {
        text: "Type",
        sortable: false,
        value: "acctType",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Date",
        sortable: false,
        value: "billDate",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Amount",
        sortable: false,
        value: "oriAmount",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      {
        text: "",
        sortable: false,
        value: "action",
        add: "",
        rules: [],
      },
    ],
    cashItems: [],
    cashLoading: false,
    invoiceHeaders: [
      {
        text: "Invoice No",
        align: "start",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
      },
      {
        text: "Client",
        sortable: false,
        value: "cstName",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Term",
        sortable: false,
        value: "term",
        add: "",
        rules: [],
      },
      {
        text: " Class",
        sortable: false,
        value: "cstCode",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Original Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Paid Amount",
        sortable: false,
        value: "amountEqual",
        add: "",
        rules: [],
      },
      {
        text: "Balance Amount",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceItems: [],
    toShowInvoiceItems: [],
    invoiceLoading: false,
    toAddInvoiceItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: {
      show: false,
      success: false,
      error: false,
      errorMessage: "",
      confirm: false,
      approve: false,
      finalize: false,
      unapprove: false,
    },
    cashDialog: false,
    invoiceDialog: false,
    amountChanged: false,
    rateChanged: false,
    isFromCashReceipt: false,
    currentRateLoading: false,
    overlay: false,
    excRateLoading: false,
    journalItems: [],
    journalDialog: false,
  }),
  //   mounted() {
  //   this.getListUnderwriter();
  // },

  computed: {
    ...mapState(["remittance"]),
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        refNo: this.param.refNo,
        // transType: this.param.transType,
        // receivedType: this.param.receivedType,
        // bankSource: this.param.bankSource,
        // reference: this.param.reference,
        // refDate: this.param.refDate.date,
        // bankReceived: this.param.bankReceived,
        // amount: this.param.amount,
        // excRate: this.param.excRate,
      };
    },
  },

  watch: {
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
    options: {
      handler() {
        this.getItemData();
      },
      deep: true,
    },
  },

  created() {
    console.log("MASUK");
    console.log(this.$route.query.mode);
    console.log(this.$route.query.id);
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      this.idRemittance = id;
      this.remittance.idRemittance = id;
      this.getItemData(id);
      // this.getJournals(id);
    }
    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.user_name;
  },

  methods: {
    editRemittance() {
      this.$router.replace({
        name: "claims-creditor-payment-edit",
        params: { item: null },
        query: { id: this.param.idRemittance },
      });
    },

    confirmApprove() {
      this.dialog.approve = true;
      this.dialog.unapprove = false;
      this.dialog.finalize = false;
      this.dialog.confirm = true;
    },
    confirmFinalize() {
      this.dialog.finalize = true;
      this.dialog.approve = false;
      this.dialog.unapprove = false;
      this.dialog.confirm = true;
    },
    confirmUnapprove() {
      this.dialog.unapprove = true;
      this.dialog.approve = false;
      this.dialog.finalize = false;
      this.dialog.confirm = true;
    },

    getTotalPayAmount(data) {
      let total = 0;
      if (data == "amountEq") {
        total = this.param.amountEq;
      } else if (data == "payAmount") {
        total = this.param.amount;
      }

      return this.currencyFormat(total);
    },
    getTotalPayAmountPremi(data) {
      let total = 0;
      if (data == "amountEq") {
        total = this.param.amountEqPremiumFunding;
      } else if (data == "payAmount") {
        total = this.param.amountPremiumFunding;
      }

      return this.currencyFormat(total);
    },
    successApproveFinalize() {
      this.dialog.success = false;
      this.getItemData(this.param.idRemittance);
    },

    goBack() {
      this.$router.push({
        name: "claims-creditor-payment-list",
      });
    },

    goToEdit() {
      this.$router.replace({
        name: "claims-creditor-payment-edit",
        query: { id: this.$route.query.id, mode: "p", from: "view" },
      });
    },

    approve() {
      this.dialog.approve = false;
      this.dialog.show = true;
      let submitUrl = "/finance/api/financeclaim/creditor/payment/approve";
      console.log("param: " + JSON.stringify(this.param));
      let checkToken = JSON.parse(localStorage.getItem("checkToken"));
      let paramJSON = {
        remittanceDataDto: {
          idRemittance: this.param.idRemittance,
          amount: this.param.amount,
          amountEq: this.param.amountEq,
          approvedBy: checkToken.user_name,
          approvedDate: new Date()
            .toISOString()
            .substr(0, 10)
            .replaceAll("-", "/"),
          bankCode: this.param.bankCode,
          bankName: this.param.bankName,
          closedBy: this.param.closedBy,
          closedDate: this.param.closedDate,
          currency: this.param.currency,
          customerCode: this.param.customerCode,
          customerType: this.param.custType,
          customerName: this.param.customerName,
          entryBy: this.param.entryBy,
          entryDate: this.param.entryDate,
          exchangeRate: this.currencyToFloat(this.param.exchangeRate),
          listInvoice: this.param.listInvoice,
          listPremiumFunding: this.param.listPremiumFunding,
          paymentMethod: this.param.paymentMethod,
          status: this.param.status,
          reference: this.param.reference,
          tranDate: this.param.tranDate,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.error = false;
            this.dialog.success = true;
          } else {
            this.dialog.success = false;
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.success = false;
          this.dialog.error = true;
        });
    },

    finalize() {
      this.dialog.finalize = false;
      this.dialog.show = true;
      let submitUrl = "/finance/api/financeclaim/creditor/payment/finalize";
      console.log("param: " + JSON.stringify(this.param));
      let checkToken = JSON.parse(localStorage.getItem("checkToken"));
      let paramJSON = {
        remittanceDataDto: {
          idRemittance: this.param.idRemittance,
          amount: this.param.amount,
          amountEq: this.param.amountEq,
          approvedDate: this.param.approvedDate,
          bankCode: this.param.bankCode,
          bankName: this.param.bankName,
          closedBy: checkToken.user_name,
          closedDate: new Date()
            .toISOString()
            .substr(0, 10)
            .replaceAll("-", "/"),
          currency: this.param.currency,
          customerCode: this.param.customerCode,
          customerType: this.param.custType,
          customerName: this.param.customerName,
          entryBy: this.param.entryBy,
          entryDate: this.param.entryDate,
          exchangeRate: this.currencyToFloat(this.param.exchangeRate),
          listInvoice: this.param.listInvoice,
          listPremiumFunding: this.param.listPremiumFunding,
          paymentMethod: this.param.paymentMethod,
          status: this.param.status,
          reference: this.param.reference,
          tranDate: this.param.tranDate,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.error = false;
            this.dialog.success = true;
          } else {
            this.dialog.success = false;
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.success = false;
          this.dialog.error = true;
        });
    },
    unapprove() {
      this.dialog.finalize = false;
      this.dialog.show = true;
      let submitUrl = "/finance/api/financeclaim/creditor/payment/unapprove";
      console.log("param: " + JSON.stringify(this.param));
      let checkToken = JSON.parse(localStorage.getItem("checkToken"));
      let paramJSON = {
        remittanceDataDto: {
          idRemittance: this.param.idRemittance,
          amount: this.param.amount,
          amountEq: this.param.amountEq,
          approvedDate: this.param.approvedDate,
          bankCode: this.param.bankCode,
          bankName: this.param.bankName,
          closedBy: checkToken.user_name,
          closedDate: new Date()
            .toISOString()
            .substr(0, 10)
            .replaceAll("-", "/"),
          currency: this.param.currency,
          customerCode: this.param.customerCode,
          customerType: this.param.custType,
          customerName: this.param.customerName,
          entryBy: this.param.entryBy,
          entryDate: this.param.entryDate,
          exchangeRate: this.currencyToFloat(this.param.exchangeRate),
          listInvoice: this.param.listInvoice,
          listPremiumFunding: this.param.listPremiumFunding,
          paymentMethod: this.param.paymentMethod,
          status: this.param.status,
          reference: this.param.reference,
          tranDate: this.param.tranDate,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.dialog.error = false;
            this.dialog.success = true;
          } else {
            this.dialog.success = false;
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.success = false;
          this.dialog.error = true;
        });
    },

    getItemData(cashReceiptNo = null) {
      this.dialog.show = true;
      if (cashReceiptNo == null) {
        this.param.cashReceiptNo = this.$route.query.id;
      } else {
        this.param.cashReceiptNo = cashReceiptNo;
      }
      this.cashDialog = false;

      API.get(
        "/finance/api/financeclaim/creditor/payment/" + this.param.cashReceiptNo
      ).then((resp) => {
        let dataResp = resp.data.data;
        this.param.amount = dataResp.amount;
        this.param.amountEq = dataResp.amountEq;
        this.param.amountPremiumFunding = dataResp.amountPremiumFunding;
        this.param.amountEqPremiumFunding = dataResp.amountEqPremiumFunding;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerCode = dataResp.customerCode;
        this.param.idRemittance = dataResp.idRemittance;
        this.param.customerName = dataResp.customerName;
        this.param.custType = dataResp.customerType;
        this.param.currency = dataResp.currency;
        this.param.exchangeRate = this.currencyFormat(dataResp.exchangeRate);
        this.param.bankReceived.coaName =
          dataResp.bankCode + " - " + dataResp.bankName;
        this.param.bankName = dataResp.bankName;
        this.param.bankCode = dataResp.bankCode;
        this.param.reference = dataResp.reference;
        this.param.listInvoice = dataResp.listInvoice;
        this.param.listPremiumFunding = dataResp.listPremiumFunding;
        this.remittance.listInvoice = dataResp.listInvoice;
        if (
          dataResp.listInvoice.length === 0 &&
          dataResp.listPremiumFunding.length > 0
        ) {
          this.tab = 1;
        }
        if (dataResp.paymentMethod == 1) {
          this.param.paymentMethod = "1 - Cash";
        } else if (dataResp.paymentMethod == 2) {
          this.param.paymentMethod = "2 - Cheque";
        } else if (dataResp.paymentMethod == 3) {
          this.param.paymentMethod = "3 - Bilyet Giro";
        } else if (dataResp.paymentMethod == 4) {
          this.param.paymentMethod = "4 - Transfer";
        } else if (dataResp.paymentMethod == 5) {
          this.param.paymentMethod = "5 - Bank Draft";
        } else if (dataResp.paymentMethod == 6) {
          this.param.paymentMethod = "6 - Atm";
        } else if (dataResp.paymentMethod == 7) {
          this.param.paymentMethod = "7 - E-Banking";
        } else {
          this.param.paymentMethod = dataResp.paymentMethod;
        }

        this.param.paymentNo = dataResp.idRemittance;
        this.param.status = dataResp.status;
        if (dataResp.status == "ENTRY") {
          this.isRemittanceEntry.show = true;
          this.isRemittanceApproved.show = false;
          console.log(this.param.isRemittanceEntry);
        } else if (dataResp.status == "APPROVED") {
          this.isRemittanceApproved.show = true;
          this.isRemittanceEntry.show = false;
          console.log(this.param.isRemittanceApproved);
        } else {
          this.isRemittanceApproved.show = false;
          this.isRemittanceEntry.show = false;
        }
        this.param.tranDate = dataResp.tranDate;
        this.param.approvedDate = dataResp.approvedDate;
        this.param.approvedBy = dataResp.approvedBy;
        this.param.closedDate = dataResp.closedDate;
        this.param.closedBy = dataResp.closedBy;
        this.param.entryDate = dataResp.entryDate;
        this.param.entryBy = dataResp.entryBy;
        this.param.modifiedBy = dataResp.modifiedBy;
        this.param.modifiedDate = dataResp.modifiedDate;
        this.dialog.show = false;
      });
      this.overlay = false;
      this.getCurrentRate();
    },
    async setDataCash(item) {
      this.param.refNo = item.acctNo;
      this.param.currency = item.currency;
      this.param.transType = item.accountType;
      this.param.billDate = item.billDate;
      this.param.detail = item.description;
      this.param.amount = this.currencyFormat(item.oriAmount);
      this.param.excRate = this.currencyFormat(item.oriExchangeRate);
      this.param.balance = this.currencyFormat(item.balance);
      this.param.currentExcRate = "";
      this.param.balanceLc = "";
      this.cashDialog = false;

      this.getCurrentRate();
    },
    async getCurrentRate() {
      // get current rate
      this.currentRateLoading = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: this.param.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      let balance = this.currencyToFloat(this.param.balance);
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      this.param.currentExcRate = this.currencyFormat(currentRate);
      this.param.balanceLc = this.currencyFormat(balance * currentRate);
      this.currentRateLoading = false;
    },

    back() {
      this.$router.replace({ name: "credit-application-list", query: {back: true}, });
    },
    async search() {
      console.log("SEARCH");
    },

    addJournal() {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      let lastItem = this.journalItems[this.journalItems.length - 1];
      journal.no = (lastItem == null ? 0 : lastItem.no) + 1;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "0.00";
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },

    setJournalItem() {
      console.log("this.param.journals.length", this.param.journals.length);
      if (this.param.journals.length > 0) {
        return;
      }
      this.journalItems = [];
      let journalItem = {
        no: 1,
        coa: this.param.bankReceived.coaCode,
        currency: this.param.bankReceived.currency,
        type: "",
        amount: this.param.amount,
      };
      this.journalItems.push(journalItem);
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = 0;
      if (item != null && item != "") {
        amount = item.toString().replace(/,/g, "");
      }
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "credit-application-edit",
        query: { id: this.param.creditAppNo, mode: "d" }, //600016
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },
    saveJournal() {
      this.param.journals = this.journalItems;
      console.log("this.param.journals", this.param.journals);
    },
    refNoOnClick() {
      if (!this.isFromCashReceipt) {
        this.cashDialog = true;
      }
    },
    async changeCustomer() {
      this.cashLoading = true;
      this.cashItems = [];

      this.invoiceLoading = true;
      this.invoiceItems = [];
      this.toShowInvoiceItems = [];

      // reset field
      this.param.refNo = "";
      this.param.currency = "";
      this.param.transType = "";
      this.param.billDate = "";
      this.param.detail = "";
      this.param.amount = "";
      this.param.excRate = "";
      this.param.balance = "";
      this.param.currentExcRate = "";
      this.param.balanceLc = "";

      let custCode = this.param[this.param.custType.toLowerCase()].code;
      // List Cash Receipt
      let resp = await API.get(
        "/finance/api/finance/creditapplication/getCSHByCustCode/" + custCode
      );
      if (resp.data.code == 0) {
        this.cashItems = resp.data.listInvAcct;
      }
      this.cashLoading = false;
      this.getInvoiceList();
    },
    async getInvoiceList() {
      this.invoiceLoading = true;
      this.invoiceItems = [];
      this.toShowInvoiceItems = [];
      // List Invoice
      // let custCode = this.param[this.param.custType.toLowerCase()].code;
      // if (this.isFromCashReceipt) {
      //   custCode = this.param.customerCode;
      // }
      let invResp = await API.get(
        // "/finance/api/finance/invaccount/getcreditoraccount/" + custCode
        "/finance/api/finance/invaccount/getcreditoraccount/"
      );
      if (invResp.data.code == 0) {
        this.invoiceItems = invResp.data.listTransaction.map(function (row, i) {
          row.no = i + 1;
          return row;
        });
        this.toShowInvoiceItems = this.invoiceItems;
      }
      this.invoiceLoading = false;
    },
    addInvoice(item) {
      let existItem = this.toAddInvoiceItems.filter(
        (value) => value.no == item.no
      );
      if (existItem < 1) {
        this.toAddInvoiceItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeInvoice(item, name) {
      this.amountChanged = false;
      for (let i = 0; i < this[name].length; i++) {
        if (this[name][i].no == item.no) {
          this[name].splice(i, 1);
        }
      }
    },
    submitInvoice() {
      let vm = this;
      this.invoiceDialog = false;
      this.amountChanged = false;
      this.items = this.toAddInvoiceItems.map(function (row) {
        row.paidAmount = vm.currencyFormat(row.paidAmount);
        let paidAmount = vm.currencyToFloat(row.paidAmount);
        let rate = vm.currencyToFloat(row.oriExchangeRate);
        row.equivAmount = paidAmount * rate;
        return row;
      });
    },
    openInvoiceDialog() {
      this.toAddInvoiceItems = JSON.parse(JSON.stringify(this.items));
      this.invoiceDialog = true;
      this.amountChanged = false;
      this.getInvoiceList();
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      this.param.amount = total;
      return this.currencyFormat(total);
    },
    onkeyupInvoiceSearch(header) {
      this.toShowInvoiceItems = this.invoiceItems.filter(
        // (value) => value[header.value] == header.searchValue
        (value) => value[header.value].indexOf(header.searchValue) > -1
      );
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    currencyFormatVat(data) {
      let amount = String(-1 * data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    paidAmountChange(item) {
      this.amountChanged = true;
      let paidAmount = this.currencyToFloat(item.paidAmount);
      let rate = this.currencyToFloat(item.oriExchangeRate);
      item.equivAmount = paidAmount * rate;
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,

    async getJournals(id) {
      let vm = this;
      let resp = await API.get(
        "/finance/api/finance/remittance/viewjournal/" + id
      );
      console.log("journal resp", resp);
      let dataResp = resp.data;
      console.log("dataresp", JSON.stringify(dataResp));
      if (resp.data.code == 0) {
        this.journalItems = dataResp.listJournalEntry
          ? dataResp.listJournalEntry.map(function (row, i) {
              let seqNo = i + 1;
              let amount =
                row.amount == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.amount), "IDR")
                      .replace("IDR ", "") + ".00";
              let exchangeRate =
                row.exchgrate == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.exchgrate), "IDR")
                      .replace("IDR ", "") + ".00";
              let amountEq =
                row.amountEq == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.amountEq), "IDR")
                      .replace("IDR ", "") + ".00";
              return {
                no: seqNo,
                coa: row.coaCode,
                currency: row.currency,
                // type: row.type,
                amount: amount,
                rate: exchangeRate,
                eqAmount: amountEq,
              };
            })
          : [];
      } else {
        this.journalItems = [];
      }
    },
    toList() {
      this.$router.replace({ name: "cash-receipt-list" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        if (
          this.param.status != this.param.statusInit &&
          ["2", "3"].indexOf(this.param.status) != -1
        ) {
          this.statusConfirm = true;
        } else {
          await this.doEdit();
        }
      } else {
        this.formHasErrors = false;
      }
    },
    reloadData() {
      this.getItemData(this.param.receiptNo);
      this.overlay = true;
      this.dialog.show = false;
      this.dialog.success = false;
      this.dialog.error = false;
    },
    // to void
    async toVoid() {
      this.dialog.show = true;
      let paramJSON = {
        cashReceiptData: {
          cashReceiptNo: this.param.receiptNo,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/finance/api/finance/cashreceipt/void", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            this.dialog.success = true;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },

    async toCreditApp() {
      this.$router.replace({
        name: "credit-application-add",
        query: { id: this.param.receiptNo, mode: "p" },
      });
    },

    statusOnChange() {
      this.param.progress = "";
      if (this.param.status == "2") {
        this.param.progress = "6";
      } else if (this.param.status == "3") {
        this.param.progress = "5";
      }
    },
    isDataExist(value, items) {
      let isExist = false;
      for (let i of items) {
        if (i.id == parseFloat(value)) {
          isExist = true;
        }
      }
      console.log("isExist", isExist);
      return isExist;
    },

    viewFile(type = null, format = null) {
      this.dialog.show = true;

      let docUrl = "finance/api/finance/remittance/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/remittance/generate-copy";
      }
      let paramJSON = {
        idRemittance: this.idRemittance,
        fileType: format,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.data, format);
          } else {
            this.previewFile(resp.data.data);
          }
          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Remittance " +
          this.param.idRemittance +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          " - " +
          this.param.customerName +
          // " " +
          // this.currentTime +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
  },
};
</script>

<style scoped>
th.xsmall-label .v-label {
  font-size: x-small;
}
.spanColor {
  color: red;
}
::v-deep .my-text-style input {
  color: red;
}
</style>
