<template>
  <v-card flat>
    <isttoolbar title="Finance" dark color="secondary" icon="mdi-chart-box-plus-outline">
      <v-spacer></v-spacer>
      <v-btn
        v-show="
          statusPaidDriect === 'ENTRY' //&&
          //authorities.indexOf('paid-direct-approve') !== -1
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="handleClikStatus('APPROVED')"
      >
        Approve Paid Direct
      </v-btn>
      <v-btn
        v-show="statusPaidDriect === 'APPROVED' //&& authorities.indexOf('paid-direct-approve') !== -1
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="handleClikStatus('UNAPPROVED')"
      >
        Unapprove Paid Direct
      </v-btn>
      <v-btn
        v-show="statusPaidDriect === 'APPROVED' //&& authorities.indexOf('paid-direct-finalize') !== -1
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="handleClikStatus('FINALIZE')"
      >
        Finalize Paid Direct
      </v-btn>
      <editablejournaldialog
        :refNo="this.param.paidDirectNo"
        :editable="false"
        api="/finance/api/finance/paid-direct/viewjournal/"
        submitApi="/finance/api/finance/paid-direct/modifyjournal"
        transType="REF"
        getListParamName="data"
        paramIdSubmitName="paidDirectNo"
        viewAuth="paid-direct-viewjournal"
      >
      </editablejournaldialog>
      <!-- <v-menu
        bottom
        offset-y
        :nudge-width="200"
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn min-height="40" v-bind="attrs" v-on="on" text>
            <v-icon>mdi-printer mdi-36px</v-icon>
          </v-btn>
        </template>
        <v-card width="480px">
          <v-row>
            <v-col cols="12" class="colorLine pa-0">
              <v-row align="center" class="ml-2 mr-4 mt-2">
                <v-col cols="5" class="pa-0">
                  <span class="title ml-5">Journal Report</span>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="colorLine pa-0">
              <v-row align="center" class="ml-2 mr-4 mt-2">
                <v-col cols="5" class="pa-0">
                  <span class="title ml-5">All Underwriter</span>
                </v-col>
                <v-col cols="2" class="pa-0">
                  <v-btn outlined color="primary" @click="viewFile(null)"
                    >Preview</v-btn
                  >
                </v-col>
                <v-col cols="5" class="pa-0">
                  <v-select
                    :items="dataGenerate"
                    solo
                    flat
                    dense
                    outlined
                    class="mr-3 ml-5"
                    color="primary"
                    full-width
                    hide-details="auto"
                    v-model="generateData"
                    return-object
                    item-text="name"
                    name="originalReceipt"
                    ref="originalReceipt"
                  ></v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <br />
        </v-card>
      </v-menu> -->

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <printaction
            v-bind="attrs"
            v-on="on"
            :items="printItems"
            :id="param.paidDirectNo"
            status=""
            idParam="idPaidDirect"
            base64Key="data"
            cekAuth="create-paid-direct-generate"
          >
          </printaction>
        </template>
      </v-tooltip>
      <v-btn
        text
        small
        @click="goToEdit"
        v-show="
          param.status == 'ENTRY' &&
          authorities.indexOf('paid-direct-edit') !== -1
        "
      >
        <v-icon>mdi-pencil mdi-36px</v-icon>
      </v-btn>
      <v-btn text small @click="goBack">
        <v-icon right>mdi-close mdi-36px</v-icon>
      </v-btn>
    </isttoolbar>
    <v-dialog v-model="termDialog" persistent max-width="1000">
      <v-card flat class="pt-2">
        <!-- <v-row align="center" class="ml-2 mt-2">
            <v-col cols="2" class="pa-1">
              <span class="title">Method</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-row align="center" class="ml-1">
                <v-radio-group
                  v-model="methodNormal"
                  row
                  readonly
                >
                  <v-radio
                    label="Normal"
                    value="1"
                  ></v-radio>
                  <v-radio
                    label="Without Brokerage"
                    value="2"
                  ></v-radio>
                </v-radio-group>
              </v-row>
            </v-col>
          </v-row> -->
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Term</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model.lazy="selectedTerm.term"
              ref="reference"
              name="reference"
              label="Select Term"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
            <!-- <v-autocomplete
              hide-details="auto"
              label="Select Term"
              v-model="selectedTerm"
              :items="termArray"
              item-value="term"
              item-text="term"
              class="ma-0"
              return-object
              flat
              outlined
              dense
              solo
            ></v-autocomplete> -->
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Pay Amount</span>
          </v-col>
          <v-col cols="4" class="pa-1">
            <v-text-field
              v-model.lazy="paidAmountHeader"
              ref="reference"
              name="reference"
              label="Pay Amount"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
          <br />
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title primary--text">Debtor: </span>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Balance Amount</span>
          </v-col>
          <v-col cols="4" class="pa-1">
            <v-text-field
              v-model="debtorBalance"
              label="Balance Amount Debtor"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
        </v-row>
        <br />
        <v-row align="center" class="ml-2">
          <v-col cols="2" class="pa-1">
            <span class="title primary--text">Creditor: </span>
          </v-col>
        </v-row>
        <br />
        <v-data-table
          :headers="headers"
          :items="termList"
          hide-default-footer
          :loading="invoiceLoading"
          :sort-by.sync="sortBySharePercentage"
          :sort-desc.sync="isDescending"
          class="elevation-1"
        >
          <template v-slot:[`item.sharingPercentage`]="{ item }">
            <div>{{ item.sharingPercentage + "%" }}</div>
          </template>
          <template v-slot:[`item.balanceAmount`]="{ item }">
            <div>{{ formatMoney(item.balanceAmount) }}</div>
          </template>
          <template v-slot:[`item.originalAmount`]="{ item }">
            <div>{{ formatMoney(item.originalAmount) }}</div>
          </template>
          <template v-slot:[`item.netAmount`]="{ item }">
            <div>{{ formatMoney(item.netAmount) }}</div>
          </template>
          <template v-slot:[`item.payAmount`]="{ item }">
            <div>{{ formatMoney(item.payAmount) }}</div>
          </template>
          <template v-slot:[`item.paidAmount`]="{ item }">
            <div>{{ formatMoney(item.paidAmount) }}</div>
          </template>
          <template v-slot:[`item.shareAmount`]="{ item }">
            <div>{{ formatMoney(item.shareAmount) }}</div>
          </template>
          <template v-slot:[`body.append`]>
            <tr>
              <td v-for="header in headers" :key="header.text">
                <span v-if="header.value == 'insuranceCode'" class="title"
                  >Total
                </span>
                <span v-if="header.value == 'sharingPercentage'" class="title"
                  >{{ getTotalEqAmount("sharingPercentage") }}
                </span>
                <span v-if="header.value == 'originalAmount'" class="title"
                  >{{ formatMoney(totalOriginalAmount) }}
                </span>
                <span v-if="header.value == 'netAmount'" class="title"
                  >{{ formatMoney(totalNetAmount) }}
                </span>
                <span v-if="header.value == 'paidAmount'" class="title"
                  >{{ formatMoney(totalPaidAmount) }}
                </span>
                <span v-if="header.value == 'payAmount'" class="title"
                  >{{ formatMoney(totalPayAmount) }}
                </span>
                <span v-if="header.value == 'balanceAmount'" class="title"
                  >{{ formatMoney(totalBalanceAmount) }}
                </span>
                <span v-if="header.value == 'shareAmount'" class="title"
                  >{{ formatMoney(totalShareAmount) }}
                </span>
              </td>
            </tr>
          </template>
        </v-data-table>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            rounded
            min-width="100"
            depressed
            @click="termDialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <isttoolbar title="View Paid Direct" dark color="primary" class="mb-2">
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Status</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="statusPaidDriect"
            ref="statusPaidDriect"
            name="statusPaidDriect"
            label="Status"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Paid Direct No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.paidDirectNo"
            hide-details="auto"
            label="{Auto Generated}"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transactionDate"
            ref="transDate"
            name="transDate"
            label="Insert Transaction Date"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Client</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="selectedClient.codeAndName"
            ref="codeAndName"
            name="codeAndName"
            label="Search Client"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Description</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            readonly
            ref="desc"
            name="desc"
            class="ma-0"
            v-model="param.description"
            :rows="4"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
    </v-form>
    <v-row>
      <v-col> </v-col>
    </v-row>
    <isttoolbar title="Paid Direct Info" dark color="grey" class="mb-2">
    </isttoolbar>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Invoice No.</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.invoiceNo"
          ref="reference"
          name="reference"
          label=""
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <br />
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Class</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <span class="subtitle">{{ param.riskClass }}</span>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Currency</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <span class="subtitle">{{ param.currency }}</span>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Description</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <span class="subtitle">{{ invoiceDesc }}</span>
      </v-col>
    </v-row>
    <br />
    <v-card flat>
      <v-data-table
        :headers="creditorHeaders"
        :items="termListFinal"
        hide-default-footer
        class="elevation-1"
      >
        <template v-slot:[`item.originalAmount`]="{ item }">
          <div>{{ formatMoney(item.originalAmount) }}</div>
        </template>
        <template v-slot:[`item.netAmount`]="{ item }">
          <div>{{ formatMoney(item.netAmount) }}</div>
        </template>
        <template v-slot:[`item.paidAmount`]="{ item }">
          <div>{{ formatMoney(item.paidAmount) }}</div>
        </template>
        <template v-slot:[`item.payAmount`]="{ item }">
          <div>{{ formatMoney(item.payAmount) }}</div>
        </template>
        <template v-slot:[`item.balanceAmount`]="{ item }">
          <div>{{ formatMoney(item.balanceAmount) }}</div>
        </template>
        <template v-slot:[`item.shareAmount`]="{ item }">
          <div>{{ formatMoney(item.shareAmount) }}</div>
        </template>
        <template v-slot:[`item.action`]="{}">
          <v-menu bottom left :offset-x="true">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="viewCreditor">
                <v-list-item-title>View</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
    <br />
    <!-- <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Entry By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.createdBy"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.createdDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row> -->
    <!-- <v-card>
        <v-form class="mx-5"> -->
    <v-row>
      <v-col cols="6">
        <v-row align="center" class="ml-2 mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Entry By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="entry"
              v-model="param.createdBy"
              class="ma-0"
              flat
              outlined
              dense
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="entryDate"
              v-model="param.createdDate"
              class="ma-0"
              flat
              outlined
              dense
              solo
              readonly
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" class="ml-2 mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Modified By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="approved"
              v-model="param.modifiedBy"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="approvedDate"
              v-model="param.modifiedDate"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="6">
        <v-row align="center" class="mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Approved By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="close"
              v-model="param.approvedBy"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="closeDate"
              v-model="param.approvedDate"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" class="mr-2">
          <v-col cols="3" class="pa-1">
            <span class="title">Close By</span>
          </v-col>
          <v-col cols="5" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="modified"
              v-model="param.closedBy"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              hide-details="auto"
              ref="modifiedDate"
              v-model="param.closedDate"
              solo
              flat
              dense
              outlined
              class="ma-0"
              readonly
            ></v-text-field>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <!-- </v-form>
    </v-card> -->
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="editItem"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.error">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.show = dialog.error = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogConfirm"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to {{ titleStatus }} Paid Direct?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                changeStatusPaidDirect();
                dialogConfirm = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogConfirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogNotif.show"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card
          v-show="!dialogNotif.success && !dialogNotif.error"
          min-width="290px"
        >
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card
          v-show="dialogNotif.success || dialogNotif.error"
          min-width="290px"
        >
          <v-card-title
            v-if="dialogNotif.success"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialogNotif.text }}</v-card-title
          >
          <v-card-title
            v-else-if="dialogNotif.error"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialogNotif.text }}</v-card-title
          >
          <v-card-text
            v-if="dialogNotif.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialogNotif = {
                  show: false,
                  success: false,
                  error: false,
                  text: '',
                }
              "
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";
import printaction from "@/components/toolbars/printAction";

export default {
  components: {
    isttoolbar,
    editablejournaldialog,
    printaction,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    authorities: [],
    methodNormal: "1",
    dialogConfirm: false,
    statusClick: "ENTRY",
    statusPaidDriect: "",
    titleStatus: "Approved",
    dialogNotif: { show: false, success: false, error: false, text: "" },
    printItems: [
      {
        // code: "client",
        text: "All Underwriter",
        name: "Paid Direct Journal Report All Underwriter",
        url: "finance/api/finance/paid-direct/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    sortBySharePercentage: "sharingPercentage",
    isDescending: true,
    debtorBalance: 0,
    totalBalanceAmount: 0,
    totalOriginalAmount: 0,
    totalPaidAmount: 0,
    totalPayAmount: 0,
    totalShareAmount: 0,
    clientCode: "",
    invoiceDesc: "",
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    invoiceLoading: false,
    termList: [],
    termListFinal: [],
    headers: [
      {
        text: "Insurance",
        value: "insuranceCode",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "paidAmount",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balanceAmount",
        sortable: false,
      },
    ],
    creditorHeaders: [
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Net Amount",
        value: "netAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "paidAmount",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "payAmount",
        sortable: false,
      },
      {
        text: "Balance",
        value: "balanceAmount",
        sortable: false,
      },
      {
        text: "Action",
        value: "action",
        sortable: false,
      },
    ],
    invoiceCreditorItems: [],
    invoiceCreditorItemsAdded: [],
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    selectedClient: {
      id: null,
      codeAndName: null,
    },
    selectedTerm: {
      term: null,
    },
    termArray: [],
    param: {
      clientCode: "",
      clientName: "",
      clientType: "",
      currency: "",
      description: "",
      exchangeRate: "",
      invoiceNo: "",
      acctType: "",
      listDetail: [
        {
          listDetailPerInsurer: [],
          term: "",
          totalNetAmount: "",
          totalOriginalAmount: "",
          totalBalanceAmount: "",
          totalPaidAmount: "",
          totalPayAmount: "",
          totalShareAmount: "",
          balanceDebtor: "",
        },
      ],
      paidDirectNo: 0,
      riskClass: "",
      transactionDate: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      createdBy: "",
      createdDate: "",
      approvedBy: "",
      approvedDate: "",
      modifiedBy: "",
      modifiedDate: "",
      closedBy: "",
      closedDate: "",
      status: "",
    },
    paidAmountHeader: null,
    totalTerm: 0,
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url:
          "/config/api/master-akuncoa/?coaType.equals=1%20-%20Bank&isActive.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
    },
    paidDirectHeaders: [
      {
        text: "Insurance",
        align: "start",
        value: "insurance",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balanceAmount",
        sortable: false,
      },
    ],
    termHeader: [
      {
        text: "Insurance",
        align: "start",
        value: "insurance",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "amoutPaid",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balance",
        sortable: false,
      },
    ],
    invoiceHeaders: [
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Invoice No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
      },
      {
        text: " Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "A/Exec",
        sortable: false,
        value: "cstExc",
        add: "",
        rules: [],
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceDialog: false,
    termDialog: false,
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,
    amountChanged: false,
    rateChanged: false,
    overlay: false,
    dataOrginal: [],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        currency: this.param.currency,
        transType: this.param.transType,
        receivedType: this.param.receivedType,
        bankSource: this.param.bankSource,
        reference: this.param.reference,
        refDate: this.param.refDate.date,
        bankReceived: this.param.bankReceived,
        amount: this.param.amount,
        excRate: this.param.excRate,
      };
    },
  },

  watch: {
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },

  async created() {
    this.getViewPaidDirect(this.$route.query.id);
    this.authorities = JSON.parse(
      localStorage.getItem("checkToken")
    ).authorities;
  },

  methods: {
    viewCreditor() {
      // this.invoiceLoading = true;
      // let uwCodeParam = "?accountNo.equals=" + this.param.invoiceNo;
      // // let termParam = "&term.equals=" + this.selectedTerm.term;
      // let termParam = "&term.equals=" + this.totalTerm;

      // //debtor
      // let urlDebtor = "/finance/api/finance/invaccount/getdebtoraccount";
      // API.get(urlDebtor + uwCodeParam + termParam)
      //   .then((resp) => {
      //     this.invoiceLoading = false;
      //     if (resp.data.code == 0) {
      //       let dataListDebtor = resp.data.listTransaction[0];
      //       this.debtorBalance = this.currencyFormat(dataListDebtor.balance);
      //     } else {
      //       this.dialog.error = true;
      //       this.dialog.errorMessage =
      //         resp.data.errorMessage.length > 0
      //           ? resp.data.errorMessage.toUpperCase()
      //           : resp.data.errordescription.toUpperCase();
      //     }
      //   })
      //   .catch((error) => {
      //     alert(error);
      //   });

      this.termDialog = true;
    },
    getInvoiceDesc() {
      let appendix = "&accountNo.equals=" + this.param.invoiceNo;
      let url =
        "/finance/api/finance/invaccount/getsumdebtoraccount?clientCode.equals=" +
        this.clientCode +
        "&transType.equals=INV" +
        appendix;
      API.get(url)
        .then((resp) => {
          if (resp.data.code == 0) {
            console.log(
              "getinvdesc: " + JSON.stringify(resp.data.listTransaction)
            );
            this.invoiceDesc = resp.data.listTransaction[0].description;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
          this.invoiceLoading = false;
        })
        .catch((error) => {
          alert(error);
        });
    },
    viewFile(type = null, format = null) {
      this.dialog.show = true;

      let docUrl = "finance/api/finance/paid-direct/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/paid-direct/generate-copy";
      }
      let paramJSON = {
        idRemittance: this.idRemittance,
        fileType: format,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.data, format);
          } else {
            this.previewFile(resp.data.data);
          }
          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
        }
      });
    },
    goBack() {
      this.$router.replace({ 
        name: "paid-direct-list",
        query: {back: true},
      });
    },
    goToEdit() {
      this.$router.push({
        name: "paid-direct-edit",
        query: { id: this.$route.query.id, mode: "edit", from: "view" },
      });
    },
    changeHeaderFinal(method) {
      if (method === "1") {
        this.creditorHeaders = [
          {
            text: "Term",
            value: "term",
            sortable: false,
          },
          // {
          //   text: "Method",
          //   value: "method",
          //   sortable: false,
          // },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
          {
            text: "Action",
            value: "action",
            sortable: false,
          },
        ];
      } else {
        this.creditorHeaders = [
          {
            text: "Term",
            value: "term",
            sortable: false,
          },
          // {
          //   text: "Method",
          //   value: "method",
          //   sortable: false,
          // },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
          {
            text: "Next Payable",
            value: "shareAmount",
            sortable: false,
          },
          {
            text: "Action",
            value: "action",
            sortable: false,
          },
        ];
      }
    },
    changeHeader(method) {
      if (method === "1") {
        this.headers = [
          {
            text: "Insurance",
            value: "insuranceCode",
            sortable: false,
          },
          {
            text: "Sharing Percentage",
            value: "sharingPercentage",
            sortable: false,
          },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
        ];
      } else {
        this.headers = [
          {
            text: "Insurance",
            value: "insuranceCode",
            sortable: false,
          },
          {
            text: "Sharing Percentage",
            value: "sharingPercentage",
            sortable: false,
          },
          {
            text: "Original Amount",
            value: "originalAmount",
            sortable: false,
          },
          {
            text: "Net Amount",
            value: "netAmount",
            sortable: false,
          },
          {
            text: "Paid Amount",
            value: "paidAmount",
            sortable: false,
          },
          {
            text: "Pay Amount",
            value: "payAmount",
            sortable: false,
          },
          {
            text: "Balance Amount",
            value: "balanceAmount",
            sortable: false,
          },
          {
            text: "Next Payable",
            value: "shareAmount",
            sortable: false,
          },
        ];
      }
    },
    getViewPaidDirect(id) {
      this.dialog.show = true;
      // var paramJSON = {
      //   id: id,
      // };
      var url = "/finance/api/finance/paid-direct/view/" + id;
      API.get(url).then((resp) => {
        let dataResp = resp.data.data;
        this.dialog.show = false;
        if (resp.data.code == 0) {
          this.changeHeaderFinal(dataResp.method);
          this.changeHeader(dataResp.method);
          this.methodNormal = dataResp.method;
          this.param.paidDirectNo = dataResp.paidDirectNo;
          this.param.transactionDate = this.formatDateToDMY(dataResp.transactionDate);
          this.selectedClient.codeAndName =
            dataResp.clientCode + " - " + dataResp.clientName;
          this.param.invoiceNo = dataResp.acctNo;
          this.param.riskClass = dataResp.riskClass;
          this.param.description = dataResp.description;
          this.param.currency = dataResp.currency;
          this.param.entryBy = dataResp.createdBy;
          this.param.entryDate = dataResp.createdDate;
          this.param.createdBy = dataResp.createdBy;
          this.param.createdDate = dataResp.createdDate;
          this.param.approvedBy = dataResp.approvedBy;
          this.param.approvedDate = dataResp.approvedDate;
          this.param.modifiedBy = dataResp.modifiedBy;
          this.param.modifiedDate = dataResp.modifiedDate;
          this.param.closedBy = dataResp.closedBy;
          this.param.closedDate = dataResp.closedDate;
          this.param.status = dataResp.status;
          this.statusPaidDriect = dataResp.status;
          this.clientCode = dataResp.clientCode;
          this.termList = dataResp.listDetail[0].listDetailPerInsurer;
          this.totalBalanceAmount = dataResp.listDetail[0].totalBalanceAmount;
          this.totalOriginalAmount = dataResp.listDetail[0].totalOriginalAmount;
          this.totalNetAmount = dataResp.listDetail[0].totalNetAmount;
          this.totalPaidAmount = dataResp.listDetail[0].totalPaidAmount;
          this.totalPayAmount = dataResp.listDetail[0].totalPayAmount;
          this.totalShareAmount = dataResp.listDetail[0].totalShareAmount;
          this.debtorBalance = this.currencyFormat(
            dataResp.listDetail[0].balanceDebtor
          );
          this.totalTerm = dataResp.listDetail[0].term;
          this.paidAmountHeader = this.currencyFormat(this.totalPayAmount);

          //get inv desc
          this.getInvoiceDesc();
          this.termGenerator();
          //mapping termlistfinal
          var list = dataResp.listDetail;
          this.termListFinal = list.map(function (row) {
            console.log("row: " + JSON.stringify(row));
            return {
              term: row.term,
              method: dataResp.method === "1" ? "Normal" : "Without Brokerage",
              balanceAmount: row.totalBalanceAmount,
              originalAmount: row.totalOriginalAmount,
              netAmount: row.totalNetAmount ? row.totalNetAmount : 0,
              paidAmount: row.totalPaidAmount,
              payAmount: row.totalPayAmount,
              shareAmount: row.totalShareAmount,
            };
          });
          console.debug(this.termListFinal, "termListFinal");
        }
      });
    },

    paidAmountHeaderLimit() {
      return () =>
        Math.abs(this.currencyToFloat(this.paidAmountHeader)) <=
          Math.abs(
            this.currencyToFloat(this.param.listDetail.totalBalanceAmount)
          ) || "Cannot be greater than total Balance Amount";
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    removeInvoice(item, name) {
      for (let i = 0; i < this[name].length; i++) {
        if (this[name][i].no == item.no) {
          this[name].splice(i, 1);
        }
      }
    },
    dividePaidAmount() {
      this.paidAmountHeader = this.currencyFormat(this.paidAmountHeader);
      var list = this.termList;
      var input = this.currencyToFloat(this.paidAmountHeader);
      for (var i = 0; i < list.length; i++) {
        list[i].amountPayable = (input * list[i].sharePercentage) / 100;
        this.termList = list;
        // this.getTotalEqAmount("amountPayable");
      }
    },
    getTotalEqAmount(data) {
      let total = 0;
      let returnedValue;
      let list = this.termList;
      for (let i = 0; i < list.length; i++) {
        total =
          parseFloat(total.toString().replace(/,/g, "")) +
          parseFloat(list[i][data].toString().replace(/,/g, ""));
      }
      returnedValue = total.toString() + "%";
      return returnedValue;
    },
    submitInvoice() {
      var invoiceData = this.invoiceCreditorItemsAdded;
      for (var i = 0; i < invoiceData.length; i++) {
        this.param.invoiceNo = invoiceData[i].accountNo;
        this.param.acctType = invoiceData[i].accountType;
        this.param.riskClass = invoiceData[i].prdrisk;
        this.param.currency = invoiceData[i].currency;
        this.param.description = invoiceData[i].tranDesc;
        this.totalTerm = parseInt(invoiceData[i].term);
      }
      this.invoiceDialog = false;
    },
    addInvoice(item) {
      if (this.invoiceCreditorItemsAdded.length == 0) {
        let existItem = this.invoiceCreditorItemsAdded.filter(
          (value) => value.no == item.no
        );
        if (existItem < 1) {
          this.invoiceCreditorItemsAdded.push(JSON.parse(JSON.stringify(item)));
        }
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async searchTerm() {
      this.invoiceLoading = true;
      let url = "/finance/api/finance/invaccount/getcreditoraccount";
      let uwCodeParam = "?accountNo.contains=" + this.param.invoiceNo;
      let termParam = "&term.equals=" + this.selectedTerm.term;
      API.get(url + uwCodeParam + termParam)
        .then((resp) => {
          this.invoiceLoading = false;
          if (resp.data.code == 0) {
            this.termList = resp.data.listTransaction;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          alert(error);
        });
    },

    async getItemData() {
      this.param.id = this.$route.query.id;

      let paramJSON = {
        id: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/finance/cash-receipt-manual/view",
        param
      ).then((resp) => {
        let dataResp = resp.data;
        this.param.receiptNo = dataResp.originalReceiptNo;
        // this.param.transDate = dataResp.transactionDate;
        // this.param.status = dataResp.status;
        this.param.custType = dataResp.customerType;
        // this.param.customer =
        //   dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerCode = dataResp.customerCode;
        this.param.currency = dataResp.currency;
        this.param.transType = dataResp.transactionType;
        this.param.receivedType = dataResp.receivedType;
        // this.param.bankSource =
        //   dataResp.bankSource + " - " + dataResp.bankSourceName;
        this.param.bankSourceCode = dataResp.bankSource;
        this.param.reference = dataResp.reference;
        this.param.refDate.date = dataResp.referenceDate;
        this.param.desc = dataResp.description;
        // this.param.bankReceived =
        //   dataResp.bankReceived + " - " + dataResp.bankReceivedName;
        this.param.bankReceivedCode = dataResp.bankReceived;
        this.param.amount =
          dataResp.amount == null
            ? ""
            : this.formatCommaCurrency(String(dataResp.amount), "IDR").replace(
                "IDR ",
                ""
              ) + ".00";
        this.param.balance = "";
        this.param.excRate =
          dataResp.exchangeRate == null
            ? ""
            : this.formatCommaCurrency(
                String(dataResp.exchangeRate),
                "IDR"
              ).replace("IDR ", "") + ".00";
      });

      let custItem = this.search[
        this.param.custType.toLowerCase()
      ].items.filter((value) => value.code == this.param.customerCode);
      this.param[this.param.custType.toLowerCase()] = custItem[0];

      let bankItem = this.search.bankSource.items.filter(
        (value) => value.bankCode == this.param.bankSourceCode
      );
      this.param.bankSource = bankItem[0];

      let bankReceivedItem = this.search.bankReceived.items.filter(
        (value) => value.coaCode == this.param.bankReceivedCode
      );
      this.param.bankReceived = bankReceivedItem[0];

      this.overlay = false;
    },

    back() {
      this.$router.replace({ name: "cash-receipt-list" });
    },

    openTermDialog() {
      this.termDialog = true;
      this.termGenerator();
    },

    termGenerator() {
      while (this.termArray.length > 0) {
        this.termArray.pop();
      }
      this.termArray.push({ term: this.totalTerm });
      this.selectedTerm.term = this.totalTerm;
    },

    async selectTermClient() {
      this.termDialog = false;
      this.termListFinal = this.termList;
      this.param.exchangeRate = await this.getExchangeRate(
        this.termList[0].currency
      );
    },

    async save() {
      // Object.keys(this.form).forEach((f) => {
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });
      // if (!this.param[this.param.custType.toLowerCase()]) {
      //   this.formHasErrors = true;
      // }
      // this.$refs[this.param.custType.toLowerCase()].validate(true);

      // if (!this.formHasErrors) {
      //   this.dialog.show = true;
      //   await this.doAdd();
      //   // this.back();
      // } else {
      //   this.formHasErrors = false;
      // }
      this.doAdd();
      console.log("SAVE");
    },
    async searchClientCreditor() {
      this.invoiceLoading = true;
      let url =
        "/finance/api/finance/invaccount/getdebtoraccount?clientCode.contains=" +
        this.selectedClient.code;
      // let url = "/finance/api/finance/invaccount/getsumdebtoraccount"
      API.get(url)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.invoiceCreditorItems = resp.data.listTransaction;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
          this.invoiceLoading = false;
        })
        .catch((error) => {
          alert(error);
        });
    },
    async doAdd() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      let submitUrl = "/finance/api/finance/paid-direct/add";
      let paramJSON = {
        clientCode: this.selectedClient.code,
        clientName: this.selectedClient.name,
        clientType: this.selectedClient.accountType,
        currency: this.param.currency,
        description: this.param.description,
        exchangeRate: this.param.exchangeRate,
        acctNo: parseFloat(this.param.invoiceNo.toString().replace(/,/g, "")),
        acctType: this.param.acctType,
        listDetail: [
          {
            listDetailPerInsurer: this.termList.map(function (row) {
              return {
                balanceAmount: row.balance,
                insuranceCode: row.uwCode,
                insuranceName: row.uwName,
                originalAmount: row.amount,
                paidAmount: parseFloat(
                  row.amountPayable.toString().replace(/,/g, "")
                ),
                sharingPercentage: row.sharePercentage,
              };
            }),
            term: this.selectedTerm.term,
            totalBalanceAmount: parseFloat(
              this.param.listDetail.totalBalanceAmount
                .toString()
                .replace(/,/g, "")
            ),
            totalOriginalAmount: parseFloat(
              this.param.listDetail.totalOriginalAmount
                .toString()
                .replace(/,/g, "")
            ),
            totalPaidAmount: parseFloat(
              this.param.listDetail.totalPaidAmount.toString().replace(/,/g, "")
            ),
          },
        ],
        paidDirectNo: null,
        riskClass: this.param.riskClass,
        transactionDate: new Date().toISOString().substr(0, 10),
      };
      let param = JSON.stringify(paramJSON);
      console.log(param);
      API.post(submitUrl, param)
        .then((resp) => {
          this.dialog.show = true;
          if (resp.data.code == 0) {
            this.dialog.success = true;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },

    // async toPost() {
    //   this.dialog.show = true;
    //   let paramJSON = {
    //     id: this.param.receiptNo,
    //   };
    //   let param = JSON.stringify(paramJSON);
    //   API.post("/finance/api/finance/cash-receipt-manual/post", param)
    //     .then((resp) => {
    //       if (resp.data.code == 0) {
    //         this.dialog.success = true;
    //       } else {
    //         this.dialog.error = true;
    //         this.dialog.errorMessage =
    //           resp.data.errorMessage.length > 0
    //             ? resp.data.errorMessage.toUpperCase()
    //             : resp.data.errordescription.toUpperCase();
    //       }
    //     })
    //     .catch((error) => {
    //       console.log(error);
    //       this.dialog.error = true;
    //     });
    // },

    addJournal() {
      // this.numberRules = [
      //   (v) => !!v || "Field is required",
      //   (v) => /^\d+$/.test(v) || "Must be a number",
      // ];
      // let contactHasError = false;
      // let toValidate = this.headers.filter(
      //   (value) => ["name", "handphoneNo"].indexOf(value.value) != -1
      // );
      // for (let r of toValidate) {
      //   if (r.value == "name") {
      //     r.rules = [this.rules.required];
      //   } else if (r.value == "handphoneNo") {
      //     r.rules = [this.rules.required];
      //   } else if (r.value == "emailAddress") {
      //     r.rules = [this.rules.emailRules];
      //   }
      // }
      // for (var val of toValidate) {
      //   if (val.add.length < 1) {
      //     contactHasError = true;
      //   }
      //   this.$refs[val.value][0].validate(true);
      // }
      // iniiiiiiii
      // if (!contactHasError) {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      journal["accountType"] = this.param.customerType;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "0.00";
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },

    setJournalItem() {
      console.log("this.param.journals.length", this.param.journals.length);
      if (this.param.journals.length > 0) {
        return;
      }
      this.journalItems = [];
      let journalItem = {
        no: 1,
        coa: this.param.bankReceived.coaCode,
        currency: this.param.bankReceived.currency,
        type: "",
        amount: this.param.amount,
      };
      this.journalItems.push(journalItem);
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    editItem() {
      this.$router.push({
        name: "cash-receipt-edit",
        query: { id: this.param.receiptNo, mode: "d" },
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },
    saveJournal() {
      this.param.journals = this.journalItems;
      console.log("this.param.journals", this.param.journals);
    },
    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.bankAccount,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
    handleClikStatus(status) {
      if (status === "UNAPPROVED") {
        this.titleStatus = "Unapprove";
      } else if (status === "FINALIZE") {
        this.titleStatus = "Finalize";
      } else {
        this.titleStatus = "Approved";
      }
      this.dialogConfirm = true;
      this.statusClick = status;
    },
    changeStatusPaidDirect() {
      if (this.statusClick === "UNAPPROVED") {
        this.unapproved();
      } else if (this.statusClick === "FINALIZE") {
        this.final();
      } else {
        this.approved();
      }
    },
    approved() {
      this.dialogNotif.show = true;
      API.post(
        `/finance/api/finance/paid-direct/approve/${this.$route.query.id}`
      ).then((resp) => {
        if (resp.data.code == 0) {
          let dataResp = resp.data.data;
          this.param.entryBy = dataResp.createdBy;
          this.param.entryDate = dataResp.createdDate;
          this.param.createdBy = dataResp.createdBy;
          this.param.createdDate = dataResp.createdDate;
          this.param.approvedBy = dataResp.approvedBy;
          this.param.approvedDate = dataResp.approvedDate;
          this.param.modifiedBy = dataResp.modifiedBy;
          this.param.modifiedDate = dataResp.modifiedDate;
          this.param.closedBy = dataResp.closedBy;
          this.param.closedDate = dataResp.closedDate;
          this.param.status = dataResp.status;
          this.statusPaidDriect = dataResp.status;
          this.dialogNotif.success = true;
          this.dialogNotif.text = "Your Data has been Approved";
        } else {
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.dialogNotif.text = "Your Data Failed to Approved";
          this.errorDescription = err;
          this.dialogNotif.error = true;
        }
      });
    },
    unapproved() {
      this.dialogNotif.show = true;
      API.post(
        `/finance/api/finance/paid-direct/unapprove/${this.$route.query.id}`
      ).then((resp) => {
        if (resp.data.code == 0) {
          let dataResp = resp.data.data;
          this.param.entryBy = dataResp.createdBy;
          this.param.entryDate = dataResp.createdDate;
          this.param.createdBy = dataResp.createdBy;
          this.param.createdDate = dataResp.createdDate;
          this.param.approvedBy = dataResp.approvedBy;
          this.param.approvedDate = dataResp.approvedDate;
          this.param.modifiedBy = dataResp.modifiedBy;
          this.param.modifiedDate = dataResp.modifiedDate;
          this.param.closedBy = dataResp.closedBy;
          this.param.closedDate = dataResp.closedDate;
          this.param.status = dataResp.status;
          this.statusPaidDriect = dataResp.status;
          this.statusApprove = false;
          this.dialogNotif.success = true;
          this.dialogNotif.text = "Your Data has been Unapproved";
        } else {
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.dialogNotif.text = "Your Data Failed to Unapproved";
          this.errorDescription = err;
          this.dialogNotif.error = true;
        }
      });
    },
    final() {
      this.dialogNotif.show = true;
      API.post(
        `/finance/api/finance/paid-direct/finalize/${this.$route.query.id}`
      ).then((resp) => {
        if (resp.data.code == 0) {
          let dataResp = resp.data.data;
          this.param.entryBy = dataResp.createdBy;
          this.param.entryDate = dataResp.createdDate;
          this.param.createdBy = dataResp.createdBy;
          this.param.createdDate = dataResp.createdDate;
          this.param.approvedBy = dataResp.approvedBy;
          this.param.approvedDate = dataResp.approvedDate;
          this.param.modifiedBy = dataResp.modifiedBy;
          this.param.modifiedDate = dataResp.modifiedDate;
          this.param.closedBy = dataResp.closedBy;
          this.param.closedDate = dataResp.closedDate;
          this.param.status = dataResp.status;
          this.statusPaidDriect = dataResp.status;
          this.dialogNotif.success = true;
          this.dialogNotif.text = "Your Data has been Finalized";
        } else {
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.dialogNotif.text = "Your Data Failed to Finalized";
          this.errorDescription = err;
          this.dialogNotif.error = true;
        }
      });
    },
    formatDateToDMY(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
  },
};
</script>
>
