<template>
  <div class="ma-0 pa-0" @click="$emit('close')">
    <v-snackbar
      v-model="show"
      top
      right
      :color="color ? color : 'success'"
      x-large
    >
      <v-icon color="white">{{ icon ? icon : 'mdi-check-circle' }}</v-icon>
      <span class="title"> {{ text ? text : 'Your Data has been Saved' }} </span>
    </v-snackbar>  
  </div>
  
</template>

<script>
export default {
  props: ["show", "color", "icon", "text"],
  data: () => ({}),
  watch: {},
  methods: {},
};
</script>
