<template>
  <v-card flat>
    <isttoolbar title="Finance" dark color="secondary" icon="mdi-chart-box-plus-outline">
      <v-dialog v-model="invoiceDialog" persistent max-width="900">
        <v-card>
          <v-row align="center" class="ml-2">
            <v-card-title class="headline">Choose Client</v-card-title>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col>
              <v-card-title>Client</v-card-title>
            </v-col>
            <v-col>
              <v-autocomplete
                hide-details="auto"
                label="Select Client"
                v-model="selectedClient"
                ref="client"
                name="client"
                @keyup="autocompSearch(search.client)"
                :search-input.sync="search.client.input"
                :items="search.client.items"
                item-value="id"
                item-text="codeAndName"
                :loading="search.client.loading"
                class="ma-0"
                return-object
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
            <v-col>
              <v-btn
                color="primary"
                min-width="100px"
                outlined
                @click="searchClientCreditor"
                >Search</v-btn
              >
            </v-col>
          </v-row>
          <v-data-table
            :headers="invoiceHeaders"
            :items="invoiceCreditorItems"
            :loading="invoiceLoading"
            hide-default-header
            class="elevation-1"
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th
                    v-for="header in headers"
                    :key="header.text"
                    class="xsmall-label"
                  >
                    <v-text-field
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :disabled="header.value != 'acctNo'"
                      v-on:keyup="onkeyupInvoiceSearch(header)"
                    >
                    </v-text-field>
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:[`item.amount`]="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:[`item.amoutPaid`]="{ item }">
              <div>{{ currencyFormat(item.amoutPaid) }}</div>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:[`item.amountPayable`]="{ item }">
              <div>{{ currencyFormat(item.amountPayable) }}</div>
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                :disabled="item.balance <= 0"
                @click="addInvoice(item)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
          </v-data-table>

          <br />
          <span class="title mx-5"> Invoice No. Added </span>
          <v-data-table
            :headers="invoiceHeaders"
            :items="invoiceCreditorItemsAdded"
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:[`item.amount`]="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <template v-slot:[`item.amoutPaid`]="{ item }">
              <div>{{ currencyFormat(item.amoutPaid) }}</div>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:[`item.amountPayable`]="{ item }">
              <div>{{ currencyFormat(item.amountPayable) }}</div>
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                @click="removeInvoice(item, 'invoiceCreditorItemsAdded')"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
          </v-data-table>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="submitInvoice"
            >
              Select Client
            </v-btn>
            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="invoiceDialog = false"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="termDialog" persistent max-width="800">
        <v-card flat>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">Term</span>
            </v-col>
            <v-col cols="4" class="pa-1">
              <v-autocomplete
                hide-details="auto"
                label="Select Term"
                v-model="selectedTerm"
                :items="termArray"
                item-value="term"
                item-text="term"
                class="ma-0"
                return-object
                flat
                outlined
                dense
                solo
              ></v-autocomplete>
            </v-col>
            <v-col>
              <v-btn
                color="primary"
                min-width="100px"
                outlined
                @click="searchTerm"
                >Search</v-btn
              >
            </v-col>
          </v-row>
          <v-row align="center" class="ml-2">
            <v-col cols="2" class="pa-1">
              <span class="title">Pay Amount</span>
            </v-col>
            <v-col cols="4" class="pa-1">
              <v-text-field
                v-model="paidAmountHeader"
                ref="reference"
                name="reference"
                label="Pay Amount"
                persistent-hint
                hide-details="auto"
                flat
                outlined
                dense
                solo
                v-money="paidAmountHeaderChanged ? money : ''"
                :rules="[paidAmountHeaderLimit()]"
                @input="dividePaidAmount()"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <br />
          <v-data-table
            :headers="headers"
            :items="termList"
            hide-default-footer
            :loading="invoiceLoading"
            class="elevation-1"
          >
            <template v-slot:[`item.sharePercentage`]="{ item }">
              <div>{{ item.sharePercentage + "%" }}</div>
            </template>
            <template v-slot:[`item.balance`]="{ item }">
              <div>{{ currencyFormat(item.balance) }}</div>
            </template>
            <template v-slot:[`item.amount`]="{ item }">
              <div>{{ currencyFormat(item.amount) }}</div>
            </template>
            <!-- <template v-slot:[`item.amountPayable`]="{ item }">
        <div>{{ currencyFormat(item.amountPayable) }}</div>
      </template> -->
            <template v-slot:[`item.amountPayable`]="{ item }">
              <v-text-field
                v-model="item.amountPayable"
                hide-details="auto"
                class="ma-0"
                flat
                outlined
                dense
                solo
                v-money="amountChanged ? money : ''"
                :rules="[invAmountLimit(item)]"
                @input="getTotalEqAmount(item.amountPayable)"
              ></v-text-field>
            </template>
            <template v-slot:[`body.append`]>
              <tr>
                <td v-for="header in headers" :key="header.text">
                  <span v-if="header.value == 'uwName'" class="title"
                    >Total
                  </span>
                  <span v-if="header.value == 'sharePercentage'" class="title"
                    >{{ getTotalEqAmount("sharePercentage") }}
                  </span>
                  <span v-if="header.value == 'amount'" class="title"
                    >{{ getTotalEqAmount("amount") }}
                  </span>
                  <span v-if="header.value == 'amoutPaid'" class="title"
                    >{{ getTotalEqAmount("amoutPaid") }}
                  </span>
                  <span v-if="header.value == 'amountPayable'" class="title"
                    >{{ getTotalEqAmount("amountPayable") }}
                  </span>
                  <span v-if="header.value == 'balance'" class="title"
                    >{{ getTotalEqAmount("balance") }}
                  </span>
                </td>
              </tr>
            </template>
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="selectTermClient"
            >
              Select Client
            </v-btn>
            <v-btn
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="termDialog = false"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-spacer></v-spacer>
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="Create New Co-Ins Premium Allocation"
      dark
      color="primary"
      class="mb-2"
    >
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Co-Ins Premium Allocation No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="{Auto Generated}"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transactionDate"
            ref="transDate"
            name="transDate"
            label="Insert Transaction Date"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Client<span class="error--text">*</span></span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="selectedClient.codeAndName"
            ref="codeAndName"
            name="codeAndName"
            label="Search Client"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="invoiceDialog = true"
            >Search</v-btn
          >
        </v-col>
      </v-row>
    </v-form>
    <v-row>
      <v-col> </v-col>
    </v-row>
    <isttoolbar title="Co-Ins Premium Allocation Info" dark color="grey" class="mb-2">
    </isttoolbar>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Invoice No.</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.invoiceNo"
          ref="reference"
          name="reference"
          label=""
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Class</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.riskClass"
          ref="reference"
          name="reference"
          label=""
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Currency</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.currency"
          label="Currency"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Description</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-textarea
          hide-details="auto"
          label="Description"
          ref="desc"
          name="desc"
          class="ma-0"
          v-model="param.description"
          :rows="4"
          flat
          outlined
          dense
          solo
        ></v-textarea>
      </v-col>
    </v-row>
    <v-card flat>
      <v-data-table
        :headers="creditorHeaders"
        :items="termListFinal"
        hide-default-footer
        class="elevation-1"
      >
        <template v-slot:[`item.amoutPaid`]="{ item }">
          <div>{{ currencyFormat(item.amoutPaid) }}</div>
        </template>
        <template v-slot:[`item.balance`]="{ item }">
          <div>{{ currencyFormat(item.balance) }}</div>
        </template>
        <template v-slot:[`item.amountPayable`]="{ item }">
          <div>{{ currencyFormat(item.amountPayable) }}</div>
        </template>
        <template v-slot:[`item.action`]="{ item }">
          <v-btn
            outlined
            icon
            color="primary"
            @click="removeInvoice(item, 'termListFinal')"
          >
            <v-icon>mdi-minus</v-icon>
          </v-btn>
        </template>
        <template v-slot:[`body.append`]>
          <tr>
            <td v-for="header in creditorHeaders" :key="header.text">
              <v-btn
                v-if="header.value == 'action'"
                outlined
                icon
                color="primary"
                @click="openTermDialog"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">Entry By</span>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.reference"
          ref="reference"
          name="reference"
          :rules="[rules.required]"
          label=""
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
        >
        </v-text-field>
      </v-col>
      <v-col cols="4" class="pa-1">
        <v-text-field
          v-model="param.reference"
          ref="reference"
          name="reference"
          :rules="[rules.required]"
          label=""
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn color="primary" min-width="100px" outlined @click="viewItem"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card v-show="dialog.error">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.show = dialog.error = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="paidAmountDialog" persistent max-width="290">
        <v-card>
          <v-card-title class="justify-center" style="word-break: inherit;">{{
            paidAmountDialogText
          }}</v-card-title>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="paidAmountDialog = false"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    paidAmountDialog: false,
    paidAmountDialogText: "",
    invoiceLoading: false,
    termList: [],
    termListFinal: [],
    headers: [
      {
        text: "Insurance",
        value: "uwName",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharePercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "amoutPaid",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "amountPayable",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balance",
        sortable: false,
      },
    ],
    creditorHeaders: [
      {
        text: "Term",
        value: "refTerm",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "amoutPaid",
        sortable: false,
      },
      {
        text: "Pay Amount",
        value: "amountPayable",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balance",
        sortable: false,
      },
      {
        text: "Action",
        value: "action",
        sortable: false,
      },
    ],
    invoiceCreditorItems: [],
    invoiceCreditorItemsAdded: [],
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    selectedClient: {
      id: null,
      codeAndName: null,
    },
    selectedTerm: {
      term: null,
    },
    termArray: [],
    param: {
      clientCode: "",
      clientName: "",
      clientType: "",
      currency: "",
      description: "",
      exchangeRate: "",
      invoiceNo: "",
      acctType: "",
      listDetail: [
        {
          listDetailPerInsurer: [],
          term: "",
          totalBalanceAmount: "",
          totalOriginalAmount: "",
          totalPaidAmount: "",
        },
      ],
      paidDirectNo: 0,
      riskClass: "",
      transactionDate: new Date().toISOString().substr(0, 10),
    },
    paidAmountHeader: null,
    totalTerm: 0,
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url:
          "/config/api/master-akuncoa/?coaType.equals=1%20-%20Bank&isActive.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [
          { code: "C", value: "Credit" },
          { code: "D", value: "Debit" },
        ],
        url: "",
        loading: false,
      },
    },
    paidDirectHeaders: [
      {
        text: "Insurance",
        align: "start",
        value: "insurance",
        sortable: false,
      },
      {
        text: "Term",
        value: "term",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "originalAmount",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balanceAmount",
        sortable: false,
      },
    ],
    termHeader: [
      {
        text: "Insurance",
        align: "start",
        value: "insurance",
        sortable: false,
      },
      {
        text: "Sharing Percentage",
        value: "sharingPercentage",
        sortable: false,
      },
      {
        text: "Original Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Paid Amount",
        value: "amoutPaid",
        sortable: false,
      },
      {
        text: "Balance Amount",
        value: "balance",
        sortable: false,
      },
    ],
    invoiceHeaders: [
      {
        text: "Currency",
        align: "start",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      {
        text: "Invoice No",
        sortable: false,
        value: "accountNo",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Type",
        sortable: false,
        value: "accountType",
        add: "",
        rules: [],
      },
      {
        text: " Date",
        sortable: false,
        value: "tranDate",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "A/Exec",
        sortable: false,
        value: "cstExc",
        add: "",
        rules: [],
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        add: "",
        rules: [],
      },
      {
        text: "Balance",
        sortable: false,
        value: "balance",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    invoiceDialog: false,
    termDialog: false,
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,
    amountChanged: false,
    paidAmountHeaderChanged: false,
    rateChanged: false,
    overlay: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        currency: this.param.currency,
        transType: this.param.transType,
        receivedType: this.param.receivedType,
        bankSource: this.param.bankSource,
        reference: this.param.reference,
        refDate: this.param.refDate.date,
        bankReceived: this.param.bankReceived,
        amount: this.param.amount,
        excRate: this.param.excRate,
      };
    },
  },

  watch: {
    // "param.currency": {
    //   handler: function (after) {
    //     this.headers[2].add = after;
    //   },
    //   deep: true,
    // },
  },

  async created() {
    if (
      this.$route.query.id &&
      this.$route.query.mode &&
      this.$route.query.mode == "p"
    ) {
      this.overlay = true;
    }

    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.user_name;

    await this.initList([
      // "status",
      "client",
      "agent",
      "currency",
      // "transType",
      "receivedType",
      "bankSource",
      "bankReceived",
      "coa",
    ]);

    if (
      this.$route.query.id &&
      this.$route.query.mode &&
      this.$route.query.mode == "p"
    ) {
      await this.getItemData();
    }
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    invAmountLimit(item) {
      console.log(JSON.stringify(item));
      return () =>
        parseFloat(item.amountPayable.toString().replace(/,/g, "")) <=
          parseFloat(item.balance.toString().replace(/,/g, "")) ||
        "Cannot be greater than balance Amount";
    },
    paidAmountHeaderLimit() {
      return () =>
        Math.abs(this.currencyToFloat(this.paidAmountHeader)) <=
          Math.abs(
            this.currencyToFloat(this.param.listDetail.totalBalanceAmount)
          ) || "Cannot be greater than total Balance Amount";
    },
    async getExchangeRate(from) {
      let param = {
        currencyExchangeRate: {
          currencyFrom: from,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      return currentRate;
    },
    removeInvoice(item, name) {
      for (let i = 0; i < this[name].length; i++) {
        if (this[name][i].no == item.no) {
          this[name].splice(i, 1);
        }
      }
    },
    dividePaidAmount() {
      this.paidAmountHeaderChanged = true;
      var list = this.termList;
      var input = this.currencyToFloat(this.paidAmountHeader);
      for (var i = 0; i < list.length; i++) {
        list[i].amountPayable = this.currencyFormat(
          (input * list[i].sharePercentage) / 100
        );
        this.termList = list;
        this.getTotalEqAmount("amountPayable");
      }
    },
    getTotalEqAmount(data) {
      // this.amountChanged = true
      let total = 0;
      let returnedValue;
      let list = this.termList;
      for (let i = 0; i < list.length; i++) {
        total =
          parseFloat(total.toString().replace(/,/g, "")) +
          parseFloat(list[i][data].toString().replace(/,/g, ""));
      }
      if (data == "sharePercentage") {
        returnedValue = total.toString() + "%";
      } else {
        returnedValue = this.currencyFormat(total);
      }
      if (data == "amount") {
        this.param.listDetail.totalOriginalAmount = returnedValue;
      } else if (data == "amountPayable") {
        this.param.listDetail.totalPaidAmount = returnedValue;
      } else if (data == "balance") {
        this.param.listDetail.totalBalanceAmount = returnedValue;
      }
      return returnedValue;
    },
    submitInvoice() {
      var invoiceData = this.invoiceCreditorItemsAdded;
      if (invoiceData.length == 0) {
        this.paidAmountDialog = true;
        this.paidAmountDialogText = "Invoice no. added cannot be empty";
      } else {
        for (var i = 0; i < invoiceData.length; i++) {
          this.param.invoiceNo = invoiceData[i].accountNo;
          this.param.acctType = invoiceData[i].accountType;
          this.param.riskClass = invoiceData[i].prdrisk;
          this.param.currency = invoiceData[i].currency;
          this.param.description = invoiceData[i].tranDesc;
          this.totalTerm = parseInt(invoiceData[i].term);
        }
        this.invoiceDialog = false;
        this.amountChanged = false;
      }
    },
    addInvoice(item) {
      if (this.invoiceCreditorItemsAdded.length == 0) {
        let existItem = this.invoiceCreditorItemsAdded.filter(
          (value) => value.no == item.no
        );
        if (existItem < 1) {
          this.invoiceCreditorItemsAdded.push(JSON.parse(JSON.stringify(item)));
        }
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async searchTerm() {
      this.invoiceLoading = true;
      let url = "/finance/api/finance/invaccount/getcreditoraccount";
      let uwCodeParam = "?accountNo.contains=" + this.param.invoiceNo;
      let termParam = "&term.equals=" + this.selectedTerm.term;
      API.get(url + uwCodeParam + termParam)
        .then((resp) => {
          this.invoiceLoading = false;
          if (resp.data.code == 0) {
            this.termList = resp.data.listTransaction;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          alert(error);
        });
    },

    async getItemData() {
      this.param.id = this.$route.query.id;

      let paramJSON = {
        id: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/finance/cash-receipt-manual/view",
        param
      ).then((resp) => {
        let dataResp = resp.data;
        this.param.receiptNo = dataResp.originalReceiptNo;
        // this.param.transDate = dataResp.transactionDate;
        // this.param.status = dataResp.status;
        this.param.custType = dataResp.customerType;
        // this.param.customer =
        //   dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerCode = dataResp.customerCode;
        this.param.currency = dataResp.currency;
        this.param.transType = dataResp.transactionType;
        this.param.receivedType = dataResp.receivedType;
        // this.param.bankSource =
        //   dataResp.bankSource + " - " + dataResp.bankSourceName;
        this.param.bankSourceCode = dataResp.bankSource;
        this.param.reference = dataResp.reference;
        this.param.refDate.date = dataResp.referenceDate;
        this.param.desc = dataResp.description;
        // this.param.bankReceived =
        //   dataResp.bankReceived + " - " + dataResp.bankReceivedName;
        this.param.bankReceivedCode = dataResp.bankReceived;
        this.param.amount =
          dataResp.amount == null
            ? ""
            : this.formatCommaCurrency(String(dataResp.amount), "IDR").replace(
                "IDR ",
                ""
              ) + ".00";
        this.param.balance = "";
        this.param.excRate =
          dataResp.exchangeRate == null
            ? ""
            : this.formatCommaCurrency(
                String(dataResp.exchangeRate),
                "IDR"
              ).replace("IDR ", "") + ".00";
      });

      let custItem = this.search[
        this.param.custType.toLowerCase()
      ].items.filter((value) => value.code == this.param.customerCode);
      this.param[this.param.custType.toLowerCase()] = custItem[0];

      let bankItem = this.search.bankSource.items.filter(
        (value) => value.bankCode == this.param.bankSourceCode
      );
      this.param.bankSource = bankItem[0];

      let bankReceivedItem = this.search.bankReceived.items.filter(
        (value) => value.coaCode == this.param.bankReceivedCode
      );
      this.param.bankReceived = bankReceivedItem[0];

      this.overlay = false;
    },

    back() {
      this.$router.replace({ name: "co-ins-premium-allocation-list" });
    },

    openTermDialog() {
      var a = this.termList.length;
      var b = this.termListFinal.length;
      if (a == b && a > 0 && b > 0) {
        this.paidAmountDialog = true;
        this.paidAmountDialogText =
          "Currently you just can input a single term per insurer";
      } else {
        this.amountChanged = false;
        this.termDialog = true;
        this.termGenerator();
      }
    },

    termGenerator() {
      var i;
      for (i = 1; i <= this.totalTerm; i++) {
        this.termArray.push({ term: i });
      }
    },

    async selectTermClient() {
      if (this.termList.length == 0) {
        this.paidAmountDialog = true;
        this.paidAmountDialogText = "Insurer list cannot be empty";
      } else {
        this.param.exchangeRate = await this.getExchangeRate(
          this.termList[0].currency
        );
        var paidAmountHeader = parseFloat(
          this.paidAmountHeader.toString().replace(/,/g, "")
        );
        var paidAmountTotal = parseFloat(
          this.param.listDetail.totalPaidAmount.toString().replace(/,/g, "")
        );
        if (paidAmountHeader !== paidAmountTotal) {
          this.paidAmountDialog = true;
          this.paidAmountDialogText =
            "Total pay amount doesn't match with pay amount";
        } else {
          this.termDialog = false;
          this.termListFinal = this.termList;
        }
      }
    },

    async save() {
      // Object.keys(this.form).forEach((f) => {
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });
      // if (!this.param[this.param.custType.toLowerCase()]) {
      //   this.formHasErrors = true;
      // }
      // this.$refs[this.param.custType.toLowerCase()].validate(true);

      // if (!this.formHasErrors) {
      //   this.dialog.show = true;
      //   await this.doAdd();
      //   // this.back();
      // } else {
      //   this.formHasErrors = false;
      // }
      this.doAdd();
      console.log("SAVE");
    },
    async searchClientCreditor() {
      this.invoiceLoading = true;
      let url =
        "/finance/api/finance/invaccount/getdebtoraccount?clientCode.contains=" +
        this.selectedClient.code;
      // let url = "/finance/api/finance/invaccount/getsumdebtoraccount"
      API.get(url)
        .then((resp) => {
          if (resp.data.code == 0) {
            this.invoiceCreditorItems = resp.data.listTransaction;
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
          this.invoiceLoading = false;
        })
        .catch((error) => {
          alert(error);
        });
    },
    async doAdd() {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;
      let submitUrl = "/finance/api/finance/paid-direct/add";
      let paramJSON = {
        clientCode: this.selectedClient.code,
        clientName: this.selectedClient.name,
        clientType: this.selectedClient.accountType,
        currency: this.param.currency,
        description: this.param.description,
        exchangeRate: this.param.exchangeRate,
        acctNo: parseFloat(this.param.invoiceNo.toString().replace(/,/g, "")),
        acctType: this.param.acctType,
        listDetail: [
          {
            listDetailPerInsurer: this.termList.map(function (row) {
              return {
                balanceAmount: row.balance,
                insuranceCode: row.uwCode,
                insuranceName: row.uwName,
                originalAmount: row.amount,
                paidAmount: parseFloat(
                  row.amountPayable.toString().replace(/,/g, "")
                ),
                sharingPercentage: row.sharePercentage,
              };
            }),
            term: this.selectedTerm.term,
            totalBalanceAmount: parseFloat(
              this.param.listDetail.totalBalanceAmount
                .toString()
                .replace(/,/g, "")
            ),
            totalOriginalAmount: parseFloat(
              this.param.listDetail.totalOriginalAmount
                .toString()
                .replace(/,/g, "")
            ),
            totalPaidAmount: parseFloat(
              this.param.listDetail.totalPaidAmount.toString().replace(/,/g, "")
            ),
          },
        ],
        paidDirectNo: null,
        riskClass: this.param.riskClass,
        transactionDate: new Date().toISOString().substr(0, 10),
      };
      let param = JSON.stringify(paramJSON);
      console.log(param);
      API.post(submitUrl, param)
        .then((resp) => {
          this.dialog.show = true;
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.param.paidDirectNo = resp.data.id;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.viewItem();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },

    // async toPost() {
    //   this.dialog.show = true;
    //   let paramJSON = {
    //     id: this.param.receiptNo,
    //   };
    //   let param = JSON.stringify(paramJSON);
    //   API.post("/finance/api/finance/cash-receipt-manual/post", param)
    //     .then((resp) => {
    //       if (resp.data.code == 0) {
    //         this.dialog.success = true;
    //       } else {
    //         this.dialog.error = true;
    //         this.dialog.errorMessage =
    //           resp.data.errorMessage.length > 0
    //             ? resp.data.errorMessage.toUpperCase()
    //             : resp.data.errordescription.toUpperCase();
    //       }
    //     })
    //     .catch((error) => {
    //       console.log(error);
    //       this.dialog.error = true;
    //     });
    // },

    addJournal() {
      // this.numberRules = [
      //   (v) => !!v || "Field is required",
      //   (v) => /^\d+$/.test(v) || "Must be a number",
      // ];
      // let contactHasError = false;
      // let toValidate = this.headers.filter(
      //   (value) => ["name", "handphoneNo"].indexOf(value.value) != -1
      // );
      // for (let r of toValidate) {
      //   if (r.value == "name") {
      //     r.rules = [this.rules.required];
      //   } else if (r.value == "handphoneNo") {
      //     r.rules = [this.rules.required];
      //   } else if (r.value == "emailAddress") {
      //     r.rules = [this.rules.emailRules];
      //   }
      // }
      // for (var val of toValidate) {
      //   if (val.add.length < 1) {
      //     contactHasError = true;
      //   }
      //   this.$refs[val.value][0].validate(true);
      // }
      // iniiiiiiii
      // if (!contactHasError) {
      let journal = {};
      for (let header of this.headers) {
        if (header.value != "action") {
          journal[header.value] = header.add;
        }
      }
      journal["accountType"] = this.param.customerType;
      this.journalItems.push(journal);
      for (let header of this.headers) {
        header.add = "0.00";
        header.add = "";
        header.rules = [];
      }
      // }
    },

    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
    },

    setJournalItem() {
      console.log("this.param.journals.length", this.param.journals.length);
      if (this.param.journals.length > 0) {
        return;
      }
      this.journalItems = [];
      let journalItem = {
        no: 1,
        coa: this.param.bankReceived.coaCode,
        currency: this.param.bankReceived.currency,
        type: "",
        amount: this.param.amount,
      };
      this.journalItems.push(journalItem);
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    viewItem() {
      this.$router.push({
        name: "co-ins-premium-allocation-view",
        query: { id: this.param.paidDirectNo },
      });
    },
    coaChange(val, action) {
      if (action == "add") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val
        );
        this.headers[2].add = coaItem[0].currency;
      } else if (action == "edit") {
        let coaItem = this.search.coa.items.filter(
          (value) => value.coaCode == val.coa
        );
        val.currency = coaItem[0].currency;
      }
    },
    saveJournal() {
      this.param.journals = this.journalItems;
      console.log("this.param.journals", this.param.journals);
    },
    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.bankAccount,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
>
