<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar title="Placing" dark color="secondary" icon="mdi-handshake">
      </isttoolbar>
      <isttoolbar
        title="Create New Placing"
        flat
        dark
        color="primary"
      ></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-btn
        height="40"
        class="mr-2"
        outlined
        dark
        color="white"
        @click="generate"
        :disabled="!documentDataisNotEmpty"
      >
        Print Preview
      </v-btn>
      <v-btn
        :disabled="!documentDataisNotEmpty"
        height="40"
        width="100"
        class="mr-2"
        outlined
        dark
        color="white"
        @click="doSaveDraft"
        >Save Draft
      </v-btn>
      <v-btn
        :disabled="!documentDataisNotEmpty"
        height="40"
        width="100"
        class="mr-2"
        outlined
        dark
        color="white"
        @click="doSave"
      >
        Save
      </v-btn>
      <v-btn height="40" width="100" outlined color="white" @click="back">
        Cancel
      </v-btn>
    </div>

    <v-card class="contentFix" outlined>
      <v-card-text>
        <v-row align="center" class="ml-2">
          <v-col cols="3" class="pa-1">
            <span class="title"> Transaction Number </span>
          </v-col>
          <v-col cols="6" class="pa-1">
            <v-text-field
              hide-details="auto"
              v-model="transactionNumber"
              label="Auto Generated"
              ref="code"
              name="code"
              class="ma-0"
              flat
              outlined
              dense
              solo
              disabled
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="3" class="pa-1">
            <span class="title">
              Customer
              <span class="error--text">*</span>
            </span>
          </v-col>
          <v-col
            cols="6"
            class="pa-1"
            v-if="this.fromCovernote === 'yes' && !copyMode"
          >
            <v-combobox
              ref="customer"
              name="customer"
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              outlined
              flat
              menu-props="eager"
              :search-input.sync="filter.customerRenewal.searchValue"
              v-model="renewal.customer"
              :items="filter.customerRenewal.items"
              @keyup="autocompSearch(filter.customerRenewal, $event)"
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              no-data-text="Type the Customer Name."
              :rules="[rules.required]"
            >
            </v-combobox>
          </v-col>
          <v-col v-else cols="6" class="pa-1">
            <v-autocomplete
              ref="customer"
              name="customer"
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              outlined
              flat
              menu-props="eager"
              v-model="param.customer"
              :search-input.sync="filter.customer.searchValue"
              :items="filter.customer.items"
              :loading="filter.customer.loading"
              @keyup="autocompSearch(filter.customer, $event)"
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              no-data-text="Type the Customer Name."
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <!-- <v-row align="center" class="ml-2">
          <v-col cols="3" class="pa-1">
            <span class="title">
              Customer
              <span class="error--text">*</span>
            </span>
          </v-col>
          <v-col cols="6" class="pa-1">
            <v-autocomplete
              ref="customer"
              name="customer"
              full-width
              dense
              hide-details="auto"
              label="Search Customer"
              item-value="id"
              item-text="codeAndName"
              clearable
              solo
              outlined
              flat
              menu-props="eager"
              v-model="param.customer"
              :search-input.sync="filter.customer.searchValue"
              :items="comp.customer.items"
              :loading="filter.customer.loading"
              @keyup="autocompSearch(filter.customer, $event)"
              light
              color="primary"
              background-color="white"
              prepend-inner-icon="mdi-magnify"
              class="ma-0 pa-0"
              no-data-text="Type the Customer Name."
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row> -->
        <!-- <v-row align="center" class="ml-2">
          <v-col cols="3" class="pa-1">
            <span class="title">
              Class of Risk
              <span class="error--text">*</span>
            </span>
          </v-col>
          <v-col cols="6" class="pa-1">
            <v-autocomplete
              ref="classOfRisk"
              name="classOfRisk"
              hide-details="auto"
              item-value="riskCode"
              item-text="riskName"
              v-model="param.classOfRisk"
              :search-input.sync="filter.classOfRisk.searchValue"
              :items="comp.classOfRisk.items"
              :loading="filter.classOfRisk.loading"
              @keyup="autocompSearch(filter.classOfRisk, $event)"
              clearable
              class="ma-0"
              solo
              flat
              outlined
              dense
              no-data-text="Type the Class Of Risk."
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row> -->
        <v-row align="center" class="ml-2">
          <v-col cols="3" class="pa-1">
            <span class="title">
              Class of Risk
              <span class="error--text">*</span>
            </span>
          </v-col>
          <v-col
            cols="6"
            class="pa-1"
            v-if="this.fromCovernote === 'yes' && !copyMode"
          >
            <v-combobox
              prepend-inner-icon="mdi-magnify"
              label="Search Class of Risk"
              ref="classOfRisk"
              name="classOfRisk"
              hide-details="auto"
              item-value="riskCode"
              item-text="codeAndName"
              v-model="renewal.classOfRisk"
              :items="this.classRiskItemsRenewal"
              clearable
              class="ma-0"
              solo
              flat
              outlined
              dense
              no-data-text="Type the Class Of Risk."
              :rules="[rules.required]"
            >
              <!-- <template slot="selection" slot-scope="{ item }">
                <span>{{ item.riskCode }} - {{ item.riskName }}</span>
              </template> -->
              <!-- <template v-slot:item="{ item }">
                <v-list-item-content>
                  <p class="mb-0">{{ item.riskCode }} - {{ item.riskName }}</p>
                </v-list-item-content>
              </template> -->
            </v-combobox>
          </v-col>
          <v-col v-else cols="6" class="pa-1">
            <v-autocomplete
              ref="classOfRisk"
              name="classOfRisk"
              hide-details="auto"
              item-value="riskCode"
              item-text="codeAndName"
              v-model="param.classOfRisk"
              :search-input.sync="filter.classOfRisk.searchValue"
              :items="filter.classOfRisk.items"
              :loading="filter.classOfRisk.loading"
              @keyup="autocompSearch(filter.classOfRisk, $event)"
              clearable
              class="ma-0"
              solo
              flat
              outlined
              dense
              no-data-text="Type the Class Of Risk."
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="3" class="pa-1">
            <span class="title"> Notes </span>
          </v-col>
          <v-col
            cols="6"
            class="pa-1"
            v-if="this.fromCovernote === 'yes' && !copyMode"
          >
            <v-textarea
              name="input-2"
              flat
              outlined
              solo
              v-model="renewal.notes"
              placeholder="Notes"
            ></v-textarea>
          </v-col>
          <v-col v-else cols="6" class="pa-1">
            <v-textarea
              name="input-2"
              flat
              outlined
              solo
              v-model="param.notes"
              placeholder="Notes"
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <isttoolbar title="Detail Placing" flat dark color="primary" class="mt-3">
      <v-spacer></v-spacer>
      <v-btn
        class="mr-2"
        outlined
        color="white"
        @click="getTemplateConfig"
        :disabled="!chooseTemplateConfigButton"
      >
        <v-icon>mdi-plus</v-icon>
        Choose Template Config
      </v-btn>
    </isttoolbar>
    <v-card flat outlined>
      <v-card-text>
        <v-col class="ma-0 pa-0 pb-2">
          <v-row class="ma-0 pa-0 pb-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Ref. Version Number</span>
            </v-col>
            <v-col
              cols="4"
              align-self="start"
              class="pa-1"
              v-if="this.fromCovernote === 'yes' && !copyMode"
            >
              <span class="title font-weight-bold"
                >C-{{ this.param.version }}</span
              >
            </v-col>
            <v-col v-else cols="4" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Auto Generated"
                class="ma-0"
                flat
                outlined
                dense
                solo
                disabled
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row class="ma-0 pa-0 pb-2">
            <v-col cols="3" class="pa-1">
              <span class="title">Version Number</span>
            </v-col>
            <v-col
              cols="4"
              align-self="start"
              class="pa-1"
              v-if="this.fromCovernote === 'yes' && !copyMode"
            >
              <!-- <span class="title font-weight-bold">{{ param.version }}</span> -->
              <span class="title font-weight-bold">01</span>
            </v-col>
            <v-col v-else cols="4" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Auto Generated"
                class="ma-0"
                flat
                outlined
                dense
                solo
                disabled
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-card>
          <v-tabs v-model="tab" light>
            <v-tab v-for="item in items" :key="item.tab">{{ item.tab }}</v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <v-btn
                    color="primary"
                    @click="getTemplateItem"
                    class="ma-2"
                    :disabled="!addTemplateItemButtonValid"
                  >
                    <v-icon>mdi-plus</v-icon>
                    Add Template Item
                  </v-btn>
                  <br />
                  <p
                    v-if="templateSelected.length > 1"
                    class="font-italic mt-2"
                  >
                    Drag And Move for sorting.
                  </p>
                  <draggable v-model="templateSelected" class="v-card">
                    <template v-for="(template, i) in templateSelected">
                      <v-card
                        class="mb-2"
                        outlined
                        :key="template.text"
                        min-height="90"
                        :style="template.show ? '' : 'color:darkgrey'"
                      >
                        <v-row class="ml-2 d-flex">
                          <v-col cols="2"
                            ><h2>{{ template.name }}</h2>
                          </v-col>
                          <v-col cols="7"
                            ><froala-view
                              v-model="template.content"
                            ></froala-view>
                          </v-col>
                          <v-spacer />
                          <v-col>
                            <v-card-actions v-if="mode === 'e'">
                              <v-switch
                                color="success"
                                v-model="template.show"
                                inset
                              ></v-switch>
                              <v-btn
                                text
                                color="blue"
                                @click="openEditDialog(i)"
                              >
                                <v-icon>mdi-pen</v-icon>
                              </v-btn>
                              <v-btn
                                text
                                color="red"
                                @click="openDeleteDialog(i)"
                              >
                                <v-icon>mdi-trash-can</v-icon>
                              </v-btn>
                            </v-card-actions>
                          </v-col>
                        </v-row>
                      </v-card>
                    </template>
                  </draggable>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <div v-for="(form, i) in formData" v-bind:key="i">
                    <input1
                      :key="i"
                      :title="form.title"
                      :variable="form.variable"
                      :type="form.type"
                      v-model="form.value"
                    >
                    </input1>
                  </div>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-card-text>
    </v-card>
    <v-dialog v-model="chooseTemplateConfigDialog" max-width="700px">
      <v-card>
        <v-card-title>Choose Template Config</v-card-title>
        <v-card-text>
          <v-autocomplete
            full-width
            dense
            hide-details="auto"
            label="Search Template Config"
            item-value="id"
            item-text="name"
            clearable
            solo
            outlined
            flat
            v-model="param.chooseTemplateConfig"
            :items="this.temp"
            light
            color="primary"
            background-color="white"
            prepend-inner-icon="mdi-magnify"
            class="ma-0 pa-0"
            no-data-text="Type the Template Code."
          >
            <template slot="selection" slot-scope="{ item }">
              <span>{{ item.riskCode }} - {{ item.name }}</span>
            </template>
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.riskCode }} - {{ item.name }}</p>
              </v-list-item-content>
            </template>
          </v-autocomplete>
          <!-- <v-autocomplete
            full-width
            dense
            hide-details="auto"
            label="Search Template Config"
            item-value="id"
            item-text="code"
            clearable
            solo
            outlined
            flat
            v-model="filter.templateConfig.searchValue"
            :items="comp.templateConfig.items"
            :loading="filter.templateConfig.loading"
            @keyup="autocompSearch(filter.templateConfig, $event)"
            light
            color="primary"
            background-color="white"
            prepend-inner-icon="mdi-magnify"
            class="ma-0 pa-0"
            no-data-text="Type the Template Code."
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.code }}</p>
                <p class="text-caption mb-0">
                  {{ item.code }} - {{ item.description }}
                </p>
              </v-list-item-content>
            </template>
          </v-autocomplete> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="chooseTemplateConfigDialog = false"
            >Close
          </v-btn>
          <v-btn color="primary" text @click="setTemplateConfig">Choose</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="addTemplatesDialog" max-width="700px">
      <v-card>
        <v-card-title>Add Template Item</v-card-title>
        <v-card-text>
          <v-autocomplete
            full-width
            dense
            hide-details="auto"
            label="Search Template Item"
            item-value="id"
            item-text="code"
            clearable
            solo
            outlined
            flat
            v-model="filter.templateItem.searchValue"
            :items="filter.templateItem.items"
            :loading="filter.templateItem.loading"
            @keyup="autocompSearch(filter.templateItem)"
            light
            color="primary"
            background-color="white"
            prepend-inner-icon="mdi-magnify"
            class="ma-0 pa-0"
            no-data-text="Type the Template Code."
            ref="templateItem"
            :rules="[rules.required]"
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  {{ item.code }} - {{ item.description }}
                </p>
              </v-list-item-content>
            </template>
          </v-autocomplete>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="addTemplatesDialog = false"
            >Close
          </v-btn>
          <v-btn color="primary" text @click="addTemplateItem">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editTemplatesDialog" persistent max-width="1200px">
      <v-card>
        <v-card-title
          >Edit Template - {{ templateSelectEdit.name }}
        </v-card-title>
        <v-card-text>
          <div>
            <froala
              v-model="templateSelectEdit.content"
              :config="config"
            ></froala>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editTemplateItem(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="editTemplateItem(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editFormDataDialog" persistent>
      <v-card>
        <v-card-title
          >Edit Form Data - {{ formDataSelectEdit.title }}
        </v-card-title>
        <v-card-subtitle>{{ formDataSelectEdit.key }}</v-card-subtitle>
        <v-card-text>
          <v-container>
            <v-textarea
              name="input-3-1"
              label="Value"
              v-model="formDataSelectEdit.value"
            ></v-textarea>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editFormData(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="editFormData(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="deleteTemplatesDialog" persistent max-width="500">
      <v-card>
        <v-card-title>Delete This Template Item ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="deleteTemplateItem(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="deleteTemplateItem(true)"
            >Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialog.success ? onSuccessDialog() : (dialog.show = false)
              "
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogGenerate.show" persistent max-width="290">
        <v-card v-show="!dialogGenerate.success && !dialogGenerate.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialogGenerate.success || dialogGenerate.error">
          <v-card-title
            v-if="dialogGenerate.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialogGenerate.error"
            class="justify-center"
            style="word-break: inherit"
            >Failed to Generate
          </v-card-title>
          <v-card-text
            v-if="dialogGenerate.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialogGenerate.success ? back() : (dialogGenerate.show = false)
              "
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <!--    <v-overlay :value="overlay">-->
    <!--      <v-progress-circular-->
    <!--        indeterminate-->
    <!--        size="64"-->
    <!--        color="primary"-->
    <!--      ></v-progress-circular>-->
    <!--    </v-overlay>-->
  </v-card>
</template>

<script>
import Vue from "vue";
import VueFroala from "vue-froala-wysiwyg";
Vue.use(VueFroala);
import "froala-editor/js/plugins/align.min";
import "froala-editor/js/plugins/font_size.min";
import "froala-editor/js/plugins/colors.min";
import "froala-editor/css/plugins/colors.min.css";
import "froala-editor/js/plugins/table.min";
import "froala-editor/css/plugins/table.min.css";
import "froala-editor/js/plugins/paragraph_format.min";
import "froala-editor/js/plugins/paragraph_style.min";
import "froala-editor/js/plugins/code_view.min";
import "froala-editor/js/plugins/code_beautifier.min";
import "froala-editor/css/plugins/code_view.min.css";
import "froala-editor/js/plugins/word_paste.min";
import "froala-editor/js/plugins/quote.min";
import "froala-editor/js/plugins/link.min";
import "froala-editor/js/plugins/image.min";
import "froala-editor/js/plugins/font_family.min";
import "froala-editor/js/plugins/line_height.min";
import "froala-editor/js/plugins/lists.min";
import "froala-editor/css/themes/gray.min.css";

// Require Froala Editor js file.
import "froala-editor/js/froala_editor.pkgd.min.js";

// Require Froala Editor css files.
import "froala-editor/css/froala_editor.pkgd.min.css";
import "froala-editor/css/froala_style.min.css";

import draggable from "vuedraggable";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import input1 from "@/components/inputs/input1";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    input1,
    draggable,
    isttoolbar,
  },
  data: () => ({
    config: {
      attribution: false,
      tableCellStyles: {
        noborder: "No Border",
      },
      tableStyles: {
        noborder: "No Border",
      },
      lineHeights: {
        Default: "",
        Single: "1",
        1.15: "1.15",
        1.5: "1.5",
        Double: "2",
      },
      listAdvancedTypes: true,
      toolbarButtons: [
        [
          "alignLeft",
          "alignCenter",
          "alignRight",
          "alignJustify",
          "lineHeight",
          "bold",
          "italic",
          "underline",
          "fontSize",
          "fontFamily",
          "quote",
          "indent",
          "outdent",
          "formatOL",
          "formatUL",
          "paragraphFormat",
          "paragraphStyle",
          "textColor",
          "insertTable",
          "insertLink",
          "insertImage",
          "html",
          "undo",
          "redo",
          "codeView",
          "beautifier",
          "wordPaste",
        ],
      ],
      theme: "gray",
      heightMin: 600,
      heightMax: 400,
      paragraphFormatSelection: true,
      toolbarSticky: true, //static header
      pastePlain: true,
      events: {
        "image.beforeUpload": function (files) {
          let editor = this;
          if (files.length) {
            let reader = new FileReader();
            // Set the reader to insert images when they are loaded.
            reader.onload = function (e) {
              let result = e.target.result;
              editor.image.insert(result, null, null, editor.image.get());
            };
            // Read image as base64.
            reader.readAsDataURL(files[0]);
          }
          editor.popups.hideAll();
          // Stop default upload chain.
          return false;
        },
      },
    },
    fromCovernote: "no",
    copyMode: false,
    documentDataShow: [],
    documentDataShow2: [],
    documentDataShow3: [],
    documentDataShow4: [],
    documentDataShow5: [],
    documentDataShow6: [],
    documentDataShow7: [],

    errorDescription: "",

    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },

    renewal: {
      customer: [],
      classOfRisk: [],

      notes: "",
      classOfRiskCode: "",
      chooseTemplateConfig: "",
      riskCode: "",
      accountId: 0,
      version: "",
      refVersion: "",
    },
    param: {
      customer: "",
      notes: "",
      classOfRisk: "",
      classOfRiskCode: "",
      chooseTemplateConfig: "",
      riskCode: "",
      accountId: 0,
      version: "",
    },
    overlay: false,
    dialog: { show: false, success: false, error: false },
    dialogGenerate: { show: false, success: false, error: false },

    transactionNumber: "",
    notes: "",
    mode: "e",
    chooseTemplateConfigDialog: false,
    request: null,
    editedIndex: -1,

    editFormDataDialog: false,
    editTemplatesDialog: false,
    deleteTemplatesDialog: false,
    addTemplatesDialog: false,
    selection: [],
    tab: null,
    items: [
      { tab: "Document Data", content: "Tab 1 Content" },
      { tab: "Form Data", content: "Tab 2 Content" },
    ],
    templateArraySelected: 0,
    templateDeleteSelect: {},
    templateSelect: {},
    templateSelectEdit: {},
    templateSelected: [],
    formData: [],
    templates: [],
    formDataArraySelected: 0,
    formDataSelectEdit: {},
    formDataSelectDelete: {},

    insuranceRateId: 0,
    insuranceRate: [],
    doSearch: null,
    formDataSend: [],
    classRiskCode: [],
    temp: [],
    customerItems: [],

    customerItemsRenewal: [],
    classRiskItems: [],
    classRiskItemsRenewal: [],
    tempCustomer1: "",
    tempCustomer2: 0,
    tempClassOfRisk1: "",
    tempClassOfRisk2: "",
    tempNotes1: "",
    tempNotes2: "",
    tempTemplateSelected1: [],
    tempTemplateSelected2: [],

    tempFormData1: [],
    tempFormData2: [],
    classrisk: [],
    templateRemoveFroala: [],

    filter: {
      customer: {
        key: "customer",
        request: null,
        searchValue: "",
        searchParam: "equals",
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
        items: [],
      },
      customerRenewal: {
        key: "customerRenewal",
        request: null,
        searchValue: "",
        searchParam: "equals",
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
        items: [],
      },
      classOfRisk: {
        key: "classOfRisk",
        request: null,
        searchValue: "",
        searchParam: "equals",
        url: "/config/api/master-risk/?codeOrName.contains=",
        loading: false,
        items: [],
      },
      // templateConfig: {
      //   key: "templateConfig",
      //   request: null,
      //   searchValue: "",
      //   searchParam: "equals",
      //   url: "/config/api/master-template-config/?code.contains=",
      //   loading: false,
      // },
      templateItem: {
        key: "templateItem",
        request: null,
        searchValue: "",
        searchParam: "equals",
        url: "/config/api/master-template-item/?code.contains=",
        loading: false,
        items: [],
      },
    },
    placingId: "",
    fromPlacing: false,
    isDraft: 0,
    renewalDraft: false,
  }),
  mounted() {
    this.fromCovernote = this.$route.query.fromCovernote;
    this.copyMode = this.$route.query.mode == "copy";
  },
  created() {
    if (this.$route.query.id && this.$route.query.fromCovernote) {
      this.param.id = this.$route.query.id;
      this.fromCovernote = this.$route.query.fromCovernote;
      this.getRenewalDataCoverNote();
      if (this.$route.query.mode == "copy") {
        this.copyMode = this.$route.query.mode == "copy";
        this.initList(["customer", "classOfRisk", "templateItem"]);
      } else {
        this.initList(["customerRenewal"]);
        this.getCustomerDataRenewal();
        this.getClassRiskDataRenewal();
      }
    } else {
      this.getFormData();

      this.initList(["customer", "classOfRisk", "templateItem"]);
    }
  },
  computed: {
    fromCovernoteTrue() {
      return this.fromCovernote === "yes";
    },
    form() {
      return {
        customer:
          this.fromCovernote === "yes" && !this.copyMode
            ? this.renewal.customer
            : this.param.customer,
        classOfRisk:
          this.fromCovernote === "yes" && !this.copyMode
            ? this.renewal.classOfRisk
            : this.param.classOfRisk,
      };
    },
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },

    classOfRiskValid() {
      return this.param.classOfRisk !== "";
    },
    chooseTemplateConfigButton() {
      return this.classOfRiskValid;
    },

    addTemplateItemButtonValid() {
      return this.templateSelected.length > 0;
    },

    documentDataisNotEmpty() {
      return this.templateSelected.length > 0;
    },
  },

  watch: {
    "filter.customer.searchValue": {
      handler: function (after) {
        if (after == null) {
          console.log("isinya null");
          this.initList(["customer"]);
        }
      },
      deep: true,
    },
    addTemplatesDialog: {
      handler() {
        if (!this.addTemplatesDialog) {
          this.$refs.templateItem.resetValidation(true);
        }
      },
      deep: true,
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    initList(list) {
      for (let l of list) {
        API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code === 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
      }
    },
    async getRenewalDataCoverNote() {
      this.overlay = true;
      this.dialog.show = true;
      const id = this.param.id;

      API.get("/broking/api/broking/covernote/" + id).then((resp) => {
        if (resp.data.code === 0) {
          const data = resp.data;
          this.overlay = false;
          this.dialog.show = false;
          this.renewal.customer = data.accountCode + " - " + data.accountName;

          this.tempCustomer1 = this.renewal.customer;

          this.renewal.classOfRisk = data.riskCode + " - " + data.riskName;

          this.tempClassOfRisk1 = this.renewal.classOfRisk;

          this.renewal.riskCode = data.riskCode;
          this.param.version = data.version;

          this.renewal.notes = data.notes;

          this.tempNotes1 = this.renewal.notes;

          this.renewal.accountId = data.accountId;
          this.renewal.refVersion = data.refVersion;

          this.isDraft = data.isDraft;

          try {
            let documentDataContent = JSON.parse(data.metasDoc);

            if (typeof documentDataContent === "object")
              this.templateSelected = documentDataContent;
            this.tempTemplateSelected1 = this.templateSelected;
          } catch (e) {
            this.templateSelected = [];
          }
          try {
            let formDataContent = JSON.parse(data.metasForm);
            if (typeof formDataContent === "object")
              this.formData = formDataContent;
            this.formData.sort((a, b) => a.order - b.order);

            this.tempFormData1 = this.formData;
            this.tempFormData1.sort((a, b) => a.order - b.order);
          } catch (e) {
            this.formData = [];
          }
        }
      });
    },
    autocompSearch(filter, event) {
      if (event != null && event.key === "Enter") {
        return;
      }
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      if (filter.searchValue.isEmpty) return;
      filter.loading = true;
      API.get(
        filter.url + filter.searchValue.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code === 0 && resp.data.data.length > 0) {
          // this.comp[filter.key]["items"] = resp.data.data;
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
      filter.request = null;
    },
    async generate() {
      this.overlay = true;
      this.dialogGenerate.show = true;
      await this.filterShowData();

      let paramJSON = {
        metasDoc: this.documentDataShow,
        metasForm: JSON.stringify(this.formData),
      };
      let param = JSON.stringify(paramJSON);

      API.post("broking/api/broking/placement/generate", param).then((resp) => {
        if (resp.data.code === 0) {
          this.previewFile(resp.data.data);
          this.overlay = false;
          this.dialogGenerate.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialogGenerate.error = true;
          this.overlay = false;
        }
      });
    },
    saveFile(base64) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute("download", "Placing" + ".pdf"); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    onSuccessDialog() {
      if (this.fromCovernote === "yes" && this.copyMode) {
        // this.$router.replace({
        //   name: "placing-list",
        // });
        this.$router.push({
          name: "placing-edit",
          query: {
            id: this.placingId,
            mode: "d",
            fromWhere: "placing-list",
          },
        });
      } else if (this.fromPlacing) {
        this.$router.push({
          name: "placing-edit",
          query: {
            id: this.placingId,
            mode: "d",
            fromWhere: "placing-list",
          },
        });
      } else {
        this.back();
      }
    },
    back() {
      if (this.fromCovernote === "yes") {
        this.$router.push({
          name: "cover-note-edit",
          query: {
            id: this.param.id,
            mode: "d",
            backToView: false,
            fromWhere: "covernote-list",
          },
        });
      }
      if (this.fromCovernote === "no") {
        this.$router.replace({
          name: "placing-list",
        });
      }
      if (this.fromCovernote === "") {
        this.$router.replace({
          name: "placing-list",
        });
      }
    },

    async getClassRiskDataRenewal() {
      let resp = await API.get("/config/api/master-risk/?codeOrName.contains=");
      try {
        let content = resp.data.data;
        if (typeof content === "object") this.classRiskItemsRenewal = content;
      } catch (e) {
        console.error(e);
      }
    },

    async getCustomerDataRenewal() {
      let resp = await API.get(
        "/clients/api/account/client?codeOrName.contains="
      );
      try {
        let content = resp.data.data;
        if (typeof content === "object") this.customerItemsRenewal = content;
      } catch (e) {
        console.error(e);
      }
    },

    async getFormData() {
      this.formData = [];
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=FORM_DATA_BROKING"
      );
      try {
        let content = resp.data.data;
        var items = [];
        for (var a = 0; a < content.length; a++) {
          items.push(JSON.parse(content[a].value));
        }
        items.sort((a, b) => a.order - b.order);

        if (typeof content === "object") this.formData = items;
      } catch (e) {
        console.error(e);
        this.formData = [];
      }
    },
    addInsuranceRate() {
      this.insuranceRateId += 1;
      let id = this.insuranceRateId;
      this.insuranceRate.push({
        id: id,
        insurance: "",
        rate: 0,
      });
    },
    async setTemplateConfig() {
      this.overlay = true;
      this.dialog.show = true;
      this.templateSelected = [];
      let resp = await API.get(
        "/config/api/master-template-config/" + this.param.chooseTemplateConfig
      );
      try {
        let content = JSON.parse(resp.data.data.content);
        var arrTemp = [];
        if (typeof content === "object") arrTemp = content;
        for (const idx in arrTemp) {
          const c = arrTemp[idx];
          c.show = true;
          this.templateSelected.push(c);
        }
        this.overlay = false;
        this.dialog.show = false;
      } catch (e) {
        this.templateSelected = [];
        this.overlay = false;
        this.dialog.show = false;
      }
      this.param.chooseTemplateConfig = "";
      this.chooseTemplateConfigDialog = false;
    },
    async filterFroala() {
      this.templateRemoveFroala = JSON.stringify(this.templateSelected)
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");
    },
    async filterShowData() {
      var res = this.templateSelected.filter((item) => {
        return item.show === true;
      });
      var at = JSON.stringify(res);

      at = at
        .replaceAll(/<br>/gm, "<br/>")
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");

      at = at.replace(/<br (.*?)">/g, (match) => {
        return match.replace(">", "/>");
      });

      this.documentDataShow2 = at;
      this.documentDataShow = this.documentDataShow2;
    },

    getTemplateConfig() {
      if (this.fromCovernote === "yes" && !this.copyMode) {
        this.getTemplateConfigByClassOfRiskRenewal();
      } else {
        this.getTemplateConfigByClassOfRisk();
      }
      this.chooseTemplateConfigDialog = true;
      // this.autocompSearch(this.filter.templateConfig);
    },
    getTemplateConfigByClassOfRisk() {
      API.get(
        "/config/api/master-template-config/?riskCode.contains=" +
          this.param.classOfRisk
      ).then((resp) => {
        if (resp.data.code === 0) {
          let data = resp.data.data;
          let list = [];
          for (let i in data) {
            list.push(data[i]);
          }
          this.temp = list;
        }
      });
    },
    getTemplateConfigByClassOfRiskRenewal() {
      API.get(
        "/config/api/master-template-config/?riskCode.contains=" +
          this.param.riskCode
      ).then((resp) => {
        if (resp.data.code === 0) {
          let data = resp.data.data;
          let list = [];
          for (let i in data) {
            list.push(data[i]);
          }
          this.temp = list;
        }
      });
    },
    getTemplateItem() {
      this.addTemplatesDialog = true;
      this.autocompSearch(this.filter.templateItem);
    },
    async addTemplateItem() {
      let template = this.filter.templateItem.searchValue;
      if(template) {
        this.overlay = true;
        this.dialog.show = true;
        let resp = await API.get(
          "/config/api/master-template-item/" + template
        );
        try {
          // let content = resp.data.data;
          // var arrTemp = [];
          // if (typeof content === "object") arrTemp.push(content);
          // for (const idx in arrTemp) {
          //   const c = arrTemp[idx];
          //   c.show = true;
          //   this.templateSelected.push(c);
          // }
          
          let items = resp.data.data;
          this.templateSelected.push({
            id: items.id,
            name: items.name,
            content: items.content ? (items.content
              .replaceAll("Powered by", "")
              .replaceAll("Froala Editor", "")) : "",
            show: (items.show = true),
            // editing: false,
          });
          
          this.filter.templateItem.searchValue = "";

          this.overlay = false;
          this.dialog.show = false;
        } catch (e) {
          this.templateSelected = [];
          this.overlay = false;
          this.dialog.show = false;
        }
        this.filter.templateItem.searchValue = "";
        this.addTemplatesDialog = false;
      } else {
        this.$refs.templateItem.validate(true);
      }
      
    },
    openDeleteDialog(i) {
      this.deleteTemplatesDialog = true;
      this.templateDeleteSelect = i;
    },
    deleteTemplateItem(isdelete) {
      if (isdelete) this.templateSelected.splice(this.templateDeleteSelect, 1);
      this.templateDeleteSelect = {};
      this.deleteTemplatesDialog = false;
    },
    openEditDialog(i) {
      this.editTemplatesDialog = true;
      let template = this.templateSelected[i];
      this.templateSelectEdit = {
        name: template.name,
        content: template.content,
        id: template.id,
        show: template.show,
      };
      this.templateArraySelected = i;
    },
    editTemplateItem(isEdit) {
      if (isEdit)
        this.templateSelected[this.templateArraySelected] =
          this.templateSelectEdit;
      this.templateSelectEdit = {};
      this.templateArraySelected = null;
      this.editTemplatesDialog = false;
    },
    editTemplateItemSetDefault() {
      let index = this.templates.findIndex(
        (item) => item.id === this.templateSelectEdit.id
      );
      let template = this.templates[index];
      this.templateSelectEdit = {
        title: template.title,
        content: template.content,
        id: template.id,
      };
    },
    openFormDataEditDialog(i) {
      this.editFormDataDialog = true;
      let formData = this.formData[i];
      this.formDataSelectEdit = {
        title: formData.title,
        variable: formData.variable,
        type: formData.type,
        value: formData.value,
        id: formData.id,
      };
      this.formDataArraySelected = i;
    },
    editFormData(isEdit) {
      if (isEdit)
        this.formData[this.formDataArraySelected] = this.formDataSelectEdit;
      this.formDataSelectEdit = {};
      this.formDataArraySelected = null;
      this.editFormDataDialog = false;
    },
    async doSave() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;

        if (this.fromCovernote === "yes" && !this.copyMode) {
          // await this.filterFroala();
          this.renewalDraft = false;
          await this.doRenewal();
        } else {
          await this.filterFroala();

          await this.doAdd();
        }
      } else {
        this.formHasErrors = false;
      }
    },
    async doSaveDraft() {
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;

        if (this.fromCovernote === "yes" && !this.copyMode) {
          // await this.filterFroala();

          this.renewalDraft = true;
          await this.doRenewal();
        } else {
          await this.filterFroala();

          await this.doAddDraft();
        }
      } else {
        this.formHasErrors = false;
      }
    },

    async doAddDraft() {
      this.dialog = {
        show: true,
        success: false,
        error: false,
      };
      this.errorDescription = "";
      let paramJSON = {
        brokingPlacement: {
          accountId: this.param.customer,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,
          metasForm: JSON.stringify(this.formData),
          notes: this.param.notes,
          riskCode: this.param.classOfRisk,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/save-draft", param).then(
        (resp) => {
          if (resp.data.code === 0) {
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.placingId = resp.data.brokingPlacement.id;
            this.fromPlacing = true;
            this.onSuccessDialog();
          } else {
            this.errorDescription = resp.data.errorDescription;
            this.dialog.error = true;
          }
        }
      );
    },

    async doAdd() {
      this.dialog = {
        show: true,
        success: false,
        error: false,
      };
      this.errorDescription = "";
      let paramJSON = {
        brokingPlacement: {
          accountId: this.param.customer, //customerId
          // metasDoc: JSON.stringify(this.templateSelected), //documentvariableData
          metasDoc: this.templateRemoveFroala, //documentvariableData
          metasForm: JSON.stringify(this.formData), //documentvariableData
          notes: this.param.notes, //notes
          riskCode: this.param.classOfRisk, //riskcode
        },
      };

      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/add", param).then((resp) => {
        if (resp.data.code === 0) {
          // this.dialog.success = true;
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.placingId = resp.data.brokingPlacement.id;
          this.fromPlacing = true;
          this.onSuccessDialog();
        } else {
          this.errorDescription = resp.data.errorDescription;
          this.dialog.error = true;
          this.overlay = false;
        }
      });
    },
    async doRenewal() {
      this.dialog = {
        show: true,
        success: false,
        error: false,
      };
      this.errorDescription = "";
      this.tempCustomer2 = this.renewal.customer.id;
      this.tempClassOfRisk2 = this.renewal.classOfRisk.riskCode;
      this.tempNotes2 = this.renewal.notes;
      this.tempTemplateSelected2 = this.templateSelected;
      this.tempFormData2 = this.formData;
      let urlRenewal = this.renewalDraft ? "broking/api/broking/covernote/renewal-draft" : "broking/api/broking/covernote/renewal";

      let paramJSON = {
        brokingCoverNoteRenewal: {
          accountId:
            this.tempCustomer1 === this.renewal.customer
              ? this.renewal.accountId
              : this.tempCustomer2,

          metasDoc:
            this.tempTemplateSelected1 === this.templateSelected
              ? JSON.stringify(this.templateSelected)
              : JSON.stringify(this.tempTemplateSelected2),

          metasForm:
            this.tempFormData1 === this.formData
              ? JSON.stringify(this.formData)
              : JSON.stringify(this.tempFormData2),

          notes:
            this.tempNotes1 === this.renewal.notes
              ? this.renewal.notes
              : this.tempNotes2,

          riskCode:
            this.tempClassOfRisk1 === this.renewal.classOfRisk
              ? this.renewal.riskCode
              : this.tempClassOfRisk2,

          version: this.param.version,

          isDraft: this.isDraft,
        },
      };

      let param = JSON.stringify(paramJSON);
      API.post(urlRenewal, param).then((resp) => {
        if (resp.data.code === 0) {
          this.fromCovernote = "no";
          this.placingId = resp.data.brokingCoverNoteRenewal.id;
          this.fromPlacing = true;
          // this.dialog.success = true;
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.onSuccessDialog();
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
          this.overlay = false;
        }
      });
    },
  },
};
</script>

<style scoped>
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.buttonFixed {
  color: white;
  position: fixed;
  z-index: 2;
  margin-top: 3px;
  right: 10px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>
