<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar title="Placing" dark color="secondary" icon="mdi-handshake">
      </isttoolbar>

      <isttoolbar
        :title="mode === 'd' ? 'View Placing' : 'Edit Placing'"
        dark
        color="primary"
      ></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-tooltip bottom v-if="mode === 'd' && this.param.statusEdit === 1">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="white"
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            text
            @click="movetoQuotationCreate"
          >
            <!-- v-show="checkAuthorities('quotation-add')" -->
            <v-icon>mdi-page-next-outline mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Move to Quotation</span>
      </v-tooltip>
      <v-btn
        :disabled="!buttonPreviewEnable"
        bottom
        v-if="
          mode === 'e' //&& checkAuthorities('placing-preview')
        "
        height="40"
        class="mr-2"
        outlined
        color="white"
        @click="fromQuotationButton ? viewFileFromQuotation() : viewFile()"
      >
        Print Preview
      </v-btn>

      <template v-if="mode === 'd'">
        <v-menu offset-y :disabled="!buttonPreviewEnable">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              :disabled="!buttonPreviewEnable"
              min-height="40"
              v-bind="attrs"
              v-on="on"
              min-width="40"
              text
              color="white"
            >
              <v-icon>mdi-cloud-print-outline mdi-36px</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              @click="viewFile" 
            >
              <v-list-item-title>Preview</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="viewFile"
            >
              <v-list-item-title>Print</v-list-item-title>
            </v-list-item>

            <v-list-item
              @click="downloadFile"
            >
              <v-list-item-title>Generate PDF</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="downloadFileDocs"
            >
              <v-list-item-title>Generate DOC</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>

      <v-tooltip bottom v-if="mode === 'd' && this.param.statusEdit === 1">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="change"
            text
            color="white"
            v-show="checkAuthorities('placing-edit')"
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="fromQuotationButton ? editDraftQuotation() : editDraft()"
        >Save Draft
      </v-btn>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="fromQuotationButton ? doBackToPlacing() : edit()"
        >Save Version
      </v-btn>

      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
            color="white"
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn
        v-if="mode === 'e'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="backToViewVal ? cancel() : back()"
        >cancel
      </v-btn>
    </div>
    <v-form class="contentFix" :readonly="mode === 'd'">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Placing Number</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            ref="placingNumber"
            name="placingNumber"
            v-model="param.placingNumber"
            flat
            dense
            outlined
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Customer</span>
          <span class="title red--text">*</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            ref="customer"
            name="customer"
            v-model="param.customer"
            flat
            dense
            outlined
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Class of Risk</span>
          <span class="title red--text">*</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            ref="classOfrisk"
            name="classOfrisk"
            v-model="param.classOfRisk"
            flat
            dense
            outlined
            class="ma-0"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Notes</span>
        </v-col>
        <v-col cols="6" align-self="start" class="pa-1">
          <v-textarea
            hide-details="auto"
            ref="notes"
            name="notes"
            v-model="param.notes"
            flat
            dense
            outlined
            class="ma-0"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-card class="mt-1" flat>
        <isttoolbar title="Detail Placing" dark color="primary"></isttoolbar>
        <v-card-text>
          <v-col class="ma-0 pa-0 pb-4 pl-2">
            <v-row>
              <v-col cols="3" class="pa-1">
                <span class="title">Ref. Version Number</span>
              </v-col>
              <v-col
                cols="4"
                align-self="start"
                class="pa-1"
                v-if="this.fromWhere === 'quotation'"
              >
                <span class="title font-weight-bold">
                  Q-{{ param.version }}</span
                >
              </v-col>
              <v-col v-else cols="4" align-self="start" class="pa-1">
                <span class="title font-weight-bold">{{
                  param.refVersion
                }}</span>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="3" class="pa-1">
                <span class="title">Version Number</span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-1">
                <span class="title font-weight-bold">{{ param.version }}</span>
              </v-col>
            </v-row>
          </v-col>

          <v-card>
            <v-tabs v-model="tab" light>
              <v-tab v-for="item in items" :key="item.tab"
                >{{ item.tab }}
              </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-card flat>
                  <v-card-text>
                    <v-btn
                      v-if="mode === 'd'"
                      disabled
                      color="primary"
                      @click="addTemplatesDialog = true"
                      class="ma-2"
                    >
                      <v-icon>mdi-plus</v-icon>
                      Add Template Item
                    </v-btn>
                    <v-btn
                      v-if="mode === 'e'"
                      color="primary"
                      @click="addTemplatesDialog = true"
                      class="ma-2"
                    >
                      <v-icon>mdi-plus</v-icon>
                      Add Template Item
                    </v-btn>

                    <p
                      v-if="templateSelected.length > 1"
                      class="font-italic mt-2"
                    >
                      Drag And Move for sorting.
                    </p>
                    <draggable v-model="templateSelected" class="v-card">
                      <template v-for="(template, i) in templateSelected">
                        <v-card
                          class="mb-2"
                          outlined
                          :key="template.text"
                          min-height="90px"
                          :style="template.show ? '' : 'color:darkgrey'"
                        >
                          <v-row class="ml-2 d-flex">
                            <v-col cols="2"
                              ><h2>{{ template.name }}</h2>
                            </v-col>
                            <v-col cols="7">
                              <froala-view
                                v-model="template.content"
                              ></froala-view>
                            </v-col>
                            <v-spacer />
                            <v-col>
                              <v-card-actions v-if="mode === 'e'">
                                <v-switch
                                  color="success"
                                  v-model="template.show"
                                  inset
                                ></v-switch>
                                <v-btn
                                  text
                                  color="blue"
                                  @click="openEditDialog(i)"
                                >
                                  <v-icon>mdi-pen</v-icon>
                                </v-btn>
                                <v-btn
                                  text
                                  color="red"
                                  @click="openDeleteDialog(i)"
                                >
                                  <v-icon>mdi-trash-can</v-icon>
                                </v-btn>
                              </v-card-actions>
                            </v-col>
                          </v-row>
                        </v-card>
                      </template>
                    </draggable>
                  </v-card-text>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat disabled v-if="mode === 'd'">
                  <v-card-text>
                    <div v-for="(form, i) in formData" v-bind:key="i">
                      <input1
                        :key="i"
                        :title="form.title"
                        :variable="form.variable"
                        :type="form.type"
                        v-model="form.value"
                      >
                      </input1>
                    </div>
                  </v-card-text>
                </v-card>
                <v-card flat v-if="mode === 'e'">
                  <v-card-text>
                    <div v-for="(form, i) in formData" v-bind:key="i">
                      <input1
                        :key="i"
                        :title="form.title"
                        :variable="form.variable"
                        :type="form.type"
                        v-model="form.value"
                      >
                      </input1>
                    </div>
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-card-text>
      </v-card>
    </v-form>

    <v-dialog v-model="addTemplatesDialog" max-width="700px">
      <v-card>
        <v-card-title>Add Template Item</v-card-title>
        <v-card-text>
          <v-autocomplete
            full-width
            dense
            hide-details="auto"
            label="Search Template Item"
            item-value="id"
            item-text="code"
            clearable
            solo
            outlined
            flat
            v-model="filter.templateItem.searchValue"
            :items="filter.templateItem.items"
            :loading="filter.templateItem.loading"
            @keyup="autocompSearch(filter.templateItem)"
            light
            color="primary"
            background-color="white"
            prepend-inner-icon="mdi-magnify"
            class="ma-0 pa-0"
            no-data-text="Type the Template Code."
            ref="templateItem"
            :rules="[rules.required]"
          >
            <template v-slot:item="{ item }">
              <v-list-item-content>
                <p class="mb-0">{{ item.name }}</p>
                <p class="text-caption mb-0">
                  {{ item.code }} - {{ item.description }}
                </p>
              </v-list-item-content>
            </template>
          </v-autocomplete>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="addTemplatesDialog = false"
            >Close
          </v-btn>
          <v-btn color="primary" text @click="addTemplateItem">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editTemplatesDialog" persistent max-width="1200px">
      <v-card>
        <v-card-title
          >Edit Template - {{ templateSelectEdit.name }}
        </v-card-title>
        <v-card-text>
          <froala
            v-model="templateSelectEdit.content"
            :config="config"
          ></froala>
        </v-card-text>
        <v-card-actions>
          <v-btn color="green" text @click="editTemplateItemSetDefault"
            >Set Default
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editTemplateItem(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="editTemplateItem(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editFormDataDialog" persistent>
      <v-card>
        <v-card-title
          >Edit Form Data - {{ formDataSelectEdit.title }}
        </v-card-title>
        <v-card-subtitle>{{ formDataSelectEdit.key }}</v-card-subtitle>
        <v-card-text>
          <v-container>
            <v-textarea
              name="input-3-1"
              label="Value"
              v-model="formDataSelectEdit.value"
            ></v-textarea>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editFormData(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="editFormData(true)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <v-dialog v-model="deleteTemplatesDialog" persistent max-width="500">
      <v-card>
        <v-card-title>Delete This Template Item ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="deleteTemplateItem(false)"
            >Cancel
          </v-btn>
          <v-btn color="red" text @click="deleteTemplateItem(true)"
            >Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error && this.isDraft == 0"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save
          </v-card-title>
          <v-card-title
            v-else-if="dialog.error && this.isDraft == 1"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Move
          </v-card-title>
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : okDialogError()"
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogGenerate.show" persistent max-width="290">
        <v-card v-show="!dialogGenerate.success && !dialogGenerate.error">
          <v-overlay :value="overlay">
            <v-progress-circular
              indeterminate
              size="64"
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-card>
        <v-card v-show="dialogGenerate.success || dialogGenerate.error">
          <v-card-title
            v-if="dialogGenerate.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved
          </v-card-title>
          <v-card-title
            v-else-if="dialogGenerate.error"
            class="justify-center"
            style="word-break: inherit;"
            >Failed to Generate
          </v-card-title>
          <v-card-text
            v-if="dialogGenerate.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="
                dialogGenerate.success ? back() : okDialogGenerateError()
              "
              >OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import Vue from "vue";
import VueFroala from "vue-froala-wysiwyg";
import "froala-editor/js/plugins/align.min";
import "froala-editor/js/plugins/font_size.min";
import "froala-editor/js/plugins/colors.min";
import "froala-editor/css/plugins/colors.min.css";
import "froala-editor/js/plugins/table.min";
import "froala-editor/css/plugins/table.min.css";
import "froala-editor/js/plugins/paragraph_format.min";
import "froala-editor/js/plugins/paragraph_style.min";
import "froala-editor/js/plugins/code_view.min";
import "froala-editor/js/plugins/code_beautifier.min";
import "froala-editor/css/plugins/code_view.min.css";
import "froala-editor/js/plugins/word_paste.min";
import "froala-editor/js/plugins/quote.min";
import "froala-editor/js/plugins/link.min";
import "froala-editor/js/plugins/image.min";
import "froala-editor/js/plugins/font_family.min";
import "froala-editor/js/plugins/line_height.min";
import "froala-editor/js/plugins/lists.min";
import "froala-editor/css/themes/gray.min.css";
import draggable from "vuedraggable";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import input1 from "@/components/inputs/input1";
import documentPreview from "@/components/documentPreview/documentPreview";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

import axios from "axios";

Vue.use(VueFroala);

export default {
  components: {
    draggable,
    isttoolbar,
    input1,
    documentPreview,
  },
  data: () => ({
    config: {
      attribution: false,
      tableCellStyles: {
        noborder: "No Border",
      },
      tableStyles: {
        noborder: "No Border",
      },
      lineHeights: {
        Default: "",
        Single: "1",
        1.15: "1.15",
        1.5: "1.5",
        Double: "2",
      },
      listAdvancedTypes: true,
      toolbarButtons: [
        [
          "alignLeft",
          "alignCenter",
          "alignRight",
          "alignJustify",
          "lineHeight",
          "bold",
          "italic",
          "underline",
          "fontSize",
          "fontFamily",
          "quote",
          "indent",
          "outdent",
          "formatOL",
          "formatUL",
          "paragraphFormat",
          "paragraphStyle",
          "textColor",
          "insertTable",
          "insertLink",
          "insertImage",
          "html",
          "undo",
          "redo",
          "codeView",
          "beautifier",
          "wordPaste",
        ],
      ],
      beautify: true,
      theme: "gray",
      heightMin: 600,
      heightMax: 400,
      paragraphFormatSelection: true,
      toolbarSticky: true, //static header
      tableResizerOffset: 10,
      tableResizingLimit: 50,
      pastePlain: true,
      events: {
        "image.beforeUpload": function (files) {
          let editor = this;
          if (files.length) {
            let reader = new FileReader();
            // Set the reader to insert images when they are loaded.
            reader.onload = function (e) {
              let result = e.target.result;
              editor.image.insert(result, null, null, editor.image.get());
            };
            // Read image as base64.
            reader.readAsDataURL(files[0]);
          }
          editor.popups.hideAll();
          // Stop default upload chain.
          return false;
        },
      },
    },
    errorDescription: "",
    filter: {
      templateItem: {
        key: "templateItem",
        request: null,
        searchValue: "",
        searchParam: "equals",
        url: "/config/api/master-template-item/?code.contains=",
        loading: false,
        items: [],
      },
    },

    overlay: false,
    dialog: { show: false, success: false, error: false },
    dialogGenerate: { show: false, success: false, error: false },
    param: {
      placingNumber: "",
      customer: "",
      accountCode: "",
      accountName: "",
      refVersion: "",
      version: "",
      classOfRisk: "",
      notes: "",
      riskCode: "",
      riskName: "",

      codeSegment: "",
      templateCode: "",
      transactionId: 0,
      transactionIdKey: "",
      statusEdit: 0,
      year: "",
    },
    classOfRiskItems: [],
    mode: "",
    editFormDataDialog: false,
    editTemplatesDialog: false,
    deleteTemplatesDialog: false,
    addTemplatesDialog: false,
    selection: [],

    tab: null,
    items: [
      { tab: "Document Data", content: "Tab 1 Content" },
      { tab: "Form Data", content: "Tab 2 Content" },
    ],
    templateArraySelected: 0,
    templateDeleteSelect: {},
    templateSelect: {},
    templateSelectEdit: {},
    templateSelected: [],
    templateRemoveFroala: [],
    templates: [],
    formDataArraySelected: 0,
    formDataSelectEdit: {},
    formDataSelectDelete: {},
    formData: [],
    insuranceRateId: 0,
    insuranceRate: [],
    documentDataShow: [],

    documentDataShow2: [],
    documentDataShow3: [],
    documentDataShow4: [],
    documentDataShow5: [],
    documentDataShow6: [],
    documentDataShow7: [],

    backToView: false,
    fromWhere: "",
    currentTime: 0,
    draft: "",
    isDraft: 0,
    idAfterEdit: 0,
    backToQuotation: "",
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),

  created() {
    if (this.$route.query.fromWhere === "placing-list") {
      this.fromWhere = this.$route.query.fromWhere;
      this.param.id = this.$route.query.id;
      this.mode = this.$route.query.mode;
      this.getById();
    }
    if (this.$route.query.fromWhere === "placing-list-quotation") {
      this.fromWhere = this.$route.query.fromWhere;
      this.param.id = this.$route.query.id;
      this.mode = this.$route.query.mode;
      this.backToQuotation = this.$route.query.backToQuotation;

      this.getQuotationData();
    }
    if (this.$route.query.fromWhere === "placing-list-back") {
      this.fromWhere = this.$route.query.fromWhere;
      this.param.id = this.$route.query.id;
      this.mode = this.$route.query.mode;
      this.getById();
    }
    if (this.$route.query.fromWhere === "quotation") {
      this.fromWhere = this.$route.query.fromWhere;
      this.param.id = this.$route.query.id;
      this.mode = this.$route.query.mode;
      this.getById();
    }

    this.initList(["templateItem"]);
  },
  computed: {
    fromQuotationButton() {
      return this.fromWhere === "placing-list-quotation" && this.mode === "e";
    },
    backToViewVal() {
      return this.fromWhere === "placing-list" && this.mode === "e";
    },

    buttonPreviewEnable() {
      return this.templateSelected.length > 0;
    },

    buttonMoveDisable() {
      return this.param.statusEdit === 0;
    },
  },

  mounted() {
    this.mode = this.$route.query.mode;
    this.date_function();
  },
  watch: {
    addTemplatesDialog: {
      handler() {
        if (!this.addTemplatesDialog) {
          this.$refs.templateItem.resetValidation(true);
        }
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    initList(list) {
      for (let l of list) {
        API.get(this.filter[l].url).then((resp) => {
          if (resp.data.code === 0 && resp.data.data.length > 0) {
            this.filter[l].items = resp.data.data;
          } else {
            this.filter[l].items = [];
          }
        });
      }
    },
    date_function: function () {
      this.currentTime = new Date().toJSON().slice(0, 4).replace(/-/g, "/");
    },

    async getQuotationData() {
      this.overlay = true;
      this.dialog.show = true;
      const id = this.param.id;
      API.get("/broking/api/broking/quotation/" + id).then((resp) => {
        if (resp.data.code === 0) {
          this.overlay = false;
          this.dialog.show = false;
          const data = resp.data;

          this.param.placingNumber = data.transactionIdKey;
          this.param.transactionId = data.transactionId;

          this.param.customer = data.accountCode + " - " + data.accountName;

          this.param.refVersion = data.refVersion;

          this.param.version = data.version;
          this.param.riskName = data.riskName;
          this.param.riskCode = data.riskCode;
          this.param.id = data.id;
          this.param.classOfRisk =
            this.param.riskCode + " - " + this.param.riskName;
          this.param.notes = data.notes;
          this.param.statusEdit = data.isEditable;

          try {
            let documentDataContent = JSON.parse(data.metasDoc);

            if (typeof documentDataContent === "object")
              this.templateSelected = documentDataContent;
          } catch (e) {
            this.templateSelected = [];
          }
          try {
            let formDataContent = JSON.parse(data.metasForm);
            if (typeof formDataContent === "object")
              this.formData = formDataContent;
          } catch (e) {
            this.formData = [];
          }
        }
      });
    },
    autocompSearch(filter, event) {
      if (event != null && event.key === "Enter") {
        return;
      }
      if (this.request) this.request.cancel();
      const axiosSource = axios.CancelToken.source();
      this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      if (filter.searchValue.isEmpty) return;
      filter.loading = true;
      API.get(
        filter.url + filter.searchValue.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        filter.loading = false;
        if (resp.data.code === 0 && resp.data.data.length > 0) {
          // this.comp[filter.key]["items"] = resp.data.data;
          filter.items = resp.data.data;
        } else {
          filter.items = [];
        }
      });
      filter.request = null;
    },

    change() {
      this.mode = "e";
      this.$router.replace({
        name: "placing-edit",
        query: { ...this.$route.query, mode: "e", fromWhere: "placing-list" },
      });
      this.backToView = true;
    },

    back() {
      if (this.fromWhere === "placing-list" && this.mode == "d") {
        this.$router.replace({ name: "placing-list", query: {back: true}, });
      }
      if (
        this.fromWhere === "placing-list" &&
        this.mode == "e" &&
        this.isDraft == 0
      ) {
        this.$router.push({
          name: "placing-edit2",
          query: {
            id: this.idAfterEdit.toString(),
            mode: "d",
            fromWhere: "placing-list",
          },
        });
      }
      if (
        this.fromWhere === "placing-list" &&
        this.mode == "e" &&
        this.isDraft == 1
      ) {
        this.$router.push({
          name: "placing-edit2",
          query: {
            id: this.idAfterEdit.toString(),
            mode: "d",
            fromWhere: "placing-list",
          },
        });
      }
      if (
        this.fromWhere === "placing-list-back" &&
        this.mode == "e" &&
        this.isDraft == 0
      ) {
        this.$router.replace({ name: "placing-list" });
      }
      if (this.fromWhere === "placing-list-back" && this.mode == "e") {
        this.$router.replace({ name: "placing-list" });
      }

      if (
        this.fromWhere === "placing-list-back" &&
        this.mode == "e" &&
        this.isDraft == 1
      ) {
        this.$router.push({
          name: "placing-edit2",
          query: {
            id: this.idAfterEdit.toString(),
            mode: "d",
            fromWhere: "placing-list",
          },
        });
      }

      if (this.fromWhere === "quotation") {
        this.$router.replace({ name: "placing-list", query: {back: true}, });
      }
      if (
        this.fromWhere === "placing-list-quotation" &&
        this.backToQuotation == "yes"
      ) {
        this.$router.push({
          name: "placing-edit2",
          query: {
            id: this.idAfterEdit.toString(),
            mode: "d",
            fromWhere: "quotation",
          },
        });
      }

      if (
        this.fromWhere === "placing-list-quotation" &&
        this.backToQuotation == "no" &&
        this.mode === "e"
      ) {
        this.$router.push({
          name: "quotation-edit",
          query: {
            id: this.param.id,
            mode: "d",
            backToView: false,
            fromWhere: "quotation-list",
          },
        });
      }
    },
    cancel() {
      this.mode = "d";
      this.$router.push({
        name: "placing-edit",
        query: { id: this.param.id, mode: "d", fromWhere: "placing-list" },
      });
      this.getById();
    },
    async edit() {
      (this.errorDescription = ""), (this.dialog.error = false);

      this.overlay = true;
      this.dialog.show = true;
      await this.filterFroala();
      await this.doEdit();
    },
    async doEdit() {
      let paramJSON = {
        brokingPlacement: {
          accountId: this.param.placingNumber,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,
          metasForm: JSON.stringify(this.formData),
          id: this.param.id,
          notes: this.param.notes,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/update", param).then((resp) => {
        if (resp.data.code === 0) {
          this.idAfterEdit = Object(resp.data.brokingPlacement).id;
          // this.dialog.success = true;
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.back();
        } else {
          this.errorDescription = resp.data.errorDescription;
          this.dialog.error = true;
        }
      });
    },

    async editDraft() {
      (this.errorDescription = ""), (this.dialog.error = false);
      this.overlay = true;
      this.dialog.show = true;
      await this.filterFroala();
      await this.doEditDraft();
    },
    async doEditDraft() {
      let paramJSON = {
        brokingPlacement: {
          accountId: this.param.placingNumber,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,
          metasForm: JSON.stringify(this.formData),
          id: this.param.id,
          notes: this.param.notes,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/save-draft", param).then(
        (resp) => {
          if (resp.data.code === 0) {
            this.idAfterEdit = Object(resp.data.brokingPlacement).id;

            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            this.errorDescription = resp.data.errorDescription;
            this.dialog.error = true;
          }
        }
      );
    },
    async editDraftQuotation() {
      this.overlay = true;
      this.dialog.show = true;
      await this.filterFroala();
      await this.doEditDraftQuotation();
    },
    async doEditDraftQuotation() {
      let paramJSON = {
        brokingQuotation: {
          accountId: this.param.placingNumber,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,
          metasForm: JSON.stringify(this.formData),
          id: this.param.id,
          notes: this.param.notes,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/move-placing-draft", param).then(
        (resp) => {
          if (resp.data.code === 0) {
            this.idAfterEdit = Object(resp.data.brokingPlacement).id;
            this.backToQuotation = "yes";
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.back();
          } else {
            this.backToQuotation = "no";
            this.errorDescription = resp.data.errorDescription;
            this.dialog.error = true;
          }
        }
      );
    },
    movetoQuotationCreate() {
      if (this.isDraft == 1) {
        this.overlay = true;
        this.dialog.show = true;
        this.errorDescription =
          "not allowed to move placing to quotation on draft version";
        this.dialog.error = true;
        this.overlay = false;
      } else {
        this.$router.push({
          name: "quotation-add",
          query: {
            id: this.param.id,
          },
        });
      }
    },

    async doBackToPlacing() {
      this.overlay = true;
      this.dialog.show = true;
      await this.filterFroala();

      let paramJSON = {
        brokingQuotation: {
          accountId: this.param.placingNumber,
          // metasDoc: JSON.stringify(this.templateSelected),
          metasDoc: this.templateRemoveFroala,

          metasForm: JSON.stringify(this.formData),
          id: this.param.id,
          notes: this.param.notes,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/quotation/move-placing", param).then(
        (resp) => {
          if (resp.data.code === 0) {
            this.idAfterEdit = Object(resp.data.brokingPlacement).id;
            this.backToQuotation = "yes";
            this.overlay = false;
            // this.dialog.show = false;
            this.dialog.success = true;
          } else {
            this.backToQuotation = "no";
            this.errorDescription = resp.data.errorDescription;
            this.dialog.error = true;
            this.overlay = false;
          }
        }
      );
    },

    async getById() {
      this.overlay = true;
      this.dialog.show = true;
      this.dialog.error = false;
      const id = this.param.id;
      API.get("/broking/api/broking/placement/" + id)
      .then((resp) => {
        if (resp.data.code === 0) {
          this.overlay = false;
          this.dialog.show = false;
          const data = resp.data;

          this.param.placingNumber = data.transactionIdKey;
          this.param.transactionId = data.transactionId;
          // this.param.accountName = data.accountName;
          // this.param.accountCode = data.accountCode

          this.param.customer = data.accountCode + " - " + data.accountName;
          this.param.refVersion = data.refVersion;
          this.param.version = data.version;
          this.param.riskName = data.riskName;
          this.param.riskCode = data.riskCode;
          this.param.classOfRisk =
            this.param.riskCode + " - " + this.param.riskName;

          this.param.notes = data.notes;

          this.param.riskCode = data.riskCode;
          this.param.statusEdit = data.isEditable;
          this.param.year = data.createdDate;
          this.isDraft = data.isDraft;

          try {
            let documentDataContent = JSON.parse(data.metasDoc);

            if (typeof documentDataContent === "object")
              this.templateSelected = documentDataContent;
          } catch (e) {
            this.templateSelected = [];
          }
          try {
            let formDataContent = JSON.parse(data.metasForm);
            if (typeof formDataContent === "object")
              this.formData = formDataContent;

            this.formData.sort((a, b) => a.order - b.order);

            if (this.formData.length === 0) {
              this.getFormData();
            }
          } catch (e) {
            this.formData = [];
          }
        }
      }).catch((error) => {
        console.log(error);
        this.overlay = false;
        this.dialog.show = false;
        this.setSnackbar({ color: "error", text: "Error" });
      });
    },
    async getFormData() {
      this.formData = [];
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=FORM_DATA_BROKING"
      );
      try {
        let content = resp.data.data;
        var items = [];
        for (var a = 0; a < content.length; a++) {
          items.push(JSON.parse(content[a].value));
        }
        items.sort((a, b) => a.order - b.order);

        if (typeof content === "object") this.formData = items;
      } catch (e) {
        console.error(e);
        this.formData = [];
      }
    },
    async filterFroala() {
      this.templateRemoveFroala = JSON.stringify(this.templateSelected)
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");
    },
    findBrTag(element) {
      if (element.children && element.children.length > 0) {
        for (let e of element.children) {
          console.log("e.tagName", e.tagName);
          if (e.tagName == "BR") {
            e.after("</br>");
          }
          e = this.findBrTag(e);
        }
      }
      return element;
    },
    decodeHtml(html) {
      let txt = document.createElement("textarea");
      txt.innerHTML = html;
      return txt.value;
    },
    async filterShowData() {
      var res = this.templateSelected.filter((item) => {
        return item.show === true;
      });

      // for (let e of res) {
      //   let xmlString = e.content;
      //   let doc = new DOMParser().parseFromString(xmlString, "text/html");
      //   let after = this.findBrTag(doc);
      //   console.log("after", this.decodeHtml(after.children[0].innerHTML));
      //   e.content = this.decodeHtml(after.children[0].innerHTML);
      // }

      var at = JSON.stringify(res);

      at = at
        .replaceAll(/<br>/gm, "<br/>")
        .replaceAll("Powered by", "")
        .replaceAll("Froala Editor", "");

      at = at.replace(/<br (.*?)">/g, (match) => {
        return match.replace(">", "/>");
      });

      this.documentDataShow2 = at;
      this.documentDataShow = this.documentDataShow2;
    },

    // async getTemplateItems() {
    //   API.get("/config/api/master-template-item/").then((resp) => {
    //     if (resp.data.code === 0 && resp.data.data.length > 0) {
    //       let items = resp.data.data;
    //
    //       for (let i = 0; i < items.length; i++) {
    //         this.templates.push(items[i].name);
    //       }
    //     }
    //   });
    // },

    addTemplateItem() {
      let template = this.filter.templateItem.searchValue;
      if(template) {
        this.overlay = true;
        this.dialog = {
          show: true,
          success: false,
          error: false,
        };
        this.errorDescription = "";
        API.get("/config/api/master-template-item/" + template).then((resp) => {
          if (resp.data.code === 0 && resp.data.data) {
            const items = resp.data.data;

            // for (let i = 0; i < items.length; i++) {
            //   this.templateSelected.push({
            //     id: items[i].id,
            //     name: items[i].name,
            //     content: items[i].content
            //       .replaceAll("Powered by", "")
            //       .replaceAll("Froala Editor", ""),
            //     show: (items[i].show = true),
            //     // editing: false,
            //   });
            // }

            this.templateSelected.push({
              id: items.id,
              name: items.name,
              content: items.content ? (items.content
                .replaceAll("Powered by", "")
                .replaceAll("Froala Editor", "")) : "",
              show: (items.show = true),
              // editing: false,
            });

            this.templateSelect = {};
            this.filter.templateItem.searchValue = "";

            this.addTemplatesDialog = false;
            this.overlay = false;
            this.dialog.show = false;
          } else {
            this.templateSelect = {};
            this.overlay = false;
            this.dialog.show = false;
          }
        });
      } else {
        this.$refs.templateItem.validate(true);
      }
      
    },
    openDeleteDialog(i) {
      this.deleteTemplatesDialog = true;
      this.templateDeleteSelect = i;
    },
    deleteTemplateItem(isdelete) {
      if (isdelete) this.templateSelected.splice(this.templateDeleteSelect, 1);
      this.templateDeleteSelect = {};
      this.deleteTemplatesDialog = false;
    },
    openEditDialog(i) {
      this.editTemplatesDialog = true;
      let template = this.templateSelected[i];
      this.templateSelectEdit = {
        name: template.name,
        content: template.content
          .replaceAll("Powered by", "")
          .replaceAll("Froala Editor", ""),
        id: template.id,
        show: template.show,
      };
      this.templateArraySelected = i;
    },
    editTemplateItem(isEdit) {
      //disinitest
      if (isEdit)
        this.templateSelected[
          this.templateArraySelected
        ] = this.templateSelectEdit;
      this.templateSelectEdit = {};
      this.templateArraySelected = null;
      this.editTemplatesDialog = false;
    },
    editTemplateItemSetDefault() {
      let index = this.templates.findIndex(
        (item) => item.id === this.templateSelectEdit.id
      );
      let template = this.templates[index];
      this.templateSelectEdit = {
        title: template.title,
        content: template.content,
        id: template.id,
      };
    },
    openFormDataEditDialog(i) {
      this.editFormDataDialog = true;
      let formData = this.formData[i];
      this.formDataSelectEdit = {
        title: formData.title,
        key: formData.key,
        value: formData.value,
        id: formData.id,
      };
      this.formDataArraySelected = i;
    },
    editFormData(isEdit) {
      if (isEdit)
        this.formData[this.formDataArraySelected] = this.formDataSelectEdit;
      this.formDataSelectEdit = {};
      this.formDataArraySelected = null;
      this.editFormDataDialog = false;
    },

    viewFile() {
      this.overlay = true;
      this.dialogGenerate.error = false;
      this.dialogGenerate.success = false;
      this.dialogGenerate.show = true;
      this.filterShowData();
      this.filePDF = null;

      let paramJSON = {
        metasDoc: this.replaceSpecialChar(this.documentDataShow),
        metasForm: JSON.stringify(this.formData),
        idPlacement: this.param.id,
      };

      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/generate", param)
      .then((resp) => {
        if (resp.data.code === 0) {
          this.previewFile(resp.data.data);
          this.overlay = false;
          this.dialogGenerate.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialogGenerate.error = true;
        }
      })
      .catch((error) => {
        console.log(error);
        this.overlay = false;
        this.dialog.show = false;
        this.setSnackbar({ color: "error", text: "Error" });
      });
    },
    viewFileFromQuotation() {
      this.overlay = true;
      this.dialogGenerate.show = true;
      this.filterShowData();
      this.filePDF = null;

      let paramJSON = {
        metasDoc: this.replaceSpecialChar(this.documentDataShow),
        metasForm: JSON.stringify(this.formData),
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/generate", param).then((resp) => {
        if (resp.data.code === 0) {
          // this.saveFile(resp.data.data);
          this.previewFile(resp.data.data);
          this.overlay = false;
          this.dialogGenerate.show = false;
        } else {
          this.overlay = false;

          this.errorDescription = resp.data.errorMessage;
          this.dialogGenerate.error = true;
        }
      });
    },
    downloadFile() {
      this.overlay = true;
      this.dialogGenerate.show = true;
      this.filterShowData();
      let paramJSON = {
        metasDoc: this.replaceSpecialChar(this.documentDataShow),
        metasForm: JSON.stringify(this.formData),
        idPlacement: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/generate", param).then((resp) => {
        if (resp.data.code === 0) {
          this.saveFile(resp.data.data);
          this.overlay = false;
          this.dialogGenerate.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialogGenerate.error = true;
        }
      }).catch((error) => {
        console.log(error);
        this.overlay = false;
        this.dialog.show = false;
        this.setSnackbar({ color: "error", text: "Error" });
      });
    },
    saveFile(base64) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "PS " +
          this.param.placingNumber +
          " " +
          this.param.version +
          "-" +
          this.param.riskCode +
          "-" +
          this.param.customer +
          " " +
          this.currentTime +
          ".pdf"
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    downloadFileDocs() {
      this.overlay = true;
      this.dialog.show = true;
      this.filterShowData();
      let paramJSON = {
        fileType: "docx",
        metasDoc: this.replaceSpecialChar(this.documentDataShow),
        metasForm: JSON.stringify(this.formData),
        idPlacement: this.param.id,
      };
      let param = JSON.stringify(paramJSON);
      API.post("broking/api/broking/placement/generate", param)
      .then((resp) => {
        if (resp.data.code === 0) {
          this.saveFileDocs(resp.data.data);
          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialogGenerate.error = true;
        }
      }).catch((error) => {
        console.log(error);
        this.overlay = false;
        this.dialog.show = false;
        this.setSnackbar({ color: "error", text: "Error" });
      });
    },
    saveFileDocs(base64) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "PS " +
          this.param.placingNumber +
          " " +
          this.param.version +
          "-" +
          this.param.riskCode +
          "-" +
          this.param.customer +
          " " +
          this.currentTime +
          ".docx"
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      // var byteNumbers = new Array(byteCharacters.length);
      // for (var i = 0; i < byteCharacters.length; i++) {
      //   byteNumbers[i] = byteCharacters.charCodeAt(i);
      // }
      // var byteArray = new Uint8Array(byteNumbers);
      // var file = new Blob([byteArray], { type: "application/pdf;base64" });
      // var fileURL = URL.createObjectURL(file);
      // window.open(fileURL);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    okDialogError() {
      this.dialog = {
        show: false,
        success: false,
        error: false,
      };
      this.errorDescription = "";
    },
    okDialogGenerateError() {
      this.dialogGenerate = {
        show: false,
        success: false,
        error: false,
      };
      this.errorDescription = "";
    },
    replaceSpecialChar(item) {
      let regeeex = /“|”/ig;
      let result = 
        item ? item
          .replaceAll("–", "-")
          .replaceAll(regeeex, "\\\"") :
        item
      return result
    },
  },
};
</script>

<style scoped>
.froalafix {
  position: fixed;
  z-index: 1;
}

.contentFix {
  padding-top: 100px;
}

.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.buttonFixed {
  color: white;
  position: fixed;
  z-index: 2;
  margin-top: 3px;
  right: 10px;
}

.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}

.class1 tbody tr:nth-child(2n) {
  background: #f9f9f9;
}

.class2 thead tr th,
.class2 tbody tr td {
  border-style: dashed;
}

.fr-view p[data-f-id="pbf"] {
  display: none;
}
</style>
