<template>
  <v-card flat>
    <isttoolbar
      title="Chart of Account"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer></v-spacer>
      <v-btn
        outlined
        color="white"
        @click="edit"
        v-if="mode === 'e'"
        class="mx-3"
        width="100px"
        dark
      >
        Save
      </v-btn>
      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            min-width="40"
            icon
            @click="mode = 'e'"
            class="mx-0"
            text
            v-bind="attrs"
            v-on="on"
            v-show="checkAuthorities('akuncoa-edit')"
            
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn
        outlined
        color="white"
        @click="toView"
        v-if="mode === 'e'"
        class="mx-0"
        width="100px"
        dark
      >
        Cancel
      </v-btn>
      <v-tooltip bottom v-if="mode === 'd'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-0"
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>

    <isttoolbar
      :title="mode === 'd' ? 'View COA Master' : 'Edit COA Master'"
      class="mb-4 pl-9"
      dark
      color="primary"
    ></isttoolbar>

    <v-tabs v-model="tab" background-color="primary" dark>
      <v-tab v-for="item in itemsTabs" :key="item.tab">{{ item.tab }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          COA Code
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="coaCode"
          v-model="param.coaCode"
          :rules="[rules.required]"
          
        >
          <!-- @keydown="codeKeydown($event)" -->
        </v-text-field>
        <v-text-field
          v-if="mode === 'e'"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="coaCode"
          v-model="param.coaCode"
          :rules="[rules.required]"
          
        >
          <!-- @keydown="codeKeydown($event)" -->
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          COA Name
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="coaName"
          v-model="param.coaName"
          :rules="[rules.required]"
        ></v-text-field>
        <v-text-field
          v-if="mode === 'e'"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="coaName"
          v-model="param.coaName"
          :rules="[rules.required]"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Description
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="description"
          v-model="param.description"
          :rules="[rules.required]"
        ></v-text-field>
        <v-text-field
          v-if="mode === 'e'"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="description"
          v-model="param.description"
          :rules="[rules.required]"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Currency
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="currency"
          v-model="param.curencyforview"
        ></v-text-field>
        <v-autocomplete
          v-if="mode === 'e'"
          hide-details="auto"
          ref="currency"
          name="currency"
          class="ma-0"
          solo
          flat
          outlined
          dense
          no-data-text="Type the Customer Name."
          :items="itemsCurency"
          item-value="code"
          item-text="codeAndName"
          v-model="param.currency"
          :rules="[rules.required]"
        >
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Type
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <!-- <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="type"
          v-model="param.typeForView"
        ></v-text-field> -->
        <v-autocomplete
          hide-details="auto"
          ref="type"
          name="type"
          class="ma-0"
          solo
          flat
          outlined
          dense
          no-data-text="Type the Customer Name."
          :items="itemsType"
          item-value="code"
          item-text="codeAndName"
          v-model="param.type"
          :rules="[rules.required]"
          :readonly="mode == 'd'"
          :append-icon="mode == 'd' ? '' : 'mdi-menu-down'"
        >
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Bank
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <!-- <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="bank"
          v-model="param.bank"
        ></v-text-field> -->
        <v-autocomplete
          v-model="param.bankId"
          hide-details="auto"
          ref="bank"
          name="bank"
          class="ma-0"
          solo
          flat
          outlined
          dense
          no-data-text="Type the Customer Name."
          :items="itemsBank"
          item-value="id"
          item-text="bankName"
          :readonly="mode != 'e'"
          :append-icon="mode == 'e' ? 'mdi-menu-down' : ''"
        >
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Bank A/C #
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="bankAC"
          v-model="param.bankAC"
        ></v-text-field>
        <v-text-field
          v-if="mode === 'e'"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="bankAC"
          v-model="param.bankAC"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Prefered Level
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="1" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          v-model="param.preferedLvl"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="preferedLvl"
        ></v-text-field>
        <v-text-field
          v-if="mode === 'e'"
          v-model="param.preferedLvl"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="preferedLvl"
        ></v-text-field>
      </v-col>

      <v-col cols="2" class="pa-1">
        <span class="title">
          Export in Details
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="1" align-self="start" class="pa-1">
        <v-text-field
          v-if="mode === 'd'"
          readonly
          v-model="param.exportinDetails"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="exportinDetails"
        ></v-text-field>
        <v-text-field
          v-if="mode === 'e'"
          v-model="param.exportinDetails"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="exportinDetails"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Active
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-switch
          v-if="mode === 'd'"
          readonly
          ref="recordStatus"
          name="recordStatus"
          color="success"
          v-model="param.recordStatus"
          inset
          :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
        ></v-switch>
        <v-switch
          v-if="mode === 'e'"
          ref="recordStatus"
          name="recordStatus"
          color="success"
          v-model="param.recordStatus"
          inset
          :label="`${param.recordStatus ? 'Active' : 'Inactive'}`"
        ></v-switch>
      </v-col>
    </v-row>

    <br />
    <v-row align="center" class="mx-2" v-show="mode === 'd'">
      <v-col cols="2" class="pa-1">
        <span class="title">Entry By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.entryName"
          ref="entryName"
          name="entryName"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.entryDate"
          ref="entryDate"
          name="entryDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1 pl-5">
        <span class="title">Modified By</span>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.modifName"
          ref="modifName"
          name="modifName"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="2" class="pa-1">
        <v-text-field
          v-model="param.modifDate"
          ref="modifDate"
          name="modifDate"
          persistent-hint
          hide-details="auto"
          flat
          outlined
          dense
          solo
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    </v-tab-item>

    <v-tab-item>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              Real Code
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="coacode"
              v-model="param.realCode"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-col class="ma-4 ml-0">
          <span class="title primary--text"> Analisys Code </span>
        </v-col>

        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T0
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t0"
              v-model="param.t0"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t0"
              v-model="param.t0"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T5
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t5"
              v-model="param.t5"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t5"
              v-model="param.t5"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T1
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t1"
              v-model="param.t1"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t1"
              v-model="param.t1"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T6
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t6"
              v-model="param.t6"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t6"
              v-model="param.t6"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T2
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t2"
              v-model="param.t2"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t2"
              v-model="param.t2"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T7
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t7"
              v-model="param.t7"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t7"
              v-model="param.t7"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T3
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t3"
              v-model="param.t3"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t3"
              v-model="param.t3"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T8
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t8"
              v-model="param.t8"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t8"
              v-model="param.t8"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2 mb-10">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T4
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t4"
              v-model="param.t4"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t4"
              v-model="param.t4"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T9
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              v-if="mode === 'd'"
              readonly
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t9"
              v-model="param.t9"
            ></v-text-field>
            <v-text-field
              v-if="mode === 'e'"
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t9"
              v-model="param.t9"
            ></v-text-field>
          </v-col>
        </v-row>

        <br /><br />
        <v-row align="center" class="mx-2 mt-10" v-show="mode === 'd'">
          <v-col cols="2" class="pa-1">
            <span class="title">Entry By</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model="param.entryName"
              ref="entryName"
              name="entryName"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model="param.entryDate"
              ref="entryDate"
              name="entryDate"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="2" class="pa-1 pl-5">
            <span class="title">Modified By</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model="param.modifName"
              ref="modifName"
              name="modifName"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model="param.modifDate"
              ref="modifDate"
              name="modifDate"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog v-model="dialogLoading" persistent max-width="290">
      <v-card>
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },

  data: () => ({
    mode: "",
    param: {
      coaCode: "",
      description: "",
      currency: "",
      type: "",
      bank: 0,
      coaName: "",
      bankAC: "",
      bankId: 0,
      preferedLvl: "",
      exportinDetails: "",
      recordStatus: "",
      realCode: "",
      t0: "",
      t1: "",
      t2: "",
      t3: "",
      t4: "",
      t5: "",
      t6: "",
      t7: "",
      t8: "",
      t9: "",
      curencyforview: "",
      typeForView: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    id: {
      id: 0,
    },
    dialogLoading: false,
    itemsBank: [],
    itemsCurency: [],
    itemsType: [],
    tab: null,
    itemsTabs: [
      { tab: "Detail", content: "Tab 1 Content" },
      { tab: "Sun", content: "Tab 2 Content" },
    ],
    overlay: false,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    errors: [],
    errorDescription: "",
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    search: {
      bank: {
        input: "",
        items: [],
        url: "config/api/master-mbank/?isActive.equals=1",
        loading: true,
        request: null,
      },
    },
  }),

  computed: {
    form() {
      return {
        coaName: this.param.coaName,
        coaCode: this.param.coaCode,
        description: this.param.description,
        currency: this.param.currency,
        type: this.param.type,
      };
    },
  },
  //   async created() {
  //     if (this.$route.query.id) {
  //     this.id.id = this.$route.query.id;
  //     this.getById();
  //   }
  //   this.getListBank();
  //   this.getListCurency();
  //   this.getListType();
  //   let checkToken = JSON.parse(localStorage.getItem("checkToken"));
  //   this.param.entryName = checkToken.fullname;

  //   await this.initList([
  //     // "status",
  //     "bank",
  //     "type",
  //     "currency",
  //   ]);
  // },
  created() {
    if (this.$route.query.id) {
      this.id.id = this.$route.query.id;
      this.getById();
    }
    this.getListBank();
    this.getListCurency();
    this.getListType();
  },
  mounted() {
    this.mode = this.$route.query.mode;
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    optionsRate: {
      handler() {
        this.refreshRate();
      },
      deep: true,
    },
    "param.coaCode": function (val) {
      this.param.coaCode = val.toUpperCase();//.replace(/\W/g, '');
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
      });
      search.request = null;
    },
    getById() {
      this.dialogLoading = true;
      const id = this.id.id;
      API.get("config/api/master-akuncoa/" + id, {}).then((resp) => {
        const data = resp.data;
        const akunCOA = resp.data.akunCOASun;
        this.param.recordStatus = data.isActive == 1 ? true : false;
        this.param.bankId = data.bankId;
        this.param.bankAC = data.bankAccount;
        this.param.preferedLvl = data.prefLevel;
        this.param.exportinDetails = data.details;
        this.param.description = data.description;
        this.param.coaCode = data.coaCode;
        this.param.coaName = data.coaName;
        this.param.currency = data.currency;
        this.param.type = data.coaType;
        this.param.entryName = data.createdBy;
        this.param.entryDate = this.formatDate(data.createdDate);
        this.param.modifName = data.modifiedBy;
        this.param.modifDate = this.formatDate(data.modifiedDate);
        this.param.realCode = akunCOA.realCode;
        this.param.t0 = akunCOA.t0;
        this.param.t1 = akunCOA.t1;
        this.param.t2 = akunCOA.t2;
        this.param.t3 = akunCOA.t3;
        this.param.t4 = akunCOA.t4;
        this.param.t5 = akunCOA.t5;
        this.param.t6 = akunCOA.t6;
        this.param.t7 = akunCOA.t7;
        this.param.t8 = akunCOA.t8;
        this.param.t9 = akunCOA.t9;
        this.getListTypeforview();
        this.getListCurencyforview();
        // this.getBAnk();
        this.dialogLoading = false;
        console.log("this.param.type", this.param.type);
      });
    },
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    getBAnk() {
      API.get("config/api/master-mbank/" + this.param.bankId, {}).then(
        (resp) => {
          let data = "";
          if (resp.data.data) {
            data = resp.data.data.bankName;
          }
          this.param.bank = data;
        }
      );
    },
    async edit() {
      this.dialog.error = false;
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        akunCOASun: {
          realCode: this.param.realCode,
          t0: this.param.t0,
          t1: this.param.t1,
          t2: this.param.t2,
          t3: this.param.t3,
          t4: this.param.t4,
          t5: this.param.t5,
          t6: this.param.t6,
          t7: this.param.t7,
          t8: this.param.t8,
          t9: this.param.t9,
        },
        id: this.id.id,
        bankAccount: this.param.bankAC,
        isActive: this.param.recordStatus == true ? 1 : 0,
        coaName: this.param.coaName,
        bankId: this.param.bankId,
        coaCode: this.param.coaCode,
        description: this.param.description,
        coaType: this.param.type,
        currency: this.param.currency,
        details: this.param.exportinDetails,
        prefLevel: this.param.preferedLvl,
        // realCode: this.param.coaCode,
      };
      let param = JSON.stringify(paramJSON);
      //todo : edit
      API.post("config/api/master-akuncoa/update", param).then((resp) => {
        if (resp.data.code == 0) {
          // this.dialog.success = true;
          this.dialog = { show: false, success: false, error: false, errorMessage: "" };
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.toView();
        } else {
          this.dialog.error = true;
          this.dialog.errorMessage =
            resp.data.errorMessage.length > 0
              ? resp.data.errorMessage.toUpperCase()
              : resp.data.errordescription.toUpperCase();
        }
      });
    },

    getListType() {
      API.get(
        "/config/api/master-parameter/?module.equals=COA_TYPE",
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          let itemType = resp.data.data;
          for (i = 0; i < itemType.length; i++) {
            text.push(itemType[i]);
          }
          this.itemsType = text;
          console.log("this.itemsType", this.itemsType);
        }
      });
    },
    getListBank() {
      API.get("config/api/master-mbank/?isActive.equals=1", null).then(
        (resp) => {
          if (resp.data.code == 0) {
            let text = [];
            let i;
            let itemBank = resp.data.data;
            for (i = 0; i < itemBank.length; i++) {
              text.push(itemBank[i]);
            }
            this.itemsBank = text;
          }
        }
      );
    },
    getListCurency() {
      API.get("/config/api/master-currency/?isActive.equals=1", null).then(
        (resp) => {
          if (resp.data.code == 0) {
            let text = [];
            let i;
            let itemCurency = resp.data.data;
            for (i = 0; i < itemCurency.length; i++) {
              text.push(itemCurency[i]);
            }
            this.itemsCurency = text;
          }
        }
      );
    },
    getListCurencyforview() {
      API.get(
        "/config/api/master-currency/?code.contains=" + this.param.currency,
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let data = "";
          if (resp.data.data.length > 0) {
            data = resp.data.data[0].codeAndName;
          }
          this.param.curencyforview = data;
        }
      });
    },
    getListTypeforview() {
      API.get(
        "/config/api/master-parameter/?module.equals=COA_TYPE?code.contains=" +
          this.param.type,
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let data = resp.data.data[0].codeAndName;
          this.param.typeForView = data;
        }
      });
    },
    back() {
      this.$router.replace({ 
        name: "akuncoa-list",
        query: {back: true},
      });
    },
    toView() {
      this.$router.replace({
        name: "akuncoa-edit",
        query: { id: this.id.id, mode: "d" },
      }).catch(() => {});
      this.mode = "d";
      if (this.$route.query.id) {
        this.id.id = this.$route.query.id;
        this.getById();
      }
      this.getListBank();
      this.getListCurency();
      this.getListType();
    },

    codeKeydown(e) {
      if (/^\W|_$/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>