<template>
  <v-card flat>
    <isttoolbar
      title="Chart of Account"
      dark
      color="secondary"
      icon="mdi-cog-outline"
    >
      <v-spacer></v-spacer>

      <v-btn
        outlined
        color="white"
        @click="save"
        class="mx-3"
        width="100px"
        dark
      >
        Save
      </v-btn>
      <v-btn
        outlined
        color="white"
        @click="back"
        class="mx-0"
        width="100px"
        dark
      >
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      title="New COA Master"
      class="mb-4 pl-9"
      dark
      color="primary"
    ></isttoolbar>

    <v-tabs v-model="tab" background-color="primary" dark>
      <v-tab v-for="item in itemsTabs" :key="item.tab">{{ item.tab }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          COA Code
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          flat
          outlined
          dense
          solo
          hide-details="auto"
          label="Coa Code "
          ref="coaCode"
          v-model="param.coaCode"
          :rules="[rules.required]"
          
        >
          <!-- @keydown="codeKeydown($event)" -->
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          COA Name
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          flat
          outlined
          dense
          solo
          hide-details="auto"
          label="Coa Name"
          ref="coaName"
          v-model="param.coaName"
          :rules="[rules.required]"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Description
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          flat
          outlined
          dense
          solo
          hide-details="auto"
          label="Description"
          ref="description"
          v-model="param.description"
          :rules="[rules.required]"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Currency
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-autocomplete
          label="Currency"
          hide-details="auto"
          v-model="param.currency"
          ref="currency"
          name="currency"
          :items="search.currency.items"
          item-value="code"
          :item-text="currencyTextItem"
          clearable
          return-object
          class="ma-0"
          solo
          flat
          outlined
          dense
          :rules="[rules.required]"
        ></v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Type
          <span class="error--text">*</span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-autocomplete
          label="Type"
          hide-details="auto"
          v-model="param.type"
          ref="type"
          name="type"
          :items="search.type.items"
          item-value="code"
          item-text="codeAndName"
          :search-input.sync="search.type.searchInput"
          :loading="search.type.loading"
          clearable
          return-object
          class="ma-0"
          solo
          flat
          outlined
          dense
          :rules="[rules.required]"
        ></v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Bank
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-autocomplete
          hide-details="auto"
          label="Bank"
          v-model="param.bank"
          ref="bank"
          name="bank"
          :search-input.sync="search.bank.input"
          :items="search.bank.items"
          item-value="bankName"
          item-text="bankName"
          :loading="search.bank.loading"
          class="ma-0"
          clearable
          return-object
          flat
          outlined
          dense
          solo
        ></v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Bank A/C #
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="4" align-self="start" class="pa-1">
        <v-text-field
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="bankAC"
          v-model="param.bankAC"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" class="ml-2">
      <v-col cols="2" class="pa-1">
        <span class="title">
          Prefered Level
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="1" align-self="start" class="pa-1">
        <v-text-field
          v-model="param.preferedLvl"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="preferedLvl"
        ></v-text-field>
      </v-col>

      <v-col cols="2" class="pa-1">
        <span class="title">
          Export in Details
          <span class="error--text"></span>
        </span>
      </v-col>
      <v-col cols="1" align-self="start" class="pa-1">
        <v-text-field
          v-model="param.exportinDetails"
          flat
          outlined
          dense
          solo
          hide-details="auto"
          ref="exportinDetails"
        ></v-text-field>
      </v-col>
    </v-row>
    </v-tab-item>

    <v-tab-item>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              Real Code
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="coacode"
              v-model="param.realCode"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-col class="ma-4 ml-0">
          <span class="title primary--text"> Analisys Code </span>
        </v-col>

        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T0
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t0"
              v-model="param.t0"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T5
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t5"
              v-model="param.t5"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T1
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t1"
              v-model="param.t1"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T6
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t6"
              v-model="param.t6"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T2
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t2"
              v-model="param.t2"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T7
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t7"
              v-model="param.t7"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T3
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t3"
              v-model="param.t3"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T8
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t8"
              v-model="param.t8"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" class="ml-2">
          <v-col cols="1" class="pa-1">
            <span class="title">
              T4
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t4"
              v-model="param.t4"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1"> </v-col>
          <v-col cols="1" class="pa-1">
            <span class="title">
              T9
              <span class="error--text"></span>
            </span>
          </v-col>
          <v-col cols="4" align-self="start" class="pa-1">
            <v-text-field
              flat
              outlined
              dense
              solo
              hide-details="auto"
              ref="t9"
              v-model="param.t9"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },

  data: () => ({
    haserrorcode: false,
    haserrorname: false,
    haserrordescription: false,
    haserrorcurrency: false,
    haserrortype: false,
    param: {
      coaCode: "",
      description: "",
      currency: "",
      type: "",
      bank: "",
      coaName: "",
      bankAC: "",
      preferedLvl: "",
      exportinDetails: "",
      recordStatus: true,
      realCode: "",
      t0: "",
      t1: "",
      t2: "",
      t3: "",
      t4: "",
      t5: "",
      t6: "",
      t7: "",
      t8: "",
      t9: "",
    },

    itemsBank: [],
    itemsCurency: [],
    itemsType: [],
    tab: null,
    itemsTabs: [
      { tab: "Detail", content: "Tab 1 Content" },
      { tab: "Sun", content: "Tab 2 Content" },
    ],
    overlay: false,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    errors: [],
    errorDescription: "",
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    search: {
      bank: {
        input: "",
        items: [],
        url: "config/api/master-mbank/?isActive.equals=1",
        loading: true,
        request: null,
      },
      type: {
        value: "codeAndName",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-parameter/?module.equals=COA_TYPE&sort=code,asc,ignoreCase",
        loading: true,
        request: null,
        // input: "",
        // items: [],
        // url:
        // // "/clients/api/account/agent?size=-1",
        // "/config/api/master-parameter/?module.equals=COA_TYPE",
        // loading: true,
        // request: null,
      },
      currency: {
        value: "currency",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-currency/",
        urlParam: { size: -1, "isActive.equals": 1 },
        loading: true,
      },
    },
  }),

  computed: {
    form() {
      return {
        coaName: this.param.coaName,
        coaCode: this.param.coaCode,
        description: this.param.description,
        currency: this.param.currency,
        type: this.param.type,
      };
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    optionsRate: {
      handler() {
        this.refreshRate();
      },
      deep: true,
    },
    "param.coaCode": function (val) {
      this.param.coaCode = val.toUpperCase();//.replace(/\W/g, '');
    },
  },
  created() {
    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.fullname;

    this.initList(["bank", "type", "currency"]);
  },

  // created() {
  //   this.getListBank();
  //   this.getListCurency();
  //   this.getListType();
  // },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    // async initList(list) {
    //   for (let l of list) {
    //     await API.get(this.search[l].url).then((resp) => {
    //       if (resp.data.code == 0 && resp.data.data.length > 0) {
    //         this.search[l].items = resp.data.data;
    //       } else {
    //         this.search[l].items = [];
    //       }
    //     });
    //     if (l == "progress") {
    //       this.search.progress.items = this.search.progress.items.filter(
    //         (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
    //       );
    //     }
    //     this.search[l].loading = false;
    //   }
    // },
    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      search.items = [];
      let loop = search.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          search["url" + (i < 1 ? "" : i)] +
            search[
              !this.expanded ? "toolbarSearchInput" : "searchInput"
            ].toUpperCase(),
          null,
          null,
          axiosSource.token
        ).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            // console.log(resp.data.data);
            search.items = search.items.concat(resp.data.data);
          }
        });
      }
      search.loading = false;
    },
    currencyTextItem: (item) => item.code + " - " + item.value,
    //  autocompSearch(search) {
    //   if (search.request) search.request.cancel();
    //   const axiosSource = axios.CancelToken.source();
    //   search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
    //   setTimeout(() => this.sends(search, axiosSource), 500);
    // },
    // async sends(search, axiosSource) {
    //   search.loading = true;
    //   API.get(
    //     search.url + search.input.toUpperCase(),
    //     null,
    //     null,
    //     axiosSource.token
    //   ).then((resp) => {
    //     search.loading = false;
    //     if (resp.data.code == 0 && resp.data.data.length > 0) {
    //       search.items = resp.data.data;
    //     } else {
    //       search.items = [];
    //     }
    //     console.log(this.search[search.name].items);
    //   });
    //   search.request = null;
    // },
    async save() {
      this.dialog.error = false;
      Object.keys(this.form).forEach((f) => {
        this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        akunCOASun: {
          realCode: this.param.realCode,
          t0: this.param.t0,
          t1: this.param.t1,
          t2: this.param.t2,
          t3: this.param.t3,
          t4: this.param.t4,
          t5: this.param.t5,
          t6: this.param.t6,
          t7: this.param.t7,
          t8: this.param.t8,
          t9: this.param.t9,
        },
        // realCode: this.param.coaCode,
        bankAccount: this.param.bankAC,
        isActive: 1,
        coaName: this.param.coaName,
        bankId: this.param.bank.id,
        coaCode: this.param.coaCode,
        description: this.param.description,
        coaType: this.param.type.code,
        currency: this.param.currency.code,
        details: this.param.exportinDetails,
        prefLevel: this.param.preferedLvl,
      };
      let param = JSON.stringify(paramJSON);
      API.post("config/api/master-akuncoa/add", param).then((resp) => {
        if (resp.data.code == 0) {
          // this.dialog.success = true;
          this.dialog = { show: false, success: false, error: false, errorMessage: "" };
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.toView(resp.data.id);
        } else {
          this.dialog.error = true;
          this.dialog.errorMessage =
            resp.data.errorMessage.length > 0
              ? resp.data.errorMessage.toUpperCase()
              : resp.data.errordescription.toUpperCase();
        }
      });
    },
    getListType() {
      API.get(
        "/config/api/master-parameter/?module.equals=COA_TYPE",
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let itemType = resp.data.data;
          for (i = 0; i < itemType.length; i++) {
            text.push(itemType[i]);
          }
          this.itemsType = text;
          console.log("JFYAYFDVJHGVD");
          console.log(this.itemsType);
        }
        console.log("JFYAYFDVJHGVD");
        console.log(this.itemsType);
      });
    },
    getListBank() {
      API.get("config/api/master-mbank/?isActive.equals=1", null).then(
        (resp) => {
          if (resp.data.code == 0) {
            let text = [];
            let i;
            console.log("INI RESPONSE = ");
            let itemBank = resp.data.data;
            for (i = 0; i < itemBank.length; i++) {
              text.push(itemBank[i]);
            }
            this.itemsBank = text;
          }
        }
      );
    },
    getListCurency() {
      API.get(
        "/config/api/master-currency/?isActive.equals=1",
        null
      ).then((resp) => {
        if (resp.data.code == 0) {
          let text = [];
          let i;
          console.log("INI RESPONSE = ");
          let itemCurency = resp.data.data;
          for (i = 0; i < itemCurency.length; i++) {
            text.push(itemCurency[i]);
          }
          this.itemsCurency = text;
        }
      });
    },
    back() {
      this.$router.replace({ name: "akuncoa-list" });
    },
    toView(id) {
      this.$router.replace({
        name: "akuncoa-edit",
        query: { id: id, mode: "d" },
      }).catch(() => {});
    },
    codeKeydown(e) {
      if (/^\W|_$/.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>