<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5" :readonly="invoice.statusPage === 'view'">
      <v-row class="mb-5">
        <v-col cols="6">
          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">
                Currency
                <span class="red--text">*</span>
              </span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <!-- v-show="invoice.statusPage === 'view'" -->
              <v-text-field
                hide-details="auto"
                label=""
                ref="currency"
                v-model="invoice.currency"
                solo
                flat
                dense
                outlined
                class="ma-0"
                disabled
              ></v-text-field>
              <!-- <v-combobox
              v-show="invoice.statusPage === 'edit'"
                hide-details="auto"
                label="Select Currency ..."
                @input="setDataCurrency"
                ref="currency"
                name="currency"
                v-model="invoice.currency"
                :search-input.sync="search.currency.input"
                @keyup="autocompSearch(search.currency)"
                :items="search.currency.items"
                item-value="code"
                item-text="code"
                :loading="search.currency.loading"
                class="ma-0"
                :rules="[rules.required]"
                flat
                outlined
                dense
                solo
              >
                <template v-slot:item="{ item }">
                  <v-list-item-content>
                    <p class="text-caption mb-0">
                      {{ item.code }} - {{ item.value }}
                    </p>
                  </v-list-item-content>
                </template>
              </v-combobox> -->
            </v-col>
          </v-row>

          <v-row align="center" class="ml-2 mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Sum Insured</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Sum Insured"
                id="sumInsured"
                ref="sumInsured"
                v-model="sumInsuredValue"
                @input="sumInsured"
                v-money="money"
                solo
                flat
                dense
                outlined
                :class="
                  sumInsuredValue[0] == '-'
                    ? 'ma-0 input-right my-text-style'
                    : 'ma-0 input-right'
                "
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="6">
          <v-row align="center" class="mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Exchange Rate</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Exchange Rate"
                ref="exchangeRate"
                :value="formatMoney(Number(invoice.exchangeRate))"
                solo
                flat
                dense
                outlined
                readonly
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row align="center" class="mr-2">
            <v-col cols="4" class="pa-1">
              <span class="title">Premium Rate</span>
            </v-col>
            <v-col cols="8" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label="Premium Rate"
                ref="premiumRate"
                id="premiumRate"
                v-model="premiumRateValue"
                @input="premiumRate"
                solo
                @focus="statusFocus = true"
                @blur="statusFocus = false"
                flat
                dense
                outlined
                suffix="%"
                class="ma-0 input-right"
              ></v-text-field>
              <!-- @keydown="onlyNumber($event)" -->
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <!-- CARD - TO CLIENT - START -->
          <v-card class="mb-2 pb-2">
            <isttoolbar
              title="To Client"
              class="mb-2"
              dark
              color="primary"
            ></isttoolbar>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold"
                  >Premium
                  <span class="red--text">*</span>
                </span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  id="toClientPremium"
                  ref="toClientPremium"
                  v-model="toClientPremiumValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toClientPremiumValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Pol/End. Cost</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toClientPolEndCost"
                  v-model="toClientPolEndCostValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toClientPolEndCostValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Stamp Duty</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toClientStampDuty"
                  v-model="toClientStampDutyValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toClientStampDutyValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Adm/Others</span>
              </v-col>
              <v-col cols="2" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  id="toClientAdmPercentage"
                  ref="toClientAdmPercentage"
                  @keydown="onlyNumber($event)"
                  v-model="toClientAdmPercentage"
                  @input="inputToClientAdmPercentage"
                  @focus="statusFocusToClientAdm = true"
                  @blur="statusFocusToClientAdm = false"
                  solo
                  flat
                  dense
                  outlined
                  suffix="%"
                  :class="
                    toClientAdmPercentage < 0
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
              <v-col cols="5" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  id="toClientAdm"
                  ref="toClientAdm"
                  v-model="toClientAdmValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toClientAdmValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Gross</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toClientGross"
                  :value="formatMoney(toClientGross)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(toClientGross)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold"
                  >VAT ({{ invoice.clientVatPercentage }}%)</span
                >
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toClientVat"
                  v-model="toClientVatValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toClientVatValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Gross Total</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toClientGrossTotal"
                  :value="formatMoney(toClientGrossTotal)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(toClientGrossTotal)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card>
          <!-- CARD - TO CLIENT - END -->

          <!-- CARD - VARIOUS - START -->
          <v-card class="mb-2 pb-14">
            <isttoolbar
              title="Various"
              class="mb-2"
              dark
              color="primary"
            ></isttoolbar>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Add Brokerage</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="variousAddBrokerage"
                  :value="formatMoney(variousAddBrokerage)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(variousAddBrokerage)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Others</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="variousOthers"
                  v-model="variousOthersValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    variousOthersValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Commission Out</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  id="variousCommissionOut"
                  ref="variousCommissionOut"
                  :value="formatMoney(this.invoice.variousCommissionOut)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    formatMoney(this.invoice.variousCommissionOut)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Total</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="variousTotal"
                  :value="formatMoney(variousTotal)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(variousTotal)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card>
          <!-- CARD - VARIOUS - END -->
        </v-col>

        <v-col cols="6">
          <!-- CARD - TO UNDERWRITER - START -->
          <v-card class="mb-2 pb-2">
            <isttoolbar
              title="To Underwriter"
              class="mb-2"
              dark
              color="primary"
            ></isttoolbar>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold"
                  >Premium
                  <span class="red--text">*</span>
                </span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  id="toUnderwriterPremium"
                  ref="toUnderwriterPremium"
                  v-model="toUnderwriterPremiumValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toClientPremiumValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Pol/End. Cost</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toUnderwriterPolEndCost"
                  v-model="toUnderwriterPolEndCostValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toUnderwriterPolEndCostValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Stamp Duty</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toUnderwriterStampDuty"
                  v-model="toUnderwriterStampDutyValue"
                  v-money="money"
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    toUnderwriterStampDutyValue[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Gross</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toUnderwriterGross"
                  :value="formatMoney(toUnderwriterGross)"
                  solo
                  flat
                  readonly
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(toUnderwriterGross)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold"
                  >VAT ({{ invoice.insurerVatPercentage }}%)</span
                >
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toUnderwriterVat"
                  :value="formatMoney(toUnderwriterVat)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    formatMoney(toUnderwriterVat)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold"
                  >PPh 23 ({{ invoice.insurerPph23Percentage }}%)</span
                >
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="toUnderwriterPph23"
                  :value="formatMoney(toUnderwriterPph23)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    formatMoney(toUnderwriterPph23)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Net Underwriter</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  label="Key In net underwriter"
                  ref="toUnderwriterNet"
                  :value="formatMoney(toUnderwriterNet)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(toUnderwriterNet)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card>
          <!-- CARD - TO UNDERWRITER - END -->

          <!-- CARD - INCOME - START -->
          <v-card class="mb-2 pb-2">
            <isttoolbar
              title="Income"
              class="mb-2"
              dark
              color="primary"
            ></isttoolbar>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Various</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="incomeVarious"
                  :value="formatMoney(incomeVarious)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(incomeVarious)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Unrecover VAT ({{ invoice.clientVatPercentage }}%)</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="incomeVat"
                  :value="formatMoney(incomeVat)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    formatMoney(incomeVat)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Net Various</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="incomeNet"
                  :value="formatMoney(incomeNet)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(incomeNet)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title noBold">Brokerage</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="incomeBrokerage"
                  :value="formatMoney(incomeBrokerage)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  :class="
                    formatMoney(incomeBrokerage)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row align="center" class="ml-5">
              <v-col cols="4" class="pa-1">
                <span class="title sizeTitle">Total Income</span>
              </v-col>
              <v-col cols="7" align-self="start" class="pa-1">
                <v-text-field
                  hide-details="auto"
                  ref="incomeTotal"
                  :value="formatMoney(incomeTotal)"
                  readonly
                  solo
                  flat
                  dense
                  outlined
                  style="font-weight: bold;"
                  :class="
                    formatMoney(incomeTotal)[0] == '-'
                      ? 'ma-0 input-right my-text-style'
                      : 'ma-0 input-right'
                  "
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card>
          <!-- CARD - INCOME - END -->
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="dialogExhangeRate.show" width="unset" min-width="290px">
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">{{
          dialogExhangeRate.text
        }}</v-card-title>
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="reset"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import axios from "axios";

export default {
  components: {
    isttoolbar,
  },
  async created() {
    this.sumInsuredValue = this.invoice.sumInsured.toFixed(2);
    this.premiumRateValue = this.invoice.premiumRate;
    this.toClientPremiumValue = this.invoice.toClientPremium.toFixed(2);
    this.toClientPolEndCostValue = this.invoice.toClientPolEndCost.toFixed(2);
    this.toClientStampDutyValue = this.invoice.toClientStampDuty.toFixed(2);
    this.toClientAdmPercentage = this.invoice.toClientAdmPercentage.toFixed(2);
    this.toClientAdmValue = this.invoice.toClientAdm.toFixed(2);
    this.toClientVatValue = this.invoice.toClientVat.toFixed(2);
    this.variousAddBrokerageValue = this.invoice.variousAddBrokerage.toFixed(2);
    // this.variousCommissionOutValue = this.formatMoney(this.invoice.variousCommissionOut)
    this.toUnderwriterPremiumValue = this.invoice.toUnderwriterPremium.toFixed(
      2
    );
    this.toUnderwriterPolEndCostValue = this.invoice.toUnderwriterPolEndCost.toFixed(
      2
    );
    this.toUnderwriterStampDutyValue = this.invoice.toUnderwriterStampDuty.toFixed(
      2
    );
    this.updateStatus();
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    percentage: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 0,
      masked: false,
    },
    dialogExhangeRate: { show: false, text: "" },
    statusFocus: false,
    statusFocusToClientAdm: false,
    statusFunction: false,
    premiumRateValue: 0,
    sumInsuredValue: 0,
    toClientPremiumValue: 0,
    toClientPolEndCostValue: 0,
    toClientStampDutyValue: 0,
    toClientAdmPercentage: 0,
    toClientAdmValue: 0,
    toClientVatValue: 0,
    variousAddBrokerageValue: 0,
    variousOthersValue: 0,
    variousCommissionOutValue: 0,
    toUnderwriterPremiumValue: 0,
    toUnderwriterPolEndCostValue: 0,
    toUnderwriterStampDutyValue: 0,
    incomeVariousValue: 0,
    incomeVatValue: 0,
    incomeNetValue: 0,
    incomeBrokerageValue: 0,
    currency: "",
    exchangeRate: "",
    errorCurrency: false,
    search: {
      currency: {
        name: "currency",
        input: "",
        items: [],
        url: "/config/api/master-currency/?code.contains=",
        loading: false,
      },
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
    watchToClientPolEndCostValueTgr: false,
    watchToClientPolEndCostValueTO: false,
    watchToUnderwriterPolEndCostValueTgr: false,
    watchToUnderwriterPolEndCostValueTO: false,
    watchToClientStampDutyTgr: false,
    watchToClientStampDutyTO: false,
    watchToUnderwriterStampDutyValueTgr: false,
    watchToUnderwriterStampDutyValueTO: false,
  }),
  mounted() {
    this.getCurrency();
    // this.updateStatus();
  },
  computed: {
    ...mapState(["invoice"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        setTimeout(() => {
          API.get(
            search.url + search.input.toUpperCase(),
            null,
            null,
            axiosSource.token
          ).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
    watchPremiumRate: function () {
      return this.statusFocus;
    },
    watchAdmPercentage: function () {
      return this.statusFocusToClientAdm;
    },
    watchToClientPremiumValue: function () {
      return this.toClientPremiumValue;
    },
    watchToUnderwriterPremiumValue: function () {
      return this.toUnderwriterPremiumValue;
    },
    watchToClientPolEndCostValue: function () {
      return this.toClientPolEndCostValue;
    },
    watchToUnderwriterPolEndCostValue: function () {
      return this.toUnderwriterPolEndCostValue;
    },
    watchToClientStampDuty: function () {
      return this.toClientStampDutyValue;
    },
    watchToUnderwriterStampDutyValue: function () {
      return this.toUnderwriterStampDutyValue;
    },
    watchToClientAdmValue: function () {
      return this.toClientAdmValue;
    },
    watchVariousOthersValue: function () {
      return this.variousOthersValue;
    },
    watchVariousCommissionOutValue: function () {
      return this.variousCommissionOutValue;
    },
    watchToClientVatValue: function () {
      return this.toClientVatValue;
    },
    calculatePremium: function () {
      return (
        (Number(this.invoice.sumInsured) * Number(this.invoice.premiumRate)) /
        100
      );
    },
    // calculateToClientVatValue: function () {
    //  return (Number(this.invoice.toClientGross) * this.invoice.clientVatPercentage) / 100
    // },
    toClientGross: function () {
      return (
        this.roundDecimal(
          this.roundDecimal(this.invoice.toClientPremium,2) +
          this.roundDecimal(this.invoice.toClientPolEndCost,2) +
          this.roundDecimal(this.invoice.toClientStampDuty,2) +
          this.roundDecimal(this.invoice.toClientAdm,2)
        ,2)
      );
    },
    toClientGrossTotal: function () {
      return (
        Number(this.invoice.toClientGross) + Number(this.invoice.toClientVat)
      );
    },
    variousAddBrokerage: function () {
      return (
        Number(this.invoice.toClientPremium) -
        Number(this.invoice.toUnderwriterPremium)
      );
    },
    variousTotal: function () {
      return (
        Number(this.invoice.variousAddBrokerage) +
        Number(this.invoice.variousOthers) +
        Number(this.invoice.variousCommissionOut)
      );
    },
    toUnderwriterVat: function () {
      let amount =
        ((Number(this.invoice.incomeBrokerage) *
          this.invoice.insurerVatPercentage) /
          100) *
        -1;
      let insurance = this.invoice.insuranceSharingList;
      if (insurance.length > 0) {
        let vatAmount = 0;
        insurance.forEach((element) => {
          vatAmount = vatAmount + element.vatAmount;
        });
        return this.roundDecimal(vatAmount, 2);
      } else {
        return this.roundDecimal(amount, 2);
      }
    },
    toUnderwriterPph23: function () {
      let amount =
        (Number(this.invoice.incomeBrokerage) *
          this.invoice.insurerPph23Percentage) /
        100;
      let insurance = this.invoice.insuranceSharingList;
      if (insurance.length > 0) {
        let pph23Amount = 0;
        insurance.forEach((element) => {
          pph23Amount = pph23Amount + element.pph23Amount;
        });
        return this.roundDecimal(pph23Amount, 2);
      } else {
        return this.roundDecimal(amount, 2);
      }
    },
    toUnderwriterGross: function () {
      return (
        Number(this.invoice.toUnderwriterPremium) +
        Number(this.invoice.toUnderwriterPolEndCost) +
        Number(this.invoice.toUnderwriterStampDuty) -
        Number(this.invoice.incomeBrokerage)
      );
    },
    toUnderwriterNet: function () {
      let amount =
        this.roundDecimal(this.invoice.toUnderwriterGross, 2) +
        this.roundDecimal(this.invoice.toUnderwriterVat, 2) +
        this.roundDecimal(this.invoice.toUnderwriterPph23, 2);
      let insurance = this.invoice.insuranceSharingList;
      if (insurance.length > 0) {
        let vatAmount = 0;
        let pph23Amount = 0;
        insurance.forEach((element) => {
          vatAmount = vatAmount + element.vatAmount;
          pph23Amount = pph23Amount + element.pph23Amount;
        });
        let total =
          this.roundDecimal(this.invoice.toUnderwriterGross, 2) +
          this.roundDecimal(vatAmount, 2) +
          this.roundDecimal(pph23Amount, 2);
        let result = this.roundDecimal(total, 2);
        this.setToUnderwiterNet(result);
        return result;
      } else {
        let result = this.roundDecimal(amount, 2);
        this.setToUnderwiterNet(result);
        return result;
      }
    },
    incomeVarious: function () {
      return Number(this.invoice.incomeVarious);
    },
    incomeVat: function () {
      return (
        (Number(this.invoice.incomeVarious) - Number(this.invoice.incomeNet)) *
        -1
      );
    },
    incomeNet: function () {
      return Number(this.invoice.incomeVarious) / ((100 + this.invoice.clientVatPercentage) / 100);
    },
    incomeBrokerage: function () {
      return Number(this.invoice.incomeBrokerage);
    },
    incomeTotal: function () {
      return (
        // Number(this.invoice.incomeNet) + Number(this.invoice.incomeBrokerage)
        Number(this.invoice.incomeVarious) + Number(this.invoice.incomeBrokerage)
      );
    },
    premiumClientInstallment: function () {
      return (
        Number(this.invoice.toClientPremium) + Number(this.invoice.toClientAdm)
      );
    },
    watchPage: function () {
      return this.invoice.statusPage;
    },
    watchTabInvoice: function () {
      return this.invoice.tabInvoice;
    },
  },
  watch: {
    watchTabInvoice: function (newValue) {
      if (newValue === "value") {
        this.setStatusRefresh(true);
      }
    },
    watchPage: function (newValue, oldValue) {
      if (newValue == "view" && oldValue == "edit") {
        this.setStatusData(false);
        this.$refs.sumInsured.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.sumInsured.toFixed(2))
        );
        this.premiumRateValue = this.invoice.premiumRate;
        this.$refs.toClientPremium.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toClientPremium.toFixed(2))
        );
        this.$refs.toUnderwriterPremium.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toUnderwriterPremium.toFixed(2))
        );
        this.$refs.toClientPolEndCost.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toClientPolEndCost.toFixed(2))
        );
        this.$refs.toClientStampDuty.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toClientStampDuty.toFixed(2))
        );
        this.$refs.toUnderwriterPolEndCost.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toUnderwriterPolEndCost.toFixed(2))
        );
        this.$refs.toUnderwriterStampDuty.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toUnderwriterStampDuty.toFixed(2))
        );
        this.$refs.toClientAdm.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toClientAdm.toFixed(2))
        );
        this.$refs.toClientVat.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(
          Number(this.invoice.toClientVat.toFixed(2))
        );
      }
    },
    premiumClientInstallment: function (value) {
      let newAmount = Number(value.toFixed(2));
      this.setPremiumClientInstallment(newAmount);
    },
    watchPremiumRate: function (newValue) {
      if (this.premiumRateValue == 0 && newValue) {
        this.premiumRateValue = "";
        this.$refs.premiumRate.$el.getElementsByTagName("input")[0].value = "";
      } else if (this.premiumRateValue == "" && !newValue) {
        this.premiumRateValue = 0;
        this.$refs.premiumRate.$el.getElementsByTagName("input")[0].value = 0;
      }
    },
    watchAdmPercentage: function (newValue) {
      if (this.toClientAdmPercentage == 0 && newValue) {
        this.toClientAdmPercentage = "";
        this.$refs.toClientAdmPercentage.$el.getElementsByTagName(
          "input"
        )[0].value = "";
      } else if (this.toClientAdmPercentage == "" && !newValue) {
        this.toClientAdmPercentage = 0;
        this.$refs.toClientAdmPercentage.$el.getElementsByTagName(
          "input"
        )[0].value = 0;
      }
    },
    watchToClientPremiumValue: function (value) {
      let newValue = this.convertValue(value);
      this.setToClientPremium(newValue);
      if (this.invoice.statusData) {
        if (this.invoice.multiInsured == "") {
          this.toUnderwriterPremiumValue = this.formatMoney(newValue);
          this.$refs.toUnderwriterPremium.$el.getElementsByTagName(
            "input"
          )[0].value = this.formatMoney(newValue);

          let admValue = (Number(this.toClientAdmPercentage) * newValue) / 100;
          let checkAdm = isNaN(admValue) ? 0 : Number(admValue.toFixed(2));
          let amount = checkAdm * -1;
          this.setToClientADM(amount);
          this.toClientAdmValue = this.formatMoney(amount);
          this.$refs.toClientAdm.$el.getElementsByTagName(
            "input"
          )[0].value = this.formatMoney(amount);
        }
      }
    },
    watchToUnderwriterPremiumValue: function (value) {
      let newValue = this.convertValue(value);
      this.setToUnderwiterPremium(newValue);
      this.setPremium(newValue);
      if (this.invoice.statusData) {
        if (
          this.invoice.statusEngineeringFee &&
          this.invoice.invoiceType == 1
        ) {
          // if (this.invoice.multiInsured == "") {
            this.setEFPremium(newValue);
            if (document.getElementById("efGrossPremium")) {
              document.getElementById(
                "efGrossPremium"
              ).value = this.formatMoney(newValue);
            }
          // }
        }
      }
      if (document.getElementById("premiumInsurance")) {
        document.getElementById("premiumInsurance").value = this.formatMoney(
          newValue
        );
      }
    },
    watchToClientPolEndCostValue: function (value) {
      let newValue = this.convertValue(value);
      this.setToClientPolEndCost(newValue);
      if (this.invoice.statusData) {
        if(!this.watchToUnderwriterPolEndCostValueTgr) {
          this.clearTimeOut(this.watchToClientPolEndCostValueTO);
          this.setToUnderwiterPolEndCost(newValue);
          this.toUnderwriterPolEndCostValue = this.formatMoney(newValue);
          this.$refs.toUnderwriterPolEndCost.$el.getElementsByTagName(
            "input"
          )[0].value = this.formatMoney(newValue);
          this.watchToClientPolEndCostValueTgr = true;
          this.watchToClientPolEndCostValueTO = setTimeout(() => {
            this.watchToClientPolEndCostValueTgr = false;
          }, "100")
        }
      }
    },
    watchToUnderwriterPolEndCostValue: function (value) {
      let newValue = this.convertValue(value);
      this.setToUnderwiterPolEndCost(newValue);
      if(!this.watchToClientPolEndCostValueTgr) {
        this.clearTimeOut(this.watchToUnderwriterPolEndCostValueTO);
        this.setToClientPolEndCost(newValue);
        this.toClientPolEndCostValue = this.formatMoney(newValue);
        this.$refs.toClientPolEndCost.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(newValue);
        this.watchToUnderwriterPolEndCostValueTgr = true;
        this.watchToUnderwriterPolEndCostValueTO = setTimeout(() => {
          this.watchToUnderwriterPolEndCostValueTgr = false;
        }, "100")
      }
    },
    watchToClientStampDuty: function (value) {
      let newValue = this.convertValue(value);
      this.setToClientStampDuty(newValue);
      if (this.invoice.statusData) {
        if(!this.watchToUnderwriterStampDutyValueTgr) {
          this.clearTimeOut(this.watchToClientStampDutyTO);
          this.setToUnderwiterStampDuty(newValue);
          this.toUnderwriterStampDutyValue = this.formatMoney(newValue);
          this.$refs.toUnderwriterStampDuty.$el.getElementsByTagName(
            "input"
          )[0].value = this.formatMoney(newValue);
          this.watchToClientStampDutyTgr = true;
          this.watchToClientStampDutyTO = setTimeout(() => {
            this.watchToClientStampDutyTgr = false;
          }, "100")
        }
      }
    },
    watchToUnderwriterStampDutyValue: function (value) {
      let newValue = this.convertValue(value);
      this.setToUnderwiterStampDuty(newValue);
      if(!this.watchToClientStampDutyTgr) {
        this.clearTimeOut(this.watchToUnderwriterStampDutyValueTO);
        this.setToClientStampDuty(newValue);
        this.toClientStampDutyValue = this.formatMoney(newValue);
        this.$refs.toClientStampDuty.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(newValue);
        this.watchToUnderwriterStampDutyValueTgr = true;
        this.watchToUnderwriterStampDutyValueTO = setTimeout(() => {
          this.watchToUnderwriterStampDutyValueTgr = false;
        }, "100")
      }
    },
    watchToClientAdmValue: function (value) {
      let newValue = this.convertValue(value);
      let percentage =
        (Number(newValue) / Number(this.invoice.toClientPremium)) * 100;
      let status = percentage.toString();
      let newPercentage = "";
      if (status[0] === "-") {
        newPercentage = percentage * -1;
      } else {
        newPercentage = percentage;
      }
      this.setToClientADM(newValue);
      this.variousOthersValue = this.formatMoney(newValue);
      this.$refs.variousOthers.$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(newValue);

      if (this.invoice.toClientPremium !== 0) {
        this.toClientAdmPercentage = Number(newPercentage.toFixed(2));
        this.$refs.toClientAdmPercentage.$el.getElementsByTagName(
          "input"
        )[0].value = Number(newPercentage.toFixed(2)); // For Percentage
      }
    },
    watchVariousOthersValue: function (value) {
      let newValue = this.convertValue(value);
      this.setVariousOthers(newValue);
    },
    watchVariousCommissionOutValue: function (value) {
      let newValue = this.convertValue(value);
      this.setVariousCommissionOut(newValue);
      this.setAmount(newValue);
      if (document.getElementById("amountAgent")) {
        document.getElementById("amountAgent").value = this.formatMoney(
          newValue
        );
      }
    },
    watchToClientVatValue: function (value) {
      let newValue = this.convertValue(value);
      this.toClientVatValue = this.formatMoney(newValue);
      this.setToClientVat(newValue);
    },
    calculatePremium: function (newValue) {
      if (this.invoice.statusData) {
        this.toClientPremiumValue = this.formatMoney(newValue);
        this.$refs.toClientPremium.$el.getElementsByTagName(
          "input"
        )[0].value = this.formatMoney(newValue);
      }
    },
    // calculateToClientVatValue: function (value) {
    //   this.setToClientVat(value)
    //   this.toClientVatValue = this.formatMoney(value)
    //   this.$refs.toClientVat.$el.getElementsByTagName('input')[0].value = this.formatMoney(value)
    // },
    toClientGross: function (newValue) {
      this.setToClientGross(newValue);
    },
    toClientGrossTotal: function (newValue) {
      this.setToClientGrossTotal(newValue);
    },
    variousAddBrokerage: function (newValue) {
      this.setVariousAddBrokerage(newValue);
    },
    variousTotal: function (newValue) {
      this.setIncomeVarious(newValue);
      this.setVariousTotal(newValue);
    },
    toUnderwriterGross: function (newValue) {
      this.setToUnderwiterGross(newValue);
    },
    toUnderwriterVat: function (newValue) {
      this.setToUnderwiterVat(newValue);
    },
    toUnderwriterPph23: function (newValue) {
      this.setToUnderwiterPPH23(newValue);
    },
    toUnderwriterNet: function (newValue) {
      this.setToUnderwiterNet(newValue);
    },
    incomeVarious: function (newValue) {
      this.setIncomeVarious(newValue);
    },
    incomeVat: function (newValue) {
      this.setIncomeVat(newValue);
    },
    incomeNet: function (newValue) {
      this.setIncomeNet(newValue);
    },
    incomeBrokerage: function (newValue) {
      this.setIncomeBrokerage(newValue);
    },
    incomeTotal: function (newValue) {
      this.setIncomeTotal(newValue);
    },
  },
  methods: {
    roundDecimal(n, digits) {
      var negative = false;
      if (digits === undefined) {
        digits = 0;
      }
      if (n < 0) {
        negative = true;
        n = n * -1;
      }
      var multiplicator = Math.pow(10, digits);
      n = parseFloat((n * multiplicator).toFixed(11));
      n = (Math.round(n) / multiplicator).toFixed(2);
      if (negative) {
        n = (n * -1).toFixed(2);
      }
      return Number(n);
    },
    updateStatus() {
      setTimeout(() => {
        this.setStatusData(true);
      }, 2000);
    },
    ...mapActions({
      setCurrency: types.ACTION_CURRENCY,
      setExchangeRate: types.ACTION_EXCHANGE_RATE,
      setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      setIncomeNet: types.ACTION_INCOME_NET,
      setIncomeTotal: types.ACTION_INCOME_TOTAL,
      setIncomeVarious: types.ACTION_INCOME_VARIOUS,
      setIncomeVat: types.ACTION_INCOME_VAT,
      setPremiumRate: types.ACTION_PREMIUM_RATE,
      setSumInsured: types.ACTION_SUM_INSURED,
      setToClientADM: types.ACTION_TO_CLIENT_ADM,
      setToClientGross: types.ACTION_TO_CLIENT_GROSS,
      setToClientGrossTotal: types.ACTION_TO_CLIENT_GROSS_TOTAL,
      setToClientPolEndCost: types.ACTION_TO_CLIENT_POL_END_COST,
      setToClientPremium: types.ACTION_TO_CLIENT_PREMIUM,
      setToClientStampDuty: types.ACTION_TO_CLIENT_STAMP_DUTY,
      setToClientVat: types.ACTION_TO_CLIENT_VAT,
      setToUnderwiterGross: types.ACTION_TO_UNDERWRITER_GROSS,
      setToUnderwiterNet: types.ACTION_TO_UNDERWRITER_NET,
      setToUnderwiterPolEndCost: types.ACTION_TO_UNDERWRITER_POL_END_COST,
      setToUnderwiterPPH23: types.ACTION_TO_UNDERWRITER_PPH23,
      setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      setToUnderwiterStampDuty: types.ACTION_TO_UNDERWRITER_STAMP_DUTY,
      setToUnderwiterVat: types.ACTION_TO_UNDERWRITER_VAT,
      setVariousAddBrokerage: types.ACTION_VARIOUS_ADD_BROKERAGE,
      setVariousCommissionOut: types.ACTION_VARIOUS_COMMISSION_OUT,
      setVariousOthers: types.ACTION_VARIOUS_OTHERS,
      setVariousTotal: types.ACTION_VARIOUS_TOTAL,
      setPremium: types.ACTION_PREMIUM,
      setAmount: types.ACTION_AMOUNT,
      setStatusData: types.ACTION_STATUS_DATA,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setEFPremium: types.ACTION_EF_PREMIUM,
      setStatusRefresh: types.ACTION_STATUS_REFRESH,
    }),
    inputToClientAdmPercentage: function (value) {
      let newValue = (Number(value) * this.invoice.toClientPremium) / 100;
      let amount = newValue * -1;
      this.$refs.toClientAdm.$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(amount); // For Amount
      this.variousOthersValue = this.formatMoney(amount);
      this.$refs.variousOthers.$el.getElementsByTagName(
        "input"
      )[0].value = this.formatMoney(amount);
    },
    setDataCurrency(value) {
      if (value) {
        this.getExchangeRate(value.code);
      }
    },
    sumInsured(value) {
      let newValue = this.convertValue(value);
      this.setSumInsured(newValue);
    },
    premiumRate(value) {
      // let newValue = parseFloat(value.replace(/,/g, ''))
      this.setPremiumRate(Number(value));
    },
    convertValue(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    async getCurrency() {
      this.search.currency.loading = true;
      let resp = await API.get("/config/api/master-currency/?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.currency.loading = false;
        const data = resp.data.data;
        this.search.currency.items = data;
      }
    },
    async getExchangeRate(currency) {
      if (currency == "IDR") {
        this.setCurrency(currency);
        this.setExchangeRate(Number(1));
      } else {
        let paramJSON = {
          currencyExchangeRate: {
            currencyFrom: currency,
          },
        };
        let param = JSON.stringify(paramJSON);
        await API.post(
          "/config/api/master-currency-exchangerate/effective-rate",
          param
        ).then((resp) => {
          if (resp.data.code == 0) {
            this.setCurrency(currency);
            this.setExchangeRate(resp.data.data.rateDefault);
          } else {
            this.dialogExhangeRate.show = true;
            this.dialogExhangeRate.text = resp.data.errorMessage;
            this.search.currency.input = "";
            this.search.currency.items = [];
            this.setCurrency("");
            this.setExchangeRate("");
          }
        });
      }
    },
    onlyNumber(e) {
      const isPrevent =
        (e.keyCode >= 48 && e.keyCode <= 57) ||
        (e.keyCode >= 96 && e.keyCode <= 105) ||
        e.keyCode == 8 ||
        e.keyCode == 46 ||
        e.keyCode == 190;
      if (e.shiftKey || e.altKey || e.ctrlKey) {
        e.preventDefault();
      } else if (!isPrevent) {
        e.preventDefault();
      }
    },
    reset() {
      this.dialogExhangeRate.show = false;
      this.dialogExhangeRate.text = "";
      this.getCurrency();
    },
    clearTimeOut(item) {
      if(item) {
        clearTimeout(item);
      }
    },
  },
};
</script>

<style scoped>
.spanColor {
  color: red;
}
::v-deep .input-right input {
  text-align: right;
}
::v-deep .my-text-style input {
  color: red;
}
.noBold {
  font-weight: normal;
}
.sizeTitle {
  font-size: 1.3rem !important;
}
</style>
