<template>
  <v-card flat class="pb-3">
    <v-form class="mx-5" disabled>
      <v-row class="mx-2">
        <v-col cols="6" class="pa-1">
          <v-chip-group v-model="selection" active-class="primary" mandatory>
            <v-chip v-show="invoice.multiInsuredFlag === 0">Single Insured</v-chip>
            <v-chip v-show="invoice.multiInsuredFlag === 1">Multi Insured</v-chip>
          </v-chip-group>
        </v-col>
        <v-col v-show="invoice.multiInsuredFlag === 1" cols="6" class="pa-1">
          <v-row align="center">
            <v-col cols="3">
              <span class="title">File Name</span>
            </v-col>
            <v-col cols="6">
              <v-file-input
                prepend-icon=""
                id="multiInsured"
                hide-details="auto"
                ref="multiInsured"
                accept=".xls, .xlsx"
                type="file"
                label=""
                solo
                flat
                dense
                outlined
                class="ma-0"
                v-model="nameFile"
                :loading="loadingMultiInsured"
                @change="updloadFile"
                @click:clear="resetFile"
                disabled
              >
                <template v-slot:selection="{ text }">
                  <v-chip small label color="primary">
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
            </v-col>
            <v-col cols="3">
              <v-btn
                min-width="100"
                rounded
                @click="onBroswseClick"
                color="primary"
                v-show="false"
                >Browse</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row v-show="selection == 0 || selection == 1" class="mx-2">
        <v-col cols="6">
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Insured</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-text-field
                placeholder=""
                dense
                outlined
                hide-details="auto"
                ref="insured"
                v-model="invoice.insured"
                @input="setInsured"
              ></v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Location</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-text-field
                placeholder=""
                dense
                outlined
                hide-details="auto"
                ref="location"
                v-model="invoice.location"
                @input="setLocation"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Brief Description</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-textarea
                placeholder=""
                dense
                outlined
                hide-details="auto"
                :rows="2"
                ref="description"
                v-model="invoice.description"
                @input="setDescription"
              ></v-textarea>
            </v-col>
          </v-row> -->
          <v-row>
            <v-col cols="4" class="pa-1">
              <span class="title">Address</span>
            </v-col>
            <v-col cols="8" class="pa-1">
              <v-textarea
                placeholder=""
                dense
                outlined
                hide-details="auto"
                :rows="3"
                ref="description"
                v-model="invoice.insuredAddress"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>

    <v-row v-show="selection == 1">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="dataInsurance"
          hide-default-footer
          class="elevation-1 mb-2"
          :loading="tableLoading"
          :options.sync="options"
          :height="dataInsurance.length > 0 ? '400' : ''"
          fixed-header
          hide-default-header
        >
          <template v-slot:header="{ props: { headers } }">
            <thead>
              <tr>
                <th v-for="header in headers" :key="header.text">
                  <v-text-field
                    hide-details="auto"
                    v-model="header.searchValue"
                    :label="header.text"
                    :ref="header.value"
                    :name="header.value"
                    v-on:keyup="onkeyupSearch"
                    dense
                    :readonly="!header.filterable"
                    placeholder=" "
                    style="margin-top: 10px"
                    :class="!header.filterable ? 'no-border' : ''"
                  >
                    <v-btn
                      slot="append"
                      icon
                      @click="sortClick(header.value)"
                      v-show="header.sortable"
                      small
                    >
                      <v-icon
                        v-if="
                          header.value == options.sortBy[0] &&
                          !options.sortDesc[0]
                        "
                        small
                        color="primary"
                        >mdi-sort-ascending</v-icon
                      >
                      <v-icon
                        v-else-if="
                          header.value == options.sortBy[0] &&
                          options.sortDesc[0]
                        "
                        small
                        color="primary"
                        >mdi-sort-descending</v-icon
                      >
                      <v-icon
                        v-else-if="header.value != options.sortBy[0]"
                        small
                        >mdi-sort</v-icon
                      >
                    </v-btn>
                  </v-text-field>
                  <!-- <span v-else>{{ header.text }}</span> -->
                </th>
              </tr>
            </thead>
          </template>

          <template v-slot:[`item.sumFixedasset`]="{ item }">{{
              currencyFormat(item.sumFixedasset)
            }}</template>
            <template v-slot:[`item.sumBuilding`]="{ item }">{{
              currencyFormat(item.sumBuilding)
            }}</template>
            <template v-slot:[`item.sumContents`]="{ item }">{{
              currencyFormat(item.sumContents)
            }}</template>
            <template v-slot:[`item.sumMachinery`]="{ item }">{{
              currencyFormat(item.sumMachinery)
            }}</template>
            <template v-slot:[`item.sumStocks`]="{ item }">{{
              currencyFormat(item.sumStocks)
            }}</template>
            <template v-slot:[`item.sumBusinterruption`]="{ item }">{{
              currencyFormat(item.sumBusinterruption)
            }}</template>
            <template v-slot:[`item.premiFixedasset`]="{ item }">{{
              currencyFormat(item.premiFixedasset)
            }}</template>
            <template v-slot:[`item.premiBuilding`]="{ item }">{{
              currencyFormat(item.premiBuilding)
            }}</template>
            <template v-slot:[`item.premiContents`]="{ item }">{{
              currencyFormat(item.premiContents)
            }}</template>
            <template v-slot:[`item.premiMachinery`]="{ item }">{{
              currencyFormat(item.premiMachinery)
            }}</template>
            <template v-slot:[`item.premiStocks`]="{ item }">{{
              currencyFormat(item.premiStocks)
            }}</template>
            <template v-slot:[`item.premiBusinterruption`]="{ item }">{{
              currencyFormat(item.premiBusinterruption)
            }}</template>
            <template v-slot:[`item.othersInsurer`]="{ item }">{{
              currencyFormat(item.othersInsurer)
            }}</template>
            <template v-slot:[`item.othersBrokerage`]="{ item }">{{
              currencyFormat(item.othersBrokerage)
            }}</template>
            <template v-slot:[`item.premiTotal`]="{ item }">{{
              currencyFormat(item.premiTotal)
            }}</template>
            <template v-slot:[`item.uwPremium`]="{ item }">{{
              currencyFormat(item.uwPremium)
            }}</template>
            <template v-slot:[`item.sumInsured`]="{ item }">{{
              currencyFormat(item.sumInsured)
            }}</template>
            <template v-slot:[`item.premiAmount`]="{ item }">{{
              currencyFormat(item.premiAmount)
            }}</template>
            <template v-slot:[`item.premiRate`]="{ item }">{{
              currencyFormat(parseFloat(item.premiRate) * 100, 6)
            }}</template>
            <template v-slot:[`item.effectiveDate`]="{ item }">{{
              formatDate(item.effectiveDate)
            }}</template>
            <template v-slot:[`item.objectDate`]="{ item }">{{
              formatDate(item.objectDate)
            }}</template>
            <template v-slot:[`item.effectiveDateFrom`]="{ item }">{{
              formatDate(item.effectiveDateFrom)
            }}</template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-menu bottom left :offset-x="true">
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="viewItem(item)">
                  <v-list-item-title>View</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialogLoading.show"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogLoading.show = true"
    >
      <v-card
        v-show="!dialogLoading.success && !dialogLoading.error"
        min-width="290px"
      >
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
      <v-card
        v-show="dialogLoading.success || dialogLoading.error"
        min-width="290px"
      >
        <v-card-title
          v-if="dialogLoading.success"
          class="justify-center"
          style="word-break: inherit"
          >{{ dialogLoading.text }}</v-card-title
        >
        <v-card-title
          v-else-if="dialogLoading.error"
          class="justify-center"
          style="word-break: inherit"
          >{{ dialogLoading.text }}</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn
            v-if="dialogLoading.error"
            color="primary"
            min-width="100px"
            outlined
            @click="closeUpload"
            >OK</v-btn
          >
          <v-btn
            v-else-if="dialogLoading.success"
            color="primary"
            min-width="100px"
            outlined
            @click="previewMultiInsured"
            >View</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <multiinsureddetail
      :model="detailDialog"
      v-on:close="detailDialog = false"
      :type="detailDialogType"
      :data="detailData"
    >
    </multiinsureddetail>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import { mapState, mapActions } from "vuex";
import { VMoney } from "v-money";
import multiinsureddetail from "@/components/dialog/multiInsuredDetail/multiInsuredDetail";
// import axios from "axios";

export default {
  components: {
    multiinsureddetail,
  },
  directives: { money: VMoney },
  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    heightTable: "100px",
    options: {
      itemsPerPage: -1,
    },
    nameFile: null,
    fileData: "",
    loadingMultiInsured: false,
    selectedInsurance: "",
    showPreview: false,
    headerMultiInsured: [],
    dialog: false,
    dialogLoading: { show: false, success: false, error: false, text: "" },
    dialogValidate: { show: false, text: "" },
    vehicleDialog: false,
    propertyDialog: false,
    equipmentDialog: false,
    detailDialog: false,
    detailData: false,
    dialogVersion: {
      vehicle: 2,
      property: 2,
      equipment: 2,
    },
    dataMultiInsured: [],
    totalItemsMulti: 0,
    selection: 0,
    riskMultiInsuredList: [],
    canMultiInsured: false,
    canSingleInsured: true,
    detailDialogType: "",
    tableLoading: false,
    vehicleData: {
      seqNo: "",
      certNo: "",
      owner: "",
      merk: "",
      effectiveDate: {
        prorateBase: "",
        divided: "",
        proDays: "",
        effectiveFrom: "",
        effectiveTo: "",
      },
      specification: {
        year: "",
        regNo: "",
        chasisNo: "",
        engineNo: "",
        coverage: "",
        deductible: "",
        model: "",
      },
      details: {
        insured: "",
        nip: "",
        status: "",
        remarks: "",
        printAsAttach: "",
      },
      value: {
        charge: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
        },
        sumInsured: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
          subTotal: "",
          clientPremium: "",
        },
        rate: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
          ibsOthers: "",
          uwOthers: "",
        },
        grossPremium: {
          md: "",
          tpl: "",
          pll: "",
          pad: "",
          pap: "",
          medExp: "",
          ibsOthers: "",
          uwOthers: "",
          uwPremium: "",
        },
      },
      sumInsured: {
        grandTotal: "",
        grandTotal2: "",
      },
      activity: {
        entryBy: "",
        entryDate: "",
        modifyBy: "",
        modifyDate: "",
      },
    },
    propertyData: {
      seqNo: "",
      riskLoc: "",
      city: "",
      riskInfo: {
        desc: "",
        occupation: "",
        coverage: "",
        province: "",
        postCode: "",
      },
      otherInfo: {
        storeyBuild: "",
        eqZone: "",
        eqRate: "",
        remarks: "",
      },
      prorate: {
        prorateBaseOn: "",
        effectiveDate: "",
        daysPeriod: "",
        divided: "",
      },
      value: {
        totalRate: "",
        stockDci: "",
        ibsOthersRate: "",
        biSiPercentage: "",
        uwOthersRate: "",
        sumInsured: {
          fixedAssets: "",
          building: "",
          contents: "",
          machinery: "",
          stocks: "",
          busInterups: "",
          total: "",
        },
        grossPremium: {
          fixedAssets: "",
          building: "",
          contents: "",
          machinery: "",
          stocks: "",
          busInterups: "",
          ibsOthers: "",
          uwOthers: "",
          total: "",
        },
        clientPremium: "",
        uwPremium: "",
      },
      grandTotal: {
        sumInsured: "",
        premium: "",
      },
      activity: {
        entryBy: "",
        entryDate: "",
        modifyBy: "",
        modifyDate: "",
      },
    },
    equipmentData: {
      serialNo: "",
      desc: "",
      category: "",
      sumInsured: "",
      rate: "",
      premium: "",
      customer: {
        certNo: "",
        yearMade: "",
        branch: "",
        insured: "",
        prorateBase: "",
        prorateDiv: "",
        effectiveDate: "",
        proDays: "",
        refNo: "",
        coverageCond: "",
        remarks: "",
      },
      discount: {
        ibsOthersRate: "",
        uwDiscount: "",
        ibsOthers: "",
        deductible: "",
        uwDiscRate: "",
        clientPremium: "",
        uwPremium: "",
      },
      location: {
        coverageArea: "",
        current: "",
      },
      statusData: "",
      modifableData: "",
      modify: {
        user: "",
        date: "",
      },
      printAsAttach: "",
      entry: {
        user: "",
        date: "",
      },
    },
    search: {
      insuranceName: {
        name: "insuranceName",
        input: "",
        items: [],
        url: "/clients/api/account/insurance?name.contains=",
        loading: false,
      },
    },
    request: null,
    headers: [],
    pmviHeaders: [
      {
        text: "Certificate No.",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Seq. No.",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Owner",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Merk/Type",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
    ],
    pparHeaders: [
      {
        text: "Seq No.",
        align: "center",
        sortable: false,
        value: "seqNo",
      },
      {
        text: "Risk Location",
        align: "center",
        sortable: false,
        value: "riskLocation",
      },
      {
        text: "City Code",
        align: "center",
        sortable: false,
        value: "cityCode",
      },
      {
        text: "City Name",
        align: "center",
        sortable: false,
        value: "cityName",
      },
    ],
    pcpmHeaders: [
      {
        text: "Seq. No.",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Serial Number",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Description",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Category",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Sum Insured",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Rate %",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
      {
        text: "Premium",
        align: "center",
        sortable: false,
        value: "isLeader",
      },
    ],
    dataInsurance: [],
    statusCreate: false,
    statusSharing: false,
    statusBrokerage: false,
    brokerageAmount: 0,
    admincostAmount: 0,
    stampdutyAmount: 0,
    vatAmount: 0,
    pph23Amount: 0,
    grossAmount: 0,
    totalSharingPercentage: 0,
    totalAmount: 0,
    totalBrokerage: 0,
    totalAmountBrokerage: 0,
    totalAdminCost: 0,
    totalStampDuty: 0,
    totalVAT: 0,
    totalPPh: 0,
    totalGross: 0,
    editInsurance: {},
    awaitingSearch: false,
  }),
  mounted() {
    this.getRiskMultiInsured();
  },
  computed: {
    ...mapState(["invoice"]),
  },
  watch: {
    "invoice.riskCode": {
      handler: function (after) {
        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == after
        );
        if (filteredMultiInsured.length > 0) {
          this.canMultiInsured = true;
          // this.headers = this[
          //   filteredMultiInsured[0].riskCode.toLowerCase() + "Headers"
          // ];
        } else {
          this.selection = 0;
          this.canMultiInsured = false;
          this.headers = [];
        }
      },
      deep: true,
    },
    "invoice.invoiceNo": {
      handler: function (after, before) {
        // alert("after" + after + "before" + before);
        if (
          after != "" &&
          after != null &&
          after != 0 &&
          after != "0" &&
          after != before
        ) {
          this.getRiskMultiInsured();
        }
      },
      deep: true,
    },
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${day}/${month}/${year}`;
    },
    ...mapActions({
      setDescription: types.ACTION_DESCRIPTION,
      setInsured: types.ACTION_INSURED,
      setLocation: types.ACTION_LOCATION,

      setDocType: types.ACTION_DOC_TYPE,
      setFileName: types.ACTION_FILE_NAME,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setPremium: types.ACTION_PREMIUM,
      setTotalPercentage: types.ACTION_TOTAL_PERCENTAGE,
      setTotalAmount: types.ACTION_TOTAL_AMOUNT,
      setMultiInsured: types.ACTION_MULTI_INSURED,
      setIncomeBrokerage: types.ACTION_INCOME_BROKERAGE,
      setTotalBrokerage: types.ACTION_TOTAL_BROKERAGE,
      setTotalBrokerageAmount: types.ACTION_TOTAL_BROKERAGE_PERCENTAGE,
      setToUnderwiterPremium: types.ACTION_TO_UNDERWRITER_PREMIUM,
      setTotalVat: types.ACTION_TOTAL_VAT,
      setTotalPPh23: types.ACTION_TOTAL_PPH23,
      setTotalAdminCost: types.ACTION_TOTAL_ADMIN_COST,
      setTotalStampDuty: types.ACTION_TOTAL_STAMP_DUTY,
      setTotalGross: types.ACTION_TOTAL_GROSS,
    }),

    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_MULTI_INSURED&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];
        console.log("getRiskMultiInsured", this.riskMultiInsuredList);

        // cek apakah yang terpilih adalah bisa multiinsured
        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == this.invoice.riskCode
        );
        console.log("filteredMultiInsured", filteredMultiInsured);
        if (filteredMultiInsured.length > 0) {
          this.previewMultiInsured("init");
          this.canMultiInsured = true;

          // hide unused insured type
          if (this.invoice.multiInsuredFlag === 1) {
            // jika ada filename : nampilkan multi insured saja
            this.selection = 1;
            this.canSingleInsured = false;
            this.nameFile = new File([""], this.invoice.filename);
          } else if (
            this.invoice.insured != "" ||
            this.invoice.location != "" ||
            this.invoice.description != ""
          ) {
            // jika single insured terisi : nampilkan single insured saja
            this.canMultiInsured = false;
          }
        } else {
          this.selection = 0;
          this.canMultiInsured = false;
          this.headers = [];
        }
      }
    },
    onBroswseClick() {
      document.getElementById("multiInsured").click();
    },
    async previewMultiInsured(from = null) {
      this.closeUpload();
      // if (from == "init") {
      this.tableLoading = true;
      // } else {
      //   this.dialogLoading.show = true;
      // }
      const { sortBy, sortDesc } = this.options;
      let param = {
        refNo: this.invoice.idInvoice,
        riskCode: this.invoice.riskCode,
      };
      if (
        sortBy != undefined &&
        sortDesc != undefined &&
        sortBy.length > 0 &&
        sortDesc.length > 0
      ) {
        let headerItems = this.headers.filter(
          (value) => value.value == sortBy[0]
        );
        param["sort"] = [
          headerItems[0].sortKey,
          sortDesc[0] ? "desc" : "asc",
          "ignoreCase",
        ].join(",");
      }
      const findHeaderValueNotEmpty = this.headers.filter(
        (value) => String(value.searchValue).length > 0
      );
      if (findHeaderValueNotEmpty.length > 0) {
        param = Object.assign(
          param,
          ...findHeaderValueNotEmpty.map((value) => {
            return {
              [value.filterKey + "." + value.filterOperation]:
                value.searchValue,
            };
          })
        );
      }
      await API.get(
        "broking/api/broking/invoice/list-multi-insured",
        param
      ).then((resp) => {
        let me = this;
        if (resp.data.code === 0) {
          let data = resp.data;
          let headers = data.headerProperty.map(function (row) {
            let headerItems = me.headers.filter(
              (value) => value.value == row.key
            );
            return {
              text: row.value,
              value: row.key,
              align: "center",
              sortable: row.sortBool,
              filterable: row.filterBool,
              sortKey: row.sortKey,
              filterKey: row.filterKey,
              width: 100,
              searchValue:
                headerItems.length > 0 ? headerItems[0].searchValue : "",
              filterOperation: row.filterOperation,
            };
          });
          headers.push({
            text: "Actions",
            value: "actions",
            align: "center",
            sortable: false,
          });
          this.headers = headers;
          let metasList = [];
          for (let d of data.data) {
            metasList.push(JSON.parse(d.metas));
          }
          this.dataInsurance = metasList.map(function (currentValue, Index) {
            currentValue.seqNo = Index + 1;
            return currentValue;
          });
          this.dialogLoading.show = false;
          this.tableLoading = false;

          // set variabel untuk menentukan popup type mana yang harus tampil
          let filteredMultiInsured = this.riskMultiInsuredList.filter(
            (i) => i.riskCode == this.invoice.riskCode
          );
          if (filteredMultiInsured.length > 0) {
            this.detailDialogType =
              filteredMultiInsured[0].insuredObject.toLowerCase();
          }
        } else {
          this.loadingMultiInsured = false;
          if (from == "init") {
            this.tableLoading = false;
            return;
          }
          this.dialogLoading.error = true;
          this.dialogLoading.text =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
        }
      });
    },

    async updloadFile(e) {
      var fr = new FileReader();
      fr.readAsDataURL(e);
      fr.addEventListener("load", () => {
        let typeFile = e.name.split(".");
        let base64 = fr.result.split(",")[1];
        this.fileData = base64;
        this.setMultiInsured(fr.result);
        this.setDocType(typeFile[1]);
        this.setFileName(e.name);
        this.loadingMultiInsured = true;
        this.dialogLoading.show = true;

        let param = {
          base64: base64,
          docType: typeFile[1],
          filename: e.name,
          refNo: this.invoice.refNo,
          riskCode: this.invoice.riskCode,
        };
        API.post(
          "broking/api/broking/invoice/upload-multi-insured",
          param
        ).then((resp) => {
          if (resp.data.code === 0) {
            this.showPreview = true;
            this.loadingMultiInsured = false;
            this.dialogLoading.success = true;
            this.dialogLoading.text = "Upload Successful";
          } else {
            this.nameFile = null;
            this.dialogLoading.error = true;
            this.dialogLoading.text =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.loadingMultiInsured = false;
          }
        });
      });
    },
    closeUpload() {
      this.dialogLoading = {
        show: false,
        success: false,
        error: false,
        text: "",
      };
    },
    resetFile() {
      this.fileData = "";
      this.setMultiInsured("");
      this.setToUnderwiterPremium(0);
      this.setPremium(0);
      if (document.getElementById("toUnderwriterPremium")) {
        document.getElementById("toUnderwriterPremium").value =
          this.formatMoney(0);
      }
      this.showPreview = false;
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },

    calculateAmount(value) {
      let data = (Number(this.invoice.premium) / 100) * Number(value);
      return data;
    },
    validateInsurance(value) {
      if (value && value.id) {
        for (var item of this.dataInsurance) {
          if (item.insuranceId === value.id) {
            this.dialogValidate.show = true;
            this.dialogValidate.text = "Insurance already exists";
            this.headers[1].add = "";
          }
        }
      }
    },

    clickPencil(item) {
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i] == item) {
          this.dataInsurance[i].edit = true;
          this.statusCreate = false;
        } else {
          this.dataInsurance[i].edit = false;
        }
      }
      localStorage.setItem("objInsurance", JSON.stringify(item));
      this.editInsurance = item;
    },

    clickCheckEdit(item) {
      let newObj = {};
      if (typeof item.insuranceName === "object") {
        newObj["insuranceId"] = item.insuranceName.id;
        newObj["insuranceName"] = item.insuranceName.name;
        newObj["insuranceCode"] = item.insuranceName.code;
      } else {
        newObj["insuranceId"] = item.insuranceId;
        newObj["insuranceName"] = item.insuranceName;
        newObj["insuranceCode"] = item.insuranceCode;
      }
      let sharingPercentage = 0;
      let amount = 0;
      let brokerage = 0;
      let brokerageAmount = 0;
      let admincostAmount = 0;
      let stampdutyAmount = 0;
      let vatAmount = 0;
      let pph23Amount = 0;
      let grossAmount = 0;
      this.dataInsurance.forEach((element) => {
        sharingPercentage =
          sharingPercentage + Number(element.sharingPercentage);
        amount = amount + this.convertMoney(element.amount);
        brokerage = brokerage + Number(element.brokerage);
        brokerageAmount = brokerageAmount + Number(element.brokerageAmount);
        admincostAmount = admincostAmount + Number(element.admincostAmount);
        stampdutyAmount = stampdutyAmount + Number(element.stampdutyAmount);
        vatAmount = vatAmount + Number(element.vatAmount);
        pph23Amount = pph23Amount + Number(element.pph23Amount);
        grossAmount = grossAmount + Number(element.grossAmount);
      });

      if (item.sharingPercentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Sharing Percentage more than 100%";
      } else if (sharingPercentage > 100) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Sharing Percentage more than 100%";
      } else if (item.brokerageAmount > this.invoice.premium) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Amount Brokerage greater than Premium";
      } else if (item.amount > this.invoice.premium) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Amount greater than Premium";
      } else if (amount > this.invoice.premium) {
        this.dialogValidate.show = true;
        this.dialogValidate.text = "Total Amount greater than Premium";
      } else if (brokerageAmount > this.invoice.premium) {
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Total Amount Brokerage greater than Premium";
      } else {
        for (var i = 0; i < this.dataInsurance.length; i++) {
          if (this.dataInsurance[i] == item) {
            this.dataInsurance[i].edit = false;
            this.dataInsurance[i].insuranceId = newObj.insuranceId;
            this.dataInsurance[i].insuranceName = newObj.insuranceName;
            this.dataInsurance[i].insuranceCode = newObj.insuranceCode;
            this.dataInsurance[i].sharingPercentage = item.sharingPercentage;
            this.dataInsurance[i].amount = item.amount;
            this.dataInsurance[i].brokerage = item.brokerage;
            this.dataInsurance[i].brokerageAmount = item.brokerageAmount;
            this.dataInsurance[i].admincostAmount = item.admincostAmount;
            this.dataInsurance[i].stampdutyAmount = item.stampdutyAmount;
            this.dataInsurance[i].vatAmount = item.vatAmount;
            this.dataInsurance[i].pph23Amount = item.pph23Amount;
            this.dataInsurance[i].grossAmount = item.grossAmount;
          }
        }
        this.totalSharingPercentage = Number(sharingPercentage.toFixed(2));
        this.totalAmount = Number(amount.toFixed(2));
        this.totalBrokerage = Number(brokerage.toFixed(2));
        this.totalAmountBrokerage = Number(brokerageAmount.toFixed(2));
        this.totalAdminCost = Number(admincostAmount.toFixed(2));
        this.totalStampDuty = Number(stampdutyAmount.toFixed(2));
        this.totalVAT = Number(vatAmount.toFixed(2));
        this.totalPPh = Number(pph23Amount.toFixed(2));
        this.totalGross = Number(grossAmount.toFixed(2));

        this.setInsuranceSharingList(this.convertData(this.dataInsurance));
        this.setTotalPercentage(this.totalSharingPercentage);
        this.setTotalAmount(this.totalAmount);
        this.setTotalBrokerage(this.totalBrokerage);
        this.setTotalBrokerageAmount(this.totalAmountBrokerage);
        this.setTotalVat(this.totalVAT);
        this.setTotalPPh23(this.totalPPh);
        this.setTotalAdminCost(this.totalAdminCost);
        this.setTotalStampDuty(this.totalStampDuty);
        this.setTotalGross(this.totalGross);
        // For Tab Value
        this.setIncomeBrokerage(this.totalAmountBrokerage);
        localStorage.removeItem("objInsurance");

        // Reset Data
        this.search.insuranceName.input = "";
      }
    },
    clickCloseEdit(item) {
      let obj = JSON.parse(localStorage.getItem("objInsurance"));
      for (var i = 0; i < this.dataInsurance.length; i++) {
        if (this.dataInsurance[i] == item) {
          this.dataInsurance[i].edit = false;
          this.dataInsurance[i].insuranceId = obj.insuranceId;
          this.dataInsurance[i].insuranceName = obj.insuranceName;
          this.dataInsurance[i].insuranceCode = obj.insuranceCode;
          this.dataInsurance[i].sharingPercentage = obj.sharingPercentage;
          this.dataInsurance[i].amount = obj.amount;
          this.dataInsurance[i].brokerage = obj.brokerage;
          this.dataInsurance[i].brokerageAmount = obj.brokerageAmount;
          this.dataInsurance[i].admincostAmount = obj.admincostAmount;
          this.dataInsurance[i].stampdutyAmount = obj.stampdutyAmount;
          this.dataInsurance[i].vatAmount = obj.vatAmount;
          this.dataInsurance[i].pph23Amount = obj.pph23Amount;
          this.dataInsurance[i].grossAmount = obj.grossAmount;
          this.statusCreate = false;
        }
      }
      localStorage.removeItem("objInsurance");
    },
    convertData(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          index: element.index,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: Number(element.sharingPercentage),
          amount: this.convertMoney(element.amount),
          brokerage: Number(element.brokerage),
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
        });
      });
      return array;
    },
    currencyFormat(data, toFixedNum = null) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(toFixedNum ? toFixedNum : 2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    sumArray(arr) {
      for (let i = 0; i < arr.length; i++) {
        if (arr[i] == "" || arr[i] == null || arr[i] == undefined) {
          arr[i] = 0;
        } else {
          arr[i] = parseFloat(arr[i]);
        }
      }
      let result = this.currencyFormat(arr.reduce((a, b) => a + b, 0));
      return result;
    },
    viewItem(item) {
      this.detailData = item;
      this.detailDialog = true;
    },
    onkeyupSearch() {
      if (!this.awaitingSearch) {
        setTimeout(() => {
          this.previewMultiInsured();
          this.awaitingSearch = false;
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearch = true;
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.previewMultiInsured();
    },
  },
};
</script>

<style scoped>
.buttonClose {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}
.total-center {
  text-align: center;
}
.total-right {
  text-align: center;
  /* padding-right: 20px; */
}
::v-deep .input-right input {
  text-align: right;
}
fieldset {
  border-color: #80abd2;
  border-radius: 5px;
  border-width: thin;
}
legend {
  color: #00529b;
  margin-left: 15px;
}
</style>