<template>
  <v-card flat>
    <div class="headerFix">
      <isttoolbar title="Invoice" dark color="secondary" icon="mdi-receipt">
      </isttoolbar>
    </div>
    <div class="headerFix2">
      <isttoolbar
        title="Create Endorsement"
        class="mb-6"
        dark
        color="primary"
        v-if="
          this.$route.query.statusPage === 'edit' &&
          this.$route.query.endorse === 'create'
        "
      >
      </isttoolbar>
      <isttoolbar
        title="View Endorsement"
        class="mb-6"
        dark
        color="primary"
        v-if="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.endorse === 'view'
        "
      ></isttoolbar>
      <isttoolbar
        title="Edit Endorsement"
        class="mb-6"
        dark
        color="primary"
        v-if="
          invoice.statusPage === 'edit' && this.$route.query.endorse === 'view'
        "
      ></isttoolbar>
    </div>
    <div class="buttonFixed">
      <v-btn
        v-show="this.$route.query.statusPage === 'edit'"
        height="40"
        width="100"
        class="mr-2"
        outlined
        color="white"
        @click="submit()"
        >Save</v-btn
      >
      <v-btn
        v-if="invoice.statusPage === 'edit'"
        height="40"
        width="100"
        outlined
        color="white"
        @click="cancel()"
        >Cancel</v-btn
      >
        <!-- @click="fromEdit ? back() : cancel()" -->
      <!--
        <template v-if="invoice.statusPage === 'view' && authorities.indexOf('create-invoice-add') !== -1">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                min-height="40"
                v-bind="attrs"
                v-on="on"
                min-width="40"
                text
                color="white"
              >
                <v-icon>mdi-pencil-box-outline mdi-36px</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="copy">
                <v-list-item-title>Copy Invoice</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template> -->

      <v-tooltip
        bottom
        v-if="
          invoice.statusPage === 'view' &&
          this.statusApprove &&
          authorities.indexOf('create-invoice-add') !== -1
        "
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="dialogDelete = true"
            text
          >
            <v-icon>mdi-delete mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Delete</span>
      </v-tooltip>

      <v-tooltip
        bottom
        v-if="
          invoice.statusPage === 'view' &&
          this.statusApprove &&
          authorities.indexOf('create-invoice-edit') !== -1
        "
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="change"
            text
          >
            <v-icon>mdi-pencil mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom v-if="invoice.statusPage === 'view'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            v-bind="attrs"
            v-on="on"
            min-width="40"
            color="white"
            @click="back"
            text
          >
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </div>
    <div class="buttonFixed2">
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'ENTRY' &&
          authorities.indexOf('create-invoice-approve') !== -1
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="previewMultiInsured()"
        >Approve Invoice</v-btn
      >
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'APPROVE' &&
          authorities.indexOf('create-invoice-approve') !== -1
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogUnapprove = true"
        >Unapprove Invoice</v-btn
      >
      <v-btn
        v-show="
          this.$route.query.statusPage === 'view' &&
          this.$route.query.status == 'APPROVE' &&
          authorities.indexOf('create-invoice-final') !== -1
        "
        height="40"
        width="150"
        class="mr-2"
        outlined
        color="white"
        @click="dialogFinal = true"
        >Finalize Invoice</v-btn
      >
    </div>

    <v-form class="mb-6 contentFix" :readonly="invoice.statusPage === 'view'">
      <v-row>
        <v-col cols="8">
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Invoice Type</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-select
                v-if="$route.query.endorse === 'create'"
                :items="type"
                solo
                flat
                dense
                outlined
                class="ma-0"
                hide-details="auto"
                v-model="defaultTypeInit"
                @input="setDataInvoiceType"
                return-object
                item-text="invoiceType"
                name="invoiceType"
                ref="invoiceType"
                label="Select Invoice Type ..."
              ></v-select>
              <v-text-field
                v-else
                hide-details="auto"
                label=""
                ref="amount"
                v-model="invoiceType"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Original Invoice No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col
              cols="6"
              align-self="start"
              class="pa-1"
              v-if="$route.query.endorse !== 'create'"
            >
              <v-row align="center" class="marginLeftRow">
                <v-col cols="5" class="pa-1">
                  <v-text-field
                    hide-details="auto"
                    v-model="parentRef"
                    label=""
                    ref="amount"
                    solo
                    flat
                    dense
                    outlined
                    disabled
                    class="ma-0 input-right"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="2" class="pa-1">
                  <span class="title">End No.</span>
                </v-col>
                <v-col cols="5" class="pa-1 marginLeftField">
                  <v-text-field
                    hide-details="auto"
                    v-model="seqNo"
                    label=""
                    ref="amount"
                    solo
                    flat
                    dense
                    outlined
                    disabled
                    class="ma-0 input-right"
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1" v-else>
              <v-text-field
                hide-details="auto"
                label="Select Invoice No.."
                ref="amount"
                v-model="invoiceNo"
                solo
                flat
                dense
                outlined
                readonly
                @focus="statusInvoiceNo = true"
                @blur="statusInvoiceNo = false"
                class="ma-0 input-right"
              >
                <v-btn slot="append" @click="openInvoice" text icon>
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Transaction No.</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="amount"
                v-model="reffNo"
                solo
                flat
                dense
                disabled
                outlined
                class="ma-0 input-right"
              ></v-text-field>
            </v-col>
          </v-row> -->
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Customer</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="status"
                solo
                flat
                dense
                disabled
                outlined
                v-model="customerName"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
          <!-- <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Endorsement</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="status"
                solo
                flat
                dense
                disabled
                outlined
                v-model="endorsement"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row> -->
          <v-row align="center" class="ml-8">
            <v-col cols="3" class="pa-1">
              <span class="title">Class of Risk</span>
              <span class="error--text">*</span>
            </v-col>
            <v-col cols="6" align-self="start" class="pa-1">
              <v-text-field
                hide-details="auto"
                label=""
                ref="riskCode"
                solo
                flat
                dense
                disabled
                outlined
                v-model="riskCode"
                class="ma-0"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="3">
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Invoice Number</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <span class="title fontBold">{{ invoiceNumber }}</span>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-8">
            <v-col cols="7" class="pa-1">
              <span class="title">Status</span>
            </v-col>
            <v-col cols="5" align-self="start" class="pa-1">
              <span class="title">{{ status }}</span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>
    <!-- <v-card> -->
    <menuBroking v-if="invoice.invoiceType == 1" />
    <menuFee v-else-if="invoice.invoiceType == 2" />
    <menuOpen v-else-if="invoice.invoiceType == 3" />
    <menuBroking v-else />
    <!-- </v-card> -->
    <v-dialog v-model="dialogLoading" persistent max-width="290">
      <v-card>
        <v-card-title>
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-title>
      </v-card>
    </v-dialog>

    <v-row justify="center">
      <v-dialog
        v-model="dialog.show"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card v-show="!dialog.success && !dialog.error" min-width="290px">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error" min-width="290px">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialog.text }}</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >{{ dialog.text }}</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ errorDescription }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="clickSukses(null)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogApprove"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Approve Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                chechEffectiveDate();
                dialogApprove = false;
              "
              outlined
              >Yes</v-btn
            >
            <!-- approved(); -->
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogApprove = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogFinal"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Finalize Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                final();
                dialogFinal = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogFinal = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogUnapprove"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Unapprove Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                unapprove();
                dialogUnapprove = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogUnapprove = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogDelete"
        persistent
        width="unset"
        min-width="290px"
      >
        <v-card min-width="290px">
          <v-card-title class="justify-center" style="word-break: inherit;"
            >Are you sure want to Delete Invoice?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                deleteInvoice();
                dialogDelete = false;
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="dialogDelete = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialogValidate.show"
      width="unset"
      min-width="290px"
      @click:outside="
        (dialogValidate.show = false),
          (dialogValidate.text = ''),
          (dialogValidate.subText = '')
      "
    >
      <v-card min-width="290px">
        <v-card-title
          class="justify-center"
          style="
            word-break: inherit;
            display: inline-block;
            text-align: center;
          "
        >
          {{ dialogValidate.text }}
          <div v-show="invoice.statusRefresh">
            {{ dialogValidate.subText }}
          </div>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="(dialogValidate.show = false), (dialogValidate.text = '')"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogLeader"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogLeader = true"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;"
          >Status Leader sharing percentage in tab Insurance is not the biggest,
          Do you want change?</v-card-title
        >
        <v-card-actions class="justify-center">
          <v-btn color="primary" min-width="100px" outlined @click="setLeader"
            >Yes</v-btn
          >
          <v-btn color="primary" min-width="100px" outlined @click="nextProcess"
            >No</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogInvoiceNo"
      persistent
      max-width="1000px"
      @click:outside="dialogInvoiceNo = true"
    >
      <v-card max-width="1000px">
        <v-card-title class="headline blue--text text--darken-4">
          Choose Invoice No.
          <v-spacer></v-spacer>
          <v-btn text color="primary" id="closeInvoice" @click="closeInvoice">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="listItem"
            fixed-header
            :height="listItem.length > 0 ? '400' : ''"
            item-key="invoiceNo"
            class="elevation-1"
            hide-default-header
            :options.sync="options"
            :loading="loading"
            :server-items-length="totalItems"
            :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th v-for="header in headers" :key="header.text">
                    <v-text-field
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :readonly="!header.filterType"
                      v-on:keyup="onkeyupSearch"
                      placeholder=" "
                      style="margin-top: 10px;"
                      :class="!header.filterType ? 'no-border' : ''"
                    >
                      <v-btn
                        slot="append-outer"
                        icon
                        @click="sortClick(header.value)"
                        v-show="header.sortable"
                      >
                        <v-icon
                          v-if="
                            header.value == options.sortBy[0] &&
                            !options.sortDesc[0]
                          "
                          dense
                          color="primary"
                          >mdi-sort-ascending</v-icon
                        >
                        <v-icon
                          v-else-if="
                            header.value == options.sortBy[0] &&
                            options.sortDesc[0]
                          "
                          dense
                          color="primary"
                          >mdi-sort-descending</v-icon
                        >
                        <v-icon
                          v-else-if="header.value != options.sortBy[0]"
                          dense
                          >mdi-sort</v-icon
                        >
                      </v-btn>
                    </v-text-field>
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:[`item.amount`]="{ item }">
              {{ formatMoney(Number(item.amount)) }}
            </template>
            <template v-slot:[`item.select`]="{ item }">
              <v-checkbox
                v-model="item.select"
                @click="() => selectOneItem(item)"
              ></v-checkbox>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            class="mr-5"
            :disabled="selected.length === 0"
            @click="setInvoice"
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogMulti.show"
      persistent
      width="unset"
      min-width="290px"
      @click:outside="dialogMulti.show = true"
    >
      <v-card min-width="290px">
        <v-card-title
          class="justify-center"
          style="
            word-break: inherit;
            display: inline-block;
            text-align: center;
          "
          >{{ dialogMulti.text }}
          <div>
            {{ dialogMulti.text2 }}
          </div>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogMulti.show = false"
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogSumInsured"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Sum Insured Value is 0.00 Do you want to continue?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="nextSumInsured"
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogSumInsured = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Confirm Dialog Bank Receive -->
    <v-dialog
      v-model="dialogBankReceive"
      persistent
      width="unset"
      min-width="290px"
    >
      <v-card min-width="290px">
        <v-card-title class="justify-center" style="word-break: inherit;">
          Is the bank received already correct?
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="
              dialogApprove = true;
              dialogBankReceive = false;
            "
            >Yes
          </v-btn>
          <v-btn
            color="primary"
            min-width="100px"
            outlined
            @click="dialogBankReceive = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import * as types from "@/store/modules/invoice/type";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapState, mapActions } from "vuex";
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import menuFee from "./menu_fee";
import menuBroking from "./menu_broking";
import menuOpen from "./menu_open";
import axios from "axios";

export default {
  components: {
    isttoolbar,
    menuFee,
    menuBroking,
    menuOpen,
  },
  created() {
    if (this.$route.query.id) {
      this.getInvoiceById(this.$route.query.id);
    }
    if (localStorage.getItem("from") == "edit") this.fromEdit = true;
    if (this.$route.query.status == "ENTRY") this.statusApprove = true;
    this.status = this.$route.query.status;
    this.authorities = JSON.parse(
      localStorage.getItem("checkToken")
    ).authorities;
  },
  data: () => ({
    dialogMulti: { show: false, text: "", text2: "" },
    dialogSumInsured: false,
    statusSumInsured: true,
    dialogBankReceive: false,
    type: [
      { invoiceType: "Fee", id: 2 },
      { invoiceType: "Broking", id: 1 },
      { invoiceType: "Open Cover (Binder)", id: 3 },
      { invoiceType: "Endorsement", id: 4 },
      { invoiceType: "Commission", id: 7 },
    ],
    awaitSelect: false,
    awaitingSearch: false,
    loading: false,
    options: {},
    singleSelect: false,
    selected: [],
    listItem: [],
    totalItems: 0,
    dialogInvoiceNo: false,
    headers: [
      {
        text: "",
        align: "start",
        sortable: false,
        value: "select",
        searchValue: "",
        searchable: false,
        filterType: false,
        width: "100px",
      },
      {
        text: "Invoice No",
        align: "start",
        sortable: true,
        value: "invoiceNo",
        searchValue: "",
        searchable: true,
        filterType: true,
        width: "100px",
      },
      {
        text: "Client",
        sortable: true,
        value: "customerName",
        searchValue: "",
        searchable: true,
        filterType: true,
        width: "100px",
      },
      {
        text: "Endorsement",
        sortable: false,
        value: "endorsment",
        searchable: false,
        filterType: false,
        searchValue: "",
      },
      {
        text: "Class of Risk",
        sortable: false,
        value: "riskName",
        searchable: false,
        filterType: false,
        searchValue: "",
      },
      {
        text: "Attachment Date",
        sortable: false,
        value: "insurancePeriodFrom",
        searchable: false,
        filterType: false,
        searchValue: "",
      },
      {
        text: "A/Exec",
        sortable: false,
        value: "accountExecutiveCode",
        searchable: false,
        filterType: false,
        searchValue: "",
      },
      {
        text: "Amount",
        sortable: false,
        value: "amount",
        searchable: false,
        filterType: false,
        searchValue: "",
      },
    ],
    authorities: [],
    invoiceNumber: "-",
    status: "",
    statusApprove: false,
    statusPage: "",
    fromEdit: false,
    invoiceType: "Endorsement",
    defaultTypeInit: {
      id: 4,
      invoiceType: "Endorsement",
    },
    defaultType: "Broking",
    dialogLoading: false,
    errorDescription: "",
    dialogValidate: { show: false, text: "", subText: "" },
    dialogApprove: false,
    dialogFinal: false,
    dialogDelete: false,
    dialogUnapprove: false,
    dialog: { show: false, success: false, error: false, text: "" },
    dialogLeader: false,
    customerName: "",
    reffNo: "",
    invoiceNo: "",
    parentRef: "",
    idEndorsment: "",
    seqNo: "",
    endorsementNo: "",
    statusInvoiceNo: false,
    endorsement: "",
    riskCode: "",
    search: {
      customer: {
        name: "customer",
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: false,
      },
      reffNo: {
        name: "reffNo",
        input: "",
        items: [],
        url: "broking/api/broking/invoice/list-reff-no?transactionId.contains=",
        loading: false,
      },
    },
    dataParam: {},
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    request: null,
    riskMultiInsuredList: [],
    dataInsurance: [],
  }),
  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    statusInvoiceNo: {
      handler: function (after) {
        if (after) {
          this.dialogInvoiceNo = true;
          setTimeout(() => {
            document.getElementById("closeInvoice").blur();
          }, 500);
        }
      },
      deep: true,
    },
    "invoice.sumInsured": {
      handler: function (after) {
        if (after !== 0) {
          this.statusSumInsured = false;
        } else {
          this.statusSumInsured = true;
        }
      },
      deep: true,
    },
  },
  mounted() {
    // this.getCustomer();
    this.statusPage = this.$route.query.statusPage;
    this.setStatusPage(this.$route.query.statusPage);
    this.getFee();
    this.getRiskMultiInsured();
    // this.getListInvoice()
  },
  computed: {
    form() {
      return {
        customerName: this.customerName,
        reffNo: this.reffNo,
        defaultType: this.defaultType,
      };
    },
    ...mapState(["invoice", "snackbars"]),
    autocompSearch: function () {
      return function (search) {
        search.loading = true;
        if (this.request) this.request.cancel();
        const axiosSource = axios.CancelToken.source();
        this.request = { cancel: axiosSource.cancel, msg: "Loading..." };
        let searchURL = "";
        if (search.name == "reffNo") {
          searchURL =
            search.url +
            search.input.toUpperCase() +
            "&accountId.equals=" +
            this.invoice.customerId;
        } else {
          searchURL = search.url + search.input.toUpperCase();
        }
        setTimeout(() => {
          API.get(searchURL, null, null, axiosSource.token).then((resp) => {
            this.request = null;
            search.loading = false;
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              search.items = resp.data.data;
            } else {
              search.items = [];
            }
          });
        }, 500);
      };
    },
  },
  methods: {
    selectOneItem(item) {
      if (!this.awaitSelect) {
        this.selected = [];
        setTimeout(() => {
          let array = [];
          this.listItem.forEach((element) => {
            if (element.invoiceNo === item.invoiceNo) {
              if (item.select) {
                element.select = false;
              } else {
                element.select = true;
                this.selected.push(element);
              }
            } else {
              element.select = false;
            }
            array.push(element);
          });
          this.listItem = array;
          this.awaitSelect = false;
        }, 200); // 0,2 sec delay
      }
      this.awaitSelect = true;
    },
    sortClick(value) {
      if (this.options.sortBy[0] == value) {
        if (this.options.sortDesc[0] == false) {
          this.options.sortDesc[0] = true;
        } else if (this.options.sortDesc[0] == true) {
          this.options.sortBy = [];
          this.options.sortDesc = [];
        }
      } else {
        this.options.sortBy[0] = value;
        this.options.sortDesc[0] = false;
      }
      this.refresh();
    },
    onkeyupSearch() {
      if (!this.awaitingSearch) {
        setTimeout(() => {
          this.refresh();
          this.awaitingSearch = false;
        }, 500); // 0,5 sec delay
      }
      this.awaitingSearch = true;
    },
    refresh() {
      this.getList().then((data) => {
        this.listItem = data.items;
        this.totalItems = data.total;
      });
    },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
          "invoiceType.equals": 1,
          "recStatus.equals": 2,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [value.value + ".contains"]: value.searchValue,
              };
            })
          );
        }
        API.get("broking/api/broking/invoice/", param).then((resp) => {
          if (resp.data.code == 0) {
            this.loading = false;
            this.request = null;
            let data = resp.data.data.map(function (currentValue) {
              currentValue.select = false;
              return currentValue;
            });
            resolve({
              total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
              items: data,
            });
          }
        });
      });
    },
    openInvoice() {
      this.dialogInvoiceNo = true;
      setTimeout(() => {
        document.getElementById("closeInvoice").blur();
      }, 500);
    },
    closeInvoice() {
      this.dialogInvoiceNo = false;
      this.headers[0].searchValue = "";
      this.headers[2].searchValue = "";
    },
    setInvoice() {
      this.dialogInvoiceNo = false;
      this.invoiceNo = this.selected[0].invoiceNo;
      this.endorsement = this.selected[0].endorsment;
      this.parentRef = this.selected[0].parentRef;
      this.endorsementNo = this.selected[0].endorsementNo;
      this.seqNo = this.selected[0].seqNo;
      this.idEndorsment = this.selected[0].idEndorsment;
      this.setInvoiceNo(this.selected[0].invoiceNo);
      this.getInvoiceById(this.selected[0].id);
    },
    async getInvoiceById(id, status) {
      this.dialogLoading = true;
      let resp = await API.get("/broking/api/broking/invoice/" + id);
      if (resp.data.code === 0) {
        this.dialogLoading = false;
        const data = resp.data.invoice;
        console.debug(data, "data");
        if (status == "view") {
          this.setStatusPage("view");
          this.dialog = { show: false, success: false, error: false, text: "" };
          this.statusPage = "view";
          if (this.$route.query.status == "ENTRY") this.statusApprove = true;
          this.$router.replace({
            name: "create-invoice-endorsement",
            query: {
              ...this.$route.query,
              statusPage: "view",
              id: data.idInvoice,
              endorse: "view",
              endorsement: data.seqNo,
              isActive: data.isActive,
              alreadyEndorse: data.alreadyEndorse,
              alreadyCancel: data.alreadyCancel,
            },
          }).catch(() => {});
        }
        if (this.$route.query.status == "FINAL") {
          this.invoiceNumber = data.invoiceNo;
        }
        this.parentRef = data.parentRef;
        this.endorsementNo = data.endorsementNo;
        this.seqNo = data.seqNo;
        this.idEndorsment = data.idEndorsment;
        this.customerName = `${data.customerCode} - ${data.customerName}`;
        this.reffNo = data.refNo.toString();
        this.riskCode =
          data.invoiceClass.riskCode + " - " + data.invoiceClass.riskName;

        let filteredMultiInsured = this.riskMultiInsuredList.filter(
          (i) => i.riskCode == data.invoiceClass.riskCode
        );
        console.debug(
          filteredMultiInsured,
          data.invoiceClass.riskCode,
          this.riskMultiInsuredList
        );
        if (
          filteredMultiInsured.length > 0 &&
          (data.invoiceType == 4 || data.invoiceType == 1)
        ) {
          this.setEngineeringFee(true);
        } else {
          this.setEngineeringFee(false);
        }

        if (this.$route.query.id && this.$route.query.endorse === "create") {
          this.addStateEndorsement(data);
          let premiumClientInstallment =
            Number(this.invoice.toClientPremium) +
            Number(this.invoice.toClientAdm);
          this.setPremiumClientInstallment(premiumClientInstallment);
          this.setBusinessCategory("IB");
          this.setBusinessName("Incremental Business");
          this.setActiveDate(new Date().toISOString().substring(0, 10));
          this.setInvoiceType(1);
          let insurance = data.invoiceInsurance.insuranceSharingList;
          if (insurance.length > 0) {
            let dataInsurance = [];
            insurance.forEach((element) => {
              dataInsurance.push({
                index: element.index,
                isLeader: element.isLeader,
                insuranceId: element.insuranceId,
                insuranceName: element.insuranceName,
                insuranceCode: element.insuranceCode,
                sharingPercentage: element.sharingPercentage,
                amount: 0,
                brokerage: element.brokerage,
                brokerageAmount: 0,
                admincostAmount: 0,
                stampdutyAmount: 0,
                vatAmount: 0,
                pph23Amount: 0,
                grossAmount: 0,
                efAmount: 0,
                efPercentage: element.efPercentage, //this.invoice.engineeringPercentage,
                efSharingAmount: 0,
                totalAmount: 0,
              });
            });
            this.setInsuranceSharingList(dataInsurance);
            this.setInsuranceSharingListUnder(this.convertForUnder(insurance)); // For List Under
          }
          if (data.invoiceAgentList.length > 0) {
            let dataAgent = [];
            data.invoiceAgentList.forEach((element) => {
              element.amount = 0;
              dataAgent.push({ ...element });
            });
            this.setAgentList(dataAgent);
            this.setAgentTotalAmount(0);
          }
          this.invoiceNo = data.invoiceNo;
          this.endorsement = this.$route.query.endorsement;
          this.statusBefore = data.statusDesc;
        } else if (this.$route.query.endorse !== "create") {
          this.addStateEndorsementView(data);
          let premiumClientInstallment =
            Number(this.invoice.toClientPremium) +
            Number(this.invoice.toClientAdm);
          this.setPremiumClientInstallment(premiumClientInstallment);
          let insurance = data.invoiceInsurance.insuranceSharingList;
          this.setInsuranceSharingListUnder(this.convertForUnder(insurance));
          this.setInvoiceType(1);
          this.invoiceNo = data.invoiceNo;
          this.endorsement = this.$route.query.endorsement;
        } else {
          this.addStateEndorsement(data);
          this.setBusinessCategory("IB");
          this.setBusinessName("Incremental Business");
          this.setActiveDate(new Date().toISOString().substring(0, 10));
          if (data.invoiceAgentList.length > 0) {
            let dataAgent = [];
            data.invoiceAgentList.forEach((element) => {
              element.amount = 0;
              dataAgent.push({ ...element });
            });
            this.setAgentList(dataAgent);
            this.setAgentTotalAmount(0);
            let insurance = data.invoiceInsurance.insuranceSharingList;
            this.setInsuranceSharingListUnder(this.convertForUnder(insurance));
          }
        }

        if (this.invoice.idEmployee !== 0) {
          API.get(
            "/user/api/user-management/user/employee/" +
              this.invoice.idEmployee.toString()
          ).then((resp) => {
            if (resp.data.code === 0) {
              let data = resp.data.data;
              let personal = data.personalData;
              let obj = {
                id: personal.id,
                idDepartmentCode: personal.idDepartmentCode,
                idCompany: personal.idCompany,
                fullname: personal.fullname,
                nickname: personal.nickname ? personal.nickname : "",
              };
              this.setDataEmployee(obj);
            }
          });
        }
        if (this.invoice.segmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"));
          if (masterData.BUSINESS_SEGMENT) {
            const data = masterData.BUSINESS_SEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.segmentCode
            );
            this.setDataSegment(filter[0]);
          } else {
            API.get(
              "/config/api/master-parameter/module/BUSINESS_SEGMENT"
            ).then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data;
                let filter = data.filter(
                  (value) => value.code == this.invoice.segmentCode
                );
                this.setDataSegment(filter[0]);
              }
            });
          }
        }
        if (this.invoice.subSegmentCode !== "") {
          let masterData = JSON.parse(localStorage.getItem("masterData"));
          if (this.invoice.segmentCode === this.invoice.subSegmentCode) {
            let obj = {
              codeAndName: this.invoice.subSegmentCode,
              code: this.invoice.subSegmentCode,
            };
            this.setDataSubSegment(obj);
          } else if (masterData.BUSINESS_SUBSEGMENT) {
            const data = masterData.BUSINESS_SUBSEGMENT;
            let filter = data.filter(
              (value) => value.code == this.invoice.subSegmentCode
            );
            this.setDataSubSegment(filter[0]);
          } else {
            API.get(
              "/config/api/master-parameter/module/BUSINESS_SUBSEGMENT"
            ).then((resp) => {
              if (resp.data.code === 0) {
                let data = resp.data.data;
                let filter = data.filter(
                  (value) => value.code == this.invoice.subSegmentCode
                );
                this.setDataSubSegment(filter[0]);
              }
            });
          }
        }
      }
    },
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,

      resetState: types.ACTION_RESET_STATE,
      setCustomerId: types.ACTION_CUSTOMER_ID,
      setCustomerName: types.ACTION_CUSTOMER_NAME,
      setInvoiceType: types.ACTION_INVOICE_TYPE,
      setReffNo: types.ACTION_REFF_NO,
      setIdCoverNote: types.ACTION_ID_COVER_NOTE,
      setErrorCustomer: types.ACTION_REQUIRED_CUSTOMER,
      setErrorClassOfRisk: types.ACTION_REQUIRED_CLASS_OF_RISK,
      setErrorPeriodEnd: types.ACTION_REQUIRED_INSURENCE_PERIODE_END,
      setErrorPeriodFrom: types.ACTION_REQUIRED_INSURENCE_PERIODE_FROM,
      setErrorActiveDate: types.ACTION_REQUIRED_ACTIVE_DATE,
      setErrorBusinessCategory: types.ACTION_REQUIRED_BUSINESS_CATEGORY,
      addStateEndorsement: types.ACTION_ADD_STATE_ENDORSEMENT,
      addStateEndorsementView: types.ACTION_ADD_STATE,
      addState: types.ACTION_ADD_STATE,
      // addStateEndorsementEdit: types.ACTION_ADD_STATE_ENDORSEMENT_EDIT,
      setStatusPage: types.ACTION_STATUS_PAGE,
      setIdInvoice: types.ACTION_ID_INVOICE,
      setErrorAccountExecutive: types.ACTION_REQUIRED_ACCOUNT_EXECUTIVE,
      setErrorSegment: types.ACTION_REQUIRED_SEGMENT,
      setDataEmployee: types.ACTION_DATA_EMPLOYEE,
      setDataSegment: types.ACTION_DATA_SEGMENT,
      setDataSubSegment: types.ACTION_DATA_SUB_SEGMENT,
      setPremiumClientInstallment: types.ACTION_PREMIUM_CLIENT_INSTALLMENT,
      setInsuranceSharingListUnder: types.ACTION_INSURANCE_SHARING_LIST_UNDER,
      setEngineeringFee: types.ACTION_STATUS_ENGINEERING_FEE,
      setEngineeringPercentage: types.ACTION_ENGINEERING_PERCENTAGE,
      setClientVAT: types.ACTION_CLIENT_VAT_PERCENTAGE,
      setUnderwriterVAT: types.ACTION_INSURER_VAT_PERCENTAGE,
      setUnderwriterPPH23: types.ACTION_INSURER_PPH_PERCENTAGE,
      setInsuranceSharingList: types.ACTION_INSURANCE_SHARING_LIST,
      setStatusData: types.ACTION_STATUS_DATA,
      setInvoiceNo: types.ACTION_INVOICE_NO,
      setDataListInsuredEndor: types.ACTION_MULTI_INSURED_ENDOR,
      setAgentList: types.ACTION_AGENT_LIST,
      setAgentTotalAmount: types.ACTION_AGENT_TOTAL_AMOUNT,
      setMultiInsuredFlag: types.ACTION_MULTI_INSURED_FLAG,
      setBusinessCategory: types.ACTION_BUSINESS_CATEGORY,
      setBusinessName: types.ACTION_BUSINESS_NAME,
      setActiveDate: types.ACTION_ACTIVE_DATE,
    }),
    async getRiskMultiInsured() {
      let resp = await API.get(
        "/config/api/master-parameter/?module.equals=INVOICE_CONFIG&code.equals=RISK_EF&isActive.equals=1&sort=code,asc,ignoreCase"
      );
      if (resp.data.code === 0) {
        this.riskMultiInsuredList =
          resp.data.data.length > 0 ? JSON.parse(resp.data.data[0].value) : [];

        // cek apakah yang terpilih adalah bisa multiinsured
        // let filteredMultiInsured = this.riskMultiInsuredList.filter(
        //   (i) => i.riskCode == this.invoice.riskCode
        // );
        // if (filteredMultiInsured.length > 0) {
        //   this.statusEngineeringFee = true;
        //   this.setEngineeringFee(true)
        // } else {
        //   this.setEngineeringFee(false)
        // }
      }
    },
    setDataCustomer(item) {
      if (item) {
        this.setErrorCustomer(false);
        this.setCustomerId(item.id);
        this.setCustomerName(item.name);
        this.getReffNo(item.id);
      }
    },
    setDataReffNo(item) {
      if (item) {
        this.setReffNo(item.transactionIdKey);
        this.setIdCoverNote(item.id);
      }
    },
    async setDataInvoiceType(item) {
      if (item.id === 7) {
        await this.resetState();
        this.$router.replace({
          name: "create-invoice-commission",
          query: {
            status: "ENTRY",
            statusPage: "edit",
            endorse: "create",
            endorsement: 0,
          },
        });
        localStorage.setItem("from", "edit");
        localStorage.removeItem("dataInstallmentUnder");
      } else if (item.id !== 4) {
        await this.resetState();
        this.$router.replace({
          name: "create-invoice-add",
          query: { endorsement: true, type: item.id },
        });
      }
    },
    async getCustomer() {
      this.search.customer.loading = true;
      let resp = await API.get("/clients/api/account/client?page=0&size=-1");
      if (resp.data.code === 0) {
        this.search.customer.loading = false;
        const data = resp.data.data;
        this.search.customer.items = data;
      }
    },
    async getReffNo(accountId) {
      this.search.reffNo.loading = true;
      let resp = await API.get(
        "broking/api/broking/invoice/list-reff-no?accountId.equals=" + accountId
      );
      // let resp = await API.get("/broking/api/broking/placement/?accountId.equals=" + accountId);
      if (resp.data.code === 0) {
        this.search.reffNo.loading = false;
        const data = resp.data.data;
        this.search.reffNo.items = data;
      }
    },
    async getListInvoice() {
      this.loading = true;
      let resp = await API.get(
        "broking/api/broking/invoice/?page=0&size=10&recStatus.equals=2&invoiceType.equals=1"
      );
      if (resp.data.code === 0) {
        this.loading = false;
        const data = resp.data.data;
        this.totalItems = parseInt(resp.headers["x-total-count"]);
        this.listItem = data;
      }
    },
    async getFee() {
      let masterData = JSON.parse(localStorage.getItem("masterData"));
      if (masterData.SYSTEM_FEE_PERCENTAGE) {
        const data = masterData.SYSTEM_FEE_PERCENTAGE;
        data.forEach((element) => {
          // if (element.code === "VAT") {
          //   this.setClientVAT(Number(element.value));
          //   this.setUnderwriterVAT(Number(element.value));
          // }
          if (element.code === "PPH23") {
            this.setUnderwriterPPH23(Number(element.value));
          }
          if (element.code === "EF") {
            this.setEngineeringPercentage(Number(element.value));
          }
        });
      } else {
        let resp = await API.get(
          "config/api/master-parameter/module/SYSTEM_FEE_PERCENTAGE"
        );
        if (resp.data.code === 0) {
          const data = resp.data.data;
          data.forEach((element) => {
            // if (element.code === "VAT") {
            //   this.setClientVAT(Number(element.value));
            //   this.setUnderwriterVAT(Number(element.value));
            // }
            if (element.code === "PPH23") {
              this.setUnderwriterPPH23(Number(element.value));
            }
            if (element.code === "EF") {
              this.setEngineeringPercentage(Number(element.value));
            }
          });
        }
      }

      if(this.$route.query.endorse === "create") {
        let respVat = await API.get("config/api/master-parameter/module/INVOICE_CONFIG");

        if (respVat.data.code === 0) {
          const dataVat = respVat.data.data;
          dataVat.forEach((element) => {
            if (element.code === "VAT") {
              this.setClientVAT(Number(element.value));
            }
            if (element.code === "VAT_UW_BROKERAGE") {
              this.setUnderwriterVAT(Number(element.value));
            }
          });
        }
      }

    },
    nextSumInsured() {
      this.dialogSumInsured = false;
      this.statusSumInsured = false;
      this.submit();
    },
    async submit() {
      if (this.invoice.customerId == "" && this.invoice.customerName == "") {
        this.formHasErrors = true;
        this.setErrorCustomer(true);
      } else if (this.invoice.riskCode == "" && this.invoice.riskName == "") {
        this.formHasErrors = true;
        this.setErrorClassOfRisk(true);
      } else if (this.invoice.insurancePeriodFrom == "") {
        this.formHasErrors = true;
        this.setErrorPeriodFrom(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.insurancePeriodEnd == "") {
        this.formHasErrors = true;
        this.setErrorPeriodEnd(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.attachActiveDate == "") {
        this.formHasErrors = true;
        this.setErrorActiveDate(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.businessCategory == "") {
        this.formHasErrors = true;
        this.setErrorBusinessCategory(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.idEmployee == 0) {
        this.formHasErrors = true;
        this.setErrorAccountExecutive(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (this.invoice.segmentCode == "") {
        this.formHasErrors = true;
        this.setErrorSegment(true);
        this.dialogValidate.show = true;
        this.dialogValidate.text =
          "Field Mandatory in tab Class must be filled";
      } else if (!this.formHasErrors) {
        // if (this.invoice.agentName == "" && this.invoice.amount !== 0 ) {
        //   this.dialogValidate.show = true
        //   this.dialogValidate.text = "You must add Agent Name in tab Agent"
        // } else
        let statusLeader = false;
        this.invoice.insuranceSharingList.forEach((element) => {
          if (element.isLeader === true) {
            statusLeader = true;
          }
        });

        let statusAlteration = false;
        let alteration = {};

        let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
        let equipment = ["ENCPM", "PCPM"];
        let property = [
          "PPAR",
          "PFIRE",
          "PEQV",
          "PMB",
          "PTS",
          "PPARAC",
          "PPARAS",
        ];

        let riskCode = this.invoice.riskCode;

        this.invoice.listObjectInsured.forEach((element) => {
          if (
            element.type === "Alteration" &&
            vehicle.indexOf(riskCode) !== -1 &&
            element.premiTotal > 0
          ) {
            statusAlteration = true;
            alteration = element;
          }
          if (
            element.type === "Alteration" &&
            property.indexOf(riskCode) !== -1 &&
            element.premiTotal > 0
          ) {
            statusAlteration = true;
            alteration = element;
          }
          if (
            element.type === "Alteration" &&
            equipment.indexOf(riskCode) !== -1 &&
            element.premiTotal > 0
          ) {
            statusAlteration = true;
            alteration = element;
          }
        });

        if (this.invoice.sumInsured === 0 && this.statusSumInsured) {
          this.dialogSumInsured = true;
        } else if (
          statusAlteration &&
          this.invoice.listObjectInsured.length !== 0
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text = `Data Object Insured ${alteration.type}, No. ${alteration.no} - ${alteration.objectName} must be Minus`;
        } else if (
          !statusLeader &&
          this.invoice.insuranceSharingList.length !== 0
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "You must Select Leader Insurance in tab Insurance";
        } else if (
          this.invoice.toClientPremium === 0 &&
          this.defaultType !== "Open Cover (Binder)"
        ) {
          if (this.defaultType === "Broking") {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "You must add To Client Premium in tab Value";
          } else {
            this.dialogValidate.show = true;
            this.dialogValidate.text = "You must add Amount in tab Value";
          }
        } else if (
          this.invoice.toUnderwriterPremium === 0 &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "You must add To Underwriter Premium in tab Value";
        } else if (
          this.invoice.toUnderwriterPremium > 0 &&
          this.invoice.toClientPremium > 0 &&
          Math.abs(this.invoice.incomeTotal) < 0 &&
          this.defaultType === "Broking"
        ) {
          // tambah kondisi cover credit premium harus +
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Discount cannot make Total Income gone below zero in tab Value";
        /* Request Remove Validate - 20221019 */
        // } else if (
        //   this.invoice.toUnderwriterPremium > 0 &&
        //   this.invoice.toClientPremium > 0 &&
        //   this.invoice.incomeBrokerage < this.invoice.toClientAdm &&
        //   this.defaultType === "Broking"
        // ) {
        //   // tambah kondisi cover credit premium harus +
        //   this.dialogValidate.show = true;
        //   this.dialogValidate.text =
        //     "Income Brokerage must be greater than To Client Adm/Others in tab Value";
        } else if (
          Math.abs(this.invoice.toClientPremium) < Math.abs(this.invoice.toUnderwriterPremium) &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "To Client Premium must be greater than To Underwriter Premium in tab Value";
        } else if (
          this.invoice.totalPercentage !== 100 &&
          this.invoice.premium !== 0 &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Sharing Percentage must be 100% in tab Insurance";
        } else if (
          this.invoice.totalAdmincostAmount !==
            this.invoice.toUnderwriterPolEndCost &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Admin Cost doesn't match with Admin Cost to Underwriter in tab Value";
        } else if (
          this.invoice.totalStampdutyAmount !==
            this.invoice.toUnderwriterStampDuty &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Stamp Duty doesn't match with Stamp Duty to Underwriter in tab Value";
        } else if (
          this.invoice.totalPercentage !== 100 &&
          this.defaultType === "Open Cover (Binder)"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Sharing Percentage must be 100% in tab Insurance";
        } else if (
          this.invoice.totalAmount !== this.invoice.toUnderwriterPremium &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Amount doesn't match with Premium to Underwriter in tab Value";
          this.dialogValidate.subText =
            "Please Click Tab Insurance to Refresh The Amount";
        } else if (
          this.invoice.totalGrossAmount !== this.invoice.toUnderwriterGross &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Gross doesn't match with Net to Underwriter in tab Value";
        } else if (
          this.invoice.toClientInstallmentList.length > 0 &&
          this.invoice.toClientTotalPercentage !== 100
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Percentage Client must be 100% in tab Installment";
        } else if (
          this.invoice.toClientInstallmentList.length > 0 &&
          this.invoice.toClientTotalPercentage === 100 &&
          this.invoice.toUnderwriterInstallmentList.length === 0 &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "To Underwriter must be filled in tab Installment";
        } else if (
          this.invoice.toClientInstallmentList.length > 0 &&
          this.invoice.toClientTotalAmount !==
            this.invoice.premiumClientInstallment &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Amount Client doesn't match with Premium in tab Installment";
          this.dialogValidate.subText =
            "Please Click Tab Installment to Refresh The Amount";
        } else if (
          this.invoice.toClientInstallmentList.length > 0 &&
          this.invoice.toClientTotalAdminCost !==
            this.invoice.toClientPolEndCost &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Admin Cost doesn't match with Admin Cost to Client in tab Value";
        } else if (
          this.invoice.toClientInstallmentList.length > 0 &&
          this.invoice.toClientTotalStampdutyAmount !==
            this.invoice.toClientStampDuty &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Stamp Duty doesn't match with Stamp Duty to Client in tab Value";
        } else if (
          this.invoice.toClientInstallmentList.length > 0 &&
          this.invoice.toClientTotalTotalAmount !==
            this.invoice.toClientGrossTotal &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total doesn't match with Gross Total to Client in tab Value";
        } else if (
          this.invoice.toUnderwriterInstallmentList.length > 0 &&
          this.invoice.toUnderwriterTotalPercentage !== 100
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Percentage Underwriter must be 100% in tab Installment";
        } else if (
          this.invoice.toUnderwriterInstallmentList.length > 0 &&
          this.invoice.toUnderwriterTotalPercentage === 100 &&
          this.invoice.toClientInstallmentList.length === 0 &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "To Client must be filled in tab Installment";
        } else if (
          this.invoice.toUnderwriterInstallmentList.length > 0 &&
          this.invoice.toUnderwriterTotalAmount !==
            this.invoice.toUnderwriterPremium &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Amount Underwriter doesn't match with Premium in tab Installment";
          this.dialogValidate.subText =
            "Please Click Tab Installment to Refresh The Amount";
        } else if (
          this.invoice.toUnderwriterInstallmentList.length > 0 &&
          this.invoice.toUnderwriterTotalAdminCost !==
            this.invoice.toUnderwriterPolEndCost &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Admin Cost doesn't match with Admin Cost to Underwriter in tab Value";
        } else if (
          this.invoice.toUnderwriterInstallmentList.length > 0 &&
          this.invoice.toUnderwriterTotalStampdutyAmount !==
            this.invoice.toUnderwriterStampDuty &&
          this.defaultType === "Broking"
        ) {
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Total Stamp Duty doesn't match with Stamp Duty to Underwriter in tab Value";
        } else if (
          this.invoice.toUnderwriterPremium > 0 &&
          this.invoice.toClientPremium > 0 &&
          this.invoice.variousCommissionOut > this.invoice.incomeBrokerage &&
          this.defaultType === "Broking"
        ) {
          // tambah kondisi cover credit premium harus +
          this.dialogValidate.show = true;
          this.dialogValidate.text =
            "Commission Out should not be greater than Brokerage in tab Value";
        } else if (
            this.invoice.toUnderwriterPremium > 0 &&
            this.invoice.toClientPremium > 0 &&
            Math.abs(this.invoice.variousCommissionOut) > (Math.abs(this.invoice.variousAddBrokerage) + Math.abs(this.invoice.incomeBrokerage)) &&
            this.defaultType === "Broking"
          ) {
            this.dialogValidate.show = true;
            this.dialogValidate.text =
              "Total Commission should not be greater than Total Income in tab Value";
        } else {
          this.dialog.show = true;
          await this.doProcess();
          // if (this.defaultType === 'Broking') {
          //   let status = false
          //   let obj = {}
          //   this.invoice.insuranceSharingList.forEach(element => {
          //     if (element.isLeader === true)  {
          //       status = true
          //       obj = element
          //     }
          //   })
          //   let newData = this.invoice.insuranceSharingList
          //   const max = newData.reduce(function(prev, current) {
          //       return (prev.sharingPercentage > current.sharingPercentage) ? prev : current
          //   })

          //   if (!status) {
          //     this.invoice.insuranceSharingList.forEach(element => {
          //       if (element.index === max.index)  {
          //         return element.isLeader = true
          //       }
          //     });
          //     this.dialog.show = true;
          //       await this.doProcess();
          //   } else {
          //     if (obj.sharingPercentage < max.sharingPercentage) {
          //       this.dialogLeader = true
          //     } else {
          //       this.dialog.show = true;
          //       await this.doProcess();
          //     }
          //   }
          // } else {
          //   this.dialog.show = true;
          //     await this.doProcess();
          // }
        }
      } else {
        this.formHasErrors = false;
      }
    },
    async setLeader() {
      this.dialogLeader = false;
      let newData = this.invoice.insuranceSharingList;
      const max = newData.reduce(function (prev, current) {
        return prev.sharingPercentage > current.sharingPercentage
          ? prev
          : current;
      });
      this.invoice.insuranceSharingList.forEach((element) => {
        if (element.index === max.index) {
          element.isLeader = true;
        } else {
          element.isLeader = false;
        }
      });
      this.dialog.show = true;
      await this.doProcess();
    },
    async nextProcess() {
      this.dialogLeader = false;
      this.dialog.show = true;
      await this.doProcess();
    },
    async doProcess() {
      let index = "";
      let insuranceSharingList = this.invoice.insuranceSharingList;
      for (var i = 0; i < insuranceSharingList.length; i++) {
        if (insuranceSharingList[i].insuranceName == "ALL") {
          index = i;
        }
      }
      if (String(index).length > 0) {
        insuranceSharingList.splice(index, 1);
      }
      let efPremium;
      if (typeof this.invoice.efPremium === "number") {
        efPremium = this.invoice.efPremium;
      } else if (typeof this.invoice.efPremium === "string") {
        efPremium = this.convertMoney(this.invoice.efPremium);
      }
      let paramJSON = {
        invoice: {
          customerId:
            this.invoice.customerId == "" ? null : this.invoice.customerId,
          customerName:
            this.invoice.customerName == "" ? null : this.invoice.customerName,
          flagShadow:
            this.invoice.flagShadow == 0 ? 0 : this.invoice.flagShadow,
          idCoverNote:
            this.invoice.idCoverNote == 0 ? null : this.invoice.idCoverNote,
          idEmployee:
            this.invoice.idEmployee == 0 ? null : this.invoice.idEmployee,
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
          invoiceNo:
            this.invoice.invoiceNo == 0 ? null : this.invoice.invoiceNo,
          invoiceType: 4, // this.invoice.invoiceType == 0 ? null : this.invoice.invoiceType,
          refNo: this.invoice.refNo == "" ? null : this.invoice.refNo,
          segmentCode:
            this.invoice.segmentCode == "" ? null : this.invoice.segmentCode,
          subSegmentCode:
            this.invoice.subSegmentCode == ""
              ? null
              : this.invoice.subSegmentCode,
          multiInsuredFlag: this.invoice.multiInsuredFlag,
          // invoiceAgent: {
          //   agentId: this.invoice.agentId == 0 ? null : this.invoice.agentId,
          //   agentName: this.invoice.agentName == "" ? null : this.invoice.agentName,
          //   amount: this.invoice.amount == 0 ? null : this.invoice.amount
          // },
          parentRef: this.parentRef == "" ? null : this.parentRef,
          endorsementNo: this.endorsementNo == "" ? null : this.endorsementNo,
          seqNo: this.seqNo == "" ? null : this.seqNo,
          idEndorsment: this.idEndorsment == null ? 0 : this.idEndorsment,
          listObjectInsured: this.invoice.listObjectInsured,
          invoiceAgentList: this.invoice.invoiceAgentList,
          totalAmountAgent:
            this.invoice.totalAmountAgent == 0
              ? null
              : this.invoice.totalAmountAgent,
          invoiceClass: {
            attachActiveDate:
              this.invoice.attachActiveDate == ""
                ? null
                : this.invoice.attachActiveDate,
            businessCategory:
              this.invoice.businessCategory == ""
                ? null
                : this.invoice.businessCategory,
            businessName:
              this.invoice.businessName == ""
                ? null
                : this.invoice.businessName,
            description:
              this.invoice.description == "" ? null : this.invoice.description,
            memo: this.invoice.memo == "" ? null : this.invoice.memo,
            destAccount:
              this.invoice.destAccount == "" ? null : this.invoice.destAccount,
            destAccountCode:
              this.invoice.destAccountCode == ""
                ? null
                : this.invoice.destAccountCode,
            insurancePeriodEnd:
              this.invoice.insurancePeriodEnd == ""
                ? null
                : this.invoice.insurancePeriodEnd,
            insurancePeriodFrom:
              this.invoice.insurancePeriodFrom == ""
                ? null
                : this.invoice.insurancePeriodFrom,
            insured: this.invoice.insured == "" ? null : this.invoice.insured,
            insuredAddress:
              this.invoice.insuredAddress == ""
                ? null
                : this.invoice.insuredAddress,
            location:
              this.invoice.location == "" ? null : this.invoice.location,
            masterPolicy:
              this.invoice.masterPolicy == ""
                ? null
                : this.invoice.masterPolicy,
            particulars:
              this.invoice.particulars == "" ? null : this.invoice.particulars,
            policyNo:
              this.invoice.policyNo == "" ? null : this.invoice.policyNo,
            riskCode:
              this.invoice.riskCode == "" ? null : this.invoice.riskCode,
            riskName:
              this.invoice.riskName == "" ? null : this.invoice.riskName,
          },
          invoiceInstallment: {
            docType: null, // this.invoice.docType == "" ? null : this.invoice.docType,
            filename: null, //this.invoice.filename == "" ? null : this.invoice.filename,
            toClientInstallmentList: this.invoice.toClientInstallmentList,
            toClientTotalAdminCost:
              this.invoice.toClientTotalAdminCost == 0
                ? null
                : this.invoice.toClientTotalAdminCost,
            toClientTotalAmount:
              this.invoice.toClientTotalAmount == 0
                ? null
                : this.invoice.toClientTotalAmount,
            toClientTotalGrossAmount:
              this.invoice.toClientTotalGrossAmount == 0
                ? null
                : this.invoice.toClientTotalGrossAmount,
            toClientTotalPercentage:
              this.invoice.toClientTotalPercentage == 0
                ? null
                : this.invoice.toClientTotalPercentage,
            toClientTotalStampdutyAmount:
              this.invoice.toClientTotalStampdutyAmount == 0
                ? null
                : this.invoice.toClientTotalStampdutyAmount,
            toClientTotalTotalAmount:
              this.invoice.toClientTotalTotalAmount == 0
                ? null
                : this.invoice.toClientTotalTotalAmount,
            toClientTotalVatAmount:
              this.invoice.toClientTotalVatAmount == 0
                ? null
                : this.invoice.toClientTotalVatAmount,
            toUnderwriterInstallmentList: this.invoice
              .toUnderwriterInstallmentList,
            toUnderwriterTotalAdminCost:
              this.invoice.toUnderwriterTotalAdminCost == 0
                ? null
                : this.invoice.toUnderwriterTotalAdminCost,
            toUnderwriterTotalAmount:
              this.invoice.toUnderwriterTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalAmount,
            toUnderwriterTotalBrokerageAmount:
              this.invoice.toUnderwriterTotalBrokerageAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalBrokerageAmount,
            toUnderwriterTotalGrossAmount:
              this.invoice.toUnderwriterTotalGrossAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalGrossAmount,
            toUnderwriterTotalPercentage:
              this.invoice.toUnderwriterTotalPercentage == 0
                ? null
                : this.invoice.toUnderwriterTotalPercentage,
            toUnderwriterTotalPph23Amount:
              this.invoice.toUnderwriterTotalPph23Amount == 0
                ? null
                : this.invoice.toUnderwriterTotalPph23Amount,
            toUnderwriterTotalStampdutyAmount:
              this.invoice.toUnderwriterTotalStampdutyAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalStampdutyAmount,
            toUnderwriterTotalTotalAmount:
              this.invoice.toUnderwriterTotalTotalAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalTotalAmount,
            toUnderwriterTotalVatAmount:
              this.invoice.toUnderwriterTotalVatAmount == 0
                ? null
                : this.invoice.toUnderwriterTotalVatAmount,
          },
          invoiceInsurance: {
            insuranceSharingList: insuranceSharingList,
            premium: this.invoice.premium == 0 ? null : this.invoice.premium,
            efPremium: efPremium == 0 ? null : efPremium,
            totalAdmincostAmount:
              this.invoice.totalAdmincostAmount == 0
                ? null
                : this.invoice.totalAdmincostAmount,
            totalAmount:
              this.invoice.totalAmount == 0 ? null : this.invoice.totalAmount,
            totalBrokerage:
              this.invoice.totalBrokerage == 0
                ? null
                : this.invoice.totalBrokerage,
            totalBrokerageAmount:
              this.invoice.totalBrokerageAmount == 0
                ? null
                : this.invoice.totalBrokerageAmount,
            totalEfAmount:
              this.invoice.totalEfAmount == 0
                ? null
                : this.invoice.totalEfAmount,
            totalEfPercentage:
              this.invoice.totalEfPercentage == 0
                ? null
                : this.invoice.totalEfPercentage,
            totalEfSharingAmount:
              this.invoice.totalEfSharingAmount == 0
                ? null
                : this.invoice.totalEfSharingAmount,
            totalGrossAmount:
              this.invoice.totalGrossAmount == 0
                ? null
                : this.invoice.totalGrossAmount,
            totalPPH23:
              this.invoice.totalPPH23 == 0 ? null : this.invoice.totalPPH23,
            totalPercentage:
              this.invoice.totalPercentage == 0
                ? null
                : this.invoice.totalPercentage,
            totalStampdutyAmount:
              this.invoice.totalStampdutyAmount == 0
                ? null
                : this.invoice.totalStampdutyAmount,
            totalVat: this.invoice.totalVat == 0 ? null : this.invoice.totalVat,
            totalTotalAmount:
              this.invoice.totalTotalAmount == 0
                ? null
                : this.invoice.totalTotalAmount,
          },
          invoiceValue: {
            currency:
              this.invoice.currency == "" ? null : this.invoice.currency,
            clientVatPercentage:
              this.invoice.clientVatPercentage == 0
                ? 0
                : this.invoice.clientVatPercentage,
            insurerPph23Percentage:
              this.invoice.insurerPph23Percentage == 0
                ? null
                : this.invoice.insurerPph23Percentage,
            insurerVatPercentage:
              this.invoice.insurerVatPercentage == 0
                ? 0
                : this.invoice.insurerVatPercentage,
            exchangeRate:
              this.invoice.exchangeRate == 0 ? null : this.invoice.exchangeRate,
            incomeBrokerage:
              this.invoice.incomeBrokerage == 0
                ? null
                : this.invoice.incomeBrokerage,
            incomeNet:
              this.invoice.incomeNet == 0 ? null : this.invoice.incomeNet,
            incomeTotal:
              this.invoice.incomeTotal == 0 ? null : this.invoice.incomeTotal,
            incomeVarious:
              this.invoice.incomeVarious == 0
                ? null
                : this.invoice.incomeVarious,
            incomeVat:
              this.invoice.incomeVat == 0 ? null : this.invoice.incomeVat,
            premiumRate:
              this.invoice.premiumRate == 0 ? null : this.invoice.premiumRate,
            sumInsured:
              this.invoice.sumInsured == 0 ? null : this.invoice.sumInsured,
            toClientAdm:
              this.invoice.toClientAdm == 0 ? null : this.invoice.toClientAdm,
            toClientGross:
              this.invoice.toClientGross == 0
                ? null
                : this.invoice.toClientGross,
            toClientGrossTotal:
              this.invoice.toClientGrossTotal == 0
                ? null
                : this.invoice.toClientGrossTotal,
            toClientPolEndCost:
              this.invoice.toClientPolEndCost == 0
                ? null
                : this.invoice.toClientPolEndCost,
            toClientPremium:
              this.invoice.toClientPremium == 0
                ? null
                : this.invoice.toClientPremium,
            toClientStampDuty:
              this.invoice.toClientStampDuty == 0
                ? null
                : this.invoice.toClientStampDuty,
            toClientVat:
              this.invoice.toClientVat == 0 ? null : this.invoice.toClientVat,
            toUnderwriterGross:
              this.invoice.toUnderwriterGross == 0
                ? null
                : this.invoice.toUnderwriterGross,
            toUnderwriterNet:
              this.invoice.toUnderwriterNet == 0
                ? null
                : this.invoice.toUnderwriterNet,
            toUnderwriterPolEndCost:
              this.invoice.toUnderwriterPolEndCost == 0
                ? null
                : this.invoice.toUnderwriterPolEndCost,
            toUnderwriterPph23:
              this.invoice.toUnderwriterPph23 == 0
                ? null
                : this.invoice.toUnderwriterPph23,
            toUnderwriterPremium:
              this.invoice.toUnderwriterPremium == 0
                ? null
                : this.invoice.toUnderwriterPremium,
            toUnderwriterStampDuty:
              this.invoice.toUnderwriterStampDuty == 0
                ? null
                : this.invoice.toUnderwriterStampDuty,
            toUnderwriterVat:
              this.invoice.toUnderwriterVat == 0
                ? null
                : this.invoice.toUnderwriterVat,
            variousAddBrokerage:
              this.invoice.variousAddBrokerage == 0
                ? null
                : this.invoice.variousAddBrokerage,
            variousCommissionOut:
              this.invoice.variousCommissionOut == 0
                ? null
                : this.invoice.variousCommissionOut,
            variousOthers:
              this.invoice.variousOthers == 0
                ? null
                : this.invoice.variousOthers,
            variousTotal:
              this.invoice.variousTotal == 0 ? null : this.invoice.variousTotal,
          },
        },
      };
      this.dataParam = paramJSON;
      // console.debug(paramJSON)
      // this.dialog.show = false;
      let param = JSON.stringify(paramJSON);
      let url = "";
      if (this.$route.query.endorse !== "create") {
        url = "/broking/api/broking/invoice/update/endorsement";
      } else {
        url = "/broking/api/broking/invoice/add/endorsement";
      }

      API.post(url, param).then((resp) => {
        if (resp.data.code == 0) {
          const data = resp.data.invoice;
          this.dialog.success = true;
          // this.dialog.text = "Your Data has been Saved";
          this.addState(data);
          this.dialog.show = false;
          this.setSnackbar({ 
            top: true, 
            notOutlined: true,
            textTitle: true,
            icon: "mdi-check-circle"
          });
          this.clickSukses(data.idInvoice);
        } else {
          this.dialog.text = "Your Data Failed to Save";
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    back() {
      console.debug("back");
      this.dialog = { show: false, success: false, error: false, text: "" };
      this.$router.replace({ name: "create-invoice-list", query: {back: true}, });
      this.resetState();
      localStorage.removeItem("from");
    },
    change() {
      this.statusPage = "edit";
      this.setStatusPage("edit");
      this.$router.replace({
        name: "create-invoice-endorsement",
        query: { ...this.$route.query, statusPage: "edit" },
      });
      localStorage.removeItem("dataInstallmentUnder");
      this.setStatusData(true);
    },
    copy() {
      this.statusPage = "edit";
      this.setStatusPage("edit");
      this.$router.replace({
        name: "create-invoice-copy",
        query: { ...this.$route.query, statusPage: "edit" },
      });
      this.setStatusData(true);
    },
    cancel() {
      console.debug("cancel");
      let id = this.$route.query.id;
      if(id && this.$route.query.endorse == "create") {
        this.$router.replace({
          name: "create-invoice-view",
          // params: { item: item },
          query: {
            id: id,
            status: this.statusBefore,
            statusPage: "view",
            isActive: this.$route.query.isActive,
            alreadyEndorse: this.$route.query.alreadyEndorse,
            alreadyCancel: this.$route.query.alreadyCancel,
          },
        });
        localStorage.setItem("from", "view");
        localStorage.removeItem("dataInstallmentUnder");
      } else if (id && this.$route.query.endorse == "view") {
        this.getInvoiceById(id, "view");
      } else {
        this.$router.replace({ name: "create-invoice-list", });
      }
      // if (this.$route.query.endorse === "create") {
      //   id = this.invoice.idInvoice;
      // }
      // this.getInvoiceById(id, "view");
    },
    clickSukses(id = null) {
      if (this.dialog.success) {
        this.dialog = { show: false, success: false, error: false, text: "" };
        // this.cancel();
        if(id) {
          this.getInvoiceById(id, "view");
        } else {
          this.cancel();
        }
        
      } else {
        this.dialog = { show: false, success: false, error: false, text: "" };
      }
    },
    async previewMultiInsured() {
      let insured = [
        "PMVI",
        "MVFLEET",
        "MVIND",
        "MVCYLE",
        "MVBIN",
        "ENCPM",
        "PCPM",
        "PPAR",
        "PFIRE",
        "PEQV",
        "PMB",
        "PTS",
        "PPARAC",
        "PPARAS",
      ];
      let riskCode = this.invoice.riskCode;
      if (insured.indexOf(riskCode) !== -1) {
        this.dialogLoading = true;
        let param = {
          refNo: this.invoice.idInvoice,
          riskCode: this.invoice.riskCode,
        };
        await API.get(
          "broking/api/broking/invoice/list-multi-insured",
          param
        ).then((resp) => {
          if (resp.data.code === 0) {
            let data = resp.data;
            let metasList = [];
            for (let d of data.data) {
              metasList.push(JSON.parse(d.metas));
            }
            this.dataInsurance = metasList.map(function (currentValue, Index) {
              currentValue.seqNo = Index + 1;
              return currentValue;
            });
            this.dialogLoading = false;
            // this.dialogApprove = true;
            this.dialogBankReceive = true;
          }
        });
      } else {
        // this.dialogApprove = true;
        this.dialogBankReceive = true;
      }
    },
    async chechEffectiveDate() {
      if (this.invoice.multiInsuredFlag === 1) {
        let status = false;
        let data = this.dataInsurance;
        let obj = {};
        for (let i = 0; i < data.length; i++) {
          let activeDate = new Date(this.invoice.attachActiveDate);
          let convertDate = "";

          let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
          let equipment = ["ENCPM", "PCPM"];
          let property = [
            "PPAR",
            "PFIRE",
            "PEQV",
            "PMB",
            "PTS",
            "PPARAC",
            "PPARAS",
          ];

          let riskCode = this.invoice.riskCode;

          if (vehicle.indexOf(riskCode) !== -1) {
            const [month, day, year] = data[i].effectiveDateFrom.split("/");
            convertDate = `${year}-${month}-${day}`;
          } else if (property.indexOf(riskCode) !== -1) {
            const [month, day, year] = data[i].effectiveDate.split("/");
            convertDate = `${year}-${month}-${day}`;
          } else if (equipment.indexOf(riskCode) !== -1) {
            const [month, day, year] = data[i].effectiveDateFrom.split("/");
            convertDate = `${year}-${month}-${day}`;
          }
          let activeDateMulti = new Date(convertDate);
          if (activeDateMulti.getTime() < activeDate.getTime()) {
            status = true;
            obj = data[i];
            break;
          }
        }

        if (status) {
          this.dialogMulti.show = true;
          let dateSplit = this.invoice.attachActiveDate.split("-");
          let newDate = `${dateSplit[2]}/${dateSplit[1]}/${dateSplit[0]}`;

          let vehicle = ["PMVI", "MVFLEET", "MVIND", "MVCYLE", "MVBIN"];
          let equipment = ["ENCPM", "PCPM"];
          let property = [
            "PPAR",
            "PFIRE",
            "PEQV",
            "PMB",
            "PTS",
            "PPARAC",
            "PPARAS",
          ];

          let riskCode = this.invoice.riskCode;

          if (vehicle.indexOf(riskCode) !== -1) {
            this.dialogMulti.text = `Effective Date in Multi Insured (${this.formatDate(
              obj.effectiveDateFrom
            )}) is less then Attachment Date (${newDate}) in the Policy`;
          } else if (property.indexOf(riskCode) !== -1) {
            this.dialogMulti.text = `Effective Date in Multi Insured (${this.formatDate(
              obj.effectiveDate
            )}) is less then Attachment Date (${newDate}) in the Policy`;
          } else if (equipment.indexOf(riskCode) !== -1) {
            this.dialogMulti.text = `Effective Date in Multi Insured (${this.formatDate(
              obj.effectiveDateFrom
            )}) is less then Attachment Date (${newDate}) in the Policy`;
          }
          this.dialogMulti.text2 = `Please check and re-type insured with Sequence No : ${obj.seqNo}`;
        } else {
          await this.cekCNInstallment();
        }
      } else {
        this.cekCNInstallment();
      }
    },
    formatDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${day}/${month}/${year}`;
    },
    convertUnder(data) {
      let array = [];
      data.forEach((element) => {
        array.push({
          admincostAmount: element.admincostAmount,
          amount: element.amount,
          dueDate: element.dueDate,
          grossAmount: element.grossAmount,
          no: element.no,
          percentage: Number(element.percentage),
          stampdutyAmount: element.stampdutyAmount,
          brokerageAmount: element.brokerageAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    cekCNInstallment() {
      if(
          this.invoice.toUnderwriterPremium < 0 && 
          (this.invoice.toUnderwriterPolEndCost > 0 || this.invoice.toUnderwriterStampDuty > 0)
      ) {        
        let InsuranceLeader = this.invoice.insuranceSharingListUnder.filter((v) => v.isLeader == true)
        console.log("=== CEK CN INSTALLMENT ===");
        // console.log("TEST", this.invoice.toUnderwriterPremium + " " + this.invoice.toUnderwriterPolEndCost + " " + this.invoice.toUnderwriterStampDuty);
        // console.log("TEST2", InsuranceLeader);
        // console.log("TEST3", this.invoice.toUnderwriterInstallmentList);

        let param = {
          idInsurance: InsuranceLeader[0].insuranceId,
          installmentUnderwriterList: this.convertUnder(this.invoice.toUnderwriterInstallmentList),
          insuranceList: InsuranceLeader,
        };
        
        this.dialog = {
          show: true,
          success: false,
          error: false,
          text: "",
        }
        this.errorDescription = "";

        API.post(
          "/broking/api/broking/invoice/installment-underwriter",
          param
        ).then((resp) => {
          if(resp.data.code == 0) {
            let data = resp.data.installmentUnderwriterList;
            let firstRowList = data.filter((v) => v.no == 1 || v.no == 0)
            if(firstRowList[0].totalAmount > 0) {
              this.dialog.show = false;
              this.dialogValidate.show = true;
              this.dialogValidate.text = "Admin cost + Stamp duty > Amount Installment 1, Please split transaction";
            } else {
              this.approved();
            }
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.text = "Your Data Failed to Approved";
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }).catch((error) => {
          console.log(error);
          this.dialog.show = false;
        });
      } else {
        this.dialog = {
          success: false,
          error: false,
          text: "",
        }
        this.errorDescription = "";
        this.approved();
      }
    },
    approved() {
      this.dialog.show = true;
      let paramJSON = {
        invoice: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/approve/endorsement", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.$router.replace({
              name: "create-invoice-endorsement",
              query: { ...this.$route.query, status: "APPROVE" },
            });
            this.status = "APPROVE";
            this.statusApprove = false;
            this.dialog.success = true;
            this.dialog.text = "Your Data has been Approved";
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.text = "Your Data Failed to Approved";
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    final() {
      this.dialog.show = true;
      let paramJSON = {
        invoiceManagement: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/final/endorsement", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.$router.replace({
              name: "create-invoice-endorsement",
              query: { ...this.$route.query, status: "FINAL" },
            });
            this.status = "FINAL";
            this.statusApprove = false;
            this.invoiceNumber = resp.data.invoice.invoiceNo;
            this.dialog.success = true;
            this.dialog.text = "Your Data has been Finalized";
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.text = "Your Data Failed to Finalized";
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    unapprove() {
      this.dialog.show = true;
      let paramJSON = {
        invoice: {
          idInvoice:
            this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post(
        "/broking/api/broking/invoice/unapproved/endorsement",
        param
      ).then((resp) => {
        if (resp.data.code == 0) {
          this.$router.replace({
            name: "create-invoice-endorsement",
            query: { ...this.$route.query, status: "ENTRY" },
          });
          this.status = "ENTRY";
          this.statusApprove = true;
          this.dialog.success = true;
          this.dialog.text = "Your Data has been Unapproved";
        } else {
          const err =
            resp.data.errorMessage === null
              ? resp.data.errorDescription
              : resp.data.errorMessage;
          this.dialog.text = "Your Data Failed to Unapproved";
          this.errorDescription = err;
          this.dialog.error = true;
        }
      });
    },
    deleteInvoice() {
      this.dialog.show = true;
      let idInvoice =
        this.invoice.idInvoice == 0 ? null : this.invoice.idInvoice;
      // let param = JSON.stringify(paramJSON);
      API.post("/broking/api/broking/invoice/delete/" + idInvoice).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.back();
          } else {
            const err =
              resp.data.errorMessage === null
                ? resp.data.errorDescription
                : resp.data.errorMessage;
            this.dialog.text = "Your Data Failed to Delete";
            this.errorDescription = err;
            this.dialog.error = true;
          }
        }
      );
    },
    convertForUnder(data) {
      let array = [{ insuranceName: "ALL", index: 0 }];
      data.forEach((element, index) => {
        array.push({
          index: index + 1,
          isLeader: element.isLeader,
          insuranceId: element.insuranceId,
          insuranceName: element.insuranceName,
          insuranceCode: element.insuranceCode,
          sharingPercentage: element.sharingPercentage,
          amount: element.amount,
          brokerage: element.brokerage,
          brokerageAmount: element.brokerageAmount,
          admincostAmount: element.admincostAmount,
          stampdutyAmount: element.stampdutyAmount,
          vatAmount: element.vatAmount,
          pph23Amount: element.pph23Amount,
          grossAmount: element.grossAmount,
          efAmount: element.efAmount,
          efPercentage: element.efPercentage,
          totalAmount: element.totalAmount,
        });
      });
      return array;
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
  },
};
</script>

<style scoped>
.marginLeftRow {
  margin-left: -4px !important;
}
.marginLeftField {
  margin-left: -6px !important;
}
.contentFix {
  padding-top: 100px;
}
.headerFix {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.headerFix2 {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 123px;
}
.buttonFixed {
  color: white;
  position: fixed;
  z-index: 3;
  margin-top: 3px;
  right: 10px;
}
.buttonFixed2 {
  color: white;
  position: fixed;
  z-index: 3;
  right: 10px;
  top: 126px;
}
.fontBold {
  font-weight: 800;
  font-size: 1.5rem !important;
}
</style>
