<template>
  <v-card flat>
    <isttoolbar title="Currency" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            min-height="40"
            min-width="40"
            @click="editItem"
            class="mr-2"
            text
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-square-edit-outline</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn min-height="40" v-bind="attrs" v-on="on" min-width="40" @click="back" text>
            <v-icon>mdi-cancel</v-icon>
          </v-btn>
        </template>
        <span>Close</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar title="View Currency" class="mb-4" dark color="primary"></isttoolbar>
    <v-form disabled>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Currency Code</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Currency Code"
            ref="code"
            solo
            flat
            outlined
            dense
            name="code"
            v-model="data.code"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Currency Name</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-text-field
            label="Currency Name"
            ref="name"
            name="name"
            solo
            flat
            outlined
            dense
            v-model="data.name"
            hide-details="auto"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="8" align-self="start" class="pa-1">
          <v-switch
            ref="status"
            name="status"
            color="success"
            v-model="data.status"
            inset
            dense
            hide-details="auto"
            class="mt-0"
            :label="`${data.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
export default {
  components: {
    isttoolbar
  },
  props: {
    source: String
  },
  created() {
    if (this.$route.query.id) {
      this.data.id = this.$route.query.id;

      API.get("/config/api/master-currency/" + this.data.id).then(resp => {
        let dataResp = resp.data.data;
        this.data.code = dataResp.code;
        this.data.name = dataResp.value;
        this.data.status = dataResp.isActive == 1 ? true : false;
        this.data.created_by = dataResp.createdBy;
        this.data.created_date = dataResp.createdDate;
        this.data.deleted = dataResp.isDeleted == 1 ? "True" : "False";
      });
    }
  },
  data: () => ({
    data: {
      code: "",
      name: "",
      status: "",
      created_by: "",
      id: "",
      created_date: "",
      deleted: ""
    },
    formHasErrors: false,
    rules: {
      required: value => !!value || "Required."
    },
    statusItems: [
      { code: 0, desc: "Inactive" },
      { code: 1, desc: "Active" }
    ]
  }),
  computed: {},

  methods: {
    back() {
      this.$router.replace({ name: "currency-manager-list", query: {back: true}, });
    },
    editItem() {
      this.$router.push({
        name: "currency-edit",
        query: { id: this.$route.query.id, mode: "d" }
      });
    }
  }
};
</script>