<template>
  <v-card flat>
    <isttoolbar title="Currency" dark color="secondary" icon="mdi-cog-outline">
      <v-spacer />
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            min-height="40"
            @click="disableForm = false"
            text
            v-show="checkAuthorities('currency-add')"
          >
            <v-icon>mdi-pen mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-btn v-else @click="save" outlined class="mx-1" min-width="100px">
        Save
      </v-btn>
      <v-tooltip bottom v-if="disableForm">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="toList" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-btn v-else @click="toList" outlined class="mx-1" min-width="100px">
        Cancel
      </v-btn>
    </isttoolbar>
    <isttoolbar
      :title="disableForm ? 'View Currency' : 'Edit Currency'"
      class="mb-4"
      dark
      color="primary"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency Code
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Currency Code"
            ref="code"
            solo
            flat
            outlined
            dense
            name="code"
            v-model="data.code"
            hide-details="auto"
            :rules="[rules.required]"
            :readonly="codeDisable"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency Name
            <span class="error--text">*</span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            label="Currency Name"
            ref="name"
            name="name"
            solo
            flat
            outlined
            dense
            v-model="data.name"
            hide-details="auto"
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Record Status</span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-switch
            ref="status"
            name="status"
            color="success"
            v-model="data.status"
            inset
            dense
            hide-details="auto"
            class="mt-0"
            :label="`${data.status ? 'Active' : 'Inactive'}`"
          ></v-switch>
        </v-col>
      </v-row>
      <br />
      <v-row align="center" class="mx-2" v-show="disableForm">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Modified By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.modifName"
            ref="modifName"
            name="modifName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="data.modifDate"
            ref="modifDate"
            name="modifDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? toList() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";

export default {
  components: {
    isttoolbar,
  },
  props: {
    source: String,
  },
  async created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      this.data.id = this.$route.query.id;

      await API.get("/config/api/master-currency/" + this.data.id).then(
        (resp) => {
          let dataResp = resp.data.data;
          this.data.id = dataResp.id;
          this.data.code = dataResp.code;
          this.data.name = dataResp.value;
          this.data.status = dataResp.isActive == 1 ? true : false;
          this.data.created_by = dataResp.createdBy;
          this.data.created_date = dataResp.createdDate;
          this.data.deleted = dataResp.isDeleted == 1 ? "True" : "False";
          this.data.entryName = dataResp.createdBy;
          this.data.entryDate = this.formatDate(dataResp.createdDate);
          this.data.modifName = dataResp.modifiedBy;
          this.data.modifDate = this.formatDate(dataResp.modifiedDate);

          this.codeDisable = dataResp.code.length > 0;
        }
      );
      this.overlay = false;
    }
  },
  data: () => ({
    data: {
      code: "",
      name: "",
      status: "",
      created_by: "",
      id: "",
      created_date: "",
      deleted: "",
      entryName: "",
      entryDate: "",
      modifName: "",
      modifDate: "",
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    statusItems: [
      { code: 0, desc: "Inactive" },
      { code: 1, desc: "Active" },
    ],
    codeDisable: false,
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    overlay: true,
  }),
  computed: {
    form() {
      return {
        code: this.data.code,
        name: this.data.name,
        status: this.data.status,
        // created_by: this.data.created_by,
        // created_date: this.data.created_date,
        // deleted: this.data.deleted
      };
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    formatDate(date) {
      //dd-MM-yyyy hh:mm:ss
      if (!date) return null;
      
      let day = date.substring(8, 10);
      let month = date.substring(5, 7);
      let year = date.substring(0, 4);
      let hour = date.substring(11, 13);
      let minute = date.substring(14, 16);
      let second = date.substring(17, 19);

      return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.disableForm = true;
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "currency-manager-list", query: {back: true}, });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f] && f != "status") {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.dialog.success = false;
        this.dialog.error = false;
        this.dialog.show = true;
        await this.doEdit();
      } else {
        this.formHasErrors = false;
      }
    },
    async doEdit() {
      let paramJSON = {
        currency: {
          id: parseInt(this.data.id),
          code: this.data.code,
          value: this.data.name,
          isActive: this.data.status ? 1 : 0,
        },
      };
      let param = JSON.stringify(paramJSON);
      API.post("/config/api/master-currency/update", param)
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            // this.dialog.success = true;
            this.dialog = { show: false, success: false, error: false, errorMessage: "" };
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.toList();
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
        });
    },
  },
};
</script>