<template>
  <v-card flat>
    <isttoolbar title="Tax - Faktur Pajak Lampiran" dark color="secondary" icon="mdi-account-cash">
    </isttoolbar>
    <isttoolbar flat dark color="primary" class="ma-0 pa-0">
      <v-btn
        tile
        elevation="0"
        height="48px"
        width="120px"
        :color="tabBtn == 0 ? '#005fb3' : 'primary'"
        @click="brokerageRefresh()"
        :style="tabBtn == 0 ? 'border-bottom: 2px solid white;' : ''"
      >
        <span 
          :class="tabBtn == 0 ? 'font-weight-black' : ''"
        >Brokerage
        </span>
      </v-btn>
      <v-btn
        tile
        elevation="0"
        height="48px"
        width="120px"
        :color="tabBtn == 1 ? '#005fb3' : 'primary'"
        @click="nonBrokerageRefresh()"
        :style="tabBtn == 1 ? 'border-bottom: 2px solid white;' : ''"
      >
        <span 
          :class="tabBtn == 1 ? 'font-weight-black' : ''"
        >Non-Brokerage
        </span>
      </v-btn>
    </isttoolbar>
    <!-- <isttoolbar
      title="Faktur Pajak Lampiran"
      dark
      class="mb-2 pl-9"
      color="primary"
    ></isttoolbar> -->
    <v-card class="px-3 py-0">
      <!-- 1 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0" align-self="center">
          <span class="title">Underwriter</span>
        </v-col>
        <v-col cols="6" align-self="start" class="ma-0 pa-0">
          <v-autocomplete
            v-model="param.underwriter"
            label="Search Underwriter"
            hide-details="auto"
            ref="underwriter"
            name="underwriter"
            :items="filter.underwriter.items"
            item-value="code"
            item-text="codeAndName"
            :loading="filter.underwriter.loading"
            clearable
            class="ma-0 compact-field"
            solo
            flat
            outlined
            dense
            @keyup="autocompSearch(filter.underwriter)"
            :search-input.sync="
              filter.underwriter.urlParam['codeOrName.contains']
            "
          ></v-autocomplete>
        </v-col>
      </v-row>
      <!-- 2 -->
      <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0"> </v-col>
        <v-col cols="6" align-self="start" class="ma-0 pa-0">
          <!-- <v-radio-group
            hide-details="auto"
            class="ma-2"
            dense
            v-model="param.radioChoose"
          >
            <v-row>
              <v-radio value="serialNo">
                <template v-slot:label>
                  <div><strong>Serial No</strong></div>
                </template>
              </v-radio>
              <v-radio class="mt-n2 ml-3" value="PrintedDate">
                <template v-slot:label>
                  <div><strong>Printed Date</strong></div>
                </template>
              </v-radio>
            </v-row>
          </v-radio-group> -->
          <v-radio-group
            v-model="param.radioChoose"
            row
            hide-details="auto"
            class="ma-0 pa-0 pb-2 pt-2"
          >
            <v-radio label="Serial No" value="serialNo" hide-details="auto"></v-radio>
            <v-radio label="Printed Date" value="PrintedDate" hide-details="auto"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <!-- 3 -->
      <v-row class="ma-1 pa-0" v-if="param.radioChoose === 'serialNo'">
        <v-col cols="2" class="ma-0 pa-0" align-self="center">
          <span class="title">Serial No </span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0">
          <v-text-field
            v-model="param.serialFrom"
            ref="serialFrom"
            name="serialFrom"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            type="text"
            class="pr-2"
            v-mask="'###.###-##.########'"
            label="Serial No From..."
            :rules="[rules.required]"
          >
          </v-text-field>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0">
          <v-text-field
            v-model="param.serialTo"
            ref="serialTo"
            name="serialTo"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            type="text"
            class="pl-2"
            v-mask="'###.###-##.########'"
            label="Serial No To..."
            :rules="[rules.required]"
          >
          </v-text-field>
        </v-col>
        <!-- <v-col cols="2" align-self="start" class="ma-0 pa-0">
          <v-text-field
            v-model="param.serialTo"
            ref="serialTo"
            name="serialTo"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            type="number"
          >
          </v-text-field>
        </v-col> -->
      </v-row>
      <!-- 4 -->
      <v-row class="ma-1 pa-0" v-else>
        <v-col cols="2" class="ma-0 pa-0" align-self="center">
          <span class="title">Printed Date </span>
          <span class="error--text">*</span>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0">
          <v-menu
            v-model="filter.printedFrom.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                label="Date From"
                v-model="computedDateFormattedFrom"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                solo
                flat
                outlined
                dense
                clearable
                class="pr-2"
                @click:clear="param.printedFrom = ''"
                ref="printedFrom"
                :rules="[rules.required]"
              >
                <v-btn
                  slot="append"
                  @click="filter.printedFrom.menu = !filter.printedFrom.menu"
                  text
                  icon
                  style="height: auto; width: auto;"
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.printedFrom"
              no-title
              @input="filter.printedFrom.menu = false"
              :max="param.printedTo"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0">
          <v-menu
            v-model="filter.printedTo.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                label="Date To"
                v-model="computedDateFormattedTo"
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                solo
                flat
                outlined
                dense
                clearable
                class="pl-2"
                @click:clear="param.printedTo = ''"
                ref="printedTo"
                :rules="[rules.required]"
              >
                <v-btn
                  slot="append"
                  @click="filter.printedTo.menu = !filter.printedTo.menu"
                  text
                  icon
                  style="height: auto; width: auto;"
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.printedTo"
              no-title
              @input="filter.printedTo.menu = false"
              :min="param.printedFrom"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <!-- 5 -->
      <!-- <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0" align-self="center">
          <span class="title">Type</span>
        </v-col>
        <v-col cols="6" align-self="start" class="ma-0 pa-0">
          <v-radio-group
            v-model="taxType"
            row
            hide-details="auto"
            class="ma-0 pa-0 pb-2 pt-2"
          >
            <v-radio label="Brokerage" hide-details="auto"></v-radio>
            <v-radio label="Non Brokerage" hide-details="auto"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row> -->
      <v-row class="ma-1 pa-0">
        <v-col cols="2" class="ma-0 pa-0" align-self="center">
          <span class="title">Output</span>
        </v-col>
        <v-col cols="3" align-self="start" class="ma-0 pa-0">
          <v-autocomplete
            v-model="param.output"
            label="Search Output"
            hide-details="auto"
            ref="output"
            name="output"
            :items="filter.output.items"
            item-value="value"
            item-text="text"
            :loading="filter.output.loading"
            class="ma-0 compact-field pr-2"
            solo
            flat
            outlined
            dense
          ></v-autocomplete>
        </v-col>
      </v-row>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          outlined
          min-width="100px"
          @click="generate"
          v-show="checkAuthorities('vat-attachment-generate')"
        >
          Process
        </v-btn>
      </v-card-actions>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";
import * as types from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    submitdialog,
    documentPreview,
  },
  props: {
    source: String,
  },

  data: () => ({
    name: "",
    group: "",
    code: "",
    errorDescription: "",
    param: {
      underwriter: "",
      // attachFrom: "",
      // attachTo: "",
      serialFrom: "",
      serialTo: "",
      printedFrom: "",
      printedTo: "",
      // fakturPrinted: "1",
      output: "PDF",
      // subTitle: "",
      radioChoose: "serialNo",
    },
    overlay: false,
    submitDialog: { show: false, mode: "", message: "", },
    snackbar: false,
    snackbarText: "",
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    filter: {
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      printedFrom: {
        menu: false,
      },
      printedTo: {
        menu: false,
      },
      fakturPrinted: {
        items: [
          { value: "0", text: "No" },
          { value: "1", text: "Yes" },
        ],
      },
      output: {
        items: [
          // { value: "", text: "Preview" },
          // { value: "XLSX", text: "Generate XLSX" },
          { value: "PDF", text: "Generate PDF" },
        ],
      },
    },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    taxType: 0,
    tabBtn: 0,
  }),
  created() {
    this.initList([
      "underwriter",
      // "segment",
      // "subSegment",
      // "businessCategory",
    ]);
  },
  computed: {
    form() {
      return {
        serialFrom: this.param.serialFrom,
        serialTo: this.param.serialTo,
      };
    },
    form2() {
      return {
        printedFrom: this.param.printedFrom,
        printedTo: this.param.printedTo,
      };
    },
    computedDateFormattedFrom() {
      return this.formatDate(this.param.printedFrom);
    },
    computedDateFormattedTo() {
      return this.formatDate(this.param.printedTo);
    },
  },

  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    async getItemData(id) {
      let param = {
        "reportCode.equals": id,
      };
      await API.get("/report/api/list-finance", param)
        .then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.reportItem = resp.data.data[0];
          } else {
            console.log("resp", resp);
            this.setSnackbar({ color: "error", text: "Error" });
          }
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error" });
        });
      this.overlay = false;
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },
    async generate() {
      if (this.param.radioChoose == "serialNo") {
        Object.keys(this.form).forEach((f) => {
          if (!this.form[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        });
      } else {
        Object.keys(this.form2).forEach((f) => {
          if (!this.form2[f]) {
            this.formHasErrors = true;
          }
          this.$refs[f].validate(true);
        });
      }

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let output = this.param.output == "" ? "PDF" : this.param.output;

      if (this.param.radioChoose == "serialNo") {
        this.param.printedFrom = "";
        this.param.printedTo = "";
      } else {
        this.param.serialFrom = "";
        this.param.serialTo = "";
      }

      let serial_No = 0;
      let begin_No = 0;
      let end_No = 0;
      let splittedBegin = this.param.serialFrom.split(".");
      let splittedEnd = this.param.serialTo.split(".");
      if (splittedBegin.length > 1) {
        serial_No = [splittedBegin[0], splittedBegin[1]].join(".");
        serial_No = serial_No + ".";
      }
      if (splittedBegin.length > 2) {
        begin_No = splittedBegin[2];
      }
      if (splittedEnd.length > 2) {
        end_No = splittedEnd[2];
      }

      let paramJSON = {
        code: "VATATTACHMENT",
        fileType: "PDF",
        filter: {
          uwCode: this.param.underwriter,
          seriesNo: serial_No,
          vatNumberFrom: begin_No,
          vatNumberTo: end_No,
          dateFrom: this.param.printedFrom,
          dateTo: this.param.printedTo,
          taxGroup: this.tabBtn == 0 ? "BROKERAGE" : "NONBROKERAGE",
        },
        group: "VAT",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      API.post(docUrl, paramJSON)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, output);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message = resp.data.errorMessage ? resp.data.errorMessage : resp.data.errorDescription;
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = 1;
      let match = byteCharacters.match(/\/Type\s*\/Page\b/g);
      if (match != null) {
        pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      }
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      // let customerItems = this.filter.customer.items.filter(
      //   (value) => value.id == this.param.customer
      // );
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Faktur Pajak Lampiran " +
          // this.param.id +
          // " - " +
          // customerItems[0].name +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    // formatDate(mode, month, year) {
    //   let resp = "";
    //   if (month && year) {
    //     let day = "01";
    //     if (mode == "end") {
    //       let date = new Date([year, month, "01"].join("-"));
    //       let maxDate = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    //       day = String(maxDate.getDate());
    //       day = day.length < 2 ? "0".concat(day) : day;
    //     }
    //     let monthResp = String(month).length < 2 ? "0".concat(month) : month;
    //     resp = [year, monthResp, day].join("-");
    //   }
    //   return resp;
    // },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    back() {
      this.$router.replace({ name: "finance-report-list" });
      this.name = "";
      this.group = "";
      this.code = "";
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    serialToFloat(item) {
      let number = 0;
      if (item != null && item != "") {
        number = item.replace(/[-.]/g, "");
      }
      return number;
    },
    brokerageRefresh() {
      if(this.tabBtn != 0) {
        this.tabBtn = 0;
        this.param = {
          underwriter: "",
          serialFrom: "",
          serialTo: "",
          printedFrom: "",
          printedTo: "",
          output: "PDF",
          radioChoose: "serialNo",
        }

        if (this.param.radioChoose == "serialNo") {
          Object.keys(this.form).forEach((f) => {
            this.$refs[f].resetValidation(true);
          });
        } else {
          Object.keys(this.form2).forEach((f) => {
            this.$refs[f].resetValidation(true);
          });
        }
      }
    },
    nonBrokerageRefresh() {
      if(this.tabBtn != 1) {
        this.tabBtn = 1;
        this.param = {
          underwriter: "",
          serialFrom: "",
          serialTo: "",
          printedFrom: "",
          printedTo: "",
          output: "PDF",
          radioChoose: "serialNo",
        }

        if (this.param.radioChoose == "serialNo") {
          Object.keys(this.form).forEach((f) => {
            this.$refs[f].resetValidation(true);
          });
        } else {
          Object.keys(this.form2).forEach((f) => {
            this.$refs[f].resetValidation(true);
          });
        }

        
      }
    },
    riskTextItem: (item) => item.riskCode + " - " + item.riskName,
  },
};
</script>
