<template>
  <v-card flat>
    <isttoolbar title="Finance Claim" dark color="secondary" icon="mdi-finance">
      <v-spacer />

      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar title="Create New Adjustment Claim Creditor" dark color="primary" class="mb-2">
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Adjustment No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            label="{Auto Generate}"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Adjustment Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-menu
            v-model="tanggal"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{}">
              <v-text-field
                readonly
                v-model="param.date"
                ref="entryDate"
                name="entryDate"
                label="Select Date"
                persistent-hint
                hide-details="auto"
                flat
                outlined
                dense
                solo
                :loading="transDateLoading"
              >
                <v-btn slot="append" @click="tanggal = !tanggal" text icon>
                  <!-- <v-icon>mdi-calendar</v-icon> -->
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              :min="new Date().toISOString()"
              v-model="param.date"
              no-title
              @input="tanggal = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title"> Customer Type</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.customerType"
            row
            hide-details="auto"
            class="ma-0"
            dense
            :readonly="isFromCashReceipt"
          >
            <v-radio label="Client" value="CLIENT"></v-radio>
            <v-radio label="Adjuster" value="ADJUSTER"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row
        align="center"
        class="ml-2"
      >
        <v-col cols="2" class="pa-1">
          <!-- <span class="title">
            Client
            <span class="error--text"></span>
          </span> -->
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            v-show="param.customerType == 'CLIENT'"
            hide-details="auto"
            label="Select Client"
            v-model="param.client"
            ref="client"
            name="client"
            @keyup="autocompSearch(search.client)"
            :search-input.sync="search.client.input"
            :items="search.client.items"
            item-value="code"
            item-text="codeAndName"
            :loading="search.client.loading"
            class="ma-0"
            return-object
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
          <v-autocomplete
            v-show="param.customerType == 'ADJUSTER'"
            hide-details="auto"
            label="Select Adjuster"
            v-model="param.adjuster"
            ref="adjuster"
            name="adjuster"
            @keyup="autocompSearch(search.adjuster)"
            :search-input.sync="search.adjuster.input"
            :items="search.adjuster.items"
            item-value="code"
            item-text="codeAndName"
            :loading="search.adjuster.loading"
            class="ma-0"
            return-object
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-dialog
          persistent
          max-width="950"
          scrollable
          class="white"
          v-model="dialogFileTab"
          v-bind="attrs"
          v-on="on"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-row align="center" class="ml-5">
              <v-col cols="2" class="pa-1"> </v-col>
              <v-col cols="4" align-self="start" class="pa-1">
                <v-btn
                  v-if="param.client != '' || param.adjuster != ''"
                  class="mr-5"
                  @click="getList"
                  outlined
                  dark
                  color="primary"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  Transaction
                </v-btn>
                <v-btn
                  v-if="param.client == '' && param.adjuster == ''"
                  class="mr-5"
                  outlined
                  dark
                  color="grey"
                >
                  <v-icon class="ml-0" left>mdi-magnify</v-icon>Search
                  Transaction
                </v-btn>
              </v-col>
            </v-row>
            <!-- <v-btn
              class="mr-5"
              @click="listSearch"
              outlined
              dark
              color="primary"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon class="ml-0" left>mdi-magnify</v-icon>Search Transaction
            </v-btn> -->
          </template>
          <v-card>
            <v-card-title>
              <span class="title primary--text ml-2"> Choose Transaction </span>
              <v-spacer></v-spacer>
              <!-- <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }"> -->
              <v-btn
                v-bind="attrs"
                v-on="on"
                min-height="40"
                @click="closeFileTab"
                text
                color="primary"
              >
                <v-icon>mdi-window-close mdi-36px</v-icon>
              </v-btn>
              <!-- </template>
                <span>Back</span> -->
            </v-card-title>
            <v-card-text class="white">
              <v-data-table
                :headers="headers"
                :items="items"
                class="elevation-1"
                :options.sync="options"
                :server-items-length="totalItems"
                hide-default-header
                fixed-header
                height="300"
                hide-default-footer
              >
                <template v-slot:header="{ props: { headers } }">
                  <thead>
                    <tr>
                      <th
                        v-for="header in headers"
                        :key="header.text"
                        class="xsmall-label"
                      >
                        <v-text-field
                          hide-details="auto"
                          v-model="header.searchValue"
                          :label="header.text"
                          :ref="header.value"
                          :name="header.value"
                          v-on:keyup="onkeyupSearch"
                          v-if="header.value == 'accountNo'"
                        >
                        </v-text-field>
                        <v-text-field
                          hide-details="auto"
                          v-model="header.searchValue"
                          :label="header.text"
                          :ref="header.value"
                          :name="header.value"
                          v-on:keyup="onkeyupSearch"
                          v-if="header.value == 'term'"
                        >
                        </v-text-field>

                        <v-autocomplete
                          v-if="header.value == 'accountType'"
                          clearable
                          hide-details="auto"
                          v-model="header.searchValue"
                          :ref="header.value"
                          :name="header.value"
                          :label="header.text"
                          :items="typeItems"
                          item-value="value"
                          item-text="name"
                          @change="onkeyupSearch"
                        >
                        </v-autocomplete>
                        <div
                          class="subtitle-2 mt-3"
                          v-if="header.value == 'tranDate'"
                        >
                          {{ header.text }}
                        </div>
                        <div
                          class="subtitle-2 mt-3"
                          v-if="header.value == 'currency'"
                        >
                          {{ header.text }}
                        </div>
                        <div
                          class="subtitle-2 mt-3"
                          v-if="header.value == 'cstExc'"
                        >
                          {{ header.text }}
                        </div>
                        <div
                          class="subtitle-2 mt-3"
                          v-if="header.value == 'amount'"
                        >
                          {{ header.text }}
                        </div>
                        <div
                          class="subtitle-2 mt-3"
                          v-if="header.value == 'balance'"
                        >
                          {{ header.text }}
                        </div>
                      </th>
                    </tr>
                  </thead>
                </template>
                <!-- <v-data-table
                :headers="headers"
                :items="items"
                class="elevation-1"
                :options.sync="options"
                :server-items-length="totalItems"
                :loading="loading"
                hide-default-footer
                :footer-props="{ 'items-per-page-options': [5, 10, 15, 25] }"
              > -->
                <template v-slot:[`item.amount`]="{ item }">
                  {{ formatMoney(Number(item.amount)) }}
                </template>
                <template v-slot:[`item.balance`]="{ item }">
                  {{ formatMoney(Number(item.balance)) }}
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-menu bottom left :offset-x="true">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-if="item.balance != 0"
                        @click="viewItem(item)"
                        outlined
                        depressed
                        small
                        color="primary"
                        v-bind="attrs"
                        v-on="on"
                        :disabled="item.status == 1"
                        style="
                          display: block;
                          margin-left: auto;
                          margin-right: auto;
                        "
                      >
                        Choose
                      </v-btn>
                      <span
                        v-show="item.status == 1"
                        class="error--text"
                        style="display: block; text-align: center;"
                        >In use
                      </span>
                      <v-btn
                        v-if="item.balance == 0"
                        outlined
                        dark
                        color="grey"
                      >
                        Choose
                      </v-btn>
                      <!-- <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon class="center" v-bind="attrs" v-on="on"
                          >mdi-dots-vertical</v-icon
                        >
                      </v-btn> -->
                    </template>
                  </v-menu>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
      <v-form v-if="afterchooseTransaction == true">
        <v-row>
          <v-col cols="5">
            <v-row align="center" class="ml-0">
              <v-col cols="2" class="pa-1">
                <span class="title"> Type </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.type }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="2" class="pa-1">
                <span class="title"> No </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.no }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="2" class="pa-1">
                <span class="title"> Term </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{ this.param.term }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="2" class="pa-1">
                <span class="title"> Currency </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.currency }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="2" class="pa-1">
                <span class="title"> Bill Date </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{ this.param.billDate }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="2" class="pa-1">
                <span class="title"> Detail </span>
              </v-col>
              <v-col cols="8" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.detail }}</span>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5">
            <v-row align="center" class="ml-0">
              <v-col cols="4" class="pa-1">
                <span class="title"> Original Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">
                  {{ formatMoney(Number(this.param.originalAmount)) }}</span
                >
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="4" class="pa-1">
                <span class="title"> Exchange Rate </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{
                  formatMoney(Number(this.param.exchangeRate))
                }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-0">
              <v-col cols="4" class="pa-1">
                <span class="title"> Balance </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{
                  formatMoney(Number(this.param.balance))
                }}</span>
              </v-col>
            </v-row>
            <v-row
              align="center"
              class="ml-0"
              v-if="this.param.currency == 'USD'"
            >
              <v-col cols="4" class="pa-1">
                <span class="title"> Adjustment Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <v-text-field
                  @keyup="haserroramount = false"
                  v-if="!haserroramount"
                  :rules="[invAmountLimit(item)]"
                  v-model="param.adjustmentAmount"
                  v-money="amountChanged ? money : ''"
                  @input="amountChanged = true"
                  class="ma-0 input-right"
                  ref="adjustmentAmount"
                  name="adjustmentAmount"
                  single-line
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
                <v-text-field
                  v-else
                  :error-messages="messageError"
                  @keyup="haserroramount = false"
                  :rules="[invAmountLimit(item)]"
                  v-model="param.adjustmentAmount"
                  v-money="amountChanged ? money : ''"
                  @input="amountChanged = true"
                  class="ma-0 input-right"
                  ref="adjustmentAmount"
                  name="adjustmentAmount"
                  single-line
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field
              ></v-col>
            </v-row>
            <v-row
              align="center"
              class="ml-0"
              v-else-if="this.param.currency == 'IDR'"
            >
              <v-col cols="4" class="pa-1">
                <span class="title"> Adjustment Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <v-text-field
                  @keyup="haserroramount = false"
                  v-if="!haserroramount"
                  :rules="[invAmountLimitIDRMIN(item)]"
                  v-model="param.adjustmentAmount"
                  v-money="amountChanged ? money : ''"
                  @input="amountChanged = true"
                  class="ma-0 input-right"
                  ref="adjustmentAmount"
                  name="adjustmentAmount"
                  single-line
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field>
                <v-text-field
                  v-else
                  :error-messages="messageError"
                  @keyup="haserroramount = false"
                  :rules="[invAmountLimitIDRMIN(item)]"
                  v-model="param.adjustmentAmount"
                  v-money="amountChanged ? money : ''"
                  @input="amountChanged = true"
                  class="ma-0 input-right"
                  ref="adjustmentAmount"
                  name="adjustmentAmount"
                  single-line
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field
              ></v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-form>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit;"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit;"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? editItem('d') : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";
import formatDateHelper from "@/helper/formatDateHelper";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    typeItems: [
      { name: "CCSH", value: "CCSH" },
      { name: "CREV", value: "CREV" },
      { name: "CCN", value: "CCN" },
      { name: "CDN", value: "CDN" },
    ],
    loading: true,
    messageError: "",
    haserroramount: false,
    haserrorlimit: false,
    limitUSD: "0.00",
    limitIDR: "0.00",
    limitUSDMIN: "0.00",
    limitIDRMIN: "0.00",
    amountChanged: false,
    radios: "",
    dialogFileTab: false,
    afterchooseTransaction: false,
    tanggal: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      date: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      customerType: "CLIENT",
      client: "",
      adjuster: "",
      agent: "",
      type: "",
      no: "",
      term: 0,
      currency: "",
      billDate: "",
      detail: "",
      originalAmount: "0.00",
      exchangeRate: "0.00",
      balance: "0.00",
      adjustmentAmount: "0.00",
      adjustmentAmountUSD: "0.00",
      accType: "",
    },
    paramDialog: {
      client: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },
    headers: [
      {
        text: "Currency",
        align: "start",
        value: "currency",
        sortable: false,
      },
      //  text: "Invoice No",
      //   align: "start",
      //   sortable: false,
      //   value: "accountNo",
      //   add: "",
      //   rules: [],
      //   filterParam: "accountNo",
      //   searchParam: ".contains",
      {
        text: "Number",
        value: "accountNo",

        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Type",
        value: "accountType",
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Term",
        value: "term",

        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
      },
      {
        text: "Date",
        value: "tranDate",
        sortable: false,
      },
      {
        text: "A/Exec",
        value: "cstExc",
        sortable: false,
      },
      {
        text: "Amount",
        value: "amount",
        sortable: false,
      },
      {
        text: "Balance",
        value: "balance",
        sortable: false,
      },

      {
        text: "",
        value: "actions",
        sortable: false,
      },
    ],
    items: [],
    totalItems: 0,
    formHasErrors: false,
    rules: {
      required: (value) => parseFloat(value) > 0 || "Required.",
      requiredAmount: (v) => parseFloat(v) > 0 || "Required.",
    },
    options: {},
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,

    rateChanged: false,
    overlay: false,
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      adjuster: {
        input: "",
        items: [],
        url: "/clients/api/account/adjuster?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url:
          "/config/api/master-akuncoa/?coaType.equals=1%20-%20Bank&isActive.equals=1",
        loading: true,
      },
    },
    adjustmentNo: 0,
    transDateLoading: false,
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
    optionsRate: {
      handler() {
        this.refreshRate();
      },
      deep: true,
    },
  },
  mounted() {
    this.refresh();
  },

  computed: {
    form() {
      return {
        // amount: this.currencyToFloat(this.param.amount),
        adjustmentAmount: this.currencyToFloat(this.param.adjustmentAmount),
        adjustmentAmountUSD: this.currencyToFloat(
          this.param.adjustmentAmountUSD
        ),
      };
    },
  },
  async created() {
    this.getBussDate();
    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.fullname;
    this.getLimitIDR();
    this.getLimitUSD();
    this.getLimitIDRMIN();
    this.getLimitUSDMIN();
    await this.initList([
      // "status",
      "client",
      "agent",
      "adjuster",
      // "currency",
      // "transType",
      // "receivedType",
      // "bankSource",
      // "bankReceived",
    ]);
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),

    onkeyupSearch() {
      this.refresh();
    },
    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
    closeFileTab() {
      this.dialogFileTab = false;
      this.items = [];
    },
    // required: (value) => !!value || "Required.",
    invAmountLimit() {
      if (this.limitUSD) {
        return (v) =>
          this.currencyToFloat(v) <= this.limitUSD ||
          "Adjustment Amount cannot be greater than Limit Amount USD " +
            this.limitUSD;
      } else if (this.limitUSDMIN) {
        return (v) =>
          // this.limitUSDMIN
          this.currencyToFloat(v) >= this.limitUSDMIN ||
          "Adjustment Amount cannot be greater than Limit Amount USD " +
            this.limitUSDMIN;
      }
    },
    invAmountLimitMIN() {
      return (v) =>
        // this.limitUSDMIN
        this.currencyToFloat(v) >= this.limitUSDMIN ||
        "Adjustment Amount cannot be greater than Limit Amount USD " +
          this.limitUSDMIN;
    },
    invAmountLimitIDR() {
      return (v) =>
        this.currencyToFloat(v) <= this.limitIDR ||
        "Adjustment Amount cannot be greater than Limit Amount IDR " +
          this.limitIDR;
    },
    invAmountLimitIDRMIN() {
      return (v) =>
        this.currencyToFloat(v) >= this.limitIDRMIN ||
        "Adjustment Amount cannot be greater than Limit Amount IDR " +
          this.limitIDRMIN;
    },
    async getLimitUSD() {
      let resp = await API.get(
        "/config/api/master-parameter/module/ADJUSTMENT_LIMIT_MAX/" + "USD",
        // this.param.client.code,
        {}
      );
      if (resp.data.code === 0) {
        this.limitUSD = resp.data.data[0].value;
        console.log(this.limitUSD);
        console.log("JANGKRIK BOSS");
      }
    },
    async getLimitIDR() {
      let resp = await API.get(
        "/config/api/master-parameter/module/ADJUSTMENT_LIMIT_MAX/IDR",
        // this.param.client.code,
        {}
      );
      if (resp.data.code === 0) {
        this.limitIDR = resp.data.data[0].value;
      }
    },
    async getLimitUSDMIN() {
      let resp = await API.get(
        "/config/api/master-parameter/module/ADJUSTMENT_LIMIT_MIN/" + "USD",
        // this.param.client.code,
        {}
      );
      if (resp.data.code === 0) {
        this.limitUSDMIN = resp.data.data[0].value;
        console.log(this.limitUSD);
        console.log("JANGKRIK BOSS");
      }
    },
    async getLimitIDRMIN() {
      let resp = await API.get(
        "/config/api/master-parameter/module/ADJUSTMENT_LIMIT_MIN/IDR",
        // this.param.client.code,
        {}
      );
      if (resp.data.code === 0) {
        this.limitIDRMIN = resp.data.data[0].value;
      }
    },
    getList() {
      this.loading = true;
      // this.dialog.show = true;
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
        };
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        )
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        const findHeaderValueNotEmpty = this.headers.filter(
          (value) => value.searchValue && value.searchValue.length !== 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              var paramInfo = ".contains";
              if (value.value == "accountNo") {
                paramInfo = ".equals";
              } else if (value.value == "term") {
                paramInfo = ".equals";
              } else if (value.value == "accountType") {
                paramInfo = ".equals";
              }
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + paramInfo]: value.searchValue,
              };
            })
          );
        }
        API.get(
          "/finance/api/financeclaims/creditor/invaccount/getadjustmentclaimscreditoraccount?clientCode.equals=" +
            (this.param.customerType == "CLIENT" ? this.param.client.code : this.param.adjuster.code),
          param
        ).then((resp) => {
          if (resp.data.code == 0) {
            // this.dialog.show = false;

            let items = resp.data.listTransaction;
            this.items = items;

            // this.items = resp.data.listTransaction;
            this.loading = false;
            resolve({
              total: parseInt(resp.headers["x-total-count"]),
              items: resp.data.listTransaction,
            });
          }
        });
      });
    },
    // async getpolis() {
    //   this.dialog.show = true;
    //   this.dialog.error = false;
    //   let resp = await API.get(
    //     "/finance/api/finance/invaccount/getadjustmentdebtoraccount?clientCode.equals=" +
    //       this.param.client.code,
    //     {}
    //   );
    //   if (resp.data.code === 0) {
    //     this.dialog.show = false;

    //     this.loading = false;
    //     this.items = resp.data.listTransaction;
    //   }
    // },
    async viewItem(item) {
      this.dialogLoading = true;
      this.afterchooseTransaction = true;
      let resp = await API.get(
        "/finance/api/financeclaims/creditor/invaccount/getclaimscreditoraccount?accountNo.equals=" +
          item.accountNo +
          "&term.equals=" +
          item.term,
        {}
      );
      if (resp.data.code === 0) {
        this.dialogFileTab = false;
        const data = resp.data.listTransaction[0];
        this.param.type = data.accountType;
        this.param.no = data.accountNo;
        this.param.term = data.term;
        this.param.currency = data.currency;
        this.param.billDate = data.tranDate;
        this.param.detail = data.tranDesc;
        this.param.originalAmount = data.amount;
        this.param.exchangeRate = data.exchgRate;
        this.param.balance = data.balance;
        var amount = data.balance;
        this.param.adjustmentAmount = this.formatMoney(Number(amount));
        this.param.accType = data.cstType;
        this.dialogLoading = false;
        console.log("POLIS");

        console.log("ahahhahhahah");
      }
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        if (l == "progress") {
          this.search.progress.items = this.search.progress.items.filter(
            (value) => ["1", "2", "3", "4"].indexOf(value.code) != -1
          );
        }
        this.search[l].loading = false;
      }
    },
    autocompSearch(search) {
      if (search.request) search.request.cancel();
      const axiosSource = axios.CancelToken.source();
      search.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(search, axiosSource), 500);
    },
    async sends(search, axiosSource) {
      search.loading = true;
      API.get(
        search.url + search.input.toUpperCase(),
        null,
        null,
        axiosSource.token
      ).then((resp) => {
        search.loading = false;
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          search.items = resp.data.data;
        } else {
          search.items = [];
        }
        console.log(this.search[search.name].items);
      });
      search.request = null;
    },
    back() {
      this.$router.replace({ name: "adjustment-claims-creditor-list" });
    },
    editItem(mode) {
      this.$router.push({
        name: "adjustment-claims-creditor-edit",
        query: { id: this.adjustmentNo, mode: mode },
      });
    },
    async save() {
      this.dialog.error = false;

      Object.keys(this.form).forEach((f) => {
        // this.overlay = true;
        if (!this.form[f]) this.formHasErrors = true;
        // this.$refs[f].validate(true);
        // this.$refs[f].validate(true);
        if (this.param.currency == "IDR") {
          if (
            this.currencyToFloat(this.param.adjustmentAmount) >
            this.currencyToFloat(this.limitIDR)
          ) {
            console.log("HAHHAHAHAHAH");
            console.log(this.currencyToFloat(this.param.adjustmentAmount));
            console.log(this.currencyToFloat(this.limitIDR));

            this.formHasErrors = true;
            this.haserroramount = true;
            this.messageError =
              "Adjustment Amount cannot be greater than Limit Amount IDR " +
              this.limitIDR;
          } else if (
            this.currencyToFloat(this.param.adjustmentAmount) <
            this.currencyToFloat(this.limitIDRMIN)
          ) {
            this.formHasErrors = true;
            this.haserroramount = true;
            this.messageError =
              "Adjustment Amount cannot be greater than Limit Amount IDR " +
              this.limitIDRMIN;
          } else {
            this.formHasErrors = false;
          }
        }
        if (this.param.currency == "USD") {
          if (
            this.currencyToFloat(this.param.adjustmentAmount) >
            this.currencyToFloat(this.limitUSD)
          ) {
            console.log("HAHHAHAHAHAH");
            console.log(this.currencyToFloat(this.param.adjustmentAmount));
            console.log(this.currencyToFloat(this.limitUSD));
            this.haserroramount = true;
            this.messageError =
              "Adjustment Amount cannot be greater than Limit Amount USD " +
              this.limitUSD;
            this.formHasErrors = true;
          } else if (
            this.currencyToFloat(this.param.adjustmentAmount) <
            this.currencyToFloat(this.limitUSDMIN)
          ) {
            this.formHasErrors = true;
            this.haserroramount = true;
            this.messageError =
              "Adjustment Amount cannot be greater than Limit Amount USD " +
              this.limitUSDMIN;
          } else {
            this.formHasErrors = false;
          }
        }

        if (
          this.param.adjustmentAmount == "0.00" ||
          this.param.adjustmentAmount == "-0.00"
        ) {
          this.formHasErrors = true;
          this.haserroramount = true;
          this.messageError = "Required";
        }
      });

      if (!this.formHasErrors) {
        this.dialog.show = true;
        await this.doAdd();

        // this.back();
      } else {
        this.formHasErrors = false;
        this.snackbarText = "Error....";
        this.snackbar = true;
      }
    },
    async doAdd() {
      let paramJSON = {
        custCode: this.param.customerType == "CLIENT" ? this.param.client.code : this.param.adjuster.code,
        custName: this.param.customerType == "CLIENT" ? this.param.client.name : this.param.adjuster.name,
        tranDate: this.param.date,
        acctType: this.param.type,
        currency: this.param.currency,
        exchangeRate: this.param.exchangeRate,
        acctNo: this.param.no,
        description: this.param.detail,
        custType: this.param.accType,
        term: this.param.term,
        amountOri: this.param.originalAmount,
        amount: this.currencyToFloat(this.param.adjustmentAmount),
        amountAdjust: this.currencyToFloat(this.param.adjustmentAmount),
        balance: this.param.balance,
      };
      let param = JSON.stringify(paramJSON);
      API.post("finance/api/financeclaims/creditor/adjustment/add", param).then(
        (resp) => {
          if (resp.data.code == 0) {
            this.adjustmentNo = resp.data.data.adjustmentNo;
            // this.dialog.success = true;
            this.dialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            this.editItem('d');
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        }
      );
    },
    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
    getBussDate() {
      this.transDateLoading = true;
      return new Promise((resolve) => {
        API.get("report/api/business-date")
        .then((resp) => {
          this.param.date = formatDateHelper.formatDateFromDMYoDMY(resp.data, "-", "/");
          resolve(true)
          this.transDateLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.setSnackbar({ color: "error", text: "Error Get Business Date" });
          this.transDateLoading = false;
        });
      })
    },
    // async save() {
    //   Object.keys(this.form).forEach((f) => {
    //     if (!this.form[f]) {
    //       this.formHasErrors = true;
    //     }
    //     this.$refs[f].validate(true);
    //   });
    //   if (!this.param[this.param.custType.toLowerCase()]) {
    //     this.formHasErrors = true;
    //   }
    //   this.$refs[this.param.custType.toLowerCase()].validate(true);

    //   if (!this.formHasErrors) {
    //     this.dialog.show = true;
    //     await this.doAdd();
    //     // this.back();
    //   } else {
    //     this.formHasErrors = false;
    //   }
    // },
  },
};
</script>
>
