<template>
  <v-card flat>
    <isttoolbar title="Finance Claim" dark color="secondary" icon="mdi-finance">
      <v-spacer />
      
<journaldialog
        api="/finance/api/financeclaims/creditor/adjustment/viewjournal/"
        :refNo="this.param.code"
      >
      </journaldialog>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="back" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar title="View Adjustment Claim Creditor" dark color="primary" class="mb-2">
    </isttoolbar>
    <v-form>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Adjustment No
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            solo
            flat
            dense
            outlined
            hide-details="auto"
            label="{Auto Generate}"
            ref="code"
            v-model="param.code"
            class="ma-0"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="ml-3">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Adjustment Date
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" align-self="start" class="pa-1">
          <v-text-field
            readonly
            v-model="param.date"
            ref="entryDate"
            name="entryDate"
            label="Select Date"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row
        v-show="param.customerType == 'CLIENT'"
        align="center"
        class="ml-2"
      >
        <v-col cols="2" class="pa-1"> 
           <span class="title">
            Client
            <span class="error--text"></span>
          </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            readonly
            hide-details="auto"
            label="Select Client"
            v-model="param.client"
            ref="client"
            name="client"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-text-field>
        </v-col>
      </v-row>
      <v-form>
        <v-row>
          <v-col cols="5">
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Type </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.type }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> No </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.no }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Term </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{ this.param.term }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Currency </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.currency }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Bill Date </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{ this.param.billDate }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="2" class="pa-1">
                <span class="title"> Detail </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle"> {{ this.param.detail }}</span>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5">
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Original Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">
                  {{ formatMoney(Number(this.param.originalAmount)) }}</span
                >
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Exchange Rate </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{
                  formatMoney(Number(this.param.exchangeRate))
                }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Balance </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <span class="subtitle">{{
                  formatMoney(Number(this.param.balance))
                }}</span>
              </v-col>
            </v-row>
            <v-row align="center" class="ml-3">
              <v-col cols="3" class="pa-1">
                <span class="title"> Adjustment Amount </span>
              </v-col>
              <v-col cols="4" align-self="start" class="pa-2">
                <v-text-field
                  readonly
                  v-model="param.adjustmentAmount"
                  v-money="amountChanged ? money : ''"
                  @input="amountChanged = true"
                  class="ma-0 input-right"
                  ref="amount"
                  single-line
                  dense
                  outlined
                  hide-details="auto"
                ></v-text-field
              ></v-col>
            </v-row>
          </v-col>
        </v-row>
        
      </v-form>

      <!-- <v-row>
        <v-col>
          <v-row align="center" class="ml-3">
            <v-col cols="2" class="pa-2">
              <span class="title"> Type </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-3">
              {{ this.param.type }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="2" class="pa-2">
              <span class="title"> No </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-3">
              {{ this.param.no }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="2" class="pa-2">
              <span class="title"> Term </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-3">
              {{ this.param.term }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="2" class="pa-2">
              <span class="title"> Currency </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-3">
              {{ this.param.currency }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="2" class="pa-2">
              <span class="title"> Bill Date </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-3">
              {{ this.param.billDate }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="2" class="pa-2">
              <span class="title"> Detail </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-3">
              {{ this.param.detail }}
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <v-row align="center" class="ml-3">
            <v-col cols="3" class="pa-3">
              <span class="title"> Original Amount </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-4">
              {{ formatMoney(Number(this.param.originalAmount)) }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="3" class="pa-3">
              <span class="title"> Exchange Rate </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-4">
              {{ this.param.exchangeRate }}
            </v-col>
          </v-row>
          <v-row align="center" class="ml-3">
            <v-col cols="3" class="pa-3">
              <span class="title"> Balance </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-4">
              {{ formatMoney(Number(this.param.balance)) }}
            </v-col>
          </v-row>

          <v-row align="center" class="ml-3">
            <v-col cols="3" class="pa-3">
              <span class="title"> Adjustment Amount </span>
            </v-col>
            <v-col cols="4" align-self="start" class="pa-1">
              <v-text-field
                v-model="param.adjustmentAmount"
                v-money="amountChanged ? money : ''"
                @input="amountChanged = true"
                class="ma-0 input-right"
                ref="amount"
                single-line
                dense
                outlined
                hide-details="auto"
              ></v-text-field
            ></v-col>
          </v-row>
        </v-col>
      </v-row> -->
      
          <v-col>
            <v-row class="ml-0 pa-0">
              <v-col cols="6" class="ma-0 py-0 pl-0 pr-5">
                <v-row align="center" class="ma-0 pa-0">
                  <v-col cols="3" class="pa-1">
                    <span class="title">
                      Entry By
                      <!-- <span class="error--text">*</span> -->
                    </span>
                  </v-col>
                  <v-col cols="4" align-self="start" class="ma-0 pa-0">
                    <v-text-field
                      hide-details="auto"
                      readonly
                      v-model="param.entryBy"
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" align-self="start" class="ma-0 pa-0 ml-1">
                    <v-text-field
                      hide-details="auto"
                     readonly
                       v-model="param.entryDate"
                      class="ma-0"
                      solo
                      flat
                      outlined
                      dense
                      no-data-text="Type the Customer Name."
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              
            </v-row>
          </v-col>
        
    </v-form>

    <v-row justify="center">
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Save</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? back() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import journaldialog from "@/components/dialog/journalDialog";

import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
    journaldialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    amountChanged: false,
    radios: "",

    afterchooseTransaction: false,
    tanggal: false,
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      entryBy:"",
      entryDate:"",
      id: 0,
      date: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      customerType: "CLIENT",
      client: "",
      agent: "",
      type: "",
      no: "",
      term: 0,
      currency: "",
      billDate: "",
      detail: "",
      originalAmount: "0.00",
      exchangeRate: "0.00",
      balance: "0.00",
      adjustmentAmount: "0.00",
      accType: "",
      code: "",
    },
    paramDialog: {
      client: "",
      transType: "",
      currency: "",
      keyInNumber: "",
    },
    headers: [
      {
        text: "Journal No",
        align: "start",
        sortable: false,
        value: "jnlrefno",
        add: "",
        rules: [],
      },
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "GL Acct",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Description",
        sortable: false,
        value: "description",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      { text: "Amount", sortable: false, value: "amount", add: "", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        rules: [],
      },
    ],
    model: false,
    items: [],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
      emailRules: (v) => /.+@.+/.test(v) || "E-mail must be valid",
    },
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    journalDialog: false,

    rateChanged: false,
    overlay: false,
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [{ code: "entry", value: "Entry" }],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/?isActive.equals=1",
        loading: true,
      },
      transType: {
        items: [
          { code: "CSH", value: "Cash Receipt" },
          { code: "REV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url:
          "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&isActive.equals=1&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/?isActive.equals=1",
        loading: true,
      },
      bankReceived: {
        items: [],
        url:
          "/config/api/master-akuncoa/?coaType.equals=1%20-%20Bank&isActive.equals=1",
        loading: true,
      },
    },
  }),
  watch: {
    // dialogFileTab: function (val) {
    //   if (val) {
    //     this.fileUpload.desc = "";
    //     this.fileUpload.doc = null;
    //   }
    // },
    dialogfile: function (val) {
      if (val) {
        this.blob = "";
      }
    },
  },

  computed: {
    form() {
      return {
        amount: this.currencyToFloat(this.param.amount),
      };
    },
  },
  mounted() {
    this.getById(this.$route.query.id);
    this.param.id = this.$route.query.id;
    // this.mode = this.$route.query.mode;
    // //  this.getByparent(this.$route.query.id);
    // // this.getcontact(this.$route.query.id);
    // this.getDOCUMENT(this.$route.query.id);
    // this.getflag(this.$route.query.id);
    // this.getpolis(this.$route.query.id);
  },
  async created() {
    let checkToken = JSON.parse(localStorage.getItem("checkToken"));
    this.param.entryName = checkToken.fullname;

    await this.initList([
      // "status",
      "client",
      "agent",
      // "currency",
      // "transType",
      // "receivedType",
      // "bankSource",
      // "bankReceived",
    ]);
  },

  methods: {
    async getById(id) {
      this.dialogLoading = true;
      let resp = await API.get("/finance/api/financeclaims/creditor/adjustment/" + id, {});
      if (resp.data.code === 0) {
        this.dialogLoading = false;

        const data = resp.data.data;
        this.param.date = data.createdDate;
        this.param.type = data.acctType;
        this.param.no = data.acctNo;
        this.param.term = data.term;
        this.param.currency = data.currency;
        this.param.billDate = data.tranDate;
        this.param.detail = data.description;
        this.param.balance = data.balance;
        this.param.entryBy = data.createdBy;
        this.param.entryDate =data.createdDate;
        this.param.originalAmount = data.amountOri;
        this.param.exchangeRate = data.exchangeRate;
        this.param.adjustmentAmount =
          this.formatCommaCurrency(String(data.amountAdjust), "IDR").replace(
            "IDR ",
            ""
          ) + ".00";
        this.param.client = data.custCode + " - " + data.custName;
        this.param.code = data.adjustmentNo;
        this.param.customerType = data.custType;
      }
    },
    async getJournals() {
      this.items = [];
      this.loading = true;
      let id = this.param.code;
      let vm = this;
      let resp = await API.get(
        "/finance/api/financeclaims/creditor/adjustment/viewjournal/" + id
      );
      console.log("journal resp", resp);
      let dataResp = resp.data;
      if (resp.data.code == 0) {
        this.items = dataResp.data
          ? dataResp.data.map(function (row, i) {
              let seqNo = i + 1;
              let amount =
                row.amount == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.amount), "IDR")
                      .replace("IDR ", "") + ".00";
              let exchangeRate =
                row.exchgrate == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.exchgrate), "IDR")
                      .replace("IDR ", "") + ".00";
              let amountEq =
                row.amountEq == null
                  ? ""
                  : vm
                      .formatCommaCurrency(String(row.amountEq), "IDR")
                      .replace("IDR ", "") + ".00";
              return {
                jnlrefno: row.jnlrefno,
                no: seqNo,
                coa: row.coaCode,
                description: row.description,
                currency: row.currency,
                // type: row.type,
                amount: amount,
                rate: exchangeRate,
                eqAmount: amountEq,
              };
            })
          : [];
      } else {
        this.items = [];
      }
      this.loading = false;
    },
  
    back() {
      this.$router.replace({ name: "adjustment-claims-creditor-list", query: {back: true}, });
    },

    formatDateSlice(date) {
      let splitted = date.split("-");
      let reversed = splitted.reverse();
      return reversed.join("/");
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    convertMoney(item) {
      const amount = item
        .replace(/(kr|\$|£|€)/g, "")
        .trim()
        .replace(/(.+)[.,](\d+)$/g, "$1x$2")
        .replace(/[.,]/g, "")
        .replace("x", ".");
      return parseFloat(amount);
    },
  },
};
</script>>
