<template>
  <v-card flat>
    <v-row>
      <v-col cols="2" class="pr-0 py-0">
        <isttoolbar
          style="border-top-left-radius: 5px"
          title="Finance"
          dark
          color="secondary"
          icon="mdi-chart-box-plus-outline"
        >
        </isttoolbar>
      </v-col>
      <v-col cols="10" class="pl-0 py-0">
        <isttoolbar
          title="Engineering Fee"
          dark
          color="primary"
          class="pa-0"
          style="border-top-right-radius: 5px"
        >
          <v-spacer></v-spacer>
          <v-btn outlined @click="goToAdd" v-if="checkAuthorities('engineeringfee-add')">
            <v-icon left>mdi-plus</v-icon>Create EF Ref No
          </v-btn>
        </isttoolbar>
      </v-col>
    </v-row>
    <!-- <isttoolbar
      title="Finance "
      dark
      color="secondary"
      icon="mdi-chart-box-plus-outline"
    >
      <v-spacer></v-spacer>
      <v-btn outlined @click="goToAdd" v-if="checkAuthorities('engineeringfee-add')">
        <v-icon left>mdi-plus</v-icon>Create EF Ref No
      </v-btn>
    </isttoolbar> -->
    <!-- <isttoolbar dark color="primary" class="mb-0">
      <h5 style="font-size: 1.3em;" class="font-weight-regular pl-9">
        Engineering Fee List
      </h5>
    </isttoolbar> -->

    <!-- Card 1 -->
    <v-form>
      <v-card>
        <v-col>
          <!-- Underwriter -->
          <v-row class="CardStyle">
            <v-col cols="12" sm="2" md="2" lg="2" xl="2" class="pt-2 ma-0">
              <span class="title ma-0 pa-0">Underwriter </span
              ><span class="error--text">*</span>
            </v-col>
            <v-col cols="12" sm="9" md="4" lg="4" xl="4" class="pa-0 ma-0">
              <v-autocomplete
                v-model="param.underwriter"
                label="Underwriter..."
                hide-details="auto"
                ref="underwriter"
                name="underwriter"
                :items="filter.underwriter.items"
                item-value="code"
                item-text="codeAndName"
                :loading="filter.underwriter.loading"
                clearable
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                @keyup="autocompSearch(filter.underwriter)"
                :search-input.sync="
                  filter.underwriter.urlParam['codeOrName.contains']
                "
                :rules="[rules.required]"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <!-- Period -->
          <v-row class="CardStyle">
            <v-col cols="12" sm="2" md="2" lg="2" xl="2" class="pt-2 ma-0">
              <span class="title ma-0 pa-0">Period </span
              ><span class="error--text">*</span>
            </v-col>
            <v-col cols="12" sm="9" md="4" lg="4" xl="4" class="pa-0 ma-0">
              <v-autocomplete
                v-model="param.period"
                label="Search Period"
                hide-details="auto"
                ref="period"
                name="period"
                :items="filter.period.items"
                item-value="value"
                item-text="text"
                class="ma-0 compact-field"
                solo
                flat
                outlined
                dense
                :rules="[rules.required]"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <!-- Button Search -->
          <v-row class="CardStyle pt-2">
            <v-spacer></v-spacer>
            <v-btn color="primary" outlined min-width="100px" @click="generate">
              <v-icon class="ml-0" left>mdi-magnify</v-icon>
              Search
            </v-btn>
          </v-row>
        </v-col>
      </v-card>
    </v-form>

    <!-- Card 2 -->
    <v-card class="mt-3">
      <v-data-table
        :headers="headers"
        :items="items"
        :options.sync="options"
        :server-items-length="totalItems"
        :loading="loading"
        class="elevation-1"
        hide-default-header
      >
        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <th
                v-for="header in headers.filter(
                  (d) =>
                    [
                      'periodDate',
                      'refNo',
                      'totalFeeAmount',
                      'totalFeeVATAmount',
                    ].indexOf(d.value) != -1
                )"
                :key="header.text"
                class="text-sm-body-2 text-center black--text font-weight-medium"
                style="border-bottom: 1px solid #ddd; height: 35px;"
                :rowspan="header.rowspan"
                :colspan="header.colspan"
              >
                <span>{{ header.text }}</span>
              </th>
              <th
                class="text-sm-body-2 text-center black--text font-weight-medium"
                colspan="4"
                style="border-bottom: 1px solid #ddd; height: 35px;"
              >
                <span>Fee + VAT</span>
              </th>
            </tr>
            <tr>
              <th
                v-for="header in headers.filter(
                  (d) =>
                    [
                      'totalDueFeeAmount',
                      'totalDuePaidAmount',
                      'totalBalanceAmount',
                      'actions',
                    ].indexOf(d.value) != -1
                )"
                :key="header.text"
                class="text-sm-body-2 text-center black--text font-weight-medium"
                style="height: 35px;"
              >
                <span>{{ header.text }}</span>
              </th>
            </tr>
          </thead>
        </template>
        <template v-slot:item="{ item }">
          <tr class="ma-0 pa-0">
            <td
              v-for="header in headers"
              :key="header.text"
              class="text-md-body-1"
              align="center"
            >
              <div
                v-if="
                  [
                    'totalFeeAmount',
                    'totalFeeVATAmount',
                    'totalDueFeeAmount',
                    'totalDuePaidAmount',
                    'totalBalanceAmount',
                  ].indexOf(header.value) != -1
                "
                align="center"
              >
                {{ currencyFormat(item[header.value]) }}
              </div>
              <v-menu
                v-else-if="header.value == 'actions'"
                bottom
                :offset-x="true"
                align="center"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon x-small v-bind="attrs" v-on="on">
                    <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item @click="viewItem(item)">
                    <v-list-item-title>View</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="editItem(item)" v-show="checkAuthorities('engineeringfee-edit')">
                    <v-list-item-title>Edit</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
              <div v-else align="center">
                {{ item[header.value] }}
              </div>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>

    <!-- Dialog Create EF Ref No -->
    <engineeringFeeAdd
      :show="createEngineeringFee"
      v-on:close="createEngineeringFee = false"
      v-on:onSuccessAddEngineeringFee="onSuccessAddEngineeringFee"
      :paramMain="param"
    />
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import engineeringFeeAdd from "@/features/finance/engineeringfee/engineering_fee_add.vue";
import { mapActions } from "vuex";
import * as types from "@/store/modules/snackbars/type";
export default {
  components: {
    isttoolbar,
    engineeringFeeAdd,
  },
  data: () => ({
    param: {
      underwriter: "",
      period: "",
    },
    filter: {
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?flagFeeAgreement.equals=1",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      period: {
        items: [],
      },
    },
    headers: [
      {
        text: "Period",
        value: "periodDate",
        sortable: false,
        align: "center",
        rowspan: "2",
      },
      {
        text: "Ref",
        value: "refNo",
        sortable: false,
        align: "center",
        rowspan: "2",
      },
      {
        text: "Fee IDR Amount",
        value: "totalFeeAmount",
        sortable: false,
        align: "center",
        rowspan: "2",
      },
      {
        text: "Fee + VAT",
        value: "totalFeeVATAmount",
        sortable: false,
        align: "center",
        rowspan: "2",
      },
      {
        text: "Due to IBS",
        value: "totalDueFeeAmount",
        sortable: false,
        align: "center",
      },
      {
        text: "Paid by UW",
        value: "totalDuePaidAmount",
        sortable: false,
        align: "center",
      },
      {
        text: "Balance",
        value: "totalBalanceAmount",
        sortable: false,
        align: "center",
      },
      {
        text: "",
        value: "actions",
        sortable: false,
        align: "start",
        style: "width: 10px;",
        class: "pa-0 ma-0",
      },
    ],
    items: [],
    loading: false,
    options: {},
    totalItems: 0,
    rules: { required: (value) => !!value || "Required." },
    createEngineeringFee: false,
  }),
  watch: {
    options: {
      handler() {
        this.refresh();
      },
      deep: true,
    },
  },
  created() {
    this.initList(["underwriter"]);
    this.filter.period.items = this.getPeriod().concat(this.getPeriod(true));
    if(this.$route.query.uw) {
      this.param.underwriter = this.$route.query.uw;
      this.param.period = this.$route.query.period;
    } else {
      this.param.period = this.getPeriodNow();
    }
  },
  computed: {
    form() {
      return {
        underwriter: this.param.underwriter,
        period: this.param.period,
      };
    },
  },
  mounted() {
    
  },
  methods: {
    ...mapActions({
      setSnackbar: types.ACTION_SET_SNACKBAR,
    }),
    goToAdd() {
      this.createEngineeringFee = true;
    },
    generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.refresh();
      } else {
        this.formHasErrors = false;
      }
    },
    refresh() {
      this.getList().then((data) => {
        this.items = data.items;
        this.totalItems = data.total;
      });
    },
    getList() {
      this.loading = true;
      return new Promise((resolve) => {
        const { page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,

          "uwCode.equals": this.param.underwriter,
          "period.equals": this.param.period,
        };

        API.get("finance/api/finance/engineeringfee/view-list-summary", param)
          .then((resp) => {
            if (resp.data.code == 0) {
              console.log(resp);
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.data,
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.setSnackbar({ color: "error", text: "Error" });
          });
      });
    },
    viewItem(item) {
      this.$router.push({
        name: "engineeringfee-edit",
        query: {
          id: item.id,
          mode: "d",
        },
      });
    },
    editItem(item) {
      this.$router.push({
        name: "engineeringfee-edit",
        query: {
          id: item.id,
          mode: "e",
        },
      });
    },
    onSuccessAddEngineeringFee(item) {
      this.param.underwriter = item.uwCode;
      this.param.period = item.period;
      this.refresh();
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            console.log(l, resp);
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    getPeriod(now) {
      let monthList = [
        { value: "01", text: "Jan" },
        { value: "02", text: "Feb" },
        { value: "03", text: "Mar" },
        { value: "04", text: "Apr" },
        { value: "05", text: "May" },
        { value: "06", text: "Jun" },
        { value: "07", text: "Jul" },
        { value: "08", text: "Aug" },
        { value: "09", text: "Sep" },
        { value: "10", text: "Oct" },
        { value: "11", text: "Nov" },
        { value: "12", text: "Dec" },
      ];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      let beforeThisYear = parseInt(currentYear) - 1;
      currentYear = currentYear.toString();
      beforeThisYear = beforeThisYear.toString();

      if (now) {
        for (let i = 0; i < monthList.length; i++) {
          monthList[i].value = monthList[i].value + currentYear;
          monthList[i].text = monthList[i].text + " " + currentYear;
        }
      } else {
        for (let i = 0; i < monthList.length; i++) {
          monthList[i].value = monthList[i].value + beforeThisYear;
          monthList[i].text = monthList[i].text + " " + beforeThisYear;
        }
      }

      return monthList;
    },
    getPeriodNow() {
      let currentPeriod = "";
      let currentDate = new Date();
      let currentMonth = currentDate.getMonth() + 1;
      let currentYear = currentDate.getFullYear();
      let monthNow = "";

      if (currentMonth.toString().length == 1) {
        monthNow = "0" + currentMonth.toString();
      } else {
        monthNow = currentMonth.toString();
      }

      currentPeriod = monthNow + currentYear.toString();
      console.log(currentPeriod);
      return currentPeriod;
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString("en-US");
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
  },
};
</script>
<style>
.CardStyle {
  padding-left: 3.5%;
  padding-right: 4%;
}
</style>
