<template>
  <v-card flat>
    <isttoolbar
      title="Broking Report"
      dark
      color="secondary"
      icon="mdi-file-document"
    >
      <v-spacer></v-spacer>
    </isttoolbar>
    <isttoolbar
      title="Broking Report Listing"
      dark
      color="primary"
      class="mb-0 pl-9"
    ></isttoolbar>

    <masterdatatable
      :headers="headers"
      viewListUrl="report/api/list-broking"
      v-on:clickItem="clickItem"
      :opts="{defaultSortBy:['rptName'], defaultSortDesc:[false]}"
    >
    </masterdatatable>
    <v-dialog v-model="reportDialog.show" max-width="1200px" scrollable>
      <v-card>
        <v-card-title class="headline primary">
          <v-btn icon class="hidden-xs-only btn-disabled" dark>
            <v-icon>mdi-file-document</v-icon>
          </v-btn>
          <span class="white--text">{{ reportDialog.name }}</span>
          <v-spacer> </v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                text
                @click="reportDialog = { show: false }"
                dark
              >
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-title>
        <v-card-text>
          <viewType1
            v-if="
              reportDialog.code === 'RPT01' ||
              reportDialog.code === 'RPT03' ||
              reportDialog.code === 'RPT06' ||
              reportDialog.code === 'RPT07' ||
              reportDialog.code === 'RPT10' ||
              reportDialog.code === 'RPT12' ||
              reportDialog.code === 'RPT13'
            "
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <viewType2
            v-else-if="reportDialog.code === 'RPT02'"
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <viewType3
            v-else-if="
              reportDialog.code === 'RPT04' || reportDialog.code === 'RPT05'
            "
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <viewType4
            v-else-if="reportDialog.code === 'RPT11'"
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />

          <viewType5
            v-else-if="
              reportDialog.code === 'RPT25'
            "
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <viewRenewalList
            v-else-if="reportDialog.code === 'RPTRenewalList'"
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <viewEFList
            v-else-if="reportDialog.code === 'RPTEFProduction'"
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
          <viewType6
            v-else
            :reportCode="reportDialog.code"
            :reportName="reportDialog.name"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import masterdatatable from "@/components/table/masterDataTable";
import viewType1 from "./view-type-1.vue";
import viewType2 from "./view-type-2.vue";
import viewType3 from "./view-type-3.vue";
import viewType4 from "./view-type-4.vue";
import viewType5 from "./view-type-5.vue";
import viewType6 from "./view-type-6.vue";
import viewRenewalList from "./view-renewal-list.vue";
import viewEFList from "./view-ef-list.vue";

export default {
  components: {
    isttoolbar,
    masterdatatable,
    viewType1,
    viewType2,
    viewType3,
    viewType4,
    viewType5,
    viewType6,
    viewRenewalList,
    viewEFList,
  },

  data: () => ({
    viewReportDialog: false,
    toDelete: {},
    dialog: false,
    alert: false,
    errAlert: false,
    headers: [
      {
        text: "Report Name",
        align: "start",
        sortable: true,
        searchable: true,
        value: "name",
        searchValue: "",
        filterType: "input",
        searchInput: "",
        filterParam: "name.contains",
        sortParam: "rptName",
        link: true,
      },
      {
        text: "Description",
        value: "description",
        sortable: false,
        searchValue: "",
        searchable: true,
        filterType: "input",
        searchInput: "",
        filterParam: "description.contains",
        sortParam: "rptDescription",
      },
    ],
    items: [],
    totalItems: 0,
    options: {},
    loading: true,
    reportDialog: { show: false },
  }),

  computed: {},

  watch: {},

  methods: {
    clickItem(item) {
      this.reportDialog = { ...item, show: true };
    },
    show(value) {
      this.reportDialog.code = value;
      this.reportDialog.show = true;
    },
  },
};
</script>
