<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form>
        <!-- 1 -->
        <v-row class="ma-1 pa-0">
          <!-- Period -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Period <span class="error--text">*</span></span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodMonth"
                  name="periodMonth"
                  :items="filter.periodMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodYear"
                  name="periodYear"
                  :items="filter.periodYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 2 -->
        <v-row class="ma-1 pa-0">
          <!-- Segment -->
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Segment <span class="error--text">*</span></span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.segment"
                  label="Select Segment..."
                  hide-details="auto"
                  ref="segment"
                  name="segment"
                  :items="filter.segment.items"
                  item-value="code"
                  item-text="codeAndName"
                  :loading="filter.segment.loading"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- Output Process -->
        <v-divider class="mt-5"></v-divider>
        <v-row class="ma-1 pa-0 mt-2">
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-col cols="3" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="9" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    param: {
      periodMonth: "",
      periodYear: "",
      segment: "",
      output: "",
    },
    filter: {
      periodMonth: {
        items: [],
      },
      periodYear: {
        items: [],
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),
  created() {
    this.filter.periodMonth.items = this.getMonthList();
    this.filter.periodYear.items = this.getLastTenYears();
    this.initList(["segment"]);
  },
  computed: {
    form() {
      return {
        periodMonth: this.param.periodMonth,
        periodYear: this.param.periodYear,
        segment: this.param.segment,
      };
    },
  },
  methods: {
    getMonthList() {
      let monthList = [
        { value: "01", text: "January" },
        { value: "02", text: "February" },
        { value: "03", text: "March" },
        { value: "04", text: "April" },
        { value: "05", text: "May" },
        { value: "06", text: "June" },
        { value: "07", text: "July" },
        { value: "08", text: "August" },
        { value: "09", text: "September" },
        { value: "10", text: "October" },
        { value: "11", text: "November" },
        { value: "12", text: "December" },
      ];
      return monthList;
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push((parseInt(currentYear) - i).toString());
      }
      return yearArray;
    },
    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },
    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },
    async sends(filter, axiosSource) {
      filter.loading = true;
      filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },
    async generate() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },
    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          periodMonth: this.param.periodMonth,
          periodYear: this.param.periodYear,
          segment: this.param.segment,
        },
        group: "BROKING",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      console.debug(paramJSON, docUrl);
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },
    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
  },
};
</script>
