<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form class="ma-2">
        <!-- 1 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Period of Cover</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodFromMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodFromMonth"
                  name="periodFromMonth"
                  :items="filter.periodFromMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodFromYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodFromYear"
                  name="periodFromYear"
                  :items="filter.periodFromYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0 pl-3" align="center">
              <v-col cols="1" class="ma-0 pa-0">
                <span class="title">To</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodToMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodToMonth"
                  name="periodToMonth"
                  :items="filter.periodToMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodToYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodToYear"
                  name="periodToYear"
                  :items="filter.periodToYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 2 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Segment</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.segment"
                  label="Select Segment..."
                  hide-details="auto"
                  ref="segment"
                  name="segment"
                  :items="filter.segment.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Segment."
                  :loading="filter.segment.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0 pl-3" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Invoice No</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-text-field
                  v-model="param.invoiceNo"
                  label="Invoice No..."
                  hide-details="auto"
                  ref="invoiceNo"
                  name="invoiceNo"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 3 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.currency"
                  label="Select Currency..."
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Currency"
                  :loading="filter.currency.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0 pl-3" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Attachment Date</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.attachmentDateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.attachmentDateFrom"
                      ref="attachmentDateFrom"
                      name="attachmentDateFrom"
                      label="From"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.attachmentDateFrom.menu = !filter.attachmentDateFrom
                            .menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.attachmentDateFrom"
                    no-title
                    @input="filter.attachmentDateFrom.menu = false"
                    :max="param.attachmentDateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.attachmentDateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.attachmentDateTo"
                      ref="attachmentDateTo"
                      name="attachmentDateTo"
                      label="To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.attachmentDateTo.menu = !filter
                            .attachmentDateTo.menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.attachmentDateTo"
                    no-title
                    @input="filter.attachmentDateTo.menu = false"
                    :min="param.attachmentDateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 4 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Underwriter</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.underwriter"
                  label="Select Underwriter..."
                  hide-details="auto"
                  ref="underwriter"
                  name="underwriter"
                  :items="filter.underwriter.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the underwriter"
                  @keyup="autocompSearch(filter.underwriter)"
                  :search-input.sync="
                    filter.underwriter.urlParam['codeOrName.contains']
                  "
                  :loading="filter.underwriter.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0 pl-3" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Closing Date</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.closingDateFrom.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.closingDateFrom"
                      ref="closingDateFrom"
                      name="closingDateFrom"
                      label="From"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.closingDateFrom.menu = !filter.closingDateFrom
                            .menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.closingDateFrom"
                    no-title
                    @input="filter.closingDateFrom.menu = false"
                    :max="param.closingDateTo"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-menu
                  v-model="filter.closingDateTo.menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="param.closingDateTo"
                      ref="closingDateTo"
                      name="closingDateTo"
                      label="To"
                      persistent-hint
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details="auto"
                      flat
                      outlined
                      dense
                      solo
                    >
                      <v-btn
                        slot="append"
                        @click="
                          filter.closingDateTo.menu = !filter.closingDateTo
                            .menu
                        "
                        text
                        icon
                      >
                        <v-icon>mdi-calendar</v-icon>
                      </v-btn>
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="param.closingDateTo"
                    no-title
                    @input="filter.closingDateTo.menu = false"
                    :min="param.closingDateFrom"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 4 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Client</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.client"
                  label="Select Client..."
                  hide-details="auto"
                  ref="client"
                  name="client"
                  :items="filter.client.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Client"
                  @keyup="autocompSearch(filter.client)"
                  :search-input.sync="
                    filter.client.urlParam['codeOrName.contains']
                  "
                  :loading="filter.client.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row class="ma-1 pa-0 pt-2" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Client Group</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.clientGroup"
                  label="Select Client Group..."
                  hide-details="auto"
                  ref="clientGroup"
                  name="clientGroup"
                  :items="filter.clientGroup.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Client Group."
                  @keyup="autocompSearch(filter.clientGroup)"
                  :search-input.sync="
                    filter.clientGroup.urlParam['codeOrName.contains']
                  "
                  :loading="filter.clientGroup.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0 pl-3">
            <v-card flat outlined tile class="pt-2 pb-2 pl-3">
              <v-row class="ma-1 pa-0" align="center">
                <v-col cols="12" class="ma-0 pa-0 pl-2">
                    <span class="title" @click="test()">Exchange Rate Period</span>
                </v-col>
              </v-row>
              <v-row class="ma-1 pa-0 pt-2" align="center">
                <v-col cols="4" class="ma-0 pa-0 pl-2">
                  <v-autocomplete
                    v-model="param.periodCurrMonth"
                    label="Month"
                    hide-details="auto"
                    ref="periodFromMonth"
                    name="periodFromMonth"
                    :items="filter.periodCurrMonth.items"
                    item-value="value"
                    item-text="text"
                    class="ma-0 compact-field"
                    solo
                    flat
                    outlined
                    dense
                    @change="getDefaultRate"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="4" class="ma-0 pa-0 pl-2">
                  <v-autocomplete
                  v-model="param.periodCurrYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodFromYear"
                  name="periodFromYear"
                  :items="filter.periodCurrYear.items"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  @change="getDefaultRate"
                ></v-autocomplete>
                </v-col>
                <v-col cols="4" class="ma-0 pa-0 pl-2">
                  <span class="title">{{ currencyFormat(defaultRate) }}</span>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <!-- 5 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Agreement</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-radio-group v-model="param.agreement" row hide-details="auto" class="ma-0 pa-0">
                  <v-radio label="1. Yes"></v-radio>
                  <v-radio label="2. No"></v-radio>
                  <v-radio label="3. All"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title"></span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-divider></v-divider>

        <!-- Output -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row align="center" class="ma-1 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
      fileType="pdfObject"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    param: {
      periodFromMonth: "",
      periodFromYear: "",
      periodToMonth: "",
      periodToYear: "",
      periodCurrMonth: "",
      periodCurrYear: "",
      clientGroup: "",
      accountExecutive: "",
      client: "",
      segment: "",
      currency: "",
      subSegment: "",
      underwriter: "",
      risk: "",
      sortBy: [],
      order: "",
      output: "",
      attachmentDateFrom: "",
      attachmentDateTo: "",
      closingDateFrom: "",
      closingDateTo: "",
      agreement: 1,
    },
    filter: {
      periodFromMonth: {
        items: [],
      },
      periodFromYear: {
        items: [],
      },
      periodToMonth: {
        items: [],
      },
      periodToYear: {
        items: [],
      },
      periodCurrMonth: {
        items: [],
      },
      periodCurrYear: {
        items: [],
      },
      clientGroup: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: {
          codeAndName: "",
          "flagParentGroup.equals": 1,
        },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      accountExecutive: {
        value: "accountExecutive",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      client: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      subSegment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SUBSEGMENT",
        },
        loading: true,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      risk: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      sortBy: {
        items: [
          { value: "currency", text: "Currency" },
          { value: "segment", text: "Segment" },
          { value: "subSegment", text: "Sub Segment" },
          { value: "client", text: "Client" },
        ],
      },
      order: {
        items: [
          { value: "asc", text: "ASC" },
          { value: "desc", text: "DESC" },
        ],
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          // { value: "DOCX", text: "Generate DOCX" },
          { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
      attachmentDateFrom: {
        date: "",
        menu: false,
      },
      attachmentDateTo: {
        date: "",
        menu: false,
      },
      closingDateFrom: {
        date: "",
        menu: false,
      },
      closingDateTo: {
        date: "",
        menu: false,
      },
      effectiveRate: {
        items: [],
        url: "/config/api/master-currency-exchangerate/effective-rate",
        urlParam: {
          "currencyExchangeRate": {
              "currencyFrom": "USD",
          }
        },
        loading: true,
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
    defaultRate: 0,
  }),
  created() {
    this.filter.periodFromMonth.items = this.filter.periodToMonth.items = this.filter.periodCurrMonth.items = this.getMonthList();
    this.filter.periodFromYear.items = this.filter.periodToYear.items = this.filter.periodCurrYear.items = this.getLastTenYears();
    this.initList([
      "effectiveRate",
      "clientGroup",
      "accountExecutive",
      "client",
      "segment",
      "currency",
      "subSegment",
      "underwriter",
      "risk",
    ]);
    this.submitDialog = { show: true, mode: "load" };
    let today = new Date();
    this.param.periodCurrMonth = today.getMonth() + 1;
    this.param.periodCurrYear = today.getFullYear();
  },
  computed: {},
  methods: {
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },

    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },

    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },

    test() {
      console.log("ITEMS", this.filter['effectiveRate'].items);
    },

    async initList(list) {
      for (let l of list) {
        if(l == "effectiveRate") {
          this.submitDialog = { show: true, mode: "load" };
          await API.post(this.filter[l].url, this.filter[l].urlParam).then(
            (resp) => {
              if (resp.data.code == 0) {
                this.filter[l].items = resp.data.data;
                this.defaultRate = resp.data.data.rateDefault;
                this.submitDialog = { show: false, mode: "" };
              } else {
                this.filter[l].items = [];
                this.submitDialog = { show: false, mode: "" };
              }
            }
          );  
        } else {
          await API.get(this.filter[l].url, this.filter[l].urlParam).then(
            (resp) => {
              if (resp.data.code == 0 && resp.data.data.length > 0) {
                this.filter[l].items = resp.data.data;
              } else {
                this.filter[l].items = [];
              }
            }
          );
        }
      
        this.filter[l].loading = false;
      }
    },

    async generate() {
      // Object.keys(this.form).forEach((f) => {
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },

    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          // Filter: segment, periodOfCoverStart, periodOfCoverEnd, attachDateFrom, attachDateTo, underwriter, closingDateFrom, closingDateTo, client, clientGroup, invoiceNo, currency
          periodOfCoverStart: this.firstDateOfMonth(this.param.periodFromYear, this.param.periodFromMonth),
          periodOfCoverEnd: this.endDateOfMonth(this.param.periodToYear, this.param.periodToMonth),
          segment: this.param.segment,
          attachDateFrom: this.param.attachmentDateFrom,
          attachDateTo: this.param.attachmentDateTo,
          underwriter: this.param.underwriter,
          closingDateFrom: this.param.closingDateFrom,
          closingDateTo: this.param.closingDateTo,
          client: this.param.client,
          clientGroup: this.param.clientGroup,
          invoiceNo: this.param.invoiceNo,
          currency: this.param.currency,
        },
        group: "BROKING",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      console.debug(paramJSON, docUrl);
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              // console.log("TEST", resp.data.data);
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
              // console.log("TEST", resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },

    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },

    async sends(filter, axiosSource) {
      filter.loading = true;
      // filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },

    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString("en-US");
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },

    async getDefaultRate() {
      this.submitDialog = { show: true, mode: "load" };
      let url = "/config/api/master-currency-exchangerate/"
      let param = {
        "currencyFrom.equals": "USD",
        "periodMonth.equals": this.param.periodCurrMonth,
        "periodYear.equals": this.param.periodCurrYear,
      };
      
      await API.get(url, param).then(
        (resp) => {
          if (resp.data.code == 0) {
            if(resp.data.data.length > 0) {
              this.defaultRate = resp.data.data[0].rateDefault;
            } else {
              this.defaultRate = this.filter['effectiveRate'].items.rateDefault;
            }
              
            this.submitDialog = { show: false, mode: "" };
          } else {
            this.submitDialog = { show: false, mode: "" };
          }
        }
      );  
    },

    endDateOfMonth(year, month) {
      if(month && year) {
        let yearInput = year;
        let monthInput = month;
        let lastDayOfMonth = new Date(yearInput, monthInput, 1);
        let lastDayOfMonthValue = lastDayOfMonth.toISOString().split('T')[0];
        return lastDayOfMonthValue
      }
    },

    firstDateOfMonth(year, month) {
      if(month && year) {
        let yearInput = String(year);
        let monthInput = String(month).length > 1 ? String(month) : `0${String(month)}`;
        let firstDayOfMonth = `${yearInput}-${monthInput}-01`
        return firstDayOfMonth
      }
    },

    acctExecTextItem: (item) =>
      item.personalData.nickname
        ? item.personalData.nickname + " - " + item.personalData.fullname
        : item.personalData.fullname,
  },
};
</script>
