<template>
  <v-card flat>
    <v-card class="px-0 py-0 mt-2" elevation="0">
      <v-form class="ma-2">
        <!-- 1 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Due Date</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodFromMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodFromMonth"
                  name="periodFromMonth"
                  :items="filter.periodFromMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodFromYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodFromYear"
                  name="periodFromYear"
                  :items="filter.periodFromYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="1" class="ma-0 pa-0">
                <span class="title">To</span>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodToMonth"
                  label="Month"
                  hide-details="auto"
                  ref="periodToMonth"
                  name="periodToMonth"
                  :items="filter.periodToMonth.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="4" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.periodToYear"
                  label="Year"
                  hide-details="auto"
                  ref="periodToYear"
                  name="periodToYear"
                  :items="filter.periodToYear.items"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 2 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Client Group</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.clientGroup"
                  label="Select Client Group..."
                  hide-details="auto"
                  ref="clientGroup"
                  name="clientGroup"
                  :items="filter.clientGroup.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Client Group."
                  @keyup="autocompSearch(filter.clientGroup)"
                  :search-input.sync="
                    filter.clientGroup.urlParam['codeOrName.contains']
                  "
                  :loading="filter.clientGroup.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Account Executive</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.accountExecutive"
                  label="Select Account Executive..."
                  hide-details="auto"
                  ref="accountExecutive"
                  name="accountExecutive"
                  :items="filter.accountExecutive.items"
                  item-value="personalData.nickname"
                  :item-text="acctExecTextItem"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Account Executive."
                  @keyup="autocompSearch(filter.accountExecutive)"
                  :search-input.sync="
                    filter.accountExecutive.urlParam['fullname.contains']
                  "
                  :loading="filter.accountExecutive.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 3 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Client</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.client"
                  label="Select Client..."
                  hide-details="auto"
                  ref="client"
                  name="client"
                  :items="filter.client.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Client"
                  @keyup="autocompSearch(filter.client)"
                  :search-input.sync="
                    filter.client.urlParam['codeOrName.contains']
                  "
                  :loading="filter.client.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Segment</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.segment"
                  label="Select Segment..."
                  hide-details="auto"
                  ref="segment"
                  name="segment"
                  :items="filter.segment.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Segment."
                  :loading="filter.segment.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 4 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Currency</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.currency"
                  label="Select Currency..."
                  hide-details="auto"
                  ref="currency"
                  name="currency"
                  :items="filter.currency.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Currency"
                  :loading="filter.currency.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Sub Segment</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.subSegment"
                  label="Select Sub Segment..."
                  hide-details="auto"
                  ref="subSegment"
                  name="subSegment"
                  :items="filter.subSegment.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Sub Segment."
                  :loading="filter.subSegment.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 5 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Underwriter</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.underwriter"
                  label="Select Underwriter..."
                  hide-details="auto"
                  ref="underwriter"
                  name="underwriter"
                  :items="filter.underwriter.items"
                  item-value="code"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the underwriter"
                  @keyup="autocompSearch(filter.underwriter)"
                  :search-input.sync="
                    filter.underwriter.urlParam['codeOrName.contains']
                  "
                  :loading="filter.underwriter.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Sort By</span>
              </v-col>
              <v-col cols="6" align-self="start" class="ma-0 pa-0">
                <v-select
                  v-model="param.sortBy"
                  label="Select Sort By..."
                  hide-details="auto"
                  ref="sortBy"
                  name="sortBy"
                  :items="filter.sortBy.items"
                  item-value="value"
                  item-text="text"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Segment."
                  :loading="filter.sortBy.loading"
                  multiple
                  @input="param.order = 'asc'"
                ></v-select>
              </v-col>
              <v-col cols="2" align-self="start" class="ma-0 pa-0">
                <v-select
                    v-model="param.order"
                    label="Order"
                    hide-details="auto"
                    ref="order"
                    name="order"
                    :items="filter.order.items"
                    item-value="value"
                    item-text="text"
                    class="ma-0 compact-field"
                    solo
                    flat
                    outlined
                    dense
                    no-data-text="Type the Segment."
                    :loading="filter.order.loading"
                >
                </v-select>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!-- 6 -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row class="ma-1 pa-0" align="center">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Class Of Risk</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.risk"
                  label="Select Class of Risk..."
                  hide-details="auto"
                  ref="risk"
                  name="risk"
                  :items="filter.risk.items"
                  item-value="riskCode"
                  item-text="codeAndName"
                  clearable
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                  no-data-text="Type the Class of Risk"
                  :loading="filter.risk.loading"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 pa-0">
          </v-col>
        </v-row>

        <v-divider></v-divider>

        <!-- Output -->
        <v-row class="ma-1 pa-0">
          <v-col cols="6" class="ma-0 pa-0">
            <v-row align="center" class="ma-1 pa-0">
              <v-col cols="4" class="ma-0 pa-0">
                <span class="title">Output</span>
              </v-col>
              <v-col cols="8" align-self="start" class="ma-0 pa-0">
                <v-autocomplete
                  v-model="param.output"
                  label="Search Output"
                  hide-details="auto"
                  ref="output"
                  name="output"
                  :items="filter.output.items"
                  item-value="value"
                  item-text="text"
                  :loading="filter.output.loading"
                  class="ma-0 compact-field"
                  solo
                  flat
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="ma-0 py-0 px-2">
            <v-row align="center" class="ma-0 pa-0">
              <v-spacer> </v-spacer>
              <v-btn
                min-width="100px"
                outlined
                dark
                color="primary"
                @click="generate"
              >
                Process
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <documentPreview
      :dialogPDF="dialogPDF"
      :filePDF="filePDF"
      :totalPage="totalPage"
      :handleCloseDialog="handleCloseDialog"
    />

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :title="submitDialog.title"
      :message="submitDialog.message"
      v-on:success="submitDialog.show = false"
      v-on:error="submitDialog.show = false"
    >
    </submitdialog>
  </v-card>
</template>

<script>
import API from "@/core/api/api.js";
import axios from "axios";
import submitdialog from "@/components/dialog/submitDialog";
import documentPreview from "@/components/documentPreview/documentPreview";

export default {
  props: ["reportCode", "reportName"],

  components: {
    submitdialog,
    documentPreview,
  },

  data: () => ({
    param: {
      periodFromMonth: 0,
      periodFromYear: 0,
      periodToMonth: 0,
      periodToYear: 0,
      clientGroup: "",
      accountExecutive: "",
      client: "",
      segment: "",
      currency: "",
      subSegment: "",
      underwriter: "",
      risk: "",
      sortBy: [],
      order: "",
      output: "",
    },
    filter: {
      periodFromMonth: {
        items: [],
      },
      periodFromYear: {
        items: [],
      },
      periodToMonth: {
        items: [],
      },
      periodToYear: {
        items: [],
      },
      clientGroup: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { 
          codeAndName: "",
          "flagParentGroup.equals": 1,
        },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      accountExecutive: {
        value: "accountExecutive",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/user/api/user-management/user/",
        urlParam: { "fullname.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      client: {
        value: "clientCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/client?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      segment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SEGMENT",
        },
        loading: true,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      subSegment: {
        items: [],
        url: "/config/api/master-parameter/",
        urlParam: {
          size: -1,
          "isActive.equals": 1,
          "module.equals": "BUSINESS_SUBSEGMENT",
        },
        loading: true,
      },
      underwriter: {
        value: "uwCode",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/clients/api/account/insurance?",
        urlParam: { "codeOrName.contains": "" },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      risk: {
        value: "risk",
        searchValue: "",
        searchParam: "equals",
        searchInput: "",
        items: [],
        url: "/config/api/master-risk/",
        urlParam: { size: -1 },
        loading: true,
        request: null,
        lookupUrl: 1,
      },
      sortBy: {
        items: [
          { value: "currency", text: "Currency" },
          { value: "segment", text: "Segment" },
          { value: "subSegment", text: "Sub Segment" },
          { value: "client", text: "Client" },
        ]
      },
      order: {
        items: [
          { value: "asc", text: "ASC" },
          { value: "desc", text: "DESC" },
        ]
      },
      output: {
        items: [
          { value: "", text: "Preview" },
          // { value: "DOCX", text: "Generate DOCX" },
          // { value: "PDF", text: "Generate PDF" },
          { value: "XLSX", text: "Generate XLSX" },
        ],
      },
    },
    submitDialog: { show: false, mode: "" },
    dialogPDF: false,
    filePDF: null,
    totalPage: 0,
    reportItem: {},
  }),
  created() {
    this.filter.periodFromMonth.items = this.filter.periodToMonth.items = this.getMonthList();
    this.filter.periodFromYear.items = this.filter.periodToYear.items = this.getLastTenYears();
    this.initList([
      "clientGroup",
      "accountExecutive",
      "client",
      "segment",
      "currency",
      "subSegment",
      "underwriter",
      "risk",
      ]);
  },
  computed: {},
  methods: {
    handleCloseDialog() {
      this.filePDF = null;
      this.totalPage = 0;
      this.dialogPDF = false;
    },

    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },

    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear()+5;
      for (let i = 0; i < 15; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },

    async initList(list) {
      for (let l of list) {
        await API.get(this.filter[l].url, this.filter[l].urlParam).then(
          (resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.filter[l].items = resp.data.data;
            } else {
              this.filter[l].items = [];
            }
          }
        );
        this.filter[l].loading = false;
      }
    },

    async generate() {
      // Object.keys(this.form).forEach((f) => {
      //   if (!this.form[f]) {
      //     this.formHasErrors = true;
      //   }
      //   this.$refs[f].validate(true);
      // });

      if (!this.formHasErrors) {
        this.viewFile();
      } else {
        this.formHasErrors = false;
      }
    },

    viewFile() {
      this.filePDF = null;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let docUrl = "report/api/generate";
      let paramJSON = {
        code: this.reportCode,
        fileType: this.param.output == "" ? "PDF" : this.param.output,
        filter: {
          // filter : clientGroup, client, currency, underwriter, risk, aexec, 
          // dueDateFrom, dueDateTo, segment, subSegment, orderBy
          dueDateFrom: this.firstDateOfMonth(this.param.periodFromYear, this.param.periodFromMonth),
          dueDateTo: this.endDateOfMonth(this.param.periodToYear, this.param.periodToMonth),
          clientGroup: this.param.clientGroup,
          aexec: this.param.accountExecutive,
          client: this.param.client,
          segment: this.param.segment,
          currency: this.param.currency,
          subSegment: this.param.subSegment,
          underwriter: this.param.underwriter,
          risk: this.param.risk,
          orderBy: this.param.sortBy,
        },
        group: "BROKING",
      };

      Object.keys(paramJSON.filter).forEach((key) => {
        if (paramJSON.filter[key] == undefined || paramJSON.filter[key] == "") {
          delete paramJSON.filter[key];
        }
      });

      console.debug(paramJSON, docUrl);
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param)
        .then((resp) => {
          if (resp.data.code === 0) {
            if (this.param.output != "") {
              this.saveFile(resp.data.data, paramJSON.fileType);
            } else {
              this.previewFile(resp.data.data);
            }
            this.submitDialog.show = false;
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
          this.submitDialog.message = "";
        });
    },
    
    previewFile(base64EncodedPDF) {
      let byteCharacters = atob(base64EncodedPDF);
      let pdf = "data:application/pdf;base64,";
      let pageCount = byteCharacters.match(/\/Type\s*\/Page\b/g).length;
      this.totalPage = pageCount;
      this.filePDF = pdf + base64EncodedPDF;
      this.dialogPDF = true;
    },

    saveFile(base64, format) {
      let binaryString = window.atob(base64);
      let binaryLen = binaryString.length;
      let bytes = new Uint8Array(binaryLen);
      for (let i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Report Broking - " + this.reportName + "." + format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },

    autocompSearch(filter) {
      if (filter.request) filter.request.cancel();
      const axiosSource = axios.CancelToken.source();
      filter.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(filter, axiosSource), 500);
    },

    async sends(filter, axiosSource) {
      filter.loading = true;
      // filter.items = [];
      let loop = filter.lookupUrl;
      for (let i = 0; i < loop; i++) {
        API.get(
          filter["url" + (i < 1 ? "" : i)],
          filter.urlParam,
          null,
          axiosSource.token
        )
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              // console.log(resp.data.data);
              filter.items = filter.items.concat(resp.data.data);
            }
            filter.loading = false;
          })
          .catch((e) => {
            console.log("error", e);
            filter.loading = false;
          });
      }
      filter.request = null;
    },

    endDateOfMonth(year, month) {
      if(month && year) {
        let yearInput = year;
        let monthInput = month;
        let lastDayOfMonth = new Date(yearInput, monthInput, 1);
        let lastDayOfMonthValue = lastDayOfMonth.toISOString().split('T')[0];
        return lastDayOfMonthValue
      }
    },

    firstDateOfMonth(year, month) {
      if(month && year) {
        let yearInput = String(year);
        let monthInput = String(month).length > 1 ? String(month) : `0${String(month)}`;
        let firstDayOfMonth = `${yearInput}-${monthInput}-01`
        return firstDayOfMonth
      }
    },

    acctExecTextItem: (item) =>
      item.personalData.nickname
        ? item.personalData.nickname + " - " + item.personalData.fullname
        : item.personalData.fullname,
  },
};
</script>
