<template>
  <v-card flat>
    <isttoolbar title="Tax" dark color="secondary" icon="mdi-account-cash">
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="back" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar
      title="View Faktur Pajak - Underwriter"
      dark
      color="primary"
      class="mb-2 pl-9"
    >
    </isttoolbar>
    <v-card class="py-2">
      <v-form>
        <!-- <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Billing Date</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model="param.billingFrom"
              ref="billingFrom"
              name="billingFrom"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
            <span class="title">To</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-text-field
              v-model="param.billingTo"
              ref="billingTo"
              name="billingTo"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field>
          </v-col>
        </v-row> -->
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Period Month</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-autocomplete
              v-model="param.periodMonth"
              hide-details="auto"
              ref="periodMonth"
              name="periodMonth"
              :items="filter.periodMonth.items"
              item-value="value"
              item-text="text"
              class="ma-0 compact-field"
              solo
              flat
              outlined
              dense
              readonly
              append-icon=""
            ></v-autocomplete>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
            <span class="title">Year</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-autocomplete
              v-model="param.periodYear"
              hide-details="auto"
              ref="periodYear"
              name="periodYear"
              :items="filter.periodYear.items"
              class="ma-0 compact-field"
              solo
              flat
              outlined
              dense
              readonly
              append-icon=""
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Type</span>
          </v-col>
          <v-col cols="5" class="pa-1">
            <v-radio-group v-model="taxType" row hide-details="auto" class="ma-0 pa-0">
              <v-radio label="Brokerage" hide-details="auto" :disabled="taxType == 1"></v-radio>
              <v-radio label="Non Brokerage" hide-details="auto" :disabled="taxType == 0"></v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Faktur Pajak Rate</span>
          </v-col>
          <v-col cols="1" class="pa-1">
            <!-- <v-text-field
              v-model="param.fakturPajakRate"
              ref="fakturPajakRate"
              name="fakturPajakRate"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              readonly
            >
            </v-text-field> -->
            <span class="title">{{ param.fakturPajakRate }}</span>
          </v-col>
          <v-col cols="1" class="pa-1">
            <span>IDR per 1 USD</span>
          </v-col>
        </v-row>
        <!-- <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Faktur Range No</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title">{{ param.fakturRangeFrom }}</span>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
            <span class="title">-</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title">{{ param.fakturRangeTo }}</span>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Last VAT No Series</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title primary--text">{{ param.lastVatNoSeries }}</span>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title red--text">{{ param.lastVatNoSeriesLeft }}</span>
          </v-col>
        </v-row> -->
      </v-form>
    </v-card>

    <br />
    <v-card>
      <v-data-table
        :headers="transHeaders"
        :items="items"
        class="elevation-1"
        :server-items-length="totalItem"
        hide-default-footer
        fixed-header
        height="360px"
      >
        <template v-slot:item.insurerCode="{ item }">
          <div>{{ item.insurerCode + " - " + item.insurerName }}</div>
        </template>
        <template v-slot:item.vatNo="{ item }">
          <div>
            {{
              showSeriesNo(item.seriesNo) +
              item.vatNumber.toString().padStart(8, "0")
            }}
          </div>
        </template>
        <template v-slot:item.isOffShore="{ item }">
          <div>{{ item.isOffShore == 1 ? "Yes" : "No" }}</div>
        </template>
        <template v-slot:item.vatConverted="{ item }">
          <div align="right">{{ item.vatConverted }}</div>
        </template>
        <template v-slot:item.brokerageConverted="{ item }">
          <div align="right">{{ item.brokerageConverted }}</div>
        </template>
        <template v-slot:item.entryDate="{ item }">
          <div>{{ dateFormat(item.entryDate) }}</div>
        </template>
        <template v-slot:body.append>
          <tr align="right">
            <td v-for="header in transHeaders" :key="header.text">
              <span v-if="header.value == 'month'" class="font-weight-medium"
                >Total VAT
              </span>
              <span
                v-if="header.value == 'brokerageConverted'"
                class="font-weight-medium"
                >{{ getTotal("brokerageConverted") }}
              </span>
              <span
                v-if="header.value == 'vatConverted'"
                class="font-weight-medium"
                >{{ getTotal("vatConverted") }}
              </span>
            </td>
          </tr>
          <tr align="right">
            <td v-for="header in transHeaders" :key="header.text">
              <span v-if="header.value == 'month'" class="font-weight-medium"
                >Total Generate VAT
              </span>
              <span
                v-if="header.value == 'vatConverted'"
                class="font-weight-medium"
                >{{ getTotalGenerate() }}
              </span>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
// import axios from "axios";
import { VMoney } from "v-money";

export default {
  components: {
    isttoolbar,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      billingFrom: "",
      billingTo: "",
      fakturPajakRate: "",
      periodMonth: "",
      periodYear: "",
      fakturRangeFrom: "",
      fakturRangeTo: "",
      lastVatNoSeries: "",
      lastVatNoSeriesLeft: "",
    },
    filter: {
      billingFrom: {
        menu: false,
      },
      billingTo: {
        menu: false,
      },
      periodMonth: {
        items: [],
      },
      periodYear: {
        items: [],
      },
    },
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    amountChanged: false,
    overlay: true,
    items: [],
    transHeaders: [
      {
        text: "NPWP",
        align: "start",
        sortable: false,
        value: "npwp",
        add: "",
        rules: [],
        filterParam: "npwp",
        searchParam: ".contains",
      },
      {
        text: "Underwriter",
        sortable: false,
        value: "insurerCode",
        add: "",
        rules: [],
        filterParam: "underwriter",
        searchParam: ".contains",
      },
      {
        text: "VAT No",
        sortable: false,
        value: "vatNo",
        add: "",
        rules: [],
      },
      {
        text: "Offshore",
        sortable: false,
        value: "isOffShore",
        add: "",
        rules: [],
      },
      {
        text: "Month",
        sortable: false,
        value: "month",
        add: "",
        rules: [],
      },
      {
        text: "Year",
        sortable: false,
        value: "year",
        add: "",
        rules: [],
      },
      {
        text: "Converted Amount",
        sortable: false,
        value: "vatConverted",
        add: "",
        rules: [],
      },
      {
        text: "Converted VAT",
        sortable: false,
        value: "brokerageConverted",
        add: "",
        rules: [],
      },
      {
        text: "Entry By",
        sortable: false,
        value: "entryBy",
        add: "",
        rules: [],
      },
      {
        text: "Entry Date",
        sortable: false,
        value: "entryDate",
        add: "",
        rules: [],
      },
      // { text: "", sortable: false, value: "action", add: "" },
    ],
    totalItem: 0,
    taxType: 0,
  }),

  computed: {
    form() {
      return {
        billingFrom: this.param.billingFrom,
        billingTo: this.param.billingTo,
        fakturPajakRate: this.param.fakturPajakRate,
        periodMonth: this.param.periodMonth,
        periodYear: this.param.periodYear,
        fakturRangeFrom: this.param.fakturRangeFrom,
        fakturRangeTo: this.param.fakturRangeTo,
      };
    },
  },

  watch: {},

  created() {
    // this.getVatData();
    if (this.$route.query.id) {
      this.getItemData(this.$route.query.id);
    }
    this.filter.periodMonth.items = this.getMonthList();
    this.filter.periodYear.items = this.getLastTenYears();
  },

  methods: {
    getVatData() {
      let param = { "vatRun.equals": 1 };
      API.get("/finance/api/vat/vat-number/", param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let listResp = resp.data.list;
            if (listResp.length > 0) {
              this.param.fakturRangeFrom = listResp[0].from;
              this.param.fakturRangeTo = listResp[0].to;
              this.param.lastVatNoSeries =
                listResp[0].seriesNo + " " + listResp[0].lastNo;
              this.param.lastVatNoSeriesLeft =
                "(" + listResp[0].balance + " Left)";
            }
          }
          // this.overlay = false;
        })
        .catch((error) => {
          console.log(error);
          // this.overlay = false;
        });
    },
    getItemData(id) {
      API.get("/finance/api/tax-underwriter/" + id)
        .then((resp) => {
          if (resp.data.code == 0) {
            let dataResp = resp.data.data;
            this.totalItem = dataResp.listTransaction.length;

            this.param.fakturRangeFrom = dataResp.vatFrom
              .toString()
              .padStart(8, "0");
            this.param.fakturRangeTo = dataResp.vatTo
              .toString()
              .padStart(8, "0");
            this.param.lastVatNoSeries = dataResp.seriesNo + " " + "";
            this.param.lastVatNoSeriesLeft = "(" + " " + " Left)";

            this.param.periodMonth = dataResp.month;
            this.param.periodYear = dataResp.year;
            this.param.fakturPajakRate = dataResp.exchangeRate;
            this.items = dataResp.listTransaction;
            this.taxType = dataResp.taxGroup == "BROKERAGE" ? 0 : 1;
            this.overlay = false;
          }
        })
        .catch((error) => {
          this.overlay = false;
          console.log(error);
        });
    },
    back() {
      this.$router.replace({ name: "vat-underwriter-list", query: {back: true}, });
    },
    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },
    getLastTenYears() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      for (let i = 0; i < 10; i++) {
        yearArray.push(parseInt(currentYear) - i);
      }
      return yearArray;
    },
    dateFormat(data) {
      //dd-MM-yyyy
      if(data) {
        let tanggal =
          data.substring(8, 10) +
          "-" +
          data.substring(5, 7) +
          "-" +
          data.substring(0, 4);

        return tanggal;
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    getTotalGenerate() {
      let addTransItems = JSON.parse(JSON.stringify(this.items));
      let transItems = [];

      for (let addTransItem of addTransItems) {
        transItems.push(addTransItem.npwp);
      }

      return this.countUnique(transItems);
    },
    countUnique(iterable) {
      return new Set(iterable).size;
    },
    format(value, pattern) {
      if (value) {
        var i = 0,
          v = value.toString().replace(/[-.]/g, "");
        return pattern.replace(/#/g, () => v[i++]);
      }
    },
    showSeriesNo(item) {
      let result = "";
      if(item) {
        if(item.length >= 8) {
          result = this.format(item, "###.###-##.");
        } else if(item.length >=5 && item.length < 8) {
          result = this.format(item, "###-##.");
        } else {
          result = item;
        }
      }
      
      return result;
    },
  },
};
</script>

<style scoped>
.itemTable {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  font-size: 1.1rem !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 1.1rem !important;
}
</style>
