<template>
  <v-card flat>
    <isttoolbar title="Tax" dark color="secondary" icon="mdi-account-cash">
      <v-spacer />
      <v-btn @click="save" outlined class="mx-1" min-width="100px">Save</v-btn>
      <v-btn @click="back" outlined class="mx-1" min-width="100px"
        >Cancel</v-btn
      >
    </isttoolbar>
    <isttoolbar
      title="Create Faktur Pajak - Underwriter"
      dark
      color="primary"
      class="mb-2 pl-9"
    >
    </isttoolbar>
    <v-card>
      <v-form>
        <!-- <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Billing Date</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="filter.billingFrom.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  label="Select Date"
                  v-model="param.billingFrom"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="filter.billingFrom.menu = !filter.billingFrom.menu"
                    text
                    icon
                    style="height: auto; width: auto"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="param.billingFrom"
                no-title
                @input="filter.billingFrom.menu = false"
                :max="param.billingTo"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
            <span class="title">To</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-menu
              v-model="filter.billingTo.menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  label="Select Date"
                  v-model="param.billingTo"
                  persistent-hint
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  solo
                  flat
                  outlined
                  dense
                  clearable
                >
                  <v-btn
                    slot="append"
                    @click="filter.billingTo.menu = !filter.billingTo.menu"
                    text
                    icon
                    style="height: auto; width: auto"
                  >
                    <v-icon>mdi-calendar</v-icon>
                  </v-btn>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="param.billingTo"
                no-title
                @input="filter.billingTo.menu = false"
                :min="param.billingFrom"
              ></v-date-picker>
            </v-menu>
          </v-col>
        </v-row> -->
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">
              Period Month
            </span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-autocomplete
              v-model="param.periodMonth"
              label="Month"
              hide-details="auto"
              ref="periodMonth"
              name="periodMonth"
              :items="filter.periodMonth.items"
              item-value="value"
              item-text="text"
              class="ma-0 compact-field"
              solo
              flat
              outlined
              dense
              readonly
              append-icon=""
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
            <span class="title">Year</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <v-autocomplete
              v-model="param.periodYear"
              label="Year"
              hide-details="auto"
              ref="periodYear"
              name="periodYear"
              :items="filter.periodYear.items"
              class="ma-0 compact-field"
              solo
              flat
              outlined
              dense
              readonly
              append-icon=""
              :rules="[rules.required]"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Type</span>
          </v-col>
          <v-col cols="5" class="pa-1">
            <v-radio-group v-model="taxType" row hide-details="auto" class="ma-0 pa-0" @change="changeType">
              <v-radio label="Brokerage" hide-details="auto"></v-radio>
              <v-radio label="Non Brokerage" hide-details="auto"></v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Faktur Pajak Rate</span>
          </v-col>
          <v-col cols="1" class="pa-1">
            <!-- <v-text-field
              v-model="param.fakturPajakRate"
              ref="fakturPajakRate"
              name="fakturPajakRate"
              persistent-hint
              hide-details="auto"
              flat
              outlined
              dense
              solo
              type="number"
              v-money="money"
            >
            </v-text-field> -->
            <span class="title">{{
              currencyFormat(param.fakturPajakRate)
            }}</span>
          </v-col>
          <v-col cols="1" class="pa-1">
            <span>IDR per 1 USD</span>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Faktur Range No</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title">{{
              prefixSeriesNo +
              (prefixSeriesNo ? "." : "") +
              showSeriesNo(this.param.seriesNo) + 
              param.fakturRangeFrom
            }}</span>
          </v-col>
          <v-col cols="1" class="pa-1 text-center">
            <span class="title">-</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title">{{
              prefixSeriesNo +
              (prefixSeriesNo ? "." : "") +
              showSeriesNo(this.param.seriesNo) + 
              param.fakturRangeTo
            }}</span>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="2" class="pa-1">
            <span class="title">Next VAT No Series</span>
          </v-col>
          <v-col cols="2" class="pa-1">
            <span class="title primary--text">
              {{
                prefixSeriesNo +
                (prefixSeriesNo ? "." : "") + 
                param.lastVatNoSeries 
              }}
            </span>
          </v-col>
          <v-col cols="1" class="pa-1 d-flex justify-center">
            <!-- <span class="title">-</span> -->
          </v-col>
          <v-col cols="3" class="pa-1">
            <span class="title red--text">{{ param.lastVatNoSeriesLeft }}</span>
            <!-- <v-btn
              color="primary"
              outlined
              width="100px"
              small
              @click="openDialogEditVatLastNo"
              class="ml-2"
            >
              <span>Edit Last Vat No</span>
            </v-btn> -->
          </v-col>
        </v-row>
      </v-form>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          outlined
          min-width="100px"
          @click="openTransDialog"
        >
          <v-icon class="ml-0" left>mdi-magnify</v-icon>
          Search Transaction
        </v-btn>
      </v-card-actions>
    </v-card>

    <br />
    <v-card>
      <v-data-table
        :headers="transHeaders"
        :items="items"
        hide-default-footer
        class="elevation-1"
        :options.sync="transOptions"
        height="300"
        fixed-header
      >
        <template v-slot:item.insurerCode="{ item }">
          <div>{{ item.insurerCode + " - " + item.insurerName }}</div>
        </template>
        <template v-slot:item.isOffShore="{ item }">
          <div>{{ item.isOffShore == 1 ? "Yes" : "No" }}</div>
        </template>
        <template v-slot:item.vatConverted="{ item }">
          <div align="right">
            {{ item.vatConverted == "-0.00" ? "0.00" : item.vatConverted }}
          </div>
        </template>
        <template v-slot:item.brokerageConverted="{ item }">
          <div align="right">
            {{ item.brokerageConverted == "-0.00" ? "0.00" : item.brokerageConverted }}
          </div>
        </template>
        <template v-slot:item.entryDate="{ item }">
          <div>{{ dateFormat(item.entryDate) }}</div>
        </template>
        <template v-slot:[`item.action`]="{ item }">
          <v-btn
            icon
            outlined
            depressed
            small
            text
            @click="removeTrans(item, 'items')"
          >
            <v-icon>mdi-minus</v-icon>
          </v-btn>
        </template>
        <template v-slot:body.append>
          <tr align="right">
            <td v-for="header in transHeaders" :key="header.text">
              <span v-if="header.value == 'month'" class="font-weight-medium"
                >Total VAT
              </span>
              <span
                v-if="header.value == 'brokerageConverted'"
                class="font-weight-medium"
                >{{ getTotal("brokerageConverted") }}
              </span>
              <span
                v-if="header.value == 'vatConverted'"
                class="font-weight-medium"
                >{{ getTotal("vatConverted") }}
              </span>
            </td>
          </tr>
          <tr align="right">
            <td v-for="header in transHeaders" :key="header.text">
              <span v-if="header.value == 'month'" class="font-weight-medium"
                >Total Generate VAT
              </span>
              <span
                v-if="header.value == 'vatConverted'"
                class="font-weight-medium"
                >{{ getTotalGenerate() }}
              </span>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="transDialog" persistent max-width="1100" scrollable>
      <v-card>
        <v-card-title class="headline blue--text text--darken-4">
          Choose Transaction
          <v-spacer></v-spacer>
          <v-btn text depressed color="primary" @click="dialogClose">
            <v-icon large>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="transHeaders"
            :items="transItems"
            hide-default-footer
            :loading="transLoading"
            class="elevation-1"
            :options.sync="options"
            :server-items-length="totalItems"
            hide-default-header
            height="300"
            fixed-header
          >
            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th
                    v-for="header in headers"
                    :key="header.text"
                    class="xsmall-label text-center ma-0 pl-3 pr-1"
                    style="border-bottom: 1px solid #ddd;"
                  >
                    <v-select
                      v-if="
                        header.filterType == 'select' && header.value == 'month'
                      "
                      dense
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      v-on:change="onkeyupTransSearch"
                      :items="filter.periodMonth.items"
                      item-value="value"
                      item-text="value"
                      clearable
                    >
                    </v-select>
                    <v-autocomplete
                      v-else-if="
                        header.filterType == 'selectStatus' &&
                        header.value == 'insurerCode'
                      "
                      dense
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      v-on:change="onkeyupTransSearch"
                      :search-input.sync="search.underwriter.input"
                      :items="search.underwriter.items"
                      :loading="search.underwriter.loading"
                      item-value="code"
                      item-text="codeAndName"
                      clearable
                    ></v-autocomplete>
                    <v-text-field
                      v-else
                      dense
                      hide-details="auto"
                      v-model="header.searchValue"
                      :label="header.text"
                      :ref="header.value"
                      :name="header.value"
                      :disabled="header.value != 'a'"
                      v-on:keyup="onkeyupTransSearch()"
                      class="centered-input"
                    >
                    </v-text-field>
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:item="{ item }">
              <tr>
                <td
                  v-for="header in transHeaders"
                  :key="header.text"
                  class="ma-0 pl-3 pr-0"
                >
                  <div
                    v-if="['insurerCode'].indexOf(header.value) != -1"
                    class="text-left itemTable"
                    style="width: 170px;"
                  >
                    {{ item[header.value] + " - " + item["insurerName"] }}
                  </div>
                  <div
                    v-else-if="['month', 'year'].indexOf(header.value) != -1"
                    class="text-center itemTable"
                    style="width: 30px;"
                  >
                    {{ item[header.value] }}
                  </div>
                  <div
                    v-else-if="['isOffShore'].indexOf(header.value) != -1"
                    class="text-center itemTable"
                    style="width: 20px;"
                  >
                    {{ item[header.value] == 1 ? "Yes" : "No" }}
                  </div>
                  <div
                    v-else-if="['brokerageConverted'].indexOf(header.value) != -1"
                    class="text-right itemTable"
                    style="width: 100px;"
                  >
                    {{
                      item[header.value] == "-0.00"
                        ? "0.00"
                        : item[header.value]
                    }}
                  </div>
                  <div
                    v-else-if="['entryDate'].indexOf(header.value) != -1"
                    class="text-center itemTable"
                    style="width: 65px;"
                  >
                    {{ dateFormat(item[header.value]) }}
                  </div>
                  <div
                    v-else-if="['action'].indexOf(header.value) != -1"
                    class="text-center itemTable"
                    style="width: 40px;"
                  >
                    <div
                      v-if="cekBtnTransaction(item)"
                      depressed
                      small
                      text
                      style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                      class="text-center"
                    >
                      <v-icon color="green" class="pl-3">mdi-check</v-icon>
                    </div>
                    <v-btn
                      v-else
                      :disabled="
                        item.brokerageConverted == '0.00' ||
                        item.brokerageConverted == '-0.00' ||
                        item.npwp == null ||
                        item.npwp == ''
                      "
                      class="text-center"
                      depressed
                      small
                      text
                      color="primary"
                      @click="addTrans(item)"
                      style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    >
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </div>
                  <div v-else class="itemTable">
                    {{ item[header.value] }}
                  </div>
                </td>
              </tr>
            </template>
            <template v-slot:body.append>
              <tr>
                <v-card v-intersect="infiniteScrolling" flat>-</v-card>
              </tr>
            </template>
          </v-data-table>

          <br />
          <span class="title blue--text text--darken-4">
            Transaction Added
          </span>
          <v-data-table
            :headers="transHeaders"
            :items="toAddTransItems"
            hide-default-footer
            class="elevation-1"
            :options.sync="transOptions"
            height="300"
            fixed-header
          >
            <template v-slot:item.insurerCode="{ item }">
              <div>{{ item.insurerCode + " - " + item.insurerName }}</div>
            </template>
            <template v-slot:item.isOffShore="{ item }">
              <div>{{ item.isOffShore == 1 ? "Yes" : "No" }}</div>
            </template>
            <template v-slot:item.brokerageConverted="{ item }">
              <div align="right">
                {{ item.brokerageConverted == "-0.00" ? "0.00" : item.brokerageConverted }}
              </div>
            </template>
            <template v-slot:item.entryDate="{ item }">
              <div>{{ dateFormat(item.entryDate) }}</div>
            </template>

            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                depressed
                small
                text
                color="primary"
                @click="removeTrans(item, 'toAddTransItems')"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            outlined
            min-width="100"
            depressed
            :disabled="Object.keys(toAddTransItems).length == 0"
            @click="submitTrans"
          >
            Choose
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- <v-dialog
      v-model="dialogEditLastVatNo"
      persistent
      max-width="650"
      scrollable
    >
      <v-card class="pa-2">
        <v-row align="center" class="mx-2">
          <v-col cols="4" class="pa-1">
            <h1 class="primary--text">Edit Last VAT No</h1>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="4" class="pa-1">
            <span class="title">Faktur Range No</span>
          </v-col>
          <v-col cols="3" class="pa-1">
            <span class="title primary--text">{{
              format(param.seriesNo, "###.###-##.") + param.fakturRangeFrom
            }}</span>
          </v-col>
          <v-col cols="1" class="pa-1 text-center">
            <span class="title">-</span>
          </v-col>
          <v-col cols="3" class="pa-1">
            <span class="title primary--text">{{
              format(param.seriesNo, "###.###-##.") + param.fakturRangeTo
            }}</span>
          </v-col>
        </v-row>
        <v-row align="center" class="mx-2">
          <v-col cols="4" class="pa-1">
            <span class="title">Next VAT No Series</span>
          </v-col>
          <v-col cols="4" class="pa-1">
            <v-text-field
              v-model="param.nextVatNoSeries"
              label="Next Vat No Series..."
              ref="nextVatNoSeries"
              name="nextVatNoSeries"
              class="ma-0 compact-field primary--text"
              hide-details="auto"
              solo
              flat
              outlined
              dense
              v-mask="format(param.seriesNo, '###.###-##.') + '########'"
              @input="rangeChange"
              :rules="[
                rules.required,
                (value) =>
                  Number(value.substring(11, 19)) >= param.lastNumber ||
                  'Next VAT No Series can’t less than last VAT No',
                (value) =>
                  Number(value.substring(11, 19)) <= param.fakturRangeTo ||
                  'Next VAT No Series can’t greater than range To VAT No Series',
              ]"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="pa-1">
            <span class="title red--text"
              >{{ "(" + param.nextVatNoSeriesLeft }} Left)</span
            >
          </v-col>
        </v-row>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outlined
            min-width="100px"
            @click="saveEditVatLastNo"
          >
            Save
          </v-btn>
          <v-btn
            color="primary"
            outlined
            min-width="100px"
            @click="dialogEditLastVatNo = false"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    <submitdialog
      :show="submitDialog.show"
      :mode="submitDialog.mode"
      :message="submitDialog.message"
      v-on:success="submitDialog.onSuccess"
      v-on:error="checkVatNumber ? back() : (submitDialog.show = false)"
    >
    </submitdialog>
    <confirmdialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      v-on:yes="onYesConfirm"
      v-on:no="onNoConfirm"
    >
    </confirmdialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
// import axios from "axios";
import { VMoney } from "v-money";
import submitdialog from "@/components/dialog/submitDialog";
import confirmdialog from "@/components/dialog/confirmDialog";
import * as snackTypes from "@/store/modules/snackbars/type";
import { mapActions } from "vuex";

export default {
  components: {
    isttoolbar,
    submitdialog,
    confirmdialog,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      id: "",
      billingFrom: "",
      billingTo: "",
      fakturPajakRate: "",
      periodMonth: "",
      periodYear: "",
      fakturRangeFrom: "",
      fakturRangeTo: "",
      lastVatNoSeries: "",
      lastVatNoSeriesLeft: "",
      nextVatNoSeries: "",
      nextVatNoSeriesLeft: "",
      lastNumber: "",
      vatId: "",
    },
    filter: {
      billingFrom: {
        menu: false,
      },
      billingTo: {
        menu: false,
      },
      periodMonth: {
        items: [],
      },
      periodYear: {
        items: [],
      },
    },
    formHasErrors: false,
    formEditLastVatNoHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
    amountChanged: false,
    overlay: false,
    transDialog: false,
    transItems: [],
    transLoading: false,
    transOptions: {
      itemsPerPage: -1,
      page: 1,
    },
    options: {
      itemsPerPage: 10,
      page: 1,
    },
    totalItems: 0,
    toAddTransItems: [],
    items: [],
    transHeaders: [
      {
        text: "NPWP",
        align: "start",
        sortable: false,
        value: "npwp",
        add: "",
        rules: [],
        filterParam: "npwp",
        searchParam: ".contains",
      },
      {
        text: "Underwriter",
        sortable: false,
        value: "insurerCode",
        add: "",
        rules: [],
        filterParam: "uwCode",
        searchParam: ".equals",
        filterType: "selectStatus",
      },
      {
        text: "Offshore",
        sortable: false,
        value: "isOffShore",
        add: "",
        rules: [],
      },
      {
        text: "Month",
        sortable: false,
        value: "month",
        add: "",
        rules: [],
        filterParam: "month",
        searchParam: ".equals",
        filterType: "select",
      },
      {
        text: "Year",
        sortable: false,
        value: "year",
        add: "",
        rules: [],
      },
      {
        text: "Converted Amount",
        sortable: false,
        value: "vatConverted",
        add: "",
        rules: [],
      },
      {
        text: "Converted VAT",
        sortable: false,
        value: "brokerageConverted",
        add: "",
        rules: [],
      },
      {
        text: "Entry By",
        sortable: false,
        value: "entryBy",
        add: "",
        rules: [],
      },
      {
        text: "Entry Date",
        sortable: false,
        value: "entryDate",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "", maxWidth: "20px" },
    ],
    submitDialog: {
      show: false,
      mode: "",
      title: "",
      message: "",
      onSuccess: function () {},
    },
    confirmDialog: {
      show: false,
      message: "",
    },
    search: {
      underwriter: {
        input: "",
        items: [],
        url: "/clients/api/account/insurance/?size=10000",
        loading: true,
        request: null,
      },
    },
    dialogEditLastVatNo: false,
    checkVatNumber: false,
    taxType: 0,
    taxTypeInput: "",
    listConfigSeriesNo: [],
    prefixSeriesNo: "",
  }),

  computed: {
    form() {
      return {
        periodMonth: this.param.periodMonth,
        periodYear: this.param.periodYear,
      };
    },
    formEditLastVatNo() {
      return {
        nextVatNoSeries: this.param.nextVatNoSeries,
      };
    },
  },

  watch: {
    options: {
      handler() {
        // this.transRefresh();
      },
      deep: true,
    },
  },

  async created() {
    this.taxType = this.$route.query.type == "n" ? 1 : 0;
    this.getVatData();
    this.getRate();
    this.getTaxConfig();
    this.filter.periodMonth.items = this.getMonthList();
    this.filter.periodYear.items = this.getThisYear();
  },

  methods: {
    ...mapActions({
      setSnackbar: snackTypes.ACTION_SET_SNACKBAR,
    }),
    async initList(list) {
      for (let l of list) {
        await API.get(this.search[l].url).then((resp) => {
          if (resp.data.code == 0 && resp.data.data.length > 0) {
            this.search[l].items = resp.data.data;
          } else {
            this.search[l].items = [];
          }
        });
        this.search[l].loading = false;
      }
    },
    getVatData() {
      this.overlay = true;
      let param = { "vatRun.equals": 1 };
      API.get("/finance/api/vat/vat-number/", param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let listResp = resp.data.list;
            if (listResp.length > 0) {
              this.param.vatId = listResp[0].id;
              this.param.seriesNo = listResp[0].seriesNo;
              this.param.fakturRangeFrom = listResp[0].from
                .toString()
                .padStart(8, "0");
              this.param.fakturRangeTo = listResp[0].to
                .toString()
                .padStart(8, "0");
              this.param.lastVatNoSeries =
                // this.format(listResp[0].seriesNo, "###.###-##.") +
                this.showSeriesNo(listResp[0].seriesNo) +
                listResp[0].lastNo.toString().padStart(8, "0");
              this.param.lastVatNoSeriesLeft =
                "(" + listResp[0].balance + " Left)";
              if (listResp[0].seriesNo) {
                this.param.lastNumber = listResp[0].lastNo
                  .toString()
                  .padStart(8, "0");
                this.param.nextVatNoSeries = this.param.lastNumber;
              }
              this.overlay = false;
            } else {
              this.checkVatNumber = true;
              this.submitDialog.message =
                "VAT Number is not available. Please register the VAT Number first";
              this.submitDialog.mode = "error";
              this.submitDialog.show = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
          this.overlay = false;
        });
    },
    getTaxConfig() {
      let param = { 
        "isActive.equals": 1,
        "module.equals": "TAX_CONFIG",
        "code.in": "SERIESNO_BROKERAGE,SERIESNO_NONBROKERAGE",
      };
      API.get("/config/api/master-parameter/", param)
        .then((resp) => {
          if (resp.data.code == 0) {
            let listResp = resp.data.data;
            let listRespAfter = listResp.filter(
              (v) => v.code.includes("SERIESNO_") == true
            );
            this.listConfigSeriesNo = listRespAfter;
            this.changeSeriesNo();
          }
        })
        .catch((error) => {
          console.log(error);
          this.overlay = false;
        });
    },
    back() {
      this.$router.replace({ name: "vat-underwriter-list" });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        console.log(f, this.form[f]);
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      // validasi tabel trans
      this.submitDialog.message = "";
      if (!this.formHasErrors) {
        if (this.items.length < 1) {
          this.formHasErrors = true;
          this.submitDialog.message = "Please select at least one Transaction";
        }
      }

      if (!this.formHasErrors) {
        await this.doAdd();
        // this.back();
      } else {
        if (this.submitDialog.message != "") {
          this.submitDialog.mode = "error";
          this.submitDialog.show = true;
        }
        this.formHasErrors = false;
      }
    },
    async doAdd() {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let submitUrl = "finance/api/tax-underwriter/save";

      let paramJSON = {
        data: {
          exchangeRate: this.param.fakturPajakRate,
          month: this.param.periodMonth,
          year: this.param.periodYear,
          vatFrom: this.param.fakturRangeFrom,
          vatTo: this.param.fakturRangeTo,
          listTransaction: this.items,
          taxGroup: this.taxType == 0 ? "BROKERAGE" : "NONBROKERAGE",
        },
        prefix: this.prefixSeriesNo,
      };

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            // this.submitDialog.mode = "success";
            this.submitDialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            if (resp.data.data) {
              this.param.id = resp.data.data.id;
              // this.submitDialog.onSuccess = function () {
              //   vm.editItem();
              // };
              vm.editItem();
            } else {
              this.submitDialog.onSuccess = function () {
                vm.back();
              };
            }
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    editItem() {
      this.$router.push({
        name: "vat-underwriter-edit",
        query: { id: this.param.id, mode: "d" },
      });
    },
    getMonthList() {
      let monthList = [
        { value: 1, text: "January" },
        { value: 2, text: "February" },
        { value: 3, text: "March" },
        { value: 4, text: "April" },
        { value: 5, text: "May" },
        { value: 6, text: "June" },
        { value: 7, text: "July" },
        { value: 8, text: "August" },
        { value: 9, text: "September" },
        { value: 10, text: "October" },
        { value: 11, text: "November" },
        { value: 12, text: "December" },
      ];
      return monthList;
    },
    // getLastTenYears() {
    //   let yearArray = [];
    //   let currentDate = new Date();
    //   let currentYear = currentDate.getFullYear();
    //   for (let i = 0; i < 10; i++) {
    //     yearArray.push(parseInt(currentYear) - i);
    //   }
    //   return yearArray;
    // },
    getThisYear() {
      let yearArray = [];
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      yearArray.push(parseInt(currentYear));

      return yearArray;
    },
    async submitTrans() {
      let addTransItems = JSON.parse(JSON.stringify(this.toAddTransItems));

      var result = [];
      addTransItems.reduce(function (res, value) {
        if (!res[value.npwp]) {
          res[value.npwp] = { npwp: value.npwp, brokerageConverted: 0 };
          result.push(res[value.npwp]);
        }
        res[value.npwp].brokerageConverted += parseFloat(
          value.brokerageConverted.replace(/,/g, "")
        );
        return res;
      }, {});

      let resultList = result.filter((v) => v.brokerageConverted < 0);

      if (resultList.length > 0) {
        this.submitDialog.message = `NPWP ${resultList[0].npwp} has minus summary`;
        this.submitDialog.mode = "error";
        this.submitDialog.show = true;
      } else {
        this.transDialog = false;
        this.items = this.toAddTransItems;
        this.transItems = [];
        this.options.page = 1;
        this.taxTypeInput = this.taxType;
      }
    },
    openTransDialog() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (this.formHasErrors) {
        this.formHasErrors = false;
        return;
      }
      this.toAddTransItems = JSON.parse(JSON.stringify(this.items));
      this.transDialog = true;
      this.initList(["underwriter"]);
      for (let key of this.transHeaders) {
        key.searchValue = "";
      }
      this.transRefresh();
      // this.onkeyupTransSearch();
    },
    transRefresh() {
      // this.getList().then((data) => {
      //   this.transItems = data.items;
      // });

      let vm = this;
      this.getList().then((data) => {
        if (this.options.page > 1) {
          if (data.items.length > 0) {
            data.items.forEach((item) => {
              let existItem = vm.transItems.filter((val) => val == item);
              if (existItem.length < 1) {
                vm.transItems.push(item);
              }
            });
          }
        } else {
          this.transItems = data.items;
        }
        this.totalItems = data.total;
      });
    },
    infiniteScrolling(entries, observer, isIntersecting) {
      console.log("entries", entries);
      console.log("observer", observer);
      console.log("isIntersecting", isIntersecting);
      if (
        !this.transLoading &&
        this.isFullRecord &&
        this.transItems.length > 0 &&
        entries[0].isIntersecting
      ) {
        this.options.page = this.options.page + 1;
        this.transRefresh();
      }
    },
    onkeyupTransSearch() {
      this.transOptions.page = 1;
      this.options.page = 1;
      this.transRefresh();
    },
    addTrans(item) {
      let existItem = this.toAddTransItems.filter(
        (value) => JSON.stringify(value) == JSON.stringify(item)
      );
      if (existItem < 1) {
        this.toAddTransItems.push(JSON.parse(JSON.stringify(item)));
      }
    },
    removeTrans(item, name) {
      for (let i = 0; i < this[name].length; i++) {
        if (JSON.stringify(this[name][i]) == JSON.stringify(item)) {
          this[name].splice(i, 1);
        }
      }
    },
    getList() {
      this.transLoading = true;
      // this.transItems = [];
      return new Promise((resolve) => {
        const { sortBy, sortDesc, page, itemsPerPage } = this.options;
        let param = {
          page: page - 1,
          size: itemsPerPage,
          // month: this.param.periodMonth,
          // year: this.param.periodYear,
          // exchangeRate: this.param.fakturPajakRate,
          sort: "insurerCode,month",
          // taxGroup: this.taxType == 0 ? "BROKERAGE" : "NONBROKERAGE"
        };
        let urlGetList = this.taxType == 0 
          ? "finance/api/tax-underwriter/brokerage/generate-list"
          : "finance/api/tax-underwriter/non-brokerage/generate-list"
        if (
          sortBy != undefined &&
          sortDesc != undefined &&
          sortBy.length > 0 &&
          sortDesc.length > 0
        ) {
          param["sort"] = [
            sortBy[0],
            sortDesc[0] ? "desc" : "asc",
            "ignoreCase",
          ].join(",");
        }

        const findHeaderValueNotEmpty = this.transHeaders.filter(
          (value) => String(value.searchValue).length > 0
        );
        if (findHeaderValueNotEmpty.length > 0) {
          param = Object.assign(
            param,
            ...findHeaderValueNotEmpty.map((value) => {
              return {
                [(value.filterParam && value.filterParam.length > 0
                  ? value.filterParam
                  : value.value) + value.searchParam]: value.searchValue,
              };
            })
          );
        }
        API.get(urlGetList, param)
          .then((resp) => {
            if (resp.data.code == 0) {
              this.isFullRecord =
                resp.data.listTransaction.length == this.options.itemsPerPage;
              resolve({
                total: parseInt(resp.headers["x-total-count"]), // ini harus nya total semua record
                items: resp.data.listTransaction,
              });
            } else {
              resolve({
                items: [],
              });
            }
            this.transLoading = false;
          })
          .catch((error) => {
            console.log(error);
            this.transLoading = false;
          });
      });
    },
    async getRate() {
      let param = {
        currencyExchangeRate: {
          currencyFrom: "USD",
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      if (resp.data.code == 0) {
        this.param.fakturPajakRate = resp.data.data.rateAlternate;
      } else {
        this.param.fakturPajakRate = "1.00";
      }
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    dateFormat(data) {
      //dd-MM-yyyy
      let tanggal =
        data.substring(8, 10) +
        "-" +
        data.substring(5, 7) +
        "-" +
        data.substring(0, 4);

      return tanggal;
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.items) {
        total = total + this.currencyToFloat(key[data]);
      }
      return this.currencyFormat(total);
    },
    getTotalGenerate() {
      let addTransItems = JSON.parse(JSON.stringify(this.items));
      let transItems = [];

      for (let addTransItem of addTransItems) {
        transItems.push(addTransItem.npwp);
      }

      return this.countUnique(transItems);
    },
    dialogClose() {
      this.transDialog = false;
      this.transItems = [];
      this.options.page = 1;
      this.taxTypeInput = "";
    },
    openDialogEditVatLastNo() {
      this.param.nextVatNoSeries = this.param.lastVatNoSeries;
      this.dialogEditLastVatNo = true;
      this.rangeChange();
      this.getTotalGenerate();
    },
    rangeChange() {
      let range = 0;
      let vatFrom = this.param.fakturRangeFrom;
      let vatTo = this.param.fakturRangeTo;
      let vatNext = this.param.nextVatNoSeries;

      if (vatNext) {
        vatNext = vatNext.substring(11, 19);
      }

      if (
        vatFrom &&
        vatTo &&
        Number(vatNext) >= Number(vatFrom) &&
        Number(vatNext) <= Number(vatTo)
      ) {
        range =
          Number(vatTo) -
          Number(vatFrom) +
          1 -
          (Number(vatNext) - Number(vatFrom));
      } else {
        range = 0;
      }

      return (this.param.nextVatNoSeriesLeft = range);
    },
    saveEditVatLastNo() {
      Object.keys(this.formEditLastVatNo).forEach((f) => {
        if (
          !this.formEditLastVatNo[f] ||
          Number(this.formEditLastVatNo["nextVatNoSeries"].substring(11, 19)) <
            Number(this.param.lastNumber) ||
          Number(this.formEditLastVatNo["nextVatNoSeries"].substring(11, 19)) >
            Number(this.param.fakturRangeTo)
        ) {
          this.formEditLastVatNoHasErrors = true;
        }
        this.$refs[f].validate(true);
      });

      if (!this.formEditLastVatNoHasErrors) {
        this.doEdit();
      } else {
        if (this.submitDialog.message != "") {
          this.submitDialog.mode = "error";
          this.submitDialog.show = true;
        }
        this.formEditLastVatNoHasErrors = false;
      }
    },
    async doEdit() {
      let vm = this;
      this.submitDialog.mode = "loading";
      this.submitDialog.show = true;
      let submitUrl = "finance/api/vat/vat-number/edit";

      let vatNext = Number(this.param.nextVatNoSeries.substring(11, 19));

      let paramJSON = {
        data: {
          id: this.param.vatId,
          seriesNo: this.param.seriesNo,
          from: this.param.fakturRangeFrom,
          to: this.param.fakturRangeTo,
          vatRun: 1,
          balance: this.param.nextVatNoSeriesLeft,
          lastNo: vatNext,
        },
      };

      let param = JSON.stringify(paramJSON);
      API.post(submitUrl, param)
        .then((resp) => {
          if (resp.data.code == 0) {
            // this.submitDialog.mode = "success";
            this.submitDialog.show = false;
            this.setSnackbar({ 
              top: true, 
              notOutlined: true,
              textTitle: true,
              icon: "mdi-check-circle"
            });
            if (resp.data.data) {
              // this.submitDialog.onSuccess = function () {
              //   vm.dialogEditLastVatNo = false;
              //   vm.submitDialog.show = false;
              //   vm.getVatData();
              // };
              this.dialogEditLastVatNo = false;
              this.submitDialog.show = false;
              this.getVatData();
            } else {
              this.submitDialog.onSuccess = function () {
                vm.submitDialog.show = false;
              };
            }
          } else {
            this.submitDialog.mode = "error";
            this.submitDialog.message =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.submitDialog.mode = "error";
        });
    },
    format(value, pattern) {
      if (value) {
        var i = 0,
          v = value.toString().replace(/[-.]/g, "");
        return pattern.replace(/#/g, () => v[i++]);
      } else {
        return "";
      }
    },
    cekBtnTransaction(item) {
      let existItem = this.toAddTransItems.filter(
        (value) => JSON.stringify(value) == JSON.stringify(item)
      );

      if (existItem.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    countUnique(iterable) {
      return new Set(iterable).size;
    },
    changeType() {
      if(this.items.length > 0) {
        if(this.taxTypeInput != this.taxType) {
          this.confirmDialog.show = true;
        }
      }

      this.changeSeriesNo();
    },
    onYesConfirm() {
      this.items.length = [];
      this.toAddTransItems = [];
      this.confirmDialog.show = false;
      this.items.splice(0, 0);
    },
    onNoConfirm() {
      this.taxType = this.taxTypeInput;
      this.confirmDialog.show = false;
      this.changeSeriesNo(); 
    },
    showSeriesNo(item) {
      let result = "";
      if(item) {
        if(item.length >= 8) {
          result = this.format(item, "###.###-##.");
        } else if(item.length >=5 && item.length < 8) {
          result = this.format(item, "###-##.");
        } else {
          result = item;
        }
      }
      
      return result;
    },
    changeSeriesNo() {
      if(this.taxType == 0) {
        let data = this.listConfigSeriesNo.filter((v) => v.code == "SERIESNO_BROKERAGE");
        this.prefixSeriesNo = data[0].value;
      } else {
        let data = this.listConfigSeriesNo.filter((v) => v.code == "SERIESNO_NONBROKERAGE");
        this.prefixSeriesNo = data[0].value;
      }
    },
  },
  mounted() {
    var current = new Date();
    this.param.periodYear = current.getFullYear();
    this.param.periodMonth = current.getMonth()+1;
  },
};
</script>

<style scoped>
.itemTable {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  font-size: 1.1rem !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 1.1rem !important;
}
</style>
