<template>
  <v-card flat>
    <isttoolbar title="Finance Claim" dark color="secondary" icon="mdi-finance">
      <v-spacer />

      <!-- <v-dialog v-model="journalDialog" persistent max-width="900">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            class="mx-1"
            min-width="100px"
            v-bind="attrs"
            v-on="on"
            @click="openJournalDialog"
          >
            View Journal
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline blue--text text--darken-4">
            Journal List
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  depressed
                  color="primary"
                  v-show="
                    !editJournal &&
                    !journalLoading &&
                    param.status != 'VOID' &&
                    param.transType == 'CSH'
                  "
                  @click="editJournal = true"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-pen</v-icon>
                </v-btn>
              </template>
              <span>Edit</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  depressed
                  color="primary"
                  @click="journalDialog = false"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </template>
              <span>Close</span>
            </v-tooltip>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="journalItems"
              hide-default-footer
              class="elevation-1"
              :loading="journalLoading"
            >
              <template v-slot:item.coa="{ item }">
                <v-autocomplete
                  v-if="
                    editJournal &&
                    item.editable &&
                    item.coa != param.bankReceivedCode
                  "
                  v-model="item.coa"
                  single-line
                  :loading="search.coa.loading || item.coaLoading"
                  :items="item.coaItems"
                  item-value="coaCode"
                  :item-text="coaTextItem"
                  v-on:change="coaChange(item)"
                  @keyup="coaSearch(item)"
                  :search-input.sync="item.inputCoa"
                  dense
                  outlined
                  hide-details="auto"
                  background-color="white"
                  style="min-width: 150px"
                ></v-autocomplete>
                <span v-else>{{ item.coa }}</span>
              </template>
              <template v-slot:item.amount="{ item }">
                <v-text-field
                  v-if="editJournal && item.editable"
                  v-model="item.amount"
                  single-line
                  label="Amount"
                  dense
                  outlined
                  hide-details="auto"
                  background-color="white"
                  v-money="money"
                  @input="countEqAmount(item)"
                  style="min-width: 150px"
                ></v-text-field>
                <span v-else>{{ item.amount }}</span>
              </template>
              <template v-slot:item.rate="{ item }">
                <v-progress-circular
                  v-if="item.loadRate"
                  indeterminate
                  color="primary"
                ></v-progress-circular>
                <span v-else>{{ currencyFormat(item.rate) }}</span>
              </template>
              <template v-slot:item.eqAmount="{ item }">
                <span>{{ currencyFormat(item.eqAmount) }}</span>
              </template>
              <template v-slot:item.action="{ item }">
                <v-btn
                  v-show="editJournal && item.editable"
                  outlined
                  icon
                  color="primary"
                  @click="removeJournal(item)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </template>
              <template v-slot:body.append>
                <tr v-show="editJournal">
                  <td v-for="header in headers" :key="header.text">
                    <span v-if="header.value == 'rate'" class="title">
                      Total</span
                    >
                    <span v-else-if="header.value == 'eqAmount'" class="title">
                      {{ getTotal("eqAmount") }}</span
                    >
                    <v-btn
                      v-else-if="header.value == 'action'"
                      outlined
                      icon
                      color="primary"
                      @click="addJournal"
                    >
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <div v-if="editJournal">
              <v-btn
                color="primary"
                rounded
                min-width="100"
                depressed
                @click="saveJournal"
                :disabled="saveJournalDisabled"
              >
                Save
              </v-btn>
              <v-btn
                class="ml-2"
                color="primary"
                rounded
                min-width="100"
                depressed
                @click="resetJournal"
              >
                Cancel
              </v-btn>
            </div>
            <v-btn
              v-else
              color="primary"
              rounded
              min-width="100"
              depressed
              @click="journalDialog = false"
            >
              Back
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->

      <editablejournaldialog
        :refNo="this.param.id"
        :editable="param.status != 'VOID'"
        api="/finance/api/financeclaims/creditor/cashreceipt/viewjournal/"
        submitApi="/finance/api/financeclaims/creditor/cashreceipt/modifyjournal"
        :transType="param.transType"
        getListParamName="data"
        paramIdSubmitName="idCashReceipt"
        :bankReceivedCode="param.bankReceivedCode"
        :coaCurrency="param.currency"
        v-on:initCoa="
            overlay = false;
            firstLoad = true;
          "
        :firstGlBankBehaviour="{ same: true, currency: param.currency }"
        editAuth="cash-receipt-claims-creditor-modifyjournal"
      >
        <!-- viewAuth="cash-receipt-claims-creditor-viewjournal" -->
      </editablejournaldialog>

      <v-dialog v-model="voidDialog" persistent max-width="400">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            class="mx-1"
            min-width="100px"
            v-show="
              param.status == 'POSTED' &&
              param.transType == 'CCSH' &&
              !isAlocated
            "
            v-bind="attrs"
            v-on="on"
          >
            Void
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline justify-center">
            Are you sure want to void this Cash Receipt?
          </v-card-title>
          <v-card-text> </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              outlined
              color="primary"
              class="mx-1"
              min-width="100px"
              @click="toVoid"
            >
              Yes
            </v-btn>
            <v-btn
              outlined
              color="primary"
              class="mx-1"
              min-width="100px"
              @click="voidDialog = false"
            >
              No
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            min-height="40"
            text
            v-show="param.status == 'POSTED'"
            @click="toCreditApp"
          >
            <v-icon>mdi-receipt mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Credit Application</span>
      </v-tooltip> -->
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            min-height="40"
            text
            v-show="param.status == 'POSTED'"
            @click="toCreditApp"
          >
            <v-icon>mdi-receipt mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Credit Application</span>
      </v-tooltip>
      <!-- <v-menu
        bottom
        offset-y
        :nudge-width="200"
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-show="param.status != 'VOID'"
            min-height="40"
            v-bind="attrs"
            v-on="on"
            text
          >
            <v-icon>mdi-printer mdi-36px</v-icon>
          </v-btn>
        </template>
        <v-card width="480px">
          <v-row>
            <v-col cols="12" class="colorLine pa-0">
              <v-row align="center" class="ml-2 mr-4 mt-2">
                <v-col cols="5" class="pa-0">
                  <span class="title ml-5">Original Receipt</span>
                </v-col>
                <v-col cols="2" class="pa-0">
                  <v-btn outlined color="primary" @click="viewFile(null)"
                    >Preview</v-btn
                  >
                </v-col>
                <v-col cols="5" class="pa-0">
                  <v-select
                    :items="dataGenerate"
                    solo
                    flat
                    dense
                    outlined
                    class="mr-3 ml-5"
                    color="primary"
                    full-width
                    hide-details="auto"
                    v-model="generateData"
                    return-object
                    item-text="name"
                    name="originalReceipt"
                    ref="originalReceipt"
                  ></v-select>
                </v-col>
              </v-row>
              <v-row align="center" class="ml-2 mr-4 mt-2 mb-2">
                <v-col cols="5" class="pa-0">
                  <span class="title ml-5">Original Receipt Copy</span>
                </v-col>
                <v-col cols="2" class="pa-0">
                  <v-btn outlined color="primary" @click="viewFile('copy')"
                    >Preview</v-btn
                  >
                </v-col>
                <v-col cols="5" class="pa-0">
                  <v-select
                    :items="dataGenerate"
                    solo
                    flat
                    dense
                    outlined
                    class="mr-3 ml-5"
                    color="primary"
                    full-width
                    hide-details="auto"
                    v-model="generateCopy"
                    return-object
                    item-text="name"
                    name="receiptCopy"
                    ref="receiptCopy"
                  ></v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </v-menu> -->

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <printaction
            v-if="param.status != 'VOID'"
            v-bind="attrs"
            v-on="on"
            :items="printItems"
            :id="param.receiptNo"
            status=""
            :customer="param.customerName"
            idParam="id"
            base64Key="data.base64"
          >
          </printaction>
        </template>
        <span>Print</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" min-height="40" @click="toList" text>
            <v-icon>mdi-window-close mdi-36px</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
    </isttoolbar>
    <isttoolbar
      :title="
        disableForm
          ? 'View Cash Receipt Claim Creditor'
          : 'Edit Cash Receipt Claim Creditor'
      "
      dark
      color="primary"
      class="mb-2"
    ></isttoolbar>
    <v-form :readonly="disableForm">
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Transaction Date</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.transDate"
            ref="transDate"
            name="transDate"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Status </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.status"
            ref="status"
            name="status"
            persistent-hint
            readonly
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Cash Receipt No </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            label="{Auto Generated}"
            ref="receiptNo"
            name="receiptNo"
            class="ma-0"
            v-model="param.receiptNo"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Customer Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-radio-group
            v-model="param.custType"
            row
            hide-details="auto"
            class="ma-0"
            dense
          >
            <v-radio
              label="Client"
              value="CLIENT"
              :disabled="param.custType == 'ADJUSTER'"
            ></v-radio>
            <v-radio
              label="Adjuster"
              value="ADJUSTER"
              :disabled="param.custType == 'CLIENT'"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="customer"
            name="customer"
            class="ma-0"
            v-model="param.customer"
            flat
            outlined
            dense
            solo
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <!-- <v-row v-show="param.custType == 'client'" align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            
            v-model="param.client"
            ref="client"
            name="client"
            @keyup="autocompSearch(search.client)"
            :search-input.sync="search.client.input"
            :items="search.client.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.client.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row v-show="param.custType == 'agent'" align="center" class="mx-2">
        <v-col cols="2" class="pa-1"> </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            
            v-model="param.agent"
            ref="agent"
            name="agent"
            @keyup="autocompSearch(search.agent)"
            :search-input.sync="search.agent.input"
            :items="search.agent.items"
            item-value="id"
            item-text="codeAndName"
            :loading="search.agent.loading"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete>
        </v-col>
      </v-row> -->
      <!-- <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Currency <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            :item-text="currencyTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row> -->
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Transaction Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.transType"
            ref="transType"
            name="transType"
            :items="search.transType.items"
            :loading="search.transType.loading"
            item-value="code"
            :item-text="transTypeTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Received Type <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.receivedType"
            ref="receivedType"
            name="receivedType"
            :items="search.receivedType.items"
            :loading="search.receivedType.loading"
            item-value="code"
            item-text="value"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Bank Source </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.bankSource"
            ref="bankSource"
            name="bankSource"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
          <!-- <v-autocomplete
            hide-details="auto"
            
            v-model="param.bankSource"
            ref="bankSource"
            name="bankSource"
            :items="search.bankSource.items"
            :loading="search.bankSource.loading"
            item-value="bankCode"
            :item-text="bankSourceTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete> -->
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Reference</span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.reference"
            ref="reference"
            name="reference"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Reference Date <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.refDate.date"
            ref="refDate"
            name="refDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
          <!-- <v-menu
            v-model="param.refDate.menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="param.refDate.date"
                ref="refDate"
                name="refDate"
                
                persistent-hint
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details="auto"
                flat
                outlined
                dense
                solo
              >
                <v-btn
                  slot="append"
                  @click="param.refDate.menu = !param.refDate.menu"
                  text
                  icon
                >
                  <v-icon>mdi-calendar</v-icon>
                </v-btn>
              </v-text-field>
            </template>
            <v-date-picker
              v-model="param.refDate.date"
              no-title
              @input="param.refDate.menu = false"
            ></v-date-picker>
          </v-menu> -->
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Description <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-textarea
            hide-details="auto"
            ref="desc"
            name="desc"
            class="ma-0"
            v-model="param.desc"
            :rows="4"
            flat
            outlined
            dense
            solo
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title"> Amount <span class="error--text">*</span></span>
        </v-col>
        <v-col cols="1" class="pa-1">
          <v-autocomplete
            hide-details="auto"
            v-model="param.currency"
            ref="currency"
            name="currency"
            :items="search.currency.items"
            :loading="search.currency.loading"
            item-value="code"
            item-text="code"
            class="ma-0"
            flat
            outlined
            dense
            solo
            :append-icon="disableForm ? '' : 'mdi-menu-down'"
          ></v-autocomplete>
        </v-col>
        <v-col cols="3" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="amount"
            name="amount"
            class="ma-0"
            v-model="param.amount"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-10">
          <span class="title"> Balance </span>
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="balance"
            name="balance"
            class="ma-0"
            v-model="param.balance"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Exchange Rate <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            hide-details="auto"
            ref="excRate"
            name="excRate"
            class="ma-0"
            v-model="param.excRate"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">
            Bank Received <span class="error--text">*</span></span
          >
        </v-col>
        <v-col cols="4" class="pa-1">
          <v-text-field
            v-model="param.bankReceived"
            ref="bankReceived"
            name="bankReceived"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
          <!-- <v-autocomplete
            hide-details="auto"
            
            v-model="param.bankReceived"
            ref="bankReceived"
            name="bankReceived"
            :items="search.bankReceived.items"
            :loading="search.bankReceived.loading"
            item-value="code"
            :item-text="coaTextItem"
            class="ma-0"
            flat
            outlined
            dense
            solo
          ></v-autocomplete> -->
        </v-col>
      </v-row>

      <br />
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Entry By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryName"
            ref="entryName"
            name="entryName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.entryDate"
            ref="entryDate"
            name="entryDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1 pl-5">
          <span class="title">Void By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.voidName"
            ref="voidName"
            name="voidName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.voidDate"
            ref="voidDate"
            name="voidDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
            readonly
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-2">
        <v-col cols="2" class="pa-1">
          <span class="title">Posting By</span>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.postName"
            ref="postName"
            name="postName"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
        <v-col cols="2" class="pa-1">
          <v-text-field
            v-model="param.postDate"
            ref="postDate"
            name="postDate"
            persistent-hint
            hide-details="auto"
            flat
            outlined
            dense
            solo
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="statusConfirm" persistent max-width="290">
        <v-card>
          <v-card-title class="text-center" style="word-break: inherit"
            >Are you sure you want to change the status to
            {{ param.statusDesc }}?</v-card-title
          >
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              @click="
                statusConfirm = false;
                doEdit();
              "
              outlined
              >Yes</v-btn
            >
            <v-btn
              color="red"
              min-width="100px"
              @click="statusConfirm = false"
              outlined
              >No</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog.show" persistent max-width="290">
        <v-card v-show="!dialog.success && !dialog.error">
          <v-card-title>
            <v-progress-linear
              indeterminate
              color="primary"
            ></v-progress-linear>
          </v-card-title>
        </v-card>
        <v-card v-show="dialog.success || dialog.error">
          <v-card-title
            v-if="dialog.success"
            class="justify-center"
            style="word-break: inherit"
            >Your Data has been Saved</v-card-title
          >
          <v-card-title
            v-else-if="dialog.error"
            class="justify-center"
            style="word-break: inherit"
            >Your Data Failed to Process</v-card-title
          >
          <v-card-text
            v-if="dialog.error"
            class="d-flex justify-center error--text"
            style="word-break: inherit"
          >
            {{ dialog.errorMessage }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="primary"
              min-width="100px"
              outlined
              @click="dialog.success ? onSuccess() : (dialog.show = false)"
              >OK</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import isttoolbar from "@/components/toolbars/ISTtoolbar";
import API from "@/core/api/api.js";
import axios from "axios";
import { VMoney } from "v-money";
import editablejournaldialog from "@/components/dialog/editableJournalDialog";
import printaction from "@/components/toolbars/printAction";

export default {
  components: {
    isttoolbar,
    editablejournaldialog,
    printaction,
  },
  directives: { money: VMoney },
  props: {
    source: String,
  },

  upload() {
    return {
      selectedFile: "",
      selectName: null,
    };
  },

  data: () => ({
    money: {
      decimal: ".",
      thousands: ",",
      prefix: "",
      suffix: "",
      precision: 2,
      masked: false,
    },
    param: {
      transDate: `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`,
      status: "",
      statusDesc: "",
      receiptNo: "",
      custType: "CLIENT",
      customer: "",
      customerName: "",
      client: "",
      agent: "",
      adjuster: "",
      currency: "",
      transType: "",
      receivedType: "",
      bankSource: "",
      reference: "",
      refDate: {
        date: new Date().toISOString().substr(0, 10),
        menu: false,
      },
      desc: "",
      bankReceived: "",
      bankReceivedCode: "",
      amount: "",
      balance: "",
      excRate: "",
      entryName: "",
      entryDate: "",
      voidName: "",
      voidDate: "",
      postName: "",
      postDate: "",
      journals: "",
    },
    search: {
      client: {
        input: "",
        items: [],
        url: "/clients/api/account/client?codeOrName.contains=",
        loading: true,
        request: null,
      },
      agent: {
        input: "",
        items: [],
        url: "/clients/api/account/agent?size=-1",
        loading: true,
        request: null,
      },
      adjuster: {
        input: "",
        items: [],
        url: "/clients/api/account/adjuster?size=-1",
        loading: true,
        request: null,
      },
      status: {
        items: [],
        url: "",
        loading: false,
      },
      currency: {
        items: [],
        url: "/config/api/master-currency/",
        loading: true,
      },
      transType: {
        items: [
          { code: "CCSH", value: "Cash Receipt" },
          { code: "CREV", value: "Reversal Cash" },
        ],
        url: "",
        loading: false,
      },
      receivedType: {
        items: [],
        url: "/config/api/master-parameter/?module.equals=RECEIVED_TYPE&sort=code,asc,ignoreCase",
        loading: true,
      },
      bankSource: {
        items: [],
        url: "/config/api/master-mbank/",
        loading: true,
      },
      bankReceived: {
        items: [],
        url: "/config/api/master-akuncoa/?coaType.equals=1",
        loading: true,
      },
      coa: {
        items: [],
        url: "/config/api/master-akuncoa/?isActive.equals=1",
        loading: true,
        "item-value": "coaCode",
      },
      type: {
        items: [],
        url: "",
        loading: false,
      },
    },
    headers: [
      {
        text: "Journal No",
        align: "start",
        sortable: false,
        value: "jnlrefno",
        add: "",
        rules: [],
      },
      {
        text: "Seq No",
        align: "start",
        sortable: false,
        value: "no",
        add: "",
        rules: [],
      },
      {
        text: "GL Acct",
        sortable: false,
        value: "coa",
        add: "",
        rules: [],
        component: "select",
      },
      {
        text: "Description",
        sortable: false,
        value: "description",
        add: "",
        rules: [],
      },
      {
        text: "Currency",
        sortable: false,
        value: "currency",
        add: "",
        rules: [],
      },
      // {
      //   text: "Type",
      //   sortable: false,
      //   value: "type",
      //   add: "",
      //   rules: [],
      //   component: "select",
      // },
      { text: "Amount", sortable: false, value: "amount", add: "", rules: [] },
      {
        text: "Exchange Rate",
        sortable: false,
        value: "rate",
        add: "",
        rules: [],
      },
      {
        text: "Equiv Amount",
        sortable: false,
        value: "eqAmount",
        add: "",
        rules: [],
      },
      { text: "", sortable: false, value: "action", add: "" },
    ],
    journalItems: [],
    formHasErrors: false,
    rules: {
      required: (value) => !!value || "Required.",
      requiredArray: (value) => value.length > 0 || "Required.",
    },
    generateData: {
      id: 0,
      name: "Generate PDF",
    },
    generateCopy: {
      id: 0,
      name: "Generate PDF",
    },
    dataGenerate: [
      {
        id: 0,
        name: "Generate PDF",
      },
      {
        id: 1,
        name: "Generate DOC",
      },
    ],
    dialog: { show: false, success: false, error: false, errorMessage: "" },
    disableForm: false,
    statusConfirm: false,
    editJournal: false,
    overlay: true,
    journalDialog: false,
    saveJournalDisabled: false,
    isAlocated: false,
    journalLoading: false,
    voidDialog: false,
    printItems: [
      {
        // code: "client",
        text: "Original Receipt",
        name: "Cash Receipt Original Receipt",
        url: "/finance/api/financeclaims/creditor/cashreceipt/generate",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
      {
        // code: "copy",
        text: "Original Receipt Copy",
        name: "Cash Receipt Original Receipt Copy",
        url: "/finance/api/financeclaims/creditor/cashreceipt/generate-copy",
        loading: { preview: false, generate: false },
        val: 0,
        showOnStatus: [""],
      },
    ],
    firstLoad: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    form() {
      return {
        currency: this.param.currency,
        transType: this.param.transType,
        receivedType: this.param.receivedType,
        bankSource: this.param.bankSource,
        reference: this.param.reference,
        refDate: this.param.refDate.date,
        bankReceived: this.param.bankReceived,
        amount: this.param.amount,
        excRate: this.param.excRate,
      };
    },
  },

  watch: {
    // "param.status": {
    //   handler: function (after, before) {
    //     console.log("before", before);
    //     let status = this.search.status.items.filter(
    //       (value) => value.code == after
    //     );
    //     if (status.length > 0) {
    //       this.param.statusDesc = status[0].value;
    //     }
    //   },
    //   deep: true,
    // },
    generateData: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("receipt", "docx");
        } else {
          this.viewFile("receipt", "pdf");
        }
      },
    },
    generateCopy: {
      handler: function (after) {
        if (after.id == 1) {
          this.viewFile("copy", "docx");
        } else {
          this.viewFile("copy", "pdf");
        }
      },
    },
  },

  created() {
    if (this.$route.query.mode && this.$route.query.mode == "d") {
      this.disableForm = true;
    }
    if (this.$route.query.id) {
      let id = this.$route.query.id;
      this.getItemData(id);
    }
  },

  methods: {
    async getItemData(id) {
      // let checkToken = JSON.parse(localStorage.getItem("checkToken"));
      // this.param.entryName = checkToken.fullname;

      this.param.id = id;
      await API.get(
        "/finance/api/financeclaims/creditor/cashreceipt/" + this.param.id
      ).then((resp) => {
        let dataResp = resp.data.data;

        let bankSrc = dataResp.bankSrc == null ? "" : dataResp.bankSrc;
        bankSrc = bankSrc.concat(
          dataResp.bankSrc == null || dataResp.bankSrcName == null ? "" : " - "
        );
        bankSrc = bankSrc.concat(
          dataResp.bankSrcName == null ? "" : dataResp.bankSrcName
        );

        this.param.receiptNo = dataResp.cashReceiptNo;
        this.param.transDate = dataResp.tranDate;
        this.param.status = dataResp.status;
        this.param.custType = dataResp.customerType;
        this.param.customer =
          dataResp.customerCode + " - " + dataResp.customerName;
        this.param.customerName = dataResp.customerName;
        this.param.currency = dataResp.currency;
        this.param.transType = dataResp.transationType;
        this.param.receivedType = dataResp.receivedType;
        this.param.bankSource = bankSrc;
        this.param.reference = dataResp.reference;
        this.param.refDate.date = dataResp.referenceDate;
        this.param.desc = dataResp.description;
        this.param.bankReceived =
          dataResp.bankReceived + " - " + dataResp.bankDestName;
        this.param.bankReceivedCode = dataResp.bankReceived;
        this.param.amount = //this.currencyFormat(dataResp.amount);
          dataResp.transationType == "CCSH" && dataResp.amount > 0 
            ? this.currencyFormat(dataResp.amount * -1)
            : this.currencyFormat(dataResp.amount);
        this.param.balance = this.currencyFormat(dataResp.balance);
        this.param.excRate = this.currencyFormat(dataResp.exchangeRate);
        this.param.entryName = dataResp.entryBy;
        this.param.entryDate = dataResp.entryDate;
        this.param.postName = dataResp.approvedBy;
        this.param.postDate = dataResp.approvedDate;
        this.param.voidName = dataResp.voidBy;
        this.param.voidDate = dataResp.voidDate;
        this.isAlocated =
          Math.abs(dataResp.amount) != Math.abs(dataResp.balance);
      });
      await this.initList(["currency", "receivedType", "coa"]);
      if(this.firstLoad) {
        this.overlay = false;
      }
    },
    async getJournals(id) {
      this.journalLoading = true;
      let resp = await API.get(
        "/finance/api/financeclaims/creditor/cashreceipt/viewjournal/" + id
      );
      console.log("journal resp", resp);
      let dataResp = resp.data;
      if (resp.data.code == 0) {
        this.setJournals(dataResp.listJournalEntry);
      } else {
        this.param.journals = [];
      }
      this.journalLoading = false;
    },
    setJournals(list) {
      let vm = this;
      this.param.journals = list
        ? list.map(function (row, i) {
            let seqNo = i + 1;
            let amount = vm.currencyFormat(row.amount);
            return {
              no: seqNo,
              coa: row.coaCode,
              currency: row.currency,
              amount: amount,
              rate: row.exchgrate,
              eqAmount: row.amountEq,
              // baru
              jnlrefno: row.jnlrefno,
              tie: row.tie,
              entrydate: row.entrydate,
              coaName: row.coaName,
              trancode: row.trancode,
              tranRefId: row.tranRefId,
              description: row.description,
              editable: row.editable,
            };
          })
        : [];
    },
    back() {
      if (
        this.$route.query.mode &&
        this.$route.query.mode == "d" &&
        !this.disableForm
      ) {
        this.disableForm = true;
      } else {
        this.toList();
      }
    },
    toList() {
      this.$router.replace({ name: "cash-receipt-claims-creditor-list", query: {back: true}, });
    },
    async save() {
      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) {
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        if (
          this.param.status != this.param.statusInit &&
          ["2", "3"].indexOf(this.param.status) != -1
        ) {
          this.statusConfirm = true;
        } else {
          await this.doEdit();
        }
      } else {
        this.formHasErrors = false;
      }
    },
    onSuccess() {
      if (this.dialog.mode == "void") {
        this.overlay = true;
        this.getItemData(this.param.receiptNo);
      }

      this.dialog.show = false;
      this.dialog.success = false;
      this.dialog.error = false;
    },
    // to void
    async toVoid() {
      // this.dialog.success = false;
      // this.dialog.error = false;
      // this.dialog.show = true;
      // let paramJSON = {
      //   cashReceiptData: {
      //     cashReceiptNo: this.param.receiptNo,
      //   },
      // };
      // let param = JSON.stringify(paramJSON);
      // API.post("/finance/api/finance/cashreceipt/void", param)
      //   .then((resp) => {
      //     console.log(resp);
      //     if (resp.data.code == 0) {
      //       this.dialog["mode"] = "void";
      //       this.dialog.success = true;
      //     } else {
      //       this.dialog.error = true;
      //       this.dialog.errorMessage =
      //         resp.data.errorMessage.length > 0
      //           ? resp.data.errorMessage.toUpperCase()
      //           : resp.data.errordescription.toUpperCase();
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //     this.dialog.error = true;
      //   });
      this.$router.replace({
        name: "cash-receipt-claims-creditor-add",
        query: { id: this.param.receiptNo, mode: "v" },
      });
    },

    async toCreditApp() {
      this.$router.replace({
        name: "claims-creditor-credit-application-add",
        query: { id: this.param.receiptNo, mode: "p" },
      });
    },

    initList(list) {
      for (let l of list) {
        API.get(this.search[l].url)
          .then((resp) => {
            if (resp.data.code == 0 && resp.data.data.length > 0) {
              this.search[l].items = resp.data.data;
            } else {
              this.search[l].items = [];
            }
            this.search[l].loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.search[l].loading = false;
          });
      }
    },
    coaSearch(item) {
      if (item.request) item.request.cancel();
      const axiosSource = axios.CancelToken.source();
      item.request = { cancel: axiosSource.cancel, msg: "Loading..." };
      setTimeout(() => this.sends(item, axiosSource), 500);
    },
    async sends(item, axiosSource) {
      item.coaLoading = true;
      let param = { "isActive.equals": 1, "coaName.contains": item.inputCoa };
      API.get(
        "/config/api/master-akuncoa/",
        param,
        null,
        axiosSource.token
      ).then((resp) => {
        if (resp.data.code == 0 && resp.data.data.length > 0) {
          item.coaItems = resp.data.data;
        } else {
          item.coaItems = [];
        }
        item.coaLoading = false;
      });
      item.request = null;
    },
    statusOnChange() {
      this.param.progress = "";
      if (this.param.status == "2") {
        this.param.progress = "6";
      } else if (this.param.status == "3") {
        this.param.progress = "5";
      }
    },
    currencyToFloat(item) {
      let amount = item.replace(/,/g, "");
      return parseFloat(amount);
    },
    isDataExist(value, items) {
      let isExist = false;
      for (let i of items) {
        if (i.id == parseFloat(value)) {
          isExist = true;
        }
      }
      console.log("isExist", isExist);
      return isExist;
    },

    viewFile(type = null, format = null) {
      this.dialog.success = false;
      this.dialog.error = false;
      this.dialog.show = true;

      let docUrl = "finance/api/finance/cashreceipt/generate";
      if (type == "copy") {
        docUrl = "finance/api/finance/cashreceipt/generate-copy";
      }
      let paramJSON = {
        id: this.param.receiptNo,
        fileType: format,
      };
      let param = JSON.stringify(paramJSON);
      API.post(docUrl, param).then((resp) => {
        if (resp.data.code === 0) {
          if (format != null) {
            this.saveFile(resp.data.base64, format);
          } else {
            this.previewFile(resp.data.base64);
          }
          this.overlay = false;
          this.dialog.show = false;
        } else {
          this.errorDescription = resp.data.errorMessage;
          this.dialog.error = true;
        }
      });
    },
    previewFile(base64EncodedPDF) {
      var byteCharacters = atob(base64EncodedPDF);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var file = new Blob([byteArray], { type: "application/pdf;base64" });
      var fileURL = URL.createObjectURL(file);
      window.open(fileURL);
    },
    saveFile(base64, format) {
      var binaryString = window.atob(base64);
      var binaryLen = binaryString.length;
      var bytes = new Uint8Array(binaryLen);
      for (var i = 0; i < binaryLen; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }
      const downloadUrl = window.URL.createObjectURL(new Blob([bytes]));
      const link = document.createElement("a");
      link.href = downloadUrl;
      link.setAttribute(
        "download",
        "Cash Receipt Claim Creditor" +
          this.param.receiptNo +
          // " " +
          // this.param.version +
          // "-" +
          // this.param.riskCode +
          " - " +
          this.param.customerName +
          // " " +
          // this.currentTime +
          "." +
          format
      ); //any other extension
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    addJournal() {
      let lastJournal = this.journalItems[this.journalItems.length - 1];
      if (lastJournal == undefined) {
        lastJournal = {};
        for (let header of this.headers) {
          header.rules = [];
          lastJournal[header.value] = "";
        }
        lastJournal.no = 0;
      }
      let journal = {
        jnlrefno: lastJournal.jnlrefno,
        entrydate: new Date().toISOString().substr(0, 10),
        trancode: this.param.transType,
        tranRefId: this.param.receiptNo,
        editable: true,
      };
      for (let header of this.headers) {
        header.rules = [];
        journal[header.value] = "";
      }
      journal.jnlrefno = lastJournal.jnlrefno;
      journal.coaItems = this.search.coa.items;

      journal.no = lastJournal.no + 1;
      this.journalItems.push(journal);
      this.saveJournalDisabled = true;
    },
    removeJournal(item) {
      var index = "";
      for (var i = 0; i < this.journalItems.length; i++) {
        if (this.journalItems[i] == item) {
          index = i;
        }
      }
      if (String(index).length > 0) {
        this.journalItems.splice(index, 1);
      }
      this.validateJournal();
    },
    getTotal(data) {
      let total = 0;
      for (let key of this.journalItems) {
        total = total + key[data];
      }
      return this.currencyFormat(total);
    },
    currencyFormat(data) {
      let amount = String(data).replace(/\*|,/gi, "");
      let float = parseFloat(amount);
      let toFixed = float.toFixed(2);
      let splitted = toFixed.split(".");
      let number = Number(splitted[0]);
      let toLocaleString = number.toLocaleString();
      splitted[0] = toLocaleString;
      return toLocaleString == "NaN" ? "" : splitted.join(".");
    },
    async coaChange(val) {
      let coaItem = this.search.coa.items.filter(
        (value) => value.coaCode == val.coa
      );
      val.currency = coaItem[0].currency;
      val.description = coaItem[0].description;

      val["loadRate"] = true;
      let param = {
        currencyExchangeRate: {
          currencyFrom: val.currency,
        },
      };
      let resp = await API.post(
        "/config/api/master-currency-exchangerate/effective-rate",
        param
      );
      let currentRate = 1;
      if (resp.data.code == 0) {
        currentRate = resp.data.data.rateDefault;
      }
      val.rate = "";
      val.rate = currentRate;
      val.loadRate = false;

      this.countEqAmount(val);
    },
    resetJournal() {
      let vm = this;
      this.journalItems = JSON.parse(JSON.stringify(this.param.journals));
      this.journalItems = this.journalItems.map(function (row) {
        row["coaItems"] = vm.search.coa.items;
        return row;
      });
      this.editJournal = false;
      this.saveJournalDisabled = false;
    },
    countEqAmount(item) {
      let amount = this.currencyToFloat(item.amount);
      let rate = item.rate;
      item.eqAmount = amount * rate;

      this.validateJournal();
    },
    async saveJournal() {
      this.dialog.error = this.dialog.success = false;
      this.dialog.show = true;
      let vm = this;
      let paramJSON = {
        idCashReceipt: this.param.receiptNo,
        listJournalEntry: this.journalItems.map(function (row) {
          let coaItem = vm.search.coa.items.filter(
            (value) => value.coaCode == row.coa
          );
          return {
            jnlrefno: row.jnlrefno,
            tie: row.no,
            entrydate: row.entrydate,
            coaCode: row.coa,
            coaName: row.coaName == null ? coaItem.coaName : row.coaName,
            currency: row.currency,
            exchgrate: row.rate,
            amount: vm.currencyToFloat(row.amount),
            amountEq: row.eqAmount,
            trancode: row.trancode,
            tranRefId: row.tranRefId,
            description:
              row.description == null ? coaItem.description : row.description,
          };
        }),
      };

      let param = JSON.stringify(paramJSON);
      await API.post(
        "/finance/api/financeclaims/creditor/cashreceipt/modifyjournal",
        param
      )
        .then((resp) => {
          console.log(resp);
          if (resp.data.code == 0) {
            this.dialog["mode"] = "journal";
            this.dialog.success = true;
            this.setJournals(resp.data.listJournalEntry);
          } else {
            this.dialog.error = true;
            this.dialog.errorMessage =
              resp.data.errorMessage.length > 0
                ? resp.data.errorMessage.toUpperCase()
                : resp.data.errordescription.toUpperCase();
          }
        })
        .catch((error) => {
          console.log(error);
          this.dialog.error = true;
          this.param.journals = this.journalItems;
        });

      this.resetJournal();
    },
    validateJournal() {
      // panggil ketika memodif journal
      let valid = true;
      let vm = this;
      let notValidJournal = this.journalItems.filter(
        (value) => value.coa == "" || vm.currencyToFloat(value.amount) == 0
      );
      if (notValidJournal.length > 0) {
        valid = false;
      } else if (this.currencyToFloat(this.getTotal("eqAmount")) != 0) {
        valid = false;
      }

      this.saveJournalDisabled = !valid;
    },
    async openJournalDialog() {
      this.journalItems = [];
      this.editJournal = false;
      await this.getJournals(this.param.id);
      this.resetJournal();
    },

    bankSourceTextItem: (item) => item.bankCode + " - " + item.bankName,
    coaTextItem: (item) => item.coaCode + " - " + item.coaName,
    transTypeTextItem: (item) => item.code + " - " + item.value,
    currencyTextItem: (item) => item.code + " - " + item.value,
  },
};
</script>
